[2018-08-29 05:13] iSazonov commented on #7640
Experience with Get-ComputerInfo shows that it is not so easy considering the difference between platforms.

[2018-08-29 05:28] iSazonov commented on #621
@andschwa  Did you look #3674?

[2018-08-29 06:29] iSazonov commented on #7233
I hope @JamesWTruher could comment. I think he considered this in time writing and implementing  Encoding RFC.

[2018-08-29 06:55] vinodc commented on #7567
@iSazonov This does work fine on the PowerShell that comes with Windows Server 2016, but I haven't had a chance to test with the specific version I used on Linux. Is that necessary for this issue to be resolved?

[2018-08-29 07:29] iSazonov commented on #7567
@vinodc It could help to understand that the Issue is Linux only or not.

[2018-08-29 11:13] rathirad commented on #7638
@iSazonov - Do you have any update for me.

[2018-08-29 11:56] SeeminglyScience commented on #7651
I think part of the problem is there's no conversion path for `T` to `IEnumerable<T>`.  I've had similar issues inheriting classes with abstract methods that return an `IEnumerable<>`.

A shorter repro is that this doesn't work:

[code]

But this does

[code]

In classes the workaround is to force the return value to something already inheriting `IEnumerable<>` like above, but that doesn't seem to

[2018-08-29 12:36] iSazonov commented on #7638
@rathirad The repo is only for PowerShell Core. For Windows PowerShell please report to UserVoice site.

[2018-08-29 12:54] rathirad commented on #7638
@iSazonov - Could you please confirm if I need to post this request at https://windowsserver.uservoice.com/forums/301869-powershell

[2018-08-29 12:57] iSazonov commented on #7638
@rathirad Yes.

[2018-08-29 13:26] iSazonov commented on #2350
Currently we removed all external modules from the repo and as @SteveL-MSFT said all standard modules is installed without version folder to support servicing by WU.
So I close the Issue.

[2018-08-29 13:26] #2350 closed

[2018-08-29 13:40] iSazonov commented on #2615
I close the old Issue. If problem still exists it should be tracked in PowerShellGet repo.

[2018-08-29 13:40] #2615 closed

[2018-08-29 13:44] iSazonov commented on #2636
@joeyaiello @SteveL-MSFT Seems we resolved the Issue in 6.1.0. Can we close?

[2018-08-29 13:59] iSazonov commented on #2670
Implemented in #7242

[2018-08-29 13:59] #2670 closed

[2018-08-29 14:00] deadlydog commented on #7654
@datenschieber I saw #2505 as well, but it is a different issue.

#2505 is about how using `Import-Module -Force` does not also reload submodules referenced by the specified module, so they are considering adding a `-Recurse` parameter as a way to to ensure that submodules get reloaded as well.

This issue is that `using module` does not reload the specified module. It would be a good idea though

[2018-08-29 14:04] iSazonov commented on #2741
@vors Can we close the old issue?

[2018-08-29 14:08] iSazonov commented on #2809
I close the old issue. Feel free to reopen if the issue exists in latest Linux Docker containers.

[2018-08-29 14:08] #2809 closed

[2018-08-29 14:28] #2941 closed

[2018-08-29 14:36] iSazonov commented on #2943
There is many ways to detect docker container
https://stackoverflow.com/questions/43002803/detect-if-process-executes-inside-a-windows-container
https://stackoverflow.com/questions/20010199/how-to-determine-if-a-process-runs-inside-lxc-docker

I close the issue until we decide to do the detection inside PowerShell Core.

[2018-08-29 14:36] #2943 closed

[2018-08-29 14:42] iSazonov commented on #2944
@vors Is the issue still actual?

[2018-08-29 14:43] #2947 closed

[2018-08-29 14:45] iSazonov commented on #2948
@pcgeek86 Could you please update a status of the issue with latest builds?

[2018-08-29 14:48] iSazonov commented on #2959
@juneb Could you please update a status of the isssue with latest builds?

[2018-08-29 14:51] iSazonov commented on #2978
@TravisEz13 Should we move the issue in DSC repo and close?

[2018-08-29 14:52] #2999 closed

[2018-08-29 14:58] iSazonov commented on #3087
Is the issue still needed? /cc @SteveL-MSFT @TravisEz13

[2018-08-29 14:59] #3030 closed

[2018-08-29 15:11] iSazonov commented on #3117
Implemented https://dotnetnew.azurewebsites.net/template/Microsoft.PowerShell.Standard.Module.Template/Microsoft.PowerShell.Standard.Module.Template

[2018-08-29 15:11] #3117 closed

[2018-08-29 15:20] iSazonov commented on #3128
@SteveL-MSFT Could you ping anybody to get understanding is the regression or not?

[2018-08-29 15:21] #3162 closed

[2018-08-29 15:21] rathirad commented on #7638
@iSazonov - Thank you. I have posted the request at -
 https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/35242300-the-vsts-deploy-task-azure-powershell-and-build-ta

[2018-08-29 15:22] #3164 closed

[2018-08-29 15:27] iSazonov commented on #2861
Related #3172.

[2018-08-29 15:28] iSazonov commented on #3182
@markcowl Could you please look current status the Issue?

[2018-08-29 15:29] iSazonov commented on #3181
@markekraus Could you please look current status the Issue?

[2018-08-29 15:33] iSazonov commented on #3187
Currently we use latest Pester version which support many new features including `Should -Be -Throw`. Also we convert all our tests to use new Pester 4.0 syntax.

[2018-08-29 15:33] #3187 closed

[2018-08-29 15:35] #7638 closed

[2018-08-29 15:42] iSazonov commented on #3236
If MSFT team migrate tests to VS Team Services the issue must be taken into account.
/cc @TravisEz13

[2018-08-29 15:44] #3238 closed

[2018-08-29 16:10] kvprasoon commented on #7647
My observation.

![image](https://user-images.githubusercontent.com/12897753/44800505-2a8b7880-abd4-11e8-9b77-5fc1101cff1b.png)

[2018-08-29 16:54] TravisEz13 commented on #2948
`alt+back arrow` and `alt+ forward arrow` works for me in iTerm 2, in both the preview and the `6.0.4`

[2018-08-29 16:58] TravisEz13 commented on #3236
@iSazonov  Why is the Migration to VSTS relevant here?

[2018-08-29 17:03] TravisEz13 commented on #2978
DSC is Windows PowerShell and should be reported via User Voice per the issue template.

[2018-08-29 17:08] TravisEz13 commented on #7637
`latest`, `preview` and `nanoserver` tags which are manifest list will be updated and the associated tags pulled over to docker hub for now.  I'll give your feedback to the MCR team.

[2018-08-29 17:28] hook-s3c commented on #5574
Months later still not resolved.

[2018-08-29 17:33] TravisEz13 commented on #5574
@hook-s3c If you are having an issue, please report it.  The solution to this issue has been given in this comment: https://github.com/PowerShell/PowerShell/issues/5574#issuecomment-349478465

I'm closing this issue to encourage people to give complete issues reports that we can investigate.

[2018-08-29 17:33] #5574 closed

[2018-08-29 17:35] iSazonov commented on #3236
@TravisEz13 I hope we'll can able to get VMs with full set platforms and versions (including IoT, Core, Server ...) and to implement remoting tests.

[2018-08-29 17:37] TravisEz13 commented on #3236
Ahh, with VSTS we should be able to test with nanoserver and windowsservercore containers.  Getting VMs would cost money for the times we keep them running.

[2018-08-29 17:38] TravisEz13 commented on #3236
Technically we can do this with AppVeyor, but... it's more complicated.

[2018-08-29 17:39] iSazonov commented on #2978
@J0F3 Please report via User Voice site.

[2018-08-29 17:39] #2978 closed

[2018-08-29 18:06] rotata commented on #7637
Is the questions related to the latest tag on Dockerhub vs what is available on MCR?

[2018-08-29 21:02] SteveL-MSFT commented on #3128
@iSazonov looking at the cmdlet code, it just enables SeSecurityPrivilege and creates new instance of FileSecurity instance with the file path.  I don't see any changes in this in the PowerShell code but .NET could have changed something.

@JoesCrepes can you repro the same thing using [this](http://www.leeholmes.com/blog/2010/09/24/adjusting-token-privileges-in-powershell/) to enable SeSecurityPr

[2018-08-29 21:05] #2636 closed

[2018-08-29 21:15] #6404 closed

[2018-08-29 21:45] ek4 opened #7659 "32-bit linux binaries where"
?

[2018-08-29 21:50] #2881 closed

[2018-08-29 22:01] SteveL-MSFT commented on #7279
@SeeminglyScience sorry, will ping legal again

[2018-08-29 22:11] bitcrazed commented on #5994
We're keen to add more *NIX command-line tools where we can. Bear with ;)

[2018-08-29 23:36] dantraMSFT commented on #4952
@couragecc - the examples you are providing are the opposite of the title of the issue.

The title indicates you're copying from Linux to Windows yet the example appears to be in the opposite direction.

If you are going from Windows to Linux, I strongly recommend you use OpenSSH on both ends.  It completely avoids having to use the OMI server on the target Linux machine and works quite well when

[2018-08-30 00:00] SteveL-MSFT commented on #7279
@SeeminglyScience the recommendation is to attribute in a top level ThirdPartyNotices.txt file

[2018-08-30 00:00] #7279 closed

[2018-08-30 08:51] iSazonov commented on #7659
There are no official 32-bit unix packages.

[2018-08-30 09:55] mikemaccana commented on #7441
Yep agreed. Thinking about it, it's probably better to get the regular Powershell icon (which also doesn't match the Windows style) updated too - remove the shadows, the round edges and focus on shape like Windows 10 icons. @chrisdias who made the vscode icon?

[2018-08-30 10:33] iSazonov commented on #2349
@daxian-dbw I reviewed point one and debug for windows reparse points (symlink and mount point) - this works well and we get ETS Target property for FileSystemInfo objects. So the code with FindFirstFileName (currently disabled) looks unnecessary. I think we could remove it. Do I skip something?

[2018-08-30 11:48] luizgn commented on #7604
@maximoTrinidad, @iSazonov, do you need more information?

[2018-08-30 12:01] ryhayash opened #7664 "Get-WinEvent fails to retrieve an event description with EventLogException"
Description
------------------
Get-WinEvent fails to retrieve the event description for Event 7023 and EventLogException is thrown. But you can see the event correctly with wevtutil and Event Viewer. As far as I checked, this issue happens with RS2 or later and we don’t see the exception on RS1.

Steps to reproduce
------------------
1. Setup Windows 10 RS2 or later.
2. Save attached ‘Sample.evtx”

[2018-08-30 12:02] SeeminglyScience opened #7665 "Generic type definitions should be included in TypeNames for PSObject"
In the same vein as #7649, it would be great if you could assign type data to generic definitions of constructed generic types.

For example, `List<int>` would contain the type names:

[code]

And would allow `Update-TypeData` to target any constructed version of `List<T>`

# Environment data

[code]

[2018-08-30 13:09] iSazonov commented on #7557
@vexx32 Thanks for great investigations!

I have big concerns about underscore support. Cultures define numeric delimiters and applications like Excel use them. If we add numeric delimiter like underscore this can confuse users which will expect culture delimiter. This happens now with the datetime formats.
Second concern is that supporting underscore only in hex and binary again can confuse users

[2018-08-30 13:28] vexx32 commented on #7557
I hear you, underscores are a bit odd, and I don't think any culture-format representations of numbers use them. But I think that's sort of why C# went to that direction; it'll be more or less a constant in the code, and is effectively just a readability helper for longer numerals, not being bound to culture constraints and just being an 'ignored' character in numerals.

The tricky part with binar

[2018-08-30 14:41] iSazonov commented on #7557
C# is only program language. PowerShell is program laguage, applications and interactive console. If we add new input format (underscope? culture delimiter?) users will ask why we don't add output format (underscope? culture delimiter?). _Initially we only consider underscope for script constants but we is still interactive_.

It is not big problem to implement this. We could look Roslyn code.

C#

[2018-08-30 15:02] ek4 commented on #7659
Why no?

[2018-08-30 15:10] vexx32 commented on #7557
Sure, we *could*, but wouldn't it be better to leave that side of things to the .NET Core team to implement? Currently, BigInteger isn't implemented in *any* part of the `Convert` class, having mostly its own methods (it even has its own `Pow` method, because `Math.Pow` doesn't support it).

Hey, if you build it, they will come! I'm sure if we *supported* it, astronomers would become an *integral*

[2018-08-30 15:27] iSazonov commented on #7557
We can open the feature request in CoreFX but I think we will wait very long - Roslyn internal implementation is an example. Also we speak more about _PowerShell feature_ - do PowerShell users want have this or not? I would simply say that we need to cover _all the numerics_.
Again if we already have BigInteger as edge case for some numerics why haven't it for binary?

On the other hand, we do not

[2018-08-30 15:33] vexx32 commented on #2296
If this were to be made xplat, I would imagine it would perhaps be best reimplemented as a PSProvider of sort.

[2018-08-30 15:43] vexx32 commented on #7557
I would *like* to cover it for all the numerics, absolutely. But as mentioned... I need to figure out how they're doing it. I went hunting for the CoreCLR Convert.cs implementations, but the `ToInt64(string, int)` is... not there. I can't find where they're defined. And I'm sure I'm just not familiar with Roslyn's site yet, but I can't seem to find it anywhere there either.

[2018-08-30 16:29] SteveL-MSFT commented on #3087
Currently, I believe we internally retain test logs to compare results for a release.  However, we should really be fixing the tests or product so that all tests pass 100% on every distro so there should be a need to retain this after we get there.

[2018-08-30 16:31] SteveL-MSFT commented on #7578
This issue was brought up internally, would like to see more community feedback to justify further investigation.

[2018-08-30 16:32] SteveL-MSFT commented on #2145
@iSazonov agree

[2018-08-30 16:32] #2145 closed

[2018-08-30 16:34] SteveL-MSFT commented on #1876
Agree

[2018-08-30 16:34] #1876 closed

[2018-08-30 16:53] BrucePay commented on #7665
@SeeminglyScience The concrete generic types are already included in `TypeNames`, but use the raw reflection type name:
[code]
Using the raw name in `TypeNames` is arguably a bug but correcting it would be a breaking change. As a non-breaking alternative,  we could allow the the use of the sanitized name when specifying extensions converting it to the raw name in the type table.

[2018-08-30 17:17] iSazonov commented on #7659
@SteveL-MSFT Could you please answer?

[2018-08-30 17:18] SteveL-MSFT commented on #7616
@mi-hol  I'll update the dashboard to reflect current development.  I think I'll just leave it as 6.x so I don't have to keep updating it for each new release.

@chuanjiao10 we only get what is returned by [System.Runtime.InteropServices.RuntimeInformation]::OSDescription which gives the kernel information and not the distro information.  If someone can point me to a mapping between what `uname` r

[2018-08-30 17:27] SteveL-MSFT commented on #7659
@ek4 we haven't had any requests for x86 built binaries until now.  Unless there is a number of customers asking for 32-bit support, it's a burden to regularly build and test.  For now, we could update our build script to output 32-bit binaries if the packaging/validation can be owned by the community.

[2018-08-30 17:37] SeeminglyScience commented on #7665
@BrucePay I'm asking for the generic *definition* to be added to the list.  For example `List<T>` is the generic definition of `List<object>`.  Not sure if my terminology here is technically correct, just going by the naming of `Type.GetGenericTypeDefinition()`

The example you gave works, but only if you want to target `List<object>` explicitly.  Put more simply I'd like to be able to do somethin

[2018-08-30 17:47] mklement0 commented on #7665
@vexx32: The `` `<n> `` suffix is .NET's notation for indicating a generic type's number of type parameters.

It is required for an _open_ generic type (one whose type parameter(s) have not been bound yet; e.g., ``[System.Collections.Generic.List`1]``), but optional for a _closed_ generic type (a generic type with all its type parameters instantiated with specific types; e.g., both ``[System.Colle

[2018-08-30 17:49] iSazonov commented on #7557
We could convert by UInt64 chunks and then do BigInteger multiple() and add() in cycle.

[2018-08-30 17:51] SteveL-MSFT commented on #7616
I've updated section 5 to not be focused on 6.0.0 release.  Instead, it should automatically show trend for Top 7 milestones (the 6.0.0 should eventually drop off).  Section 7 has new pie chart showing PS version usage.  I'll see about mapping the kernel info to distros, but it probably won't be perfect.

[2018-08-30 17:54] #7632 closed

[2018-08-30 17:55] BrucePay commented on #7651
@SeeminglyScience In this specific case, the code returns a collection, checks to see if it's length 1 then turns it into a scalar. If the cast worked, we'd then take that scalar and turn it back into a collection of 1 element which is not desirable. More generally, you can't cast a scalar to IEnumerable[T] because converting from a scalar to a collection requires creating an instance of the colle

[2018-08-30 17:57] mklement0 commented on #7665
@SeeminglyScience: The term that applies to what you're looking for is _open_ generic type.

I haven't looked too hard, but here's a definition from https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/generics-and-attributes (emphasis added):

[2018-08-30 17:59] BrucePay commented on #7654
@deadlydog Having to change your code and add `-Force -Recurse` everywhere during development then removing it for production sounds unappealing. Having a universal `DevMode` flag seems more manageable.

[2018-08-30 18:02] vexx32 commented on #7557
Hmm. Interesting thought. Currently I'm working with this sort of framework as the 'fallback' (when the lower-order, probably more efficient parse methods fail):

[code]

It seems to work fairly well. I'm not sure whether there's a more efficient method to get the two's complement. I can imagine that that `Pow()` operation on `BigInteger` is probably not incredibly efficient, but I don't really se

[2018-08-30 18:07] pcgeek86 commented on #2948
@TravisEz13 I must have had PSReadline set to `Windows` edit mode, instead of the default.

[2018-08-30 18:07] #2948 closed

[2018-08-30 18:07] BrucePay commented on #7665
@mklement0 @vexx32 The raw form of the typename is what .NET returns when you `ToString()` a type. In PowerShell V1, the native .NET representation is the only form we used. In V2 we added type name sanitization. The `<backtick><number>` in the type name is the generic arity i.e. how many type parameters there are on a given generic type.

[2018-08-30 18:12] iSazonov commented on #7557
Let's wait PowerShell Committee conclusion about that we should implement.

[2018-08-30 19:03] SeeminglyScience commented on #7651
@BrucePay I think the pattern is common enough that it makes sense.  Maybe even the other collection like interfaces `T[]` implements like `IList<T>`, `ICollection<T>`, etc.

I don't think it would be desirable to *always* force the result to be an array (you wouldn't want to cast a LINQ method result unnecessarily) but if the target object is not already of the specified cast type, then forcing t

[2018-08-30 19:15] BrucePay commented on #3240
There's one other operator to possibly consider:
[code]
which would set `$x` if it's not set (doesn't exist). This is part of the "initializer pattern" which is not common in conventional languages but for (dynamically scoped) languages like shells, make tools, etc. it's pretty common to have a script that sets a default if the user hasn't specified it. (Though in fact parameter initializers are p

[2018-08-30 19:37] #6938 closed

[2018-08-30 19:37] #7267 closed

[2018-08-30 19:38] #6855 closed

[2018-08-30 20:08] jherby2k opened #7668 "SDK question / comment regarding Write methods"
using the SDK, I can:

WriteError(new ErrorRecord(…));
WriteInformation(new InformationRecord(…));
WriteProgress(new ProgressRecord(…));

but I can't do that with a DebugRecord or WarningRecord (WriteDebug and WriteWarning only accept a string). Any good reason for this?

[2018-08-30 20:11] jherby2k commented on #7668
Furthermore (and recognizing that backwards compatibility has to be preserved) why aren't these all just Write() overloads?

[2018-08-30 20:38] B-Art commented on #7621
Thanks for all your answers!

[2018-08-30 21:06] SteveL-MSFT commented on #7616
Using a simple pattern if OSDescription contains:
  - Darwin == macOS
  - Windows == Windows
  - freebsd == FreeBSD
  - amzn == Amazon Linux
  - el7 = RHEL7
  - debian == Debian
  - ubuntu == Ubuntu
  - arch == Arch Linux
  - v7+ == Raspbian
  - fc == Fedora
  - ph2-esx == PhotonOS
  - coreos == CoreOS
  - linuxkit == Linux Kit
  - lcow == LCOW
  - linode == LiNode
  - everything else == OtherLinu

[2018-08-30 21:06] #7616 closed

[2018-08-30 21:08] SteveL-MSFT commented on #2875
@Jaykul yes, the longer term goal is to move modules out of PowerShell Core and have them installed via PSGallery.  It would be better to have people use your https://www.powershellgallery.com/packages/Configuration module directly from the gallery

[2018-08-30 21:09] SteveL-MSFT commented on #2875
If the `Configuration` module is sufficient, I would suggest closing this issue and spend our resources on other problems.

[2018-08-30 21:10] SteveL-MSFT commented on #7659
@rkeithhill excellent point!  Looks like https://github.com/dotnet/coreclr/issues/9265 tracks .NET Core support for x86 Linux.  Until then, nothing we can do.

[2018-08-30 21:32] Claustn opened #7669 "Webcmdlets using -InFile parameter locks file"
Currently when you upload a file via Invoke-Restmethod or Invoke-Webrequest and use the -InFile parameter, it puts a lock on the file, so no other process can read it.  It does not set seem to set the `FileShare.Read` flag

(https://github.com/PowerShell/PowerShell/blob/f5a7d79175248e1efae1232732d361f0ef7322a4/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/Common/WebRequestPS

[2018-08-30 21:34] mklement0 commented on #7665
Thanks, @BrucePay; it's what I meant to say with "indicating a generic type's number of type parameters", but it's good to know the official - and more concise - name for it, _generic [arity](https://en.wikipedia.org/wiki/Arity)_.

Are you referring to the option of omitting, e.g.,

*  `` `1 `` from ``[System.Collections.Generic.List`1[int]] (1..10)``
* and not requiring assembly-qualified type na

[2018-08-30 21:34] SeeminglyScience commented on #7665
Just to fully flesh out that yikes, I'd really like the same to be possible with open generic interfaces (bringing your issue into the fold).  So `[System.Collections.Generic.List[string]]::new().PSTypeNames` would be this monstrosity

[code]

I don't know how much of an issue that would end up being, perhaps the solution lies outside of `PSTypeNames`.  To again put it more simply, it would be gre

[2018-08-30 21:56] tommymaynard opened #7670 "Up Arrow Command History Cursor Location (6.1-rc Only)"
This issue is being open in regard to the placement of the cursor when using the up arrow to cycle through previously executed commands in 6.1-rc. In 5.1 and 6.0.4, it works correctly; however, in 6.1-rc it does not.

After any command, when pressing the up arrow, the cursor is placed at the beginning of the command/line. The expectation is that the cursor will be at the end. Instead of being able

[2018-08-30 22:13] mklement0 commented on #7665
@SeeminglyScience:

I think we should consider a separate `.psinterfacenames ` property that paralles the `.pstypenames` property.

* It would provide a clean separation between non-interface types and interfaces.

* As a separate, new property, neither  raw type names nor closed constructed types need be included (as there is no need for backward compatibility).
  * If type-argument-specific beha

[2018-08-30 22:36] mklement0 commented on #7665
@lzybkr: But If the `.ToString()` method returns this arity notation too (e.g., ``[System.Collections.Generic.List`1].ToString()`` yielding ``System.Collections.Generic.List`1[T]``), doesn't that imply that it's not (just)  a _C#_ convention?

[2018-08-30 22:44] lzybkr commented on #7665
@mklement0 - the value returned from `Type.ToString()` may or may not have any correlation with what a compiler generates. The `Type.FullName` property is the name the compiler generates.

The convention that C# introduced and every language I know of is to append the arity, but the CLR does not require this.

I'll leave it as an exercise for the reader, but you could use `ilasm` or the reflection

[2018-08-30 22:51] mklement0 commented on #7665
Good to know, @lzybkr, thanks. So how, specifically, does a _PowerShell_ expression such as `` [System.Collections.Generic.List`1].FullName `` yield ``System.Collections.Generic.List`1``? Is there a behind-the-scenes C# detour?

[2018-08-30 23:02] SeeminglyScience commented on #7665
@mklement0 I believe what he's saying is that the compiler adds the arity to the type name directly as a convention.  And that if you manually create a generic type you can skip that if you'd like.  e.g.

[code]

[2018-08-31 00:04] mklement0 commented on #7665
Thanks for the detailed and illuminating example, @SeeminglyScience. I realize that this tangent may be primarily for my own edification, but if you'll indulge me:

I gather that it's PowerShell - perhaps the sanitizing that @BrucePay referred to -  that ignores a `` `<n> `` suffix if it aligns with the actual arity, so that even if you passed a name of ``'MyGeneric`1'`` as the type name to `$modu

[2018-08-31 00:55] SeeminglyScience commented on #7665
@mklement0 The parser creates a `TypeExpressionAst` to represent a type literal expression.  That AST has a property `TypeName` that represents the type with an implementation of `ITypeName`.  When it creates a `TypeExpressionAst` for a constructed generic type, the `TypeName` is of the type `GenericTypeName`.

When PowerShell goes to actually resolve the type, it calls `ITypeName.GetReflectionTyp

[2018-08-31 02:44] MarkTiedemann opened #7672 "Self-contained binary"
Would be nice if the `pwsh.exe` binary was self-contained.

Use case, for example:

[code]

Also, who prefers downloading a `.zip` file compared to an `.exe` file?

[2018-08-31 03:01] deadlydog commented on #7654
@BrucePay I suggested `-Force` (and potentially also `-Recurse`) for consistency with `Import-Module` and many other native cmdlets.

Perhaps a combination of both approaches would be best. Add in the `-Force` (and `-Recurse` if that gets added to `Import-Module`) so they can be used natively/explicitly, but also add in a dev-mode flag that would implicitly provide those parameters even if you don

[2018-08-31 03:35] iSazonov commented on #7616
@SteveL-MSFT Great!
It would be interesting to see how the popularity of the product grows from month to month, from year to year.
Also it is not so useful to see all the preview versions on the dashboard. Maybe group by 6.0. * - preview *, 6.1. * - preview * and similarly for release versions?

[2018-08-31 05:01] iSazonov commented on #7672
It is .Net Core feature/limitation. Seems they have a old tracking issue without progress.

[2018-08-31 05:12] iSazonov commented on #7669
/cc @markekraus Please look the Issue.

[2018-08-31 05:29] iSazonov commented on #7670
I can not repo. Need more information.
Is the problem with and without loaded PSReadline? What version of PSReadline? Can you repo if disable your .ps profile?

[2018-08-31 05:40] iSazonov commented on #7664
@ryhayash Thans for the report and great repo!

It's not clear to me where this should be fixed in the repo or in Windows code. Although if it works in wevtutil and Event Viewer we could fix this in PowerShell.

@ryhayash Do you want to offer PR?

[2018-08-31 06:04] tommymaynard commented on #7670
Nice catch @iSazonov. Once I removed the PSReadLine module (2.0.0), I didn't suffer the same fate. I didn't bother disabling my profile scripts, as removing PSReadLine provided me the expected behavior. Sorry for the wasted cycle, but at least you caught it early!

[2018-08-31 06:04] #7670 closed

[2018-08-31 06:27] ryhayash commented on #7664
Thanks @iSazonov for looking into this. Yes, that would be great if we can fix this as the event message become able to be displayed correctly. Should I create a PR although I've never done that before?

This might not be best way but just simply adding a case for ERROR_EVT_UNRESOLVED_PARAMETER_INSERT would resolve this issue like below. I've already confirmed actual code for 'error' and 'status'

[2018-08-31 06:28] BrucePay commented on #7654
@deadlydog  Some context: `using module` and `Import-Module` are two very different things. The `using` statement is part of the PowerShell language, just like `if`, `while` etc. Characteristically keywords do not take parameters (with a few exceptions e.g. `switch -regex` (which was a mistake - sorry - it seemed like a good idea at the time)). `Import-Module`, on the other hand, is "just" a cmdle

[2018-08-31 07:03] DHowett commented on #7639
Test result from Ubuntu 18.04.1 in Docker (Linux host)

[code]

[2018-08-31 07:37] iSazonov commented on #7664
It is _Open project_ - feel free to contribute if you want. We welcome everyone who wants to develop the project.

Also if you think that the fix should be in .Net please open issue in CoreFX repo https://github.com/dotnet/corefx.

[2018-08-31 08:02] Dennis-Petrov opened #7674 "Can't install System.Management.Automation from NuGet/MyGet: NU3008: The package integrity check failed"
Greetings.
Can't install System.Management.Automation 6.0.4 both from MyGet and NuGet package sources.

Steps to reproduce:

0. Ensure, that `System.Management.Automation` is not in local package cache.
1. Create new .NET Core 2.1 Class Library project. I'm using VS 2017 15.8.2.
2. Open "Manage Packages for Solution" tab, and select required package source (either default NuGet or `https://powersh

[2018-08-31 09:12] KyTn opened #7675 "Cannot use Powershell on project after installation"
Steps to reproduce
------------------
- Open VS2015 and create a new console project, in x64
- Install from Nuget Manager the last release
- Copy and paste this snipet, simple as that:

[code]
- Try to debug, I'm getting the next Exception:
[code]
- If you comment the powershell create line, all work fine.
- If you try without comment that line but executing on Release, also throws the exception.

[2018-08-31 09:26] mi-hol commented on #7616
@SteveL-MSFT thanks for taking the time!

Would you consider @iSazonov 's proposal above? It would greatly improve usability :)

There are few other topics to improve usability like the used number scaling on Page 8 'Windows'  where '0M(illion) is showing for most entries. That scaling issue might be caused by a limitation in PowerBI. Do you happen to know?

[2018-08-31 09:36] mi-hol commented on #7639
@DHowett thanks!
Would you mind to run the verification command at top and add results?
This would allow me to create an issue in the WSL github :)

[2018-08-31 10:12] iSazonov commented on #7664
No need open an issue in CoreFX repo. The classes in not in .Net Core. We have them temporary in the PowerShell repo.
You can find the line with proposed fix here
https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.CoreCLR.Eventing/DotNetCode/Eventing/Reader/NativeWrapper.cs

[2018-08-31 12:39] Claustn commented on #7669
Had some time, so I built pwsh with these simple changes and now I can upload the file to multiple locations at the same time.

SetRequestContent(request, new FileStream(InFile, FileMode.Open, FileAccess.Read, FileShare.Read));

[2018-08-31 12:56] hook-s3c commented on #5574
Ok, my bad - this is for Ubuntu, so I can't use these sources

[2018-08-31 13:27] iSazonov commented on #7675
@KyTn Can you publish your test project on GitHub? We could look and comment.

[2018-08-31 13:52] iSazonov commented on #7649
PowerShell can create tons PSObjects and even an allocation of an empty object in PSObject property (See #7435) can lead to very noticeable consequences.
I hope that there are ways to make the internal structure of the object very-very resource efficient.

[2018-08-31 14:39] Claustn commented on #7669
https://github.com/PowerShell/PowerShell/pull/7676

[2018-08-31 16:01] PaulHigin opened #7677 "SSH remote session on MacOS has remote debugging disabled by default"
I haven't seen this on other platforms but on MacOS the target session is created with remote debugging disallowed.  This can be worked around by manually enabling remote debugging, but I feel we should be consistent in making it enabled by default.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data

[2018-08-31 16:12] rkeithhill commented on #7639
I couldn't repro this on my Ubuntu 18.04 VM running PS Core 6.1-rc1.

![image](https://user-images.githubusercontent.com/5177512/44923705-4c851800-ad06-11e8-871f-e29250ce4359.png)

[2018-08-31 17:21] jianyunt opened #7678 "Get-Content -Tail throws TailNotSupported for the providers except the FileSystem"
Based on the current design the `Get-Content -Tail` is allowed to FileSystemProvider only. For other providers, we will get  [TailNotSupported exception ](https://github.com/PowerShell/PowerShell/blob/5d03e1653a7d518715fa3f00587cad6b5c78cc89/src/Microsoft.PowerShell.Commands.Management/commands/management/GetContentCommand.cs#L140) See below example. In addition other provider cannot define the `T

[2018-08-31 17:29] iSazonov commented on #7648
Does `dir /mnt/c/` work well and show the file and its properties? For Pagefile.sys?

[2018-08-31 17:30] TravisEz13 commented on #5574
The overall issue is DotNet does not (maybe did not, I haven't tried this in PowerShell 6.1) react well to having multiple version of the same library packages installed.  check the packages we depend on and see if multiple versions are installed, if there are, remove the one we don't need and see if it resolves the issue.  Also theoretically, the snap package should resolve this issue, but I have

[2018-08-31 17:34] iSazonov commented on #7678
We could make the parameter dynamic.

[2018-08-31 17:49] SteveL-MSFT commented on #7616
@iSazonov it's in our backlog to archive the data so we can see longer trends.  By default, I believe AppInsights only retains 3 months worth of data.  I'll probably work on this after 6.1 GA.  Grouping is something I can look into.

@mi-hol I'm definitely not a PowerBI expert.  In the GUI, I have limited options to choose representation of th text in the chart.  Unfortunately, PowerBI (currently)

[2018-08-31 18:46] iSazonov commented on #7616
It could be separate report/page from official builds.

[2018-08-31 18:46] mi-hol commented on #7639
closing here as it seems a weird WSL related issue

[2018-08-31 18:46] #7639 closed

[2018-08-31 18:50] mikemaccana commented on #7441
@SteveL-MSFT Hello again! Here's an updated suggestion that fits in more with other Windows 10 icons but is still recognisable as Powershell, while being significantly different from the previous icon per #7086. Happy to send a PR.

![image](https://user-images.githubusercontent.com/172594/44930703-1328c880-ad57-11e8-810a-6c03f83c42dd.png)

[2018-08-31 18:59] vexx32 commented on #7441
I might advocate for using slightly thicker lines for a less spindly look, but that looks *lovely*. Nice work!

[2018-08-31 19:04] thezim commented on #7441
Don’t forget that other operating systems may have [guidelines](
https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/) as well. Personally I think the current non-preview icon is good and distinguishable from its Windows counterpart which is important. For the preview version I feel it is a little too busy and prefer the green version in this issue so far.

[2018-08-31 19:09] mikemaccana commented on #7441
@vexx32 Thanks for the positive feedback! Yeah I agree, it's the same size but doing it negatively makes it look thinner. Will update shortly.

[2018-08-31 19:11] vexx32 commented on #7441
I would also probably encourage that the icon should keep a similar look on OSX -- black background, blue console prompt foreground type of style.

This could also be a good branchpoint for the preview icon; say, having the preview icon retain the black background but be given a green foreground color, or something similar.

[2018-08-31 19:32] mi-hol commented on #7616
@SteveL-MSFT regarding 'PowerBI expert' neither am I but perhaps you'd want to reach out to your MSFT fellow Amanda Cofsky, PM for PowerBI :)
hint: I was looking for a dashboard tool to recommend to a large customer but these limitations turn it down

[2018-08-31 19:47] dantraMSFT opened #7679 "Using PowerShell Core RC-1 as an OpenSSH subsystem on windows breaks core module loading"
Steps to reproduce
------------------
* Install OpenSSH on Windows Server 2016
* Configure PowerShell as a subsystem
    NOTE: Due to path issues, create a symlink or copy PowerShell Core to a directory without spaces
    Subsystem       powershell c:\powershell\pwsh.exe -sshs -NoLogo -NoProfile

* Connect from a linux or windows system

[code]

Expected behavior
-----------------
The session is e

[2018-08-31 20:25] SteveL-MSFT commented on #1522
Doesn't repro in PSCore6.1.  I can repro in Windows PowerShell 5.1, but we're not going to backport this change.

[2018-08-31 20:25] #1522 closed

[2018-08-31 20:27] SteveL-MSFT commented on #1484
Those cmdlets are using undocumented APIs and those APIs are owned by a different team w/o plans to document them and there is no public equivalent.  As such, we cannot enable them in PSCore6.

[2018-08-31 20:27] #1484 closed

[2018-08-31 20:39] filiphhh commented on #6173
@dantraMSFT Yes I still get exactly the same error message as I did previously.

[code]

[2018-08-31 20:57] filiphhh commented on #6173
I've now also tried it on  6.1.0-rc.1 with the same output. The same script I am testing with on Win10 x64 6.1.0-rc.1 where it worked as it should.

[2018-08-31 20:58] mikemaccana commented on #7441
Cropped it to make it thicker while still keeping the same proportions as the original icon, and sharped the edges:

![image](https://user-images.githubusercontent.com/172594/44935254-db764c80-ad67-11e8-955d-44a0bfefdeb9.png)

The preview icon is based on the vscode insiders color:

![image](https://user-images.githubusercontent.com/172594/44935531-f3020500-ad68-11e8-9358-489c5467977f.png)

[2018-08-31 21:16] thezim commented on #7441
@mikemaccana do you have your work in a repo yet, in SVG? Would like to see how they look on macOS.

[2018-08-31 21:32] #6736 closed

[2018-08-31 21:37] vinodc commented on #7567
@iSazonov We've confirmed this works fine on Windows, so it appears to be a Linux issue.

[2018-08-31 21:41] SteveL-MSFT commented on #1807
@iSazonov I don't believe the help documents nor PowerShell Help has a mechanism to differentiate help for a specific OS.  We need to add that capability first before addressing in Doc repo.  cc @adityapatwardhan

[2018-08-31 21:44] thezim commented on #7441
@mikemaccana It definitely need a margin to fit in on macOS. I've included my full Dock so you can see the context. Click to enlarge.

![new-ps](https://user-images.githubusercontent.com/14023826/44936951-ecfa2d00-ad44-11e8-94a8-47b73c440b79.png)

[2018-08-31 22:09] vexx32 commented on #7441
I'd be tempted to say you'll still want some kind of a background behind the prompt symbol, at least on MacOS.

[2018-08-31 22:09] daxian-dbw commented on #1249
@iSazonov Yeah! Workflow code is gone for good :)

[2018-08-31 22:09] #1249 closed

[2018-08-31 22:10] #1225 closed

[2018-08-31 22:16] daxian-dbw commented on #733
PowerShell Core allows the user to use any .NET Core framework built-in types without knowing whether the assembly containing that type is loaded. Also, tab completion for type names also depends on it.

If the assembly is not loaded, powershell load the assembly for you because it's able to figure out which assembly the type is in through the type catalog.

`AppDomain.GetAssemblies` cannot help u

[2018-08-31 22:16] #733 closed

[2018-08-31 22:19] mikemaccana opened #7681 "The Powershell 6.1 preview 4 icon varies from macOS design guidelines"
See previous discussion for Windows at https://github.com/PowerShell/PowerShell/issues/7441. macOS icons follow https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/ which specifies icons should be rotated at 9 degrees. Currently the PS trapezoid is aligned flat and looks odd compared to other icons on the system.

I don't have a mac, but I've committed a b

[2018-08-31 22:31] MaximoTrinidad commented on #7604
Well,  I can't test!

When connecting Windows to either Ubuntu 17.10 or to CentOS 7 using Enter-PSSession, it won't let me remove the module PSReadLine giving the following message:

[code]

The module is installed but can't be remove.

I only can remove it in Windows OS in PowerShell Core.  So, something change in Windows 10.

I'm on Windows 10 Insider Build 17746_rs5.  Also, it seems at now Wind

[2018-08-31 22:43] SteveL-MSFT commented on #7604
PSCore6 console host doesn't write any explicit VT100 sequences, that `33;19R` sequence is a response from the terminal on a cursor position request.  This is being sent by .NET CoreFx console api and is supposed to be handled by the api so you don't see that output.  One significant difference between Windows PowerShell and PSCore6 is that the PSCore6 console host has a very simplistic readline i

[2018-08-31 22:58] SteveL-MSFT commented on #7567
cc @dantraMSFT

[2018-08-31 22:59] #7672 closed

[2018-08-31 23:18] thezim commented on #7441
Remember the guidelines are just that. I think there needs to area where the two can meet. The selling point of PowerShell Core is it is cross platform and having consitency cross platforms is important. This shouldnt be overlooked by taking a hardline with "guidelines".

@SteveL-MSFT can you weigh in on this before efforts are made?

[2018-08-31 23:43] claudiafergus opened #7682 "Select-AzureRmSubscription : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the parameters that take pipeline input"
Issue with cmdlet. It used to work, however it no longer works and you need to revise your scripts. The following command throws an error:

Get-AzureRmSubscription -SubscriptionName $SubscriptionName | Select-AzureRmSubscription

Error: Select-AzureRmSubscription : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the inpu

[2018-08-31 23:56] #7682 closed

[2018-09-01 00:04] SteveL-MSFT commented on #7668
@BrucePay, @JamesWTruher, or @HemantMahawar may have some historical context.

[2018-09-01 00:05] #7634 closed

[2018-09-01 00:34] MSAdministrator commented on #7441
Personally, I like this first one shared (with thinner lines). ++++

[2018-09-01 12:53] ChrisRiddell opened #7685 "Test-Connection on PowerShell 6.1 RC-1, Does not give correct output?"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-01 14:49] zhenggu commented on #5290
Is there any API of dotnet that we can check the type (such as file, directory, softlink, hardlink, etc...) of file? If not, I think we can only use Directory.Exists and File.Exists to check this.

[2018-09-01 16:46] mklement0 commented on #3240
`$x ?= 12` sounds like a great idea.

It occurred to me that we probably should apply all of these operators not only if the LHS doesn't _exist_, but also if it _does exist but happens to contain `$null` (with `[System.Management.Automation.Internal.AutomationNull]::Value` treated like `$null` in this context).

In that vein, `$obj.SomeProperty ?= 13` makes sense to me _only_ if  `.SomeProperty` e

[2018-09-01 19:04] iSazonov commented on #1225
@vors Graphical host and WorkFlows was removed from the repo.

[2018-09-01 19:26] #7669 closed

[2018-09-01 20:30] BrucePay commented on #7621
@B-Art Are you ok if we close this issue? Thanks.

[2018-09-01 22:55] ChrisRiddell commented on #7685
Just want to add that the Expected behavior is what I get under Windows 10 with PS5.1 I would of expected the outputs to be uniform.

And it's annoying it outputs the Reply's as they hit to when it's should be just pushed to the var without outputting.

[2018-09-02 03:49] deadlydog commented on #7654
Thanks for the explanation and clarification @BrucePay 👍  I hadn't considered that `using` was a language keyword while `Import-Module` was a cmdlet, and as such the two adhere to different rules/conventions. Given that and what you mentioned above, the `dev-mode` flag makes more sense than adding `-Force` parameters.

So I guess I see 3 potential ways to go here:
1. Introduce a new dev-mode flag

[2018-09-02 04:14] jazzdelightsme commented on #7648
No; enumeration is halted (with an error) when it gets to `hiberfil.sys`:

[code]

[2018-09-02 05:13] jazzdelightsme opened #7686 "Unexpected InvalidCastException from dynamic binding when calling particular .NET method"
I ran into this very strange exception the other day when trying to use the PerfView tracing library to process some ETL files in PowerShell. When calling the `Process` method on an `ETWTraceEventSource` object, it throws an `InvalidCastException`, but it seems to make no sense.

The signature of the method in question is:

[code]

Seems like it should be straightforward to call, right? But when y

[2018-09-02 08:58] mi-hol opened #7687 "Out-of-Date installation instruction for Ubuntu 18.04 - how to solve once for all times?"
The [currently published instructions for Ubuntu 18.04  direct-download](https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?view=powershell-6#installation-via-direct-download---ubuntu-1804) reference an out-of-date production version 6.0.3 and does not mention the preview versions like RC1. This is a re-occurring issue for each release (just search clos

[2018-09-02 09:27] mi-hol commented on #7687
@SteveL-MSFT From my view the out-of-date file names in all 'direct download instruction' could be a reason why for example RC1 is not getting installed by a larger user base

[2018-09-02 15:40] mklement0 commented on #7665
I appreciate the explanation, @SeeminglyScience.
The way the method is written, you can accidentally thwart the implicit arity-suffix logic with a type name such as ``MyGeneric`Foo`1``, but that's probably not a real-word concern.

[2018-09-02 16:37] PetSerAl opened #7688 "Why do we use rcedit?"
It seems that `dotnet` build process is capable to set all necessary assembly metadata, like version and copyright strings, application icon. Why do we use external utility to do that instead? Is any good reason to use `rcedit` to edit compiled `.exe` rather than set this metadata thru `.csproj` file?

[2018-09-02 16:51] felixfbecker opened #7689 "Could PSObject be made easier to work with in C#?"
I've recently been venturing into C# to write PowerShell Cmdlets and found that `PSObject` was quite cumbersome to work with compared to how you can work with them in PowerShell. Instead of being able to just assign properties, you need to always use `PSObject.Properties`. Especially when having variables that could be _either_ `PSObject` or .NET types it is very cumbersome to access properties.

[2018-09-02 16:58] felixfbecker opened #7690 "Async cmdlets"
I've recently tried to write a cmdlet that had to use `async` APIs. Doing so turned out to be incredibly difficult, and with help I found an `AsyncCmdlet` class that lets you override `processRecordAsync` etc. as async functions that get `CancellationTokens`:
https://github.com/felixfbecker/PSKubectl/blob/master/src/AsyncCmdlet.cs
https://github.com/felixfbecker/PSKubectl/blob/master/src/ThreadAff

[2018-09-02 18:37] BrucePay commented on #7689
Hi @felixfbecker PSObject has implemented `IDynamicMetaObjectProvider` since PowerShell Version 3 when it was rehosted on the DLR. See:

src\System.Management.Automation\engine\MshObject.cs:47:    public class PSObject : IFormattable, IComparable, ISerializable, IDynamicMetaObjectProvider

You should be able to use `dynamic` instead of `PSObject` in most places in your code.

[2018-09-02 18:51] rkeithhill commented on #7689
Indeed. I have been able to use the `dynamic` keyword with `PSObjects` in C# code.

[2018-09-02 18:59] BrucePay commented on #7690
@felixfbecker So if I understand you correctly, you'd like to see an in-box variant of the `PSCmdlet` base class possibly called `PSAsyncCmdlet` that lets you write synchronous cmdlets that use asynchronous APIs and the `await` keyword including built-in cancellation support? (Note: cmdlets are always synchronous WRT the pipeline but may have asynchronous implementations). I'm currently working on

[2018-09-02 19:00] felixfbecker commented on #7690
Yep

[2018-09-02 19:44] mklement0 opened #7692 "Automatic prompting for mandatory string-typed generic list parameter binds values incorrectly"
if a cmdlet's mandatory parameter is `[System.Collections.Generic.List[string]]`-typed (rather than `[string[]]`), passing multiple values works from the command line (`-AllowedScopes a, b`), but misbehaves when PowerShell prompts for the values.

The problem seems to be limited to `[string]`-typed lists.

Other collection types may be affected too.

Steps to reproduce
------------------

[code]

[2018-09-02 20:50] thezim commented on #7688
See #5178 and its associated issues for the back story. Perhaps this is no longer needed with .Net Core 2.1.

[2018-09-02 21:12] felixfbecker commented on #7689
You're right, I was just struggling with reflection on it. Works as expected!

[2018-09-02 22:11] powercode commented on #7665
@mklement0 There is a `ToStringCodeMethods` class with a `string Type(Type type, bool dropNamespaces = false, string key = null)` member that pretty-prints typenames.

[2018-09-02 23:15] BrucePay commented on #7668
@jherby2k First

`WriteObject()` takes all objects and writes them to the output stream, regardless of type. Think about how `2>&1` works - error records are routed into the output stream and written to output along with everything else. (As an aside - note that the API is `WriteObject()` but the corresponding cmdlet is `Write-Output`. Originally they were both 'Object'. We changed the cmdlet but

[2018-09-02 23:51] mklement0 commented on #7665
Thanks, @powercode, good to know how to get a friendly type representation even for generic types, but note the specific overload you mention is `internal`. There is a public overload - `public static string Type(PSObject instance)`, expecting a type, which actually breaks with @SeeminglyScience's code (`"'length' must be non-negative`), but for CoreFx types it works well, e.g., ``[Microsoft.Power

[2018-09-03 01:00] BrucePay commented on #7692
Yeah - looks like a bug during type conversion in the parameter binder. It can be easily repro'ed using a function:
[code]
It does work properly if the parameter is declared `[string[]]`.

[2018-09-03 04:11] PlagueHO opened #7693 "ConvertTo-Json string escaped handling differs between PS and PSCore"
Steps to reproduce
------------------

On PowerShell Core 6.0.4
[code]

Expected behavior
-----------------

Windows PowerShell 5.x returns:
[code]

Actual behavior
---------------

PowerShell Core 6.0.4 returns:
[code]

Environment data
----------------

[code]

This would appear to be because the `StringEscapeHandling` setting is set to `Default` in https://github.com/PowerShell/PowerShell/blob/

[2018-09-03 05:12] kingcean opened #7694 "High DPI"
For high DPI, e.g. displayed in Surface, the text is too small.

[2018-09-03 06:04] iSazonov commented on #7688
@PetSerAl Do you know that dotnet can assign an icon to exe?
I see that a tracking issue is still open. https://github.com/dotnet/cli/issues/3267

[2018-09-03 06:35] iSazonov commented on #7686
@jazzdelightsme  Thanks for great repo!

I agree that it is bad message. The binder is very complex. Perhaps @daxian-dbw know how/where we can improver the message.

As for th error I guess you should assign a callback
From https://msdnshared.blob.core.windows.net/media/MSDNBlogsFS/prod.evol.blogs.msdn.com/CommunityServer.Components.PostAttachments/00/10/44/21/52/_TraceEventProgrammersGuide.docx
[

[2018-09-03 06:39] iSazonov commented on #7693
@markekraus Please look the Issue.

[2018-09-03 06:45] iSazonov commented on #7694
Do you mean a Github font size or PowerShell console size?

[2018-09-03 07:13] axelheer commented on #6426
@mi-hol I don't compile against the full SDK, only the PowerShell Standard

[2018-09-03 07:15] kingcean commented on #7694
PowerShell console.

[2018-09-03 07:35] PetSerAl commented on #7688
@iSazonov You are right. `dotnet` does not support this when publishing self-contained app for .NET Core runtime.

[2018-09-03 07:35] #7688 closed

[2018-09-03 07:45] iSazonov commented on #7694
PowerShell doesn't manager console font. It uses system defaults or user settings.

[2018-09-03 09:00] zero77 commented on #3028
What about initially starting Powershell in the back ground with a non visible console, then checking for any console window arguments `-WindowStyle` and implementing them.
But, if none are found it could then start a visible console window.

[2018-09-03 09:29] mikemaccana commented on #7441
Thanks for the committee review @SteveL-MSFT. https://github.com/PowerShell/PowerShell/issues/7441#issuecomment-417787361 is the most recent, and the most that meets with other Windows icons. @thezim while Powershell is cross platform, but look at other cross platform apps - Office, vscode, etc - the icons used are native to the OS style.

[2018-09-03 10:11] iSazonov commented on #3028
@zero77 I think we mean https://social.msdn.microsoft.com/Forums/en-US/b7a14400-6d72-4fbf-9927-0966f69ef4a2/how-to-open-console-window-in-windows-apllication?forum=csharplanguage

[2018-09-03 10:44] Jawz84 commented on #3028
I created an issue in the windows console team issue repo here: https://github.com/Microsoft/console/issues/249

[2018-09-03 11:45] #3344 closed

[2018-09-03 11:46] iSazonov commented on #3328
Currently we don't use th file.

[2018-09-03 11:46] #3328 closed

[2018-09-03 11:49] iSazonov commented on #3313
/cc @vexx32

[2018-09-03 12:00] vexx32 commented on #3313
Thanks for digging this up! I think... Yeah, I think I pretty much have covered all these cases in #7575.

High-bit hex numbers still get treated as negative, but you can specify the `u` suffix to parse them as large unsigned numbers.

However, that works only up to uint64, because there are no larger unsigned types to work with. I'm not sure how to deal with a sign bit there, to be honest, but I

[2018-09-03 12:02] iSazonov commented on #3427
I see
- SLES 12 SP3 EOL - 31 Oct 2027
- SLES 15 EOL - 31 Jul 2031

[2018-09-03 12:39] iSazonov commented on #3521
Seems we could close the old issue.

[2018-09-03 12:41] #3534 closed

[2018-09-03 12:45] arkein commented on #3363
The commands fail even with `-Force` parameter.

[2018-09-03 12:51] mklement0 commented on #3028
@zero77:

`pwsh.exe` must remain a console application to ensure synchronous, standard-streams-connected execution from an existing console window.

We therefore need the previously discussed _separate_, GUI-subsystem executable, `pwshw.exe`.  If we want that executable to support _conditional_ creation of a(n invariably new) console window, @iSazonov's link would a helpful starting point.

@Jawz8

[2018-09-03 13:56] Jawz84 commented on #3028
I'll leave the console issue open, see what they think. I see your point, and i know it may be totally impossible. Yet then again, it may be something they would like to consider.

[2018-09-03 16:01] jazzdelightsme commented on #7686
No, adding a callback is no help (I left it out because it is not important to the repro). And it makes sense that having a callback or not is relevant to the problem: if `$traceEventSource.Process()` were complaining that I was not using it right, that would imply that the `Process()` method was being called... but it cannot be, because PS failed during binding.

Also, the problem can be worked a

[2018-09-03 16:18] mklement0 commented on #5678
@jazzdelightsme:

There's at least one case in which the path should be _rejected_:
If there's ambiguity due to the presence of more than 1 case-variant folder: e.g, if you specify `test` and both `TEST` and `Test` exist.

If there is no ambiguity - just 1 case-variant match - I suppose targeting that automatically is an option, but note that for consistency we'd then have to implement the same lo

[2018-09-03 16:29] erichiller commented on #621
If anyone stumbles across this issue as I did trying to remove reparsepoints without deleting the underlying file use
[code]

[2018-09-03 16:41] mklement0 commented on #5678
As for the issue at hand:

**macOS**:

https://github.com/dotnet/corefx/issues/26797 is indeed resolved, but the issue at hand persists, and it is _PowerShell_ that is the culprit (in the following examples, a `Test` directory is created, and it is accessed via its all-lowercase variant, `test`):

[code]

Using .NET Core does NOT exhibit this behavior:

[code]

(Note that `/tmp` is a symlink to `/

[2018-09-03 17:05] felixfbecker commented on #7620
That makes sense - in a way, it reminds me of [ReactiveX `Materialize`](http://reactivex.io/documentation/operators/materialize-dematerialize.html) - redirecting all event types to the primary stream, while maintaining the information about where it came from through the type info.

You should already be able to pipe it further into `ForEach-Object` and check if `$_` is `ErrorRecord`, `Information

[2018-09-03 17:39] strawgate opened #7698 "ConvertFrom-JSON high memory consumption"
Steps to reproduce
------------------

[code]
output:
[code]
Actual behavior
-----------------
Powershell Core ends up with 1 GB of memory used and peaks to 1.6 GB of memory utilization during convertfrom-json

Expected behavior
-----------------

Powershell Core shouldn't need 1.6 gigabytes of memory to deserialize a 65MB JSON file.

Environment data
----------------

[code]

[2018-09-03 22:37] powercode commented on #7698
We could consider interning property names.

[2018-09-03 22:39] powercode commented on #7698
Or, probably better, some name dictionary, were we resue the property names. That should help a lot with json memory consumption.

[2018-09-03 23:02] felixfbecker opened #7699 "Mangled CLIXML printed when running Pester in nested shell"
I am running Pester in CI in a nested PowerShell. The log output is mangled CLIXML: https://travis-ci.org/felixfbecker/PSKubectl/jobs/424110720#L1227

Here is the script that runs the tests: https://github.com/felixfbecker/PSKubectl/blob/d66a7783d9fc598c87295b281bc86dedac12f487/ci/Invoke-Tests.ps1#L19

But when running that same snippet
[code]
locally, the output is correct.

Both locally on macOS

[2018-09-03 23:03] mklement0 opened #7700 "ForEach-Object operation statements are unexpectedly slower than script blocks; both are much slower than filter functions"
Steps to reproduce
------------------

_Update: Added a filter function._

Compare the performance of extracting the `.Name` property values from 1 million objects:

[code]

<sup>Note: `(, (Get-Item /) * 1e6).Name` - i.e., member enumeration - is the fastest by far, but this issue is about comparing _streaming_ approaches.</sup>

Expected behavior
-----------------

At the very least comparable pe

[2018-09-04 00:05] felixfbecker commented on #7689
Actually, I think I spoke too soon. It seems to be possible to _read_ properties from it as a dynamic object, but not possible to set _new_ properties on it as you can with `ExpandoObject` for example. I would expect to be able to set a new property on PSObjects, which would create a new NoteProperty if the property does not exist:
[code]
Instead, it errors:
[code]

[2018-09-04 03:09] iSazonov commented on #7686
@jazzdelightsme Thanks for workaround with Add-Type. Looks like an edge case bug in binder.

[2018-09-04 06:09] powercode commented on #3534
@jaredpar We are also in the process of adding `Join-String`, a cmdlet specifically designed to create new strings from pipelined input. See #7660.

[2018-09-04 08:43] RogerDodger123 commented on #4669
Hi,

i have got powershell.sdk installed into my dot net core project. I am trying to run wget (not native) through powershell in code. if I use `var results = ps.AddScript("wget").Invoke();` I get results back telling me I need I need to add a url and add options. The moment I turn it to `var results = ps.AddScript("wget http://someurl").Invoke();` I no longer get any results back.

I have got th

[2018-09-04 09:33] iSazonov commented on #5678
@mklement0 Thanks! I agree that it is PowerShell issue.
Perhaps we should ask a more general question -see #1273 and #7221 last comment) - how much should we be case-sensitive/-insensitive on every platform?

- on Windows, API preserves case but all comparisions is case-insensitive. PowerShell follow this.
- on MacOs, API preserves case but all comparisions is case-insensitive. Currently PowerShel

[2018-09-04 09:38] iSazonov commented on #4669
@RogerDodger123 Please open new Issue with your question, repo steps, versions. Have you the project or example project on GitHub to share for review?

[2018-09-04 12:03] SeeminglyScience commented on #7665
@mklement0

Shouldn't really be an issue unless there's a CLR language out there that parses it in a class name (neither PowerShell nor C# do).  Other than that, if someone is using emit to generate a type with a class name that contains <kbd>`</kbd>, they probably don't really intend for the type to be resolvable.

[2018-09-04 17:12] SteveL-MSFT commented on #7330
@slide I'll see if I can look into this later this week just to enable such builds, but it's unlikely we'll be able to support it and have official releases due to lack of hardware to test on

[2018-09-04 17:13] KirkMunro opened #7703 "Publish guidance for module authors on how to prepare for multi-runspace or multi-threaded PowerShell use"
I've run into a number of modules recently that use static variable storage or the local file system to cache login details. This causes problems for any multi-runspace use (or even multi-process when file caching is used) of those modules in scripts. The worst part is that some of these modules don't offer any alternative or workaround that allows you to use them in multiple runspaces without ste

[2018-09-04 17:17] mklement0 commented on #5678
@iSazonov: Please see https://github.com/PowerShell/PowerShell/issues/5678#issuecomment-418155458 above.

In short:

* I think _literal_ names should never be automatically case-corrected on case-sensitive filesystems, to avoid ambiguity.

* It makes sense to offer case-_insensitivity_ for (a) tab-completion and (b) filename globbing, but it I wonder if it should require an _explicit opt-in_ (perh

[2018-09-04 17:19] slide commented on #7330
@SteveL-MSFT I'd be happy to help out any way I can. Is there a bootstrapping document that would allow me to build it myself ON my ARM64 system? I'm using the PINE64 board (https://www.pine64.org/) which is a fairly cheap 64-bit ARM setup if you want something.

[2018-09-04 17:42] mklement0 opened #7704 "The pwsh CLI should support the -l / --login option for macOS compatibility, e.g. in VSCode"
Related: #3743

On macOS, unlike on Linux, all (user-)default shell instances are started as _login_ shells.

There are two mechanisms for invoking a shell as a login shell: (a) setting its `argv[0]` to contain `-` as the 1st character (that's what Terminal.app does) or (b) passing the `-l` (or `--login`) option to the shell executable.

If you make `pwsh` your _default shell_ on macOS, certain ap

[2018-09-04 18:29] TravisEz13 commented on #3521
I agree.  We have updated the build process and the docs are mainly separate from the repo now.

[2018-09-04 18:29] #3521 closed

[2018-09-04 21:37] michal5520pl commented on #7330
I have BananaPi W2 with Ubuntu 16.04, so I can also offer help

[2018-09-05 00:04] lzybkr commented on #7689
@felixfbecker - there is no simple syntax for adding properties to `PSObject` - not in C# nor in PowerShell.  This is intentional and it helps avoid errors.

If you really do want `ExpandoObject` semantics, then just use `ExpandoObject`. I'm pretty sure you can even wrap an `ExpandoObject` in a `PSObject` and it will work as you'd expect.

[2018-09-05 03:02] jzabroski commented on #7451
Another silent failure in PowerShellGet. Let's just rewrite the whole thing from scratch.

[2018-09-05 04:39] Jaykul commented on #5290
@kvprasoon it "works" because by default it creates a _File_ and the bug exists only when trying to create a _Directory_

@zhenggu yes, `Directory.Exists(path)` and `File.Exists(path)` are really the only tools, as far as I know. That should be that's needed to fix the problem, anyway, 😉

[2018-09-05 06:08] mklement0 commented on #7689
I can't speak to the design intent or potential technical hurdles, but one thing to note is that there are _multiple_ property types you can add to a `PSObject` instance, namely the classes derived from the abstract [`PSPropertyInfo`](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.pspropertyinfo?view=powershellsdk-1.1.0) such as `PSAliasProperty`, ...)

In light of that,

[2018-09-05 07:06] iSazonov commented on #7704
If we add the `-l` whether users expect that we fully support PowerShell Core as login shell?

[2018-09-05 08:15] felixfbecker commented on #7689
Oh interesting, I wasn't aware of that. I always thought objects in PowerShell were like in JavaScript.

The use case I was dealing here with was I accepted `PSObject` _or_ strong .NET objects, and allowed the `PSObject` to be partial (missing properties that would just use the default value). I then had to set a nested properties on an input object, which could be either a `PSObject` or a .NET ob

[2018-09-05 08:15] #7689 closed

[2018-09-05 08:22] HumanEquivalentUnit opened #7707 "Select-Object -Unique is much slower than Sort-Object -Unique"
Reading a file of ~60,000 lines, picking only unique entries:

[code]

(Relevant source code for [sort-object unique handling](https://github.com/PowerShell/PowerShell/blob/5d03e1653a7d518715fa3f00587cad6b5c78cc89/src/Microsoft.PowerShell.Commands.Utility/commands/utility/sort-object.cs#L58) and relevant source code for [select-object -unique handling](https://github.com/PowerShell/PowerShell/blob

[2018-09-05 10:50] chucklu opened #7708 "Start-ResGen is not recognized"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

should generate file with extension .resources like [Resgen](https://docs.microsoft.com/en-us/dotnet/framework/tools/resgen-exe-resource-file-generator) did

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-05 12:46] mklement0 commented on #7704
We would have to document that it is an effective no-op.

De facto using `pwsh` as the default shell already works fine on macOS, after applying the workaround described in https://github.com/PowerShell/PowerShell/issues/6027#issuecomment-360638685

Eventually we'll need a documentation topic that describes all limitations with respect to using `pwsh` as the default shell on Unix-like platforms, c

[2018-09-05 12:48] iSazonov commented on #5678
I agree with tab-completion but globbing - I think users will be surprised that `Copy-Item -Path $env:TEMP\T*` will copy `$env:TEMP\test` on Linux.

[2018-09-05 13:11] iSazonov commented on #7704
@mklement0  Could you please clarify about

Is it `pwsh -`?
Can this resolve the Issue too?

[2018-09-05 13:14] iSazonov commented on #7708
In build process we use `Start-PSBuild -ResGen`
https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/resx-files.md#resources

[2018-09-05 13:16] mklement0 commented on #5678
There ultimately is no _good_ solution here, but what appeals to me about the latter solution is its simplicity:

* As a user, all you need to remember is that PowerShell wildcards are case-_insensitive_ _everywhere_ by default.

  * Getting case-_sensitive_ filename globbing, if needed (probably rarely), must be requested explicitly with `-Resolve-Path -CaseSensitive` and _perhaps_ also the files

[2018-09-05 13:28] iSazonov commented on #7707
Seems we could use the same code in Sort-Object, Group-Object and Select-Object.

/cc @powercode

[2018-09-05 13:51] mkht commented on #7693
Is not it a destructive change to change this behavior?

How about add parameter to change behavior like below ?

[code]

[2018-09-05 14:29] iSazonov commented on #3531
Dup #3847

[2018-09-05 14:29] #3531 closed

[2018-09-05 15:08] iSazonov commented on #7704
Seems we have already discussed that we could use different file names to address such scenarios (login shell, hide console windows, graphical shell and etc.). For the Issue we could create `pwshl` or `pwsh_login` runner.

[2018-09-05 15:26] mklement0 commented on #7704
That would add unnecessary complexity:

* It requires creating, maintaining, shipping, documenting  a new executable, even though its sole purpose would be to ignore the `-l` / `--login` options.

* User will need to know and remember that they must specify that a different executable when changing their default shell to PowerShell with `chsh -s`, which is far from obvious (adding the right execut

[2018-09-05 15:28] pldmgg opened #7709 "Issue with pwsh 6.1.0-rc1 New-PSSession using SSH Key Auth"
Same issue posted here since not sure if OpenSSH-Win64 or pwsh issue: https://github.com/PowerShell/Win32-OpenSSH/issues/1244

In this test scenario, zerotesting5.zero.lab (192.168.2.13) is the localhost and zerowin16sshb.zero.lab (192.168.2.53) is the Remote Host.

Relevant info about both machines:

- Both are running Windows 2016 Standard
- Both have pwsh 6.1.0-rc1 (and ONLY pwsh 6.1.0-rc1) ins

[2018-09-05 15:37] iSazonov commented on #7704
With -l option we only fix VS Code issue not Terminal.app
I found the PowerShell Committee approvement https://github.com/PowerShell/PowerShell/issues/992#issuecomment-384455760

[2018-09-05 15:43] True-Demon commented on #7162
Just pointing out that this is still an issue and has not been acknowledged. 🙁

[2018-09-05 15:46] MaximoTrinidad commented on #7709
On the sshd_config, I normally got uncommented:

Port 22
PubkeyAuthentication yes
PasswordAuthentication yes

Then, the ssh_port_22 rule need to be in place in the firewall.

Also, when using Enter-PSSession -Hostname, I don't include the computer name with the username.

Hope this help in any way!
:)

[2018-09-05 15:47] mklement0 commented on #7704
_There is nothing to fix_ for Terminal.app or any other tools that use the `-`-prefix convention, because PowerShell doesn't and need not care about what `argv[0]` truly contains - it simply has no impact.

The approval you link to is in a way the _opposite_ of what we're discussing here: a dedicated `pwsh-np` would _suppress_ loading of profiles, whereas option `-l` in POSIX-like shells explicitl

[2018-09-05 15:57] pldmgg commented on #7709
Thanks @MaximoTrinidad !

Regarding Port, PubkeyAuthentication, and PasswordAuthentication, my understanding is that those commented options are actually set by default, so the only reason I would uncomment them is if I wanted to change those default settings (i.e. Port other than 22, or 'no' for either of the other settings).

Regarding firewall, I've turned them completely off for both machines.

[2018-09-05 16:06] MaximoTrinidad commented on #7709
One thing! Turning off firewall, I think it won't work because ssh relays on using port 22 and that's what's makes it secure and established connections between ssh machines.  Remember, this is not winrm remoting, its a total different connection protocol.

Yes! Don't use domain name with the username, again the -hostname parameter uses SSH protocol. SSH port 22 need to be set in order to work.  A

[2018-09-05 16:08] pldmgg commented on #7709
Ok...well, the ssh commands do work without issue, so I think this is more of an issue with pwsh and specifically the PSSession cmdlets...

[2018-09-05 16:13] mklement0 opened #7710 "Inconsistent support for converting number strings with binary-multiplier / number-type suffixes to numbers"
Note:

* Changing this would technically be a breaking change and/or may be undesirable for performance reasons, in which case the issue should be _documented_.

When converting from _strings_,

* PowerShell currently DOES recognize binary-multiplier suffixes such as `kb`, `mb`, ...:

  * in _expressions_ (e.g., `'1gb' / 1`)

* but DOES NOT recognize them:

  * during _implicit_ type conversion in

[2018-09-05 16:32] rotata commented on #7637
restarting the conversation...can we confirm that this issues is related to the latest tag.

[2018-09-05 16:55] SteveL-MSFT commented on #7693
This has been the behavior since we changed to using NewtonSoft.JSON from the .NET Framework JSON serializer and would be a breaking change to change it back.  @mkht's suggestion to add a parameter would work and give more flexibility to the user.  However, are there other settings that should be exposed via the cmdlet?

[2018-09-05 17:01] powercode commented on #7707
Seems like there are room for improvement :)

[2018-09-05 17:30] mklement0 opened #7712 "Add a switch to Select-String that returns the matching parts only, analogous to grep -o"
<sup>Related: #7713 and  #7867</sup>

Sometimes all you want `Select-String` to do is to output only the matching parts of the input lines as strings, similar to what `grep -o` does on Unix-like platforms; e.g.:

[code]

The equivalent `Select-String` solution is currently cumbersome:

[code]

If we introduced a switch named, say, ~~`-MatchingPartOnly` (name TBD, could have an alias of `-o`)~~
`-O

[2018-09-05 17:37] mklement0 opened #7713 "Add a switch to Select-String that makes it return just strings for convenience and performance"
<sup>Related: #7712</sup>

Sometimes, all you're interested in is the matching input lines as _strings_ rather than full-blown `[Microsoft.PowerShell.Commands.MatchInfo]` instances.

Not having to extract the `.Line` property in subsequent processing can also significantly improve performance.

<sup>_Update_: Performance was originally discussed only with respect to how expensive wrapping the matc

[2018-09-05 17:53] lstatie opened #7714 "IDE for PowerShell Core?"
I have been using PowerShell 5.1 ISE at work.
Is there a way to use an Integrated Scripting Environment for PowerShell Core? I would like to continue working on the script that I maintain for work, using PowerShell Core 6. The ISE allows me to work on a large script, debug it and test it

[2018-09-05 17:54] mklement0 opened #7715 "Introduce a more descriptive parameter alias for Get-Content -Raw"
The filesystem provider's `-Raw` switch for `Get-Content` is confusingly named:

* _raw_ suggests reading raw bytes, which is not what it does.

* conversely, _raw_ doesn't convey that the file is being read _as a whole_.

Without breaking backward compatibility, a more sensibly named parameter _alias_ could be defined, such as `-Whole`.

Environment data
----------------

Written as  of:

[code]

[2018-09-05 17:56] mklement0 commented on #7537
As for what to name the parameter:

I suggest `-Bare`, which avoids the `-Raw` confusion (_raw_ also has inapplicable connotations of reading _raw bytes_).

(Conversely, a more sensibly named parameter alias  for `-Raw` should be introduced - see #7715)

Using `-Bare` - without including the term _lines_ - also opens the door for implementing similar logic for other cmdlets (opting out of output-o

[2018-09-05 18:02] mklement0 commented on #7714
Use [Visual Studio Code ](https://code.visualstudio.com/), as described in [here](https://docs.microsoft.com/en-us/powershell/scripting/core-powershell/vscode/using-vscode?view=powershell-6)

[2018-09-05 18:30] EklipZgit commented on #5699
Agreeing with @Atheuz here, we just encountered this for the second time in 6 months.

It is insane that
`$Output = '\\s-buildserv\C$\Agents\Agent2\_work\1228\s\Output'`
`Get-ChildItem -Path $Output -Directory -Recurse |`
`    Remove-Item -Recurse -Force -ErrorAction 'Ignore'`
deletes
\\s-buildserv\C$\Agents\Agent2\_work\1228\s\Tests\Data\output
\\s-buildserv\C$\Agents\Agent2\_work\1228\s\Tests\Da

[2018-09-05 18:32] lstatie commented on #7714
Thank you so very much for the prompt response.

[2018-09-05 18:38] KevinMarquette commented on #5699
This is dangerous and very hard to track down. The only reason that we found it this time is because we have ran into this several times before.

If someone runs gives a path to  `.\source\Output`, why should it ever consider looking in `.\source\Tests` and every other folder in `.\source`.

The other scenario that we run into this as an issue is when that parent folder is very large. Like when it

[2018-09-05 19:11] MaximoTrinidad commented on #7709
Well! Let see if someone can provide more insight on it.
I normally use it with enter-pssession, and I haven't try it without having the SSHport22 rule in the firewall.

:)

[2018-09-05 19:39] thezim commented on #7714
@lstatie I use VSCode it for 5.1 too. Far superior to ISE in almost every way.

[2018-09-05 19:45] lstatie commented on #7714
Good to know thezim, I will keep that advice in mind. Thank you.

[2018-09-05 20:28] SteveL-MSFT commented on #7687
@mi-hol agree that we should try to come up with something static rather than trying to keep the doc updated to latest versions.  Don't have a good solution off the top of my head than to say something like "download latest release" and have the version in the sample be generic like "powershell_6.1.0-preview.ubuntu.18.04_amd64.deb" and a note saying: "replace the example version with the specific

[2018-09-05 20:30] #7668 closed

[2018-09-05 22:33] SteveL-MSFT commented on #4043
@PowerShell/powershell-committee reviewed this, making a parameter that was mandatory no longer mandatory is not a breaking change.  Recommendation is to make `mandatory=false`, remove validation for `nullorempty` and set default to empty string.

[2018-09-05 23:20] cholmes1111 commented on #3663
@SteveL-MSFT - You said that you could reproduce this error on PowerShell version 5.1 but it works for you on PowerShell 6?  I'm not having the same luck. Running PowerShell version 6.0.4 on a Docker container on Ubuntu 16.04 and running PowerShell version 6.0.4 on Windows Server 2016, throws the DirectoryNotFoundException error when running Test-ModuleManifest if I don't install the required modu

[2018-09-05 23:29] lstatie commented on #7714
Another question:
I am using VS Code v1.27.0 with Powershell extension 1.8.4. When the script is running and shows errors in the  output, There seems to be no way to stop the run so I can fix the issue.

I see a turning circle next to the word "PowerShell" and I can find no way to stop the script from running.

Is there a way to stop the script so I can edit the script and run it again?
The PowerS

[2018-09-06 00:08] strawgate commented on #7637
I was just mentioning that previously the images were microsoft/powershell:6.0.1 etc and that i hadnt seen any communication or warning that it had switched to mcr.microsoft.com so I was expecting to find the tags on docker hub but they were not there and it wasnt until someone pointed it out on this issue that I noticed that the urls on the description page had changed from "microsoft/" to "mcr.m

[2018-09-06 00:44] thezim commented on #7714
Debugging is covered [here](
https://code.visualstudio.com/docs/editor/debugging). The key is finding debug bar (marked C) in the first image on the page. I prefer the keyboard shortcuts myself as they are common with ISE and Visual Studio. Keyboard binding are [here](
https://code.visualstudio.com/docs/getstarted/keybindings). If you are having issues debugging you should file issues in
https://g

[2018-09-06 00:56] thezim commented on #7709
Try using -SSHTransport see
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-pssession?view=powershell-6 for more help.

[2018-09-06 01:28] dantraMSFT commented on #7679
The problem occurs when the PSModulePath from the native environment contains a reference to a SxS installation.

ModuleIntrinsics.GetModulePath calls RemoveSxSPsHomeModulePath to remove it; which succeeds but the subsequent logic is has a few problems.  In the repro case, systemModulePathToUse is populated with the PSHOME\Modules because hklmMachineModulePath is null and it is placed at the end o

[2018-09-06 02:14] chucklu commented on #7708
@iSazonov  thanks, I have import the module in profile according the documentation
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/import-module?view=powershell-6

[2018-09-06 02:14] #7708 closed

[2018-09-06 02:49] chucklu opened #7716 "Convert-TxtResourceToXml did not work"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

I already import the latest build.psm1 to profile of my powershell.
https://docs.microsoft.com/en-us/dotnet/framework/resources/creating-resource-files-for-desktop-apps#resources-in-text-files
The file content in test.txt co

[2018-09-06 02:50] rkeithhill opened #7717 "Default Progress foreground/background colors don't translate well to other color schemes"
The default progress colors look OK (not great) when used from a console with the default color scheme e.g.:

![image](https://user-images.githubusercontent.com/5177512/45131905-37681900-b14c-11e8-81fd-b56cdb50ae48.png)

But when using color schemes like `OneHalfDark` provided by the MS `colortool` utility, the lack of contrast between the FG/BG colors starts to become problematic:

![image](https

[2018-09-06 03:26] Chiramisu commented on #3028
Yikes! Open for nearly two years? This is quite an important feature for SysAdmins.

[2018-09-06 03:38] louistio commented on #3182
@iSazonov Considering [this depth is manually set in JsonObject.cs](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/JsonObject.cs#L84):
[code]
I think it would be very easy for the current implementation to handle objects of greater depth (by simply removing that setting, it is set to no maximum depth by default). However, I

[2018-09-06 04:34] iSazonov commented on #3182
@louistio Thanks! I think you found a right place. Do you want to offer a PR?

I don't know that new value should be - 2048? /cc @markekraus @Francisco-Gamino @SteveL-MSFT

[2018-09-06 04:44] iSazonov commented on #7707
I guees we could move the new Sort-Object code to OrderObjectBase.cs on first step and then reuse it all related cmdlets.

[2018-09-06 05:02] jazzdelightsme commented on #7700
I'm seeing very different results.

First, my first few runs of the test had wildly varying results (on PS5.1), but for the life of me I don't know why. After some experimentation I ended up with this, which gave more consistent results:

[code]
On Windows PowerShell 5.1, direct property access takes me 12-13 seconds, whereas the scriptblock takes 6-7.

On PowerShell Core 6.1.0-rc.1 (official rele

[2018-09-06 05:52] chucklu opened #7718 "Start-ResGen did not work"
Hi,
     I  have no idea about how to use Start-ResGen command.
     I find the source code in [build.psm1](https://github.com/PowerShell/PowerShell/blob/master/build.psm1#L2128)
     It seems you are using "dotnet run" with the [C# ResGen project ](https://github.com/PowerShell/PowerShell/tree/master/src/ResGen)

  When I check the source code of C# project, I find some comments in main function.

[2018-09-06 06:18] iSazonov commented on #7718
@chucklu The function is used intenally in build process to convert *.resx files to *.cs files. See "resources" folders in the repo.
You do not need to run it explicitly. Please read our docs about build process.
All you need to do is run
[code]
The script clean up your local repo, run TypeGen, ResGen and then build PowerShell in debug mode.

We use our ResGen because .Net Core doesn't still port

[2018-09-06 06:26] iSazonov commented on #7715
The parameter is not documented well :-)

[2018-09-06 06:57] iSazonov commented on #7712
@SteveL-MSFT Can you approve?

[2018-09-06 07:00] iSazonov commented on #7712
I think this should works  for `-SimpleMatch` too.

[2018-09-06 07:44] iSazonov commented on #7717
Related #2488.

@rkeithhill Please add $PSVersionTable information in the issue description for tracking a milstone.

The best way is to implement a Coloriser and use a PowerShell color scheme.

[2018-09-06 09:26] chucklu commented on #7716
@iSazonov  previously I have a batch script,which using [Al.exe (Assembly Linker)](https://docs.microsoft.com/en-us/dotnet/framework/tools/al-exe-assembly-linker) and  [Resgen.exe (Resource File Generator)](https://docs.microsoft.com/en-us/dotnet/framework/tools/resgen-exe-resource-file-generator) to **generate a file with extension .resources.dll**

Now I want to embed the file version to the .re

[2018-09-06 09:44] iSazonov commented on #7710
It is not type conversion. The multipliers is realy "multiplier" in parse time. Type conversion is done in run-time. So $($var)Kb doesn't work too.

[2018-09-06 09:56] iSazonov commented on #7716
@chucklu Framework ResGen.exe and our ResGen is different tools. Our ResGen was temporary created for the repo to _only_ build PowerShell because .Net Core doesn't support _strong type based_ resources.

If you want work with classic resources you should use `dotnet` command -  it will compile your resource files. I don't know if .Net Core support embed resources.

In any case your question is out

[2018-09-06 10:07] chucklu commented on #7716
I found an issue reported by you https://github.com/PowerShell/PowerShell/issues/2882
I have tried to use the `dotnet-resgen` command,
[code]
my dotnet core version is 2.1.401.

I am not sure if I missed some module

[2018-09-06 10:09] chucklu commented on #7718
@iSazonov  got it, thanks for your explanation in https://github.com/PowerShell/PowerShell/issues/7716

[2018-09-06 10:09] #7718 closed

[2018-09-06 10:14] chucklu commented on #7716
add the track issue for resgen msbuild project in https://github.com/Microsoft/msbuild/issues/2272

[2018-09-06 10:17] iSazonov commented on #7716
@chucklu I think `dotnet-resgen` is in `dotnet build` command.

[2018-09-06 10:32] chucklu commented on #7716
I  found you are using `dotnet msbuild /t:"ResGen"` to build a project in above issue Microsoft/msbuild#2272
It's not used to convert a .txt file to .resx file. May be I should use the framework tool

[2018-09-06 10:32] #7716 closed

[2018-09-06 10:36] chucklu commented on #7716
@iSazonov  Do you know how to add a environment path to current session? (like the import-module function in powershell)
I am not sure where the ResGen.exe and al.exe will locate,

In batch script, I import the environment path temporarily

Then I invoke the ResGen and al command, I am not sure how to make it in powershell.
Any suggestion? Thanks in advance.

[2018-09-06 10:38] chucklu commented on #4944
The problem disappeared after I upgrade the powershell to latest version.

[2018-09-06 10:38] #4944 closed

[2018-09-06 11:02] iSazonov commented on #7716
See https://stackoverflow.com/questions/714877/setting-windows-powershell-path-variable

[2018-09-06 12:32] mklement0 commented on #7713
@iSazonov: Yes, a typo, thanks - fixed.

How about we use _both_ parameter names?

I agree that `-AsString` is more descriptive in this case, but what appeals me to about `-Bare` is that it can become part of a general pattern, across different cmdlets,  where it requests output of undecorated / unwrapped objects.

[2018-09-06 12:44] pldmgg commented on #7709
Tried -SSHTransport with the same result. Also tried -UserName with just the account name as opposed to Domain\Account - same result.

One thing that did actually make a difference though (but did not ultimately solve the problem), was adding a REG_SZ String Value for DefaultShell with value "C:\Program Files\PowerShell\pwsh.exe" to `HKLM:\Software\OpenSSH\`.  (Note that, it didn't exist before).

[2018-09-06 12:46] mklement0 commented on #7704
That would be nice, but it's already not true for `pwsh-np`: As a script author, you must know to use _that_ as the executable in the shebang line in order to get predictable behavior that doesn't load `$PROFILE`.

Unfortunately, backward-compatibility concerns leaves us no choice there, so a separate executable is required.

Similarly, as stated, the end user would need to know that it's not `pws

[2018-09-06 12:46] kilasuit commented on #2708
@DarwinJS I know that it is as I use it however from what @SteveL-MSFT was saying it sounded like they were looking not to use this one and to make use of their own PowerShell Chocolately repository instead. Or at least that's how it read to me.

Perhaps would be best to see what @edyoung says on this if it would be owned by him/his team.

[2018-09-06 13:42] tjnull opened #7719 "Update Powershell to use libcurl4"
Powershell in Kali Linux 2018.3 currently requires libcurl3 to run. However, Kali is currently using libcurl4.

Other programs are currently using libcurl4 and if you downgrade to libcurl3 multiple programs including Metasploit also break as well.

Proof:
root@kali:~# apt -y install powershell
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages co

[2018-09-06 13:48] mkht commented on #7693
Confirmed NewtonSoft's [reference](https://www.newtonsoft.com/json/help/html/Properties_T_Newtonsoft_Json_JsonSerializerSettings.htm).
I think that there is no other setting that needs to be exposed.
Other handling settings such as `DateFormatHandling` can be replaced by formatting the properties of the object to be passed in advance.

If you are adding parameters for escape handling, it will be n

[2018-09-06 14:04] mklement0 commented on #7710
@iSazonov: That applies to _unquoted number literals_ such as `1gb`.

By contrast, my expression example uses a _quoted string_, where type conversion is clearly performed _at runtime_:

[code]

/cc @PetSerAl

[2018-09-06 14:09] mkht commented on #7693
Sorry, I had a misunderstanding.

Latest JSON standard (RFC 8259) requires that the `QUOTATION MARK (U+0022)` must be escaped.
But, other quotation marks such as `RIGHT SINGLE QUOTATION MARK (U+2019)` or `APOSTROPHE (U+0027)` is not required to be.
Now, I think that the default setting should be `[Newtonsoft.Json.StringEscapeHandling]::Default`.

https://tools.ietf.org/rfc/rfc8259.txt

[2018-09-06 14:11] vexx32 commented on #7710
I'm not really sure this *should* be a thing. How is PS supposed to distinguish cleanly between when you want something to cast as an integer (especially in implicit cases) and when you might want it to throw instead?

I can see that it probably *ought* to happen for strongly-typed parameters and would make sense there, but in most cases you'll call a parameter like that... just as a number: `Do-T

[2018-09-06 14:28] mklement0 commented on #7710
@vexx32:

Well, it already _is_ a thing, but only _partially_ (only in expressions), and that inconsistency prompted me to raise this issue.

Just like with any "number strings": if the context explicitly requires a _number_, try to convert the string to one.

Yes, passing a string to something that expects a number is not the typical case, but it works with all other "number strings" - namely tho

[2018-09-06 14:39] MartinSGill commented on #7715
I, personally, don't have a problem with it. I know Get-Content always returns an array of strings (at least for text files), so 'raw' to me means just the raw text, without any splitting.

[2018-09-06 14:41] massimonewsuk commented on #4605
@SteveL-MSFT Hey is there any update on this?

[2018-09-06 14:45] MartinSGill commented on #7699
Possible duplicate of https://github.com/PowerShell/PowerShell/issues/5912

[2018-09-06 14:53] mklement0 commented on #7715
Good point, but that's a separate issue:

The parameter description _in the context of the filesystem-provider-specific help topic_ is passable, but can be improved: https://github.com/PowerShell/PowerShell-Docs/issues/2697

In the _provider-independent_ help topic - the one that's discoverable far more easily - the generic description is downright misleading:

However, that, and the difficulty in

[2018-09-06 15:02] iSazonov commented on #7710
@mklement0 I mean that '1Gb' and '1d' is strings and PowerShell have to parse the strings to convert to numerics. In runtime 'Gb' and 'd' would have to be operators.

[2018-09-06 15:09] iSazonov commented on #7713
In the case it is better to enumerate in the Issue all cases where the parameter should be .

[2018-09-06 15:13] mklement0 commented on #7710
@iSazonov:

Yes, they are strings, and PowerShell converts them to numbers in _expressions_; by contrast, it doesn't do so when converting _implicitly_ during parameter binding - that is the inconsistency being discussed here.

I understand that _.NET_ (CoreCLR) doesn't know about _PowerShell's_ number-literal suffixes, but the question is whether _PowerShell_ should handle the conversion part con

[2018-09-06 15:24] p3rdu opened #7720 "PowerShell v6.0.4 hangs on second (or third) run after restart (no prompt appears, just blinking cursor)"
Steps to reproduce
------------------
Execute pwsh twice.
[code]
<img width="563" alt="screen shot 2018-09-06 at 17 10 02" src="https://user-images.githubusercontent.com/4075689/45166695-490af880-b200-11e8-99b1-46a4c92406f1.png">

Expected behavior
-----------------
The prompt should appear again?

Actual behavior
---------------

Environment data
----------------

[pwsh.trace.txt](https://github.

[2018-09-06 15:29] iSazonov commented on #7710
@mklement0 I see your point.
What about
[code]

Seems we'll have to extra steps to process this.
And then what about:
[code]
is this string operation or numeric?

[2018-09-06 15:34] mklement0 commented on #7713
@iSazonov:

I've added another example to the OP, in addition to the previous `Get-Content` (#7537 ) one.

If you can think of additional ones, do tell us.

Other than that, I think the updated OP now sufficiently establishes the case for using the name `-Bare`.

[2018-09-06 15:41] mklement0 commented on #7710
@iSazonov:

Your 1st example is already in the OP, as an example of where the conversion _doesn't_ work (_implicit_  conversion in the context of _parameter binding_).

As for the 2nd example:

`+` - unlike `/` - does _not_ perform to-number conversion, so nothing would change there:

[code]

To summarize: The only potential change being discussed here is:

Should _all contexts where PowerShell cu

[2018-09-06 16:07] mklement0 commented on #7715
@MartinSGill:

The typical connotation of _raw_ in the context of files is _uninterpreted_ (undecoded) data ("raw bytes").
(As such, you could argue that `-Raw` should be an alias of `-AsByteStream`, which is the closest thing PowerShell has to passing bytes through.)

By contrast, `-Raw` _does_ perform interpretation / decoding, namely decoding the file's bytes to _strings_ based on the file's as

[2018-09-06 16:09] cholmes1111 opened #7722 "Test-ModuleManifest doesn't work when RequiredModules are specified"
This is essentially a duplicate of closed issue [3663](https://github.com/PowerShell/PowerShell/issues/3663) which was marked as closed because while it failed in PowerShell 5.1 as the original poster commented, @SteveL-MSFT,  indicated this works in PowerShell 6. I can not get it to work in 6.0.4.

I'm unclear as to why the required modules have to be installed locally before publishing. As part

[2018-09-06 16:42] cholmes1111 commented on #7722
Another quick follow up, when installing the required modules, you'll notice that I don't specify a version I always just grab the latest. The locally installed version of the required modules does NOT have to match the version specified in the required modules section of the .psd1.

If the workflow is going to force you to have the required modules installed locally, it should additionally ensure

[2018-09-06 17:00] ThreeFive-O opened #7724 "CodeFactor: Duplicated code for argument completions attribute class"
The following attribute class can be found in several code files. CodeFactor found this as duplicated code and grades this as a severe issue.
[code]
found in
[code]

The CodeFactor grading could improve for each of the mentioned code files if the attribute class would be replaced by a single attribute class dedicated for the Encoding Conversion argument completion.
e.g.
[code]
in lieu of the above

[2018-09-06 17:15] dantraMSFT commented on #7679
The problem occurs when the environment's path already contains the Windows PowerShell module path (%windir%\system32\WindowsPowerShell\v1.0\Modules).

The current logic conditionally appends it if it is not present but doesn't consider it when adding $PSHOME\Modules.  The result is $PSHOME\Modules is added after Windows PowerShell causing built in modules to be loaded from Windows PowerShell; man

[2018-09-06 17:38] lstatie commented on #7714
Another question:
I am using VS Code v1.27.0 with Powershell extension 1.8.4. When the script is running and shows errors in the  output, There seems to be no way to stop the run so I can fix the issue.

I see a turning circle next to the word "PowerShell" and I can find no way to stop the script from running.

Is there a way to stop the script so I can edit the script and run it again?
The PowerS

[2018-09-06 17:39] lstatie commented on #7714
For some reason, rebooting my PC fixed the issue I was asking about in the previous post.
Things are working correctly now.

[2018-09-06 18:35] pldmgg commented on #7709
More information on this...still not solved, but I've narrowed down the problem to the sshd Subsystem invocation of pwsh. Still not clear whether this is a pwsh.exe or OpenSSH-Win64 problem...

The `ForceCommand pwsh.exe -NoProfile` option in my original sshd_config concealed the fact that the "successful" ssh commands were NOT in fact using Subsystem to put me in a pwsh.exe session. Instead, logs

[2018-09-06 19:35] thezim commented on #7719
PowerShell Core no longer has a dependency on libcurl #6964. What version are you trying to install with `apt`? It could be that the package is being published with a libcurl dependency when it shouldn't.

[2018-09-06 19:46] pldmgg commented on #7709
Adding more info from thread on Win32-OpenSSH: https://github.com/PowerShell/Win32-OpenSSH/issues/1244

Right now, my requirement is to use Public Cert Auth and Subsystem sshd_config such that both ssh.exe and Enter-PSSession put me in a pwsh session on the remote host.

So far, the only way I've been able to accomplish this is to:

SCENARIO 1:
Without `DefaultShell` entry in the registry, with `F

[2018-09-06 19:58] vexx32 opened #7725 "Parameter Autocomplete gets confused with complicated parameter sets"
Despite parameters being named as being in separate sets, autocomplete will still offer parameters from other named sets when the set configuration starts to get complicated. Simple parameter sets seem to work, but the logic is breaking down in more complicated scenarios.

Below is the test case I was alerted to by a user in the PS Slack channel, and could not reproduce after attempting to simplif

[2018-09-06 20:11] mi-hol commented on #7687
@SteveL-MSFT while I understand the reasoning for a 'low tech' text-only solution, I had actually hoped for a 'high tech' solution.
PlatyPS's schema looked to me like a great starting point
´´´´
schema: 2.0.0
external help file: {file name for `New-ExternalHelp`}.xml
´´´´

[2018-09-06 20:11] BrucePay commented on #7713
@mklement0 We already have `-Raw` as _the_ pattern for undecorated output  (though we only have one instance of it) so there is no need to add a random new parameter pattern here. But I also don't think `-Raw` is appropriate as `MatchInfo` is concrete type, not a decorated object that can be cored (i.e. not a `PSObject` with note properties.) @iSazonovI I like `-AsString` since it's more informati

[2018-09-06 20:28] #7725 closed

[2018-09-06 20:32] vexx32 commented on #7725
Oops, I see the error now. :)

[2018-09-06 20:34] mklement0 commented on #7713
@BrucePay:

As for the parameter _name_:

If you're referring to `Get-Content -Raw`: it does _not_ provide undecorated output, it just reads the file as a whole - the resulting single string still has ETS properties.

The only other instance of `-Raw` I could find is on `Format-Hex`, which is currently undocumented, and it's unclear to me what it does.

I therefore consider `-Raw` "skunked" and `-

[2018-09-06 21:10] mklement0 commented on #7722
@cholmes1111:

Good point about not enforcing the version; that bug has already been reported: #7495

That same report, created by @rjmholt, also suggests the following enhancement, which addresses your main issue:

Note that this means that the default behavior would remain as-is (except for the need to fix the version bug), and that performing a test for mere well-formedness would be _opt-in_.

[2018-09-06 21:16] BrucePay commented on #7715
@mklement0 "Raw" in this context means, "undecorated", "not cooked", etc. This is the parameter that the PowerShell team has chosen for this purpose. We could have chosen a different parameter but we did not. Some people will complain that it doesn't mean the right thing to them. That's fine. No matter what we choose, this will always be the case because different people have different perspective

[2018-09-06 21:28] mklement0 commented on #7715
@BrucePay:

That would be fine, except, [as previously stated](https://github.com/PowerShell/PowerShell/issues/7713#issuecomment-419231976), _that is not what `-Raw` actually does_:

* It still decorates its (one) output string.
* All it does is change the _units_ of data being read from _lines_ (by default) to _the whole file_.

In other words:

* The reality of the switch does not align with the

[2018-09-06 21:53] tjnull commented on #7719
powershell 6.0.4-1.debian.9 amd64

[2018-09-06 22:04] BrucePay commented on #7713
@mklement0  Thanks for pointing out the link issue, it should be fixed now.

There are no wrappers for `MatchInfo`, that is, no `PSObject` extended properties to bypass.  `MatchInfo` is the result type of `Select-String` just line a `RegularExpressions.Match`. is the result type of `[regex]::Match()`. The match object does contain the string, but it also contains all of the context information.

I

[2018-09-06 22:16] BrucePay commented on #7715
As I said, people will have different opinions on how whatever term we choose should be interpreted. Breaking the text into strings can be viewed as "cooking"  and thus `-Raw` should return a single string.

We've never actually deprecated anything and aren't likely to do so anytime soon.

[2018-09-06 22:28] HumanEquivalentUnit commented on #7707
@iSazonov A PR for the HashSet looks fun; a PR for merging the code of three cmdlets, without breaking backwards compatibility, looks scary and probably too big for my skills.

(How does `Group-Object` fit into this?)

[2018-09-06 22:31] hurricanehrndz commented on #3708
Can confirm this solution works on ubuntu 18.04 with the latest preview, the exact install command was as follows:
[code]
Although the packages are installed and work with the deb version, it doesn't work with the snap version.

[2018-09-06 22:57] DHowett commented on #7694
This is likely because you’re using “Raster Fonts”. Don’t do that, and you’ll get high DPI support.

[2018-09-06 23:01] DHowett commented on #7648
The ability to see the attributes for hiberfil.sys should be gated on the traversal and read attributes on its parent folder.

That it is not suggests that powershell is opening files as it enumerates them.

Why is powershell doing that? Is that the actual bug here?

[2018-09-06 23:09] pldmgg commented on #7709
Closing and reopening under a new issue because info here is too difficult to digest.

[2018-09-06 23:09] #7709 closed

[2018-09-06 23:11] pldmgg opened #7728 "SSH Between 2 Windows Machines Using pwsh.exe and OpenSSH-Win64 with SSH Cert Auth"
# Goal:

Enter an interactive pwsh.exe session on a (Windows) Remote Host using SSH Public Cert Authentication using BOTH ssh.exe AND pwsh.exe `*-PSSession` cmdlets

# Requirements:

- SSH Client must be on a Windows OS
- SSHD Server must be on a Windows OS
- SSH Cert Authentication must be used
- The `Subsystem` sshd_config option must be used
- The `ForceCommand` sshd_config option must NOT be u

[2018-09-06 23:13] thezim commented on #7719
There is [no](https://github.com/PowerShell/PowerShell/blob/2edbe70548f6e2e38112526ff063045251893fbd/tools/packaging/packaging.psm1#L1025) direct dependency on libcurl but there may exist a sub-dependency. Perhaps you can try using [this](https://unix.stackexchange.com/questions/86387/output-visual-ascii-debian-dependency-tree-to-terminal) to find where it is at.

[2018-09-07 00:14] SteveL-MSFT commented on #7679
Talked to @dantraMSFT, this seems more of an advanced use case than a common case for most users.  If the fix comes in and is low risk, we can consider for 6.1 GA, but it's not a blocker for GA.

[2018-09-07 00:35] dantraMSFT commented on #7679
@SteveL-MSFT: The proposed fix and test are here: https://github.com/PowerShell/PowerShell/pull/7727

[2018-09-07 00:53] mklement0 commented on #7713
@BrucePay:

What I meant by _wrapper_ in this context: the core data of interest - the _matching lines_ - are wrapped in a helper type (`MatchInfo`) whose purpose is to  provide _context_.

Often there is no need for that wrapper, hence this proposal.

---

A primary benefit of the pipeline is _memory-throttling_.

You forfeit that benefit if you use the `-match` operator and - to a lesser degree,

[2018-09-07 01:12] SteveL-MSFT commented on #4605
@TravisEz13 is looking at this, however, it's currently a lower priority than preparing for the GA release.  Although we have updated the tooling to build PowerShell Core on Alpine, it wasn't complete as it didn't do a module restore and thus the resulting Alpine package didn't have any modules even though the engine/console worked.  Travis has an idea on how to resolve this.

[2018-09-07 01:17] mklement0 commented on #7715
[That genie is already out of the bottle](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-modulemanifest?view=powershell-6):

---

You yourself noticed the problem with `-Raw` int the context of #7537: https://github.com/PowerShell/PowerShell/issues/7537#issuecomment-413461691

Since this discussion has now broadened in scope, let me reiterate and expand on what I

[2018-09-07 02:37] DubbySlashy opened #7730 "Add PowerShell Core to the Microsoft Store"
This way, PowerShell Core can be updated automatically and can be used on Windows 10 in S mode.

[2018-09-07 03:30] chucklu commented on #7716
@iSazonov  thanks

[2018-09-07 03:47] iSazonov commented on #7704
Modern devices is locked - owners haven't root permissions. Corporate users too. Special devices (net devices, storage systems and so in) is locked too. Only a manufacturer configure the device. Or there is a config tools. Or installer. If user has a root permission one is high quality professional user. On windows systems we traditionally have GUI that helps eliminate errors in the configuration.

[2018-09-07 03:57] iSazonov commented on #7707
@HumanEquivalentUnit Yes, there maybe we have to refactor a lot of code. I hope @powercode  will have the inspiration for this. :-)

I've been watching this code for a long time. It seems that there are useful comments in OrderObjectBase.cs.

[2018-09-07 03:58] mklement0 commented on #7704
@iSazonov:

Honestly, I have no idea what your first paragraph is talking about and how it relates to this discussion.

As for the second paragraph:

As an aside: No, POSIX comprises a _specification_ for a shell, whose executable is `/bin/sh`. Bash is a POSIX-_like_ shell, but even when you run it in POSIX compatibility mode it isn't fully POSIX-compliant.

And implementing `-l` / `--login` as qu

[2018-09-07 04:55] #7694 closed

[2018-09-07 05:58] iSazonov commented on #7715
We have too many such discussions without a conclusion.
I think PowerShell Committee can consider this - should we replace `-Raw` with `-Bare` (as alias) or Won't fix?

[2018-09-07 05:59] powercode commented on #7713
I have done some profiling on Select-String, and the massive hit is creating strings for all lines of every file. This also limits the gains of parallelizing Select-String, since it dies the GC death. (spending half it's time on GC).

@BrucePay is correct that the allocation of `MatchInfo`s is a microscopic part of the runtime.

I've opened an issue on .net core, regarding span based alternatives

[2018-09-07 06:02] iSazonov commented on #7713
Please add reference on the issue.

[2018-09-07 06:08] iSazonov commented on #7713
I think we can exclude "performance" from considiration in the Issue and look only on "convenience and performance".

So suggestion is to add new switch parameter to output string results not MatchInfo objects. Name can be `-Raw` or `-AsString`. It is a question for PowerShell Committee.

[2018-09-07 06:10] mklement0 commented on #7715
@iSazonov: To be clear: `-Bare`  is _not_ the right (alias) name for the current `-Raw` switch. As proposed in the OP, something like `-Whole` would make sense.

Deprecating `-Raw` in favor of something more descriptive such as `-Whole` would clear the way for use of `-Bare`  with the semantics described above, and `-Bare` would then become a _new_ switch in the context of `Get-Content`, for reque

[2018-09-07 06:11] iSazonov commented on #7710
It is a question for PowerShell Committee.

[2018-09-07 06:32] iSazonov commented on #7704
@mklement0 Thanks for great discussion!

Yes, adding '-l' we resolve the Issue with VS Code.
My main fear was and is that with getting '-l' users will expect that we implementfully fully functional login shell. So first of all we need to create RFC and describe all shell modes. This will allow Community to use PowerShell in the standard way.

It is a question for PowerShell Committee.

[2018-09-07 07:12] iSazonov commented on #7648
The files (pagefile.sys, hiberfil.sys, swapfile.sys) is locked by system and CoreFX can not read attributes of the files. We already get a CoreFX fix for Windows but it turned out that Unix code is also subject to this problem. It is my understanding the problem.

[2018-09-07 07:34] iSazonov commented on #7719
I can confirm that currently CoreFX (and PowerShell Core) doesn't depend on curl.

[2018-09-07 07:36] iSazonov commented on #7720
What terminal do you use?

[2018-09-07 07:38] p3rdu commented on #7720
MATE Terminal 1.16.3

[2018-09-07 07:38] iSazonov commented on #7724
@ThreeFive-O Feel free to offer PR.

[2018-09-07 07:42] iSazonov commented on #7720
You could try `TERM=xterm pwsh`.

[2018-09-07 07:44] iSazonov commented on #7730
/cc @joeyaiello @SteveL-MSFT

[2018-09-07 07:47] p3rdu commented on #7720
Issue still persists.

On 7 Sep 2018, at 10.43, Ilya <notifications@github.com<mailto:notifications@github.com>> wrote:

TERM=xterm pwsh

[2018-09-07 10:42] HumanEquivalentUnit opened #7733 "Autocomplete parameter name request - please show the name for the positionally bound thing immediately right of the cursor"
Write `Get-Content 'file.txt'`, put the cursor left of the filename, try to autocomplete the `-Path` parameter name; it's not in the list.

[code]

I don't want all the parameter names shown all the time, removing ones which have been used is really useful .. but if it could show the name for whichever parameter is just right next to the cursor and has been bound positionally, that would also be r

[2018-09-07 10:47] abeham opened #7734 "Encoding issue in handling output of git diff"
Before dismissing this as a potential issue with git and not with powershell, please read to the end.

Steps to reproduce
------------------

Create an empty git repository (git 2.21.0.windows.1) and put a file there that contains german umlauts, e.g. ä

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

The the

[2018-09-07 11:05] vexx32 commented on #7733
I am constantly running into this is vs code. It'd be nice to have it be a little more sensible here.

Honestly, I feel as though even just only filtering out already-named parameters would be sufficient. Even if it just listed all the positionally bound ones regardless of where they were, it'd be a huge improvement... But if it could be this sensible, it'd be great!

[2018-09-07 11:11] pv2b commented on #7730
Windows 10 in S mode doesn't run Powershell by design. https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-10-s-planning#what-is-blocked-in-windows-10-s

That said, why not for the rest of the world that doesn't run Windows 10 S?

[2018-09-07 11:14] vexx32 commented on #7730
Aye. If there's an issue with it being there for Windows S, surely it can just be listed as incompatible or something, or just run in constrained language only if run on Windows S.

Having it on the Store would be a great addition, giving it a supporting framework for delivering updates without a great deal of extra work... Assuming getting it on the store at all isn't an insane amount of work :)

[2018-09-07 12:59] vexx32 commented on #3182
Would it be insensible to have it at the largest possible value, and retain the default max depth setting according to the *parameter* of the cmdlet, which is by default only 2 (as I recall)?

[2018-09-07 13:06] PCSIT commented on #7733
I'd like to see the auto complete list to include all unless the parameter is already explicitly named.

[2018-09-07 13:07] thegooddoctorgonzo commented on #7733
I'd like to see the auto complete list to include all unless the parameter is already explicitly named.

[2018-09-07 13:52] iSazonov commented on #3182
Good point @vexx32

[2018-09-07 14:15] pldmgg commented on #7728
From /u/ainesophaur on reddit (https://www.reddit.com/r/PowerShell/comments/9doeqm/has_anyone_successfully_been_able_to_get_to_an/)

"There's a github issue about this and ultimately it was stated that authing by key pair will not grant you a kerberos session.. So you're then unable to do remote powershell using kerberos or negotiate auth. Your options are to either sign in with username and passw

[2018-09-07 14:53] iSazonov commented on #7733
I can repo in Windows PowerShell but can not in PowerShell Core.

[2018-09-07 14:55] vexx32 commented on #7733
See below (this is PS Core 6.1 RC1)
![image](https://user-images.githubusercontent.com/32407840/45226307-81f0af00-b28c-11e8-8885-2809bd826b6b.png)

[2018-09-07 14:59] felixfbecker opened #7735 "DefaultParameterValues not assigned to fakeBoundParameter in ArgumentCompleter"
Steps to reproduce
------------------

Consider API client functions like this:

[code]

And you want to write an argument completer like this:
[code]

Now, as a user, I don't want to pass `-Token` everytime I call these functions, so I add this to my profile.ps1:
[code]

Expected behavior
-----------------

When invoking completion for `Get-GitHubIssue -Repository`, the `Token` parameter should b

[2018-09-07 15:10] vexx32 commented on #7735
Does that not require `[CmdletBinding()]` to be set in the functions? I was under the impression that that was a requirement for that to bind correctly.

[2018-09-07 15:18] felixfbecker commented on #7735
@vexx32 you are right, the docs say that:

However, even if all the functions use `CmdletBinding()`, the parameter does not get filled.

[2018-09-07 16:08] Stephanevg opened #7736 "When powershell class method has same name as property, the property disapear and is not accessible from any instance"
Hi,

When I have a powershell class, that has a method with the same name as one of it's properties, then the property disapear, and is not visible on any of the instances.

See examples below.

Steps to reproduce
------------------

[code]

When looking using Get-Member, we can see that the property $IsPresent disapeared, but that method is still there:

[code]

Expected behavior
----------------

[2018-09-07 16:14] vexx32 commented on #7736
That probably shouldn't be allowed... I think?

But if this arises, you should be able to access the property with `$Object.PSObject.Properties.Where{$_.Name -eq 'PropertyName'}.Value`

[2018-09-07 17:03] bergmeister commented on #7735
@felixfbecker
In general, you couls create a so called proxy function to add your own defaults to  certain functions:
https://blogs.technet.microsoft.com/heyscriptingguy/2011/03/01/proxy-functions-spice-up-your-powershell-core-cmdlets/

[2018-09-07 17:30] SteveL-MSFT commented on #3182
It seems ok to me to not set the default (which is null) as long as we add a parameter so the user can specify a maxdepth.

cc @TravisEz13

[2018-09-07 18:01] BrucePay commented on #7715
@mklement0

And yet it's still there in version 6, both as a parameter alias and mentioned in the .psd1 file:
[code]
Deprecated implies "don't use, will be removed at some future time". We don't do this. What we do is deemphasize things.

In this specific case, "RootModule" is semantically much stronger than "ModuleToProcess". There is a clear semantic advantage in using one term over the other wh

[2018-09-07 18:13] rkeithhill commented on #7687
I was really hoping that after the 6.1 GA release, all we had to do to install PS Core on Ubuntu was simply execute:
[code]
Has there been any progress on getting PS Core into the official Canonical apt repo?

[2018-09-07 18:16] freeone3000 opened #7737 "Ubuntu 18.04 Bionic - move libicu55 to libicu57"
For Ubuntu 18.04 LTS, the powershell deb dependency should be on libicu57 instead of libicu55 as it was on Xenial.

[2018-09-07 18:19] HumanEquivalentUnit commented on #7733
With 6.1.0-rc.1 on Server 2016 it reproduces for me; interestingly:

 - If I type `-{ctrl-space}` to see the menu, `-Path` is not there
 - If I type `-{tab}` to cycle through the options, `-Path` is not there
 - If I type `-Pa{tab}` it *will* autocomplete to `-Path`

[2018-09-07 18:26] vexx32 commented on #7733
Yep, looks like the code paths change if you start to specify some of the name. Entering `-P{ctrl-space}` shows -Path as an option as well.

[2018-09-07 18:30] SteveL-MSFT commented on #7256
@bergmeister I think the default should stay as machine wide, but if we can add the radio button option for a user install thus not requiring elevation, that would be great.

[2018-09-07 18:32] SteveL-MSFT commented on #7118
@HemantMahawar is this still an issue?  I don't think we want to use `-SkipNetworkProfileCheck`.

[2018-09-07 18:35] vexx32 commented on #7715
I would be in favour of leaving `-Raw` as an alias and changing the name to `-Bare`

I'd potentially be in favour of using `-Bytes` as a switch to specify to retrieve the bytes in the file per line, which could operate hand in hand with a `-Whole` switch to read the bytes of the entire file (or just flat out always read all bytes in the file indiscriminately).

[2018-09-07 19:00] hurricanehrndz commented on #7314
I have this same issue, and definitely going through an IPS. To add though, it seems like 6.0.4 works without issue. I'm just testing against the releases url as well.

[2018-09-07 19:20] hurricanehrndz opened #7738 "Issues with Invoke-WebRequest and preview 1"
Seem to have tls issues in version 6.1 rc1 when I did not have issues on 6.0.4

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------
Ubuntu 18.04.1, snap install(powershell,powershell-preview) Cisco IPS firepower

[code]

Just to add as workarounds I have tried using `SslProtocol Tls12

[2018-09-07 21:36] copdips commented on #7581
hello Powershell team,

Could you please take a look, I don't need to implement the feature, I would like to know why it doesn't work.

Not only Python REPL doesn't work over PS remote, many other widely used command line tools work well locally, but not over PS remote. Or sometime, it works but their outputs are shown in red, which seems to be considered as an error message.

[2018-09-07 22:32] SteveL-MSFT commented on #7687
@rkeithhill Getting into an official repo essentially means that distro has accepted the responsibility of maintaining and servicing a fork of your code in their code base.  This is why different distros have different versions of some common utilities and they don't necessarily always move to the latest version.  On the other hand, we do publish to the Snap store which shifts the maintenance of t

[2018-09-07 22:59] normj opened #7739 "Unable to Add-Type when hosting with Microsoft.PowerShell.SDK NuGet package"
Steps to reproduce
------------------

When I run the following C# .NET Core 2.1 code which hosts the PowerShell runtime the new type fails to be created. In my example I'm trying to create a .NET exception class to throw but I get the same error for any type I try to add via the hosting package.

[code]

Expected behavior
-----------------

The new exception type is created.

Actual behavior
----

[2018-09-07 23:18] dantraMSFT opened #7740 "ObjectDisposedException attempting to Remove-PSSession an SSH-Based PSSession"
I have a remoting test from Linux to Windows Server 2016 that connects using PubKeyAuthentication, Copies a File to the target using Copy-Item, the tests for the file's existence using Invoke-Command.

I'm finding this test randomly fails (30-40% of the time) with an ObjectDisposedException when calling Remove-PSSession on the outbound session.

Message: "Cannot access a closed file."

The stack t

[2018-09-08 00:33] TravisEz13 commented on #4605
I have a PR here https://github.com/PowerShell/PowerShell-Docker/pull/37 for the docker image.

There are two issues:

1. The version is `6.1.0-fixalpine` . The code is the same as `6.1.0-rc.1` but there were some build issues, and this is what our build system does when you build from a private branch.
1. There are some rendering issues in the console (see image below.) You can avoid these issues

[2018-09-08 12:31] SeeminglyScience opened #7743 "PSCreateInstanceBinder does not appear to utilize adapter cache"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The binder would use the cached `ConstructorInfo` stored in the `MethodInformation` for the best matching overload.

Note: The `DotNetAdapter` does already contain an entry for `new` with the correct `MethodInformation` objects in `DotNetAdapter.staticMethodCacheTable`.

Actual behavior
---------------

The binder

[2018-09-08 15:58] felixfbecker opened #7744 "OSC sequences count into wrapping/truncation limits"
`ESC` `]` aka `OSC` (operation system control) sequences are used in terminals to control things like the terminal window, or insert hyperlinks.

From wikipedia:

The sequence is followed by plain characters and terminated by `ST`/`BEL`. The plain characters are not shown to the user, they are interpreted by the terminal, therefor they should not be considered for line wrapping or truncation, but

[2018-09-08 17:54] chuanjiao10 commented on #7730
Should A key upgrade,or automatic silent upgrade, .NET framework and powershell 6 on windows  #5490

[2018-09-08 18:03] chuanjiao10 commented on #7714
![win linux ps1](https://user-images.githubusercontent.com/8968667/45257155-1e719900-b3d4-11e8-909b-de1abd8d4c37.jpg)

how to use windows + vscode + sftp plugin ,edit ps1 files ,
when sava,sync ps1 files,txt files ...

[2018-09-08 18:12] chuanjiao10 commented on #7720
remove $profile
remove powershell,
then reinstall ？

[2018-09-08 18:27] iSazonov commented on #3182
@louistio Do you want to start contribute in the repo? :-) Fixing the Issue is best for start.

[2018-09-08 18:33] iSazonov commented on #7733
In my test I haven't PSReadline loaded and I see `-Path` if I type `-{tab}`. With PSReadline loaded the problem is present.

[2018-09-08 19:28] iSazonov commented on #7715
@BrucePay We have dozens of useful discussions without a conclusion. As a result, these discussions remain useless. This conclusion can only be made by experts like you. And they are all on the PowerShell committee :-)

[2018-09-08 19:42] iSazonov commented on #2349
@daxian-dbw Could you please look my previous comment? Seems we could remove the dead code.

[2018-09-08 19:45] SeeminglyScience commented on #7733
Here's an easier repro that should be the same across profiles as long as you don't have a custom `TabExpansion2` function loaded.  Tested in 6.1.0-rc1 Windows

[code]

[2018-09-09 00:14] jzabroski commented on #6818
I believe I have run into this issue on PowerShell v5 and I don't think it's a recent regression. I think it's been buggy since PowerShell v2.

The crux of the problem is the C# code inherits from ModuleCmdletsBase class, which is apparently stateful.

See my bug report in Powershellget here https://github.com/PowerShell/PowerShellGet/issues/321#issuecomment-419614919

Suffice to say, this could b

[2018-09-09 02:16] guhuajun commented on #1908
@SteveL-MSFT

Following command will be broken due to this issue.
docker save microsoft/windowsservercore:ltsc2016 > msft_wsc_ltsc2016.tar

You have to use docker save -o instead.

[2018-09-09 03:17] bmanikm commented on #3986
This issue got resolved in PowerShellGet with https://github.com/PowerShell/PowerShellGet/pull/313.

[2018-09-09 03:17] #3986 closed

[2018-09-09 09:32] cashbea commented on #7719
powershell 6.0.4 still depends on it at kali linux 18.2.

[2018-09-09 13:50] mklement0 commented on #7715
@BrucePay:

Understood - we were just using different words: **Deemphasizing was exactly what I was proposing in this case**, which, in addition to _documenting_ the better name prominently, would also require making `-Raw` the _alias_ and `-Bare` the new parameter name proper, so that the syntax diagrams show the new name.

The advantage here lies not in finding a more descriptive name (though I

[2018-09-09 13:59] mklement0 commented on #7715
@vexx32:

We already have `-AsByteStream` (which used to be `-Encoding Byte` and still is in Windows PowerShell), and by default it already does read the entire file (`-Whole` is implied, if you will).

While you can't read bytes _line by line_, doing so is probably not the typical use case for reading bytes.

You can, however, specify how many bytes to read (`-TotalCount`) and/or partition bytes

[2018-09-09 16:16] filiphhh commented on #6173
I would like to add that unlike theskipsters set up, I am connecting to an on-prem Exchange 2016 and not Office365, while I am sure their similar I'd imagine their still quite different in their setups.

I can connect to the server using regular powershell sessions just not to the Exchange Shell.

[2018-09-09 16:40] pldmgg commented on #7728
The discussion over here...

https://github.com/PowerShell/Win32-OpenSSH/issues/1246

...has led me to believe that this is not a Kerberos issue.

Here's more information.

### Using Password Auth

sshd Logs...
https://gist.github.com/pldmgg/2b675389975c19d27ea17cc7da14e52e

On the client side, it just hangs...
[code]

### Using SSH (RSA) Cert Auth:

sshd Logs...
https://gist.github.com/pldmgg/c01

[2018-09-10 03:38] iSazonov commented on #7719
@cashbea Kali distributive is out of the repo. It is supported by Kali community.

[2018-09-10 05:41] iSazonov commented on #7739
@normj Could you output full `ps.InvocationStateInfo.Reason` ?

[2018-09-10 05:46] iSazonov commented on #7737
@freeone3000 Could you please add more information? What PowerShell Core version do you use?

I see that currently we set the dependence to `libicu60` for 18.04.

/cc @rjmholt

[2018-09-10 05:50] iSazonov commented on #7738
@hurricanehrndz Could you please check without snap?

[2018-09-10 05:52] iSazonov commented on #7736
@Stephanevg I don't see "Steps to reproduce".

[2018-09-10 10:53] shrikantjoshi007 opened #7748 "While adding certificate to store security warning get cancelled automatically in PowerShell core 6.0.4"
Environment :
In PS core version 6.0.4 on Server 2016
---------------------------------------------------------------------------------
Issue Details :

Trying to import certificate using below code

OpenFlags = [System.Security.Cryptography.X509Certificates.OpenFlags]
$store = new-object system.security.cryptography.X509Certificates.X509Store -argumentlist "Root","CurrentUser"
 $Store.Open($OpenF

[2018-09-10 10:56] tjnull commented on #7719
@iSazonov So since libcurl is not a dependency in powershell? Why does the dependency still appear in the latest version of powershell when I try to install it? Just curious :D

[2018-09-10 11:45] hurricanehrndz commented on #7738
Different issue, which there is already a bug opened against lxd.

On Sun, Sep 9, 2018, 11:50 PM Ilya <notifications@github.com> wrote:

[2018-09-10 11:47] rhertzog commented on #7719
@iSazonov Then the powershell Debian repositories have not been updated accordingly:
[code]

The dependency on libcurl3 is there...

[2018-09-10 12:26] felixfbecker commented on #7744
@iSazonov why is this `Issue-Discussion` and not `Issue-Bug`?

[2018-09-10 12:28] iSazonov commented on #7738
Please add a reference to the issue in lxd.

[2018-09-10 12:34] felixfbecker commented on #6788
I am working on XSDs for Format and Types.ps1xml files:

![image](https://user-images.githubusercontent.com/10532611/45297479-cdfa5880-b505-11e8-88d4-20cf464532f8.png)

This is with the [vscode-xml](https://github.com/redhat-developer/vscode-xml) extension.
Schemas are here: https://github.com/felixfbecker/PowerShellXSD

I currently just autogenerated this schema from the Format file in that repo.

[2018-09-10 12:49] felixfbecker opened #7749 "Improve authoring experience for Format.ps1xml and Types.ps1xml files"
The Format.ps1xml and Types.ps1xml system in PowerShell is incredibly powerful. It's awesome how we can output objects, then totally separate from that define how these should be displayed in similar ways to how UIs are declared in XAML or JSX.

However, authoring these files is incredibly frustrating. There is no autocompletion, hovers or validation for these files in your editor. The [reference

[2018-09-10 12:51] felixfbecker commented on #6788
Filed https://github.com/PowerShell/PowerShell/issues/7749 to track work on schemas

[2018-09-10 12:52] felixfbecker commented on #5983
@iSazonov shouldn't this be `Issue-Bug`?

[2018-09-10 13:17] iSazonov commented on #5983
@felixfbecker We need more info. Currently PowerShell works with a console in simplest way or "as is". I guess there is tons of things which we would want to improve on Linux and MacOs..

[2018-09-10 13:18] felixfbecker commented on #5983
What additional info can I provide?

[2018-09-10 13:33] felixfbecker commented on #7744
I would bet the issue also happens in Linux, did you try a VM? I am almost certain it's caused by the escapes, because the point where truncation occurs is in direct relation to how long the link text inside the escape sequence is.
Builds are run on macOS/Linux, right? If there are unit tests for the truncation behaviour, maybe it would be possible to write a failing test?

[2018-09-10 14:30] iSazonov commented on #7744
@rjmholt Have you time to look the Issue on Linux/MacOs? Does escapes really affect?

[2018-09-10 14:32] iSazonov commented on #7738
@SteveL-MSFT Is the Issue important for 6.1 GA?

[2018-09-10 15:29] tjnull commented on #7719
I have tested the installations for the following packages in:
https://packages.microsoft.com/repos/microsoft-debian-stretch-prod/pool/main/p/
https://packages.microsoft.com/repos/microsoft-debian-jessie-prod/pool/main/p/

Here are the results from both packages that are compatible for debian:

All of the packages contained in Powershell require libcurl3 (Both for jessie and stretch).

The package

[2018-09-10 16:16] lonelybologna commented on #6008
I think this has to do with SxS and hardlinks for updated system files.

[code]

Ran this to get the Target info

[code]

Which is what we were looking for, and matches the GUI.
This gave us the results we were looking for
[code]

[2018-09-10 16:28] SteveL-MSFT commented on #7719
PSCore6.0.x depends on .NET Core 2.0.x which DOES depend on libcurl.  PSCore6.1 depends on .NET Core 2.1.x which does NOT depend on libcurl.

[2018-09-10 16:53] iSazonov commented on #7719
@SteveL-MSFT Thanks, I skipped that fact about 6.0.

@tjnull Preview execution file is pwsh-preview not pwsh.

[2018-09-10 17:02] SteveL-MSFT commented on #7738
I just tried this on 18.04.  Starting with (I think), Preview.4 you need to use `pwsh-preview` with the pre-release versions.

[2018-09-10 17:18] hurricanehrndz commented on #7738
@SteveL-MSFT

Did it work for you? Because I tried with the following snap without success.
[code]

[2018-09-10 17:29] dantraMSFT commented on #7460
Fixed by https://github.com/PowerShell/PowerShell/pull/7449

[2018-09-10 17:29] #7460 closed

[2018-09-10 17:31] tjnull commented on #7719
@iSazonov Thanks for letting me know. I will re-run the tests with pwsh-preview for the powershell preview packages for Stretch and Jessie on Kali.

[2018-09-10 17:38] SteveL-MSFT commented on #7738
I believe the snap doesn't support pwsh-preview yet.  @TravisEz13 ?

[2018-09-10 17:45] adityapatwardhan opened #7750 "Add tests for framework dependent package"
Add tests to validate package generated by #7729. The package must be built and then installed on a machine having the dotnet runtime installed. Then `dotnet ` should be called on `pwsh.dll` that is built.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Environment data
----------------

[code]

[2018-09-10 17:49] anmenaga commented on #7750
This is essentially another config in package validation tests that we need to add. I'll assign this to myself.

[2018-09-10 17:53] iSazonov commented on #7736
@Stephanevg Thanks for the update.

Seems we already have a similar registered Issue.
We have plans to enhance class support in PowerShell Core and I believe the issue could be fixed too.

[2018-09-10 17:56] dantraMSFT commented on #7728
@pldmgg I've been using Server->Server with OpenSSH regularly for the last few weeks; the target is Server 2016 so I've installed OpenSSH there and also PowerShell RC-1.
Here's an example:

$session = New-PSSession -HostName mytargetserver -UserName testuser -KeyFilePath ~\.ssh\testuserprivatekey

On the target system, I have the following configuration:

* sshd_config

[code]
%username%\.ssh

I s

[2018-09-10 17:58] #7679 closed

[2018-09-10 18:00] vexx32 commented on #7736
FWIW this will also occur with other similar situations. For example, adding a key named `"keys"` to a hashtable will prevent listing the keys unless you go into `.PSObject.Base.Keys` or some such.

It's a generic issue with the binder, I'd say, honestly; there needs to be a robust method of specifying a *property* in cases like these.

[2018-09-10 18:16] edyoung commented on #6173
fyi @raghushantha

[2018-09-10 18:53] freeone3000 commented on #7737
Proper package was powershell-preview, the powershell package was for
xenial, not bionic. Thanks for looking into this.

On Mon, Sep 10, 2018, 2:24 PM Robert Holt, <notifications@github.com> wrote:

[2018-09-10 18:58] hurricanehrndz commented on #7738
Snap does support preview, in face rc1 has been published. You can
install via snap install powershell-preview.
https://snapcraft.io/powershell-preview
On Mon, Sep 10, 2018 at 11:40 AM Steve Lee <notifications@github.com> wrote:

--
Regards,

Carlos Hernandez

[2018-09-10 19:31] #7740 closed

[2018-09-10 19:44] neel015 commented on #7252
Using a pre-release version of powershell core 6.1 and facing  a similar issue. Is there some documentation which I can refer to regarding ssh-ing into Linux using C# and powershell. I can use powershell to start a new-pssession and a ssh key file path with host and user names. But when I try to invoke the same script using the [Powershell Core SDK ](https://www.nuget.org/packages/Microsoft.PowerS

[2018-09-10 20:27] TravisEz13 commented on #7738
Thanks for answering @hurricanehrndz

[2018-09-10 20:33] TravisEz13 commented on #7738
I verified the `powershell-preview` snap works in Ubuntu 18.04 image from [multipass](https://github.com/CanonicalLtd/multipass)

Our snap page links to https://docs.microsoft.com/en-us/powershell/scripting/powershell-core-support?view=powershell-6 which says that 18.04 is not supproted for 6.0, but is for 6.1.

Hope this helps

[2018-09-10 20:42] hurricanehrndz commented on #7738
@TravisEz13  some I'm left thinking this is a cisco issue with the ips.

[2018-09-10 20:44] TravisEz13 commented on #7737
Sounds like your question was answered.  Please reopen if that is not correct.

[2018-09-10 20:44] #7737 closed

[2018-09-10 20:44] hurricanehrndz commented on #7738
@TravisEz13 ,

you are correct. I tried from home and it seems to work fine. Very interesting. I'm not sure why 6.0.4 did not have this issue with the IPS.

[2018-09-10 22:13] daxian-dbw commented on #2349
@iSazonov Will look at the uses of those native APIs again.

[2018-09-10 22:18] cspotcode opened #7753 "Cannot override DefaultCommandPrefix with empty prefix"
I can't figure out how to import a module without a command prefix, when the module's manifest specified a `DefaultCommandPrefix`.  Passing the empty string to `Import-Module -Prefix` does not work.  I also tried passing `[string]::empty`.

Steps to reproduce
------------------

Create the following script module.
[code]

[code]

[code]

Expected behavior
-----------------

[code]

Actual behavior

[2018-09-10 22:35] cspotcode commented on #7753
This might be the culprit, but I've barely scratched the surface of Import-Module's code, so I'm sure there's a lot I'm missing.

https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Modules/ModuleCmdletBase.cs#L6928

[2018-09-11 00:59] felixfbecker commented on #7338
Imo the VT encoded string should not be exposed at all. Colorising is a formatting concern, and formatting belongs into Format.ps1xml files, not into pipeline objects and properties.

[2018-09-11 04:03] iSazonov opened #7755 "Use PATHEXT env var on Unix"
On Windows PowerShell Core use file extentions from PATHEXT env variable to run the file as executable.
On Unix we ignore `PATHEXT` but it can be useful. (See #7697.)

From https://github.com/PowerShell/PowerShell/pull/7697#issuecomment-418901923

[2018-09-11 04:05] iSazonov commented on #7755
@mklement0 Is it possile to implement this on Linux and MacOs in a standard way or shebang is single option?

[2018-09-11 04:13] iSazonov commented on #7738
I see nothing that we can fix so close the Issue.

@hurricanehrndz Thanks for your contribution!

[2018-09-11 04:13] #7738 closed

[2018-09-11 04:26] #7724 closed

[2018-09-11 04:29] #7592 closed

[2018-09-11 04:41] iSazonov commented on #7252
@PaulHigin Could you please comment the Issue?

[2018-09-11 04:49] iSazonov commented on #7736
@rjmholt I think make sense add the Issue in your check list for classes.

[2018-09-11 07:00] f0rt opened #7756 "PowerShell shows a prompt when importing signed module: "Do you want to run software from this untrusted publisher?""
Team,
I'm importing a module developed by our team signed with a valid certificate and I get this message when importing:

When I inspect the certificate I see the following information:
- Certificate status: "This certificate is OK."
- Certificate path: Verisign ->  Symantec Class 3 SHA256 Code Signing CA -> My company certificate

I saw this workaround but it will be very inconvenient for our cu

[2018-09-11 10:10] Reclad commented on #5924
Same for us. Which version of Powershell are you using ?

Append randomly (One Add-Content per second) with PowerShell V5.1.17134.228 or V4.0.

[2018-09-11 12:26] chuanjiao10 commented on #7645
1 Try not to use the development version. use NDP472-KB4054530-x86-x64-AllOS-ENU.exe
2 restart if need.
3 close this issue please.

[2018-09-11 12:31] tjnull commented on #7719
@iSazonov Re-ran the tests and can confirm that Powershell Preview Packages from Jessie and Stretch work on Kali Linux 2018.3

Attached results to this comment below:

[Powershell jessie packages results.txt](https://github.com/PowerShell/PowerShell/files/2370943/Powershell.jessie.packages.results.txt)
[Powershell Stretch Package results.txt](https://github.com/PowerShell/PowerShell/files/2370944/

[2018-09-11 13:01] chuanjiao10 commented on #7687
-----I hope that ps core 6.1 stable version can be included in ubuhtu 1804.2

To solve this problem, I have a very good idea:           @sdwheeler
Add a line to the installation documentation, such as:
Sudo yum remove -y powershell #remove old version
Or
Sudo yum remove -y powershell-preview # Delete the old version
Ubuntu be same.

look:
[code]

ubuntu1604：
[code]

ubuntu1804：
[code]

debian9：
[c

[2018-09-11 14:10] vexx32 opened #7757 "#Requires statement breaks script parameter tab completion if modules aren't loaded"
This is potentially problematic, as it can make developing scripts or modules with module dependencies like Exchange or other similar modules, which may not necessarily be installed locally on the development machine, a bit frustrating at times.

Steps to reproduce
------------------
Create and save a script file with the following contents:
[code]

Open a PowerShell console and attempt to tab com

[2018-09-11 14:35] iSazonov commented on #7719
@tjnull Thanks for confirmation! I hope you continue testing PowerShell Core on Kali. Feedback from community is very important.

[2018-09-11 14:36] #7645 closed

[2018-09-11 14:43] mklement0 commented on #7093
@vexx32:

Re `HelpMessage`: Indeed, and it's what I meant to say by:

[2018-09-11 15:07] mklement0 commented on #7755
**The `PATHEXT` feature doesn't fit into the Unix world, and my vote is for _not_ trying to implement it there** - in other words: I think your original PR should be merged.

On Unix, it is solely a file's executable permissions bits that determine whether a file is executable _by the current user_.
That is, the executable permission bits grant the ability to execute to a given user, a given user

[2018-09-11 15:27] KirkMunro commented on #7703
Something that could help here, that has been suggested in the past but has yet to see some tech investment: PowerShell module analyzer or code analyzers for binary modules that could sniff-out things to avoid like static variables in binary modules. [This](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017), but for binary modules, would be wond

[2018-09-11 15:31] rjmholt commented on #7736
@vexx32 That hashtable example sounds not good. I would open a separate issue for that one and tag the @PowerShell/powershell-committee

[2018-09-11 15:32] rjmholt commented on #7736
(The issue may be generic, but fixing it once for everything sounds like a breaking change and I can just imagine needing to twist around it in 9 ways)

[2018-09-11 15:37] vexx32 commented on #7736
That hashtable example *is* not good, and very difficult to work around! I'll open another one.

[2018-09-11 15:45] vexx32 opened #7758 "Dot-Property Access for Hashtable/Dictionary keys HIDES property values"
@PowerShell/powershell-committee
@rjmholt (I can't tag them, apparently, heh!~)

Per discourse in #7736, opening this for hashtable key > property precedence and dynamic binding issues.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
When accessing .Keys property, the keys of the hashtable should be listed. Properties (statically-bound, part of the parent object

[2018-09-11 16:09] felixfbecker commented on #7749
The schema for Format.ps1xml files is complete and autogenerated from the reference documentation: https://github.com/felixfbecker/PowerShellXSD/blob/master/Format.xsd

[2018-09-11 16:49] sg21210 opened #7759 "AWSPowershell.NetCore is not loaded in linux powershell automatically"
Hello, I'm facing an issue while loading the AWS SDK Libraries automatically on my Powershell, installed on Linux. At first I thought this is a problem in AWS Tool for Powershell, but I realized that it resides on the Powershell loading modules and not AWS SDK library.

I noticed this issue while making a linux docker image using powershell, but same issue were reported by AWS engineer using OS X

[2018-09-11 17:06] PaulHigin commented on #7252
@arahja
It looks like you are not passing in a full path to the rsa key file path parameter:
[code]

But if you have the id_rsa key file in the user path expected by SSH, you don't need to pass in the key file path and SSH will find it.  This works for me.
[code]

Note that you can experiment with this using PowerShell APIs on the command line:
[code]

[2018-09-11 17:42] mklement0 commented on #7758
Interestingly, the logic is _reversed_ in the context of _member enumeration_ (collection-level properties shadow element properties), which prompted #7445 (see https://github.com/PowerShell/PowerShell/issues/7445#issuecomment-411206651 in particular).

To spell out the - obscure - workarounds:

[code]

[2018-09-11 17:44] PaulHigin commented on #7252
Actually, looking at this closer it does seem that this error is about finding the ssh command.  The code uses PowerShell's command discovery to look up the filepath.  It uses environment variables to find the ssh command and if it is failing it may be because your hosting process does not have the correct environment set up.  Also you should be able to get the command from a PowerShell command li

[2018-09-11 17:53] kfsone commented on #1849
Same machine:

Windows 10 17755.1, powershell 5.0:
(Get-Process |? StartInfo | Measure).Count
173

Windows 10 17755.1, pwsh core 6.0a:
(Get-Process |? StartInfo | Measure).Count
0

`
W10 PS5:
`PSVersion                      5.1.17755.1
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17755.1
CLRVersion

[2018-09-11 17:55] arsing opened #7760 "Some FileSystem and Navigation commandlets fail on paths with 8.3 components"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

`Remove-Item` and `Set-Location` work just like `Get-ChildItem` and `Get-Content` do.

Actual behavior
---------------

[code]

Environment data
----------------

[code]

---

This came up with one of our scripts that creates a file under `$env:TEMP` via `Invoke-WebRequest -OutFile` and subsequently tries to delete

[2018-09-11 18:18] arahja commented on #7252
Currently this .net core program is running on Windows. I do have "C:\Program Files\OpenSSH\" in my Path environment variable. On the same system Powershell Core is able to use OpenSSH.

I did retry with the full path to the id_rsa file and I recieved this error:
`

  | Name | Value | Type
-- | -- | -- | --
▶$exception	{System.Management.Automation.Remoting.PSRemotingDataStructureException: An err

[2018-09-11 18:27] normj commented on #6475
In case you guys were curious, at AWS today we released PowerShell Core support for AWS Lambda, our serverless offering. It's based on this NuGet package which was why I was pushing for this release. Thanks for pushing to get this released.

https://aws.amazon.com/blogs/developer/announcing-lambda-support-for-powershell-core/

[2018-09-11 18:36] MaximoTrinidad commented on #7759
I normally install module from within the pwsh console:
Install-Module -Scope CurrentUser -Name AWSPowerShell.NetCore -Force;

Then, in Linux, I realized that you do 2 tabs (not once), in order to display the list of commands:
Get-IAM (tab)+(tab)

On the issue with Get-IAMRoles and Get-IAMRole:
Get-IAMRole is a Cmdlet.
Get-IAMRoles is an Alias for Get-IAMRoleList.

I tested this with WSL/Ubuntu,

[2018-09-11 19:05] chuanjiao10 commented on #7759
After install module,manual operation command to test:
[code]

[2018-09-11 19:28] MaximoTrinidad commented on #7759
Yes! That works but there's no need to do the import module. It's only happening with that particular command.  Remember that Get-IAMRole is an Alias and not a Cmdlet.

I'm not seen this behavior on any other installed modules.

Something is not in Synch when auto-loading the AWS module. So. it's possible is in the AWS module and not PowerShell Core.
I think this should be also address at the AWS

[2018-09-11 19:52] dantraMSFT opened #7761 "Powershell Hashtable Keys are case-sensitive on Ubuntu 18.04"
On a clean installation of Ubuntu 18.04 from Azure, creating a hashtable in script results in a hashtable with case-sensitive keys.

The LANG environment variable is set to 'C.UTF-8' and both CultureInfo.CurrentCulture and CultureInfo.CurrentUICulture report  en-US-POSIX.

The result is scripts that are not case-strict when using hashtable keys will break.

Steps to reproduce
------------------
[c

[2018-09-11 20:00] PaulHigin commented on #7252
Yes, this error indicates that PowerShell is not finding the file path to ssh.exe ("The filename, directory name, or volume label syntax is incorrect").  But I think I know what the problem is.  The code uses PowerShell command look up to get the file path for ssh.exe, and for this it uses the default runspace.
[code]
But since you are hosting SMA.dll directly and probably have not executed any lo

[2018-09-11 20:03] adityapatwardhan opened #7762 "Release process for PowerShell Core 6.1.0 GA"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [X] Create a private branch named `release-v6.1.0` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM package.

[2018-09-11 20:04] PaulHigin commented on #7252
Actually I think this is a bug in PowerShell, and it should create a runspace to find the command if needed, or at the very least provide a better error message.  Can you create an Issue for this?

[2018-09-11 20:09] arahja commented on #7252
I definitely can. What would you like me to name it? Also do I list any additional info that is not in this issue?

[2018-09-11 20:18] PaulHigin commented on #7252
I think "SSH connection fails ssh command look up without default runspace".  No more info is needed, just mention that this happens when hosting SMA.dll.  Please assign to me.

[2018-09-11 20:29] arahja opened #7763 "SSH connection fails ssh command look up without default runspace"
This issue happens when hosting SMA.dll.

I am attempting to write a C# core program using the powershell core SDK to run powershell scripts on remote Linux systems. Running on .net core is a requirement for this project. I am trying to loosely follow a guide I found on [CodeProject](https://www.codeproject.com/Articles/773685/Enable-Remote-PowerShell-Execution-in-Csharp).

Steps to reproduce
----

[2018-09-11 20:32] arahja commented on #7252
@iSazonov @PaulHigin , I don't appear to have the ability to assign issues to people. Could one of you two do this for me? Sorry for the inconvenience.

[2018-09-11 20:36] SteveL-MSFT commented on #7763
PSRP over SSH depends on ssh.exe being in the path

[2018-09-11 20:38] SteveL-MSFT commented on #7763
Just saw the discussion on the related issue.  Seems that @PaulHigin understands the issue and will work on this.

[2018-09-11 20:45] SteveL-MSFT commented on #6475
@normj congrats on supporting PSCore6 in AWS Lambda!

[2018-09-11 20:52] PaulHigin commented on #7252
@arahja  Will do.  BTW did you verify that this fixes your problem?

[2018-09-11 20:56] arahja commented on #7252
Yes, It does. Thank you for your assistance with this!

[2018-09-11 21:14] SteveL-MSFT commented on #7755
@mklement0 I believe the intent is that we would still check that it has the executable bit.  It was really to allow `foo` to be an alias to `foo.py`.  My expectation is that if we decide to support this on Unix systems, then based on the command the user typed, we would look through `PATHEXT` to see if such a thing with extensions exists.  If it's not executable, I would expect the app associated

[2018-09-11 21:39] #6465 closed

[2018-09-11 22:28] SteveL-MSFT commented on #7736
C# doesn't allow this, we should error

[2018-09-11 22:33] mklement0 opened #7765 "Select-String with multiple patterns doesn't apply the -AllMatches switch as expected"
The `-Pattern` parameter is `[string[]]`-typed and passing multiple patterns means that an input string matching _any_ of them is reported as a match, in order.

If you additionally specify `-AllMatches`, however, it seems that only the _first_ matching pattern's matches are reported.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Note: Outputting the

[2018-09-11 22:33] SteveL-MSFT commented on #1849
Someone should open an issue in corefx repo and link it back to this issue

[2018-09-11 23:31] mklement0 commented on #7713
Thanks for the great info re performance, @powercode.

Good point, @iSazonov - I've updated the OP to remove the performance aspect.

For the reasons discussed, I think `-Raw` is not an option, as the only reason for its use would be to establish a general pattern, which is at odds with applying that pattern to `Get-Content` (as requested in #7537), where `-Raw` already has a different meaning.

T

[2018-09-11 23:37] pldmgg commented on #7728
@dantraMSFT Thanks so much for getting back to me.

Unfortunately, I still haven't had any success getting the `*-PSSession` cmdlets to work between specifically two Windows 2016 Standard machines. I've tried fresh VMs, different domains, always with the result where pwsh on the client Win16 machine hangs and I need to Ctrl+C.

I'm certain that I've followed all of the aforementioned guidance (sym

[2018-09-11 23:57] #7596 closed

[2018-09-11 23:59] dantraMSFT commented on #7728
Here are a few things to check:
1: Verify the pwsh.exe symlink actually works. Open a command prompt and attempt to run it as  you have it defined in sshd_config
2: Let's get the Win32 OpenSSH team involved. There's a few errors in the client side log but I don't know how to  interpret them.
Ensure you have logging set up for both client and server as described here: https://github.com/PowerShell/

[2018-09-12 00:01] BrucePay commented on #7761
How odd. The code that constructs a hashtable is hard-coded to be case-insensitive:
[code]
What happens when you manually create the hashtable?
[code]

[2018-09-12 00:29] BrucePay commented on #7758
The current behaviour is by design and has been this way since V1. And while the behaviour is problematic in some cases (e.g. accessing the `Keys`, `Values` and `Count` properties), changing it would be a significant breaking change. Also, the workarounds, while obscure, are not difficult: `.get_Count()`, `.get_Keys()`, `.get_Values()`.

@mklement0

These are two entirely unrelated things. The has

[2018-09-12 00:51] lzybkr commented on #7749
Many years ago we produced xsd files for both format and types ps1xml, I've shared them [here](https://gist.github.com/lzybkr/b2586418259caa5fa2379cb57a93925c), and we should probably include them in this repo.  I encourage you to compare to what you've produced to check correctness,

These xsd files were used to help automate the conversion of some ps1xml files to the C#, see examples like [Types

[2018-09-12 00:55] BrucePay commented on #7759
Try running
[code]
This will refresh the module analysis cache which is what the autoloader uses to figure out what modules to load for a given command.

[2018-09-12 01:51] rjmholt commented on #7761
@JamesWTruher found that this is due to Ubuntu 18.04's default [`LANG=C.UTF-8`](https://manpages.debian.org/unstable/open-infrastructure-locales-c.utf-8/locales-c.utf-8.7.en.html) (compare to 16.04's `LANG=en-us.UTF-8` for our installs).

@TravisEz13 made the point that this behaviour may be by design: the if the `C.UTF-8` locale is supposed to be something along the lines of "culture invariant",

[2018-09-12 02:34] mklement0 commented on #3154
As an afterthought, given that I just stumbled upon it:

`Tee-Object -Variable` exhibits pipeline, logic, as expected - unlike `-OutVariable`:

Single-object output produces a _scalar_:

[code]

Multi-object output creates a `[object[]]` array.

[code]

[2018-09-12 03:04] csharmath commented on #1849
Found a related issue and linked to this.
https://github.com/dotnet/corefx/issues/20252

[2018-09-12 03:26] mklement0 commented on #7744
While I haven't dug deep, there is definitely _something_ going on with respect to escape sequences, and it affects _all_ platforms:

[code]

The above the string `green` in green, as expected, on Windows, macOS, Linux (Ubuntu).
That is, the length of the string is correctly recognized as 5, despite the presence of the escape sequences, which are seemingly ignored in _this_ case.

Things go awry i

[2018-09-12 03:28] rkeithhill commented on #7713
Speaking from an "aesthetic" point of view, this is kind of blech:
[code]

The `Select-String -AsString` bit seems oddly redundant.  I don't really like that.  I'd prefer `-Bare` or `-Raw`.

[2018-09-12 03:32] iSazonov commented on #7755
@mklement0 Thanks for great comment! It is very useful.

My first thought was that PowerShell Committee requested something like `Invoke-Item` linked with PATHEXT. It turns out that this would violate the security model Unix.

I think that currently `Invoke-Item` support execution bit and shebang by means of using a shell/Bash in Process.Start() (UseShellExecute = true). _The question is whether w

[2018-09-12 03:44] rkeithhill commented on #7744
I don't think the following is a valid terminating seq:
[code]
Try using:
[code]

[2018-09-12 03:44] mklement0 commented on #7758
Thanks for giving us the history, @BrucePay.

Unfortunately, that still makes it an inconsistency that can trip people up, because _conceptually_ these things _are_ similar.

With a commitment to backward compatibility, there is no good solution. Yes, the workaround is simple, but it being obscure is bad enough in itself.

For member enumeration, the proposed `@.` offers a clean solution, but, due

[2018-09-12 03:47] mklement0 commented on #7744
@rkeithhill: The `0` is optional; try the following (on any supported platform):

[code]

[2018-09-12 03:53] rkeithhill commented on #7744
Yeah, now I see the line in the [docs](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#text-formatting) that I missed:

[2018-09-12 03:56] iSazonov commented on #7719
@tjnull PowerShell Core 6.0.x is based on .Net Core 2.0. .Net Core 2.0 has dependence on libcurl. So PowerShell Core 6.0.x can not remove the dependence.

PowerShell Core 6.1.x is based on .Net Core 2.1. .Net Core 2.1 has no dependence on libcurl. You can download 6.1.0 RC1 from Release page. We expect 6.1.0 GA in days.

[2018-09-12 04:07] iSazonov commented on #7763
I think we should classify the Issue as a bug because the scenario doesn't work as expected.

[2018-09-12 04:08] iSazonov commented on #7252
Leave a comment

[2018-09-12 04:08] #7252 closed

[2018-09-12 04:34] rjmholt commented on #7759
@sg21210 does importing the module in the console by itself raise any errors?

[2018-09-12 06:13] iSazonov commented on #7756
Do you distribute your certificate to computers (Trusted Publisher store)?

[2018-09-12 06:52] rjmholt commented on #7761
I've managed a simple repo that doesn't depend on PowerShell and have opened an issue in corefx

[2018-09-12 06:56] f0rt commented on #7756
No, since it is a public certificate. Also on my setup execution policy is set to All Signed.

[2018-09-12 06:58] chuanjiao10 commented on #7645
win2012 r2 patch
https://support.microsoft.com/en-us/help/4457129/windows-81-update-kb4457129
Applies to: Windows 8.1Windows Server 2012 R2
This security update includes improvements and fixes that were a part of update KB4343891 (released August 30, 2018) and addresses the following issues:
Security updates to Windows media, Windows Shell, Windows Hyper-V, Windows datacenter networking, Windows k

[2018-09-12 07:04] iSazonov commented on #7756
I think you should https://blogs.technet.microsoft.com/heyscriptingguy/2010/06/17/hey-scripting-guy-how-can-i-sign-windows-powershell-scripts-with-an-enterprise-windows-pki-part-2-of-2/

[2018-09-12 07:16] f0rt commented on #7756
Thanks. What is the version this was introduced in?

[2018-09-12 09:07] sg21210 commented on #7759
I understand all your message. I've been using linux machine having powershell and AWS tool also.
Problem occurred while making a new docker image based on linux.

Here are some notes.
- After explicitly importing module by Import-Module, it works!
- But, after relaunching powershell, the shell does not import it again. Everytime I launch it, I should import it to use AWS tool.
- When I type `Get-

[2018-09-12 09:34] felixfbecker commented on #7744
Yeah, truncated text including opening escapes but possibly truncating the closing escapes is another problem, but I would say only loosely related to this issue.

Your experiment above seems to show that _length_ is _not_ a problem for _color_ escape codes, but the issue description shows that it _is_ a problem for OSC sequences. Perhaps PowerShell recognizes and filters ESC[ sequences (which are

[2018-09-12 11:06] felixfbecker commented on #7749
Damn, I wished I had seen those earlier. Thanks for sharing. The Format types do look more detailed because they specify things that are not mentioned in the reference docs - like when elements can appear multiple times or just once, and what elements are mutually exclusive.

I'll diff the number of elements and test if they are complete.

[2018-09-12 11:52] doctordns commented on #4187
You could build a module from the snapin. If the snapin just a container for an assembly containing cmdlets, then creating a module that loads the assembly should work. I've not tested it!

[2018-09-12 12:34] pldmgg commented on #7728
HOLY CRAP I figured it out!

My mistake was that I was creating the symlink to pwsh.exe directly as opposed to its parent directory, i.e.

[code]

When I made a symlink to pwsh.exe's parent directory (and updated the Subsystem path in sshd_config), the `*-PSSession` cmdlets started working:

[code]

Now we're firing on all cylinders (password auth, key auth, ssh cert auth)

Thanks for your help @d

[2018-09-12 12:34] #7728 closed

[2018-09-12 13:04] mklement0 commented on #7758
Good point about index notation being an unambiguous way to target _entries_, @vexx32.

While I too wish we could change the current logic, I think the backward-compatibility problem is more serious than you think:

In the context of _PowerShell_, you may never need to access any of a hashtable's _properties_ from your code, which means existing code may live happily - without symptoms - with hash

[2018-09-12 13:38] mklement0 opened #7767 "Strings with Virtual Terminal (VT) / ANSI escape sequences that are truncated for display make effects linger"
<sup>Related: #7744</sup>

[Virtual Terminal escape sequences](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences) allow, among other things, formatting of console (terminal) output, notably to produce _colored_ output.

An escape sequence that changes the output color - e.g., `` "`e[32m" `` to switch to green - stays in effect until the color is reset - e.g., with

[2018-09-12 13:39] mklement0 commented on #7744
Good point about the distinction between color codes and OSC sequences, @felixfbecker, and I think your guess about PowerShell not recognizing the latter is correct:

[code]

The above breaks, even though `11` is exactly the length of `example.org`, and it only renders correctly with a minimum width of `41`, which is the raw character count of the string _including_ escape sequences.

I've opened

[2018-09-12 14:19] mklement0 commented on #7765
Thanks for labeling, @iSazonov.

It probably doesn't matter much in the grand scheme of things, but I would consider this a _bug_, not an enhancement, given that nothing in the help topic suggests that combining multiple patterns with `-AllMatches` isn't supported.

[2018-09-12 15:39] iSazonov commented on #7765
I thought that this was probably "by design" for "AllMatch". If not, we can always change the label. I already fixed something like this in `Get-WinEvent` and the fix was more an enhancement than a bug fix.

[2018-09-12 15:44] iSazonov commented on #7767
I would like to know that there is a better practice for working with VT.

[2018-09-12 15:45] mklement0 commented on #7765
Again, it's probably fine labeled either way, but I can't  even come up with a speculative design rationale for this behavior (but perhaps there is - do tell us), not least because it amounts to quietly ignoring arguments.

[2018-09-12 15:47] mklement0 commented on #7767
What do you mean by that, @iSazonov?

[2018-09-12 16:20] felixfbecker commented on #7749
So I compared the schemas and found that
- It is missing some elements, e.g. `ItemSelectionCondition`
- It does not contain any documentation (which I find important for IntelliSense)
- It was using `xs:sequence` in many places, even though I am pretty sure the _order_ of elements is not significant for _any_ element in Format/Types.ps1xml files. I assume this is because the schema was autogenerat

[2018-09-12 16:36] SteveL-MSFT commented on #7767
It seems we could go with a simple approach and always reset the console color anytime after we truncate.

[2018-09-12 16:57] lzybkr commented on #7749
Cool, I'm glad to have provided you with a reference and to know you're doing one better. I do think you're right - it was probably generated from sample data.

Note that `types.xsd` that I shared was used to generate the current parser, so it should be considered complete. I did make a bunch of manual changes to the tool generated parser for better performance, but I don't recall any logical/sema

[2018-09-12 16:58] mklement0 commented on #7767
That's promising, @SteveL-MSFT; it will definitely work with _colors_, but is there an equivalent generic reset mechanism for _other types of escape sequences_, such as the OSC sequences mentioned in #7744 (there may be, I haven't checked).

[2018-09-12 17:40] iSazonov commented on #7765
We often implement the simplest version and leave the rest until feedback is received.

[2018-09-12 17:46] mklement0 commented on #7765
I would call leaving things unimplemented and then _quietly ignoring attempts to call unimplemented features_ a bug.

[2018-09-12 17:48] mklement0 commented on #7755
Thanks, @SteveL-MSFT and @iSazonov.

Yes, but that currently results in _asynchronous_ execution, which is not suitable for shell scripts.

Also, if you use the exact filename (_with_ extension) - which you must for `Invoke-Item` - you don't need `Invoke-Item` at all - just invoke the file directly - whether or not there is an extension and whatever that extension may be; all that matters on Unix

[2018-09-12 17:58] kilasuit commented on #4187
This isn't a PowerShell Core issue so should be raised in a forum like PowerShell.org for further discussion IMO

[2018-09-12 18:26] bstrautin opened #7768 "Select-Object modifies input objects when using both -ExpandProperty and -Property"
`Select-Object` should never modify its input objects, but it does, when using both the `-ExpandProperty` and `-Property` parameters.

This behavior is documented, but wrong.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Re-running the same `Select-Object` statement should produce the same output, and should not modify its input objects, so the example code s

[2018-09-12 18:28] iSazonov commented on #7767
We don't want to see escapes in trace log. So we need a rendering subsystem.

[2018-09-12 19:12] cspotcode opened #7769 ".cmd invocation in new window, can't pipe stdout, when using absolute path to .cmd"
`.cmd` scripts launch in an external window when:
* another file exists with same name but without file extension
* cmd script is invoked via *absolute* path without file extension

PowerShell can't pipe the script's stdout when this happens.

Specifically, this happens to me when invoking commands installed via npm / nodejs.  npm installs commands with a bash script -- no file extension -- and a

[2018-09-12 19:28] felixfbecker commented on #7749
The Types schema looks complete, but it lacks documentation and uses `xs:sequence` everywhere, while the order of elements doesn't matter in Types file (confirmed this by trying it out). I'll look at improving it manually or generating that from `about_Types` too (although those docs are not nearly as structured as the Format reference).

One thing I found in the Format schema that is not document

[2018-09-12 19:50] vexx32 opened #7770 "Get-Content throws confusing error when targeting a container"
Rather than either producing a sensible error, or behaving in a reasonably predictable manner, `Get-Content` incorrectly throws an `Access Denied` error when pointed at a container object. This is *also* the case when using the variable accessor syntax.

Steps to reproduce
------------------

[code]
or
[code]

Expected behavior
-----------------

Option #1: A sensible error is produced
[code]
Opti

[2018-09-12 19:55] rjmholt commented on #7761
CoreFX have designated the behaviour with that locale as by design as @TravisEz13 suggested, see https://github.com/dotnet/corefx/issues/32250#issuecomment-420749205.

The options I see for our handling of it are:
- This behaviour is by design for us too
- We special-case handling of this locale
- We change handling of hashtable keys to use `CultureInvariantIgnoreCase` or `OrdinalIgnoreCase` as I

[2018-09-12 20:06] vexx32 commented on #7770
It's also worth noting that in the variable access syntax, `{$C:\File.txt} = "string"` will actually overwrite the file contents using `Set-Content`. Whether it makes the slightest lick of sense to allow `Set-Content` to have some kind of effect on container objects also, I don't know. I've a few ideas, but I suspect doing such a thing will just enable a far too simple way to wipe a whole hard dri

[2018-09-12 20:35] lzybkr commented on #7749
Those attributes are used to support localized text in the ps1xml via a resource in an assembly.

To the best of my knowledge, those attributes were only used by the PowerShell engine. Today they are probably not used because those format files are now written as C# and can access the resource strings directly.

[2018-09-12 20:41] felixfbecker commented on #7749
Okay, after a lot of research it turns out it's actually _impossible_ to allow arbitrary ordering of elements in XSD while still validating how often they occur.

So I need to decide between
- Allowing duplicate elements - making some invalid Format files not invalid according to the schema
- Imposing fixed ordering - making some some valid Format files invalid according to the schema
- Including

[2018-09-12 20:54] lelloz0 opened #7771 "Format-Volume on a newly created partition without assigning a Drive Letter"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-12 21:04] binaryWard commented on #7687
@SteveL-MSFT
I realize I didn't state if it was the Ubuntu 18.04 workstation or server.  Ubuntu Server has a new installer "Subiquity" which has the "live" in the iso filename and is the default installer. The older installer is obtained through the "alternative downloads" and has a filename without "live".

Ubuntu Server 18.04 "alternative download" .iso worked. I was able to use the apt repo ins

[2018-09-12 21:13] lzybkr commented on #7749
I think the pragmatic option is to impose a fixed ordering.

Writing format ps1xml is uncommon, and imposing an ordering that follows existing conventions seems acceptable.

At some point it would be nice to replace PowerShell's format ps1xml parser (it's slow and error messages are sometimes hard to diagnose) - and I'd suggest anyone doing so start with the xsd, so if that xsd is too permissive (

[2018-09-12 21:27] jzabroski commented on #6818
How do I test against older versions of PowerShell?  I believe I can 100% reproduce this issue, and that it is not at all "sporadic" in nature.  The issue is that ModuleCmdletBase caches stuff stupidly, and is poorly written and/or doesn't make sense when you're doing local development on a new module.

[2018-09-12 21:52] BrucePay commented on #7770
A user-mode process can't "read" the contents of a directory. We're just returning the underlying OS error message:
[code]

We could probably do something with the error message (e.g. say access is denied because it's a container) but alternate file systems may in fact support reading the contents of the directory (e.g. old Unix file systems) so failing automatically _because_ it's a container is

[2018-09-12 21:59] thezim commented on #7771
The repo is only for PowerShell Core. PowerShell Core does not have a `Format-Volume` cmdlet, yet.

[2018-09-12 22:00] lelloz0 commented on #7771
my bad, sorry. Also, I've just found the solution to the issue: https://social.technet.microsoft.com/Forums/ie/en-US/c3aadbf6-1365-4d6e-bf5e-f84c1417f753/formatvolume-invalidargument-msftvolume?forum=winserverpowershell

[2018-09-12 22:00] #7771 closed

[2018-09-12 22:35] SteveL-MSFT commented on #7693
@PowerShell/powershell-committee reviewed this and agrees that `Default` should stay as default and we should expose `-EscapeHandling` as an optional parameter.

[2018-09-12 22:40] SteveL-MSFT commented on #7749
@PowerShell/powershell-committee reviewed this and would appreciate any contribution of xsd for format and types ps1xml

[2018-09-13 00:31] vexx32 commented on #7770
Okay, so there's a disconnect here. What do *you* mean by 'read the contents of a directory'?

Is that a distinct thing from what Get-ChildItem does? It seems sensible (at least on the surface) for 'reading the content' of a directory' to be analogous to 'enumerating the contained objects'

[2018-09-13 00:39] chriskuech opened #7774 "Respect ErrorActionPreference universally"
PowerShell has two types of errors: terminating and non-terminating.  Non-terminating errors are handled consistently with common parameters and scoped `$ErrorActionPreference`. Terminating errors do not support this interface and instead rely on the programmer to determine that the error is non-terminating (usually after a period of confusion), and handle with separate but equivalent logic.  Term

[2018-09-13 02:07] mklement0 commented on #7774
For a complete overview of PowerShell's current error handling, see https://github.com/PowerShell/PowerShell-Docs/issues/1583

[2018-09-13 02:32] chriskuech commented on #7774
This is precisely the subject of my feature request.  Everyone I have seen encounter this behavior have thought they found a bug and all used strong language when I explained the underlying behavior.  This behavior is extremely counter-intuitive and worth changing in the next major release, even if it's a breaking change.

[2018-09-13 02:37] mklement0 commented on #7774
I hear you. I pointed you the docs issue to get the full picture.

It's unclear if there will ever be a release that changes such fundamental behaviors, because the commitment to backward compatibility has been ironclad so far.

For a meta-discussion, see #6745

[2018-09-13 03:09] mklement0 commented on #7768
Strictly speaking, it's not the _input objects_ that are modified, but the _value of the property_ that `-ExpandProperty` targets.

That property value can be an instance of a _value type_ or an instance of a _reference type_.

Either way, the properties specified in `-Property` are added as `NoteProperty` members to that value.

In the case of a _value-type_ instance, these `NoteProperty` members

[2018-09-13 04:46] iSazonov commented on #7770
It would be amazing to turn `Get-Content` into `dir`.

There definitely needs to improve the error message.

[2018-09-13 04:58] iSazonov commented on #7768
It would be grandiose breaking change.
We can not even add a new switch parameter since @mklement0  pointed out that there is no generic way to clone an reference object.

[2018-09-13 04:59] iSazonov commented on #7768
@bstrautin

You could open a issue in PowerShell-Docs repo.

[2018-09-13 05:04] iSazonov commented on #7769
@SteveL-MSFT It seems this important omission.

[2018-09-13 08:40] schittli commented on #1759
**Just because something was there for a long time
should never be an argument to decide a software development question.**
It's just a question of a short time until any maintained Software gets a new release and in PowerShell, a Script can define the least expected runtime version.

So, it's no problem to let design errors disappear slowly and user-friendly :-)

[2018-09-13 09:53] neel015 commented on #6435
Facing the same error when trying to run invoke-command using Powershell core 6.1 with [Microsoft.Powershell.SDK](https://www.nuget.org/packages/Microsoft.PowerShell.SDK/6.1.0-rc.1) dlls.
Working on a linux ubuntu 16.04, I am able to run the command from powershelll core directly. However, when I try to run the same script from C#, I am getting the same error message.

` $TargetSession = New-PSSes

[2018-09-13 11:11] tjnull commented on #7719
@iSazonov Powershell 6.1.0-1 has been added to both jessie and stretch repos. I have tested both packages in Kali Linux and can confirm that they both work. Thank you for getting this issue resolved! :D

Packages that worked in Jessie and Stretch:
Stretch:powershell_6.1.0-1.deb    13-Sep-2018 00:34            58286110
Jessie:powershell_6.1.0-1.deb     13-Sep-2018 00:33            58287274

[2018-09-13 12:48] SeeminglyScience commented on #7759
In their module manifest they only explicitly list aliases.  The `CmdletsToExport` field is a wildcard statement

[code]

They need to explicitly list exported cmdlets as well.

[2018-09-13 12:55] SeeminglyScience commented on #7767
Worth noting that ``` `e[m``` won't reset underline (at least on Windows), so ``` `e[24m``` may be needed as well.

[2018-09-13 13:00] #7719 closed

[2018-09-13 13:03] mklement0 commented on #7767
That smells like a bug, @SeeminglyScience, and I actually can't reproduce it on Microsoft Windows 10 Pro (64-bit; Version 1803, OS Build: 17134.285)

Does the following really not work for you?

[code]

[2018-09-13 13:16] bstrautin commented on #7768
Cloning is not necessary; in the same way that `Select-Object -Property *` creates new pscustomobjects with the necessary properties, a non-surprising version of `Select-Object -Property a -ExpandProperty b` would create new pscustomobjects with property `a` and all the properties from `b`.

To introduce non-modifying behavior as a non-breaking change, it seems like there are basically two options

[2018-09-13 13:26] mklement0 commented on #7768
@iSazonov: I think what @bstrautin meant was that _the documentation is correct_ in that it correctly describes the current behavior, but that they consider _the current behavior_ to be wrong.

[2018-09-13 13:30] iSazonov commented on #7770
Yes, surprising :-)

[2018-09-13 13:42] vexx32 commented on #7770
I'm not so much in favour of letting users do this with the cmdlets themselves, I think; there the intent can be specified. I'm thinking mostly in terms of the variable syntax itself:

[code]
Should, to me at least, call Get-ChildItem instead of Get-Content, because the targeted item is a container.

I think an error is still sensible for a nonsensical use like this:
[code]

Rather than simply hav

[2018-09-13 14:13] SeeminglyScience commented on #7767
@mklement0 huh, it does now.  I wonder if a Windows update fixed that or if I'm just thinking of something else...

Either way nevermind :)

[2018-09-13 14:14] mklement0 commented on #7768
OK, so we're talking about a _feature request_, not a problem with the existing behavior.

To be clear:  the purpose of `-ExpandProperty` is to return the specified property's value _as-is_, _optionally decorated_ with `NoteProperty` members, if `-Property`  is also specified.

So, yes, to get what you want, a new switch is required, but I'm unclear on the semantics:

How would you construct the c

[2018-09-13 14:29] vexx32 commented on #7770
Ultimately I personally think it simply makes sense for it to treat an access to the contents of a container as a call to get-childitem.

Regardless of whether that is agreed upon or not, I think the error message *definitely* needs a rework (and as much as I might _wish_ for the namespace variable notation to exhibit better discoverability in and of itself, that's the main thing -- if it's going

[2018-09-13 14:40] stuartluscombe commented on #4497
@iSazonov Removing the module from PSCore doesn't address the original issue though. Until a Windows update is put out that removes external modules I don't see how this issue can effectively be resolved.

@SteveL-MSFT In my mind I think removing the modules via an updates, which would then force admins to use PSGallery in order to re-add them will be less of a headache than having to force instal

[2018-09-13 14:55] bstrautin commented on #7768
It's only a feature request if you don't consider the existing behavior to be a bug, which I do. (A `Select-...` cmdlet should never modify its input, but `Select-Object` does, semantics about "decorating" vs "modifying" aside.)

My preference would be to change the current behavior, which would be a breaking change if anyone were actually relying on it (which seems unlikely, given how weird it is

[2018-09-13 15:59] SteveL-MSFT opened #7776 "Import-CSV doesn't understand sep= header"
Excel saves csv with a sep= header to indicate the delimiter/separator.  The cmdlet doesn't understand this header so it treats it as the header row incorrectly.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-13 16:40] BrucePay commented on #7774
@chriskuech

Given that all cmdlets already respect ErrorActionPreference, can you elaborate on what you mean by this? Thanks.

[2018-09-13 16:50] SteveL-MSFT opened #7777 "Format-Hex should not try to render unicode control characters that affect the display"
Format-Hex currently [filters out control characters in the ASCII range](https://github.com/PowerShell/PowerShell/blob/a3786158ca51cd65388743f900b69ec9e253c3d9/src/Microsoft.PowerShell.Commands.Utility/commands/utility/UtilityCommon.cs#L174) that would affect the console display.  Needs to be updated to handle Unicode control characters.  Also consider replacing use of period for non-printable cha

[2018-09-13 16:57] thezim commented on #7776
I cannot get Excel 2016 on Windows to repro this in any of the following formats as far as inserting a `sep=`.
[code]

I see the your repro is on macOS. It is Numbers producting the CSV? Or possibly Excel on macOS is just different. I've worked with a lot of CSVs in my career and have never seen `sep=` before.

[2018-09-13 17:08] SteveL-MSFT opened #7778 "ParameterBinding from pipeline is significantly slower than from command line"
TFS:18438056

[code]

[code]

Binding the parameter from the pipeline calls 17.9 seconds of processing under this function:

System.Management.Automation.ni.dll!System.Management.Automation.ParameterBinderBase.ShouldContinueUncoercedBind(System.Management.Automation.CommandParameterInternal, System.Management.Automation.CompiledCommandParameter, System.Management.Automation.ParameterBindingFlags,

[2018-09-13 18:33] bstrautin commented on #7768
`-ExpandPropertyAsCopy` would always return objects, never scalars.

Explanation by way of examples:

Expanding a scalar property would return an object with that property. (The same as `-Property`):

[code]

would output

[code]

Including `-Property` and expanding a scalar property would return an object with both properties. (Instead of making `-Property` and `-ExpandProperty` mutually exclusiv

[2018-09-13 18:40] mklement0 commented on #7768
Let's summarize:

*  The behavior is documented.

* The behavior is useful and _opt-in_: by using `-ExpandProperty` _in combination with_ `-Property`, you're asking that `NoteProperty` members be added to whatever the value of the property passed to `-ExpandProperty` is, as documented (which is what I called _decorating_).

* Nowhere does it state that "A Select-... cmdlet should never modify its

[2018-09-13 20:28] mklement0 commented on #7769
Good find, @cspotcode.

To add some more details:

* Windows PowerShell is affected too.

* _All_ executable extensions (as per `$env:PATHEXT`) are affected.

Here's a quick way to reproduce the problem, using sample file `t` and  a dummy executables with the same filename root for all executable extensions, in sequence:

[code]

Note that only `.com`, `.exe`, `.cmd` and `.bat` files actually _exe

[2018-09-13 21:07] bstrautin commented on #7768
Partially agree with the summary. Regardless:

Two possible enhancements, which I am willing to develop:

1. Change `-ExpandProperty` from accepting a single property name to accepting a list of property name, scriptblock, etc, like `-Property`. This would probably be a breaking change for consistency's sake, because expanding multiple `IEnumerable` properties would require creating new pscustomob

[2018-09-13 22:19] mklement0 commented on #7768
First, let's look at how what you attempted with your sample command can be implemented with the current features:

[code]

* `$_.b.psobject.Copy()` clones the custom object that is stored in the input object's `.b` property
* `Add-Member -PassThru -MemberType NoteProperty a -Value $_.a` adds the input object's `.a` property to the clone and outputs the clone.

----

I assume you mean it would alw

[2018-09-13 22:42] BrucePay commented on #7774
@mklement0

I didn't say all _errors_, I said the preference variables applies to all _cmdlets_ and @chriskuech was asserting that it did not. I was wondering what he meant by that. Still am.

I'm not sure I understand the example you included. Is this yours or is it from the documentation?
[code]
There are three statement inside the scriptblock (';' separates statements). Only the statement with

[2018-09-14 01:39] SteveL-MSFT commented on #7167
docker run -it mcr.microsoft.com/powershell:preview-alpine-3.8

known issue with console rendering

[2018-09-14 01:39] #7167 closed

[2018-09-14 01:40] SteveL-MSFT commented on #4605
Open new issues for for specific problems

[2018-09-14 01:40] #4605 closed

[2018-09-14 01:42] SteveL-MSFT opened #7780 "Alpine Linux image has console rendering issues"
Not a PSReadLine issue.  Repros if unloaded.  Most likely a corefx issue with console and terminfo.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-14 02:05] SteveL-MSFT commented on #4187
Yes, you can wrap the snapin as a module and it'll work just fine as a module.  However, if the snapin registration code is still there it won't work in PSCore6.  Porting a snapin to a module is simply deleting the snapin code and authoring a module manifest.

[2018-09-14 02:40] mklement0 commented on #7774
@BrucePay:

Let me just say that the gist of what's in the OP and his follow-up comment suggest that his concerns are about:

  * wishing that the `-ErrorAction` common parameter take effect for _terminating_ errors too
  * and, more broadly, that the distinction between terminating and non-terminating may be unhelpful, given that it requires distinct ways of handling the error, and there's often

[2018-09-14 03:10] KevinMarquette commented on #4497
It may be best to move this conversation over to PowerShellGet. The issue with it being installed is that PowerShellGet makes updating it a lot of work and that does not need to be the case.

Unless I am missing something, there should not be any issues with leaving the old one in place. The newer version should get loaded if it is installed.

[2018-09-14 03:59] iSazonov commented on #7768
I must note that this cmdlet is very sensitive to changes. There is very difficult to change something without a regression.

I believe this is ready to be concluded by PowerShell Committee
/cc @SteveL-MSFT

[2018-09-14 06:28] iSazonov commented on #7776
We need more info. I did not find any specifications.
Is "sep=" always in first line?
Is separator char always single char?

[2018-09-14 06:46] iSazonov commented on #7777
Is "`u{00}" expected output format?

[2018-09-14 09:21] christophwille opened #7781 ".NET Core WSMan Remoting to Exchange Online"
I built a small sample that works on Windows fine, but doesnt on Mac. I verified in pwsh interactively first that it works for pscore 6.1 (lists mailboxes) both on Windows and Mac:

https://github.com/christophwille/pscore-playground/blob/master/NetCorePSCore-Simple/NetCorePSCore/Program.cs#L54

The C# code itself worked already with v6 on Windows and only one package reference

https://github.com

[2018-09-14 10:08] weloytty commented on #7458
problem still exists in RTM

[2018-09-14 10:17] bergmeister opened #7782 "PowerShell 6.1.0 (RTM) Windows MSI installer does not specify minor version in names"
Using the latest 6.1.0 release, the name of the installed package, the window name and the context menu only include the major version but not  the minor version, which will make it hard to distinguish the side-by-side versions. I believe this must be a regression that happened in the refactoring to make the preview packages of 6.1. cc @SteveL-MSFT  @joeyaiello

![image](https://user-images.github

[2018-09-14 10:22] bergmeister opened #7783 "PowerShell 6.0.4 and 6.1.0 MSIs are not side by side"
According to the [Lifecycle of PowerShell Core](https://docs.microsoft.com/en-us/powershell/scripting/PowerShell-Core-Support?view=powershell-6), one has 6 months to update to the new version. However, during that period I still expect to be able to use 6.0 and 6.1 side by side, which is not the case for the Windows MSIs.
Installing 6.1.0 will remove 6.0.4 as part of it.
In the same way, 6.0.4 can

[2018-09-14 10:37] DarwinJS commented on #4497
@KevinMarquette - the initial issue does cite a similar issue in the oneget repo, however:
- I feel your statement "there should not be any issues with leaving the old one in place" should be backed by testing in all execution scenarios - under a service, as the system account, etc.
- this is a windows problem due to the level of lockdown of almost anything that is pre-shipped.
- I am building mac

[2018-09-14 12:27] thezim commented on #7776
Only spec I found was [rfc4180](
https://tools.ietf.org/html/rfc4180) which does not include `sep=`.

[2018-09-14 12:31] iSazonov commented on #7783
PowerShell Core is side-by-side but not MSI.

[2018-09-14 13:03] vexx32 commented on #7783
IIRC, the preview builds are side by side with release builds, but different versions of the release builds installed via msi will overwrite.

[2018-09-14 13:11] ephos commented on #7382
Came to see if someone opened an issue for this, saw that @mmcelreath already did!  I am seeing this as well.  Environment information below!

[code]

[2018-09-14 13:27] mcurole opened #7784 "get-aduser userid -Properties * - throws Object reference not set to instance of an object error"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-14 14:13] aharpervc commented on #7782
The default install folder is `C:\Program Files\PowerShell\6`, as well. 6.0.1 was placed in `C:\Program Files\PowerShell\6.0.1` so this change is surprising. I'm assuming it's the same issue.

[2018-09-14 14:32] bergmeister commented on #7782
@aharpervc Thanks for adding more details. This is possibly related due to #7783

[2018-09-14 14:35] mcurole commented on #7784
One item to note, this bug is found in other commands as well - get-adcomputer and get-adgroup as well

[2018-09-14 14:36] bergmeister commented on #7783
@iSazonov As per @TravisEz13 's comment [here](https://github.com/PowerShell/PowerShell-RFC/pull/115#issuecomment-370087060), each version should have its own product code and therefore be side-by-side, there is no reason to prevent side-by-side of minor versions.

[2018-09-14 14:44] bergmeister commented on #7783
It seems, I missed this detail in this RFC [here](https://github.com/PowerShell/PowerShell-RFC/blob/master/5-Final/RFC0026-MSI-Installation-Path.md) that came from this [PR](https://github.com/PowerShell/PowerShell-RFC/pull/115/files). However, the current state of the RFC does not state what the final decision was. I'd rather prefer the mentioned alternative of having minor versions side-by-side

[2018-09-14 14:55] iSazonov commented on #7783
Plan was to allow upgrade from 6.0.x to 6.1.x.
Perhaps we'll have new upgrade code for 7.0 (because of breaking changes).

[2018-09-14 14:59] vexx32 commented on #7783
And it's not as though you *can't* install side by side -- just not with the MSI. Side by side of adjacent minor versions needs to be handled manually, at present.

Can you imagine how annoying it would get having to uninstall/reinstall every minor version for those who *don't* want to maintain 15 separate PS Core versions side by side? 😄

[2018-09-14 16:05] erictorbenson commented on #7436
I think @johlju has the right idea about adding an "-AllowComments" switch. That way the cmdlet defaults to RFC-compliant behavior...unless someone wants to write a new RFC? :-)

One very important argument in favor of supporting comments is the Visual Studio "Azure Resource Group" sample project. The PowerShell wrapper that uploads the artifacts to Azure Storage and executes the deployment fails

[2018-09-14 16:06] alexandair opened #7785 "[PSCore 6.1] In WSL, PSReadLine color for parameter values is black (doesn't work on default black background)"
After updating PowerShell Core 6.0.4 to 6.1 in WSL (Ubuntu distro), I've noticed that I don't see what I type when I type parameter values.
Changing background color not to be black (default) revealed that parameter values are printed in black thanks to PSReadLine module.
Removing PSReadline module made everything visible again.

[2018-09-14 16:41] rkeithhill commented on #7785
I think this is an issue with the Windows WSL default console color scheme.  If you look at the color properties:

![image](https://user-images.githubusercontent.com/5177512/45563333-444ed180-b80a-11e8-9b8d-a91ad8c85a49.png)

You'll probably see that DarkGray (index 8) is set to the same value as Black (index 0).  Try lightening the index 8 color (DarkGray) to 169,169,169 (hex a9a9a9).  That's why

[2018-09-14 17:03] alexandair commented on #7785
@rkeithhill All I know is that it worked with PowerShell Core 6.0.4. And I haven't played with console properties.
Proposed values 169,169,169 are too light on my system.
<img width="284" alt="properties" src="https://user-images.githubusercontent.com/3135708/45564483-884bd180-b81e-11e8-8d51-675639ae666f.png">

[2018-09-14 17:06] rkeithhill commented on #7785
Make sure you set the `Screen background` back to index 0 before closing the dialog.  Then it should look better.  But ultimately, perhaps PSRL should use a different parameter/operator fg color.

[2018-09-14 17:06] alexandair commented on #7785
@rkeithhill I forgot to mention that I don't see the same issue on PSCore 6.1 installed on Windows where background color is also black. Parameter values are here printed in bright color and are visible.

[2018-09-14 17:09] rkeithhill commented on #7785
The PowerShell Core console configuration is different by default than the WSL color config.  So that doesn't surprise me.  I, OTOH, don't use the default PS Core color config.  I use `colortool` to set my color scheme to `OneHalfDark` and that does exhibit this same issue - Black and DarkGray use the same color value.

[2018-09-14 17:19] SeeminglyScience opened #7786 "DotNetAdapter fails to create PSMethod with a ByRef parameter of a ref struct"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

Here's the stack trace

[code]

[2018-09-14 17:43] #7762 closed

[2018-09-14 18:14] janegilring opened #7787 "Install-PowerShellRemoting.ps1 fails when run without specifying -PowerShellHome in PowerShell 6.1 GA"
Steps to reproduce
------------------

In PowerShell 6.0, Install-PowerShellRemoting.ps1 could be run successfully without any parameters:
[code]
In PowerShell 6.1 GA, the same command fails:

[code]

However, if -PowerShellHome is specified, it works as expected:
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-09-14 18:17] SteveL-MSFT commented on #7783
Correct, the current intended design is that the MSI will upgrade stable builds over stable builds and preview builds over preview builds.  If side-by-side for minor versions is needed, one must use the zip and not the MSI installer.

[2018-09-14 18:27] SteveL-MSFT commented on #7777
Any unprintable character (beyond the control characters) should be replaced with the box with question mark symbol.

[2018-09-14 18:29] chriskuech commented on #7774
I assumed `$ErrorActionPreference` and `-ErrorAction` would have the same behavior, and in my opinion, the fact that they don't is even more confusing than the behavior I assumed.

The exact case that keeps coming up:
[code]

Further, the word "terminating" is not present anywhere in [the docs for this cmdlet](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-w