[2017-08-08 03:24] iSazonov commented on #4513
@PaulHigin Thanks for your comments!

Might consider using OpenSSH as library to get better manageability?

[2017-08-08 04:35] iSazonov commented on #4477
Thank you for your deep explanation. It would be good to have in our documentation next to breaking change requirements.

1. Does the feature introduce or remove complexity for the user? - No and no.
2. Does the feature introduce or remove complexity in the implementation? - It is short and simple code.
3. If the feature introduces complexity - will there be a net benefit? Will it help enough peop

[2017-08-08 04:44] iSazonov commented on #4514
@MaximoTrinidad Maybe related https://github.com/PowerShell/PowerShell/issues/2804

[2017-08-08 06:11] iSazonov commented on #4521
I think we should improve that on Unix. We should consider to start new process in new process group too not only background process in the same process group.

[2017-08-08 06:20] iSazonov commented on #4520
Is the main motivation a dynamic construction of the parameter list? Any samples?

[2017-08-08 10:32] mcheung63 commented on #4515
thanks

[2017-08-08 10:32] #4515 closed

[2017-08-08 11:18] mklement0 commented on #4520
@iSazonov: It is primarily about passing `$Args` through, though allowing empty arrays can also help with dynamically constructed parameter lists; I've added an example to the initial post, based on [this real-world code](https://github.com/PowerShell/PowerShell/issues/4214#issuecomment-320761856).

[2017-08-08 14:02] passboltUser opened #4526 "Connect-SPOService : The term 'Connect-SPOService' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
Steps to reproduce
------------------
Installed PowerShell though: `$ yaourt -S powershell`
Then tried to connect:
[code]

Expected behavior
-----------------

That `Connect-SPOService` is working.

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-08 14:17] mklement0 commented on #4521
@iSazonov:

I fear that that is not enough, because we would then need Bash-like _job-control_ features, such as bringing a background job back to the foreground in case it needs _interactive_ input (and
"stopping" (suspending) it first if that happens in the _background_, and being able to send it back to the background.

Using PS jobs behind the scenes is not an option, because, as far as I know

[2017-08-08 14:29] mklement0 commented on #4267
Speaking of mimicking *nix behavior, more things worth documenting:

From what I can tell, PowerShell's jobs are fundamentally different from Bash's (do tell if I'm missing something - I'm not too familiar with PS jobs):

* They can only be run "batch"-style with no interactive user input supported (if you send a Bash script to the background with a PS job, for instance, and that script tries to r

[2017-08-08 15:02] mklement0 commented on #4526
The error message just tells us that a cmdlet by that name doesn't exist (and isn't defined in an  auto-loading module).

Generally, many cmdlets simply don't work on PS _Core_ (yet), given that the underlying frameworks differ - see [Known Issues](https://github.com/PowerShell/PowerShell/blob/master/docs/KNOWNISSUES.md#net-framework-vs-net-core-framework)

More specifically, [this issue](https://

[2017-08-08 16:00] mklement0 opened #4527 "Consider introducing an automatic variable such as $LASTJOB that reflects the last background job started with & (Start-Job)"
Now that postpositional `&` can be used as a Bash-like alternative to using `Start-Job` - e.g.,
`ls &` for `Start-Job { set-location $using:PWD; ls }`  -
perhaps an automatic variable that reflects the most recently launched job - analogous to `%%` / `$!` in `bash` - would be helpful.

`$%%` and `$!` are not valid variable names in PS, so perhaps something like `$LASTJOB` would work, analogous to

[2017-08-08 16:22] #4505 closed

[2017-08-08 16:22] lzybkr commented on #4477
I disagree on 1. - it might remove complexity for the rare case, but in the common case, there are additional options that must be considered - so instead of one decision, now I must make two or three.

Often I see unnecessary complexity and I think this happens due to feature creep - adding something seemed reasonable at the time, but the accretion of features results in a mess over the long term

[2017-08-08 16:36] #1193 closed

[2017-08-08 16:39] daxian-dbw commented on #1193
@mirichmo This issue was closed automatically after merging #2671. If this issue shouldn't be closed due the pending NanoServer scenario, feel free to re-open it.

[2017-08-08 16:55] mirichmo opened #4528 "Consistent way to enable PSRemoting"
We have internally been referring to this as the "Nano Server Scenario" aka headless, remote-only remoting activation. The idea is that we need a way to register a non-running instance of PowerShell Core with WinRM. In Nano Server, you can create a remote session (`New-PSSession`)to the instance of Windows PowerShell running on the system. Once in that session (`Enter-PSSession`), you can unzip Po

[2017-08-08 16:55] mirichmo commented on #1193
The Nano Server Scenario (registering a different instance of PowerShell Core) is covered by the install script and that still exists. I filed #4528 to document this.

[2017-08-08 17:17] SRGOM commented on #1273
Powershell is useless as an interactive shell unless it comes to par with basic features that Linux users on bash/zsh take for granted... I don't know who your target audience but I think I discussed 6 months back with vors and he mentioned that interactive use is definitely a priority

[2017-08-08 17:20] markekraus commented on #4526
You can import the SharePoint Online Management Shell using this:

[code]

But, there is a some kind of compatibility issue in `Microsoft.SharePoint.Client.ClientContext.GetFormDigestInfoPrivate()` where it is sending a 0 length SOAP `POST` to SharePoint Online when trying to determine if it has a tenant admin site or not. `Connect-SPOService` always returns ` The remote server returned an error:

[2017-08-08 17:36] Jaykul commented on #3695
Preventing assignment to special variables _not only_ breaks existing code, it cripples our ability to do DSL-like things in PowerShell in the future.

The notion that anyone _other than the PowerShell team_ who uses the built-in variable names is somehow doing it incorrectly and should use different variable names is simply preposterous. **Good** developers take advantage of what **users have alr

[2017-08-08 18:30] jcotton42 commented on #2798
Bumping this because this is something I would also like to see

[2017-08-08 21:31] PaulHigin commented on #4475
@luzlab
I have a PR for a fix for this.  If you would like to experiment with it you can find it here:
https://github.com/PaulHigin/powershell/tree/Fix-KeyFilePath-Parameter

[2017-08-08 21:37] mklement0 opened #4530 "Start-Job -InitializationScript should support $using: variable references too"
In the script block passed to the (implied as the 1st positional) `-ScriptBlock` parameter of `Start-Job`, it is possible to reference variables from the _calling_ scope via the `$using:` scope; e.g.:

[code]

By contrast, the following - even though I'd expected to be equivalent - does NOT work, because the `$using:` reference is in the `-InitializationScript` script block:

[code]

Invocation fa

[2017-08-08 22:13] luzlab commented on #4475
Thank you! I'll test this out tomorrow.

[2017-08-09 03:02] richardszalay commented on #4471
Confirmed that #4506 fixed the issue. Thanks Travis!

[2017-08-09 04:14] daxian-dbw opened #4533 "The fix of TFS:7980238 needs to be ported to PowerShell Core completely along with the tests"
The fix of TFS work item 7980238 (Perf regression in installing/updating the PowerShell modules due to Test-ModuleManifest performance degradation (was: Test-ModuleManifest loads all available modules if a module has the nested/required module dependencies.)) should be ported to PowerShell Core completely.

PR #1375 was supposed to port the fix, but it missed one change of the fix and didn't bring

[2017-08-09 05:29] iSazonov commented on #3695
@Jaykul Could you please add code examples to show the broken scenarious?

[2017-08-09 07:11] passboltUser commented on #4526
mklement0, thanks, but Arch has only the beta3 at the moment (I like indeed having the latest software and so using Arch is part of it).

markekraus, on the line `Import-Module Microsoft.Online.SharePoint.PowerShell -DisableNameChecking` I get:
[code]

[2017-08-09 08:15] mklement0 commented on #4526
@passboltUser: I see re Arch Linux packages; I have not tried myself (except on Ubuntu), but, based on the [installation instructions](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#package-installation-instructions), I'd expect running [the installation script](https://github.com/PowerShell/PowerShell/blob/master/tools/download.sh) directly to work on Arch Linux t

[2017-08-09 08:18] iSazonov commented on #4477
It's also very subjective. It also gives rise to complexity if it falls short of our expectations. You like Positive/Negative. I would preffer [classic math terms](https://en.wikipedia.org/wiki/Interval_(mathematics)#Terminology):
(a, b)
(a, b]
[a, b)
[a, b]

[2017-08-09 08:22] iSazonov commented on #4527
We can be more flexible:
[code]

[2017-08-09 08:24] iSazonov commented on #4530
@lzybkr Could you please comment - Is this a bug or an enhancement?

[2017-08-09 08:24] mklement0 commented on #4527
@iSazonov: Please re-read the paragraph starting with "Capturing the output explicitly".

[2017-08-09 08:32] passboltUser commented on #4526
@mklement0, Arch doesn't use .`deb`-based packages and there's no `dpkg` installed either. In the script there's only `centos`, `ubuntu` and `opensuse` (maybe you should offer Arch packages). The changelog from beta3 to beta5 also doesn't mention anynthing related to my problem.

[2017-08-09 08:33] iSazonov commented on #4527
Sorry, I got distracted. 😄

I like `$job = ls &` (possibly as Windows user) more than creating a new entity.

If we want `$LASTJOB` it should be `$PSLASTJOB`

[2017-08-09 08:43] mklement0 commented on #4527
:)

`$job = ls &` is definitely all that is _needed_, but my thought was that mimicking the Unix experience more comprehensively - given that the `... &` syntax is a nod to POSIX-like shells - perhaps makes sense.

Good point about the name.

[2017-08-09 08:47] iSazonov commented on #4357
@daxian-dbw  @adityapatwardhan Thanks for fast reviews!

We have many '#if CORE' for "assemlies" and hude for STA/apartment. Also we should review code base on .Net Core 1.0 -> 2.0 enhancements. I think it is better to make explicit points in #3565 for that and close the Issue.

[2017-08-09 08:52] iSazonov commented on #4527
We have to look at it on the other side. Perhaps Unix-like style is not the best in terms of clarity of understanding. If we based on c# and .Net Core, maybe it's better to follow that style.

[2017-08-09 08:52] markekraus commented on #4526
@passboltUser

I don't believe this will work on Linux. I believe the dll's for the SharePoint Online Modules are compiled for Full .NET Framework which would require them to be used on Windows. Regardless, it wont work there either. There is either an issue with [CoreFX](https://github.com/dotnet/corefx) and compatibility between  `System.IO.TextWriter` and `System.Net.RequestStream` or that is a

[2017-08-09 09:00] mklement0 commented on #4526
@passboltUser:

To be clear: this part of the discussion is just about generally running the latest PS Core version on Arch Linux - looks like @markekraus found the real problem.

Re download script: I see, thanks for letting me know (guess I could have looked at the source myself :).

Supporting Arch Linux too via the download script sounds like a great idea, especially if the official package la

[2017-08-09 09:08] mklement0 commented on #4527
I hear you, but now that I think about it, let me reframe the issue:

Think of it as a convenience for _interactive_ use, for quickly firing off a background command.

In a _script_, `$job = ls &` is absolutely the way to go.

[2017-08-09 09:19] paalbra commented on #4314
Isn't this the same as #3400?

[2017-08-09 09:24] markekraus commented on #4526
@passboltUser I'll ad another wrench in this. The SharePoint Online and SharePointPnPPowerShellOnline Modules both have `Microsoft.Win32.Registry` dependencies. Obviously, the windows registry is not available on Linux.

You might want to take this issue to [SharePoint/PnP-PowerShell](https://github.com/SharePoint/PnP-PowerShell) and see if they have any plans to make this work with Core and/or Li

[2017-08-09 10:33] iSazonov commented on #4527
it is reasonable. It seems we said the same thing about `$?`.

[2017-08-09 12:21] passboltUser commented on #4526
Thanks @markekraus. So the problem doesn't occur with 5.1? Maybe I should try 5.1?

[2017-08-09 12:26] markekraus commented on #4526
@passboltUser assuming you have [downloaded](https://www.microsoft.com/en-us/download/details.aspx?id=35588) and installed the SharePoint Online Module on a Windows system, it should work without issue. `Connect-SPOService` is not an included command in PowerShell, you have to install the module and as stated previously it is currently only working on Windows.

[2017-08-09 12:30] mklement0 commented on #4526
@passboltUser: The system requirements stated for the linked download:

[2017-08-09 13:31] passboltUser commented on #4526
@markekraus, `Connect-SPOService` works on Windows without problems. I want to install it on my Arch Linux, since PowerShell is open source and available for Linux from what I read.

[2017-08-09 13:41] markekraus commented on #4526
@passboltUser as @mklement0 mentioned earlier not all modules will work on Linux ([more info](https://github.com/PowerShell/PowerShell/blob/master/docs/KNOWNISSUES.md#net-framework-vs-net-core-framework)). If a module was made specifically to run on Windows or was compiled to use the Full .NET framework, it will not run on Linux. That is not an issue with PowerShell Core. As mentioned, this module

[2017-08-09 15:20] luzlab commented on #4475
Weird... I've gotten different results the first 2 times I tried running the command.
![image](https://user-images.githubusercontent.com/9924835/29129186-d21f4380-7cda-11e7-9dfe-45178f54e6b0.png)
![image](https://user-images.githubusercontent.com/9924835/29129197-dcd555a8-7cda-11e7-91a7-c6c14eae3a46.png)
The only thing I did was rerun `/build.sh`in between the two runs. I double-checked the permis

[2017-08-09 15:31] luzlab commented on #4475
By the way, I was able to workaround this. I added the following entry to my `~/.ssh/config`:

[code]

Since this allows me to log in programmatically, this issue isn't blocking me at the moment.

[2017-08-09 15:59] PaulHigin commented on #4475
The warning message you are getting:
[code]
indicates that you do not have the fix, since this is the specific error that it addresses.
Are you sure you are building the right branch?

BTW I didn't have any trouble while testing this change on Linux (Ubuntu 16.04), however I did run into access issues when testing on Windows 10 (with Win32-OpenSSH).  I was able to resolve the issues with:
https://

[2017-08-09 16:09] luzlab commented on #4475
It worked - I checked your repo, but hadn't switched to the correct branch.

![image](https://user-images.githubusercontent.com/9924835/29131648-63590456-7ce2-11e7-9754-0c1bfe96bcf6.png)

Thank you!

[2017-08-09 16:30] PaulHigin commented on #4475
Great to hear.  Thanks!

[2017-08-09 16:50] daxian-dbw commented on #4357
#3565 is more about reviewing `'#if UNIX'` blocks, while this one is focused on `'#if CORECLR'` blocks.
I think it's better to separate these two depending on how the cleanup work is being done. Someone probably wants to focus on removing the dead Full CLR code, so he/she can leave the related `#if UNIX` block untouched without worrying that the change will cause a regression in Unix plats.

[2017-08-09 16:51] mklement0 opened #4534 "Invoke-WebRequest in PS Core throws a terminating error in situations where a non-terminating error is issued in Windows PowerShell"
Note: I don't know if the change - a breaking one - was intentional. If so, it's worth documenting.

Arguably, the new behavior is less surprising.

_Update_: The change in behavior seems to come from the underlying [`[System.Net.HttpWebRequest]`](https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest(v=vs.110).aspx) class, but it's still worth getting clarity on how _PowerShell_ shoul

[2017-08-09 17:40] lzybkr commented on #4530
It looks like an oversight, so I'll call it a bug.

[2017-08-09 17:46] adityapatwardhan opened #4535 "Test failures in *PSSessionConfiguration tests"
Feature tests failing, which is causing the nightly build to fail.
Related to #2671
Test Failures: https://ci.appveyor.com/project/PowerShell/powershell-f975h/build/tests

Steps to reproduce
------------------
Run tests with [Feature] as git commit message.

Expected behavior
-----------------
All tests pass

Actual behavior
---------------
*PSSessionConfiguration tests fail.

[2017-08-09 17:57] TravisEz13 commented on #4314
No, this is already fixed in #4340

[2017-08-09 17:58] #4314 closed

[2017-08-09 17:58] markekraus commented on #4534
[`System.Net.Http.HttpResponseMessage.IsSuccessStatusCode` ](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs#L123) only considers `200`-`299` as success. [`Invoke-WebRequest`](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreClr.cs#L567

[2017-08-09 18:08] mklement0 commented on #4534
@markekraus:

Thanks for the background info.

Yes, as I've said the terminating error arguably makes more sense, but the issue is that the behavior has _changed_ - namely in the underlying  `System.Net.HttpWebRequest` class, from what I can tell:

[code]

Do you know anything about that? Was the old behavior considered a bug that is now fixed?

Either way, action is needed, even if it only means

[2017-08-09 18:10] nightroman commented on #3695
Out of curiosity, what cases are you going to resolve or improve by making read-only `$_`?

The very first example in this thread looks fine to me and probably to the author:

[code]

There is nothing wrong with it. There are some advantages in using `$_` as `foreach` loop variable.

It is true that the variable `$_` is quite busy. But such is the design. One
has to understand the context of `$_`

[2017-08-09 18:24] markekraus commented on #4534
From what I can tell there is an entirely new philosophy at play in the new `System.Net.Http.HttpResponseMessage` which is in use in Core. It is meant to be strongly typed and rigid. I would not be surprised if this new behavior is entirely intentional. I don't know if they were addressing specific problems or not.

It probably does warrant a documentation note. But, then, there are a bunch of cha

[2017-08-09 20:48] JamesWTruher commented on #4159
Microsoft.PowerShell.Cmdletization getting close to 50% coverage

[2017-08-10 03:51] iSazonov commented on #3695
Example with PoshRsJob is just a denial because it uses a _nonpublic_ API.

[2017-08-10 05:13] iSazonov commented on #3695
All examples above cons "$_ read only" use either bad coding style or tricky code - just that we want to exclude "terrible practice" - it is the original idea of the issue. This is always bad if a language forces to use a bad coding style or tricky code. Now PowerShell is open source and we can enhance it all things that customers need and let them write clear and clean code.

Currently we have th

[2017-08-10 08:15] dnataraj opened #4542 "Using Copy-Item from Linux (Ubuntu 16.04.2) To Windows (2016 Server Core)"
I'm wondering, since SSH remoting from Linux to Windows is available in some form now, if it will be possible eventually to copy files from Linux to Windows.

I've got the remoting to work very nicely following this excellent guide https://github.com/PowerShell/PowerShell/tree/master/demos/SSHRemoting

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actu

[2017-08-10 10:08] dnataraj commented on #4542
Actually, it appears that the file is actually transferred! (I didn't realize this at first, sorry). But the error still occurs.

[2017-08-10 11:42] colinardo opened #4543 "String in sub expression incorrectly parsed"
Hello everyone,
got a possible interpreter bug explained in detail first in the following forum
https://social.technet.microsoft.com/Forums/windowsserver/en-US/aeff1790-7e9a-4dfa-b35c-212a7f4b78b0/subexpression-with-additional-parentheses-string-inside-a-string-with-quotation-marks?forum=winserverpowershell

Steps to reproduce
------------------
Enter the following code in the console or in a scri

[2017-08-10 13:12] Karneades opened #4544 "Invoke-RestMethod and Invoke-WebRequest don't support client certificate authentication with certificate files"
`Invoke-RestMethod` and `Invoke-WebRequest` requires the certificate specified by _-Certificate_ to be imported in the certificate store. Both methods do not allow using certificates from files. This breaks client certificate authentication on non-Windows platforms.

**Proposal**: Support the use of certificate files for the client authentication by adding a new parameter _-CertificateFile_ or by

[2017-08-10 13:47] markekraus commented on #4544
Just verifying. When this is attempted with `Get-PfxCertificate` the `.pfx` file that is imported included the both the private key and certificate?

[2017-08-10 13:52] Karneades commented on #4544
Thanks for asking. Yes, once with and once without a password. The same cert is successfully used within the browser.

On Do., Aug. 10, 2017 at 3:47 PM, Mark Kraus <notifications@github.com> wrote:

[2017-08-10 14:01] mklement0 commented on #4543
Good find; it seems that any  unbalanced `(` or `)` instances inside a _quoted_string_ inside `$(...)` cause the problem.

The following commands all break unexpectedly:

[code]

Conversely, the following does _not_ break, even though it should:

[code]

[2017-08-10 14:21] mklement0 opened #4545 "Literals passed as unconstrained parameters to script blocks can result in culture-invariant default output"
Note: Unlike _string interpolation_, _default output_ is meant to be _culture-sensitive_, as the following example demonstrates:

[code]

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Note that if you _explicitly_ type the parameter, the problem goes away:

[code]

Conversely, even an untyped (unconstrained) par

[2017-08-10 14:57] iSazonov commented on #4545
`1.2` is a string - no convertion to number - and we get it back "as is".

[2017-08-10 15:02] mklement0 commented on #4545
@iSazonov:

[code]

Source-code literals are always parsed with the invariant culture:

[code]

[2017-08-10 15:15] iSazonov commented on #4545
@mklement0 It seems we see "side effect". Please use trace for analyzing:
[code]

[2017-08-10 15:20] iSazonov commented on #4542
@PaulHigin Could you please comment the Issue?

[2017-08-10 15:25] iSazonov commented on #4513
@MaximoTrinidad Could you please continue the exploration? We really need the exact steps to reproduce.

[2017-08-10 15:32] MaximoTrinidad commented on #4513
I've been using OpenSSH in Linux since the beginning of PowerShell Core Alpha.  Also, I'm constantly updating/upgrading my OS's both Linux and Windows.

I will continue pursuing it but I'm fine tuning my presentation for SQL Saturday JAX this weekend.
I'm not dropping this one.

Keep you posted!

:)

[2017-08-10 17:40] markekraus commented on #4544
Ok. I see a `TODO` in [WebRequestPSCmdlet.CoreClr.cs](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreClr.cs#L168) to add this after it was made available in CoreFX. I see that it is now available in CoreFX and I have working build on Linux with the [changes implemented](https://github.com/mark

[2017-08-10 17:45] Karneades commented on #4544
I was able to use a certificate on Windows _without_ having the cert imported in the cert store. BUT the exact same command on Ubuntu fails. The certificate is valid and used within the browser but is not working with `Invoke-RestMethod ... -Certificate (Get-PfxCertificate...)`.

Could someone confirm having the same issues on Linux/Ubuntu with a valid certificate? Otherwise its probably no PowerS

[2017-08-10 17:49] mklement0 commented on #4545
@iSazonov: I can't make sense of what `Set-TraceSource` is trying to tell me, but the following`Trace-Command` command again suggests that `1.2` is parsed as a `[double]`.

[code]

More generally, https://github.com/PowerShell/PowerShell/issues/2751#issuecomment-307175363 aims to describe how number literals are parsed in argument mode.

Aside from that, I see no good reason for the discrepancy in

[2017-08-10 17:51] markekraus commented on #4544
@Karneades  Yes, it is currently not possible in 6.0.0-beta.5 on Linux.

I was saying that I was able to locate the issue in the source code and implement code changes to make it work. I'm working on everything that is needed to make a proper Pull Request. This will likely be available in future versions (whether it is from my pull request or some other work).

[2017-08-10 17:57] lzybkr commented on #4545
This is by design. When PowerShell parses a literal as a command argument, it does not know the intended use of the literal.

When the use is a string, it is important that we have the **exact** string used as the argument and that we do not go through the literal's `ToString` implementation.

Examples:
[code]

If PowerShell did not do this, you would see:
[code]

[2017-08-10 17:58] PaulHigin commented on #4542
This is a known issue where copy-item is referencing non-existent dlls.  I don't recall the exact reason but as you see it doesn't prevent the file from being copied.  I think this can be fixed fairly easily but has not been high priority.  I don't remember if there is an issue tracking this so lets keep this issue open.  I'll update the tags.

[2017-08-10 18:08] mklement0 commented on #4545
I get that, but that wasn't the point of this issue.
Please explain the following discrepancy (a more narrowly focused reformulation of the original commands):

[code]

vs.

[code]

Note that the only difference is an _extra enclosing script block_.

[2017-08-10 18:23] mklement0 commented on #4545
P.S.: Even `echo` (`Write-Output`)  doesn't _always_ behave the way you describe:

[code]

The exact rules aren't clear to me. For instance, if you added just one extra - `00.0001` or `0.0001` - you would again get an culture-invariant representation.

[2017-08-10 19:54] lzybkr commented on #4545
It looks like there is a small bug [here](https://github.com/PowerShell/PowerShell/blob/1a8563336a1a7f297c05fe06d732994f8efa8691/src/System.Management.Automation/engine/parser/Compiler.cs#L3456)

The bug is assuming the culture won't change between compilation and execution. This is a mostly reasonable assumption, fixing this might hurt performance and not fix any real customer issue.

As for the

[2017-08-10 20:13] Karneades commented on #4544
Our comments just overlapped before.

Thanks a lot for digging into the code, your feedback and your engagement to solve this open issue! It would be awesome to have it working in the OpenSource version of PowerShell.

On Do., Aug. 10, 2017 at 7:51 PM, Mark Kraus <notifications@github.com> wrote:

[2017-08-10 20:31] #3353 closed

[2017-08-10 20:32] #4499 closed

[2017-08-10 20:35] mklement0 commented on #4519
In case you don't strictly need an actual _.NET_ type, here's a simple all-PowerShell alternative using PowerShell's ETS (extended type system):

* Define a function `New-DbaCredential` that creates `[PSCredential]` instances that are ad-hoc-decorated with the additional members as needed.

* The resulting instances will still behave like `[PSCredential]` in the context of cmdlet calls, yet you ca

[2017-08-10 20:40] markekraus commented on #4544
@Karneades No problem! If you want. you can clone from my fork, build it and test it.

[code]

The last line of output will give you the binary path of the newly built powershell. Run that and then try to use `Get-PfxCertificate` with `Invoke-RestMethod` and `Invoke-WebRequest`. My simple tests work, but I don't have anything outside an echo server to test real Certificate Authentication with.

[2017-08-10 21:32] adam-koblentz commented on #3752
Any progress on this?

[2017-08-10 21:46] Karneades commented on #4544
Awesome! What a nice small change to make that important feature work! Tested successfully both on Windows 10 and Ubuntu 16.04 with your fork. Hope your PR will make it into the next beta. Thanks so much!

[2017-08-10 22:08] jackfruh opened #4547 "Please sign the mac installer"
Hi Folks, can we get signed installers for mac?

I can help with the $99 apple developer account if that's an issue.

- Jack

[2017-08-10 23:10] adam-koblentz opened #4548 "Support for Ubuntu 17.04?"
I saw a bug from a few months ago about Ubuntu 17 support not being ready yet.

Has that moved at all? I still don't see the package in the repos.

[2017-08-10 23:17] lzybkr opened #4549 "Parameter completion should work even when #requires fails"
Steps to reproduce
------------------
In a non-elevated PowerShell, try to tab complete parameters to a script that looks like:

[code]

Expected behavior
-----------------
Completion works. Note that the current behavior is slightly useful as an indicator that the script won't run even after finishing the command line, but it is poor behavior in an editor that probably isn't running elevated.

Ac

[2017-08-11 02:04] FriedrichWeinmann commented on #4519
Heya, thanks for the input.
Indeed, that would do for adding some new members on a limited scale.

Design goal:

 - Add input validation that gets inherited through
 - Avoid any changes in handling internally
 - Eliminate credential prompts on older PowerShell versions, without an eternal chain of if/else
 - Flexibly convert input of specified types without blanket-accepting everything

So basical

[2017-08-11 03:44] iSazonov commented on #4542
@PaulHigin Thank you! This must definitely be corrected before 6.0.
Once we remove Windows Dlls from Unix distrib, it may be easier to detect such problems.
/cc @SteveL-MSFT

[2017-08-11 03:53] iSazonov commented on #4547
@jackfruh Thanks! Please describe the problems you are experiencing (scenarios).

[2017-08-11 03:57] iSazonov commented on #4548
@adam-koblentz Thanks! We already have a issue to track this #3961 and it is high priority.

[2017-08-11 03:57] #4548 closed

[2017-08-11 04:10] iSazonov commented on #3752
It is high priority.

[2017-08-11 04:17] jackfruh commented on #4547
Sure,  on OSX, applications need to be signed in order to install with default settings on OSX.

In the security settings for MacOS 10.12, on the general tab, there are options to
 "allow apps downloaded from: [] App Store, [] App Store and identified developers"
(Signing is what makes the difference between identified and unidentified)

Without Signing, OSX will refuse to install the item:
![2017

[2017-08-11 04:21] iSazonov commented on #4547
@jackfruh Thanks for clarify!

@TravisEz13 Could you please comment the request?

[2017-08-11 05:48] lzybkr commented on #4519
Without debugging, I'm guessing the problem is [here](https://github.com/PowerShell/PowerShell/blob/0bfee35525c04761dad542c7b52403f0643de716/src/System.Management.Automation/security/CredentialParameter.cs#L59) - `LanguagePrimitives.FromObjectAs` is essentially the C# `as` operator, but this method also unwraps a `PSObject`.

This means your implicit conversion operator will not help, the transfor

[2017-08-11 08:53] mklement0 commented on #4519
@FriedrichWeinmann: Got it, thanks for the feedback (on my somewhat self-indulgent workaround).

Kudos for a sophisticated approach.

The link to your source doesn't seem to work, but [this one does](https://github.com/sqlcollaborative/dbatools/blob/master/bin/projects/dbatools/dbatools/Parameter/DbaCredentialParameter.cs).

[2017-08-11 09:43] mklement0 commented on #4545
@lzybkr:

Thanks. I realize I didn't really fully understand the issue until now (hopefully), so let me try to confirm my understanding:

When a literal is bound to an unconstrained parameter:

* On the one hand, it _is_ converted to a numeric type if it can be interpreted as such (`1.2` becomes a `[double]`).
* On the other hand, the intent is for its default output representation to be the liter

[2017-08-11 15:52] TravisEz13 commented on #4547
I'll investigate.

[2017-08-11 16:05] JohnLBevan opened #4552 "Implicit Format-Table does not detect change of object."
When running some commands in sequence, if no `Format-` command is explicitly stated, output may not show.  I believe this occurs when one command formats data as a table, and the subsequent command erroneously attempts to put its data into this same table.

Issue first observed by LukeZeimet at: https://stackoverflow.com/questions/45637800/powershell-if-condition/45638510?noredirect=1#comment7823

[2017-08-11 17:27] daxian-dbw opened #4554 "Member indexing on COM collection object doesn't work in .NET Core"
## Repro (1)

### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

## Repro (2)

Open 2 File Explorer windows first if you find $w.Count is less than 2

### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

## Environment data

[code]

[2017-08-11 20:17] mklement0 opened #4557 "Number literal passed as an unconstrained parameter can result in culture-sensitive default output"
<sup>Follow-up to #4545.</sup>

Note: It sounds like this won't get fixed, in which case the behavior should be documented.

@lzybkr's [assessment of this bug](https://github.com/PowerShell/PowerShell/issues/4545#issuecomment-321656251):

**Background:**

Number literals passed to unconstrained parameters (in argument mode) are by designed represented _exactly as specified_ in the default output -

[2017-08-11 20:17] #4545 closed

[2017-08-11 20:35] mklement0 opened #4558 "Use of script blocks can result in different output behavior with respect to culture-sensitivity"
<sup>Follow-up to #4545.</sup>

* With _expressions_, simply _wrapping a script block in another script block_ changes the output behavior with respect to culture-sensitivity, at least with respect to passing a number literal to an unconstrained parameter.

* With _commands_ - e.g., `Write-Host` and `Write-Output` a _single script block_ is enough.

@lzybkr's [assessment of this problem](https://g

[2017-08-11 20:36] mklement0 commented on #4545
For clarity I've opened two new, focused issues: #4557 and #4558

[2017-08-11 21:17] gpduck opened #4559 "CustomMethod parameter does not show up in help for Invoke-RestMethod or Invoke-WebRequest"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Displays help for both StandardMethod and CustomMethod parameter sets.

Also displays parameter help for the CustomMethod parameter.

Actual behavior
---------------
Only the StandardMethod parameter set.  Throws an error when -Parameter CustomMethod is used.
[code]

Environment data
----------------

[code]

[2017-08-11 22:57] TravisEz13 opened #4561 "Basic filesystem tests fail intermittently"
Example:
https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.5-4620/tests

[code]

[2017-08-11 23:17] jaredcatkinson opened #4562 "Microsoft.Management.Infrastructure NuGet package missing dependencies"
I'm writing a ASP.NET Core web app that requires accessing CIM information/methods. Microsoft.Management.Infrastructure v4.0.0, available via NuGet, is not .NET Core compatible, so naturally I was curious how CIM works in PowerShell. I found that you are using a powershell-core ```https://powershell.myget.org/F/powershell-core/api/v3/index.json``` respository to host Microsoft.Management.Infrastru

[2017-08-12 02:34] benpiper opened #4563 "Installing module fails due to missing Microsoft.PowerShell.Commands.PowerShellGet.Win32Helper type"
Installing the AWSPowerShell.NetCore module fails on Windows due to missing Microsoft.PowerShell.Commands.PowerShellGet.Win32Helper type.

Steps to reproduce
------------------

[code]

Actual behavior
---------------

[code]

Adding the `-SkipPublisherCheck` flag is a workaround.

Environment data
----------------

[code]

[2017-08-12 03:41] juju4 opened #4564 "Docker build: Include server module ActiveDirectory, MSOnline, Azure..."
Currently docker container lacks module to interact with Microsoft world.
Any way to have them or in the plan?

Thanks

Steps to reproduce
------------------
Use Microsoft Powershell in Docker from
https://hub.docker.com/r/microsoft/powershell/

and trying above Module

[code]

Expected behavior
-----------------
load without error

Actual behavior
---------------
not loaded because no valid modul

[2017-08-12 03:43] mklement0 commented on #888
The first issue is that only a _global_ variable by that name is respected (similar issue: #3645):

[code]

The 2nd issue is that the `$FormatEnumerationLimit` is not type-constrained, not even in the global scope.

On a related note: Other preference variables are type-constrained in the global scope (e.g., `$ErrorActionPreference`, but aren't predefined in descendant scopes, which makes them eff

[2017-08-12 03:48] mklement0 commented on #4394
@SteveL-MSFT:

Good idea; while we're at it: `IsPreference` would be useful too.

Programmatic discovery of preference variables has been suggested before, on [uservoice.com](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/17407222-powershell-and-collections-in-particular-collect).

[2017-08-12 04:00] mklement0 commented on #4394
I still think the introduction of namespaces is worth considering, given that, with the current approach of sticking all automatic / preference variables in the same namespace as user-defined variables, any introduction of new automatic / preference variables comes with the risk of breaking existing scripts that happen to use variables of the same name.

Technically, a single namespace such as `$p

[2017-08-12 04:07] mklement0 commented on #4216
@iSazonov:

Re 1.: This is covered by @DarwinJS's existing RFC.
Re 2: Before we resurrect that, I suggest we get clarity on the overall approach proposed in #4394.

@DarwinJS:

I hear you, but keeping track of which feature was introduced when is an unavoidable challenge if you want to innovate.
A back-ported module may indeed help, however.

I suggest we continue the conversation at #4394.

[2017-08-12 04:30] mklement0 commented on #4552
Users have been stumbling over this for a while, so it's good to see the issue raised here.
Should the issue be declared as-designed, it is at least worth documenting.

Here's a 2-year-old [connect.microsoft.com](https://connect.microsoft.com/PowerShell/Feedback/Details/1635172) bug presumably related to the same issue.

@PetSerAl provides an in-depth explanation in [this SO answer](https://stacko

[2017-08-12 18:11] iSazonov commented on #4563
@benpiper  I believe a right repo https://github.com/PowerShell/PowerShellGet

[2017-08-13 11:24] WilliamWsyHK commented on #2108
How's the progress of hosting PS in you own program doing?
I need this feature badly. :sweat_smile:

[2017-08-13 17:45] iSazonov commented on #4562
@daxian-dbw Could you please comment?

[2017-08-14 00:52] SteveL-MSFT commented on #4562
The history of MMI is a bit complicated.  MMI (aka WMIv2) was originally written in managed C++.  Managed C++ is no longer supported.  There was work started to have a pure C# implementation, but it was only sufficient for PowerShell purposes and not a replacement for the original.  Since the industry has moved away from CIM towards JSON, it hasn't been a priority to complete the port.

[2017-08-14 04:19] #4563 closed

[2017-08-14 04:26] SteveL-MSFT commented on #4552
Yes, the 300 ms wait was added to improve formatting of column widths, however, this issues seems to be an unintended side-effect.

[2017-08-14 04:36] SteveL-MSFT commented on #4564
ActiveDirectory is not supported on PSCore6 since it's implemented as a PSSnapIn which is not supported on PSCore6.  In general, for any modules not owned by the PowerShell Team, you should ask those teams (generally they have a UserVoice page) to publish PSCore6 compatible modules on PSGallery then you can install them from within the docker image.  There aren't plans to add more images for speci

[2017-08-14 04:36] #4564 closed

[2017-08-14 05:25] iSazonov commented on #4394
Internally we use term [AutomaticVariables](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/SpecialVariables.cs#L250) in different way then [public](https://docs.microsoft.com/en-us/powershell/module/Microsoft.PowerShell.Core/about_Automatic_Variables?view=powershell-5.1).

Should we use `SpecialVariables` that is used internally in public too?

[2017-08-14 05:33] iSazonov commented on #4394
We have 7 well-known [preference variable](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/SpecialVariables.cs#L350) - I think there's no point in highlighting them.

[2017-08-14 06:24] SteveL-MSFT commented on #4526
As noted by others, we did work to make existing FullCLR Windows PowerShell modules work with PowerShell Core, however, this doesn't mean they will ever work on non-Windows.  My recommendation is to ask product teams to port their cmdlets to PowerShell Core and ensure they are cross platform.  Feedback coming from users is more likely to succeed than when it comes from the PowerShell Team.  The [S

[2017-08-14 06:24] #4526 closed

[2017-08-14 08:37] SteveL-MSFT commented on #4492
@vors can you verify and close this?

[2017-08-14 08:41] #3220 closed

[2017-08-14 11:04] 4c74356b41 commented on #4090
@SteveL-MSFT hey there, do you know why each time i run azure powershell it prompts for datacollection? it honestly looks like a bug. the '/home/user/.config/Windows Azure Powershell/AzureDataCollectionProfile.json' file is there and contains: `{"enableAzureDataCollection":true}`, yet each time i open new session and run azure cmdlets it prompts if i want to collect data

[2017-08-14 11:57] SteveL-MSFT commented on #4090
@4c74356b41 don't know, best to open an issue in their [repo](https://github.com/Azure/azure-powershell/issues)

[2017-08-14 12:01] SteveL-MSFT commented on #4559
Looks like it's because `-CustomMethod` isn't in the [updateable help documentation](https://github.com/PowerShell/PowerShell-Docs/blob/staging/reference/6/Microsoft.PowerShell.Utility/Invoke-RestMethod.md)

[2017-08-14 12:12] SteveL-MSFT commented on #4507
Dupe https://github.com/PowerShell/PowerShell/issues/2240

[2017-08-14 12:12] #4507 closed

[2017-08-14 12:19] SteveL-MSFT commented on #2240
`New-WebServiceProxy` depends on System.Web.Services.dll which isn't part of corefx

[2017-08-14 12:30] SteveL-MSFT commented on #4493
cc @PowerShell/area-dsc

[2017-08-14 12:32] SteveL-MSFT commented on #3541
cc @adityapatwardhan looks like we may missing some other package for MMI to work on Win7

[2017-08-14 13:03] SteveL-MSFT commented on #4351
`-no` might be a valid script file, so I don't think we want check against ambiguous intended parameters (`-Command` didn't do this either).  However, we can improve the error message.  How about:

[code]

[2017-08-14 13:05] SteveL-MSFT commented on #2861
This certainly looks like a gap in the serialization, however, since this is an existing gap, it is an `enhancement` and something we can address in the future.

[2017-08-14 13:10] mklement0 commented on #4394
Re _automatic_ variables: While this discrepancy is unfortunate, _automatic variable_ is a well-established and documented user-facing term.

It sounds to me that the way to resolve this is to make a note in the source code or change the variable name(s), such as to `AutomaticEngineVariable`.

Re _preference_ variables:

Similarly, the `about_preference_variables` help topic lists many more prefer

[2017-08-14 14:11] iSazonov commented on #4394
It's a misleading internal/public terminology again.

[2017-08-14 14:40] mklement0 opened #4568 "Need straightforward way to honor the caller's preference-variable values / inherited common parameters in functions defined in script modules"
This is a longstanding issue that @dlwyatt explained in detail in this [2014 blog post](https://blogs.technet.microsoft.com/heyscriptingguy/2014/04/26/weekend-scripter-access-powershell-preference-variables/), and he has even published module `PreferenceVariables` with advanced function `Get-CallerPreference` to ease the pain, via a hard-coded list of preference variable names.

In short: A _scrip

[2017-08-14 14:53] mklement0 commented on #4394
As for the need for programmatic discoverability of automatic / preference variables:

PowerShell (as well as .NET) has a strong tradition of "self-awareness" through reflection.

_Generally_, you'd want to know about special attributes / behavior of variables: whether a variable is defined by PowerShell and whether a variable modifies PowerShell's behavior is certainly worth knowing about.

  * T

[2017-08-14 15:47] TravisEz13 commented on #4492
I have a PR to help prevent this from happening.

[2017-08-14 15:49] #4390 closed

[2017-08-14 15:50] iSazonov commented on #4568
Module has its own context. It may be preferable to set the preference variable value for the module
`Set-Variable -Module moduleName`

[2017-08-14 16:13] TravisEz13 commented on #4493
Can you run `get-module policyfileeditor -ListAvailable | fl *` ?

I cannot repro the issues in Beta.4 or beta.5

Although, I hit another issue when trying to run the configuration.  The module is obviously meant to only work on non-windows environments.

[2017-08-14 16:17] TravisEz13 opened #4570 "DSC Configurations should work on windows"
## Repro

[code]

Expected behavior
-----------------

should run configuration

Actual behavior
---------------

[code]

Environment data
----------------

[code]

## Additional data

PSDesiredStateConfiguration.psm1:1597 is hard coded to output to `/dev/null` which doesn't work on windows

[2017-08-14 16:18] TravisEz13 commented on #4493
filed #4570

[2017-08-14 16:39] mklement0 commented on #4568
Yes, modules have their own scope, which is generally a good thing.

However, this special case calls for a _concise, PS-supported_ way to copy all the preference-variable values from the caller's scope.
(The current workaround of using `$PSCmdlet.SessionState.PSVariable`  based on a hard-coded list of preference variable names is neither future-proof nor reasonable.)

Consider the user's perspect

[2017-08-14 16:57] electricduck commented on #4191
This happens on Linux too, just to be aware

[2017-08-14 17:04] jaredcatkinson commented on #4562
Interesting. I was hoping there'd be a more straightforward solution, but I think I can probably just call Invoke-CimMethod from my assembly and get the result I'm looking for. I'd be interested in learning more about the JSON implementation you mentioned. Is it built on WMI/CIM? IMO, one of the most beneficial features of WMI/CIM is its ubiquity. I'd be worried if it was going to be killed off in

[2017-08-14 17:47] daxian-dbw opened #4571 "There are errors thrown out when uploading CodeCoverage artifacts"
Starting from line 8829 in https://ci.appveyor.com/project/PowerShell/powershell-f975h, you will see the errors thrown out when uploading CodeCoverage artifacts. For example:

[code]

[2017-08-14 18:27] mklement0 commented on #3768
@SteveL-MSFT:

Just to clarify: does that mean that caught errors will be absent from `-ErrorVariable` _and_ `$Error` (which I think makes sense), or only the former?

Note that if such errors are still recorded in `$Error`, the implication is that the for-_non-terminating_-errors-only `-ErrorAction Ignore` construct will have no counterpart for _terminating errors_.

[2017-08-14 18:49] mklement0 commented on #3768
@KirkMunro:

I'm also inclined to think that `$?` and `.HadErrors` should reflect `$True` with `-ErrorAction Ignore`, given that someone who really needs to know whether a error occurred has the option of using `-ErrorAction SilentlyContinue -ErrorVariable ev` and then inspecting `$ev`.

Given that terminating errors (those that can be caught with `try` / `catch`) aren't affected by `-ErrorAction`

[2017-08-14 19:26] markekraus commented on #4559
`-SkipCertificateCheck` is also missing from both.

`-FollowRelLink` is missing from `Invoke-RestMethod`

[2017-08-14 21:02] bergmeister commented on #4458
OK, so to summarize:

- [Universal C Runtime](https://www.microsoft.com/en-us/download/details.aspx?id=50410) prior to Windows 10
- Visual C++ Redistributable for VS2015 (the [link ](https://my.visualstudio.com/Downloads?pid=2082)to it in the [pre-reqs](https://my.visualstudio.com/Downloads?pid=2082) does not work for people without an MSDN subscription by the way)

@SteveL-MSFT @adityapatwardhan

[2017-08-14 21:16] mklement0 opened #4572 "Using a 2> error-stream redirection with cmdlets still records error records in $Error"
<sup>Closely related to #4002, which discusses the problem with respect to invoking _external utilities_, where it has additional side effects.</sup>

Any attempt to _redirect_ the error-output stream with `2>` causes the errors unexpectedly be recorded in the `$Error` collection _as well_.

While this could be considered [as designed](https://github.com/PowerShell/PowerShell/issues/3768#issuecomm

[2017-08-14 21:21] bergmeister commented on #4315
@iSazonov @adityapatwardhan  See [here](http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/block_install_on_os.html) on how you could do this using functionality already built into WiX. It is not perfect but a good starting point.

[2017-08-14 21:44] adityapatwardhan commented on #4458
@bergmeister I think that might work. Thanks!

[2017-08-14 22:34] SteveL-MSFT commented on #4562
To clarify, WMI/CIM isn't being deprecated from Windows, however, no new development is happening in that area (it's basically considered complete).

The JSON mention is about [Redfish](http://redfish.dmtf.org/) which we support via [ODataUtils](https://github.com/powershell/odatautils) already.

I think calling the CIM cmdlets via code is a fine solution.

[2017-08-14 22:45] SteveL-MSFT commented on #4572
The redirection is independent of the "running $error log".  As you know, there's several issues covering terminating/non-terminating, stderr, etc... I'm open to proposals on how to simplify our error handling story while not introducing breaking changes where possible.

[2017-08-14 22:45] #4572 closed

[2017-08-14 23:31] lzybkr commented on #4191
This is https://github.com/lzybkr/PSReadLine/issues/468

I'm quite far along with the real fix - the ansi_render branch fixes the problem on Windows, but that branch still has some Windows specific code, I haven't finished porting everything yet.

[2017-08-14 23:31] #4191 closed

[2017-08-15 00:08] SteveL-MSFT commented on #2636
@joeyaiello now that we can use many Windows PowerShell modules from within PSCore6, I'm moving this out of 6.0.0-HighPriority

[2017-08-15 00:14] TravisEz13 opened #4574 "make myget registration resilient to transient connection issues"
MyGet registration fails intermittently.  We should try to make the CI system resilient to these failures.
[code]

[2017-08-15 00:25] joeyaiello opened #4575 "Export/Import-BinaryMiLog cmdlets are missing on Windows"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

Nothing is returned.

Environment data
----------------

[code]

[2017-08-15 00:27] joeyaiello commented on #4575
Dupe of #1484

 Must've spelled it wrong when I searched for other issues on this.

[2017-08-15 00:27] #4575 closed

[2017-08-15 00:46] mklement0 commented on #4351
@SteveL-MSFT:

For consistency and predictability, you should never assume that `-`-prefixed tokens are parameter _values_, _unless_ they follow a recognized, unambiguous parameter name (such as `-NoProfile`):

* If a _positional_ token _looks like_ a parameter name - i.e., if it starts with `-` followed by a _letter_ -  it should be interpreted as such.
* If that parameter name is not recognized

[2017-08-15 01:22] mklement0 opened #4576 "Parameter values disambiguated with their explicit parameter names should not require quoting"
In order to pass a parameter _value_ that _looks like_ a parameter _name_ you currently have to use _quoting_ - _sometimes_.

However, if you explicitly precede the value with its parameter _name_ as opposed to passing it _positionally_, no quoting should be necessary.

Especially with respect to PowerShell's CLI and all its quoting headaches, this extra quoting requirement should be reconsidered

[2017-08-15 01:26] mklement0 commented on #4351
@SteveL-MSFT: I just realized that even PowerShell's _internal_ parameter parsing has inconsistencies - see #4576

[2017-08-15 03:15] peterquirk opened #4577 "Not supported on this platform error when running Get-StringHash with MD5 algorithm"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-15 03:41] iSazonov commented on #4577
@peterquirk Thanks for your report!

`Get-StringHash` is not in the repo. Currently we have `Get-FileHash` and we are working on `Get-Hash` in #3395

The error "Operation is not supported on this platform." come from CoreFX. It is not PowerShell Core error. You should open issue in CoreFX repo.

[2017-08-15 04:11] iSazonov commented on #4568
Main module's function is to isolate code that expose public API and hide implementation. We can get unpredictable behavior if we just copy any variables (and maybe indirectly functions) to a module context.
Also internally there are difference of global and local preference variables.
Preference variables is not protected and can be used other ways:
[code]
We may have problems if these variables

[2017-08-15 04:20] iSazonov commented on #4568
Also we have an Issue with request to share modules between runspaces. If we want implement this we can not simply copy any variables - no single parent context exists.

[2017-08-15 04:48] mklement0 commented on #4568
Indeed, but that is (a) incidental to the issue at hand and  (b) should in itself be considered a bug: see  #3483

[2017-08-15 04:56] mklement0 commented on #4568
We're not talking about _any_ variables. We're talking about the well-defined set of _preference_ variables - even though, as stated, there's currently no _programmatic_ way to enumerate them.

[2017-08-15 05:11] mklement0 commented on #4568
* Please read the blog post that the original post links to.
* Then consider my `Get-Item` vs. `Get-MyItem` example.

This is very much a _production_ issue, unrelated to debugging:

Currently, if you create a script module, that module's functions will by default _ignore_ a caller's preferences variables (unless you're calling from the global scope), which to me is self-evidently problematic:

Fo

[2017-08-15 06:14] FriedrichWeinmann commented on #4519
Heya @lzybkr ,
thanks for the pointer, though it's more [this](https://github.com/PowerShell/PowerShell/blob/0bfee35525c04761dad542c7b52403f0643de716/src/System.Management.Automation/security/CredentialParameter.cs#L53) position that had me confounded. That string wouldn't work was kinda expected, but in the call from line 53 it tries to coerce it into a PSCredential object by casting it - which b

[2017-08-15 06:18] lzybkr commented on #4568
Honoring the callers preference might cause serious problems by introducing exceptions (e.g. `$errorActionPreference = 'Stop'` in places where none were expected.

Some examples - `Dispose` might not get called and resources leak, or the system may be left in an inconsistent state because some side effects do not execute.

If the goal is to silence a noisy function - one can work with the function

[2017-08-15 06:42] iSazonov commented on #4315
@bergmeister Thanks!

[2017-08-15 08:20] f0rt commented on #4345
Thanks for the replies. Is there a clean way to break into a Job? Set-PSBreakpoint is not working. Modifying the job script to add Wait-Debugger doesn't seem to be a developer friendly way.

[2017-08-15 08:21] SteveL-MSFT commented on #4351
I have a change that I think addresses your valid concern:

[code]

Need to add tests

[2017-08-15 09:17] markekraus commented on #4576
I'll weight in that this is not a good idea, IMO.

For example:
[code]

With your proposal in place, looking at that command should it be interpreted as

[code]

or

[code]

This could cause unexpected/unpredictable behavior and lead to a bad UX. This also opens a Pandora's box of exceptions like passing string parameters with subexpression operators. Strings that contain special tokens should be

[2017-08-15 09:18] iSazonov commented on #4345
@f0rt Use Debug-Job https://blogs.msdn.microsoft.com/powershell/2014/12/11/powershell-job-debugging/

[2017-08-15 09:25] SteveL-MSFT commented on #4357
I'm in process of taking care of ApartmentState

[2017-08-15 10:04] iSazonov commented on #4357
Who we can ask to clean up web cmdlets?

[2017-08-15 11:50] f0rt commented on #4345
I'm using Debug-Job but it fails if I don't add Wait-Debugger to the job script. This means that I need to modify the script that I'm trying to debug which is not desired in some cases.

[2017-08-15 12:58] iSazonov commented on #4345
Do you say that the sample from the blog post mentioned above doesn't work?

[2017-08-15 14:44] mklement0 commented on #4576
@markekraus:

I get your concern, but do note:

* that there's no syntactical ambiguity: in PowerShell, a parameter either _requires_ a value or is a _switch_; so, for any given parameter name specified explicitly, it is unambiguously implied whether the next token is a parameter _value_ or a _different parameter_.

* that even single-character `-` suffixes - where there's no obvious resemblance t

[2017-08-15 14:56] mklement0 commented on #4577
Just to boil @iSazonov's statement down to an example that underscores his point:

[code]

[2017-08-15 15:15] iSazonov commented on #4525
/cc @PowerShell/area-dsc

[2017-08-15 15:39] markekraus commented on #4576
Yes and I'm suggesting this would introduce that ambiguity. In my example you could consider `Get-Help` the positional parameter for `-Name` and `-Name` as the string parameter for `-Module`. That's not what I as a user would expect. I would expect to be told I forgot to provide a value for `-Module`. Instead, I would just get nothing in return assuming I don't have a `Get-Help` command in a `-Nam

[2017-08-15 15:42] jherby2k commented on #2108
I'm encounting this issue now, trying to unit test a binary module I am writing for PowerShell core. This is a big issue! Any workaround??

[2017-08-15 16:09] mklement0 commented on #4576
There's no ambiguity, because what I'm proposing is state-dependent, _based on the specific syntax of the command in question_:

* With a clean slate, `-Name` is unambiguously the parameter _name_.
* Once that has been recognized, given that the `-Name` parameter _requires a value_, the _next_ token is unambiguously the parameter _value_ - even if it looks like a _parameter_.

It's not that common

[2017-08-15 16:24] markekraus commented on #4576
I don't think so. It should be considered a difference of syntax between shells. How a shell parses arguments to pass to binary is up to that shell and there are only similarities between shells. PowerShell *as a shell* will have a different method for parsing and passing arguments to binaries then Bash, CMD, etc. that would be expected. What one shell deems an important token another may deem irr

[2017-08-15 16:49] mklement0 commented on #4576
The _way_ in which it fails tells us that something is amiss - the two commands fail for different reasons:

* `Get-Content -LiteralPath -t.ps1` fails, because `-t.ps1` is interpreted as a parameter _name_ (the starting point of our discussion - purely _syntactically_, given that `-`-prefixed barewords are allowed, this _should_ work).

* `powershell -noprofile -file -t.ps1` fails due to an _unrel

[2017-08-15 16:59] PaulHigin commented on #4475
Fixed with PR #4529

[2017-08-15 16:59] #4475 closed

[2017-08-15 17:20] dlwyatt commented on #4568
I think the focus is too much on the implementation here and not on the problem:  a user shouldn't have to know or care how a particular PowerShell command is implemented.  Whether it's a cmdlet, function, cdxml, imported from a remote session, whatever:  they should have a consistent experience with regard to common parameters and preference variables.  If I put `$VerbosePreference = 'Continue'`

[2017-08-15 17:23] markekraus commented on #4576
Huh.. to add to the weirdness... this is totally possible...

[code]

`(`,`)`,`'`,`"`, and `.` all break it, but any of the others, including what would normally be a variable, is treated as a literal string.

I really think the solution is to treat `-` as a reserved prefix for named parameters. I would expect

[code]
to throw a `NamedParameterNotFound` exception, and I would expect

[code]

To th

[2017-08-15 17:37] mklement0 commented on #4568
@dlwyatt: Amen to that. I was in the middle of composing the following:

The point is that if _compiled_ cmdlets respect preference variables set in the caller's scope, it's reasonable to expect _advanced functions_ to respect them too - the user shouldn't have to worry about module scopes or how a given command happens to be implemented.

With respect to `$ErrorActionPreference = 'Stop'`: It soun

[2017-08-15 17:38] lzybkr commented on #4519
@FriedrichWeinmann - in your example, your implicit operator is not called because the **static** type of the parameter is `object`. Something like this should work:

[code]

Of course this can't work in PowerShell because PowerShell won't statically know your type.

[2017-08-15 18:20] mklement0 opened #4578 "Parsing of "-"-prefixed barewords in argument mode is broken"
Note:

* As demonstrated in https://github.com/PowerShell/PowerShell/issues/4576#issuecomment-322489313, `-`-prefixed barewords are currently only accepted if they happen not to match the name or name prefix of a parameter supported by the command - an inconsistency that is problematic in itself.

* @markekraus's suggestion is to disallow `-`-prefixed barewords altogether - to always require _quot

[2017-08-15 18:29] mklement0 commented on #4576
Good find re lack of expansion.

I've created #4578 to focus on the aspect of `-`-prefixed bareword parsing (and to generally ask the question whether it should be supported).

I'm with you with respect to `Write-Output -NonexistentParameter`: without a preceding, valid parameter name that requires a value, `-NonexistentParameter` should be parsed as a parameter _name_ (and in order to force inter

[2017-08-15 18:31] marcosnils commented on #4346
@joeyaiello what's the command?. I'm experiencing something similar here

[2017-08-15 18:50] JamesWTruher commented on #4518
this particular problem is fixed with: https://github.com/PowerShell/PowerShell/pull/4522

[2017-08-15 18:51] #4518 closed

[2017-08-15 19:53] lzybkr commented on #4568
Keep in mind one big difference between binary cmdlets and functions - binary cmdlets are rarely implemented in terms of PowerShell functions or other cmdlets.

The error or verbose output is likely carefully crafted for a binary cmdlet, whereas it's a bit more random for functions.

Also note that the equivalence of `-ErrorAction Stop` and setting the preference variable could be thought of as an

[2017-08-15 20:03] lzybkr commented on #4576
Feel free to continue discussing, but I'm closing the issue because I can't see adding more complexity to the parameter binder to change this behavior.

The "workaround" is in my opinion the preferred style - use quotes.

There is no confusion to human readers.
There is no potential ambiguity for the parameter binder to deal with.
The script is future proof, adding a new parameter that might match

[2017-08-15 20:03] #4576 closed

[2017-08-15 20:09] markekraus commented on #4576
@mklement0

This may be unambiguous from a code standpoint. But from a user standpoint, that would be really confusing.

[code]

Now my very important `-wwhatif` file is deleted. :( Maybe I was just trying to test out the command but flubbed the `-whatif` parameter. My expectation as a user would be that I should be told `-Path` is missing its value or that `-wwhatif` is not a valid paramter, not

[2017-08-15 21:59] mklement0 commented on #2860
@joeyaiello:

I had the same misconception, and I think the source is that the current help topics conflate _statement_-terminating errors with _script_-terminating errors - please see [Our Error Handling, Ourselves - time to fully understand and properly document PowerShell's error handling](https://github.com/PowerShell/PowerShell-Docs/issues/1583).

[2017-08-15 22:11] mklement0 commented on #4572
@SteveL-MSFT:

Please have a look at [Our Error Handling, Ourselves - time to fully understand and properly document PowerShell's error handling](https://github.com/PowerShell/PowerShell-Docs/issues/1583).

[2017-08-15 23:17] #4492 closed

[2017-08-15 23:23] TravisEz13 commented on #4492
@SteveL-MSFT This should not be possible unless someone packages with `-SkipReleaseChecks`
So, this should be closed and should not occur again.

[2017-08-15 23:55] mklement0 commented on #4568
Users needing to be aware of how a given command happens to be implemented is an unreasonable expectation.
Aside from that, I don't understand your comment.

PowerShell has evolved toward making the PowerShell language a first-class citizen with respect to creating cmdlets (advanced functions).
Someone skilled enough to create advanced functions as part of a module should be assumed to exercise th

[2017-08-16 00:04] #4578 closed

[2017-08-16 00:13] mklement0 opened #4591 ""-"-prefixed barewords in argument mode should always be interpreted as parameter names"
#4578 shows that you can _sometimes_ use `-`-prefixed bareword as parameter _values_ - namely only if the bareword happens not to (prefix)-match a parameter name of the target command - and when such barewords _are_ recognized as _values_, they don't behave the same way as non-`-`-prefixed barewords with respect to interpolation and being recognized as a single argument.

This inconsistency is pro

[2017-08-16 00:17] mklement0 commented on #4576
@markekraus:

That's a good example, and I can see how requiring quoting ultimately makes for a user-friendlier solutions.

@lzybkr seems to agree with you, so this means that the unquoted-`-`-prefixed-bareword-as-value loophole should be closed:  #4591

For the sake of a sane _CLI_, I hope that something like `powershell -noprofile -file -t.ps1` will continue to work _from outside of PowerShell_.

[2017-08-16 03:45] iSazonov commented on #2909
@chunqingchen Can we close the Issue as resolved?

[2017-08-16 04:35] nightroman commented on #3695
Found one more use of `$_` in my utility script [Rename-FarFile-.ps1](https://github.com/nightroman/FarNet/blob/cb18914616cbace5a2c0dd478ba52a458cb93f0e/PowerShellFar/Bench/Rename-FarFile-.ps1#L35).

The current API lets users specify a new name like

[code]

where `$_` is the current file in the Far Manager panel (an orthodox console based file manager).

This is not a conceptual example but a to

[2017-08-16 06:09] FriedrichWeinmann commented on #4519
argh. Alright and good to know, thanks for the info.
So basically, in order for it to work, I'd have to add that operator to `Object` itself? Somehow I doubt the system makes that possible ... :(
But thank you very much for explaining that. Doesn't look like there's much I can do then (Still gonna poke around a bit when I've got the time).

[2017-08-16 07:11] f0rt commented on #4345
The example is working. I'm saying that debugging should not involve modifying the script under investigations(because sometimes this is not possible).

[2017-08-16 08:15] iSazonov commented on #4345
Can you show a sample script where Debug-Job failed?

[2017-08-16 08:37] dmilov commented on #4345
Hi,

I'd like to join the discussion adding an use-case for the point of f0rt. Here it is

I as a consumer of a PowerShell module, which has a function that spawns a job,
find out that the job produces wrong result for my input.
I'd like to be able to debug this  job without modifying the code of the module I use.

Here is an example, I have

2ndPartyModule.psm1 with content

function Do-Work {
pa

[2017-08-16 08:42] JMOSSAU opened #4592 "New-PSSession fails - WSMan client library not found"
Steps to reproduce
------------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

Fresh installation on my macOS Sierra 10.12.6 without any previous versions.
powershell-6.0.0-beta.5-osx.10.12-x64.pkg
[code]

[2017-08-16 09:48] #2909 closed

[2017-08-16 09:50] SteveL-MSFT commented on #4115
@priest334 the related issue was fixed and I'm able to repro this.  Reply here if you still repro this with latest nightly build or the next beta.6 release

[2017-08-16 09:50] #4115 closed

[2017-08-16 10:48] iSazonov commented on #4345
@lzybkr Could you please comment the scenario? It seems guys want that `Set-PSBreakPoint` implicitly set `Wait-Debugger` in a job.

[2017-08-16 12:49] iSazonov commented on #4592
Do you install psl-omi-provider? https://github.com/PowerShell/PowerShell/blob/b25b8df7cae323c376fe4770882ebbfd805fdbf4/docs/KNOWNISSUES.md#remoting-support

[2017-08-16 13:48] joeparkerz opened #4593 "Update"
Hi!

How would one update PowerShell through command line? Can it be done through cURL?

Thanks.

[2017-08-16 13:58] mklement0 opened #4594 "Asynchronous behavior of implicit Format-Table use can have surprising side effects - console output may appear out of order"
<sup>A follow-up to #4552.</sup>

Reference https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/14925213-bug-console-output-appears-out-of-order

Users have been stumbling over this for a while (see this 2-year-old [connect.microsoft.com](https://connect.microsoft.com/PowerShell/Feedback/Details/1635172) bug report and various SO questions).

@PetSerAl provides an in-depth exp

[2017-08-16 13:59] mklement0 commented on #4552
@SteveL-MSFT:

I'm glad to hear it.

Unfortunately I just realized that the behavior described in this issue is as designed and _not_ related to the 300 ms. wait - see below (I've also removed my original explanation above).

So, unless I'm wrong again, I suggest:

* closing this issue as as-designed.

* creating a new issue that  focuses on the 300 ms. wait - see #4594

---

<sup>(Adapted from ht

[2017-08-16 14:48] #4552 closed

[2017-08-16 14:49] JohnLBevan commented on #4552
Thanks @mklement0; agree that this behaviour makes sense.

However, it's a definite gotcha for the uninitiated / unwary.

Many people will want to avoid putting formatting commands in their functions as that then limits their reuse.  Whilst they could avoid the issue by returning the different result types as different properties on a custom object (i.e. thus keeping them clearly distinct in the p

[2017-08-16 14:52] SteveL-MSFT commented on #4593
Depends on the OS, follow the instructions per OS in [README.md](https://github.com/PowerShell/PowerShell#get-powershell).  If Windows, there is a [installer proposal](https://github.com/PowerShell/PowerShell-RFC/pull/97) in the works and open for feedback

[2017-08-16 14:52] #4593 closed

[2017-08-16 14:59] SteveL-MSFT commented on #4594
The current behavior is `by design`.  If this is a functional issue, I suppose we could have `-AutoSize:$false` not have the timer

[2017-08-16 15:00] SteveL-MSFT commented on #4552
I agree that this trips up people and open to suggestions on how to enhance this, however, it should probably be a RFC

[2017-08-16 15:48] mklement0 commented on #4552
Just some quick food for thought on how to address this:

Building on @JohnLBevan's suggestions, here's a quick-and-dirty prototype for a potential new `Format-Grouped` cmdlet (a working title):

[code]

It groups the pipeline objects by type and outputs each group of objects of the same type with that type's default formatting; in the case of _custom_ objects, they're grouped by shared array of p

[2017-08-16 16:23] mklement0 commented on #4594
@SteveL-MSFT:

Re as-designed: I assumed as much, but it's another gotcha that calls for  `Documentation-Needed`.

Re `-AutoSize`: Note that the problem only occurs with _implicit_ use of `Format-Table`. If you use ` ... | Format-Table` explicitly - whether with or without `-AutoSize` - there is no asynchronous behavior.

Or are we talking about different things?

[2017-08-16 16:44] mirichmo opened #4595 "Add Documentation Covering the Process of Handling Comments that Will Not Be Addressed in a PR"
We have a policy, but it is not documented anywhere. We need to write it down for everyone to see and refer back to.

The idea is that comments may be added to a PR that are considered non-blocking and should not hold up a pull request. We want to preserve the feedback and document it so that it may be addressed at a later time. The way to handle it is to file a new issue covering the topic and no

[2017-08-16 16:49] mklement0 commented on #3695
<sup>Since it's not always obvious who acts in what capacity: I'm just participating in this discussion; I have no say in what will or will not be implemented.</sup>

PowerShell committee?

Leaving the question of whether your specific use of `$_` is advisable (we've discussed this), a simple way to bind any object to `$_` without needing it to be assignable is to use `ForEach-Object`:

[code]

Th

[2017-08-16 16:50] mirichmo opened #4596 "Address Code Cleanup Comments in PR #4318"
There are a few small code clean up comments that were not addressed in the PR. This issue documents them in case someone wants to pick up the task.

1.
src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/ConvertToJsonCommand.cs
@@ -60,6 +61,15 @@ public class ConvertToJsonCommand : PSCmdlet
         [Parameter]
         public SwitchParameter Compress { get; set; }

+        ///

[2017-08-16 16:58] PaulHigin commented on #4345
Jobs run in a separate process and PowerShell session.  Set-PSBreakpoint works in the current process/session.  Debug-Job attaches the remote debugger to the process/session where the job is running.  If the job is running script during the attach then the job script is stopped at the attach point.  If the job is already stopped and waiting for a debugger attach (due to a breakpoint being set or W

[2017-08-16 16:58] PetSerAl commented on #4594
[code]

[2017-08-16 16:59] iSazonov commented on #4594
It seems internally we call Format-Default in the case.

[2017-08-16 17:07] mklement0 commented on #3695
@Jaykul:

Having never written or studied a PowerShell DSL, I'm asking innocently: Can you give us a quick example of where writing a DSL would be severely hampered / rendered impossible if `$_` (and `$this`, ...) were read-only?

If the consensus ends up being that we do need to keep at least some automatic variables writable (we already know of at least 1: `$LASTEXITCODE`), it would certainly he

[2017-08-16 17:21] nightroman commented on #3695
@mklement0

I am sorry, but this is ugly and not simple at all.

@iSazonov

It would be nice to get something from the committee. The committee is about to withdraw a useful tool. Why it is a bad tool for the committee is not explained, fine. But at least what is going to be recommended instead?

[2017-08-16 17:23] RamblingCookieMonster commented on #3695
@iSazonov - is it an undocumented API though?  I think it's well accepted that one should not write to an automatic variable, but there are cases where best practices mandate using it - `PoshRSJob` and `Invoke-Parallel` would rely on ugly assumptions and avoid a common learned assumption - that `$_` within a scriptblock refers to the current item.  Any similar function that uses a scriptblock as a

[2017-08-16 17:29] lzybkr commented on #4591
I believe this is very much by design.

These parameters as arguments are often parameters themselves, but they are unknown to the cmdlet accepting them.

Here is a good example:

[code]

`Get-Command` accepts it's parameter `ArgumentList` with `ValueFromRemainingArguments`, and in this scenario, values that look like parameters are expected. The use case here is to help determine dynamic paramete

[2017-08-16 17:33] lzybkr commented on #4568
I think you're emphasizing my point. Users of a command aren't aware of the implementation and do have the expectation of reasonable output.

Command authors are a different story - they need to be aware of the implications of preference variables and parameters like `-Verbose` in a way that differs from the user.

In some cases, the command author and user are the same, and I do wonder if that's

[2017-08-16 17:35] mklement0 commented on #4594
@PetSerAl:

Good point, but what I meant was applying `Format-Table` directly to the command that would otherwise trigger the asynchronous behavior (under the assumption that that command does _not_ have embedded pipeline-bypassing host operations):

[code]

Now that I think about it, even that use of `Format-Table`  to force synchronous output can be problematic, because - while fine for _display

[2017-08-16 17:35] lzybkr commented on #3695
Note that we have had occasional requests to make public the API that allows setting `$_` when invoking a script block.

That seems like a good idea to do now, I suppose it was years ago but it just never bubbled up to seem important enough.

Assuming that API was public, *maybe* that's good enough for new scripts, but it does mean scripts won't be portable to Windows PowerShell.

[2017-08-16 17:51] PetSerAl commented on #4576
Another workaround would be to use parameter with explicit argument syntax:
[code]

[2017-08-16 18:17] nightroman commented on #3695
May I propose a compromise scoped approach?

`$_` is read only if it is created as automatic by PowerShell in the current scope.

That is, this is an error, in the current scope `$_` is automatic

[code]

But this is not an error, `$_` is not yet defined in a new scope:

[code]

That is how it is now:

[code]

Output

[code]

[2017-08-16 18:33] JohnLBevan commented on #4552
@SteveL-MSFT  is it best that I raise a new issue on here to track this as an RFC, or could we retag this existing issue for that purpose?

[2017-08-16 18:34] nightroman commented on #3695
The above should prevent writing to PowerShell automatic variables and this is good.
At the same time, this allows using of own variables when this is needed by design.
Such a change is still breaking but chances are much lower and with easy
workarounds (new scopes).

[2017-08-16 19:30] markekraus opened #4598 "Move certificateCommon.psm1 to a Common Area and Replace Self-Signed Cert Valid for All tests"
[certificateCommon.psm1](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Modules/Microsoft.PowerShell.Security/certificateCommon.psm1) contains a self signed certificate used for tests in the `Microsoft.PowerShell.Security`. Other modules will require certificates so this test module should be moved to a common area accessible to all tests.

Additionally, the certificate  in `

[2017-08-16 19:52] DarwinJS opened #4599 "Install-Module Default Modules Path is Under Versioned PowerShell Folder"
I have been running PowerShell Core under Jenkins on Linux.

While troubleshooting another problem I did a yum update and the system was pleasantly updated to beta **5** installed side-by-side to /opt/microsoft/powershell/6.0.0-beta.**5**/ .

However, when I went to use an optional module I had installed before the update it was not found because the previous version was under /opt/microsoft/power

[2017-08-16 20:13] mklement0 commented on #4568
No argument there. And let's not forget predictable behavior, which brings us to the next point:

I can't speak for @dlwyatt, but to me this is _all_ about the user perspective:

* I set a preference variable to modify the behavior scope-wide.
* I expect commands called from that scope to honor them, just as the standard cmdlets do.

If I can't predict which of the commands I'll invoke will actual

[2017-08-16 20:28] SeeminglyScience commented on #3695
Another example of using `$_` is the [Find-Ast](https://github.com/PowerShell/PowerShellEditorServices/blob/8a6a0c2e200c3535dbcc60fa828d6cf740dcb0a0/module/PowerShellEditorServices/Commands/Public/Find-Ast.ps1#L55) function in [PowerShellEditorServices](https://github.com/PowerShell/PowerShellEditorServices).  A couple of things to note:

1. It doesn't use the method described in this thread.  But

[2017-08-16 22:33] SteveL-MSFT opened #4601 "PSCopyToSessionHelper and PSCopyFromRemoteSession scripts should not support streams on UNIX"
In FileSystemProvider.cs we have scripts than handle the file copy and has parameters to support alternate streams which is only supported on NTFS on Windows (due to PInvoke usage).  This code after https://github.com/PowerShell/PowerShell/pull/4567 is merged will not be hit, but shouldn't be there to make it more clean.

[2017-08-16 22:42] bergmeister commented on #4458
Due to the fact that the Visual C++ team has made significant refactorings in 2015 (see [here](https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/)), the initial approach of including them as a merge module in the MSI has been deprecated. The alternatives are complex and therefore I think it is best to go back to just giving an error message as initially proposed by S

[2017-08-16 23:02] bergmeister commented on #4458
@adityapatwardhan : I created the pull request #4602 for it.

[2017-08-16 23:35] mklement0 commented on #4591
Leaving `ValueFromRemainingArguments` aside for now, which is not that common:

While `Write-Output` was not the best example, there are definitely cmdlets where this inconsistency is more likely to arise:

`Get-Item -LiteralPath -z` vs. `Get-Item -LiteralPath -p`, for instance.

That the _specific content_ of a token (beyond its lexical structure) would decide its _syntactical role_ situtationall

[2017-08-16 23:44] bladeoflight16 opened #4604 "Make ambiguous command calls (when multiple commands have the same name) cause an error under strict mode"
## Demo/Sample

Consider the following two *modules*:

### MyModule1.psm1

[code]

### MyModule2.psm1

[code]

Notice that they both define (and export by default) a `Get-CoolStuff` function. Each one behaves differently.

Now consider these two scripts:

### myscript1.ps1

[code]

### myscript2.ps1

[code]

These two scripts are simple: they ensure the module they need is imported and then procee

[2017-08-16 23:48] lzybkr commented on #4591
For non-cmdlet binding functions or for `ValueFromRemainingArguments`, the current behavior is definitely by design. In other cases, it might be of questionable value, but the behavior is consistent and I guess easy to explain.

The parser doesn't interpret the script any differently - you can verify this by looking at the AST, so this is just a parameter binding issue.

[2017-08-16 23:48] mklement0 commented on #4591
Don't get that, but let me point out how `ValueFromRemainingArguments` is confusing the way it works currently, using a less mind-bending example than `Get-Command`, namely `Join-Path` (as an aside: nothing in `Join-Path -?` tells us that `ValueFromRemainingArguments` is supported):

[code]

[2017-08-17 00:01] FriedrichWeinmann commented on #4519
Alright, did some poking around:

 - Cannot extend class to add operators when it's not in my own library
 - Cannot extend PSCredential, as it is sealed (whyever. I'm sure that made sense to some people, can't for the heck of me see it though)
 - Cannot undo the credential attribute

Ergo: Mission impossible.

While I'm somewhat disgruntled over the entire parameter binding/type coercion system be

[2017-08-17 00:05] lzybkr commented on #4591
Yeah, `ValueFromRemainingArguments` has issues, see https://github.com/PowerShell/PowerShell/pull/2038

[2017-08-17 00:16] lzybkr commented on #4519
Your questioned is answered - but there are changes we can make to the engine to enable your scenario - it won't help with Windows PowerShell, but going forward it might be helpful, right?

[2017-08-17 00:33] FriedrichWeinmann commented on #4519
Indeed you could and in the long term it would be helpful.
Basically, supporting consistency in the type coercion process would help. It's extremely flexible and powerful, so hardcoding for a specific input type is not helpful as far as I can see it, so yes, I'd appreciate it. I don't really know how much impact 'fixing' this would have compared to the effort to do it - I use parameter classes hea

[2017-08-17 01:31] mklement0 commented on #4591
Pragmatically speaking:

* I know we're talking about edge cases.

* I know that I can avoid ambiguity by quoting.

That said, not having to quote constantly due to uncertainty over how barewords will be interpreted would be nice - after all, use of barewords is a perk of argument mode / shell-like syntax.

I'm not trying to be flippant when I say: Please do.

I'm honestly confused at this point,

[2017-08-17 01:39] mklement0 commented on #4591
P.S.: Let's not forget that when a `-<letter>`-prefixed bareword does make it through as a _value_, it is not expanded the same way as  non `-`-prefixed bareword, as originally discussed in #4578:

[code]

[2017-08-17 03:34] #4351 closed

[2017-08-17 04:27] JasonMorgan opened #4605 "Can we get a release that runs on Alpine?"
Could we get an apk package for alpine linux?  The main reason we don't use powershell as part of our ci/cd pipeline is that all our tasks run in alpine containers.

[2017-08-17 08:00] dmilov commented on #4345
@PaulHigin Thanks for the detailed explanation!

Changing DebugMode and setting breakpoints in the initialization script is a good option I haven't thought of.

If there is a switch parameter of the Start-Job cmdlet like "-PropagateBreakpoints" to get the breakpoints from the process that starts the job and sets them into the job's process it would be a bit more convenient.

[2017-08-17 08:31] iSazonov commented on #4345
If we'll propagate breakpoints from the parent process to a job process we get breakpoint clones in two processes.

[2017-08-17 09:30] Jawz84 commented on #3695
Considering all of the discussion above, i'd like to vote for a PSSA warning only. The argument that this will not be shown in non PSSA editors, holds. Yet I don't see which threat is mitigated by restricting use of $_. I think many devs like Posh for its flexibility. Let's keep that flexibility.

[2017-08-17 09:52] iSazonov commented on #3830
@SteveL-MSFT Is the language enhancement approved or we need PowerShell-Committee conclusion?

[2017-08-17 11:33] SteveL-MSFT commented on #4345
I like the `-Breakpoints` parameter suggestion from @PaulHigin.  I'll reopen this issue and change it to a enhancement.

[2017-08-17 12:42] markekraus commented on #4604
One problem I see with this proposal would be modules that intentionally rewrite/wrap commands from other modules to provide domain specific functionality while not breaking functionality of the original command in consumer code. That should still be a valid practice even in strict mode, IMO.

For example, Module1 has a `Get-Widget` command that does a rudimentary retrieval of widgets from a "clas

[2017-08-17 12:48] MathiasMagnus opened #4606 "New-CimSession throws MissingMethodException"
I tried opening a CIM session to an OMI server running on a linux node, but was unable to do with PS Core 6. Windows PS worked fine.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Obtain a session

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-17 14:18] iSazonov commented on #3695
I am not PowerShell/powershell-committee Team member so I can only give my understanding of the conclusion.

For personal using - Writing to $_ is bad practice in most cases and we do not wish to encourage such practices. In most cases, there are native workarounds that @mklement0  has demonstrated more than once. (Some may continue to use Windows PowerShell only but over time I'm sure they'll lik

[2017-08-17 14:23] SteveL-MSFT commented on #4605
Are you able to use the AppImage?

[2017-08-17 16:15] daxian-dbw opened #4607 "PSGetMember binder generates a loose restriction rule that cause ETS member access to fail after a COM member access"
Steps to reproduce
------------------
Assume there is at least one file in the folder `F:\tmp`
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

Return nothing

Environment data
----------------

[code]

[2017-08-17 16:23] #3775 closed

[2017-08-17 16:33] mklement0 commented on #4601
@SteveL-MSFT: Small typo in the title: "steams" -> "streams".

[2017-08-17 17:09] zhili1208 opened #4608 "Imported the function but still got "is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.""
From https://github.com/NuGet/Home/issues/5456

Repro steps:
1. Get NuGet package microsoft.entityframeworkcore.tools from https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Tools/
2.Open NuGet Powershell Console, import "EntityFrameworkCore.psd1" from the package
the module file imported all functions
3. invoke "update-database" function, got "update-database is not recognized as the na

[2017-08-17 17:17] JasonMorgan commented on #4605
I tried and couldn't get it to work.  I don't see it in their list of supported os's.

[2017-08-17 17:40] lzybkr commented on #4345
Does it make sense to support `Set-PSBreakpoint -Job $job ...`?

[2017-08-17 18:17] iSazonov commented on #4594
It is dup #1747

[2017-08-17 19:05] bladeoflight16 commented on #4604
@markekraus I disagree about that being a valid usage in strict mode. The reason is because that imposes a specific dependency on the *order* that modules are imported. What if your "override" module somehow got accidentally imported *before* the other one?

Try the above example in reverse (run myscript2.ps1 first). You'll see that both scripts start outputting `Cool stuff 1!` instead of `Cool st

[2017-08-17 20:09] markekraus commented on #4604
Order of operations matters and the order of importing modules is usually managed by the module manifests themselves.

I don't believe strict mode has any say in the order of operations within a script. It's meant to enforce best practice, not to ensure order of operations. For example, it will prevent a user from accessing a non-existent property on an object, but it will not ensure a user is mod

[2017-08-17 20:53] bladeoflight16 commented on #4604
I'm not sure what you mean by controlling module import order in the manifest. A module's functions can be broken by a module it doesn't even depend on.

Example:

### MyModule3.psd1:

[code]

### MyModule3.psm1

[code]

Now execute:

[code]

`MyModule3` has *no* declared dependency on `MyModule2`, but `MyModule2` is still overriding the function that it depends on. The function even behaves diffe

[2017-08-17 21:14] markekraus commented on #4604
Module2 has `Get-Widget` which wraps a `Get-Widget` in Module1, Module2 calls calls Module1 in `RequiredModules` in the module manifest. The consumer code imports Module2.  With the proposal in place, this would cause an error with strict mode enforced due to there being an "ambiguous command".  In reality, Module2 is making legitimate use of PowerShell's Command Precedence to wrap `Module1\Get-Wi

[2017-08-17 21:31] bladeoflight16 commented on #4604
Then it's not possible to write maintainable code in PowerShell.

[2017-08-17 21:46] markekraus commented on #4604
It is, and it can help in situations where 3rd Party Company A has Module B that does not interact with API C. You have a massive code base. Rather than rewriting all of Company A's Module B or refactoring your entire code base, you write Module D which wraps the functionality of Module B for the commands where it is relevant.

A real world example of this is the `ActiveDirectory` Module. There is

[2017-08-17 21:51] bladeoflight16 commented on #4604
And what happens when two third parties replace that command with different ones that do different things? Suddenly, you have a system that you don't know what it's going to do. A system that I can't predict the behavior of is not maintainable.

[2017-08-17 22:02] markekraus opened #4609 "Create Native Test Solution for Certificate Authentication"
## Problem

There is currently no native cross-platform, CI independent mechanism to test Certificate Authentication in `Invoke-WebRequest` and `Invoke-RestMethod`.

## Proposal

Create a docker container to house a minimal aspnetcore app to validate Client Certificate presence in calls made by `Invoke-WebRequest` and `Invoke-RestMethod`. The docker container will need a self-signed certificate, S

[2017-08-17 22:05] markekraus commented on #4609
@TravisEz13 We can work on the solution through this issue.

[2017-08-17 22:10] markekraus commented on #4604
It is the responsibility of the code consumer to vet 3rd party code before using it. I 'm not saying it's ideal, I'm also not saying this is what you should do in every situation.  I'm just saying that there is a legitimate use-case for command wrapping and this proposal will break a fundamental feature of PowerShell. Strict mode is intended to enforce best practices. In some cases, squashing func

[2017-08-17 22:38] bladeoflight16 commented on #4604
"It is the responsibility of the code consumer to vet 3rd party code before using it." This is ludicrous. It's not the user's fault if a library they thought was good is broken. Sure, they should've tested their usage, and maybe they did. Testing isn't perfect. It's not going to catch everything. It's the responsibility of the libraries' *authors* to do as much as they can to make it safe to use.

[2017-08-17 22:49] PaulHigin commented on #4345
I am not sure how useful it would be since it is impossible to know where a job is running a script and so difficult to know where to set breakpoints.  In a way this is already supported because Debug-Job stops the running script at the next execution point and attaches the debugger.  You can then see where the script is executing and set breakpoints more intelligently.

[2017-08-17 23:19] JMOSSAU commented on #4592
Doesn't look like this is for macOS. Is there an install package or some way to install this on a mac?

[2017-08-17 23:20] mirichmo opened #4610 "Remove Language Specifier From Links"
A lot of links in the project include the language specifier (en-us). This makes it less accessible for non-English speakers by directing them to English links. The fix is to remove the specifier and have it auto-magically routed to the appropriate language.

For example, in docs\learning-powershell\powershell-beginners-guide.md:299:

[ps-module]:https://msdn.microsoft.com/en-us/library/dd878324%2

[2017-08-17 23:33] markekraus commented on #4604
My argument is just the opposite. I'm saying that not everyone could have even detected it as it requires a multi-forest environment with certain conditions met to make the FSP unresolvable and thus cause the terminating error in `Get-ADGroupMember`. If I want to use strict mode without the ability to squash a broken function like this I would have to refactor both my entire code base and all the

[2017-08-17 23:36] bladeoflight16 commented on #4604
Why can't you temporarily turn off strict mode when you're calling that 3rd party code instead? This makes it explicit: you're telling PowerShell to stop enforcing strict mode temporarily because you need to do something dangerous.

[2017-08-17 23:59] dragonwolf83 commented on #4604
You can do `Import-Module -Name MyModule1 -Force` to make it explicitly reload a Module so that it overwrites the `MyModule2\Get-CoolStuff` with the one you want from `Module1`

[2017-08-18 00:10] bladeoflight16 commented on #4604
So in other words you have a propagation of bad design decisions that make guesses in the face of ambiguity because it wasn't restricted sooner, and now undoing it will break a lot of stuff. This seems to be running trend in PowerShell. That still doesn't make it a best practice. That just means that the language design handled ambiguity badly and people took advantage of the features available.

[2017-08-18 00:14] markekraus commented on #4604
Not all 3rd party code is dangerous. If the answer is to turn off strict mode for 3rd party code, what incentive would there be to write modules with strict mode in mind or to vet modules based on strict mode adherence?

I'll add that other languages do not consider function squashing a strict mode violation. This includes JavaScript, PHP, and PERL.

[2017-08-18 00:22] bladeoflight16 commented on #4604
The incentive for having strict mode on in the first place is to write better code. I can't stop a third party from not caring about whether their code is any good. However, if they design it for strict mode, I can have confidence that if I need to do some weird hack, I can turn off strict mode until I find a better library or something gets fixed. And if turning strict mode on causes their code b

[2017-08-18 00:51] markekraus commented on #4604
@bladeoflight16

There are simply some things you cannot get away with on `PSStandardMembers`. Also, there may be a need to capture all end of pipeline operations.

Right, a few lines of code versus potentially many more. I'll concede that it's not exactly a high risk or overly technical operation.

I would argue that in the case of DSL's, it most certainly does.

Considering Python is pretty stri

[2017-08-18 00:58] lzybkr commented on #4527
See https://github.com/PowerShell/PowerShell-RFC/issues/27 - I think the proposal is more generally useful and address this issue as well.

[2017-08-18 01:36] bladeoflight16 commented on #4604
Right, and what I'm suggesting means you don't have to repeat the module name in as many places to get predictable behavior in the *normal case*. Without functionality somewhere in the vein of what I'm suggesting, you're forced to choose between code you can depend on and code that's clean.

I went ahead and tested for my [hypothetical X, Y, Z modules](https://github.com/PowerShell/PowerShell/issu

[2017-08-18 01:57] mklement0 commented on #4594
@iSazonov:

Indeed it is, thanks - due to its generic title, I didn't discover it.

Given that this issue describes the problem more specifically and includes a command to reproduce it, can I suggest we instead close #1747 as a duplicate?

Here's its summary:

@Jaykul states:

@SteveL-MSFT states:

@lzybkr states:

@joeyaiello  states:

[2017-08-18 02:53] mklement0 commented on #4568
I _think_ I now understand what you're saying, and I hope I'm not wasting my breath based on a misinterpretation:

It sounds like you're conceiving of preference variables as being limited to the _current scope only_, without affecting its _descendant_ scopes or the potentially completely separate scopes of _commands invoked_.

* By itself, this conception runs counter to how variables work in Pow

[2017-08-18 03:32] Jaykul commented on #3768
@mklement0 I think you're confusing the use case.

Are you suggesting that it's ok that an application that uses the PowerShell class to invoke scripts for automation would need to **inject script wrappers** around scripts provided by end-users just to be able to tell _whether or not they succeeded_?

[2017-08-18 03:50] mklement0 commented on #3768
@Jaykul:

We _are_ talking about a different use case  - at least based on how error handling currently works, where `-ErrorAction` truly only applies to _non-terminating_ errors, as opposed to _terminating_ errors (both script- and statement-terminating), which are the _only_ ones that `try` / `catch` can catch  - which is why I suggested creating a new issue.

Apart from that, I don't understand

[2017-08-18 03:58] mklement0 commented on #3830
As an aside - and arguably this an argument both for and against this enhancement - note that even the current documentation doesn't know the difference between the `foreach` statement and the `ForEach-Object` cmdlet - see https://github.com/PowerShell/PowerShell-Docs/issues/1514

I still think the enhancement makes a lot of sense, but the documentation needs to be fixed.

[2017-08-18 04:54] mklement0 commented on #4527
@lzybkr: Yes and no:

Yes, if you remember which among the recent commands happened to be the one that launched the job.

No, if you're expecting a _distinct_ variable referring to the most recently launched the most recent background job, irrespective of how many intervening commands were executed.

It's comparable to the distinction between `$?` (most recent statement - albeit _only_ the most re

[2017-08-18 10:34] adumont opened #4611 "Install-Module AzureRM failed ('AzureRM.Sql' failed to download)"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

It should not fail.

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-18 10:45] adumont commented on #4611
Simply trying to install AzureRM.Sql also fails:

[code]

[2017-08-18 10:59] markekraus commented on #4604
Functions definitions work like any other assignment. There is no expectation in any language (that I have ever been exposed to, at least) that the following is true:

[code]

Functions are just another form of assignment. It's not making some random guess, PowerShell has a well defined command precedence. Commands of the same type of the same name in the same "module scope" will work on last assi

[2017-08-18 11:12] t-tsvetkov commented on #4345
It will be really valuable to add support for debugging scripts running in separate PowerShell jobs without having to modify the source script.

I did some testing with the suggested approach and it seems to work only when the breakpoint is set in a separate file, i.e. I am unable to set a breakpoint on a particular line of the job's script itself.

Here is the sample script file:

[code]

Most of

[2017-08-18 11:53] bergmeister commented on #4215
I opened the pull request above for it. Please ignore the commits above except for the last one as I squashed the commits in my branch into one commit at the end.

[2017-08-18 12:52] mklement0 commented on #4215
Thanks, @bergmeister!

[2017-08-18 14:05] KirkMunro commented on #3768
@mklement0 That's really thin. If someone really wants to know if an error occurred when -ErrorAction Ignore is used, they should write their own script that doesn't use -ErrorAction Ignore. Give me a real world use case where someone would want to know if a benign error occurred in a command or script they invoked. You shouldn't care about that when you invoke a command, because at the moment you

[2017-08-18 14:16] bladeoflight16 commented on #4604
I don't think this is really true. If it is, then why does an auto-import triggered by myscript2.ps1 affect the behavior of myscript1.ps1? Shouldn't those scripts have separate scopes? But the module import seems to affect them globally, even though I'm not dot sourcing anything into the top level scope.+-

@markekraus On that note, I'd like to make a point, and I really do want to hear your thoug

[2017-08-18 14:30] mklement0 commented on #3768
Great, thanks.

Other than that, I don't see a disagreement, unless I misunderstood your original comment. You do _not_ want `$?` and `.HadErrors` to reflect `$False` if `-ErrorAction Ignore` is used, correct? I agree.

Note that I was talking about _SilentlyContinue_, not _Ignore_, in the - definitely exotic - alternative scenario I described.

[2017-08-18 14:30] KirkMunro opened #4613 "S.M.A.PowerShell.HadErrors and $? return false positives when errors are suppressed"
Created from discussion started on #3768.

Description
---
If you invoke PowerShell using the System.Management.Automation.PowerShell class, and if you handle the errors in the command you invoke by indicating that they should be ignored, S.M.A.PowerShell will still set HadErrors to true. Below are some code samples illustrating the problem.

Sample 1: C#/.NET invocation of PowerShell commands/scr

[2017-08-18 14:36] KirkMunro commented on #3768
@mklement0 Whoops, you're right, I misread your previous reply. We're on the same page then.

[2017-08-18 15:11] markekraus commented on #4604
That depends on how the child scopes are called, same with Python.

[code]

or

[code]

You have to be cognizant of scoping in functional programming languages because functions are assignments, assignments can and do change, and the default is that changes in the parent scope affect the child scope. When you author modules and you need certainty of the command called, you ensure the command with

[2017-08-18 15:50] MaximoTrinidad commented on #4611
Is the error you are getting happened in Windows PowerShell, you need to report this in UserVoice for Windows PowerShell: https://windowsserver.uservoice.com/forums/301869-powershell

Here is only to report PowerShell Core Version v6.0.0-beta.5 incidents.
:)

[2017-08-18 15:58] adumont commented on #4611
Ok thanks. Sorry for the wrong place.

[2017-08-18 15:58] #4611 closed

[2017-08-18 16:44] PaulHigin commented on #4345
PowerShell doesn't support line breakpoints in script blocks.  This is a known weakness (#3000) and shouldn't be that difficult to fix.  A workaround is to use command or variable breakpoints for the script block.

[2017-08-18 16:53] mklement0 commented on #3768
@Jaykul: While I'm still unclear on what you were asking, perhaps I can clarify on my end:

Re logging in `$Error` / `-ErrorVariable`:

My concern fits into the larger issue of the existing, longstanding dichotomy with respect to how non-terminating vs. terminating errors must be handled  - see  [Our Error Handling, Ourselves - time to fully understand and properly document PowerShell's error hand

[2017-08-18 20:27] PaulHigin opened #4615 "Remoting host callbacks incompatible between PowerShell 5.1 and 6.0"
This is a remoting incompatibility introduced in PowerShell 6.0.  Remoting supports host callbacks to the client and the callback information includes type information and values for passed parameter arguments.  For example a PromptForChoice callback passes a ChoiceDescription type argument, which includes fields "label" and "message".  But PowerShell 6.0 changed the field names to "_label" and "_

[2017-08-18 20:56] #4544 closed

[2017-08-18 22:32] markekraus commented on #4609
@TravisEz13 I think I'm on to something. the built-in Kestrel server for ASP.NET core supports client certificates. I'm working on an small app that returns the client certificate details. The idea is that the test calls `dotnet run` on the project in a `Start-Job`, does the tests, then tears it down the job. I actually have a prototype of this working in a web browser, but `Invoke-WebRequest` and

[2017-08-19 03:10] alx9r opened #4616 "Passing $null to a [string] parameter unconditionally causes conversion to [string]::Empty"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

I expected the output to be `True` because I expected `$null` to pass through `f` unaltered.

Actual behavior
---------------
The output is `False` because `$null` is converted to `[string]::Empty` when it is assigned to `$x`.

Environment data
----------------

[code]

Why do I expect it to be possible for `$null`

[2017-08-19 04:12] DarwinJS commented on #4511
I am working on this.

[2017-08-19 04:28] DarwinJS opened #4617 "install-powershell.sh uses wget which is not necessarily present on a vanilla OSX machine"
curl does seem to be present.  This test was on macOS Sierra (10.12.6) which had  been upgraded through each OS release starting from Yosemite (10.10.2)

I am working on fixing this.

[2017-08-19 07:19] vors commented on #3924
This should be fixed already, not sure why it didn't auto close this issue before.

[2017-08-19 07:19] #3924 closed

[2017-08-19 09:56] staalmannen opened #4619 "Windows version crashes under Wine"
Tested on Arch Linux 64-bit, both 32-bit and 64-bit WINEPREFIX.

WINE version : 2.14 (staging)
PowerShell version : 6.0.0-beta5

Steps to reproduce
------------------

Install powershell in a fresh WINEPREFIX (using msiexec -i).

Expected behavior
-----------------
PowerShell should execute and run

Actual behavior
---------------
PowerShell crashes

[2017-08-19 11:54] bergmeister commented on #4616
I can understand your pain and I have been caught out by this behaviour before as well. The workaround for this is to use the [NullString](https://msdn.microsoft.com/en-us/library/system.management.automation.language.nullstring.value(v=vs.85).aspx) class that got introduced in PowerShell v3.

So you simply change the parameter of your function to be [NullString] and then it will work for you and

[2017-08-19 15:38] lzybkr commented on #4616
This is by design and as @bergmeister points out - changing the behavior would be a massive breaking change.

The thinking behind the design was that in most ways, `$null` and the empty string both represent the same error condition and that in the rare case where a distinction was important, `PSBoundParameters` would be sufficient to distinguish between knowing a value was provided or not.

Let's

[2017-08-19 15:38] #4616 closed

[2017-08-19 17:57] Mixaill commented on #4619
Wine currently does not implement Kernel32!FindNLSStringEx function

https://bugs.winehq.org/show_bug.cgi?id=41911

[2017-08-19 19:20] iSazonov commented on #4619
Please clarify why you use the emulator but not native PowerShell Core for Linux?

[2017-08-19 19:39] bergmeister commented on #4214
What about `Paua`? This is a reference to the beautiful [paua shell](https://www.bing.com/images/search?q=paua+shell&FORM=HDRSC2) (a sea shell from New Zealand). Otherwise I think `psh` is good as well.
![Paua Shell](http://www.gypsygirl.co.za/image/medium/p.jpg)

[2017-08-19 19:51] mklement0 commented on #4214
You sell seashells from the (New) Zealand Shore? (Just kidding. Beautiful indeed.)

[2017-08-19 20:03] staalmannen commented on #4619
My main reason would be to run the chocolatey package manager in wine.

[2017-08-19 21:06] iSazonov commented on #4619
Thanks for clarify! Are you agree with @Mixaill conclusion?

[2017-08-19 21:10] staalmannen commented on #4619
Yes that was a very good explanation. This should probably be seen as a Wine bug.

Thanks!

[2017-08-19 21:17] iSazonov commented on #4619
Ok, I close the Issue as external. Feel free reopen if you find anything new.

[2017-08-19 21:17] #4619 closed

[2017-08-19 22:36] sirsnork opened #4621 "Get-Help for Stop-Process -full contains a typo in Example 3"
Steps to reproduce
------------------

Get-Help Stop-Process - Full

Expected behavior
-----------------

Example 3 should produce the following

PS C:\>calc
PS C:\> $p = Get-Process -Name "calc"
PS C:\> Stop-Process -InputObject $p
PS C:\> Get-Process | Where-Object {$_.HasExited}

Actual behavior
---------------

Example 3 produces the following

PS C:\>calc
PS C:\> $p = Get-Crocess -Name "calc"

[2017-08-19 22:38] sirsnork commented on #4621
wrong place, nevermind

[2017-08-19 22:38] #4621 closed

[2017-08-20 04:55] Jaykul commented on #3768
I think we're in agreement.

My request is focused on ErrorVariable only because I was focused on error detection in a script.

That is, I wasn't concerned with `PowerShell.Invoke` or any of the rest of this ;-)

In general, I think it's useless to check `$Error` _in scripts_ because it's persistent through a whole session, and you don't normally care about errors that happened before your code. O

[2017-08-20 08:40] iSazonov commented on #4609
I believe we should use natively supported web server - Apache on CI Travis and IIS on CI AppVeyor. It requires more effort, but it makes our tests more predictable. I do not see the pressing need to make sure to use a port server.

[2017-08-20 09:27] iSazonov commented on #1747
Continue the discussion in #4594

[2017-08-20 09:27] #1747 closed

[2017-08-20 09:36] iSazonov commented on #4594
1. We can check type output object and flush if the type changed.
2. After ending every pipeline we do some cleanups - at time we can flush the cache too. (We do the same for progress bar hiding.)

Currently I don't know what way is better.

[2017-08-20 09:43] iSazonov commented on #4592
Not yet. 😕 Today you should use SSH based remoting.

[2017-08-20 15:34] alx9r commented on #4616
@lzybkr

I appreciate and accept this.

Are you implying that `[NullString]::Value` is meant to support passing `$null` to a `[string]` parameter?  That would afford some options that might alleviate some of the pain.  But it doesn't seem to do that.
 `[NullString]::Value` also gets converted to `[string]::empty` when passed to a function:

[code]

Executing that snippet outputs `String`.  `$r` is

[2017-08-20 16:16] secabstraction opened #4623 "Invoke-RestMethod does not respect error action preference."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-20 16:18] secabstraction commented on #4623
I repro'd this on OS X as I'm working on cross-platform support for a project using PowerShell, but this same behavior also occurs on Windows 10, PowerShell v5.1.

[2017-08-20 16:40] mklement0 opened #4624 "Inconsistent, unpredictable behavior of "-"-prefixed barewords in argument mode"
<sup>Follow-up to #4576 and #4591</sup>

### Context:

Note: By _bareword_ I mean a run of non-whitespace characters not single- or double-quoted as a whole (e.g., `foo`), used in argument mode, and normally interpreted as an expandable string (e.g., `$HOME/boy`).

While `-`-prefixed barewords _look_ like _parameter names_ (e.g.,`-foo`), they _sometimes_ act as _arguments_ (_values_ to bind to par

[2017-08-20 16:41] mklement0 commented on #4591
I've taken a step back; please see #4624

[2017-08-20 16:41] #4591 closed

[2017-08-20 16:46] mklement0 commented on #4576
@markekraus:

Actually, on further reflection, I do not think that something like

[code]

is a good reason to abstain from using the definition of `-Path` determine the syntactic role of `-wwhatif`. An actual filename matching a misspelled `-WhatIf` is too obscure a scenario to drive the decision on how to properly parse such commands.

Based on the subsequent discussion in #4591, I'm now more th

[2017-08-20 16:47] lzybkr commented on #4616
I can't explain this behavior.

Parameters to C# methods was the target scenario for `[NullString]::Value`, and I will say that might be the only reasonable scenario. Typical usage would end up coercing `null` to the empty string sooner than later.

In this case though, it does seem sooner is too soon, but if this was changed, I do think it would be hard to take advantage of it in a useful way.

[2017-08-20 17:21] markekraus commented on #4624
@mklement0

As a point of clarity, this is not something under PowerShell's control as that is the calling shell (bash, another PowerShell, CMD, ksh, etc) has final say in the matter. What you are specifically requesting here is to maintain the current argument parsing for arguments passed from the calling shell to the PowerShell binary upon initialization. Correct?

[2017-08-20 18:57] mklement0 commented on #4624
@markekraus:

Correct: `powershell -File -foo.ps1` currently works already, and should continue to work.'
(And as _one_ aspect of conceptual simplicity and consistency, that should work _predictably_ PowerShell-_internally_ as well (calling functions/cmdlets)).

Calling from a POSIX-like shell (Unix; e.g., `bash`),  `powershell -File -foo.ps1` is indistinguishable from variants `powershell -File '

[2017-08-20 19:21] mklement0 commented on #4214
Disclaimer: the following is only of interest to [hobby] linguists.

Phonetically, `paua` only works for [non-rhotic dialects of English](https://en.wikipedia.org/wiki/Rhoticity_in_English) (e.g., UK, NZ, Australia).

[2017-08-20 19:52] mklement0 commented on #4623
The error you're provoking is a statement-_terminating_ one, whereas the common `-ErrorAction` parameter only applies to _non-terminating_ errors.

To catch a _terminating_ error, you must use either a `try` / `catch` or a `trap` statement.

This dichotomy between non-terminating and terminating errors has always existed, but was never explained well; see [Our Error Handling, Ourselves - time to f

[2017-08-20 19:58] mklement0 commented on #4623
P.S: What you're looking for is:

[code]

[2017-08-20 20:33] mklement0 opened #4625 "A ValueFromRemainingArguments parameter by default invariably receives a [List[object]] collection rather than a scalar / PowerShell array ([object[]]), as appropriate"
<sup>Related: #3773 and #3154</sup>

Declaring a (at most 1) parameter with attribute `ValueFromRemainingArguments` allows you to collect any remaining arguments - those not bound to _other_ parameters - in a single parameter.

Given that there may be 1 or more remaining arguments, that would usually imply:

 * bind a  _scalar_ to the parameter if there's only _one_ remaining argument
 * bind a re

[2017-08-20 20:34] alx9r commented on #4616
I disagree.  Allowing `[NullString]::Value` to propagate without conversion to `[string]::empty` is useful when optional string parameters are handled in bulk using either `ValueFromPipelineByPropertyName` or via hashtable splatting.  Here is an example using the former demonstrating parameter passing that arises naturally when working with class-based DscResources:

[code]

When the resource need

[2017-08-20 21:18] mklement0 opened #4626 "ValueFromRemainingArguments parameters are not reflected as such in syntax diagrams"
<sup>Related: #4715 and #4135.</sup>

It is currently **hard to discover if a given cmdlet/function has a `ValueFromRemainingArguments` parameter**, so I suggest we add a _new representation_ to syntax diagrams to signal that a given cmdlet / advanced supports does so.

We'll have to decide what an adequate representation is.

For instance, `Write-Host -?` shows the following for its `ValueFromRem

[2017-08-21 02:35] ryhayash opened #4628 "Internal Out-Default doesn't work and messages to host are buffered?"
Steps to reproduce
------------------

PowerShell console messages are not displayed with correct order. This issue happens with a lot of cmdlets but some cmdlets(ex get-process/get-service) work well. For example, run the following script. You can see the messages shown with wrong order. I know 'Out-Default' is called internally from most of get-xxx cmdlets but it looks like it does't work in som

[2017-08-21 03:13] mklement0 opened #4629 "ValueFromRemainingArguments attribute should not be allowed on multiple parameters"
By definition, using attribute `ValueFromRemainingArguments` on a parameter:

* only makes sense on _one_ parameter

* which should either be unconstrained, or declared as an _array_.

~~Both~~ At least the former condition should be enforced at _parse_ time, because functions that violate these principles fail on invocation in the typical use case.
[_As noted below, the must-be-unconstrained-or-a

[2017-08-21 03:19] lzybkr commented on #4616
`[NullString]::Value` turns into `$null` immediately when you write:

[code]

`string` is sealed, `NullString` is a completely unrelated type, so PowerShell must convert the instance to string (which it does via a call to `ToString` that returns null) before the assignment.

It is this eager conversion that makes it difficult to effectively use `[NullString]::Value` in PowerShell.

We could introd

[2017-08-21 03:58] mklement0 commented on #2035
I am very late to this party, but let me offer the following perspective:

* I think everyone agrees that it is important that both cmdlets and advanced functions exhibit the same behavior.

* I think that it is the _advanced functions_' current behavior that should be standardized.

The `ValueFromRemainingArguments` attribute is an _anomaly_ in the realm of PowerShell parameter parsing:
As the _p

[2017-08-21 04:09] lzybkr commented on #4625
Parameters that use `ValueFromRemainingArguments` usually specify an array type, but if the type is omitted, isn't it more useful to pass a collection?  The command probably expects a collection anyway.

This would also be a breaking change.

[2017-08-21 04:24] lzybkr commented on #4629
Reporting an error with multiple `ValueFromRemainingArguments` parameters makes sense - though it is an unlikely breaking change, and we have to be careful in the case of multiple parameter sets.

Reporting an error on the parameter type is not as simple - e.g. there are many possible ways (including one dynamic way) we might convert the argument(s) to a random parameter type, meaning there might

[2017-08-21 04:28] mklement0 commented on #4625
It is useful in the same way that cmdlets (e.g., `Get-ChildItem`) return collections - but, by virtue of going through the pipeline, they output:

* either a `[System.Object[]]` array
* or, if the collection happens to contain a single item only, a scalar.

I get the backward compatibility concern, but what good reasons is there for `ValueFromRemainingArguments` parameters and common parameters `-

[2017-08-21 04:42] mklement0 commented on #4629
Understood re multiple parameter sets.

I also get that preventing use of a pointless type is not terribly important, but I thought it was an easy mistake to prevent, but it sounds like you're saying that it's not easy after all.

[2017-08-21 04:44] mklement0 commented on #4628
Please see #4594.

[2017-08-21 04:53] secabstraction commented on #4623
Thanks. I remember now that I've come across this before, but was clearly blanking on the terminating errors piece.

[2017-08-21 04:53] #4623 closed

[2017-08-21 05:38] iSazonov commented on #4628
Closed as dup #4594.

[2017-08-21 05:38] #4628 closed

[2017-08-21 06:28] iSazonov commented on #4626
I can not repo this on Windows PowerShell v5.1.16257.1 (and 10240 too)

[2017-08-21 06:45] iSazonov commented on #4629
Have GitHub ThrottleLimit to create new Issues? I'm tagging Issues at a slower speed than @mklement0  creates. 😄

[2017-08-21 07:38] iSazonov commented on #4552
@JohnLBevan We continue in #4594

[2017-08-21 08:14] rodel0723 commented on #942
@paulcallen as you have mentioned to @vinodc [here](https://github.com/PowerShell/psl-omi-provider/issues/67) that proxy setting/authentication is not yet supported, is this still true on the below version?

PSVersion 6.0.0-beta
PSEdition Core
GitCommitId v6.0.0-beta.5
OS Linux 3.10.0-693.el7.x86_64 #1 SMP Thu Jul 6 19:56:57 EDT 2017
Platform Unix
PSCompatibleVersions {1.0, 2.0, 3.0, 4.0...}
PSRem

[2017-08-21 08:53] Arjun4545 commented on #4062
Any update on,  **Cant't import MsOnline module on Linux based OS**. #4269

[2017-08-21 09:31] markekraus commented on #4609
As an update on this, it was discovered in #4620 that Docker is not supported on macOS in Travis CI. The current approach in #4622 is to have the listener app published by `Publish-PSTestTools` like `TextExe` and then run the listener on demand using the baked in Kestrel server. This has the advantage of being much quicker.

Also, the possibility of moving all tests form HttpListener to this app i

[2017-08-21 14:13] alx9r commented on #4616
Good point.

I tried that approach, but didn't find a net improvement.

It seems like having a type that has APIs just like `System.String` except is _not_ special-cased by PowerShell would alleviate this problem.  Then it would just be a matter of using that string type where the typical behavior involving `null` is needed.  I have been experimenting with introducing such a type.  The preliminary

[2017-08-21 14:59] iSazonov commented on #4598
@adityapatwardhan Could you please comment the suggestion?

[2017-08-21 15:00] mklement0 commented on #4626
@iSazonov:

Sorry - I wasn't clear in my original title and post - please see if the update helps.

(I was also originally distracted by `Join-Path -?` not showing the new `-AddtionalChildPath` parameter at all - see https://github.com/PowerShell/PowerShell-Docs/issues/1612)

[2017-08-21 15:03] iSazonov commented on #4598
If we want one (two) reusable certificate(s) we should document their properties (usages) by means of comments in the module.

[2017-08-21 15:05] mklement0 commented on #4629
😜

No worries; my output will slow significantly soon.

[2017-08-21 15:12] iSazonov commented on #4626
`[[-Object] <Object>[, <Object> ...] ]`

[2017-08-21 15:14] markekraus commented on #4598
The comments should probably include the following (at minimum):

* Subject
* Thumbprint
* NotBefore
* NotAfter
* Key Usages (including Extended Key Usages)

[2017-08-21 15:17] mklement0 commented on #4625
P.S.:

Given that we're already willing to fix the issue for `-OutVariable`, even though it is a breaking change -  #3154 - this strikes me as a great opportunity to fix the issue fundamentally, given that the other cases are probably less common than `-OutVariable`.

Also, while _technically_ a breaking change, I wouldn't expect it to be a problem _in practice_, given that, if a scalar is returne

[2017-08-21 15:33] mklement0 commented on #4626
Well, the `,` is tricky, because we want to convey that you do _not_ need it when taking advantage of the feature.

[2017-08-21 15:48] markekraus commented on #4629
What about this scenario?

[code]

result:

[code]

Shouldn't that be allowed?

[2017-08-21 16:21] mklement0 commented on #4629
@markekraus:

Thanks - your example is helpful in two distinct respects:

* It shows an example of where a _scalar_ type _can_ make sense as a `ValueFromRemainingArguments
` parameter's type. (I think we were already in agreement, but it's nice to have a concrete example).

* It shows why the implementation detail of PS binding a `[List[object]]` collection rather than a regular `[object[]]` array

[2017-08-21 16:41] iSazonov commented on #4626
` [[-Object] <Object>[[,] <Object> ...] ] `

[2017-08-21 17:36] mklement0 commented on #4626
Keep in mind that the parameter type need not be `<Object>`.

Among the core cmdlets that have `ValueFromRemainingArguments
` parameters, you'll also see `<string[]>`, for instance (`Get-Command -Syntax Join-Path`, parameter `-AdditionalChildPath`).

Conceptually, a `ValueFromRemainingArguments` is inherently a collection, given that it can bind multiple arguments.

The tricky part is that if you

[2017-08-21 17:51] iSazonov commented on #4626
If #2035 will be fixed  comma should be here too?  ` [<string>, <string> ...]`

[2017-08-21 17:59] markekraus commented on #4605
I took a stab at running the Appimage in Alpine. It looks like you could do it only if you have a full glibc chroot. The primary issue seems to be the musl libc that alpine uses and Appimage is made for glibc environments. It certainly increases the size of Alpine if you have to tack on a full glibc chroot to run the Appimage.

[2017-08-21 18:03] TravisEz13 commented on #4609
@markekraus It seems worth investigating.  I would start with feature tests and if there are any issues with the approach the impact would not be blocking.  Then if it proves a good solution, we can try broadening the approach to other tests.

[2017-08-21 18:06] mklement0 commented on #4626
[As I've argued here](https://github.com/PowerShell/PowerShell/issues/2035#issuecomment-323641345), I strongly feel that it should be fixed in the way that advanced functions already work (read: parameter binding must be fixed for _cmdlets_ - the _opposite_ of what #2035 proposes), which means that in no-parameter-name  invocations you _must not_ use `,` -  because use of `,` changes the semantics

[2017-08-21 18:11] markekraus commented on #4609
@TravisEz13 How should I approach PR's for this? There are a bunch of feature `it`'s for both cmdlets, how should I break them up, if at all?

[2017-08-21 18:19] iSazonov commented on #4626
Thanks for clarify! So we blocked until #2035 will be resolved.

[2017-08-21 18:21] mklement0 commented on #2035
Note that _one_ side of the dichotomy is already enforced consistently (both in advanced functions and compiled cmdlets):

* If you use the parameter _name_, you must not specify _multiple_ arguments:

[code]

To offer a **concise summary** of behavior that I think makes sense, is conceptually simple, and therefore easy to remember:

* If you _omit the parameter name_, you may - and must - pass _m

[2017-08-21 18:26] mklement0 commented on #4626
Not necessarily, because the `<string> ...` (comma-less) syntax will work either way, irrespective of how #2035 is resolved (incidentally, I just tried to [clarify my arguments](https://github.com/PowerShell/PowerShell/issues/2035#issuecomment-323816221) there).

The `<string> ...` (comma-less) syntax is not only the more convenient syntax, it is also the only one that works when you call a PS scr

[2017-08-21 18:28] mklement0 commented on #4626
P.S.: To put it differently: You don't need `ValueFromRemainingArguments` at all for the `<string>, <string>, ...` syntax - just a regular positional parameter that accepts an array.

[2017-08-21 18:40] TravisEz13 commented on #4609
@markekraus Let's finish the current PR, then think about this if you don't mind?

[2017-08-21 18:42] markekraus commented on #4609
@TravisEz13 sure thing!

[2017-08-21 19:11] TravisEz13 opened #4632 "Installing on centos 7.3 fails using `install-powershell.sh`"
FYI, @DarwinJS
I'm using the CentOS 7.3 image on azure.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

correctly install powershell

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-21 19:43] lzybkr commented on #4616
That's an interesting approach. I would anticipate some confusing issues that typically come up when introducing a proxy like this, but nothing specific comes immediately to mind.

I do think user defined properties are the ideal solution for this problem.

[2017-08-21 20:03] SteveL-MSFT opened #4633 "Refactor code in FileSystem provider to remove `#if UNIX` where possible"
FileSystem provider has a large number of `#if UNIX` and `#if !UNIX` statements.  We should refactor the code so that the UNIX and !UNIX code paths are determined at limited points within functions to make the code more readable.

[2017-08-21 20:59] lzybkr commented on #4625
Comparing this issue to `-OutVariable` is interesting. I think the primary use case for `OutVariable` is the scalar case, which is why we were open to a change.

`ValueFromRemainingArguments` has the opposite expectation - the primary case being a collection.

[2017-08-21 21:03] mklement0 commented on #4625
Absolutely - but the larger point is that _all these features should be familiar PS citizens_, which means:

* use `[object[]]` arrays rather than some collection type not otherwise used publicly in PowerShell.

* output a scalar in lieu if a collection happens to contain 1 item only.

[2017-08-21 21:33] bergmeister opened #4634 "New-TemporaryFile should throw terminating error"
As part of PR 4612, it was discussed [here](https://github.com/PowerShell/PowerShell/pull/4612#discussion_r134333394) that New-TemporaryFile should throw a terminating error (instead of a non-terminating one). Everyone was clear on the expected behaviour but the issue is that this change would be a breaking change in behaviour.

[2017-08-21 21:42] bergmeister opened #4635 "Pester testing guideline for tests against thrown errors"
As part of PR 4612, it was found that the current guideline [here](https://github.com/PowerShell/PowerShell/blob/68bcd4b5284bb169c52a570afbfdd1bb70d0de10/docs/testing-guidelines/WritingPesterTests.md) recommends this approach
[code]

However, @iSazonov suggests [here](https://github.com/PowerShell/PowerShell/pull/4612#discussion_r134120245) that the guideline should be updated to this pattern:
[co

[2017-08-21 21:51] mklement0 opened #4636 "Push-Location should generate a terminating error, not a non-terminating one, when passed an invalid/non-existent location"
<sup>Related: #4634</sup>

Based on the official cmdlet error-reporting guidelines, (statement)-_terminating_ errors should be reported in the following situations: "Cmdlets that can accept only 0-1 input objects and generate only 0-1 output objects should treat errors as terminating errors and generate terminating exceptions." - https://msdn.microsoft.com/en-us/library/ms714412%28v=vs.85%29.aspx

[2017-08-21 21:52] SteveL-MSFT commented on #4635
Current recommendation is to use `ShouldBeErrorId`, I'll submit a PR to update the guidance

[2017-08-21 22:49] paulcallen commented on #942
OMI client does not support proxy settings, and does not respond to proxy responses. Sorry.
If there are enough asks for it we could certainly consider it. If it were done, then the psrp client layer for Linux would need to be updated once completed.
Don't know how Microsoft does it inside their firewall, but our proxy servers have a component installed on the client machine that does the proxying

[2017-08-21 23:46] FireInWinter commented on #4062
Invoke-MySqlQuery from the PowerShell Gallery doesn't work.  I get an error when I try to use it on Beta 5 on Windows 10.  My understanding of the .Net Standard was that there is a chance that this should work on Windows (not on Linux/Mac of course).  The assembly does get loaded, just get's an error on one of the most common method in it.
[https://www.powershellgallery.com/packages/Invoke-MySqlQu

[2017-08-22 00:23] rodel0723 commented on #942
@paulcallen Thank you for your reply. How about setting the http_proxy before running powershell, will it take too long to change the code? It will be really helpful for us working behind proxies if it will be implemented.

[2017-08-22 04:27] iSazonov commented on #4062
@FireInWinter Thanks for your report! Please open new Issue with steps to reproduce the problem.

[2017-08-22 07:53] vors opened #4638 "Left arrow doesn't get passed to a child ion shell"
I'm not 100% sure that it's powershell problem and [not Ion](https://github.com/redox-os/ion/issues/209), but ion works just fine from bash.

Steps to reproduce
------------------

1. Run [ion shell](https://github.com/redox-os/ion) from powershell
2. Try to press left arrow

Expected behavior
-----------------

Left arrow works in the ion, just like when ion is called from bash.

Actual behavior

[2017-08-22 07:57] vors commented on #4638
Also when I press Ctrl+D from Ion this crashes PowerShell

[code]

[2017-08-22 08:22] iSazonov commented on #4626
Thanks! Clear. It is good `[-AdditionalChildPath <string[]> | <string> ...]`

[2017-08-22 08:57] apetitjean commented on #2463
Any update on the topic since .Net Core 2.0 is now available for ARM32? Has anyone give it a try?

[2017-08-22 09:58] markekraus opened #4639 "Add support for multiple response headers with the same name from HttpListener"
Multiple response header support was added in #4494 but the HttpListener concatenates multiple headers with the same name in Linux/macOS instead of returning multiple lines with the same header name.

In Windows:
[code]

In Linux/macOS:
[code]

This results in a false failure of the `Verifies Invoke-WebRequest Supports Multiple response headers with same name` test on Linux/macOS.

We should find

[2017-08-22 10:09] markekraus opened #4641 "Pull Request Tests with [feature] tag in commits should report failed in CI when "Feature" tests fail"
I have had 2 pull requests merged where I missed the failing tests due to Travis CI reporting the build passing when tests actually failed. It is partially my fault for not being completely attentive to the test results, but in my defense there are a very large number of feature tests run and it is easy to lose track in the sea of results.

IMO, the CI should report the build failed when when the

[2017-08-22 12:00] markekraus commented on #4636
I disagree. `-Path` can be accepted via the pipeline and this creates the ability to accept multiple Paths instead of just 1.  In a scenario where you where you needed to so something like this

[code]

One would not want a terminating error from push location to break the pipeline.

In this case, I think perhaps changing `-Path` and `-LiteralPath`  to accept an arrays might be a better approach t

[2017-08-22 13:06] mklement0 commented on #4636
@markekraus:

Thanks - you are correct; I hadn't considered this use of `Push-Location`. I'm closing this.

Actually, this one of those rare case where a _scalar_ pipeline-binding parameter does make sense, given that something like `Push-Location -LiteralPath 'c:\temp', 'c:\'` wouldn't make sense.

Generally, though, we unfortunately have many cmdlets where the pipeline-binding `-InputObject` par

[2017-08-22 13:06] #4636 closed

[2017-08-22 13:30] mklement0 commented on #4636
P.S.:  A pitfall regarding your sample command that I wasn't initially aware of:

Since the current location is a session-global setting, whatever path `Push-Location `ends up changing to last in the pipeline remains as the session's current location after the pipeline has run.

[2017-08-22 13:39] markekraus commented on #4636
Correct. In cases like that you may be building a stack against candidate paths, performing an action and then reversing the stack. might also use a named stack `-StackName`

[code]

[2017-08-22 14:41] panhsu commented on #4460
Hi,
   I have the same issue but the version is .netcore 2.0.

[2017-08-22 15:03] MaximoTrinidad commented on #4460
@Vetal-ca

Just to make sure. I notice you're on v6.0.0-beta.4.  Have you try with PowerShell v6.0.0-beta.5?
To make sure you're getting the same issue.
:)

[2017-08-22 15:21] swinster commented on #2112
This is horrendous in Powershell and hasn't moved in an age. I personally would love to see some movement here, as uploading large file is very, very difficult.

As some pointer around the topic see my comments here (albeit for PS 5.1) which like to some other sites, namely http://blog.majcica.com/2016/01/13/powershell-tips-and-tricks-multipartform-data-requests/

[2017-08-22 15:44] SteveL-MSFT commented on #4552
Didn't see @iSazonov reply which sounds good, re-resolving

[2017-08-22 17:13] mklement0 opened #4642 "Get-Location -Stack should return an array of path infos ( [System.Management.Automation.PathInfo[]]) rather than a stack object [System.Management.Automation.PathInfoStack] scalar"
`Get-Location -Stack` currently outputs a `[System.Management.Automation.PathInfoStack]` stack object rather than an array of  `[System.Management.Automation.PathInfo]` instances representing the individual locations in the stack.

While this is behavior is documented, and changing it would technically be a breaking change, it should be considered for two reasons:

* Outputting a custom stack obje

[2017-08-22 17:17] TravisEz13 commented on #4641
This shouldn't be specific to the feature tag.  It indicates there is some bug in `Test-PSPesterResults` in build.psm1.  I tried a simple repro locally, and couldn't repro the issue.

[2017-08-22 17:21] markekraus commented on #4641
I had a really fun one #4622. https://travis-ci.org/PowerShell/PowerShell/jobs/266586350#L8280 That one was an unhandled exception in a Job, that killed the calling process, and the pester process, and the test "passed". That's when I started looking very closely at the test results.

[2017-08-22 17:31] mklement0 opened #4643 "Managing location stacks via the *-Location cmdlets lacks ability to clear stacks"
Location history for use with `Push-Location` and `Pop-Location` can be kept in separate history _stacks_, if desired.

These stacks cannot be managed directly; they are indirectly managed via the `*-Location` cmdlets.

* You indirectly _create_ a stack with `Push-Location -StackName <name>`.
* Once created, further locations can be pushed and popped.
* `Set-Location -StackName <name>` can be used

[2017-08-22 17:32] mklement0 commented on #4636
Thanks, though note that `$ProcessedPaths` will not contain _all the paths sent through the pipeline_, but instead the previous working location plus all paths sent through the pipeline _except the last_.

Also note that outputs a `[System.Management.Automation.PathInfoStack]` _scalar_, not an array - which I personally think is unfortunate - see #4642.

Allow me this little tangent (I wrote it up

[2017-08-22 17:33] TravisEz13 commented on #4641
[This](https://travis-ci.org/PowerShell/PowerShell/jobs/266586350#L8280) is interesting... pester must write the result as it is going because `Test-PSPesterResults` will fail if the results file is missing.

I think we will have to switch to running `Invoke-Pester` with `-PassThru`  and use those results to determine if the tests passed or failed.

[2017-08-22 17:41] mklement0 commented on #4625
Just ran into another case where the above expectations are confounded: #4642

[2017-08-22 17:52] TravisEz13 commented on #4641
I found one issue... `Start-PSPester` is not checking the exit code from powershell.

[2017-08-22 18:07] mklement0 commented on #4552
@SteveL-MSFT:

Perhaps the solution to the asynchronous problem will _implicitly_ give us the behavior that @JohnLBevan suggests here, but we should keep in mind that they are really two separate issues:

* surprising asynchronous output behavior

* the first implicit `Format-Table` use locking in the output format for all subsequent commands, even if they output different data

I've folded a desc

[2017-08-22 19:10] #4511 closed

[2017-08-22 19:10] #4617 closed

[2017-08-22 19:14] SteveL-MSFT commented on #2463
The hard part is getting the native library to cross build for arm32.  I'll give it a try, but I'm certainly no expert on this.

[2017-08-22 20:26] saurav-sahu commented on #1273
The issue seems to be the `Dir` method in the `FileSystemProvider.cs` file. There are calls to `EnumerateDirectories` and `EnumerateFiles` which compare names of the files and directory against the wilcard in the location. Unfortunately, they do not ignore case. I'm having trouble implement this.

https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/namespaces/File

[2017-08-22 21:03] markekraus commented on #4609
in #4622 it was discovered that Client Certificate Authentication is still unavailable in macOS due to a compatibility issue between CoreFX and and macOS's implementation of curl.

dotnet/corefx#19718

[2017-08-22 21:37] joeyaiello commented on #3616
Per conversation with @SteveL-MSFT, we might want to push this out depending on how the Win32-OpenSSH work lands.

It might even make sense to push this work out to after the OpenSSH work lands to make sure that we don't end up having to do breaking changes if/when the configuration mechanisms for Win32-OpenSSH change.

[2017-08-22 21:39] joeyaiello commented on #3695
As discussed on Twitter, putting this back up for review given the feedback so far.

[2017-08-22 21:43] joeyaiello commented on #3751
Reminder here to discuss with @PowerShell/powershell-committee the possibility of pushing this out. No immediate need (certainly not moreso than the "interop" variables), and this should be done with intent.

[2017-08-22 21:51] joeyaiello commented on #3789
Blocked on changes from @JamesWTruher

[2017-08-22 21:57] anmenaga commented on #3789
@joeyaiello this was fixed and merged previously. Jim's changes ( #4119 ) are separate and overwrite this.

[2017-08-22 21:57] #3789 closed

[2017-08-22 22:05] mklement0 opened #4645 "Inconsistent Start-Transcript behavior with respect to the error and information streams"
I'm making the following assumptions about how `Start-Transcript` is designed to work (can't tell from the documentation):

* Whatever streams are neither captured nor redirected are transcribed, and preference variables with respect to which `Write-*` cmdlets should actually produce output are honored; another way of putting it: Whatever output displays in the console, across all streams, is also

[2017-08-22 22:08] bergmeister commented on #3695
My 2 cents as a PowerShell user:
I definitely discourage re-purposing internal variables such as `$_`. If some 3rd party PowerShell script would start to break in a new version of Windows PowerShell then I'd be very upset but if I had to check my scripts and their 3rd party dependencies anyway when swiching to PowerShell Core then I would not mind it as it would be expected to have some breaking c

[2017-08-22 22:17] joeyaiello commented on #4056
Questions we need to answer:
* default behavior in 6.0 (in the future, we probably can't remove the Windows PS because it's a breaking change)
* how do we expose changing it? (user profile, startup JSON, cmdlet, PS variable etc.)
  * specifically is something like `Enable-WindowsPSModulePath` sufficient for 6.0?
* is a whiltelist/blacklist desirable

[2017-08-22 22:24] mklement0 opened #4647 "ValueFromRemainingArguments parameters in compiled cmdlets such as Write-Host break a hashtable argument into key-value pairs"
Closely related to #2035.

It seems to me that, again, advanced functions behave correctly, while compiled cmdlets do not.

Hashtables are generally treated as _scalars_ in PowerShell.

Therefore, when passing a hashtable as an argument, it should bind _as a whole_.

Using the example of _cmdlet_ `Write-Host`, which applies `.ToString()` to each of its arguments, and a seemingly analogous `Write-H

[2017-08-22 23:09] TravisEz13 opened #4648 "start-pspester -unelevate should use the passthru mechanism to verify tests pass"
currently the test output a fixed set of text at the end of the tests.

In travis-CI, we have moved to using the -passthru object to verify test results in https://github.com/PowerShell/PowerShell/pull/4644.

We should do something similar in the unelevated tests for consistency.  It would probably also simplify the code.

[2017-08-23 00:14] mbreakey3 opened #4649 "Missing Dependencies Being Reported for PS 6 Beta5 but not on PS 6 Alpha"
I'm running into an issue on 2008 R2 running our Catch Unit tests on PS 6 Beta 5. When I ran a dependency check on our unit test EXE file through PS Beta 5, it seems that the system cannot find the MI.dll nor some of its dependencies. The test file runs fine on the Alpha version of PS 6 and when I ran a dependency check on the unit test EXE from PS Alpha, it did not show the same missing dependenc

[2017-08-23 01:18] stevedesmond-ca commented on #2463
Build seems straightforward enough, let me know if you need a hand -- I should have time this week to get this working.

[2017-08-23 02:58] SteveL-MSFT commented on #2463
@stevedesmond-ca if you can get libpsl to build for arm32, I'll take care of the dotnet side.  Thanks!

[2017-08-23 03:19] Jaykul commented on #1152
The point, @daxian-dbw is that your library shouldn't have to know who supports RefEmit, RefEmit knows.

Both System.Runtime.Loader and System.Reflection.Emit are available as nuget packages targeting NetStandard.

[2017-08-23 04:38] whatevergeek commented on #4149
hi! any updates on this?
I'm trying to build powershell for linux.
It's failing for:
error CS0534: 'PowerShellAssemblyLoadContext' does not implement inherited abstract member 'AssemblyLoadContext.Load(AssemblyName)'

Any workaround for now?

[2017-08-23 07:19] panhsu commented on #4460
@MaximoTrinidad
My environment is PowerShell v6.0.0-beta.5.
## Environment Data
[code]

[2017-08-23 08:25] iSazonov commented on #4149
@whatevergeek Please open new Issue with repo steps.

[2017-08-23 08:30] apetitjean commented on #2463
Great guys! I'm looking forward testing it when ready ;-) !

[2017-08-23 08:37] iSazonov commented on #2112
@markekraus Could you please look this if you have free time?

[2017-08-23 08:50] whatevergeek commented on #4149
@iSazonov
someone suggested if i can get a fresh repo
as they said travics CI is passing.
I'll try that.
If issue still persist, i'll open a new issue

[2017-08-23 09:33] markekraus opened #4650 "Client Certificate Authentication in WebCmdlets Unavailable for macOS"
Due to an upstream incompatibility between CoreFX  and macOS's implementation of curl (dotnet/corefx#19718), the addition of Client Certificate Authentication in PowerShell 6 (#4546) presents the user with an error on macOS when attempting to use `-Certificate` with `Invoke-Webrequest` and `Invoke-RestMethod`

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[cod

[2017-08-23 12:13] whatevergeek commented on #2463
i just tried building/publishing for linux-arm... publish is ok...
but when i run inside Raspbian, i get the following issue:
[code]
Any advice how to proceed from here?

[2017-08-23 12:35] stevedesmond-ca commented on #2463
This is what @SteveL-MSFT was talking about -- the native components need to be cross-compiled. I'll hopefully get a PR in for this today.

[2017-08-23 13:03] iSazonov commented on #1273
@saurav-sahu You can left click on line number and GitHub will be generate URL for the line.

@lzybkr  As @saurav-sahu mentioned we use CoreFX enumerations - they is case-sensitive on Unix without switch option. We could make a tricky workaround for Unix to fix the Issue or close as "by design" but It seems other Unix shells has an option to switch globally case-sensitivity (/cc @mklement0 ) - Wha

[2017-08-23 13:07] jackfruh commented on #1273
@iSazonov has a good point - I wonder if looking at source code from one of the existing Unix shells would be helpful?

[2017-08-23 13:50] whatevergeek commented on #2463
thanks @stevedesmond-ca
i was thinking of using it in my demo tomorrow ... but no worries...
will share in another talk... once available :-)

[2017-08-23 13:56] KirkMunro commented on #3995
@SteveL-MSFT: I've been thinking about this a lot, especially very recently because my need to use these cmdlets has increased dramatically, and I've come to the conclusion that the -Json cmdlets ultimately do need to be moved into their own module. Here is why:

1. There are numerous design issues in the existing cmdlet implementation that cannot be addressed without introducing breaking changes.

[2017-08-23 14:34] BrendanHere opened #4651 "Test-Connection doesn't function"
Hi. I've never submitted a bug so here goes, if this is in the wrong place, or has already been reported, please advise. I have searched everywhere for it.

Test-connection doesn't work on Windows 10, nor Windows 7
Each OS returns a different error message.

Steps to reproduce
------------------

Test-Connection -Count 3 -ComputerName "Server1", "Server2", Server3" | select-object Address, IPV4Add

[2017-08-23 16:29] saurav-sahu commented on #1273
For Unix, the match for filename is done using the fnmatch function. Calls to which are here:

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L644

and

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L644

(The preview doesn't show up if it is a different repository)

If you look up the fn

[2017-08-23 16:32] TravisEz13 opened #4652 "Release beta.6"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a branch named `release` in `PowerShell/PowerShell` repository.
   All release related changes should happen in this branch.
- [x] Prepare packages
   - [x]  [Build release packages](#building-packages).
   - [x]  Sign the MSI packages and DEB/RPM packages.
   - [x]  Install and verify the packa

[2017-08-23 17:01] mklement0 commented on #1273
I can't offer spelunking in the `bash` source code, but I can provide some additional context:

There are two distinct, but related aspects of filesystem case-sensitivity:

* Interactively: How _tab completion_ works.

* Programmatically: How _globbing_ works.

In `bash` the two aspects are controlled _separately_:

* Tab completion (programmable completion): As @andschwa notes, it is the readline

[2017-08-23 19:02] iSazonov commented on #3695
Before RTM we should review all breaking changes and try to fix it in interop module.

[2017-08-23 21:08] SteveL-MSFT commented on #4056
After some discussion with my engineering team, I think the proposal for the 6.0.0 timeframe is to have a single cmdlet `Enable-WindowsPSModulePath` that users explicitly use to opt-in.  All it does is the equivalent of what the interim solution does in the user profile.  The primary reason to switch to opt-in is that we know many FullCLR modules don't work and we don't have time to work with part

[2017-08-23 21:19] rebro-msft opened #4655 "Error Variable not captured when piping"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Error variable $ev should contain the error.

Actual behavior
---------------
Error variable $ev does not contain the error.

Environment data
----------------
[code]

[2017-08-23 23:34] joeyaiello commented on #3695
We just spoke amongst @PowerShell/powershell-committee, and we've decided to go with your feedback:
* make no changes in the engine to avoid breaking anyone
* VS Code (or other PS Editor Services-enabled editors) will be the dominant editing platform for 6.0, and so we can create a useful rule that throws whenever someone assigns a value to `$_` (or any of the others that @mklement0 enumerated)

[2017-08-23 23:34] #3695 closed

[2017-08-23 23:57] joeyaiello commented on #4056
@PowerShell/powershell-committee closed on shipping either an `Enable-WindowsPSModulePath` or `Add-WindowsPSModulePath` on the Gallery (and not the engine). Reasoning:
* we don't want to expose a bunch of modules that don't work yet
* in the future, we *can* expose modules that are known to work within PS 6.0/.NET Core 2.0
* this feels like a bit of a hack, and we don't want to be tied to keeping

[2017-08-24 00:01] SteveL-MSFT commented on #4521
@PowerShell/powershell-committee discussed this, we agree that most of the time, users don't need to use `Start-Process`, however, on Unix, it does have at least one applicable use case:

`Start-Process` can start a new process without inheriting the current environment

[code]

So we plan to leave it.

[2017-08-24 00:01] #4521 closed

[2017-08-24 01:44] SteveL-MSFT commented on #4655
Not sure if this is by-design or not, workaround:

[code]

cc @BrucePay

related https://github.com/PowerShell/PowerShell/issues/4292

[2017-08-24 03:00] SteveL-MSFT commented on #4056
https://www.powershellgallery.com/packages/WindowsPSModulePath/1.0.0

[2017-08-24 03:20] #4056 closed

[2017-08-24 04:22] SteveL-MSFT commented on #4466
This is probably due to https://github.com/PowerShell/PowerShell/issues/4649

[2017-08-24 04:22] SteveL-MSFT commented on #4651
Win7 issue is https://github.com/PowerShell/PowerShell/issues/4649

[2017-08-24 05:13] iSazonov commented on #4056
I suggest start with _white list_ of Windows PowerShell modules which we want to enable to load from Windows PowerShell module paths. The white list should contains only tested and approved modules.
Hence we dont need new cmdlets - we can  implicitly use Windows PowerShell module paths (not in PSModulePath) and enhance Import-Module to check the white list _after_ module search in PSModulePath.

[2017-08-24 05:23] iSazonov commented on #3695
Is there a tracking Issue in VS Code repo?

For PSScriptAnalyzer https://github.com/PowerShell/PSScriptAnalyzer/issues/712

[2017-08-24 05:30] SteveL-MSFT commented on #4056
Long term, we may have a whitelist, but within the 6.0.0 timeframe, partner teams won't be able to validate compatibility with PSCore6 so the cmdlet is a stop gap solution.

[2017-08-24 05:32] SteveL-MSFT commented on #3695
No VSCode issue needed.  Once ScriptAnalyzer rule is created, it'll be used by EditorServices and automatically lights up in VSCode (and any other editor integrated with EditorServices)

[2017-08-24 07:37] KonstMisch commented on #4320
Try to pull the network cable. Not even kidding. Powershell tries to communicate with 40.114.241.141. When it finds it, it fails getting a certificate from 40.114.241.141 and libcrypt or something like that crashes.

[2017-08-24 09:33] pengzhisun opened #4658 "Can't download powershell installer package in Azure Mooncake network environment"
Due to the China special network environment, many Azure Mooncake users can't download powershell installer package from GitHub, do you have any plan to publish these releases in http://apt-mo.trafficmanager.net/repos/ , just like what dotnet and Azure CLI team done?

[2017-08-24 13:46] mpsmith commented on #4171
beta5.  Is this the same error?

[code]

[2017-08-24 15:29] iSazonov commented on #4171
@mpsmith Thanks for report!
Looks as the same error.

PG works with VMWare - we should wait compatible version of the module.

[2017-08-24 15:33] mklement0 commented on #4655
@SteveL-MSFT:

The workaround fundamentally changes the behavior of the original command (you're escalating to a script-terminating error).

To narrow the puzzling behavior down further:

The problem only surfaces when the `foo` call is made as part of a (multi-stage) pipeline:

[code]

The above yields:

[code]

[2017-08-24 16:58] TravisEz13 opened #4659 "start-pspackging should verify -psmodulerestore was used to build"

[2017-08-24 17:20] Rybak5611 opened #4661 "Empty arguments not passed correctly"
Steps to reproduce
------------------
If you run any program with parameter ``""`` program won't receive it as it does in CMD.

Example using simple python script:

[code]

[code]

Expected behavior
-----------------
PS should pass ``""`` as it is.

Actual behavior
---------------
PS completely removes parameter without ever passing it to the program.

Environment data
----------------
[code]

[2017-08-24 17:46] cobbr commented on #4320
@KonstMisch Wow! That is kind of funny, but yeah I can confirm that unplugging the network cable fixes the issue for me.

[2017-08-24 19:12] SteveL-MSFT opened #4662 ""-ErrorAction SilentlyContinue" ignored if used within try { }"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-24 20:08] mklement0 commented on #4662
As explained in [Our Error Handling, Ourselves - time to fully understand and properly document PowerShell's error handling](https://github.com/PowerShell/PowerShell-Docs/issues/1583), the `-ErrorAction` common parameter acts only on _non-terminating_ errors.

You're triggering a (script)-_terminating_ error, so `-ErrorAction` doesn't apply.

As explained in the linked post, confusingly, `$ErrorAc

[2017-08-24 20:13] mklement0 commented on #4662
As explained in [Our Error Handling, Ourselves - time to fully understand and properly document PowerShell's error handling](https://github.com/PowerShell/PowerShell-Docs/issues/1583), the `-ErrorAction` common parameter acts only on _non-terminating_ errors.

You're triggering a (script)-_terminating_ error (with `Throw`), so `-ErrorAction` doesn't apply.
Because there is no `Catch` block, the er

[2017-08-24 20:40] SteveL-MSFT commented on #4662
@mklement0 ugh, you're right!  my workaround has been to use a catch and ignore block

[2017-08-24 20:40] #4662 closed

[2017-08-24 21:09] JamesWTruher opened #4663 "WindowsInstaller.Tests.ps1 failed on debian"
I couldn't replicate the failure when run in isolation

Description: Should have download link about Universal C runtime that is reachable
Name:        Windows Installer.Visual Studio C++ Redistributables Link.Should have download link about Universal C runtime that is reachable
message:
Error 404 - Not FoundWarning: This site requires the use of scripts, which your browser does not currently allo

[2017-08-24 22:10] agressiv commented on #4062
We need to be able present forms.  Ideally, via System.Drawing, but if need be, I could convert some to XAML.  However, neither work, so is anything graphical with Powershell dead?  We'll never cut over to PowershellCore if we can't use some sort of form.  And no, we're not going to use C# :P

Also, is it safe to say Get-WmiObject is dead?  I wish the syntax between Get-WmiObject and Get-CimInstan

[2017-08-24 22:11] mirichmo opened #4665 "Incorrect Windows Installer Check for VC++ Redistributable Dependency"
The root cause of this issue is that the check is specific to a registry key that gets created when the VC++ redistributable package is directly installed via the suggested link. It overlooks scenarios where those files are installed via Windows Update.

A secondary issue is that the test should be tagged to only execute on Windows systems.

Steps to reproduce
------------------

Build the MSI for

[2017-08-24 23:42] SteveL-MSFT commented on #4062
@agressiv we have some investigations going on for https://github.com/PowerShell/PowerShell/issues/3957 to enable GUIs

`Get-WmiObject` is considered deprecated.  @joeyaiello just posted a blog about us formally [deprecating PSv2](https://blogs.msdn.microsoft.com/powershell/2017/08/24/windows-powershell-2-0-deprecation/).  We have been recommending for some time to switch to the CIM cmdlets instea

[2017-08-24 23:50] BrucePay commented on #4661
This bug is related to #1995. In this case, quotes aren't being preserved for zero-length string arguments. The fix for #1995 should also include this case.

[2017-08-25 00:12] FireInWinter opened #4666 "Not compatible with MySql Assembly"
I saw this in an internal module using MySql and also using Invoke-MySqlQuery from the PowerShell Gallery.  I get an error when I try to use it on Beta 5 on Windows 10 or Windows 8.1.

My understanding of the .Net Standard was that standard .Net assemblies should work on Windows in PowerShell Core 6.  When I try it with the MySql Connector/Net 6.9.9 it doesn't.  I've tried it on a different system

[2017-08-25 00:13] agressiv commented on #4062
We still have machines on 2.0 because Microsoft was slow in supporting WMF 4.0 on many core products, and our migration is over.   We'll have to make another pass to see who is left since we are now being asked to deploy 5.1 (which of course, isn't compatible with just about everything including Skype and Exchange Servers)

Is there a list of Cmdlets like Get-WmiObject which will be removed that w

[2017-08-25 00:18] FireInWinter commented on #4666
Looks like a related issue happens if trying to see the exported types from an assembly.

[code]
Genererates the error:
[code]
On Windows PowerShell it generates a list of exported types.

[2017-08-25 00:58] agressiv commented on #4062
I did a dump of all cmdlets in the 6.0 beta and simply did a compare-object. here's the ones for us:

- All EventLog cmdlets.  We use these extensively.
- Test-ComputerSecureChannel.
- Add-PSSnapin.  I'd love to not use this, but apparently lots of modules have lazy authors.  (e.g. Vmware, WSUS, MDT, Citrix, SCOM, Dell).  Perhaps there are other ways of loading some of these modules, but these OEM

[2017-08-25 01:21] KirkMunro commented on #4062
@agressiv VMware PowerCLI is now a module that can be installed from the PowerShell Gallery, and I'm almost certain they're supporting PowerShell Core with it already (I'd need to double-check that though). There are other PSSnapin stragglers out there though, as you point out.

[2017-08-25 01:36] SteveL-MSFT commented on #4062
@agressiv for PSCore6, we deliberately removed support for PSSnapins.  However, VMWare has a port of [PowerCLI for PSCore6](https://labs.vmware.com/flings/powercli-core) that is not currently on PSGallery

[2017-08-25 01:44] SteveL-MSFT commented on #4666
Can you try installing https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Configuration.ConfigurationManager/4.4.0-preview2-25405-01

Just follow the PowerShellGet instructions

[2017-08-25 03:21] iSazonov commented on #4665
@bergmeister Could you please look the Issue?

[2017-08-25 03:24] #4635 closed

[2017-08-25 07:17] bergmeister commented on #4665
I guess we'll have to do a file based check rather than a registry based check then similar to the one I did for the C runtime. I'm on holiday for a week at the moment, so can't do a PR at the moment.

[2017-08-25 07:43] w1748587889 commented on #4665
asking on msdn.microsoft.com

[2017-08-25 09:38] safrazhanas opened #4667 "AzureRM module not installed in centos 7"
I'm trying to automate Azure Deployment of my project. So, i tried to install AzureRM module.

Steps to reproduce
------------------
No errors produced for below command.

[code]

Expected behavior
-----------------

AzureRM should get install. nothing printed in the console, for below command

[code]

[2017-08-25 11:08] markekraus commented on #2112
@iSazonov sure. I will take a look at it. I have seen other requests in the past few years for multipart forms in general as several IoT APIs seem to only work with multipart forms.

[2017-08-25 11:13] iSazonov commented on #2112
Feel free to ping MSFT experts here if there is compatibility issues.

[2017-08-25 11:45] loxal opened #4668 "Win10 download link gives me 404"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-25 12:19] flikka commented on #4667
I have this exact same problem on the same powershell version (powershell v6.0.0-beta.5) albeit on Ubuntu 16.04

[2017-08-25 12:27] iSazonov commented on #4668
@loxal Thanks for report! We have a tracking Issue https://github.com/PowerShell/PowerShell/issues/4652

[2017-08-25 12:27] #4668 closed

[2017-08-25 12:30] iSazonov commented on #4667
Please use  AzureRM.NetCore
[Docs](https://github.com/PowerShell/PowerShell/blob/3a960db5b0a61e0e797fbcaa3f61b06c87d92aff/demos/Azure/README.md)

[2017-08-25 12:36] iSazonov commented on #4663
Related Issue #4665 and PR #4602
/cc @mirichmo @bergmeister

[2017-08-25 12:38] iSazonov commented on #4658
/cc @joeyaiello @SteveL-MSFT

[2017-08-25 12:44] flikka commented on #4667
I see, however - what I was actually trying to do was to access the DataLakeStore, thus probably needing AzureRM.DataLakeStore. This does not install when I try either. Is there a NetCore version of this too?

[2017-08-25 12:46] swinster commented on #2112
FWIW, we mainly Python, Django and Apache for our Web interfaace stuff. This is all RESTfull APIs. I am not developer, just attempting to interact with the API as we are seeing more sysadmins wanting to do this.

[2017-08-25 12:48] markekraus commented on #4639
@iSazonov this issue is still outstanding. We still do not have a test in place for Linux or macOS to ensure the multiple headers feature is working. The merged PR referenced is to address the nightly build errors the tests were causing.

[2017-08-25 12:50] iSazonov commented on #4667
Try ask in https://github.com/Azure/azure-powershell

[2017-08-25 12:51] markekraus commented on #2112
@swinster if you could provide me an exact scenario that would be very useful. Right now, all I have to go off of is to build a out a test API that takes multipart forms and files and hope that fits most scenarios.

[2017-08-25 12:53] iSazonov commented on #4639
Ah, sorry - I reopen the Issue.

[2017-08-25 13:04] flikka commented on #4667
Thanks - https://github.com/Azure/azure-powershell/issues/4507

[2017-08-25 13:11] #4667 closed

[2017-08-25 13:12] swinster commented on #2112
@markekraus  sure. I work for Pexip, and the entire platform a can be automated via API calls.  This specific example is required with regard to uploading an upgrade file to the platform, which will be in excess of 1GB. The API documentation can be found here - https://docs.pexip.com/api_manage/api_configuration.htm?Highlight=upgrade

I can even post here the resultant function created  to achieve

[2017-08-25 13:13] Windicus opened #4669 "How to add PowerShell to an ASP.Net Core 2.0 project?"
I want to collect data via a webpage using ASP.NET Core 2.0, and on save/create, call PowerShell to go complete the work, and update the site that the work is complete.

In full ASP.NET you could easily target .NET 2.0, call system.management.automation and use runspaces. I understand there is now a different load method to access PowerShell for ASP.NET CORE 2.0. However I've been unable to find a

[2017-08-25 13:15] markekraus commented on #2112
@swinster awesome. If I need more I'll reach out.

[2017-08-25 14:01] jwilczek opened #4670 "Get-Credential does not work for smart cards with multiple certificates."
The Get-Credential cmdlet only shows the first certificate listed on the smart card in the dialog. This makes it impossible to use cards with multiple certificates.

[2017-08-25 14:06] mklement0 opened #4671 "Start-Process -UseNewEnvironment provides an environment that is missing crucial standard environment variables while not supporting passing a new environment"
On both Windows and Unix platforms, `Start-Process -UseNewEnvironment` results in an environment that is missing crucial standard environment variables, making the new environment virtually useless, while not providing a mechanism to define a new environment:

* On Windows, `-UseNewEnvironment` defines _only_ the variables that are _explicitly_ defined, as displayed in System Properties (`sysdm.cp

[2017-08-25 14:09] mklement0 commented on #4521
@SteveL-MSFT:

Good point about `-UseNewEnvironment`, but note that its current implementation is virtually useless - see #4671

Also,  your example only makes sense with `-Wait` (the only reason that you didn't see a problem is that your command happened to produce no output).

To summarize the use cases for `Start-Process` on Unix:

* Launch a blocking GUI-launching CLI such as `gedit` asynchron

[2017-08-25 16:03] iSazonov commented on #4669
Please see [docs](https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell)

[2017-08-25 16:30] bergmeister commented on #4663
This test does not make sense to run on non-Windows systems but should still not fail on non-
Windows systems(because it does not call any Windows specific API) which indicates that there is a different bug in PowerShell itself. The test simply checks that the content of an Xml file contains a certain download link and that this link is not dead.

[2017-08-25 16:44] iSazonov commented on #4663
I don't see skipping. Should we test run only on Windows?

[2017-08-25 18:42] joeyaiello commented on #4062
@aggresiv: On the UI front, we're definitely not abandoning GUI efforts altogether, we're just not sure exactly where we're headed yet. If you pop on over to https://github.com/PowerShell/Phosphor, you can check out an experiment we're running to try and generate web-based UIs (which avoid a lot of the problems around disparate "native" UI frameworks, though if someone wants to make some Qt bindin

[2017-08-25 19:30] SteveL-MSFT opened #4674 "Revisit default formatting of ErrorRecord"
The current formatting of ErrorRecord isn't useful enough for developers and too much unactionable
content for regular end users.  Proposal on how to fix this will end up being a RFC, but we can discuss it here first.  Perhaps the verbosity of the format is user-settable.  There is also the problem of special casing formatting of ErrorRecord.

Steps to reproduce
------------------

[code]

Expecte

[2017-08-25 19:35] JamesWTruher opened #4675 "can't pass urls with wildcard characters to curl"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
`http://zip.zap.zop/zup?zep` is passed to curl

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-25 19:45] SteveL-MSFT commented on #4675
Dupe of https://github.com/PowerShell/PowerShell/issues/3931 (see most recent repro at bottom)

[2017-08-25 19:45] #4675 closed

[2017-08-25 20:15] markekraus commented on #2112
@swinster Can you share your function with me? i want to make sure I'm on the right path.

[2017-08-25 20:36] #4663 closed

[2017-08-25 20:37] mklement0 commented on #4674
@SteveL-MSFT:  This is essentially what #3647 is about.

I was about to post something there. Do you want us to continue here instead?

[2017-08-25 20:38] sarithsutha commented on #4150
@adityapatwardhan I'm interested in taking this up.  This would be my first time contributing to open source and this one seemed like a good place to start.

[2017-08-25 20:43] rkeithhill commented on #4674
I whole heartedly agree.  As a developer, I can get the current details with `$error[0]`.

BTW for script developers, I'd love to see something like Jeffrey's old `Resolve-ErrorRecord` (which we ship in PSCX) come built-in.  This gives much more (hopefully useful) info for developers:
[code]

[2017-08-25 21:12] SteveL-MSFT commented on #2463
got something building, but still having segmentation fault

[2017-08-25 21:22] rkeithhill opened #4676 "Can we get a new icon for PowerShell Core to distinguish between it and Windows PowerShell?"
I'm evaluating PS Core on my Windows 10 machine but I also keep Windows PowerShell on my taskbar for times when something doesn't work in PS Core.  The icons for both programs are the same.  It would be nice if we could get an icon for PS Core that was different in some way so it's easier to tell the taskbar icons apart.

[2017-08-25 22:09] rkeithhill opened #4677 "Ctrl-C on git command hangs console - have to exit"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-25 23:07] SteveL-MSFT commented on #4677
This repros with cmd.exe not using PowerShell.  I suggest opening an issue in their [repo](https://github.com/git/git-scm.com/issues)

[2017-08-25 23:07] #4677 closed

[2017-08-25 23:08] SteveL-MSFT commented on #4676
Anyone an artist that could contribute one? :)

[2017-08-25 23:10] SteveL-MSFT commented on #4674
@mklement0 I'll resolve this as a dupe of yours https://github.com/PowerShell/PowerShell/issues/3647

[2017-08-25 23:10] #4674 closed

[2017-08-25 23:11] rkeithhill commented on #4677
I tried it several times in cmd.exe before submitting this. It never hung in cmd.exe and always hung in powershell.exe.

[2017-08-26 00:51] brwilkinson commented on #4056
Can't you just stop modules from loading (in PSCore6) unless the correct information is published in the Module manifest ?

ClrVersion, DotNetFrameworkVersion, PowerShellHostVersion, PowerShellVersion

---
# Minimum version of the Windows PowerShell engine required by this module
PowerShellVersion = ''

# Name of the Windows PowerShell host required by this module
# PowerShellHostName = ''

# Mini

[2017-08-26 01:14] MaximoTrinidad commented on #4056
Guys!

Long before the implementation of:  Appended Windows PowerShell PSModulePath in PoweeShell Core, I mention its was a bad idea and knowing that Windows PowerShell fullCLR is not supported in PowerShell Core,

We should not include Windows PowerShell modules in PowerShell Core PSModulePath,  In my own opinion we should keep it separate,

Or at least give an option to turned it off.

:)

[2017-08-26 02:21] mklement0 commented on #3647
At the bottom is a script you can run as-is, which redefines the default error view and outputs a few sample errors.
The redefinition stays in effect for the remainder of the session, so you can experiment interactively.

Here are the sample error representations, preceded by the commands that trigger them, as run on a Ubuntu system:

[code]

The overall format is:

[code]
Things to note:

* Each

[2017-08-26 03:02] mklement0 commented on #3647
To help with experimenting, find helper function `out-ErrorDetails` at the bottom, which visualizes a given error comprehensively, though not quite as detailed as the `Resolve-ErrorRecord` PSCX function that @rkeithhill mentions.
By default it targets the most recent error.

E.g.:

[code]

yields the following:

[code]

### Function `out-ErrorDetails`

[code]

[2017-08-26 09:19] SaschaNaz opened #4678 "Unicode characters from Node.js are broken when saved or piped"
Steps to reproduce
------------------

[code]

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2017-08-26 09:53] Rybak5611 commented on #4678
Duplicate of #1908 ?

[2017-08-26 10:21] RichardSiddaway commented on #4676
Differentiating Windows PowerShell and PowerShell core would be extremely useful

[2017-08-26 12:18] MaximoTrinidad commented on #4676
Done!! I submitted and made the correction to identify these session are about PowerShell Core.

Thanks for the notice,

Maximo Trinidad
Microsoft MVP - Cloud and Datacenter Management (PowerShell 9rs)
MVP Link: https://mvp.microsoft.com/en-us/PublicProfile/4024451?fullName=Maximo%20%20Trinidad
SAPIEN Technologies MVP 2017: https://www.sapien.com/blog/2016/12/21/sapien-mvp-2017-award-winners/
IDER

[2017-08-26 13:52] markekraus commented on #2112
This presents some interesting implementation issues. To truly support Multipart form data, the Cmdlets would need to accept multiple files, a field name for each file, possibly a content type for each file, and the ability to accept a dictionary of field/value pairs at the same time. Additionally, It appears some APIs are particular about the boundary used, so an optional boundary would need to b

[2017-08-26 14:32] swinster commented on #2112
@markekraus FWIW, here is the modified function from Mario's blog.

The main addition was an addition or Basic Authentication headers which also required a Base64 encoded version of the authentication credentials. Initially, I decrypted the `PSCredential` password via a separate function, however this was changed to a single line. The Basic Authroziation header is required as although you can prov

[2017-08-26 14:34] swinster commented on #2112
I have also hardcoded the `ContentDispositionHeaderValue` value (`package`) which is all that was required for my needs.

[2017-08-26 15:26] #4641 closed

[2017-08-26 15:26] markekraus commented on #2112
@swinster thanks. I just wanted to confirm you were doing something similar.

Authorization Basic is being tracked under #4274

I'm not familiar with the other issue (using `WebClient` for large files). but if it is a show stopper and someone hasn't already done so, you should open an issue on it.

[2017-08-26 15:35] swinster commented on #4274
The crosslinked issue #2112 above gives an example that without adding Basic Authorisation headers to requests, it results in a dual request, the first being challenged then the second with the header added. If you are then attempting to either upload or download very large files (in my case anything from a 1 GB upload or 3-4 GB download is normal), this seems to result in the entire file being up

[2017-08-26 15:49] swinster opened #4679 "WebClient needs to expose the timeout property (or improve Invoke-WebRequest implementation) when downloading large files"
I have been having some issues interacting with REST full APIs, specifically with our product (Pexip) which is writing with Python and Django and uses Apache. Some of these issues are outlined in #2112 and #4274 and this involves a similar an linked problem. I also added a comment to https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-webrequest?view=powershell-5

[2017-08-26 18:38] iSazonov commented on #2112
@markekraus We discussed using https://github.com/AngleSharp/AngleSharp with @SteveL-MSFT. We could use the package to cover most features we need including multipart.

[2017-08-26 19:02] mklement0 commented on #4678
Please see https://github.com/PowerShell/PowerShell/issues/3819#issuecomment-302943793.

[2017-08-26 19:15] markekraus commented on #2112
@iSazonov so that would be part of a larger rework then to use AngelSharp for parsing and submission?

[2017-08-26 23:40] SaschaNaz commented on #4678
Hmm, okay, but shouldn't PS Core 6 have UTF8 by default? Time to deprecate old multibyte codepages...

[2017-08-27 02:47] bigboy-pdb-spam opened #4680 "In Linux, Find Command Fails Even With Quoted and Escaped Asterisk"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]
It appears that the command is being converted into: find -name 'a b.txt' 'ab.txt'

Environment data
----------------

[code]

[2017-08-27 03:32] mklement0 opened #4681 "Prepare for BOM-less UTF-8 default character encoding with respect to $OutputEncoding and console code page"
BOM-less UTF-8 character encoding [is coming as the default for PowerShell Core on all platforms](https://github.com/PowerShell/PowerShell-RFC/issues/71#issuecomment-306614751).

Two attendant changes are required:

* Preference variable `$OutputEncoding`, which currently defaults to ASCII, must default to `[System.Text.UTF8Encoding]::new()` (UTF-8 with no BOM), or, perhaps preferably, _not_ prede

[2017-08-27 03:33] mklement0 commented on #4678
@SaschaNaz: Please see #4681.

[2017-08-27 04:03] SaschaNaz commented on #4678
Great, thanks for the links 👍

[2017-08-27 04:03] #4678 closed

[2017-08-27 04:50] janegilring opened #4682 "PowerShell profiles on PowerShell Core"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

$PSDefaultParameterValues should contain the contents specified in the PowerShell profile file specified in $profile.

Actual behavior
---------------

$PSDefaultParameterValues is blank.

The same example works as expected on PowerShell Desktop 5.1.

Is profile support removed from PowerShell Core?

Environment da

[2017-08-27 08:34] chuanjiao10 commented on #3267
Please help look, there seems to be a problem. could reopen?

Steps to reproduce
------------------
Invoke-RestMethod -Uri 'http://www.gov.cn' |more #html 4.01 utf8
Invoke-RestMethod -Uri 'http://news.sina.com.cn' |more # utf8
Invoke-RestMethod -Uri 'http://ip138.com' |more #gb2312
Invoke-RestMethod -uri "http://tv.sohu.com" |more #gbk

Environment data
----------------
win10 15063	+	PowerShell v6

[2017-08-27 12:45] mklement0 commented on #4682
It may not always make a difference, but generally please try to use the most recent release before reporting an issue - current is beta **6**.

In the current beta I cannot reproduce the issue.
Silly questions, but did you make sure to either open a new session after changing `$PROFILE` or run `. $PROFILE` before testing? Is there code in the profile that runs later and perhaps clears the variabl

[2017-08-27 12:55] mklement0 commented on #4680
Yes, globbing currently mistakenly also kicks in when the pattern is _quoted_.
A simpler example:

[code]

This was previously reported in #3931, and a fix is pending: #4489

[2017-08-27 13:42] mklement0 opened #4683 "Native globbing on Unix lacks ability to include hidden items"
`Get-Item` and `Get-ChildItem` have the `-Force` switch for including _hidden_ items in the enumeration / matching of item names.

Currently, there is no analog when calling an external utility with a glob (wildcard pattern) argument.

Unfortunately, it looks like the only way to provide this ability would be via a new preference variable.

In `bash`, it is shell option `dotglob` that controls whe

[2017-08-27 14:52] mklement0 commented on #1390
Re `set -e`: there's an open PR with an RFC: https://github.com/PowerShell/PowerShell-RFC/pull/88

[2017-08-27 16:21] bigboy-pdb-spam commented on #4680
According to that issue, the asterisk can be escaped using the backquote character, which appears to work for that case:

[code]

However, in the examples that were listed for this issue, using the backquote produced no results, but the command should have displayed the two newly created files.

[code]

I'll try this example in the next beta and close this issue if the problem is solved.

[2017-08-27 17:48] mklement0 commented on #4680
`'...'` in PS encloses _literals_, and the newly introduced native globbing feature should treat them as such too. Not doing so is a _bug_.
(As is the interpretation of patterns inside _double-quoted_ PS strings).

In short: **Using `` ` `` inside `'...'` before wildcard metacharacters is not a general workaround, nor should it be.**

Adding a `` ` `` (backtick) before `*` disrupts the newly intro

[2017-08-27 19:16] SteveL-MSFT commented on #3267
@dantraMSFT can you look into this?

[2017-08-27 19:54] SteveL-MSFT commented on #4682
I'm not repro'ing this either in beta.6

[2017-08-27 19:54] #4682 closed

[2017-08-27 20:16] janegilring commented on #4682
I was sure I upgraded to beta 6 yesterday, but that was on a different machine.
Anyway, I think I found the root cause.
$profile points to C:\Users\<username>\Documents\PowerShell\Microsoft.PowerShell_profile.ps1. I didn`t know that PowerShell Core does not leverage the same profile path as PowerShell Desktop (C:\Users\<username>\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1.)

Afte

[2017-08-27 20:30] janegilring opened #4685 "PowerShell Core - profile issue"
Steps to reproduce
------------------

Put the following in the PowerShell profile file ($profile)
[code]

Expected behavior
-----------------

No error messages

Actual behavior
---------------

Even though the if-statement is evaluated to false, the following error is presented:

The following exception occurred while retrieving member "IsKeyDown": "Could not load type 'System.Windows.Input.Modi

[2017-08-27 20:31] mklement0 commented on #4682
Yes, the `$PROFILE` paths are edition-specific, which generally makes sense (and, obviously, there's no _Windows_ PowerShell profile on Unix platforms).

[2017-08-27 20:51] MaximoTrinidad opened #4686 "PowerShell Core Enter-PSSession not exiting gracefully in Windows when connected to Linux."
I'm happy to say that I love connectivity in both directions 'Linux-to-Windows' and Windows-to-Linux' using OpenSSH-Win64.  Now, in beta-6, I notice when exiting from Linux using Enter-PSSession  in Windows, it doesn't exit gracefully.  Meaning, that when typing 'Exit', its giving an error when it shouldn't.

Steps to reproduce
------------------
In Windows -> connect to Linux:
PS> Enter-PSSession

[2017-08-27 21:09] MaximoTrinidad opened #4687 "PowerShell Core Enter-PSSession not exiting gracefully in Linux when connected to Windows."
This time in Linux connected to Windows session is giving an error message instead of exiting without any issues.

Steps to reproduce
------------------
In Linux PowerShell:
[code]

Expected behavior
-----------------
To exit PSSession without any error.

Actual behavior
---------------
Error message on exiting PSSession:
[code]

Environment data
----------------
Windows 10 Insider Build 16257
Ubu

[2017-08-27 21:10] mklement0 commented on #4685
Again I cannot reproduce this on W10:

If I put the following at the very top of my Core `$PROFILE`:

[code]

I get:

[code]

suggesting that the conditional in your original post should never be entered - which indeed doesn't happen for me when I use your code verbatim in the same place.

---

The only thing I'm personally aware of is `[console]::KeyAvailable` and `[console]::ReadKey()`, but, unf

[2017-08-27 22:01] ScotiaBaker opened #4688 "$PSScriptRoot is not populated when used in a default value for a non-mandatory script parameter"
Steps to reproduce
------------------
Run this script (via PowerShell -File ....)

[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------
[code]

Environment data
----------------
[code]

_[edited by @daxian-dbw to put the repro in code blocks]_

[2017-08-27 23:18] mklement0 commented on #1995
Let me summarize the discussion, with just the right dose of opinion:

* It's clear that we have a backward-compatibility issue, so the old behavior must continue to remain available.

* @TSlivede's [RFC proposal](https://github.com/PowerShell/PowerShell-RFC/pull/90) accounts for that while commendably pointing _the way to the future_.
Unfortunately, his proposal languishes as a _PR_ as of this wr

[2017-08-28 03:24] mklement0 commented on #4282
@SteveL-MSFT: Please have a look at https://github.com/PowerShell/PowerShell/issues/1995#issuecomment-325231274.

[2017-08-28 03:47] iSazonov commented on #2112
We had a Power Commitiiee conclusion https://github.com/PowerShell/PowerShell/issues/3267#issuecomment-286917402 to use AngelSharp for parsing. I believe if the start will be good we could use AngelSharp broader. Yes, it may be a lot of work so I did not start.

[2017-08-28 03:49] mklement0 commented on #4688
Actually, what matters is whether the script is an _advanced_ (cmdlet-like) script or not.
By using a `[Parameter(...)]` attribute, you're _implicitly_ making your script an advanced script, even without decoration your `param(...)` block with an explicit `[CmdletBinding()]` attribute.

Combining an advanced script with invocation via `powershell -File` is what produces the symptom, as the followi

[2017-08-28 04:42] janegilring commented on #4685
I see, thanks for the input regarding key presses.

Here is a better example of the issue I am seeing:
'''powershell
if ($false) {

	if([System.Windows.Input.Keyboard]::IsKeyDown("Ctrl")) { return }

}
'''

Put this in the profile and open PowerShell Core.

[2017-08-28 04:57] iSazonov commented on #4685
You can try `$host.UI.RawUI.ReadKey()` and analyze `KeyInfo`.

[2017-08-28 05:12] iSazonov commented on #4686
/cc @PaulHigin Could you please lokk the Issue - it seems we should catch the exception.

[2017-08-28 05:59] iSazonov commented on #4681
It is already addressed in https://github.com/PowerShell/PowerShell/pull/4119

[2017-08-28 08:43] markekraus commented on #2112
I think I may still work at accepting the `MultipartFormDataContent` as a a `-Body` value. It is something that would make it accessible now and still relevant should AngelSharp prove to be used for more than just parsing.

[2017-08-28 09:51] iSazonov commented on #2112
The idea is that we're using AngelSharp library for web the same way we use Newton library for json - we exclude low level web coding and focus efforts at PowerShell web features. Now we have to implement a web client - it is very difficult to implement a full feature web client - we can't compete with browsers. In Windows PowerShell we can use IE as workaround. In PowerShell Core we need a portab

[2017-08-28 12:31] mklement0 commented on #4685
@janegilring: My `$PSVersionTable` shows the same output as yours, and I cannot recreate your problem (I've verified that the profile indeed loads).

[2017-08-28 12:45] mklement0 commented on #4685
@iSazonov: What @janegilring is looking for is to asynchronously check whether a given _modifier key by itself_ happens to be held down.

`[console]::KeyAvailable` / `$host.UI.RawUI.ReadKey()` / `[console]::ReadKey()` only check for
 / read keypresses that involve at least one non-modifier key.

I'm not really familiar with CoreFX, but a quick documentation search tells me that you may be out of l

[2017-08-28 14:19] mklement0 commented on #4681
Thanks, @iSazonov, good to see how far the work has progressed.

However, as far as I can tell, #4119 addresses neither of the two issues raised here (which is why I called them _attendant_ changes).

[2017-08-28 14:54] dantraMSFT commented on #3267
Looking now. The challenge will be verifying.

[2017-08-28 15:48] JasonMorgan commented on #4605
@SteveL-MSFT any thoughts on this? Adding an apk package would make it so I could start using it in most of my tools containers and I'm sure I'm not the only one.

[2017-08-28 16:42] SteveL-MSFT commented on #4685
@janegilring also not able to repro this, if you can provide something that can be repro'd we can look into it

[2017-08-28 16:42] #4685 closed

[2017-08-28 17:36] zjalexander commented on #4111
@eslesar @sdwheeler @juanpablojofre We discussed this issue in our last meeting - here's what I had based on this conversation

[2017-08-28 18:36] PaulHigin commented on #4686
@MaximoTrinidad
Thanks for reporting this.  This is a regression I introduced with #4475.  The CloseAsync() method should not prematurely clean up connection state unless a connection was never established, and this is causing the exception to be thrown.  I have a fix for it and I'll create a PR soon.

[2017-08-28 19:50] janegilring commented on #4685
Sorry, this was a user error from my side.
It turns out the problematic code was present in 2 different profile files - Microsoft.PowerShell_profile.ps1 and profile.ps1.

Anyway, thanks for the tip regarding keypresses.

[2017-08-28 20:19] #4607 closed

[2017-08-28 20:38] anmenaga opened #4690 "Native command fails when transcript enabled"
Steps to reproduce / Expected behavior / Actual behavior / Environment data:

![nativecommandfailed](https://user-images.githubusercontent.com/11860095/29792610-be8e6600-8bf5-11e7-952e-0786fd9536af.png)

[2017-08-28 20:56] anmenaga commented on #3414
Verified on latest release (v6.0.0-beta.6) on Ubuntu14 that `Move-Item`, `Remove-Item` work as expected with `[`, `]`, `*` when `-LiteralPath` parameter is used.

[2017-08-28 20:59] SteveL-MSFT opened #4691 "ssh-copy-id fails if powershell is default shell"
ssh-copy-id is a popular shebang bash script to make it easy to deploy public keys on target machines for key based authn.
The problem is that this script uses the POSIX shell cmd `exec` which is unknown to powershell:

[code]

This can block adoption of powershell as the default shell (via chsh)

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual be

[2017-08-28 21:12] anmenaga commented on #3414
The remaining thing for this issue are backslashes (`\`) that are covered in greater detail in a linked issue #3666 (On Unix, PowerShell will not find files with backslashes in their names), so closing this one.

[2017-08-28 21:12] #3414 closed

[2017-08-28 21:19] SteveL-MSFT commented on #4690
We should see if this is a complex fix before moving out of 6.0.0

[2017-08-28 21:30] SteveL-MSFT commented on #4605
@JasonMorgan Alpine isn't one of the official supported OS for corefx, so for us this isn't currently a priority.  If a community PR makes it work, we'd be happy to take that change and start producing packages.

[2017-08-28 21:33] SteveL-MSFT commented on #4458
There's an open issue https://github.com/PowerShell/PowerShell/issues/4665 for this, but we can consider this one closed.

[2017-08-28 21:33] #4458 closed

[2017-08-28 21:46] SteveL-MSFT commented on #4315
Unassigning from @adityapatwardhan who is on leave

[2017-08-28 21:47] SteveL-MSFT commented on #4601
@mklement0 fixed!

[2017-08-28 21:50] SteveL-MSFT commented on #3830
@iSazonov my opinion is that this isn't big enough or controversial to warrant a RFC, but I'll have the committee review this

[2017-08-28 21:54] SteveL-MSFT commented on #3616
I think what we may end up doing is just having a setup script in the demo folder and we can blog about it to inform users of it's existence who don't work out of GitHub

[2017-08-28 22:10] PaulHigin commented on #3616
I am working on a set up script right now as a prototype for the Cmdlet.  I don't think we should worry about Win32-OpenSSH breaking PowerShell remoting since it is intended to be closely compatible with other platform versions of SSH.

[2017-08-28 22:22] SteveL-MSFT commented on #4609
cc @JamesWTruher

[2017-08-28 22:31] SteveL-MSFT commented on #4658
@pengzhisun I'm looking into this

[2017-08-28 22:38] dantraMSFT commented on #3267
The problem occured because Invoke-RestMethod was calling ContentHelper.GetEncoding.  This returns a fallback encoding which was defeating checks for meta tags in the response.  Explicit tests were added to cover the same variations as are tested for Invoke-WebRequest.

[2017-08-29 01:33] mklement0 commented on #4691
Typo: The script's name is `ssh-copy-id` - the title and the first sentence of the original post got that wrong.

Somewhat ironically, the `ssh-copy-id` source code states:

The problem, of course, is that the use of [`exec`](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#exec) already presupposes a POSIX-compatible shell.

A quick, but somewhat hacky workaround would be

[2017-08-29 01:34] crossan007 commented on #3511
I'm seeing a similar issue on Windows 10 1703 where typing too quickly into a ```Read-Host -AsSecureString``` prompt will forcefully terminate the running script without throwing an exception or any other indication that there was a problem.

For example: typing "asdf;lkjasdf;lkjasdf;lkjasd" very rapidly succession will cause the script to terminate.

Is there a linked issue somewhere that the pro

[2017-08-29 03:05] bgshacklett opened #4694 "Tab completion fails in some cases; Cursor drops back to parent folder."
Steps to reproduce
------------------
1. Manually configure the Tab key handler:
[code]
    I'm not certain what this actually changes, as it appears to be the default before-hand, but it seems to be necessary to reproduce what I'm seeing.
1. Create a file structure to recreate the problem:
   1. Make the parent directory:

[code]
   1. Create some test files in the directory.

[code]
   1. Create

[2017-08-29 03:08] SteveL-MSFT commented on #3511
@crossan007 I'm not seeing a repro on Win10 1703 (10.0.16278).  Unfortunately, I believe the conhost issues are tracked only internally.  Maybe open an issue [here](https://github.com/microsoft/console)

[2017-08-29 03:10] SteveL-MSFT commented on #4694
This repros with PSCore Beta.6 and appears to be a PSReadline specific issue as `rmo psreadline` the tab complete works

[2017-08-29 03:34] iSazonov commented on #4694
Maybe related #4683

[2017-08-29 06:21] iSazonov commented on #4315
Did we have a proper fix?

[2017-08-29 06:47] iSazonov commented on #4681
4119 was closed w/o merge - We are waiting new PR.

[2017-08-29 09:36] powercode opened #4695 "ArgumentOutOfRangeException in Compiler.LoadModule"
In some cases where a module is loaded with
`using module <path>`
and there is an error loading the module, we can end up with a case where PowerShell `HadErrors` is true, but there are no errors in the `powershell.Streams.Errors`.

This causes an index out of range when we try to throw.

[code]

I haven't figured out yet what is causing the error, and it is harder to diagnose since this error mas