[2018-12-11 16:33] vexx32 commented on #8445
Yeah, both should be in the other repo; the template you mention is primarily there just to notify folks who come here that docs issues need to be in the other repo (and contains a link to that repo as well, if I remember correctly).

I think you should be able to close the issues yourself if you want to!

[2018-12-11 16:35] mklement0 commented on #8393
I missed the part about defaulting to an _error_; yes, that would help, but, given the practice of lazy `ConvertTo-Json` use, would be _a serious breaking change_ - my understanding is that this is considered unacceptable. Even just increasing the default depth is problematic.

What about the simple rules above strikes you as unpredictable?

Also note that they only apply to haphazard use of the c

[2018-12-11 16:41] vexx32 commented on #8393
The inconsistency arises because there are too many rules for too many similar things. Most users don't distinguish heavily between DTOs and regular objects when it comes to serialising them, and would probably^[citation needed] want them and expect them to behave about the same.

[2018-12-11 16:46] sethvs opened #8448 "Join-String -FormatString parameter doesn't apply properly"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-11 16:59] MaximoTrinidad commented on #2334
@vexx32

Yes! There's no guarantees, but it helps identify bugs for PowerShell Core.

Bugs found in Windows PowerShell are been fix in PowerShell Core, as Windows PowerShell is complete. Microsoft was clear on this statement that they stop doing work in Windows PowerShell. So, 5.1 is the last version.

So, if there's any bug found in Windows PowerShell, it should repro in Core so it can be fix mov

[2018-12-11 17:04] vexx32 commented on #2334
Indeed, no argument there, but as has already been mentioned, this particular issue seems to have been fixed for Core already. 😄

[2018-12-11 17:04] bigboy-pdb-spam commented on #8445
@vexx32 Sorry and thanks. I opened the [an issue within that repo](https://github.com/PowerShell/PowerShell-Docs/issues/3401).

[2018-12-11 17:04] #8445 closed

[2018-12-11 17:06] bigboy-pdb-spam commented on #8447
I opened [this issue under the documentation repo](https://github.com/PowerShell/PowerShell-Docs/issues/3402).

[2018-12-11 17:06] #8447 closed

[2018-12-11 17:11] vexx32 commented on #3879
Is it worth discussing whether behaviour of keywords like `continue` and `break` should be scope-restricted? After all, currently they literally _cannot_ be handled whatsoever as several folks here have stated.

This is... unsettling, that calling a function from a module you've just downloaded could conceivably halt all running scripts right up to the global level, with _no possible way_ of being

[2018-12-11 17:21] thecliguy commented on #8443
Possibly relevant: https://github.com/PowerShell/PowerShell/issues/4885

[2018-12-11 17:51] PrometheusRising1 opened #8450 "Save-Help Needs Ability to Retrieve Help for Modules not on Machine"
Please build in the capability to Save-Help -Module * or some form of lookup where it not only pulls help for all modules on a machine, but allows you to pick other modules as well (e.g. IIS, Active Directory, SQL).  Not having this feature makes it very difficult to build a reliable offline, regularly updated repository on a share.

[2018-12-11 18:46] iSazonov commented on #8441
/cc @joeyaiello @SteveL-MSFT

[2018-12-11 20:02] mklement0 commented on #8393
They _have to_, if they want sensible results.

If they don't care about the specifics of the results, such as piping from `Get-ChildItem`, (a) nothing will change and (b) they won't need to learn the rules.

They _shouldn't_ expect that, and that's where guidance in the help topic comes in.

There's a clear dichotomy between:

* DTOs you deliberately construct, whose depth is readily obvious, and

[2018-12-11 20:08] vexx32 commented on #8393
🤷‍♂️ I offered one potential solution to avoid infinite recursion, and I'm sure there are likely several others. I don't think this is the answer. 😄

[2018-12-11 20:11] TravisEz13 commented on #6463
@Jaykul 	I removed the offending terms in PR https://github.com/PowerShell/PowerShell/pull/8415.  There are discussions that we may be able to simplify further.  Please tell us if you have any additional concerns.

[2018-12-11 20:11] #6463 closed

[2018-12-11 20:12] TravisEz13 commented on #6463
Well updated is a better term that removed.  DotNet updated their license.

[2018-12-11 20:34] mklement0 commented on #8393
If you want sensible default behavior while preserving backward compatibility, I don't see an alternative.

Aside from that, sure, detecting infinite recursion early is preferable to waiting for the max. depth to kick in (you may run out of memory first) and it's worth implementing, but it doesn't help the issue at hand:

You don't need infinite recursion to get into trouble: try `Get-Item file.tx

[2018-12-11 20:37] vexx32 commented on #8393
Maybe, maybe not. I think that while by and large PowerShell tends to backwards compatibility there are cases where it makes sense to break a few eggs to make a better omelet. 😄

Perhaps this is one of those cases. 🙂

[2018-12-11 20:46] parkovski commented on #3232
I'm really happy to see the thoughts on this, but as far as the actual implementation, it seems to me we're getting a little ahead of ourselves. The first thing is the system needs a way to create an elevated process, thread, whatever from an unelevated one. None of the cmdlet concerns can truly be solved if we can't create an elevated instance of PowerShell to start with, without going through UA

[2018-12-11 21:05] majkinetor commented on #3232
One possibility to do this involves using scheduled task with option 'run with highest privelege'.

[2018-12-11 21:14] parkovski commented on #3232
Yeah but to create that, you have to already have admin permissions right? That's what psexec does. As far as I know, right now, you have to at some point go through UAC. I'd like to see that change, and with all SSH sessions being elevated, it's sort of a security concern. If some sketchy software tries to SSH into my Windows machine, say from another computer where I have a private key set up (o

[2018-12-11 21:46] SteveL-MSFT commented on #8289
I believe we've found the root cause.  Since we have both stable and preview releases, we've been using the same componentid's for the same set of files.  MSI is trying to be "smart" where if a previously registered component (aka file) is already installed (like you have 6.1.1 installed with same file), then it won't install it again.  So that file is missing from 6.2-preview which causes it to f

[2018-12-11 21:53] mklement0 commented on #8393
Amen to that. There are many examples where sticking with backward compatibility gets in the way of sensible behavior.

In the case at hand, however, I think it's not necessary to break backward compatibility in order to get sensible behavior for the primary use case.

That said, if a breaking change _is_ acceptable, after all (which is fine by me, but I suspect not by many others), then we could

[2018-12-11 21:56] #7767 closed

[2018-12-11 22:43] SteveL-MSFT commented on #7330
https://github.com/PowerShell/PowerShell/releases/download/v6.2.0-preview.3/powershell-6.2.0-preview.3-linux-arm64.tar.gz

[2018-12-11 22:43] #7330 closed

[2018-12-11 22:57] slide commented on #7330
:+1: thanks!

[2018-12-11 23:07] cbrit opened #8452 "'$' character matches every character and string"
I discovered this while writing a script that would test a given string against a set of password policies. I noticed "Contains a special character" was always returning `True` and this is why.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

I also tested this in Powershell 5.1. Perhaps I'm misunderstanding the purpose of -match ?

[2018-12-11 23:51] dilshaat commented on #8443
This indeed helped me.

[2018-12-12 00:21] vexx32 commented on #8452
`match` uses regex matching.

`$` in regex is a special character that matches "the end of a string" and is usually used to, for example, check if a string ends with a certain sequence (e.g., `-match '\d{4}$'` can be used to check if a string _ends_ in 4 digits; without that `$` anchor, it would match anywhere in the string.)

If you need literal characters with `-match` you can escape special cha

[2018-12-12 00:43] slide commented on #7330
Would the project be open to building debs for arm64 as well? I believe for supports this with the `-a` parameter

[2018-12-12 04:51] cbrit commented on #8452
Thanks so much for the explanation @vexx32, I've been using match differently than its intended for so long that I didn't bother checking the help. Sorry!

[2018-12-12 04:51] #8452 closed

[2018-12-12 05:04] vexx32 commented on #8452
No worries @cbrit!

If you ever need someplace to experiment with regex with decent explanations, I've used https://regex101.com and https://regexstorm.net with pretty good success! 😄

[2018-12-12 06:01] iSazonov commented on #6076
@FranklinYu Seems it is out of CoreFX. CoreFX implements only base APIs. Interface management and route management is more high API level. Perhaps we could consider CIM. In any case, you need first do more research before make  feature requests.

[2018-12-12 12:17] sethvs opened #8453 "Allow Get-Help cmdlet -Parameter parameter to accept string array."
# Summary of the new feature/enhancement

It would be useful, if the **-Parameter** parameter of the `Get-Help` cmdlet accept string array,
so we can use commands like

[code]

[2018-12-12 12:59] vexx32 commented on #8450
I think this would need some form of centralised repository of at help information or at least a directory of forwarding links, which _might_ already exist, but if it does I've not seen any kind of indication of how you'd go about directly accessing help information like this.

That said, this absolutely should be possible. 😄

[2018-12-12 15:03] FranklinYu commented on #6076
@iSazonov I'm not familiar with CIM, but I thought it's only available on Windows, isn't it?

[2018-12-12 16:34] kvprasoon commented on #8446
Yourself know its a `File` , and `Files` are not locations/directories/containers. Mentioned cmdlets are designed to work on Directories with different providers and not on Files.

[2018-12-12 16:39] qt3m45su0najc7 commented on #8446
@kvpraseoon, 'lnk' files can point to files or folder.

[2018-12-12 17:04] kvprasoon commented on #8446
I think are expecting a redirection approach. But still `.lnk` is treated as a file and not sure about the feasibility of addressing this. Let see comments from others.

[2018-12-12 17:43] mikemaccana commented on #7441
@SteveL-MSFT OK, obviously you reviewed it and you think it sucks. Fair enough. But can you please get someone - an actual graphic designer in Microsoft - to make a Windows-10 style PS icon?

Currently we have a mix of:

 - A modern flat, outline-style icon used by VSCode's official powershell extensions
 - The anime-face avatar used in Powershell Core 6.1
 - The blue background powershell icon us

[2018-12-12 17:58] SteveL-MSFT commented on #7768
Can someone summarize what the proposed change is for @PowerShell/powershell-committee to review?

[2018-12-12 18:01] SteveL-MSFT commented on #8105
Removing @PowerShell/powershell-committee review until there is a firm proposal

[2018-12-12 18:32] mklement0 commented on #8446
The FileSystem provider's cmdlets such as `*-Location` and `*-*Item` operate only on actual _filesystem features_.

By contrast, `*.lnk`  (and `.url`) files are a feature of the [Windows (GUI) shell](https://en.wikipedia.org/wiki/Windows_shell), whereas from a filesystem perspective they are simply _files_ - the filesystem knows nothing about such files' _contents_, which is where the shortcut tar

[2018-12-12 18:49] qt3m45su0najc7 commented on #8446
Hi @mklement0 Thank you.  Thoughtfully considered.  For me, even the final proposal is stall a little awkward for me.  I was hoping for an 'objects that act (transparently) like folders should be addressed uniformly' solution.  I think the utility should be able to introspect and determine that applying .targetpath, or any other hint like ornamentation, is needed rather than the developer.

[2018-12-12 19:31] chriskuech commented on #5982
What would an approved interface for this cmdlet look like?

[2018-12-12 19:35] mklement0 commented on #7768
First, a genuine bug was uncovered, but it is now tracked in a separate issue: #7937

Second, the **question is whether `Select-Object -ExpandProperty -Property` works as designed and exhibits useful behavior, or whether it should be fixed / enhanced**:

`Select-Object -ExpandProperty`, when combined with `-Property`, currently exhibits internally consistent behavior in line with the documentation

[2018-12-12 19:54] mklement0 commented on #7768
P.S.: Another alternative to consider:

Perhaps _cloning_ isn't necessary, _if_ it is acceptable to repeatedly modify the NoteProperty members on the _same_ objects.

That is, **we could let `Select-Object -ExpandProperty -Property` quietly accept _preexisting_ property members and simply _update_ them**, instead of complaining about them.

Arguably, this is more in in line with `Select-Objects` g

[2018-12-12 20:03] dragonwolf83 commented on #7768
I think a better word than _clone_ is _new_ given how this currently works.

When the property specified in `-ExpandProperty` is a `PSObject` it adds any properties in `-Property` to the new expanded object. The issue is that since the `PSObject` is a reference, the expanded object is modified in the root `PSObject`.

If you create a new `PSObject` first and add the properties to it, then it won't

[2018-12-12 20:30] yevster commented on #8304
Covered by lzybkr/PSReadLine#663

[2018-12-12 20:38] mklement0 commented on #7768
If I understand correctly, @dragonwolf83, your vote is for the quiet, automatic special-casing.

However the special-casing is implemented, if at all, it should apply to true _custom_ objects only ("property bags" without a base object), not instances of mostly-invisible helper type `[psobject]`.

If we pursued the other alternative - quiet repeated decoration of the _same_ object - existing scrip

[2018-12-12 20:43] FranklinYu commented on #6076
IIUC if we implement those cmdlets in PowerShell with CIM, we need to include OMI in the package for non-Windows operating system, right?

[2018-12-12 21:51] DWSR commented on #6533
Just ran across this myself. Was going to file a separate issue, but will throw my comments in here instead. I'm not sure if this is specific to compiled modules or not, but that's how I came across mine.

# Steps to reproduce

1. Create a cmdlet in C# targetting .NET Standard (I used 2.0, not sure the version matters) and compile it via `dotnet publish --self-contained`.
2. Create a `.psd1` manif

[2018-12-12 22:13] qt3m45su0najc7 commented on #8446
Doesn't new-item have that kind of ambiguity? Do you want a new file or a folder? Isn't it resolved by -parameter (-itemtype)?  Couldn't the same approach be applied?

Just posing the questions.  I am simply playing the amicus cruaie, not the arbiter.

[2018-12-12 22:46] SteveL-MSFT opened #8455 "Enable repeating table headers with Format-Table"
# Summary of the new feature/enhancement

Currently, when using `Format-Table` and the number of rows is more than the screen buffer,
the table header is scrolled off the screen and the rows don't have context on the meaning
of each cell.

This is particularly troublesome for users using a screen reader as it is likely they will lose context of the meaning of the different columns after a moderate

[2018-12-12 23:00] bstrautin commented on #7768
Repeatedly modifying the same object would be trouble.

Specifically, in the situation where the same object appears in more than one parent object's property, data presented by Format-Table directly after Select-Object might look correct, but, when assigned to a variable, the actual data in the objects would be different from what was displayed.

e.g. This code would display different values for

[2018-12-12 23:55] mklement0 commented on #8446
`New-Item`, in the context of the FileSystem provider, defaults to item type _file_ and requires you to explicitly indicate if you want the _other_ foundational type of filesystem object - a _directory_ (folder) - or an indirection entity targeting either foundational type, such as a symlink.

The need to choose arises out of there being two foundational item types in filesystems, but note how the

[2018-12-13 01:18] bcdady commented on #1998
I am running PowerShell Core 6.1.1 on MacOS, and encountered these symptoms again. I found this issue via [#7573](https://github.com/PowerShell/PowerShell/issues/7573).
I run Get-ExecutionPolicy in $PROFILE Script, which works fine, but then I instinctively want to go run Set-ExecutionPolicy, which doesn't work.

I could add more specific issues to running Set-ExecutionPolicy in PS Core on MacOS,

[2018-12-13 05:21] iSazonov commented on #6076
OMI is another project and you can freely install OMI on non-Windows systems.

The current plan for the repo is the reverse — eliminate dependence on OMI native client library and implement WSMan client on managed code to get better compatibility for all platforms.
@SteveL-MSFT Could you please more clarify?

[2018-12-13 08:59] stej commented on #3424
Any plans in which version this will be available?

[2018-12-13 12:34] majkinetor commented on #3232
Right, but it doesn't trigger UAC popup.

UAC can also be skipped the official way with Microsoft's Application Compatibility Toolkit.

Windows doesn't have to support it and concept is not valid on that OS.
Its permission model is based on ACL's and there is no single group ownership.

It also doesn't have to be full sudo replica on windows, just a more friendly way to invoke admin commands.

[2018-12-13 15:50] markekraus commented on #3424
@stej Someone would need to write an RFC and then implement it. this work is open to the community. If you have would like to see it implemented you are welcome to do the work. I personally have no interest in making this change and it is likely low priority for the PowerShell team as well. This change would likely need to be community driven and thus there is no timeline for when it will be imple

[2018-12-13 16:02] MaximoTrinidad commented on #8289
@SteveL-MSFT,

No wonder I didn't experience the issue before, as I got the habit of manually uninstall PScore,
I do have both GA and Preview installed.

I'm glad you found the root cause. Awesome!!

:)

[2018-12-13 17:45] iSazonov commented on #7768
This behavior is already "by design".

I have to remind that this cmdlet is very sensitive and it is almost impossible to change something in it without breaking something else.

I should also mention that cloning is generally a custom operation due to property nesting and the threat of an infinite loop (like in ConvertTo-Json).

If we need a new behavior, we better consider something like new cmd

[2018-12-13 18:53] romero126 commented on #8432
This is a really interesting find.
Get-ChildItem behaves the same way.

[2018-12-13 18:58] dragonwolf83 commented on #7768
Forget about cloning. I think that is causing confusion in this discussion. We are not asking for a deep clone of the root object. That is not what this is about.

We are asking for the output that is produced to be exactly as it is today, same properties, but just applied to a new PSObject. That way, the original object is not referenced and modified. The output would be identical, minimizing the

[2018-12-13 19:30] mklement0 opened #8459 "Copy-Item -Include / -Exclude filters with -Recurse are unexpectedly applied to an input directory path itself"
Related:

* #4988, which demonstrates that using `-Include` \ `-Exclude` causes _non-existent_ input paths to be ignored.

* #3304, which shows that `Get-ChildItem -Include` \ `-Exclude` - _without `-Recurse`_ - unexpectedly apply to a - possibly implied input directory's name _itself_, not to the items _inside_ the directory.

While adding `-Recurse` to `Get-ChildItem` fixes the problem, the same

[2018-12-13 20:37] mklement0 commented on #7768
I wouldn't consider this special-casing, given that it's a documented feature: collection-valued properties are enumerated.

In either case, it is the (potentially enumerated) property value _itself_ that is currently decorated, at least from a PowerShell user's perspective.

So, to selectively change that for `[pscustomobject]` instances (true "property bags") and _effectively_ create a shallow c

[2018-12-13 21:07] MaximoTrinidad commented on #8442
Workaround on https://github.com/PowerShell/PowerShell/issues/8289

[2018-12-13 23:49] mklement0 commented on #4394
@vexx32: As [someone once said](https://github.com/PowerShell/PowerShell/issues/8393#issuecomment-446352840):

And here's the good news: No eggs need harming in the implementation of my proposal:
Grandfathering in the existing variables means old code won't break.

Yes, _going forward_ you can commit to `PS`-prefixing future automatic variables, but that can still only be a _convention_, if you wa

[2018-12-14 14:01] sonphnt commented on #4669
@SteveL-MSFT  Can .Net Core 2.1 Console app with package Microsoft.Powershell.SDK 6.1.1 installed run on a Windows without Powershell Core 6.1 installed?

I am writing a .Net core 2.1 console to execute some powershell files, but will be using Windows Powershell and I am getting $env:PSModulePath incorrect.

$env:PSModulePath in Windows Powershell ISE returns correct path to my modules at c:\progr

[2018-12-14 14:49] sonphnt commented on #8226
@casrou Are you using .Net Core Console app and Windows PowerShell 5.1? I am using the same but getting different $env:PSModulePath.

[2018-12-14 16:14] casrou commented on #8226
I was using .Net Core 2.2 and PowerShell 5.1, yes. I'm not sure, what you are asking. Sorry

[2018-12-14 16:17] Kungfoowiz commented on #7000
I get a similar but slightly different issue when working with PS events.
I am also experiencing this problem when working with PS events. I expected it to use the original event subscription's MessageData, but it looks like I need to provide its MessageData object each time New-Event is called. I am using -Forward parameter to forward the event to the main subscribed event.

**Simplified code**

[2018-12-14 16:21] sonphnt commented on #8226
@casrou The thing is when I run $env:PSModulePath in Windows Powershell ISE. I get a Module Path like "C:\Program Files\WindowsPowershell\Modules" but when I run it in C# with powershell.AddScript("$env:PSModulePath"), I get a path "C:\Program Files\Powershell\Modules" (Without prefix windows). So that why the script (import-module, download something bla bla ) is not working in Console app but it

[2018-12-14 17:51] jasonchester opened #8463 "Windows Server 2019 Get-EventLog -List returns invalid event logs"
In Powershell 5.1 running on server 2019 `Get-EventLog -List` returns invalid event logs with the names: **Parameter** and **State**

This may be related to the following registry keys which did not exist in Server 2016 and (I assume) earlier versions.
* HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\EventLog\Parameters
* HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\EventLog\State

#

[2018-12-14 18:51] iSazonov commented on #8463
@jasonchester Thanks for your report! Could you reproduce the issue with latest PowerShell Core version?

[2018-12-14 19:08] jasonchester commented on #8463
@iSazonov That is not possible. `Get-EventLog` is not available in PowerShell core.

[2018-12-14 19:15] iSazonov commented on #8463
@SteveL-MSFT Having WCP we could bring back some Windows-only cmdlets. What is a current-day plan and thoughts?

[2018-12-14 21:48] whitequill opened #8466 "Hashtable or Array?"
# Support Question
I'm listing a directory's content to a variable with the following command:
`$pyd = Get-ChildItem .\*.pyd | ForEach-Object{ @{Path=$_.FullName}}`

When I use `$pyd.GetType()` it show that it is an Array.  Shouldn't it be showing it to be a Hashtable?
I'm just making sure this is the intended behavior. I don't want to list a bug that isn't there.
## Official support

[PowerShell

[2018-12-14 21:54] vexx32 commented on #8466
It's an array... of hashtables. 😉

If you pipe that end to `Get-Member` you'll see that each object is indeed a hashtable. Arrays can hold anything, and any time you store multiple objects from the pipeline into a variable, they will be packaged into an array so that PS can store them. 😄

[2018-12-14 22:31] whitequill commented on #8466
I was thinking it was a hashtable of strings. That is why it got me confused.

[2018-12-14 22:37] vexx32 commented on #8466
It is! It's an array... Of hashtables... With strings in them! :D

On Fri, Dec 14, 2018, 5:31 PM whitequill <notifications@github.com wrote:

[2018-12-14 23:04] whitequill commented on #8466
I think what I wanted to do was this: `$pyd = Get-ChildItem .\*.pyd | ForEach-Object{ @($_.FullName)}`
I guess I'll just ask. How to do you put a list of files into a command like:

this is what you do in bash;`ln ../source/*.pyd .`, but powershell doesn't like it.
New-Item -ItemType HardLink -Path <destination directory> -Name .\*.pyd -Value <source directory>

It also doesn't like a variable wit

[2018-12-14 23:08] casrou commented on #8226
I only have the `C:\Program Files\WindowsPowerShell` of those two directories.

[2018-12-14 23:50] PaulHigin opened #8469 "Enable-PSRemoting and Disable-PSRemoting cmdlets should affect all remoting endpoints per documentation."
Per PowerShell documentation, Enable-PSRemoting and Disable-PSRemoting cmdlets enable and disable *all* remoting endpoints on the local machine.  But PSCore6 versions of these cmdlets affect only PSCore6 endpoints.  The problem with this is that users expect Disable-PSRemoting cmdlet to isolate the local machine from any WinRM/PowerShell connections, but this is no longer true when all Windows Pow

[2018-12-15 00:44] SteveL-MSFT commented on #8463
The `Get-EventLog` cmdlet is just a wrapper around some .NET APIs.  The new ETW APIs replaced the old EventLog APIs and .NET introduced new APIs for that and the result was `Get-WinEvent` cmdlet (which is available in PSCore6).  `Get-EventLog` is legacy and has other issues such as not rendering events logged to old Event Logs but using new ETW APIs (NTFS recently moved to the new APIs and some of

[2018-12-15 00:44] #8463 closed

[2018-12-15 00:48] SteveL-MSFT commented on #7441
@mikemaccana I know you don't like the current icons, but the ones were are currently using are from an actual graphic designer at Microsoft

[2018-12-15 00:48] SteveL-MSFT commented on #7330
@slide feel free to submit a PR to build debs for arm64 :)

[2018-12-15 00:50] SteveL-MSFT commented on #8441
Work has started on this.  However, @adityapatwardhan is currently on vacation.  Perhaps we'll get it early next year.

[2018-12-15 01:17] mikemaccana commented on #7441
Steve are you sure? It seems a little odd a professional would create three
wildly different icons for the same product. Whether I like them or not is
off topic.

On Sat, 15 Dec 2018 at 12:48 am, Steve Lee <notifications@github.com> wrote:

[2018-12-15 07:07] mmillar-bolis commented on #7441
@mikemaccana I find some of your points actually support the PowerShell team's decisions, actually.

Office and VSCode are graphical applications intended to be accessed and manipulated through a GUI shell. PowerShell is just that, another shell that also implements it's own language; it's NOT an app.

On every system except for NT, the user will be accessing pwsh the same as any other shell, via

[2018-12-15 09:51] mikemaccana commented on #7441
There hasn't been a 'decision'. There's just very obviously been different
grouos within Microsoft that have made different versions of the same logo
and no effort to do as the issue title says.

As you say, Linux shells don't have icons because they're generally invoked
via a terminal app. In Windows they're not invoked  this way. That supports
having a properly maintained icon.

Let's kill the t

[2018-12-15 10:15] mikemaccana commented on #7441
(deleted previous reply as email replies aren't formatted properly)

There hasn't been a 'decision'. There's just very obviously been different groups that have made different versions of the same logo and no effort to do as the issue title says.

As you say, Linux shells don't have icons because they're generally invoked via a terminal app. In Windows they're not invoked  this way. That supports

[2018-12-15 10:38] iSazonov commented on #8469
Can PowerShell Core use Windows PowerShell endpoints and vice verse? If yes I agree that the proposal make sense.

[2018-12-15 14:08] mklement0 commented on #8459
Intriguing. I just tried on the following platforms with preview 3, and it does _not_ work for me, meaning that there's _no output_; what is your exact invocation scenario?

[code]

Yes, if you provide a _container_ as the source path, combined with `-Recurse` (arguably, even without it, but that's a separate issue), the wildcard should not be applied to the container itself, only to its descendan

[2018-12-15 15:04] alexandair commented on #8469
@iSazonov Sure, it can. That's how WindowsCompatibility module works--PowerShell Core on Windows connects to Windows PowerShell endpoint.

[2018-12-15 18:50] iSazonov commented on #8441
In .Net Core 3.0 there is a _Local dotnet tools_.

[2018-12-15 19:06] mklement0 commented on #8469
How about:

* keeping the edition-scoped behavior for consistency.

* issuing a _warning_ if `Disable-PSRemoting` finds endpoints managed by the respective _other_ edition.

* updating the documentation accordingly.

That would avoid the awkwardness of introducing cross-edition _functionality_ (as opposed to _awareness_).

[2018-12-16 04:47] kvprasoon commented on #8459
I didn't notice the term `directory` , I tried with file and worked
`♥->copy -Recurse -Path .\t.log -Include *.* -Verbose -Force -Destination C:\Temp\ -WhatIf     What if: Performing the operation "Copy File" on target "Item: C:\Windows\Temp\testcopy\t.log Destination: C:\Temp\t.log".
`

and doesn't work for directory as you mentioned. But the exclusion issues is common for directories and path.

[2018-12-16 05:15] mklement0 commented on #8459
It's actually not about file vs. directory, it's that `*.*` only matches names _with an extension_, so `*.*` doesn't match `Desktop`, but matches `t.log`.

[2018-12-16 06:31] kvprasoon commented on #8459
Got it, Thanks ! `*.*` matches with directory with `.` in its name too.

[2018-12-16 08:52] iSazonov commented on #8469
If `Disable-PSRemoting` disable/warn endpoints in both editions then `Enable-PSRemoting` should works symmetrically.

[2018-12-16 16:59] andrzejdz commented on #7566
I'm waiting for this added too.
At this moment, I use workaround.

First, declare variable in standard way:
`[int] $isInt = 5'

And then, set option for it:
`Set-Variable -Name isInt -Option ReadOnly`

Result:
[code]

### Environment data
[code]

[2018-12-16 17:00] FranklinYu commented on #6076
@iSazonov I’m having some issue looking up the documentation. [`Resolve-DnsName`](https://docs.microsoft.com/en-us/powershell/module/dnsclient/resolve-dnsname) only shows “Windows 8.1 and Windows Server 2012 R2” as latest version. Is it provided by a PowerShell package instead? Like [NetworkingDsc](https://www.powershellgallery.com/packages/NetworkingDsc/)?

[2018-12-16 18:40] bergmeister opened #8474 "When using ZIP package, some ps1xml files (PsReadline and Microsoft.PowerShell.Utility) are not trusted"
# Steps to reproduce

Download ZIP from GitHub releases [here](https://github.com/PowerShell/PowerShell/releases/download/v6.1.1/PowerShell-6.1.1-win-x64.zip) using the latest version of Chrome on Windows (I tried not only 6.1.1 but also 6.0.5). The ZIP does not seem to be signed, the properties on the zip show me that not everything is being trusted.
![image](https://user-images.githubusercontent

[2018-12-16 18:42] iSazonov commented on #6076
No, it is a Windows component.

[2018-12-16 18:46] FranklinYu commented on #6076
@iSazonov Then I don’t quite understand why it says that. When I select “Windows 10” in the Product list, it says

So the Cmdlet works, but it is no longer documented? Is it deprecated?

[2018-12-16 18:57] vexx32 commented on #6076
Might be a documentation issue? I have `Resolve-DnsName` on PS Core 6.1.0 with Windows 10.

[code]

[2018-12-16 18:58] iSazonov commented on #6076
It looks as doc issue. You could report on the web page or PowerShell-Docs repo.

[2018-12-16 18:58] markekraus commented on #6533
I looked at this per @DWSR request.

Upon importing a module GetProcessorArchitechture() is called here

https://github.com/PowerShell/PowerShell/blob/2b4199a78a1b91f2ea53732597f1467788d1bbb2/src/System.Management.Automation/engine/Modules/ModuleCmdletBase.cs#L1852

which is defined here

https://github.com/PowerShell/PowerShell/blob/2b4199a78a1b91f2ea53732597f1467788d1bbb2/src/System.Management.A

[2018-12-16 20:50] vexx32 opened #8475 "`using module` fails to check already-loaded modules for available custom types"
`using module` _only_ works on modules in $env:PSModulePath, i.e., it is _impossible_ to target already-loaded modules.

This can be frustrating when developing and testing modules that make use of custom types in some shape or form that expect them to be exportable from the module.

# Steps to reproduce

## Create two files

1. A simple module file defining a custom attribute. Save as `TestModule

[2018-12-16 21:47] vexx32 commented on #6652
Any chances we could get constructor chaining on the radar at some point, too? 😄

[2018-12-16 21:56] FranklinYu commented on #6076
@vexx32 `Resolve-DnsName` works in your PS Core? I installed PS Core 6.1.0 on my Windows 10 and `Resolve-DnsName` is not found. It only works with the Windows PowerShell 5 that came with Windows 10.

[2018-12-16 23:19] mklement0 opened #8477 "Make Start-Sleep accept fractional seconds"
# Summary of the new feature/enhancement

While `Start-Sleep -MilliSeconds` offers fine-grained control over the sleep duration, it would be convenient not to have two switch parameters just to be able to effectively specify _fractional_ seconds.

E.g., instead of:

[code]

it would be nice to be able to write:

[code]

This is in line with the `sleep` utility on macOS and Linux, which accepts fra

[2018-12-17 01:51] Tiberriver256 opened #8478 "Register-ObjectEvent on Linux - Different behavior"
# Steps to reproduce

This only seems to affect Linux. PS Core on Windows behaves as expected.

[code]

# Expected behavior

[code]

# Actual behavior

[code]
It will hang until a key is pressed and then it's like it tries to execute as many of the action blocks that are queued until the prompt takes back over. The time stamps from Get-Date will all be exactly the same because they did not execute

[2018-12-17 01:57] Tiberriver256 commented on #8478
Confirmed as caused by PSReadline as @TylerLeonhardt mentioned in the Polaris issue.

Run ```Remove-Module PSReadline``` and the expected behavior returns on Linux.

[2018-12-17 02:06] Tiberriver256 commented on #8478
Closing issue and moving to PSReadline's repo

[2018-12-17 02:06] #8478 closed

[2018-12-17 04:50] FranklinYu commented on #4534
I also need this feature to check about an HTTP 303 response. From this thread as well as https://github.com/PowerShell/PowerShell/issues/6157#issuecomment-365796222 there seem to be at least two solutions:

 1. Provide an option to treat all status as success, like `-TreatsAllStatusAsSuccessful` or `-IgnoreStatusError`.
 2. Provide an option to specify the successful statuses (besides the standar

[2018-12-17 07:12] tlsalex commented on #8436
Will it possible to implement this feature (show them at the same time) within get-nettcpconnection in the later powershell version ?  just add one more parameter like -showprocessname to make it more convenient.

[2018-12-17 07:20] tlsalex opened #8479 "powershell vimdiff equivalent"
How to compare two object ,like two text files?
We can use Compare-Object but it does not nice , is there any cmdlet that work like vimdiff in linux ?

![compare-object](https://user-images.githubusercontent.com/36788337/50072194-4d877a00-020f-11e9-9ed6-56329f66d9d3.png)

[2018-12-17 08:45] Aprazeth commented on #4534
I can concur/pile on here; especially in the situations where, for example, (AD FS or other types of) logins are in place - the initial response would give a redirect (to a login page) Since 30x is treated as an error, you can't login in that case because in order to login - you need to follow that redirect. So, please do provide a way to be able to set a range of HTTP codes as correct.

[2018-12-17 11:19] tdaniely opened #8480 "ParameterBindingArgumentTransformationException When using Copy-Item -ToSession"
# Steps to reproduce

Running this script.

[code]

The target servers are running:
- Windows Server 2016 14393.2580
- OpenSSH v7.7.2.0p1-Beta   (sshd is running on desktop, these are automated testing nodes)
- PowerShellCore 6.2.0-preview.1 (MSI package)

# Expected behavior

File is copied with no errors.

# Actual behavior

File **is copied** but the following error shows for every session.

[c

[2018-12-17 13:36] thezim commented on #8479
@tlsalex unfortunately no. A good diff module would be a welcome addition the community.

[2018-12-17 13:43] vexx32 commented on #8479
It looks like you can extend the functionality of Compare-Object relatively easily to accomplish this.

http://www.leeholmes.com/blog/2013/11/29/using-powershell-to-compare-diff-files/

This page has one example, although the code could use some TLC. I see no reason why we couldn't add to the functionality of Compare-Object with a `-Diff` or `-Detailed` or some similarly-named optional switch. 😄

[2018-12-17 14:35] felixfbecker commented on #5983
Seems to be fixed!

[2018-12-17 14:35] #5983 closed

[2018-12-17 16:17] rjmholt commented on #8475
Absolute path should work.

We will need to loop in @lzybkr, @daxian-dbw and @brucepay, because this may be by-design behaviour. `using module` may be deliberately intended for runtime-state-invariant behaviour.

[2018-12-17 16:22] vexx32 commented on #8475
I can understand if that is the intent, however I would probably think that sort of behaviour may be better reserved for strict-mode states only, perhaps?

[2018-12-17 17:55] iSazonov commented on #6076
If you look `C:\Windows\System32\WindowsPowerShell\v1.0\Modules\DnsClient\DnsClient.psd1` on Windows 10 1809 you will see `CompatiblePSEditions = @('Desktop','Core')`. The latest Windows 10 version has many such updated modules compatible with PowerShell Core 6.1. This was announced in https://blogs.msdn.microsoft.com/powershell/2018/09/13/announcing-powershell-core-6-1/

[2018-12-17 18:19] iSazonov commented on #8480
Are you sure you are connecting to PowerShell Core endpoint (not Windows PowerShell endpoint)?

[2018-12-17 18:23] lzybkr commented on #8475
`using module` should support relative paths but not non-constant paths.

I think we discussed allowing `using module $PSScriptRoot\whatever` but decided it wasn't necessary as the language constructed was defined to look for paths relative to the file as though you'd used `$PSScriptRoot` **and** allowing a variable implied you could use non-constant paths.

[2018-12-17 20:21] craysiii commented on #7054
Seems I am running into this issue today, after having successfully remoted into Exchange Online multiple times last week. Running macOS 10.14.2.

[code]

[2018-12-17 21:55] MaximoTrinidad commented on #7054
@craysiii

I got MAC OS X
ProductVersion:	10.13.6

Tested 6.1.1 GA and works OK.

I suggest to post the error you are getting and a sample code to reproduce the issue.

![off365_611ga_2018-12-17_16-38-22](https://user-images.githubusercontent.com/19892435/50117926-3b600880-021c-11e9-8b2a-5fa3fd78c058.jpg)

[2018-12-18 01:15] strawgate opened #8482 "Very high function call overhead"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior
[code]

Function calls (even empty functions) exhibit very high overhead

# Environment data

[code]

[2018-12-18 01:18] strawgate commented on #8482
This kind of overhead makes powershell unsuitable for code which requires hundreds of thousands or millions of simple function calls.

In-lining the function call shows the difference in overhead of function call vs inline in these scenarios:

[code]

[code]

[2018-12-18 03:33] SteveL-MSFT commented on #8278
@najeebanwer you probably deleted the wrong duplicate.  I would suggest removing the other one and doing a repair with the MSI.

[2018-12-18 03:42] tlsalex opened #8483 "How to enter a remote PSSession as elevated user"
I tried to add one windows capability on my server,
But it show me Access is denied, and of course it runs well on local console which run powershell as administrator.

If we use sysinternals tool which is psexec.exe to remote a machine , we can give it a -h parameter , that let us to run cmd with the account's elevated token.

So the question is whether PowerShell has a similar way to enter a rem

[2018-12-18 04:17] tlsalex commented on #8483
And how to enter a elevated user mode after you already inside a remote PSSession ?

[2018-12-18 09:18] MedBouchenafa commented on #8053
same issue here.
Works perfectly fine with windows Powershell 5.1 but not with any Powershell 6.x

[2018-12-18 10:02] mabasic commented on #7769
I'm having issues with using absolute and relative paths for running phpunit. If I use a relative path like `.\vendor\bin\phpunit` it works as expected, but if I use the absolute path `c:/Users/xxx/vendor/bin/phpunit` it opens a new **cmd** window which run the command and then closes itself.

[2018-12-18 15:27] markekraus opened #8485 "Set-Content -PassThru and -OutVariable lack parity with file contents"
It appears that when Set-Content sets a Newline at the end of the file, the new line is not also included in the content of -PassThru or in the content of `-OutVariable`.

IMO, the output should be an exact match for the content actually placed in the file, including the appended newline.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[co

[2018-12-18 17:05] FranklinYu commented on #6076
@iSazonov I can confirm with Windows 10 1809. This is not available for Windows 10 1803 (which is still the majority). I'm wondering how do I write my own Cmdlet that are compatible with both Windows PowerShell and PowerShell Core, like DnsClient in this case?

[2018-12-18 17:39] SteveL-MSFT commented on #6076
@FranklinYu I recently wrote some docs on [writing portable modules](https://github.com/PowerShell/PowerShell-Docs/pull/3434/files?short_path=6186c34#diff-6186c3471bb6880b62a9a75d8970d509).  It's not merged yet as it's still under review, but you can take a look at the PR for the content.

Regarding OMI above.  My current recommendation is to not take a dependency on OMI.

[2018-12-18 17:48] SteveL-MSFT opened #8486 "Add tests for Suggestions"
# Summary of the new feature/enhancement

PowerShell Console has a "suggestions framework" that enables making suggestions to the user.  It currently has a [small set of suggestions](https://github.com/PowerShell/PowerShell/blob/f17601298b87827a94ba029e2159399e1245c077/src/System.Management.Automation/engine/hostifaces/HostUtilities.cs#L61).  Suggestions are currently written directly to the conso

[2018-12-18 18:47] iSazonov commented on #8483
sudo discussion #3232

[2018-12-18 19:30] SteveL-MSFT commented on #4669
@sonphnt PowerShell Core 6 has different PSModulePath than Windows PowerShell (which enables them to run side by side).  If you need the same paths as ISE (aka Windows PowerShell), you should use https://www.nuget.org/packages/Microsoft.PowerShell.5.ReferenceAssemblies/ which will use the runtime assemblies on the machine.

[2018-12-18 20:33] SteveL-MSFT commented on #2334
Since this specific issue is security related, we did make a fix in Windows PowerShell 5.1, but it'll only be available in newest Win10 builds.

[2018-12-18 20:38] pjamesburwell opened #8487 "UNC Path works with Import-Module"
This works too, and even from UNC path:
`Import-Module -Verbose C:\PSPrivateGallery\Modules\PSGallery`

[2018-12-18 20:40] vexx32 commented on #8487
I'm not really sure what the problem is here? Need more info; if you could, please fill out the standard issue template with all the details you have. 😄

[2018-12-18 20:52] Meir017 opened #8488 "add C# unit tests for the compiler"
## Question

Is there a reason that all of the tests are written in powershell and there are no tests for the internals? (parser, tokenizer) or is it just for legacy reasons?

Having the tests written in C# will improve the development process since we'll be able to debug the tests properly

[2018-12-18 21:55] vexx32 commented on #8488
I can't say for sure, but I suspect the answer might include the phrase "that's a lot of work". The tokenizer alone is over 7k lines of code, and Parser.cs is somewhere around 12k if memory serves?

It may also be too time consuming to run tests across the entire codebase in both languages; if the functionality can be assured in the resulting language, that might be sufficient and a little more pr

[2018-12-18 23:10] IISResetMe commented on #7290
@iRon7 it's not just `[hashtable]` - `ConvertTo-Xml` does this (ignores depth and writes members of) a number of built-in collection types, inclusing any `Dictionary`, `Stack` or `List` type.

[2018-12-18 23:18] Arefu opened #8489 "Invoke-WebRequest/RestMethod Attached "Expect: 100-continue" on Requests"
# Support Question
I've been messing around with a project today and noticed that sometimes my requests fail, I couldn't quite nail it down until I installed Fiddler and saw that in the headers my script was requesting `Expect: 100-continue`, after a bit of digging I also noticed once I login to the web page manually it returns a 200, I just added `-Headers` to my script to also Expect 200, but I

[2018-12-18 23:47] markekraus commented on #8489
@Arefu
Could you provide some command examples that could replicate the issue?

Also, can you clarify it the the `Expect:` you saw i fiddler was in the request headers from your client and not in the response headers?

Finally, can you confirm you still have the problem after having disabled all antivirus, firewalls, and local proxies? Sometimes AV and security software can mess with http request

[2018-12-19 00:13] Arefu commented on #8489
[code]
Is my header from PowerShell which is my CLIENT header, I can verify this because when I append the Expect 200 into my Headers I get
[code]
In Fiddler, I have no extra anti-virus installed but Windows Defender. But I will disable them, and try without a Fiddler capture running it could be that.

[2018-12-19 01:36] SteveL-MSFT commented on #1543
@mklement0 I agree that `Start` implies async and also agree that `-NoNewWindow` doesn't make sense on Unix-like platforms.  However, it doesn't make sense to continue to allow users to get into this situation.  However, I don't see this as a priority to fix as I don't believe it affects a large number of users and I expect they'll learn quickly not to use it again after the first time.

[2018-12-19 01:39] SteveL-MSFT commented on #2334
The last two digits in the version are updated automatically by the build system.  You should just consider it magic and not rely on it.  "Newest" here specifically means I believe the fix was checked in late last week so unless whenever that builds goes out to the Insider flights.  Without going into details, it's complicated how a fix we make in our working branch in Windows ends up into a fligh

[2018-12-19 01:50] markekraus commented on #8489
It looks like you are experiencing this with Windows PowerShell 5.1. For Windows PowerShell 5.1 issues, suggestions, or feature requests please use the following link instead: Windows PowerShell [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell). This repository is for PowerShell Core 6 issues.

Can you see if you have the same trouble with 6.1.1?

https://github.com/PowerSh

[2018-12-19 02:02] alexandair commented on #2334
I hope PowerShell team is aware how very confusing all this is. And, if it's confusing to someone who is involved as much as I am, I don't understand how regular PowerShell users can keep track on all this.
Version numbers that are not actually representing builds, inconsistent version numbers... If something is fixed in the insider build, that's not actually fixed for the most users. Majority of

[2018-12-19 03:07] mklement0 commented on #1543
@SteveL-MSFT:

Yes, which is why I think the problem can be dealt with by simply providing proper guidance in the `Start-Process` help topic:

* By stating  in the `Description` section that `-NoNewWindow` is _invariably implied_ on Unix-like platforms.

* By stating in the description of parameter `-NoNewWindow`:

  * that (possibly implied) `-NoNewWindow` is only relevant to _console/terminal_-b

[2018-12-19 03:16] mklement0 commented on #8485
Just to state what `-PassThru` is _currently_ doing:

It is  the _input objects_ that are being passed through, not the derived string representation sent to the output file:

[code]

I agree that it makes more sense to pass out the derived string representation, mirroring what is sent to the file.

[2018-12-19 03:18] tlsalex opened #8490 "powershell tcpdump equivalent"
Is there a cmdlet that can be used to capture data according to the specific protocol or IP address within PowerShell ?

Just like the tcpdump command in Linux

[2018-12-19 03:54] beaudryj opened #8491 "Can you please publish a Server2019 Nanoserver image to dockerhub"
There is currently no LTSC-2019 Docker image for Powershell NanoServer on dockerhub, is there plans to have one added?

Would be very nice to be able to pull an official image vs. building my own for things like teamcity, which rely on the powershell image to effectively run as a Nanoserver image.

https://github.com/JetBrains/teamcity-docker-server/blob/master/nanoserver/Dockerfile

[2018-12-19 06:44] lzybkr commented on #8488
Actually, there were some C# tests for the parser, but they were never open sourced. Coverage was minimal, it turns out to be much easier and expressive to write tests in PowerShell.

Another big issue with C# tests is setting up internal state - something that happens naturally when tests are written in PowerShell. This was a frequent problem when the design of internals changed - tests were brok

[2018-12-19 06:57] Meir017 commented on #8488
@lzybkr Thank you for the detailed answer,

1. could you elaborate a bit about the internal state?
2. how does writing the tests using PowerShell solve this issue?
3. couldn't you just use the same internal state for all of the tests?

[2018-12-19 07:21] lzybkr commented on #8488
It's been too long so I don't remember specifics about the internal state, just the pain, there was a lot of private reflection used.

One of the goals of the original C# tests was to test in isolation, true unit tests. That turns out to be difficult because there is a lot of coupling between components. Those tests solved that problem by using private reflection to set up the state (e.g. create a

[2018-12-19 08:13] alicain opened #8492 "PSDefaultParameterValues"
When setting PSDefaultParameterValues for Get-aduser as follows:
$PSDefaultParameterValues=@{'Get-ADUser:Properties' = "SamAccountName" , "UserPrincipalName" , "DistinguishedName" , "GivenName" , "Surname" , "Name" , "Enabled" , "employeeid" , "lastlogondate"}
In addition to the requested parameters, SID / ObjectGUID and ObjectClass are still displayed.

[2018-12-19 09:16] guidodocter commented on #2996
Can confirm nuttingd's procedure resolves the issue.

[2018-12-19 10:48] vexx32 commented on #8492
The AD cmdlets will do this regardless of $PSDefaultParameterValues, with specifying these properties manually, so it's not really related to that.

The AD cmdlets have a 'defaut property set' of a handful of properties that it returns when no properties are specifically requested. When you request specific properties, it treats those as "additional" to the default set, _not_ as a full replacement

[2018-12-19 15:15] potatoqualitee commented on #2334
That is good news, thank you @SteveL-MSFT! I will let people know.

[2018-12-19 16:55] PaulHigin commented on #2334
@alexandair Yes, this is unfortunately a confusing process.  The fix was ported to a low level internal branch on 12/12 last week, and as @SteveL-MSFT mentioned, will propagate to a vNext flighting branch in a few weeks.

I doubt the fix would meet the bar for back porting to servicing branches (i.e., a patch), especially since the change in behavior can be viewed as a breaking change.

[2018-12-19 17:59] thecliguy commented on #2334
@paulhigin How is fixing it a breaking change when in fact the introduction of this issue was a breaking change for scripts written against all prior versions of Powershell?

The particular effect of this issue that I'm referring to is documented here (a UserVoice issue I raised in 2016): https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/14745750-ps-5-0-bug-transcript-stops-

[2018-12-19 18:37] iSazonov commented on #8488
I refreshed xUnit test in last month and catch some race conditions. One was partially fixed (access to powershell.config.json). Second on MacOS is still opened.
So I found these tests useful especially for _hosting scenarios_.
Now I believe that hosting scenarios are not reliable until we increase the number of xUnit tests. (Perhaps this is due to the above internal states.)
It will also allow us

[2018-12-19 18:39] iSazonov commented on #8490
PowerShell allows you to run any external command and capture it output. So you could use tcpdump like before.

[2018-12-19 18:49] vexx32 commented on #8490
This is a similar idea using a native Windows command and parsing the output to retrieve specific bits of information:

https://vexx32.github.io/2018/11/08/Named-Regex-Matches-PSCustomObject/

You could adapt a similar solution. Actually capturing TCP data from PS is not something that I think it is able to do natively... _however_ such a command could probably be written using the .NET methods th

[2018-12-19 20:09] yxie97 opened #8494 "New-AzureRmWebAppSSLBinding uploads certificate to a different webspace than the App Service hosted in an Azure Service Environment"
# Steps to reproduce

- Create an Azure Service Environment
- Create an Azure Service Plan inside above ASE
- Create an Azure App Service inside above ASP
- Set WEBSITE_LOAD_CERTIFICATES app setting to "*"
- Call New-AzureRmWebAppSSLBinding with a private certificate (.pfx)

[code]

# Expected behavior
certificate uploaded to the same webspace as the App Service and visible under SSL Settings on t

[2018-12-19 20:52] vexx32 opened #8495 "Precedence of comma and addition operators doesn't make sense"
The comma operator has either higher or the same precedence as addition, causing `+` to behave as though concatenating arrays rather than adding values as one would more reasonably expect (in my opinion).

# Steps to reproduce

[code]

# Expected behavior

Addition should be more similar to multiplication, taking place before the comma operator in the absence of explicit parentheses.

[code]

# Ac

[2018-12-19 21:24] MaximoTrinidad commented on #8494
I'm assuming this is Windows PowerShell, which we don't
support in this Github repository.

zure issue! You need to post it in the Azure PowerShell repository at: https://github.com/Azure/azure-powershell

Make sure to provide all the information required to help troubleshoot the issue with the correct PowerShell and Azure Module version.

On December 18th, the new Azure module was released:
Az Mo

[2018-12-19 21:37] MaximoTrinidad commented on #8495
Hum!
I don't think anything is wrong. I would use parentheses to contain the expressions results.
That's me!
[code]

:)

[2018-12-19 21:42] vexx32 commented on #8495
Sure, you _can_. But in most languages folks are used to, simple math operations generally evaluate before something like concatenating reference objects like arrays. 😄

In my opinion, I think requiring parentheses to evaluate as "add arrays together" is _much_ more sensible.

[2018-12-19 22:53] FireInWinter commented on #2616
This is still an issue in 6.2.0-preview.3.  Or at least it is with a few cmdlets I tested: Get-Content, ConvertFrom-Json, and ConvertTo-Json.  And they pointed to 5.0 documentation.

[2018-12-19 23:31] SteveL-MSFT commented on #2616
@adityapatwardhan we should probably bulk update the fwlinks

[2018-12-20 01:00] SteveL-MSFT commented on #3232
I think it's fine to defer Windows support as Windows users are probably accustomed to opening an elevated PowerShell session today while Linux users expect to run as non-root and sudo as needed.  We just want to make sure any design doesn't preclude future Windows support.  I would also probably focus on simply enabling sudo for root rather than any arbitrary user to simplify it and I believe thi

[2018-12-20 01:03] SteveL-MSFT commented on #8296
@zebulonsmith I created https://aka.ms/installpowershell.ps1 which points to the install script on this repo.  You can use it as:

[code]

However, there's currently a known issue with the Preview MSI where it doesn't work after install and you need to try re-installing and running repair.  We should have that fixed for next Preview though.

[2018-12-20 01:06] SteveL-MSFT commented on #8289
@TravisEz13 and I looked at this and we believe the issue is understood.  Basically, MSI is being "smart" keeping track of assemblies being installed along with their ids.  We have two types of packages: stable and preview.  But they both use the same ids for the same assemblies.  So upon installing the preview, MSI sees that the assembly we are going to install is "already installed" because the

[2018-12-20 01:41] SteveL-MSFT commented on #8397
This is not in scope for 6.2 release.  Probably not 6.3 either.

[2018-12-20 02:15] DarwinJS commented on #8289
Maybe use a simple zip - with the assumption of file overwrites - for the preview?

[2018-12-20 03:05] SteveL-MSFT commented on #8289
@DarwinJS if you use the zip pkg we already release, you already won't have this problem, it's specifically the MSI pkg

[2018-12-20 03:07] SteveL-MSFT commented on #8495
@vexx32 if we were starting from scratch, I would agree with you.  However, this would be a breaking change.

[2018-12-20 03:08] mklement0 commented on #8495
@vexx32:

I get that the current behavior may be surprising, but changing it would be a massively breaking change.

The current behavior _is_ documented, namely in [`about_operator_precedence`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operator_precedence?view=powershell-6).

As @SteveL-MSFT  states, such a change would definitely be  a [vZeroTechnial

[2018-12-20 03:38] vexx32 commented on #8495
@SteveL-MSFT @mklement0 I would be _very_ surprised indeed if anyone actually depended on the current behaviour. But knowing how PowerShell users are, I fully expect to be surprised pretty shortly as someone turns up depending on the current behaviour. 😏

That said, I agree this is the sort of fundamental language precedence that is... _difficult_ at best to ever have changed.

I still think it _s

[2018-12-20 03:49] mklement0 commented on #8495
@vexx32:

It is: in [`about_operator_precedence`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operator_precedence?view=powershell-6).
And, as long as the surprising behavior can't be changed, that's the best we can do.

I hear you, but changing something as fundamental as operator precedence is bound to break existing code, especially if users have read

[2018-12-20 03:53] vexx32 commented on #8495
😬

Haha, if I had someone hand me code written like _that_, it'd be getting rewritten on the first pass. 😄

I'll make a note over there, thanks!

[2018-12-20 03:55] vexx32 commented on #6745
Ref: #8495

There are some strange operator precedence rules that deserve revisions:

[code]

In most languages, one would more commonly expect this to be the output:
[code]

[2018-12-20 06:49] hubuk commented on #8361
Works as designed.

[2018-12-20 06:49] #8361 closed

[2018-12-20 11:46] DarwinJS commented on #8289
That's right - I forgot.
What if your team published a ps1 inside the preview folder that "self-installs" - basically does all the little things the MSI does?
This way we could unzip + run self-install and be done.
This would seem to be easy:
- to design and build - last I checked the MSI install was simple (might have changed) and the preview should actually be less integrated anyway
- for the po

[2018-12-20 13:01] marioroy commented on #7890
We're seeing the same issue running PowerShell on macOS 10.12.6. Getting the Symbol not found: __os_log_error_impl. A possible solution can be found here.

http://www.itdaan.com/blog/2017/10/05/930fd5addfcab7a6c23d3cb86dd0fda5.html

[2018-12-20 14:10] sdwheeler commented on #2616
@SteveL-MSFT @adityapatwardhan We need to create a bunch of new FWLinks to point to the new version content. Or, if we reuse the existing FWLinks then we need new ones to point to the old content.

[2018-12-20 14:21] rackley096794 commented on #5296
This issue has been fixed in Server 2016 with the November 2018 rollup and Server 2019 with the January 2019 rollup.  In addition this right is managed slightly differently - please see the documentation update here:  https://github.com/PowerShell/PowerShell-Docs/pull/3446/files

[2018-12-20 16:17] agowa338 commented on #3232
@SteveL-MSFT

I think this will not make a big difference, but provide the full su/sudo experience for the abstract I've outlined [above](https://github.com/PowerShell/PowerShell/issues/3232#issuecomment-444849067).

[2018-12-20 18:34] iSazonov commented on #8361
By design https://github.com/PowerShell/PowerShell/pull/8362#issuecomment-448478395

[2018-12-20 18:36] majkinetor commented on #3232
Majority of the people I worked with just disable UAC if they can.

[2018-12-20 18:38] vexx32 commented on #3232
Unfortunately, that isn't really an option in many environments, and I very much doubt MS is going to up and ditch UAC completely. 😕

[2018-12-20 18:49] iSazonov commented on #7290
The fix is seems a breaking change.
/cc @SteveL-MSFT

[2018-12-20 19:02] DarwinJS opened #8499 "Getting Windows Tar Packaged"
# Support Question

Sorry - I don't know how to touch bases with everyone who gets on the calls.

I can't find that windows tar has built binaries available anywhere publicly.  Does anyone know where they might be?

If they truly aren't built anywhere, does anyone know if the Free for Open Source Azure Pipelines could be configured to build it?  (https://azure.microsoft.com/en-us/blog/announcing-a

[2018-12-20 19:05] #8455 closed

[2018-12-20 19:07] SteveL-MSFT commented on #7290
@iSazonov to be clear, the breaking change here is that `-Depth` would now be enforced when previously it did not?

[2018-12-20 19:09] iRon7 commented on #7290
Yes, that is how I see it.

Op do 20 dec. 2018 20:07 schreef Steve Lee <notifications@github.com:

[2018-12-20 19:14] SteveL-MSFT commented on #2137
Closing this since we have a doc issue opened

[2018-12-20 19:14] #2137 closed

[2018-12-20 19:18] iSazonov commented on #7290
@SteveL-MSFT Yes, again Depth :-) Currently it is ignored for nested properties and containers. I think it must fit *-Json cmdlets.

[2018-12-20 20:56] fullenw1 commented on #2996
Ok than this is a workaround and the cmdlet still needs to be able to handle this situation.

[2018-12-20 22:07] tdaniely commented on #8480
Yes, from sshd_config
`Subsystem	powershell	c:/PowerShell/6-preview/pwsh.exe -sshs -NoLogo -NoProfile`

[2018-12-20 22:22] tdaniely commented on #8480
Note, I could easily reproduce this on my home PC.

[code]

[2018-12-20 22:34] tdaniely commented on #8483
Run sshd elevated.

[2018-12-21 01:44] lukexjeremy commented on #8359
`-UseMinimalHeader` is merged 🎉 I'll have a look at `-SetPrompt` soon.

[2018-12-21 08:37] msftrncs commented on #8482
This is a scripting system (high latency), not a programming language that is compiled to native code (low latency).  I found better mileage if I can keep loops to small counts, by utilizing the cmdlets or operators to do all the work.  I had an instance where I needed to break a Base64String in to 80 character indented lines in to an XML document.  A typical programming loop construct took 20 sec

[2018-12-21 08:45] msftrncs commented on #8442
@kborowinski, repair not working …  one time gave 'account already exists', and another time, I have dialog now waiting for me to relocate the missing install package.

So I have a hunch on why this may have affected me.  I installed the MSI package directly from the website without saving the download, so the dialog is looking for the install package in Edge's temporary download folder.

So now I

[2018-12-21 09:05] chuanjiao10 opened #8509 "Get-ChildItem hang！"
When use parameter both -Recurse and a none path,Get-ChildItem hang!

Steps to reproduce
------------------
Get-ChildItem -path /tmp -Recurse #normal

Get-ChildItem -path E:\TEMP9 -Recurse #normal
#none e:\temp9 on windows.

Get-ChildItem -path /tmp2 -Recurse #Dead loop
#none /tmp2 on this linux.

Environment data
----------------
centos76 + ps v6.1.1  #has this bug

centos76 + ps 6.2.0-preview.3

[2018-12-21 09:20] chuanjiao10 opened #8510 "Invoke-RestMethod should support more encoding"
There is a GBK coding site here, http://ip138.com

Invoke-WebRequest can return content normally,
I hope to Invoke-RestMethod support it.

Steps to reproduce
------------------
[code]

Environment data
----------------
centos76 + ps v6.1.1

centos76 + ps 6.2.0-preview.3

reporter
----------------
By the chinese powershell study & research group. QQ group No. is 183173532

[2018-12-21 09:51] weloytty commented on #7458
I've worked around this by making my company give me a code signing certificate of my very own.  (It's fun trying to explain to the help desk what a code signing certificate is).  I don't think this is a very good solution, but it works ok.

[2018-12-21 13:14] iSazonov commented on #8509
/cc @SteveL-MSFT Looks as unpleasant bug. :-(

[2018-12-21 16:23] jszabo98 opened #8512 "precedence of -and and -or is the same"
It's just surprising to me that Powershell doesn't give a greater precedence to -and over -or, like in other languages like C# or vbscript.  I guess there's some technical reason for it.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-21 17:46] SteveL-MSFT commented on #8509
Basically, when using `-Path` with `-Recurse`, it tries to find a folder called "/tmp2" recursively which means searching your entire filesystem which takes time but it's not actually hung.  The proper way to do what you intent is would be:

[code]

Which fails immediately.  The fix would probably be to have the filesystem provider check for the directory separator and handle this special case.  S

[2018-12-21 17:51] SteveL-MSFT commented on #8512
Don't know the history behind this but it would certainly be a breaking change to change it

[2018-12-21 18:37] iSazonov commented on #8509
For Unix "/" is a root - why we recursively search `/tmp2`?

[2018-12-21 19:05] strawgate commented on #8482
A similar test in python shows overhead of about 0.11s over 1 million calls so id argue that the overhead is significantly higher than comparable languages.

There are ways around it like inlining functions and using native C# calls

[2018-12-21 19:17] SteveL-MSFT commented on #8509
@iSazonov that's what we need to "special case" in the code

[2018-12-21 19:21] breyed opened #8514 "Window Quick Link integration"
On recent Windows versions, you can configure the Quick Link menu opened via <kbd>Windows</kbd>+<kbd>X</kbd> to open a PowerShell prompt instead of a Command Prompt. This option has always been powerful but slow. PowerShell Core's faster startup can help here, but only if the Quick Link menu item opens PowerShell Core instead of PowerShell.

When PowerShell Core is installed on Windows, there shou

[2018-12-21 20:03] SteveL-MSFT commented on #8514
I appreciate the enthusiasm, but a bit early to properly discuss this :)

[2018-12-21 22:02] SteveL-MSFT commented on #3708
Proper WSMan client support for Unix systems will take awhile as the current solution we are using is not reliable.  My recommendation is to install the Microsoft port of OpenSSH on target systems.

[2018-12-21 22:39] #8494 closed

[2018-12-21 22:39] #8492 closed

[2018-12-21 22:41] #8488 closed

[2018-12-21 22:42] SteveL-MSFT commented on #8487
UNC paths are supported

[2018-12-21 22:42] #8487 closed

[2018-12-21 22:50] #8466 closed

[2018-12-21 22:51] #8442 closed

[2018-12-21 23:09] ili101 opened #8516 "PowerShell ValueFromPipeline parameter breaks ParameterSet selection"
# Steps to reproduce
[code]

# Expected behavior
[code]

# Actual behavior
[code]

When not passing $ExcelPackage or passing it as a parameter ParameterSet PackageDefault is selected, but when providing it from Pipeline it asks for $AutoFilter from the wrong ParameterSet.

Tested on 5.1 and 6.2.0-preview.3

I also tried to workaround this by providing multiple DefaultParameterSetName hoping it wil

[2018-12-21 23:13] #8410 closed

[2018-12-22 03:41] SteveL-MSFT commented on #8499
Found the internal owner will see if they respond.  Since it's the end of year, might not hear back til next year.

[2018-12-22 06:38] #3039 closed

[2018-12-22 07:17] chuanjiao10 commented on #8509
This is a centos 6.7 virtual machine that minimizes installation. 1.6GB.
**Find / -iname '*tmp2*'** takes about 1 second. I think the time required for get-childitem is similar.
But **Get-ChildItem -path /tmp2 -Recurse**  did not run in 10 minutes, and cpu 100%, is this not hang?

[2018-12-22 07:55] iSazonov commented on #8509
Although @SteveL-MSFT pointed out a workaround, I believe this is a direct bug that should be fixed.

[2018-12-22 07:57] #8428 closed

[2018-12-22 13:02] DarwinJS commented on #8499
I forgot to mention that after posting this issue, I opened an issue on the github page for the project and asked if they distribute binaries - they answered no and closed the issue.  Not sure if the internal person is the same as the repo owner.

[2018-12-22 15:50] alexandair opened #8523 "HelpNotFoundException error message is not valid anymore"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-22 15:56] alexandair opened #8524 ""help" command on Linux shouldn't run "less" command in case of HelpNotFoundException"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-22 17:50] #8308 closed

[2018-12-22 20:09] be5invis commented on #1908
@GeeLaw So you think PS should break simple, native-exe piping, **on purpose??????**

[2018-12-22 21:18] SteveL-MSFT commented on #8499
@DarwinJS it's likely the same person.  What is the repo?

[2018-12-22 21:18] #8499 closed

[2018-12-22 21:46] SteveL-MSFT commented on #8523
The first link `https://docs.microsoft.com/en-us/powershell/` makes sense to me.  @sdwheeler ?

[2018-12-22 23:01] electrosonics opened #8529 "Documentation on Format-Hex needs to state the system requirements: Windows PowerShell 5.0"
The documentation on Format-Hex needs to state the system requirements: Windows PowerShell 5.0

[2018-12-22 23:11] ili101 commented on #8516
Apparently adding `ValueFromPipelineByPropertyName` to `$AutoFilter` workaround this problem (I have no idea why though, It doesn't make sense)
[code]

[2018-12-22 23:52] mklement0 commented on #8512
I agree that the behavior is surprising.

It is documented in [`about_Operator_Precedence`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operator_precedence), though without a design rationale.

As @SteveL-MSFT notes, changing it now would be a breaking change.

[2018-12-23 00:46] E3V3A commented on #8512
:face_with_head_bandage: :face This is crazy! Not that this comment it will change anything, but certainly explains why I've had such random outcomes when trying to set/extract and pass various booleans/parameters. Since, I'm mostly using the Internal Preview Fast track, I have often blamed various boolean incoherent behavior on buggy builds and such. Now I know why! It would be interesting what c

[2018-12-23 00:49] SteveL-MSFT commented on #8512
Perhaps add this to https://github.com/PowerShell/PowerShell/issues/6745

[2018-12-23 00:51] SteveL-MSFT commented on #6745
One option that has its own pros and cons is a new feature flag to enable all of the "ideal" behavior so that it's opt-in.  If we had some telemetry indicating that most of the usage has moved to the new behavior, we could flip it so it's opt-out.  This might all just be a pipe dream as I haven't seen any real world case where such a model worked...

[2018-12-23 00:53] SteveL-MSFT commented on #8499
Thanks @DarwinJS that doesn't look like a Microsoft owned repo but the repo for the original source and I don't expect they would build/maintain binaries.

[2018-12-23 01:42] vexx32 commented on #6745
Indeed that would be _nice_, but given the rather... thorough... nature of some of these revisions in this thread, it risks potentially completely _splitting_ compatibility of scripts between "normal" and "experimental", and potentially into several pieces, depending on which flags an individual has enabled.

This means we can't really rely on anything that is an experimental feature in that way,

[2018-12-23 03:04] mklement0 commented on #8509
Agreed, @iSazonov.

This bug is just a specific manifestation of the larger underlying issue, however: see #5699.

[2018-12-23 04:52] lukexjeremy commented on #8359
After some research, I'm not sure a `-SetPrompt ...` parameter is the right approach.

The prompt is the return value of the [`prompt` function](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_prompts?view=powershell-6#built-in-prompt). Override that function to change the prompt, e.g. in your PS profile. You could handle all manner of scenarios by basing `

[2018-12-23 07:01] SteveL-MSFT commented on #6745
@vexx32 just to be clear, I wasn't suggesting an `experimental` flag which would eventually become non-experimental.  I was thinking something different (perhaps more like `Enable-PSFeature` as it would be officially supported (and thus protected from breaking changes unlike experimental features)).  I was also thinking it would be a single flag where you opt into these new breaking changes as a s

[2018-12-23 07:18] vexx32 commented on #6745
Oh, in that case... Yeah, absolutely. That would let us neatly package everything together under a single umbrella, and actually use it. Much better than what I was thinking! 😄

[2018-12-23 15:26] alexandair opened #8531 "Remove "Windows PowerShell ISE" event log messages from PowerShell.Core.Instrumentation.man"
@daxian-dbw

File `https://github.com/PowerShell/PowerShell/blob/master/src/PowerShell.Core.Instrumentation/PowerShell.Core.Instrumentation.man` contains a number of occurrences of event log messages related to "Windows PowerShell ISE" and "PowerShell ISE".

Also, "Windows PowerShell" string should be replaced with "PowerShell" in some messages.

[2018-12-23 17:45] iSazonov commented on #8531
/cc @daxian-dbw Please look the issue.

[2018-12-23 20:11] mklement0 commented on #8516
Good find, @ili101. To make this issue easier to discover, please fix the typo in the title: _brakes_ -> _breaks_.

[2018-12-23 22:46] Prototyyppi commented on #8477
Hi, Can I have a look at this

[2018-12-23 23:57] SteveL-MSFT commented on #8477
@Prototyyppi consider it yours!

[2018-12-24 01:59] sir-galahad commented on #8313
Is it necessarily the case that powershell needs special knowledge of /dev/null ?
I mean is there a reason not to detect if stdout and stderr are being redirected to the same file, and use the same file handle for both?

[2018-12-24 02:34] mklement0 commented on #8313
@sir-galahad:

To recap the motivation stated in the OP:

It's not a common scenario, and on Windows it only applies if you also pass `-NoNewWindow` (which is invariably implied on Unix-like platforms), but there's no reason to disallow it based on a check that makes no sense _when applied to `NUL` / `/dev/null`_.
To be clear: I'm not suggesting the check be removed for _other_ files.

[2018-12-24 02:58] sir-galahad commented on #8313
Forgive me for pressing a little bit more, but removing the check for other files is what i am suggesting. I can imagine a case where you might want to redirect both to one file to have a record of what that process output and in what order. The order of output is lost if there are no timestamps in the output

The only reason i can think of to maintain the check for separate files would be to prev

[2018-12-24 03:17] iSazonov commented on #8477
Why double?

[2018-12-24 03:34] mklement0 commented on #8477
@iSazonov:

I simply chose `[double]`, because that's what number literals with a a decimal point (e.g., `1.4`) become in PowerShell.

Note that that even the current `[int]` type cannot be used in its full range, because internally the value is multiplied by `1000` to get milliseconds, while still using `[int]` for the calculation:

[code]

Note that `2147483` is simply the result of integer-divi

[2018-12-24 03:42] iSazonov commented on #8477
I am thinking about decimal.

[2018-12-24 03:44] mklement0 commented on #8477
@iSazonov: I think that kind of precision is overkill and may give users a false sense of how faithful the actual sleep duration is to the requested one.

[2018-12-24 03:46] iSazonov commented on #8477
We could use a validate pattern like `ddddd.ddd`.

[2018-12-24 03:51] mklement0 commented on #8313
@sir-galahad:

I see - you want to be able to capture the _interleaved_ stdout and stderr streams in a _single_ file, as  you can already do with direct invocation with something like `... 2>&1 >out.txt`.

That would be a _new feature_, and I encourage you to open a new issue for it.

By contrast, what _this_ issue asks for is merely a tweak (arguably: bug fix) to the current behavior, which inten

[2018-12-24 03:53] mklement0 commented on #8477
@iSazonov: What is the benefit of that, and why do you need `[decimal]` for that?

[2018-12-24 04:10] mklement0 commented on #8477
@iSazonov:

To put it differently: in a way we already have a potential over-promising problem, by supporting `-MilliSeconds` values; e.g.:

[code]

I think it's sufficient to _document_ the limits of accuracy and to otherwise make do with `[double]`.

[2018-12-24 06:00] yhvicey commented on #2845
It's already two years after the [feature](https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/) is released. Is there any update on this feature?

[2018-12-24 06:31] Retia-Adolf opened #8533 "-replace regex hangs on powershell 6.2.0-preview.3"
# Steps to reproduce

[code]

[code]

# Expected behavior

Outputs:
[code]

# Actual behavior

hangs on, nothing, and <kbd>Ctrl</kbd> + <kbd>C</kbd> can't terminate it, keeps using CPU at about 25% usage
[code]

# Environment data

[code]

[2018-12-24 06:39] vexx32 commented on #8533
I don't think `$\r\n` is a valid regex sequence here. `$` refers to "end of string", and since you've used `-Raw` that would be `EOF`, and... not much else?

[2018-12-24 07:37] jeroenlandheer commented on #8379
**Solution:** `sudo add-apt-repository universe`

[2018-12-24 14:05] mklement0 commented on #8477
Note that `Start-Sleep 1.1e1` already works, because PowerShell happily converts this `[double]` literal to an `[int]` during parameter binding.
PowerShell's flexible automatic type conversions can be confusing at times, but by and large they're very useful - I don't think we should introduce any artificial restrictions here.

_Any_ new feature complicates back-porting - it's the price of innovati

[2018-12-24 14:16] mklement0 commented on #6745
@jszabo98's addition to the list of issues compiled here, based on #8512:

`-and` and `-or` unexpectedly have the _same_ precedence, whereas in most languages (including C#) `-and` has higher precedence than `-or`.

Example expression that contravenes expectations:

[code]

Due to left-associativity and `-and` and `-or` having the same precedence, the above is evaluated as `($true -or $true) -and

[2018-12-24 14:49] KKomarov commented on #6825
Confirm on 6.0.2
On 6.0.3 got a different error
Works fine since 6.0.4

[2018-12-24 15:00] iSazonov commented on #6745
In fact, we already have a model that works all over the world - LTS. MSFT uses this to develop Windows 10. The model is used to develop Unix distributions.
For us, this means that we could release LTS PowerShell Core versions every two years and include them in Windows 10 LTS versions and Unix LTS version. (One problem is to sync Windows and Unix release dates for LTS versions. I guess MSFT can n

[2018-12-25 03:14] SteveL-MSFT commented on #6825
Looks like something was fixed in .NET Core.  If someone still repros this, we can reopen.

[2018-12-25 03:14] #6825 closed

[2018-12-25 14:25] totkeks opened #8539 "Option to exclude file extensions from tab completion/expansion results"
# Summary of the new feature/enhancement

As a user I want to have an option to hide the file extensions for executables and executable scripts known to the system, when using the tab expansion feature of Powershell.
This would allow me to use them like I'm used to, because I do not care about the file extension.

# Proposed technical implementation details (optional)

Hide the file extension when

[2018-12-25 17:41] kvprasoon commented on #8539
How the extension can be ignore, what if there a folder with the same name ?

[2018-12-25 17:56] totkeks commented on #8539
@kvprasoon powershell already works like this. You don't have to write the extension and it still works. Hence tab completion should work the same way.

Just try it with `cmd`. You can run it like this, but if you press `<tab>`, you get `cmd.exe`, which is the same.

[2018-12-25 19:10] vexx32 commented on #8539
That applies to executables located via `$env:Path`, but I don't know that it applies to all commands or scripts in arbitrary locations?

[2018-12-25 19:52] totkeks commented on #8539
@vexx32 Actually, that's what I meant. I guess I was not precise enough, going to update the original post.

[2018-12-26 00:55] bahuwang opened #8541 "while help an alias with *ending,like help dir* or help ls*，the output is in confusion"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-26 13:03] kvprasoon commented on #8539
PowerShell do tab complete it to `PowerShell.exe` . What is you PowerShell version ?

[2018-12-26 13:07] vexx32 commented on #8539
@kvprasoon that's the request at hand; he _wants_ it to expand to only `powershell`, not completing the extension, since it will _run_ just fine without it.

[2018-12-26 15:40] jprusakova opened #8544 "horrible product, cryptic blog"

[2018-12-26 15:41] #8544 closed

[2018-12-26 15:50] kvprasoon commented on #8539
So the ask is to change tab completion. @vexx32 do you see any ROI for this ?

[2018-12-26 16:09] vexx32 commented on #8539
I suppose it might make some sense in terms of increasing UX consistency between what tab completes and what actually can be executed?

I don't think it's _overly_ complicated to implement, but I'm not sure exactly how this argumentcompleter is handled, so it might wind up being more complicated depending on the existing implementation... Hard to say without digging up the code, unfortunately. 😄

[2018-12-26 16:09] kilasuit commented on #8544
Sorry but what was this issue around - was it an incorrectly raised issue? Lack of context makes this hard to decipher what this issue was intended for.

Care to share some further insight?

[2018-12-26 16:59] kilasuit commented on #8539
What's the actual real benefit here? Because TabCompletion is for completing to `Full Command names` which in this case includes the `.exe` or `.ps1` whilst the engine will look to the command values you can see with the below you could technically brake all scripts that don't reference the full `powershell.exe` with the following

[code]

Then tab complete and you would have a PowerShell Function

[2018-12-26 19:19] FranklinYu commented on #6076
I would like to help (because I myself need this Cmdlet). I did some research but there doesn't seem to be any built-in API (from .NET Core) to call, if we need record types like `MX` or `TXT`; we either need to [implement DNS protocol](https://www.codeproject.com/Articles/23673/DNS-NET-Resolver-C) or to depend on [third-party project](https://github.com/MichaCo/DnsClient.NET).

[2018-12-26 23:53] paylocity-sflanders opened #8545 "running powershell from linux over ssh produces 'Shared connection to somemachine closed"
##### SUMMARY

I'm reposting this here based on comments my other ticket with ansible and powershell.

https://github.com/ansible/ansible/issues/48881
https://github.com/ansible/ansible/issues/50352

Essentially pwsh is outputting a console escape character sequence \u001b[?1h\u001b=, which is causing issues.   Can this be disabled?   Also it appear that if you try to run powershell over ssh it ju

[2018-12-27 03:03] KevinMarquette commented on #8474
This is a standard behaviour of Windows when downloading ZIPs from untrusted zones. If you unblock the ZIP before extracting the files, then the extracted files will not be blocked. I don't know that you can sign ZIP files.

[2018-12-27 03:50] djniu opened #8548 "Unable to load shared library 'libpsrpclient' or one of its dependencies"
Since this issue #6281 was closed, I build a net core project and use the latest Nuget package, then make a docker image to test, the exception "System.DllNotFoundException: Unable to load shared library 'libpsrpclient' or one of its dependencies" still throws

# Steps to reproduce
Error:
[code]
csproj:
[code]
Docker file:
[code]
Code:
[code]

# Expected behavior

[code]

# Actual behavior
[code]

[2018-12-27 04:30] iSazonov commented on #6076
@FranklinYu .Net has HttpClient and UdpClient  and we could easily implement any type request to DNS service. But it is better contribute to .Net CoreFX to enhance `System.Net.Dns` APIs. Although if you want it can be done simultaneously.

[2018-12-27 09:11] #8290 closed

[2018-12-27 13:15] timoline opened #8549 "validatescript tab-completion dont show possible values"
(Maybe it should be at vscode repo)

# Steps to reproduce

[code]

# Expected behavior

Test-Service -Service  [tab]
when pressing tab you should see possible values

# Actual behavior

doesnt show values

# Environment data

Name                           Value
----                           -----
PSVersion                      6.1.1
PSEdition                      Core
GitCommitId

[2018-12-27 13:36] timoline commented on #8549
Great examples thx!

But are you saying that tab-complition is not possible like validateset?

[2018-12-27 13:48] vexx32 commented on #8549
Yeah, ValidateScript is too open-ended to autocomplete its own values. You can apply an `[ArgumentCompleter()]` attribute to complete the values instead if you want that. 😄

[2018-12-27 17:40] timoline commented on #8549
do you have a good example?

Your examples on your blog still doesnt work for me.

[2018-12-27 18:15] vexx32 commented on #8549
If you could show me what you've attempted to work with I could offer specific suggestions. 😄

But in general, this sort of method works well:

[code]

[2018-12-27 20:35] ili101 commented on #5935
I was just going to create the same enhancement request and found this already exists, as @alx9r states it will be good if you can provide an array to DefaultParameterSetName or something like "ParameterSetPriority"
PowerShell will then evaluate them in the order provided until a suitable one is found, and only if none of them suitable throw the error.
Example:
[code]
And yes this can be workaroun

[2018-12-27 20:37] JustinGrote commented on #6216
FYI it's a duration property, so you can do string representations like '00:00:60' instead and it will translate to the proper amount of time.

[2018-12-27 20:37] git4ranjan commented on #7395
was there any solution provided to zooming ?

[2018-12-28 01:10] yra40 opened #8550 "всем Привет"

[2018-12-28 02:54] tlsalex opened #8551 "manipulate disk using native cmdlet"
I want to convert disk from Basic to Dynamic using native cmdlet, but seems there is no that kind of cmdlet.
I tried to convert disk from ssd to hdd , but fail as bellow , and I also do not how to change the "canpool" property as I can not find a cmdlet can do that ,  any advise ?
![hdd-type](https://user-images.githubusercontent.com/36788337/50501212-6f93be80-0a91-11e9-9ffe-f3b128f37d22.png)

[2018-12-28 03:16] iSazonov commented on #8541
Perhaps it come from #8247. /cc @SteveL-MSFT

[2018-12-28 03:31] iSazonov commented on #8545
You could use more high version 6.1.

[2018-12-28 03:39] SteveL-MSFT commented on #8541
The way the `help` function works is that if a single item is returned, it passes it through the default pager.  In this case, if AliasHelpInfo is returned, it should probably just be output to the console as the content is too small to pass to a pager.  This is different than https://github.com/PowerShell/PowerShell/pull/8247

[2018-12-28 03:40] SteveL-MSFT commented on #7395
@git4ranjan the solution depends on your operating system

[2018-12-28 04:03] SteveL-MSFT commented on #8545
The ssh example on top doesn't repro for me with 6.2-preview.3 from macOS to Ubuntu 18.04

[2018-12-28 04:05] SteveL-MSFT commented on #8551
That cmdlet is not one owned by the PowerShell team.  As @iSazonov suggested, please use the Windows 10 Feedback tool.

[2018-12-28 04:05] #8551 closed

[2018-12-28 06:04] iSazonov commented on #8551
Press Start button, type "Feedback", click "Feedback Hub" - use the application to send a feedback to MSFT.

[2018-12-28 07:32] timoline commented on #8549
I tried your above example.

Get-File -filename [tab]

My assumption is: when pressing tab, the values will be shown, but it isn't

[2018-12-28 08:07] koddebugging opened #8554 "'clear' should leverage tput reset on *nix"
# Summary of the new feature/enhancement

As as user, I want the same 'clear' experience in PowerShell on *nix, as I have in Windows. Currently, if I use 'clear' in Windows, this clears the buffer. Currently, in *nix, it appears to create a gap of blank lines and leaves the buffer mostly intact; so, I can scroll up to see the history.

I _believe_ that this is because pwsh is leveraging terminal a

[2018-12-28 08:36] SteveL-MSFT commented on #8554
Interestingly, on macOS, `tput reset` doesn't clear the scrollback buffer.  However, if I follow it with "`e[3J" to explicitly clear the scrollback buffer, I believe the result is the desired behavior.  cc @mklement0 who is more of an expert on this

[2018-12-28 09:41] djniu commented on #8548
Finally I figure out what's going on. I checked how the psrp loaded the libpsrpclient.so and found out that the psrpclient require libssl1.0.0, however in microsoft/dotnet:2.1-runtime based image, there are only libssl1.0.2 and libssl1.1, so I edited the docker file and manually to install libssl1.0.0. Here we can't use command "apt-get install libssl1.0.0" to install, need to use "dpkg -i libssl1

[2018-12-28 09:41] #8548 closed

[2018-12-28 11:40] koddebugging commented on #8554
I wonder if the session manager for OSX is different. If so, you could use something like:

`if($Env:SESSION_MANAGER.Contains("unix")){ tput reset}`

And then case another if statement for OSX.

I haven't an OSX device, so I can't test what the environment variables would be, to help any further.

[2018-12-28 13:33] mklement0 commented on #8554
To get a consistent clear-screen-and-scrollback-buffer experience, I suggest using `tput clear; $host.ui.Write("`e[3J")`, as suggested in my review comments - this works with both iTerm2.app and Terminal.app on macOS and the standard terminal app on Ubuntu.

That said: While consistency across platform is nice, do note that macOS / Linux users may expect the scrollback buffer NOT to be cleared wit

[2018-12-28 13:53] mklement0 opened #8559 "macOS: Using the clear-screen-and-reset-scrollback-buffer keyboard shortcut makes PowerShell misplace user input"
On macOS, both Terminal.app and iTerm2.app support keyboard shortcut <kbd>Command-K</kbd> for clearing the screen as well as the scrollback buffer.

PowerShell doesn't realize that the cursor position has been reset, and prints user input on the previously active line instead of the first.

# Steps to reproduce

On macOS:

[code]

# Expected behavior

The prompt should be displayed on the 1st line

[2018-12-28 14:59] paylocity-sflanders commented on #8545
I later tested the problem on version 6.1.1 as well with same result.   here is a test script that will demonstrate it.   it works fines on windows and linux when running locally, but hangs if called from ssh to the same linux.

windows
works - powershell C:\temp\hang.ps1
works - powershell -NonInteractive -File C:\temp\hang.ps1

linux (CentOS Linux release 7.5.1804 (Core), Powershell 6.1.1)
works

[2018-12-28 15:43] mklement0 commented on #8554
Assuming that cls is also an alias for Clear-Host currently, we could use that selectively to implement the clear-screen-and-buffer logic on Unix, while making `clear` defer to the native utility

[2018-12-28 18:46] TranNgocKhoa opened #8560 "PowerShell Core doesn't display text"
# Steps to reproduce
1. Open PowerShell in Windows Explorer Context (Right click >> Open PowerShell)
2. Wait and then Type command

# Expected behavior
PowerShell display text immedialy

# Actual behavior
![image](https://user-images.githubusercontent.com/30297271/50524972-59c2df80-0b0b-11e9-828d-36102c5c7e80.png)

# Environment data
PowerShell 6.2.0-preview.3
Windows 10 build 18305.
SSD 256GB SAT

[2018-12-28 22:42] SteveL-MSFT commented on #8554
@mklement0 you make a good point that Unix users may expect the scroll back buffer not to be cleared since that is the default behavior of `clear`.  Removing the `clear` alias might be the right thing to do while having `cls` aliased to `clear-host` which clears the scrollback buffer to have consistency with Windows.

[2018-12-29 04:54] SteveL-MSFT commented on #8545
@paylocity-sflanders able to repro this with your script.  Workaround is to use `-c` instead of `-f`.  Still investigating why it's hanging.

[2018-12-29 09:02] SteveL-MSFT commented on #8545
Also, the `\u001b[?1h\u001b=` escape sequence is coming from .NET Core, not PowerShell so no way to suppress it.  It enables application mode for cursor keys.  If that is truly causing the problem, then you could try setting TERM to something that doesn't support it.

[2018-12-29 16:21] kvprasoon commented on #8560
What version of pwsh are you using ? Didn't get you with the step you have opened PowerShell, can you open it via `Run (Windows key + R)` -> `pwsh`

[2018-12-29 16:30] paylocity-sflanders commented on #8545
@SteveL-MSFT i think i worked around that escape sequence issue using a tty option, but then hit the hang.   when i originally posted it i wasn't sure if it was causing the hang or not, but seems its another issue that you are investigating

[2018-12-29 16:34] TranNgocKhoa commented on #8560
I updated issue. I use PowerShell 6.2.0-preview.3

[2018-12-29 16:45] kvprasoon commented on #8560
I cannot reproduce. Is the command execution takes more time or not at all executing ?

[2018-12-29 16:50] vexx32 commented on #8560
I've seen things like this occurs in the VS Code integrated console, but never in the pwsh console itself.

Do you have anything in your PowerShell profile scripts?

[2018-12-29 17:41] bergmeister commented on #8474
Whilst that is true, my point was rather that PowerShell can still execute fine inside the not unblocked extracted zip because it trusts the binaries due to them being signed except for a few ps1xml files (despite them being signed as well).
To me it would be nice if everything just worked even when not being unblocked, given that 98% works already, I think that's not unreasonable.

[2018-12-29 17:43] TranNgocKhoa commented on #8560
I don't understand what you mean....

When I try to _Right click >> Open PowerShell_ in Windows Explorer, it take quite long time and as you see, there is no text displayed here.
I think affter excute command `ls`, PowerShell do response but it can't display any text.

[2018-12-29 19:31] vexx32 commented on #6673
I think it would be preferable to have something else. That would lead to a *lot* of duplicated code, since StopProcessing isn't called during normal operation.

A proper `finally{}` type block would be a much better implementation in this instance, I think.

[2018-12-29 19:58] PetSerAl commented on #6673
@tnieto88 AFAIK, `StopProcessing` is usually called in different thread, so that it can send interrupt signal to the work in the main pipeline thread. Cleaning up resources here can easily cause concurrent access problem, if main thread is not yet done with them. Also, PowerShell's `Runspace` is single-threaded, so defining behavior of PowerShell's variant of `StopProcessing` is not trivial task.

[2018-12-29 21:35] bergmeister commented on #7761
I suggest to use OrdinalIgnoreCase for the hashtable comparison please. It would be great if a fix for this gets shipped in the next patch of 6.1.

[2018-12-29 23:37] paylocity-sflanders commented on #8545
@SteveL-MSFT i did a quick test by modifying ansible core python code that runs powershell to include that -c.   it seems to fix the hang issue.   You'll see i referenced this problem in a ticket with them as well "powershell shebang ignored for modules".

[2018-12-30 00:56] vexx32 commented on #6673
So you want a helper function... For a function. Potentially every function that needs to deal with resources that may require disposal work other cleanup steps. Call me crazy, but that's still far too much duplicated code.

And no, I'm not talking about try/finally. The reason we're discussing these kinds of solutions is precisely because that's insufficient. Whatever you wanted to *name* it, it

[2018-12-30 02:09] renehernandez commented on #5170
@SteveL-MSFT If this issue is still for grab I would like to work on it as a first time contribution

[2018-12-30 03:06] renehernandez commented on #3323
@powercode I am interested on helping with this issue. First time contributor here

After a dive in the codebase I have a couple of points:

* System.Diagnostics.Process is part of the .Net Core framework, which means we have to use extensions methods, am I correct that the class to modify should be [ProcessCodeMethods](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Aut

[2018-12-30 03:44] renehernandez opened #8562 "Hard to find good issues for first time contributors."
As I am looking to contribute for the first time, I found that there are many issues labeled with *Up-for-Grabs*, but they vary a lot in complexity.

This makes it harder for me to figure out which issues I should approach and whether I may need some small clarifications or I am way out of my league.

A label such as *First-Time-Issue* would simplify a lot this part of the process.

[2018-12-30 03:46] vexx32 commented on #3323
@renehernandez Yeah, that looks about the right place to put it.

I believe that those methods aren't applied to the `Process` objects as-is; instead, `CodeProperty` methods are applied as ETS methods to the objects when they're retrieved by the Get-Process cmdlet.

See here for how it's done with applying the `Parent` property to process objects, referencing the internal helper method:

https://g

[2018-12-30 03:50] vexx32 commented on #8562
Definitely would be a welcome addition. It's not always the easiest thing to determine with certainty, but a general bucket of "this should be relatively straightforward to figure out" would be a good idea.

That said... if you ever _are_ out of your depth, I've noted in the past that simply opening an issue or commenting on an existing issue and asking for some assistance or general guidance is p

[2018-12-30 03:57] renehernandez commented on #3323
@vexx32 Thanks, that solved the puzzle between the methods and the members of the Process object from the **\*-Process** cmdlets.

I think I have enough to get started working on it

[2018-12-30 11:36] chuanjiao10 commented on #8409
1 installing  and only use [NSimSun] font
2 use a text must with BOM header.
3 forget all python encode-decode setting.

[2018-12-30 12:09] chuanjiao10 commented on #8035
As far as I know, the third-party ssh client module **winscp** supports passwords pre-saved in text.

[2018-12-30 12:39] he852100 opened #8563 "Windows 8.0 installation failed，WMF cannot be installed"
![image](https://user-images.githubusercontent.com/26913892/50547258-bc35f000-0c71-11e9-8704-607c3316a05b.png)
I'm here according to URL
https://docs.microsoft.com/en-us/powershell/scripting/install/installing-windows-powershell?view=powershell-6
![image](https://user-images.githubusercontent.com/26913892/50547307-7168a800-0c72-11e9-8f45-a1308dcd0a6b.png)
Here we show that WMF supports win8,But th

[2018-12-30 12:47] SteveL-MSFT commented on #8563
@he852100 what do you mean "ineffective"?  I checked the links for Windows 8 for WMF4.0, 5.0, and 5.1 and all took me to their download pages

[2018-12-30 12:51] SteveL-MSFT commented on #8409
I would suggest continuing this discussion in this issue https://github.com/Microsoft/console/issues/226

[2018-12-30 12:55] SteveL-MSFT commented on #8560
It seems @TranNgocKhoa is using the Context Menu integration option in the MSI installer.  I don't see this problem on my Win10 machine.

[2018-12-30 12:57] SteveL-MSFT commented on #8562
`Up-for-grabs` means more like "The PowerShell Team acknowledges this is an issue, but it's not a priority for us".  For `First-time-issue`, I would suggest looking at the `Hacktoberfest` label :)

Those are issues we also don't believe is a priority, but do think they are relatively simple or suitable for a hackathon type project.

https://github.com/powershell/powershell/issues?q=is%3Aopen+is%3A

[2018-12-30 13:05] kvprasoon commented on #8560
@SteveL-MSFT  Even with context menu integration, will there be any behavioural difference as its invoking same pwsh.exe ?

[2018-12-30 13:44] SteveL-MSFT commented on #8545
I'm able to repro the hang by simply using redirected input/output (which is basically what ssh does).

[2018-12-30 14:07] SteveL-MSFT commented on #8545
I think I understand why it hangs, but not sure how to fix yet.  Looking at the threads in the hanging situation, it hangs when:

1. Input is redirected
2. The script has a Process block
3. During execution, when the engine sees the script has a process block, it expects input from the pipeline.  It seems that when there is redirected input, the engine is [waiting[(https://github.com/PowerShell/Po

[2018-12-30 14:39] TranNgocKhoa commented on #8560
And I don't know why but PS is booting quite slow.  I have to wait for 2 - 5s until everything finish.
I use SSD for Disk C and with other machine that uses HDD, it's even slower.

[2018-12-30 17:50] kvprasoon commented on #8560
The start time issue is tracked [here](https://github.com/PowerShell/PowerShell/issues/6443) @SteveL-MSFT can you confirm and update the progress for us ?

[2018-12-30 20:06] kilasuit opened #8564 "Suggestion : Ask for issues when raised to also include an optional screen capture showingcasing the issue and it's manifestation"
In reading many issue's in this repo I see a smallish but nevertheless a common theme occurring.

- Badly written issues, mainly in content of the issue but often also in the technical context behind the issue that can mislead the readers into what the actual issue is
- Issues that due to being written up badly, perhaps ENG is not the writers first language so translations get lost in the midst, t

[2018-12-30 22:35] vpondala commented on #2171
Hi @mi-hol

Yes, I definitely did. The issue is #7935
<https://github.com/PowerShell/PowerShell/pull/7935>.

Thanks
Vijay

On Mon., 31 Dec. 2018, 00:54 mi-hol <notifications@github.com wrote:

[2018-12-30 22:51] renehernandez commented on #8562
@SteveL-MSFT Thanks for the suggestion, I have reviewed the hacktoberfest label and it seems a better fit to start. I think it would be nice to update the issues section in the [Contributing Guide](https://github.com/PowerShell/PowerShell/blob/master/.github/CONTRIBUTING.md#contributing-to-issues) to mention the hacktoberfest label

[2018-12-30 22:59] jazzdelightsme commented on #6673
I haven't put a lot of thought into it, but my gut reaction would be to oppose mirroring C#'s `StopProcessing` facility in PowerShell script, because TL;DR: `StopProcessing` is annoying.

The trouble with `StopProcessing` was already touched on by PetSerAl: you can't call any commands that interact with the pipeline in `StopProcessing`. If you did, for example by calling Write-Verbose, a) it would

[2018-12-30 23:40] SteveL-MSFT commented on #8560
@kvprasoon the startup time has been improved already via https://github.com/PowerShell/PowerShell/pull/8341 although there is still additional work we can do to improve it, but it's not a priority for 6.2 since we're within the "ballpark" now.

As for the context menu, the difference is the command line [arguments used](https://github.com/PowerShell/PowerShell/blob/master/assets/Product.wxs#L210)

[2018-12-31 00:10] paylocity-sflanders commented on #8545
Unfortunately the code i sent is generated by the ansible runtime, so i don't control that really.   Its building a wrapper around our ansible powershell library code that includes all the content representing the custom powershell modules, etc.   Obviously if i could override the shebang (which isn't possible without modify their code) we'd have a possible clean workaround.   It is interesting th

[2018-12-31 00:18] vexx32 commented on #8564
I'd agree that people including this might be a good idea.

However, given that the majority of the issues with a problem like this seem to arise from people either not reading or not fully comprehending the issue template in the first place (whether it's due to linguistic differences or just them simply not thinking they need to read any of it), it's fairly probably that any such additions might

[2018-12-31 00:57] digimbyte opened #8565 "Windows 10 5.1 Custom Powershell repair"
I know that this is mostly for V6 development but I'm having an issue with my windows 10 PS, that I can't seem to find help with anywhere.

I don't have access to commands such as "install-Module" or "PSVerstonTable"
I believe I may have installed a version of PS manually in the past, such as PS for windows 8.1
is there any way to repair, or reinstall the correct version on windows 10 without an O

[2018-12-31 01:30] MaximoTrinidad commented on #8565
Unfortunately, this repository is only for PowerShell Core only and not Windows PowerShell.  As in your case, you did post in the already something in UserVoice, which is the place for Windows PowerShell Issues.

But, just in case, have try to install PowerShell Core and see it it also gives you any problem.

Sounds like is something broken (or corrupted) in the OS.

"_... is there any way to repa

[2018-12-31 01:46] SteveL-MSFT commented on #8559
@mklement0 can you open this issue in PSReadLine repo?

[2018-12-31 01:46] #8559 closed

[2018-12-31 01:48] SteveL-MSFT commented on #8565
@digimbyte Win10 has a repair feature that you should use as Windows PowerShell is part of the OS.

[2018-12-31 01:48] #8565 closed

[2018-12-31 01:52] SteveL-MSFT commented on #8564
I agree that there is a problem, but also agree that most users who are not regulars don't really pay attention to the template anyways.  Perhaps if we had a `PSCoreIssue` module which had a `Register-PSCoreIssue` cmdlet that walked them through a repro and collected system information/screenshot, that would be ideal :)

[2018-12-31 01:55] #2171 closed

[2018-12-31 02:02] vexx32 commented on #8564
Some things really need a screen recording on occasion though.

But yeah, the rest would be great. Even better if it could automatically submit the issue for them :wink:

[2018-12-31 05:06] brent-robinson commented on #6426
I experienced a similar problem on PowerShell 6.1.1 when loading `System.Data.SqlClient`, however it appears to be resolved under PowerShell 6.2.0-preview.3

[code]

[code]

Further usage allows me to run Entity Framework Core. Loading `Newtonsoft.Json.dll` also works under the preview version.

[2018-12-31 07:44] rmbolger commented on #3378
I realize this is a long closed issue at this point. But was this breaking change documented anywhere? I'm having trouble finding any references to it other than this issue. I'd expect it would be somewhere in the what's new, breaking changes, or known issues with PowerShell 6 docs.

[2018-12-31 08:10] SteveL-MSFT commented on #3378
The JSON cmdlets were re-written for .NET Core since .NET Core didn't have the .NET Framework JSON serializer and NewtonSoft.JSON isn't completely compatible with .NET Framework JSON serializer.  Not sure if this is documented, but I would suggest opening an issue in PowerShell-Docs repo if you don't find sufficient documentation on this.

[2018-12-31 09:37] mklement0 commented on #8559
Sure; please see https://github.com/lzybkr/PSReadLine/issues/841

[2018-12-31 13:09] janwerner commented on #3105
It would be really helpful if PowerShell Core had support for bash-completion scripts - at least on Linux.

[2018-12-31 14:00] paylocity-sflanders commented on #8545
I may have found another workaround without modify ansible code.  If i add the "TERM: dumb" option on my task, which ends up looking like the following in the ssh command, seems to eliminate that hang

[code]

[2018-12-31 14:02] iSazonov commented on #8562
`First-time-issue` is offered by GitHub and I guess that many people expect it in the repo.

[2018-12-31 14:20] pougetat commented on #8130
Hello,
Can I work on this :) ?

[2018-12-31 14:56] mikemaccana opened #8570 "Feature request: add '&&' (and possibly '||')"
# Summary of the new feature/enhancement

'&&' is a common idiom for running a command if the previous command succeeded. For evidence for the popularity of adding this feature, including discussion with Jeffrey Snover, see  https://stackoverflow.com/questions/563600/can-i-get-to-work-in-powershell

[2018-12-31 16:15] TranNgocKhoa commented on #8560
What should I do for now?
Is there any solution for it or should I wait for next release?

[2019-01-01 00:08] Groostav opened #8574 "ExecutionPolicy and File options are not order agnostic"
Powershells `-ExecutionPolicy` and `-File` options are order sensitive. _Almost all_ of the command line tools I use do not have functional differences in the order of their command line options. This has lead me to build a mental model of arguments as an _unordered dictionary_ or _set of tuples and flags_. In fact it is more like an ordered table.

# Steps to reproduce
[code]

# Expected
Argument

[2019-01-01 00:11] Groostav commented on #8574
more specifically, a session:

[code]

[2019-01-01 00:51] vexx32 commented on #8574
As I recall, both the `-File` and `-Command` parameters must _always_ come last in a command line call to `powershell`.

When using `-File`, any further arguments after the file name are interpreted as _arguments to be passed to the script itself_. See [here](https://docs.microsoft.com/en-us/powershell/scripting/components/console/powershell.exe-command-line-help?view=powershell-6#-file--).

When

[2019-01-01 03:31] SteveL-MSFT commented on #8560
@TranNgocKhoa if you uninstall PSCore6 and reinstall, does the problem still repro for you?

[2019-01-01 03:39] SteveL-MSFT commented on #8562
I've created the `First-Time-Issue` label.  We can start marking candidate issues with this label.  I'll submit a PR to update the docs.

[2019-01-01 03:49] SteveL-MSFT commented on #8311
Marking as `First-Time-Issue` as I think this should be relatively straight forward to add a parameter and have it use some of the internal APIs used by `Export-CliXml` to do the conversion.

[2019-01-01 03:51] SteveL-MSFT commented on #7777
I think this should be pretty straight forward as I expect the unicode control characters to be documented on the internet and just needs to be added to the already existing filter out list

[2019-01-01 03:56] vexx32 commented on #8562
Thanks, Steve! 😄

[2019-01-01 03:56] #2718 closed

[2019-01-01 03:57] SteveL-MSFT commented on #3212
This was done as part of https://github.com/PowerShell/PowerShell/pull/8341

[2019-01-01 03:57] #3212 closed

[2019-01-01 05:37] TranNgocKhoa commented on #8560
No, problem still there

[2019-01-01 11:00] iSazonov commented on #8560
What antivirus do you use? Try after removing it.

[2019-01-01 11:07] iSazonov commented on #8564
[indows Problem Step Recorder](https://support.microsoft.com/en-us/help/22878/windows-10-record-steps) could be very useful if we would had a player.

[2019-01-01 12:57] TranNgocKhoa commented on #8560
I use Windows Defender. I think it doesn't cause the problem.

[2019-01-01 18:38] JediSQL opened #8578 "about_Sort_Object: Mixed Ascending/Descending Example"
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/sort-object?view=powershell-6

For the -Descending option there is this remark: "_To sort by some properties in ascending order and others in descending order, you must specify their property values by using a hash table._" An example of how to do that would be very helpful.

[2019-01-01 20:19] vexx32 commented on #8578
This should also be in the https://github.com/PowerShell/PowerShell-Docs repo. 😄

[2019-01-01 21:14] jborean93 commented on #8545
Just thought I should chime in here, we currently do support PSCore on a POSIX host just without support for our PowerShell module_utils  that are present for Windows execution. I've created a brief guide on how to create a module, or execute a script through PSCore over SSH at https://github.com/ansible/ansible/issues/48881#issuecomment-440481672 and have also documented the `TERM=dumb` example t

[2019-01-02 00:48] mklement0 commented on #8570
Good idea, but this has already been suggested in #3241

[2019-01-02 01:00] mklement0 opened #8580 "New-Object ignores the -ErrorAction common parameter"
# Steps to reproduce

[code]

# Expected behavior

A quiet no-op.

# Actual behavior

[code]

That is, `-ErrorAction Ignore` was ignored.

Note that, by contrast, setting `$ErrorActionPreference` _is_ respected.

[code]

[2019-01-02 13:27] nyanhp opened #8584 "Automatic variable Input is empty once it has been accessed"
# Steps to reproduce

I was unable to find a related issue for my problem. To reproduce the behavior, simply use $Input more than once in a process block.

[code]

# Expected behavior

I would expect that the value of $Input is preserved, as is the value of $_ (and its alias).

[code]

# Actual behavior

In PowerShell Core 6.1 and 6.2-preview.2 as well as Windows PowerShell, $Input is cleared once

[2019-01-02 16:37] JamesHarrisonBaggs commented on #7130
Thanks all! I can confirm that the following resolved the issue for me:

1. Open PowerShell as admin
2. Run install-module -name powershellget -force
3. Restart PowerShell (as admin)
4. Run install-module -name psreadline -allowprerelease -force
5. Restart PowerShell again

[2019-01-02 17:14] Moonsilence commented on #6232
Hey! Googling an Error lead me here. Trying to create a Symlink to a path that contains square brackets using

New-Item -Path C:\my\path\cover.jpg -ItemType SymbolicLink -Value C:\my\path[1995]\cover.jpg

"not found"

Has this bug been fixed yet?

[2019-01-02 17:54] vexx32 commented on #6232
I see a lot of PRs with @kwkam's work but I'm not sure that specific issue has been completely fixed yet.

[2019-01-02 18:42] JustinGrote commented on #6650
For others coming here from google, here's a function to pre-trust a host that works cross-platform.

https://gist.github.com/JustinGrote/fd09df8e7ef2018dced73c22cfa870d2

Since we can do this anyways, don't see why we don't make this "easier" by allowing -force to override the checking (like we allow for removing all files of a filesystem, not necessarily a good idea but trusts the user to know w

[2019-01-02 19:58] renehernandez commented on #3323
For what I have been reading, there is no standard implementation in .Net to get the runtime environment variables for a given process.

As far as existing properties in the `Process` class, the [`StartInfo`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo?view=netcore-2.2) property provides `Environment` and `EnvironmentVariables` properties which may store custom

[2019-01-02 20:04] vexx32 commented on #3323
@SteveL-MSFT @iSazonov do either of you fine folks have any experience in this area? A quick read through that blog post looks like it might require some p/invoke on Windows at the very least.

Perhaps we ought to check with the .NET Core folks to see if they have plans to fix this issue in the Process class itself. A quick search on the CoreFX repo seems to indicate it hasn't been raised as an is

[2019-01-02 20:11] #7455 closed

[2019-01-02 20:23] MaximoTrinidad commented on #6426
@brent-robinson

Hum! Something is missing in your sample.

First, System.Data.SqlClient.dll is included in the PowerShell 6.1.1 folder, and it's working fine.

So, I'm dare to assuming that you installed another version of the DLL. Right!
If that's the case then... maybe... that DLL on the F: drive wasn't build to work with 6.1.1 .NET Core Version(??)

Any way, look at the https://github.com/Powe

[2019-01-02 21:36] ThomasNieto opened #8585 "New-ModuleManifest does not create new PSData Properties from Update-ModuleManifest"
`Update-ModuleManifest` added `Prerelease`, `RequireLicenseAcceptance`, and `ExternalModuleDependencies` properties. `New-ModuleManifest` does not create commented out properties or have parameters to manage these new properties.

[New-ModuleManifest](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-modulemanifest?view=powershell-6)
[Update-ModuleManifest](https://d

[2019-01-02 21:43] joeyaiello commented on #5374
@SteveL-MSFT or @PaulHigin : came across this one while investigating another issue, but it doesn't appear to repro in `6.2.0-preview.3`.

Would one of you mind validating that and closing this? Thanks!

[2019-01-02 21:52] joeyaiello opened #8586 "Ctrl+C blocked and/or swallowed by the debugger"
# Steps to reproduce

[code]

1. The debugger will break.
1. Run some long-running task that you'll have time to Ctrl+C, but that will finish in a reasonable time. I used `ls ~\Downloads`.
1. Ctrl+C (once) before the command finishes. It won't work.
1. When the command finishes, observe that the debugger is no longer attached.

# Expected behavior

It's expected that the command being executed fro

[2019-01-02 22:02] renehernandez commented on #5544
@mklement0  I am working on this issue,

So far, I have already added a `PathSeparator` property on the `ProviderInfo` class.

Now I am going through the code to figure out where do I have to set the values for `PathSeparator` in each of the Provider. For what I have read in the code the best location to update the property would be in the `Start` method of each the provider.

Any suggestions?

[2019-01-03 00:38] vexx32 commented on #5544
That seems like a good start to me @renehernandez. 😄

I would recommend doing what you can to get it to a point where it works, add some tests in, and then open a PR. If the PS Team want to direct you to better or more apropos places to put specific details in, they'll be happy to do it there, where they can see the changes you've made. 🙂

[2019-01-03 00:58] lzybkr commented on #5374
The problematic code I pointed to is still present and the bug still repros with 6.2.0-preview-3.

[2019-01-03 01:54] vexx32 commented on #5374
@lzybkr is there any way to construct a test for this to prevent regressions? It looks like a pretty simple fix at the surface, but it might be a good idea to try to test for things like this... if we even _can_, that is.

[2019-01-03 06:54] iSazonov commented on #8578
Please move to PowerShell-Docs repo.

[2019-01-03 06:54] #8578 closed

[2019-01-03 06:59] #8570 closed

[2019-01-03 08:48] iSazonov commented on #3323
I think it should be implemented in CoreFX at first. Feel free to contribute there.

[2019-01-03 10:43] leoniDEV opened #8588 "Installing Powershell Core prevents Windows Powershell to be launched from the address bar of Windows Explorer"
# Steps to reproduce
Install Powershell Core 6.2.0-preview.3 on a Windows Machine,
open an arbitraty folder in Windows Explorer and type powershell in the address bar
[code]

# Expected behavior
run powershell with the pwd sets to the folder opened in Windows Explorer
![powershell](https://user-images.githubusercontent.com/11667486/50622300-64ff7c00-0f0c-11e9-8374-99dcedc870ba.gif)
[code]

# Actua

[2019-01-03 14:59] FranklinYu commented on #6076
I think this is related: dotnet/corefx#13890

I would try pushing that issue instead.

[2019-01-03 15:58] jasonchester commented on #3613
+1 to better handling of CSV files.

While not an official standard there are best practices published and commonly accepted
* https://www.ietf.org/rfc/rfc4180.txt
* https://www.w3.org/TR/tabular-data-primer/ & https://github.com/w3c/csvw

Test-CSV is certainly possible as there are a number of tools in that space already
* http://csvlint.io/ & https://github.com/theodi/csvlint.rb
* https://csvkit

[2019-01-03 16:45] lzybkr commented on #5374
There's always a way, but sometimes it's more effort than it's worth.

Automated interactive testing is the obvious approach, maybe with something like [expect](https://www.tcl.tk/man/expect5.31/expect.1.html) or [await](https://www.powershellgallery.com/packages/Await/0.8).

An alternative is to simply call all of the right apis in sequence, I'm pretty sure that's possible. It might require simul

[2019-01-03 17:18] MaximoTrinidad commented on #8588
@leoniDEV,

Just an FYI

If you type "pwsh", it work!

If you type PowerShell, and you have a PowerShell folder name, then it goes to the PowerShell folder.
If you want to open a Windows PowerShell Console, then you'll need to type "PowerShell.exe".

I don't think is a bug as typing powershell won't open PowerShell Core.

:)

[2019-01-03 17:32] JustinGrote opened #8589 "Invoke-Command -SSHConnection Hashtable Username doesn't carry through to SSH"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

Occurs on both Windows and Linux.

[code]

[2019-01-03 17:33] JustinGrote commented on #6435
Tried doing it with -SSHConnection and ran into #8589. SSH Remoting still feels pretty half-baked unfortunately...

[2019-01-03 19:41] leoniDEV commented on #8588
The bug isn't that typing `powershell` in the address bar won't open Powershell Core, but to me the bug was that if Powershell Core is installed you can't run Windows Powershell typing `powershell` in the address bar of Windows Explorer.

Anyway this issue can be closed as now I know that need to add the .exe extension to run powershell

[2019-01-03 19:41] #8588 closed

[2019-01-03 19:54] bersue opened #8590 "Powershell 6.0.2"
Update-Help läuft auf die Fehlermeldung:
update-help : Failed to update Help for the module(s) 'WindowsUpdateProvider' with UI culture(s) {de-DE} : One or more errors occurred. (Response status code does not indicate success: 404 (Not Found).)
At line:1 char:1
+ update-help
+ ~~~~~~~~~~~
+ CategoryInfo          : InvalidOperation: (:) [Update-Help], Exception
+ FullyQualifiedErrorId : UnknownError

[2019-01-03 21:48] alexandair commented on #8523
@sdwheeler Thanks.

[2019-01-03 23:00] RDIL commented on #8586
Can confirm this.

[2019-01-04 18:50] #8562 closed

[2019-01-04 20:53] radix opened #8592 "It should be possible to disable writing BOMs in new files created with `Out-File` and `>`"
# Summary of the new feature/enhancement

It should be possible to configure PowerShell to not write a BOM when writing files with redirection, such as with `echo foo > myfile.txt`.

# Proposed technical implementation details (optional)

I suggest adding a `-NoBOM` parameter to Out-File, which disables writing the BOM.

Then I suppose it could be configured as the default like so:

[code]

[2019-01-04 21:08] vexx32 commented on #8592
Strictly speaking this is the purview of the encoding utilised; you can specify either `-Encoding UTF8` or `-Encoding UTF8BOM` with `Out-File` in PS Core to determine whether you'd like the byte order mark or not. 😄

[2019-01-04 21:12] radix commented on #8592
@vexx32 It writes the BOM even when "UTF8" is specified as the encoding:

[code]

[2019-01-04 21:19] vexx32 commented on #8592
Which version of PS are you using? It behaves correctly in PS Core 6.1.0, at least. 🙂

[2019-01-04 21:22] radix commented on #8592
I guess I'm on 5.1.0 :( I'm using the version included in my Windows 10.

[code]

Thanks for confirming this works now. I guess I'll have to figure out how to upgrade!

[2019-01-04 21:22] #8592 closed

[2019-01-04 21:23] vexx32 commented on #8592
You can download the MSI installer from here for either the latest preview or stable versions here:
https://github.com/PowerShell/PowerShell/releases

PS Core installs side-by-side with Windows PowerShell. 🙂

[2019-01-04 21:31] vexx32 commented on #3358
For anyone looking at this issue, I would also like to point out that the behaviour and handling of piped input is _weird_.

For example, if you pipe a series of bytes into it, I would expect a display like this:
[code]

Instead, we get this:

[code]
Which is a bit tricky to read! 😄

[2019-01-04 21:59] gpduck commented on #2996
This will also be a problem if you have a deleted domain user or group and if you have a foreign SID from a 1-way trust.  We definitely need the cmdlet to be able to output the SID so that old principals can be cleaned up and foreign principals can be reported accurately.

[2019-01-05 00:03] PaulHigin commented on #6435
@JustinGrote Unfortunately I am still unable to repro this error.  But the error indicates that there is still some Windows code lurking in Linux code paths.  I recently found and fixed a number of similar issues pertaining to Windows impersonation flow.  The problem was found during remote debugging but it is possible it is related to your problem (#8451).  However, the fix won't be available unt

[2019-01-05 12:10] kvprasoon commented on #5690
@SteveL-MSFT I have changes ready for this(around 80% completed). I have no experience in c# and whatever done so far is by referring the docs available. But now I'm stuck and need help. Any one who can help me ?

[2019-01-05 12:51] kvprasoon commented on #8580
If the change is just using `WriteError` instead of `ThrowTerminatingError` , I've a PR created for this.

[2019-01-05 14:07] SteveL-MSFT commented on #5690
@kvprasoon best way is probably submit as PR but mark as Work-in-Progress (just have `WIP:` prefix in PR title)

[2019-01-05 14:09] SteveL-MSFT commented on #4669
@sonphnt it depends on what you are trying to do, but if you reference that nupkg it should just work with Windows PowerShell 5

[2019-01-05 15:58] vexx32 commented on #3358
If you read as string, then you miss the BOM, which may well be what you care about.

Most cmdlets' handle a piped array and a directly input array the name. This cmdlets' currently does not. If you pass an array directly it works; the handling for piped input is simply at odds with the behaviour for most other cmdlets'.

[2019-01-06 02:47] #5374 closed

[2019-01-06 03:40] vexx32 commented on #3358
I think I address basically everything in #8596

Many thanks @lzybkr for that concept code that is _far_ cleverer than I could figure out myself without at least a week's work, and thanks @Francisco-Gamino for the link!

@SteveL-MSFT just because you brought that one up 😉
![image](https://user-images.githubusercontent.com/32407840/50731769-cc027800-113a-11e9-8728-50aab0c7abe9.png)

If there are an

[2019-01-06 06:30] iSazonov commented on #3358
@vexx32 There is #8191

[2019-01-06 13:19] iSazonov commented on #8590
@bersue Please use our issue template to report issue.

[2019-01-06 18:33] iSazonov commented on #5544
My first look was on FileSystem provider and the name confused me. It will always confuse users in the context. So I think we need another abstraction name.
We use `New-Item` for all providers and `Item` corresponds "item of path" in FileSystem provider. I'd expect that .Net Core [System.IO.Path]::PathSeparator transforms to ItemSeparator.
On the other hand, we have Join-Path. If we had a PathSepa

[2019-01-07 05:40] TranNgocKhoa commented on #8560
Hello there... I'm stucking in this issue.

[2019-01-07 06:20] iSazonov commented on #8560
We can not repo. Exact steps are needed to reproduce the problem. Could you repo on fresh installed OS?

[2019-01-07 11:37] mklement0 commented on #5544
@iSazonov: I'm not sure I understand all your points, but let me try to respond:

Why? To me, the confusion stems only from `[System.IO.Path]::PathSeparator`, but I don't think we should worry about that - it's .NET's confusion, not PowerShell's.

Strictly speaking, we're looking for the character that is used to separate item names that are sequenced to form a path - `PathSeparator` seems like th

[2019-01-07 12:14] vexx32 commented on #5544
Agreed with using `PathVariableSeparator` or even something a degree more removed perhaps, like `PathVariableDelimiter` because its function is so completely different to PathSeparator; it's not separating portions of a path, it's usually a character that can't be used in a path at all, so it serves to clearly delimit individual values in the environment variable.

[2019-01-07 13:09] mklement0 commented on #5544
Thanks, @vexx32, but I suggest sticking with "separator" as the most familiar term (for which "delimiter" is a near-synonym with no clear distinction), because in the abstract the functionality is the same:

A list or sequence (path)  is formed from entries, and a character is placed between those entries to mark their boundaries.

These entries just happen to be different entities:
* In the case

[2019-01-07 15:29] mklement0 opened #8598 "`switch` statement: prevent nonsensical / repeated options"
# Summary of the new feature/enhancement

While the precedence rules that apply when incompatible / repeated options are passed to the `switch` statements are [documented (partially incorrectly)](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_switch?view=powershell-6), a user-friendlier option would be to _prevent_ such combinations to begin with.

Notably

[2019-01-07 15:40] vexx32 commented on #8598
This should be relatively straightforward, I should think. Probably have to pick it up in the tokenizer, or potentially the parser if that turns out to be a simpler point to detect it at (as it well might, it having been already neatly chopped into tokens by that point).

Are there any other keywords that take parameters like this? I can't think of any off the top of my head, but if there _are_ we

[2019-01-07 15:55] mklement0 opened #8599 "`switch` statement: deprecate the -exact option"
Note: By _deprecation_ I mean "soft" deprecation, i.e., deprecation _without (eventual) removal_, in the interest of backward compatibility.

# Summary of the new feature/enhancement

The `-exact` option is _never needed_ and was presumably only ever implemented for symmetry with `-wildcard` and `-regex`, as a way to explicitly opt into the _default_ behavior, which is essentially: implied `-eq` c

[2019-01-07 15:58] pougetat commented on #8389
Hey @mklement0 ,
Do you mind if I work on this ? :)

[2019-01-07 16:06] mklement0 commented on #8389
Thanks for being willing to take this on, @pougetat.

It's certainly OK with me personally, but let's ask @SteveL-MSFT: Is this up for grabs?

[2019-01-07 16:36] mklement0 commented on #8598
I'm glad to hear it, @vexx32.

From what I can glean from [`about_language_keywords`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_keywords?view=powershell-6), the only other statement that supports options with the same type of syntax is [`DATA`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_data_secti

[2019-01-07 16:41] vexx32 commented on #8598
I have never even heard that mentioned in passing. Ever. Didn't even know that was a language keyword, and I've read that help doc several times.... wow. Must have just skimmed over it a good many times.

That needs a thorough write up... guess I know what I'm doing for next week's blog, haha! That is really nice to know about, thank you!

[2019-01-07 16:45] pougetat commented on #8389
@mklement0  If I understand correctly, this cmdlet is implemented as a part of PowerShellGet. I'll at least take the liberty of recreating this issue in that repo. :)

[2019-01-07 16:46] sba923 commented on #8315
What are the next steps? I don't think the code change itself is that big (could even do it myself) but where should it end up?

[2019-01-07 16:51] vexx32 commented on #8315
I guess you'd need to place the code somewhere in the `Start()` method for the `FileSystemProvider`, perhaps? It will need to be wrapped in `#if !UNIX` flags since it's a Windows-specific API or something along those lines.

That way the .NET Core built in methods for pulling attributes should then return the proper values, if I understand this correctly.

[2019-01-07 16:57] mklement0 commented on #8389
@pougetat. Oops! Didn't even realize that - please do.

[2019-01-07 18:20] RDIL opened #8600 "[CI Tests] [Azure Pipelines] Rename spelling task"
Because of #8471 , we need to rename the `spelling` PipeLine as it is no longer just spelling, it now also checks to see if links works.
@TravisEz13 said he would do it, but I figured I would open an issue so nobody forgets!

[2019-01-07 18:22] TravisEz13 commented on #8600
Thanks

[2019-01-07 18:23] adityapatwardhan commented on #8053
@MedBouchenafa It seems to be working fine for preview.3. Can you give it a try?

[code]

[2019-01-07 18:24] TravisEz13 commented on #8600
I renamed the task to `PowerShell-CI-static-analysis` . We need to rename the YAML now.  @RDIL 	Would you mind submitting a PR just renaming it to something to match the new task and mentioning me in the PR?

[2019-01-07 18:42] RDIL commented on #8600
(can you assign me to this issue so I remember to fix this when I get home?) @TravisEz13

[2019-01-07 18:43] TravisEz13 commented on #8600
I don't think you broke anything.  I'm looking at it.  But I assigned it to both of us.

[2019-01-07 18:43] RDIL commented on #8600
👍

[2019-01-07 19:09] Groostav commented on #8574
ah, so this is just yet another gotcha in shell scripting --though now that I think about it the C family of languages all have their own gotchas around `vararg` arguments, so I suppose I shouldn't be surprised to find them here too.

Is another good practice is then to also write scripts that validate they dont get any data they don't expect? Then I would've seen an exception in something like th

[2019-01-07 19:12] vexx32 commented on #8574
In my experience, specifying `[CmdletBinding()]` will explicitly forbid any additional arguments from being supplied, _unless_ a declared parameter has the `[Parameter(ValueFromRemainingArguments)]` attribute declared.

Agreed that the display is confusing as heck, and yes your inference is correct.

[2019-01-07 20:48] #8574 closed

[2019-01-07 20:55] #8600 closed

[2019-01-07 21:48] SteveL-MSFT commented on #8554
@PowerShell/powershell-committee reviewed this and agrees to remove `clear` alias on non-Windows, but the cmdlet should only be calling [Console]::Clear() and depend on .NET CoreFX to do the "right thing" which is currently terminal specific.

[2019-01-07 22:11] BrucePay commented on #8598
@mklement0

But they are not _actually_ mutually exclusive. You can specify multiple options and  the last one wins (i.e. order matters). So this is definitely a breaking change. What benefit would we accrue from taking this breaking change?

From a historical perspective, IIRC, in V1, there might have been some thought that these would be switch parameters but because they are language elements i

[2019-01-07 22:17] BrucePay commented on #8599
@mklement0

Explicitly indicating intent is a useful thing.

[2019-01-07 22:30] vexx32 commented on #8598
They're *functionally* mutually exclusive, though. You can only use one functionality at a time, which makes the suggestions in the current documentation confusing at best, in my opinion.

Would be interesting to hear any further background on this!

[2019-01-07 22:31] vexx32 commented on #8584
@BrucePay we may want to move this to the Docs repo, then, as the wording needs to make this difference more clear, it would seem. :smile:

[2019-01-07 22:59] BrucePay commented on #8584
@vexx32 Agreed.

[2019-01-08 06:21] miketheitguy commented on #3284
This issue is persisting on 6.1.1 and 5.1. If I remove the CRLFs, however, and put everything on a single line, convertfrom-json works great.

JSON File is:

[
    {
        "name": "test",
        "size": "small",
        "number": 1
    },
    {
        "name": "test2",
        "size": "medium",
        "number": 1
    },
    {
        "name": "test3",
        "size": "large",
        "number":

[2019-01-08 06:26] Stephanevg opened #8604 "ConvertTo-Json adds extra spaces on PS6"
# Steps to reproduce

[code]

[code]

# Expected behavior

I would expect the strings to be 100% identical across versions and platforms.

# Actual behavior

If you take a close look at the two generated Json strings, one would notice that the PS6 one has a few empty spaces less then the same output from PS5.1

looking closer at it using an online Diff checker, it will show the extra spaces:
(Ps6.

[2019-01-08 06:31] miketheitguy commented on #3284
The behavior is confusing to use when combined with the `get-content` cmdlet.

For example:
**Works**
`get-content file.json | convertfrom-json`
**Doesn't Work**
`Convertfrom-Json -InputObject (Get-Content file.json)`

When you do it via the latter method, you need to pass a `-raw` parameter because `Get-Content` automatically creates an array based on newlines. Still, seemingly very confusing as

[2019-01-08 10:41] mklement0 opened #8605 "Get-Help misrepresents non-advanced functions as advanced ones when comment-based help is present"
# Steps to reproduce

[code]

Similarly, if you use `Get-Help` with `-Full` or `-Detailed`, the following inapplicable paragraph is shown:

[code]

# Expected behavior

[code]

# Actual behavior

[code]

That is, the syntax diagram mistakenly suggests that `foo` is an advanced function.

# Environment data

[code]

[2019-01-08 11:30] mklement0 opened #8606 "Make Clear-Host clear the scrollback buffer too on all platforms"
_Update_:

The decision in #8603 to rely on `Console.Clear()` amounts to inconsistent behavior across platforms, for no good reason (there's no native behavior that needs to be emulated; native behavior, if desired, is accessible via the external `clear` utility).

If there's consensus that the desired behavior is to consistently clear the screen _and_ the scrollback buffer on all platforms, we ha

[2019-01-08 11:33] mklement0 commented on #8554
@SteveL-MSFT: It would still be nice to at least allow opt-in via a  switch to also clearing the scrollback buffer on Unix-like platforms - please see #8606

[2019-01-08 11:43] mklement0 commented on #8599
@BrucePay:

Sometimes, yes, but not categorically:

Given that:

* the option's name is confusing, as explained.
* that the _default_ behavior is sensible and is what users are likely to expect, along with the need to _opt into_ variant behaviors (`-wildcard`, `-regex`, `-casesensitive`).

I'd say we're better off without `-exact` overall.

Note that there's no `-caseINsensitive` either, for insta

[2019-01-08 11:45] vexx32 commented on #8599
Aye, the default behaviour is essentially what users coming from other languages will more or less expect.

Having a switch named -Exact makes it sound like it's more specific than the default, which it isn't.

[2019-01-08 12:11] mklement0 commented on #8598
To add to @vexx32's comment:

That they're not _actually_ mutually exclusive is the very reason for creating this issue: they _should_ be, which brings us to **why this change is worth making:**

If we prevent nonsensical / pointless use to begin with, we reduce complexity in several respects:

  * Users are spared from accidentally creating self-contradictory / confusing `switch` statements.
  *

[2019-01-08 12:31] pougetat commented on #8389
@mklement0

Hey I started looking into this and the issue is not actually within PowerShellGet which works correctly but rather in here :

https://github.com/PowerShell/PowerShell/blob/4a63201139ce1625b43f1d5b7fb0d5c4b6d80cd5/src/System.Management.Automation/engine/Modules/NewModuleManifestCommand.cs#L1046

I'm not really sure why NewModuleManifest gets called when running Update-ModuleManifest in

[2019-01-08 12:38] mklement0 commented on #8389
Thanks for the sleuthing, @pougetat.

It sounds like you think that the proper fix is for `Update-ModuleManifest` not to call `New-ModuleManifest`. If so, then the issue belongs in the PowerShellGet repository after all, right?

[2019-01-08 12:46] pougetat commented on #8389
Hey @mklement0 ,

From my debugging I notice :
- First NewModuleManifest is called with the RootModule parameter
- Later the actual PowerShellGet Update-ModuleManifest commandlet gets called.

NewModuleManifest does not check whether or not RootModule is valid so the issue is indeed within this method.

We could :
- Not call NewModuleManifest when running Update-ModuleManifest in which case an inv

[2019-01-08 12:52] markekraus commented on #8604
JSON is a serialization that is indifferent white space. The goal of `ConvertTo-Json` is not to produce strings, but to produce JSON. In the transition to v6, the settings were changes to use a the format that it does as it is more widely accepted by linting tools. https://github.com/PowerShell/PowerShell/pull/2787/files

This is "by design" and is not a breaking change.

[2019-01-08 12:52] #8604 closed

[2019-01-08 13:17] mklement0 commented on #8389
Thanks, @pougetat.

It sounds like `New-ModuleManifest` should be fixed in its own right, so I've reopened this issue with an updated description.

Knowing little about either cmdlet, I'm a bit confused: `New-ModuleManifest` itself seems capable of _updating_ existing manifests as well, so why was `Update-ModuleManifest` created (with different / additional functionality?)

[2019-01-08 14:22] vexx32 commented on #2337
Looking at the prior PR, @SteveL-MSFT @lzybkr, it looks like the implementation was rejected due to it being insufficiently thorough.

Can we get a committee decision or recommendation on the desired implementation for this? I note @SteveL-MSFT mentioned that we may want to have a consistent indentation level of whitespace that is snipped at the start of each line, determined by the string termina

[2019-01-08 14:51] pougetat commented on #8389
@mklement0
Very good question to which I don't know the answer. I also know little about these commandlets.

[2019-01-08 15:06] vexx32 commented on #8389
/cc @SteveL-MSFT @vors as it seems they've worked with this file in the past and may be aware of some of the reasoning behind it. 🙂

[2019-01-08 17:20] SteveL-MSFT commented on #2337
@vexx32 I think a mini-RFC would be good to cover the desired usage and compatibility.  The main concern from the associated PR which was not approved is that it was a breaking change if whitespace was intended.  The recommendation is to propose a new token to make it explicit on the new behavior and not modify the existing behavior.

[2019-01-08 17:38] #8554 closed

[2019-01-08 17:45] dhulwells commented on #8606
Can I take this one?

[2019-01-08 17:56] #8524 closed

[2019-01-08 18:07] fullenw1 opened #8607 "Test-Path -IsValid -PathType Leaf doesn't correctly recognize a leaf"
This issue is about an incorrect validation of the `Test-Path` cmdlet.

When a path ends with a backslash it is supposed to be a **container**.

Furthermore, according to the official documentation:

and also

[https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/test-path?view=powershell-6](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.manag

[2019-01-08 18:32] SteveL-MSFT commented on #8389
Regarding `New-ModuleManifest`, this seems vaguely familiar and I think the reasoning is that you may use `New-ModuleManifest` before authoring rootmodule.psm1 so it shouldn't fail if the file doesn't exist.  `Update-ModuleManifest`, however implies everything is working (and thus existing), so it seems that a fix would be to have `Update-ModuleManifest` do the verification rather than making any

[2019-01-08 18:43] #2845 closed

[2019-01-08 19:16] kagoyal opened #8608 "Session Configuration support for SSH remoting"
New-PSSession when used for SSH currently doesn't allow passing -ConfigurationName.
We want to use SSH remoting with Just enough administration for MAC users who are connecting to windows machine.

[2019-01-08 20:13] BrucePay commented on #8606
@SteveL-MSFT @mklement0  Since `Clear-Host` on Windows already clears the scrollback buffer, this new switch `-All` would be a useless parameter on Windows resulting in either an error or it being silently ignored if used, neither of which seem undesirable.

We can certainly implement this on Windows if desired, but I don't know that I've ever wanted it. YMMV.

@JamesWTruher @joeyaiello IIRC, the

[2019-01-08 20:37] fullenw1 commented on #8607
Thank you for the explanation.
Until now we could assume that both can be used together, and when not, we had to find out which one is overtaking the other.

The breaking change (puting them in separate parameter sets) in the next version would probably be the logical way to go.
And if not, at least the documentation should be updated to avoid the confusion.

[2019-01-08 20:38] BrucePay commented on #8599
@mklement0

I supposed we could have named them `-ExactMatch`, `-WildCardMatch`, `-RegularExpressionMatch`. That's pretty clear. On the other hand, since _matching_ is the whole point of the switch statement, it seems a bit redundant.

-CaseSensitive is not, in itself, a variant behaviour. It's a modifier for wildcard/regex/exact e.g.
[code]

In general, _allowing_ script authors to strongly expre

[2019-01-08 20:45] cpagelsen opened #8619 "Services Name and DisplayName"
A colon is detected as Invalid Data in both the Name and Display Name of a Service.  However, it is valid.  I have created services with such names on 2008 R2 and 2012 R2 servers.  This prevents the use of all Service cmdlets where Service names contain  a ":".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49bd8c6-ed

[2019-01-08 20:56] pougetat commented on #8389
Hey @SteveL-MSFT

The issue is that simply executing Update-ModuleManifest in PowerShell calls first NewModuleManifest which modifies the current manifest without making verifications and then calls the actual Update-ModuleManifest cmdlet script.

The Update-ModuleManifest cmdlet does the required verifications and indicates that '\\/' is an invalid root module but once we enter this script it is

[2019-01-08 21:17] TranNgocKhoa commented on #8560
I just uninstall PowerShell 6.2.0-preview.3 and reinstall version 6.11 and It works.

[2019-01-08 21:31] SteveL-MSFT commented on #8389
`Update-ModuleManifest` using `New-ModuleManifest` is an implementation detail.  I can't say whether that is the right thing to do since I'm not familiar with the `Update-ModuleManifest` code.  My suggestion is to have this conversation in the PSGet repo since that cmdlet belongs to PSGet.  If the expectation is that `New-ModuleManifest` needs a `-Verify` type switch, we could add that, but if it'

[2019-01-08 21:49] SteveL-MSFT commented on #8606
@BrucePay it could be argued (and I expect the corefx team to argue) that [Console]::Clear() has the correct behavior from their point of view today which is terminal specific.  Personally, I prefer to have the scrollback buffer cleared as my typical use case is that I clear the screen so I can output a bunch of content and expect the buffer to only have the new content whereas retaining the buffe

[2019-01-08 21:58] pougetat commented on #8389
@SteveL-MSFT Yes you're right. I got mixed up in the method calls and it seems that all important code pertaining to this issue is actually self-contained within Update-ModuleManifest within the PowerShellGet repo including a call to New-ModuleManifest. Sorry for wasting people's time :(.

[2019-01-08 22:51] BrucePay commented on #8509
@mklement0

Which, as I've explained before, this was a deliberate change to make dos/cmd users coming to PowerShell more comfortable.  In PowerShell V1, the command to recursively search a directory was
`dir -Path . -Recurse -Filter *.cs` or `dir -Recurse -Filter *.cs`. In `cmd.exe` the equivalent was simply `dir /s *.cs`. So to accommodate, at least to a degree, our primary community, we changed

[2019-01-08 23:08] mklement0 commented on #8389
@SteveL-MSFT:

Deferring the _existence check_ is perfectly fine, but accepting _syntactically invalid_ values is  a problem that should be fixed.

[2019-01-09 00:14] mklement0 commented on #8509
You're talking about _wildcard-based_ paths, whereas  #5699 is about _effectively literal_ paths being unexpectedly treated like wildcard patterns too, which is (a) something that `cmd.exe` does _not_ do and (b) is highly problematic, as detailed there.

Whether the effectively literal path is an absolute one (e.g., `/tmp2`, as in this specific case) or not  (e.g., `tmp2`, as in #5699) doesn't mat

[2019-01-09 00:34] mklement0 commented on #8509
My bad: I thought I had a reproducible case of an infinite loop, but I don't see it anymore (I've updated my previous comment).

The following command indeed finishes without reporting a revisited dir. on my Ubuntu 16.04 VM:

[code]

[2019-01-09 00:57] mklement0 commented on #8606
Amen to that.

So, from that perspective the best user experience would be to consistently clear the scrollback buffer too, on all platforms, as originally suggested in #8554.

Your decision was to rely on `[Console]::Clear()`, which, I would argue, shouldn't exhibit platform-specific behavior either (and perhaps should offer a parameter for opting into screen-only clearing).

So, yes, a CoreFx is

[2019-01-09 01:05] mklement0 commented on #8599
The problem is the word _exact_ (a case-insensitive match is not an exact one); _literal_ would have been better, but I still think there's no need for this option altogether (see below).

Switching from case-insensitive to case-sensitive matching is a variant behavior too, just along a different dimension.

A `switch` statement without options can - and is likely to - be conceived of as a general

[2019-01-09 01:38] vexx32 commented on #8495
Appreciate you taking the time to lay that all out, @BrucePay! 😄

You're right, it is complicated somewhat by the fact that the comma operator sometimes just isn't an operator, which maybe is a bit unfortunate given that method invocation is a separate parsing mode _anyway_ and perhaps other delimiters _might_ have been a slightly more effective choice given the easy confusion of arrays vs method

[2019-01-09 01:40] vexx32 commented on #8432
I've been digging into this, and it _looks_ like the code from the affected providers all traces back to somewhere in SessionStateProvider and the methods buried deeply in there somewhere. I'm having difficulty tracing back exactly where this is going wrong at the moment, but I'll keep looking a bit later.

[2019-01-09 03:10] SteveL-MSFT commented on #1998
Module manifest already supports conditional exporting https://docs.microsoft.com/en-us/powershell/gallery/concepts/module-psedition-support

As for the ExecutionPolicy cmdlets themselves, I don't recall exactly why we left them since we explicitly removed others.  Let's have Committee review.

[2019-01-09 06:06] #8448 closed

[2019-01-09 06:54] sethvs opened #8610 "`Join-String -InputObject 1,2,3` result is not equal to `1,2,3 | Join-String` result."
`Join-String -InputObject 1,2,3` result is not equal to `1,2,3 | Join-String` result.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-01-09 06:57] TranNgocKhoa commented on #8560
@SteveL-MSFT No, I uninstalled 6.11 then installed 6.20 preview3. It doesn't work.

[2019-01-09 08:55] #6993 closed

[2019-01-09 09:06] Stephanevg commented on #8604
Hi,
Thanks for your ffast answer @markekraus
Although I understand this is not a breaking change, as it was changed to respect the common standard, this is still a difference in behaviour between PS5.1 and PS6. Nothing really important, up until you are comparing strings that have been generated using ConvertTo-Json. Only then it will matter.

## Solution
I just would like to share what fixed my i

[2019-01-09 09:15] iSazonov opened #8612 "Bug in FormatMessageFromModule()"
FormatMessageFromModule() from CommonUtils.cs is not used and has a bug (newline == 2 only on Windows) - remove the _public_ method or fix?
https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Diagnostics/CommonUtils.cs#L124-L128

/cc @daxian-dbw

[2019-01-09 09:33] nyanhp commented on #8584
Yes, there should be some documentation regarding this :) I was unable to find any helpful info in the code and as @vexx32 mentioned, the help topic did not really offer definitive insight into this behavior.

[2019-01-09 10:37] mklement0 commented on #7999
Re invocation with `.` / `&`: methinks the command-name argument should never be interpreted as a wildcard expression (though fixing that would technically be a breaking change)  - see #4726

To add to the cases of unexpected behaviors with `-Path`: an argument that also contains _unescaped_ wildcard characters introduces the unexpected need for an additional layer of escaping:

[code]

[2019-01-09 12:30] mklement0 commented on #8606
I've opened a CoreFx issue: https://github.com/dotnet/corefx/issues/34463

[2019-01-09 13:02] markekraus commented on #8604
As I mentioned, the goal of `ConvertTo-Json` is not to create strings. It creates a JSON object. It is not recommended to try and perform string operations on JSON.

[2019-01-09 13:03] mklement0 commented on #8610
Cool, thanks for fixing this; for the general issue with scalar `-InputObject` parameters, see #4242.

[2019-01-09 13:15] vexx32 commented on #4242
@mklement0 in terms of the implementation differences with cmdlets or advanced functions that attempt to account for both input methods, I believe there is an [`ExpectingInput`](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.invocationinfo.expectinginput?view=powershellsdk-1.1.0) value that can be used to determine if the cmdlet is being used in a pipeline capacity, which

[2019-01-09 13:36] Stephanevg commented on #8604
Yes I get that. But I am constructing a Javascript query, which **must** contain the json data.
I had pester tests comparing the results to a predefined string, just to be sure, that the code is complete (As I cannot test Javascript in Pester - Or at least, I couldn't find how).
these tests were passing on Windows(5.1), but **not** on Linux (Ps6).

Yep, I get that too, but I had no other choice, a

[2019-01-09 13:49] #4473 closed

[2019-01-09 14:03] mklement0 commented on #4242
Good tip, @vexx32.

Were you thinking along the following lines?

[code]

`foo 1, (2, 3)` and `1, (2, 3) | foo` then both result in:

[code]

However, `foreach` isn't truly equivalent to pipeline enumeration, notably with `$null` as input: `$null | foo` vs. `foo $null`.
What is needed to robustly emulate pipeline enumeration without involving a (costly) additional pipeline? Or is special-casing `$

[2019-01-09 14:09] vexx32 commented on #4242
🤔

I think you can snip that last disparity fairly easily:

[code]

[2019-01-09 14:15] mklement0 commented on #4242
Cool, thanks.

Can we conclude that the best way to implement an item-by-item processing cmdlet that also supports collections as arguments via `-InputObject` is to use the above approach, based on a _scalar_ `-InputObject` declaration (`[object] $Param`)?

(Using `[object[]] $Param1` would work too, but needlessly creates an array for each pipeline input object.)

[2019-01-09 14:15] vexx32 commented on #4242
So with that in mind, any cmdlet or function that should mirror the pipeline logic with its direct input parameters should look like this in PS from your example:

[code]

Similarly in C# cmdlets we can cast to `(Array)` on direct input before enumerating for a similar effect, I think.

[2019-01-09 14:54] sethvs commented on #8610
@mklement0 Thanks. I'll leave the decision to maintainers.

[2019-01-09 18:21] BrucePay commented on #8584
@nyanhp Could you close this issue and open a new issue in the docs repo? Thanks!

[2019-01-09 20:58] SteveL-MSFT commented on #8606
@mklement0 I had to rollback the change from [Console]::Clear() back to $RawUI since [Console]::Clear() doesn't work remotely when there isn't a physical console (see https://github.com/PowerShell/PowerShell/pull/8609).

[2019-01-09 21:02] SteveL-MSFT commented on #8560
@TranNgocKhoa 6.1.x and 6.2.x-preview can be installed side-by-side, so you don't need to uninstall 6.1.1 to try 6.2-preview.  Without understanding why this is affecting you, there's no action we can take to fix this since it's not reproing for anyone else right now.

[2019-01-09 21:18] SteveL-MSFT commented on #8619
@joeyaiello tested this and it works with quotes as long as the name is in quotes otherwise a colon would be interpreted as a PS Drive

[2019-01-09 22:34] SteveL-MSFT commented on #8389
@mklement0 that is valid, doing a check if a FileInfo can be created with that name would be ok, however, "\/" is valid on Unix as it resolves to "/".  Of course it won't actually work, but the name itself is valid.

[2019-01-09 22:51] mklement0 commented on #8389
@SteveL-MSFT: You're right, I didn't realize that `\/` resolves to `/`, but the check that should be applied is whether the value is _formally_ a valid _file_ name or path.

So, yes, `/` wouldn't work and neither would anything _ending_ in `/`, or, on Windows, anything with embedded `\ / : * ? " < > |` or embedded newlines, with multiple `:`, ... - and these cases should be caught.

[2019-01-09 23:34] TimCurwick commented on #3239
If we are looking for a concise but unintuitive alternative to If/Then/Else, we already have one.
[code]
And it works in expressions.
[code]

[2019-01-10 00:44] SteveL-MSFT commented on #8389
@mklement0 actually, I take it back "\/" doesn't resolve to "/", but rather `FileInfo` allows this name:

[code]

In fact, it seems `[FileInfo]` doesn't do any validation which I thought it would so we can't rely on that.  If there is some API in .Net to validate the filename is valid, I can see this being implemented.

[2019-01-10 00:53] mklement0 commented on #3239
@TimCurwick: That's concise (and more obscure), but not equivalent: the proposed ternary conditional would be _short-circuiting_ (just like an `if` statement), whereas your syntax invariably evaluates both alternatives.

That said, your syntax is certainly the next best thing available currently, assuming you're aware of the stated limitation.

[2019-01-10 01:02] vexx32 commented on #8389
@SteveL-MSFT at least from a cursory glance, would the APIs leveraged in `Test-Path -IsValid` be a good start? Really the only thing missing _there_ is that a "filename" that ends in a trailing slash isn't really valid because it would be a folder path instead.

[2019-01-10 03:54] iSazonov commented on #8606
From https://github.com/PowerShell/PowerShell/pull/8609#issuecomment-452855146

[2019-01-10 04:11] #7761 closed

[2019-01-10 12:42] pougetat commented on #8389
After some more investigations I have the following conclusion :
Update-ModuleManifest is still updating RootModule because of a call to Test-ModuleManifest wich is writing an error due to the new RootModule being invalid but is not throwing a terminating error. Therefore Update-ModuleManifest can't actually catch the error and not write the new module manifest to disk.
A solution (which I have al

[2019-01-10 13:59] maw136 commented on #8612
Not really a bug since there is P/Invoke code (FormatMessage) earlier which can't work outside of Windows.

[2019-01-10 16:01] SeeminglyScience commented on #8606
Is there any reason why these changes wouldn't go into `ConsoleHost` instead of `Clear-Host`?  The host can decide what to do with the current `SetBufferContents` even if it doesn't *really* support the API.  For example, PSES will invoke `Console.Clear` if the args look like it came from `Clear-Host` but will no-op if it's passed anything else.

I realize that #8609 already changes back to using

[2019-01-10 17:39] adityapatwardhan commented on #8260
This release is complete. Closing the issue.

[2019-01-10 17:39] #8260 closed

[2019-01-10 17:42] adityapatwardhan commented on #8027
This seems to be Windows PowerShell.

For Windows PowerShell 5.1 issues, suggestions, or feature requests please use the following link instead:
Windows PowerShell [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

[2019-01-10 19:36] vexx32 commented on #6745
Ref: https://github.com/PowerShell/PowerShell/pull/8407#issuecomment-453221566

`Get-Variable -ValueOnly -Name myVar | Should -Be $var` assertion fails when `$var` is an array.

This is because `Get-Variable -ValueOnly` does not use the enumerating overload for `WriteObject()`.

[2019-01-10 19:51] cpagelsen commented on #8619
I have simplified the PowerShell script to reproduce the problem. Using quotes didn’t work either

#simple powershell test

[CmdletBinding()]

Param

    ([Parameter(Mandatory=$true)][string]$computerName

    )

$s = """PMBService:1"""

#$s = "PMBService:1"

$Cred = Get-Credential

Invoke-Command -ComputerName $computerName -Credential $Cred -ScriptBlock {Start-Service -Name $s -PassThru}

From:

[2019-01-10 19:53] cpagelsen commented on #8619
Could this be a problem because I’m on PowerShell 5?

From: Steve Lee <notifications@github.com>
Sent: Wednesday, January 9, 2019 4:38 PM
To: PowerShell/PowerShell <PowerShell@noreply.github.com>
Cc: Charles Pagelsen <cpagelsen@stahurabrenner.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/PowerShell] Services Name and DisplayName (#8619)

@joeyaiello <https://github.com/joeyaiel

[2019-01-10 22:14] adityapatwardhan commented on #8541
@SteveL-MSFT  I believe this can be closed now.

[2019-01-10 22:33] BrucePay commented on #8619
Hi @cpagelsen

The code in your repro has a problem.  As written, `$s` will be a new variable in the remote session that defaults to `$null`. You need to add the `$using:` scope qualifier to cause the local variable to be sent to the remote side:

[code]

Can you try this out and let us know what happens? Thanks.

[2019-01-11 01:25] steviecoaster opened #8620 "Add ConvertTo-Base64String and ConvertFrom-Base64 String cmdlets"
# Summary of the new feature/enhancement

With the help of @vexx32 I've put together a C# module that includes both ConvertTo-Base64String and ConvertFrom-Base64String which supports using the standard encodings available from System.Text.Encoding. I would like to see this included as part of PS Core, but am unsure of the process. I've heard rumblings the ideally the process moving forward would b

[2019-01-11 02:08] #8541 closed

[2019-01-11 02:10] #8027 closed

[2019-01-11 02:29] longtth opened #8621 "`touch` not work"
According to [this guide](https://github.com/PowerShell/PowerShell/tree/master/docs/learning-powershell), by default, Powershell support an alias `touch` to create a new empty file (`touch test.txt` == `New-Item -Path test.txt`)
But it doesn't work so I created this issue.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-01-11 02:38] vexx32 commented on #8621
`touch` is a Linux command from what I can find, not a PowerShell command or a Windows command.

Is there a reason you'd expect such a command to work?

[2019-01-11 02:39] rkeithhill commented on #8621
For creating an empty file you can use `New-Item readme.md`.

[2019-01-11 02:40] longtth commented on #8621
according to this [guide](https://github.com/PowerShell/PowerShell/tree/master/docs/learning-powershell) they have created an alias "touch" default for PowerShell

[2019-01-11 02:40] longtth commented on #8621
I know this, sorry for not mention that they leave `touch` in learning so I created this issue.

[2019-01-11 02:42] rkeithhill commented on #8621
Well, yeah but they mention in the context of `Bash's touch test.txt` can be done from PS with `New-Item -Path test.txt`.

[2019-01-11 02:43] vexx32 commented on #8621
The guide appears to simply be there for reference, indeed; it just indicates how to accomplish common tasks in Bash with PS commands instead.

[2019-01-11 02:45] longtth commented on #8621
`ls , clear, mkdir...` works :( but not `touch` , so sad :(
if this shouldnot work, I think this issue could be closed.

[2019-01-11 02:46] rkeithhill commented on #8621
You can close it. In general, the PS team got in a bit of trouble with *nix aliases they created that masked the actual corresponding utility on Linux. Remember, aliases take precedence or executables.  And anyway, in the case aliasing `touch` to `New-Item` would let folks down who expect an existing file's timestamp to be updated.

[2019-01-11 02:47] #8621 closed

[2019-01-11 02:49] rkeithhill commented on #8621
BTW this doesn't mean that you can't create this alias if you'd like that. Just put this in your profile script:
[code]

[2019-01-11 03:59] SteveL-MSFT commented on #8389
@pougetat that would be considered a breaking change, alternatively, when `Update-ModuleManifest` calls `Test-ModuleManifest`, it can use `-ErrorAction Stop` to make it terminating

[2019-01-11 06:19] iSazonov commented on #8606
@SeeminglyScience I think this would be in ConsoleHost. Fill free to push PR if you want.

[2019-01-11 06:38] iSazonov commented on #5982
I close this as dup #8620

[2019-01-11 06:38] #5982 closed

[2019-01-11 06:44] iSazonov commented on #8612
Currently we added CI Codacy so we'll see such issues and fix them.

[2019-01-11 06:44] #8612 closed

[2019-01-11 06:49] iSazonov commented on #8607
For future breaking change reference #6745

[2019-01-11 06:49] iSazonov commented on #8607
@fullenw1 Please open issue in PowerShell-Docs repo.

[2019-01-11 07:40] #8590 closed

[2019-01-11 12:46] SeeminglyScience commented on #8606
@iSazonov All of the the changes so far have made within the function `Clear-Host` itself instead of `ConsoleHost`.  There may be a very good reason for this that I'm not aware of, I'd just like to ensure that a custom host can still implement `Clear-Host` support on non-Windows platforms.

[2019-01-11 13:50] iSazonov commented on #8606
My understanding from PR discussion is that intention is (1) convert Clear-Host to binary cmdlet, (2) enhance rawui apis.

[2019-01-11 13:52] pougetat commented on #8389
@SteveL-MSFT , @mklement0

I have opened a PR in the PowerShellGet repo to address this issue. :)

[2019-01-11 13:54] pougetat commented on #8388
Hey @mklement0 ,
Do you mind if I work on this bug ?
:)

[2019-01-11 14:12] sonphnt commented on #4669
@SteveL-MSFT  What I am doing is to develop a .net core 2.1 console app and run as Windows Service. I will deploy it to a fresh Windows Server 2016 (WindowsPowershell v5) without installing anything. And hope It will work but I am not sure this is possible?

[2019-01-11 14:56] mklement0 commented on #8388
@pougetat: I'm personally happy for you to take this on, but since the issue hasn't been marked as up-for-grabs (yet), let's ask the powers that be; @SteveL-MSFT?

[2019-01-11 15:53] sonphnt opened #8625 ".Net core 2.1 Powershell SDK 6.1.1 can not get correct PSModulePath"
Hi,

I have installed PowerShell Core 6.1.1 from MSI file on my machine and its module locates by default at
C:\Program Files\PowerShell\6\Modules.

I open CMD with Powershell 6 and type "$env:PSModulePath". It returns
"C:\Program Files\PowerShell\6\Modules" => Matched with my location this is correct.
"C:\Program Files\PowerShell\Modules"
"C:\windows\system32\WindowsPowerShell\v1.0\Modules"

I wr

[2019-01-11 16:00] pougetat commented on #8388
Sounds good. I'll pick this up as a habit going forward.

[2019-01-11 16:52] steviecoaster commented on #8620
Absolutely. The parameters are relatively straightforward. An InputObject (string), and the Encoding type you want to use.

What's the best method to attach the code to this issue aside from  linking to it from my repository? I suppose a PR marked Experimental would be prudent, with continuing discussion being followed up here?

[2019-01-11 16:55] vexx32 commented on #8620
I'm tempted to recommend the `InputObject` be typed as `PSObject` instead of `string`, so that it can handle both `$stringarray | ConvertTo-Base64String` as well as `ConvertTo-Base64String -InputObject $stringarray`

This does require some additional handling and detection of whether you're in a pipeline context, however; see tail end of discussion in #4242 for some possible recommendations. 😄

[2019-01-11 17:13] SteveL-MSFT commented on #8620
@vexx32 not exactly sure what you're asking.  The Experimental Feature doc I linked above shows how to create an Experimental Feature.

@steviecoaster you can submit a PR with title prefix "WIP:" to indicate it is a work-in-progress and get feedback that way.  Make sure to include tests as that's an easy way to see intended usage.

[2019-01-11 17:16] SteveL-MSFT commented on #4669
@sonphnt if you are using .net core 2.1, you must use [Microsoft.PowerShell.SDK](https://www.nuget.org/packages/Microsoft.PowerShell.SDK)

[2019-01-11 17:16] vexx32 commented on #8620
@SteveL-MSFT Ah, you're right, I must have overlooked the link. Thanks! I need to read that one myself. 😄

[2019-01-11 18:06] kvprasoon commented on #5690
I have raised a PR for this: #8626

[2019-01-11 18:39] BrucePay commented on #8610
Note that this is a breaking change.

[2019-01-11 19:31] mklement0 commented on #8610
@BrucePay: It's highly likely that this is a  [Bucket 3: Unlikely Grey Area](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md#bucket-3-unlikely-grey-area) change:

[code]

is currently effectively the same as:

[code]

That is, the only operation being performed is the stringification of the input array (implicit joining with `$OFS`) _during paramet

[2019-01-11 20:02] kclinden commented on #6199
So is the problem when the REST Method returns JSON?

Mac Invoke Rest Method with PowerShell Core 6.1.1
[code]
Server 2016 Invoke Rest Method with PowerShell 5.1.14393.2189
[code]

[2019-01-11 22:17] cpagelsen commented on #8619
Thank you.  It does  work and solves my problem.  I am a bit of a novice with PowerShell so your help is much appreciated.  Sorry for being a bother.

Charles

From: Bruce Payette <notifications@github.com>
Sent: Thursday, January 10, 2019 5:34 PM
To: PowerShell/PowerShell <PowerShell@noreply.github.com>
Cc: Charles Pagelsen <cpagelsen@stahurabrenner.com>; Mention <mention@noreply.github.com>
Subj

[2019-01-12 04:11] SteveL-MSFT commented on #7710
cc @daxian-dbw @BrucePay

[2019-01-12 05:18] vexx32 commented on #7710
Thanks, Steve! I checked in with @TylerLeonhardt who passed it along to @rjmholt, and after some brief suggestions I traced the cached conversion methods that get called from string->integral types to here:

https://github.com/PowerShell/PowerShell/blob/e399b06cd23a8d9a7df9be5ed329471ba5b8eb82/src/System.Management.Automation/engine/LanguagePrimitives.cs#L2888-L2907

My initial thought so far is t

[2019-01-12 06:47] iSazonov opened #8630 "Xunit analyzers"
Sample from CoreFX https://github.com/dotnet/corefx/pull/34410

We could get benefits from this too.

/cc @TravisEz13 @daxian-dbw @adityapatwardhan

[2019-01-12 09:38] iSazonov commented on #6177
.Net Core 3.0 gets System.Text.Json https://github.com/dotnet/corefx/issues/33115
Plan there is to get new fast implementation. We could consider using it in the repo and create feednacks to enhance System.Text.Json while it is under active development.

[2019-01-12 14:42] SeeminglyScience opened #8631 "StaticParameterBinder throws with duplicate binding exception keys"
# Steps to reproduce

[code]

# Expected behavior

The method returns binding results for the first two positional parameters, and `BindingExceptions` contains information for the last two.

# Actual behavior

[code]

# Environment data

[code]

# Additional Details

[code]

This also reproduces in Windows PowerShell 5.1

[2019-01-12 14:53] PetSerAl commented on #4242
@mklement0

Casting something to array does not necessary wrap it into single element array. And pipeline does not restricted to scalars only. How are you planning to distinguish `1..3 | foo` from `1..3 | % { ,,$_ } | foo` or from `1..3 | % { ,[System.Collections.Generic.List[object]]::new((,$_)) } | foo`? In all three cases `foo` will see `$Param1` as array with single integer, if `foo` declare i

[2019-01-12 16:09] PetSerAl opened #8632 "Join-String does not produce the same result as -join"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-01-12 16:34] PetSerAl commented on #8632
@vexx32

Any evidence to support this claim?

[code]

[2019-01-12 16:44] vexx32 commented on #4242
It isn't required to declare the array as `[object[]]`; `[object]` is capable of wrapping an array object. 😄

[2019-01-12 16:44] vexx32 commented on #8632
@PatSerAl Ah, I see! Okay, I misunderstood the original point.

Looks like it's enumerating each pipeline item, likely in an attempt to make pipeline input behave the same as `Join-String -InputObject ([C]::new(), [C]::new(), [C]::new())`

@mklement0 and I have discussed this a bit and have a code pattern that could help rectify it outlined in #4242 as you've seen.

[2019-01-12 16:49] PetSerAl commented on #8632
@vexx32 If it enumerating each pipeline item, the it should produce `Not, Correct, Not, Correct, Not, Correct` instead of `Not Correct, Not Correct, Not Correct`.

[2019-01-12 17:02] vexx32 commented on #8632
Not quite. It calls the enumerator of your object to enumerate it, and receives back a two element array for each item. It doesn't then enumerate each of those arrays, that would be an extra level of enumeration. 🙂

[2019-01-12 17:31] PetSerAl commented on #8632
That is the problem. `Join-String` should not do `[C] -> [Array] -> [String]` instead of `[C] -> [String]`.

[2019-01-12 18:56] iSazonov commented on #8632
Are other cmdlets affected by this?

[2019-01-12 19:40] vexx32 commented on #8632
I don't think a lot of cmdlets will be. Most cmdlets implement `-InputObject` strictly for pipeline use, so they can make some generally safe assumptions.

There may be some, but I don't know of any affected in the same way as this one is... Yet :smile:

[2019-01-13 12:51] mklement0 commented on #4242
Good point, @PetSerAl - I was too narrowly focused on flat input collections.

Do you agree that the `[object]`-based approach summarized by @vexx32 above is the best approach, given the current capabilities?

Longer-term, I wonder if we could introduce something like `[Parameter(ValueFromPipeline, EnumerateArgument)]` to move equal treatment of pipeline input and collection arguments into the plu

[2019-01-13 13:52] mklement0 commented on #4242
@PetSerAl: For `Get-Member` specifically it makes perfect sense for the behavior to differ, for the vast majority of cmdlets it does not, and - as argued in the initial post of this issue - if the current behavior is retained, the virtually useless-as-a-direct-argument-recipient `-InputObject` parameter for those cmdlets (category C) should be documented as an _implementation detail_ (along the li

[2019-01-13 15:14] fullenw1 commented on #8607
I have created [pull request #3537](https://github.com/PowerShell/PowerShell-Docs/pull/3537) in the PowerShell-Docs repository.

[2019-01-13 17:36] iSazonov commented on #8607
Close until we want the breaking change

[2019-01-13 17:36] #8607 closed

[2019-01-13 19:08] 1480c1 opened #8635 "Running powershell -command 'Get-FileHash' fails"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]
# Actual behavior on a different computer

[code]

# Environment data

[code]

[2019-01-13 19:14] 1480c1 commented on #8635
Additional notes:

- Running the command from command prompt gives the expected results.
- Running $PSVersionTable from both the default powershell and through `powershell -noprofile -command '$PSVersionTable'` in powershell core outputs:
[code]
- The hash from the first computer's powershell is different than the second computer's.

[2019-01-13 21:45] powercode commented on #7928
@BrucePay Is there anything that prevents us form using the C#8 syntax?

So that the range operator, within the context of a collection indexing operation, gets hat-support :)

[2019-01-13 21:47] vexx32 commented on #7928
I see no reason why the hat/caret character couldn't be used to denote an index token... And the range operator could then have overloads that take index types, and give out the c# style of indexing object.

[2019-01-14 03:09] kvprasoon commented on #8635
This fails when the call is from PS Core. From below results, I think the modules are not reloaded for `PowerShell.exe` when invoked from PS Core.

![image](https://user-images.githubusercontent.com/12897753/51094977-3ff5ed80-17d7-11e9-86b4-7a9fc48af312.png)

![image](https://user-images.githubusercontent.com/12897753/51094992-5f8d1600-17d7-11e9-9b21-9e2aeddc9445.png)

[2019-01-14 03:19] mcandre opened #8636 "Drop BOM"
PowerShell silently inserts a Unicode BOM at the beginning of output streams such as with `echo`, causing downstream processes to fail. For example, if you try to use `echo` to author a pip.ini file, pip will be unable to load the file due to the BOM.

[2019-01-14 05:12] vexx32 commented on #8636
I thought PowerShell Core uses largely the BOM-less UTF8 variant for a majority of its standard encodings. :thinking:

Can you please verify this is happening with PowerShell Core, and not Windows PowerShell?

[2019-01-14 09:19] sethvs commented on #8610
@BrucePay The `Join-String` cmdlet has been released in preview.3 only and not in official releases.

[2019-01-14 12:41] mklement0 commented on #8610
Good point, @sethvs.

---

As for _how_ to implement the proposed change:
@PetSerAl has since shown that switching to `PSObject[]` in an effort to treat `-InputObject` _arguments_ the same as `PSObject`-based `-InputObject` _pipeline_ input doesn't work in all cases: https://github.com/PowerShell/PowerShell/issues/4242#issuecomment-453753539

---

As for *whether* to implement the change at all:

[2019-01-14 12:48] mklement0 commented on #7928
Good points, but can I suggest we limit _this_ issue to the _stepping_ proposal and continue the _range_ discussion in #7940, which already has more detail, notably in https://github.com/PowerShell/PowerShell/issues/7940#issuecomment-427503911?

[2019-01-14 13:07] powercode commented on #3323
See https://github.com/dotnet/corefx/issues/20252

[2019-01-14 13:20] vexx32 commented on #8610
🤔

I think that from a semantic perspective, having `-InputObject` be primarily an implementation detail of standard pipeline support isn't necessarily _wrong_ per se? I think it would be better if there were some way via attribute or some such to denote a parameter as `Pipeline-Only` such that it wouldn't appear in tab completions or be usable for input directly; in this way we could avoid some o

[2019-01-14 13:48] vexx32 commented on #4242
As I mention [here](https://github.com/PowerShell/PowerShell/issues/8610#issuecomment-454002177), it might make sense to simply have `-InputObject` parameters be designated purely for pipeline use. In such a case, perhaps it would make the most sense to separate pipeline from regular use via parameter sets in most cases?

[2019-01-14 15:06] 1480c1 commented on #8635
There is no difference between the two computers that I am aware of as the $PSVersionTable matched under a cursory exam and I used the same Windows (x64) stable installer for both. The only difference that I can hypothesize is that the first computer had been updated to the october update during the first window and the second is still on the previous update.

[2019-01-14 15:32] mklement0 commented on #8625
That is indeed an interesting omission (which I personally cannot explain): `$PSHOME\Modules` isn't there when using the Core SDK.

#6850 may be distantly related; the code that sets `$env:PSModulePath` in PS Core is in [ModuleIntrinsics.cs](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Modules/ModuleIntrinsics.cs)

[2019-01-14 16:59] trondhindenes opened #8638 "Pasting into powershell is incredibly slow"
# Steps to reproduce

- SSH into a linux machine (I'm running ubuntu 16)
- Install powershell
- Start powershell (pwsh)
- Unload PsReadline (remove-module psreadline)

Copy 10-50 lines of powershell from the host into the session. Witness that each line takes several seconds to paste, and a full script locks the console for several minutes while the paste is "typing"

# Expected behavior
It should

[2019-01-14 18:04] #8477 closed

[2019-01-14 19:38] PBOrb opened #8641 "New-Service, Set-Service - no ability to set gMSA as Service Account"
These commands do not allow a gMSA to be set as a service account on a service from what I can see (it's not documented if it is possible).
This reduces their usefulness and pollutes Powershell scripts because older methods still need to be used in the script eg Get-WMIObject.

[2019-01-14 21:20] mklement0 opened #8643 "Inconsistent behavior of SDK method PowerShell.Runspace.SessionStateProxy.SetVariable() between local vs. remote (out-of-process) runspaces"
As discovered by @PetSerAl and mentioned in a comment on https://stackoverflow.com/a/54186364/45375:

In a _local_ runspace, `PowerShell.Runspace.SessionStateProxy.SetVariable()` is capable of setting _environment_ variables too, using namespace notation (e.g, `env:Path`; more generally, namespace notation can be used with any provider that supports it).
  * It is unclear if that was a conscious d

[2019-01-14 21:57] BatmanAMA commented on #1193
It sounds like this is resolved, however on a new install of powershell 6.1.1 (on WS 2016) ``enable-psremoting`` fails to register a powershell.6 (or powershell.6.1.1) endpoint. I need to still use the ``install-powershellremoting.ps1`` script.
Is this intended? It may be worth clarifying in the [docs](https://github.com/PowerShell/PowerShell-Docs/blob/staging/reference/docs-conceptual/learn/remot

[2019-01-14 22:11] OlsonDev commented on #3744
The example in the docs looks nothing like the example the OP of this issue wanted. The OP asks for a script block, and the solution provided is a full on syntax-verbose class.

I can't get an example like the script block to work. Was that implemented or only the syntax-verbose class version?

If not, are there any plans to support the significantly more terse syntax? Should another issue be open

[2019-01-14 22:40] BrucePay commented on #7928
@p0W3RH311 C# doesn't appear to do stepping (at least not yet). Also remember that ranges are not just used for slices e.g.
[code]
etc. so restricting the hat operator to slices would be a little weird. And `^` as a prefix operator is somewhat problematic since you can have a function named `^` (I did for years). Finally PowerShell already does most of what C# will do but with some strange idiosyn

[2019-01-14 23:40] vexx32 commented on #7928
@BrucePay regarding use of hat operator and slicing from arrays, my inclination would be to do as c# does and simply adopt it's Index and Range data types.

A `^5` would be an index value owing to the hat operator. A `4..^2` is a true Range type for the same reason, the 4 being implicitly converted to an index type.

If we want to allow more versatile uses of Index type items, we could use `5^` fo

[2019-01-15 03:05] iSazonov commented on #8635
We discussed to have another env path for PowerShell Core .

[2019-01-15 03:35] mklement0 commented on #8635
@iSazonov:

PowerShell Core already _does_ set its own `$env:PSModulePath` value, which is appropriate in principle (but needs tweaking - see #6850).

The issue at hand is that when _Windows_ PowerShell's CLI (`powershell.exe`) is called while PowerShell _Core_'s  `$env:PSModulePath` value is in effect - which it is by default, by virtue of any child process automatically _inheriting_ the calling

[2019-01-15 03:52] iSazonov commented on #3744
@OlsonDev The issue description is misleading. We only implemented a variant based on `IValidateSetValuesGenerator` interface until we receive more feedback. Feel free open new issue with the description of the necessary feature.

[2019-01-15 04:00] iSazonov commented on #8635
I believe the issue should be addressed in RFC requested in #6850.
I think the problem in important and it would be nice if MSGT team forced the RFC.

[2019-01-15 04:10] mklement0 commented on #8635
@iSazonov:

* #6850 discusses how PowerShell Core itself should determine its `$env:PSModulePath` value.

* However, resolving #6850 will _not_ resolve _this_ issue, which requires hiding Core-specific `$env:PSModulePath` values from child processes that invoke the _Windows PowerShell_ CLI, `powershell.exe`.

[2019-01-15 04:15] iSazonov commented on #8635
@mklement0 There is a suggestion to introduce new `$ENV:PSModulePathCore`. Seems it'll resolve the issue too.

[2019-01-15 04:20] mklement0 commented on #8635
@iSazonov: Good point: If, ultimately, an edition-specific environment-variable such as `$env:PSModulePathCore` is chosen for PS Core, the problem discussed here would go away too.

[2019-01-15 04:33] vexx32 commented on #3744
Indeed. It should be possible to borrow portions of the code from `[ArgumentCompleter()]` for this purpose; it also takes a script block and apparently applies it to the method defined in `IArgumentCompleter`

[2019-01-15 04:42] iSazonov commented on #3744
@vexx32 There is samples in attributes.cs file how to use execution context. I assume that the tests will be most of this work and not the code itself. :-)

[2019-01-15 10:58] sonphnt commented on #8625
@mklement0  There are some weird responses on some PS commands if you run PS in CMD and run PS in .net core app.

Another example with this code
[code]

It returns nothing in C# but if I run "Get-PSRepository" in CMD, I get 1 record with PSGallery row. That make my scripts work fine in CMD but failed when running with c#.

[2019-01-15 11:49] sonphnt commented on #4669
@SteveL-MSFT Thanks. With .Net core 2.1, I install this nuget https://www.nuget.org/packages/Microsoft.PowerShell.SDK

Then Do I need to install this ?
https://github.com/PowerShell/PowerShell/releases/download/v6.1.1/PowerShell-6.1.1-win-x64.msi

[2019-01-15 15:36] OlsonDev opened #8651 "ValidateSet should support a dynamically generated set from a script block"
# Summary of the new feature/enhancement
As a PowerShell user, I want `[ValidateSet]` to support a dynamically generated sets _from script blocks_ so that I can make terse, reusable sets of data, and my coworkers are provided useful IntelliSense from my work. In issue #3744, it was proposed to support a dynamically generated set for `[ValidateSet]`. An example was given with a script block, which

[2019-01-15 15:38] OlsonDev commented on #3744
@iSazonov @vexx32 Thanks, I created [the aforementioned issue here](https://github.com/PowerShell/PowerShell/issues/8651).

[2019-01-15 15:45] vexx32 commented on #8651
It's important to remember that while the `[ArgumentCompleter()]` script block param can refer to other already-entered parameters via a `$fakeBoundParameters` param in the script block's `param()` block, the `IValidateSetValuesGenerator` interface does not provide the same capability as `IArgumentCompleter`'s interface method does.

It may be possible to copy parts of the code from the `[Argument

[2019-01-15 16:21] chuanjiao10 commented on #8636
Delete your outdated ideas from your brain please.
Ini is a text file, any text file must with bom, otherwise it is not conducive to storing unicode characters.

Writing files with both **echo** and **“>，<，>>，|"**, etc.
 It is a stupid practice from unix*. Because writing to a file is not necessary to transfer from the screen output.

The correct way is to use:
Add-Content
Clear-Content
Get-Conten

[2019-01-15 16:35] IISResetMe commented on #8636
@mcandre can you provide a short sample that reproduces the behavior you describe?

[2019-01-15 17:03] Jaykul commented on #8636
@vexx32 the help for Set-Content says the default encoding is ascii?

@chuanjiao10 text files don't need a BOM. Byte order is meaningless in UTF-8, and [isn't even recommended(http://www.unicode.org/faq/utf_bom.html#bom5). In fact, if the OP was correct that _streams_ were getting a BOM, this would probably be an egregious error (i.e if `echo` (aka `Write-Output`) was adding a BOM, that would be b

[2019-01-15 18:16] mklement0 opened #8652 "PowerShell SDK: Opening an out-of-process runspace fails"
Note: This is a regression from Windows PowerShell.

The error occurs when `.Open()` is called.

Note that equivalent code written in and run from PowerShell does _not_ exhibit this problem (#8643  shows an example).

# Steps to reproduce

Create a .NET Core console application with the following code and run it with `dotnet run`:

[code]

# Expected behavior

The application should run and exit q

[2019-01-15 18:19] MaximoTrinidad commented on #8652
Just wondering!!

Which version of the PowerShell SDK we are talking about??

:)

[2019-01-15 18:49] mklement0 commented on #8652
Good point, @MaximoTrinidad; I've modified the "Environment data" section to state the NuGet package version.

[2019-01-15 19:12] lachlann562 commented on #8005
i agree, this is very important to have a method to get the output so far, likewise there is no way to abort and still capture the output. if i issue EndInvoke it will wait for the job. but if i call stop to terminate it, i have no way to get the output up until that point. there should also be a way to get the breaking exception.

[2019-01-15 20:04] TravisEz13 opened #8654 "Discussion: Microsoft Security Advisory CVE-2019-0545: .NET Core Information Disclosure Vulnerability"
# Microsoft Security Advisory CVE-2019-0545: .NET Core Information Disclosure Vulnerability

## Executive Summary

Microsoft is aware of an information disclosure vulnerability exists in .NET Framework and .NET Core which allows bypassing Cross-origin Resource Sharing (CORS) configurations. An attacker who successfully exploited the vulnerability could retrieve content, that is normally restricted

[2019-01-15 20:07] TravisEz13 opened #8655 "Discussion: Microsoft Security Advisory CVE-2018-8416: .NET Core Tampering Vulnerability"
# Microsoft Security Advisory CVE-2018-8416: .NET Core Tampering Vulnerability

## Executive Summary

Microsoft is aware of a tampering vulnerability exists when .NET Core improperly handles specially crafted files. An attacker who successfully exploited this vulnerability could write arbitrary files and directories to certain locations on a vulnerable system. However, an attacker would have limit

[2019-01-15 20:10] TravisEz13 opened #8657 "Discussion: Microsoft Security Advisory CVE-2019-0564: ASP.NET Core Denial of Service Vulnerability"
# Microsoft Security Advisory CVE-2019-0564: ASP.NET Core Denial of Service Vulnerability

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a denial of service vu

[2019-01-15 20:51] BrucePay commented on #7928
@vexx32 If PowerShell didn't have ranges, then I might agree. If we were starting from scratch I might agree. But PowerShell already has ranges with defined semantics which are not the same as the upcoming semantics for C#. Replacing the _existing_ range behaviour would certainly be a BIG breaking change. Trying to retrofit/merge the new C# semantics into PowerShell would make ranges much more com

[2019-01-15 21:05] BrucePay commented on #8651
@OlsonDev

Are you talking about intellisense in an editor? Running arbitrary code when you are simply _editing_ is problematic from a security standpoint. Consider all the problems that Word macros caused. Or an `evil.ps1` script file:
[code]

[2019-01-15 21:46] lzybkr commented on #8651
@BrucePay -

That ship sailed a long time ago - parameter name completion has invoked the `dynamicparam` block since it was introduced.

[2019-01-15 23:22] jbirley commented on #7827
Are others still having this problem?  I am running Windows PowerShell 5.1 on Windows 2008 R2 (Win 7) along side of PowerShell Core 6.1.0 on the same system.  PowerShellGet cmdlets work in 5.1, but not in 6.1.0.  Same PSGallery SourceLocation (https://www.powershellgallery.com/api/v2), same versions of PowerShellGet (2.0.4).

[2019-01-16 00:32] BrucePay commented on #7940
FYI: The spec for ranges in C# 8 is [here.](https://github.com/dotnet/csharplang/blob/master/proposals/ranges.md)

[2019-01-16 00:37] BrucePay commented on #8651
@lzybkr We don't instantiate functions until runtime. Without running the script, how is the dynamic parameter block getting turned into executable code?

[2019-01-16 01:09] lzybkr commented on #8651
It falls out naturally when asking for the parameter metadata - `PSScriptCmdlet` implements `IDynamicParameters`.

If you ask for the parameter metadata, e.g. to invoke the command or for parameter name completion, you must also query the cmdlet for it's dynamic parameters via `IDynamicParameters`.

The actual compilation is always on demand, so in this case, it's the implementation of `PSScriptCm

[2019-01-16 01:14] #7846 closed

[2019-01-16 04:20] chuanjiao10 commented on #8636
@Jaykul
Text files do not require a BOM. ----10 years ago the wrong idea. OR This person has not used unicode, this person will not use unicode in the text file in the future.

By the same token, Linux 10 years ago did not need to rely on bom. But now linux, with centos7 set to Chinese as an example, man page is a Chinese string. If you don't use bom to lock the encoding type, it will generate gar

[2019-01-16 11:58] #3358 closed

[2019-01-16 13:02] SeeminglyScience opened #8661 "Using AutomationNull as a method argument for value type parameter throws incorrect exception"
# Steps to reproduce

[code]

# Expected behavior

* Follows normal conversion rules and uses the default value for `int` in place of `$emptyResult`.

* **Or** at the very least catch the exception from `Expression.Constant` and rethrow as a `nullToObjectInvalidCast` similar to this:

[code]

# Actual behavior

[code]

# Environment data

[code]

# Other details

[code]

This also reproduces in Wi

[2019-01-16 14:45] vexx32 commented on #1762
This is perfectly doable. I do this to great effect in PSKoans. However, it has some caveats.

https://github.com/vexx32/PSKoans/blob/eac7d8250dfe49e85e12b7432ad687dcf5470f78/PSKoans/PSKoans.psm1#L16-L26

You'll notice I duplicate the definition _with_ and _without_ the `Attribute` name suffix, one inheriting from the other.

I found that unlike in C# where you can _consistently_ drop the `Attribu

[2019-01-16 14:58] wisemoth commented on #1762
@vexx32 Thank you so much for the detailed and super-quick response.

This.  It had always bothered me how the "magic" naming worked, and I was just pondering on this further when your post appeared.  Your information has really helped me.

[2019-01-16 15:14] powercode commented on #7928
Should we have new syntax for slices? My eyes bleed everytime I write `$array[2..($array.Length - 2)]`.

[2019-01-16 15:31] mklement0 commented on #7928
@powercode:

Indeed we should - and the discussion of their specifics is well underway in #7940 (the only thing not covered there is _stepping_, hence my previous suggestion to limit discussion _here_ to stepping - though perhaps we should merge the two discussions).

Did I mention #7940?

Before I forget: please check out #7940.

P.S.: #7940 is worth a look.

P.P.S.: I think #7940 is devoted to t

[2019-01-16 15:39] vexx32 commented on #1762
Glad I could help!

Yeah, the rules here are a bit funky, and the unclear errors aren't a lot of help either, unfortunately.

[2019-01-16 15:44] agoldenlife commented on #7829
For those finding this.  I went looking and found someone much smarter than I who knows how to do this properly.  There are several ways to create network drives and Remove-PSDrive is not a catch all to remove them.

Source
https://blogs.msmvps.com/russel/tag/remove-psdrive/

Here is the code in case the link ever breaks
[code]

[2019-01-16 16:09] chuanjiao10 commented on #8636
In my eyes, this is a war between language types in pc and server.
The battlefield is win, linux, mac. Since various languages occupy windows, the main battlefield is linux now.
Army 1 is an English language.
Army 2 is an Asian language. The people who make up the army are Hindi, Chinese, Japanese, and Korean.
The general in the English army, (engonly Trump) shouted: "go go go ！Discard BOM header

[2019-01-16 17:04] mklement0 opened #8662 "Performance problem: `Get-ChildItem -Recurse -Include *` / `-Path *` is significantly slower than `Get-ChildItem -Recurse | Where-Object Name -like *` on Windows"
Note: `-Filter` is noticeably faster and should always be the first choice, but it cannot always be substituted for `-Include`.

Using a wildcard with `-Path` is even slightly slower than `-Include`.

# Steps to reproduce

Run the following from directory that is the root of a sizable tree, with a warmed-up file cache.

[code]

A single run may not produce representative timings; to conveniently a