[2017-09-25 05:54] SteveL-MSFT commented on #4214
@mklement0 I was thinking the same thing in terms of using a symlink on Linux/macOS and a batch file for Windows (and I wouldn't do anything for Windows PowerShell as that would just stay as `powershell`).

It seems the most obvious thing is that `powershell` is the primary and `psh` is the link, but I was thinking perhaps we should flip that around so that `psh` is the name of the exe and `powers

[2017-09-25 09:42] kwint opened #4916 "Set-Service should accept InputObject service controller"
Currently set-service doesn't have a InputObject parameter which accepts the System.ServiceProcess.ServiceController object, while other *-service cmdlets do.

Currently this doesn't work:
[code]

while start-service and stop-service do work this way
[code]
and pipeline does also work
`Get-Service vds | Set-Service -startupType Automatic`

a work around is this:
[code]

[2017-09-25 10:23] Tadas commented on #4915
You want to [customise your prompt function](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_prompts?view=powershell-5.1). It prints the prompt and you can change it to output anything you want, in your case:
[code]
The prompt is completely customizable and you can do some pretty crazy stuff: https://github.com/Jaykul/PowerLine

[2017-09-25 10:51] iSazonov commented on #4827
@SteveL-MSFT I wonder - `\\localhost\c$` is system share and users haven't  permissions to access such shares.

[2017-09-25 11:00] iSazonov commented on #4899
@lzybkr Could you please comment - what is right way to implement the callback parameter?

[2017-09-25 11:04] iSazonov commented on #4642
Can we add ` ToArray()` in PathInfo[] by ETS?

[2017-09-25 12:27] iSazonov commented on #4214
If we'll see that `psh` very popular we can swap `powershell` and `psh`.

For adding alias may be help https://stackoverflow.com/questions/2016722/one-dll-multiple-projects

[2017-09-25 13:25] mklement0 commented on #4642
@iSazonov:

Great idea; we could do the C# equivalent of the following:

[code]

We could use the same technique for adding a `.Name` property, which the current stack objects have.

[2017-09-25 13:38] RichardSiddaway commented on #4214
Don't like the idea of psh becoming the exe and  PowerShell being relegated to being a link. You're throwing away 10 years of audience loyalty for potential ease of use on non-Windows where the audience size is unknown and (at least to begin with) potentially small.

The more I see of PowerShell v6 the more it seems the existing Windows users are being ignored in an attempt to convince non-Windows

[2017-09-25 13:48] #4915 closed

[2017-09-25 14:13] anlexN commented on #4915
@Tadas , thank you so much!

[2017-09-25 15:50] SteveL-MSFT opened #4917 "inconsistent use of copyright symbol"
As part of https://github.com/PowerShell/PowerShell/pull/4912 it was identified that the code base has inconsistent use of the copyright symbol:

[code]

I'll follow up with legal to get their recommendation

[2017-09-25 17:03] SteveL-MSFT commented on #4827
I just tried:
[code]

Actually, both \\localhost\c$ and \\${env:computername}\c$ worked for my nonadmin local user

[2017-09-25 17:11] #4845 closed

[2017-09-25 17:15] #4330 closed

[2017-09-25 17:15] #4704 closed

[2017-09-25 17:44] iSazonov commented on #4827
I see. 😕

I agree If we test only how PowerShell parse network path the test is ok.

[2017-09-25 17:52] lzybkr commented on #4899
I'm not sure how important it is to support delegate callbacks - I'd imagine these cmdlets are mostly called from PowerShell scripts, so I would just take a scriptblock.

This mostly solves the problem of invoking the scriptblock without a runspace because PowerShell marshals the scriptblock.invoke() call back to the runspace creating the scriptblock - though this can cause a hang if that runspace

[2017-09-25 19:10] markekraus commented on #4899
@lzybkr so if I set `handler.ServerCertificateCustomValidationCallback` with the supplied script block, and that callback is called async, it will work with the current scope and without needing to initialize a runspace?

[2017-09-25 19:55] dragonwolf83 commented on #4214
@RichardSiddaway I don't get the impression that the PowerShell team is ignoring Windows users at all and I am primarily a Windows user with a Windows Phone. I was the one that requested this not out of some Linux concept, but from my own challenges of moving away from cmd to powershell.

The fact is, Windows PowerShell is a mature product but not built with cross-platform in mind. To make this wo

[2017-09-25 19:59] lzybkr commented on #4899
It depends on what is happening on the cmdlet's thread.

First, you will need to convert the scriptblock to the appropriate delegate type with `LanguagePrimitives.ConvertTo<DelegateType>(scriptblock)`.

But as I mentioned - if the cmdlet's thread is stuck in code outside of PowerShell, there is no way for that thread to invoke the scriptblock - it will instead hang waiting until PowerShell gets co

[2017-09-25 20:08] dragonwolf83 commented on #4214
@SteveL-MSFT can you provide some more of your reasoning for making `psh` or `pwsh` becomes the .exe? If there benefits that are gained from it, I may be more inclined to favor it.

Ouch on the batch file. Anyway to make the symlink work on Windows? I rather have that than another layer through cmd.

[2017-09-25 20:12] SteveL-MSFT commented on #4214
@dragonwolf83 I would imagine over time, people would prefer typing 3 or 4 characters vs 10, so although we will always supporting typing out `powershell`, it seems like from a long term perspective, we should optimize for the shorter version

You comments about Windows PowerShell are spot on.

[2017-09-25 21:17] markekraus opened #4918 "Add Get-WebListenerUrl examples to WebListener App documentation"
per https://github.com/PowerShell/PowerShell/pull/4905#pullrequestreview-65030961

Need to add `Get-WebListenerUrl` examples to the WebListener App `REAMDME.md`

[2017-09-25 21:31] xuesongyuan commented on #4893
What are timeframes for 6.0.0 and 6.1.0?

[2017-09-25 21:36] SteveL-MSFT commented on #4893
Expectation is that 6.0.0 is final by end of this year, 6.1.0 is undefined at this time but starts after 6.0.0

[2017-09-26 01:18] markekraus opened #4919 "'/' WebListener test broken"
#4905 and #4888 combined to make the errors showing up in AppVeyor. The URL is probably ending with a double `//` now which is causing the `404`.

https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.7-5512
https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.7-5509
https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.7-5511

[2017-09-26 04:37] #4161 closed

[2017-09-26 04:49] SteveL-MSFT commented on #4919
That explains the failure I was seeing in my PR.

[2017-09-26 05:05] #4919 closed

[2017-09-26 07:46] iSazonov commented on #4913
I see the `UserAgent` class contains public properties to emulate different User-Agents.
Based on [FireFox](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox) it seems the properties return broken User-Agent strings. We don't use the properties. Why we expose its? If an user want emulate a native User-Agent string he can copy-paste real string.

[2017-09-26 07:57] iSazonov commented on #4909
Could you please explain what help you need?

[2017-09-26 08:02] markekraus commented on #4913
Maybe removing the public members could be a separate issue. It's definitely a breaking change as people use it now.

My real concern is the Internal `UserAgent` member which the public will come to recognize as PowerShell's User-Agent signature (and for better or worse shape their HTTP responses to it). That should definitely have the correct Platform. portion.

[2017-09-26 08:08] iSazonov commented on #2122
@SteveL-MSFT Have we tracking Issue for •Suspend-Job ?

[2017-09-26 11:46] #3114 closed

[2017-09-26 16:33] SteveL-MSFT commented on #2122
@iSazonov `Suspend-Job` and `Resume-Job` only work with Workflow jobs which aren't supported.

[2017-09-26 16:49] PetSerAl opened #4923 "CommandInvocationIntrinsics.InvokeScript bind arguments to $input instead of $args"
[This lines](https://github.com/PowerShell/PowerShell/blob/master@%7B2017-09-26%7D/src/System.Management.Automation/engine/MshCmdlet.cs#L687-L690):
[code]
Pass `args` parameter into `input` parameter of called function, thus mixing them up.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
--------

[2017-09-26 17:06] PetSerAl commented on #4647
It is not binding problem. `Write-Host` itself [enumerate every IEnumerable](https://github.com/PowerShell/PowerShell/blob/master@%7B2017-09-26%7D/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WriteConsoleCmdlet.cs#L87-L106), when it generate string for printing.

[2017-09-26 19:43] SteveL-MSFT opened #4924 "Error reported uploading code coverage data"
https://ci.appveyor.com/project/PowerShell/powershell-f975h/build/6.0.0-beta.7-425#L3623

[code]

[2017-09-26 22:07] anmenaga commented on #4460
I can repro on Debian 8.

Looks like this issue is because all PowerShell Core packages we published so far contain windows assemblies only.
This is blocking hosting powershell in .NET Core applications on Linux/OSX.

Essentially this is a direct result/duplicate of #3417

[2017-09-26 22:07] #4460 closed

[2017-09-26 22:40] vors commented on #3941
ok, so I captured it with the symbols.

Here are non-empty threads:

![image](https://user-images.githubusercontent.com/816680/30887396-1f5276ac-a2d0-11e7-8652-10e42c729658.png)

`Pipeline Execution Thread` is blocked on https://github.com/PowerShell/PowerShell/blob/40577cb61ffdb4b94c8d5251bac7e07872fefc22/src/System.Management.Automation/engine/NativeCommandProcessor.cs#L698

![image](https://use

[2017-09-27 00:54] SteveL-MSFT commented on #4676
Ok, so after our resident Msft artist tirelessly worked to produce some new icons, would like some feedback.  Apparently, it's not so easy to embed multiple icons into an exe, so for now I'm only updating the shortcut icon.  What follows are three options, vote with your emoticons.  If the one you like doesn't get selected, you can always download the .ico from our GitHub repo and change it yourse

[2017-09-27 00:55] SteveL-MSFT commented on #4676
![blackicon](https://raw.githubusercontent.com/SteveL-MSFT/PowerShell/new-icon/assets/ps_black_128.svg?sanitizenew)

[2017-09-27 00:56] SteveL-MSFT commented on #4676
![avatar](https://raw.githubusercontent.com/SteveL-MSFT/PowerShell/new-icon/assets/avatar_128.svg?sanitize=true)

[2017-09-27 00:57] SteveL-MSFT commented on #4676
![avatarcolors](https://raw.githubusercontent.com/SteveL-MSFT/PowerShell/new-icon/assets/av_colors_128.svg?sanitize=true)

[2017-09-27 01:28] mklement0 commented on #4647
Good find, @PetSerAl, thanks - closing this.

[2017-09-27 01:28] #4647 closed

[2017-09-27 02:21] KirkMunro commented on #4676
It probably shouldn't, but it bothers me that the underbar ("_") in these icons does not line up with the bottom of the prompt indicator (">"). Now that you see it, maybe it bothers you too. 😜

Regardless of which is chosen, if it's either of the more traditional PowerShell icons (black or hero-colored), if the underbar could be moved down a pixel, that would be great.

This might not show up as w

[2017-09-27 02:34] SteveL-MSFT commented on #4676
The original doesn't line up either, I think it's `By Design` :P

![blue](https://raw.github.com/PowerShell/PowerShell/blob/master/assets/Powershell_256.png)

[2017-09-27 03:20] #4827 closed

[2017-09-27 07:36] iSazonov commented on #3941
Maybe related https://github.com/dotnet/corefx/issues/19470

[2017-09-27 10:05] iSazonov commented on #3941
@SteveL-MSFT @daxian-dbw I believe it is important features for Enterprises and we should enable its.
Currently there is no progress in CoreFX with `System.DirectoryServices`. So  I think we should enable it for Windows only.

It seems we cannot [directly reference ](https://github.com/dotnet/sdk/issues/987#issuecomment-318174931)`System.DirectoryServices` .
Is there a way to solve this problem?

[2017-09-27 11:29] KirkMunro commented on #4676
@SteveL-MSFT: Is that icon file open source? ;)

[2017-09-27 12:32] kborowinski opened #4930 "SecureKey parameter in ConvertFrom-SecureString does not accept 24 and 32 bytes secure strings"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

Note
-----

I've found that the SecureKey accepts secure strings of length 8,12 and 16 bytes. It looks like there is bug during the internal conversion of secure string to byte array.

[code]

[code]

Ps. ConvertFrom-SecureS

[2017-09-27 14:27] PetSerAl commented on #4930
`[char]` is 16-bit long

[2017-09-27 14:44] #4911 closed

[2017-09-27 14:46] kborowinski commented on #4930
Ah, yes, [char] is unicode in .NET. Jeez, I need more coffee.

[2017-09-27 15:08] #4930 closed

[2017-09-27 16:25] RickFlist opened #4932 "Get-Help Potentially Incorrect Help Topic for New-ModuleManifest"
Steps to reproduce
------------------
It appears the help topic for a parameter on New-ModuleManifest is incorrect. I can't be sure, but it doesn't look like the text goes with the parameter
[code]

Expected behavior
-----------------
N/A
[code]

Actual behavior
---------------
Get-Help returns text for the parameter CompatiblePSEditions that does not appear to match the parameter name.
[code]

En

[2017-09-27 16:40] SteveL-MSFT commented on #3941
@iSazonov I think your comment on `System.DirectoryServices` is for https://github.com/PowerShell/PowerShell/issues/3266?

[2017-09-27 16:47] SteveL-MSFT commented on #4932
Looks like this was fixed already https://github.com/PowerShell/PowerShell-Docs/commit/6944160b09b2e45ea074e2443d3b326e6fc8c31e#diff-52086eee0a9f9d3b416db384cf54ef38, although it doesn't appear to have been published yet

[2017-09-27 16:47] #4932 closed

[2017-09-27 16:51] RickFlist commented on #4932
Thanks. Was there some way I could have found that without bothering you?

[2017-09-27 16:56] SteveL-MSFT commented on #4932
@RickFlist good question!  In this case, all doc content issues should be in https://github.com/powershell/powershell-docs repo (not this one).  I looked to see if this was a known issue and it looks like our doc writer already fixed it (in the repo).  In this case, there wasn't an existing issue in that repo, so I just looked at the actual doc (it's under the `reference` folder) and it was alread

[2017-09-27 17:06] RickFlist commented on #4932
Thanks. I will try that next time.

[2017-09-27 17:40] iSazonov commented on #3266
@SteveL-MSFT @daxian-dbw I believe it is important features for Enterprises and we should enable its.
Currently there is no progress in CoreFX with `System.DirectoryServices`. So  I think we should enable it for Windows only.

It seems we cannot [directly reference in GAC ](https://github.com/dotnet/sdk/issues/987#issuecomment-318174931)`System.DirectoryServices` .
Is there a way to solve this pro

[2017-09-27 17:40] iSazonov commented on #3941
@SteveL-MSFT Yes, sorry.

[2017-09-27 17:52] SteveL-MSFT commented on #3266
I think we should defer this to 6.1.0 given we should depend on corefx.  Perhaps we should suppress the type accelerator for now.

[2017-09-27 18:04] iSazonov commented on #3266
In CoreFX repo comments say that it depends very much on COM, also, there is no port LDAP library yet. I believe that this will not be done much longer. That's why I'm requesting to enable it on Windows based on GAC dlls.

[2017-09-27 18:07] SteveL-MSFT commented on #4676
@KirkMunro I'll have an update on use of the assets "soon".  It's trademarked so not the same as OSS.

[2017-09-27 19:36] SteveL-MSFT commented on #3266
I'm not sure if we want to set a precedent on creating a dependency on the GAC from PSCore.  cc @daxian-dbw

[2017-09-27 22:11] daxian-dbw commented on #3266
It seems DirectoryServices code is available in corefx: https://github.com/dotnet/corefx/tree/master/src/System.DirectoryServices/src/System/DirectoryServices
and the preview version nuget package for `System.DirectoryServices` is also available on dotnet-core feed (https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.DirectoryServices).
Can't we wait for that to mature and depend on tha

[2017-09-27 23:56] SteveL-MSFT commented on #3266
I suggest we wait until 6.1.0 timeframe to tackle this

[2017-09-28 04:08] iSazonov commented on #3266
I agree that native support would be best. But...
1. My scripts is 80% Active Directory related - so I cannot use 6.0 in Enterprise at all. All the more ActiveDirectory module is not supported. ETA? No one can use PowerShell Core 6.0 version in Enterprises.
2. DirectoryServices nuget package is not updated for about a last month. Works frozen.
3. Little progress is in last year.
4. It is not stabl

[2017-09-28 05:39] iSazonov commented on #4836
I am ready to implement enumeration of installed versions based on https://github.com/PowerShell/vscode-powershell/blob/c3e987c9e9add273e6699972bb017ccfbc47e873/src/platform.ts#L110

[2017-09-28 08:31] Ausbilder opened #4936 "Using module statement is broken?"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Both types are loaded.

Actual behavior
---------------
Only the type of the last using statement is loaded -> Bar
[code]

Environment data
----------------

[code]

[2017-09-28 09:36] iSazonov commented on #4936
@Ausbilder Thanks for your report!

It's dup #4112 - feel free ti iscuss the Issue there.

[2017-09-28 09:36] #4936 closed

[2017-09-28 15:47] #4167 closed

[2017-09-28 16:27] #3676 closed

[2017-09-28 16:27] #3739 closed

[2017-09-28 17:06] dantraMSFT opened #4939 "PowerShell ETW logging on windows needs to use a unique provider id and register the manifest."
Currently, PowerShell uses the same ETW provider GUID as PowerShell on Windows. This presents a few, subtle problems:
1: PowerShell 6 events cannot be easily distinguished from PowerShell/Windows.
2: PowerShell 6 is relying on a valid ETW manifest being registered to ensure events can be decoded. This assumption breaks on down-level systems that do not contain PowerShell/Windows 5.X and also ties

[2017-09-28 17:15] lzybkr commented on #4939
It might be worth moving to EventSource instead of using ETW directly - this would be useful on Linux/Mac.

[2017-09-28 18:28] SteveL-MSFT opened #4940 "PowerShell exits opening runspace created with SSHConnectionInfo"
Doesn't repro on Windows, but repros on Linux and Mac

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-09-28 20:58] anmenaga commented on #4939
What is the plan for several different PS versions installed side-by-side?

[2017-09-28 22:56] SteveL-MSFT commented on #4939
I think side-by-side PSCore should be fine in the same log as long as it can be filtered.  PSCore and Windows PowerShell should be completely separate

[2017-09-28 23:07] #1377 closed

[2017-09-28 23:58] SteveL-MSFT commented on #4676
@KirkMunro you can see the instructions on permission to use the assets here: https://github.com/PowerShell/PowerShell/pull/4938

[2017-09-29 00:15] #1920 closed

[2017-09-29 00:29] #4897 closed

[2017-09-29 01:50] mklement0 commented on #4214
@dragonwolf83:

I hear you. Alas, my [cry for help](https://stackoverflow.com/q/46439072/45375) has received very little attention so far.

[2017-09-29 02:34] chucklu opened #4944 "Stuck when I try to set the file with extension .ps1‘s propertiy open with"
I have a file with extension .ps1, when I open it, it was opened by the default powershell in win10.
But I want to switch the default program for .ps1 to the powershell 6.0 ,when I try to do that ,the COM Surrogate stucked.
![image](https://user-images.githubusercontent.com/3004057/30998505-a9e7668c-a501-11e7-9c5d-c086fa6588e7.png)

The default version of powershell
[code]

Environment data
------

[2017-09-29 02:39] SteveL-MSFT commented on #4214
powershell.exe is 78k, would it be so bad to have another 78k as psh.exe...

[2017-09-29 08:33] markekraus opened #4946 "Tests Missing for -TransferEncoding Parameter for Web Cmdlets"
There are tests for handling different `Content-Encoding` responses but none for ensuring `Accept-Encoding` request headers are sent with `-TransferEncoding`. Tests should be added for coverage.

[2017-09-29 08:38] iSazonov commented on #3822
Can we close the Issue or we plan a fix?

[2017-09-29 08:49] iSazonov commented on #3345
Currently we only have 'Windows PowerShell' in some Resx files related to workflows and remoting.
Also we have 'Windows PowerShell' strings in comments in *.cs files.

Should we keep the Issue open?

[2017-09-29 09:03] markekraus opened #4947 "Add support for brotli compression to Web Cmdeltes"
[brotli](https://en.wikipedia.org/wiki/Brotli) will likely become the compressed transfer encoding of choice. `Invoke-Webrequest` and `Invoke-RestMethod` should support these natively.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
`C:\temp\brotli.jpg` should be a jpeg

Actual behavior
---------------
`C:\temp\brotli.jpg` is brotli compressed data.

Environment

[2017-09-29 09:11] iSazonov commented on #3677
@SteveL-MSFT
![invoke-webrequest](https://user-images.githubusercontent.com/22290914/31009120-7630b8fa-a517-11e7-9b31-d30f1a8efa23.png)

Can we fix this by changing Resx strings to
[code]

[2017-09-29 09:20] iSazonov commented on #2108
@SteveL-MSFT Can we close the Issue because we update nuget SDK package and docs?

[2017-09-29 10:51] markekraus opened #4949 "Missing Tests for Identity, Compress, and Chunked for Web Cmdlets"
In working on #4948 I noticed that Identity, Compress, and Chunked tests were missing. I was able to add Deflate as it was low hanging fruit.

Chunked "kind of" gets tested with gzip as Kestrel returns the gzip data chunked. But a separate test for just chunked without gzip would be better.

Compress might require a 3rd party API. Unless there is some LZW support hidden in .NET Core 2.0 that I mis

[2017-09-29 10:55] iSazonov commented on #4947
Related blog post https://blogs.msdn.microsoft.com/dotnet/2017/07/27/introducing-support-for-brotli-compression/

[2017-09-29 11:36] iSazonov commented on #4939
[EventSource Proposal](https://github.com/dotnet/coreclr/blob/027180d8ef4a8a0e50f4cba3ad985af38882f5ef/Documentation/coding-guidelines/cross-platform-performance-and-eventing.md#eventsource-proposal)

[2017-09-29 13:19] markekraus commented on #4947
I'm not sure if there are plans to add automated Brotli decompression to `HttpClientHandler`. I dug around and couldn't find anything for it. It may need to be handled after the response is returned.

[2017-09-29 14:15] iSazonov commented on #4947
Could you please create Issue-Question-Request in CoreFX repo?

[2017-09-29 15:02] manofspirit opened #4951 "Expect like capability with PowerShell"
Hi there,

I'm just trying to find a tech for macOS which can be used to automate CLI commands, Like Expect https://en.wikipedia.org/wiki/Expect

So can i use PowerShell for that?

Please advise.

[2017-09-29 15:30] rusnw opened #4952 "Copy-Item from linux to windows with ToSessopn error"
Steps to reproduce
------------------

Create 2 file:

`dd if=/dev/zero of=/root/30KbFile bs=30K  count=1`
`dd if=/dev/zero of=/root/1MbFile bs=30K  count=1`

Script for copying of files from linux in windows:

[code]

Run script

Expected behavior
-----------------

[code]

Actual behavior
---------------
30KbFile  file was copied, 1MbFile  was not copied:

[code]

Environment data
--------------

[2017-09-29 15:49] SteveL-MSFT commented on #3266
@iSazonov would you be ok with a workaround (in your scripts or profile) until we can do this properly in 6.1.0?

[code]

[2017-09-29 16:32] #2108 closed

[2017-09-29 16:36] SteveL-MSFT commented on #3345
I think the intent of this was more for user facing strings, so I think we can resolve this as fixed.

[2017-09-29 16:36] #3345 closed

[2017-09-29 16:50] SteveL-MSFT commented on #4951
I don't think you could do this easily in PowerShell today, but there are ways with PowerShell to redirect stdin/stdout of a console app.  Perhaps this is something we could have better support for once we have DSL available.

However, you should be able to use Expect within PowerShell today.

[2017-09-29 16:53] SteveL-MSFT commented on #4947
Looks like it's coming at some time in CoreFx https://github.com/dotnet/corefx/issues/20558#issuecomment-314177535

[2017-09-29 16:55] SteveL-MSFT commented on #4952
My recommendation is to install [OpenSSH](https://github.com/powershell/openssh) on Windows and use SCP

[2017-09-29 17:11] rkeithhill commented on #4951
There is a PowerShell module that is supposed to mimic Expect in PowerShell.  https://www.powershellgallery.com/packages/Await/0.8

[2017-09-29 17:37] SteveL-MSFT commented on #4951
@rkeithhill awesome!

[2017-09-29 17:37] #4951 closed

[2017-09-29 17:38] markekraus commented on #4918
Also need to update the user agents and correct the user agent listed for the `/Delay/` test

[2017-09-29 17:47] SteveL-MSFT commented on #3822
I think we can close this.

[2017-09-29 17:47] #3822 closed

[2017-09-29 17:53] SteveL-MSFT opened #4953 "Remove ApartmentState support"
ApartmentState STA/MTA is only used to interop with COM and not supported on non-Windows.  It also seems that dotnet can [marshal between STA and MTA](https://docs.microsoft.com/en-us/dotnet/framework/interop/interop-marshaling#marshaling_and_com_apartments) just fine so allowing the user to set it is just a perf optimization.

I propose we simplify our code by removing support.  The code base tod

[2017-09-29 19:20] daxian-dbw opened #4955 "x86 build of 'pwrshplugin.dll' is broken"
@mirichmo has verified that the `pwrshplugin.dll` built for x86 is broken, and thus remoting doesn't work in powershell core on windows x86 systems (win7 x86 + WMF 5.1 and win8.1 x86).

[2017-09-29 19:20] #4834 closed

[2017-09-29 19:24] iSazonov commented on #4947
Good news!
Question is do we add the feature today by means of third-party nugget package?

[2017-09-29 19:41] iSazonov commented on #3266
I thought about this and about our compatibility module.
My concerns:
1.  I don't believe that the module will be ready in RTM time.
2. I see we have codes for DirectoryEntry (ExtendedAdapter and etc.) - it could be the main breaking change.

Suggestion is - create temporary nuget package to expose the GAC dll until CoreFX issue a ported version.

[2017-09-29 19:45] markekraus commented on #4947
I'm probably the least qualified to say this, but my gut tells me it's better to wait until it is "native". If not due to my trust issues with compression libraries, then at least for the refactor effort. I think it makes a good 6.1.0 goal. Most hosts will probably still fallback to gzip or identity in the time it takes for this to become native which looks likely to be well before 6..1.0

[2017-09-29 20:04] iSazonov commented on #4947
I agree that best way is to follow CoreFX. The only question is how good to have it now.

[2017-09-29 20:07] SteveL-MSFT commented on #4939
I believe the current thinking is to have PSCore6.x all in the same log, but should be easy to filter for a particular version.

[2017-09-29 20:08] iSazonov commented on #4939
@RichardSiddaway As @SteveL-MSFT said we can use a field to filter. The field can be PSVersion or GitCommitId.

[2017-09-29 20:18] markekraus commented on #4947
From what little I can gather, brotli doesn't have mass adoption yet and just about any site that does impliment it currently also has a gzip fallback. Running into a site that is pure brotli without at least identity fallback (outside of the scope of sites dedicated to testing brotli) are outliers. I think the convenience of having it does not trump waiting for the native solution and that will l

[2017-09-29 20:59] anmenaga commented on #4476
Can repro on Ubuntu 16 with Nexus 10 tablet.

This is the same as #4889 .
The directory name has a colon that results in invalid drive name when parsing the path.

[2017-09-29 20:59] #4476 closed

[2017-09-29 22:13] daxian-dbw commented on #4955
It turned out to be a packaging issue. In `psrp.windows-beta.2` package, the `win-x86` folder in the package actually contains the x64 plugin, which caused WinRM to fail to load the plugin on x86 systems.

This has been fixed in `psrp.windows-beta.3` package. @mirichmo has verified that remoting works on `Win7-x86 + WMF 5.1` and `WinBlue-x86 (no WMF)` with the x86 plugin from `psrp.windows-beta.3`

[2017-09-29 22:13] #4955 closed

[2017-09-29 23:12] markekraus commented on #4899
https://github.com/markekraus/PowerShell/blob/7c8e5dd83d5c1c78fc67c288e28e5c956d0ecb88/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreClr.cs#L180

So this ended up working for me:

[code]

I thought maybe there would be some kind of hang or crash, but it appears to work without issue and the ScriptBlock runs with access to the calling RunSpace.

[2017-09-30 00:03] SteveL-MSFT commented on #4910
Due to the change in .gitattributes to force auto eol correction, it was showing incorrect files as modified when doing a fetch/pull/clone.  So to avoid the confusion, I force changed all EOL to LF as part of https://github.com/PowerShell/PowerShell/pull/4943 and https://github.com/PowerShell/PowerShell/pull/4956

[2017-09-30 00:26] #4149 closed

[2017-09-30 03:10] SteveL-MSFT commented on #4894
I believe cornet 4.7.1 will fix this https://blogs.msdn.microsoft.com/dotnet/2017/09/28/net-framework-4-7-1-runtime-and-compiler-features/

[2017-09-30 05:27] tannergooding opened #4961 "Powershell translates all output bytes that equal '\n' to '\r\n'"
### Repro
Take the following simple C# program:
[code]

Compile it and execute the program under Powershell, redirecting the output to a file:

### Expected Behavior
One would expect that if you redirected this to a file, it would contain:
[code]

I expect, that if I tell my program to output '\n' and then redirect that to a file, it is written exactly as '\n'.

I expect, that if I tell my program

[2017-09-30 09:10] chuanjiao10 commented on #4952
30KbFile file was copied, 1MbFile was not copied:-----Impossible, I see you can not copy any file.
$Session = New-PSSession -ComputerName $DestinationHost -Credential $cred -Authentication basic  -----------return error on this code.

I remember, powershell 6.0 beta 7, did not achieve winrm client.

[2017-09-30 10:28] markekraus commented on #4961
This behavior is highly depending on the method which which you are creating the file. Can you provide both the `$PSVersionTable` output and some PowerShell code to reproduce the issue? In some cases, this behavior is "by design"  in others there are known issues (or ongoing debates), or this could be completely new. One cannot tell which is the case without relevant PowerShell code.

[2017-09-30 14:51] bergmeister commented on #4214
Having 2 duplicate executables might be an easy solution but could also lead to confusion since I can imagine that users will start pondering whether there is a difference between the 2. If I were new to PowerShell and saw 2 different examples (e.g. on SO) that show how to call/open PowerShell then I would immediately start to wonder which example I should choose because I would assume that there

[2017-09-30 15:16] SteveL-MSFT commented on #4952
@dantraMSFT is working on getting new build of psrpclient library

[2017-09-30 15:46] tannergooding commented on #4961
Open `cmd.exe` and do the following:
[code]

Set the contents of Program.cs to:
[code]

Next, continue on the command line with:
[code]

You can repeat for `dotnet run | Out-File -filePath <fileName> -encoding {encoding}` and see similar results. Below is the hex dump for each:
[code]

From this, I can see the following problems:
* None of the encodings give the exact output desired (due to forced

[2017-09-30 16:05] SteveL-MSFT commented on #4961
@tannergooding thanks for the thorough investigation.  The encoding issue should be addressed by https://github.com/PowerShell/PowerShell/issues/4878, the EOL issue is probably https://github.com/PowerShell/PowerShell/issues/2145

[2017-09-30 16:34] SteveL-MSFT commented on #4859
No longer repro'ing

[2017-09-30 16:34] #4859 closed

[2017-09-30 16:40] SteveL-MSFT commented on #2966
I see coverage data for the files listed originally

[2017-09-30 16:40] #2966 closed

[2017-09-30 17:05] SteveL-MSFT commented on #1921
Tried beta.7 on Debian8 (Debian 3.16.43) and `Find-Module` worked fine

[2017-09-30 17:05] #1921 closed

[2017-09-30 17:20] SteveL-MSFT commented on #707
For 6.0.0 release we'll be doing a reduced scope version of this https://github.com/PowerShell/PowerShell/issues/4878

[2017-09-30 17:36] SteveL-MSFT commented on #4923
Good find!  This looks like just a mistake in the code.

[2017-09-30 17:51] rkeithhill opened #4962 "Before 6.0.0 ships can we make Get-Help -full the default?"
On Linux, the man pages display their full content by default.  I believe PowerShell should do the same.  The number of times I use get-help (or the alias man) without the `-Full` parameter can be counted on 1 hand (actually probably 0 hands).  I've always disliked the switch that was made to seriously abbreviate PowerShell help topics.  It was too dumbed down.

So here's a chance to do the right

[2017-09-30 18:07] iSazonov commented on #4899
Does "using:variable" work?

[2017-09-30 19:14] iSazonov commented on #4962
Maybe Help function should ask about show full help?

[2017-09-30 19:14] icylogic opened #4964 "Broken rendering for CJK on Windows"
Steps to reproduce
------------------
Type CJK characters in Powershell

Expected behavior
-----------------
Correct rendering just like ascii characters.

Actual behavior
---------------
Japanese:
![j](https://user-images.githubusercontent.com/2814357/31048708-070009ec-a5f1-11e7-8abb-67ec2ccb8542.gif)
(Windows Japanese IME installed from Windows settings)

Chinese:
![c](https://user-images.github

[2017-09-30 19:19] iSazonov commented on #4961
I believe it is dup with great repo.

[2017-09-30 19:56] SteveL-MSFT commented on #4961
Agree that the other two issues have this covered, @tannergooding let me know if you don't agree.

[2017-09-30 19:56] #4961 closed

[2017-09-30 20:31] markekraus commented on #4899
I don't think so, but it's not needed.

[code]

These all work as would be expected., The first one bypasses the bad cert. the second one blocks the good cert, and the third one populates `$resulthash['thumbprint']` with the cert thumbprint.

As far as I can tell, the `using:` implementation only works in certain special ScriptBlock scenarios (such as those used in remote sessions). and is not a s

[2017-09-30 20:39] markekraus commented on #4899
@iSazonov Actually, this made me realize something.

[code]

This hangs the thread. I'm guessing it's because the ScriptBlock throws a `UsingWithoutInvokeCommand` exception and never returns `true` or `false` from the delegate. A the very least I need to do some exception handling in the wrapper delegate.

[2017-09-30 21:33] SteveL-MSFT commented on #4964
What code page are you using?  Run `chcp`.  If it's not 65001 (UTF8), try `chcp 65001`.

[2017-09-30 21:41] icylogic commented on #4964
@SteveL-MSFT

![2017-09-30_17-35-36](https://user-images.githubusercontent.com/2814357/31049680-f2fa66ee-a605-11e7-8220-604ff25a3a21.gif)

[2017-09-30 21:48] SteveL-MSFT commented on #4964
If cmd.exe has the same problem, then this is really an issue with the Windows console and I don't think there's anything PowerShell can do to fix it.  Best thing to do is to open an issue here: https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo?query=cjk

[2017-09-30 21:48] #4964 closed

[2017-09-30 22:05] bergmeister commented on #4962
Even on Windows, I found that Get-Help without an additional Parameter was not very helpful. I would welcome it if showed e.g. at least one of the examples and maybe the `OUTPUTS` section. I agree with @iSazonov that it would be useful to have a prompt that says something like `Show More? Y/N`

[2017-09-30 22:30] SteveL-MSFT commented on #4962
For 6.1.0, we intend to revisit the whole helpsystem as well as rendering.  For 6.0.0, we could default to showing full help if that is more useful for the majority of the time.

[2017-09-30 22:43] rkeithhill commented on #4962
I would prefer the help system default to full help.  I believe emitting full help on Linux and macOS is much less of an issue because these OSs have decent paging utilities (and those users know how to use those utilities).

BTW Windows SERIOUSLY needs a better paging utility than more.com which is like using stone knives and bear skins compared to using less.  :-)

[2017-09-30 23:15] SteveL-MSFT commented on #4962
Paging is one of the things we'll resolve along with the updated helpsystem during 6.1.0 timeframe.

[2017-10-01 01:35] joeyaiello commented on #3993
Yeah, this kinda stinks...been messing around this weekend, and it's definitely a legit bug. The line or two above wherever you paste gets corrupted by any paste

[2017-10-01 01:36] joeyaiello commented on #3985
Well this has definitely been fixed.

[2017-10-01 01:36] #3985 closed

[2017-10-01 01:37] joeyaiello commented on #3564
This is fixed.

[2017-10-01 01:37] #3564 closed

[2017-10-01 01:42] joeyaiello commented on #3993
Also, still repros on Beta.7`

[2017-10-01 02:42] SteveL-MSFT commented on #3993
Works for me on Win 10.0.16299.2

[2017-10-01 03:02] SteveL-MSFT commented on #4358
I'm separating this out from the uber issue of args to native commands which might be resolved by a future corefx api.  I'll see if there is something we can do to solve this one sooner.

[2017-10-01 03:03] SteveL-MSFT commented on #1995
Since corefx seems open to producing the api we need, I'm deferring this to 6.1.0.  For 6.0.0, I'll see if we can fix #4358

[2017-10-01 03:24] iSazonov commented on #4962
I mean that users are more likely to use Help function than Get-Help cmdlet. We could enhance the function and don't change the cmdlet until 6.1.0.

[2017-10-01 03:39] joeyaiello commented on #2116
Ugh, trying to mess with chroot while in WSL via [this guide](http://www.ubuntubuzz.com/2015/09/a-basic-chroot-example-in-ubuntu.html), it doesn't want to work for me.

In any case, if there's a way we *can* work around this, I think we probably should. It's annoying, just did it very easily.

[2017-10-01 03:39] joeyaiello commented on #3520
This is very old, Arch specific, good chance it's working now. If not, feel free to open a new issue.

[2017-10-01 03:39] #3520 closed

[2017-10-01 04:03] iSazonov commented on #4899
My concern is that users will expect that "using:" will work. Although if the script block is in the same context it don't make sense - silently ignore by exception handling?

[2017-10-01 05:27] Chigogo commented on #4964
@SteveL-MSFT Insane bug.

[2017-10-01 05:27] SteveL-MSFT commented on #4962
@iSazonov that's an option, however, if the majority of cases is that they answer 'y', it seems showing the full help when using `help` since it gets paged would also work

[2017-10-01 06:47] PetSerAl opened #4966 "Passing script block to native application generate wrong value for -encodedCommand parameter"
When you pass `ScriptBlock` as parameter to native application, PowerShell activate so called MiniShell mode, where it encode script block and arguments as suitable for PowerShell subprocess call. When script block is empty, it generate incorrect command line.
It also looks like `-encodedCommand` parameter does not support empty string as its input.

Steps to reproduce
------------------

[code]

[2017-10-01 10:09] markekraus commented on #4899
@iSazonov I don't think users should have that expectation, and if they do, then we would need to add it as a standard feature to all ScriptBlocks. `$using:` only works in very limited use cases (`Invoke-Command` and  DSC). The documentation about `$using:` is `about_Remote_Variables` and in this case, the variables are all local.

We could at least call it out in documentation that it is not supp

[2017-10-01 10:45] be5invis commented on #4964
@bitcrazed

[2017-10-01 11:01] RichardSiddaway commented on #4962
Defaulting to showing the full help contents would be  best - especially on Windows. I'd prefer to have everything and scroll through rather than have it paged. Paging just makes things slower and adds negative value.
 I never understood why the default was to show a cut down version when the most useful parts are the examples and the parameter descriptions when you're trying to understand how to

[2017-10-01 11:47] martin9700 opened #4967 "No StdOut output on console until second object"
Originally reported here: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/17313493-no-stdout-output-on-console-until-second-object

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-01 13:53] fmichaleczek commented on #3993
Works for me on Win 10.0.16298.1 and PowerShell v6.0.0-beta.4

[2017-10-01 13:58] fmichaleczek commented on #3993
Works for me (after upgrading package) on Win 10.0.16298.1 and PowerShell v6.0.0-beta.7

[2017-10-01 14:25] PetSerAl commented on #4967
It is new feature of PowerShell v5: `Format-Table` collect objects for 300ms to choose better column width. IIRC, there are multiple issues about this behavior here on GitHub already.

[2017-10-01 14:57] #3293 closed

[2017-10-01 15:01] MaximoTrinidad opened #4968 "If/Else block won't execute when using copy/paste Into PSCore console in both Windows and Linux OS."
The code block provided works in Windows PowerShell when using copy/paste. Also, VS Code will not complain running this code.

Steps to reproduce
------------------
Copy/Paste the following code straight into the console:

[code]

Expected behavior
-----------------
To execute the code without any errors.
[code]

Actual behavior
---------------
The copied code breaks at the 'else' line.
[code]

En

[2017-10-01 15:24] SteveL-MSFT commented on #1995
@TSlivede I took your function, renamed it to `Invoke-NativeCommand` (as `Run` isn't a valid verb) and added an alias `^` and published it as a module on PowerShellGallery:

[code]

[2017-10-01 15:57] MaximoTrinidad commented on #4968
Hum! I just realized that this may be an issue with the PSReadLine module. When I remove-module psreadline then the code works as expected.

[code]

[2017-10-01 16:02] SteveL-MSFT commented on #4968
It might be this: https://github.com/lzybkr/PSReadLine/issues/517

[2017-10-01 16:02] #4968 closed

[2017-10-01 16:07] #3993 closed

[2017-10-01 16:15] bilalaslamseattle commented on #2784
Sigh. Tried this October 2017 and no luck.

[code]

[2017-10-01 16:31] mklement0 commented on #1995
@SteveL-MSFT:

It's nice to have a stopgap, but a less cumbersome one would be - while we wait for a CoreFX solution - to implement the well-defined official quoting / argument-parsing rules [as detailed in @TSlivede's RFC proposal](https://github.com/TSlivede/PowerShell-RFC/blob/master/1-Draft/RFC%23%23%23%23-Improve-generation-of-argument-string-for-executables.md) ourselves preliminarily - whic

[2017-10-01 17:15] be5invis commented on #1995
@mklement0 @SteveL-MSFT
Are we **already** broke compatibility?

[2017-10-01 17:17] SteveL-MSFT commented on #2784
@bilalaslamseattle unfortunately, it looks like KeyVault isn't part of https://www.powershellgallery.com/packages/AzureRM.Netcore yet

[2017-10-01 17:24] rkeithhill commented on #4962
@RichardSiddaway That's because the pager on Windows sucks.  When you use something like `less` you can scroll line-by-line or by pages and you can search for terms.  Searching a help topic like this is very handy.

I know some folks don't like this next feature but when you do quit the pager (yeah, yeah pressing <kbd>q</kbd> is a bit weird) the helpt text is gone from the buffer so you can see yo

[2017-10-01 17:27] iSazonov commented on #2784
@SteveL-MSFT Maybe add review and status of most popular modules in our docs? Wiki?

[2017-10-01 17:59] SteveL-MSFT commented on #4967
https://github.com/PowerShell/PowerShell/issues/4594

[2017-10-01 18:02] iSazonov commented on #4899
I agree that if we document the parameter properly the behavior is good.

[2017-10-01 18:02] SteveL-MSFT commented on #2784
@joeyaiello we should have something about that in our final release notes

[2017-10-01 18:10] markekraus commented on #4899
`param()` works

[code]

[2017-10-01 21:17] markekraus commented on #4899
pr: #4970

[2017-10-01 22:14] mklement0 opened #4971 "Native globbing on Unix platforms should pass syntactically-invalid-as-globbing-patterns unquoted literals through as-is"
Related: #3931

An _unquoted_ token that is not a syntactically valid globbing pattern (wildcard expression) should be considered a _literal_ to be _passed as-is_ - not an _error_.

Note that, by default, `bash` retains whatever unquoted token you specify as-is, if it (a) happens not to be a valid globbing pattern or (b) happens not to match any files.
(Setting `shopt -s nullglob`, however, would

[2017-10-01 22:34] SteveL-MSFT commented on #4971
It seems the downside to making this change is if the user intended to use a valid pattern but typed it wrong

[2017-10-02 00:30] SteveL-MSFT commented on #3941
Just got a MacBook Pro and I've noticed this with just the `git` commands.  Pretty annoying.

[2017-10-02 01:14] mklement0 commented on #4971
Implementing implicit globbing for external utilities on Unix platforms is an attempt to _emulate_ the behavior of the _typical_ shell behavior there.

Defining _typical_ is tricky, as it depends on whether it refers to the default shell for _interactive_ use - which is often `bash` - vs. running _scripts_ via the POSIX-features-only `/bin/sh` shell (which is `bash` in  its POSIX-compatible mode o

[2017-10-02 01:29] mklement0 commented on #4971
In other words: while you could argue that it's better for the shell to notify you of a malformed globbing pattern / expand a valid pattern that happens to match nothing to the empty string, this is _not_ how things work on Unix platforms by default - and emulating the latter is the goal, I presume.

[2017-10-02 05:00] joeyaiello commented on #3993
Right-click to paste or Ctrl+V?

[2017-10-02 05:07] stknohg commented on #4964
I had same problem using PSReadline and proportional font.
Diasbling PSReadline(`Remove-Module  PSReadLine`) or using monospaced font(e.g. MS Gothic), I avoid this problem.

I think this problem is related https://github.com/lzybkr/PSReadLine/issues/289

[2017-10-02 13:21] muzzar78 commented on #4681
I noticed a difference between PS 5.1 and PS core 6 beta 7 using get-content and the -raw switch with a file that ended with a LF. In 5.1 the LF was read as part of the string and was the last character in my variable, where as in 6beta7 the LF was stripped. Is this by design? If I used "-encoding binary" then both 5.1 and 6 read the LF. This may cause some issues.

[2017-10-02 13:34] mklement0 opened #4973 "Passing a script block to an external utility should only trigger Base64 encoding if the target is `powershell -command`"
Related: #4966

Currently, _any_ script block you pass to an external utility from within PowerShell translates translation of the script block into `-encodedCommand <base64-encoded-script-block-string> -inputFormat xml -outputFormat text` (you can override the `-inputFormat` and `-outputFormat` values by passing them explicitly, however), even though that only makes sense when invoking (another i

[2017-10-02 13:50] iSazonov commented on #4967
@martin9700 It is dup of #4594. Fill free to discuss the Issue there.

[2017-10-02 13:50] #4967 closed

[2017-10-02 13:52] iSazonov commented on #4947
@SteveL-MSFT Could you assign a milestone if it is approved?

[2017-10-02 17:23] TravisEz13 opened #4975 "Remove use for strlen from native code"
Remove and or replace the use for strlen from native code

[2017-10-02 17:31] dantraMSFT opened #4976 "PowerShell on Linux package installation should set up a symbolic link to resolve libgssapi_krb5 to support client-side psrp over kerberos."
Steps to reproduce
------------------
Install powershell on Ubuntu 16.04  with the latest build of the psrp client (1.3.0).  Domain join the machine/vm and attempt to connect to a windows machine using -Authentication Kerberos.

Expected behavior
-----------------
The connection succeeds.

Actual behavior
---------------
The connection fails with an access denied.

the problem occurs due to a PSRP

[2017-10-02 17:54] #4163 closed

[2017-10-02 18:15] PetSerAl commented on #4973
Nitpicking, but it not always `-inputFormat xml -outputFormat text`:
[code]

[2017-10-02 18:28] mklement0 commented on #4973
Thanks, @PetSerAl - I've updated the original post to clarify that you can override `-inputFormat` and `-outputFormat`.

[2017-10-02 18:59] SteveL-MSFT commented on #4834
With https://github.com/PowerShell/PowerShell/pull/4958, we will be adopting the behavior of other popular cmdline tools like git, curl, bash where `-v` outputs the version and ignores the rest of the cmdline

[2017-10-02 21:57] adityapatwardhan commented on #2608
@daxian-dbw Can we close this issue? Both #4665 and #4315 are closed now?

[2017-10-02 22:28] SteveL-MSFT commented on #4681
`raw` should be raw including the EOL.  Seems like a bug to me.

[2017-10-03 00:51] lzybkr commented on #4923
@PowerShell/powershell-committee - Adding `Breaking-Change` because it is. Were call sites reviewed to evaluate impact? On the surface, it feels low risk, but it's hard to evaluate without knowing where the api is actually used.

[2017-10-03 01:03] Average-Bear commented on #4287
Would like to see Start-Job have -ThrottleLimit compatibility.

[2017-10-03 01:32] mklement0 commented on #4287
@Average-Bear: I suggest you create a new issue (and provide a rationale for your request there).

[2017-10-03 02:16] mklement0 opened #4980 "Get-Content -Raw neglects to read the last character, if it is a LF"
Steps to reproduce
------------------

Save the following to `t.Tests.ps1` and invoke with `./t.Tests.ps1`:

[code]

Expected behavior
-----------------

All tests should pass.

Actual behavior
---------------

The files ending in an LF character are read without that last character.
Note that Windows Powershell is _not_ affected.

[code]

Environment data
----------------

[code]

[2017-10-03 02:18] mklement0 commented on #4681
@SteveL-MSFT: Indeed; please see #4980

[2017-10-03 04:05] #4570 closed

[2017-10-03 06:16] iSazonov commented on #4834
The conclusion is that we don't write an error for `-Version 2.0`. We have plans to implement new side-by-side behavior to run other PowerShell versions and will document this (in docs and Release Notes).

[2017-10-03 08:10] i-give-up commented on #3241
I believe the proper term for `&&` and `||` is "short-circuit operator".

[2017-10-03 09:27] markekraus commented on #3811
@SteveL-MSFT This appears to be fixed (likely due to upstream changes). I can no longer repro this.
@JasonRitchie  Can you confirm this is no longer an issue?

[code]

Result:

[code]

`$PSversionTable`:
[code]

[2017-10-03 09:42] redfish0 opened #4982 "ConvertTo/From-SecureString not running under Linux"
Steps to reproduce
------------------
root@Server1:/home/admin# powershell
PowerShell v6.0.0-beta.7
Copyright (C) Microsoft Corporation. All rights reserved.
PS /home/admin> $Secure = Read-Host -AsSecureString
****
PS /home/admin> $Secure
System.Security.SecureString
PS /home/admin> $Encrypted = ConvertFrom-SecureString -SecureString $Secure
ConvertFrom-SecureString : Unable to load DLL 'CRYPT32.d

[2017-10-03 09:48] iSazonov commented on #4982
@redfish0 Thanks for your report!

It's dup #1654 - fill free to discuss the Issue there.

[2017-10-03 09:48] #4982 closed

[2017-10-03 10:03] davefoxtrin opened #4984 "Online help for new-smbshare not working"
Steps to reproduce
------------------
running the below command opens a page in IE with a URL http://technet.microsoft.comlibrary/jj635722(v=wps.620).aspx
get-help new-smbshare -online
the '/' is missing from the virtual folder path
[code]

Actual behavior
---------------
Page shows incorrect URL
[code]

Environment data
----------------
Name                           Value
----

[2017-10-03 10:29] abaddon82 commented on #4962
I'm not sure what the plans for paging in regards to the help system are, but I'm more of the opinion that Powershell in general could use some sort of Out-Pager.

[2017-10-03 10:41] iSazonov opened #4986 "Enhance PowerShell full command line help"
- [ ] #5780 We should show the full/short command line help in Bash style if a parameter is wrong.
- [x] #4989 We should reformat the help in Bash style:
    - sort parameter list in alphabetical order.
    - replace long header on  powershell[.exe] [options]
- [x] #4989 We should add more examples in line of the help.
- [x] #5275  Add "To get help type Help or Help followed by the command name, s

[2017-10-03 10:44] iSazonov opened #4987 "Remove ImportSystemModules command line parameter"
We should remove ImportSystemModules command line parameter because PowerShell Core don't care  about backward compatibility with Windows PowerShell 2.0.

[2017-10-03 10:46] iSazonov commented on #4987
@mklement0 Could you please help - should we remove anything else here?

[2017-10-03 11:05] markekraus commented on #4986
@iSazonov this is for the PowerShell binary, correct?

Most Linux commands show usage and how to obtain help (`-h`, `--help`, `man`, etc.) on incorrect parameters unless their usage is very simple. Full help leads to the previous command going off console. command history is not always a given in the Linux world. I would prefer short syntax help and how to obtain the full help when I use the wrong

[2017-10-03 11:21] HumanEquivalentUnit commented on #2132
It does work, it's telling you that you don't have a computer called `"abc1, xyz2"` or similar.

In this example `-like` is not an operator, it's a parameter of `Where-Object` so the pattern is parsed in parameter parsing mode. It becomes a single string pattern *containing a comma and a space*. It matches text "*abc anything comma space xyz anything*":

    @{test='abc1, xyz2'} |Where-Object test

[2017-10-03 11:35] HumanEquivalentUnit commented on #2905
I saw this recently https://twitter.com/LincolnAtkinson/status/907708171728257024 ([Code here](https://gist.github.com/latkin/cead06658b45539f16ba1b276095cc5e)) and it's related.

It couldn't be just formatting because it changes the output and has multiple lines, but it does go usefully further in explaining how the group names match up against the input test.

e.g. `Select-String` could get an `

[2017-10-03 13:07] mklement0 commented on #3241
@i-give-up: While short-circuiting is an important aspect of these operators' behavior, both Bash and [POSIX call them _control operators_](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_09_03_06).

If you wanted to get as descriptive as possible, I guess you could call them _short-circuiting Boolean execution-flow control operators_.

So as to make this issue more

[2017-10-03 13:44] iSazonov commented on #4986
@markekraus The Issue is for discussion to collect ideas. :-)

I like short help on error too. We mean an interactive session where typos is a common matter - full help will going to annoy.

[2017-10-03 13:56] markekraus commented on #4986
@iSazonov  by "We mean an interactive session where typos is a common matter"
Do you mean an interactive session in PowerShell?

example:

[code]

[2017-10-03 14:17] JasonRitchie commented on #3811
I believe this was a lack of understanding on my part.

I dug back into this and tried to reproduce it, and I was able to, but resolving it was as simple as setting -ContentType correctly. This worked even when I rolled back to beta.1.

I'll give the details here for anyone else who may come across this.

In my initial naive attempt, you can see the body content is sent in query string format as t

[2017-10-03 14:17] #3811 closed

[2017-10-03 14:27] KexyBiscuit commented on #4984
The very first requirement of opening issue is

As your `$PSVersionTable` output shows, you're using a version which is obsolete. Please go to [Releases](https://github.com/PowerShell/PowerShell/releases) to install the latest preview version of PowerShell and try to repro this issue. If the issue still remains, you can edit your post, or this issue will be closed.

[2017-10-03 14:34] iSazonov commented on #4986
No, the Issue consider command line only `powershell -h`.

[2017-10-03 14:43] amn opened #4988 "Copy-Item with "-Exclude" parameter makes it succeed for non-existing source paths"
Assuming bogus items on filesystem ("C:\", Windows system NTFS partition) "a" and "b", executing `Copy-Item a b` produces, as expected, error where Powershell can't find "a", which does not exist:

    Copy-Item : Cannot find path 'C:\a' because it does not exist.

Attempting to add a bogus `-Exclude c` like `Copy-Item a b -Exclude c` makes the otherwise identical command succeed without error (ch

[2017-10-03 14:47] markekraus commented on #4986
Ok then. Something like this:

[code]

[2017-10-03 14:49] roberocity opened #4990 "Commands fail when cd to a file share on windows"
When working on a file share simple commands fail with Cannot find path error message.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-03 14:50] iSazonov commented on #4986
We can be very short and show only `PowerShell[.exe] -Help | -? | /?`.

[2017-10-03 14:54] markekraus commented on #4986
I personally like being shown the syntax. that way something like this

[code]

doesn't require me to read the full help to see that it was supposed to be

[code]

[2017-10-03 15:12] KexyBiscuit commented on #4990
It does not repro on Windows PowerShell 5.1, but it does repro on PowerShell 6.0.0-beta.7.

[2017-10-03 15:24] iSazonov commented on #4986
Users will most _often_ see this help when there are typos. For newbie "PowerShell[.exe] -Help" is good start.

[2017-10-03 15:29] markekraus commented on #4986
Syntax is useful for typos, IMO.

[code]

then I can easily compare what I typed versus what the correct parameter is. If I have to run the full help and my command goes off screen, I can't easily compare. I may have to scroll and depending on the console I'm working in. that can be either impossible or painful.

[2017-10-03 16:50] SteveL-MSFT opened #4992 "Get PSCore6 preinstalled in Azure VM images"
After 6.0.0 final

[2017-10-03 17:35] #4676 closed

[2017-10-03 17:43] glennsarti commented on #4676
For ref - the icon chosen was https://raw.githubusercontent.com/SteveL-MSFT/PowerShell/new-icon/assets/ps_black_128.svg?sanitize=true

[2017-10-03 17:45] SteveL-MSFT commented on #4676
Fixed your link for you

[2017-10-03 17:51] SteveL-MSFT commented on #4986
From my limited test of Linux commands it seems most complain about the unknown parameter and just tells how to get help.  However, I'm not against showing just the syntax.

[2017-10-03 17:55] glennsarti commented on #4676
Can you edit all my github comments :-P

[2017-10-03 17:56] daxian-dbw commented on #2608
@adityapatwardhan Sure, closed.

[2017-10-03 17:56] #2608 closed

[2017-10-03 18:09] SteveL-MSFT commented on #4990
This doesn't repro for me on Win10 and PSCore6 beta.7.

[code]

[2017-10-03 18:09] SteveL-MSFT commented on #4990
Does the current logged on user have permission to the share and the folder?

[2017-10-03 18:12] SteveL-MSFT commented on #4676
No, but I had to edit your comment again since I deleted my working branch :P

[2017-10-03 18:28] SteveL-MSFT commented on #4987
@iSazonov I have a PR I'm already working on to remove `-sta`, `-mta`, FileConsole code, font changing code, and removing `#if CORECLR`.  I can also remove ImportSystemModules in the same PR.

[2017-10-03 18:36] roberocity commented on #4990
Yes, the user has permission to access the share. The user can run utility from a power shell prompt that  reads the files in the directory, manipulates, and saves them again. That works as expected, but the user can't then cd to another folder on the share.

OS is Windows 7 Enterprise.

[2017-10-03 19:33] SteveL-MSFT commented on #4984
This is an issue in the SMBShare module which is only shipped inbox on Windows and owned by the SMB team.  It appears that their fwlink redirects to an invalid URL.  I opened an issue here to track: https://github.com/PowerShell/PowerShell-Docs/issues/1712

[2017-10-03 19:33] #4984 closed

[2017-10-03 19:53] amanarneja opened #4996 "ConvertTo-JSON: Nested Object of type Newtonsoft.Json.Linq.JObject not converted to Json properly"
Used the following Azure PS commands and discovered that a Nested JObject is just being converted to an Array instead of an Object.
In the repro steps the type of $result.Outputs.mediaServiceFullInfo.Value is of type Newtonsoft.Json.Linq.JObject as you can see in the final JSON Value doesn't have the Key and Values and has a Square Bracket around it.
$result.Outputs.mediaServiceFullInfo.Value.ToSt

[2017-10-03 20:07] SteveL-MSFT commented on #4990
Ok, there's definitely some regression here.  Although I can `cd` into the folder on the share, `dir` fails saying `\share\scratch\steve` doesn't exist (notice the missing slash from the front)

[2017-10-03 20:21] SteveL-MSFT commented on #4975
@mirichmo can you take this one?

[2017-10-03 20:39] lwsrbrts opened #4997 "Install-Module CurrentUser path when Documents is redirected"
I've redirected my "Documents" location on my PC from C:\Users\name\Documents to D:\Google Drive\My Documents. Yes, the new location is called "My Documents" in this location, the point is that I've redirected Documents from its default location to here. The CurrentUser scope for Install-Module seems to ignore the special path for my "Documents" location on disk and just goes with the default C:\U

[2017-10-03 22:22] joeyaiello commented on #4894
@rkeithhill looks like you're right about needing a reference to NETStandard.Library in your .NET Framework project. For now, we need to doc this scenario end-to-end (including the need for that reference), and talk to @terrajobst about the best we should handle this more generally (whether that's shipping a module to the Gallery wrapping those DLLs for folks to depend on, or something else).

[2017-10-03 22:25] joeyaiello commented on #4374
This is a dupe of #4809, I'm repurposing this one for 5.1.

[2017-10-03 22:32] SteveL-MSFT commented on #4997
Thanks for the bug report, but can you open it here: https://github.com/powershell/powershellget/issues

[2017-10-03 22:32] #4997 closed

[2017-10-03 22:39] SteveL-MSFT commented on #4996
I had to scrub out keys from your issue.  Is it possible for you to construct a simpler repro?

[2017-10-04 02:20] amanarneja commented on #4996
Hey Steve
The keys were just samples and had been modified, sorry should have mentioned that.
The repro itself came from an Msdn forum post, but I am assuming if you were to construct a PS object where one of the nested elements is of type Newtonsoft.Json.Linq.JObject  it should repro.
Additionally anyone with an Azure subscription should be able to run  the commamdlets and repro

[2017-10-04 04:28] iSazonov commented on #4986
@mklement0 Could you please comment? Have you ideas?

[2017-10-04 06:25] iSazonov commented on #4992
What about Windows 10 "a Next" and WSL?

[2017-10-04 06:28] iSazonov commented on #4923
Reopen to track previous question.

[2017-10-04 06:30] HumanEquivalentUnit commented on #3666
Escaping backslashes isn't a complete solution, you can't even shell-glob wildcard match them; `gci *` throws an exception in a directory containing `a\b` as a filename:

[code]

[2017-10-04 07:08] aalborghetti opened #4999 "GroupPolicy cmdlets support"
Hi, is there a way to import the group policy cmdlets into the core version of powershell on windows? I tried to import it from version 5.1 but with no results. If it is not yet supported, is support for future versions planned?

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[c

[2017-10-04 09:54] michel2bec opened #5000 "New-Item -Type SymbolicLink -Target a -Path b won't work in "developer mode" without elevation"
Steps to reproduce
------------------
Windows 10 Pro, 1703 15063.608
"Developer mode" activated

[code]

Well this did not work, let's try with good old CMD.exe

[code]
Now let's do it as Administrator, to check it's not some weird syntax issue

[code]

Expected behavior
-----------------

As I'm in "developper mode" I expect New-Item -Type SymbolicLink to work without elevation.

Actual behavior

[2017-10-04 13:21] mklement0 commented on #4986
I agree that the must-have components are:

* an error message that is neither drowned out by other information nor scrolled off screen
* a generic tip on how to get help.

A concise syntax diagram can be helpful, but the emphasis is on _concise_ - such as in @markekraus's hypothetical example - whereas the current `-?` output would be too wordy.

I'm not sure if POSIX mandates the format response

[2017-10-04 13:31] mklement0 commented on #4988
I see the issue too (in PS Core) and it smells like a bug to me as well.

[2017-10-04 13:48] jherby2k commented on #4214
IMO this is silly. cmd.exe is largely hidden in Windows 10 1703, so you would seldom launch powershell.exe from the legacy shell.

[2017-10-04 13:49] iSazonov commented on #4986
I really don't like scrolling so based on samples above I still suggest start with
[code]
Online Help link can be useful for Web/Azure scenarios.

[2017-10-04 13:51] leftler commented on #4996
I too am running in to this issue, the biggest time we run in to it is trying to generate compressed json from the output of a `New-AzureRmResourceGroupDeployment` call.

[2017-10-04 14:02] leftler commented on #4996
Here is a better formatted version of amanarneja's example

[code]
This outputs
[code]
The expected output is
[code]

[2017-10-04 15:51] SteveL-MSFT opened #5002 "Perf improvements to Providers"
While making fixes to filesystem provider, the same calls to NormalizePath(), GetParentPath(), etc... are repeated frequently.  We should look for ways to optimize this caching where appropriate and reducing calls in the code where unnecessary.

[2017-10-04 16:07] SteveL-MSFT commented on #4986
cc @joeyaiello @HemantMahawar for some opinions here

[2017-10-04 16:13] SteveL-MSFT commented on #3666
`-literalpath` should not normalize

In the `get-childitem` case, we'll need to be smarter in the filesystem provider because it tries to normalize all the time.  When it finds the file `a\b` it needs to know that this is literal.

[2017-10-04 16:14] SteveL-MSFT commented on #4992
Getting it into Windows client is a separate effort from Azure which officially only supports Windows Server VMs.  I think the path to WSL is to get it into Ubuntu itself.

[2017-10-04 16:44] mgreenegit opened #5003 "scriptfileinfo psprivatedata is not consistent with module manifests"
The current implementation of New/Test-ScriptFileInfo creates a PSPrivateData section that accepts a string value.  Module manifests accept a hashtable of values.  For consistency, these should be the same.

[2017-10-04 16:53] SteveL-MSFT commented on #4999
@zjalexander do you have any contacts on the GPO team?

[2017-10-04 16:53] #4999 closed

[2017-10-04 16:55] SteveL-MSFT commented on #5003
@mgreenegit can you open the issue here?  https://github.com/powershell/powershellget/issues

Thanks!

[2017-10-04 16:55] #5003 closed

[2017-10-04 17:26] SteveL-MSFT commented on #4923
@lzybkr in our code, most calls are using InvokeScript(script) and the rest don't call this specific overload.  Unfortunately, `InvokeScript` is a pretty common method name so a search on GitHub returns many results, but most I looked at briefly on the first 4 pages aren't PowerShell related.

[2017-10-04 18:19] HumanEquivalentUnit commented on #4214
Not a big fan of this - how often are you typing `powershell` that it becomes a problem? (Also, total bikeshed issue ;) ) In Windows 10 and Server 2016, set "Replace command prompt with Windows PowerShell when I right click the start menu or press Win+X" and it's as short as Win+x, i  or  in Linux, add an alias to your existing shell with the name you prefer.

That said, what about:

 - `ps1` - af

[2017-10-04 18:30] mirichmo commented on #4535
Fixed via #4928

[2017-10-04 18:30] #4535 closed

[2017-10-04 18:45] lzybkr commented on #4923
You need to add an extension when searching - much more useful results:

https://github.com/search?utf8=%E2%9C%93&q=InvokeScript+extension%3Aps1&type=Code
https://github.com/search?utf8=%E2%9C%93&q=InvokeScript+extension%3Apsm1&type=Code

I see many calls to what I think is the same api (mostly in psm1 files), but the parameter in question is always `$null`. I only sampled the results though.

[2017-10-04 19:07] Jaykul opened #5004 "SMA SemanticVersion not SemVer 2 compliant"
First: System.Management.Automation.SemanticVersion is not SemVer v2 compliant

Second: PowerShell releases are using SemVer v2 syntax

Therefore: `$PSVersionTable.PSVersion` is truncated and thus *broken*, as pre-release versions cannot be compared to each other (the only useful assertion possible is that the PSVersion is `-lt "6.0.0"`)

You should be using (an implementation like) Nuget.Core's N

[2017-10-04 20:20] SteveL-MSFT commented on #4923
@lzybkr As best I could tell based on your search results, the [Reflection](https://www.powershellgallery.com/packages/Reflection/4.8) module uses InvokeScript() passing in input/args.  From my basic test, it appears to work fine with the change.  Are you ok to close this?

[2017-10-04 20:30] alx9r opened #5007 "Invoke-WebRequest includes byte order mark in content for files encoded as UTF-8-BOM (a la ISE)"
Steps to reproduce
------------------

Create new file in ISE.  Save as `utf-8-bom.txt`.  Commit and push to github.  Download and inspect the file as follows:

[code]

Expected behavior
-----------------

[code]
116 is the decimal integer representation of the charact "t".

Actual behavior
---------------

[code]

65279 is the decimal integer representation of the Unicode byte order mark.

Enviro

[2017-10-04 20:40] daxian-dbw opened #5008 "powershell 6.0.0-beta.8 release"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a branch named `release` in `PowerShell/PowerShell` repository.
   All release related changes should happen in this branch.
- [x] Run tests on Centos 7 and publish results
- [x] Run tests on Debian 8 and publish results
- [x] Prepare packages
   - [x]  [Build release packages](#building-package

[2017-10-04 20:56] PaulHigin commented on #4940
Fixed with #4993

[2017-10-04 20:56] #4940 closed

[2017-10-04 21:05] SteveL-MSFT commented on #5007
Since the file has a BOM, the output should have a BOM, right?   The first file here is currently saved as UTF-8 w/ BOM and the second as UTF-8 no BOM:

[code]

Seems to be working as expected to me?

[2017-10-04 21:12] markekraus commented on #5007
Hmm I can't repro this with the example provided either.

[code]

In windows 10 this is give me `65279`

[2017-10-04 21:47] SteveL-MSFT commented on #5007
@alx9r please add more details if you think it's behaving incorrectly.  Thanks!

[2017-10-04 21:47] #5007 closed

[2017-10-04 21:48] bergmeister opened #5012 "Feature: Windows Installer to offer option of context menu to open PowerShell in explorer"
As a user, I often want to start PowerShell in the current directory in which I am browsing in explorer.exe.
Being able to have a context menu so that I can just right click and select `Open PowerShell here` or `Open PowerShell as Admininstrator` here would be very useful. Although a user can setup this manually via the Windows registry (see e.g. [here](https://www.howtogeek.com/165268/how-to-add-

[2017-10-04 22:03] SteveL-MSFT commented on #5012
I think if you can make it a checkbox in the installer, then it seems like a great feature.

[2017-10-04 22:10] bergmeister opened #5013 "When starting PowerShell via its exe the new black icon is not applied in the Window (but in the taskbar)"
If you launch PowerShell Core via its exe Windows PowerShell then the window icon is still the old blue one in the window (but the taskbar icon is the new black one of PR #4848). This also affect the proposed context menu in issue #5012.
EDIT: I believe this is an issue with the exe itself because when double clicking on the exe `C:\Program Files\PowerShell\6.0.0-beta.7\powershell.exe` itself the

[2017-10-04 22:36] SteveL-MSFT commented on #5013
The icon is really only applying to the shortcut as the .exe itself doesn't have the icon embedded in its resources.  Proper fix is to add the icon the the resources of the exe, but that's not currently a priority.

[2017-10-04 22:51] alx9r commented on #5007
I suppose that depends on what, exactly, is meant by "Content" for a text file.  I don't have a strong opinion about whether "Content" should include the BOM when present or not.  I do feel fairly strongly, however, that the inclusion or exclusion of a BOM should be consistent across the PowerShell built-in APIs.  Consider that

[code]
outputs 116.  In other words, if you download the file to the

[2017-10-04 23:13] joeyaiello commented on #4836
I totally understand the need for this, but I think that it probably shouldn't be implemented in the host binary. Ultimately, this is the job of the package manager, but I get why we might need something like [virtualenv](https://virtualenv.pypa.io/en/stable/) as well.

However, at this point in the release cycle, it's a pretty high-risk change to bring in (and potentially get wrong), especially w

[2017-10-04 23:15] markekraus commented on #5007
That's `Get-Content` not returning the BOM. The BOM should be there in the file:

[code]

This should come back with no output if `$bytes` and `$UTF8BOM` are the same.

[2017-10-04 23:29] joeyaiello commented on #4962
@SteveL-MSFT and I just spoke on this in our @PowerShell/powershell-committee meeting (no quorum).

We agree wholeheartedly on a few points:
* paging should be the default on Linux/Mac
* `-Full` should be the default (especially given default paging)
* in the fullness of time, we should do something like an `Out-Pager` (even if it's just a wrapper on the default pager, similar to the implementatio

[2017-10-05 01:23] alx9r commented on #5007
@markekraus I think you've missed my point.  My point isn't about whether the BOM does or does not exist in the file's byte stream.  My point is that two built-in APIs treat BOM byte sequences that appear in the byte stream differently:

* `Get-Content` omits the BOM character on decoding
* `HtmlWebResponseObject.Content` includes the BOM character on decoding

The reason I opened this issue is th

[2017-10-05 01:28] SteveL-MSFT commented on #5007
@alx9r we have two issues that I think addresses your valid concern.  One is for file encoding to default to UTF8NoBOM https://github.com/PowerShell/PowerShell/issues/4878, the second is for outputencoding to default to UTF8NoBOM https://github.com/PowerShell/PowerShell/issues/4681.  However, Invoke-WebRequest should return whatever the server returned so if it has a BOM, it should be there.

[2017-10-05 01:37] rkeithhill commented on #4962
I'm a bit less concerned about `Get-Help` on Windows.  Personally I'd **prefer** `-Full` on Windows to be the default but I understand that Windows users might not like that.  And I can use $PSDefaultParameterValues for my personal set up. I guess you could wait until Windows gets a better paging utility before making `-Full` be the default on Windows.

RE help as an alias vs a function - I like t

[2017-10-05 01:53] alx9r commented on #5007
I thought #4878 and #4681 would only alter the way files are encoded.  Am I misunderstanding those?  This issue is about decoding files.  I can't really control the encoding I encounter in files in the wild which is why consistent decoding matters.

The Content property that `Invoke-WebRequest` returns is rather far from the "whatever the server returned":

 * the headers are stripped (compare wit

[2017-10-05 03:35] iSazonov commented on #4836
@joeyaiello I see that VS Code (see link above) discover installed PowerShell versions and allow users run desired version.
Also I know Microsoft SCOR 2012 product. It is based on PowerShell 2.0 (!!!). If users need new features they are forced to run needed version explicitly.
I believe it is better to have the discover feature natively (specially on Windows) - this will make other products more

[2017-10-05 04:12] rkeithhill opened #5014 "git stash list 2>$null crashes PowerShell Beta.7"
Windows 10 CU, PowerShell Core Beta.7, Git 2.14.2.windows.1.

This crash seems to be new and specific to Git 2.14.2.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Git errors or maybe git.exe crashes but PowerShell should not crash.

Actual behavior
---------------
PowerShell crashes.

Environment data
----------------

[code]

FWIW I can crash cmd.exe to with

[2017-10-05 04:13] lzybkr commented on #4923
That module doesn't call the overload that was fixed, so it's not affected by the change.
I'm fine with closing as long as the change is documented properly.

[2017-10-05 04:23] rkeithhill opened #5015 "Need global.json to set the desired SDK version"
I have .NET Core `2.0.2-vspre-006949` installed as well as `2.0.0`.  When I try to build with Start-PSBuild, I get this error:

[code]
FWIW I had just recently run `Start-PSBootstrap` and restarted the console.  And when I got the above error I was running `Start-PSBuild -Clean`.

But in this case, the issue is easily fixed by putting a `global.json` file in the root of the repo with these content

[2017-10-05 04:33] #4923 closed

[2017-10-05 04:35] iSazonov commented on #4962
We can make the pager smarter to ask if we want to get full help.
In the case we could set paging default on all platforms for `Help`. I believe we should leave Get-Help "as is" if anybody want grab a help text in scripts. I haven't thought about it before, but I use `Help` fuction most often then `Get-Help`.

I'll remind that we're planning (1) remove HelpSystem from Engine and make it more flexi

[2017-10-05 04:53] iSazonov commented on #5013
It seems dotnet/cli don't still support embedding custom icon in exe. 😕 https://github.com/dotnet/cli/issues/3267

[2017-10-05 05:08] iSazonov commented on #4923
@SteveL-MSFT Could you please add this in the PR description (it is very short) for future documentation?

[2017-10-05 05:09] lzybkr commented on #5014
This looks like a git/cygwin issue, repros in cmd as well.

[2017-10-05 05:09] #5014 closed

[2017-10-05 05:14] iSazonov commented on #4214
If we're soon to have PowerShell as the default shell on Windows, the file name (lenght) becomes unimportant.

PowerShell Core is portable project - we have to think about Unix, too.

[2017-10-05 05:15] rkeithhill commented on #5014
Agreed. I've been trying to figure out how to submit this to Git but my email address was rejected:
[code]
Kinda judgmental if you ask me. :-)

[2017-10-05 05:18] lzybkr commented on #4962
@rkeithhill - The `more` function honors `$env:PAGER` and the `help` function just pipes to `more`, so there is no need to add `$PSHelpPager` or the like.

[2017-10-05 05:23] rkeithhill commented on #4962
Excellent! I forgot that more was a function.  Good tip to know about.  Thanks.

[2017-10-05 05:23] SteveL-MSFT commented on #5014
This doesn't appear to be an exception that PowerShell can catch.  It seems to be crashing the console due to some threading issue.  I think the best option is to open an issue here: https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo

[2017-10-05 05:41] SteveL-MSFT commented on #5007
The `Content` property is the file that is being served which is what I meant by "whatever the server returned" which would not contain the headers.  The file contains a BOM (see my examples above).  In the case where the file itself doesn't contain a BOM, no BOM is returned.  Perhaps what you want is the ability to re-encode to some target encoding.

[2017-10-05 05:42] SteveL-MSFT commented on #4923
@iSazonov I've already added the `documentation needed` label to the PR

[2017-10-05 06:01] iSazonov commented on #4923
Yes, I see. I meant that the description very short - don't clear that we should document.

[2017-10-05 06:12] iSazonov opened #5016 "Automatic -PSSession parameter"
We should implement  automatic `-PSSession` parameter to expose direct remoting support in all cmdlets.

[2017-10-05 06:18] travisty- commented on #4916
It looks like `-InputObject` is a named parameter on `Set-Service` currently.

I'm working on a fix at the moment; @powershell could you assign this issue to me?

[2017-10-05 06:52] iSazonov commented on #5004
@daxian-dbw We discussed this in previous PR - could you please comment the Issue?

[2017-10-05 08:37] markekraus commented on #4274
This one has finally made it to the top of my to-do list.

Since this works primarily with the `Authorization` header, I think `-Authorization` is a more appropriate name for the parameter.

Thoughts, comments?

[2017-10-05 11:16] raghav710 commented on #3684
@mklement0 how complex is this for a beginner? If its fairly straightforward I'd like to give it a try!

[2017-10-05 11:19] raghav710 commented on #4857
@jongross4 can this issue be tackled by a newbie like me? or would this require some experience with the codebase?

[2017-10-05 12:54] mklement0 commented on #3684
@raghav710:

Shouldn't be too hard:

* Add the new parameter [here](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/FormatAndOutput/out-string/out-string.cs#L20).
* Act on it accordingly [here](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/FormatAndOutput/out-string/out

[2017-10-05 14:06] praveenc opened #5018 "Powershell Crashes whilst using Login-AzureRmAccount Cmdlet on Windows 10"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]
![psbeta-loginazure-crash](https://user-images.githubusercontent.com/1090396/31231403-c129988a-a9b4-11e7-8a1f-5fe74ee430b7.png)

Environment data
----------------

[code]

[2017-10-05 14:08] praveenc commented on #5018
[code]

[2017-10-05 15:06] SteveL-MSFT commented on #5018
The AzureRM module isn't CoreCLR compatible, you have to use the [AzureRM.NetCore](https://www.powershellgallery.com/packages/AzureRM.Netcore) module.  However, PowerShell shouldn't crash either.

[2017-10-05 15:09] SteveL-MSFT commented on #3684
For the docs, the best thing is to create a corresponding doc PR in the [docs repo](https://github.com/PowerShell/PowerShell-Docs) and link it to the PR in this repo.

[2017-10-05 15:12] SteveL-MSFT commented on #4923
I think it's clear enough when my team goes through the `documentation needed` items later.  `args` was being passed to the `input` parameter incorrectly.

[2017-10-05 15:13] SteveL-MSFT commented on #5013
@iSazonov we can use something like this: https://github.com/electron/rcedit

[2017-10-05 15:13] iSazonov commented on #5004
Fix for compare is ready.

[2017-10-05 16:19] chipzoller opened #5019 "Failure when being run with no PATH variable"
CentOS 7.2, Powershell Core 6 Beta 8.

I'm attempting to call just a basic Powershell command (/usr/bin/powershell -Command "& {Write-Output 'Hello, world'}") in a script that is run by a software agent. No matter how the simple command (or PS1) file is passed, the error results similarly:

Prepending this command with strace -v yields the following output.
https://www.dropbox.com/s/4upjmfrf6x2zn8

[2017-10-05 16:33] SteveL-MSFT commented on #4274
In the future, we may want to support other authn schemes like OAuth.  So my preference is to have something extensible.  For the Basic scenario, one option is to support:

[code]

Of course, creating a PSCredential from cleartext user/pass takes a few steps:

[code]

Seems like a bad practice to make it easy to create a pscredential with cleartext as then cleartext passwords show up in scripts, b

[2017-10-05 16:41] lzybkr commented on #5014
@SteveL-MSFT - this is not a crash - powershell/cmd is still running, but cygwin is hiding the wrong window so it looks like it was a crash.

[2017-10-05 16:49] SteveL-MSFT commented on #5019
Not having HOME defined is explicitly handled, but the problem looks like PATH is causing the problem.

[code]

I'll work on a fix.

[2017-10-05 17:26] SteveL-MSFT commented on #5014
@lzybkr that explains why I couldn't get windbg to break

[2017-10-05 17:26] brianary opened #5022 "Suggestion: Add #Requires -Assembly AssemblyName support"
Currently, if I want to reference a .NET assembly like System.Configuration, I do something like this at the top of [my scripts](https://github.com/brianary/scripts "context for this usage"):
[code]
it would be much more readable (and declarative) as something like:
[code]

[2017-10-05 17:38] bergmeister commented on #5013
@iSazonov I don't understand how this can be an issue with the dotnet cli because my thinking is that the old blue PowerShell icon must come from somewhere. Or is this a red herring because PowerShell Core is somehow linked to Windows PowerShell?

[2017-10-05 17:47] SteveL-MSFT commented on #5016
The only minor complication is for cmdlets that already expose it.  Specially the *-PSSession cmdlets.  However, I think it'd be nice to be able to target any cmdlet remotely without having to use Invoke-Command.

[2017-10-05 17:48] SteveL-MSFT commented on #5013
@bergmeister I think the OS is doing something there to show the blue icon from Windows powershell.exe

[2017-10-05 18:05] markekraus commented on #4274
@SteveL-MSFT

My preference has always been to discourage secrets in plain text by not accepting them. If the user wants to go out of their way to create a PSCredentail using plain text, that's on them. If we accept plain text secrets, that's on us.  Though, this kind of breaks down if they can't be imported and exported conveniently (last I checked, you couldn't import/export secure strings in Li

[2017-10-05 18:18] chipzoller commented on #5019
Thanks very much. By setting PATH preceding the command, it does execute successfully. Thanks to @markekraus especially for steps to produce the verbose output.

[2017-10-05 18:19] SteveL-MSFT commented on #4274
@markekraus agree that only adopting the PSCredential pattern is best, `Basic` and `Bearer` makes sense although I wonder if `Token` is a better name for discovery reasons as I'm sure most people not familiar with how the authz headers work won't equate `Bearer` to OAuth

[2017-10-05 18:29] RichardSiddaway commented on #5016
Is this a replacement for the current computername parameter that a number of cmdlets e.g. Get-Process have.  Unifying the remoting approach to remove the DCOM\RPC type emoting would be a good approach

[2017-10-05 18:31] SteveL-MSFT commented on #5016
@RichardSiddaway yes, that is the thinking.  Remove the existing `-ComputerName` parameters that go over RPC (now) and introduce automatic `-PSSession` parameter for a unified remoting experience

[2017-10-05 18:33] RichardSiddaway commented on #4962
I'd still prefer the -Full help to be the default and not paged on Windows.

[2017-10-05 18:33] markekraus commented on #4274
@SteveL-MSFT I was thinking maybe OAuth could be an alias for `Bearer`. It's not easily resolved because many APIs require a `Basic` auth with the a combination of user/pass or client-id/client-secret and that is just as much OAuth as `Bearer` in some users' eyes.

Token could work. But it would be highly specialized for just OAuth.  For `Basic`, there are many APIs that use it outside the context

[2017-10-05 18:34] RichardSiddaway commented on #5016
Good. gets my vote.  Thanks for clarifying.

[2017-10-05 18:43] praveenc commented on #5018
Thanks for the Pointer on AzureRM.NetCore module!
This may be not the right place but any idea when does `Login-AzureRmAccount` in `AzureRM.NetCore` Module would support certificate based authentication?
I'd appreciate if you could point me to the right forum if this is not

[2017-10-05 19:08] RandomNoun7 commented on #4274
Insisting on a secure string for -token seems ok.

If you were to not support -token and insist on -credential for OAuth, my impression is that most scripters are going to take a trip through ConvertTo-secureString anyway to create the credential object. Whether they are getting the Token from a file stored in plain text on disk, or from a password manager API, that's on them, but using a PSCreden

[2017-10-05 19:15] SteveL-MSFT commented on #5018
@praveenc try https://github.com/Azure/azure-powershell

[2017-10-05 19:26] markekraus commented on #4274
@devblackops that looks like +3-ish for that. I'm persuaded. I will modify that.

[2017-10-05 19:36] devblackops commented on #4274
@markekraus Cool. It may make the implementation more complicated but I think the intent is clearer.

[2017-10-05 19:47] bergmeister commented on #5013
Hmm, yes probably. I just found that this issue seems to be a duplicate of #2883

[2017-10-05 19:57] PetSerAl commented on #5022
Why do you put `Add-Type` in `catch`? You could also put `using assembly System.Configuration` on top of script.

[2017-10-05 20:12] bergmeister commented on #5013
I manually tried `rcedit "path-to-powershell.exe" --set-icon "path-to-black-icon"` and although it changes the icon that is displayed in explorer.exe, it did not change the icon of the window

[2017-10-05 20:23] JasonG-STCU commented on #5022
I, too, have used this in a script of mine. It would absolutely be beneficial to be able to include it this way.

[2017-10-05 20:54] SteveL-MSFT commented on #5013
Yes, think is a dupe of #2883

Agree that it's quite possible that the icon is associated to the powershell.exe process.

[2017-10-05 20:54] #5013 closed

[2017-10-05 20:55] SteveL-MSFT commented on #2883
See discussion in #5013 for some of the findings

[2017-10-05 21:08] daxian-dbw opened #5023 "Fix or remove scripts that install powershell on openSUSE"
A manual step is required for install powershell on openSUSE (same as `dotnet-sdk-2.0.0`), so the current scripts that automatically set up powershell on OpenSUSE don't work.
Two scripts are affected:
- tools/download.sh
   It will continue to install the beta.6 powershell openSUSE package.
- tools/installpsh-suse.sh
   It's already broken since beta.7, because we stopped publishing suse.42.1 pack

[2017-10-05 21:23] #5019 closed

[2017-10-05 21:31] rkeithhill commented on #4274
I wonder if the implementation should warn that with `-Authorization Basic` that the unencrypted password will be passed across the wire in base64 encoding (which is easily unencoded)?  Of course, if you did this you'd need a way to suppress that warning.  `ConvertTo-SecureString` uses `-Force` for this:
[code]

[2017-10-05 21:39] rkeithhill commented on #4962
Seems like @RichardSiddaway request could be satisfied if the `more` function was tweaked a bit such that  a null or empty string would bypass using a pager utility.

[code]

[2017-10-05 21:44] brianary commented on #5022
@PetSerAl I wasn't aware of the [`using`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_using?view=powershell-5.1) keyword, though I don't see `assembly` documented as argument to it. Also, our servers are not uniformly on PowerShell 5 just yet, so that extended syntax isn't something we can fully rely on yet (my workstation is stuck on version 5.0.10105.

[2017-10-05 22:07] DHowett-MSFT commented on #4976
This sounds like it should be on the maintainer of `libgssapi_krb5`. Specifically, it is the library owner's job to provide the non-soname symlink without the version number.

Unless we're shipping that in the PowerShell package, of course.

[2017-10-05 22:13] SteveL-MSFT commented on #4274
I think if the address is `https`, I wouldn't provide a warning.  If it's `http`, I think we should require `-AllowUnecryptedBasic` (or something scary like that)

[2017-10-05 22:14] markekraus commented on #4274
@rkeithhill hmm I initially agreed but the more I wrote and rewrote my reply, the more I started to disagree.

The current `-Credential` doesn't warn (it actually does send Basic auth.. just.. only when challenged with `Www-Authenticate: Basic realm=`). It should probably warn for anytime `-Credential` is supplied. That would get annoying for console users accessing a site/api that has basic auth

[2017-10-05 22:15] rkeithhill commented on #4274
@SteveL-MSFT  Good point.  Most of the time I'm hitting internal servers were we're too cheap to buy SSL certs.  :-)  I like the `-AllowUnecryptedBasic` suggestion.

[2017-10-05 22:18] markekraus commented on #4274
@SteveL-MSFT and @rkeithhill how about `-AllowUnencrypedAuthorization`? I would like this to apply to OAuth as well... sending OAuth tokens over non-HTTPS is just as dangerous.

[2017-10-05 22:32] dragonwolf83 commented on #4962
Funny, I never used `help` only `Get-Help`. I'm so used to the cmdlets and the list that is shown in ISE that I forget the non-cmdlet stuff that is available. The fact they work differently bothers me though as there is no indication from the names that they are different implementations.

[2017-10-05 22:48] dantraMSFT commented on #4976
@DHowett-MSFT You're probably right but I don't see how that addresses the existing installations.  Am I missing something?

[2017-10-05 23:04] rusnw commented on #4952
OpenSSH in the current case will suit me as the workaround decision, but with it a creation problem DataSources 64-bit.
64 bit Datasource via ODBCCONF does not create through OpenSSH from Linux on Windows even in case of explicit specifying. It is created 32bit by DataSource in any tried case. It was the cause to refuse OpenSSH in other case.

[2017-10-05 23:16] dragonwolf83 commented on #4274
I still prefer a `-Token` parameter on PSCredential for a few reasons.

1. Don't need to learn yet another method for credential handling.
2. Messing with SecureString is not as clean since you have to use `-AsPlainText -Force` for passing it in interactively.
2. Reusability in custom cmdlets for other scenarios where a `token` or `passphrase` is needed. Custom SSH cmdlets come to mind. Everyone g

[2017-10-05 23:19] dragonwolf83 commented on #4274
@markekraus how about if HTTP warn by default and then have a parameter `-IgnoreUnsecureWarnings`
Unsecure or Insecure?

@rkeithhill I guess we need some `Let’s Encrypt` cmdlets!

[2017-10-05 23:26] markekraus commented on #4274
@dragonwolf83 For interactive secure strings:

[code]

I don't think changing the behavior of PSCredential for this makes sense. `SecureString` is exactly what should be used for this kind of thing. I don't think the usecase for manually entering access tokens is a significant one. Most tokens would be extremely painful to enter interactively.

[2017-10-05 23:33] RandomNoun7 commented on #4274
What if you could use this as an excuse to start moving in the direction browsers are starting to go, where they are warning users about any and all [pages that are http](http://www.zdnet.com/article/google-tightens-noose-on-http-chrome-to-stick-not-secure-on-pages-with-search-fields/)?

A credential going over an un-encrypted connection is just the most obvious danger, but if it's the cmdlet auth

[2017-10-05 23:36] daxian-dbw opened #5027 "New RPM package doesn't work for AmazonLinux"
We have a dockerfile for AmazonLinux (docker/release/amazonlinux), and I found this when validating docker files. It turns out that AmazonLinux doesn't have the package `openssl-libs`.

[2017-10-05 23:41] SteveL-MSFT commented on #4274
For interactive use, I think we should prompt for password or token so user doesn't have to create the securestring.

[2017-10-05 23:48] markekraus commented on #4274
@SteveL-MSFT I'm trying to imagine interactive entry of an OAuth Token, and I'm thinking that is an edge case. Most of the APIs I've been exposed to have massive 60+ character tokens that are not valid for long. I mean, I'm not against adding it, i just don't see it being useful.

Is there a good way to check for an interactive session in the Cmdlet?

[2017-10-05 23:49] rkeithhill commented on #4274
There is an existing pattern for this that applies to all the PowerShell commands that take a credential e.g. `Command -Credential (Get-Credential)`.

[2017-10-05 23:53] markekraus commented on #4274
@RandomNoun7 RE: HTTP warnings. I think that is a good idea, but perhaps that should be tracked as a separate issue and not coupled with the addition basic and bearer authentication.

@rkeithhill then `irm -Token (Read-Host -AsSecureString) ...`?

[2017-10-06 00:02] daxian-dbw commented on #5027
@SteveL-MSFT Amazon Linux is not an officially supported distro for .NET Core 2.0 (see https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md#linux). Do we need to support it?

[2017-10-06 00:25] SteveL-MSFT commented on #5027
No, it's not one we officially support either.

[2017-10-06 00:58] SteveL-MSFT opened #5029 "Windows MSI beta.8 pkg on Windows 10 requires VC++ runtime redist"
The installer didn't require this previously (beta.7) on Win10 but now it does.  We should revisit the dependency check in the msi.

[2017-10-06 00:59] markekraus commented on #4274
Ok.. the [latest commit](https://github.com/markekraus/PowerShell/commit/dd872beea87844e046300e7272d8bc5f0891eedc) has everything except the HTTP warning/block or the "prompting if not provided" (`Basic`, `OAuth`, `Bearer`, `-Token`,`-Credential`, errors, tests.. etc.)

[2017-10-06 01:08] daxian-dbw commented on #5027
OK, I will remove the dockerfile then.

[2017-10-06 03:55] iSazonov commented on #3684
@raghav710  Typically, beginners receive most style comments. Please read out [Coding Guidelines](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/coding-guidelines.md). Mainly you should  follow the style of the surrounding code.

[2017-10-06 04:12] PetSerAl commented on #5022
You can not load same assembly twice anyway. No harm on calling `Add-Type` for already loaded assembly.
[code]

[2017-10-06 04:29] daxian-dbw commented on #5029
This issue causes docker build for windows server core (docker/release/windowsservercore) to fail.

[2017-10-06 05:27] nightroman opened #5031 "v6-beta.8: Potential regression of Remove-Item with wildcards and missing items"
In all previous PowerShell versions (from v2 to v6-beta.7) `Remove-Item`
ignores missing items if they are specified by wildcards, i.e.

[code]

work fine if `z` or `z.*` is missing.

In v6-beta.8 the above commands fail.

Is this by design or a regression?

[code]

[2017-10-06 05:35] raghav710 commented on #3684
@iSazonov @SteveL-MSFT @mklement0  thanks for all the guidance :) That was quite kind of you all :)
Should the issue be assigned before i start working?

[2017-10-06 05:59] nightroman commented on #5031
The change https://github.com/PowerShell/PowerShell/pull/4866 says

This is probably fine for `-literalpath`, using wildcards with it looks like a user error.

But with `-path` wildcards are rather expected and may point to missing items.

[2017-10-06 06:02] nightroman commented on #5031
NB: new failure `remove-item -LiteralPath z.*` (which looks reasonable) is not consistent with `get-item -LiteralPath z.*` which still ignores wildcards.

[2017-10-06 06:40] iSazonov commented on #3684
We cannot formally assign you today because your GitHub status is still not `Contributor`.

[2017-10-06 08:34] arturaz opened #5032 "Array parameters do not work on OS X v6.0.0-beta8"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Environment data
----------------

[code]

[2017-10-06 10:24] markekraus commented on #4274
And now I have a super scary error just in time for Halloween 🎃
https://github.com/PowerShell/PowerShell/compare/master...markekraus:BasicAuthentication

@SteveL-MSFT I don't think prompting for the token makes sense. It would complicate the cmdlet code to handle something that should be done outside of it. As @rkeithhill mentioned, there is already an existing pattern for this kind of behavior an

[2017-10-06 11:37] nmbradford commented on #3849
Adding my vote - I was hoping to use ShellInABox to provide web access to PowerShell running in a docker instance and have hit the same issues.

[2017-10-06 12:56] thezim opened #5034 "powershell.exe does not contain all VersionInfo properties."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The following contain values.

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-06 14:39] SwarfegaGit opened #5036 "Get-ComputerInfo crashes on Windows 7 x64"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

To not crash?

Actual behavior
---------------

[Imgur](https://i.imgur.com/dOQPSQa.png)

Environment data
----------------

[code]

[2017-10-06 15:47] SteveL-MSFT commented on #5036
Dupe of https://github.com/PowerShell/PowerShell/issues/2777

[2017-10-06 15:47] #5036 closed

[2017-10-06 15:55] SteveL-MSFT commented on #5034
I believe this is due to dotnet.exe build doesn't insert those resource values.  Related https://github.com/PowerShell/PowerShell/issues/2883

[2017-10-06 15:58] SteveL-MSFT commented on #5031
@nightroman can you open a separate issue for `Get-Item -LiteralPath`?  `-Path` behavior shouldn't have changed, will look into this.

[2017-10-06 16:05] daxian-dbw commented on #5008
Windows docker build failed due to #5029

[2017-10-06 16:45] brianary commented on #5022
I'll have to look into the `using` syntax (I hope it gets added to the docs, and is officially supported) once I can finally upgrade things and get the new features.

However, even on a newer machine, there's a pretty big performance difference:
[code]
on my older machine, it's even bigger:
[code]

[2017-10-06 16:56] SteveL-MSFT commented on #5032
If you call your script from within PowerShell, it works as expected.  When using `-File` with `PowerShell.exe` the arguments are passed as string literals (although $true and $false are special cased) to the script as arg values.  This is currently `by design`(see https://github.com/PowerShell/PowerShell/issues/4036#issuecomment-311759499).  Workaround is to use:

[code]

This works as you expect

[2017-10-06 16:56] #5032 closed

[2017-10-06 17:46] SteveL-MSFT commented on #5016
There's a couple of interesting aspects about this we should consider:

1. if the target doesn't have the cmdlet, can we proxy or install it?
2. can we make this pluggable so modules can participate.  For example, imagine a future AzureRM.NetCore module where you can get an automatic `-azureComputerName` type parameter so you can more easily run commands against Azure targets

[2017-10-06 17:52] SteveL-MSFT commented on #4274
I'm ok without the prompting.  Thanks for working on this!

[2017-10-06 17:53] SteveL-MSFT commented on #3684
@raghav710 consider it implicitly assigned to you :)

I'll assign it to myself so no one else ends up duplicating your work.  Thanks!

[2017-10-06 17:56] HumanEquivalentUnit commented on #3174
Agree that `-OutFile` makes more sense as a literal path. (It only makes sense as a literal path?). If the wildcard resolves to multiple files then `Invoke-WebRequest` throws an exception.

But there could be scripts which depend on the wildcard resolving to a single filename - that does work, so it might be a breaking change. In that case `-LiteralOutFile` as a new parameter?

[Here is the code w

[2017-10-06 18:05] iSazonov commented on #5029
Did it come after adding new icon?

[2017-10-06 18:06] devblackops commented on #4274
Thank you @markekraus! This will be a great addition.

[2017-10-06 18:20] iSazonov commented on #5016
PowerShell Virtual Machine?

[2017-10-06 18:20] arturaz commented on #5032
Why does it then differ from the behavior on Windows?

On Oct 6, 2017 19:56, "Steve Lee" <notifications@github.com> wrote:

[2017-10-06 18:25] SteveL-MSFT commented on #5032
I'm seeing the same behavior on Windows PowerShell and PSCore6 on Win10.  Can you provide more details?

[2017-10-06 18:27] #4889 closed

[2017-10-06 18:28] SteveL-MSFT commented on #3174
I think in general, output paths should be literalpaths.  The behavior of matching a file seems unpredictable at best and clobbering something unintentional at worst.

[2017-10-06 18:40] SteveL-MSFT commented on #5029
@iSazonov I think it was #4745

[2017-10-06 18:42] iSazonov commented on #5029
Thanks! Clear - we don't check OS version.

[2017-10-06 18:45] alx9r commented on #4899
@markekraus Is the intent that the usual certificate checks are omitted when the `-CertificateValidateScript` is provided?  If so, is there some way to invoke those checks from the user scriptblock?

The reason I am asking is that `Invoke-WebRequest` is currently very permissive of bad certificates (you can run [this test](https://raw.githubusercontent.com/alx9r/BootstraPS/master/Riders/badsslTest

[2017-10-06 18:50] janegilring commented on #4062
Import-Module AzureAD
Connect-AzureAD

Unhandled Exception: System.TypeLoadException: Could not load type 'System.Drawing.Icon' from assembly 'System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
   at System.Windows.Forms.Form.Dispose(Boolean disposing)
   at System.ComponentModel.Component.Finalize()
connect-azuread : One or more errors occurred. (Could not load ty

[2017-10-06 18:57] HumanEquivalentUnit commented on #4962
Dumping ten screensfull of plaintext, monochrome help into the scrollback feels archaic, compared to `Get-Help -Online`. Or even `Get-Help -ShowWindow`. Being in the scrollback means you can't type or try your command, even a good pager takes over the entire screen until you quit it.

Is there any way the default help could show you something you can reference *while* writing and trying commands?

[2017-10-06 19:01] markekraus commented on #4899
@alx9r The intent is that the `ScriptBlock` completely replaces the usual logic associated with certificates with that of the logic supplied in the block.

However, you have access to the `SslPolicyErrors` object. The default check is to ensure that it is `None`

This is the equivalent PowerShell ScriptBlock implementation through my proposed PR

[code]

Using that, the behavior would not change f

[2017-10-06 19:08] iSazonov commented on #4899
Using `SslPolicyErrors`  object is not obvious. Does it make sense to put it into parameters?

[2017-10-06 19:15] markekraus commented on #4899
@alx9r Regarding the `-SkipCertificateCheck`, that has precedence. meaning, that if it is supplied all validation is ignored and any certificate will be accepted.

PowerShell Core uses `HttpClient` and the current implementation of the Web Cmdlets creates a one-time-use `HttpClientHandler` for each call to the Web Cmdlets. The `HttpClientHandler` is the mechanism through which the certificate vali

[2017-10-06 19:23] iSazonov commented on #5027
Could we document PowerShell Core package dependences to help users to install PowerShell on unsupported distributives?

[2017-10-06 19:30] markekraus commented on #4899
@iSazonov Parameters for what? the `SslPolicyErrors` object is passed to the user supplied callback by the `HttpClientHandler` during SSL key exchange. In my PR it is already being passed as `$SslPolicyErrors`

https://github.com/markekraus/PowerShell/blob/06ae9e2219b900e80f7fec20a0e52d28e55a7256/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreCl

[2017-10-06 19:52] SteveL-MSFT commented on #4962
@HumanEquivalentUnit the latter point about showing reference while still using the console is something we're looking to address during 6.1.0 timeframe.

[2017-10-06 19:53] iSazonov commented on #4899
PowerShell allow do complex things easily. We should thing how make the callback easy to use.
`-AfterCertificateValidateScript` - validate after standard checks.
`-ReplaceCertificateValidateScript` - validate instead of standard checks.

[2017-10-06 19:56] SteveL-MSFT commented on #4962
@rkeithhill the problem is that `$env:PAGER` is `$null` by default unless explicitly set and if `$null` it defaults to `more` on Windows and `less` on non-Windows.

[2017-10-06 20:03] cfinnberg opened #5039 "Strange behaviour with arrays and variable scope"
Sorry if title is not explanatory but I don't know how to properly explain this with words (with code is easy ).

When working with a function, variable scope is not working as expected with arrays.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

Additional information
-

[2017-10-06 20:04] markekraus commented on #4899
@iSazonov I don't think we should over-complicate these cmdlets with more parameters for a feature that has a limited user scope that is already advanced. If I'm new to the language and I see the 2 primary web cmdlets have some these  parameters:

[code]

I'm going to be very overwhelmed.

I was going to suggest an `about_` topic that would include how to implement around `$SslPolicyErrors`. I per

[2017-10-06 20:07] rkeithhill commented on #4962
Makes sense.  I was going to suggest that folks could write a simple script:
[code]
and then set `$env:PAGER = "C:\no-pager.ps1" but the `more` function is designed to only work with apps.  :-(  I guess the `more` function could be made to recognize a value of `None` but not sure if it's worth it.

[2017-10-06 20:11] rkeithhill commented on #4274
Heck yeah!  Thanks @markekraus.  I sure hope this make it into 6.0.0.

[2017-10-06 20:13] rkeithhill commented on #4899
Can you just add examples to the help to show what scriptblock is needed for these particular cases?  That would be more useful than an `about` topic unless it requires a lot of supporting text.  Honestly, the issue with `about` topics is that folks don't find them that often compared to the help for the command.

[2017-10-06 20:21] SteveL-MSFT commented on #4962
Not a great solution, but people can always overwrite the `more` function

[2017-10-06 20:23] markekraus commented on #4899
It, unfortunately, requires a bunch of supporting text, more than is acceptable for a parameter. The idea I had was to add the `about_` topic and have that listed in the parameter help which would also have some small examples and details.  "For more examples and details see get-help about_CertificateValidationScript".

If the web cmdlets didn't already have a heroic epics worth of text in their h

[2017-10-06 20:24] nikonthethird commented on #2463
@SteveL-MSFT Is there a working build for beta.8?

[2017-10-06 20:25] markekraus commented on #4274
@rkeithhill me too. This has been on my PowerShell wishlist for a long time. I have been wrapping this functionality for awhile. I can't wait to rip that out of my own code once it's finally baked into the cmdlets.

[2017-10-06 20:27] RandomNoun7 commented on #4274
@markekraus This is going to be fantastic. Thanks for working on this.

[2017-10-06 20:29] SteveL-MSFT commented on #5039
Definitely looks like a bug to me

[2017-10-06 20:30] SteveL-MSFT commented on #2463
@nikonthethird not until CoreCLR puts out a 2.0.x servicing build.  We're not moving to CoreCLR 2.1.x for 6.0.0 release as it's not stable.

[2017-10-06 20:36] MaximoTrinidad opened #5040 "Beta.8 - Installation not removing previous version (Beta.7)"
Seems like. after doing 'Update-Help -force' in previous version, it won't remove the previous folder because of the *HelpInfo.xml files.

Steps to reproduce
------------------
Open File Explorer and search inside the C:\Program Files\PowerShell\6.0.0-beta.7

Expected behavior
-----------------
To remove previous version.
[code]

Actual behavior
---------------
Previous version folder is not remov

[2017-10-06 20:39] iSazonov commented on #5039
It seems like it's already been something like this.

[2017-10-06 20:46] tasaif opened #5041 "Context variable - Feature Request"
I would like to be able to pass contexts around as a variable so that I can modify variables from one script block in another script block via the scope

[2017-10-06 20:53] SQLDBAWithABeard commented on #3957
Yes to enabling a seperate searchable help window a la -showwindow. That's a useful capability

[2017-10-06 20:59] #4913 closed

[2017-10-06 21:46] PaulHigin commented on #4615
Another repro is to simply run the "clear" command, which makes host.UI.RawUI calls.
[code]

[2017-10-06 22:10] SteveL-MSFT commented on #5040
If you did `install-module` (allusers scope) or update-help, it creates files in $PSHOME.  What we should probably do is migrate the modules folder to the new install so you don't have to reinstall those modules or re-update help.

[2017-10-06 22:13] organicit opened #5042 "broken redhat download link in readme.md"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-06 23:11] SteveL-MSFT commented on #4274
@markekraus I'm assigning this to myself since GitHub won't let me put your name there so that no one duplicates your work

[2017-10-06 23:12] SteveL-MSFT commented on #5042
@daxian-dbw can you fix this?

[2017-10-06 23:18] daxian-dbw commented on #5042
Sure, right away.

[2017-10-06 23:37] MaximoTrinidad commented on #5040
Thanks @SteveL-MSFT!  I just didn't realized the Help xml to be an issue.  No worries!
:)

[2017-10-06 23:39] hamidshahid commented on #2736
I see that this was done? Can we have an sample of how to use the Formatting parameter please.

[2017-10-06 23:56] #5042 closed

[2017-10-07 00:10] SteveL-MSFT commented on #2736
@hamidshahid there's no new parameter, the output should just be prettier:

[code]

[2017-10-07 00:12] SteveL-MSFT commented on #5041
Can't you do this today with hashtables for the context and using allscopes to pass around?

[2017-10-07 01:35] HumanEquivalentUnit opened #5047 "Get-Date -UFormat '' throws an unhelpful exception for an empty string argument"
An empty string argument in `Get-Date -UFormat ''` throws `IndexOutOfRangeException`, it would be more helpful if the error said what was wrong and directed attention to the UFormat argument. "Missing or Invalid UFormat String" or words to that effect.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment d

[2017-10-07 01:43] hamidshahid commented on #2736
Thanks Steve, I was expecting formatting to be similar to the one we get with Formatting.Indented option in NewtonSoft Json library but it's cool

[2017-10-07 02:22] SteveL-MSFT commented on #5047
Agree, all error messages should be actionable by the user (or informative if not possible)

[2017-10-07 02:58] SteveL-MSFT commented on #4899
@markekraus perhaps you can submit PR to https://github.com/PowerShell/PowerShell-Docs/blob/staging/reference/6/Microsoft.PowerShell.Utility/Invoke-RestMethod.md and add some examples?

[2017-10-07 04:14] DdWr commented on #5047
I'll give this one a shot.

[2017-10-07 06:28] iSazonov commented on #4899
The best traditional approach to creating documentation is to have three guides - a description of the syntax (fast discover features, syntax and short examples), a user guide (full feature description), and a description of the scenarios (HowTo).

[2017-10-07 06:37] iSazonov commented on #5047
@DdWr Thanks for grab this.  Typically, beginners receive most style comments. Please read out [Coding Guidelines](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/coding-guidelines.md). Mainly you should  follow the style of the surrounding code. Also please add a test (use our ShouldBeErrorId function). Place new error message in appropriate Resx file.

[2017-10-07 07:23] ssbarnea opened #5049 "Unable to install powershell on MacOS without root access (brew)"
It seems that at this moment root/admin access is needed in order to install powershell on MacoS.

This is an issue for two reasons:
- a shell should not need admin to be installed (i installed zsh, fish, tcsh, ...) without needing admin
- prevents automation and CI usage, like on Travis

Steps to reproduce
------------------
Follow install instructions and do:

[code]

Expected behavior
---------

[2017-10-07 08:06] iSazonov commented on #5029
I think better check Universal runtime.

[2017-10-07 10:58] trondhindenes opened #5050 "Powershell Core is unable to enumerate module with casing differences, install-module silently fails"
Steps to reproduce
------------------
Given a Powershell module where the module "name" is Testtest and the psd1 manifest file is named TestTest (notice casing differences), Powershell Core simply disregards the module. This is fine in most cases, but if using Install-Module to install a module with this error from a nuget feed, the install silently fails, instead of reporting the error.

When usi

[2017-10-07 11:00] markekraus commented on #4899
@SteveL-MSFT I was planning to do that after the PR here was merged. But I guess there is no harm in doing it beforehand.

@iSazonov This was my planned approach:

* Example section would include the before/permissive and after/restrictive scenarios.
* Parameter section would provide a description, include details about the auto-variables, another small example, and a link/mention to the about_ to

[2017-10-07 12:06] markekraus commented on #4274
PR #5052

[2017-10-07 14:15] pldmgg opened #5053 "PowerShell Core AppImage breaks networking on Ubuntu, Debian, CentOS, and RedHat"
### System Details

I've tested / reproduced this issue on all of the the following systems:

 - Operating System: Ubuntu 16.04.2 LTS
Kernel: Linux 4.10.0-35-generic

- Operating System: Debian GNU/Linux 8 (jessie)
Kernel: Linux 3.16.0-4-amd64

- Operating System: Debian GNU/Linux 9 (stretch)
Kernel: Linux 4.9.0-3-amd64

- Operating System: CentOS Linux 7 (Core)
Kernel: Linux 3.10.0-514.16.1.el7.x

[2017-10-07 14:17] daviwil opened #5054 "PowerShell Core AppImage breaks networking on Ubuntu, Debian, CentOS, and RedHat"
_From @pldmgg on October 7, 2017 14:5_

### System Details

I've tested / reproduced this issue on all of the the following systems:

 - Operating System: Ubuntu 16.04.2 LTS
Kernel: Linux 4.10.0-35-generic

- Operating System: Debian GNU/Linux 8 (jessie)
Kernel: Linux 3.16.0-4-amd64

- Operating System: Debian GNU/Linux 9 (stretch)
Kernel: Linux 4.9.0-3-amd64

- Operating System: CentOS Linux 7 (C

[2017-10-07 14:17] daviwil commented on #5054
_From @markekraus on October 7, 2017 14:9_

I was able to repro this in both `PowerShell-6.0.0-beta.7-x86_64.AppImage` and `PowerShell-6.0.0-beta.8-x86_64.AppImage`

There appears to be an issue with DNS resolution in some instances. assuming the appimage is run as a normal user, ping works, but curl and nslookup do not. ping is unable to resolve if you run appimage as sudo.

The impact is that th

[2017-10-07 14:17] daviwil commented on #5054
Seems like this issue should be filed at the PowerShell/PowerShell repo? I can move it there for you if you think it's not related to the PowerShell extension for VS Code.

[2017-10-07 14:17] daviwil commented on #5054
_From @markekraus on October 7, 2017 14:16_

ye.. woops.. wrong repo... https://github.com/PowerShell/PowerShell/issues

[2017-10-07 14:17] daviwil commented on #5054
Not a problem :)

[2017-10-07 14:18] markekraus commented on #5053
I was able to repro this in both `PowerShell-6.0.0-beta.7-x86_64.AppImage` and `PowerShell-6.0.0-beta.8-x86_64.AppImage`

There appears to be an issue with DNS resolution in some instances. assuming the appimage is run as a normal user, ping works, but curl and nslookup do not. ping is unable to resolve if you run appimage as sudo.

The impact is that the web cmdlets are also unable to resolve hos

[2017-10-07 14:19] SteveL-MSFT commented on #5053
@probonopd can you help with this?

[2017-10-07 14:22] pldmgg commented on #5054
Guys sorry, I didn't realize you moved this one already, I opened up #5053 right before #5054 was created.  So they're the same thing.

I'm just gonna put the keyboard down for a while :(

Let me know if I can help

[2017-10-07 14:24] pldmgg commented on #5053
Guys sorry, I didn't realize my original erroneous issue post over at vscode-powershell was moved here as #5054, (I opened up #5053 right before #5054 was created via the move).  So they're the same thing.

I'm just gonna put the keyboard down for a while :(

Let me know if I can help

[2017-10-07 14:29] SteveL-MSFT commented on #5050
@trondhindenes thanks for reporting this issue, but can you cut and paste it over here? https://github.com/powershell/powershellget/issues

Thanks!

[2017-10-07 14:29] #5050 closed

[2017-10-07 14:32] RichardSiddaway commented on #5016
Automatically installing a cmdlet on a remote machine isn't a good thing. Do you install the module containing the cmdlet or just the module. What's the impact is something goes wrong. In the event of a problem on the remote machine how do you stop the automatic install of a cmdlet being blamed  - - "well it was the last change so it must have caused the problem" type argument.
Proxying the cmdlet

[2017-10-07 16:13] #5054 closed

[2017-10-07 16:24] raghav710 commented on #3684
@mklement0 I notice that when the -Stream switch is used, no newline is appended. Should I make the behaviour consistent and add in a newline when -NoNewLine is not set?

[2017-10-07 16:38] iSazonov commented on #5016
Do "pluggable" needs a public API in SDK?

[2017-10-07 17:12] iSazonov commented on #3684
`-Stream` turn out internal formatting in Out-String. I think `-Stream` and `-NoNewLine` should be in different parameter sets.

[2017-10-07 18:09] iSazonov commented on #473
Get-PfxCertificate was added in #3224 for Windows and Unix.
What do we track here? Maybe close?

[2017-10-07 18:12] iSazonov commented on #476
It seems dup #4154

/cc @SteveL-MSFT @adityapatwardhan Can we close this?

[2017-10-07 18:24] iSazonov commented on #709
@SteveL-MSFT you fixed this in #4567

[2017-10-07 18:28] iSazonov commented on #726
I see now ProgramSynthesis lives! Current version is 4.0.0.
Can we get any progress with the Issue?

[2017-10-07 18:37] mklement0 commented on #3684
Yes, `-Stream` and `-NoNewline` should be mutually exclusive and should therefore be in different parameter sets.

All `Out-String` output goes through the formatting system to generate multi-line string output; by default, the result is output as a _single_, multi-line string; `-Stream`, by contrast, outputs the lines as a string _array_, and the individual array elements - the lines - should _ne

[2017-10-07 19:09] iSazonov commented on #992
Since #3558 merged it seems we can get a fix for this.
/cc @SteveL-MSFT @mklement0

[2017-10-07 19:25] iSazonov commented on #1975
[Bash workarounds](https://unix.stackexchange.com/questions/39291/run-a-command-that-is-shadowed-by-an-alias):
[code]

[2017-10-07 19:28] andschwa commented on #476
I think more time has been spent moving this issuearound than it would have taken to do it at this point. Since there's a newer (and more detailed) issue open, I'll close it.

[2017-10-07 19:28] #476 closed

[2017-10-07 19:56] iSazonov commented on #2064
Fixed by #4758

[2017-10-07 19:56] #2064 closed

[2017-10-07 20:05] iSazonov commented on #2707
Currently we have one package for all versions.

[2017-10-07 20:05] #2707 closed

[2017-10-07 20:06] iSazonov commented on #2662
/cc @markekraus Have you interest to grab this?

[2017-10-07 20:58] mklement0 commented on #992
Note: In this discussion, we're equating PowerShell _profiles_ with _one_ type of initialization file in POSIX-like shells here, the "_individual per-interactive-shell startup file"_, as Bash calls it, stored in `~/.*rc` files; e.g., `~/.bashrc` for Bash. In POSIX-like shells, _profiles_ are distinct initialization files (which, unlike the `~/.*rc` files, exist both on a system and at a user level

[2017-10-07 21:16] markekraus commented on #2662
@iSazonov can you add the Area-Cmdlets-Utility Label to it?

I'll add it to my list of things to look into and leave it up for grabs if someone else has the bandwidth before I can get to it.

[2017-10-07 22:02] xee5ch commented on #5012
I have been meaning to learn about WiX for years now, and a quick examination shows this is a WiX-based installer.  Can I take a stab at this?

[2017-10-07 23:10] bergmeister commented on #5012
Yes, it is a WiX based installer. I have not started on it yet, so feel free to give it a try and also ask questions. It is very easy to build via this PowerShell function [here](https://github.com/PowerShell/PowerShell/blob/master/build.psm1#L1802) and you do not even need to build the whole project, you could just point the `-ProductSourcePath` parameter to a bin folder of a dummy project as lon

[2017-10-07 23:38] SteveL-MSFT commented on #5012
@xee5ch consider this yours!  I've assigned it to myself as GitHub won't allow me to assign it to you, but I don't want other people duplicating your work.

[2017-10-07 23:45] SteveL-MSFT commented on #726
Don't think we'll get to this for 6.0.0, putting it in 6.1.0 for now

[2017-10-07 23:46] SteveL-MSFT commented on #5016
@iSazonov yes, pluggable means public api

[2017-10-08 00:09] xee5ch commented on #5012
Ok.  Not sure on the ETA.  I am newbish to Powershell, love what's being done, and need to review how to get the registry keys for the context menu (I know that part) but need to figure WiX and how to get that together.

Hopefully will be back in the next few days with something passable.  Thanks for the more welcome.

[2017-10-08 00:16] xee5ch commented on #5012
And just saw your comments, @bergmeister.  Apparently, you did all the research for me.  That will cut down turnaround time.

[2017-10-08 00:30] SteveL-MSFT commented on #5012
@xee5ch don't worry about rushing it.  We'll keep having ~3 week releases (even after 6.0.0 final), so it'll get into a release eventually :)

[2017-10-08 00:31] #709 closed

[2017-10-08 00:52] xee5ch commented on #5012
Roger that.  But the likes of you all throwing pointers in my direction so quickly will motivate me to be good about this.

[2017-10-08 03:40] mklement0 commented on #992
Here's how Bash determines if an instance is non-interactive - such as when invoked via a shebang line (as stated, non-interactive instances by default do not load _any_ initialization files):

Note that the use of shebang line `#!/bin/bash` in, for example, script `/tmp/foo` results in invocation
`/bin/bash /tmp/foo`.

[2017-10-08 06:47] raghav710 commented on #3684
I've added the code and a couple of tests. I tried the Current behaviour and desired behaviour commands and both work as expected. The behaviour of -Stream is not impacted.
Thanks!

[2017-10-08 06:48] iSazonov commented on #992
Interesting, if we install PowerShell in different locations across supported Unix platforms why not create a link to current version in `/bin`? Have we `bash` on all platforms there?
Sometimes loading a profile in non-interactive mode can be useful, ex. load a compatibility module. So automatic detection of non-interactive mode id not best way for PowerShell. Since we discuss using a short name (

[2017-10-08 07:10] nightroman opened #5057 "Get-Item -LiteralPath with FileSystem should fail on paths with wildcards"
If a path specified by `-LiteralPath` does not exist (or is not valid, i.e.
contains forbidden characters) then `Get-Item` should emit an error.
Currently this does not happen if a path is defined as a wildcard.

The change #4866 fixed this issue for `Remove-Item`.
The same or similar should be done for `Get-Item`.

**Example:**

<strike>Given items `z.*` and `[z]` do not exist</strike>
EDIT: Give

[2017-10-08 07:10] nightroman commented on #5031
https://github.com/PowerShell/PowerShell/issues/5057

[2017-10-08 07:31] PetSerAl commented on #5039
Looks like related to #4312.

[2017-10-08 07:59] iSazonov commented on #2686
Should we silently skip directory objects as `Unblock-File` because we can get paths from pipeline?

[2017-10-08 08:08] iSazonov commented on #2841
The same for:
[code]

[2017-10-08 08:29] iSazonov commented on #2891
@SteveL-MSFT Can we close the Issue?

[2017-10-08 08:32] iSazonov commented on #2885
It is dup #1975

[2017-10-08 08:32] #2885 closed

[2017-10-08 09:23] iSazonov commented on #2956
@SteveL-MSFT Should we have a conclusion from powershell-committee? Won't fix?

[2017-10-08 09:27] iSazonov commented on #2748
It is dup #3670

[2017-10-08 09:27] #2748 closed

[2017-10-08 09:30] iSazonov commented on #3670
@SteveL-MSFT  What is a conclusion here? Do we need a fix before RTM?

[2017-10-08 09:33] iSazonov commented on #3012
@markekraus Do we ready to close the Issue?

[2017-10-08 09:42] iSazonov commented on #3004
Any plans to put PSWA on GitHub?

[2017-10-08 09:48] iSazonov commented on #3156
Can we close the Issue?

/cc @SteveL-MSFT

[2017-10-08 09:50] #2930 closed

[2017-10-08 09:54] #3137 closed

[2017-10-08 10:10] iSazonov commented on #3192
We should port `Test-Connection` from WMI to .Net Core. It is ready on 80% in my repo and new tests too

[2017-10-08 10:10] #3192 closed

[2017-10-08 10:15] iSazonov commented on #2841
Related comment from @lzybkr  https://github.com/PowerShell/PowerShell/issues/3173#issuecomment-281847067

[2017-10-08 10:24] iSazonov commented on #3172
Can we implement a generic algorithm based on a schema to being more flexible

[2017-10-08 10:29] iSazonov commented on #5039
@PetSerAl Thanks for the reference!

@cfinnberg Do you agree that this is dup #4312 ?

[2017-10-08 10:41] markekraus commented on #3012
Yes. this work is being tracked int #2504. This issue can be closed.

[2017-10-08 10:43] iSazonov commented on #3240
@mklement0 It seems the second sample works by design without "?".

[2017-10-08 10:47] iSazonov commented on #1563
If we plan a breaking change it is better make it before RTM.

[2017-10-08 10:56] iSazonov commented on #2836
@SteveL-MSFT You fixed this - so close.

[2017-10-08 10:56] #2836 closed

[2017-10-08 10:58] iSazonov commented on #3245
@mklement0 We had related PRs - could you please re-check the Issue?

[2017-10-08 11:09] iSazonov commented on #3348
@SteveL-MSFT I think we should fix this before RTM.

[2017-10-08 11:11] #1372 closed

[2017-10-08 11:12] #3406 closed

[2017-10-08 11:14] iSazonov commented on #3403
Can we close the Issue?

/cc @SteveL-MSFT

[2017-10-08 11:15] #3012 closed

[2017-10-08 12:25] cfinnberg commented on #5039
Yes, it seems to be related. I can't be 100% sure, but for now I close this as duplicate of #4312.

[2017-10-08 12:25] #5039 closed

[2017-10-08 12:37] cfinnberg commented on #4312
I just closed a dup of this. But just to note that, $private:var seems to have same effect as remove-variable. :var can be any variable, even a non-existent one.

[code]

[2017-10-08 13:27] mklement0 commented on #3240
@iSazonov: Good point, but it only works without the `?` unless `Set-StrictMode -Version 2` or higher is _not_ in effect - I've updated the initial post to make that clear.

[2017-10-08 14:50] thezim commented on #2662
@markekraus seems straight forward. I'll look in to it.

[2017-10-08 15:00] markekraus commented on #2662
@thezim Is the idea that outside of the provided crypto-proto(s) it will return an error? or to "best effort" the provided protocol?

One concern will be testing it. We need a separate port for each crypto-proto. WebListener will need to be expanded to include those ports and protocols. I'm not sure what all Kestrel can handle, but I believe at-least the ones you listed are available.

[2017-10-08 15:28] thezim commented on #2662
@markekraus yes, anything outside of `System.Net.SecurityProtocolType` would error, `ServicePointManager` only accepts those. I've already modified WebListener to accept a new protocol argument, I didn't see the need to add an additional port as specifying the protocol to Kestrel was easy. New controller and view was added as well for testing feedback.

[2017-10-08 15:33] iSazonov commented on #2662
We should follow CoreFX  [SecurityProtocolType](https://github.com/dotnet/corefx/blob/1ae37add7583acebfa21bbc2074ab627a2f765a7/src/System.Net.ServicePoint/src/System/Net/SecurityProtocolType.cs) - the parameter should be the type.
It seems we can use one port for tests.

[2017-10-08 15:45] iSazonov commented on #3560
Should we fix/close this before RTM?

[2017-10-08 15:50] markekraus commented on #2662
@thezim The reason we would want separate ports is for ensuring a protocol. If you have some other way of ensuring a the parameter when set to TLS12 is erroring when SSL3 is used, then that's fine.

Since `ServicePointManager` is persistent, we should implement on `HttpClientHandler.SslProtocols` instead. If users want to set their own persistent protocols, they can research those APIs, but if we

[2017-10-08 16:06] iSazonov commented on #2662
What scenarios do we want address?
Current browsers behavior is enable/disable protocol, no fallback to low version.

[2017-10-08 16:13] iSazonov commented on #3607
We have Yaml in https://github.com/PowerShell/platyPS

[2017-10-08 16:13] thezim commented on #2662
@iSazonov if you at the point of explicitly specifying a protocol then we should let it fail with no fallback.

[2017-10-08 16:15] markekraus commented on #2662
@iSazonov the problem is that `ServicePointManager` affects more than just the web cmdlets and setting it can result in unintended consequences with other functions/cmdlets/modules even for things that are not doing HTTP requests. That kind of permanence may be OK in a scripting scenario, but will be terrifying in a console scenario. In Windows PowerShell this is already a pain.

One thing I would

[2017-10-08 16:26] lzybkr commented on #3560
I think so. I think it's fixed by this [commit](https://github.com/lzybkr/PSReadLine/commit/8edcf64663d7b7de3d9ef23435473e6529954b1e) - but I have some more work to do before this branch is ready for more general use.

[2017-10-08 16:31] iSazonov commented on #3575
CoreFX has performance issues with file system too.

[2017-10-08 16:33] lzybkr commented on #3560
Resolving as duplicate of lzybkr/PSReadLine#289

[2017-10-08 16:33] #3560 closed

[2017-10-08 16:45] iSazonov commented on #2662
@markekraus Thanks for clarify! I believe we should get a conclusion from @powershell-committee.

/cc @SteveL-MSFT

[2017-10-08 16:50] iSazonov commented on #3639
I can not repo with Beta.8

[2017-10-08 16:50] #3639 closed

[2017-10-08 17:02] markekraus commented on #2662
@iSazonov I think that can be tracked elsewhere. For this particular issue, so long as we implement on per-call through `HttpClientHandler.SslProtocols` it should be fine.

I'm just opposed to tickling other parts of .NET when that behavior is not apparent to the user. Adding session-persistent settings to the web cmdlets is probably too tall an order for 6.0.0. It's tied up with moving to a sessi

[2017-10-08 17:12] iSazonov commented on #3805
Can we close the Issue?

[2017-10-08 17:15] SteveL-MSFT commented on #3805
Any new issues please submit proposed changes as PRs.  Thanks!

[2017-10-08 17:15] #3805 closed

[2017-10-08 17:18] #3403 closed

[2017-10-08 17:25] SteveL-MSFT commented on #2662
A cmdlet should not make changes that affect the whole process or system, unless the cmdletis designed explicitly to do so (and the user is clear of the side effects).  For the discussion on this issue, I don't see a need for Committee to review.

[2017-10-08 17:26] SteveL-MSFT commented on #3156
I think it's been updated sufficiently since when this was opened.  There's still improvements we can make to how we release, but let's have those as separate specific issues.

[2017-10-08 17:26] #3156 closed

[2017-10-08 17:26] SteveL-MSFT commented on #3004
There are currently no plans to OSS PowerShell Web Access.

[2017-10-08 17:29] SteveL-MSFT commented on #3670
I'll see if coreclr can fix this for 2.0.0 servicing, otherwise, it'll be a documented `Known Issues` item

[2017-10-08 17:31] SteveL-MSFT commented on #2956
I don't think this needs a discussion from the Committee.  Seems like a nice to have and individuals can create aliases for themselves.  In the future, if we can get telemetry on cmdlet usage (interactive vs script), perhaps we can add additional aliases at that time if warranted.

[2017-10-08 17:31] #2956 closed

[2017-10-08 17:32] SteveL-MSFT commented on #2891
We're doing this now, but don't plan to retroactively fix the old ones unless someone else wants to contribute that as a PR :)

[2017-10-08 17:32] #2891 closed

[2017-10-08 17:34] SteveL-MSFT commented on #2686
@iSazonov that's an interesting idea and makes sense to me as an improvement, but since it's a `break change`, let's have Committee review the idea

[2017-10-08 17:37] #473 closed

[2017-10-08 17:43] iSazonov commented on #3833
@SteveL-MSFT  Have we plan to implement Set-Culture?

It seems we can change a culture for current thread only.

[2017-10-08 17:45] iSazonov commented on #666
Any news?

[2017-10-08 17:53] iSazonov commented on #2891
Months ago I sent @daxian-dbw  a script to create a table with closed PRs - this allow automate creating changelog if we'd accurate with PR header (description).

[2017-10-08 17:57] iSazonov commented on #3004
So we can close the Issue.

[2017-10-08 18:19] iSazonov commented on #2662
My question was - should we do anything now before RTM or better come back later with full solution (based on RFC)?

[2017-10-08 18:31] markekraus commented on #2662
@iSazonov My opinion is that we should. The RFC I had in mind would include per-call overrides. That would mean if this issue us implemented as a Parameter to the web cmdlets it would still fit within within the future RFC's framework. If this current issue can be accepted before 6.0.0 RTM it will at least add the desired functionality per-call through the parameter and "per-session" through `$PSD

[2017-10-08 18:31] #3004 closed

[2017-10-08 19:16] iSazonov commented on #1810
See #4960

[2017-10-08 19:16] #1810 closed

[2017-10-08 20:08] markekraus commented on #4899
Here is a draft of the `Invoke-RestMethod` documentation.

https://github.com/PowerShell/PowerShell-Docs/compare/staging...markekraus:CertificatevalidationScriptDraft

[2017-10-08 21:01] SteveL-MSFT commented on #4899
@markekraus, awesome!  Looks good enough to submit as PR.  One thing I noticed is the capitalization of the word `Four`

[2017-10-08 21:03] SteveL-MSFT commented on #3833
@iSazonov no immediate plans

[2017-10-08 21:09] mklement0 commented on #3684
@SteveL-MSFT:  The more I think about this, perhaps it's also time to rethink the behavior of `Out-File` with respect to types that have PS formatting data:

Currently, whatever lines the (default) formatter produces (for types with formatting data) are newline-stripped too, resulting in virtually useless representations:

[code]

It's not obvious in the console due to word wrapping, but if you in

[2017-10-08 21:29] markekraus commented on #4899
@SteveL-MSFT Should I wait for #4970 to be approved first before making the PR to PowerShell-Docs?

(I made some fixes including the `Four` capitalization and added the equivalent Invoke-WebRequest documentation`).

[2017-10-08 22:21] mklement0 commented on #992
At least Linux platforms conform to the [FHS (Filesystem Hierarchy Standard)](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard), according to which placing the PowerShell binary in `/bin` would be inappropriate; similarly, it would be unexpected on macOS.

Probably yes, but  how does that come into play here?

You can always do that from _within_ a script, if needed; e.g., `. $PROFILE`.

[2017-10-09 02:04] jkonstas commented on #1883
My command still fails is there a fix Mac->Windows ?
PS /Users/ikonstas> New-PSSession -ComputerName 10.178.228.100 -Credential administrator

PowerShell credential request
Enter your credentials.
Password for user administrator: ****************

New-PSSession : MI_RESULT_ACCESS_DENIED
At line:1 char:1
+ New-PSSession -ComputerName 10.178.228.100 -Credential administrator
+ ~~~~~~~~~~~~~~~~~~~~~~

[2017-10-09 02:08] dragonwolf83 commented on #2662
I don't think a parameter for this is truly wanted or needed by most users. How many people really go into IE or Chrome and start fiddling with SSL/TLS settings? On server-side, a lot, but client-side? Client-side should just work.

I think we need to be careful about not overloading too many parameters that will end up being rarely used. We just added 3. How many more?

The larger issue is that T

[2017-10-09 02:59] ajithkt opened #5060 "Azurecli is not working"
After installing the Azure module and while trying to import the module we are getting the below error. Please help us here.

Install-Module Azure -AllowClobber

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its
InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules from

[2017-10-09 03:51] iSazonov commented on #3954
Interesting JavaScript implementation https://github.com/linuxenko/lessmd

[2017-10-09 04:32] iSazonov commented on #3833
We could use [DefaultThreadCurrentCulture](https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo.defaultthreadcurrentculture(v=vs.110).aspx).
The problem is that we have some appdomains:
- https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/System.Management.Automation/singleshell/config/RegistryStringResourceIndirect.cs#L90
- https://gith

[2017-10-09 04:54] iSazonov commented on #3684
We have some issues about problems with our formatting (adding LF/CR). So I think it is good to have `-NoNewline`- users are able to control output more flexibly.

[2017-10-09 05:03] iSazonov commented on #2662
I think all three scenarios is important - users must be able to manage settings. The _settings_ is not just protocol.

[2017-10-09 05:06] iSazonov commented on #4899
Better wait merge - we can get useful feedback.

[2017-10-09 06:03] iSazonov commented on #992
If we want to be bash-behaivor-compatible we should use bash startup code and embed it in PowerShell startup code. But it doesn't seem compatible with PowerShell behavior. Dead lock :-). I think we're doomed to be rude and break a wall somewhere. Until we have the right solution, I prefer to have a wrapper. When it becomes stable, we could gradually embed it in the main code.

[2017-10-09 06:04] iSazonov commented on #3743
Related discussion #992

[2017-10-09 08:51] markekraus commented on #2662
@dragonwolf83

I understand your concern, but if you look at other command line web tools, like `curl` and `wget`, they have tons of options. This not fluff of feature creep, but the nature of HTTP being filled with bell-end use cases. The average use case is not average at all. If this were an issue requesting support for status 418 "I'm a teapot" I would agree. However, forcing the protocol on p

[2017-10-09 10:02] iSazonov commented on #2662
Have we an Issue to implement "full" wget? Maybe open if no?

[2017-10-09 10:17] markekraus commented on #2662
@iSazonov I didn't want to invite full chaos. Not everything from `wget` and `curl` makes sense or are even possible with the current web cmdlets implementation. Some of those features would require a complete replacement of `HttpClient` and `HttpClientHandler` (even AngelSharp lacks parity there and they are implementing their own TCP streams). Other features we can combine (for example, the `-Ce

[2017-10-09 10:26] markekraus opened #5062 "Travis CI macOS Builds are failing"
It appears something has changed, possibly external, and all of the macOS builds are failing (including nightly)

[code]

examples:

- https://travis-ci.org/PowerShell/PowerShell/jobs/285387333
- https://travis-ci.org/PowerShell/PowerShell/jobs/285471140
- https://travis-ci.org/PowerShell/PowerShell/jobs/285293168
- https://travis-ci.org/PowerShell/PowerShell/jobs/285388460 (nightly)

Also, the ni

[2017-10-09 10:49] iSazonov commented on #2662
New Issue is good to collect and track ideas to not lose their.

[2017-10-09 10:55] arturaz commented on #5032
On Windows I have: PSVersion                      5.1.15063.608

I guess that explains the difference.

[2017-10-09 11:22] #2768 closed

[2017-10-09 11:22] #2903 closed

[2017-10-09 11:57] iSazonov commented on #4980
@mklement0 I see you've already prepared tests - do you work on fix? 😉

[2017-10-09 12:35] kwint opened #5063 "Transcript doesn't capture warnings and verbose output when remoting with invoke-command"
Currently this script:
[code]
Produces this output in the shell/host (which is expected):
[code]
But the transcription doesn't capture the warning and verbose output:
[code]

[2017-10-09 12:38] mklement0 commented on #3684
Yes, `-NoNewline` is desirable, but the aspect of stripping out _embedded_  newlines from formatter-generated output is the problematic one.

To put it differently: This obscure behavioral distinction between `.ToString()`-stringified types (such as `[string]` itself) and those with PS formatting data is problematic and there is no good reason for the embedded newline stripping to begin with.

As

[2017-10-09 12:42] markekraus commented on #5060
The Azure module uses PSSnapins which are no longer supported in PowerShell Core ([more info](https://github.com/PowerShell/PowerShell/blob/master/demos/WindowsPowerShellModules/README.md#windows-powershell-vs-powershell-core)). To use the Azure modules in core, you need to use their Core compatible version, such as [AzureRM.NetCore](https://www.powershellgallery.com/packages/AzureRM.Netcore/).

[2017-10-09 12:50] mklement0 commented on #3684
Consider the following example, which illustrates the difference in behavior between `.ToString()`-stringified and formatter-generated output with respect to stripping of embedded newlines:

[code]
Note how all newlines were stripped from the formatter-generated output for `@{ three = 3 }`, which included removal of empty lines; to spell it out:

[code]

turned into `twothree-----    3`

In summar

[2017-10-09 13:20] markekraus commented on #3677
@iSazonov Are you working on this one? if not, this one was next on my list.

[2017-10-09 14:22] iSazonov commented on #5060
We have https://github.com/PowerShell/PowerShell/blob/3a960db5b0a61e0e797fbcaa3f61b06c87d92aff/demos/Azure/README.md

[2017-10-09 14:22] #5060 closed

[2017-10-09 15:26] RichardSiddaway commented on #5016
The bottom line is that -force is a "just do it" option. It has various connotations depending on scenario but in all cases you're over-riding whatever is stopping the action. PowerShell users have got used to -Force so it would be the logical option.

[2017-10-09 15:34] RichardSiddaway commented on #992
Not clear here if you're thinking of not automatically loading profiles just in the shebang case or making that the default. if just the shebang case you have the issue of a different behaviour. if you're talking about making the default not to load profiles on all platforms then that's a huge breaking change that will upset the majority of Windows users. This is a case of which option is going to

[2017-10-09 15:57] r2690698 opened #5064 "No return value from Functions"
Powershell 6.0
Product Information:
 Version:            1.0.0-preview2-1-003177

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

-------------------

When running functions ( like bellow) to return a value nothing is returned in the .netcore versions of powershell running on OSX . there is no error output.

-------------------

[co

[2017-10-09 16:03] SteveL-MSFT commented on #5063
This doesn't repro for me on PSCore6 beta.8, need more info:

[code]

[2017-10-09 16:03] #5063 closed

[2017-10-09 16:04] SteveL-MSFT commented on #1883
@jkonstas I believe Mac->Windows currently only supports using Basic auth.

[2017-10-09 16:15] SteveL-MSFT commented on #3684
cc @joeyaiello @HemantMahawar

I don't know the history of `out-file -nonewline`, but as an end user, it seems that `-nonewline` should always mean the last newline, not every newline.  If someone wanted to strip newlines, they can easily do it themselves, but the cmdlets (without the `-nonewline`) would typically add a trailing newline which they can't suppress without the switch.

[2017-10-09 16:18] SteveL-MSFT commented on #5062
I'm looking into this.  The badge caching is also still an issue.

[2017-10-09 16:30] #4916 closed

[2017-10-09 16:33] #5031 closed

[2017-10-09 16:39] #5064 closed

[2017-10-09 16:39] r2690698 commented on #5064
ignore, i was being stupid !

[2017-10-09 17:19] raghav710 commented on #3684
If I may add to the discussion. I noticed that when you do a
`"a","b" | out-string` you get an output that is of length **6** in windows. This was a bit surprising for me and then I noticed that the extra 4 characters were because of two _\r\n_s. I believe this value may be different in Linux.
Some points to ponder:
* Should `-NoNewLine` be the solution to this issue or should we only strip the la

[2017-10-09 17:54] iSazonov commented on #3677
@markekraus Please grab it - thanks!

[2017-10-09 18:06] iSazonov commented on #992
@RichardSiddaway Windows and Unix sometimes is very different. Windows PowerShell and Bash too. We need easy ways to adapt PowerShell to Unix users. So we need support common Unix scenarios without breaking Windows users. This often affects many _interrelated_ features.

[2017-10-09 19:36] markekraus commented on #3677
@iSazonov or @SteveL-MSFT I see that is is possible to test the progress output through a job. If I'm just changing the .resx strings, is there any need to write pester tests for it?

[2017-10-09 20:05] probonopd commented on #5053
`/usr/bin/nslookup: /tmp/.mount_81bJrR/usr/lib/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /usr/lib/x86_64-linux-gnu/libicuuc.so.55)` means that `/usr/bin/nslookup` on your system is invoked, and it loads `/tmp/.mount_81bJrR/usr/lib/libstdc++.so.6` from within the AppImage since `LD_LIBRARY_PATH` is set. But that version does not have CXXABI version 1.3.8 that your local `/usr/bi

[2017-10-09 20:23] #5062 closed

[2017-10-09 21:05] #4990 closed

[2017-10-09 21:10] SteveL-MSFT commented on #3677
@markekraus assigned it to me for now.  If you are only changing the resx strings, no tests are typically needed as those strings are expected to be localized at some time.  We have some meta tests for resx files.

[2017-10-09 21:27] dragonwolf83 commented on #2662
@markekraus I understand that we need many more options, but my concern is to not rush it, let's be thoughtful and see if an option is truly needed or if a new Configuration parameter is needed that can handle various edge-cases.

The main question for this parameter is whether or not we plan to disable SSL v3 and TLS v1.0 by default in the web cmdlets. If yes, then we may need a parameter to turn

[2017-10-09 21:56] anmenaga commented on #5018
Regarding process termination...
I'd say this is expected behavior, not a bug.
Unfortunately in this case the unhandled exception is generated on CoreCLR's finalizer thread.
There is not much we can do about this exception from PS code.
Printing an error and process shutdown is default and normal in this kind of situations.

[code]

[2017-10-09 21:56] #5018 closed

[2017-10-09 22:25] r2690698 commented on #5027
Hello @SteveL-MSFT  and @daxian-dbw  just hit this issue myself on AWS linux, this was working fine a few days ago. do you have any recommendations to address the dependency issue of openssl-libs ? i realy realy realy dont want to change to a different distro so any help to get this working again would be awesome. (PS support AWS linux ;) )

[2017-10-09 22:52] praveenc commented on #5018
Wow .. I can't believe that if a "type" is not found it would terminate and shutdown the whole process?
Would this be the case for all unsupported types by CoreCLR then?
If so, do you guys have a list of these unsupported types by CoreCLR somewhere?

[2017-10-09 22:52] daxian-dbw commented on #5029
The check for `ucrtbase.dll` is to make sure Univeral C Runtime is available.

[2017-10-09 22:57] cormacpayne opened #5071 "Piping by property name only looks at default parameter set if defined"
Steps to reproduce
------------------

Using the following sample cmdlet:

[code]

When attempting to pipe a `PSCustomObject` with `Foo` and `Bar` properties, it throws an error:

[code]

However, I found that the same command works if I remove the `DefaultParameterSet` from the above cmdlet:

[code]

It appears that if a `DefaultParameterSet` is defined for a cmdlet, then it will try to bind an o

[2017-10-09 23:45] SteveL-MSFT commented on #5027
@r2690698 just to be clear, I want to enable running PSCore6 on as many systems/devices as possible, but we can only officially support what dotnetcore supports.  For other platforms, we'll make a best effort (community support like for ArchLinux is always appreciated!).

[2017-10-10 00:05] thezim opened #5074 "Add macOS app to launch PowerShell."
I've been using [this](https://github.com/thezim/launchpowershell) for awhile now. Would be nice if the installer could install something similar making PowerShell launch-able via Spotlight and dock-able.

[2017-10-10 00:44] SteveL-MSFT commented on #5074
Would you be willing to contribute that as a PR?

[2017-10-10 00:50] rkeithhill commented on #992
FWIW we've already run into problems with shebang scripts spewing errors from users' profiles.  I guess if my team doesn't care about macOS support we could use:
[code]
Too bad we can't do this in a way that would work on macOS as well.

[2017-10-10 01:17] mirichmo commented on #4939
For reference: #1189

[2017-10-10 01:31] lzybkr commented on #5071
It does look like a bug, but I think the description is not quite accurate.

I *think* it's more accurate to say - if a parameter is available in multiple parameter sets **and** one of the parameter sets is the default parameter set, then the alternate parameter sets are not considered.

[2017-10-10 01:33] lzybkr commented on #5071
BTW, I've marked this for discussion - the parameter binder is extremely complex, and it's possible this behavior is somehow desirable or at least to risky to change.

[2017-10-10 02:56] cormacpayne commented on #5071
@lzybkr good catch - just confirmed that this only occurs when one of the "candidate" parameter sets is the default parameter set.

[2017-10-10 03:19] #5047 closed

[2017-10-10 05:58] iSazonov commented on #2662
Enable/disable case is interesting for discussion.

[2017-10-10 06:02] chuanjiao10 opened #5077 "can not create mutex,why?"
In linux,i want create a mutex use my old script,just as in windows.
But $mutex_created allways return $true,
why? where is problem? myself or powershell or .net? please help to see.

reference:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.mutex.-ctor?view=netstandard-2.0

Steps to reproduce
------------------
in two bash termal run:
powershell -file /powershell/my_mutex.ps1
then t

[2017-10-10 07:37] mcarlucci commented on #5062
+1

[2017-10-10 08:35] markekraus commented on #2662
@iSazonov Enable/disable is interesting, but also not related to this particular issue.

@dragonwolf83 I see no benefit in delaying this particular feature which I argue should definitely be a Parameter regardless of any possible future settings changes. This is a common feature of its CLI peers. it has been requested, sought after, and asked about feature for years. It should be discoverable and

[2017-10-10 08:58] powercode commented on #3575
Is is also interesting to see how much of it is formatting.
What times to you get if you pipe the output to Out-Null?

[code]
That should give us the raw powershell provider filesystem times.
[code]
Is also something to compare against. Just getting the filenames, without stat-ing each file.

I think .NET is quite inefficient when doing this, static each file instead of getting that at the same ti

[2017-10-10 09:58] markekraus commented on #3677
PR #5078

[2017-10-10 11:09] iSazonov commented on #2662
In common scenarios, PowerShell users should not worry about the transport protocol just as they do not worry about it when using browsers.
What are the scenarios where they can't do without specifying a precise protocol? We need the exact motivation to do the right thing in the right place.

[2017-10-10 12:18] markekraus commented on #2662
Careful, equating CLI web tools to Browsers is not accurate. CLI web tools are used in automation and often that automation is subject to very stringent compliance standards.

For an interactive CLI maybe it doesn't matter. But, for compliance with secure API's ensuring the protocol per-call as well as at the platform is a common practice. Sometimes you don't have access to the platform settings (

[2017-10-10 13:36] markekraus commented on #5077
This probably has to do with bash session being treated like separate sessions and the default mutex scope being local to the bash session.

[code]

Works as you expected in the same bash session.

If you modify the `$mutexname = 'abcd'` to `$mutexname = 'Global\abcd'` then it will work between 2 different bash sessions.

See the note at the very [end of this document](https://docs.microsoft.com/e

[2017-10-10 13:44] #5077 closed

[2017-10-10 14:32] chuanjiao10 commented on #5077
yes. thanks!

[2017-10-10 15:38] thezim commented on #5074
Sure, just need to figure where it should go. The app really simple, just a few folders, plist file, shell script, and icns file. A shell script can be used to generate everything except the icns file which we already have. Do you think we should pregen it in repo and package it up or have the package generate it during the install.

[2017-10-10 15:54] kechols2406 commented on #1752
$test = Set-AuthenticodeSignature -Certificate $cert -IncludeChain All -FilePath C:\Powershell
\script.ps1 -TimeStampServer "http://sha256timestamp.ws.symantec.com/sha256/timestamp"
$test.StatusMessage

[2017-10-10 16:17] SteveL-MSFT commented on #5074
If the content is pretty static, I don't think we need to generate it every time and we can maybe store it under "assets"?  packaging.psm1 would need to be updated to put this into the macOS package.

cc @TravisEz13

[2017-10-10 17:21] TravisEz13 commented on #5074
@thezim Do you know how to use the xcode commandline to package these assets?

[2017-10-10 17:59] Jaykul opened #5079 "Where should new ETS stuff go?"
That's a bit of a vague question, so let me be specific. I want to add the equivalent of this:

[code]

So that you can *always* write: `$_.ErrorRecord` on _anything_ you can `catch` (and conversely: `$_.ErrorRecord.Exception`) ... because I find it confusing that sometimes I catch an Exception and sometimes an ErrorRecord.

I know that the default types files were turned into C# code, but where i

[2017-10-10 18:08] iSazonov commented on #5079
It is here https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Types_Ps1Xml.cs

[2017-10-10 18:13] mores commented on #3776
Place your votes here:
https://office365.uservoice.com/forums/264636-general/suggestions/31836478-make-the-msonline-cmdlets-pscore6-compatible-so-th

[2017-10-10 18:28] fmichaleczek commented on #5079
PowerShell really needs support for .Net extension methods !

[2017-10-10 18:29] iSazonov commented on #4269
See comments in dup #3776

[2017-10-10 18:29] #4269 closed

[2017-10-10 18:33] iSazonov commented on #5079
#2226 for extension methods.

[2017-10-10 19:26] benapetr commented on #5062
Hello,

How did you fix this? Our project has same issue.

[2017-10-10 19:33] mcarlucci commented on #5062
@benapetr Homebrew always uses the system Ruby, so it likely started with Ruby 2.0.0, installed the vendored Ruby 2.3.3, but then didn't use the vendored Ruby the first time.

In the interim and until this is specifically addressed by Homebrew or Travis CI, I fixed this by passing the no-auto-update flag:
[code]

[2017-10-10 19:40] SteveL-MSFT commented on #5062
@benapetr the main part of the fix was to move `brew update` earlier before using brew

[2017-10-10 20:12] benapetr commented on #5062
oh, I tried this from your patch in this PR, but maybe brew update would be better option: https://github.com/huggle/huggle3-qt-lx/commit/95267bbff361e11212519a609d8c832a704efb56

[2017-10-10 21:29] daxian-dbw commented on #5027
The powershell package dependencies are the same as those of `dotnet-runtime-2.0.0` packages (DEB, RPM) (available at [here](https://packages.microsoft.com)). You can find the dependencies in the PR description of #4902. Or better, look at the source of truth in `New-UnixPackage` from [packaging.psm1](https://github.com/PowerShell/PowerShell/blob/master/tools/packaging/packaging.psm1#L450).

The R

[2017-10-10 22:13] joeyaiello commented on #1703
@adityapatwardhan have you already solved this problem?

[2017-10-10 22:21] joeyaiello commented on #1995
Yeah, but that's the hard part, right?

@be5invis what do you mean by "already broke compatibility"?

Plus, if CoreFX is on the verge of a fix in their layer, I'd rather not create a stopgap in our layer before they do.

And as someone said above in the thread, this is annoying, but it's also pretty well-documented in the community. I'm not sure we should break it *twice* in the next two releases.

[2017-10-10 22:26] joeyaiello commented on #2247
@lzybkr couldn't come up with anything per our last conversation on this one back in July-ish. We should implement the fix.

Honestly, though, this is a small enough one that I might feel okay pushing it out if we *have* to.

[2017-10-10 22:55] thezim commented on #5074
@TravisEz13 I do now. I was able to create a package with the following. Tested the package and it works.

[code]
ROOT/PowerShell.app/[remaining files and folders]

Is there an existing identifier/CFBundleIdentifier that should be used? I see `powershell` is used by the standard installer.

[2017-10-10 23:17] TravisEz13 commented on #5074
I think this one should be something like `PowerShell launcher` (not intended to be the exact identifier).   The files probably should go in a folder under `tools/packaging`.    An argument could be made that the icon should be under `assets` and copied during packing.  Add a function which builds the package to `tools/packaging/packaging.psm1` and make sure it's exported in the psd1. (I wrote thi

[2017-10-10 23:40] #5029 closed

[2017-10-11 01:14] SteveL-MSFT commented on #3603
My personal opinion is that I would be fine adding a power operator.  It would certainly not be high on my priority list, but since @Gimly is already offering to contribute the work, I don't see any major downside to enabling this capability.  For the syntax, I think I prefer `2 -pow 8` only because it enables adding more operators in the future without running out of symbols or remember what whic

[2017-10-11 01:34] anmenaga commented on #5018
1: Yes, but the exact exception type does not really matter: it can be TypeLoadException or InvalidArgumentException or any other exception type...
What matters is if the thread, on which exception is generated, has any handlers for it.
Powershell engine code has exception handlers on its threads; that is why most cmdlets/scripts don't shutdown PS process even if they generate unexpected exception

[2017-10-11 01:47] SteveL-MSFT opened #5081 "Get-PSHostProcessInfo fails on non-Windows"
We may have to disable this cmdlet on non-Windows

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-11 02:57] thezim commented on #5074
@TravisEz13 thanks. I'll start on a PR.

[2017-10-11 04:19] SteveL-MSFT commented on #3603
`using static` might be a better general solution that works well with the math functions

[2017-10-11 07:07] yuyixuantai opened #5082 "python function error"
Steps to reproduce
------------------

[code]
1. cd dir:
PS C:\Program Files\PowerShell\6.0.0-beta.8> cd D:\code\py\google-python-exercises\john
2. start python in powershell
PS D:\code\py\google-python-exercises\john> python
3. use help function:
 help(dict)

Expected behavior
-----------------

[code]
display next text:
Help on class dict in module __builtin__:
class dict(object)
 |  dict() -> n

[2017-10-11 08:43] markekraus commented on #5082
I can't reproduce this with Python 2.7.14 ( I don't have 2.7.13 handy to test with). But that output seems ti indicate to me you are not working with a clean python environment.  Also, you are running the alias `python` which could be resolving to something else.

Can you try running the python.exe from its full path name frm the ptython install folder?

[code]

and then run

[code]

And see if yo

[2017-10-11 09:42] markekraus commented on #3829
I think this functionality would better fit being an entirely separate cmdlet. The way irm and iwr are now they are basically after-the-fact stream processor/modifiers. They pretty much rely on a completed stream to do anything meaningful. They could probably be modified to work this way, but I feel that functionality breaks with what is expected of these cmdlets.

Is see this working well with a

[2017-10-11 12:27] Qowy opened #5084 "Hosted PS core in ASP.Net core The system cannot find the file specified"
ASP.NET core 2.0 app.

.csproj:
[code]

controller code:
[code]

Results in an exeption:

[2017-10-11 13:13] markekraus commented on #5084
I can repro this, but I'm not exactly strong on the hosted app side.

[2017-10-11 13:20] iSazonov commented on #3603
I vote for `using static` - it looks very power. We need to explore this deeper.

[2017-10-11 13:24] iSazonov commented on #5084
Our docs https://github.com/daxian-dbw/PowerShell/docs/host-powershell/README.md

[2017-10-11 13:44] #3684 closed

[2017-10-11 13:53] MaximoTrinidad commented on #5082
Although, I got Windows 10 Build 15063, I just installed Python 2.7.12 selecting to install all features.
And, was able to execute the "help(dict)" command without any issues in both DOS and PowerShell Core Beta.8 shells.

My suggestion would be to reinstall Python 2.7.12 with all features, then try again.  Remember to "unblock" the MSI file before installing.

![poshpython2 7 12_2017-10-11_9-46-1

[2017-10-11 13:58] markekraus commented on #5084
@iSazonov I can repro this with the `sample-dotnet2.0-powershell.beta.3` by just changing `beta.3` to `beta.8` in the `MyApp.csproj`. Does not repro with `beta.7`.

[2017-10-11 14:01] #4358 closed

[2017-10-11 14:05] #3677 closed

[2017-10-11 14:53] iSazonov commented on #5084
If it's a regression, it's my only thought that we need a CI test or we should manually test this before we release the new Beta version.

[2017-10-11 14:56] iSazonov commented on #5084
I remember only one related PR in last time #4196 - @markekraus if you have time you can revert locally the change and test.

[2017-10-11 17:11] rkeithhill commented on #3931
And yet another:
[code]

[2017-10-11 17:34] #5082 closed

[2017-10-11 19:30] daxian-dbw commented on #5084
@markekraus Sorry that I cannot reproduce the issue by following the instructions at https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell#net-core-sample-application

Can you please point me what I might be missing?

This is what I did:
[code]

[2017-10-11 19:35] SteveL-MSFT opened #5087 "Add switch to powershell.exe to not auto-load PSReadline"
PSCore6 automatically loads PSReadline when the console is interactive.  There is currently no option to not load it (other than deleting PSReadline).  We should have a switch to allow not auto-loading PSReadline.

[2017-10-11 19:49] vors commented on #3941
Also in another case I noticed that there are 2 threads that are waiting on the same ManualResetEvent. The second one is thru https://github.com/PowerShell/PowerShell/blob/2a9cd7211fbcaee170eedab572ed88645aee0bd8/src/System.Management.Automation/engine/hostifaces/LocalPipeline.cs#L861

[2017-10-11 19:50] markekraus commented on #5084
@daxian-dbw That's exactly what I did. The difference may be that I have never don't the hosted app before so I was downloading the sdk nuget for the first time. did you test this in a fresh environment?

[2017-10-11 19:59] daxian-dbw commented on #5084
I think I can repro it now. `MyApp.exe` from the `publish` folder works fine (i.e. `.\bin\release\netcoreapp2.0\win10-x64\publish\MyApp.exe`), but the one from `win10-x64` is having problem (i.e. `.\bin\release\netcoreapp2.0\win10-x64\MyApp.exe`).
I will look into it.

[2017-10-11 20:00] markekraus commented on #5084
@daxian-dbw fails with `dotnet run` too.

[2017-10-11 20:05] DdWr commented on #5087
I can work on this one.

[2017-10-11 20:41] zjalexander commented on #4347
@lzybkr we are planning to review about_types soon, if this fits in there would you mind giving us some additional details during review?
thanks!

[2017-10-11 20:52] SteveL-MSFT commented on #5087
@DdWr awesome!  Take a look at https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Host/ConsoleHost.Tests.ps1 and it should be pretty straight forward on adding tests for this.

For now, I guess you can use the switch `-NoPSReadline`

cc @lzybkr @joeyaiello

[2017-10-11 20:54] SteveL-MSFT commented on #3941
As part of https://github.com/PowerShell/PowerShell/pull/4995, I'm changing it to reuse threads by default whereas previously it was creating a new thread everytime.  It might help this situation.

[2017-10-11 20:57] Alextocode opened #5088 "Ambiguous types by namespace can not be resolved by using directive"
Hello community,

I am facing an issue when working with using namespace directive in PowerShell.
I would like to use the Timezone implementation of Java.Util for a small project and therefore work with IKVM, what is meant to be a .net Implementation of Java providing various assembly files (.dll)

I have the following:

[code]

So far so good.

Now I am trying do to this in first line

`using nam

[2017-10-11 20:58] markekraus commented on #5087
hmm `-NoPSReadline` would break the commonly use `-NoP` shortcut for `-NoProfile`

[2017-10-11 21:01] DdWr commented on #5087
@SteveL-MSFT Just for clarification, how should supplying `-NoPSReadline` differ from supplying `-Noninteractive`? Should these be mutually exclusive options?

[2017-10-11 21:03] lzybkr commented on #5087
I was thinking of an environment variable instead of a command line switch.

This would be less annoying than remembering a switch, but would make one off experiments harder.

Note that PSReadline is not loaded when you specify `-NonInteractive`. This option is for those few people where they just don't like PSReadline or it's causing some sort of problem.

[2017-10-11 21:10] rkeithhill commented on #5087
I'm a little hesitant about adding such a "specific" switch.  If PowerShell auto-loads more modules in the future, then you're signing yourself up to add more switches for each module.  You can always add `rmo psreadline` to your profile script since that is primarily what a profile is for - customizing your interactive environment.  An environment variable would be OK as well.

[2017-10-11 21:10] Qowy commented on #5084
Thank you all for your efforts in fixing this. I just wanted to repeat I did not use a .Net core project (although we see it has been reproduced there), but a ASP.NET core one instead.

Just in case somebody also wants to try and reproduce it there (or check a potential fix).

[2017-10-11 21:12] lzybkr commented on #4347
@zjalexander - sure, ask away when you have specific questions or something for me to review.

[2017-10-11 21:14] rkeithhill commented on #5087
Maybe a more general approach would be to add an `-InitializationScript` parameter e.g.: `powershell -init {rmo psreadline}`?

[2017-10-11 21:27] daxian-dbw commented on #5084
Yeah, `dotnet run` is essentially running the exe from `win10-x64` folder.

[2017-10-11 21:30] rkeithhill commented on #5088
It would be nice in this scenario if PowerShell supported something like C# `global::TimeZone`.  Perhaps `[::Timezone]` or `[global:TimeZone]` or something to indicate to PowerShell it shouldn't prefix w/ `System.` and lookup the type.

[2017-10-11 21:33] SteveL-MSFT commented on #5087
@rkeithhill the problem with `-initializationscript` is that you incur the cost of loading psreadline and then unloading it.  We had some issues in the past with psreadline on NanoServer (which we have since fixed), but the workaround at that time was to delete psreadline to get powershell to startup.  PSReadline as a module is special cased as we decided it was the interactive experience we wante

[2017-10-11 21:54] rkeithhill commented on #5087
@SteveL-MSFT Fair point on loading and then unloading.  Although if you expect most users to use PSReadline, then the user scenario of disabling PSReadline is a bit of a corner case.  So making it possible is probably enough and folks will discover it through an internet search.  And it wouldn't be the first env var PowerShell uses.  We already have PSModulePath and PAGER to configure PowerShell.

[2017-10-11 22:01] MaximoTrinidad commented on #5087
I think using the PowerShell profile would be a better way to handle the PSReadLine than doing a drastic code change.  You can always go back and remove the 'Remove-Module PSReadLine' at your discretion.

:)

[2017-10-11 22:05] terrajobst commented on #4894
The host process should probably deploy the necessary facades and binding redirects for .NET Framework 4.6.1, 4.6.2, and 4.7. Starting with .NET 4.7.1 you no longer need to that many files but due to a bug on our end it seems there are still two files necessary (System.Net.Http and System.IO.Compression). Let me know if you need more details for any of this.

[2017-10-11 22:17] lzybkr commented on #5088
It would be a breaking change now, but we probably should have not have the implicit `using namespace System` if you have *any* `using namespace` statements.

We don't have support for type aliases yet, but the intent was to support `using type TimeZone = Java.Util.TimeZone` - in fact the parser supports this today, but the semantic aspect was never implemented.

[2017-10-11 22:18] rkeithhill commented on #3931
So I was trying out my home grown echoargs in my WSL/Bash shell and noticed that given this command (in Bash):
[code]
You get this output:
[code]
RE globbing, how does Bash know to glob the first argument `g*` but not the second one `FOO/*`?

[2017-10-11 22:19] mklement0 commented on #3684
@raghav710: Yes, PowerShell Core uses platform-appropriate newlines (CRLF on Windows, LF-only on Unix), so getting 6 chars. on Windows vs. 4 on Unix is to be expected.

This behavior is unrelated to `-NoNewline` (_newline_ is used as an abstract term for line break, irrespective of what specific character [sequence] is used to represent it).

As @SteveL-MSFT mentions, the natural assumption about

[2017-10-11 22:30] mklement0 commented on #3931
Bash (per POSIX):

* only ever applies globbing to _unquoted_ tokens; `*` is subject to globbing, `'*'` and `"*"` are not (or a singly escaped `*`, `\*`).

* Passes tokens that do not match any filesystem objects through as-is (in Bash, you can opt into different behavior, but that is not part of the POSIX standard); in your example, `FOO/*` presumably didn't match anything and was therefore left

[2017-10-11 22:30] rkeithhill commented on #4894
So PowerShell, as the host process, should be updated to deploy the appropriate facades and binding redirects.  This doesn't sound like a "recompile" of PowerShell is required.  I wonder if an update pkg can be created to add these to an existing Windows PowerShell 5.1 installation?

I'm guessing recompiling and shipping an updated Windows PowerShell (5.2) would be a much bigger deal given the tea

[2017-10-11 22:33] rkeithhill commented on #3931
Quoting doesn't work in PowerShell (does work from Bash).  That is part or the problem with PowerShell's aggressive globbing:
[code]
That `cannot find path` error is coming from the globbing code - not echoargs.

[2017-10-11 22:37] mklement0 commented on #3931
Indeed: that it currently doesn't work as I described and instead unexpectedly works as you demonstrate is the reason this issue was created. What you're seeing is a more straightforward variation of what @vors experienced.

[2017-10-11 22:43] mklement0 commented on #3931
Indeed: that it currently doesn't work as I described and instead unexpectedly works as you demonstrate is the reason this issue was created.

What you're seeing is a variation of what @vors experienced, and demonstrates both current problems (deviations from POSIX-shell behavior):

* Globbing is applied blindly, instead of leaving quoted tokens alone.

* A glob that matches nothing results in an

[2017-10-11 22:44] markekraus commented on #5084
@Qowy I originally reproduced it in an fresh MVC project. It has the same issues as the more basic MyApp. We are using the MyApp as a baseline to rule out project specific issues. In theory, if this is fixed for the MyApp, it should also work for ASP.NET Core apps.

@daxian-dbw thanks!!

[2017-10-11 23:14] terrajobst commented on #4894
Technically yes. Practically, I wouldn't mess with the program files directory as this owned by the application (and its setup).

[2017-10-11 23:20] rkeithhill commented on #4894
@terrajobst Agreed.  I wasn't suggesting that folks outside of Microsof attempt this.  I was just hoping that it would be easier (and therefore much more likely to get done) if Microsoft could issue a Windows PowerShell 5.1 **patch** to add this stuff.  I figured if Microsoft had to recompile and issue a new WMF 5.2, that would take a long time to happen.  :-)

[2017-10-11 23:23] TravisEz13 commented on #5074
Thank you.

[2017-10-11 23:32] terrajobst commented on #4894
Maybe :-) That's for @joeyaiello's team to decide. I just had to share my two cents ;-)

[2017-10-11 23:44] mklement0 commented on #3931
<sup>Sorry for the reposts - I didn't want to clutter this thread with piecemeal insights.</sup>

Indeed: that it currently doesn't work as I described and instead unexpectedly works as you demonstrate is the reason this issue was created.

What you're seeing is a variation of what @vors experienced, and demonstrates both current problems (deviations from POSIX-shell behavior as of beta 8):

* Glo

[2017-10-12 00:53] SteveL-MSFT commented on #4214
@PowerShell/powershell-committee discussed this and where we landed is to have PSCore6 binary called just `pwsh` without an additional shortcut/alias for `powershell`.  The benefit is making it explicit without ambiguity on Windows whether you are using Windows PowerShell or PowerShell Core.  On non-Windows, it's shorter to type and more consistent with other shell naming.  Based on customer feedb

[2017-10-12 00:55] SteveL-MSFT commented on #4953
@PowerShell/powershell-committee discussed this and decided to leave the code as-is for 6.0.0 release

[2017-10-12 00:55] #4953 closed

[2017-10-12 01:15] daxian-dbw commented on #5084
Just confirmed that @iSazonov was right, this is a regression caused by #4196 -- the passed in `filename` is just a filename without extension, so `Assembly.LoadFrom` fails.
This regression could be fixed by #4942 because that PR will change `powershell.Invoke()` to not depend on `RunspaceConfiguration`. However, I think we need to revisit the change of #4196 to make it more reliable.

/cc @SteveL

[2017-10-12 01:19] mirichmo commented on #4975
I've been looking into it and the use of `strlen` seems appropriate in this case. From [MSDN](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/strnlen-strnlen-s), "strnlen is not a replacement for strlen; strnlen is intended to be used only to calculate the size of incoming untrusted data in a buffer of known size—for example, a network packet"

It is used twice within ...\src\powe

[2017-10-12 01:25] yuyixuantai commented on #5082
@markekraus @MaximoTrinidad  @SteveL-MSFT I installed Python 2.7.14 and I can reproduce it every time. and now I kown the reason and avoid it.
Steps to reproduce:
1. cd a new path:
    cd D:\code\pytest
    in "D:\code\pytest", there is only one file **string.py  (this is bug source)**
2. start python in current path:
    path
3. help(dict)
![bugwithstring](https://user-images.githubusercontent.co

[2017-10-12 01:41] mklement0 commented on #1995
@joeyaiello:

Isn't the fix for #4358 already a breaking change for those who've worked around the issue by doubling the final `\`; e.g., `"c:\tmp 1\\"`? In other words: if you limit the changes to this fix, _two_ breaking changes are guaranteed: this one now, and another later after switching to the future CoreFx API; and while that _could_ also happen if a complete stopgap were to be implemented

[2017-10-12 02:19] mklement0 commented on #992
@RichardSiddaway:

Note that a shebang line is just syntactic sugar (handled by the system) for invoking the executable named in it with the full path of containing file, so that `#!/usr/bin/pwsh` inside file `/path/to/script` is equivalent to explicit invocation `/usr/bin/pwsh /path/to/script`. Not only would it be difficult to distinguish these two forms, they _should_ be considered the same.

T

[2017-10-12 02:52] rkeithhill commented on #992
Agree 100%

[2017-10-12 03:14] iSazonov commented on #5084
I've seen the same long ago for powershell.exe - from the  publish  folder it works fine but from  win7-x64  it is having problem. Also locally I can not get tests with Add-Type passed - ref error - path not found. I believe it can related.

[2017-10-12 03:21] iSazonov commented on #3603
@SteveL-MSFT I thinnk we should close the Issue. If we want ` discuss/implement static` it is better open new Issue.

[2017-10-12 03:45] iSazonov commented on #3684
@mklement0 if  `-NoNewline` works as No Newline Between Objects we would add new parameter -NoLastNewLine which will suppress only last new line.
The parameter name `-NoNewline` does not explicitly imply that new lines is suppressed all or only the last. So user expectiotions is based on docs and/or actual behavior. Considering it's a long-standing parameter I beleive that `-NoLastNewLine` is righ

[2017-10-12 04:33] #3603 closed

[2017-10-12 04:40] SteveL-MSFT opened #5090 "Remove -ComputerName parameter from *-Service cmdlets"
Based on @PowerShell/powershell-committee discussion on https://github.com/PowerShell/PowerShell/pull/4960 we should remove `-ComputerName` from the *-Service cmdlets

[2017-10-12 04:40] iSazonov commented on #4836
Any news?

[2017-10-12 04:45] SteveL-MSFT commented on #5084
I reopened https://github.com/PowerShell/PowerShell/issues/3325

[2017-10-12 04:51] iSazonov commented on #992
@lzybkr Could you please comment? I remember you have some thoughts about profile loading.

[2017-10-12 05:03] daxian-dbw commented on #5084
@iSazonov Prior to adopting .NET Core 2.0, PowerShell needs to spin up a separate AssemblyLoadContext to handle assembly loading by itself, and the assembly probing path it uses is the base folder of S.M.A.dll. So at that time, it's by design that the hosting application needs to be built with `dotnet publish` and run from the publish folder, where all dependent assemblies are placed.

After adopt

[2017-10-12 05:20] iSazonov commented on #5084
@daxian-dbw Thanks!

[2017-10-12 06:40] travisty- commented on #1696
Hi @powershell, I just submit a PR (#5091) for this issue.

[2017-10-12 06:56] LarinLive opened #5092 "[Proposal] Set-AuthenticodeSignature add timestamp hash algorithm parameter"
Now cmdlet Set-AuthenticodeSignature always produce time stamp request with obsolete SHA-1 algorithm. Please add the parameter **TimestampHashAlgorithm** what will specify a desired tsp hash algorithm. Same functionality presents in **signtool.exe** tool with **/td** parameter

Thanks
Anton

[2017-10-12 06:56] 4creators commented on #992
One of possible solutions to that problem could be creation of system wide alias i.e. **posh** which would enforce Unix like behavior for shell scripts. This would make possible to have best of two worlds Windows convention based powershell (to preserve compatibility) and Unix convention based posh commands. For situations where current Windows powershell default behavior hurts see https://github.

[2017-10-12 08:26] xenalite opened #5093 "Intellisense: Dynamic parameters not displayed when another parameter is of a custom type."
Steps to reproduce
------------------
I am creating a cmdlet in C# as such:
[code]

When using this cmdlet in ISE, I would expect Intellisense to show a dynamic parameter.
It does show at any point before defining the `AdditionalParam`.

![image](https://user-images.githubusercontent.com/4509839/31486164-6d5d145a-af2e-11e7-8fb1-16b9768ea00c.png)

After defining `AdditionalParam`, Intellisense no l

[2017-10-12 12:33] markekraus commented on #2662
@iSazonov @dragonwolf83 @thezim

In researching this more, I discovered that `HttpClient` in CoreFX is in no way affected by any settings made to `System.Net.ServicePointManager`. Currently, users have no external way of influencing the crypto protocols of certificate validation. `HttpClient` is only affected by settings made to `HttpClientHenlder` and currently the cmdlets are instantiating a new

[2017-10-12 12:43] andrewducker commented on #3102
As an example of why this is useful - the Nuget.exe used for carrying out nuget CLI tasks is pretty good.  But if it could be used both as normal from within DOS and also from within Powershell with autocompletion (and returning objects rather than text) that would be fantastic.

[2017-10-12 12:47] mklement0 commented on #3684
User expectations _may_ be based on examining actual behavior (personally, I only very recently discovered the true behavior), and it's certainly _not_ based on the docs, [as I've tried to point out](https://github.com/PowerShell/PowerShell-Docs/issues/1739).

That said, introducing `-NoLastNewline`  (and possibly alias `-NoLastDelimiter`) sounds like a good compromise for the sake of backward com

[2017-10-12 12:53] mklement0 commented on #3603
`using static` definitely sounds like an interesting addition worth exploring separately, but it doesn't directly address what was proposed here: something that's available as _built-in_ functionality, preferably as an operator.

[2017-10-12 13:13] markekraus commented on #3603
I've been following this one on the periphery, so I might as well chime in.

I'm not sure how useful a native power operator in PowerShell really is. I believe anyone who is using it would also be using the other `Math` statics already and I definitely don't see a need to add those as native operators. I like the `use static` idea, so long as it can be implemented at the user's discretion for the

[2017-10-12 13:25] mklement0 commented on #992
@4creators: Note that an _alias_ is not a viable solution, because the mechanism must be shell-independent.

Therefore, an _executable in the filesystem_ is needed that ensures the no-profile behavior.

In the simplest case, a mere _symlink_ such as `/usr/bin/pwsh-np` would suffice:
Assuming that PowerShell can determine the name of a symlink that invoked it (which native programs can do), it can

[2017-10-12 14:12] MaximoTrinidad commented on #5082
@yuyixuantai, Thanks for the update!
:)

[2017-10-12 15:41] iSazonov commented on #5093
@xenalite ISE is not in the repo. Also ISE is on hold, it is recommended to use VS Code.

[2017-10-12 15:47] iSazonov commented on #3102
Have you ideas how implement this on C#?

[2017-10-12 16:01] thezim commented on #2662
@markekraus I tried implementing on `HttpClientHandler` and ran in to issues where it didn't seem respect the choice of protocol (macOS so far). Seemed to trying to use `None` when call was made after setting the property correctly, I would a have run wire shark to see what actually being sent. I then used the undesired `ServicePointManager` to validate my `WebListener` test is working property, a

[2017-10-12 16:18] MaximoTrinidad commented on #3102
Are these C# executable portable .NET Core? And, keeping in mind, that only Windows will work with *.exe programs. So, what about the other environments? This should work cross-platform.

:)

[2017-10-12 17:23] iSazonov commented on #5092
It is not trivial. The timestamp process is described in [Implementation Details and Wire Format](https://msdn.microsoft.com/en-us/library/windows/desktop/bb931395(v=vs.85).aspx).
[SignerTimeStampEx2](https://msdn.microsoft.com/en-us/library/windows/desktop/dd418879%28v=vs.85%29.aspx)

[2017-10-12 17:30] latkin commented on #3931
Thanks for sharing the POSIX design. I readily acknowledge that there is a lot of value in offering this well-established behavior to PowerShell users, even as a default on unix systems. This makes PowerShell easier to pick up for folks coming from that ecosystem. By no means am I opposed to PowerShell having this capability.

But dang, that's totally idiotic. I really really hope there can be an

[2017-10-12 17:34] lzybkr commented on #992
As a user, I might want the profile loaded in such scenarios so I can stop my admin from messing with my machine. 😸  🙌

But more seriously - admins don't want the profile loaded in non-interactive invocations of PowerShell. They should always specify `-noprofile`, but they don't, even when they are aware of the potential issues.

[2017-10-12 17:46] iSazonov commented on #3603
Where is Issue for ` use static`? :-)

[2017-10-12 17:48] raghav710 commented on #3684
Should the docs be updated with the details of the current implementation of `-NoNewLine` ?

[2017-10-12 18:07] dantraMSFT commented on #1696
Hmm, I seem to be missing something with this issue and the associated PR.  HandleStopJobCompleted appears to be only used for Job2 instances and not Job instances. While the code is duplicated, removing it for Job instances doesn't appear to be correct.

[2017-10-12 18:25] Alextocode commented on #5088
I believe in general this is a good idea, since it would make it equivalent to C# functionality.
However it will likely not receive this issue, since System namespace is very likely used in almost any .NET code. I am note a professional developer so I can not really estimate it, but maybe it might make sense that compiler can dynamically recognize the correct class by called method / property name

[2017-10-12 18:31] lzybkr commented on #5088
Here is the current [roadmap](https://blogs.msdn.microsoft.com/powershell/2017/07/14/powershell-6-0-roadmap-coreclr-backwards-compatibility-and-more/)

[2017-10-12 19:26] charleswj commented on #2514
@bcdady's suggestion does work since a REG_DWORD value of 0x2 will return as 2, and gettype() will then show it as an int. Additionally, int isn't even a registry value type.

[2017-10-12 19:45] snobu opened #5098 "ServerCertificateValidationCallback has no effect on Invoke-WebRequest/RestMethod"
Referencing the open issue here - https://github.com/PowerShell/PowerShell-Docs/issues/1753
Is this a bug or is it by design?

[2017-10-12 19:45] TravisEz13 commented on #4975
this is not an appropriate resolution.  This issue is 'must fix'.  Please speak with me before closing.

[2017-10-12 19:49] markekraus commented on #5098
This is `By Design`. PowerShell core uses `HttpClient` which does not make sue of any of the settings available in `[System.Net.ServicePointManager]`.

A new feature is in the works. see #4899

[2017-10-12 19:49] #5098 closed

[2017-10-12 19:51] markekraus commented on #2662
@thezim
Real quickly I threw this together:

https://github.com/PowerShell/PowerShell/compare/master...markekraus:WebCmdletSslProtocols

to test I'm using https://www.howsmyssl.com/a/check

[code]

expected result if `ServicePointManager` works:
[code]

actual result:
[code]

On the macOS issue: that is known. CoreFX currently doesn't support certificate and crypto settings on cert certain SSL bac

[2017-10-12 19:52] snobu commented on #5098
This is Windows PowerShell 5.1 (full framework) that i'm using to repro. Should i open the issue somewhere else?

[2017-10-12 20:00] SteveL-MSFT commented on #3684
@raghav710 yes!  is this something you can contribute?

[2017-10-12 20:06] markekraus commented on #5098
So that API is not native to powershell. It is a part of the .NET framework and is expecting a certain type of .NET delegate to be supplied. I have seen workarounds for it where thy declare a very simple C# class with `Add-Type` or by using reflection to modify the internals of `System.Net.ServicePointManager`. Generally, a script block does not work here.

[2017-10-12 20:13] SteveL-MSFT commented on #5098
@snobu Windows PowerShell issues/suggestions should be posted on [Uservoice](https://windowsserver.uservoice.com/forums/301869-powershell)

[2017-10-12 20:16] markekraus opened #5099 "Add `use static <class>` usage to allow static member access in PowerShell"
Reference: #3603

Proposal is to add usage to the `using` statement to allow for ease of access to static members of classes.

one possible syntax:
[code]

This issue is open to discuss possible implementations, issues concerns, use cases, yays and nays.

Questions: Methods only? All members? syntax? support for PowerShell v5+ user defined classes? precedence?

[2017-10-12 20:16] markekraus commented on #3603
Opened #5099 for discussion/tracking of `use static`

[2017-10-12 21:20] lzybkr commented on #5099
The proposed syntax is ambiguous with commands.

Today, method invocation uses an operator with an expression before the method name (e.g. `$o.` or `[t]::` ), otherwise the parser sees a command invocation.

The parentheses do not help disambiguate, and there are other quirks to note:

[code]

The strict mode error only happens if there is no space, as folks learning PowerShell were invoking funct

[2017-10-12 21:40] #4372 closed

[2017-10-12 21:40] #4732 closed

[2017-10-12 21:43] Alextocode commented on #5088
@lzybkr
Thank you very much Jason. I will read carefully.

[2017-10-12 21:48] markekraus commented on #5099
personally, I like the idea of them becoming function-esque. But if property members are also exposed, that might look weird.

[code]
That looks odd.

I like the `::` prefix idea. Makes it a little less confusing. i was thinking a sigil would be nice, and there already kind of is one for this usage.

[2017-10-12 23:37] SteveL-MSFT commented on #5053
@probonopd can you submit a PR to fix based on your best judgement?

[2017-10-12 23:43] SteveL-MSFT commented on #4160
I think the remaining items can be pushed to MQ

[2017-10-12 23:44] SteveL-MSFT commented on #4148
I think the remaining items can be pushed to MQ

[2017-10-12 23:46] SteveL-MSFT commented on #3888
We have unified rpm pkgs now, so this should no longer be relevant

[2017-10-12 23:46] #3888 closed

[2017-10-12 23:47] SteveL-MSFT commented on #3573
Dupe of https://github.com/PowerShell/PowerShell/issues/1621

[2017-10-12 23:47] #3573 closed

[2017-10-13 01:11] daxian-dbw commented on #3512
We now have only one RPM package for all supported red hat family of distros and it's published to the Microsoft YUM repository. However, an interactive manual step is required to install on OpenSUSE, see the [docs here](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#opensuse-422). Starting from the next release, we will publish `.tar.gz` packages for Linux/macOS,

[2017-10-13 01:19] bob0the0mighty commented on #2376
For clarification, what is F&O?

[2017-10-13 01:19] dee-see commented on #3994
I'll work on that one!

[2017-10-13 01:23] daxian-dbw commented on #2035
Close vis PR #2038

[2017-10-13 01:23] #2035 closed

[2017-10-13 01:28] lzybkr commented on #2376
Format and output.

[2017-10-13 01:41] thezim commented on #5074
@TravisEz13 Now that I understand the `packaging` module better, do we what this as a separate .pkg file and and exported function? I see only `Start-PSPackage` is exported currently. I have it working now 0283108b3eb7014963a7d7cea71068428b2c66b3 by including the app in the entire package which I thought made sense. Let me know gone in a wrong direction.

[2017-10-13 01:46] rkeithhill commented on #3931
Same here for us on Ubuntu.

Agreed.  You can disable pathname expansion globbing in Bash with `set -f noglob`. There needs to be a way in PowerShell to do the same.

[2017-10-13 01:53] rkeithhill commented on #3931
BTW a question for the Bash savvy.  We expect that some folks will continue to live in Bash but we want them to be able to use PowerShell scripts in our repo. So we've shebang'd them and committed them with chmod=+x.

The problem comes when they want use Bash globbing with a PowerShell command.  Bash globbing space separates the files and that messes up our PowerShell command.  Internally, it can

[2017-10-13 02:04] thezim opened #5103 "Define Uniform Type Identifier for macOS install package."
The macOS install package should adopt a proper [Uniform Type Identifier (UTI)](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/understanding_utis/understand_utis_conc/understand_utis_conc.html#//apple_ref/doc/uid/TP40001319-CH202-CHDHIJDE). Current this is just `powershell`. `fpm` offers a `--osxpkg-identifier-prefix` which would add a reverse domain such as `c

[2017-10-13 02:39] SteveL-MSFT commented on #3994
@dee-see awesome!  consider it yours!

[2017-10-13 02:43] mklement0 commented on #3931
@latkin:

No: the globbing is only applied when calling _external utilities_, on Unix, so nothing changes for calls to cmdlets / functions / *.ps1 PS scripts.

Note: Globbing _is_ applied to an executable PowerShell script _with a shebang line_, as it technically is an external utility too.