[2019-06-07 16:26] vexx32 commented on #9853
Initial results are pretty promising for only a one-line code change.

[code]
![image](https://user-images.githubusercontent.com/32407840/59118899-60a61780-891f-11e9-81ab-2fab1f5580ce.png)

So at minimum we'd need to also include a type converter that is capable of recognising that our source is an array, and our target is a list, and then just pull the basetype from the array and plug it into the

[2019-06-07 16:57] Liturgist commented on #9829
What would be applicable uses for the process-wide current directory?

[2019-06-07 17:08] kvprasoon commented on #9852
Not able to repro. This cmdlet doesn't tab completes as it doesn't exist so far in PowerShell 6+ .

[2019-06-07 17:19] maunderingpowershell commented on #9852
So is the get-eventlog cmdlet still coming to powershell 7? The cmdlet does tab complete but it fails when run.

Chris Maunder
Systems Administrator
Royal Engineered Composites

308-832-2760 x110
CMaunder@royalcomposites.com<mailto:CMaunder@royalcomposites.com>
From: PRASOON KARUNAN V <notifications@github.com>
Sent: Friday, June 7, 2019 12:09 PM
To: PowerShell/PowerShell <PowerShell@noreply.githu

[2019-06-07 18:17] #9853 closed

[2019-06-07 18:25] iSazonov commented on #9852
/cc @SteveL-MSFT Should we get Get-EventLog cmdlet back in 7.0?
Should we make an inventory in return all missing cmdlets?

[2019-06-07 18:34] iSazonov commented on #9851
Looks like one item for both versions.
/cc @bergmeister Is it possible to implement?

/cc @SteveL-MSFT Make sense to implement in PowerShell Core? It seems it should be in Windows distributive itself.

[2019-06-07 19:50] KirkMunro opened #9855 "Import-Module does not properly report errors to users"
If you have a script module that generates a terminating error, the error message shown to users does not indicate that the error came from `Import-Module`. Instead it simply shows the script module internals. This is inappropriate for users who may not have authored that script module.

If you have a function in a script module that generates a terminating error, and you invoke that function when

[2019-06-07 20:06] bergmeister commented on #9851
For PowerShell Core, I have added the 'Run as Administrator' option. The feature in general is referred to as a jumpstart menu.
The implementation of it calls a very delicate and complex sequence of Windows COM APIs (in Windows PowerShell it is C++ code that can still be seen in the MainEntry.cpp file of the source-depot branch, in PowerShell it is managed C# code).
It works roughly like this: Whe

[2019-06-07 20:34] oising commented on #7132
We struggled with this a decade ago when it first started rearing its ugly head:

![image](https://user-images.githubusercontent.com/1844001/59132040-12eed680-8942-11e9-888a-f1161241c24e.png)

[2019-06-07 20:38] oising commented on #7132
@rkeithhill Not to hijack the thread, but maybe we could collaborate on an RFC for this. Now that the source is open, we could improve on the PscxPath stuff (by extending PathInfo to handle non-existant paths, for example.)

[2019-06-07 21:02] rkeithhill commented on #5643
Low hanging fruit here but I'd be happy with an easier way to create list objects i.e. it would be nice to have a type accelerator for List<T> e.g. `[list]` (defaults to List<PSObject>) and `[list[typename]]`.  Wanted to capture that here since my issue #9853 requesting this was closed as a duplicate of this issue (not sure it's exactly the same but close enough I suppose).

[2019-06-07 22:56] alujones opened #9856 "Please provide a way to get the certificate from a web response."
# Summary of the new feature/enhancement

I had some code working locally on a Windows laptop in Powershell 5, which used Net.WebRequest to get the Certificate returned by a server, so as to validate its ownership.

Tried to use the code in PowerShell 6, and/or in Azure Functions (which also use PS6), and was unable to do so - ServicePoint.Certificate was always $null, no matter what site I tried.

[2019-06-08 06:49] SteveL-MSFT commented on #9852
`Get-EventLog` is deprecated as it only supports the old EventLog APIs (which doesn't have access to the new ETW logs).  Instead, users should be using `Get-WinEvent` which uses the new ETW APIs and can get the old EventLog logs.

[2019-06-08 06:49] #9852 closed

[2019-06-08 07:04] BrucePay commented on #9850
@SeeminglyScience Here is my thought process on this. This attribute is used to hide properties from the _graphical property editor_ in Visual Studio. They are, however, still public properties that can be accessed in code. Given that they are public they are in fact supported so if you are using PowerShell to investigate an object with such properties you probably want to see them.  That said, gi

[2019-06-08 07:22] travisclagrone opened #9857 "Missing exactly one ItemProperty cmdlet alias"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-08 10:13] BrucePay commented on #9626
Hi @SeeminglyScience - just a thought. As near as I can tell, nowhere in this issue have you actually included any examples showing how and why this feature would be used in PowerShell. Saying that it's like C# isn't helpful for people who aren't C# programmers (i.e. the bulk of PowerShell users). So I think adding a few lines of expository text and some examples would help convince people that th

[2019-06-08 11:23] BrucePay commented on #9857
@travislagrone Reading between the lines, you appear to be asserting that we should add 'np' as an alias for New-ItemProperty - correct? Now aliases are for interactive use, in theory to act as accelerators to facillitate interactive operations. In practise I suspect that in fact New-ItemProperty is not used enough to warrant acceleration (please tell me if i am wrong.) so there's not much justifi

[2019-06-08 12:15] SeeminglyScience commented on #9850
And also from intellisense (in VSCode at least, haven't checked VS)

Well not necessarily, but I will admit on second look `EditorBrowsableState.Never` doesn't *neccessarily* mean it's not supported.  I could have sworn it decorated members were excluded by roslyn for member resolution *period*,  but the one I tested must have been a special case (or I was mistaken 🤷‍♂)

Though, I think that makes

[2019-06-08 13:16] SeeminglyScience commented on #9626
@BrucePay I did describe the scenarios where it'd be most useful in PowerShell.  I've added some code examples to help illustrate, thank you!

[2019-06-08 15:34] travis-c-lagrone opened #9859 "Get-Variable leaks "private"-scoped variables"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-08 15:37] travisclagrone commented on #9859
For comparison, here is the behavior with the `$` operator instead:

**Steps to reproduce**

[code]

**Expected behavior**

[code]

**Actual behavior**

[code]

[2019-06-08 15:55] travisclagrone commented on #9857
@BrucePay From my perspective, _none_ of the `*-ItemProperty` cmdlets are used enough by enough people to warrant a built-in pre-defined alias. If I had my preference, I'd remove all of their aliases from "language-native" status.

That being said, if PowerShell is choosing to / has already _de facto_ committed to aliasing the `*-ItemProperty` cmdlets, then it should provide consistency in that re

[2019-06-08 16:30] glawrence commented on #8907
I am seeing this issue, and also the following

```Get-Help about_*```

Does not work either. This is in PowerShell Core 6.2.1 as follows:

[code]

[2019-06-08 18:23] karelz commented on #9815
@vexx32 no, sorry for not being clear. dotnet/core is option for people who have no idea where to file an issue.
For close partner technologies like PowerShell that build closely on top of CoreFx, I would hope the community and maintainers know where their underlying APIs live - in dotnet/CoreFx repo. And that they should encourage repro steps without PowerShell when filing there.

The key reasons

[2019-06-08 19:32] vexx32 commented on #9815
That makes sense, thanks!

Some of that maybe should be mentioned in the contributing docs / issue templates or something here, I'm not sure myself. @SteveL-MSFT might have more concrete ideas there.

I think we may potentially run into a decent number of cases where folks aren't really familiar with how to tests things that they're seeing without PowerShell, so it might be on the rest of us in th

[2019-06-08 19:44] jvierrajrv commented on #9815
The PS guys claim it is a missing Interop in Core/FX.  I kind of doubt that but they should know.  thte above reference to the missing type sounds like a good start so someone should knock on Core/Fx to address this deficiency.

[2019-06-08 19:55] vexx32 commented on #9815
@SeeminglyScience since you seem to know where the regression happened, could you open the appropriate issue in dotnet/CoreFX to get this resolved? 💖

[2019-06-08 20:25] MovGP0 commented on #9857
I agree that they are not widely used, but removing them will break things. So that's a bad thing.

Adding that alias would improve consistency. So that would be a plus.

[2019-06-08 20:27] MovGP0 commented on #9851
I guess this feature should be in Windows Terminal, rather than in PowerShell itself.

[2019-06-08 20:31] MovGP0 commented on #9829
Have you tried `Get-Location` instead?

[2019-06-08 20:50] rkeithhill commented on #9851
I'm a little uncomfortable with the jumplist of one app launching other versions of the app.  I realize that the Windows PowerShell jumplist does this by adding ISE but at least the two are related "version-wise".   FWIW I have machines with ~6 versions of Visual Studio installed and none of their taskbar jumplists offer to launch a different version of VS.

@MovGP0 Windows Terminal already offers

[2019-06-08 22:45] SeeminglyScience commented on #9815
Thanks @vexx32, I've opened issue dotnet/corefx#38374

[2019-06-09 05:29] karelz commented on #9815
Thanks @SeeminglyScience for your help! Your CoreFX bug report is pretty clear and should hopefully make it into .NET Core 3.0 (fingers crossed). Thanks!

[2019-06-09 07:10] MovGP0 commented on #9752
You can digitally sign the script to make it work.

However, if you don't have access to the private certificate of your company, or PowerShell is disabled, then you need to talk with the Administrators.

[2019-06-09 07:34] bergmeister commented on #9856
This is not an issue of PowerShell but the underlying .Net Core Framework.
The API that you use is now deprecated and alternative APIs like HttpClient are recommended. See the below issue for details and possible solutions
https://github.com/dotnet/corefx/issues/36979

[2019-06-09 14:55] #4066 closed

[2019-06-09 17:33] LarryWeiss commented on #9704
Are there any other characters that are not allowed in a variable's name?

[2019-06-09 17:38] rahulabrol4 commented on #8907
Not working for me either. PowerShell Core 6.2.1 as follows :

Name                           Value
----                           -----
PSVersion                      6.2.1
PSEdition                      Core
GitCommitId                    6.2.1
OS                             Darwin 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64
Platform

[2019-06-09 17:42] vexx32 commented on #9704
You can't include `{` or `}` in a variable name without escaping them with a backtick, because they're part of the variable name-enclosing syntax:

[code]

(Note: while `}` will work, it just ends the variable name if it's not escaped. Neither are usable in a non-enclosed variable name.)

I think treating `:` similarly makes sense; if you really want to use it as part of a name instead of a scope

[2019-06-09 18:15] vexx32 commented on #8740
@pougetat are you still working on this? 🙂

[2019-06-09 21:03] PrzemyslawKlys opened #9880 "No completions for dynamic parameters on command in scriptblock"
Issue Description
=====

I am experiencing a problem with... Dynamic Parameters within a script block. Following gif shows the problem.

![Problem-VSCodeDynamicParameters](https://user-images.githubusercontent.com/15063294/59164194-264c9e00-8b0a-11e9-9916-4096e1ee8f1e.gif)

I am actually not quite sure on the behavior but it seems that DynamicParameters are not expanded when using inside ScriptBlo

[2019-06-09 23:44] markekraus commented on #9856
If just getting the certificate from the remote server is your goal:

[code]

[2019-06-10 01:40] KirkMunro commented on #9114
@jzabroski You may be find [Plaster](https://github.com/PowerShell/Plaster) helpful for module development. If you're not familiar with it, it's a scaffolding generator for various things like modules, Pester tests, etc.

[Stucco](https://github.com/devblackops/stucco) is a Plaster template for PowerShell modules written by Brandon Olin that may also be helpful.

I'm not offering these as a soluti

[2019-06-10 01:58] jzabroski commented on #9114
@KirkMunro It's a bit circular to say there are examples written by Microsoft MVPs without defining thhe set of MVPs you respect.  Perhaps you were indirectly referring to yourself.  Until you go ahead and define it, I'll think of it as an empty set - just like PowerShell's documentation!  I actually recently discussed with the Pester team the trade-offs in defining PowerShell modules, and in just

[2019-06-10 02:34] BrucePay commented on #9857
Somewhat random comments: Aliases are an interactive-convenience feature rather than a "language-native feature" and, for the most part, should not be used in production scripts. I don't remember us making a conscious decision to exclude New-ItemProperty (@khansen00 might remember more) so it's probably an oversight. However even though you shouldn't use aliases in scripts, people do so removing t

[2019-06-10 12:20] SeeminglyScience opened #9861 "Expand HiddenAttribute to work with classes"
# Summary of the new feature/enhancement

When developing a module that has a mix of C# and PowerShell elements, it's often desirable to have some classes accessible in PowerShell that are not necessarily part of the supported public API's.  Currently this is done either via reflection or just documentation. Allowing `HiddenAttribute` to decorate classes would provide a nice way to telegraph that

[2019-06-10 13:36] KirkMunro commented on #9114
While there are many MVPs, I was referring to Cloud and Datacenter Management MVPs, and in particular, those which were previously PowerShell MVPs when that was a separate category. But I didn't have a set to share since I don't have a specifically defined set myself.

As for a PR, I have no problem submitting PRs when I have clarity on issues. For this discussion though, I think it's premature to

[2019-06-10 14:28] KirkMunro commented on #4568
FYI, I opened a set of RFCs to address error handling issues in PowerShell, this one included. If you're keen and you don't want to wait for the RFCs to reach the draft stage, you can find the PR with those RFCs [here](https://github.com/PowerShell/PowerShell-RFC/pull/187).

[2019-06-10 17:26] bpayette commented on #9752
@tlsalex To be clear, setuid is an operating system feature not a shell feature. You could try opening a bug on Windows itself to get the kernel team to add setuid support but that seems unlikely given that setuid is broadly considered a [security risk](http://maxsi.org/blog/setuid-bit-considered-harmful/).  As @MovGP0  suggests, a better option would be to talk to the Admin team and see why they

[2019-06-10 17:32] vsalvino commented on #3232
I have implemented a basic sudo that works well for running commands as administrator on Windows. You would probably NOT want to use this on linux/mac.

Edit your profile:
[code]
Add the following `sudo` function:

[code]
Then invoke in your shell. Supports cmdlets, executables, anything that could normally be typed into a PS prompt:
[code]
Note: You don't always need wrap the command in braces, b

[2019-06-10 17:55] bpayette commented on #9861
@SeeminglyScience

I didn't understand this. Can you provide an example?  Thanks.

[2019-06-10 18:08] bpayette commented on #9859
@travisclagrone Yes, this looks like a bug. IIRC, for performance reasons, language variable access goes through one interface and cmdlet variable access goes through the (much slower) provider interface which would explain the difference in behaviour. With regards to terminology, "private" was an unfortunate choice. "Private" variables in PowerShell are intended to be equivalent to unexported var

[2019-06-10 18:11] travisclagrone commented on #9857
@BrucePay I think I might have come across as a bit abrasive in my initial response.  If so, I apologize.  It was not my intention.

If it helps to clarify my position, I agree with you that aliases should be considered a "convenience feature" for interactive work, and that they should not be used in production scripts.

So, to advance the discussion, do you--or anyone else on the PowerShell team-

[2019-06-10 18:21] SeeminglyScience commented on #9861
@bpayette Yeah that sentence got away from me a bit.

Lets say I'm building a module that has a mix of cmdlets and functions, and I have some utility classes on the C# side that I might typically make `internal`.  If I want to reuse those utility classes in the PowerShell portion of the module, then I either need to use reflection or make the class public.

If the proposed change was made, I would

[2019-06-10 18:22] bpayette commented on #9855
@KirkMunro

So you are suggesting that `Import-Module` should catch all exceptions and wrap them in a `PSModuleImportErrorException` ?

Note: IMHO the module author should be dealing explicitly with errors and providing an appropriate experience for the end user rather than simply relying on the PowerShell runtime to take care of error handling and presentation.

[2019-06-10 18:33] SeeminglyScience commented on #9857
@travisclagrone

The problem with that is that a large portion of the folks who would use that in a script, aren't typically the type of folks to publish their work.

That said, I would be much more worried about breaking profiles.  Personally I don't like the idea of *any* additional two letter command names being reserved, regardless of the command's popularity.

[2019-06-10 18:41] msftrncs commented on #9704
Lets not forget, that using the `${ }` notation, ALL characters are valid, including control characters!  Also the same applies to the variable -name argument of the variable CMDLETs, all characters are valid (though wildcards may need to be escaped).  The only places there are restrictions are with the `$` sigil.

Lets explain, to the best of my knowledge, what is going on in the tokenizer:
- Mee

[2019-06-10 18:46] KirkMunro commented on #9855
@bpayette Something like that.

1. I think module authors should deal with all errors (but they don't because they aren't forced to do so).
1. I think users should not see internals from modules that they likely didn't create if Import-Module fails (but they do because of how it handles errors).
1. I think the PowerShell runtime should not silence errors from dynamically loaded modules.

In my min

[2019-06-10 19:21] KirkMunro commented on #9755
Just to add a data point to this: I [tweeted](https://twitter.com/Poshoholic/status/1136657800074055680) a question about `ActionPreference.Inquire` Thursday last week, which was retweeted a number of times, and not a single person responded. Literally, crickets, so I followed up on it, and have had some responses, confirming that they don't use the feature. It will be interesting to see if other

[2019-06-10 19:41] vexx32 commented on #9704
We don't need to change tokenizing beyond maybe adding a case similar to what exists for `{` (e.g, `${a{b} = 2` throws a very intentional error prompting you to use a backtick to escape the brace). I think that may occur in the parser, I'm not sure, would have to look.

Beyond that, we should add checks to ensure the code paths are followed appropriately so we get no errors when we do intentionall

[2019-06-10 20:20] SSvilen commented on #3173
Hi @PaulHigin - we were discussing the topic of object's rehydration after your session about remoting at PSConfEu. You suggested me to open an issue, so that you can discuss that internally and may be do a blog post about it.  It seems that this is not a new topic - so I'll use that issue here as reminder. Thanks to @Jaykul  I have something to work with, but may be new blog post about this topic

[2019-06-10 20:45] SeeminglyScience opened #9863 "Checking for TypeConverter's should use TypeDescriptor.GetConverter"
As per https://github.com/dotnet/runtime/issues/29823, it is no longer reliable to directly check for `TypeConverterAttribute` as some types are now handled intrinsically within `TypeConverter`.

The following code needs to utilize `TypeDescriptor.GetConverter` instead:

https://github.com/PowerShell/PowerShell/blob/65a3e467cc95059d16f58174335e6dd3a58c459b/src/System.Management.Automation/engine/L

[2019-06-10 22:23] parkovski commented on #3232
@vsalvino This is a useful workaround when GUI is available and is helpful in the meantime, but this is still not a real sudo because it doesn't work without GUI access. In a remote shell (ssh), literally the only way to make this work is a service and client [as I tried to demonstrate here](https://github.com/parkovski/wsudo).

To address some common suggestions, because believe me I've looked at

[2019-06-11 00:27] bpayette commented on #9704
[The tokenizer is here](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/parser/tokenizer.cs#L589) if you want to see how things actually work.

Remember that "variable syntax" is not just about variables. It applies to all providers and providers have different rules about which characters are valid in a [variable path](https://github.com/PowerShell/Pow

[2019-06-11 01:42] bcdady commented on #9278
See also https://github.com/PowerShell/PowerShell-Snap/issues/32

[2019-06-11 03:33] thezim commented on #9847
Someone correct me if I’m wrong but isn’t serialization/deserialization a misnomer for the Convert* cmdlets? You are never going to get a functional class back out of a “serialized” class unless it a POCO to start with. It’s something different by then in the example here.

[2019-06-11 04:13] iSazonov commented on #9774
@kvprasoon I feel the issue is more difficult. Original behavior is "randomize an entire collection", and the proposal is "random selection from a collection". Current parameter sets and names do not clarify this enough. I'd want to see more use-cases and more analysis. Also proposal Unique is a breaking change.

[2019-06-11 07:43] jackasser commented on #9781
I install ver.7.0.0
but not fixe

[2019-06-11 07:54] kvprasoon commented on #9774
I would say it should be _random selection from a collection_ than _randomize an entire collection_

From documentation.

[2019-06-11 09:49] Antaris commented on #9295
I am experiencing this same issue.

Source: Application Error
[code]

Source: .NET Runtime
[code]

I've attached the information collected by Windows Error Reporting.
[Report.zip](https://github.com/PowerShell/PowerShell/files/3275712/Report.zip)

Observations:
- I am running Windows v1903 (OS Build 18362.30)
- I do have Visual Studio Code installed (v1.35.0) with the Powershell extension (v2019.5

[2019-06-11 10:00] iSazonov commented on #9295
@Antaris Thanks! Is your repo persistent? Can you repo with latest PowerShell Core build?

[2019-06-11 10:04] Antaris commented on #9295
It is not persistent, more intermittent. I'll try and download the latest build and see if that fixes it.

[2019-06-11 10:28] iSazonov commented on #9863
@SeeminglyScience Thanks for great investigations! Do you ready to pull PR?

I found TypeConverterAttribute still in some places.

[2019-06-11 10:36] iSazonov commented on #9857
For reference https://github.com/PowerShell/PowerShell-RFC/pull/129 - long story about aliases.

[2019-06-11 10:43] iSazonov commented on #9855
Is the issue only for Import-Module, or other module cmdlets too, or module behavior in common?

[2019-06-11 10:53] SeeminglyScience commented on #9863
Nah you can mark this one up for grabs I think.  It should be a simple change but it will need some tests that I don't have the bandwidth for atm.

[2019-06-11 10:54] agowa338 commented on #3232
Can we please clarify the scope of this issue first?
Is this issue:
a) About implementing sudo within powershell for linux/mac systems?
b) Implement a sudo replica into windows?
c) Allow to elevate privileges when psremoting?
d) Allow to impersonate other users on windows?
e) something completely different?

For a) https://github.com/PowerShell/PowerShell/issues/3232#issuecomment-444849067
For b)

[2019-06-11 11:02] iSazonov commented on #9295
@Antaris If you can please fork the repo and build - with debug mode you could get more information in exception.

@SteveL-MSFT  Should we be worried about 6.2 version?

[2019-06-11 11:06] iSazonov commented on #9863
It can be not trivial. The TypeConverterAttribute  is used in PSMemberViewTypes.

@SteveL-MSFT It seems it is critical for 7.0.

[2019-06-11 11:10] vexx32 commented on #9774
That phrasing does seem more accurate. Given the wording in the current documentation it sounds as though the current behaviour was somewhat intentional for whatever reason

We can avoid this being a breaking change if we invert the logic and name the switch something like `-AllowDuplicates` perhaps? The default stays the same, but users can opt in to the new behaviour if they want it?

[2019-06-11 11:42] Brad-Christie commented on #9847
@thezim I can appreciate that, but not looking to convert back. The example was handy given I ran into the issue, but the original intent is to use a model to build a final object. That object is then consumed by an external system, and I'd rather not expose the intermediary properties.

That said, It's still inconsistent behavior. Get-Member and Csv, Html & Xml work, so (IMHO) at least ConvertTo-

[2019-06-11 11:49] iSazonov commented on #9774
AllowDuplicate does not make the behavior intuitive.
Current behavior is "randomize collection from pipeline or InputObject". So parameter name for this could be `RandomizeCollection`/`RandomizeInput`/`Randomize`. But we need _another_ behavior - I don't know that is right (math) term would be. `RandomAccess`/`RandomInputAccess` or `AsRandomSet`. I like the last

[2019-06-11 12:55] KirkMunro commented on #9855
I haven't stepped through the code while reproducing the error, but as far as I know this is only in `Import-Module`. The errors I have issue with occur while processing a psm1 file, which I don't believe is done anywhere outside of that cmdlet.

[2019-06-11 15:37] dependabot-preview[bot] opened #9867 "Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out"
Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out.

Is https://www.powershellgallery.com/api/v2/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-11 15:45] dependabot-preview[bot] opened #9868 "Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out"
Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out.

Is https://www.powershellgallery.com/api/v2/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-11 15:46] vexx32 commented on #9774
I don't think any of those appropriately describe what's going on here, though, unfortunately. @SteveL-MSFT any naming suggestions, perhaps? I'm not coming up with much at the moment. 😄

[2019-06-11 16:06] dependabot-preview[bot] opened #9869 "Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out"
Dependabot couldn't reach https://www.powershellgallery.com/api/v2/ as it timed out.

Is https://www.powershellgallery.com/api/v2/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-11 16:40] danielboth opened #9870 "Feature Request: Output stream for WhatIf messages"
# Summary of the new feature/enhancement

As a user I would like to be able to capture the output when a function or cmdlet is called using -WhatIf. This can be very useful when implementing tooling on top of PowerShell, for example a REST API, where we also want to be able to see what action would happen. Currently, we need to implement a separate code path, as the output of -WhatIf cannot be cap

[2019-06-11 16:41] iscalvaro1990 commented on #9869
I have the  same problem when i try  to get some (Microsoft) libraries.

[2019-06-11 16:41] mkanet commented on #7829
@agoldenlife  Thanks for the script.  But geez. I think it's a lot less hassle to just add the extra line below in (addition to Remove-PSDrive. if necessary) to accomplish removing the drive completely.  Pretty lame that they're interfering with one another.

NET USE /del \\$Device 2>null

[2019-06-11 16:52] danielboth commented on #9869
Yes, it seems to be offline, see here: https://github.com/PowerShell/PowerShellGallery/blob/master/psgallery_status.md

[2019-06-11 16:54] anmenaga commented on #9295
Judging by faulting module name I have a feeling that is .NET problem. Similar thing happened before.
Meanwhile, here is a simple way to get a dump of the crashing process with all details that will help greatly to investigate and fix. @Antaris - you can try [ProcDump utility](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump):
[code]
The next time PS crashes, the dump with detailed

[2019-06-11 17:46] pinecones-sx commented on #9774
I really think real random selection should be a switch, and just call it a day.

That keeps it from being a breaking change and makes it discoverable.

[2019-06-11 17:49] #9810 closed

[2019-06-11 18:19] parkovski commented on #3232
IMO this issue should be about implementing sudo in PowerShell where the underlying functionality already exists. Discussion about a sudo equivalent for Windows is probably more appropriate [in this terminal issue](https://github.com/microsoft/terminal/issues/146).

[2019-06-11 18:33] SteveL-MSFT opened #9871 "`Get-Service` is noticeably slower on PS7 than on WinPS5.1"
# Steps to reproduce

[code]

# Expected behavior

About the same time on both PS7 and WinPS 5.1

# Actual behavior

WinPS5.1 took 100ms on my machine
PS7 took 532ms on same machine

# Environment data

[code]

[2019-06-11 18:35] majkinetor commented on #3232
Why would terminal app be a better place to discuss sudo, given that its only yet another frontend to the CLI world ? By the same logic you could file a ticket at ConEmu repository.

One of the points of the next Powershell is less compatibility issues between systems using it. Regarding that, doing something only on system X is IMO not acceptable.

I as a CLI user couldn't care less if `sudo` is

[2019-06-11 19:37] BrucePay commented on #9857
@travisclagrone I did a quick search of github using:
[code]
This returned a few hits (ones that aren't part of our test suites) so the aliases are definitely used though not frequently. As @SeeminglyScience points out, most uses are likely in casual files or profiles.

On the other hand, proving that it's safe to add an alias like 'np' i.e. that it _isn't_ currently used is impossible. The best y

[2019-06-11 19:46] Liturgist commented on #9829
I am find with runspaces all having their own "current" working directory.

What I would like to know is appropriate uses for the process-wide current directory? `[Environment]::CurrentDirectory`

[2019-06-11 19:56] jborean93 commented on #9829
Spawning new processes, or checking the dir for .NET function calls would be my guess.

[2019-06-11 20:22] KirkMunro opened #9873 "Add operator to create a thread job from a command"
# Summary of the new feature/enhancement

As a scripter,
I want an operator that allows me to create a thread job from a single command
so that I can run commands on threads more easily in PowerShell.

This request is similar to the need for the recently added "ampersand background operator" (`&`) that allows you to run a command in a background job, but instead of running a command in a separate

[2019-06-11 20:26] KirkMunro opened #9874 "The ampersand background operator is acting as a statement terminator"
This behaviour feels accidental rather than intentional, and it's definitely confusing/unexpected.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-11 21:01] BrucePay commented on #9874
@KirkMunro In PowerShell, & is explicitly a statement separator just like in  sh/ksh/bash etc.

[2019-06-11 21:14] #9869 closed

[2019-06-11 21:14] #9868 closed

[2019-06-11 21:15] BrucePay commented on #9873
@KirkMunro As I mentioned in the other issue, the handling of a trailing & is by design and matches Unix shell behaviour. As far as simple dispatch on a runspace or runspace pool, I always figured we'd do it with
[code]
You do have to create the runspace or pool but that's not a huge deal.

[2019-06-11 21:17] #9867 closed

[2019-06-11 21:50] daxian-dbw commented on #9839
This should be a duplicate of https://github.com/PowerShell/PSReadLine/issues/914
A fix was made that worked fine with US-international and the default French keyboard, but unfortunately, it doesn't work with Neo2.

[2019-06-11 23:50] KirkMunro commented on #9874
TIL

[2019-06-11 23:50] #9874 closed

[2019-06-11 23:58] KirkMunro commented on #9873
I see, so more like using the call operator with some thing where you want to run commands, like you can do with modules today (i.e. `& (gmo SomeModule) invoke-stuff -arg1 -arg2 abc`). Are there other "things" where you might want to invoke commands that would make it more appropriate to use this techinque?

Without thinking too hard about it, right now I like the simplicity of something like the

[2019-06-12 00:16] bpayette commented on #9855
Hey @KirkMunro

First - kudos for trying to take on this problem. It's bugged me for years.

Hmm ... in your "expected output" example, you're still showing the line/line number in the module where the error occurred. I assume you intend that it should show the line where `Import-Module` was called (or `using module` or `#requires` for that matter)?

WRT terminating errors, you can mostly get the

[2019-06-12 00:29] bpayette commented on #9829
@Liturgist

In PowerShell? Basically none. Processes are spawned using the `Runspace` CWD so the process CWD doesn't matter. You _could_ set the CWD if you're using the .NET filesystem APIs as long as you can guarantee that there are no other Runspaces being used which is only possible for personal scripts. But even then, the .NET APIs don't understand PowerShell paths so you're better off using t

[2019-06-12 04:18] rkeithhill commented on #9873
Do you think thread job usage will be great enough to warrant dedicated syntax?

But you can do this today without a dedicated operator: `$job = Start-ThreadJob { Get-Process -Id $pid }`

To me, the primary advantage of `&` for regular jobs is it provides a known, comfortable mechanism for old *nix scripters like @BrucePay .  😜

[2019-06-12 06:16] michevnew commented on #7152
Any reason this is still not fixed in the 7.0 preview? I thought one of the main focuses of 7.0 was better integration/compatibility with Windows...

[2019-06-12 06:16] Antaris commented on #9295
@anmenaga

I managed to tricky this experience this morning. Fresh re-start of my laptop. The first time I opened PowerShell Core, it was fine. I then used Visual Studio Code to read my PS Core profile, and initiated a save _without making alterations_. I then opened PowerShell Core and it immediately closed.

Dump file is here:
https://drive.google.com/file/d/1KKeS3co8rE3w1xi3cFUPT21notKSmudT/vie

[2019-06-12 06:34] travisclagrone commented on #9857
Given the discussion and results so far, I believe it is appropriate to close this issue. At the very least, it can now stand as documentation + commentary for posterity.

[2019-06-12 06:34] #9857 closed

[2019-06-12 06:37] sba923 commented on #7152
@michevnew shall I infer you have a repro on your system? If so, can you please give as much detail as you can about your system and how you're triggering the problem?

[2019-06-12 06:45] michevnew commented on #7152
Yes, the steps to reproduce havent changed from what's described in the original post. I have a W10 machine with files on demand configured, with most of the relevant files set to "Online". I installed the PS7 preview, navigated to the OneDrive directory where all my PS scripts reside, run a simple "dir" and had to wait for OneDrive to fully download the entire content of the directory. The screen

[2019-06-12 06:51] peppekerstens opened #9876 "v7.0.0-preview.1 - Uninstall-Package fails uninstalling modules/packages"
[code]

[2019-06-12 06:58] peppekerstens commented on #9876
[code]

[2019-06-12 07:07] the-eric-kwok opened #9877 "PowerShell ISE Feature Request: Able to change hotkeys"
# Summary of the new feature/enhancement
The Intellisense hotkey (Ctrl+Space) is corrupt with the hotkey to activate Chinese IME. So I want to change my hotkey in the configure page.

[2019-06-12 09:24] mkarbo commented on #7578
I support this initiative, and have myself spent time trying work around this. It should be default

[2019-06-12 12:00] #9856 closed

[2019-06-12 12:27] LunicLynx commented on #7739
Solution i found was to copy the `ref` directory from the powershell installation, to the path that does not exist.

`C:\Program Files\PowerShell\6\ref`

There should be a better solution i guess.

[2019-06-12 12:32] kireetivvs opened #9878 "Unable to Disconnect a powershell session connected to office365"
I want to disconnect from a remote powershell connected to office365 and connect back later. Tried the `Disconnect-PSSession` command but it throws error.
**Steps to reproduce:**
[code]
Locally I have Powershell version 4 running. And `Get-PSSessionConfiguration` shows PSVersion 4 at server. And `Remove-PSSession` works perfectly. Any help appreciated

[2019-06-12 14:06] KirkMunro commented on #9873
@rkeithhill I don't have usage data to answer that question.

My argument for this functionality comes more from some of the core tenets of PowerShell: consistency and discoverability. I understand how `&` came to PowerShell because of common use in bash, just like how `&&` and `||` are coming to PowerShell. Now that it's here though you may have users who don't come from bash discovering and usin

[2019-06-12 14:06] KirkMunro commented on #9873
Speaking of consistency, @BrucePay, there are several differences between the `&` background operator in PowerShell and the `&` control operator in bash that I'm curious about:

1. The former just returns a job object, and all output is hidden behind that object, while the latter returns something similar (the job id and process id), but then it also shows output in real-time in the current termin

[2019-06-12 14:27] vexx32 commented on #9873
`$!` being parsed as a command name isn't really a bug per se, I don't think. Most of those shorthand variables (`$^`, `$$`, etc) seem to be special-cased in the tokenizer, because some of the characters they use aren't normally valid variable name characters. (e.g., try entering `$a$bb$$b` and look at the multiple errors you get for your efforts).

As a result, if the character sequence isn't par

[2019-06-12 14:53] KirkMunro commented on #9855
Correct. I created that output via a quick copy-paste-modify. It should show the line where the error occurred from the eyes of the end user (explicit import via `Import-Module`, `using module`, or `#requires`, or implicit import via invocation of a command that is in a module that has not been imported yet). I'll update the expected output in my post accordingly.

Interesting point on how `Runtim

[2019-06-12 15:41] MovGP0 commented on #9839
It is indeed a duplicate. Closing this one and subscribing the other. Thanks!

[2019-06-12 15:41] #9839 closed

[2019-06-12 15:51] oising commented on #7212
I was logged [an issue](https://github.com/MicrosoftDocs/azure-docs/issues/31016) when I noticed this behavior when using Azure Storage File Shares with a Windows Container flavored App Service. The problem stems in InitializeDefaultDrives failing, but the operating system mounted drive is mountable with New-PSDrive manually even though I.D.D. fails.

The guts of the problem seem to be that there

[2019-06-12 15:55] oising commented on #7212
@TravisEz13 A year ago this probably had little visibility. It's about to get a whole lot worse when Azure Storage File Shares come out of preview for Windows Container App Services, so if I may suggest you re-prioritize this. I've already seen some people move away from App Services to VMs to get past this problem because it didn't seem surmountable to them.

[2019-06-12 15:57] oising commented on #7212
@alexandair The issue is that the file share is seen as a native windows drive by powershell's filesystemprovider and it attempts to create a PSDrive for it in the provider's startup, but it fails. But if we use `new-psdrive z filesystemprovider -root z:\` it actually works.

[2019-06-12 16:31] anmenaga commented on #9295
It looks like the Access violation is coming from under `TaskbarJumpList.CreateElevatedEntry`.
@bergmeister , do you recall any stability issues with this function?
[code]

[2019-06-12 16:53] Antaris commented on #9295
That would explain why this doesnt happen if I launch `pwsh` from the command line.

[2019-06-12 17:16] corbob commented on #9877
To borrow from the issue template for Windows PowerShell issues (ISE is a feature of Windows PowerShell):

---

# Windows PowerShell

For Windows PowerShell 5.1 issues, suggestions, or feature requests please use the following link instead:
Windows PowerShell [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

This repository is **ONLY** for PowerShell Core 6 issues.

---

B

[2019-06-12 17:31] bpayette commented on #9878
Hi @kireetivvs, just to make sure we're talking about the same thing, `Disconnect-PSSession` is not the same as `Remove-PSSession`. `Remove` removes the remote runspace then closes the connection. `Disconnect` closes the connection but leaves the remote session running so you can reconnect to it at a later time.  Also be aware that  [`Get-PSSessionConfiguration`](https://docs.microsoft.com/en-us/p

[2019-06-12 17:32] TravisEz13 commented on #7212
@oising Does this issue only occur in docker mapped drives or is it specific to Azure Storage File Share.  If it's the later, you should file a new feature request.

[2019-06-12 17:43] bergmeister commented on #9295
We have seen sporadic failures of it before and other people tried to improve the COM calls. In this case I rather suspect that the used Windows Insider build 19H1 might be a culprit as well.
I ported the original C++ code from Windows PowerShell to C# using the same COM calls and used the Windows Api pack source code for the COM interface definitions.
The good news is that this code only runs whe

[2019-06-12 17:51] kireetivvs commented on #9878
@bpayette, yes I am looking for reconnecting to the session later. So ```Disconnect-PSSession``` is the cmdlet I want to make use of. Any idea why Disconnect isn't working for Office 365 powershell session?

[2019-06-12 20:13] Liturgist commented on #9829
Ok, I will take it that `[System.Environment]::CurrentDirectory` is not of much use in PowerShell.

Would it be expected to reflect the current directory at the time PowerShell was started (assuming that no PowerShell code has use a .NET call to change it)?

[2019-06-12 20:13] #9829 closed

[2019-06-12 20:47] rjmholt commented on #3241
Please see https://github.com/PowerShell/PowerShell-RFC/pull/192

[2019-06-12 20:53] SteveL-MSFT commented on #9295
@bergmeister are you willing to take on this work?  Please :)

[2019-06-12 20:54] daxian-dbw commented on #7132
Quoted from https://github.com/PowerShell/PowerShell/issues/7132#issuecomment-499852757

Just want to point out that the previous behavior was resulted by the inconsistency in `FileInfo` -- for `FileInfo` objects retrieved by `DirectoryInfo.EnumerateFiles()`, calling `ToString()` on them will return the simplified file name; while for the `FileInfo` object created using the public constructor, cal

[2019-06-12 21:08] bergmeister commented on #9295
I can try, the WPF API will need something like an added boolean parameter (defaulting to false) to make the jumplist entry open the application in elevated mode. It will depend on how flexible the WPF guys are in terms of willing to accept the API change and how hard it is to get a PR merged but I think it will be race again time because .Net Core 3 wants to publish an RC around July (meaning tha

[2019-06-12 21:18] PrzemyslawKlys commented on #9880
It's like ScriptBlock within a ScritpBlock is blocking it. Until I open brackets for New-HTMLTab11 autocomplete works fine. You can test above code on Mac.

[2019-06-12 21:26] BrucePay commented on #9878
@PaulHigin Any thoughts?

[2019-06-12 22:11] SteveL-MSFT commented on #9779
@PowerShell/powershell-committee discussed this, we agree to change the formatting of PSObject be consistent with Windows PowerShell 5.1.  It appears from the [corefx change](https://github.com/dotnet/coreclr/pull/22040/files#diff-37631fe33cc7e94eacd4f41d57c11ed6L247), it used to be 15.

[2019-06-12 22:25] joeyaiello commented on #8069
Thanks for raising this! I wasn't aware of these latest changes to the Documents folder, but I'd like to have some more internal discussion before we make a call either way. In particular, I'm concerned about the difficulty of creating and managing symlinks downlevel (where they're essentially only manageable by administrators).

[2019-06-12 22:52] SteveL-MSFT commented on #7132
@PowerShell/powershell-committee reviewed this and agrees that the old behavior is inconsistent, however, backwards compatibility is a major concern.  Recommendation is to explore an ETS solution and measure the level of compatibility as well as the perf impact before agreeing that would be the final solution.  If the ETS solution is insufficient for compatibility or there is significant perf impa

[2019-06-13 01:40] vors commented on #9779
@SteveL-MSFT awesome, thank you

[2019-06-13 03:46] iSazonov commented on #9295
It seems a race condition in GUI.

@SteveL-MSFT It is not clear about 6.2 version -  should we fix it too ?

[2019-06-13 03:59] iSazonov commented on #7152
@michevnew Can you prepare a repo on C#? I guess it come from .Net Core.

[2019-06-13 04:20] msftrncs opened #9881 "tab completion of arguments (file paths, variable names, etc) fails to escape some special characters"
__EDIT: 2019-06-25 - Additional conditions and clarifications, corrected expected behavior as requiring the curly quotes to be doubled, added second example demonstrating the tab completion when the first character of the file name is not a quote character, added third example for curly double quotes__

I am not sure what is really responsible for tab completion of path names in PowerShell, but he

[2019-06-13 04:26] iSazonov commented on #7739
@LunicLynx Thanks!
This seems to be a known problem.
/cc @adityapatwardhan @SteveL-MSFT @daxian-dbw

[2019-06-13 04:52] iSazonov commented on #7132
If .Net Core found this accessible we could do the same.

Perhaps PSSA could help. /cc @rjmholt @bergmeister

Not clear about ETS. I'd expect that we fix only `dir` output in formatting system.

[2019-06-13 05:23] rjmholt commented on #7132
ETS meaning extended type system? So some kind of script method override? (This is what I was imagining too).

PSScriptAnalyzer doesn't currently have any single rule tracking semantic changes in PowerShell. I think that kind of effort could only really proceed with help from PowerShell. I think we've discussed exactly this before, the idea where we have a big rule that just looks up the PowerShel

[2019-06-13 05:43] iSazonov commented on #7132
Yes.

Have we a tracking issue?

[2019-06-13 07:21] iSazonov commented on #9871
My measure 526 vs 32

[2019-06-13 08:24] jlouros commented on #9295
Without any data to back up my next statement, I seems this issue almost never happens if I open PowerShell with 'Run as Administrator'

[2019-06-13 08:36] Antaris commented on #9295
@jlouros I've experienced both running non-elevated, and running as an Adminstrator

[2019-06-13 09:15] MVKozlov opened #9882 "Segmentation fault when using cyrillic in remote session from Linux to Windows"
Tried to remote from Linux (Ubuntu 18.04) to windows (server 2016) and use Cyrillic letters
Get coredump

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data
[code]

[2019-06-13 09:18] iSazonov commented on #9871
It come from #4907 where we added  properties (BinPath, Description, UserName and Delayed Auto Start).

It seems the fix should be to move the properties to ETS and get its on demand only.

[2019-06-13 09:26] iSazonov commented on #9882
Could you repo without PSReadline?

[2019-06-13 09:35] iSazonov commented on #9881
/cc @kwkam

[2019-06-13 09:41] MVKozlov commented on #9882
Yes, I disable PSReadline on both sides and it still reproduced

btw
[code]

collate can be disabled - still repro

[2019-06-13 09:50] iSazonov commented on #9840
See LocationGlobber and PathResolution from Get-TraceSource

[2019-06-13 09:52] totkeks commented on #8069
Why use the documents folder in the first place? Powershell profiles / scripts / modules are not documents in the traditional meaning. I suggest use the generic appfolders (local, roaming) provided in Windows by default instead of using Documents or even the proposed $env:USERPROFILE\.powershell. While the latter is common on *nix operating systems, the appfolders are the way to go on Windows.

[2019-06-13 09:53] iSazonov commented on #9882
Why do you connect to 5.1, not PowerShell Core?

[2019-06-13 09:54] DerGuru commented on #7984
I am not completely sure, what your specific error message will say. Mine was: "Import-PSSession : Files cannot be loaded because running scripts is disabled on this system. Provide a valid
certificate with which to sign the files."
Adding "Set-ExecutionPolicy RemoteSigned" before the "New-PSSession... " did the trick for me.
[Inpired by this](https://answers.microsoft.com/en-us/msoffice/forum/all

[2019-06-13 09:55] #9877 closed

[2019-06-13 10:08] iSazonov commented on #9876
@peppekerstens Thanks for your report. The cmdlet is in https://github.com/OneGet/oneget. Please report issue there.

[2019-06-13 10:10] MVKozlov commented on #9882
Our Win16 servers does not have PSCore installed and installing additional software on these servers prohibited by our policy. Now I workaround this issue by `Copy-Item -ToSession` and running command remotely from these files instead of direct `Invoke-Command -File`

[2019-06-13 10:41] vexx32 commented on #8069
Please don't bury them all the way in appdata. There's *far* too much stuff in there to go trying to find PowerShell profiles. Somewhere in $home is fine.

[2019-06-13 11:21] bergmeister commented on #9295
Does this happen for PS 7-preview1 as well? .Net Core 3 has improved COM interaction, it might be an issue of .Net Core 2.1.
Also: Maybe a similar improvement to the code similar to PR #7580 could help as well?

[2019-06-13 11:43] SeeminglyScience commented on #9880
Just to clarify I don't think it's the parent script block, but instead the script block to the right that is throwing off tab completion. `New-HTMLTab -<tab>` works, `New-HTMLTab -<tab> {}` does not.  The psuedo parameter binding that completion uses to determine available parameters may not take dynamic parameters into account when there's a positional argument.

The easiest workaround for now i

[2019-06-13 11:50] PrzemyslawKlys commented on #9880
I've actually removed dynamic parameters for my case because of this. It's not a priority for me now although having 1400 strings in ValidateSet doesnt' look pretty :-) But hoping for a fix for future releases.

[2019-06-13 12:47] kvprasoon commented on #9871
mine is (pwsh)32 Vs (powershell)1 ms

[2019-06-13 12:55] KirkMunro commented on #8069
@totkeks Better for a consistent location across OSes than one location in Windows and a different one for macOS/Linux IMHO.

[2019-06-13 13:43] rzh3ll opened #9883 "Get String and Replace Question"
Hello,

I want to search multiple files with a string from my control File and put it into an Output.log

It works well most times.

But when my search string in my Control file has String with paranthesis (example : (84, 83, 69, 21, 78) it doesnt work.

Can i mask the Paranthesis in my Control File ? I tried :

´ `

""

''

but it didnt work, he hates my paranthesis.

The Script is :

Set-StrictM

[2019-06-13 14:08] peppekerstens commented on #9876
@iSazonov: As my latest comment explains; there is no issue in PS6. So is the cause of this issue related to the code in OneGet or in PS7?

[2019-06-13 14:13] iSazonov commented on #9876
@peppekerstens Thanks! OneGet repository is right place _to start_ investigating a root of the issue. If there will conclusion that the fix should be in PowerShell repo we will do.
(Note, we have moved to .Net Core 3.0 and this can be root cause.)

[2019-06-13 14:13] msftrncs commented on #9295
@bergmeister, I have had it happen with 7 preview as well, but much less often.   7 preview seems to give a CLR error dump, but it closes so quickly …  but I got it:

![image](https://user-images.githubusercontent.com/26179051/59439692-579fc500-8dbb-11e9-87dc-8e19f743ca4e.png)

I also don't experience this nearly as much when running 'as administrator', as @jlouros mentions, but as @Antaris said,

[2019-06-13 14:14] iSazonov commented on #9871
@kvprasoon I want to have your computer :-))))

[2019-06-13 14:14] peppekerstens commented on #9876
ah. that makes sense. thanks for clarifying!

[2019-06-13 14:16] fadanner opened #9884 "Powershell .net class loads slow since MS-Security Update April 2019"
Since May 2019 Security Rollup for Windows Server 2016, access to .net object via powershell is very slow, when a powershell variable breakpoint is set in the powershell.

For example loading speed of [System.Environment] takes over ten times with breakpoint set against no breakpoint set.

Since the behavior only occurs with latest security updates installed (May 2019 (KB4494440) or June 2019 (KB4

[2019-06-13 14:21] iSazonov commented on #9882
@MVKozlov Thanks! Could you please use a test Win2016 server with PowerShell Core? If it possible please share the test script and full repo steps, and maybe crash dump.

/cc @PaulHigin Could you please look the issue?

[2019-06-13 14:27] thezim commented on #8069
It would be nice if we had the ability to override the location via an environment variable if needed.

[2019-06-13 14:30] iSazonov commented on #9295
We could get more information with debug build (we ignore errors in release build in the code!)

[2019-06-13 14:38] Graham-Beer opened #9886 "PS implementation of the C# Using statement"
# Summary of the new feature/enhancement
The C# language provides a convenient syntax that ensures the correct use of IDisposable objects. I believe this would be a great addition to the PowerShell language, as the 'Using statement' simplifies the code that you have to write to create a resource and then finally clean up the object.

Without the using statement you are required to ensure that Disp

[2019-06-13 14:48] vexx32 commented on #9886
Come to think of it, I think this has come up in discussions previously, where the idea that this could actually be a cmdlet as well surfaced. Compiled cmdlets already have the capability to properly implement disposable features, after all.

Do you think a cmdlet would be better than a keyword? It might be possible to have it be pipeline-capable if it's a cmdlet, which could be interesting, depen

[2019-06-13 14:57] daxian-dbw commented on #7132
ETS won't be helpful to retain the old behavior in PowerShell. As described in https://github.com/PowerShell/PowerShell/issues/7132#issuecomment-501451500, the root cause of the original inconsistent behavior in PowerShell is the inconsistency in returning result of `FileInfo.ToString()`. When invoking `Get-ChildItem` against a directory, it uses `DirectoryInfo.EnumerateFiles()` to get the `FileIn

[2019-06-13 14:58] Graham-Beer commented on #9886
An interesting theory creating as a cmdlet. I'm still feeling its nicer if a keyword then it would be part of the language and get utilized more.

[2019-06-13 14:59] iSazonov commented on #5767
@SteveL-MSFT Will your team have resources for the site in new fin year?

[2019-06-13 15:08] anttiah opened #9887 "Automatic variables are not populated in extensionless scripts"
Some automatic varialbles like `$MyInvocation` and `$PSCommandPath` are not populated when running script files that have no extension. This makes it hard to write e.g. Git hooks with PowerShell 6 as the hook file names must be extensionless by definition.

# Steps to reproduce
Create a file named `test` with contents
[code]
Run the file
`pwsh .\test`

# Expected behavior
Outputs `False`

# Actual

[2019-06-13 15:11] vexx32 commented on #9886
I think that makes sense. We do have the unfortunate consequence there of it being unavailable on downlevel powershell versions, though.

Also, keywords tend to be a bit less discoverable than cmdlets in general; keywords don't tab-complete, but functions and cmdlets do, and they're a bit easier to find in the help documents as well -- most language features are documented in a slew of `about_*` h

[2019-06-13 15:13] vexx32 commented on #7132
I don't think it makes sense to retain the more confusing behaviour just because people are accustomed to dealing with it.

Keeping this change means some scripts will break, maybe, but in fixing those we'd just be removing additional workaround logic that was probably more annoying to have around anyway.

Maybe a small handful of edge cases where it really was helpful, but there is no shortage of

[2019-06-13 15:18] Graham-Beer commented on #9886
I think there is a good argument for both to be fair. I do get the backward compatibility but maybe it also encourages the use of PS 7 with shiny new features! Interesting to hear other peoples thoughts on this as well.

[2019-06-13 15:43] daxian-dbw commented on #9779
Just want to add that this is a by design change in .NET Core to fix the previously broken round-trippable string returned by `double.ToString()`.
Example:
[code]
In pwsh-7.0.0-preview.1, you will see `$a -eq $b` returns `True`, while in pwsh-6.2 you will see `False`.

To mitigate the unfriendly string representation in PowerShell, we will need to change [the `ToString` method](https://github.com/

[2019-06-13 15:51] daxian-dbw commented on #7739
This is a duplicate of #9587. I'm closing this in favor of the existing issue.

[2019-06-13 15:51] #7739 closed

[2019-06-13 16:07] rjmholt commented on #7132
https://github.com/PowerShell/PowerShell/issues/9138

[2019-06-13 16:08] kvprasoon commented on #9871
@iSazonov , srry, I'll have to ask my manager... 😛

[2019-06-13 17:01] bergmeister commented on #9884
Please fill in the issue template as things like the PS Version are very relevant to this.

[2019-06-13 17:16] SeeminglyScience commented on #9886
It would be difficult to do `using` as a cmdlet without losing some safety.  There's many situations where a pipeline stop exception could be thrown before the cmdlet received the `IDisposable`.

Last time this came up, @BrucePay suggested this syntax:

[code]

That could work, but I'd still be worried that a pipeline stop would be triggered before the cmdlet finished invoking the script block.  I

[2019-06-13 17:32] kvprasoon commented on #9887
same here,

[code]

[2019-06-13 17:48] bergmeister opened #9889 "Test-ModuleManifest is not thread safe (exceptions thrown from deep inside PowerShell engine)"
PSScriptAnalyzer version of 1.18.0 or older sporadically encounter an exception when calling `Test-ModuleManifest` concurrently, it seems to be an issue of the PowerShell engine code itself, not the cmdlet
The issue applies to any PowerShell version (5, 6.2, 7.0-preview1)

For context, here is how PSSA calls `Test-ModuleManifest` in the `Singleton` `Helper` class by creating an instance of `PowerS

[2019-06-13 18:09] SeeminglyScience opened #9890 "Add publicly implementable adapter for methods"
`PSPropertyAdapter` is cool, but every time I've thought about using it I've stopped because I typically also want methods.  Considering it was purposefully omitted from the public API and already exists in the internal API, I'm guessing this was a design decision.  Could someone clarify the intention?  Was this a security related decision or could this be opened up?

[2019-06-13 19:13] KirkMunro opened #9891 "Too many different -Scope parameters"
Currently there are several different uses of `-Scope` as a parameter in core PowerShell modules:

- As a string to identify a PowerShell invocation scope (e.g. when using cmdlets that work with aliases, variables, PSDrives, and modules)
- As a string to identify the profile to work with (e.g. when working with Package Management commands, you can specify CurrentUser or AllUsers, and now when work

[2019-06-13 19:18] vexx32 commented on #9891
Given these are parameters, we can change the parameter name and assign the alias `Scope` to each of these both as a shorthand and for backwards compatibility. I see no reason not to clarify the meaning of these parameters, it's something that's bothered me for quite a while.

[2019-06-13 19:22] KirkMunro commented on #9703
I'm going to update the title and description so that this focuses specifically on use of the `&` background operator, since that is what needs revisiting.

[2019-06-13 20:05] #4216 closed

[2019-06-13 21:11] 0xaryan opened #9894 "PowerShell 7-preview1 Suggestions remians on screen even after selecting an item"
![UqoPy4ryiP](https://user-images.githubusercontent.com/9091958/59467575-4602ff80-8e45-11e9-91a5-704e7b483990.gif)

# Steps to reproduce
Use any suggestion with many items, for example write `[System.T` and press `ctrl+space`
in console hosts like ConEmu or Visual Studio Code Terminal, then choose an item. (This doesn't happen in the main PowerShell host)

# Expected behavior
The item should be au

[2019-06-13 21:24] BrucePay commented on #9886
@Graham-Beer The `using` discussion comes every couple of years and then fades away. I suspect this is due to the fact that there really haven't a been lot of scenarios where you _need_ it in PowerShell and the few where it's required can be handled with try/finally. Otherwise the pipeline/cmdlets take care of disposing the resources for you. As a consequence, it has been hard to sustain much ener

[2019-06-13 21:44] rkeithhill commented on #9886
That sums it up nicely for me as well.

[2019-06-13 21:46] KirkMunro commented on #9591
I don't think terminating error handling should be a strict-mode feature -- it would be too easy to wreak havoc if someone turned it on and they happened to use modules or scripts that use `Set-StrictMode -Version Latest`.

There is an alternate proposal on how terminating errors could terminate properly as part of a collection of 4 related RFCs, all included in this PR: https://github.com/PowerSh

[2019-06-13 22:10] bergmeister commented on #9295
I opened an API proposal in WPF to get a sign off first (the proposed change is non-breaking, so it should be OK) and included some low level implementation details. I have not looked at the WPF code itself in detail but it should not be too difficult (the hardest part might be the testing)
https://github.com/dotnet/wpf/issues/950

[2019-06-13 22:22] SteveL-MSFT commented on #9295
@bergmeister I think for now, perhaps the interim solution is to wrap it in try...catch so that pwsh at least starts.  We can take that fix to 6.2.x servicing.  The proper fix can come later.

[2019-06-13 22:24] bergmeister commented on #9295
@SteveL-MSFT Are you sure a fatal CLR exception can be caught?

[2019-06-13 22:25] SteveL-MSFT commented on #7578
We've fixed the issue with tab-complete to be case-insensitive on Linux, so this should be less of an issue.  Since this was opened almost a year ago, I haven't seen much feedback that this is an issue, so closing it.

[2019-06-13 22:25] #7578 closed

[2019-06-13 22:45] Liturgist commented on #4216
What was the result of this discussion?

[2019-06-13 22:56] SteveL-MSFT commented on #7152
Took a look at this, I have a fix.

[2019-06-13 23:33] markekraus commented on #9886
Does a `finally` block run in a cmdlet/function even in the case of a pipeline stop exception?

As for the lack of sustained interest... I think the lack of decent `using` solution makes streams in PS awkward and discourages their use. I'm a HUGE fan of streams and have always felt they are a missed opportunity in PS. I have used them heavily in PHP, C#, and Python. Because they are clunky in PS,

[2019-06-13 23:45] SeeminglyScience commented on #9886
Yes, with some caveats.  If you place the assignment inside the `try`, there could be an exception or stop prior to the assignment.  If this happens in the `try`, the `finally` could still fire, potentially calling `Dispose` on an object from a previous scope.  If you place the assignment outside the `try`, a stop could occur before getting to the `try` block.

So I've taken to a pattern like this

[2019-06-13 23:58] markekraus commented on #9886
oof... that's even more painful.

[2019-06-14 00:12] vexx32 commented on #9886
I have a PR in the works to make this much easier for pipeline cmdlets (esp. those that need to keep the object around for the entire `process{}` sequence and only dispose it at the very end), but that scoping issue may well still be a bit of a problem. Not sure there's a neat solution to that one. 🤔

[2019-06-14 00:33] bpayette commented on #9891
@KirkMunro

Interesting. Personally I find `-Scope user` much more readable than `-UserScope`. Also, as a parameter argument, you can easily pass it as a value without having to splat.

@vexx32

You can't use aliases like that. You can't alias `-UserScope` to `-Scope User`.

That's what documentation is for. Is there a problem with the current docs? If so, please open a docs bug. Thanks.

[2019-06-14 00:37] rkeithhill commented on #9886
If only we had `?.` then your `finally` statement becomes a bit more simpler `$client?.Dispose()`.  Man, love me some C#.  :-)

[2019-06-14 00:38] vexx32 commented on #9891
Hmm. It's not clear, but I read it as saying "we should use `-UserScope` as a direct replacement for `-Scope` for that cmdlet; for example `-UserScope User` or `-UserScope System` (or whatever that one is, I gotta say I don't install a whole lot system wide).

The name might want to be changed if that is the case, though... maybe `-InstallScope` or something.

[2019-06-14 02:21] KirkMunro commented on #9891
@bpayette That's not what I meant.

My issue is that there are three distinct parameter types for `-Scope` parameters, and when I see `-Scope` I need to go to the docs to see what it's for.

If the `*-ExecutionPolicy` cmdlets instead had a `-PolicyScope` parameter (with an alias of `Scope` for backward compatibility), and if the PowerShellGet/PackageManagement cmdlets and the `*-ExperimentalFeatur

[2019-06-14 03:10] SteveL-MSFT commented on #4216
`New-TemporaryDirectory` is https://github.com/PowerShell/PowerShell/issues/3442

A `Temp:` drive resolves this issue.

[2019-06-14 03:11] SteveL-MSFT commented on #9295
@bergmeister I can't repro this myself.  I think the best option might be as you suggest to build a private and ask someone who can repro it to try it out.

[2019-06-14 04:33] iSazonov commented on #9295
I see that we ignore return codes in the code that can be bad.

[2019-06-14 04:46] sba923 commented on #7152
@SteveL-MSFT just curious: it seems I have never seen this issue. Your explanation in #9895 gives me the feeling everyone should be affected. What am I missing?

[2019-06-14 04:59] BrucePay commented on #9891
Historical reasoning:
[code]
Scope in this case is clearly qualified by the noun so `-PolicyScope` is redundant

[code]
Again, `-Scope` is clearly qualified by the noun making `-VariableScope` redundant.

And then it all goes off the rails with `Install-Module`:
[code]
This is extremely unfortunate because here the qualifying noun doesn't provide sufficient context. Maybe something like
[code]
wou

[2019-06-14 05:10] BrucePay commented on #9890
@SeeminglyScience IIRC we created `PSPropertyAdapter` as a compromise for a partner team that had property bags that they wanted to _easily_ expose as PSObjects. Our general expectation was that anyone who wanted to expose data as a `PSObject` would write a custom *ObjectAdapter but that's a non-trivial proposition (hence the compromise)  Of course this all pre-dates the DLR (which PowerShell supp

[2019-06-14 05:23] SteveL-MSFT commented on #7152
@sba923 I don't know if it depends on a specific version of Win10 or OneDrive client, but it repros easily on my desktop machine.

[2019-06-14 06:04] iSazonov commented on #9884
/cc @KirkMunro @PaulHigin

[2019-06-14 06:16] iSazonov commented on #9883
@rzh3ll The repo is for developers. Please move your question to any PowerShell forum.

Try to use `select-string -SimpleMatch`.

[2019-06-14 06:16] #9883 closed

[2019-06-14 07:40] Justiii3 commented on #7984
Hello,

I've created a new project yesterday, Installed System.Management.Automation  and Microsoft.PowerShell.SDK versions 6.2.1 .
I've ran the project with EXAMPLE CODE 1 and that worked perfectly. The project was ran on the same environment as the one described in the issue.

Thank you for your help

Closing the Issue

[2019-06-14 07:40] #7984 closed

[2019-06-14 07:44] ricmik opened #9897 "Errors when pressing page up or page down in Powershell 7 Preview 1, Ubuntu on Windows"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-14 08:12] fadanner commented on #9884
Added $PSVersionTable to the issue

[2019-06-14 08:14] weltkante commented on #9295
Looking at the [COM interface definitions](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.ConsoleHost/WindowsTaskbarJumpList/ComInterfaces.cs#L102), they are a bit fishy and certainly not what you usually would see.

* I've never seen anyone add `[MethodImpl(MethodImplOptions.InternalCall, MethodCodeType = MethodCodeType.Runtime)]` to COM interop code
* You are retur

[2019-06-14 08:17] dmitriyse opened #9898 "Clean way to define multi-value cmdlets for both PS Core and Windows PowerShell"
# Summary of the new feature/enhancement

If you want to allow your cmdlet to input argument as from pipeline as from input array or from remaining arguments then you are in troubles.

[code]
Output:
[code]

The provided code behaves similar in both PS Core and Windows PowerShell.

Please make all these tricks just like language construct
[code]

[2019-06-14 09:04] bergmeister commented on #9295
@weltkante  Interesting, I took the interface definitions from the original Windows API pack (see e.g. [here](https://github.com/devkimchi/Windows-API-Code-Pack-1.1/blob/3c5e4eec41a147d80c19c8fd6417e4c8f7ff7e77/source/WindowsAPICodePack/Shell/Interop/PropertySystem/PropertySystemCOMInterfaces.cs#L86)) and was not aware of this. I am not an expert in this area but if you think your changes make it

[2019-06-14 09:06] bergmeister commented on #9884
@fadanner This repository is not for Windows PowerShell as the issue template says, I assume the issue does not apply for PowerShell Core?

[2019-06-14 09:53] iSazonov commented on #9897
Please check without PSReadline.

[2019-06-14 10:00] ricmik commented on #9897
It works without PSReadline, but without PSReadline you also lose going through history by arrow up, arrow down, tab completion etc.

[2019-06-14 10:04] iSazonov commented on #9897
Please report the issue in https://github.com/PowerShell/PSReadLine

[2019-06-14 10:07] ricmik commented on #9897
Sure!

[2019-06-14 10:07] #9897 closed

[2019-06-14 10:12] bergmeister commented on #9295
@Antaris  @jlouros @msftrncs @cpmcgrath
In PR #9896, I added a global catch around it and added logging to got more information out
Please download the MSI from the build of that PR.
If you are not familiar with the system just use the direct link to the build [here](https://powershell.visualstudio.com/PowerShell/_build/results?buildId=25134) and click on the button on the top right, and then clic

[2019-06-14 11:00] #9831 closed

[2019-06-14 11:10] DarwinJS commented on #9831
msftbot seems to be miserly on closing issues eh?

[2019-06-14 11:30] Antaris commented on #9295
@bergmeister I've installed that Preview7 MSI and will get back to you as I try and recreate the issue, and run it for a couple of days as my main shell 👍

[2019-06-14 12:05] weltkante commented on #9295
@iSazonov where do you see that? I just did a review of the COM interface declarations as well as the calling `CreateElevatedEntry` method and couldn't find anything obviously wrong, at least in the methods which are actually used. It looks like all methods declaring PreserveSig are checking their return codes (methods returning void and not declaring PreserveSig have their return code checked by

[2019-06-14 12:13] iSazonov commented on #9295
I means
[code]
In release build we ignore fail results.

[2019-06-14 12:16] weltkante commented on #9295
@iSazonov ah ok, this doesn't really ignore the failure result, it just doesn't give out diagnostics. It still returns immediately, meaning the attempt to create the JumpList entry is aborted without doing any more COM calls. Doing a return certainly can't lead to the kind of crash we're seeing here.

[2019-06-14 12:17] SeeminglyScience commented on #9890
When you say custom `*ObjectAdapter` do you mean like `DotNetAdapter`/`DirectoryEntryAdapter`/etc? If so then yeah I'd take that in a heart beat, but `Adapter` is internal.

Yeah for some things `IDynamicMetaObjectProvider` works *okay*.  Even when I'm going that route though, I need a better way to telegraph members.  Since it uses `GetDynamicMemberNames`, `Get-Member` just shows the member name

[2019-06-14 12:22] bergmeister commented on #9326
I think we should close this issue as it does not add more information than #9295 already has

[2019-06-14 13:20] bergmeister commented on #9295
I just had a look at WPF's implementation and its code checks that it is in STA apartment state. WPF threads are all in STA so I am not sure if this check is due to WPF or if STA is more suited for the COM calls that we make (PowerShell Core, even 7, is in MTA mode due to .Net Core historically not supporting STA):
https://github.com/dotnet/wpf/blob/ae1790531c3b993b56eba8b1f0dd395a3ed7de75/src/Mic

[2019-06-14 13:28] bergmeister commented on #7216
What are the plans here in terms of timeline/expectations as this could be important for WPF? Add STA for PS 7.0? Or is it too much involved and will come only in 7.1? @SteveL-MSFT

[2019-06-14 13:35] MVKozlov commented on #9882
I will try to do this on the next week.... and, please, exuse my dumb, where I can find dump ? :)

[2019-06-14 13:40] Jawz84 commented on #7713
I'd like to pick this one up.

[2019-06-14 13:41] weltkante commented on #9295
Usually COM handles the apartment for you, if you aren't on STA then CoCreateInstance will create a dedicated STA thread for the COM objects if they are registered as only running on STA.

[2019-06-14 13:49] vexx32 commented on #7713
Have at it! 💖

[2019-06-14 14:08] Jawz84 commented on #7713
Hey Joel @vexx32 tnx! I've put in a PR as you can see.

[2019-06-14 14:16] zzJinux commented on #7999
I think I found one more doubtful behavior. Please check if it's right
## Reproduce
working directory:
[code]
Then run the following:
[code]
## Expected
[code]
`'``[``]'` should be interpreted as `BACKTICK META-LBRACKET BACKTICK META-RBRACKET`, then match ` `` `
## Actual
[code]

[2019-06-14 14:38] KirkMunro commented on #9891
I ❤️ the `-For` parameter name suggestion. That's very expressive! I've updated an RFC I have open proposing optional features to use that parameter name because it makes the commands self-documenting.

I also like that parameter name for `*-ExecutionPolicy`, `*-ExperimentalFeature`, and the PowerShellGet/PackageManagement commands. Thanks for that suggestion @bpayette!

[2019-06-14 14:44] RichardSiddaway commented on #9798
I'm seeing the same behaviour of no package providers being available to the PS 7 preview even though PS 6.2.1 and Windows. I'm using a standalone laptop so Amazon Web services isn't an issue for me
 `
PS> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.0.0-preview.1
PSEdition                      Core
GitCommitId

[2019-06-14 14:46] KirkMunro commented on #9891
@SteveL-MSFT: This should be a fairly quick decision to make for or against this in the Committee. Could you table this at a meeting? If the Committee buys in, I'll submit the PRs.

The tl;dr of this is:
PowerShell uses "scope" to refer to the activation stack of the currently running script. Because of that, a `-Scope` parameter name on `Import-Module`, `Get-Variable`, etc. makes sense. There are

[2019-06-14 14:55] KirkMunro commented on #9884
@fadanner Thank you for explaining the issue you were seeing so clearly. I love it when someone indicates they took the time to isolate the problem, in this case trying with/without the OS updates, using procmon, etc. That is very much appreciated.

As @bergmeister suggested, it would be most helpful to know if this is an issue for PowerShell Core or not. Are you able to try that out on a test ser

[2019-06-14 15:06] rkeithhill commented on #9891
I'm not a fan of the `-For` idea because I use  `-For` interactively for `-Force`.   Also, while this is "fluent" in nature, a preposition doesn't quite fit the PowerShell idiom for parameter names IMO.  I'm certainly up for changing the parameter name on `Enable-ExperimentalFeature`.

[2019-06-14 15:12] vexx32 commented on #9798
Came across something like this yesterday on a new install.

After attempting to run any powershelllget or PackageManagement command, run this and check the result:

[code]

For me, I saw PS loading these modules from `C:\Program Files\PowerShell\Modules` before the ones in the `PowerShell7-preview\modules` folder.

For whatever reason I had old versions in that folder, which failed to work pretty

[2019-06-14 15:29] KirkMunro commented on #9891
@rkeithhill Prepositions are already in use as parameter names in PowerShell commands. Some common examples that come to mind are the `-From` and `-To` parameters in `Send-MailMessage`, or the `-Before` and `-After` parameters in `Get-Job.

[2019-06-14 15:37] rkeithhill commented on #9891
Fair enough.  I guess down the road I'd still like to still be able to recognize the language.  I'm all for additions and strategic changes but changing things that have existed for a decade or more to make it "slightly better" ... yeah, I'm not a fan of that.

[2019-06-14 16:25] Cloudenius opened #9902 "Feature Request: Join URLs using Join-Path"
# Summary of the new feature/enhancement

As a user, I would like to combine parts of a URL with Join-Path, so that my code looks clean, is easier to read and that the URL is validated/reachable.

# Proposed technical implementation details (optional)

[code]

[2019-06-14 16:34] SteveL-MSFT commented on #7216
@bergmeister agree that this is probably needed for WPF to work with 7, so we should do this for 7.0.

[2019-06-14 16:42] austoonz commented on #9798
Thanks @vexx32 - while that wasn't the case for me it did give me something to look at... and good news.

The issue for me has been solved by removing the PackageManagement module from my user PS Module path. I had pre-1.4 versions of PackageManagement which was breaking PowerShell 7.0-preview.1.

As soon as I removed PackageManagement and re-launched PowerShell 7.0-preview.1 the PackageProviders

[2019-06-14 16:48] KirkMunro commented on #9891
Not all of these commands have been there for a decade or more, and among those discussed here, the commands that are a dozen years old are not the ones where changes are being proposed here, aside from `Get-/Set-ExecutionPolicy` which are usually just fire-and-forget commands.

I look at issues like this as something that wasn't readily apparent early on, but that later became more of a problem d

[2019-06-14 16:54] vexx32 commented on #9798
Awesome!

@SteveL-MSFT is there anything we can do with respect to this sort of issue? I feel as though anyone coming from PS 6.x to PS 7 risks running into the same issues.

[2019-06-14 16:55] KirkMunro commented on #9891
Plus, to speak to the "slightly better" comment and give some background behind where this discussion started, I have an RFC open for commands for use with optional features. In an earlier version of the draft, I was looking at using a `-Scope` parameter, but in those cmdlets that's very confusing because they have two notions of scope: the users for whom they are enabled/disabled or by default (e

[2019-06-14 17:00] rkeithhill commented on #9891
And it's a great conversation to have for new commands.  I'm just not so keen on the "let's also change well-established commands for consistency" aspect of this.  BTW I don't think the `ExperimentalFeature` commands are well-established.

[2019-06-14 17:16] RichardSiddaway commented on #9798
@vexx32 That solved the issue I had.  Thank you

[2019-06-14 17:23] SteveL-MSFT commented on #9795
Dupe of https://github.com/PowerShell/PowerShell/issues/9295

[2019-06-14 17:23] #9795 closed

[2019-06-14 17:58] SteveL-MSFT commented on #9798
Hmmm, don't see an obvious fix here.  We prioritize modules from the user folder first.

Changing the current behavior to load newest module irregardless of the priority in `$env:PSModulePath` is a breaking change and likely to impact a number of customers that wanted to use a specific version.

We could print out a warning message if we import a module that isn't the latest one, but there's a per

[2019-06-14 18:00] vexx32 commented on #9798
Yeah, I'm wondering if, since we _know_ for a fact that lower versions of PkgMgmt won't work, is there some way we can set a minimum version for PS7 for those modules?

[2019-06-14 18:23] iSazonov commented on #7216
We preserved all apartment code. Only .Net Core has probably deviations from .Net Framework.

[2019-06-14 18:28] bergmeister commented on #7216
@iSazonov Except for the `-Sta` and `-Mta` switches on the `pwsh` binary that were removed in # 4995

[2019-06-14 18:34] iSazonov commented on #7216
Has MSFT team tests for the code area?

[2019-06-14 18:51] bergmeister commented on #9295
@Antaris Thanks. P.S.: If you see a message of the format `Exception '{exception}' with stack trace {exception.StackTrace} successfully caught.` please let us know because that would mean that the `catch` statement was able to catch the fatal CLR error (which I doubt at the moment).

[2019-06-14 21:01] paulsancer commented on #4457
Hi guys, is there any update on how to manage IIS using Powershell Core?

[2019-06-14 21:16] fMichaleczek commented on #9535
@SteveL-MSFT I try Peachpie a php implementation based on dotnet core, but failed because PSCmdlet class need have a constructor less. I also think the Iron(Python) languages will have the same barrier.

I'm studing Cmdletization to find a workaround (as a LanguageCmdletAdapter).
Another idea ?

[2019-06-14 22:24] zzJinux opened #9903 "Get-ChildItem -Exclude excludes the base directory"
As far as I know, `Get-ChildItem` does only care about children of specified path.
But it seems `-Exclude` parameter breaks the rule.

# Steps to reproduce
Assume the working directory is `<some_path>\foo`.
There are some files at  `<some_path>\foo\`.
Let them `file1.txt`, `file2.txt`, and so on
[code]

# Expected behavior

[code]

# Actual behavior
Nothing is printed
[code]

# Environment data

[

[2019-06-15 00:00] #9876 closed

[2019-06-15 15:54] Liturgist commented on #4216
@SteveL-MSFT - Ok. I do not see a `Temp:` drive from `Get-PSDrive` in 6.2.1. Am I looking in the wrong place, or when might the `Temp:` drive become available? #3442 appears to show `Waiting - DotNetCore`.

Will the `Temp:` drive be global for the system in the same way a `/tmp` on *NIX systems is currently?

Will there be a `New-TemporaryDirectory` to be orthogonal with `New-TemporaryFile`?

[2019-06-15 16:05] iSazonov commented on #4457
The latest information was that IIS team has no plans to support PowerShell Core. Perhaps the situation changed after the PowerShell team announced that version 7 should be an almost complete replacement for Windows PowerShell. /cc @SteveL-MSFT
In any case it is better ask IIS team. You could use Windows 10 Feedback utility, UserVoice, Microsoft forums and others.

[2019-06-15 16:13] iSazonov commented on #4216
@Liturgist It was an experimental feature. Now it is in 7.0. You can download daily build and find it there. It is "global" in PowerShell session.
No immediate plans exist to implement `New-TemporaryDirectory` - you can discuss in #3442.

[2019-06-15 18:59] kborowinski commented on #9599
**OMG!** I have wasted whole day trying to port module with custom C# type definitions to PS Core just to find that when _ReferencedAssemblies_ parameter is specified the _Add-Type_ does not include .NET Core standard assemblies. I was loosing my sanity because of that! Please fix it!

@fMichaleczek: Thanks for the workaround!

[2019-06-15 19:07] jonstelly commented on #9842
The easiest workaround was to set bash as my default shell then launch powershell from `~/.bash_profile`:

[code]

But it would still be nice if I could skip bash and use pwsh as my default shell.

To add to the initial report, SSHing with pwsh as the default shell fails, so does trying to log in from one of the other consoles (`ctrl+alt+f1` etc...) when pwsh is the default shell, but launching on

[2019-06-15 19:12] iSazonov commented on #9898
@dmitriyse Could you please search in the repo - it seems we have some discussions about the problem

[2019-06-15 21:43] mklement0 opened #9906 "Bundled version of the ThreadJob module is outdated"
The version of the `ThreadJob` module that comes with PowerShell Core 7.0.0-preview.1 is 1.1.2, whereas the latest (production) release per https://www.powershellgallery.com/packages/ThreadJob is 2.0.0

[2019-06-15 22:41] vors commented on #1575
Doesn't repro for me on 7.0.0-beta1 on mac.

[2019-06-16 07:48] kvprasoon commented on #9903
Yes, and it does the exclusion in the parent directory. It lists other files in the parent directory.

[2019-06-16 07:52] kvprasoon commented on #9903
Yes, and it does the job only for files. If there is file with name `foo.txt` in the same directory.
This works: `Get-ChildItem -Path '.' -Exclude foo.*`
This doesn't: Get-ChildItem -Path '.' -Exclude foo*``

[2019-06-16 08:26] iSazonov commented on #9906
We have 2 opened PRs from Dependabot but with test errors. I expect we will have new version in next preview.

[2019-06-16 08:30] iSazonov commented on #9902
@Cloudenius Thanks for your contribution!

It is dup of more common #8835

[2019-06-16 08:31] #9902 closed

[2019-06-16 14:36] SeeminglyScience commented on #9890
Can this be reopened please? cc @iSazonov

The design question was answered, but it still stands as a feature request.

[2019-06-16 16:13] fMichaleczek commented on #9405
Can this issue be reopened ?
/cc @iSazonov

@mklement0 There is an improvement to Native Hosting scenario on .net core 3.0 Preview 6.
I don't know if there is any plan to move on native hosting later, but it should help if dotnet/coreclr#20562 isn't resolved.

Source :
- [announcing-net-core-3-0-preview-6](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-6/)
- [.NET Core Hosti

[2019-06-16 17:17] iSazonov commented on #9405
@fMichaleczek It is Core issue and it is tracked in https://github.com/dotnet/coreclr/issues/20562 - please vote there. I don't think that we will implement native host in PowerShell repo.

[2019-06-16 19:45] mklement0 commented on #9903
Certainly surprising; ultimately a duplicate of #3304

In short: the exclusion is applied to the leaf component of the targeted dir. _itself_, not to the children.

@kvprasoon: Interesting that `-Name` behaves differently; needless to say, it shouldn't (even though it exhibits the more sensible behavior here) - there are a number of problems relating to `-Name`.

[2019-06-16 22:15] mklement0 commented on #9114
Let me try to summarize and complement the discussion:

* There _is_ conceptual guidance in the docs, namely [Writing a Windows PowerShell Module](https://docs.microsoft.com/en-us/powershell/developer/module/writing-a-windows-powershell-module) (I can't speak to the quality of that guidance):

   * The `about_Modules` topic links to that topic, but the only help topic for module-related _cmdlets_

[2019-06-17 01:23] KirkMunro commented on #9296
@ylluminate Even though this has been marked as answered, I'd like to ask you a few questions if you're still paying attention to this thread.

Can you go into a bit more detail on this point? What about it has made you "spit and curse" when using it? What makes you feel MS is pushing backwards vs forging ahead?

What does such a compatibility layer look like to you? Are there specific things you

[2019-06-17 03:43] iSazonov commented on #9114
We could check presence and create .psm1 file.

[2019-06-17 09:19] PowershellNinja opened #9909 "Powershell Core 6.2.1 does not work with DOS device paths"
# Steps to reproduce

[code]

# Expected behavior
As supported since .NET Core 1.1:
https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats#dos-device-paths

[code]

# Actual behavior

No error, no output

# Environment data

[code]

[2019-06-17 11:41] Antaris commented on #9295
@bergmeister I haven't been able to replicate the issue in the last few days. I'll keep at it, as I use PowerShell constantly.

I have also not encountered any exceptions.

For reference, my spec machine is:
Dell XPS 15 9570
Intel Core i7-8750H - 6 Core
32GB RAM

[2019-06-17 12:00] #9906 closed

[2019-06-17 12:50] bergmeister commented on #9295
That is good but have you seen a log in the console saying
`Exception '{exception}' with stack trace {exception.StackTrace} successfully caught.`
Only if you've seen it then it would be the proof that the fatal CLR error could be caught.

[2019-06-17 13:21] iSazonov commented on #9909
It is not regression. I checked that this does not work in previous versions and Windows PowerShell.

@PowershellNinja Could you add more information why you need this?

[2019-06-17 13:35] jonitis opened #9910 "7.0.0-preview.1 problems with keyboard layouts that use dead-keys"
# Issue
All versions of PowerShell (5.1, 6.2, 7.0) have different problems with input of accented characters.   The issue with 7.0.0 preview 1 is that entering dead-key character should wait for next character to produce the combined character. For examle '+a=ā. '+(space)='. Instead we immediately get @ character. If followed by correct latin character we also get combined accented character. Pres

[2019-06-17 13:37] jonitis commented on #9910
Area-PSReadline

[2019-06-17 13:39] jonitis commented on #9910
One can use Microsoft Keyboard Layout Creator 1.4 to see what combined characters should be produced by keyboard layout on each key combination
https://www.microsoft.com/en-us/download/details.aspx?id=22339

[2019-06-17 13:41] jzabroski commented on #9114
I fixed my comment to say:

Sorry about that.

[2019-06-17 15:17] vexx32 commented on #9910
See here: https://github.com/PowerShell/PSReadLine/pull/945#issuecomment-502710868

Being worked on in the PSReadline repo. :smile:

[2019-06-17 16:12] daxian-dbw commented on #9910
@jonitis Can you please try out the fix in https://github.com/PowerShell/PSReadLine/pull/945? You can get the `PSReadLine.zip` from the artifact tab of that PR CI: https://ci.appveyor.com/project/PowerShell/psreadline/builds/25306787/artifacts

[2019-06-17 16:18] daxian-dbw opened #9912 "Remove the 'DisableZipDownload' setting when the official fix is in Azure DevOps"
Downloading zip file is broken in Azure DevOps Windows CIs, and we applied `DisableZipDownload: true` for Windows CIs to work around the issue (#9911).
The temporary fix should be removed once the official fix is in Azure DevOps.

[2019-06-17 16:22] daxian-dbw commented on #9894
This is a PSReadLine issue.
@0xaryan Can you please move the issue report to https://github.com/powershell/psreadline? The bug report template has a script for you to run to collect some extra environment data, which would be very helpful to the diagnosis.

[2019-06-17 16:32] kilasuit opened #9913 "PS v7 points to PS v6 docs"
As per the below Screenshot from PSv7 there is still a pointer to PSv6 Docs
![image](https://user-images.githubusercontent.com/6355225/59620857-d1221500-9125-11e9-908c-375a8b3171a4.png)

this should be changed prior to v7 becoming GA

[2019-06-17 16:39] kilasuit commented on #9114
Technically this issue is a mix of Core PowerShell cmdlet issues mixed with PowerShellGet which I expect will get resolved as part of the PowerShellGet 3.0 RFC - https://github.com/PowerShell/PowerShell-RFC/pull/185

![image](https://user-images.githubusercontent.com/6355225/59621185-a6848c00-9126-11e9-8bfe-5237f46462a4.png)

[2019-06-17 16:40] rkeithhill commented on #9913
There's a PR that changes this to https://aka.ms/powershell.

[2019-06-17 16:45] 0xaryan commented on #9894
@daxian-dbw By "Move the issue" you mean [transferring it](https://help.github.com/en/articles/transferring-an-issue-to-another-repository)?
If so, I can't because _"To transfer an open issue to another repository, you must have write permissions on the repository the issue is in and the repository you're transferring the issue to. "_

Or you mean reposting this issue there?

[2019-06-17 16:54] jonitis commented on #9910
@vexx32, @daxian-dbw With provided PSReadLine the keyboard input works as expected. Good to know that fix is already available. Thanks for prompt reply! You can close the issue.

[2019-06-17 16:55] daxian-dbw commented on #9894
Sorry for the ambiguity. I mean reopening the issue in the PSReadLine repository.

[2019-06-17 16:57] daxian-dbw commented on #9910
Related to https://github.com/PowerShell/PSReadLine/issues/914. The fix is ready in PR https://github.com/PowerShell/PSReadLine/pull/945

[2019-06-17 16:58] #9910 closed

[2019-06-17 17:05] 0xaryan commented on #9894
Alright, I reposted this here: https://github.com/PowerShell/PSReadLine/issues/946

[2019-06-17 17:06] #9894 closed

[2019-06-17 20:44] vexx32 commented on #9799
@iSazonov do you have concrete proposals for what such a new design would entail? Sounds interesting 😄

[2019-06-18 00:50] rjmholt opened #9921 "RunspacePool mutates the PSModulePath"
From https://github.com/PowerShell/vscode-powershell/issues/2008.

Related to https://github.com/PowerShell/PowerShell/issues/6850.

When using a RunspacePool (common in hosted and remote contexts), the PSModulePath gets reset whenever a runspace is opened.

This occurs because `ModuleIntrinsics` sets the module path at constructor time:

https://github.com/PowerShell/PowerShell/blob/66c628f1b0992

[2019-06-18 01:09] KirkMunro commented on #9799
I'm against this for several reasons:

1. It creates more work for toolmakers without adding value.
1. It creates unnecessary duplication.
1. I'm not convinced that the proposed alternative enhances discoverability nor do I think it makes it easier to learn.
1. `ParameterSetName` is clear. `SetName` is not.

[2019-06-18 01:37] vexx32 commented on #9799
1 & 2, fair.

3 -- maybe? It's easier to write and read imo.
4 -- in the context it'll be used, it's perfectly clear. `[Parameter(SetName = 'Set2')]`

[2019-06-18 01:48] KirkMunro commented on #9799
4. Parameters have `ValidateSet`. Part of your proposal even suggested putting validators inside of the Parameter attribute. Suddenly you have multiple "Set" terms that could be confused. OTOH `ParameterSetName` is clear and unambiguous.

[2019-06-18 02:00] vexx32 opened #9922 "Tidy Up Checks for null/AutomationNull"
# Summary of the thing

There are quite a few places in the codebase that utilise the pattern `value == null || value == AutomationNull.Value`. I've mentioned this briefly before: https://github.com/PowerShell/PowerShell/issues/9561#issuecomment-497814351

# Solution

We need to review the places in the code this pattern occurs and assess:

1. Does it make sense to check for this? For cmdlets (the

[2019-06-18 02:09] vexx32 commented on #9799
Not sure what you mean. I wasn't proposing putting validators in the Parameter attribute. 😕

[2019-06-18 02:22] KirkMunro commented on #9799
Sorry, crossed wires. I blame the fact that it's approaching midnight here. But regardless, I like the explicit distinction that ParameterSetName gives me. SetName feels...not specific enough, and a potential point of confusion.

[2019-06-18 02:29] vexx32 commented on #9799
🤷‍♂ it's not like what I propose would _stop_ you from using the full name. I just feel it's unnecessarily redundant. 🙂

[2019-06-18 05:26] NeoBeum opened #9923 "Get-Service & Set-Service: StartType & StartupType"
EDIT: Pending Review for Pull Request: https://github.com/PowerShell/PowerShell/pull/9940

# Summary of the new feature/enhancement
Get-Service returns Property "StartType"
Set-Service sets property "StartupType" _**and also "StartType"**_

# Proposed technical implementation details (optional)
Create Alias for Set-Service to accept "StartType" as an argument.
This improves flow with property fiel

[2019-06-18 07:43] poundy commented on #6768
When will we see this?  In 6.2.2? When will that likely land?
(was funny to see this thread raged from April 2018 to now over _-quiet_ being noisy. Seems such a no-brainer breaking change)

[2019-06-18 08:00] thenecroscope commented on #2867
Hi,

Can I check if there is any progress on this out of interest? Will this be resolved/added into Powershell 7 and / or .Net Core 3? Perhaps I should raise the request with the .net Core team. This was a really handy feature.

Many thanks!
Steve

[2019-06-18 10:06] vexx32 commented on #6768
I can get this code written pretty easily I think, I'm just waiting on the RFC to be accepted. Soon as that happens I'll get it done and submit a PR for this. :smile:

[2019-06-18 10:27] MVKozlov commented on #9585
I just leave a link to #3354 here...

[2019-06-18 10:50] MVKozlov commented on #9882
Tried with PS core with WinSrv16:
steps:
 - Install PS from https://github.com/PowerShell/PowerShell/releases/download/v6.2.1/PowerShell-6.2.1-win-x64.msi
 - Run installed PSCore and configure remoting thru WinRM (https://docs.microsoft.com/ru-ru/powershell/scripting/learn/remoting/wsman-remoting-in-powershell-core?view=powershell-6)
- Connect to PS v6
- Get the same coredump ( where can I get it

[2019-06-18 10:54] iSazonov commented on #9882
From https://stackoverflow.com/questions/17965/how-to-generate-a-core-dump-in-linux-on-a-segmentation-fault
sysctl kernel.core_pattern
or:
cat /proc/sys/kernel/core_pattern

[2019-06-18 12:03] iSazonov commented on #9799
I do not know the solution and so far I only see difficulties with the current attributes.
- Existing tools are very simple to create one-two level parameter sets.
- Further complexity grows exponentially. We have to apply dynamic parameters, which can also be difficult and inconvenient. As well as perform special processing in the begin block.
- It is also impossible (relatively speaking) to crea

[2019-06-18 12:31] agoldenlife commented on #7829
@mkanet I think you miss the point.

In the code above you simply type "unMapDrives" and all of them are now removed.  I don't see how typing two commands (i.e. Remove-PSDrive and then net use /del \$Device 2>null) is any easier.

The above code is written you so can load it into your powershell profile.   Once that is set you can use it as much as you want.  From then on out you just type the one

[2019-06-18 12:54] MVKozlov commented on #9882
Yes, I found a dump(from ubuntu/apport), but how can I send it privately ?

[2019-06-18 14:01] joshuatee opened #9924 "Measure-Command reports time with an error by a factor 1/100 on WSL"
In Windows Subsystem for Linux, PowerShell 7 preview 1, Measure-Command reports time with an error by a factor 1/100. PowerShell 7 on Windows seems to be unaffected

# Steps to reproduce

Start WSL, start powershell 7

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-18 14:34] SuperBenji99 opened #9925 "New-PSSession error "subsystem request failed on channel 0""
I'm new to Powershell, and having a really hard time getting SSH working.
I'm looking at using Powershell on a Win10 machine to remote into some Cisco devices via SSH.
I followed the guides to install Powershell Core 6, OpenSSH, set the environment path, configured the sshd_config, created the systemlink, no matter what I do, I'm unable to use New-PSSession or Enter-PSSession. I get prompted for t

[2019-06-18 14:40] iSazonov commented on #9882
@MVKozlov Please wait @PaulHigin response.

[2019-06-18 14:48] ghvanderweg commented on #9924
Can reproduce, on my system it's even worse, it's off by a factor 10,000.
Pasted as an image because copying text from Windows Terminal is apparently borked.

![image](https://user-images.githubusercontent.com/16590775/59694338-bebcdf80-91e8-11e9-8994-66e8c30a17aa.png)

[2019-06-18 14:55] mkanet commented on #7829
@agoldenlife, I wasn't referring to the script you posted.  I meant using native PowerShell and ad-hoc cases; referring to to the OP of this thread.  Creating an UnMapDrives script, loading it, then execute the command would take significantly longer than just typing a couple of commands.  But yeah, if unMapDrives is already loaded in memory, it would be even quicker.

[2019-06-18 15:21] vexx32 opened #9927 "Feature Request: $PSModuleRoot"
# Summary of the new feature/enhancement

Currently there are a couple ways to get a module root folder path:

- One is $PSScriptRoot, but only reliably within the PSM1 itself; modules that separate functions out into other files and folders and import via dot-source can't use $PSScriptRoot directly.
- Another is `$myinvocation.MyCommand.Module.ModuleBase` which suffers from being highly undiscove

[2019-06-18 15:34] fMichaleczek commented on #9927
I'm agree with this feature request, we can use $PSModuleRoot inside function and if functions are compiled in a one script module script, PSModuleRoot's value is still valid.

As a PowerShell developper, it will give me more flexibility when i begin a new module developpement.

I don't think $myinvocation.MyCommand.Module value is accessible when you parse the psd1 to load the module. $PSScriptRo

[2019-06-18 16:25] santoro-mariano commented on #6443
Powershell 5.1 vs Powershell 6.2:

![2019-06-18-11-05-45](https://user-images.githubusercontent.com/15754816/59700872-f19baf00-91b9-11e9-9c8e-150c3f0fdae5.gif)

OS Name: Microsoft Windows Server 2016 Standard
OS Version: 10.0.14393 N/A Build 14393

[2019-06-18 16:31] invisibleaxm commented on #9587
I can confirm that this issue is there in the latest version of Powershell core 6 / azure functions and is a blocker for us. Is there a known work-around to get this working on azure functions or perhaps an estimated ETA of when we think this may be addressed?

In my scenario, I am loading a community module for cosmosdb ( https://www.powershellgallery.com/packages/CosmosDB/3.2.4.376) inside an az

[2019-06-18 16:54] PaulHigin commented on #9878
I remember that this disconnect/reconnect feature was disabled for IIS hosted endpoints, which covers Exchange endpoints.  This was done at the WSMan layer (not PowerShell) and I don't remember the details, but @manojampalam should be able to provide more information.

[2019-06-18 17:16] alx9r commented on #6147
I think there is another alternative.  As far as I can tell, when a PSCmdlet implemented in C# is invoked its SessionState property is the caller's SessionState.  In other words,

 * when such a cmdlet is invoked from outside a module, .SessionState is the "global" SessionState, and
 * when such a cmdlet is invoked from a script module, .SessionState is the module's SessionState.

@lzybkr Can you

[2019-06-18 17:49] vexx32 commented on #6147
Heh, can't believe I never found this issue.

I've wrestled with this extensively myself in PSKoans, so that I could invoke the koan files in a global session rather than accidentally invoking them inside the module itself.

My own solution was basically to spin up a new runspace and work with that.

If there is a simpler way to bind a scriptblock to the global session state I'd very much apprecia

[2019-06-18 17:50] jszabo98 opened #9929 "Using assembly"
"Using assembly" doesn't work in PS 6 as well as in PS 5.1.  It's also undocumented in "about_using".  https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_using?view=powershell-6

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-18 17:52] PaulHigin commented on #3173
@SSvilen  Thanks, I am back in office now.  I am glad that this helps, but as we discussed this is really something that should be addressed in a blog.  I'll try to do so in the not too distant future.

[2019-06-18 18:17] kvprasoon commented on #9923
Which version of PowerShell are you using ?

`Set-Service` already have this parameter.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/set-service?view=powershell-6

[2019-06-18 18:45] NeoBeum commented on #9923
@kvprasoon  read properly

and: The PS that shipped with 18362.1 and also PS 6.2.0

![Nope](https://i.imgur.com/tV8IHDi.jpg)

[2019-06-18 18:48] indented-automation opened #9930 "Switch breaks if $switch is declared and assigned a type"
# Steps to reproduce

When the Switch variable is created and assigned a type, the switch statement will no longer function.

[code]

# Expected behavior

The switch statement above is expected to return the string 'matched'.

[code]

# Actual behavior

The switch statement does not apparently execute. Neither the matching term, nor default, will return a value.

[code]

# Environment data

The pr

[2019-06-18 19:00] vexx32 commented on #9930
I would imagine this is also an issue for a variable like `$foreach`.

Really, _most_ automatic variables should be properly reserved, and either actively prohibit (with an exception) or ignore (silently) any changes, whether that change is assignment of a value or applying attributes or type constraints.

[2019-06-18 19:04] TylerLeonhardt commented on #9587
@invisibleaxm yep... that won't work today. Based on the code you've shown, it'd be very easy to convert those to PowerShell classes and things might just work... but this issue needs some work to be done in PowerShell which is actually quite difficult to solve elegantly.

[2019-06-18 20:04] lzybkr commented on #6147
I'm not going to answer your question directly because it's been a long time since I've looked at this area and your observations are going to be more correct than my possibly faulty memory.

IIRC, `SessionState` can be set upon first access (or explicitly) and I didn't like that as it wasn't explicit enough for my liking.

Because of this, I think it's possible it gets set by chance somewhere now

[2019-06-18 20:19] alx9r commented on #6147
@lzybkr Ah.  I see.  Got it.  Thanks for the background.  I think I've got enough tests around the behavior I need that I'll probably detect an inadvertent change early enough.

[2019-06-18 20:23] alx9r commented on #6147
@vexx32 The best I've been able to come up with is the methods for binding to the caller's session state (which may or may not be the global session state) discussed above.  Binding to the global session state is a bridge further than I have explored.

[2019-06-18 21:26] bpayette commented on #9929
@jszabo98 PowerShell Core doesn't support `using assembly ...` with partial names. If you use the full path to the assembly, it should work.

[2019-06-18 21:40] poundy commented on #6768
Oh I thought the status was that it was approved (not knowing exactly what states there are or what the full process is). But thanks for the update. Still a pity that it's taken over 12 months to make it quiet :)

[2019-06-18 21:57] vexx32 commented on #9929
Seems weird that it doesn't support assembly names. The first thing I think to parallel `using assembly` is `Add-Type -AssemblyName` 😕

[2019-06-18 22:59] PaulHigin commented on #3008
See:
https://github.com/PowerShell/PowerShell-RFC/pull/194

[2019-06-18 22:59] #3008 closed

[2019-06-19 03:00] kvprasoon commented on #9923
ohk, so its about `StartType` being `StartupType`. got confused by `new feature` tagline.

[2019-06-19 03:08] NeoBeum commented on #9923
me too.

I'm also covering sabotage where previous feature "startuptype" is replaced by "starttype" and only "starttype"
because I've seen it happen with other things... like install and re-install, re-install if previously installed
:(

[2019-06-19 03:31] BrucePay commented on #9929
@vexx32 In Windows PowerShell, `Add-Type` has (or had?) a list of partial name to full name mappings so that you could load assemblies by partial name without going through the  deprecated-since-forever `LoadWithPartialName()` API. All of this stuff is related to the GAC but on Core, there is no GAC and no partial names.

[2019-06-19 03:44] iSazonov commented on #6768
I expected more feedback

[2019-06-19 03:56] #9779 closed

[2019-06-19 04:28] usta commented on #9295
I can reproduce this bug every time if I try to run PowerShell. I will describe in 2 different Scenario, in the first one, it is working without any problems on the other hand with the second one not.
If needed i can provide more logs or outputs.

### **My Hardware :**
Lenovo Y520
Intel I7 7700HQ ( 2.8Ghz )
16GB Ram
Samsung 512 970Pro SSD
WesternDigital WD10SPCX 1TB HDD
Nvidia 1050TI GPU 4GB

###

[2019-06-19 05:21] iSazonov commented on #9923
We could resolve the inconsistency with alias.

[2019-06-19 06:45] bgelens opened #9938 "#requires -version 6.2 throws on 7.0.0-preview.1"
# Steps to reproduce

Add a #requires version statement with 6.2 to a script and run on 7.0.0-preview.1

[code]

# Expected behavior

works

# Actual behavior

![image](https://user-images.githubusercontent.com/10071039/59742639-7d6f1300-926e-11e9-831f-0cc4f0b548a2.png)

# Environment data

[code]

[2019-06-19 06:49] iSazonov commented on #9927
It is not clear why we need this. What is the use cases? What is scenarios we need address?

[2019-06-19 06:59] iSazonov commented on #9922
I found 14 such patterns and up to 310 uses of LanguagePrimitives.IsNull()
Looks like simple cleanup.
IsNullLike() we should consider separately.

[2019-06-19 07:42] NeoBeum commented on #9923
Yeah, I just haven't looked through the repos to find the services functions.
I could probably do that now that I have some spare time.

[2019-06-19 07:56] iSazonov commented on #9923
@NeoBeum See https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Management/commands/management/Service.cs

[2019-06-19 08:29] NeoBeum commented on #9923
https://github.com/PowerShell/PowerShell/pull/9939

[2019-06-19 08:38] NeoBeum commented on #9923
On a side note: is the DISM Module for PS on GitHub?

[2019-06-19 08:43] iSazonov commented on #9923
@NeoBeum Please open new issue to discuss your suggestion.

[2019-06-19 09:17] NeoBeum commented on #9923
@iSazonov Ok. I'll work on the rest of the DISM functions that are missing and type a brief so I can create a new issue.

Here is the new pull request for the Get;Set; Service.
https://github.com/PowerShell/PowerShell/pull/9940

[2019-06-19 09:26] PrzemyslawKlys opened #9941 "Feature Request - Where-Object speed improvements"
# Summary of the new feature/enhancement

As it stands I've stopped using **Where-Object** in performance-related scenarios. I used it a lot when creating different scripts but then I found out it's actually **7-10x slower** than simple foreach loop.

[code]
This takes 7 minutes 54 seconds on a domain of size 4412 users. With foreach approach like this:

[code]

It takes just 59 seconds. I ended u

[2019-06-19 09:53] kvprasoon commented on #9938
It works, but only on elevated shell now :-)

[2019-06-19 09:56] kvprasoon commented on #9938
Interesting, works only till 6.0, fails for 6.1/2.

[2019-06-19 10:00] bgelens commented on #9938
After some digging I found this issue [here](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Utils.cs#L653) I'll see if I can fix it myself

[2019-06-19 10:14] vexx32 commented on #9927
Mainly, the ability to reference additional files kept in the module folder. There are many such potential uses here: configuration files, additional libraries, script files (in the case of modules which lead their functions from individual files) etc.

[2019-06-19 10:41] iSazonov commented on #9927
It looks like .PSD1 is not functional enough to do the job. I would look how we can enhance the manifest
instead of hacks in code.

[2019-06-19 10:51] bergmeister commented on #9295
@usta Can you please describe what you mean by 'pipenv (virtualenv)', I do not use Python very much. Since you say you can always reproduce, please read my comment below, install the custom build and please report if it fixes it:
https://github.com/PowerShell/PowerShell/issues/9295#issuecomment-502053584

[2019-06-19 11:49] vexx32 commented on #9927
I don't think that's a complete solution, but it would certainly help.

[2019-06-19 13:00] iSazonov commented on #9941
Related article https://learn-powershell.net/2015/02/20/a-look-at-filtering-performance-in-powershell/

I think there is 2 slow thinks:
- pipeline itself
- where-object internally

I guess we could transform Where-Object to Filter function and get up to 20x improvements.
The code reference
https://github.com/PowerShell/PowerShell/blob/94b6b6f4f7985be7c006c3eb87691992d872142a/src/System.Management.

[2019-06-19 14:19] SeeminglyScience commented on #9929
Now it just does `Assembly.Load(new AssemblyName(assemblyName))`, which *will* load from the GAC on Windows.  I believe non-Windows will still try to load from  `AppDomain.CurrentDomain.BaseDirectory` (which would be where ever pwsh is installed), so `System.Web` should still work.

[2019-06-19 14:59] extpascal opened #9944 "Dsc Engine Merge configuration doesn't compare Table String type as expected"
When you run Start-DscConfiguration to apply a new configuration, LCM merge all the configuration settings who belong to the same node name. Like the file below. When sacfg (alias) run, then the ValueData of the two resource are compared by the merge processus. Then the merge fail because ValueData is declared as String[] (table) type into the RegistryResource .mof file.

Below you can find the co

[2019-06-19 15:04] Midacts commented on #6629
![Spongebob-AFewMomentsLater](https://user-images.githubusercontent.com/3960208/59777075-eb710580-9281-11e9-962f-7be754a00762.jpg)

[2019-06-19 15:38] SeeminglyScience commented on #9927
While I agree, that doesn't necessarily eliminate the need for something like this.  You probably wouldn't want anything loaded conditionally (or lazily) to be in the manifest for instance.

That said, I'm not sure how often it would be needed, and if that would be often enough to be warranted.  You can get the same effect by adding `$PSModuleRoot = $PSScriptRoot` in the `.psm1`.

[2019-06-19 15:44] SeeminglyScience commented on #9929
I think `using assembly` should have parity with `Add-Type -AssemblyName`, especially since Windows PowerShell had it.

@iSazonov Can you remove `Resolution-Answered` so this isn't closed? I think even if the PowerShell team disagrees, this would need `Resolution-Won't Fix` instead.

[2019-06-19 16:01] ChrisMagnuson commented on #9838
In light of the news about PowerShell 7 trying to unify the fork and get us back on one version of PowerShell I came looking to see if New-WebServiceProxy was going to be addressed and found this issue.

I use New-WebService proxy to communicate with things like Adobe InDesign Server, Adobe Scene 7 Dynamic Media classic, ConnectShip Progistics (apis for shipping packages via Fedex, USPS, UPS, etc.

[2019-06-19 16:43] sdwheeler opened #9948 "pwsh command-line help errors"
# Steps to reproduce

[code]

# Expected behavior

# Actual behavior

There are several issues in the output of help for the command-line options.

1. The `-SettingsFile` parameter is not listed in the syntax block but it is listed and described below.

2. Was `-LoadProfile` actually added? For what purpose? It is not listed in the output for PSv6.

3. The description for `-WorkingDirectory` inclu

[2019-06-19 16:47] SeeminglyScience opened #9949 "Type inference doesn't pick up the "as" operator"
# Steps to reproduce

[code]

# Expected behavior

Both completions include the clone method.

[code]

# Actual behavior

Only the explicit cast includes the clone method.

[code]

# Environment data

[code]

This also repros on all previous versions of PowerShell.  On the fence about calling this a bug vs an enhancement, so use whichever tag you'd like I suppose.

[2019-06-19 16:52] kilasuit commented on #9891
Scope as a parameter to me makes sense & changing this in all the areas seems to not provide all that much benefit whilst adding more unnecessary confusion, especially as now you are moving into the realms of parameter naming guidance, whereas good Parameter Help should be where people go to learn and understand what the parameter means more than it's simple name, along with good examples.

Also S

[2019-06-19 17:52] SeeminglyScience opened #9950 "Are resource strings considered part of the supported API?"
Here's an example:

[code]

In general I wouldn't expect them to be supported, but it would be quite useful and the above method makes me think that might have been the intent.

[2019-06-19 18:49] yiqiaoc11 opened #9951 "After remotely logging onto a Ubuntu system, Backspace doesn't work and path $ appearance is messy"
The path appearance is messy after we logged onto a Ubuntu from windows 10's version 1903.

cd ..
];alla_att@tesla: ~vanilla_att@tesla:~$ ls

[2019-06-19 18:59] vexx32 commented on #9950
Wouldn't they be considered part of display/error formatting for the most part?

[2019-06-19 20:46] a-dimas opened #9953 "pwsh cannot connect securely"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]
this is the setup:

[code]

If I run curl outside pwsh with the same URL I can see it:
[code]

[2019-06-19 21:15] AikenBM opened #9955 "Import-Csv and ConvertFrom-Csv fail to parse if the first header begins with a "#""
If the first column header in a csv file or from csv data begins with a `#` or with `"#`, then both  `ConvertFrom-Csv` and `Import-Csv` do not parse the file or data correctly. If the second row of the input (i.e., the first row of data) is blank, then the commands fail to parse the data correctly.

While the problem is particularly highlighted by the row of empty data, I believe the actual proble

[2019-06-19 22:31] joeyaiello commented on #9891
@PowerShell/powershell-committee reviewed this (@BrucePay included) and we don't feel anything we do here is going to add much value:

* Adding a descriptor to `-Scope` is going to be repetitive with the noun (e.g. `-ModuleScope` or `-InstallationScope` for `Install-Module` doesn't seem helpful)
* Where disambiguation is needed between two scope concepts, it's perfectly fine to use a prefix for th

[2019-06-19 22:42] SteveL-MSFT commented on #7132
@PowerShell/powershell-committee reviewed this.  The work involved to maintain compatibility is not worth the effort as the underlying platform has introduced a change to fix an inconsistency problem.  This results in a breaking change for some PowerShell users, but detecting of this will be quick and using `.FullName` or `.Name` as appropriate is the right thing to do.  We could make a change in

[2019-06-19 22:43] #7132 closed

[2019-06-19 22:51] AikenBM commented on #9909
The almost universal reason for needing the `\\?\C:\Path` or `\\?\UNC\servername\share\path` syntax (both known as Long UNC path, as far as I'm aware) is long path support (path length greater than 260 characters). If I remember right, the reason it did not work on PowerShell 5.x and below is because the underlying .Net classes also did not support that syntax. Those .Net classes simply don't use

[2019-06-19 23:01] RDIL opened #9956 "Seemingly unused code"
It seems that https://github.com/PowerShell/PowerShell/blob/master/test/docker/networktest/New-DockerTestBuild.ps1
isn't used or called ever.
Is it just me or is it not used?

[2019-06-19 23:08] SteveL-MSFT opened #9957 "Fix `$env:PSModulePath` for starting powershell within pwsh and vice versa"
Based on @PowerShell/powershell-committee decision at https://github.com/PowerShell/PowerShell-RFC/pull/133#issuecomment-467192489, we should:

- PSCore6 currently will create $env:PSModulePath from config.json file, a new setting EnvVarToAppendToPSModulePath with value PSModulePath (this means the $PSHOME/Modules and user paths are first, then appends the $env:PSModulePath from the system)
- Some

[2019-06-20 02:16] #9891 closed

[2019-06-20 02:43] bigboy-pdb-spam opened #9959 "Pipe Generates Error From Multiple Script Outputs"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-06-20 03:12] vexx32 commented on #9959
This isn't valid syntax. Explicit linebreaks (semicolons) are not permitted inside parentheses _unless_ those parentheses form a subexpression `$( ... )` or an array subexpression `@( ... )`

This would work in a scriptblock as well, but you'd need to invoke the scriptblock with `&`:

```& { ./script.ps1; ./script.ps1 } | % { $_ }```

[2019-06-20 04:06] iSazonov commented on #9957
I'd can grab this in near future. (Although there are already a lot of my PRs without review)

[2019-06-20 04:52] iSazonov commented on #9929
I checked that follow works
[code]
so follow should works too
[code]

@SeeminglyScience  I am not in MSFT, I am a community maintainer. Sometimes I do a _formal_ moderation based on trusting. "Formal" because I really can not looks every (from 2000!) issue in depth.
As for "Won't fix" I'd leave this to MSFT experts and PowerShell Committee to mark issues with backward compatibility and security co

[2019-06-20 05:12] iSazonov commented on #9838
@ChrisMagnuson Thanks for your feedback! Based on MSFT team suggestion could you please clarify - do you ready to grab this in separate community project?

[2019-06-20 05:26] SteveL-MSFT commented on #7112
@iSazonov now that we have moved to .NET Core 3.0, can you rerun your perf test?

[2019-06-20 05:50] iSazonov commented on #9909
Thanks!
PowerShell supports long path name but not the DOS-like syntax - we already have a tracking issue #4439

[2019-06-20 05:50] #9909 closed

[2019-06-20 06:03] iSazonov commented on #7112
I'm even afraid to think about it :-))))

Will do.

[2019-06-20 06:12] HQJaTu commented on #5148
Thanks for that @KirkMunro.
Since the pre 6.2 behaviour was very annoying, I simply upgraded to 6.2.1 and continued working with much less friction.

[2019-06-20 06:13] SteveL-MSFT commented on #4910
I believe this is already done

[2019-06-20 06:13] #4910 closed

[2019-06-20 06:15] SteveL-MSFT opened #9960 "Split modules and move them to separate repos"
- [ ] Microsoft.Management.Infrastructure.CimCmdlets
- [ ] Microsoft.PowerShell.Commands.Diagnostics
- [ ] Microsoft.PowerShell.Commands.Management
- [ ] Microsoft.PowerShell.Commands.Utility
- [ ] Microsoft.PowerShell.LocalAccounts
- [ ] Microsoft.PowerShell.MarkdownRender
- [ ] Microsoft.PowerShell.ScheduledJob
- [ ] Microsoft.PowerShell.Security
- [ ] Microsoft.WSMan.Management

This repo shoul

[2019-06-20 07:26] joshuatee opened #9961 "CreateElevatedEntry()"
what tat could be? for some reason ps6/7 keeps crashing with

   at Microsoft.PowerShell.TaskbarJumpList.CreateElevatedEntry(System.String)
   at Microsoft.PowerShell.ConsoleHost+<>c.<Start>b__4_0()
   at System.Threading.Tasks.Task.InnerInvoke()
   at System.Threading.Tasks.Task+<>c.<.cctor>b__274_0(System.Object)
   at System.Threading.ExecutionContext.RunFromThreadPoolDispatchLoop(System.Thread

[2019-06-20 08:12] PowershellNinja commented on #9909
Sorry for the long wait, yes the purpose of this was to be able to work with long path names, for migrations to SharePoint Online for Example.
So if I understand this correctly, PS 6 should already be able to handle long path names?

[2019-06-20 10:26] usta commented on #9295
It looks like this one have fixed that bug ( if I have hit the same problem I will mention it here ) thanks

[2019-06-20 10:37] KalleOlaviNiemitalo commented on #9950
I suppose PSCmdlet.GetResourceString is intended to be used from compiled cmdlets, in which case it loads the resources from your assembly, rather than the System.Management.Automation assembly.

[2019-06-20 10:42] iSazonov commented on #9909
@PowershellNinja Yes, PowerShell  6 works with long paths. You need to turn on the feature on Windows 10.

[2019-06-20 10:58] iSazonov commented on #9948
LoadProfile RFC is still not approved.

[2019-06-20 11:16] Graham-Beer commented on #9886
I quite like the C# syntax of ?, @rkeithhill. How do we push this topic idea forward?

[2019-06-20 11:48] vexx32 commented on #9886
I think there may be an existing issue for it, but if not create one -- if there already is one, add a comment.

[2019-06-20 12:00] #9913 closed

[2019-06-20 12:10] SeeminglyScience commented on #9929
Oh yeah I know, and you do an awesome job! I'm *very* glad the repo has you sorting through the chaos 🙂

I only meant to explain the reasoning behind my request, I 100% understand why you chose the original label.

[2019-06-20 12:27] SeeminglyScience commented on #9950
Yeah that sounds about right

[2019-06-20 12:27] #9950 closed

[2019-06-20 12:53] RDIL opened #9962 "CI runs code that shouldn't be run"
`install-ps.yml` is run, but shouldn't be.
Maybe we should move to `/.vsts-ci/templates`?

For example:
https://powershell.visualstudio.com/PowerShell/_build/results?buildId=25996

[2019-06-20 13:55] iSazonov commented on #7112
| - | Windows PowerShell| PowerShell Core |
| --- | --- | --- |
| One column | 6-17s/9-16Mb | 1.8-3.4s/7.6-9.3Mb |
| 700 columns | 55s/16Mb | 16s/10Mb |

[2019-06-20 14:26] sdwheeler commented on #9948
LoadProfile is currently in the preview build but will be changing. I fixed the documentation problems in #9952. This issue can be closed when #9952 is merged.

[2019-06-20 14:41] daxian-dbw commented on #7112
@iSazonov So the perf issue with `Import-Csv` is now gone after moving to .NET 3.0 preview? What do you mean by `one column` and `700 columns`?

[2019-06-20 14:47] SteveL-MSFT commented on #9838
Now that .NET Team has [announced](https://devblogs.microsoft.com/dotnet/supporting-the-community-with-wf-and-wcf-oss-projects/) a community project for WCF support, this may be viable.  Haven't looked to see how complete it is.

[2019-06-20 15:00] SteveL-MSFT commented on #6443
Looks like we still have an issue with 7-preview.1.  .NET team is already working on improvements to startup, we should continue to check this with new previews.

[code]

[2019-06-20 15:09] SteveL-MSFT commented on #7216
@iSazonov I searched the old tests and they don't seem comprehensive.  All it really does is use `-STA` with powershell.exe and validates that the apartmentstate is set correctly.  Ideally, we should include a specific test like using a COM object that requires STA or even WPF (not getting an exception).  Also manually run all tests with `-STA` to see if anything fails unexpectedly.

[2019-06-20 15:12] SteveL-MSFT commented on #9798
@vexx32 you can declare a module to require a minimum version of PowerShell, but can't declare a minimum version of a module for PowerShell.  I would hate to special case this within PS7.  Seems like what we need is a way to notify users they have an outdated version of a module.  I'll add this to my PSGet3 RFC.  I'm open to other ideas to help users here as documentation is probably not sufficien

[2019-06-20 15:24] SteveL-MSFT commented on #9957
@iSazonov I'll ask the team to spend more time on PR reviews to get the number back down.  Thanks for your continued contributions!

[2019-06-20 15:37] kilasuit commented on #9960
this is again another attempt at #1979 which also points to issues #5681 #3607 and conflicts with the intent of PR #9926

[2019-06-20 15:45] SteveL-MSFT commented on #9960
For now, we can separate out the task of publishing the modules on PSGallery and splitting the modules from having them in separate repos.

[2019-06-20 15:48] KirkMunro commented on #4199
With PowerShell 7 offering [LTS versions with a 3 year support cycle](https://devblogs.microsoft.com/powershell/the-next-release-of-powershell-powershell-7/), some more discussions around SxS installations of PowerShell should be had soon so that if there are some changes that can be made in the current release timeframe, by the PS Team or the Community, there is time to do so. The notion of a 3 y

[2019-06-20 15:51] SteveL-MSFT commented on #9535
@fMichaleczek Looking at Peachpie, it converts PHP to .NET IL.  My thinking is that we want to support other languages in their native environment and not require them to be compiled into .NET.  So there would be PowerShell bindings for various languages we'd want to support.  PHP isn't one that came to mind, but Python would probably be something we'd want to support.  So rather than trying to im

[2019-06-20 15:52] SteveL-MSFT commented on #6768
@vexx32 you can start coding this and put it behind an Experimental flag in case any feedback comes in that changes the current proposal

[2019-06-20 15:53] SteveL-MSFT commented on #4457
The main problem with IIS is that the namespace needed to administer IIS isn't part of .NET Core and no plans to support it in .NET Core.  Alternatively, we're working on a WinPS bridge in PS7 timeframe that may resolve this.

[2019-06-20 15:55] KirkMunro commented on #5935
If it's not too much to ask, can someone who wants this issue addressed please provide a real, not contrived example where this is a problem? In all of the examples provided above, I don't see a problem at all other than the design of the parameter sets themselves, and as a result I don't see the same problem you are trying to indicate is there.

[2019-06-20 15:56] SteveL-MSFT commented on #4216
@Liturgist if you want to try it on 6.2.1, just do this:

[code]

Then restart pwsh.

[2019-06-20 15:59] SteveL-MSFT commented on #4199
@KirkMunro do you have a specific proposal in mind?  Current SxS support is via filepath.  Is the desire to have something like `pwsh -version 6.2.1`?

[2019-06-20 16:05] KirkMunro commented on #4199
Yes, exactly that.

The management community is reticent to update management solutions. The development community moves forward much more quickly. I think we really need to consider a solution that allows management solutions to be maintained under LTS while not holding back additional solutions that leverage newer versions/functionality. This is especially important since PowerShell is interpret

[2019-06-20 16:29] sizur opened #9963 "PSMethod should be supported by invocation operator &"
# Summary of the new feature/enhancement

Benefits of:
`& $object.Method @args`
1. more consistent invocation syntax with commands
2. gain of PS argument magic
3. no collision with existing method overloads discovery mechanism when method is used as command

[2019-06-20 16:42] sizur opened #9964 "Mechanism for using backwards-incompatible features in module scope"
# Summary of the new feature/enhancement

PS is awesome for shell experimentation and tailoring shell to individual's needs.  However, dynamically changing PS's behavior currently will inevitably break dependent modules in individual's runspace.

Introducing a mechanism to apply PS behavior changes only for current module scope will ensure other modules will not break due to incompatible changes.

[2019-06-20 16:47] vexx32 commented on #6768
@SteveL-MSFT I've already got a mostly-working implementation. I'll look to submit a PR w/ some Experimental flags soon so we can talk about the code more concretely. 💖

[2019-06-20 16:59] iSazonov commented on #6768
After thinking in last days about the desired behavior, I would prefer to have interactive behavior with a minimum of parameters by default (fast typing and user friendly display), which would be convenient in an interactive session. And converting to script style with additional parameters (this implies different types in output).

[2019-06-20 17:06] ChrisMagnuson commented on #9838
In the article they mention “NET Core WCF Client“.

Given that in powershell we are acting as a soap client could that be used?

Googling for that name didn’t come back with something that matched that exactly, maybe this is what they are referring to: https://github.com/dotnet/wcf

[2019-06-20 17:21] sizur opened #9965 "Consistent argument passing to application invocation on all platforms."
# Summary of the new feature/enhancement

When invoking an application command, created process' arguments should be as they are passed to command on all platforms.  `PS > myapp '{"a": "\n"}'` should result in `myapp`'s `argv[1]`'s value of `"{\"a\": \"\\n\"}"`, regardless of the platform.

This is a breaking change on Windows due to how `CreateProcess` handles `"`.  #9964 will enable selective ap

[2019-06-20 17:47] sizur opened #9968 "A command to quote\unquote a string using different common quote quoting mechanisms."
# Summary of the new feature/enhancement

This is a common problem.  It is needed when the only interface to pass some structured data to some system is through a string with embedded strings to arbitrary depth.  This includes logs parsing and even output for human consumption under some circumstances.

Addressing it as PS standard will prevent re-implementation of bugs by everybody who needs this

[2019-06-20 17:50] vexx32 commented on #6768
Could you elaborate a bit more on how you think that could work @isazonov?

[2019-06-20 17:52] ili101 commented on #5935
The last time I encountered a situation that this could have helped is in ImportExcel https://github.com/dfinke/ImportExcel/pull/580. we have Parameters for TableName and one for AutoFilter that can not be used together. It is impossible to use ParametersSets to make them exclusive because when you do that it will ask you to provide a value for AutoFilter when running it without it instead of usin

[2019-06-20 17:57] msftrncs commented on #9295
I cannot seem to reproduce it with the custom build, but it was pretty rare with 7 preview 1, yet 6.2 does it very regularly.   There might be some usefulness in applying a patch to a custom build of 6.2, or a series of builds from 6.2.  Just adding the debug/try/catch in might have changed something such a timing related resource lock up or something.

[2019-06-20 17:58] iSazonov commented on #7112
@daxian-dbw After @powercode improvements for PSObject all cmdlets works faster with the objects and make less allocations.
After moving to .Net Core 3.0 we get better GC. Now GC does cleanups even better .Net Framework (I say about the tests I did here). Perhaps .Net Core 3.0 add a performance too but I don't compare with previous PowerShell Core released versions.

In my tests I generate csv fil

[2019-06-20 18:01] joeyaiello commented on #8069
@PowerShell/powershell-committee reviewed this, and we believe the risk of changing the "user PowerShell folder" across versions/editions of PowerShell and downlevel versions of the OS is too high to take the chance. Symlinks aren't well supported downlevel, and if users want to change their Documents to not use OneDrive, they can do so. Additionally, migration logic on upgrades (and/or moving/lin

[2019-06-20 18:43] bigboy-pdb-spam commented on #9959
@vexx32 Thank you for the response.

I would have expected that I can use semi-colons within brackets since I can use pipes within them. For example, `( ./Script.ps1 | ./Script.ps1 )`.

[2019-06-20 18:44] #9959 closed

[2019-06-20 18:50] vexx32 commented on #9959
Understandable... Not sure what the rationale is there no be honest. Perhaps @bpayette could speak to that. :smile:

[2019-06-20 19:22] RDIL commented on #9764
It's back

[2019-06-20 19:22] RDIL opened #9969 "Disable codacy dockerfile linting"
https://github.com/PowerShell/PowerShell/pull/9942#issuecomment-504109523

[2019-06-20 19:42] lzybkr opened #9970 "Windows Store applications incorrectly assumed to be console applications"
## Steps to reproduce

Run a Windows program installed in `${env:USERPROFILE}\AppData\Local\Microsoft\WindowsApps`, e.g. `iTunes.exe` or `wt.exe` (the new Windows Terminal) from the interactive command line.

## Expected behavior

The process launches in a new window, a new prompt is displayed and you can run new commands in PowerShell.

## Actual behavior

PowerShell waits until the Windows appli

[2019-06-20 19:43] bpayette commented on #9963
@sizur This syntax already has a defined meaning. The result of the expression after the `&` is evaluated as a module object which is used as the context for the rest of the command. :
[code]

[2019-06-20 19:50] sizur commented on #9963
@bpayette does this cause any issue?  I mean you can interpret a method in this context as a module closure.  What am I missing here?

[2019-06-20 19:51] bpayette commented on #9964
@sizur You should probably take a look at @KirkMunro 's [optional feature RFC](https://github.com/PowerShell/PowerShell-RFC/issues/197)

[2019-06-20 20:04] vexx32 commented on #9963
@bpayette are you trying to say there'd be some kind of conflict in syntax? `$m.m` can be evaluated, check if it's a PSModuleInfo, and if not we can add an extra case to check if it's a MethodInfo object?

[2019-06-20 20:06] vexx32 commented on #9764
Excellent, thanks everyone! :blush:

[2019-06-20 20:06] #9764 closed

[2019-06-20 20:13] oising commented on #9963
@sizur - I'm with you here. I don't think it is a conflict at all; it seems to be an expansion of the call operator's capabilities. I asked for this functionality way back in 2007, but it couldn't be justified. Then powershell 2's modules came along and muddied the water. Right now, the call operator can be used with strings, scriptblocks and moduleinfos (what @bpayette said). Extending it to hand

[2019-06-20 20:34] bpayette commented on #9963
@sizur The expression is currently parsed as:
[code]
which should effectively result in
[code]
It also currently supports CommandInfo objects
[code]
Otherwise, the value is converted to a string and used as the name of the command to run:
[code]
So while it is possible to special-case `MethodInfo` objects and treat the command line as a method call, this would be a (minor) breaking change. As to t

[2019-06-20 20:39] #9518 closed

[2019-06-20 20:51] KirkMunro commented on #8069
Wouldn't an environment variable be better than an automatic variable, so that it could be set broadly across many systems? Then PowerShell could check for the presence of that environment variable on launch, and if present, use that path as the user profile path, otherwise, use the default path as the user profile path.

[2019-06-20 20:58] SteveL-MSFT commented on #7112
@iSazonov so can we close this?

[2019-06-20 21:00] SteveL-MSFT commented on #9295
cc @TravisEz13 @adityapatwardhan we should consider taking @bergmeister's change to 6.2.2

[2019-06-20 21:01] SteveL-MSFT commented on #9838
@ChrisMagnuson I believe the right repo is https://github.com/CoreWCF/CoreWCF

[2019-06-20 21:35] SteveL-MSFT commented on #4199
I would be ok with supporting `pwsh -version x` where x is one installed to a well known location on Windows, Linux, and macOS.  All it would do is shell out to `pwsh` for that version.  On Linux/macOS, we can use `exec`, but on Windows, you would have two `pwsh` processes.  Would also need a way to enumerate installed versions.  Seems like a RFC should be written for this.

[2019-06-20 22:22] sizur commented on #9963
@bpayette what about using a `TypeConverter` mechanism for implicit `PSMethod`->`ScriptBlock` enclosing over method and just rely on `&`'s handling of `ScriptBlock`?

[2019-06-20 23:03] sizur commented on #9963
`[math]::sqrt | % invoke 9` works nicely.  I still think that if an object has `Invoke`, then `&` should be able to invoke it.

[2019-06-20 23:08] kilasuit commented on #8069
@KirkMunro technically what you describe is only accurate in 4 particular scenarios and in each of these this is historically kept in line with existing on Windows functionality where User PSModulePath has always been housed in `$env:userprofile\Documents`

1. You log in with a Microsoft account to a new Device - this is something you can bypass completely and use a Local Only account mitigating t

[2019-06-20 23:10] SeeminglyScience commented on #9963
Yes! I've always wished delegates could be invoked with `&`.

[2019-06-21 00:30] KirkMunro commented on #8069
@kilasuit Why all the soapboxing for a issue that the Committee already responded to? Per their response, the default location of the user profile for PowerShell isn't going to change.

As for engineering effort on an environment variable, this is open source. I wasn't asking the PS Team to do it, nor would I expect them to. I'll do it via a PR though, because it matters to myself, and others as w

[2019-06-21 00:39] M-Pixel commented on #6427
I'd like to know this as well.  For programs that _already_ emit colors, that color is lost when piped to `Out-Default`.  How can it be preserved?

[2019-06-21 03:24] sizur commented on #9963
[code]
@bpayette, you mentioned that adding `MethodInfo` case to `&` would be a minor breaking change.  It's not yet clear to me why.  Do you expect some code somewhere intentionally invoking a command based on stringed method object?

[2019-06-21 04:21] iSazonov commented on #7112
We get great progress for Import-Csv cmdlet so I close the issue.

Make sense to open new issues if we will find another scenarios with bad performance.

(Although I would like to have something to see performance history - improvements and regressions after new commits)

[2019-06-21 04:22] #7112 closed

[2019-06-21 04:49] tlsalex opened #9972 "powershell equivalent of KList"
What to know whether PS come with the cmdlet that equivalent of Klist.

KList: This is a great command line tool that lists Kerberos tickets as well as being able to purge Kerberos tickets. The nice thing about this tool is that you can selectively purge Kerberos tickets rather than deleting all tickets like the KerbTray utility does.

[2019-06-21 05:20] iSazonov commented on #4199
We already have  #4836 with PowerShell Committee conclusion to have the RFC. It was frozen
at that time since side-by-side feature was not stable.

[2019-06-21 07:46] Sarafian commented on #9838
@ChrisMagnuson and @SteveL-MSFT, I've done some more digging into this topic from the perspective of a couple of repositories I've in mind and mentioned on my original post.

The [CoreWCF](https://github.com/CoreWCF/CoreWCF) repo allows a soap client to function based on two requirements and their respected issues.
- The interface and the data contracts are defined in code. This means a binary mod

[2019-06-21 08:49] iSazonov commented on #9838
@Sarafian See https://github.com/PowerShell/PowerShell/blob/bd6fdae73520931f0d27a29d6290e18761772141/src/Microsoft.PowerShell.Commands.Management/commands/management/WebServiceProxy.cs#L38

[2019-06-21 08:53] iSazonov commented on #6768
@vexx32 Do you ask about implementation or UX design?

[2019-06-21 09:35] iSazonov commented on #9972
You can run klist from PowerShell. Why do you need cmdlrt?

[2019-06-21 09:47] iSazonov commented on #9961
@joshuatee Thanks for your report!

It is dup #9295 and fixed in #9928

[2019-06-21 09:47] #9961 closed

[2019-06-21 09:52] gowrishcode opened #9973 "PowerShell Core Enter-PSSession not connecting from MAC to Windows."
Hello,

Could you please help on this issue. I am unable to PS Remote from Mac to Windows 10.

I have have configured all requirements in Windows. Please help me.

PowerShell Core for MacOS
PowerShell Core installed on the Windows server
The Win32 OpenSSH build installed on the Windows

The SSH client session has ended with error message: The SSH transport process has abruptly terminated causing t

[2019-06-21 10:02] iSazonov commented on #9960
What is benefits from splitting _code_ to many repos? Looking on CoreFX experience I'd expect benefits from splitting dev workflow _process_ (like packaging and publishing in another repo)

[2019-06-21 10:03] iSazonov commented on #9956
/cc @TravisEz13

[2019-06-21 10:17] vexx32 commented on #6768
Mainly what you think the UX would be like for that, I think. :)

[2019-06-21 10:47] iSazonov commented on #9955
@AikenBM It was a compromise read either raw or smart with W3C standard support. The standard uses '#' as special char at first position in header. Our conclusion was that following to the standard is better, users would need workarounds only for edge cases like you share.
You can see the code here:
https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/comm

[2019-06-21 10:54] KirkMunro commented on #4199
Do you want to push that forward then @iSazonov? If not, I'm happy to write the RFC but I don't want to take that away from you if you've already put thought into it. This needs to be done soon though to take advantage of the opportunity to get this done during the PS7 cycle. If I don't write it I'll definitely review it and share my thoughts.

[2019-06-21 11:17] iSazonov commented on #6768
In interactive session best UX is
1. minimal typing
It means:
- ping is default
- switching to another mode (traceroute and etc.) with one parameter
2. user friendly output
It means:
- emulate ping.exe (tracert.exe and others) output _on console host_ like I tried in the demo code - with headers, footers and informative lines well formatted. No need to think about output types - they is not used,

[2019-06-21 11:33] SeeminglyScience commented on #9963
I presume because you could do something like this today:

[code]

Note that he *did* say minor.  It's definitely a breaking change, it's just incredibly unlikely to actually break anything.

[2019-06-21 11:42] iSazonov commented on #4199
@KirkMunro It is not easy for me to write large text (but a high quality) on non-native language. Feel free to pull the RFC. Many thanks!

(It seems I keep a branch with the enumerating version prototype since then #4836 :-) It was ported from VS Code(!)  )

[2019-06-21 12:22] #9948 closed

[2019-06-21 12:27] vexx32 commented on #6768
Thanks, I think I understand what you're getting at a bit better now.

I don't really see the need for a dual mode like this, though? No other cmdlets in PowerShell have this split between interactive and "script mode" parameters.

If you wanted the exact output of ping / tracert, why wouldn't you just use those utilities directly?

PowerShell has never made a significant effort to completely mimi

[2019-06-21 12:27] lumirjasny opened #9974 "Show-command"
# Steps to reproduce
#Following list directory c:\windows
$PSDefaultParameterValues = @{"Get-ChildItem:Path" = 'c:\windows'}
Get-ChildItem

#Following does not list directory c:\windows
$PSDefaultParameterValues = @{"Get-ChildItem:Path" = 'c:\windows'}
Show-Command Get-ChildItem

# Expected behavior
Show-Command should be pre-filled with path parameter to c:\windows

# Actual behavior
Show-Command

[2019-06-21 12:38] iSazonov commented on #6768
We have gaps in out formatting system. For example, we have an issue with request to have header/footer dir. There are other scenarios where it would be convenient.

I do :-). These native utilities are very powerful because they are low-level but they are frozen. We can do _smarter_ things than they do - this is the essence of the appearance of this cmdlet (and not just to make a ping) - if you t

[2019-06-21 12:41] KirkMunro commented on #5935
Thank you @ili101, the example in the ImportExcel issue is much more helpful, and it clearly identifies an error in the parameter binder.

This particular issue (being able to ignore an `AmbiguousParameterSet` error when no mandatory parameters are provided on the parameter set) is not really actionable, though. There may be significant differences in the execution paths for set2 and set3 in the e

[2019-06-21 14:16] vexx32 commented on #6768
Of course we have gaps in the formatting system. But I don't think the answer is to implement a custom solution _every single time_. That just creates more problems and makes it even more difficult to improve or rewrite the formatting system to be more effective across the board.

Yeah, you've done some great work with it! I very much appreciate that. The current mode of output is not useful for a

[2019-06-21 14:20] vexx32 commented on #9963
... that's... that wouldn't even work, though. The output from `$Host.UI.WriteLine` shouldn't result in the text necessary to invoke the function. You'd have to call it like this:

[code]

So the odds of anyone doing something _that_ kludgy are astronomically low, just because it's both difficult to make work _and_ really out in the weeds, as it were.

[2019-06-21 14:29] SeeminglyScience commented on #9963
Sure it does

[code]

The PSMethod is converted to a string in both places, and that's unique enough for a function name (assuming it's a method on a singleton-like object like `$Host`).  You can run the example I gave, it does indeed work.

Yeah I did say incredibly unlikely to actually break anything.  I'm not arguing that it shouldn't be done, and I don't think @bpayette was either.  It's still

[2019-06-21 14:31] towerbe commented on #9495
Any updates on the fix for this issue or an ETA?

[2019-06-21 15:51] kilasuit commented on #8663
See also #9827 where Windows Store install has been asked for again

[2019-06-21 15:52] kilasuit commented on #7730
Asked for again in #9827

[2019-06-21 15:53] kilasuit commented on #9827
@pronichkin this has been asked for before so I've linked this issue to another 2 where install/update threads have been prior discussed

for a larger background please see - https://github.com/PowerShell/PowerShell/issues/8663#issuecomment-456272838

[2019-06-21 18:47] kvprasoon commented on #9974
`Show-Command` is not a valid cmdlet in PowerShell 6+.

And , the above behavior is expected, `Show-Command` is a UI way of using a cmdlet. Nothing will be pre populated. When using default values, it is identified and used after command invocation. Here you can click on Run button and hit enter, you'll get the desired behavior.

[2019-06-21 20:21] jzabroski commented on #9114
Here is one example of where I have sought expert feedback, and received little guidance: https://github.com/pester/Pester/issues/1314

We have a team of three _very_ experienced developers trying to make usable PowerShell modules, and it is very difficult.

While experimenting with figuring out the best approach, we have learned a stunning number of problems with PowerShell, such as:

1. Lack of

[2019-06-21 20:32] vexx32 commented on #9114
Specifically regarding point 1 there -- I've not tried with full VS myself, but Visual Studio Code's debugger seems perfectly capable of stepping through C# cmdlets as needed. I usually open the powershell console, use the `dotnet attach` debug config, and import the module. Then, set a breakpoint in the cmdlet and execute the cmdlet from the console.

It's pretty effective in my experience; not s

[2019-06-21 20:38] TravisEz13 commented on #9956
@JamesWTruher 	Do we still need this?

[2019-06-21 21:09] KirkMunro commented on #4199
Here: https://github.com/PowerShell/PowerShell-RFC/pull/202. Please let me know what you think @iSazonov and @SteveL-MSFT.

[2019-06-21 21:11] jzabroski commented on #9114
I guess, until Resharper is supported with VS Code, I will stick with Visual Studio.
For dotnet attach, are you referring to this: https://marketplace.visualstudio.com/items?itemName=DennisMaxJung.vscode-dotnet-auto-attach - this has fewer than 3,000 installs, so definitely not a standard approach or well-known.

Thanks!

[2019-06-21 21:14] KirkMunro commented on #4836
RFC: https://github.com/PowerShell/PowerShell-RFC/pull/202.

[2019-06-21 21:38] KirkMunro commented on #9114
I do this using Visual Studio 2019 just about every day, or if not then every other day using Attach to Process. Note that I find the Visual Studio PowerShell Tools extension has gotten in the way for me doing this in the past, to the point where I just removed it because I didn't have time to track down the issues, and resolving them wasn't as important to me as being able to debug and step throu

[2019-06-21 21:59] jzabroski commented on #9114
Thanks; we're going to give this a shot.  What we resorted to doing instead was creating an abstract class `CompanyNameCmdletsBase` and having a static constructor that initializes the logging framework; the first time a cmdlet accesses a base class member (e.g., `protected ILog Log {get; set;}`), it initializes it.  This works due to the fact static constructors are guaranteed to be thread-safe,

[2019-06-21 22:57] Francisco-Gamino opened #9977 "Web Cmdlet Socket Exhaustion Concern"
This issue was originally opened in the https://github.com/Azure/azure-functions-powershell-worker repo by @markekraus.

One thing we do not handle well in the web cmdlets in PS Core is the singleton nature of HttpClient. HttpClient is intended to be instantiated once and then reused. In PS Core we instantiate a new HttpClient on every call to IWR/IRM. This is somewhat OK for a shell and scripting

[2019-06-21 23:35] vexx32 commented on #9977
From what I've read on the subject, the fix could more or less be as simple as maintaining a static `HttpClient` instance that is reused for all web cmdlet calls to the API. If thread safety is a concern, locks or possibly [ThreadStatic] members may be needed as well.

Mark may have other ideas as well. 🙂

[2019-06-21 23:51] markekraus commented on #9977
Unfortunately, it's not that simple. lets say the following 2 commands run in different runspaces:

[code]

Because both of those make a modification to the `HttpClientHandler.ServerCertificateCustomValidationCallback` (which would need to be static between threads to reduce the risk of port exhaustion) it is possible that the `HttpClientHandler.DangerousAcceptAnyServerCertificateValidator` could

[2019-06-22 00:13] vexx32 commented on #9977
.NET Core uses an implementation of a StringBuilderCache that is similar to what it sounds like you're suggesting; we could possibly take some pointers from their implementation of that and go from there....

[2019-06-22 01:28] SteveL-MSFT commented on #9495
@anmenaga can you take a look at this?

[2019-06-22 06:23] JustinGrote commented on #9977
Since there is a fairly limited amount of HttpClientHandler configurations, and it's unlikely a user is going to  instantiate multiple different clienthandler configurations per session (maybe 2-3 to accomodate different host requirements), as discussed on another thread it's probably best to instantiate one httpclient per httpclienthandler configuration, which will drastically reduce the number o

[2019-06-22 06:57] kwkam commented on #9881
@iSazonov It looks like the parser also treats non-ascii quote symbols as quoting characters. Is this and expected behaviour in PowerShell? or should the quoting be limited to the ascii `'` and `"` only?

[2019-06-22 12:09] fMichaleczek commented on #9495
@SteveL-MSFT Do you plan to provide support back for proxy.pac ?
![](https://user-images.githubusercontent.com/7684835/41114198-922f5dcc-6a38-11e8-81c8-307e090f5800.png).
 I have a lot of customers with cloud proxy.

[2019-06-22 13:02] vexx32 commented on #9881
It's by design. The behaviour was introduced to minimise annoyances when copying code via some other application that may want to use smart quotes for whatever reason.

[2019-06-22 14:27] KnicKnic opened #9979 "useLocalContext in AddScript not equivalent of "dot sourcing""
I am trying to progammatically "dot source" a script file (through c#).
* According to https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_scopes?view=powershell-6#using-dot-source-notation-with-scope
    * "dot sourcing" is equivalent to running the script in the local context.
* https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.powershe

[2019-06-22 18:04] egon984 commented on #5935
@KirkMunro , is my initial post helpful? (https://github.com/PowerShell/PowerShell/issues/5935#issue-289662188)
Many thanks

[2019-06-22 18:18] bpayette commented on #9979
@KnicKnic If `UseLocalScope` is set to true, the script will be run in a _new local scope_. If it's false then it will run in the global scope. So it works the opposite way you expect unfortunately. Also, `AddScript` is used to run a piece of PowerShell code in-line. If you want to run a script file (script command), you should use `AddCommand()` passing in the name of the file. Something like:
[c

[2019-06-22 18:59] KnicKnic commented on #9979
@bpayette thank you.

I was confused by thinking false would be the default for the functions without the option. Thanks for clearing that up.

As for Add-Script, I now realize it can execute statements I would type into the shell where as add-command needs an actual command.
[code]
What are the benefits of using AddCommand I assume it invokes less parsing?

[2019-06-22 18:59] #9979 closed

[2019-06-22 22:45] KirkMunro commented on #5935
What I find challenging with your example, @egon984, is that such a function should really be invalid.

Here's a simplified version of what you posted earlier on this issue:

[code]

The problem with a function defined like this is that there is no way to invoke one of the non-default parameter set. PowerShell cannot decide that for you, nor should it. Every parameter set must be unique, and invoc

[2019-06-22 23:07] egon984 commented on #5935
@kirkmunro, what you say does make sense, I understand.
Anyway, IMHO, ambiguities never exist: in fact, parameter sets keep the user from passing at the same time parameters which must not go together, but that's all: once the parsmeters are passed, the command can always run without problems... do you agree?

[2019-06-22 23:15] KirkMunro commented on #5935
Ambiguities shouldn't exist, but only because parameter sets for a command should be designed in such a way that there is no ambiguity. But ambiguities do exist, in PowerShell commands as well as in .NET methods that have overloads. In the `Test-ParameterSet` command we just discussed, invoking `Test-ParameterSet -Switch` is ambiguous. That's a command design issue, not a PowerShell issue.

[2019-06-23 03:53] chriskuech opened #9980 "Support Question - Best practice for cross-platform paths"
# Support Question

If I'm on *nix, my paths use `/`; if I'm on Windows, my paths use `\`.  This isn't much of an issue, as I believe it mostly only affects aesthetics of printed paths.  What is the best practice for maintaining consistent path output cross-platform?

Possibly related--
If I'm on *nix, my `PATH`s use `:` delimeters; if I'm on Windows, my `PATH`s use `;` delimiters.   Would a simil

[2019-06-23 04:03] vexx32 commented on #9980
You have a couple options. One is to just avoid dealing with paths directly, and always use Joi-Path and Split-Path as needed. I tend to do this a fair bit.

Another option is to use a variable separator, for example the slash for paths on the current system is exposed in `[System.IO.Path]::DirectorySeparatorChar` so you can just define a variable like `${/} = [IO.Path]::DirectorySeparatorChar` an

[2019-06-23 05:10] jmwielandt opened #9981 "Update-Help cmdlet -> 404"
Hi,

[code]

The same on powershell 5.1 (but saying st about `HelpInfoUri`).

But ```Update-Help -Module Microsoft.PowerShell*``` works, or at least it didn't throw any error.
 <hr />

If I try: ```Update-Help -UICulture en-US```, exactly the same.

Are your servers on?
Because I'm writing this from the same computer where I have the issue. Isn't my internet connection.

A few weeks ago it works,

[2019-06-23 07:20] CollinChaffin commented on #8393
Here's a pretty reasonable argument I'm not hearing enough of:  MY DATA IS GONE.

I ran this cmdlet and without so much as returning an error, pumping any nested JSON with more than 2 levels into it, changing any value and writing it back to file results in LOST DATA.  This is due to an "invisible" default which basically just throws anything at level 3+ in the trash silently.

No error, no warnin

[2019-06-23 07:39] sba923 commented on #7211
+1 I would expect `Test-Path -LiteralPath c:/bin/foo` on *nix to match `c:/BIN/foo`, maybe with a `-IgnoreCase` option

[2019-06-23 09:52] egon984 commented on #5935
@KirkMunro, let me show a very, very simple example:

[code]
I want $one and $two to be mutual exclusive BUT I also want to be able to run the function without passing any parameter, right? Well, this is impossible unless I uncomment the line with `CmdletBinding`. IMHO, this doesn't make sense (as other more complicated things).

[2019-06-23 10:25] PrzemyslawKlys opened #9982 "Unexpected behavior on Import-CliXML for Enum values"
# Steps to reproduce

[code]

[code]

While I know above won't work in PS Core yet, it can be reproduced with any enum

[code]

# Expected behavior

[code]

# Actual behavior

[code]

The XML in question has:

[code]

So all the data is available for Import-CliXML to rebuild Enum value. Instead of picking up I32 it should pick ToString().

# Environment data

[code]

I did write a blog post about

[2019-06-23 10:29] ViperTG opened #9983 "Intellisense fails to resolve Dynamic parameters cmdlets when -Path or -LiteralPath is a quoted path like "c:\""
When trying to tab through the parameters of Get-ChildItem it does not suggest most of the switches and also skips the Attributes parameter if the Path parameter contains the character `:` which it pretty common for paths.

It only occurs when the `:` is written as a string in the command line, so using a variable that has the path with the `:` in it works fine, also any path written without `:` l

[2019-06-23 12:26] lakshit1 commented on #4676
Please tell me how to change PowerShell icon ?

[2019-06-23 12:35] megamorf commented on #4676
@lakshit1 PS Core has introduced it's own icon ages ago so there's no manual change required. A side-by-side installation of Windows PS and PS Core is clearly distinguishable.

[2019-06-23 12:39] lakshit1 opened #9984 "Support Question: How to change PowerShell icon ?"
# Support Question

## Official support

[PowerShell Support Lifecycle](https://aka.ms/pslifecycle)

## Community Resources

[Slack][powershell-slack] and [Discord][powershell-discord] Community Chat - Interactive chat with other PowerShell enthusiasts. Both Slack and Discord are bridged via a bot and can seamlessly talk to each other.
[PowerShell.org Forum](https://powershell.org/forums/) - Searc

[2019-06-23 13:07] lakshit1 commented on #4676
 # @SteveL-MSFT
How do you changed the icon of power shell in this https://github.com/PowerShell/PowerShell/issues/4676#issuecomment-332377602

[2019-06-23 13:14] vexx32 commented on #4676
That icon is used for the preview builds of PowerShell; if you install PowerShell 7 Preview from the Releases page here on Github it'll have that icon.

[2019-06-23 17:20] Xarkam opened #9985 "Cannot modify lnk of shell properties"
I can't modify powershell 6 properties (font, font size, ect).
By trying it all, I get this error :
![image](https://user-images.githubusercontent.com/331816/59979688-17c2b400-95eb-11e9-9358-44e6d95f8d5a.png)
So, the message inform me the shortcut doesn't exist. But, I'm on french windows and apparently, it look into `start menu` folder. But on french windows it's `Menu Demarrer`.
![image](https:/

[2019-06-23 17:59] SteveL-MSFT opened #9986 "Flat view of nested properties"
Perhaps an enhancement to `Format-List` to get a flat list of nested properties.  See https://github.com/soheilpro/catj as an example for json, but we should work with any format.

[2019-06-23 18:11] vexx32 commented on #9986
This would require some method of checking for recursive entries.

If we implement such a thing, the solution should be generalized, so that serializers can work with it as well.

[2019-06-23 18:21] rkeithhill commented on #8393
👍  Doing at least this much seems to be a "no brainer".

[2019-06-23 20:26] mklement0 commented on #5906
Great analysis, @KevinMarquette, and agreed, @CoreyChaplan:

From https://docs.microsoft.com/en-us/powershell/developer/cmdlet/cmdlet-error-reporting:

Therefore, the error at hand should _not_ be a terminating error, given that `Get-ItemPropertyValue` accepts _multiple_ paths via the pipeline.

An aside re your workaround:

[code]

is sufficient - also including `[-Property] $KeyName` is not just

[2019-06-23 22:02] hjorslev opened #9988 "Show-Markdown cuts text after first square bracket"
# Steps to reproduce

Show-Markdown .\CHANGELOG.md

Below is the content of CHANGELOG.md:
[code]

# Expected behavior

Show the entire line

[code]

# Actual behavior

Content after the first square bracket [ is cut

Instead of showing

[code]

this is shown

[code]

![changelog](https://user-images.githubusercontent.com/8019569/59982417-5cae1100-9612-11e9-9d95-e91034e1e052.png)

# Environment dat

[2019-06-23 23:08] ili101 opened #9989 "Windows.Forms.OpenFileDialog hang and not showing (Core 7.0)"
# Steps to reproduce

[code]

# Actual behavior
When running the `ShowDialog()` the File Dialog isn't displayed and the console hangs.
For reference regular Form works.
Tested on 7.0.0-preview.1 (And latest preview.2).
Also verified that the code works on Powershell Framework and that `OpenFileDialog()` works on .Net Core 3.0 Preview 5.

# Environment data

[code]

[2019-06-24 00:13] KirkMunro commented on #5935
There's a very good reason for that though. Every invocation of an advanced function or cmdlet is bound to a parameter set in the command being invoked. That is the only way that you can logically control what happens inside of the function.

Try this:

[code]

This outputs the following:

[code]

The output properly identifies that you only have two parameter sets. You're suggesting that you want

[2019-06-24 00:56] ili101 commented on #5935
@KirkMunro

Already did 6 months ago https://github.com/PowerShell/PowerShell/issues/8516. Wasn't addressed yet or Labeled with Bug/Enhancement.

[2019-06-24 01:09] Jaykul commented on #9980
The simple answer is:
- Always use forward slashes `/` -- Windows is more forgiving.
- Always `Convert-Path` when passing paths to applications -- PowerShell's PSDrives result in paths that aren't real (e.g. the new `Temp:` drive in PS7)

[2019-06-24 01:20] mklement0 commented on #3990
Hear, hear, @vexx32.

@kilasuit, after due deliberation by @poduicommittee, I'm pleased to announce that, based on:

* PowerShell's founding principle of consistent naming

* the glaring violation of that principle that `Start-Sleep` represents

* the trivial effort needed to at least ameliorate that violation going forward

you've been awarded this year's PODUI Award<sup>(TM)</sup> (Previously-Un

[2019-06-24 02:55] tlsalex opened #9990 "which native cmdlet or cmd can write an image to a USB stick."
I always write an image to USB stick with rufus , a 3rd part tool.
I wonder whether windows will have that kind of native cmdlet can do that job.
just like "dd" ship with linux.

[2019-06-24 03:50] iSazonov commented on #9881
If we look the error output:
[code]
we can see that PowerShell eats the quote chars - `Cannot find path 'C:\temp\hello.txt'` - and search exactly another name `hello.txt`.
It look as bug in globbing.

If the chars worked as quotes follow would works but do not:
[code]
and again we see that PowerShell search `C:\temp\hello.txt`.

If we use another Unicode chars this works as expected:
[code]

[2019-06-24 04:14] msftrncs commented on #9881
This issue is about the tab completer, not the parser.   The parser is working as it should.  The tab completer failed to escape the special characters in the path when it was accepted for completion of an argument.

[2019-06-24 04:50] iSazonov commented on #9881
The same for single quotes:
[code]

[2019-06-24 07:09] Sarafian commented on #9838
Thanks @iSazonov . The workhorse in the `New-WebServiceProxy` is the [DiscoveryClientProtocol](https://docs.microsoft.com/en-us/dotnet/api/system.web.services.discovery.discoveryclientprotocol?view=netframework-4.8) offered by the `System.Web.Services.dll` as already mentioned. The DiscoveryClientProtocol has some dependencies to other types from the same assembly and from a sampling I did, none o

[2019-06-24 07:09] NSETH18 commented on #6300
I can't use Test-connection   to probe the ports.Is there a way to use Test-connection for ports

[2019-06-24 07:16] iSazonov commented on #9881
I think the issue is in `CompletionRequiresQuotes()`
https://github.com/PowerShell/PowerShell/blob/981c990d747ae97f56a6c7474e5d2ef04bf237c5/src/System.Management.Automation/engine/CommandCompletion/CompletionCompleters.cs#L6702

[2019-06-24 07:35] lennybacon opened #9991 "The directory `PowerShell` in `My Documents` breaks existing PowerShell 1 launch functionality"
# Steps to reproduce

- Open Windows Explorer and navigate to `C:\`.
- Hit `F4`, `[ALT] + [D]`, or click in the address bar.
- Type `PowerShell` into the address bar.
- Hit `[ENTER]`

# Expected behavior

A Powershell Window opens with the current directory `C:\`

# Actual behavior

Windows Explorer navigates to `[IO.Path]::GetDirectoryName($profile)`.

# Environment data

[code]

[2019-06-24 08:36] egon984 commented on #5935
@KirkMunro, IMHO I think that parameter sets are now used by Powershell the wrong way. Is there any reason to know at runtime which parameter set has been chosen? I don't think so: parameter sets should only be used to prevent mutual exclusive parameters to be passed together, but that's all, there's no need to identify a single set a runtime... The developer knows that the function will be invoke

[2019-06-24 10:22] vexx32 commented on #5935
Parameter sets are often used to change the flow of the command completely, so yeah you're gonna need to be sure of which parameter set you're in. Very often I'll see or use a pattern like this:

[code]

There is often a lot of utility in knowing which parameter set is being used, far beyond just knowing which parameters have been chosen.

[2019-06-24 10:36] egon984 commented on #5935
I'm pretty sure these patterns can be replaced by analyzing the parameters directly

[2019-06-24 11:55] vexx32 commented on #5935
Doing so is about the same as just specifying your parameter sets properly, and requires significantly less boilerplate code in comparison. :smile:

[2019-06-24 12:17] egon984 commented on #5935
Obviously I didn't mean that one should analyze the parameters in order to find out which parsmeter set is in use... I did mean that using the parameters it's enough, no other information is needed, exactly as no set had been specified in the decorations.

[2019-06-24 12:20] kwkam commented on #9881
@msftrncs That's interesting, would you please create a file, for example, `test.ps1`
[code]
and execute it to see if you get the output as below?
[code]

[2019-06-24 12:26] SeeminglyScience commented on #3990
I'm all for the inconsistency being documented.

That said, changing the name of the cmdlet has a minor potential to break, even if a compatibility alias added.  Anything specifically looking for a *cmdlet* named `Start-Sleep` (like a proxy command) would no longer work.  Adding an alias `Invoke-Sleep` has a pretty high possibility of hijacking any custom `Invoke-Sleep` functions.

@mklement0 If y

[2019-06-24 13:06] Jonathan-7 opened #9993 "Powershell environment variables not returned"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]
Environment variables are not displayed although they are set:
I have also been having issues with other apps and scripts executed from powershell not working properly due to this
PS C:\Users\username> $env:TEST='test'
PS C:\Users\username> $TEST
PS C:\Users\username> echo "$TEST"

PS C

[2019-06-24 13:21] KirkMunro commented on #5935
What you lose in that approach is knowing which set of parameters you need to look at.

Consider the two different approaches:

1. With no ability to check the parameter set that was invoked internally, you need to look at parameters in various combinations to identify the intent (this is the exact reason we have parameter sets though, and without it I cannot imagine writing certain commands -- it

[2019-06-24 13:33] egon984 commented on #5935
Correct me if I'm wrong, please: isn't each set identified by a unique parameter (a sort of primary key)? If yes, it would be enough to check that parameter to understand if the associated set is in use.

[2019-06-24 13:58] vexx32 commented on #9993
The variable names `$env:TEST` and `$TEST` are two different variables. The latter is a regular PowerShell variable. The former is a process-scope environment variable. They target completely different things.

`$env:` is not a variable scope like `$script:` or `$global:`; it refers to a PSDrive which targets the Environment variable provider. Similarly, a variable named `$c:test.txt` would target

[2019-06-24 14:02] vexx32 commented on #5935
Sure! And then you have to go through and verify none of the other mutually-exclusive parameters are _also_ specified. That's a _lot_ of manual checks.

Plus, you're completely neglecting UX of a complete function or cmdlet here; without parameter set definitions, users have absolutely no way of knowing (short of painstaking manual documentation) which parameters can and can't be used together.

A

[2019-06-24 14:06] kilasuit commented on #3990
@mklement0 I don't know why you felt the need to be so abrasive and rude but here's the extended reason why this change makes no sense to me, not that I felt to those like yourself that has knowledge of the codebase needed it extended to the full reason.

`Start-Process` a command that quite rightly pointed out the verb `Start` is **generally** used for an asynchronous command, has the `-Wait` par

[2019-06-24 14:08] egon984 commented on #5935
No: parameter sets work perfectly with tab-complete. The problem raises just at runtime.
That said, once the function runs, you are always automagically sure that everything is correct.

[2019-06-24 14:41] vexx32 commented on #5935
Right. Which is why the engine doesn't just arbitrarily pick an option that hasn't been explicitly defined. Behaviour cannot be guaranteed in ambiguous cases, so you have to be explicit which set would be chosen in order to avoid unforeseen breakages.

[2019-06-24 14:53] bpayette commented on #9991
Hi @lennybacon The binary name for PowerShell 6 is actually "pwsh" not "powershell". Try typing that into explorer and see if it works. Thanks.

[2019-06-24 14:55] egon984 commented on #5935
Parameter sets guarantee you don't use mutual exclusive parameters at the same time, and that's all you'll ever need. At runtime you are automatically sure everything is correct, and you can check what happens just looking at the unique parameters.
In other words, parameter sets do their whole job just preventing mutual exclusive parameters to be mixed: nothing else is needed.

[2019-06-24 15:01] vexx32 commented on #5935
In some cases, perhaps.

In others, a parameter set being used can be a completely different command mode, or ensuring that certain optional parameters can't be used without also specifying a particular switch.

What I'm trying to say is: just because you personally don't see a need for the more advanced features doesn't mean there isn't a need for it. Permitting ambiguous parameter sets is a real

[2019-06-24 15:04] tloveland1 opened #9995 "How to get DateTimeOffset from DateTime object when importing a CliXml file"
I have a script that collects a lot of data from remote machines in different time zones.  I serialize all of the data using `Export-CliXml`, and then deserialize the data using `Import-CliXml` to parse it into a SQL database.

I'd like to be able to convert the DateTime objects I collect into DateTimeOffset objects, in order to store the DateTime in the machine's local time.  Unfortunately, it lo

[2019-06-24 15:25] mklement0 commented on #3990
My sincere apologies, @kilasuit: Being abrasive and rude was truly not my intent; I was hoping to inject some levity, but clearly failed - and I can now see why.

I see both sides of the debate, and @SeeminglyScience has a point about potentially breaking things.

As for the semantics:

`Start-Sleep` is _invariably_ synchronous.

For cmdlets that optionally allow changing the "synchronicity" of th

[2019-06-24 15:25] #3990 closed

[2019-06-24 15:27] egon984 commented on #5935
If you can provide a practical example, I'll understand: otherwise I apologize but I can't get the point of having to provide more information than those strictly required.
Many thanks in advance.

[2019-06-24 15:45] KirkMunro commented on #5935
You just made the point though: PowerShell strictly requires that every parameter in an advanced function belong to a parameter set.

When you don't specify parameter sets at all, all parameters are added to an implicit parameter set called '__AllParameterSets'. What I hear you saying is that you want parameter sets for documentation only, so that end users see the options, and then internally you

[2019-06-24 15:56] egon984 commented on #5935
Not for documentation onyl: parameter sets do a wonderful job preventing the user from passing together mutual exclusive data (tab-complete is an example, it won't suggest "foreign" parameters). Even when you even run Get-Command you get the correct signatures... but then you run the function and problems arise.

[2019-06-24 16:01] daxian-dbw opened #9996 "Add performance tests to track the perf improvement/regression in long term"
PowerShell needs performance tests to track the perf improvement and regression in long term.
The perf tests will roughly fall in two categories:
- Individual cmdlets, such as those work closely with `PSObject`: `ConvertFrom/To-Csv`, `ConvertFrom/To-Json`; the `*-Object` cmdlets; the `Select-String` and etc.
- scenarios that exercise particular components of the engine, such as the parameter binde

[2019-06-24 16:02] daxian-dbw commented on #7112
Absolutely. We need to have some perf tests that serve as benchmarks to help us see the trend. Currently we have none of those tests. Opened https://github.com/PowerShell/PowerShell/issues/9996

[2019-06-24 17:36] dads07a commented on #9984
Do you mean the shortcut? If so you would do it as per [here](https://www.digitalcitizen.life/how-change-icon-shortcut).

[2019-06-24 17:58] msftrncs commented on #9881
The result is as expected:

[code]

To show context (VS Code, using https://github.com/PowerShell/EditorSyntax/pull/156) :
![image](https://user-images.githubusercontent.com/26179051/60039895-6587fc80-967d-11e9-95da-56501b028473.png)

![image](https://user-images.githubusercontent.com/26179051/60040155-f068f700-967d-11e9-836a-fa437dee3c50.png)

The fancy quotes (``` `u{2018}-`u{201B} ```) will req

[2019-06-24 18:00] vexx32 opened #9997 "AutomationNull Behaviour"
See the comments in #9794 for the full extent of the existing discussion, starting with https://github.com/PowerShell/PowerShell/pull/9794#issuecomment-504796781

AutomationNull.Value is sometimes detectable and distinguishable from $null in certain cases, for example:

[code]

@SeeminglyScience mentioned a possible way we could have it be handled more closely like `[dbnull]` and `[nullstring]` ar

[2019-06-24 18:33] lennybacon commented on #9991
@bpayette Thank you for the hint. I edited the title to be more clear about where I see the issue.

[2019-06-24 18:44] manojampalam commented on #9878
I believe @PaulHigin is correct. Disconnected session feature is not supported in IIS hosted WSMan endpoints.

[2019-06-24 18:58] msftrncs commented on #9881
I tested most of the rest of the potentially special characters with tab completion, and the only ones that seem to not be properly handled are ``` `u{2018}-`u{201B} ``` (curly single quotes).  The curly double quotes appear to get handled correctly here.

[2019-06-24 19:00] #9827 closed

[2019-06-24 20:14] nmyron opened #9998 "Active Directory RSAT Get-ADUser issue"
# Steps to reproduce
Install Optional Features to enable RSAT for Active Directory, reboot, then run PSCore6 and test AD cmdlets by doing "Get-ADUser _username_"  - this should show you your NT acct details. If that does work without issue (indicating the modules loaded as expected) you can reproduce my error by running

Get-ADUser _username_ -Properties *

# Expected behavior

You should get an e

[2019-06-24 20:45] sramesh621 commented on #9995
Can you please explain this issue a little more clearly???

In the original XML file, the date is stored in UTC time, so the time is displayed as 13:13 with an offset of 0.

After the import, the date is stored in Central Time with an offset of -5 hrs.  That's why it is showing up as 8:13.

[2019-06-24 20:49] vexx32 commented on #9998
Yeah, this is a known issue with the types backing the AD commands. I don't have the link handy right now, but it's been looked at, and I believe there were some regressions in .NET Core that needed to be patched. From memory, it should be functional within a few more preview releases of .NET Core (I think they ballparked it at preview8 of .NET Core 3).

I think @corbob might know where that issue

[2019-06-24 20:52] tloveland1 commented on #9995
I want to preserve the offset of the DateTime as it's stored in the XML file, so I can convert the DateTime back to the local time it was created.

The offset is stored in the XML file, and I can grab the string out of the XML file's contents and convert it to a DateTimeOffset to get that local time with the correct offset.  When I use `Import-CliXml` though, the offset is lost during the deserial

[2019-06-24 20:54] vexx32 commented on #9995
Not within DateTime's type structure, no. It's not designed for it. Had it been originally stored as DateTimeOffset, I think this might be possible, however. 🤔

[2019-06-24 20:56] tloveland1 commented on #9995
Here's a different example using Alaska time (-8):

**Manual conversion of the string:**
![image](https://user-images.githubusercontent.com/51245144/60051320-58c4d200-9698-11e9-8b1d-a9637e9261be.png)

**Importing the CliXml**

![image](https://user-images.githubusercontent.com/51245144/60051389-814ccc00-9698-11e9-8b5e-ae04189063e8.png)

I'm probably just going to end up collecting it as a DateTime

[2019-06-24 21:46] corbob commented on #9998
Well, it was an adventure learning about GitHub searching and such. It's over here: https://github.com/PowerShell/PowerShellModuleCoverage/issues/5 including a workaround if you're so inclined.

[2019-06-24 22:30] AikenBM commented on #9955
By that I presume you mean the [Model for Tabular Data and Metadata](https://www.w3.org/TR/tabular-data-model/) on the [Web and the Metadata Vocabulary for Tabular Data](https://www.w3.org/TR/tabular-metadata/). The second is necessary, because that's the only document I can find that refers to `#` being the default character. The first one for general tabular data and to which the metadata recomm

[2019-06-25 01:02] kvprasoon opened #9999 "CI fails as no PowerShell 7.x endpoints are available."
# Steps to reproduce
Open PowerShell 7.0.0-Preview.1

[code]

# Expected behavior

Output should contain a Configuration name for 7.0.0-Preview.1

# Actual behavior

Output doesn't contain a Configuration name for 7.0.0-Preview.1

# Environment data

[code]

Error in CI

[code]

[2019-06-25 03:50] iSazonov commented on #9881
If somebody want to fix this see my code and PR references above.

[2019-06-25 03:54] msftrncs commented on #9881
@iSazonov, I might think this line(s) could cause problems:

https://github.com/PowerShell/PowerShell/blob/981c990d747ae97f56a6c7474e5d2ef04bf237c5/src/System.Management.Automation/engine/CommandCompletion/CompletionCompleters.cs#L237-L241

There are approximately 16 of these such constructs in this file.

Also, I misstated the problem earlier when I said that only the single quotes seem affected.

[2019-06-25 04:01] iSazonov commented on #9999
/cc @PaulHigin @SteveL-MSFT Should we create new endpoint for 7.0?

[2019-06-25 04:15] msftrncs commented on #7569
I think I found the source of this, while referencing #9881,

https://github.com/PowerShell/PowerShell/blob/981c990d747ae97f56a6c7474e5d2ef04bf237c5/src/System.Management.Automation/engine/CommandCompletion/CompletionCompleters.cs#L4119-L4142

At this point it is looking like no escaping ever occurs on the resulting shares made available for completion, past this point, it appears that file names

[2019-06-25 06:01] mklement0 commented on #9997
[code]
returning `$true` makes perfect sense both intrinsically and for symmetry with `[DbNull]::Value -is [DbNull]` and `[NullString]::Value -is [NullString]` returning `$true`.

The current workaround for detecting `[System.Management.Automation.Internal.AutomationNull]::Value` actually requires _two_ tests:

[code]

As for why there is an occasional need to distinguish between a true `$null` an

[2019-06-25 06:23] iSazonov commented on #9881
@msftrncs I do some unifications in #9992. See IsSingleQuote() and IsDoubleQuote(). We need review all places where we call the methods.

[2019-06-25 07:10] VIKITALA opened #10000 "How can I get only data without column headers when i use Invoke-Sqlcmd"
I am trying to get column data and assign it to a variable which I want to later compare with a value of another variable using Invoke-Sqlcmd command. I am able to get data from the table but its coming with column header. Is there away how I can only get data without the column header? I have tried to use Select -ExpandProperty but I am getting errors. Below is the code and error message I am get

[2019-06-25 07:30] #10000 closed

[2019-06-25 07:33] VIKITALA commented on #10000
I have managed to get only data in the column without column headers. Below is the final fine code
PS SQLSERVER:\> $Version =Get-Content -Path C:\Users\Admin\Documents\MSSQLScripts\Db-Version.txt
PS SQLSERVER:\> $dbVersion =Invoke-Sqlcmd -server localhost -Database Test 'Select versionno from Employee where id =1'
PS SQLSERVER:\> $dbVersion =$dbVersion | Select -ExpandProperty **versionno**
In thi

[2019-06-25 07:42] iSazonov commented on #9955
@AikenBM Thanks for your investigations! As I commented above it is an expected behavior for the edge case. No need complicate the parser (we want to keep it fastest) until we get an important business case (like Aparche, ISS, or nginx will start writing logs of this format).

[2019-06-25 08:43] kwkam commented on #9881
@msftrncs If it is expected that the curly single quotes are behaving as quoting character, please change the **Expected behaviour** to, for example,
[code]
so others will not get confused.

[2019-06-25 10:17] iSazonov commented on #9998
@corbob Thanks for the reference.

Latest daily PowerShell 7.0 is based on .Net Core 3.0 so I expect the issue is gone. Please confirm.

[2019-06-25 10:29] vexx32 commented on #9998
Not sure that fix has made it all the way here yet. It was merged to net core, but I think that was after preview6 of .net core 3 (which is the current one we're building on if I recall correctly?)

@bergmeister has a branch where he's building against a more recent version of .net core 3, so he may be able to check if it's still an issue and confirm. If not, I'll give it another look when his PR

[2019-06-25 11:16] bergmeister commented on #9998
You can try using the build of PR #9888, which updates .net core from preview 5 to 6 and more importantly the out of band nuget packages that are still on 2.1 for 7.0-preview1 of pwsh

[2019-06-25 11:25] iSazonov commented on #9997
The AutomationNull is defined in System.Management.Automation.Internal namespace that implies only internal _non-public_ use. We free to change the internal AutomationNull but it make sense only if it is really needed for addressing important scenarios.

[2019-06-25 11:27] iSazonov commented on #9996
.Net Core team moved all benchmark tests in separate repo. We need to consider the experience.

[2019-06-25 12:10] vexx32 commented on #9997
If it is purely for internal use it should never be leaking in the ways described above.

However, due to the way it's intended to behave, I'm not sure it can be purely internal and still provide the same utility.

[2019-06-25 13:37] Jonathan-7 commented on #9993
@vexx32 what is the best way to set an environment variable and print it out? I've been having issues with PS missing info with different CLI tools and had the feeling it was related to this.

[2019-06-25 14:03] vexx32 commented on #9993
Just the same way you set it! :blush:

[code]

[2019-06-25 15:03] iSazonov commented on #9957
@SteveL-MSFT Please clarify about:

It seems already implemented by @daxian-dbw
https://github.com/PowerShell/PowerShell/blob/e3d81313908903772c901a25e4f4a206b14c5112/src/System.Management.Automation/engine/Modules/ModuleIntrinsics.cs#L1348-L1352

I guess that we need only replace writing to the pwsh process $env:PSModulePath with saving the module paths in global static variable s_psModulePath.

[2019-06-25 15:14] Jonathan-7 commented on #9993
@vexx32 this is working so it's not the root cause for the problem I was having, thanks

[2019-06-25 15:14] #9993 closed

[2019-06-25 15:26] kilasuit commented on #9993
@Jonathan-7 You are best using this if on Windows
[code]
As per https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentvariable?view=netframework-4.8#System_Environment_SetEnvironmentVariable_System_String_System_String_System_EnvironmentVariableTarget_ there isn't the Machine/User value avail on unix versions of dotnet so this will only work in current process it seems

[2019-06-25 15:31] iSazonov commented on #9991
Is the issue about Windows PowerShell or PowerShell Core? I see 6.2.1 in Environment data section.

[2019-06-25 15:33] iSazonov commented on #9990
@tlsalex Please use forums and etc. to ask questions not related PowerShell dev process.

[2019-06-25 15:33] #9990 closed

[2019-06-25 15:34] #9984 closed

[2019-06-25 15:45] vexx32 commented on #9993
Yep,wife you need to set persistent environment variables definitely do that - but probably go for setting user variable rather than machine ones unless it really needs to be machine-wide :)

[2019-06-25 15:48] iSazonov commented on #9985
You should have permissions to do this. Try set permissions or modify properties from elevated session.

[2019-06-25 15:48] #9985 closed

[2019-06-25 15:54] msftrncs commented on #9881
Interesting, @kwkam, that was my fault that I did not double quote the expected sample, as I was caught up on the fact that it didn't even bother to wrap the whole argument in quotes.   However, a further issue is that sometimes it does wrap the argument in quotes and some times it does not, and now I will have to figure out that pattern.   I think it was because I used a special quote as the firs

[2019-06-25 15:54] MomIsBestFriend opened #10001 "Odd behavior of "Get-Help" and "man""
Disclamer: this is my first time reporting a bug, so please tell me what to add/change to help :)

I have found out an odd output change within powershell

![odd_powershell](https://user-images.githubusercontent.com/50263213/60113343-3c996180-977a-11e9-94ac-b0d417d86268.png)

as you can see, I ran the firsrt command as "man" and there was no output, and if the second command is "man" than it outpu

[2019-06-25 15:58] usta commented on #9295
@bergmeister can we reopen this bug please ?
Because i have hit same bug today again  (with the one you have mentioned ( the custom build ) )
(or maybe a different one)

GetStartupInfo
CoCreateInstance
BeginList
SetValue
Commit
CoCreateInstance
AddObject
Internal CLR error. (0x80131506)
   at Microsoft.PowerShell.TaskbarJumpList.CreateElevatedEntry(System.String)
   at Microsoft.PowerShell.Console

[2019-06-25 16:27] vexx32 commented on #9985
This looks more like a localization issue @iSazonov  -- note the path it's _expecting_ to find the shortcut is set as the English-language path, but as the OS language is in French it's at a different location.

Not sure if that makes this an issue with our MSI installer and how it's handling shortcuts, or if it's a Windows OS issue. @SteveL-MSFT, would that be on our end here or something for the

[2019-06-25 17:25] msftrncs opened #10002 "tab completion of a provider path notation UNC share name is not possible"
related to #7569 and #9881

# Steps to reproduce
Attempt to tab complete a share name on a UNC path via a partially resolved path that includes the provider notation.

[code]

# Expected behavior

I expected the same completions that I get with
[code]

# Actual behavior

No completions occur

# Analysis

Upon researching leads on #9881, it was noticed that this issue would occur in this code:
http

[2019-06-25 17:29] Xarkam commented on #9985
Thank you for taking the time to read my report @vexx32 .
This seems a problem of internationalisation with the OS.

Now the workaround: I copied the shortcut to modify it. I then recopied it to the source folder.

@iSazonov if you are not able to read an issue correctly, let someone do it for you.
I hate to have that kind of response that says you did not take the time to understand the problem.

[2019-06-25 18:04] #9106 closed

[2019-06-25 18:04] #2217 closed

[2019-06-25 18:37] bpayette commented on #9997
@iSazonov is correct. AutomationNull is for internal use by the runtime. It exists to distinguish an empty stream from a stream containing null.

@vexx32

All of your examples explicitly reference the type. I would hardly call that a "leak".

What do you think it should do that it currently doesn't do and why do you think that behaviour is useful? For example, this
[code]
does *not* qualify as use

[2019-06-25 18:43] vexx32 commented on #9997
Sure, for simplicity of definition I opted to use the explicit class name. @mklement0  offered several other ways to obtain the value. Also, it's **not** internal. I can reference the type name from PS directly. It might be in the internal namespace, but it's public.

Here's another way to get an auto-null:

[code]

Contrived? Yes. Easily found in a real application? Absolutely. Even more so in a

[2019-06-25 19:14] bpayette commented on #9997
@vexx32

It's in the internal namespace:

System.Management.Automation._Internal_

This namespace contains classes and interfaces that must be public for some reason but are not considered part of the public PowerShell API.

[code]
So where does AutomationNull show up in this?

[2019-06-25 19:20] keithallenjackson commented on #6629
I'm currently trying to make our existing PowerShell 5 scripts compatible with PowerShell Core/6 and have ran into this issue on Mac. Windows PowerShell Core is able to connect to UNC (Samba) paths, but Mac PowerShell Core 6.2 cannot. It appears this issue has either been forgotten or is just not a priority. Has there been any work done to make this work?

[2019-06-25 19:23] chriskuech commented on #9980
Thanks all

[2019-06-25 19:23] #9980 closed

[2019-06-25 19:52] lennybacon commented on #9991
I installed [https://github.com/PowerShell/PowerShell/releases/download/v6.2.1/PowerShell-6.2.1-win-x64.msi](https://github.com/PowerShell/PowerShell/releases/download/v6.2.1/PowerShell-6.2.1-win-x64.msi)

[2019-06-25 20:15] vexx32 commented on #9997
As mentioned in the linked PR, AutomationNull doesn't respect GetType(); it's special-cased in that instance to appear as `$null`. However, compare `$a` in that example with true `$null` as follows:

[code]

[2019-06-25 20:31] vexx32 commented on #9991
@iSazonov this changes existing functionality indirectly by installing PowerShell Core.

Basically, if you _don't_ have PS Core installed, entering `powershell` in the address bar in File Explorer actually invokes `powershell.exe` as it's on `%PATH%`.

However, once you install PS Core, it creates the `%HOME%\Documents\PowerShell` folder. Attempting to invoke Windows PowerShell in the same way as

[2019-06-25 20:53] SeeminglyScience commented on #9997
@BrucePay I've had to account for it before with methods that have a parameter typed as `object[]`.  For example:

[code]

[2019-06-25 21:43] bergmeister commented on #9295
@usta Yes, I agree, we should re-open (I do not have the rights though but will notify maintainers). Thank you very much for reporting and providing the log, now we know that the problem happens on this line (should it happen again but with a different log where `AddObject` is not the last line before the crash let us know though):
https://github.com/PowerShell/PowerShell/blob/86a1697da95974495fc8

[2019-06-25 21:59] usta commented on #9295
@bergmeister now i tried again and again to reproduce same error.
At the end i may reproduce it but this time it give anohter log:

GetStartupInfo
CoCreateInstance
BeginList
SetValue
Commit
CoCreateInstance
AddObject
Exception 'System.Runtime.InteropServices.InvalidComObjectException: COM object that has been separated from its underlying RCW cannot be used.
   at System.StubHelpers.InterfaceMarsh

[2019-06-25 22:02] usta commented on #9295
If needed I will be glad to test another build or try to provide other logs ( which might need to overcome this bug )