[2018-10-03 07:34] #3373 closed

[2018-10-03 09:18] bergmeister commented on #6799
@GeeLaw Thanks for the detailed answer, I opened a pull request with a fix for the `open` verb to use `openpwsh` but I don't think we should change `runas` to `runaspwsh` due to the required elevation (and having a flickering launcher instead is not preferred instead, I proposed this already when I originally did the feature) because as far as I can see, continuing to use the default verb for `run

[2018-10-03 10:17] iSazonov commented on #7887
Yes, we'll have Trivia RFC.

[2018-10-03 10:55] vexx32 commented on #7928
In some other languages this is done with a slightly different syntax: `0..2..$n` which might perhaps be more intuitive. That said, I'd imagine there are more changes that would be necessary to make that a working solution.

[2018-10-03 13:58] mklement0 opened #7937 "Select-Object -ExpandProperty hides ETS instance members"
<sup>Follow-up from #7768</sup>

If you use `-ExpandProperty` with a property whose value happens to be an object with  instance ETS members (ETS members added with `-Add-Member`), these members are no longer present in the value returned.

Note: The behavior only surfaces if the object is _not_ an instance of `[psobject]` - that is, if it is neither a true custom object ("property bag") nor an in

[2018-10-03 14:04] mklement0 commented on #7768
I appreciate the background information, @PetSerAl  and @lzybkr.

However, @lzybkr, I don't think @PetSerAl is advocating use of separate PSObject wrappers - on the contrary:

That means that the inconsistency pointed out by @PetSerAl should be resolved toward the documented behavior:

Associate all instance members added via `-Property` _directly with the base (underlying) object, whatever its ty

[2018-10-03 14:32] SeeminglyScience opened #7939 "CmdletAdapter<> should surface a virtual Dispose method"
Similar to how `CmdletAdapter<>` allows implementing `StopProcessing`. Internally that's handled by hooking into `PSScriptCmdlet.StoppingEvent`.

It should also allow implementing `Dispose`, possibly by hooking into `PSScriptCmdlet.DisposingEvent` in the same way.

Environment data
----------------

[code]

[2018-10-03 14:39] nityanandagohain commented on #5170
Hi, Can anyone help as for how do I work on this, Thanks!

[2018-10-03 14:54] vexx32 commented on #5170
For the cmdlet(s) that have this issue, I think the best approach would be to seclude them to distinct parameter sets, preventing them from being used together.

Depending on existing parameter sets this could get slightly complex, but should be no more complex than adding a series of `[Parameter()]` attributes with appropriate `ParameterSetName` properties; each parameter should be in distinct se

[2018-10-03 16:54] alokkms commented on #6476
The path does not exist. The above folder (E:\PwshTest\bin\Release\netcoreapp2.0\win10-x64\publish\) is generated by dotnet publish, and it does not contain Modules\Microsoft.PowerShell.Utility\Microsoft.PowerShell.Utility.psm1.

[2018-10-03 17:43] adityapatwardhan commented on #6476
@alokkms I made some changes and compiled the project files you attached, and it seems to work.
The change I made:
1. Can the csproj file to use netcoreapp2.1, and win7-x64.
2. Change the SDK version to 6.1.0

The output I got:

[code]
I have attached my modified project. Please give it a try.
[PwshTest.zip](https://github.com/PowerShell/PowerShell/files/2443119/PwshTest.zip)

[2018-10-03 17:45] #5147 closed

[2018-10-03 17:45] mklement0 opened #7940 "Support array (collection) slicing with implied endpoint and except-last-N logic"
Note:

* What I'm proposing requires adding special handling to array indices, which is currently _not_ the case: PowerShell has no special array-subscript syntax, it allows use of any expression, as long as it results in an array of (valid) indices.

* While this is a very powerful concept, the lack of awareness of the array context precludes some useful features, hence this suggestion.

Note tha

[2018-10-03 17:45] mklement0 commented on #7928
@p0W3RH311: Since all but the last 2 commands in your code relate to the _new_ functionality you're looking for (stepping), can I suggest you remove the others, which simply demonstrate _current_ behavior (or at least make the distinction clear)?

Stepping sounds like  a handy feature to have, but note that it would have to be implemented on the _range operator_ (`..`), given that there's no speci

[2018-10-03 18:58] BrucePay commented on #7940
History notes: When I first implemented ranges, I'd planned to support a unary range operator e.g. `$a[1..]` but never got around to it (obviously).  For the upper bound, I'd been thinking about having a magic variable `$end` which would be equivalent to `$a.Length-1` so you could write `$a[1..$end]` to get everything but the first element.  And unfortunately we got the precedence "wrong" for comp

[2018-10-03 19:02] mklement0 commented on #7930
I agree that from an end user's perspective there's a crucial difference between something `throw`ing in a pipeline - an unexpected _error_ that unhandled _aborts processing_ - and using `Select-Object -First` to only process part of the pipeline input - a regular feature during _normal operation_ that simplify _modifies_ processing.

It just so happens that the way `Select-Object -First` stops th

[2018-10-03 19:29] vexx32 commented on #7940
Is there any particular reason why `$end` itself cannot map cleanly to the `$_.Length - 1` value, circumventing that issue?

[2018-10-03 19:32] SteveL-MSFT commented on #7885
@Artem-av-st I tried this on macOS and Ubuntu 18.04 and this worked for me:

pipeline.csproj
[code]

program.cs
[code]

Note that the `CreatePipeline()` API is deprecated.  You should use [PowerShell]::Create() instead:

[code]

[2018-10-03 20:45] kilasuit commented on #1940
This is now a very old issue and I'm not sure this is relevant still

@joeyaiello  @SteveL-MSFT can either of you confirm/deny if this needs revisiting now

[2018-10-03 20:49] mklement0 commented on #7940
@vexx32:

I think @BrucePay indeed meant `$end` to be `$_.Length - 1`, which requires no arithmetic in the all-remaining scenario, but obviously still does in the all-but-N scenario.

Note that in the all-remaining scenario you can even currently get away without arithmetic, because it's benign (though potentially confusing) to exceed the array bounds by 1:

[code]

Yes, the need for parentheses i

[2018-10-03 21:45] BrucePay commented on #7920
@mklement0

Curious indeed. But it still sounds like a Perl 6 bug. It shouldn't matter what we did when we were running. After we're done, Perl has control and it's not initializing things properly. Does running PowerShell before running any of the other shells cause their editing to break? No? Sounds like a Perl 6 bug.

[2018-10-03 21:54] HumanEquivalentUnit commented on #7940
I think a lot of this is handled by `Select -Skip` and `-SkipLast`, and even works out shorter and clearer to do that:

[code]

Veing able to select arbitrary elements such as `$a[4,7,1,3]` is nice, but the way ranges include both endpoints, the precedence rules that mean `0..($x-1)` needs parens, they way you can't add/subtract to a whole array like `1,2,3 -1` to make it `0,1,2`..

What about lea

[2018-10-03 22:00] Groostav commented on #5434
Any ideas what the status of this issue is?

Also, whats the best workaround? I'm having trouble getting `Start-Job` with the various job collectors to give me the semantics I want.

[2018-10-03 22:09] HumanEquivalentUnit commented on #7925
Where's the GoFundMe for LINQ support? 👍

[2018-10-03 22:36] SteveL-MSFT commented on #7880
@PowerShell/powershell-committee reviewed this.  Our preference is investigate supporting PSCustomObject with a property name of empty string rather than introduce a `-AsHashTable` switch.

[2018-10-03 22:36] HumanEquivalentUnit commented on #7911
@SteveL-MSFT Thank you for reviewing it; I have no specific need for it to be changed, so from my view this could be closed and left for the record.

I was about to say, is it worth adding to the Get-Date documentation as a caution - but it's already there. Places I should have looked first (sorry!).

[2018-10-03 22:36] #7911 closed

[2018-10-03 22:38] SteveL-MSFT commented on #7856
@PowerShell/powershell-committee reviewed this.  The original proposal was that if CompatiblePSEditions is empty, it is only interpreted as `Desktop` if the module is in the system32 path.  Modules in ProgramFiles (or anywhere else) should just be empty.

[2018-10-03 22:44] SteveL-MSFT commented on #7749
@PowerShell/powershell-committee reviewed this and agree on doing loose validation rather than strict validation so for the first item, we should ignore unknown attributes.  For the second item, it should be ok to support 1.1.

[2018-10-03 22:52] SteveL-MSFT commented on #7713
@PowerShell/powershell-committee reviewed this, we believe `-match` or using `| % propname` is sufficient to achieve this scenario

[2018-10-03 23:55] jborean93 commented on #7921
I believe I figured out my issue and have been able to move on. The default byte representation of a uuid/guid between Python and .NET is different, Python represents the bytes of a UUID in big endianess while .NET seems to be little endian. For example, here's how we can convert a uuid string to bytes for the PSRP message packet;

[code]

When comparing against .NET, `ToByteArray()` uses little e

[2018-10-04 00:16] vexx32 commented on #7925
If I knew *anything* about LINQ I'd be all over that, but I think it's a bit over my head for the present moment. 😄

[2018-10-04 02:01] mklement0 commented on #7940
@HumanEquivalentUnit:

As a general rule, expression-mode solutions and pipeline solutions aren't interchangeable, for performance reasons.

Yes, `Select -Skip` and `Select -SkipLast`  are the _functional_ equivalent of what we're looking for in the realm of _pipelines_, but they're not an option for performant code in the realm of _expressions_.

My preference is to make do with minor tweaks to t

[2018-10-04 02:33] mklement0 commented on #7713
@SteveL-MSFT:

A joint bulletin from the Spilt-Milk / 20-20 Departments:

As a general rule, expression-mode solutions and pipeline solutions aren't interchangeable, for reasons of performance (yay for expressions) and memory consumption (yay for pipelines), so recommending the use of `-match` is not helpful as an alternative to `Select-String`.

As for `| % propname` (I assume you meant: `| % Lin

[2018-10-04 02:45] mklement0 commented on #7920
Good point, @BrucePay, but before I create an issue in the Perl6 repo: do you have any pointers as to what (a) PowerShell may be doing differently than other shells, and (b) what Perl6 may be neglecting to do to cause this behavior?

[2018-10-04 03:33] iSazonov commented on #1940
I think it was resolved in #7892 /cc @adityapatwardhan

[2018-10-04 04:13] mklement0 commented on #7768
I'm glad to hear you don't necessarily think it's a good idea, @lzybkr.

I was responding to your statement that, "As for the suggestion by @PetSerAl to use multiple PSObject wrappers", pointing out that (a) from my understanding @PetSerAl suggested _not_ to dot that, and (b) that using multiple object wrappers:

* causes the bug I've documented in #7937
* generally represent a _step back_ from th

[2018-10-04 05:00] iSazonov commented on #7921
@jborean93 You can look how CoreFX or PowerShell resolve the problem.
https://github.com/PowerShell/PowerShell-Native/blob/master/src/libpsl-native/src/setdate.cpp#L42

[2018-10-04 08:44] Artem-av-st commented on #7885
@SteveL-MSFT Thanks for your investigation, Steve.  I guess that my issue related  to the fact that I am creating a runspace on a remote machine. Perhaps the environment settings are made incorrectly. Do you have any idea what might be done wrong?

[code]

[2018-10-04 10:13] mayursss commented on #7928
[code]
I use below to do same. I agree it will be easier if we get option to splice array with steps.
[code]

[2018-10-04 10:36] iSazonov opened #7943 "wmisearcher - The type initializer for 'System.Management.ManagementPath' threw an exception"
After we added reference to Windows Compatibility Pack we enable `[wmisearcher]` without any test - and it doesn't work.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-04 10:40] iSazonov commented on #7943
Another repo

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------

[code]

[2018-10-04 10:52] iSazonov commented on #7943
Seems root problem is in internal CoreFX method `System.Management.WmiNetUtilsHelper..cctor()`

@SteveL-MSFT @daxian-dbw Can you confirm that the issue is not PowerShell issue. If so I'll open new issue in CoreFX repo.

[2018-10-04 11:28] RichardSiddaway commented on #7943
I just got this

[code]
to work

also got these to work

[code]
Your original code

[code]
Also worked for me

I can't reproduce your error

[code]

[2018-10-04 12:57] iSazonov commented on #7943
@RichardSiddaway Thanks! My system is Microsoft Windows _10.0.10240_ - maybe it matters.

[2018-10-04 13:14] LuizHAP commented on #6083
@SteveL-MSFT i can't import ActiveDirectory in Windows 7 Build 7601. I got the same error

[2018-10-04 13:42] SwarfegaGit commented on #6083
@luizhap that's correct. Windows 7 won't get this feature with PowerShell Core.

[2018-10-04 15:40] Line40 opened #7944 "$ExecutionContext.InvokeCommand.ExpandString does not work as expected in Modules"
When used inside a module function `$ExecutionContext.InvokeCommand.ExpandString` only works for global variables. However using `$PSCmdLet.GetVariableValue` also works for Script Scope variables. I think they both should work the same way, or there should be some other way to make a module function inherit the execution context of the caller.
The issue came up when I tried to wrap `ExpandString`

[2018-10-04 16:07] MaximoTrinidad commented on #6083
New Windows 10 Client and Servers supported moving forward.
FYI - Windows 7 EOL (End-Of-Life), support ends on January 14th 2020

:)

[2018-10-04 16:08] argonym commented on #4691
I am experiencing this interop problem as well with PS 6.1.0 as default shell and OpenSSH 7.8p1 with ProxyJump configured in ~/.ssh/config:
[code]
OpenSSH had introduced `exec` as some workaround for Solaris: https://bugzilla.mindrot.org/show_bug.cgi?id=223
Meanwhile they have removed it again for the "match exec" feature: https://bugzilla.mindrot.org/show_bug.cgi?id=2471
However, they didn't remo

[2018-10-04 16:21] SteveL-MSFT commented on #6083
For those that want to use ActiveDirectory module on Windows older than the Oct 2018 update with PSCore6, you can use https://www.powershellgallery.com/packages/WindowsCompatibility

[2018-10-04 16:28] SteveL-MSFT commented on #7885
@Artem-av-st ah, that was a critical missing piece of information.  Can you confirm on your client machine it works connecting to Exchange and running Get-Command from pwsh?

[2018-10-04 16:37] Artem-av-st commented on #7885
@SteveL-MSFT Apologize for this omission. This script works correctly on windows client machine and stops on EndInvoke method on Linux (Ubuntu) machine. I am trying to find a way to manage MS exchange using .net core application.

[2018-10-04 16:44] SteveL-MSFT commented on #1940
I don't believe this is an issue anymore for most contributors as long as one doesn't touch the native code for Windows.

[2018-10-04 16:44] #1940 closed

[2018-10-04 17:44] ciranor opened #7945 "Proxy not being used on Linux/Mac under 6.1.0"
With the release of 6.1.0, it appears to not always use a proxy on Linux or OSX, specifically when trying to run "Connect-AzureRmAccount". If I downgrade to 6.0.4 on Linux or OSX, it works. On Windows, the Connect-AzureRmAccount correctly uses the system defined proxy.

I'm assuming it's a PowerShell 6.1.0 issue and not a AzureRM.Netcore issue.

The version of AzureRM.Netcore is current (0.13.1)

[2018-10-04 18:08] #6799 closed

[2018-10-04 18:08] #7815 closed

[2018-10-04 20:31] SteveL-MSFT commented on #7796
CoreFx has merged the change, we'll pick it up in the future once it shows up in a .Net Core release

[2018-10-04 20:56] SteveL-MSFT commented on #2996
@iSazonov I'm not knowledgeable enough about that namespace to say whether that's the right direction.  It seems that if there's leftover data from the domain which is no longer relevant to the local system, it may be ok to add the synthetic account to inform user there are accounts that cannot be resolved.

[2018-10-04 21:15] jeffbi commented on #2996
Just FYI, I had been looking into using the Net* functions from the Windows API to implement this. Presumably that would remain Windows only, right?

[2018-10-04 21:32] SteveL-MSFT commented on #7713
@mklement0 the discussion within @PowerShell/powershell-committee is that PowerShell is not replicating the `sed` or `grep` experience so having a rich object makes sense.  `MatchInfo` provides metadata that may be useful more than just the string.  We agreed that there are cases where just the string is what is desired, but believe the currently mechanisms are sufficient.

[2018-10-04 21:34] SteveL-MSFT commented on #7885
@Artem-av-st I understand you are trying to do this from a custom .Net Core app, but I want to make sure there isn't a problem with the cmdets themselves that allow connecting to Exchange which I expected to be working (and works for me) before trying to investigate this at the C# level.

[2018-10-04 21:51] mklement0 commented on #7713
Thanks for the feedback, @SteveL-MSFT.

To be clear: the rich match information is a wonderful thing to have  _if needed_ - and often it is not.

Arguably, it should have been opt-in to begin with, with string output as default, but that ship has obviously sailed, hence the suggestion to reverse the logic and make string output opt-in.

Forcing the extra step of accessing the `.Line` property on e

[2018-10-04 22:00] SteveL-MSFT commented on #7713
@mklement0 perf wasn't something we discussed so I appreciate you taking the time to post the numbers.  Seeing the data, I would agree that for large files, there is a significant perf difference.

[2018-10-04 23:00] mklement0 commented on #7713
Thanks, @SteveL-MSFT. Performance was initially discussed, but only in the context of how expensive it is to construct the match-info objects around the matched strings (and the answer was: nothing to worry about) - it hadn't occurred to me until now that the performance penalty comes from the need to "unwrap" the match-info objects in order to get at the strings during later processing.

[2018-10-04 23:10] mklement0 commented on #7944
Somewhat related (in that not seeing the caller's variables is problematic with respect to preference variables): #4568

My first thought was that calling `$PSCmdlet.SessionState.InvokeCommand.ExpandString()` might work, but it doesn't (I don't know enough to tell you why).

[2018-10-04 23:56] SteveL-MSFT commented on #7557
@vexx32 @PowerShell/powershell-committee did not discuss underscore/bigint.  I'll remark this for review.

[2018-10-05 00:27] Niali commented on #5848
Please note, it's not just transcripts.  You can see the same split just in the output stream.

WARNING: Warning!
VERBOSE: Verbose!

Output!
__________________

So, note that my best efforts to force that output to the output stream yield only the job's ChildJob's Output collection.  (You **can** get the other strings from the PSDataCollections located in the child job's Verbose and Warning proper

[2018-10-05 01:16] p0W3RH311 opened #7947 "ValidateRange"
with ValidateRange. You can specify in a convenient new syntax that the value must be positive or negative.

[code]
but the result is wrong if one or more space is added between - and number

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-05 01:39] mklement0 commented on #7947
I don't see a difference in behavior between `[ValidateRange('Negative')]$i = -3` and `[ValidateRange('Negative')]$i = - 3` - and there shouldn't be: it's fine to have whitespace between the unary `-` operator and its operand, and both commands succeed, as expected.

Your "Expected behavior" code contains command `[ValidateRange('Negative')]$i = 3`, which fails, as expected (the number is positive

[2018-10-05 03:16] iSazonov commented on #7943
@SteveL-MSFT Thanks! I'll close the issue. If the problem only with 10.0.10240 we can reopen.

[2018-10-05 03:16] #7943 closed

[2018-10-05 03:39] iSazonov commented on #7945
@markekraus Could you please comment the Issue?

[2018-10-05 04:17] #7110 closed

[2018-10-05 04:31] #6005 closed

[2018-10-05 04:54] iSazonov commented on #7796
The fix is 3.0 milestone - we have to wait months.

[2018-10-05 06:07] Artem-av-st commented on #7885
I also have an issue when execute scripts from powershell.
Following script works fine on windows machine and the last command stucks on linux machine.
[code]
I hope it makes sense.

[2018-10-05 06:10] iSazonov commented on #7713
Perhaps it must be another solition https://github.com/PowerShell/PowerShell/issues/4767#issuecomment-329243332

[2018-10-05 06:59] Line40 commented on #7944
@mklement0 I saw that issue too, I guess it's related but I think there should be some general way to make the parent context available to a module function. So I thought it best to open a new issue, instead of somewhat hijacking that issue :)
Regarding the `$PSCmdlet.SessionState.InvokeCommand.ExpandString()`, I tried that too, during my research on the matter, among many other things. From what

[2018-10-05 10:33] abhi18av opened #7949 "APT unable to find powershell package on ubuntu 18.04"
Hi Team Powershell,

I have a cloud instance running Ubuntu1804 on ARMv7 CPUs.

Here's the output of my `lscpu` command

[code]

The problem I'm facing is that if though I've followed all the instructions for installing `powershell` via the Ubuntu ppa mentioned in the[ installation instruction page](https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?vie

[2018-10-05 11:02] markekraus commented on #7945
I'm not entirely sure, but this looks like a regression in corefx. dotnet/corefx#28088 changes the way the environment variables are handled. if I'm understanding this correctly, it looks like they will get incorrect URIs for HTTPS_PROXY. `GetUriFromString()` is striping the string of `http://` but not `https://` and then later they depend on `:` being at the end of the host.

[2018-10-05 11:55] markekraus commented on #7945
ok.. looks like it is a regression but not the one I thought.

[code]

Should be `True` but is `False`.

but, if you remove the trailing `/` from the proxy it works:

[code]

@ciranor as a work around, set your env vars without the trailing slash.

We will need to open an issue with corefx.

[2018-10-05 12:08] markekraus commented on #7945
Created dotnet/corefx#32635

[2018-10-05 12:42] ciranor commented on #7945
Yes, I can confirm that by removing the trailing slash, Invoke-WebRequest and Connect-AzureRMAccount both work under 6.1.0.

Cheers.

[2018-10-05 13:07] myfreess opened #7950 "Does powershell support Termux?"

[2018-10-05 14:15] mklement0 commented on #7944
Thanks, @Line40; good sleuthing, and I agree on all counts.

[2018-10-05 15:13] iSazonov commented on #7945
@markekraus Could you test with latest build? Currently we moved to .Net Core 2.1.5 and seems CoreFX fix should be there.
I can not run your repo script - `$class = $assembly.GetType('System.Net.Http.HttpEnvironmentProxy')` is empty.

[2018-10-05 16:54] SteveL-MSFT commented on #7885
This works fine for me on my Ubuntu 18.04 box:

[code]

Are you connecting to a Windows machine running Exchange Server?

[2018-10-05 16:56] rkeithhill commented on #7928
Don't have time to find the official C# 8 docs but this blog post docs the new "range" operator in C#.  Is there anything here that PS could borrow?  https://neelbhatt.com/2018/05/26/c-8-0-expected-features-part-iv-something-new-for-indexes-and-ranges/

[2018-10-05 16:57] Artem-av-st commented on #7885
Yes I am.

[2018-10-05 17:55] felixfbecker opened #7953 "PowerShell cannot find executable, but which and bash can"
Steps to reproduce
------------------

I have this `PATH`:
[code]
`/Users/felix/src/ps-nvm/vs/v10.10.0/bin` contains a `node` binary:
[code]

Running `which node` correctly returns:

[code]

And running `bash -c 'node'` also invokes node correctly.

I also checked that no other other directory in PATH contains a bad symlink named `node`.

Expected behavior
-----------------

Running `node` should

[2018-10-05 17:57] mklement0 commented on #7713
Thanks, @iSazonov, but it's obviously preferable to improve `Select-String` rather than relying on a third-party solutions such as [ripgrep](https://github.com/BurntSushi/ripgrep).

And I think that there's hope: The combination of alleviating the GC issues that @powercode mentions above, combined with outputting strings only, may make `Select-String` fast enough.

---

As an aside re @lzybkr's ot

[2018-10-05 18:08] mklement0 commented on #7953
This happens whenever the `PSDesiredStateConfiguration` module happens to be loaded, because its `Node` _function_ then takes precedence over the `node` _external utility_, based on the usual command-form-precedence rules.

(I'm not sure why and when, but in VSCode I have at times ended up with `PSDesiredStateConfiguration` imported, without my having done so explicitly.)

PowerShell still knows a

[2018-10-05 18:11] felixfbecker commented on #7953
How could it have happened that I loaded this module? This happens to me on a fresh terminal instance

[2018-10-05 18:14] mklement0 commented on #7953
The - obviously cumbersome - workaround:

[code]

POSIX-like shells have syntactic sugar (_quoting_ any part of the command name to request bypassing _aliases_) and built-in helper functions (`command`, which bypasses functions too) to deal with this scenario.

Perhaps we need something similar in PowerShell.

[2018-10-05 18:16] felixfbecker commented on #7953
`&(which node)` works fine too. But I don't want to use a workaround, what I really want to know is how DSC ends up in the session without me ever calling any command from it or importing it. I don't use DSC, but I use `node` all the time.

[2018-10-05 18:16] mklement0 commented on #7953
@felixfbecker: The likeliest explanation is that something in your `$PROFILE` caused the module to be loaded - it doesn't happen for me, on any platform.

Try `pwsh -noprofile -command "get-command node"` to see if it happens without your profile as well.

[2018-10-05 18:19] lzybkr commented on #7713
I just tried `ls` and `grep` on my default Ubuntu install (via WSL). I get colored output on the console, but no colors when redirecting to a file. In addition, `ls` prints 1 file per line when redirected to a file.

I'm sure they aren't removing escape sequences, but they aren't generating them in the first place.

But my point wasn't about specific implementation details - it was that smarts are

[2018-10-05 18:32] mklement0 commented on #7713
Understood re smarts, but the Unix smarts relate to the utility _producing_ the colored strings, not to stripping _on consumption_ with general-purpose filtering utilities such as `grep`.

That is, if you feed `grep` colored strings, it will happily and invariably pass the escape codes through.

A `Remove-AnsiEscapeSequences` cmdlet and/or a `-StripAnsiCodes` switch for `Select-String` would cover

[2018-10-05 18:41] mklement0 commented on #7713
To put it differently: In an ideal world where all output-producing utilities exhibit the smarts you mention and therefore suppress inclusion of escape sequences - except when outputting to the terminal - there'd be no need for `Remove-AnsiEscapeSequences` and/or `-StripAnsiCodes` - but in practice you do need to deal with these situations.

[2018-10-05 19:05] PetSerAl commented on #7944
[code]

[2018-10-05 19:55] mklement0 commented on #7944
Great stuff, @PetSerAl, thanks for sharing.

If I understand this correctly, the `[scriptblock]::Create()` call could be simplified to simply output a regular expandable string, as its expansion will be delayed anyway:

[code]

or, perhaps more typically, if embedded quoting isn't needed:

[code]

[2018-10-05 20:15] Jaykul opened #7954 "Join-Path should accept an array of -ChildPath"
When building long paths in a cross-platform way (and particularly if we're not sure of the provider), it would be very useful to be able to avoid chaining multiple calls to Join-path (which is currently a common practice).

I propose changing the -ChildPath parameter to accept a string array and be `ValueFromRemainingArguments`

And then iterate over the values and produce one long path.

[2018-10-05 21:04] SteveL-MSFT commented on #7950
Best that I can tell, Termux does two things:

1. terminal for Android - you should be able to use this to ssh to another machine and run PowerShell
2. Linux environment based on Debian/Ubuntu for Android - perhaps you can try the generic linux.tar.gz pkg we build and see if it works?

[2018-10-05 21:07] SteveL-MSFT commented on #7949
We currently only build arm32 packages for Raspbian and not Ubuntu so you won't find it published in the Microsoft repo (only for x64).

[2018-10-05 21:08] mklement0 commented on #7928
Thanks, @rkeithhill - I had no idea this was coming. It looks like _stepping_, as requested by this issue, is not part of what's coming to C# 8, so the discussion is more relevant to #7940 - I suggest we continue the discussion there.

[2018-10-05 21:12] suprak commented on #6954
This is also the case if the path has square brackets.

For example,
[code]

The workaround is to use `LiteralPath`.
[code]

[2018-10-05 21:28] mklement0 commented on #7940
@rkeithhill points out that the upcoming C# 8 will gain the features discussed here, as covered [here](https://neelbhatt.com/2018/05/26/c-8-0-expected-features-part-iv-something-new-for-indexes-and-ranges/) and [here](https://csharp.christiannagel.com/2018/07/24/indexesandranges/).

If I read the linked articles correctly (and keep in mind that things might change before release):

Some of what's

[2018-10-05 21:29] SteveL-MSFT commented on #7921
@jborean93 glad you were able to resolve this!  I would be interested in knowing once you have a working solution for Python for PSRP over SSH! :)

[2018-10-05 21:29] #7921 closed

[2018-10-05 21:34] jborean93 commented on #7921
@SteveL-MSFT no worries, will send through some details here once I have a proper solution. Right now it's just some mess put on top of my existing code and needs some cleanup before I'm ready to release it.

[2018-10-05 21:49] #7909 closed

[2018-10-05 21:49] #7916 closed

[2018-10-05 22:01] SteveL-MSFT commented on #7894
This is a known limitation of PSRP.  However, if you don't need to remote objects from A to B and just want an interactive remote shell that you can use PowerShell, you can always just use ssh and start pwsh on the remote side.

[2018-10-05 22:07] bergmeister opened #7955 "Daily builds not published any more in the last months to MyGet"
Steps to reproduce
------------------

Run the install-powershell.ps1 script [here](https://github.com/PowerShell/PowerShell/blob/master/tools/install-powershell.ps1) with the `-Daily` switch (`.\tools\install-powershell.ps1 -Daily`) or just `iex "& { $(irm 'https://aka.ms/install-pscore' ) } -Daily"` for the faint-hearted ;-)

Expected behavior
-----------------

Downloaded PowerShell version fro

[2018-10-05 22:09] copdips commented on #7894
Thx for the confirmation, ssh is indeed my current workaround.

[2018-10-05 22:16] wyzerd commented on #2867
Why has this been changed to default of -UseBasicParsing?
This is the cause of the issue. I was using the scripts property for gathering information from the marketplace.visualstudio.com and now that property is missing causing my automation script to fail. This really shouldn't be a RFC but a request to restore original functionality. All that needs to be done to fix this is remove that hidden fl

[2018-10-05 22:34] myfreess commented on #7950
@SteveL-MSFT  thanks！Is Powershell for linux a GUI program?

[2018-10-05 22:54] SteveL-MSFT commented on #7950
@myfreess no, PowerShell is a shell and thus works in the console

[2018-10-05 22:54] #7950 closed

[2018-10-05 22:57] SteveL-MSFT commented on #2867
@wyzerd Windows PowerShell relied on Internet Explorer to parse the html.  Since Internet Explorer wasn't available in most platforms we support with PowerShell Core 6 (nanoserver, Linux, macOS), it made sense to default to `-UseBasicParsing`.  @MSAdministrator's proposal for `ConvertFrom-Html` is a better solution rather than marrying the parsing capability to the web cmdlets (like parsing a loca

[2018-10-05 22:58] SteveL-MSFT commented on #7894
@copdips there have been discussions and even some experiments to enable console GUIs in PowerShell Core, however, it's not a focus at this time but would love to see it enabled in the future

[2018-10-05 22:58] #7894 closed

[2018-10-05 22:58] SteveL-MSFT commented on #7955
cc @adityapatwardhan

[2018-10-05 23:59] SRGOM commented on #2867
MS is trusted for a backwards compatibility. It's okay to miss features but please don't add or remove things silently. It breaks trust.

[2018-10-06 00:37] markekraus commented on #7945
@iSazonov `System.Net.Http.HttpEnvironmentProxy` is only available on Linux and macOS.

I was able to build the latest on ubuntu and confirmed it is fixed with the move to .NET Core 2.1.5

[2018-10-06 00:37] #7945 closed

[2018-10-06 00:49] vexx32 commented on #2867
It wasn't removed silently. There were several announcement blog posts, including at least two or three from the main man behind the change, and it was documented in the patch notes and I believe is also in the updated help documentation.

[2018-10-06 00:56] SRGOM commented on #2867
@vexx32- You know what I'm trying to say but yes silently wasn't the right word to use. Please don't change default behavior that already works.

[2018-10-06 01:01] vexx32 commented on #2867
There wasn't really much of a choice given they wanted to support multiple platforms, really. It's unfortunate, but as Steve mentions it's probably best to look at alternate solutions than to keep it tied down to a past solution that would inevitably break.

MS as a whole is moving away from IE to Edge, so I'm sure that having IE as a dependency isn't desirable, regardless of how much it might be

[2018-10-06 01:45] thezim commented on #7954
Isn’t that what AdditionalChildPath is for?

[2018-10-06 02:00] wyzerd commented on #2867
@SteveL-MSFT,
Thanks for the explanation. It never occurred to me that IE would have been the used as part of the library. In consideration of the evolution of Powershell, I suppose it made sense in 3.0 when it was generated specifically for Windows. I still think ConvertFrom-Html is sort of a hack (no offense intended). For maximum compatibility, it would be better to have rewrite the library to

[2018-10-06 02:18] swngdnz commented on #4216
$env:tmp or $env:temp is the predominate use-case today.

promoting this to other platforms is trivial. whether you consider it interop or legacy is irrelevant. it supports the predominance of all existing scripts.

[2018-10-06 03:36] abhi18av commented on #7949
Thanks for the info Steve :)

Then in this case the only way forward is to manually install and use the
generic arm32 binary?

On Sat, 6 Oct 2018, 02:38 Steve Lee, <notifications@github.com> wrote:

[2018-10-06 03:46] Jaykul commented on #4394
I really don't like the idea of creating namespaces for this stuff. Please don't do that.

1. There are a lot of automatic variables already
2. There are a lot of preference variables already
3. PowerShell has already reserved for itself "variables starting with PS"
4. Modules can add variables which **they** consider "preference" variables (e.g. `$PSEmailServer` _ought_ to be a preference variabl

[2018-10-06 04:14] Jaykul commented on #4216
# Short answer: `[IO.Path]::GetTempPath()` is the ONLY answer.

The idea that we need to protect people from learning about .NET is, frankly, silly. That static method is backwards compatible all the way to Windows PowerShell 1.0 and no matter how many improvements we add in the future, it's still the _one_ and _only_ **correct** answer to the original question **today** (over a year after it was

[2018-10-06 05:02] SteveL-MSFT commented on #7949
@abhi18av if you can help validate the existing linux-arm32 pkg works, we can consider publishing it to packages.microsoft.com

[2018-10-06 06:00] LawrenceHwang commented on #4216
While I like the simplicity and consistency (a lot) with `[IO.Path]::GetTempPath()`, it is imperative to enable a **PowerShell-Style** option for PowerShell users. For this case, I dig creating a `Temp:` drive with potentially related command.

As a PowerShell user, I have always appreciated in PowerShell being a closer to meaningful and plain English. By **NOT** providing that option and implying

[2018-10-06 08:38] abhi18av commented on #7949
Yup, it works.

However the response time is a bit slow but works just fine :)

On Sat, 6 Oct 2018, 10:32 Steve Lee, <notifications@github.com> wrote:

[2018-10-06 08:57] copdips commented on #7581
Got response from #7894

[2018-10-06 08:57] #7581 closed

[2018-10-06 10:14] kvprasoon commented on #7954
Yes, it accepts value from remaining argument too... 🤔
@Jaykul ?

[2018-10-06 11:14] bergmeister opened #7956 "Question: .Net Core Roadmap: 2.2 vs 3.0"
The current roadmap [here](https://github.com/dotnet/core/blob/master/roadmap.md) states that .Net Core 2.2 should go RTM in Q4 2018 but .Net Core 3.0 only in Q1 2019.
There are already official previews of 2.2 available [here](https://www.microsoft.com/net/download/dotnet-core/2.2) but 3.0 offers only daily bleeding edge builds.

What are the plans on using a newer version of .Net Core and which

[2018-10-06 14:43] SteveL-MSFT commented on #7956
@iSazonov is correct that we can't ship a 6.2 on an unsupported 3.0 release.  Based on .NET Core's current roadmap, 6.2 will likely be based on 2.2 and 6.3 would be on 3.0.

[2018-10-06 14:43] #7956 closed

[2018-10-06 14:46] SteveL-MSFT commented on #7949
@abhi18av it's a bit slower on startup since crossgen isn't supported on arm32, but it's good to know it works.  Will have to see if the tooling we're using allows creating a .deb for arm32 before we can publish it on packages.microsoft.com.

cc @TravisEz13

[2018-10-06 15:10] abhi18av commented on #7949
That sounds great @SteveL-MSFT 👍

Please feel free to close this issue as, for me, it has been answered sufficiently well.

Also, for testing on the arm32 infrastructure and ubuntu, I do recommend for you to use
https://www.scaleway.com/pricing/#anchor_baremetal the C1 bare metal instance  :)

[2018-10-06 15:13] swngdnz commented on #4216
Requiring an admin-scripter to use [IO.Path]::GetTempPath() is obscene. It's not discoverable, it's not obvious, and it's not powershell.

I personally believe that promoting $env:tmp is the right answer, but someone could argue it's also not powershell. After some personal consideration, I think a new cmdlet Get-TemporaryDirectory (or a similar name) is the proper answer.

I don't understand "New

[2018-10-06 15:57] iSazonov commented on #7713
I wonder that we switched to discuss stripping escapes here but I should say I'd expect that it is formatting system area to do coloring. I think Unix utilities get the parameter (`--color`) because there are no objects there and user have to set the parameter explicitly in a last command of the pipe. (I found examples of coloring applications that parse the output of other apps/ bash commands and

[2018-10-06 16:18] iSazonov commented on #4216
Another look to be completely PowerShell native. Can we avoid the explicit use of temporary directories?
[code]

[2018-10-06 17:07] markekraus commented on #2867
@wyzerd

This is an Open Source project. So if you feel this is a low level of effort, you are free to create a pull request to do so. 😃

[2018-10-06 17:35] DarwinJS commented on #4216
I feel it should simply abstract away the existing platform with the longest standing powershell platform's references being preferred so that the long standing code can be more easily reused.

Like this:

[code]

[2018-10-06 17:46] #7949 closed

[2018-10-06 18:59] rkeithhill commented on #7954
Yeah, I thought @dlwyatt already implemented this.

[2018-10-06 19:34] SeeminglyScience commented on #7953
In VSCode, intellisense will import modules that are not already loaded for syntax/parameters/argument completers.

May not be related to the original issue, just wanted to clear that up.

[2018-10-06 20:48] wyzerd commented on #2867
@markekraus
To be fair, I didn't say low level. However, writing ConvertFrom-HTML is likely to be more complex than an override of the single element of the HtmlWebResponseObject. Saddest part about it is I don't even care about that single mshtml element. What I want is the scripts element that is completely compatible, but removed because of the implementation.

It is a good suggestion though an

[2018-10-06 22:36] felixfbecker commented on #7851
`less` in PowerShell does not create backpressure like `Out-Host -Paging`. Imagine you have a cmdlet that reads and outputs huge amount of data. Piping it into `Out-Host -Paging` will make sure the cmdlet will only read as much data as is actually visible on the page, and create backpressure until the user scrolls down. Also, when quitting, the cmdlet's execution will be aborted. This is extremely

[2018-10-06 23:54] SteveL-MSFT commented on #5340
How about a `-Separator` parameter to `Join-Path` that defaults to `Directory`, but an enum that also has `Path` that maps to `[IO.Path]::PathSeparator`?

[code]

[2018-10-07 01:55] mklement0 commented on #7953
I appreciate the clarification, @SeeminglyScience.

[2018-10-07 02:18] HumanEquivalentUnit opened #7958 "Ideas for a clean, direct regex mirror of -replace, to "keep the match"?"
An example regex thing I do is to extract the number out of this string: `"blah blah blah 456 blah blah"`.

The available options are all full of syntax, noise, and multiple steps:

1. `if ($text -match '(\d+)') { $matches[1] }`
1. `$text | select-string '\d+' | % matches | % value`
1. `[regex]::matches($text, '\d+').Value`
1. `$text -replace '.*?(\d+).*', '$1'`

But if I wanted to /drop/ the numb

[2018-10-07 02:37] #7958 closed

[2018-10-07 02:38] HumanEquivalentUnit commented on #7958
I wrote this independently before I saw issue #7867. That is still about outputting a chunk of metadata, which is not what I want, but there is talk in the comments of string output, I will chase this up there instead.

[2018-10-07 04:50] Jaykul commented on #7954
😊

[2018-10-07 04:50] #7954 closed

[2018-10-07 05:28] p0W3RH311 opened #7959 "its possible to add new commands to debugger ?"
where/up/down and jump commands ?
Steps to reproduce
------------------
for example here 4 functions in separates files:

[code]
to navigate not by line but by frame (function/script)

add new commands where/up/down

[code]

  and add jump command to jump over loop for example:

[code]

thanks

[2018-10-07 05:49] stknohg commented on #7919
@SteveL-MSFT
Thank you for clarifying. I understood.
I will close this Issue after the document is updated.

----

Good idea.
However, I think we should discuss how to try and fallback when newer versions (e.g. PowerShell Core 7.0) come out.
We can discuss after it becomes necessary.

[2018-10-07 10:46] kvprasoon opened #7962 "Add a new parameter -Depth to Split-Path command"
It would be nice if we have a `-Depth` parameter for `Split-Path` cmdlet.

Use case
------------------

[code]

Current behavior
-----------------

[code]

Proposing behavior
---------------

[code]

[2018-10-07 10:52] thezim commented on #7954
For what it is worth the [documentation](
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/join-path?view=powershell-6) is broken, the parameter is not in the syntax section currently. Odd as I added it some time [ago](
https://github.com/PowerShell/PowerShell-Docs/pull/1740).

[2018-10-07 11:14] kvprasoon commented on #7954
It got reverted by https://github.com/PowerShell/PowerShell-Docs/pull/2623

[2018-10-07 13:32] p0W3RH311 commented on #7962
# you can implement this behaviour with proxy function with this pseudo-code below

[code]

[2018-10-07 13:57] kvprasoon commented on #7962
This is how it has to be implemented at https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/namespaces/NavigationProviderBase.cs#L487

[2018-10-07 17:15] lzybkr commented on #7959
In theory, you can use the method `GetFrameVariables` on the objects returned from `Get-PSCallStack` to implement your hypothetical `up` - but it would probably require some creativity to get it working exactly like your proposal.

With some additional creativity, you could create some new debugger commands like `jump` without changing the PowerShell debugger.

These are the currently available co

[2018-10-07 18:58] vexx32 commented on #7557
Thanks Steve!

@HumanEquivalentUnit and I have discovered a new `BigInteger` constructor introduced in .NET Core 2.0 and have been toying with parsing binary using it:
[code]
Benchmarks of a bunch of different methods are looking very good indeed. Some of the slower possible methods we've come up with (he's been doing a lot of the tinkering here) are still about twice as fast as `Convert.ToIntX()`

[2018-10-07 20:34] larssb opened #7965 "Follow-up to #7852 - Test-Json command. Issue with building."
I followed the good advice in #7852. However I'm having some issues building. I think especially you @iSazonov would be of great help. If you would be so kind.

I have a setup for my HealOps module according to the fine guide by @KevinMarquette. [Here it is](https://kevinmarquette.github.io/2018-08-04-Powershell-Standard-Library-Binary-Module/?utm_source=twitter&utm_medium=post#hybrid-modules). Ho

[2018-10-07 21:15] vexx32 commented on #7965
If you import the build module locally from `.\build.psm1` in the repository root, you can run the `Start-PSBuild -ResGen` command to build PS while generating the .cs files from the .resx files.

Once the command generates the files, you'll find the file you need to pull from at `.\src\Microsoft.PowerShell.Commands.Utility\gen\TestJsonCmdletStrings.cs`

You may need to modify namespaces and suchl

[2018-10-07 21:50] DanielSSilva commented on #3553
This is happening to me (also from Windows to Linux), but only on the PowerShell Integrated Terminal, when trying to access to my raspberry (I'll assume it also happens to any other Linux OS). If I do the same through pwsh, it connects successfully.
![image](https://user-images.githubusercontent.com/6862119/46587357-44499680-ca83-11e8-83ed-47d01cb5946e.png)

[2018-10-08 02:07] mklement0 commented on #5340
I don't think this functionality should be tacked onto `Join-Path`, which is about _composing a (set of) path(s)_ - something quite distinct from _managing the entries of a variable containing a list of paths_.

As @Jaykul  and @vexx32 suggest, having a dedicated cmdlet to manage such variables makes sense, and if that cmdlet covers all desired modification scenarios to such a variable, the need t

[2018-10-08 02:38] PixleProgrambetaxl commented on #7896
+1

[2018-10-08 03:42] iSazonov commented on #7965
Currently .Net Core doesn't support strong typed resources so we have ResGen in PowerShell Core repo. You have options: (1) re-use our ResGen, (2) Only grab generated file, (3) Use non-strong typed resources.

[2018-10-08 03:46] lzybkr opened #7967 "Symbolic link creation always requires elevation on Windows"
Creating a symbolic link does not require elevation on Windows 10 if developer mode is enabled, but only if the link is created with SYMBOLIC_LINK_FLAG_ALLOW_UNPRIVILEGED_CREATE (see the [docs](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-createsymboliclinka)). PowerShell appears to not pass this flag.

Steps to reproduce
------------------
In an unelevated session:
[cod

[2018-10-08 04:54] mklement0 commented on #7713
Thanks for being willing to tackle performance improvements, @iSazonov

As for stripping escape codes:

Sorry - that was a tangent that I started, based on what I now presume to be at least a partial misunderstanding of the comment by @lzybkr that you linked to.

Let me try to close the tangent:

No, coloring is more typically applied via aliases (e.g., `alias ls='ls --color=auto` on Linux) or env

[2018-10-08 06:00] rkeithhill commented on #5340
Um, like this?  https://github.com/PowerShell/PowerShell-RFC/pull/92

[2018-10-08 07:34] larssb commented on #7965
Thank you so much for the info and help to the both of you (@vexx32 and @iSazonov). I will try your suggestions. Thank you.

[2018-10-08 12:05] bzuu opened #7969 "-Exclude parameter in Get-ChildItem forces inclusion of symbolic link items"
Adding the `-Exclude` parameter to `Get-ChildItem` seems to implicitly set the `-FollowSymlink` flag. So it is possible that a call *with* `-Exclude` returns more items than when the items are not excluded, which is incredibly confusing.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
-----------

[2018-10-08 15:36] megamorf commented on #7827
I'm affected by this as well.

## Setup

[code]

Installed as snap:

[code]

## Troubleshooting

The Gallery is not available and cannot be registered:

[code]

I tried the PowerShellGet version that ships with PS as well as the latest stable release from Github:

[code]

Apparently something is wrong with the certificate store/trust. Querying the v2 endpoint of the Gallery by IP works:

[code]

B

[2018-10-08 15:50] reyou opened #7970 "Powershell ISE freezes while killing process"
Similar issue opened on SO at https://stackoverflow.com/questions/18261124/powershell-ise-freezes-while-killing-process

Steps to reproduce
------------------
Maybe following works on your machine, but for my case it hangs, for this command, and some other commands as well.
`Invoke-WebRequest 'https://notavalidwebsite.com' -UseBasicParsing`

Expected behavior
-----------------
If I stop or CTRL +

[2018-10-08 16:44] edyoung opened #7971 "Enable pwsh ReadLine to use PSReadLine"
In pwsh on linux, hold down a key, and observe the rate at which characters are added. Then run Read-Host and observe the rate at which characters are added - it is much slower. In both cases I'm just holding down the f key. This is even slower in Cloud Shell, but the issue is reproducible in a regular terminal on ubuntu. The characters are also buffered differently - if you hold down a key and th

[2018-10-08 16:48] dend commented on #7971
This is affecting the customers' experience with the Cloud Shell on docs.microsoft.com, especially in cases where we work with them to provision Azure resources and they need to specify information such as VM names, passwords or resource group.

[2018-10-08 17:01] SteveL-MSFT commented on #7919
Closing this issue as the doc change got merged.  Please open a new issue if we want to consider trying different sessionconfigurations for VMs.

[2018-10-08 17:01] #7919 closed

[2018-10-08 17:08] SteveL-MSFT commented on #3553
@tylerl0706 is this something you can try to repro?

[2018-10-08 17:12] DanielSSilva commented on #3553
@SteveL-MSFT it got solved really fast. @tylerl0706 asked me to try with this CI build https://ci.appveyor.com/project/PowerShell/vscode-powershell/build/artifacts
And it worked!

[2018-10-08 17:18] SteveL-MSFT commented on #7885
@Artem-av-st I need to prepare for PSConfAsia so I won't be able to investigate this until after that

[2018-10-08 19:13] larssb commented on #7965
I got it working by using your guide @vexx32. Thank you so much. Thanks also goes out to you @iSazonov. I ended up doing "Option 2".

For "Option 1". How would I actually use "your" ResGen? To be honest I'm not a .NET framework wiz. So I don't quite get all the semantics here.

Thank you.

[2018-10-08 19:37] JoeSalmeri opened #7973 "*.Format.ps1xml files are missing (example: FileSystem.Format.ps1xml)"
Steps to reproduce
------------------

help about_format.ps1xml says that the *.format.ps1xml files are located in the $PSHOME directory but the format files are missing from that directory (and do not exist in the entire directory tree)

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-08 19:41] TravisEz13 opened #7974 "Automate ARM architecture CI"
Consider https://www.scaleway.com/pricing/#anchor_baremetal . see #7949

[2018-10-08 20:01] mklement0 opened #7975 "Introduce a cmdlet for manipulation of list strings"
Note:
* Should this suggestion gain traction, an RFC is presumably needed.
* By _list string_ I mean a single string composed of items (tokens) separated by a separator, such as you would find in ` $env:PATH`, which contains a list of directories.
* This suggestion is in part motivated by wanting a platform-independent mechanism for manipulating environment variables such as `$env:PATH` safely and

[2018-10-08 20:25] mklement0 commented on #5340
Thanks, @rkeithhill - I'd lost track of that RFC early on; good to see all the discussion there.

Just briefly (I'll take the discussion over to the RFC):

* I now think that a single, generic list-string manipulation is called for that doesn't itself set environment variables, but allows manipulation of their _values_, if they're list-based, with an `-AsDirList` switch to use the platform-abstrac

[2018-10-08 23:18] jianyunt commented on #7971
I think I discussed it with @BrucePay before. We also observed the issue.

These interactive cmdlets including read-host, get-credential are handled by pwsh, yes?
I noticed that if you remove-module psreadline, regular stdout becomes lagging. The behavior is much like read-host and get-cred. Does this mean the lagging could be caused by powershell engine? Of course pwsh depends PSReadline which sh

[2018-10-08 23:44] HumanEquivalentUnit commented on #7975
You've given it a general name, but the behaviour seems very specific to "`$PATH` variable". Are there any other use cases anyone can come up with (not counting CLASSPATH, but outside the world of environment variables for lists of paths)?

You call it `Update-ListString`, but none of Arrays, ArrayLists or Generic.Lists have operations exactly comparable to these; no InsertBefore or InsertAfter, n

[2018-10-09 01:00] rkeithhill commented on #7975
I think the 90%+ use case is to manage environment variables.  Plus there is already a separate need to surface the `[System.Environment]::Get/SetEnvironmentVariable` methods as cmdlets.  I think it makes a lot of sense to create `PathVariable` management commands as part of that effort as described in https://github.com/PowerShell/PowerShell-RFC/pull/92

[2018-10-09 01:05] SteveL-MSFT commented on #7971
The issue here is that PowerShell Core ConsoleHost has a very simple synchronous readline implementation.  When you use `Read-Host`, it calls back into the host's `ReadLine()` implementation which is not designed to be performant.  PSReadLine on the other hand is what you use in the console when not using `Read-Host`.  PSReadLine buffers the input asynchronously and renders them on a different thr

[2018-10-09 01:06] SteveL-MSFT commented on #7973
Do you have a need for the ps1xml files?  In PowerShell Core 6, the built in formatting are in c# and not in actual ps1xml files.  If the concern is the docs are incorrect, we can fix that.

[2018-10-09 01:14] SteveL-MSFT commented on #7965
@larssb as noted by @vexx32 if you use the `build.psm1` module in this repo with the `-resgen` switch, it will generate the strongly typed resources for you.  Since resgen isn't supported by `dotnetcli` today, we have our own implementation [here](https://github.com/PowerShell/PowerShell/tree/master/src/ResGen)

[2018-10-09 01:14] #7965 closed

[2018-10-09 01:29] SteveL-MSFT commented on #7827
These are PowerShellGet issues.  You may find support in the https://github.com/powershell/powershellget repo where that team hangs out.

[2018-10-09 01:30] SteveL-MSFT commented on #7970
Sorry but we don't handle ISE issues in this repo.  In general, we're not making any changes in ISE and recommend using VSCode w/ PowerShell instead.

[2018-10-09 01:30] #7970 closed

[2018-10-09 01:37] mklement0 commented on #7975
Yes, managing `$env:PATH`-like variables was definitely the motivation for this proposal.

I can currently think of only `$env:PATH`, `$env:CLASSPATH` and `$env:PATHEXT` (Windows only), and for the latter use of a cmdlet is probably overkill.

I was hoping it would generalize to other use cases where a list of items must be kept _inside a string_, but perhaps that's too rare a use case to worry ab

[2018-10-09 01:37] #7975 closed

[2018-10-09 02:45] reyou commented on #7970
Thanks for letting me know.

[2018-10-09 03:08] vexx32 commented on #7971
In the efforts of a (hopefully) simple fix, is it possible for PSReadLine to override the Read-Host with a function/cmdlet/alias that works in a similar fashion to how it handles standard input?

[2018-10-09 03:44] iSazonov commented on #7971
I started some ConHost optimizations, but my PR for ConHost has been awaiting a review for _several months_. I could continue these optimizations, but reviews is required.

[2018-10-09 04:17] edyoung commented on #7827
Happy to try and help, wherever the issue goes ;-)

I do think this seems more like an environmental issue than something specifically in PowerShellGet. The cert issue above seems similar to https://github.com/PowerShell/PowerShell-Docker/issues/46 but may not be the same problem @iyoumans is hitting earlier in the thread. @megamorf, you could try running curl as suggested in that issue - if that

[2018-10-09 05:48] mklement0 commented on #4216
Just to summarize the discussion so far:

We're talking about two _complementary_ use cases here, although one is far more important:

* (a) _Most importantly_ - but note that this is _not_ what this issue was originally about - we need the ability to _directly create_ temporary files and directories with paths that are guaranteed to be unique - without having to worry about the specifics - if a c

[2018-10-09 08:34] lispmarc opened #7976 "Pushing a configuration on linux using DSC does not work"
Hi
	I have a problem of getting DSC to work on Linux.
My configuration is the following
	Linux : OpenSuse Leap 42.3
	OpenSSL version : OpenSSL 1.0.2j-fips  26 Sep 2016
	OMI version installed : omi-1.4.2-5.ssl_100.ulinux.x64.rpm
	DSC version installed : dsc-1.1.1-294.ssl_100.x64.rpm

The configuration that I want to push is

Configuration SuseConfiguration {
    param ([string]$node)
    Import-Dsc

[2018-10-09 08:46] be5invis opened #7977 "Correct path casing when performing `cd`"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

[2018-10-09 12:48] Jaykul commented on #4394
@mklement0 your response to 3 is a terrible point: Separate things are conceptually cleaner, but even the ones we have don't get used/followed ...

Would your new ... thing ... be scoped? All of those preference variables are currently _scoped_, and if you copy them out of the variable drive, the new thing still needs to have variable scope, which would mean your proposed `$ps:EmailServer` would b

[2018-10-09 13:04] pulkjr opened #7979 "Import-PowerShellDataFile Errors on files over 3230 lines"
Steps to reproduce
------------------

1. Create a .psd1 file with 3231 lines in it.
2. Attempt to import with Import-PowerShellDataFile. It should fail stating that there is a dynamic ScriptBlock.
3. Delete one line from the file. It should import successfully.

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------
Attempted from m

[2018-10-09 13:16] iSazonov commented on #7977
Related #1273. Maybe dup?

[2018-10-09 14:04] vexx32 commented on #4394
Maybe something simpler is in order?

`$_` is a *well-known* automatic variable. Perhaps it's worth setting a convention that automatic variable names should all start with `$_` (so we'd end up with things like `$_ErrorActionPreference`, for example.

Regarding issues with changed names, perhaps it would be wise to simply have the existing automatic variable names point to the new ones by referenc

[2018-10-09 14:19] Santhoshsekar89 commented on #7836
Hi Steve,

Im using the function invoke-restmethod API  like below,

$TabResponse = Invoke-RestMethod -Uri $TabUri/sites/$global:TabSiteID/groups -Headers $global:TabHeaders -Method POST -Body $TabGroupXML

[2018-10-09 14:28] RichardSiddaway commented on #4394
I don't see the benefit of $_xxx.  if you keep the old variable around to avoid breaking tons of code you'll increase the confusion level.

[2018-10-09 14:34] vexx32 commented on #4394
Agreed. But I think that although I would _like_ to just change the names, somehow I doubt that that is a solution that can be accepted at this point in time.

[2018-10-09 14:58] Santhoshsekar89 commented on #7836
Please find the details requested,

Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion                   6.3.9600.18968
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0}
PSRemotingProtocolVersion      2.2

[2018-10-09 15:34] mklement0 commented on #5187
As for the symlink issue (the PowerShell executable in disguise): resolving symlinks to their ultimate target to check the latter's name sounds like a simple solution.

I agree that _not_ employing heuristics is best - both in this case and #1761 - because in the long run users are better served by simply having to remember - and being able to rely on - _one_ simple rule:

_PowerShell's own syntax

[2018-10-09 16:17] dpurge commented on #2074
Same problem here in DSC resource (classes are recomended way to implement them, I heard)

I have tried to "Add-Type -AssemblyName System.IO.Compression.FileSystem" before class definition and inside class method and also "using namespace System.IO.Compression" before defining the class, but none of these worked.

A workaround was to dot-source an external script file in class method where Add-Typ

[2018-10-09 17:38] mklement0 commented on #7977
@iSazonov: I think the real duplicate is #5678.

More specific discussion of causes and solutions starts at https://github.com/PowerShell/PowerShell/issues/5678#issuecomment-418159153

[2018-10-09 18:00] SteveL-MSFT commented on #7836
@Santhoshsekar89 can you try with PowerShell Core 6.1?  We don't provide support for Windows PowerShell here let alone v4.

[2018-10-09 18:29] adityapatwardhan commented on #7955
I will have a look at this.

[2018-10-09 18:51] JoeSalmeri commented on #7973
Hi Steve,

Since the ps1xml files were first released I have modified them to make a some changes.

With each new PS version I have incorporated my changes into the new files in case anything else
changed.

My concern is that the built-in formatting would either add additional changes or possible include
some of my changes.   That's why I merge them into the files each time.

Here is a summary of

[2018-10-09 18:58] vexx32 commented on #7973
@SteveL-MSFT I would think that at the very least there should be *one* example / template file, both as a .ps1xml and a .cs file; a good example often speaks much more clearly than several pages of detailed specification. 😕

[2018-10-09 19:52] mklement0 commented on #4394
@Jaykul:

Yes, so as to resolve the existing inconsistencies, once and for all.
In a separate namespace, there is no need for a prefix, so that `$PSSessionConfigurationName` could become `$ps:SessionConfigurationName` for instance (I'm leaving aside the question of whether preference vs. automatic variables should occupy distinct namespaces).

The payoff:

* First and foremost: _No more name colli

[2018-10-09 20:09] vexx32 commented on #4394
@mklement0 RE: `$ProgressPreference` -- it has been my experience that setting $ProgressPreference is *only* reliable in the current scope. I'm not sure if other cmdlets simply routinely modify it themselves for some reason, or if there are issues in the underlying code that handles the variable.

This, combined with the very... clunky... nature of `Write-Progress` for many purposes which we would

[2018-10-09 20:28] SteveL-MSFT commented on #7973
@JoeSalmeri perhaps you can open a new issue with your specific changes you think should be applied and we can see about making those changes in the product

@vexx32 long term, I'd like to get away from xml for types and formatting, but that feels a long ways away given everything else we want/need to do.  We still have some example [ps1xml](https://github.com/PowerShell/PowerShell/search?q=extens

[2018-10-09 20:34] vexx32 commented on #7973
@SteveL-MSFT I really can't agree more. I'd love to see `Update-FormatData` accept direct object input and for the relevant necessary type configuration objects be able to be created in PowerShell directly or created with some kind of hashtable syntax.

[2018-10-09 20:47] SteveL-MSFT commented on #4394
@vexx32 seems like you should open a separate issue on `Write-Progress` and suggestions on how to make it more usable

[2018-10-09 20:48] SteveL-MSFT commented on #7977
Yes, this is dupe of #5678

[2018-10-09 20:48] #7977 closed

[2018-10-09 21:07] SteveL-MSFT commented on #7979
@pulkjr is this a real scenario or a test scenario?  Trying to understand how important this is.

[2018-10-09 21:40] SteveL-MSFT commented on #7976
@kwirkykat can you help or add someone who can?

[2018-10-09 22:11] SteveL-MSFT commented on #7896
We should fix the crash and return a better error message.  I believe NTLM and Kerberos is not supported on macOS due to unavailability of required libraries.  The doc should be updated.

[2018-10-09 23:31] TravisEz13 opened #7981 "Discussion: Microsoft Security Advisory CVE-2018-8292 - .NET Core Information Disclosure Vulnerability"
# Microsoft Security Advisory CVE-2018-8292

##  .NET Core Information Disclosure Vulnerability

### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core and PowerShell Core `6.0`. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a se

[2018-10-10 02:15] mklement0 commented on #3176
The `.psbase` workaround is handy - thanks, @SteveL-MSFT.

For a related discussion with more background information, see #7758

[2018-10-10 02:42] #7758 closed

[2018-10-10 03:01] mklement0 opened #7982 "Unexpected member-enumeration behavior with a hashtable's enumerator"
Steps to reproduce
------------------

[code]

Note that `.Name` is an ETS alias property for the native `.Key` property of the dictionary entries enumerated.

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

That is, accessing the native `.Key` property via member enumeration yielded nothing.

Environment data
----------------

[code]

[2018-10-10 03:14] PetSerAl commented on #7982
Note that `System.Collections.Hashtable+HashtableEnumerator` actually have `Key` property but not `Name` property. `Name` is `AliasProperty` for `System.Collections.DictionaryEntry` but not for enumerator itself.

[2018-10-10 03:48] vexx32 opened #7983 "Write-Progress and $ProgressPreference"
`Write-Progress` has long been perhaps the most neglected of the standard `Write-*` cmdlets. The problems with it are both in terms of its *user-facing* and in terms of its *behind-the-scenes* implementation, and I'll attempt to break them up as such.

Behind-the-Scenes Problems
---------------------------

* There is no `Progress` stream. This makes it the *only* default `Write-*` cmdlet without

[2018-10-10 05:04] mklement0 commented on #4394
@Jaykul

They will continue to be there for backward compatibility.
They will be documented as deprecated (without fear of removal), and users will be encouraged to use the new namespace(s) going forward.
PSSA will provide guidance, as suggested.

Something like `Get-Variable ps:*` or `Get-Variable -Namespace ps` seems pretty discoverable to me.

Tagging variables is fine, but it does not address

[2018-10-10 05:47] rjmholt commented on #7789
This and a few other ideal features (like for `Add-Type`, `Import-Module` and `Get-Command`) would probably benefit from some kind of constant-folding analysis. Which starts to blur the lines on what PowerShell ought to be doing, because it's not really responsible for that kind of optimisation. But just thought I'd mention it, since I keep seeing similar scenarios for it.

[2018-10-10 07:41] MartinSGill commented on #7827
I'm seeing the same behaviour from update-module after I upgraded to 6.1. What's strange is that install-module and uninstall-module actually work.

I can therefore update my modules the long-way around.

[2018-10-10 10:54] webash commented on #7130
This didn't used to be an issue; why has it been introduced as one? How did this regression pass testing? Surely nobody releases shift to type a space when they've just (and will again) use it!

[2018-10-10 14:50] felixfbecker commented on #7749
I made a PR to the VS Code docs on how to set this up: https://github.com/Microsoft/vscode-docs/pull/1965

[2018-10-10 15:16] Justiii3 opened #7984 "AddScript Method does not work when hosting PS core remoting script in dot net core console application."
Hello,
I've been experiencing some issues with the AddScript method when hosting PowerShell core in dotnet core console application.
The issue is that the method does not execute when running the application when there is PowerShell core remoting script. I've tested different ways to import the script inside the console app and every time I get the same issue, which is AddScript method doesn't do

[2018-10-10 15:55] lzybkr commented on #7130
This is fixed in [2.0.0-beta3](https://www.powershellgallery.com/packages/PSReadLine/2.0.0-beta3).

@webash - if you're interested in improving the [existing regression tests](https://github.com/lzybkr/PSReadLine/tree/master/test) (which do have excellent branch coverage already, but can't really be exhaustive), feel free to contribute.

[2018-10-10 15:55] #7130 closed

[2018-10-10 16:51] xcorail opened #7985 "Zip slip vulnerability"
Hi there

[LGTM](https://lgtm.com) discovered a potential occurrence of the Zip Slip vulnerability. The alert is available [here](https://lgtm.com/projects/g/PowerShell/PowerShell/snapshot/af8e6c33674909b8f87fee88783d99dd0739946e/files/src/System.Management.Automation/help/UpdatableHelpSystem.cs?sort=name&dir=ASC&mode=heatmap&showExcluded=true#V1261)

For more details about this vulnerability : ht

[2018-10-10 16:57] SteveL-MSFT commented on #7983
@vexx32 thanks for taking the time to write this up.  I agree with what you are saying.  My only concern is this is not a small work item.

[2018-10-10 17:17] vexx32 commented on #7983
Well, no, of course not. 😄

It would be unrealistic to expect it all fixed at once, but I think it's well past the time where the framework for this should be in place.

It may be worth reaching out to the author of the aforementioned module and asking if they are interested in potentially translating portions of their module to be incorporated into the native Write-Progress cmdlet.

I think the m

[2018-10-10 17:37] mklement0 commented on #7983
NIcely structured write-up, @vexx32

Supporting `-ProgressAction` as a _common parameter_ readily makes sense to me, not least because advanced functions inside modules do not see the caller's _preference variables_ - see #4568.

Knowing little about the current `Write-Progress` and how it could be improved, what is the benefit of creating a progress _stream_, given the _ephemeral_ nature of progr

[2018-10-10 17:56] SteveL-MSFT commented on #7749
@felixfbecker unfortunately, the best I can tell, the .NET XmlDocument type only supports XML 1.0.  I'll have a PR to allow attributes on the `<Configuration>` node, however.

[2018-10-10 18:10] vexx32 commented on #7983
My thought is essentially that having it mimic the current stream natures is a good parallel and provides more flexibility. For example, currently only *one* command can really display progress at a time. Providing the capability for more commands to display progress (potentially as sub-progress-bars?) at the same time permits a more verbose display if needed without excessively heavy amounts of `

[2018-10-10 19:29] LeeHolmes opened #7986 "Removal of "Encoding Byte" is a breaking change"
The PS Core breaking change guidance is here: https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md

Removal of '-Encoding Byte' is a breaking change from Windows PowerShell. Although certainly a cleaner implementation, it does not meet the bar for breaking changes as identified by the guidance above.

Even if fixing this causes a breaking change for Pow

[2018-10-10 19:50] vexx32 commented on #7986
Are you suggesting that the parameter be restored *alongside* the newer syntax for backwards compatibility? Just trying to clarify what your desired outcome is, really. 😄

But really, now... can't make an omelette without breaking some eggs. 😉

[2018-10-10 21:30] maertendMSFT opened #7988 "Display how to exit `more`, `less`, etc"
PowerShell should display how to exit out of `more` or `less`.

See `man` in Bash (`man top`):
![image](https://user-images.githubusercontent.com/30933589/46767006-7ed84c80-cc98-11e8-9e7c-62b67936d0c1.png)

Current PowerShell functionality (`help get-process`):
![image](https://user-images.githubusercontent.com/30933589/46767060-a6c7b000-cc98-11e8-9ff6-762795d354da.png)

This leaves unfamiliar use

[2018-10-10 21:37] SteveL-MSFT commented on #7988
`more` and `less` take over the screen buffer so there's no way to display this info (unless we inject content into the help which would have to be at the top).  Longer term, I believe there is discussion on having a built-in pager in PowerShell where we can provide more help and consistent experience.

[2018-10-10 21:55] masaeedu opened #7989 "Mapping file descriptors of pwsh process to Powershell streams"
Summary
------------------
I need a way to specify (using command line arguments to `pwsh`) a mapping between Powershell streams and process file descriptors . Right now I can't see a way to prevent warnings, progress information, and debug messages from being munged together on stdout alongside data that needs to be in a particular format (e.g. JSON).

Steps to reproduce
------------------

Put t

[2018-10-10 21:57] slide commented on #7330
@SteveL-MSFT Any updates on this? As I mentioned, if I had some bootstrapping information for when I don't already have pwsh available, I'd be happy to try building it on my own.

[2018-10-10 22:00] masaeedu commented on #7989
Alternately, the streams should just be serialized to the file descriptor corresponding to the stream numbers documented [here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_redirection?view=powershell-6), and anyone who wants to see progress, warning etc. output on stdout can just manually redirect all of those file descriptors into `1`.

[2018-10-10 22:29] SteveL-MSFT commented on #5699
@PowerShell/powershell-committee due to the breaking change nature of this request, we would recommend making the behavior change in a FileSystemProvider v2 implementation

[2018-10-10 22:46] SteveL-MSFT commented on #7496
@PowerShell/powershell-committee reviewed this, this definitely is both a breaking change and a bug.  We should do the version check to look for the requested version instead of just returning the loaded version.

[2018-10-10 22:47] SteveL-MSFT commented on #7496
@rjmholt can we get this fix in sooner so that we can get community feedback if it's an impactful breaking change?

[2018-10-10 22:55] rjmholt commented on #7496
Fix is in https://github.com/PowerShell/PowerShell/pull/7125

[2018-10-10 23:47] adityapatwardhan commented on #7955
This should be fixed now.

[code]

[2018-10-11 00:37] SteveL-MSFT commented on #7330
I'm busy this week prepping for PSConfAsia, I'll see about spending some time after 10/21.  If you want to try to get this to work, it should "simply" be a change in `builds.psm1` at the root of this repo to support `linux-arm64` RID in `start-psbuild` cmdlet.

[2018-10-11 00:58] vexx32 commented on #6731
@rjmholt love the look of this -- it's always been a bit of a weird quirk that foreach-defined variables are kind of type-less.

PR when? 😄

[2018-10-11 01:06] rjmholt commented on #6731
I have a branch for this, but I was hitting a very odd error in PowerShell's variable analysis code. At that point other priorities caught up with me. I'll see if I can look into it again at some point.

[2018-10-11 02:54] rkeithhill commented on #7988
Actually, this can be done by PowerShell Core. Try this:
[code]
This gives a display of:
![image](https://user-images.githubusercontent.com/5177512/46777807-20c65c00-ccce-11e8-8f30-4e39134537e2.png)

Ah, and you can get this now (no changes to PS Core) by setting this env var:
[code]

[2018-10-11 03:03] slide commented on #7330
I was able to get it to build. I will try and create a PR for PowerShell-Native and PowerShell.

[2018-10-11 06:29] SteveL-MSFT commented on #7988
@rkeithhill cool!  Wasn't aware of this parameter for `less`.  Is this consistent across distros?  My experience is that different distros have different versions of native tools so not all of them have the same parameters/switches.

[2018-10-11 06:52] NetForce1 opened #7991 "Update terminal title for remote sessions"
Ssh updates the terminal title when logging into another machine. It would be very helpful if powershell did the same upon Enter-PSSession, especially when working in multiple terminal tabs (each with a session to a different machine).

[2018-10-11 08:59] lispmarc commented on #7976
I found the origin of the problem in that the directory /tmp/example diddn't exists and the nxFile Resource will not create missing directories. It is still strange that omi-cli does give a total different error, not related to the real error.

Marc Mertens

[2018-10-11 08:59] #7976 closed

[2018-10-11 10:44] bergmeister opened #7992 "Tests testing that all packages use the latest version should not be part of CI build"
PR #7661 added  [package.tests.ps1](https://github.com/PowerShell/PowerShell/blob/master/test/common/package/package.tests.ps1), to check that all referenced packages are of the latest version. This causes a lot of unnecessary build failures in forks and PRs because it takes time for the bot to kick in and the update to be approved and merged and then one needs to upstream or re trigger the build

[2018-10-11 11:01] ibex-are-goats commented on #3028
I concur with this feature request, the default behavior of Powershell when run as a command is befuddling

[2018-10-11 12:11] DTW-DanWard commented on #7895
This has been driving me nuts the past few days.  Maybe a quick solution is to _not_ add the WorkingDirectory parameter to the shortcuts...?  Developers/desktop users are always going to set the default location via profile, not by changing the shortcut value.  WorkingDirectory seems only useful for automating a script or running one remotely.  But, to be honest, even then I wouldn't rely upon it;

[2018-10-11 15:11] MartinSGill commented on #5912
Any progress on this? It's really annoying in our build logs. I'd love to try and fix this myself.. but I've no idea where to look :(.

[2018-10-11 15:36] bergmeister commented on #7895
We should rather fix this properly in the implementation of the new `Workingdirectory` parameter that was introduced in PR #6612 to help start PowerShell by default in the user folder instead of its installation folder and for an issue with the explorer context menu. cc @SteveL-MSFT
The proposed design would be to have the WorkingDirectory ready before execution of the $PROFILE script instead afte

[2018-10-11 15:43] TravisEz13 commented on #7992
Agreed.  We have added a bot to do this work now.  The tests can be removed or disabled.

[2018-10-11 16:00] rkeithhill commented on #7988
This is where man defines the prompt string - https://git.savannah.gnu.org/cgit/man-db.git/tree/src/man.c#n4184  This source is used in quite a few distributions according to the home page - http://man-db.nongnu.org/

[2018-10-11 16:09] #7847 closed

[2018-10-11 16:15] NorthernLights commented on #5561
Reopening this issue: version 6.1.0 on Mojave is resulting in the same issue when attempting to connect to Office 365.

[2018-10-11 16:20] vexx32 commented on #7988
That's great for Linux, but does leave Windows users with a somewhat unclear prompt in comparison. 😕

[2018-10-11 16:20] iSazonov commented on #7985
I don't see a problem - we use recommended `Path.Combine(destination, entry.FullName);`

[2018-10-11 16:21] NorthernLights opened #7994 "Reopening this issue: version 6.1.0 on Mojave is resulting in the same issue when attempting to connect to Office 365."
_Originally posted by @NorthernLights in https://github.com/PowerShell/PowerShell/issues/5561#issuecomment-429018814_

[2018-10-11 16:30] rkeithhill commented on #7988
`less` is flexible enough to support this.  It appears to me that `more` is not.  One step at a time. :-)  Also, consider that usage of PS Core is ~80 on non-Windows.  So tweaking less to display this seems like it's worth doing.  The other option is to wait on a PS specific paging utility or replacement to `more` on Windows.  We may be waiting a while for these.

BTW, it's been that way for 12 ye

[2018-10-11 16:34] xcorail commented on #7985
Hi @iSazonov
[code]
The recommendation is to do 1, 2, 3 and 4, not only 1. `Path.Combine` does not perform any sanitization of the entry full path

Cheers

[2018-10-11 16:40] rjmholt opened #7995 "Add -LiteralPath parameter to Set-PSBreakpoint"
`Set-PSBreakpoint` currently doesn't have a `-LiteralPath` parameter to set breakpoints in scripts. This means that setting a breakpoint in strangely named files like `hello [there].ps1` or on *nix `whoisth*s?.ps1` is harder than it should be.

See https://github.com/PowerShell/PowerShellEditorServices/pull/765 for a scenario where this has caused issues.

[2018-10-11 16:50] iSazonov commented on #7989
PowerShell can redirect streams https://blogs.technet.microsoft.com/heyscriptingguy/2014/03/30/understanding-streams-redirection-and-write-host-in-powershell/

[2018-10-11 17:04] edyoung opened #7996 "Unhandled exception in ConsolePal.ReadKey"
Steps to reproduce
------------------
I don't have a consistent repro, sorry. See version details below. Typed c d<backspace><backspace>, pwsh hung for about 10 seconds then produced error below and exited

[code]

Expected behavior
-----------------
Don't crash

Environment data
----------------
[code]

[2018-10-11 17:15] iSazonov commented on #7985
@xcorail Thanks for clarify!

@TravisEz13 We have already this in CoreFX https://source.dot.net/#System.IO.Compression.ZipFile/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.cs,104

[2018-10-11 17:29] mklement0 commented on #7988
Indeed, handy stuff.

macOS, FreeBSD, and Linux distros (all? verified on Ubuntu) all seem to have the very same GNU implementation of `less`, so my guess is that it works on all supported Unix-like platforms.

This despite the fact that `less` is not a POSIX-mandated utility, only [`more`](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/more.html) is.

Small caveat: on macOS, `more` is

[2018-10-11 17:48] iSazonov commented on #7986
The breaking change was approved in #5080

[2018-10-11 17:55] SteveL-MSFT commented on #7994
Reopened original issue, use that for discussion

[2018-10-11 17:55] #7994 closed

[2018-10-11 18:13] masaeedu commented on #7989
@vexx32 I don't always have access to the script though (nor to the scripts that it transitively calls). From my perspective I'm just trying to evaluate some black box binary which emits data to a variety of output streams, and I only care about retrieving one of them, which is trivial with other shells and script interpreters.

If some functions somewhere do `Write-Warning` or `Write-Debug` or wh

[2018-10-11 18:19] rjmholt opened #7999 "Backtick escaping inconsistent"
Was investigating escaping a filename for PowerShell in https://github.com/PowerShell/PowerShellEditorServices/pull/765#discussion_r224297544.

I created a directory with the following files:
[code]

(`New-Item` doesn't seem to have a `LiteralPath` parameter by the way)

I then run the following:
[code]

## Actual Results

The output of this in the given directory gives me:
[code]

More concretely

[2018-10-11 18:35] bergmeister commented on #7992
@iSazonov I do not see this issue as closed until the tests are not part of the CI/PR builds any more

[2018-10-11 18:43] iSazonov commented on #7992
@bergmeister Sorry.

[2018-10-11 18:48] Borkason opened #8000 "Register-EngineEvent Powershell.Exiting does not work."
Steps to reproduce
------------------

[code]

Instead of exit, the user may also close the Powershell with the x-Button.

Expected behavior
-----------------
I expect that Powershell executes every command in the `-Action` parameter before it exits. In this case, I expect that a file `General Kenobi.txt` is written to `$env:TEMP`.

Actual behavior
---------------

Powershell executing the action

[2018-10-11 18:54] vexx32 commented on #8000
This may be related to #6862, perhaps?

[2018-10-11 19:14] masaeedu commented on #7989
@SteveL-MSFT Processes also have more file descriptors than just `1` and `2`, so maybe the output for each Powershell stream >2 could go to the corresponding file descriptors.

The use case is to have a script that uses various modules (e.g. PowerCLI) and emits a fixed format. It's going to live alongside a variety of other scripts (most of which are not implemented in Powershell) that emit an ide

[2018-10-11 19:18] masaeedu commented on #7989
@SteveL-MSFT

Yes, something like that would be very useful, provided it can be specified exhaustively for all Powershell streams.

[2018-10-11 19:48] SteveL-MSFT commented on #7992
I'll submit PR to remove these tests

[2018-10-11 21:02] rjmholt commented on #7999
Trying to resolve the PSES issue linked above, I also tried the following:

- Create files called `[script.ps1`, `` `[script.ps1``, ` ``[script.ps1`, etc.
- Populate them with the content `0`, `1`, `2`, etc. respectively (so the content of the file represents the number of backticks in the name).
- Execute them directly in order

Here are my results:
[code]

I also tried invoking with a string lit

[2018-10-11 21:03] #7992 closed

[2018-10-11 21:40] SteveL-MSFT commented on #5561
This is also repro'ing for me with Mojave

[2018-10-11 21:47] kai-h commented on #5561
This works for me with 6.0.4 on Mojave with OpenSSL libraries installed via MacPorts, **NOT** Homebrew.

[code]

[2018-10-11 22:17] kai-h commented on #5561
This also works for me when I've upgraded to 6.1.0 on Mojave.
To reiterate, I am using OpenSSH libraries from MacPorts and have linked them to the location that PowerShell expects to see them.
[code]
Then, when I run pwsh
[code]

[2018-10-11 22:34] SteveL-MSFT commented on #5561
Using the MacPorts version of OpenSSL worked for me.

[2018-10-11 22:34] #5561 closed

[2018-10-11 22:50] kai-h opened #8004 "PowerShell on macOS to work with MacPorts OpenSSL Libraries"
Further to issue https://github.com/PowerShell/PowerShell/issues/5561

Can we please have PowerShell work out of the box with MacPorts' installed OpenSSL libraries.

PowerShell is hard coded to specifically look in /usr/local/opt/openssl/lib for the OpenSSL Libraries. This is where Homebrew installs them.

MacPorts installs the libraries in /opt/local/lib instead.

If I symlink the Homebrew locati

[2018-10-11 22:50] daxian-dbw opened #8005 "PowerShell.EndInvoke(IAsyncResult) doesn't provide a way for users to get the partial results when a terminating error is thrown"
When a terminating error is thrown from the script, `PowerShell.EndInvoke(IAsyncResult)` will throw the exception and there is no way to get the partial results back (output from before the terminating error).

It would be good to make it able to return the partial results when a terminating error is thrown.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Throw

[2018-10-11 22:52] daxian-dbw commented on #8005
Move @PaulHigin's comment on this issue from https://github.com/PowerShell/PowerShell/pull/7917#discussion_r224256267

[2018-10-12 02:34] SeeminglyScience commented on #8005
Wouldn't that be expected behavior?  A script would work the same way

[code]

I would think you typically wouldn't want output from a failed invocation, but there's always this overload for when you do

[code]

[2018-10-12 04:09] msftrncs opened #8007 "Windows Previous Versions 'Open' of previous version of folder causes open of PowerShell at that location and point in time."
Steps to reproduce
------------------
On a Windows machine, in a location which utilizes Previous Versions, request the previous versions, specifically of a folder.  Select a previous version of the selected folder, and then press the 'Open' button.

(In my case I was on a mapped network drive, of a Windows 2012 R2 file server)

Expected behavior
-----------------
Windows Explorer opens a view of

[2018-10-12 06:33] sandersaares opened #8008 "Install fails on Ubuntu 18.04"
Steps to reproduce
------------------

Follow instructions at https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?view=powershell-6#ubuntu-1804

Using Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-36-generic x86_64)

Expected behavior
-----------------

Successful install.

Actual behavior
---------------

[code]

[2018-10-12 08:36] bergmeister commented on #6496
@SteveL-MSFT Has this been fixed by now or will we hit this issue again once the first preview of 6.2 comes out?

[2018-10-12 08:40] bergmeister commented on #5801
@iSazonov Shall we move this issue to the PowerShell-Native repo where the code has been moved to?
https://github.com/PowerShell/PowerShell-Native

[2018-10-12 08:43] bergmeister commented on #7992
Thanks :-)

[2018-10-12 08:46] bergmeister commented on #7955
Thanks, I can confirm the fix :)

[2018-10-12 09:06] iSazonov commented on #5801
@bergmeister Please move the Issue to https://github.com/PowerShell/PowerShell-Native and fill free to push PR there.
Seems we already have newest Googletest version in PowerShell-Native repo.

[2018-10-12 09:08] #5801 closed

[2018-10-12 09:12] iSazonov commented on #6496
Yes, now prerelease is distributed through different channel.

[2018-10-12 09:35] iSazonov commented on #7557
@SteveL-MSFT We need PowerShell Committee conclusion to continue, please.

[2018-10-12 09:42] bergmeister commented on #6862
Note that I still see this happening with the latest changes in master but the likelihood seems to have decreased a bit.

[2018-10-12 09:44] bergmeister commented on #6496
Ok, I will close then for now

[2018-10-12 09:44] #6496 closed

[2018-10-12 10:01] bergmeister commented on #8007
This is a duplicate of issue #6799 and has already been fixed by PR #7932
If this is a problem for you then either apply the registry changes in the PR by renaming the registry key `Directory\ContextMenus\PowerShell6x64\shell\open` to `Directory\ContextMenus\PowerShell6x64\shell\openpwsh` or reinstall PowerShell and not tick the 'context menu option'.

[2018-10-12 10:07] bergmeister commented on #7974
That would be awesome!

[2018-10-12 10:13] tnkdwp opened #8010 "PowerShell"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-12 11:06] iSazonov commented on #6862
Continues to annoy.

[2018-10-12 11:13] #8007 closed

[2018-10-12 11:34] iSazonov commented on #8004
Please look the comment https://github.com/PowerShell/PowerShell/issues/5561#issuecomment-429142776

[2018-10-12 11:37] iSazonov commented on #8008
What liblttng-ust0 version is installed on your system?

[2018-10-12 12:06] kwkam commented on #7999
I believe this is more related to the WildcardPatten escape & unescape inconsistency mentioned in #7407

[2018-10-12 14:43] beggsm commented on #7979
I just ran into this myself as I am also seeing this issue with storing record objects in a psd1 file.  At about 3000 lines it returns the error complaining about the presence of a dynamic expression.  My example psd1 attached fails when passed to 'Import-PowerShellDataFile' command.  If you remove one table from the array it imports fine.

[2018-10-12 15:34] archmangler opened #8011 "Request: DNSServer module for powershell on Linux"
Getting powershell running on Linux is straightforward.

Unfortunately this is based on .NetCore which excludes a lot a important functionality and modules e.g the DNSServer module. It's not installable on Linux using powershell gallery:

[code]

Is there a workaround to obtain a fully functional PowerShell installation on linux including modules that don't appear in .NetCore (specifically DNSServ

[2018-10-12 16:03] mklement0 commented on #4671
To provide some more insight into what, specifically, is wrong (in addition to the _conceptual_ flaw that @GeeLaw mentions with respect to combining `-UseNewEnvironment` with `-Credential`; almost sounds like that combination should be disallowed):

https://github.com/PowerShell/PowerShell/blob/5fcab21111be1551d723bbd3cf2701d79e44fa94/src/Microsoft.PowerShell.Commands.Management/commands/managemen

[2018-10-12 16:15] KirkMunro opened #8012 "Impossible to open Runspace using OpenAsync and return after initial session state is loaded"
If you create a Runspace and want to use OpenAsync to open that runspace asynchronously, while not continuing on to other code until the runspace opened _and_ initialized, it's not possible to do so. If instead of invoking OpenAsync, you invoke Open, that API won't return until after the runspace is both open and initialized with the initial session state.

Steps to reproduce
------------------
ht

[2018-10-12 16:57] TravisEz13 commented on #7992
No problem, we were just try to find the right solution.  Sometimes it takes trial and error.

[2018-10-12 17:09] SteveL-MSFT commented on #7979
The problem seems to be that PowerShell has some hardcoded limits in the AST and for hashtables [here](https://github.com/PowerShell/PowerShell/blob/53e6ec6eadc2f363fc671e96b34ade4dda3fe8eb/src/System.Management.Automation/engine/parser/SafeValues.cs#L58).  I did a private build increasing the `MaxVisitCount` to 10000 (from 5000) and was able to import @39Delta `records.txt` sample.

@lzybkr what

[2018-10-12 17:12] SteveL-MSFT commented on #8011
The current DNSServer PowerShell module that is in Windows is specific to managing Windows DNS Server and wouldn't work on Linux.  If you want to manage Windows DNSServer using the PowerShell module from Linux, you can do this via PowerShell remoting.  Using [implicit remoting](https://technet.microsoft.com/en-us/library/ff720181.aspx) you can run scripts locally on Linux that actually execute rem

[2018-10-12 17:34] LeeHolmes commented on #7986
New functionality is great (-AsByteStream is cool). Breaking changes that are not in line with the breaking change contract are not cool - even if previously approved.

[2018-10-12 17:48] KirkMunro commented on #8012
The problem identified in this issue is the positioning of [this block of code](https://github.com/PowerShell/PowerShell/blob/53e6ec6eadc2f363fc671e96b34ade4dda3fe8eb/src/System.Management.Automation/engine/hostifaces/LocalConnection.cs#L681-L705).

When you invoke Runspace.Open(), control is not returned back to the caller until that block of code has completed execution. Technically there's stil

[2018-10-12 17:51] vexx32 commented on #7986
Again, what would you suggest? Restoring the `-Encoding` parameter to a loosely-typed collection and add `Byte` back in as an option? I can see why it might be nice to have for backwards-compatibility purposes on occasion, but have people actually *used* `-Encoding Byte` commonly? I really can't say I've ever seen it (not that that means it *shouldn't* be restored, just trying to gauge how serious

[2018-10-12 17:57] lzybkr commented on #7979
Check with @LeeHolmes and/or @JamesWTruher - I think that limit exists to help avoid a DOS style attack.

I suppose it makes sense to add a parameter to the cmdlet to increase the limits.

[2018-10-12 18:34] LeeHolmes commented on #7986
It's used 161 times in the PowerShell Corpus. (http://aka.ms/powershellcorpus)

![image](https://user-images.githubusercontent.com/11475352/46887516-aeab5f80-ce12-11e8-8cf1-c31867457ea2.png)

[2018-10-12 18:37] sandersaares commented on #8008
I do not know what that is or how to find out. This is a clean install of Ubuntu 18.04.1 installed today. If you can tell me commands to run to get more info, I will be happy to provide the info.

[2018-10-12 19:10] iSazonov commented on #8008
PowerShell Core doesn't depend on the package - it is .Net Core dependence. Please start here https://github.com/dotnet/cli/issues/9876 and here https://github.com/dotnet/core-setup/issues/4417

[2018-10-12 22:37] #7988 closed

[2018-10-12 23:20] slide commented on #7330
See https://github.com/PowerShell/PowerShell/pull/8016 and https://github.com/PowerShell/PowerShell-Native/pull/16

[2018-10-13 13:40] constantinhager opened #8019 "Problems with Invoke-Restmethod and the PATCH method"
Hello,

I want to edit a gist in github via PowerShell. The gist is a private gist.
The PAT Token has the right to create gists. I have tried It with the stable build of PowerShell Core 6.1.
I read the documentation and Produced the following PowerShell:

[code]

I do not get any result back and the gist isn't changing either. If I try It with for example Postman the gist gets updated.

Any help w

[2018-10-13 17:04] constantinhager commented on #8019
i did that
[code]

and then I assigned It to the Body parameter
[code]

[2018-10-13 20:13] mklement0 commented on #8019
@constantinhager: I assume you're saying that explicitly passing a JSON string to `-Body` solved your problem, correct?
If so, could you please close this issue?

@thezim: I'm not too familiar with `Invoke-RestMethod`, but, based on my brief experiments and  the following excerpt from the docs:

I'd say that a hashtable passed to `-Body` is _never_ converted to a JSON string, even with <br>`-Conte

[2018-10-13 23:46] MaximoTrinidad commented on #8008
@sandersaares ,

I got 18.04.1 for few months now and the PowerShell Core installation from my previous version has been successful.

If this is a fresh installation, I understand the PowerShell was already included in the Ubuntu build 18.04.1.  Did you check first that PowerShell Core wasn't already installed??

Check this article: https://blog.ubuntu.com/2018/07/20/powershell-launches-as-a-snap?

[2018-10-14 06:52] constantinhager commented on #8019
i did that

`$ApiBody = ConvertTo-Json -InputObject $Body -Compress`

and then I assigned It to the Body parameter
`Invoke-RestMethod -Uri $Uri -Method "PATCH" -Headers $Header -Body $ApiBody -ContentType "application/json"`

I get nothing back and the gist does not change. So that does not solve my problem

[2018-10-14 07:01] Chirishman opened #8021 "[System.IO.Ports.SerialPort]::GetPortNames() Throws random garbage in Arm32"
Steps to reproduce
------------------

Download the 32 bit ARM release and run it on the latest release version of Win10 IOT Core

[code]

Expected behavior
-----------------

Return a list of port names

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-14 09:22] iricigor opened #8022 "Get-Command from inside a module cannot find non-module commandlet"
Steps to reproduce
------------------

Save the following as file `Test.ps1` and execute it

[code]

Comment: Running commands one by one in interactive console will not generate error. Only from within a script.

Expected behavior
-----------------

Get-Command will run successfully three times.

Actual behavior
---------------

Get-Command from inside the module fails.

![image](https://user-ima

[2018-10-14 13:01] mklement0 commented on #8022
The issue is that function `MyComm` is defined in a scope that your module by definition cannot see.

Modules see only _global_ (non-module) function definitions, whereas your function is defined in a _child_ of the global scope.

By dot-sourcing from the global scope `MyComm` is defined globally, that's why the problem goes away.

[2018-10-14 13:46] vexx32 commented on #7506
I've been looking into this with @SeeminglyScience in terms of the possible methods of implementation, and we've found a couple possibilities -- but each seems to have their drawbacks.

### First, in terms of implementing C#-style named method / constructor arguments:

#### 1. Duplicate or inherit from `NamedAttributeArgumentAst`
This is somewhat problematic, as it would introduce a new AST class

[2018-10-14 14:34] iricigor commented on #8022
Hm, that's how I figured it out also, but I find it a bit inconsistent. Your sentence is good definition of this issue:

I was presuming `FindMyComm` will run inside a script scope, although defined in global scope. I was not expecting it will jump up during the execution. Microsoft [docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions?view=power

[2018-10-14 15:10] felixfbecker commented on #7953
Is there a way to trace when modules get loaded?

[2018-10-14 16:42] mklement0 commented on #8019
Thanks, @constantinhager. In the future, please include the _outcome_ of what (else) you've tried up front, so this back and forth can be avoided.

[2018-10-14 17:09] thezim commented on #8019
I could not repro the issue, the below worked for me with a private `gist` and the appropriate API token with `Create gists` permission.

[code]

[code]

[2018-10-14 17:12] abhi18av opened #8023 "Installation on Ubuntu running on ARMv8 architecture"
Hello Powershell team,

I tried to install powershell on my scaleaway `ARMv8` server on Scaleway by following the instructions on https://www.hanselman.com/blog/InstallingPowerShellCoreOnARaspberryPiPoweredByNETCore.aspx

I chose the `linux-arm32` binary from the releases page on Github which according to this article should work perfectly fine
https://www.androidauthority.com/arms-64-bit-architec

[2018-10-14 18:09] endowdly commented on #6694
I believe this is a known issue. Here is an [explanation](https://info.sapien.com/index.php/scripting/scripting-help/writing-help-for-dynamic-parameters)

[2018-10-14 18:45] cmichaelingram opened #8026 "Import Microsoft.PowerShell.Management version 3.1 does not allow use of Write-EventLog"
Steps to reproduce
------------------
![image](https://user-images.githubusercontent.com/31104435/46920680-9e80b500-cfb7-11e8-92a2-cfa76be9f838.png)

Expected behavior
-----------------

Write-EventLog  function (provided by the Microsoft.PowerShell.Management module version 3.1.0) should be available.  As a side note, should i do a get-module on Microsoft.PowerShell.Management version 3.1, and vi

[2018-10-14 23:00] mklement0 commented on #6694
Thanks, @endowdly: while the linked issue is definitely related, it is distinct:

_This_ issue is about the _syntax diagram devolving_, simply by the inclusion of comment-based help.

The linked issue is about the inability to _document dynamic parameters_ using comment-based help.

Can I ask you to create a _new_ issue in this repo in which you summarize the linked article?
You can ping @juneb, t

[2018-10-14 23:10] kai-h commented on #8004
Based on my testing, PowerShell is still hard-coded to look in /usr/local/opt/openssl/lib for OpenSSL libraries. It is not also looking in /opt/local/lib as well.
For PowerShell to work with OpenSSL from MacPorts, you must symlink the libraries as per
[code]
It would be very good if PowerShell could look in /opt/local/lib for OpenSSL libraries, particularly as per
https://github.com/PowerShell/Pow

[2018-10-15 01:08] kickgod opened #8027 "Win10 PowerShell initialization failed"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

设置: 在加载格式数据文件时出错:
Microsoft.PowerShell.Core，，C:\Windows\System32\WindowsPowerShell\v1.0\Help.format.ps1xml: 由于发生以下验证异常，已跳过文件: 无法加载文件 C:\Windows\System32\WindowsPowerShell\v1.0\Help.format.ps1xml，因为有软件限制策略阻止运行该文件，例如，使用组策略创建的软件限制策略。。
Microsoft.PowerShell.Core，，C:\Windows\Syste

[2018-10-15 04:02] iSazonov commented on #8012
@BrucePay @lzybkr Could you please clarify the OpenAsync behavior? Is it by design or a bug?

[2018-10-15 04:06] iSazonov commented on #8021
@Chirishman Please move the Issue to CoreFX repo.

[2018-10-15 04:32] iSazonov commented on #8023
@tylerl0706 Could you please answer?

[2018-10-15 04:40] iSazonov commented on #8026
Seems you need to use https://github.com/PowerShell/WindowsCompatibility

[2018-10-15 04:45] iSazonov commented on #8027
Please add $PSVersionTable information

[2018-10-15 04:47] iSazonov commented on #8004
/cc @SteveL-MSFT

[2018-10-15 06:15] lzybkr commented on #7506
See my proposed syntax which relies on [generalized splatting](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0002-Generalized-Splatting.md#splatting-in-method-invocations)

With my proposed syntax, you would introduce a new kind of expression, say `SplattedExpressionAst` that has a child expression which can be any expression.

The tokenizer would return the `@` token to the

[2018-10-15 07:33] constantinhager commented on #8019
Thank you. That worked. Strange. I called the invoke-restmethod out of another function. This is not working. Thank you for the assistance.

[2018-10-15 07:33] #8019 closed

[2018-10-15 07:41] tylerl0706 commented on #8023
Sorry I'm not familiar with this service. What OS are you using here?

My guess is that there may be additional dependencies that need to be installed.

Here are the official Raspian steps:
https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?view=powershell-6#raspbian

[2018-10-15 09:00] abhi18av commented on #8023
Hi @tylerl0706 , here's the service in question

https://www.scaleway.com/pricing/

I'm using the Ubuntu18.04 image and since the Raspbian and Ubuntu are both debian based, many packages just work.

[2018-10-15 10:29] vexx32 commented on #7506
So essentially you PeekChar() and if you get anything other than `{`, `(`, or a variable name character you scan for `ExpressionAst` and compile it into a `SplattedExpressionAst`

I... Think I can probably manage that. I'll found out soon. :)

[2018-10-15 10:59] vexx32 commented on #8027
@iSazonov given that @kickgod is unable to *start* PowerShell, that may prove to be difficult for them.

Do you know which version of PowerShell you are attempting to start? Is it PowerShell Core (pwsh.exe) and do you know what version you installed?

[2018-10-15 11:04] kickgod commented on #8027
Name                           Value
----                           -----
PSVersion                      5.0.10240.17443
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion                   10.0.10011.16384
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
PSRemotingProtocolVersion      2.3

[2018-10-15 11:13] kickgod commented on #8027
English:
I copied the C:\Windows\System32\WindowsPowerShell\v1.0\Help.format file of the classmate's computer and the Registry.format to the corresponding file directory of my computer. Instead of the original file, it worked again. I suspect that The two files are corrupt, but I found that my Visual Studo 2017 package management console is not working. I copied the non-directory files in the v1.0

[2018-10-15 11:14] ashok777hb commented on #6295
Hi JamesWTruher I will fix this issue.
Please assign this issue to me..

[2018-10-15 11:42] cmichaelingram commented on #8026
Thanks for the quick response iSazonov.  That's the way we were doing it - at least until PowerShell Core 6.1 was released.  With PS Core 6.1, they rolled the Windows Compatibility pack into the 6.1 release so you *shouldn't* have to add it in - at least that is my understanding and based on what I'm seeing in practice (https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-

[2018-10-15 13:18] indented-automation opened #8028 "enum: Underlying type"
Enumerations in PowerShell appear to be limited to Int32. Ideally enums should allow inheritance-style setting of the underlying type.

Steps to reproduce
------------------

PowerShell does not appear to allow an underlying type to be defined for an enum. All values are coerced to Int32.

The statement below will raise an exception:
[code]

Expected behavior
-----------------

An enumeration wiit

[2018-10-15 13:29] vexx32 commented on #8028
I'd recommend reusing the class inheritance syntax, which would be similar to C# syntax for specifying an enum type:

[code]

[2018-10-15 14:15] mklement0 opened #8030 "Provider help topics are missing"
Steps to reproduce
------------------

* First, run `Update-Help` from an elevated / `sudo` prompt to ensure that the latest topics have been downloaded.

[code]

Expected behavior
-----------------

The `Environment` PS provider's help topic should print.

Actual behavior
---------------

An error about a missing file is reported.

[code]

Environment data
----------------

[code]

[2018-10-15 14:45] KirkMunro commented on #8012
Just FYI, I found a workaround, but I'm not sure it's a reliable one, and still feels like a design flaw or a bug to me.

The workaround is to add an event handler to the Runspace instance AvailabilityChanged member, and in the event handler monitor for the 2nd Available event. In my case, my initial session state is only being used to identify a module I want loaded, so when the runspace is opene

[2018-10-15 16:22] mi-hol opened #8031 "github milestones and projects are in need of updates"
@SteveL-MSFT The currently visible milestones and projects are not indicative of pwsh development plans.
I wonder if there is no longer a owner for them?

[2018-10-15 16:27] p0W3RH311 opened #8032 "out-default and switch "-transcript""
hello

if i add out-default in middle of this expression it return enexpected result but if i add switch "-transcript" it return the exact result why ? i dont understand the use of this switch

Steps to reproduce
------------------

[code]

Environment data
----------------

[code]

thanks

[2018-10-15 16:36] p0W3RH311 opened #8033 "array indexing by regex or wildcard"
hello

in powershell the operator [] is for indexing array for example

Steps to reproduce
------------------

[code]

but it may be nice if the array index by regex et not by int for example

[code]

it possible to use

[code]
or may be
[code]
but in other case operator range is more simple to use and it return expected match without diving into object returned by "select-string"

[2018-10-15 16:42] SteveL-MSFT commented on #8031
@mi-hol yes, it's a bit out of date.  I'll get them updated after PSConfAsia this week.

[2018-10-15 16:50] p0W3RH311 opened #8034 "PSReadline with my PS 6.1"
hello

Steps to reproduce
------------------

[code]

but dont work, no colorized syntax, no intellisense ...etc ...why ?
in my PS 5.0 PSreadline work like a charm

Environment data
----------------
[code]

[2018-10-15 16:56] SteveL-MSFT commented on #8004
@TravisEz13 can you look into this?

[2018-10-15 17:00] SteveL-MSFT commented on #8008
@sandersaares I think @iSazonov is pointing out that this appears to be an issue with .NET Core and once they can get a fix, our install instructions should just work (unless they make a change in their install instructions that require us to make a change in ours).  We need to wait for them right now.  Alternative as @MaximoTrinidad pointed out is to use our snap package which self-contains all d

[2018-10-15 17:01] SteveL-MSFT commented on #8011
You can always use `ssh` to execute remote commands without using PowerShell remoting.  It's more of a user choice which experience they want.

[2018-10-15 17:28] PaulHigin commented on #8005
-> I would think you typically wouldn't want output from a failed invocation

It seems to me to be just the opposite.  For a long running script I would want to get all output information occurring before a terminating error.  It would help understand what happened, what may have caused the error, and what state the machine is in.

[2018-10-15 17:32] PaulHigin commented on #6862
I agree.  I am beginning to use PSCore6 more than Windows PowerShell and it is very annoying.  I think the assert should be removed.  I'll check with the AMSI folks and see if it is Ok to ignore the un-initialize on process exit.

[2018-10-15 18:15] mklement0 commented on #8022
As far as I understand, the short of it is (right, @SeeminglyScience?):

<sup>Terminology note: I'm using the term _scope domain_ to refer to the distinct variable namespaces inside a session: one default one for all non-module code, and one for each module loaded; they correspond to `SessionStateInternal` instances, as explained in a [blog post](https://seeminglyscience.github.io/powershell/2017/

[2018-10-15 18:27] archmangler opened #8035 "PS Remoting: New-PSSession with -HostName and -SSHTransport doesn't support non-interactive credentials"
Powershell doesn't seem to support non-interactive provision of password+username with the New-PSSession and -HostName parameters. This makes it virtually impossible to script a non-interactive PSSession solution meant to operate within a larger automated system (e.g Terraform or Ansible wrapper).

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual b

[2018-10-15 18:27] vexx32 commented on #8033
Personally, I don't think there's much really to be gained by modifying the array indexer in this fashion. As you mentioned, `-match` and other operators already do this.

Not to mention that your regex example fundamentally isn't *indexing*, it's *filtering*, which is not really what the operator is for.

[2018-10-15 18:38] kvprasoon commented on #6295
@ashok777hb No need for any assignment,
- Fork PowerShell repo --> Create a patch branch --> Fix it --> Test it--> do a PR.

[2018-10-15 19:34] DaveCrown opened #8036 "pwsh launched from zsh doest not respect proxy environment vars."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

Name                           Value
----                           -----
PSVersion                      6.1.0
PSEdition                      Core
GitCommitId                    6.1.0
OS                             Linux 4.18.13-200

[2018-10-15 19:49] adityapatwardhan opened #8037 "Release process for Powershell v6.2.0-preview.1"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.2.0-preview.1` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM pa

[2018-10-15 19:51] SeeminglyScience commented on #8005
I'm inclined to agree that having output information would be useful in the initial stages of development and testing.  Once the code is in use I think it would be more common to rethrow or change code paths (and if you *do* absolutely need it, the other overload is still available to you).

That said, my main concern isn't really about the output and more about changing the behavior of `EndInvoke

[2018-10-15 20:47] nxsharma commented on #7827
$webclient=New-Object System.Net.WebClient
$webclient.Proxy.Credentials = [System.Net.CredentialCache]::DefaultNetworkCredentials

run this and then try to reinstall

[2018-10-15 20:54] mashwanimq commented on #7827
This has no effect, I am experiencing the same issue on 6.0.4 and 6.1.0 in my environment. The aforementioned code is in my "Current User - All Hosts" profile for powershell 6. The latest version of nuget and powershell get are installed.

This is most likely an environmental issue having to do with network policy. I will investigate further in my environment and update here if a solution or verif

[2018-10-15 20:57] mklement0 commented on #8036
Are you referring to the `http_proxy` environment variable, as described [here](https://www.cyberciti.biz/faq/linux-unix-set-proxy-environment-variable/), for instance?

Since we're talking about environment variables, the shell that you're calling _from_ shouldn't matter.

Someone with more domain knowledge will hopefully join the conversation, but here's a quick pointer: The absence of the strin

[2018-10-15 21:14] DaveCrown commented on #8036
That is correct. I’m using an environment variable, that I declare in /etc/environment making it systemwide. Bash and zsh both use that file.

[2018-10-15 21:14] mklement0 commented on #8033
Agreed, `$n -match '^f'` seems like a concise-enough and more readable idiom  to me. (`@($n) -match '^f'`, if `$n` could be a scalar).

Conceptual issues aside, the proposed `$n['^f']`syntax is _ambiguous_ and could break existing scripts, given that the following currently works:

[code]

While `$n('^f')` doesn't clash with existing behavior, it strikes me as obscure and too similar to a method c

[2018-10-15 21:28] mklement0 commented on #8036
From what I can tell, the definitions in `/etc/environment` are read by the system itself and all user processes inherit these environment variables, so what your default shell is shouldn't matter (even PowerShell itself would be fine).

In short: PowerShell should _see_ `$env:http_proxy`, but it seems it simply doesn't do anything with it.

[2018-10-16 00:41] mklement0 commented on #8036
To elaborate a little: it isn't Bash or zsh _itself_ that respects the `http_proxy` environment variable, it is _external utilities_ such as `curl` that respect it.

If you were to invoke such utilities from PowerShell, they should work as usual.

By contrast, PowerShell's built-in analogous functionality, such as `Invoke-WebRequest`, seemingly does _not_ respect `http_proxy`, so making it do so w

[2018-10-16 01:05] mklement0 commented on #8032
Inserting just `Out-Default` sends all pipeline input directly to the console, ignoring the remaining pipeline segments - which is expected behavior.

`-Transcript` is [currently undocumented](https://github.com/PowerShell/PowerShell-Docs/issues/3120), but, from what I gather, its purpose is to send output _just_ to a transcript (previously started with `Start-Transcript`), and not also to the hos

[2018-10-16 01:35] thezim commented on #8036
You can try the workaround in #3112 until it is supported.

[2018-10-16 01:41] mklement0 commented on #8036
Thanks, @thezim - hadn't even occurred to me to search for "http_proxy" in _this_ repo...

@SteveL-MSFT, can you please close this as a duplicate?

[2018-10-16 01:43] DaveCrown commented on #8036
I just have to remember to run it from bash, and it works like a champ.

[2018-10-16 01:47] mklement0 commented on #8036
@DaveCrown:

Run what from Bash? If you're calling external utilities such as `curl`, it shouldn't matter whether you're calling them from Bash or PowerShell.

Or are you saying that you're seeing a difference there? If so, that would warrant further investigation.

[2018-10-16 01:53] DaveCrown commented on #8036
Sorry, thought I had thatbdetail in there. When I run pwsh from bash, Import-Module works fantastic. When I run it from zsh, it won’t connect. I keep all my proxy config in /etc/environment, so that I don’t have to manage proxy settings for root.

[2018-10-16 02:52] mklement0 opened #8040 "New-Variable -Scope Private doesn't create a private variable."
`New-Variable -Scope Private` doesn't create a private variable, only `New-Variable -Option Private` does (the other `-Scope` values work as intended).

(`New-Alias -Scope Private` works fine, by contrast.)

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

That is, `-Scope Private` was quietly ignored.

While the p

[2018-10-16 05:10] masaeedu opened #8042 "Splatting is messed up by Powershell's implicit coercion of arrays to non-arrays"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Output:

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

Workaround
----------------

[code]

[2018-10-16 05:57] masaeedu opened #8043 "Introduce some kind of sanity to coercions"
In order to manipulate some config files, I need to deserialize some JSON that represents an array of strings, apply a transformation to each string, and serialize the resulting array back to JSON.

Most of my time on this task has been spent discovering the many wonderful surprises in Powershell's system of coercions between arrays of various lengths, non-arrays, and nulls.

[code]

I appreciate

[2018-10-16 06:53] p0W3RH311 commented on #8034
![sans titre](https://user-images.githubusercontent.com/36144546/46997784-77b8a080-d0d5-11e8-90cf-c2653bc4ed19.png)

[2018-10-16 06:56] p0W3RH311 commented on #8032
thanks for your comments

here another mysterious cases:

[code]

[2018-10-16 07:31] vexx32 commented on #8042
This is a bit of an edge case, really. It requires that one splat a single string as though it contained multiple arguments.

Pretty uncommon, especially given that the primary use case is for hashtabre splitting, with array splatting being used by practically nobody.

Still... Weird, I suppose, but you've not stored an array into the variable.

It's fairly common knowledge that PowerShell unwraps

[2018-10-16 07:59] masaeedu commented on #8042
I don't know what data you're relying on for this, but I'm pretty sure I'm somebody, and have been using array splatting frequently 🙂. A lot of non-Powershell executables rely on positional arguments, so maybe if you're only working within the domain of Powershell cmdlets and scripts it's unnecessary.

How would I do this? I thought `$x = @("foo") | % { "Hello, $_" }` *was* storing the array into

[2018-10-16 08:49] Justiii3 commented on #8035
Hello,

As per my knowledge so far about PS remoting over SSH -Credentials is not supported, not sure when this will be fixed, however my workaround is to enable public key authentication, creating SSH RSA key from the source server and using it to connect this way(removes the need for credentials). Please be advised that If you try to host Powershell core remoting scripts in dotnet core console a

[2018-10-16 09:05] iSazonov commented on #8028
@rjmholt For your classes collection. :-)

[2018-10-16 09:16] iSazonov commented on #8033
We have an issue for adding LINQ support - I believe this resolve your request.

[2018-10-16 09:29] #8036 closed

[2018-10-16 11:12] vexx32 commented on #8032
@iSazonov given the intended behaviour of Out-Default (output to console, not pipeline) I would be more inclined to think that the fact that adding the -Transcript switch changing that completely is most likely a bug -- unless you or one of the microsoft folks here can speak to what the -Transcript switch is *supposed* to do (given that it's undocumented).

[2018-10-16 12:11] iyoumans commented on #7827
I had already tried that to no effect. I have also tried setting $env:HTTP_PROXY and $env:HTTPS_PROXY to no effect either. Meanwhile, my Windows PowerShell (5.0) environment works fine on the same PC which means it's not a network or proxy issue as far as I can tell.

[2018-10-16 12:28] aricamf opened #8044 "Automate logging in powershell functions"
Hi
May I know how I can add logs to begin and end of a function in Powershell automately? Something like the AspectJ for Java.  I have the question as I'm going to have the clear call stack trace like all functions call with log "<Script>:<Function>:Begin" and "<Script>:<Function>:End" at the beginning and end.

Thanks

[2018-10-16 12:30] vexx32 commented on #8044
`Start-Transcript` is probably the most effective and simple way to start with this kind of thing.

Just remember to `Stop-Transcript` at the end! 😄

[2018-10-16 12:58] imba-tjd opened #8045 "Some color settings make some text invisible"
Hi.
When the background color set to 12, 12, 12(the first color) and text color set to 59, 120, 255(the 10th color), text in string will be invisible. PS5 doesn't have this problem because it changes the line's backgroud color.

In PS6:
![default](https://user-images.githubusercontent.com/24759802/47017710-89f21780-d185-11e8-9697-e38c574ee222.png)

In PS5:

![default](https://user-images.githubuse

[2018-10-16 13:01] cmichaelingram commented on #8026
Thank you iSazonov, if that is the case, the import-module command should throw an error/message to the user stating that the conflicting module can not be imported.  As of now, it imports the module without exposing the exported commands (with no message/indication that anything is wrong).

[2018-10-16 13:09] aricamf commented on #8044
@vexx32 Thanks for the comments so much! Hm...then I have to "Start-Transcript", "Stop-Transcript" in each function...any...automate solution here?

[2018-10-16 13:32] iSazonov commented on #8044
We could enhance our Trace commands.

[2018-10-16 13:51] MaximoTrinidad commented on #8034
Ah!  Wait!!  The difference is ... I'm using PowerShell Core 64 bit version.  You're using the 32 bit.
Can you try with the 64 bit version to see that works??

:)

[2018-10-16 13:51] vexx32 commented on #8044
If you're on a domain you can set GPOs to automate logging for PowerShell; see here for some ideas: https://blogs.msdn.microsoft.com/powershell/2015/06/09/powershell-the-blue-team/

[2018-10-16 13:54] apapsalokin opened #8046 "GetProcessCommand not available when trying to Host Powershell Core"
Preface
-------

Not sure if this is the right place or if my problem is an issue or by design. We are currently looking alternatives for a self developed scripting engine.

 Our partners know Powershell, however one of our requirements is independence on any "installed" software, so Windows Powershell, even though it should be available on every Windows 7+, can not be considered.

We are looking

[2018-10-16 13:55] MaximoTrinidad opened #8047 "Add PowerShell Core Architecture version to the PSVersionTable"
I thinks it becomes necessary to include this information specially when creating a Github issue.
I want to create an RFC for this item.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-16 13:56] iSazonov commented on #8026
@SteveL-MSFT Please look the feedback.

[2018-10-16 13:59] archmangler commented on #8035
@Justiii3 - thanks for the feedback. I was hoping to avoid key based authentication (though in my opinion it is much better). The problem is that in many large organisations, the teams responsible for managing windows systems are not familiar with key-based authentication, their operations are limited purely to passwords and username based credentials allocated via AD. Which means that all access

[2018-10-16 14:38] LethiferousMoose opened #8048 "ValidateSet missing quotes when auto-complete value begins with "process"."
Steps to reproduce
------------------
Creates a function that has a ```ValidateSet``` enabled parameter.

[code]

Expected behavior
-----------------
The auto-complete suggestion **will** wrap the string in quotes because it contains spaces.
[code]

Actual behavior
---------------
The auto-complete suggestion **does not** wrap the string in quotes because it begins with the word "process".
[code]

[2018-10-16 15:08] p0W3RH311 opened #8049 "better dynamicparam"
hello

its possible to reinvent the concept of dynamic param fo better and simple  use

Steps to reproduce
------------------

[code]

[2018-10-16 15:17] p0W3RH311 opened #8050 "-summary swtch to get-childitem"
please add a dynamic -Summary switch to get-childitem in filesystem

Steps to reproduce
------------------

[code]

the summary must be written in host and not written in pipe

[2018-10-16 15:33] iSazonov commented on #8047
You could start here.

[2018-10-16 15:42] iSazonov commented on #8046
@adityapatwardhan Could you please answer or ping anybody?

[2018-10-16 15:50] rjmholt commented on #8028
I suspect this was a deliberate design decision when `enum`s were introduced. How clean was the error message @indented-automation?

[2018-10-16 15:53] vexx32 commented on #8028
Looks like this @rjmholt

[code]

And it may have been a deliberate decision, but given that class inheritance is a thing anyway, I don't see any particular reason to arbitrarily restrict enums in this fashion?

[2018-10-16 15:58] rjmholt commented on #8028
Yes I just tested it myself. Agreed that there's no particular reason to not support it other than because it makes the language more complicated. I suspect the original reasoning was that smaller enum values work already (and can be cast without effort) and larger enum values are a pretty obscure use case, especially when flag usage is not a primary use case.

[2018-10-16 16:01] vexx32 commented on #8028
That's fair, I suppose, but `[Flags()]` *is* a supported enum attribute, so it makes the most sense to provide the frameworks that might be necessary to use it, even if the overall need isn't immensely huge. 😄

(also, the inconsistency just *bothers* me somehow that class inheritance syntax exists but can't be used for `enum` specifically, idk)

[2018-10-16 16:16] powercode opened #8051 "Is hardlinks really that important that they need to be in the Mode for fileinfo?"
Getting the hardlink flag takes about 25% of the time to display a fileinfo when doing ls.

Is it really that important? Could it be made optional, or hidden behind some option?

[2018-10-16 16:18] rjmholt commented on #8028
Yeah there might be the odd .NET API out there that requires it maybe. The inheritance thing is more an expectation set by C#'s syntactic sugar -- `enum`s can't really "inherit" (playing with the metadata, it's diabolical trying to find out what the underlying type of an `enum` is -- you need to look at the [`value__` field](https://stackoverflow.com/a/22830894)).

[2018-10-16 17:38] mkellerman opened #8052 "Enable Invoke-Command -ThrottleLimit to be used on localhost without remote connection."
Many modules exists out there to allow Throttling of parallel jobs/tasks. And the main reasons people use them are for simple throttling of tasks.

Ex:
[code]

Do I really need to enable Powershell Remoting to execute this simple task?

If it's impossible to do with Invoke-Command, I would suggest adding ThrottleLimit to Start-Job.

[2018-10-16 18:20] lzybkr commented on #8049
How about this:

[code]

This works today.

[2018-10-16 18:42] vexx32 commented on #8049
Well, it's better than the "standard" implementations we usually see, but it's still very much an arcane syntax -- I don't think I've *ever* seen anyone talk about approaching it like that before.

Additionally, any parameter attributes that need script blocks cannot be used there, as classes prevent you from supplying script blocks to member attributes. So that rules out `[ValidateScript()]`, `[A

[2018-10-16 18:43] adityapatwardhan commented on #8046
@PaulHigin Can you help with creating the constrained runspace? `Get-Process` cmdlet should be available through the SDK.

[2018-10-16 19:19] lzybkr commented on #8049
I think @bielawb first proposed this technique, maybe in this [talk](https://www.youtube.com/watch?v=RJ2jFuuaPCU).

Script blocks in attributes can be made to work with classes - it just requires delaying the creation of the scriptblock until the attribute is instantiated.

Dynamic parameters were never meant to be easy. There was always a strong desire for a declarative style, and whenever possib

[2018-10-16 19:23] iyoumans commented on #7827
I somewhat solved this issue for myself. The problem was indeed my proxy. In Windows PowerShell, I set the HTTP_PROXY and HTTPS_PROXY environment variables to my proxy URI and that solves my issue. In PowerShell Core this doesn't appear to work. Instead, I passed the -Proxy tag on the Install-Module with the URI of my proxy and that worked. Kind of a pain - does anyone know how I can set and forge

[2018-10-16 19:40] vexx32 commented on #8049
Declarative is great, it doesn't have to be "easy". But I think dynamicparam strongly tends towards more "obscure" than "declarative", really. 😕

[2018-10-16 19:46] mklement0 commented on #7827
@iyoumans: See #3112, which offers a workaround - sounds like support for these variables may come in the future, though note that on Unix-like platforms, where case matters, these variables are [commonly _lowercase_ (`http_proxy`, `https_proxy`)](https://unix.stackexchange.com/a/212972/54804).

[2018-10-16 19:49] mklement0 commented on #3112
Just to clarify, given that the variable names in this issue's title used mixed case: on Unix-like platforms, where case matters, these variables are [commonly _lowercase_ (`http_proxy`, `https_proxy`)](https://unix.stackexchange.com/a/212972/54804).

[2018-10-16 20:49] adityapatwardhan opened #8053 "Enter-PSSession does not work connected to 6.2.0-preview.1 endpoint on Windows ARM32"
`Enter-PSSession` does not work when trying to connect to the 6.2.0-preview.1 endpoint on a Windows IOT ARM32 on Raspberry Pi.

`Invoke-Command` with the same session works though.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-16 23:31] bergmeister commented on #8047
Do you mean the .net core runtime version by that? I would find that useful.

[2018-10-17 00:52] markekraus commented on #7827
CoreFX supports the following Environment Variables for proxies on Linux and macOS:

[code]

https://github.com/dotnet/corefx/blob/56d177d8ed94096c13ac14894945899783b1a3df/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs#L93

Note that it does not support `HTTP_PROXY` or `NO_PROXY`. Protocol specific trumps all. Lower case trumps upper.

[2018-10-17 01:04] thezim commented on #8050
Size would be nice in the summary too. .

[2018-10-17 01:06] lzybkr commented on #8034
@p0W3RH311 - if you're using a non-English keyboard layout, you might be hitting a known issue that was fixed in this [PR](https://github.com/lzybkr/PSReadLine/pull/768).

[2018-10-17 01:15] lzybkr commented on #8045
There is a similar complaint [here](https://github.com/lzybkr/PSReadLine/issues/744), so further discussion can take place in that issue.

For now, your best bet is probably to customize the color, see an [example](https://github.com/lzybkr/PSReadLine/blob/master/docs/Set-PSReadLineOption.md#examples).

[2018-10-17 01:15] #8045 closed

[2018-10-17 01:16] thezim commented on #7827
Thanks @markekraus. We should get this info into the docs. I do see that `Invoke-RestMethod` has fallen behind in some of its parameters as well.

[2018-10-17 01:28] vexx32 commented on #8050
It's pretty straightforward to get this information, too, so I don't see any reason *not* to go for this...

[code]

Now, granted, on a length recursive search, adding that information to *every* section of the default output might be a bit much and slow things down slightly, but I suppose that it really wouldn't add an unreasonable amount of processing if it's only being done for the display form

[2018-10-17 01:38] #7315 closed

[2018-10-17 02:41] endowdly commented on #6694
@mklement0 I see! I misunderstand the exact issue. Since @juneb discusses a _hack_ that was implemented via MAML to fix the inability to document dynamic parameters, I am hesitant to open a new issue regarding that.

This issue, syntax diagram devolution, and the inability for `Get-Help` to read Comment-based help seem to be linked. The root issue seems to be the way Get-Help operates.

[2018-10-17 02:59] Jaykul commented on #5844
Is it worth adding yet another way to do string interpolation?

Given that we already have:

[code]
and
[code]

Do we really need:

[code]

[2018-10-17 03:01] Jaykul commented on #7506
@iSazonov in my opinion, you (or @vexx32, or maybe even @lzybkr) need to move the RFC forward through _the process_ by addressing the comments...

[2018-10-17 03:36] mklement0 commented on #8043
To add to @vexx32's comments:

In a nutshell, the price of using PowerShell's pipeline - both on input and output processing - is that you lose the distinction between:

* a single item and single-element array
* nothing / `$null` and an empty array

It is a slight irony that `ConvertFrom-Json` is _not_ a good pipeline citizen in that it actually sends arrays as a _single object_ through the pipel

[2018-10-17 04:04] mklement0 commented on #8032
I peeked at the source code and found this:

https://github.com/PowerShell/PowerShell/blob/e5a41777365d8edc9e2bf5457c2bd6f2a69e5db9/src/System.Management.Automation/FormatAndOutput/out-console/OutConsole.cs#L45-L52

While I don't have the full picture, I infer the following:

* The switch is used _internally_ , in the context of using the PowerShell SDK (API), and may never have been meant to be u

[2018-10-17 04:29] iSazonov commented on #8047
I remember that this was rejected previously.

[2018-10-17 04:32] vexx32 commented on #7506
I'll take a thorough read-through of the full RFC and comments tomorrow. That one's been sitting there long enough; time to either make it work or move it aside.

[2018-10-17 04:34] vexx32 commented on #8047
It seems to me that the request is more to do with whether PowerShell is running under x86, x64, ARM, etc., rather than the .NET core runtime version itself?

[2018-10-17 05:06] p0W3RH311 opened #8058 "new operator // (if not defined)"
please consider this example

Steps to reproduce
------------------

[code]
new syntax inspired from perl

[code]

if $lang is not defined then $lang = $lol, if $lang is not defined then $lang = $bar if $lang is not defined then affect the result of scriptblock to $lang...in this case $lang = 'PS+' and print in console 'do something'

[2018-10-17 05:41] iSazonov commented on #8032
In middle of pipeline I believe we should use `Out-String`.

[2018-10-17 06:33] bergersn commented on #8046
For clarification @adityapatwardhan, @PaulHigin:
The cmdlet is available in pwsh.exe. I can host PSCore and run `(Get-Command Get-Process).DLL` and get `Microsoft.Powershell.Commands.Managment.dll` as output. So, thats working.
If I want to create a constrained runspace I need the cmdlets implementation `GetCommandCommand` which is implemented in `\src\Microsoft.PowerShell.Commands.Management\comm

[2018-10-17 06:37] bergersn commented on #8046
Can't edit my comment. This is how I run the above mentioned `Get-Command`-Thingy:
[code]

[2018-10-17 06:47] iSazonov commented on #8046
Old browser :-)

[2018-10-17 10:46] vexx32 commented on #8058
Given that PS comes from c#, perhaps utilising the common 'if null' implied behaviour of `?` would be best here?

[code]

[2018-10-17 11:53] SeeminglyScience commented on #8058
It's worth defining defining what "defined" means in this context.  In other words is it:

1. The variable hasn't been set in the current scope
1. The variable hasn't been set in the current scope *and* has not been inherited from a previous scope (true "not defined")
1. Any of the above *or* the variable has been set but is null or empty

[2018-10-17 11:57] vexx32 commented on #8058
I think 3 is probably the most effective and most intuitive solution here.

[2018-10-17 12:01] SeeminglyScience commented on #8058
@vexx32 I agree, though I'd like to see that handled with `$var = $var ?? 'value if empty'` personally.

[2018-10-17 12:04] iyoumans commented on #7827
Changing the case of the environment variables didn't do anything for me (I'm on Windows though) - I still have to use the -Proxy switch. It seems the community is aware of the issue, so I'll close this thread.

[2018-10-17 12:08] vexx32 commented on #8058
That syntax isn't bad, but given how similar that is to `$var = $var + 10` I can almost guarantee there would still be demand for the shorthand. :)

[2018-10-17 13:03] MaximoTrinidad commented on #8047
Bingo!  +1 @vexx32

There's an existing issue where ... I don't see any issues with the 64 bit version, but seems that the 32 bit is behaving differently.

So, when creating the Github issue, the it would be nice to have identify with architecture PowerShell is running on.

:)

[2018-10-17 13:17] MaximoTrinidad commented on #8034
Well, I see no issues with either 86 bit and 64 bit versions.

![powershellcore_issue_02_2018-10-15_15-18-51](https://user-images.githubusercontent.com/19892435/47088856-711d4c80-d1ed-11e8-9cc2-e9612398d0da.jpg)

[2018-10-17 13:18] bergmeister commented on #8047
Hmm, I can see the point but there is much more involved that can play into it such as e.g. the architecture of the OS and hardware...
We should differentiate between things that go into `$PSVersionTable` and the issue template

[2018-10-17 13:31] bergersn commented on #8046
Found another example, maybe my selection of Cmdlets is just... "wrong"

`Microsoft.PowerShell.Commands.Utility` exposes the implementation of `Write-Host` as `WriteHostCommand` in the `Microsoft.PowerShell.Commands` namepsace. It is not available in via `System.Management.Automation`, which is again the DLL that is referenced when a dependency on `Microsoft.PowerShell.Commands.Utility` is added v

[2018-10-17 13:31] iSazonov commented on #8052
@mkellerman Did you already see `Start-ThreadJob` cmdlet?

[2018-10-17 13:33] iSazonov commented on #8051
Do p/invoke so slow?

[2018-10-17 13:38] bergersn commented on #8046
... another one:

`Out-File`, available in `Microsoft.PowerShell.Commands.Utility`, not available via `System.Management.Automation`. `Out-Host`, on the other hand, is available via `System.Management.Automation`

[2018-10-17 14:09] powercode commented on #8051
I guess windows only.
The slowness comes from having to reopen each file to get the hardlink count. The rest of the information is available in the FileInfo object.

For the hardlink, we need to call `CreateFile` (slow) to get a handle, and then use it to get the handle info (fast).

cmd.exe doesn't do this. It shows link types when there is a reparse-point. We could display when there is a repars

[2018-10-17 14:13] megamorf commented on #7827
@iyoumans Could you reopen this issue, since I'm facing the exact issue but none of the mentioned solutions have worked for me so far. I'd like to troubleshoot this more thoroughly this weekend and post my results afterwards. If they're conclusive we can close this issue, otherwise investigate further.

Thanks 👍

[2018-10-17 14:15] iyoumans commented on #7827
Re-opening on request...

[2018-10-17 14:41] JoeSalmeri opened #8060 "Changes to FileSystem.Format.ps1xml"
PowerShell 6.1.0 is missing the format.ps1xml files.

I have some custom modifications which I have made to the FileSystem.Format.ps1xml file and have updated/merged them into new PS versions of the file whenever new PS versions were released.

This was discussed in issue #7973 with Steve-L from MSFT as it was they are simple changes which would be beneficial to all users and he suggested I submit

[2018-10-17 14:51] JoeSalmeri commented on #7973
@SteveL-MSFT

Sorry for the delay on my part, I was away do to personal issues.

I have opened Issue #8060 where I submitted the changes we have been discussing.

The file included is a copy of the latest FileSystem.Format.ps1xml file with my changes made and includes documentation at the top of what the changes are as well as documentation where each change is made.

Please let me know if you hav

[2018-10-17 15:20] iSazonov commented on #8051
I wonder that is so slow. In the [topic](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/2f2fc25b-6dd3-43ec-850c-c6ca6b428455/how-to-detect-a-hard-link-while-scanning-files?forum=windowssdk) I see " In testing, it slowed down our processing from 240ms for 21000 files, to 750ms. "

[2018-10-17 16:19] mkellerman commented on #8052
@iSazonov  I haven't, but I have seen many modules out there: PoshRSJob, Invoke-Parallel.

Invoke-Command already has a -ThrottleLimit parameter, and works well with remote execution. But why not enable it for local execution? Even if it uses jobs internally, or some other mechanism. Why make the user download an external module?

[2018-10-17 16:43] powercode commented on #8051
I'm not sure it is a breaking change. If I recall correctly, formatting is explicitly not a part of the public contract.

[2018-10-17 16:45] PaulHigin commented on #8046
Taking a look now ...

[2018-10-17 16:47] JoeSalmeri commented on #8060
@iSazonov

Yes, I understand that, it is what I have done since PS was originally released many years ago.

Did you read issue #7973 that I previously submitted about PS 6.1 missing the *.format.ps1xml files?

In that issue, I explained the changes I made and Steve (from MSFT) asked me to submit my changes as a new issue for inclusion in the default files.

This issue was created to do as I explai

[2018-10-17 17:08] KirkMunro commented on #8060
@JoeSalmeri I appreciate you sharing your extensions, but I feel I should point out a few reasons why they shouldn't be applied to PowerShell as the default format that ships with the product:

1. The date format that PowerShell uses adheres to the international ISO8601 standard. Your proposed format is US-specific, and therefore only easier to read for someone in the United States. As someone not

[2018-10-17 17:42] JoeSalmeri commented on #8060
@KirkMunro

Thanks very much for your feedback.

Did you read issue #7973 which was the original one that I reported?
If not, I would recommend reading it, however I will summarize.

Since the Windows PowerShell days, I have tweaked the FileSystem.Format.ps1xml file and then used Update-FormatData to apply my changes.

When each new version of the PS was released I would grab the new FileSystem.Fo

[2018-10-17 17:53] adityapatwardhan commented on #8046
@bergersn The SDK has changed a lot from version beta3. Can you try it with `Microsoft.PowerShell.SDK` version `6.1.0`?

Also you might need reference assemblies. Try using package: 'https://www.nuget.org/packages/PowerShellStandard.Library/5.1.0-RC1'

[2018-10-17 18:00] PaulHigin commented on #8046
I haven't experimented with hosting PSCore6 and @daxian-dbw is your best source for that.
However, instead of using SessionStateCmdletEntry for creating a sand boxed runspace, I recommend using the PSSession configuration file instead.  This is normally used for remote session configuration, but can be used for local runspaces as well.

The configuration file is used to determine how the runspace

[2018-10-17 18:03] PaulHigin commented on #8046
To see what commands you have available in your sand boxed runspace/powershell you can run the Get-Command command:
[code]

[2018-10-17 18:03] mklement0 commented on #8058
Great idea, but this has already been proposed in the context of #3240, with `??` / `?=` syntax.

I suggest we continue the conversation there.

[2018-10-17 19:31] BrucePay commented on #8058
Not quite as concise as //= (but much more so than the nested `if` statements), you can use the `-or` operator to do the following:
[code]
Short-circuiting will stop execution at the first assignment that doesn't result in null.

[2018-10-17 19:53] mklement0 commented on #8058
Unfortunately, that's not enough for a true, general "if undefined/null" pattern, given that a strictly Boolean test would fail for all "falsy" values, such as `0`.

Accounting for that gets unwieldy:

[code]

But let us continue the discussion in #3240 - or, syntax form aside, is there something here not covered in the other proposal?

[2018-10-17 20:11] mklement0 commented on #2132
I agree, given that:

* this strikes me as a clear-cut [Bucket 3: Unlikely Grey Area](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md#bucket-3-unlikely-grey-area) change

* it avoids introducing yet another operator

* extending the RHS to support arrays seems like a natural extension of the existing functionality.

Depending on your requirements,

[2018-10-17 20:42] KirkMunro commented on #8060
I feel I should also make one point of clarification, because you seemed a little defensive in your last reply. In #7973 Microsoft proposed that you submit an issue with your changes so that they could be reviewed for possible inclusion. That review is happening right now. It is not exclusive to Microsoft. It includes the PowerShell community. This is the nature of open source. I didn't indicate a

[2018-10-17 21:11] JoeSalmeri commented on #8060
@KirkMunro

No need to defend your points, I am perfectly fine if they chose not to include my changes for the reasons you stated or for any other reasons which might arise that neither of us considered.

However, "including a few examples" is not a satisfactory solution to the original issue I reported because those examples might not include the areas of formatting which I am currently modifying

[2018-10-17 21:49] kai-h commented on #8004
@TravisEz13 PowerShell remoting does not work out of the box with a clean install of PowerShell. It relies on OpenSSL libraries to be installed as well.

Without any 3rd party OpenSSL libraries installed, this is what you get:
[code]
The fix for this is to install Homebrew which is a package management system and software ports library for macOS. Homebrew installs the OpenSSL libraries in /usr/loc

[2018-10-17 22:08] mklement0 commented on #4394
Correction re sequence of namespace (drive name) and scope modifiers: as is already support (albeit inconsistently), the namespace goes _first_ - I've updated my previous comment accordingly.

[2018-10-17 22:39] mklement0 commented on #8060
There is no need for the `*.ps1xml` _files_, given that you can export the built-in definitions to `*.ps1xml` files on demand with `Export-FormatData`; e.g.:

[code]

For a specific type; e.g., `[System.Timespan]` (note that type accelerator names are _not_ supported):

[code]

That said, `Get-FormatData` is currently buggy:  #4237

Also, `Export-FormatData` doesn't accept the output file name as

[2018-10-17 23:00] jborean93 commented on #8051
IIRC a hard link isn't set as a reparse point so having a check on that won't work. I'm unsure as to the speed but you can use [FindFirstFileName](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-findfirstfilenamew) and [FindNextFileName](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-findnextfilenamew) to enumerate all hard links on a file without c

[2018-10-18 00:32] TravisEz13 commented on #7929
Updated release scripts to rename consistently and detect invalid names

[2018-10-18 00:32] #7929 closed

[2018-10-18 00:45] TravisEz13 commented on #8004
Notes to self:
The error about requiring WSMan is coming from here:  https://github.com/PowerShell/PowerShell/blob/64c1ca8926b15c476f6bb14814c55b25b844fc6e/src/System.Management.Automation/engine/remoting/fanin/WSManTransportManager.cs#L2622

Which loads
[code]

@kai-h  Do you have any problems with Invoke-WebRequest to HTTPS sites on machines configured how you want them to be configured?

libmi

[2018-10-18 00:53] SteveL-MSFT commented on #8060
@KirkMunro is correct that my ask is to submit changes @JoeSalmeri makes that he finds useful to see if the broader community found them useful and if so, it would make sense to include in the product.  Based on the discussion, thus far, it seems there is a concern that it is very en-US locale specific.  Given that analysis, it doesn't make sense to change the default formatter.  However, it may m

[2018-10-18 01:11] SteveL-MSFT commented on #8026
I think there is a bug in that PSCore6 shouldn't look into the Windows PowerShell core modules as it gives confusing output where a command appears to be available, but won't actually work as module analysis finds the cmdlet in the Windows PowerShell module, but module loading looks in the PSCore6 version and doesn't find it.  cc @rjmholt

However, the expected way to get this to work IS with the

[2018-10-18 01:46] SteveL-MSFT commented on #8012
Technically, the runspace is Opened, but if InitialSessionState is not complete it's limited.  I wonder if it's better to add a new state `Ready` after ISS is complete instead of changing current behavior.  cc @BrucePay @daxian-dbw

[2018-10-18 01:55] mklement0 commented on #6271
Quibble: PowerShell has its own system of streams and its _error [output] stream_ is not the same as _stderr_.

Just to provide some historical context (I can't speak to the design intent):

The current behavior has been effect since v3.

In v3+, _all_ types of errors are quietly ignored (but still recorded in `$Error`):

In v2, curiously, only _statement-terminating_ errors were passed through (r

[2018-10-18 02:08] SteveL-MSFT commented on #8052
@mkellerman as @iSazonov pointed out, `Start-ThreadJob` has a `-ThrottleLimit` parameter.  `Start-Job` probably should have it as well...  As you noticed, `Invoke-Command` has `-ThottleLimit` when used with remoting which makes sense.  You could point `Invoke-Command` to localhost, but I think `Start-ThreadJob` is a much better existing solution.

[2018-10-18 02:32] mkellerman commented on #8052
@SteveL-MSFT Ahhhh, my bad. I didn't know it was part of a new release.. I saw this GitHub project (https://github.com/PaulHigin/PSThreadJob) and thought it was an external module we had to install.

Cheers!

[2018-10-18 02:32] #8052 closed

[2018-10-18 02:33] mklement0 commented on #7989
Arguably, what PowerShell should always have done is to map _all streams other than the success stream_ to stderr (this is basically what native shells / utilities are forced to do: anything that's not data must go to stderr) - throwing everything into stdout was never a good idea.

It is another unfortunate example of PowerShell treating the outside world as an afterthought - which was less of a

[2018-10-18 02:52] aricamf commented on #8044
@vexx32 I've read the logging paragraph of the above document. Yes, it's a solution to have better traceability of function calls, though a little big complex. I will consider this as a temp solution.

Thanks so much.

[2018-10-18 02:52] #8044 closed

[2018-10-18 02:54] mklement0 commented on #7989
P.S.:

While everything currently goes to stdout in the absence of redirections or only  stdout redirection, at least with an  `2>` redirection it is currently possible to capture the _error stream_ separately - but _only_ the error stream: streams 3 - 6 invariably go to stdout.

Here are variations of a simple test command that exercises all streams:

[code]

[2018-10-18 03:00] JoeSalmeri commented on #8060
@SteveL-MSFT

Regarding the ps1xml you pointed out what @mklement0 said regarding exporting using Get-FormatData, however, you seemed to ignore the part where he said that Get-FormatData is current buggy...

I ran the "Get-FormatData | Export-FormatData -LiteralPath all.ps1xml" that @mklement0 provided and it is indeed quite buggy as it appears that NONE of the items in FileSystem.format.ps1xml ar

[2018-10-18 03:06] SteveL-MSFT commented on #7989
@mklement0 changing from STDOUT to STDERR is probably too big a breaking change to take at this point, adding a switch to `pwsh` to enable this is doable if people will actually use it.

[2018-10-18 03:07] SteveL-MSFT commented on #8052
@mkellerman `ThreadJob` is included with PSCore6.1, but can optionally be installed for Windows PowerShell and PSCore6.0

[2018-10-18 03:41] iSazonov commented on #8026
Related PR #7727. Perhaps we need more general fix.

[2018-10-18 03:49] iSazonov commented on #8051
Seems two fields is affected - LinkType and Mode.

[2018-10-18 04:15] Jaykul commented on #4096
### I, for one, **definitely** don't want a REST endpoint.

I already have PowerShell remoting and constrained endpoints, etc. I don't need a replacement **server** product -- I need client libraries to call the PowerShell remoting endpoints I already have.

For what it's worth, we have web apps that currently make PowerShell remoting calls, and as we're moving things to ASP.NET Core, we still nee

[2018-10-18 04:42] #7828 closed

[2018-10-18 05:04] #3383 closed

[2018-10-18 05:37] mklement0 commented on #7989
@SteveL-MSFT, I just remembered the discussion about providing a separate `pwsh-np` binary for starting PowerShell without loading `$PROFILE`, for use in shebang lines (see #992).

Perhaps we should consider fixing all the broken things there, to provide a CLI that fits better into the Unix world and has saner defaults overall (perhaps with a different name than `pwsh-np`).

Aside from not loading

[2018-10-18 06:16] SteveL-MSFT commented on #8060
@JoeSalmeri I submitted https://github.com/PowerShell/PowerShell/pull/8063 which fixes the problem with `Get-FormatData` and validated you can export it to a ps1xml file.  This should resolve your ability to customize formatting.

[2018-10-18 06:28] SteveL-MSFT commented on #7989
@mklement0 that may be a good solution as it wouldn't be a breaking change, but then `pwsh-np` may not be a good name to capture the differences to `pwsh`

[2018-10-18 06:29] bergersn commented on #8046
Thank you @PaulHigin, it seems using a configuration file is a good workaround! I will try that.

I still feel that this is some oversight. Why is, from my point of view, a "basic" command like `GetCommandCommand` not made available through the `System.Management.Automation` ref-Assembly?

@adityapatwardhan I am using 6.1.0. The link I provided was just how I gut my initial project.

I will try us

[2018-10-18 06:31] SteveL-MSFT commented on #4096
The REST discussion deviated from the original topic (yes, I did that!).  Let's focus discussion of this issue on a client library to remotely manage existing PowerShell endpoints.

[2018-10-18 06:59] powercode commented on #8051
The problem is the extra roundtrips to disc, since we don't get enough information from the FileInfo. And going from a FileInfo to a filehandle, which is needed to get the the hardlink count, is expensive on windows.

I argue that this info is so rarely needed that paying the price all the time is not motivated.

Here's some pointers to the relevant docs for people interested in looking deeper:

D

[2018-10-18 07:04] powercode commented on #8051
@iSazonov I'm not that concerned about the LinkType as it isn't displayed by default.
I'm starting to think that the right solution is just to change the default formatting. We can keep the current as a non-default view.

[2018-10-18 07:11] SteveL-MSFT commented on #8035
Public key auth is the recommended way to go.  To support `-Credential` for username/password, we need https://github.com/PowerShell/PowerShell/issues/5782

[2018-10-18 07:12] #8035 closed

[2018-10-18 07:14] SteveL-MSFT commented on #5782
Basically, SSH doesn't support the concept of just sending username/password as it's not considered secure.  The default is to require keyboard-interactive auth which the server (sshd) sends a  prompt back to the client (ssh) and the user types their password.  SSH does have a concept of ASKPASS as a way to prompt for username/password for GUIs (where there isn't a console to receive the prompt).

[2018-10-18 07:14] iSazonov commented on #8051
@powercode Remove mode from default view? I'd vote to follow cmd.exe behavior (exclude hardlynk from the mode)

[2018-10-18 07:58] #5253 closed

[2018-10-18 07:59] felixfbecker commented on #7526
@SteveL-MSFT responding to https://github.com/PowerShell/PowerShell/issues/7749#issuecomment-428669573

It seems like the parser is parsing XML 1.1 just fine though, it just rejects the 1.1 processing instruction. Could we just regex replace the version in the processing instruction before handing the string to the parser? It’s just the first line and not full XML, so should be safe to transform w

[2018-10-18 08:20] MaximoTrinidad commented on #8047
At least...  Add the session "$env:PROCESSOR_ARCHITECTURE"  to the "Environment Data" section when create the issue in Github.

I think this will be helpful enough and no changes are needed to the PSTableVersion is needed.

:)

[2018-10-18 09:04] powercode commented on #8051
I'm fine with that too.

[2018-10-18 09:46] SteveL-MSFT commented on #7584
The problem is that we start ssh with redirected stdin, so sshd doesn't create a PTY as it thinks it is in batch mode and not interactive (well, technically true).  Tried using `-t` and `-tt` to force creating a PTY which unfortunately doesn't work as the connection gets closed.  Workaround for now is to explicitly set `TERM` manually

[2018-10-18 10:41] iSazonov commented on #8051
@SteveL-MSFT Can you confirm the change?

[2018-10-18 11:55] iSazonov commented on #8050
Seems we have dup. I can not find the issue /cc @lzybkr

As for implementation we could internally create (recursively for every directory) special psobject with statistics and output it to pipeline to get output like cmd.exe. Only formatting system should be enhanced to understand this.

[2018-10-18 12:16] jawn commented on #2254
Inspiration:

* [C# Language Specification](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/)
* TypeScript started with a [formal spec](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md) but does not maintain it any more. The truth is now in PR documentation and [this website](https://www.typescriptlang.org/docs/home.html), which includes a Ha

[2018-10-18 12:18] iSazonov opened #8064 "Cleanup using StringComparison.CurrentCulture"
We need review using StringComparison.CurrentCulture in all code base.

[Best Practices for Using Strings in .NET](https://docs.microsoft.com/en-us/dotnet/standard/base-types/best-practices-strings)

For stable behavior InvariantCulture looks right for date and time formats but Unicode standard Simple Case Folding is better for comparison and sorting.

[2018-10-18 12:41] jawn commented on #2254
Also, consider `pandoc  to transform to many more formats.

[2018-10-18 13:34] JoeSalmeri opened #8066 "PSReadLine broke the Insert Key functionality that previously existed before its inclusion in PowerShell"
This  bug has existed since the PSReadLine module was introduced to PowerShell and goes back to before PowerShell Core existed.  It exists in BOTH Windows PowerShell (latest version) as well as PowerShell Core 6.1.

Prior to the inclusion of the PSReadLine module, when typing at the PS command line, you could press the Insert key to toggle between insert mode and overtype mode.

After the PSReadLi

[2018-10-18 13:57] JoeSalmeri commented on #8060
@SteveL-MSFT

Wow, that was a quick turnaround!

A few questions for you....

1)  Will the results returned match what is now being used internally so that if that internal formatting is
     changed in the future then the results will reflect those changes?   Do we have something in place to
     ensure that Get-FormatData output is not missing formatting data as it was in this case?

2)  Is ther

[2018-10-18 13:57] Stephanevg commented on #6418
Hi, I was wondering if any preogress has been done on this one? @SteveL-MSFT It seems like this one is not assigned anymore. It would be great to have these features / fixes implemented for 6.2

[2018-10-18 14:32] Artem-av-st commented on #7885
@SteveL-MSFT I am still investigating this issue and have found following.
My application stucks on EndInvoke method of AsyncResult class when calls WaitHandle.WaitAny(...):

[code]
I will be glad to see your ideas after  PSConfAsia. Thanks

[2018-10-18 14:39] KirkMunro commented on #8012
I've been thinking about this issue a lot since I posted the questions/thoughts earlier, and it's a challenging one to fix. I don't think that setting the runspace state can be deferred until post initialSessionState setup, because logic in PowerShell requires that a runspace state be opened before commands can be invoked, so it's a chicken and egg problem because initialSessionState may contain s

[2018-10-18 15:32] rkeithhill commented on #8051
Will `-Force` "force" the display of this info?  I do have some hardlinks that I'd link to see what they're targeting.

[2018-10-18 15:41] KirkMunro opened #8069 "Move PowerShell folder on Windows from ${env:USERPROFILE}\OneDrive\Documents\PowerShell to ${env:USERPROFILE}\.powershell"
Recent releases of Windows 10 have replaced the Documents folder in a user's profile with OneDrive\Documents, which is automatically mirrored into each user's cloud-hosted OneDrive account. OneDrive only offers 5GB of cloud space for free, and once that is full important documents may not be mirrored into the cloud. Since Windows PowerShell modules can be quite large (the Az module bundle is 53MB,

[2018-10-18 15:49] vexx32 commented on #8051
Get-ChildItem's `-Force` flag is primarily for displaying hidden or system files. I'd be inclined to think... probably not. I believe there was discussion of a separate switch to enable querying this information?

[2018-10-18 15:59] it-praktyk commented on #4096
@nitzmahone, @jborean93, is it something that can be used by Ansible to manage Windows?

[2018-10-18 15:59] PaulHigin commented on #8046
I think @daxian-dbw  can help answer the type availability question.  Unfortunately he is OOF this week but hopefully can contribute next week.

[2018-10-18 16:09] RichardSiddaway commented on #7685
This is still an issue in v6.2 preview that has just been made available. is it likely to be resolved?  The current output while the pings are happening is just acceptable in an interactive session but is unnecessary when running a script.

Why do we need the write-progress bar for a ping? That's just totally unnecessary when the same data is echoed in the text output.

The final output needs the

[2018-10-18 16:12] RichardSiddaway commented on #7895
If the working directory is going to be set the user should be given the option of overriding the default when PowerShell is installed. we get the option to override the install folder why not the workingdirectory?

[2018-10-18 16:29] rjmholt commented on #8026
@cmichaelingram can you execute the following on your machine and paste the results here:
[code]

On my machine I'm a few strange things:
- The Windows PowerShell `Microsoft.PowerShell.Management` module has been marked as `Core` compatible (the manifest of the module confirms this)
- `gmo Microsoft.PowerShell.Management | fl *` reports the correct `ModuleBase` property (in the Windows PowerShell

[2018-10-18 17:01] SeeminglyScience opened #8070 "Release notes for 6.2 preview 1 has duplicate attribution"
Under "Engine Updates and Fixes"

Both of these lines refer to the same PR, and the change was already included in 6.1 GA.

[2018-10-18 17:07] cmichaelingram commented on #8026
@rjmholt Sure thing!

I ran a "Import-Module Microsoft.PowerShell.Management -maximumversion 4.0" prior to running the Get-Module command you specified - that way you could view the get-module results for both versions of the Microsoft.PowerShell.Management module.

PS C:\Users\cingram> get-module Microsoft.PowerShell.Management | Format-List *

LogPipelineExecutionDetails : False
Name

[2018-10-18 17:17] bergmeister commented on #7895
@RichardSiddaway We could certainly add an option to specify a different working directory for the start menu shortcut (or nothing at all, pwsh would then start in the installtion folder) but this would not address the problem highlighted by this issue where the working directory gets set too late

[2018-10-18 17:29] RichardSiddaway commented on #7895
It may not solve the conflict between the profile and the -workingdirectory parameter but it would effectively remove the conflict or the need to set a directory in your profile. It  would also be a potential (partial) solution to issue  #8069

[2018-10-18 17:41] adityapatwardhan commented on #8046
@bergersn The SDK package only has the reference assembly for System.Management.Automation.dll. By adding the PowerShellStandard.Library package, you should be able to get the type `GetProcessCommand' at compile time. This would prove my hypothesis about the compile time dependency.

If adding PowerShellStandard.Library package works for you, that can be used as a workaround. We might have to add

[2018-10-18 18:34] adityapatwardhan commented on #8037
Release completed.

[2018-10-18 18:34] #8037 closed

[2018-10-18 18:44] #6954 closed

[2018-10-18 19:15] jborean93 commented on #4096
@it-praktyk from the original topic probably not. We use our own Python client(s) and talk to the server. Having a REST endpoint is interesting but we currently don't have any plans on officially supporting PSCore in the short term which is what will be affected by this.

[2018-10-18 19:40] mbwmbw1337 commented on #5924
Agreed. Very annoying. This needs to be fixed.

[2018-10-18 19:54] mklement0 opened #8072 "Make the new, future no-profile CLI for use in shebang lines implement other CLI fixes too"
<sup>Follow-up from a conversation with @SteveL-MSFT in #7989.</sup>

PowerShell's existing CLI has a number of problems, relating to:

* (a) unconditionally dot-sourcing `$PROFILE`, making for unpredictable execution environments - see #992
* (b) parameter syntax and parsing, both in general and with respect to fitting into the Unix world - see #3743
* (c) unhelpful mapping of PowerShell's output

[2018-10-18 20:21] Jaykul commented on #4096
@jborean93 well, the client library would be .NET Core, but it would be able to talk to either Windows PowerShell or PowerShell Core endpoints. It would basically be a .NET version of the Python client ;)

[2018-10-18 20:43] jborean93 commented on #4096
@Jaykul agreed, technically on the Windows side you have `winrs` which allows you to run commands over WinRM outside of PSRP but that's Windows specific.

[2018-10-18 22:28] #7750 closed

[2018-10-18 22:39] thezim commented on #8069
It should use the [XDG Base Directory Specification](
https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) like the other operating system. Is there any reason to have Windows be different?

[2018-10-18 23:03] thezim commented on #8066
PSReadLine issues are here.

https://github.com/lzybkr/PSReadLine/issues

[2018-10-18 23:50] KevinMarquette opened #8076 "Test-Path -Path $null should return $false"
Test-Path will throw an error when the path is `$null` (or an empty string) instead of returning `$false`.

The errors that we do get are parameter binding errors

I find myself often running into errors with `Test-Path` because of empty or `$null` strings. Then I end up making my validation more complex to account for it.

[code]
It would be nice if it would just return `$false` (or offer a `-Qui

[2018-10-19 00:34] #8070 closed

[2018-10-19 00:45] KirkMunro commented on #8069
@thezim I don't agree or disagree (I wasn't familiar with that spec before you mentioned it), but at a glance I think that is a different issue to propose than this specific problem that should be resolved independently of a directory specification.

[2018-10-19 00:46] TravisEz13 opened #8078 "The Markdown spelling tests should be converted to a Pester test"
Current tests:
https://github.com/PowerShell/PowerShell/blob/1dc4a7903f6a579640d3cf9e7104512e85b4455c/.vsts-ci/spelling.yml#L27

Example of the markdown lint tests written in pester:
https://github.com/PowerShell/PowerShell/tree/master/test/common/markdown

[2018-10-19 00:53] SteveL-MSFT commented on #8072
Whatever name we choose, we also need to consider `pwsh-np-preview`

[2018-10-19 01:07] SteveL-MSFT commented on #7895
I think for the majority of users, having the `-WorkingDirectory ~` in the shortcut is the preferred experience to have it default to their home directory than $PSHOME.  The fix for this immediate problem is simple, just move the processing of `-WorkingDirectory` earlier although it could have a breaking change impact if $PROFILE expects to start in $PSHOME.

[2018-10-19 01:15] lzybkr commented on #8066
This is a duplicate, any further discussion should happen in https://github.com/lzybkr/PSReadLine/issues/402.

[2018-10-19 01:15] #8066 closed

[2018-10-19 01:16] thezim commented on #8069
Sorry for not being clear. What I meant to say was PowerShell already respects XDG spec for Linux and macOS. We should extend that to Windows as well. Module when then go in `~/.local/share/powershell/Modules` which would address the issue.

https://github.com/PowerShell/PowerShell-Docs/blob/staging/reference/docs-conceptual/setup/Installing-PowerShell-Core-on-Linux.md#paths

https://github.com/Po

[2018-10-19 01:38] SteveL-MSFT commented on #7526
@felixfbecker a bit hacky, but it might be acceptable.  Need someone more of an expert with XML to indicate if there are any unanticipated side effects

[2018-10-19 02:37] KirkMunro commented on #8069
I agree with the benefits of consistency. The path doesn't matter so much since you can just set up PSDrive's in a profile, and I wasn't personally attached to the path I proposed -- I simply chose it based on the other similar paths like .nuget, .vscode, etc.

[2018-10-19 02:39] SteveL-MSFT commented on #8060
@JoeSalmeri yes, `Get-FormatData` returns the current state, not the default so you can rely on it.  This would be in 6.2 (Preview.2 at the earliest).  Regarding my comment, basically if a format requires enhancements made in 5.1 and 5.1 wasn't requested, then you wouldn't get that formatter.  This is to allow Windows PowerShell v2, v3, v4, and v5 to work against a Windows PowerShell 5.1+ remoting

[2018-10-19 02:46] mklement0 commented on #8072
I don't understand, @SteveL-MSFT: why `*-preview`?

[2018-10-19 03:27] iSazonov commented on #8060
Make sense to enhance the cmdlet to get default state?

[2018-10-19 03:51] iSazonov commented on #8051
I'd consider -IncludeHardLinks for Get-Item and Get-ChildrenItem.

[2018-10-19 05:14] SteveL-MSFT commented on #8051
I would be ok with removing hardlinks by default.  A dynamic param for FileSystemProvider may be an ok solution.

[2018-10-19 05:15] SteveL-MSFT commented on #8060
@iSazonov if there's a need.  However, you can work around that by starting a new PowerShell

[2018-10-19 05:17] SteveL-MSFT commented on #8072
@mklement0 we want to maintain a consistent separation of the stable and preview releases so I would think we'd have `pwsh`, `pwsh-preview` like we have today, along with `pwsh-np` and `pwsh-np-preview`

[2018-10-19 06:16] SteveL-MSFT commented on #8026
Yes, it appears that we should not have marked that module as `Core` in Windows PowerShell and rely on WindowsCompatibility module to use those cmdlets.  @rjmholt I'll leave it to you to make the fix in Windows.

[2018-10-19 06:45] bergersn commented on #8046
Thanks again to @PaulHigin @adityapatwardhan !

I wasn't able to try PowerShellStandard.Library. I am behind a very restrictive nuget proxy and I can't download the nuget package :( I'll try to get it some other way and report back :)

I'd be really interested in @daxian-dbw take on this :) I'd keep the issue open until then

[2018-10-19 06:55] whitequill commented on #8040
I was just noticing a similar problem.
`New-Variable -Scope private -Name test -Value "D:\Users\brazg\Documents\test"`
if you type
`$global:test` or `$local:test` or `$private:test` they will all return the same value.

[2018-10-19 09:10] bergersn commented on #8046
@adityapatwardhan
`System.Management.Automation.dll` from PowerShellStandard.Library nuget package also does not expose `GetProcessCommand`, `WriteHostCommand`, `OutFileCommand`...

[2018-10-19 09:16] SteveL-MSFT commented on #8046
cc @JamesWTruher

[2018-10-19 10:06] iSazonov commented on #8026
I see no reason to load core modules from other PowerShell version at all. I think we should block this in PowerShell Core.

[2018-10-19 12:41] dustindortch opened #8085 "Fix Here-String Indentation"
With a Here-String, one must align the content and the close to the left without whitespace for it to work properly. It would be great if the close didn't require no indentation (but could be required to be on its own line, minus the whitespace). Then, however far it is indented, remove that leading whitespace from the content.

As an example, the dashes would be whitespace:

[code]

It would be a

[2018-10-19 13:00] vexx32 commented on #8085
For a more lengthy difference sample, I submit my [Write-MeditationPrompt](https://github.com/vexx32/PSKoans/blob/master/PSKoans/Private/Write-MeditationPrompt.ps1) function from PSKoans.

Without this change, I have to keep my here-strings in a hashtable to contain the chaos:
[code]

Although, granted, the reason this screws with indentation so much is because here-strings take all things, even w

[2018-10-19 13:38] MaximoTrinidad commented on #3957
Hum!! @SteveL-MSFT ... does this count as a "Experimental Flag" feature.
I'm up for it!

[2018-10-19 13:59] kvprasoon opened #8086 "Set-Location -LiteralPath does not treat "-" and "+" as literals."
From great feature, I would say Navigation is impossible to folder named `-` and `+`

![image](https://user-images.githubusercontent.com/12897753/47222628-cfaf1a00-d3e9-11e8-9d32-64a2cb915c42.png)

```Set-Location -LiteralPath -``` as well

Environment data
----------------

[code]

[2018-10-19 14:09] vexx32 commented on #8086
Surely this is accessible with `cd .\-` and `cd .\+`?

[2018-10-19 14:12] kvprasoon commented on #8086
@vexx32  But that's not how directory navigation should be.

[2018-10-19 14:21] vexx32 commented on #8086
That's an opinion, not a fact. And I'm sure folks accustomed to using `cd -` and `cd +` on Linux would disagree there. 😄

[2018-10-19 14:56] cpumanaz commented on #5924
Could really use the ability to tail logs without having to use workarounds.

[2018-10-19 16:59] lzybkr commented on #8085
This is a duplicate of https://github.com/PowerShell/PowerShell/issues/2337

[2018-10-19 17:39] rkeithhill commented on #8086
You have a similar issue with a dir named `[foo]`.  You can cd to it with `cd -lp [foo]` but the same doesn't work with `cd -lp -`.  I think perhaps that should work in addition to `cd .\-`.

[2018-10-19 17:43] vexx32 commented on #8086
Yeah, I'd agree that `-LiteralPath` should not exhibit the history-navigation behaviour for obvious reasons!

[2018-10-19 17:45] megamorf commented on #7827
Okay, I seem to have narrowed down the issue. Among the people affected seem to be some Solus users as well.

## Issue description

PowerShell Core is installed as classic snap. The web cmdlets and webclient related actions all fail with the following error message when attempting to connect to TLS protected resources while host OS binaries like curl can connect just fine:

There are two possible

[2018-10-19 18:05] iyoumans commented on #7827
Option 1 above worked for me.

[2018-10-19 18:50] #8085 closed

[2018-10-19 19:20] #7973 closed

[2018-10-19 19:31] JoeSalmeri commented on #8060
@SteveL-MSFT

Thanks for the clarification and also rough timeline as to when I can expect to the see the change to Get-FormatData.

Regarding your clarification about it getting the current state and not the default state and your tip to get the default state by starting a new pwsh, I believe that would not actually work because launching the new pwsh would by default load the users profile which

[2018-10-19 19:36] JoeSalmeri commented on #8066
@thezim thanks for the heads up.  @lzybkr thanks for the link to the issue I reported

[2018-10-19 22:39] vexx32 commented on #8043
In all your examples from other languages, this is only doable on values that can be *confirmed to be collections* at every part of the sequence.

PowerShell fundamentally isn't like that with its pipeline. Collections are broken apart, and there *is fundamentally no difference* between one item and many.

Consider:

[code]
What you're suggesting is for *both* of these to result in arrays, even wh

[2018-10-19 22:47] masaeedu commented on #8043
Wrong. I am not suggesting that `1 | ForEach-Object {$_}` should be an array. I am suggesting that `@(1) | ForEach-Object {$_}` should be an array. In other words, whenever it is the case that the output of `$x.GetType()` is:

[code]

then the output of `$x | % {$_}` should similarly have type `Array`. You can apply this check yourself to `@(1)` and `1` to see the difference.

This sounds like non

[2018-10-19 22:55] vexx32 commented on #8043
Correct. All of those methods, however, are only valid on collections themselves. You cannot take a scalar value as you can in PowerShell and apply such a method.

PowerShell *intentionally* doesn't keep track of the fact that the original item is an array or not. I don't think there is a solution to your quandary, save keeping track of it yourself. 😄

[2018-10-19 22:58] masaeedu commented on #8043
To make this more precise, currently neither `$Result` in:

[code]

is an array. The second should be, the first should not. Since this isn't the case, it should at least be possible to construct your own `map` function to provide the desired behavior as `@(1) ?? map(...) ?? map(...)`. If we try to use `|` we're foiled again, since PowerShell won't leave arrays alone.

So we should perhaps have so

[2018-10-19 23:07] vexx32 commented on #8043
There is such a thing, sort of, and it's quite close to hand.

You're looking for `.ForEarch{}` and `.Where{}` -- PowerShell magic methods. They can be applied to literally any object in PowerShell, just like their pipeline cousins. However, they too are not *perfect*.

Counter to the pipeline, using these methods will *always* result in a collection. Seems to be a generic collection, from what I

[2018-10-20 01:31] SteveL-MSFT commented on #7685
Windows PowerShell used the WMI Win32_PingStatus class and each object in the output is an instance of Win32_PingStatus.  Since WMI and that class is Windows specific, `Test-Connection` needed to be rewritten for ICMP pings to work cross platform.  It was reimplemented using the NetInformation.Ping class.  The output you see at the console which resembles the `ping` command output is synthetic and

[2018-10-20 01:33] SteveL-MSFT commented on #4237
@PaulHigin are you aware of there is a way for a cmdlet to detect it is being remotely?

[2018-10-20 01:35] SteveL-MSFT commented on #8060
@JoeSalmeri yes, there is a risk that a user profile may make changes, so using `-NoProfile` is needed to ensure it's "clean"

The PR was merged, so you can try it out with tomorrow's nightly build (or just build master branch yourself).

[2018-10-20 01:39] SteveL-MSFT commented on #8086
`Set-Location -LiteralPath -` should treat it as a literal path and not `Pop-Location` so that is a bug.  We can use this issue to track that.

[2018-10-20 01:42] vexx32 commented on #7685
Yeah, sure you can `-InformationAction Ignore`, but why is that necessary to avoid polluting host output? Why does it utilise a method that is otherwise restricted to `Write-Host` to output data that isn't wanted, *especially* with the `-Quiet` flag applied?

It's a very un-PowerShell mode of operation, from what I can see. 😕

[2018-10-20 02:32] SteveL-MSFT commented on #5924
I don't see any inherent problem with changing it to FileShare.ReadWrite.  I'll submit a PR.

[2018-10-20 02:35] vexx32 commented on #7685
My thoughts, after playing around with the code:

1. Either *ditch* or actually, _properly_ utilise `WriteProgress`. Currently it displays only the exact same data as is being shown in the host output. There is no reason for its inclusion here. If, for example, it was hidden behind an _optional_ switch, or configured to display actual progress (i.e., number of pings attempted thus far out of total

[2018-10-20 05:31] rjmholt opened #8090 "ConvertTo-Json does not honour [DataMember(EmitDefaultValue = false)] on properties"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-20 05:36] rjmholt commented on #8090
Unfortunately it also does not honour the `[JsonProperty(NullValueHandling = NullValueHandling.Ignore)]` setting in source.

[2018-10-20 06:17] SteveL-MSFT commented on #8090
Wouldn't these be issues in NewtonSoft.Json and not the cmdlet?

[2018-10-20 07:57] SteveL-MSFT opened #8092 "Smarter completer for strings that are not file paths"
Filesystem paths are strings for parameters.  So for any string parameter that doesn't have `ValidateSet`, tab completion defaults to using the filesystem provider.  For compatibility, we can't ask everyone to decorate parameters that are filesystem paths to indicate they should use the filesystem provider for tab completion.  Instead, we can introduce a new attribute to declare it's NOT a filesys

[2018-10-20 09:51] chipitsine opened #8093 ""Install-Module -Name AzureRM -AllowClobber" fails"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-20 11:43] MaximoTrinidad commented on #8093
Hi @chipitsine

First, the module you're trying download is the Windows version and not for PowerShell Core.

Also, you'll need to install the new version: Az Module.  This newer module is fully compatible with both Windows PowerShell and PowerShell Core.  This is due to recent changes moving forward as the AzureRM.Netcore is not longer updated.

Make sure you're installing it with elevated permis

[2018-10-20 13:09] lukepayne commented on #4857
Hey @PowerShellTeam can I take this one on?

[2018-10-20 14:08] vexx32 commented on #8092
Why use a whole new attribute? I think predefining some behaviours for ArgumentCompleter would be much more extensible.

[code]

[2018-10-20 14:15] vexx32 commented on #4857
It's up for grabs and still here since last year. Go for it! 😆

[2018-10-20 14:38] rjmholt commented on #8090
@SteveL-MSFT yes, except in the same session (with nothing special loaded):
[code]

[2018-10-20 14:42] kilasuit commented on #8092
^^^ Totally agree with the above.

This to me makes more sense than a new attribute

[2018-10-20 15:12] chipitsine commented on #8093
Thank you for an explanation. I will try that module.

If I tried to install inappropriate module, why it did not provide me clear reason?

[2018-10-20 16:30] iSazonov commented on #7685
The current implementation is experimental port to get feedback.
There is two scenario - interactive and script - and both clash. In interactive one we want verbose console output and in script one we don't want console output.

There is plans to enhance the cmdlet (pathping, detect dumb routes...).

There is bugs in CoreFX. We have a tracking issue. Without fixing it we can not get well working T

[2018-10-20 16:34] iSazonov commented on #7685
It is absolutely impossible as @SteveL-MSFT said.

[2018-10-20 16:37] iSazonov commented on #8060
@JoeSalmeri You could make additions for the scenario in PowerShell-Docs repo.

[2018-10-20 16:53] iSazonov commented on #3957
New name will difficult to discover. Perhaps it should be proxy to add new parameter `-gui`.

[2018-10-20 16:57] vexx32 commented on #7685
There could definitely be a need for the default display in an interactive scenario. But in *none* of the scenarios is the `WriteProgress()` useful. It gives *identical* information to what is being passed to host. If it is kept, it should be utilised properly as suggest; otherwise, it can be removed as it really adds nothing. Additionally, `-Quiet` ***should absolutely*** suppress all display. Th

[2018-10-20 17:07] vexx32 commented on #7685
Additionally, the objects output in the case of a `-Traceroute` suffer the same problems; information is completely buried in the reply list properties instead of being sensibly displayed. I suspect this information may *also* make more sense tabulated as separate object entries with the right data, again leaving the information stream/host output unnecessary and best relegated to the Verbose stre

[2018-10-20 17:29] iSazonov commented on #8092
It is fallback. How many we have or can have such fallbacks? My thoughts here is about something like `ArgumentCompleter(SuppressFallback = $true)`

Do we really need the fallback and why?
As minimum I think it would be best practice to do this (to decorate path parameters) for future. We could use `ArgumentCompleter(filesystem)` for path parameters in the repo.

[2018-10-20 17:41] iSazonov commented on #8093
@chipitsine Please mae your feedback to  PowerShellGet repo.

[2018-10-20 18:53] JoeSalmeri commented on #8060
@SteveL-MSFT

Thanks, I'd prefer to just download a nightly branch to test.

Do you have a link for the night branch builds?

I found the following but was not sure if it was the nightly builds you are referring too:

https://github.com/PowerShell/PowerShell
Then scroll down to the section which says
You can also download the PowerShell binary archives for Windows, macOS and Linux.
Then download
h

[2018-10-20 21:11] mklement0 commented on #8086
@kvprasoon, can you please change the issue title to something like the following?

[2018-10-20 23:59] vexx32 commented on #7685
This is where I've currently gotten, with some modifications to the cmdlet, and adding a couple properties to the summary objects it returns, as well as messing about with the default formatting (thanks be to @SeeminglyScience for helping me figure out where to put that in!) on these objects:
[code]
I'd appreciate any thoughts you guys may have. I've been trying to get the formatter to snip the `A

[2018-10-21 02:45] mklement0 commented on #8072
Ah, of course, thanks @SteveL-MSFT.

Any thoughts on a suitable new name that respects the scope and intent of the changes?

`psh`, perhaps? (OK, just kidding).

Naming is tricky, because the name should be kept short, so I fear it'll come down to documenting things well.

`pwshc`? (with the `c` representing a (proper) CLI).

[2018-10-21 03:42] AceHack opened #8094 "When will Alpine stable docker images start getting created with the rest?"
I'm looking at the image

https://github.com/PowerShell/PowerShell-Docker/blob/master/release/stable/alpine/docker/Dockerfile

I'm wondering when it will start being used and created like I notice the latest 6.2 does not use it.

Also, there are comments like:

So when will the official build produce a full package for Alpine?

[2018-10-21 05:08] p0W3RH311 opened #8095 "it should be equal to 0 !?"
0.4 - 0.3 - 0.1 is equal to zero but is true only for Perl6 ?! why PS not return the correct result...and python ?!!

Steps to reproduce
------------------
[code]

[code]

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-10-21 05:35] vexx32 commented on #8095
Common problem with floating-point arithmetic.

Computers don't typically represent numbers in true base 10 that we're accustomed to. It's to inefficient to keep track of and usually not significant enough to worry about. They use binary floating-point numbers to approximate a large number space without wasting a ton of memory on the value.

This isn't really the place to talk about it in full, bu

[2018-10-21 05:43] vexx32 commented on #8095
Brief depiction of why this is an issue:
[code]
A number we can represent with `0.4` in base 10 has infinite digits in binary.

[2018-10-21 11:29] iSazonov commented on #7685
For feedback #6557.
CoreFX issue #28934.

[2018-10-21 11:30] p0W3RH311 opened #8096 "-syntax switch with aliases give definition instead of true syntax"
get-command return the definition of aliases instead of syntax...it will be nice if -syntax switch return the definition for the powershell core running in windows system....why hiding important help information ?

Steps to reproduce
------------------

[code]

it return the definition of cmdlet for all alias

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[c

[2018-10-21 11:38] iSazonov commented on #7685
There is many questions. Someone can prefer progress bar. Or I'd expect that `-Verbose` works for `-Quite`. And so on.

[2018-10-21 11:50] vexx32 commented on #7685
Yep. -Verbose works with -Quiet, certainly. Thank you for the links!

[2018-10-21 11:55] p0W3RH311 opened #8097 "change <string> to <string[]> for tee-object"
instead of cryptic syntax change the type of parameter -variable  <string> to <string[]>...please

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

it don't work like expected because the type of -variable parameter is 'string'

[code]

it will be nice if the type is changed to '<string[]>' to support multiple vari

[2018-10-21 11:55] #7837 closed

[2018-10-21 11:56] #7804 closed

[2018-10-21 12:01] #5648 closed

[2018-10-21 12:02] #5406 closed

[2018-10-21 12:07] iSazonov commented on #5305
Perhaps  SAP dotNET Connector was or is not compatible with PowerShell Core.

[2018-10-21 12:07] #5305 closed

[2018-10-21 12:09] iSazonov commented on #5049
@ssbarnea Could you please check with latest builds?

[2018-10-21 12:10] #5294 closed

[2018-10-21 12:12] p0W3RH311 opened #8098 "add hyper-operators"
hello
please, add a hyper-operators to PS6 [ + - * / ]

here some examples

Steps to reproduce
------------------

[code]

[2018-10-21 12:17] iSazonov commented on #3831
@mklement0 Could you please update a status of the issue? Should we consider a fix for $PSCulture?

[2018-10-21 12:28] #4197 closed

[2018-10-21 12:33] iSazonov commented on #5718
The issue should be reported by Windows Preview feedback channel.

[2018-10-21 12:33] #5718 closed

[2018-10-21 12:35] iSazonov commented on #5308
@SteveL-MSFT Can we close the issue?

[2018-10-21 12:39] iSazonov commented on #5155
@DarwinJS Can we close the issue? Seems we have a stable distribution model now.

[2018-10-21 12:42] DarwinJS commented on #5155
Yes it looks good now.  Thanks!

[2018-10-21 12:42] #5155 closed

[2018-10-21 12:45] #5790 closed

[2018-10-21 12:46] vexx32 commented on #6557
I got curious about the behaviour here thanks to issue #7685 being raised. The main points raised there seem to be:

* Progress bar display is very much counter to expected display. There may be some circumstances where it is *useful*, but at present it is only duplicating console display unnecessarily.
* Console display is giving information that could be used programmatically, which is only bein

[2018-10-21 12:58] iSazonov commented on #6900
We don't get new confirmations from community a long time.

[2018-10-21 12:58] #6900 closed

[2018-10-21 12:59] #6828 closed

[2018-10-21 13:07] iSazonov commented on #6428
We don't get confirmations a long time.

[2018-10-21 13:07] #6428 closed

[2018-10-21 13:09] iSazonov commented on #6364
@pawamoy Have you any updates?

[2018-10-21 13:12] iSazonov commented on #7412
@SteveL-MSFT Should we cleanup this? Please set right label or close the Issue.

[2018-10-21 13:49] iSazonov commented on #7207
Feel free to ask if you need a help.

[2018-10-21 13:49] #7207 closed

[2018-10-21 13:51] #7825 closed

[2018-10-21 13:52] #7809 closed

[2018-10-21 13:57] #7675 closed

[2018-10-21 14:01] RichardSiddaway commented on #6557
I think the progress bar should be an opt in feature.  while

Test-Connection $UnreachableAddress -Count 1000 -Quiet

could be run its much more likely that -Count will be set to a much lower value.   If I was waiting on a system becoming available I'd just test once with the test in a loop I could break out of when I got a successful result

[2018-10-21 14:06] RichardSiddaway commented on #7685
I'd prefer progress bar to be opt in

In terms of your results from the modified code

[code]
The roundriptime should be RoundTripTime(ms) and just the numeric values are displayed. That way the value can be easily used in comparisons, sorts etc

same on MaxRoundtrip for the -Trace option

[2018-10-21 14:32] mklement0 commented on #8097
You don't need cryptic syntax to create and initialize multiple variables with the same value:

[code]

Also, using a pipeline with `Tee-Object` just to initialize variables would be heavy-handed.
(And for capturing command output, a single output variable strikes me as sufficient).

[2018-10-21 14:48] mklement0 commented on #8096
Good idea; closely related to #7387.

[2018-10-21 15:03] mklement0 commented on #8098
Intriguing idea - certainly makes for more flexible and concise operation expressions.

Just to note (I don't think the idea should be discounted for that reason): `*` and `/`  (but not `+` and `-`) are currently interpreted as _command names_ at the start of a statement, so interpreting them as operators is _technically_ a breaking change.

Conceivably, the pattern could be extended to `-and` / `

[2018-10-21 15:10] vexx32 commented on #7685
I opted for this display because that header is already annoyingly wide for values that are usually quite small. The unit display is purely in formatting and the values themselves retain the same type as the original data (`long`).

I have a bit of a pet peeve about formatting displaying properties that don't exist and I think it's a lesser evil to display units on a numerical value than to force

[2018-10-21 15:16] RichardSiddaway commented on #7685
Understand what you're saying but the majority of PowerShell displays put the units in the header. the Exchange cmdlets were the first I remember that didn't and that caused a huge "discussion"