[2017-01-05 01:33] DarwinJS commented on #2950
I have a personal theory that the whole concept of the registry has caused the IT industry billions.

This "in memory only accessible" configuration data store that is split between user and machine is a continual source of work around upon work around in automation code.

Unix / Linux never had this problem because all config is on disk - so if you're an admin, you can just see it all and manipul

[2017-01-05 13:53] iSazonov commented on #2887
Today we have 4609 Travis test and 4681 Appveyor test. So we "lost" 72 tests. Need a way to catch them.

[2017-01-05 16:39] mirichmo commented on #2950
I laid the foundation for this a few months ago when I added support to store [ExecutionPolicy values in configuration files](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/PropertyAccessor.cs). We have outstanding issues to cover moving additional values to configuration files (out of the registry), but not much time available to do it. I initially le

[2017-01-05 16:46] ArieHein commented on #2950
Are you at least "forcing" a dual config policy for new code / options that rely on configuration from this point forward ?

Would this be something in the "best practices" or "how to" manual for contributors ?

[2017-01-05 17:26] DarwinJS commented on #2950
Seems like it might be valuable to write something that redirects registry calls to a file based storage method on non-windows.  Then the approach could be used throughout powershell and maybe .NET apps.  I **don't** mean that the store would be some type of blob that needs special utilities to read - could just be a directory structure that emulates registry levels and files named with the "value

[2017-01-05 17:30] DarwinJS commented on #2950
Anyone know if registry redirection to the file system has been discussed on the .NET core project?

[2017-01-05 18:01] DarwinJS commented on #2950
I started a discussion which revealed there is some activity around registry API emulation / redirection on non-windows: https://github.com/dotnet/standard/issues/148

[2017-01-05 19:39] paulcallen commented on #942
@vinodc the underlying OMI client transport does not support http redirection, so if this results is a http redirect then that is the problem.

[2017-01-05 19:54] paulcallen commented on #942
The .14 alpha release was released before the holidays and it has the client-side remoting I mentioned.  On CentOS 7 you will need to create a couple of symbolic links to make certain things work though due to the way we build the underlying OMI binaries and we are still ironing out a few packaging kinks.
[code]

Other than that basic auth seems to work for psrp remoting over wsman without any fur

[2017-01-05 20:21] thezim opened #2956 "Add short alias for Select-Object"
I would be nice to have a short alias for Select-Object as there is for Where-Object (?) and ForEach-Object (%). Seems natural that Select-Object would have one as frequently as it is used. All three of these are my bread an butter most days. I'd be open to any non conflicting single symbol character.

[2017-01-05 20:26] RichardSiddaway commented on #2956
I've always thought that the use of ? and % were 2 of the worst decisions made in the early days of PowerShell. Adding another one compounds the confusion.  if you want a single character alias its easy to add one but why stop with select-object. Shouldn't the same be done for sort-object?

[2017-01-05 20:39] fmichaleczek commented on #2956
@RichardSiddaway Production guys need sometimes to do things quickly in the consolehost. I don't see any character available to be aliased.

[2017-01-05 20:44] thezim commented on #2956
Maybe caret?

[2017-01-05 20:48] RichardSiddaway commented on #2956
Two things

sel then tab will give you select   - - that's pretty quick

the use of ? and % are confusing to many newcomers which is why I've never liked them. Getting people to stop using them in scripts can be painful.

I know people in production need to do things quick - I spent 25 years working in IT production environments. I think its just as important to avoid bad habits that can actually

[2017-01-05 21:01] thezim commented on #2956
@RichardSiddaway I don't like them in scripts either but at console it makes sense to me.

[2017-01-05 21:29] vors commented on #2956
@thezim I'm curious about your usage of it. I hardly use `Select-Object` 10% of the time that I use `%` and `?`. What's the scenarios that it solves for you?

[2017-01-05 21:37] andschwa opened #2957 "Copy-Item does not understand symlinks"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
1) `validfolderlinkcopy` should be a copy of the symlink `validfolderlink`
2) `validfilelinkcopy` should be a copy of the symlink `validfilelink`
3) `brokenlinkcopy` should be a copy of the symlink `brokenlink`

Actual behavior
---------------
1) `validfolderlinkcopy` is a copy of link's target `folder`
2) `validfile

[2017-01-05 21:56] JamesWTruher commented on #2887
yep. FWIW, even if the numbers are the same, it may be that different tests are running. We need more tooling to compare the test runs across platforms

[2017-01-05 22:15] thezim commented on #2956
@vors usually it is something like this where I would prefer the line to not wrap, especially with expressions. I'm not saying  a select alias would eliminate a wrap but it would help.

[code]

[2017-01-05 22:33] juneb opened #2959 "Encoding error in PSModuleInfo property value"
Very low pri. Just wanted to get this on the record.

The FullName and ScopeName (string) property values of the System.Reflection.Emit.AssemblyBuilder value in the ImplementingAssembly property of PSModuleInfo have the wrong encoding. It looks like UTF-8 output in unicode.

![screenshot 2017-01-05 11 46 27](https://cloud.githubusercontent.com/assets/2954883/21700171/4634a504-d35c-11e6-8fc0-e20af5

[2017-01-05 23:07] andschwa commented on #2957
/cc @paulcallen

[2017-01-05 23:32] brycem opened #2960 "Incorrect SHA hash for Alpha.14"
Incorrect SHA hashes in Dockerfiles:   https://github.com/PowerShell/PowerShell/releases

Steps to reproduce
------------------
On a Win10 machine with current bits and container support installed, run command:
docker build https://raw.githubusercontent.com/PowerShell/PowerShell/master/docker/release/nanoserver/Dockerfile

Expected behavior
-----------------
success

Actual behavior
--------------

[2017-01-05 23:32] brycem commented on #2960
Private testing fix

[2017-01-06 00:25] brycem commented on #2960
https://github.com/PowerShell/PowerShell/pull/2961

[2017-01-06 00:25] #2960 closed

[2017-01-06 01:21] vors commented on #2956
Ah, with export-*. Makes sense.

[2017-01-06 01:26] juneb opened #2962 "Using module statement doesn't work with ScriptsToProcess"
Steps to reproduce
------------------
1. Define PowerShell classes in a script module.
2. Write a test script, Write-Hello.ps1, that returns "Hello World"
3. At the command line, use the Using module statement to import the script module.

Expected behavior
-----------------
The classes in the script module are imported into and available in the caller's session.

Actual behavior
---------------
T

[2017-01-06 01:53] juneb opened #2963 "New-Object doesn't work with classes in nested modules"
Steps to reproduce
------------------
1. Define some PowerShell classes in a module file (ClassTester.psm1).
2. In the manifest, leave RootModule empty and place the module name in the NestedModules key value.
[code]
3. In a script, use a Using module statement to import the module and its classes, use the New static method to instantiate one of the classes defined in ClassTester.psm1, and then us

[2017-01-06 01:57] mirichmo commented on #2950
@DarwinJS The current iteration of the code has two implementations of the interface: one for redirecting the request to the registry (on Windows PowerShell) and another for redirecting the request to JSON files (for PowerShell Core).
Your idea of generalizing it within Microsoft.Win32.Registry is interesting, but would have to be produced by the .Net team for us to consume it.
@ArieHein At the mo

[2017-01-06 02:09] juneb opened #2964 "Using module behavior on nested modules is inconsistent"
When you use the Using module statement in a script, classes defined in nested modules are imported and available for use in the script. But, the same code run at the command line fails to import the classes from nested modules.

I didn't expect the classes in nested modules to be exported at all, but the same code should work the same way in a script and at the command line.

Steps to reproduce
-

[2017-01-06 05:15] lamw commented on #1921
I'm also seeing a similiar behavior as described by @quonic when using latest Powershell Alpha14 on Debian 8.6 system. However, my issue is trying to load a VMware Module (PowerCLI Core). which then immediately seg faults. Interestingly, this had worked on an initial installation of Debian which I had blown away and re-built using the exact same instructions (which I've documented here http://www.

[2017-01-06 07:11] iSazonov opened #2965 "The same number of tests should run on any platform"
As stated in #2887 each test must be performed on all supported platforms.

- [ ] We need a tool (script) to check this on every day basis
- [ ] We need to analyze test results (pester-tests.xml), identify the problems and correct tests

[2017-01-06 07:11] iSazonov commented on #2887
Yes. It is more common so I open new Issue.

[2017-01-06 07:32] vinodc commented on #942
@paulcallen Thanks for the quick response. Running `curl -v -u user:pass https://ps.compliance.protection.outlook.com/powershell-liveid/` returns a 200 status code with no redirects. The `New-PSSession` command also continues to succeed on Windows even after removing the `-AllowRedirection` option. Would there be any other steps I could take to determine the cause of the error?

[2017-01-06 09:42] iSazonov opened #2966 "Code coverage skip some files"
As we can see on https://coveralls.io/github/PowerShell/PowerShell some files reported with 0% coverage although the corresponding tests exist and should run successfully. Samples:

[NewTimeSpanCommand.cs](https://coveralls.io/builds/9534326/source?filename=C%2Fprojects%2Fpowershell-f975h%2Fsrc%2FMicrosoft.PowerShell.Commands.Utility%2Fcommands%2Futility%2FNewTimeSpanCommand.cs)
[NewGuidCommand.cs

[2017-01-06 09:56] m8ram opened #2967 "Get-ScheduledTaskInfo -taskname parameter does not work as expected"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Get the same output as
[code]

Actual behavior
---------------
[code]

Environment data
----------------

[code]

Same issue on PSVersion 5.0.10586.117

[2017-01-06 10:05] m8ram commented on #2967
Start-ScheduledTask has the same issue.
According to get-help both get-scheduledtaskInfo and start-scheduledtask accept the "-TaskName" parameter, both have it defined as a string just like get-scheduledTask but both get-scheduledtaskInfo and start-scheduledtask throw an error when passed this parameter with a string of an existing taskname

[2017-01-06 17:38] kalzi commented on #2463
Yes, PowerShell with ARM Support on Raspberry Pi would make great usecases such as low cost/power management station for HomeLabs. Please consider!! +1

[2017-01-06 17:44] chantisnake opened #2968 "$env:PSModulePath is not updated if you change the location of the document folder"
Steps to reproduce
------------------
change the location of your document folder by right click `document` folder select `property` and then got to `location` tab, to change the location
and then input `$env:PSModulePath` the variable still points to you original document folder

Expected behavior
-----------------
For powershell 5.1 the `PSModulePath` variable change with the location of the doc

[2017-01-06 17:52] joeyaiello opened #2969 "powershell should run `ShellExecuteEx` on STA thread"
[Edited by @daxian-dbw]

PR #3281 adds support to ShellExecute in powershell core when it's running on Windows full SKUs. With that fix, `Start-Process` is able to run MSI in powershell core.

However, it's not a complete solution. It calls ShellExecuteEx directly in MTA thread instead of from STA thread [as suggested in MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/bb762154(v=vs.

[2017-01-06 18:06] mirichmo commented on #2966
@adityapatwardhan Please comment on this

[2017-01-06 18:10] iSazonov commented on #2463
Today CoreFX and CLI is still not ready for ARM on daily basis.

[2017-01-06 18:24] adityapatwardhan commented on #2966
I am working on a change which will generate logs for the tests that are executed. This will let us know if some tests are not executed or erroring out.

[2017-01-06 18:32] iSazonov commented on #2966
Clear. Thanks!

[2017-01-06 18:58] iSazonov commented on #2969
I test this for .txt - it don't work too. Seems windows type associations don't work here at all.

[2017-01-06 19:29] chelnak commented on #2245
We are seeing a similar issue (Logged here: https://github.com/jakkulabs/PowervRA/issues/97).

The response content type is text/yaml but you can clearly see it's trying to use Newtonsofts Json library.

[2017-01-06 21:30] mirichmo opened #2971 "Improve Pester Expected Throw Message in Example"
In [WritingPesterTests.md](https://github.com/PowerShell/PowerShell/blob/master/docs/testing-guidelines/WritingPesterTests.md), it should provide a more descriptive message, such as

[code]

[2017-01-06 21:43] Francisco-Gamino opened #2972 "[Copy-Item remotely] -ToSession and -FromSession are mutually exclusive, so there should be a different parameter set."
Steps to reproduce
------------------

Get-Command Copy-Item -Syntax

Copy-Item [-Path] <string[]> [[-Destination] <string>] [-Container] [-Force] [-Filter <string>] [-Include <string[]>] [-Exclude <string[]>] [-Recurse] [-PassThru] [-Credential <pscredential>] [-WhatIf] [-Confirm] [-UseTransaction] [-FromSession <PSSession>] [-ToSession <PSSession>] [<CommonParameters>]

Copy-Item [[-Destination]

[2017-01-07 00:13] TravisEz13 commented on #2748
Per @lzybkr

[2017-01-07 06:54] brycem commented on #2571
I've verified that I'm not getting all of the needed includes installed and that my build environment variables are getting properly populated, but I'm still seeing issues in my VC++ Build Tools environment...  Here's the docker command to install the image:

docker build https://raw.githubusercontent.com/brycem/PowerShell/master/docker/nightly/windowsservercore/Dockerfile

It takes a few minutes

[2017-01-07 07:05] brycem commented on #2571
The missing 'corerror.h' header can be found under 'C:\Program Files (x86)\Windows Kits\NETFXSDK\4.6.1\Include\um' and that path is in the INCLUDE path:

`INCLUDE=C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\INCLUDE
;C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\ATLMFC\INCLUDE
;C:\Program Files (x86)\Windows Kits\10\include\10.0.14393.0\ucrt
;C:\Program Files (x86)\Windows Kits\

[2017-01-07 07:26] brycem commented on #2127
I've found you can get this error even if you have the SDK installed - https://github.com/PowerShell/PowerShell/issues/2571

[2017-01-07 10:31] m8ram commented on #2967
I just found [this documentation for the Get-ScheduledTaskInfo Cmdlet](https://technet.microsoft.com/en-us/library/jj649823.aspx) and they show an example where the option to `-TaskName` contains the full path to the task.
The [documentation for Get-ScheduledTask](https://technet.microsoft.com/en-us/library/jj649808(v=wps.630).aspx) shows that the `-TaskName` parameter of that Cmdlet accepts only

[2017-01-07 10:35] MaximoTrinidad opened #2975 "Get-Process Cmdlet discrepancies displaying information (CPU, Responding)"
Steps to reproduce
------------------
Using PowerShell Open Source,  type the following one liner on local Windows 10 computer:
Get-Process | Select name, CPU, Responding

Then, using the "-ComputerName" parameter:
Get-Process -ComputerName Server1 | Select name, CPU, Responding 

Expected behavior
-----------------

Should Display all selected properties values, 

Actual behavior
---------------

[2017-01-07 11:07] iSazonov commented on #2967
The cmdlets is not still in the Powershell Core project. Maybe better report this issue on UserVoice site.

[2017-01-07 11:27] iSazonov commented on #2127
I found the file [here](https://github.com/dotnet/coreclr/blob/master/src/pal/prebuilt/inc/corerror.h).
Maybe need install Core SDK by dotnet cli?

[2017-01-07 13:30] StefanScherer commented on #2571
@brycem Interesting image. I had a look at the layers and for some reason it uses not the official (foreign) Windows base images. That's why someone has to download the first two layers of 4.8 GByte. This could be saved if the image is directly derived `FROM microsoft/windowsservercore` from the Docker Hub. So the download size would go down from 8 GByte to 3.2 GByte.

[code]

[2017-01-08 02:24] brycem commented on #2571
Interesting - It was built on a Win10 desktop rather than a server OS, so that would likely explain it.  I'll rebuild it on server and see if that improves it.  Thanks @StefanScherer!

[2017-01-08 19:09] vors opened #2977 "Invoke-Item 'foo bar' doesn't work"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Folder `foo bar` is open in Finder (macOS). I didn't test in on Unix.

Actual behavior
---------------

Error `The file /Users/vors/bar does not exist.` is printed to the terminal

Environment data
----------------

[code]

[2017-01-08 22:34] MaximoTrinidad commented on #2977
Definitely, something to look into. I Linux I found that has to be related to escape code.  As I can do a "CD 'foo bar'" and it will process the command but it breaks when doing Invoke-Item.  When you do the bash command "dir", it will show the escape code as the space "\ "  as "foo\ bar".
(See Attached image)
![invoke-item_folderissue](https://cloud.githubusercontent.com/assets/19892435/21754171/

[2017-01-08 22:38] MaximoTrinidad commented on #2977
By the way, when using Get-ChildItem "foo bar" works fine.

![invoke-item_folderissue2](https://cloud.githubusercontent.com/assets/19892435/21754195/3f2c1142-d5c9-11e6-9b0a-86b9903a88d0.png)

[2017-01-09 08:30] J0F3 commented on #2921
This seems to be a issue when the DSC Pullserver is running on WMF 5.0 and the clients are running on WMF 5.1 as in WMF 5.1 the additional parameter "AdditinalData" was introduced.

When the DSCPullserver is also running on WMF 5.1 the above error is gone. However the status reports does still not work correctly. The client can send successfully the report data but the DSC Pullserver seems to have

[2017-01-09 08:52] J0F3 opened #2978 "DSC Pullserver huge amount of "SendReport" requests. Normal?"
Hi,

I have observed a strange behavior of the DSC Pullserver Reporting feature in WMF 5.1. The clients are making excessive amount of request to send status reports. They make 10-15 request per seconds! Is this normal?

Example out of an IIS log file which show the request of only one client for 5sec. I think it shows way too much request for this small time frame:
![image](https://cloud.githubus

[2017-01-09 08:58] mattiasunger opened #2979 "Prioritize alias when doing command completion"
When doing command completion at least I tend to use aliases more often than not. Perhaps even more often my own specified aliases over others. I therefore feel like it would be a nice improvement to have aliases prioritized, or have the option have it so, over other commands since those are the ones I'm more often looking for.

Another option would be to prioritize latest/most used commands but i

[2017-01-09 09:05] lypanov commented on #1829
I understand that this is meant to be a CLR issue, and that the issue itself is external. But it would for people waiting on this (at least me ;) ) be really nice if we knew when to retry Powershell. Right now it's of no use to me due to these issues alas.

[2017-01-09 09:32] iSazonov commented on #2979
@mattiasunger Thanks for your opinion! Now there are several open issues about aliases and completion. You can find them easily. Perhaps you'd better move your motivation in one of those discussions and close this issue as duplicate.

[2017-01-09 09:39] mattiasunger commented on #2979
@iSazonov Hi! I could definitely do that and I did search for something similar to what I suggested. However I couldn't find one that fitted, perhaps I don't know the correct lingo yet. If you know one feel free to link it so I can close this one.

[2017-01-09 11:21] iSazonov commented on #2979
@mattiasunger If you do not find a suitable issue, I moreover will not be able to do that :-)

Please specify how your aliases conflict with existing commands? Can you give examples?
Can you use your personal short prefix to exclude conflicts? (`zSelect-Object`)

[2017-01-09 12:33] mattiasunger commented on #2979
@iSazonov I can of course give my own aliases a prefix to make it easier. An example that happens every now and then are some aliases for opening and building solutions. I.e.

**opensln**
`"ope" -> [tab] -> Open-NetGPO -> [tab] -> openfiles.exe -> [tab] -> opensln`

**buildsln**
`"build" -> [tab] -> .\Build\ -> [tab] -> "BuildAbout.exe" -> [tab] -> BuildConsole.exe -> [tab] x10 -> buildsln
`

I'm

[2017-01-09 15:01] MaximoTrinidad commented on #1829
I have to admit that it is sad that this is stalled.  The work around still applies and I hope to see this working sometime soon. This is a good opportunity for Windows users using Windows Bash to learn Linux and try PowerShell with it without dealing with building a Linux OS from scratch.

:)

[2017-01-09 15:16] AspenForester opened #2980 "Get-ChildItem -Recurse hangs with -path \\server\share\dir_doesnt_exist"
Steps to reproduce
------------------
Get-ChildItem \\server\share\dir_doesnt_exist
Get-ChildItem \\server\share\dir_doesnt_exist -Recurse

Expected behavior
-----------------
Both cases should return an ItemNotFoundException

Actual behavior
---------------
Non-recursive case behaves correctly
Recursive case just appears to hang / run forever

@juneb confirmed the behavior

Environment data
-----

[2017-01-09 15:26] iSazonov commented on #1829
The corefx issue flagged as `Up for Grabs`. So don't expect its a quick fix. 😕

[2017-01-09 19:20] andschwa commented on #1829
@MaximoTrinidad, @iSazonov, if you want to try out PowerShell on Linux without installing Linux from scratch, perhaps our Linux containers will be of interest to you.

1) Install [Docker for Windows](https://docs.docker.com/docker-for-windows/) (this should be a fairly straightforward MSI installation)
2) Open an administrative PowerShell prompt
3) `docker run --interactive --tty microsoft/powersh

[2017-01-09 21:56] MaximoTrinidad commented on #1829
Thanks @andschwa!  I got my laptop running Linux with PowerShell since day one.  I'm just looking to create awareness with Windows 10 Bash which I already got the workaround doing its magic.  No pretty but at least is workable!

I will take your information provided to play with containers later.  This is an area I need to tackle soon.
:)

Thanks,
Maximo Trinidad

[2017-01-09 22:00] SteveL-MSFT commented on #2667
@PatrickLang it is my understanding that future releases of Nano Server will pick up stable versions of PSCore 6.0+.  For now, if you need this, you can install PSCore 6.0 on Nano Server (xcopy is sufficient, but keep in mind it'll run side-by-side with the inbox PowerShell Core)

[2017-01-09 22:00] paulcallen commented on #942
@vinodc unfortunately at this time we don't support the ConnectionUri way of specifying a destination for Linux remoting, and it does not seem like there are sufficient other options to allow you to specify the http end-point in the pssessionoptions. You can use -computername and -usessl, but the powershell-liveid has no way of been specified any other way.
Issue: PowerShell/psl-omi-provider#67

[2017-01-09 22:24] vors commented on #2977
For the `Invoke-Item` we are calling some platform specific hacks, I believe for OSX it's something like AppleScript `open` equivalent. That would explain why the problem happens: we are calling a command line that performs it's own parameter parsing.

[2017-01-09 23:28] HemantMahawar opened #2983 "Complete the SemanticVersion work"
- [ ] Support SemVer in #Requires (PowerShell version (-Version) as well as module version (-Modules))
- [ ] Allows cmdlet parameters to consume SemVer instead of System.Version (argument transformation maybe?)
  - [ ] Users can convert Semver to System.Version using that attribute before passing to the cmdlet parameter
  - [ ] Cmdlet author can mark the attribute on the parameter and users can pa

[2017-01-10 02:35] hayleybai commented on #2469
Do this issue has any flexible solution?
@Francisco-Gamino
@palladia

[2017-01-10 04:29] iSazonov commented on #1829
Thanks @andschwa! The main problem is that one Microsoft product (Powershell Core) does not work with other Microsoft product (WSL) harms the reputation of the company despite the fact that the product is still alfa.

[2017-01-10 11:02] iSazonov commented on #2254
I believe that we _must_ create the document.
This is useful not only for language learning.
Now the language has become quite complicated and lack of formal definitions will hinder its further development.
It would be a good practice to first approve new formal specification of language extensions in the document before implementation.

Previously we need to specify what a _notation_ we will use?

[2017-01-10 11:30] iSazonov commented on #2779
I scanned the parser.cs file and did not found that the semicolon is included in any ASTs, except in one case for class property extend.
Since I'm working on improving classes this last fact prompted me to raise this topic again.
Class member definition makes no distinction between properties and methods:
[code]
Moreover parsing is performed by the same function `ClassMemberRule`.
(I looked up the

[2017-01-10 16:16] as-it opened #2989 ""Compress-Archive" have no output even if docs state it is: "System.IO.FileInfo""
Steps to reproduce
------------------
md c:\data1 -Force
$zip = dir c:\windows -File | select -first 1 | Compress-Archive -DestinationPath c:\data1\zip.zip
$zip.GetType()

Expected behavior
-----------------
IsPublic IsSerial Name                                     BaseType
-------- -------- ----                                     --------
True     True     FileInfo

[2017-01-10 17:02] MaximoTrinidad commented on #2989
Just a reminder that Windows PowerShell need to go thru Windows UserVoice at: https://windowsserver.uservoice.com/forums/301869-powershell 

:)

[2017-01-10 17:17] MaximoTrinidad opened #2990 "PowerShell Open Source - Compress-Archive not working."
Steps to reproduce
------------------
 Compress-Archive -Path c:\Temp -DestinationPath c:\TempLog\Tempzip.zip

or

 Compress-Archive -Path c:\Temp -DestinationPath c:\Temp\Tempzip.zip

Expected behavior
-----------------
To create Tempzip.zip file on folder c:\TempLog

Actual behavior
---------------
Error message comes up:

Exception calling "Write" with "3" argument(s): "Stream was too long."
At

[2017-01-10 17:28] MaximoTrinidad commented on #2990
By the way, it does work in Linux Ubuntu 16.04.1
![compressarchivegood](https://cloud.githubusercontent.com/assets/19892435/21816993/40a98da2-d730-11e6-8fd1-c59705e7e64a.png)

[2017-01-10 17:41] iSazonov commented on #2989
@as-it Thanks for report the Issue.

[Docs](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.archive/compress-archive) say:

System.IO.FileInfo

I fast looked at the module and have not found anything similar to `return FileInfo`.
I suppose it makes sense to initiate a rewrite of the [Microsoft.PowerShell.Archive.psm1](https://github.com/PowerShell/PowerShell/tree/309

[2017-01-10 17:49] iSazonov commented on #2990
@MaximoTrinidad  Please specify what is a size of the source data?
According to the [documentation](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.archive/compress-archive),  limit is 2 Gb.

[2017-01-10 18:15] MaximoTrinidad commented on #2990
Ah!!  Thanks @iSazonov
Sorry! I should have checked for the size limitation.
Closed the incident.

Greatly Appreciated,
Maximo Trinidad

[2017-01-10 21:15] grayzu commented on #2978
This may be normal. The way that DSC status reporting works is that it will send a report when there is a connection to the pull server. If there is no connection to the pull server, the agent will cache the status locally for every run. When a connection is reestablished, DSC will send all of the status messages that were cached locally. Once all status messages are successfully sent to the pull

[2017-01-10 22:15] lzybkr commented on #2980
Just to check - maybe it's not hung, but it might be enumerating the share.

I tried

1. server that doesn't exist
2. server exists, share doesn't
3. server and share exist, top folder doesn't exit
4. server, share, and top folder exists, first child doesn't

Only case 3 seems to hang, but I noticed I eventually got a `DirUnauthorizedAccessError` on a file/directory that I wouldn't have expected t

[2017-01-11 00:01] SteveL-MSFT commented on #2990
@MaximoTrinidad the 2GB limit is an unfortunately limitation of the .Net api being used.  There is an open issue for Zip64 support: https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/19

[2017-01-11 00:01] #2990 closed

[2017-01-11 02:14] mattpwhite commented on #2969
The .NET Core version of System.Diagnostics.Process doesn't support using ShellExecute() to start processes.  The .NET Framework version does and does so by default, with an alternate path that uses CreateProcess().  ShellExecute is what makes starting a file launch its associated executable (and other stuff like starting a URL launching your default browser).  Have to imagine this is a breaking c

[2017-01-11 03:42] lzybkr opened #2992 "Possible bug embedding `using module` inside a method call"
_From @rjmholt on January 11, 2017 2:12_

Was deleting a `using module Foo` statement inside a `[powershell]::AddStatement(...)` method call. Screenshot attached:
![psbug](https://cloud.githubusercontent.com/assets/7009879/21832463/2d0ba32c-d760-11e6-9eb9-ff4d38a9684f.PNG)

_Copied from original issue: lzybkr/PSReadLine#489_

[2017-01-11 06:37] vinodc commented on #2205
@andschwa @mirichmo I'm continuing to encounter this error with the latest alpha release on Ubuntu 14.04 when HOME is unset. I expected running it with -NoProfile would prevent Powershell from attempting to load settings, but I could be mistaken on what that flag controls. Is this error still expected on Ubuntu 14.04 even though #2387 is merged in?

    $ unset HOME
    $ powershell
    PowerShell

[2017-01-11 08:40] iSazonov commented on #2992
I can't reproduce (for both WindowsPowershell and Powershell Core):
[code]

[2017-01-11 09:13] brycem commented on #2571
Rebuilt on matching build of server with dockerd 1.12.2-cs2-ws-beta, and @TSEO1 's trick to delete the 'C:\ProgramData\Package Cache\' - A wee bit slimmer :-)

latest: digest: sha256:c1e3def332f9a8e56678717a82e9531220c2c8031045f64efb33e65ce87fba44 size: 3668

Powershell is now building, but I'm now getting an error when using the pscore exe:

PS C:\>
Oops, something went wrong.  Please report this

[2017-01-11 10:49] J0F3 commented on #2978
Hi Mark,

Yes, this sound like whats happens here. But then I have some questions about the scalability of the Pullserver or the possibilities to configure a DSC Pullserver for high availability.

We have about 180 VMs registerd to our Pullserver. When they have reporting enabled  I can see that the AppPool for the DSC Pullserver has very high CPU and RAM utilization. I additional there are a lot

[2017-01-11 12:50] iSazonov commented on #2219
It seems the code is ready for testing.
I remember that @lzybkr  spoke about the specifics of these tests.
Where will we locate these tests? In Scripting.Classes.BasicParsing.Tests.ps1?
Any advise before I begin?
Do it makes sense to make PR now and add tests later?

[2017-01-11 16:11] Jaykul opened #2993 "Convert-Path should work with non-existent paths"
It seem clear to me that a design mistake was made when Resolve-Path and Convert-Path were created, and they both return only **resolved** paths (i.e. the path must exist).

The right design would be to have Convert-Path not care if the path exists, and if you care, you use both commands.

Since that ship has sailed, I propose adding a `-Unresolved` switch to Convert-Path to change it to do what i

[2017-01-11 17:22] SteveL-MSFT commented on #2761
Get-Process is another cmdlet where .Net remoting causes user confusion as some properties are not supported remotely.  Using PSRP would solve that problem.

[2017-01-11 17:25] SteveL-MSFT commented on #2975
This is unfortunately due to the .Net Process class.  On CoreCLR, Responding doesn't exist (it's dependent on specific Windows GUI apis) so it'll always be empty.  The remoting behavior on FullCLR is entirely based on the Process class.

On both full and CoreCLR, per the documentation, CPU (which is just a formatted TotalProcessorTIme) is only supported on the local computer.  Workaround is to use

[2017-01-11 20:32] paulcallen commented on #942
@gabriel-samfira For x509 support, are you referring to the use of client SSL certificates as authentication, and WinRM using certificate mapping feature on Windows?

[2017-01-11 20:34] gabriel-samfira commented on #942
@paulcallen yes :-)

[2017-01-11 20:43] paulcallen commented on #2772
latest powershell package has WSMAN PSRP Client that can connect from Linux and OSX to Windows. Basic authentication is supported at this time, and on Windows you will need to have a local machine account that is configured as administrator. You will also need to configure WinRM to turn on support for basic auth on the server. If you don't have WinRM set up with SSL then you will also need to enab

[2017-01-11 20:43] #2772 closed

[2017-01-11 20:46] paulcallen commented on #942
@gabriel-samfira adding issue to track this: PowerShell/psl-omi-provider#68

[2017-01-11 20:56] powercode commented on #1177
Please backport this to desktop edition!

[2017-01-11 21:23] lzybkr commented on #2571
I've seen other reports of that exception - but I don't know what's going on.

I think our ideal solution for building in a container will rely on the [VS 2017 Build Tools](https://blogs.msdn.microsoft.com/vcblog/2016/11/16/introducing-the-visual-studio-build-tools/) as they have a silent install option.  I experimented some with it already and it didn't feel quite ready, hopefully it will be by R

[2017-01-11 22:11] mirichmo opened #2994 "Add WindowsUBR property to Get-ComputerInfo"
Here's the info for UBR:

New Property Name in Get-ComputerInfo: WindowsUBR
Registry Key: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion
Registry Value: UBR

It's stored in the registry as a DWORD, but should be converted to an int for the WindowsUBR property.

TFS:10041234

[2017-01-11 22:33] ephos opened #2996 "Get-LocalGroupMember - Failed to compare two elements in the array."
It appears that if you have domain groups added to a local group and then move the server to a workgroup before removing them Get-LocalGroupMember no longer works and instead throws an exception 'Failed to compare two elements in the array.'.  I am seeing this on Server 2016 Core, I have not tried on any other editions.  I found this while building a server in one domain that needed to move to a d

[2017-01-11 23:17] StefanScherer commented on #2571
@brycem About the problem pushing the two microsoft/windowsservercore base images to Docker Hub: I also managed to do this by rebuilding winspector today. Scratching my head why this could happend. But it is logged in AppVeyor https://ci.appveyor.com/project/StefanScherer/winspector/build/1.0.23#L194
I'll have a deeper look and probably file an issue in docker/docker repo.

[2017-01-11 23:36] thezim opened #2997 "Locale native test fails on Unix"
Steps to reproduce
------------------
Run build per documentation.

Expected behavior
-----------------
Builds successfully.

Actual behavior
---------------

Build fails with the following.

[code]

Environment data
----------------

macOS 10.12

[2017-01-11 23:41] mirichmo commented on #2205
@vinodc Can you please attach the stack trace from the exception?

Based on code inspection, I suspect that this is the [offending line](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/CoreCLR/CorePsPlatform.cs#L237). My guess is that it is an ArgumentNullException stating that the argument to Path.Combine is null since "HOME" is not defined.

[2017-01-11 23:51] mirichmo commented on #2996
@ephos This is an interesting issue. Can you please provide
[code]
as well?

[2017-01-12 00:08] ephos commented on #2996
@mirichmo here you go!

[code]

[2017-01-12 00:13] SteveL-MSFT commented on #2875
@PowerShell/powershell-committee discussed this and agree this would be useful for example to programmatically modify a module manifest

[2017-01-12 00:31] SteveL-MSFT commented on #2872
@PowerShell/powershell-committee reviewed this and believes this is useful, however, can be complicated enough to warrant an RFC to discuss the design proposal before implementation.  Some considerations is environment variable vs parameters vs new cmdlet (maybe also handle encoding conversion?).

[2017-01-12 00:32] #2816 closed

[2017-01-12 00:35] andschwa commented on #2205
I believe that's #1794.

[2017-01-12 00:35] #2658 closed

[2017-01-12 00:36] #2904 closed

[2017-01-12 00:37] #2901 closed

[2017-01-12 00:37] #2804 closed

[2017-01-12 00:41] #2815 closed

[2017-01-12 00:41] #2756 closed

[2017-01-12 00:46] vinodc commented on #2205
@mirichmo That's all the output that was provided. Was there a way to obtain the stack-trace from the alpha release? I'm not sure if it was compiled with debugging symbols. Would I need to compile it from source to generate a Debug build instead?

[2017-01-12 00:51] mirichmo commented on #2996
Thanks for the info

[2017-01-12 00:58] mirichmo commented on #2205
Hmmmm... if PowerShell had started, you could use `$Error[0] | fl * -Force`. Debugging it in VS Code and stopping at the exception throw point would provide the answer.

With that said, I'm pretty certain that this is a simpler reproduction of #1794 and no additional information is needed.

[2017-01-12 07:39] iSazonov commented on #2996
It's work well on Windows 10 :

[code]

[2017-01-12 10:44] iSazonov commented on #2989
@SteveL-MSFT Could you comment?

[2017-01-12 11:01] azurechamp opened #2999 "[Idea] - Addition of Video Series of Powershell with Mac OSX (Beginner Series)"
I got a chance to prepare some videos on PowerShell using Mac with Visual Studio Code. I am presenting an idea if we can include that in README.md as material to get started with PowerShell on OSX.

Here is my playlist on Youtube for review.
[YouTube Series on PowerShell on Mac OSX](https://www.youtube.com/playlist?list=PL4URqfIIQcfBOtaSXl5tu4tYvpApw91Ew)

Thanks

[2017-01-12 17:26] SteveL-MSFT commented on #2989
Please open Archive module issues here: https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues

This particular issue has already been addressed in the latest version of the module in the gallery via this PR: https://github.com/PowerShell/Microsoft.PowerShell.Archive/pull/18

[2017-01-12 17:26] #2989 closed

[2017-01-12 17:48] SteveL-MSFT opened #3000 "Add support to set line breaks within a scriptblock for invoke-command"
When debugging invoke-command, today you have to set a breakpoint on invoke-command while it would be easier and perhaps more intuitive to be able to set a breakpoint to a line within the scriptblock passed to invoke-command.

[2017-01-12 18:03] SteveL-MSFT commented on #2999
@muhammad92 very cool!  I think we can add a link to your videos in https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/README.md, but I'm tagging this for @PowerShell/powershell-committee to review first

[2017-01-12 18:29] lzybkr commented on #3000
This shouldn't require any UI changes - Invoke-Command can check if there are any local breakpoints in the script file/scriptblock, and set the remote breakpoints as needed.

[2017-01-12 18:40] lzybkr commented on #2992
I repro'd the problem at the console in Windows PowerShell - there might be something about how `PSReadline` is invoking the parser, but I moved the bug from `PSReadline` because the call stack makes it clear it's an engine problem, not a `PSReadline` problem.

[2017-01-12 18:49] SteveL-MSFT commented on #2994
UBR = Update Build Revision

[2017-01-12 21:32] andschwa commented on #2997
@thezim this isn't a build failure, this is a unit test failure. Can you set your locale to UTF-8? .NET Core isn't expected to work with any other locales currently (that said, ASCII is probably going to work, but still going to fail the sanity test).

[2017-01-12 21:32] andschwa commented on #2633
Resolved by #2675.

[2017-01-12 21:32] #2633 closed

[2017-01-12 22:25] #2802 closed

[2017-01-13 03:09] ssylvan commented on #2996
I am also hitting this issue, any workarounds?

[2017-01-13 04:49] iSazonov commented on #2992
@lzybkr Could you post the exact code to reproduce the problem? (Then I'll try to debug and fix).
Please clarify - Is there the problem in Powershell Core too or only in Windows Powershell?

[2017-01-13 05:30] iSazonov commented on #2989
@SteveL-MSFT Please still comment my "it makes sense to initiate a rewrite of the Microsoft.PowerShell.Archive.psm1 module on C#"

[2017-01-13 06:46] iSazonov commented on #2996
@ssylvan Can you confirm that the problem is on Windows Server 2016 Core server only.

[2017-01-13 07:01] brycem commented on #2571
@lzybkr , I've bugged the PSReadLine in https://github.com/lzybkr/PSReadLine/issues/492

[2017-01-13 07:04] brycem commented on #2571
Closing this issue as we have workarounds - Hopefully the next version of the Windows 10 StandaloneSDK will have this addressed.  They have an internal bug tracking this as well (OS:9651133)

[2017-01-13 07:04] #2571 closed

[2017-01-13 08:28] ssylvan commented on #2996
I'm seeing it on windows 10 on a surface book.

On Thu, Jan 12, 2017 at 10:46 PM, Ilya <notifications@github.com> wrote:

--
Sebastian Sylvan

[2017-01-13 08:46] iSazonov commented on #2996
@ssylvan Thanks for the clarification.

[2017-01-13 12:05] TheElf commented on #1584
@SteveL-MSFT

two questions,

- Is this support only intended to be added to *nix environments?
  - A large number of tools released cross platform use --long-option for their options.
- Is there any update on this? 6.0.0-Alpha.11 was reached in October.

[2017-01-13 12:25] iSazonov commented on #2993
Great! Make PR.
I'd only made the switch more descriptive: `-UnresolvePath`?

[2017-01-13 12:27] muhammad92 commented on #2999
@SteveL-MSFT  Great!

[2017-01-13 13:34] thezim commented on #2997
My text encoding was set to "UTF-8" in the Terminal app. While research how to change the locale I came across this [article](https://www.cyberciti.biz/faq/os-x-terminal-bash-warning-setlocale-lc_ctype-cannot-change-locale/) which was helpful.  Unchecking the **Terminal > Preferences > Advanced > Set locale environment variables on startup** corrected the issue.

That being said should the build d

[2017-01-13 14:19] iSazonov opened #3002 "Move to new Pester version"
Now Pester v3.4.5 support output filters https://github.com/pester/Pester/issues/645. We can use this to reduce the CI output.

Currently we use very old Pester version 3.3.9 (May 23, 2015) so perhaps the time has come to move to new version.

[2017-01-13 15:30] lzybkr commented on #2992
Interactive repo - just typing in from the screen shot. I think it was both, will need to double check.

[2017-01-13 17:16] SteveL-MSFT commented on #1584
@TheElf work for this hasn't started yet (assigned means someone is actively working on it, unassigned means the opposite).  I updated the Milestone to indicate this is something we should have before we declare a beta.  The Alpha.11 milestone used was before we had defined our 6.0.0 and 6.0.0-beta milestones and meant anything not for the first public release.

[2017-01-13 17:26] SteveL-MSFT commented on #2989
@iSazonov Since Archive isn't one of the modules auto-loaded by PowerShell, I don't think we must convert it to C# like new-guid which affected startup time by bringing in the parser.  However, I think when we start adding features to the Archive module (like https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/19), we should evaluate if it would be more productive to move to C#.

[2017-01-13 19:02] lzybkr commented on #2992
Confirmed, repros in full and core, just type `$foo.bar(using module)`, you'll get the exception after typing the closing paren.

[2017-01-13 20:21] iSazonov commented on #2992
Oh, yes.  I'll try to debug on next week.

[2017-01-13 21:22] lzybkr commented on #1584
I think this requires some discussion before anyone starts work.
Is the proposal to allow `--parameter` to mean the same thing as `-parameter` when calling PowerShell commands?
If so, I have one big concern about portability. Should we do this for Windows, or *nix only? Either way, it will allow folks to write scripts that are not portable to Windows PowerShell.

[2017-01-14 01:04] ArieHein opened #3004 "PowerShell Web Access based on kestrel"
As I couldn't find documentation, have you thought about removing the dependency of PSWA on IIS and .NET and instead base it on Kestrel and .NET Core  (or Node.js) ?

[2017-01-14 05:57] Jaykul commented on #1635
But please ... get rid of the top level `$IsWindows`, `$IsLinux` variables, that's ... icky.

[2017-01-14 06:03] Jaykul commented on #1909
For what it's worth, a binary module can be constructed now targeting .Net Standard 1.6 that will work _just fine_ in full Windows PowerShell with Full Framework as well as PowerShell Core. If you don't need to add functionality per OS, there shouldn't be any need to do anything tricky.

[2017-01-14 07:15] richardszalay commented on #1909
Thanks Jaykul,

Does this apply to a specific version of PSCore?

Also does this mean no longer having to make a change to the manifest (thereby losing support for PS < 5) to support PSCore?

[2017-01-14 13:54] chuanjiao10 commented on #2941
hi beginer:
  I found that you have a problem with powershell coding problems. But this is your problem, not the powershell problem. You need to learn as a rookie, and here is a master submit bug, you should not make trouble here.

I am a powershell fans. I'm a teacher of powershell.
Welcome to my group. Powershell study group. QQ group No. is 183173532
============ chinese ================
hi 菜鸟：

[2017-01-15 10:09] mwrock commented on #2915
I'm seeing this as well:

[code]

then:
[code]
However it works fine on shipping powershell 5.1 on windows 10.

[2017-01-15 16:01] iSazonov commented on #2989
@SteveL-MSFT Thanks!

[2017-01-16 12:42] DarqueWarrior opened #3006 "Comment Based help breaks the default Syntax in help"
Steps to reproduce
------------------
I created an advanced function with a lot of parameters including a dynamic parameter (ProjectName) and some with the ValidateSet attribute. When I run Help Get-Build before adding comment based help I get the Syntax below.

Expected behavior
-----------------
[code]

Notice that I can see my dynamic parameter (ProjectName) and all the options for my ValidateS

[2017-01-16 17:29] be5invis opened #3008 "Add a parallel `%` (foreach-object)"

[2017-01-16 20:09] rjmholt commented on #2992
Apologies — I saw the reference to my PR appear here and thought that was enough; I know for next time.

It looks like your fix is considerably more useful.

[2017-01-17 03:18] iSazonov commented on #2992
@rjmholt The cross-references don't cause notifications to be sent by mail, only posts.

[2017-01-17 09:24] iSazonov commented on #2965
How to get pester-tests.xml from Travis job?

[2017-01-17 09:47] gorankor commented on #942
Regarding your comment for the alpha .14 release - can we get some details for getting NTLM and SPNEGO working from Linux to Windows for Centos 7? I have PowerShell from git built and I am using it with https://github.com/PowerShell/psl-omi-provider. It works with Basic authentication but I am interested in getting it going with HTTP encryption. In the end I'd like to use this with my own tool, si

[2017-01-17 17:39] mirichmo commented on #3002
@JamesWTruher and @adityapatwardhan - Have you guys investigating moving to a later version of Pester?

[2017-01-17 18:17] paulcallen commented on #942
PowerShell/psl-omi-provider#75 is tracking the documentation and is assigned to @yakman2020

[2017-01-17 18:52] RamblingCookieMonster commented on #3008
Thoughts from someone who finds parallelism handy:

I'd agree this is valuable given that...

* Tools like PoshRSJob are quite popular (based on download count, article hits, meetup popularity, and the wealth of variations out there)
* Sysadmins traditionally like re-inventing wheels rather than using existing libraries (not written by Microsoft) - i.e. if there were an official Microsoft implemen

[2017-01-17 19:01] avdaredevil opened #3010 "[Feature Request] Allow support for PowerLine Fonts in PowerShell"
Could you please allow for [PowerLine Patched fonts](https://github.com/powerline/fonts) to be enabled in PowerShell so that customizations and interactivity such as [Oh-My-Zsh](https://github.com/robbyrussell/oh-my-zsh) could be brought right into PowerShell!

[2017-01-17 19:19] yakman2020 commented on #942
I am working on doc as we speak.  To see in progress, take a look at v-brucc/ntlm-doc

[2017-01-17 20:52] lzybkr commented on #3010
I don't think this is a PowerShell issue - we rely on the underlying console subsystem for fonts.

I thought powerline fonts worked, this comment suggests they do: https://github.com/Microsoft/BashOnWindows/issues/279#issuecomment-218726174

If you do have issues with the powerline fonts, I suggest searching https://github.com/Microsoft/BashOnWindows/issues to see if the issue is known/solved and

[2017-01-17 20:52] #3010 closed

[2017-01-17 20:54] #2992 closed

[2017-01-17 20:56] #1177 closed

[2017-01-17 21:44] lzybkr commented on #2965
`pester-tests.xml` should now be published as an artifact - see #3003.

[2017-01-17 23:27] 0byt3 opened #3011 ""Cannot load PSReadline module" when powershell is run with a service/daemon account"
Steps to reproduce
------------------
create ./local/share/powershell/Modules directory in user's home to avoid errors from that
(also need to give it permissions to the account)
sudo -i -u cacti powershell -command Write-Host "hello"

Expected behavior
-----------------
Output the text "hello"

Actual behavior
---------------
[code]
Environment data
----------------

[code]

[2017-01-17 23:29] 0byt3 commented on #3011
I am running a Cacti server and would like to use powershell scripts seeing as powershell is pretty awesome, however I have found that the scripts fail, because there seems to be some environment stuff preventing them from working.

[2017-01-17 23:31] 0byt3 commented on #3011
I edited /etc/passwd and changed the default shell from /sbin/nologin to /usr/bin/powershell . When I enter the context of that user:
`sudo -i -u cacti`
I get the following error message:

[2017-01-18 00:14] Francisco-Gamino opened #3012 "We need to host our endpoint of http://httpbin.org/ for the web cmdlets tests"
Steps to reproduce
------------------
http://httpbin.org is not very reliable, so we need to host our own endpoint to validate the web cmdlets. To do this, please take a look at https://github.com/Runscope/httpbin, and see Deploy to Heroku. Perhaps there is a way that we can host our own web service on an Azure VM.

Expected behavior
-----------------

Actual behavior
---------------

Environment

[2017-01-18 01:20] mirichmo commented on #3011
This seems like a module import issue rather a "can't run scripts issue." PowerShell resolves (and auto-loads) PS modules based on the PSModulePath. Within PowerShell, you can view it with this command: `$env:psmodulepath`. The default installation will set up the core modules (Commands.Management, Commands.Utility, PSReadline, etc) so that they auto-load when PowerShell starts.

Can you confirm t

[2017-01-18 03:32] iSazonov commented on #2965
@lzybkr Thanks! I saw the PR. I found code sample for Appveyor but don't undestand how download the Travis artifact. Could you help me?

[2017-01-18 05:20] Jaykul commented on #3010
Yeah, they work. Some of them may not show up in the conhost properties dialog because they're not truly monospaced ... https://github.com/jaykul/powerline

[2017-01-18 05:37] lzybkr commented on #2965
It looks like Travis is not like AppVeyor, the artifacts are private and we'd need to do something to share them.  I'm guessing @JamesWTruher knows much more than I, hopefully he can help.

[2017-01-18 16:38] avdaredevil commented on #3010
Gotcha, sorry for misunderstanding the problem... I realized that PowerShell_ISE is able to render much more characters than the Shell counterpart, as it creates its own shell. Hence, the confusion.

Thanks, it still looks awesome!
![AP's PowerShell](https://cloud.githubusercontent.com/assets/5303018/22073153/90a6add8-dd72-11e6-9f01-c89bf716286e.png)

[2017-01-18 18:47] 0byt3 commented on #3011
$env:PSMODULEPATH is the following

- /usr/local/share/Modules
- /usr/share/cacti/.local/share/powershell/Modules didn't exist to start (makes sense that it wouldn't). This was an issue at first that kept powershell from running, so I created the folder. Now powershell loads, but I get the PSReadline error
- /opt/microsoft/powershell/6.0.0-alpha.14/Modules has 775 root:root permissions on it and i

[2017-01-18 21:14] mirichmo opened #3014 "Move Windows Native Components to a Sub-project or Separate Project"
The WinRM plugin for PowerShell introduces the Visual Studio and Windows 10 SDK dependencies. These are heavyweight components that slow down the build time. Moving the native Windows components to a separate project or sub-project would decouple this dependency and improve build times, CI passes, etc.

[2017-01-19 00:15] SteveL-MSFT commented on #2999
@PowerShell/powershell-committee reviewed this and the recommendation is to add link to your videos to https://github.com/janikvonrotz/awesome-powershell#videos.  Thanks!

[2017-01-19 00:31] joeyaiello commented on #1584
We talked about this one in our last @PowerShell/powershell-committee meeting. We definitely have a strong desire to align with Linux conventions (and are open to any other suggestions in that space).

However, there's a few reasons why we feel like this could provide a negative value without a strong counter-benefit:

- As @lzybkr says, this will break portability with Windows PowerShell scripts

[2017-01-19 06:04] chunqingchen opened #3016 "Check for invalid exported commands in Test-ModuleManifest"
This is a customer feedback according to issue
https://github.com/PowerShell/PowerShellGet/issues/87

when user input CmdletsToExport = '@() ' in module manifest, test-modulemanifest suppose to give friendly warning about this.

Environment data
----------------
[code]

[2017-01-19 07:39] iSazonov commented on #2731
@PowerShellTeam I started working on this, please assign me.

[2017-01-19 14:27] iztokp commented on #2291
Any hints on how to make this work on Linux (CentOS)?

[2017-01-19 16:18] alx9r opened #3018 "Exceptions raised by {}.Invoke(), {}.InvokeReturnAsIs{}, and {}.InvokeWithContext{} omit originating line(s) from stack trace"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------

Exceptions raised in scriptblocks invoked using `.Invoke()`, `.InvokeReturnAsIs()`, and `.InvokeWithContext()` should include in the exception's stack trace the originating location of the exception.

Actual behavior
---------------

`.Invoke()`, `.InvokeReturnAsIs()` and `.InvokeWithContext()` do not include the or

[2017-01-19 17:41] SteveL-MSFT commented on #3011
PSReadline is just another module, but one that PowerShell console tries to load for the interactive experience.  The issue as @mirichmo pointed out is that modules aren't being found.  I tried to repro this locally but not familiar with Cacti.  I installed it via apt-get on my Ubuntu 16.04 VM, but it didn't create the cacti user account.  @0byt3 how did you create that user?

[2017-01-19 18:25] lzybkr commented on #3018
`h` is an alias to `Get-History`. Command look prefers aliases over functions. So I think this is expected.

[2017-01-19 18:42] #2807 closed

[2017-01-19 18:43] Francisco-Gamino commented on #2807
This issue has been fixed on the back end.

[2017-01-19 19:02] alx9r commented on #3018
@lzybkr Oh that's embarassing.  I have updated the repro to avoid the use of `h`.  I think the problem of `.InvokeX()` omitting lines from the stack trace remains.

[2017-01-19 19:06] Francisco-Gamino commented on #1731
This issue was fixed when I enable get-help on Linux. Please see https://github.com/PowerShell/PowerShell/pull/1695. Thanks.

[2017-01-19 19:40] lzybkr commented on #3016
I'm not sure I understand what the proposed warning should be.

I don't think we should test for a specific string, e.g. `'@()'`, that seems like too much of a special case.

Ideally we could warn on exported commands that don't exist, though that's harder or impossible to implement for modules that dynamically define commands.

As a compromise, we could warn if any of the exported commands don't

[2017-01-19 19:41] Jaykul commented on #3008
Does PoshRSJob work on linux?
Can we pick a winner and ship it "in the box" now that "the box" isn't Windows™️?

[2017-01-19 19:44] Jaykul commented on #3016
How about if Test-ModuleManifest just issues the same warning Import-Module would about the name not having a valid verb ;-)

[2017-01-19 19:47] Jaykul opened #3020 "Can we use | on the next line as a continuation character?"
I would like it if PowerShell could detect the pipe character as the first non-whitespace on a line as a continuation of the previous line, meaning we could write something like this:

[code]
without having to add backticks!

[2017-01-19 19:52] 0byt3 commented on #3011
You can do this with any service/daemon account. Do it with the apache account. Edit the /etc/passwd file, so that apache's shell is /usr/bin/bash instead of /sbin/nologin . Then enter the apache user context with
`sudo -i -u apache`
 You could also enter the context of that user with
`su apache`
Then load powershell and you'll find that PSReadline cannot be loaded. If I create a normal user with

[2017-01-19 20:17] lzybkr commented on #3020
In a script - yes, but that would break the ability to use the old school right-click or Alt+e,p paste in the console because after enter, you'd have a complete command line.

[2017-01-19 22:15] dragonwolf83 commented on #3008
We really need a port of Windows Workflow Foundation to .NET Core since that is how PowerShell Workflows work or a rewritten version of those concepts if the engine is too complex. Adding Parallel is not enough, you need the other activities like Sequence too. I haven't heard of any plans around that though so I hope someone from PowerShell can find out since they added it as a core feature in Des

[2017-01-19 23:43] Mirend opened #3021 "Unable to use PowerShell Transcription with Active Directory Administrative Console (ADAC)"
Steps to reproduce
------------------
Setup group policy to enable PowerShell Transcripting. From a machine that has that policy applied, launch ADAC. The error "Cannot connect to any domain. Refresh or try again when connection is available." pops up and ADAC can't be used.

Expected behavior
-----------------
There should be no error so ADAC can continue to be used with transcripting enabled.

A

[2017-01-20 00:30] Francisco-Gamino commented on #1731
This issue is fixed on Linux, but not on Windows, so activating issue.

[2017-01-20 02:20] yanxyz commented on #2941
@chuanjiao10 你认为我在捣乱的话，那你先在打广告之前先把我的问题给解答一下呀，我也好知道你是否有资格教训别人。

[2017-01-20 03:54] chuanjiao10 commented on #2941
Here is the place to submit the bug. you submit the title ambiguous, content confusion, so this issue should be closed. Please go to learn the wisdom of questions.(请你先去学习提问的智慧。)

[2017-01-20 05:34] iSazonov commented on #3020
Related discussion #2819

I see bad UX for interactive session: after first `NewLine` parser will wait next `NewLine` or skip spaces up to `|` or `NewLine` - this will confuse the user.

For script this is a request to delete a continuation character ` (backtick) in time as we can always type:
[code]

[2017-01-20 05:43] iSazonov commented on #3021
If the Issue is ADUC specific it is better report on [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

[2017-01-20 05:47] Jaykul commented on #3020
The parser **already** does this in other places.

[code]

@lzybkr obviously having the parser be **able** to do understand it doesn't mean people _must_ write multiple lines that way -- many people have adopted stroustrup style, or even "brace on their own line" and other style things that break pasting (especially since PSReadLine messed with right-click and made Ctrl+V work). That shouldn't mak

[2017-01-20 06:28] lzybkr commented on #3020
PSReadline doesn't mess with right-click, although there is a corner case where a TAB character expands to something it wouldn't have w/o PSReadline - but that has more to do with how multi-line input isn't working as expected if you don't use PSReadline.

But my point was really simpler - the interactive experience was intended to be as close as possible, ideally identical, to putting the same te

[2017-01-20 06:43] lzybkr commented on #2219
Sorry, I missed commenting on this. I don't have a strong preference on tests.  BasicParsing.Tests.ps1 is probably not the place for anything that tests semantics.

You can submit a PR whenever you like - but if there aren't any tests, of course you'll be asked to add them.

[2017-01-20 12:50] KirkMunro commented on #3020
Right-click-paste could use some modernization, pasting the entire clipboard buffer into the console as if you had shift+entered each line and then running it that way. Even without considering this issue I think that would be useful by itself -- how many times have you right-click-pasted something that wasn't quite right (parse errors) and saw a bunch of error messages, perhaps interspersed with

[2017-01-20 13:38] n3l5 opened #3023 "Get-ComputerInfo : Unable to find an entry point named 'GetFirmwareType' in DLL 'kernel32.dll'.""
Error Message:
"Get-ComputerInfo : Unable to find an entry point named 'GetFirmwareType' in DLL 'kernel32.dll'."

Environment:
------------------
Windows Management Framework 5.1
Operating System: Windows 7 x64

Examples
------------------
[code]

[code]

[2017-01-20 14:20] iSazonov commented on #3023
@n3l5 Thanks for bug report!

`GetFirmwareType`[ is introduced in Windows 8 and Windows Server 2012 ](https://msdn.microsoft.com/en-us/library/windows/desktop/hh848321%28v=vs.85%29.aspx)

[2017-01-20 15:48] lzybkr commented on #3020
Right click is not a PowerShell feature, it's a conhost feature. Conhost can't always assume simulating typing is equivalent to paste without some coordination with the current console process.

[2017-01-20 19:06] andschwa opened #3026 "Document and setup up Fedora releases"
#2982 added the ability to build Fedora, but we don't have updated documentation or a release plan for it.

[2017-01-21 03:29] Jaykul commented on #3020
Yes. It might make right-click paste awkward. In exactly the same way `else` does.

[2017-01-21 06:40] megamorf commented on #2993
I'd suggest something along the lines of -SkipPathCheck similar to the other Skip switches as mentioned in #2006

[2017-01-21 16:47] iSazonov commented on #2993
Perhaps @rkeithhill will again offer a good option.

[2017-01-22 18:31] Ciantic opened #3027 "Crash of whole powershell when invoking querySelectorAll"
Steps to reproduce
------------------
`(Invoke-WebRequest www.microsoft.com).ParsedHtml.querySelectorAll("h2")`

Expected behavior
-----------------
Powershell window should *never* crash, even though what I wrote isn't supported somehow.

Actual behavior
---------------
Powershell crashed.

Environment data
----------------

[code]

[2017-01-22 18:49] Ciantic opened #3028 "Powershell -WindowStyle Hidden still shows a window briefly"
Steps to reproduce
------------------
In Windows run dialog type this:
PowerShell.exe -WindowStyle Hidden -Command ping www.microsoft.com

Expected behavior
-----------------
There should be no window, right now you can't start powershell without window flashing, making it rather useless e.g. for scheduled tasks.

*Note* I think this is intended behavior, but it's confusing and new option is proba

[2017-01-22 21:15] treeder opened #3029 "Started getting some weird Cygwin warnings"
I got this when I fired up Powershell today, "Couldn't compute FAST_CWD pointer".

![cygwin-warning](https://cloud.githubusercontent.com/assets/75826/22186064/bfa8b8ee-e0a4-11e6-9587-f10007e91d97.PNG)

Any ideas?

[2017-01-23 03:55] iSazonov commented on #3027
@Ciantic Thanks for report the Issue!
Could you show `$Error[0] | fl * -force` ?

[2017-01-23 08:51] Ciantic commented on #3027
@iSazonov the powershell.exe *window* crashes. If I open a new powershell window and type those, nothing comes up.

[2017-01-23 10:20] iSazonov commented on #3027
I see. I thought that only the cmdlet is crashed.
I can confirm the Issue is on:
[code]
But in Powershell Core there is not a problem:
[code]

[2017-01-23 16:38] pv2b opened #3030 "Set-AdUser does not do input validation on -HomeDrive"
Steps to reproduce
------------------

```Set-Aduser johndoe -HomeDrive H -HomeDirectory \\file01\home$\johndoe```

Log in interactively as Johndoe, look in explorer and see what drive letter the home directory is mapped to.

Expected behavior
-----------------

When John Doe logs in, the H: drive is mapped to his home directory ```\\file01\home$\johndoe```

Alternatively, an error message should

[2017-01-23 17:51] joeyaiello opened #3031 "Order of PSVersionTable keeps changing"
I'm okay being told that this isn't important, but it does feel a little annoying for anyone trying to build muscle memory on where to glance when checking for the `PSVersion`, `GitCommitId`, or `PSEdition`.

Steps to reproduce
------------------
Call $PSVersionTable from any version of PowerShell Core 6.0

Expected behavior
-----------------
The ordering of the output should remain the same betwe

[2017-01-23 17:53] joeyaiello commented on #3030
Unfortunately, this GitHub project is only for issues relating to PowerShell 6.0+, and the PowerShell modules that ship with it.

Feel free to refile your feedback on the [Active Directory UserVoice](https://windowsserver.uservoice.com/forums/304621-active-directory) where someone from the AD team can take a look at it. Thanks!

[2017-01-23 17:59] joeyaiello commented on #1635
@PowerShell/powershell-committee I agree w/ @Jaykul on this one. We should try and move to CoreFX's `Environment.OSVersion` when it's available (looks like 2.0 timeframe): https://github.com/dotnet/corefx/pull/9851

The next question is whether or not we should propagate `$PSVersionTable` with `Environment.OSVersion` or make users search the web to learn about it (leaning towards the former, but I

[2017-01-23 18:03] joeyaiello commented on #3029
Unfortunately, this is showing up on `cmd` as well (many of across the team are hitting on it). Something going on with Windows. Given how many of use Git, I'm sure that someone is following up in Windows-land:

[code]

[2017-01-23 18:08] joeyaiello commented on #3027
Glad it's fixed in 6.0, but I agree that's not awesome in 5.x. Following up offline w/ @SteveL-MSFT

[2017-01-23 18:12] joeyaiello commented on #3023
Given the behavior isn't there on Win7, I'm not sure what we can do other than do a better of job of erroring out. We also wouldn't ship a change for that unless we had a hypothetical WMF 5.2, though I'm not speaking here to whether that's happening or not.

[2017-01-23 18:22] treeder commented on #3029
I updated git to 2.11.0 and I think it may have resolved it. Was released 9 days ago.

[2017-01-23 18:25] SteveL-MSFT commented on #3027
@joeyaiello it's not "fixed" in 6.0, but a side-effect that ParsedHtml isn't an implemented property on PSCore because it depends on Internet Explorer (the error message is literally saying 'you can't call a method on parsedhtml because it's null').

[2017-01-23 18:33] rkeithhill commented on #3031
I'd say either pick an order based on relevance in which case PSVersion and PSEdition should probably be the first two fields and BuildVersion/GitCommitId that last two.  Or just make it alphabetical.  I'd prefer the former but could live with the latter.

[2017-01-23 19:05] n3l5 commented on #3023
Unless there is an option to feature request a kernel fix for Win 7 to support this, can be closed out since this appears to be a kernel feature and Win 7 is on the way out.

[2017-01-23 19:53] joeyaiello commented on #3023
Thanks @n3l5!

[2017-01-23 21:07] #2994 closed

[2017-01-23 22:37] letmaik opened #3035 "Get-WinEvent does not read all TraceLogging event details"
Steps to reproduce
------------------
1. Use [TraceLogging](https://msdn.microsoft.com/en-us/library/windows/desktop/dn904637(v=vs.85).aspx) and record some events.
2. Run:
[code]

Expected behavior
-----------------
The information should correspond to what can be seen when opening the file in Windows Performance Analyzer.

Actual behavior
---------------
Fields like task name, or custom fields a

[2017-01-24 00:04] joeyaiello commented on #2859
Closing as a dupe of #2801

[2017-01-24 00:04] #2859 closed

[2017-01-24 00:04] joeyaiello commented on #2847
Closing as a dupe

[2017-01-24 00:04] #2847 closed

[2017-01-24 00:21] HemantMahawar commented on #2468
Fixed with #2687

[2017-01-24 00:21] #2468 closed

[2017-01-24 01:09] dantraMSFT opened #3038 "PSReadLine does not support Ctrl-Left and Ctrl-Right on Ubuntu"
Ctrl-Left and Ctrl-Right do not move the cursor to the previous or next word.

Steps to reproduce
------------------
1: Type a cmdlet name and a single parameter to ensure white space appears, such as Get-Content -ReadCount
2: Use Ctrl-Left to tab to the start of the word ReadCount
3: Use Ctrl-Left to move to the start of the word Content

Expected behavior
-----------------
The cursor is moved th

[2017-01-24 08:58] ScriptAutomate commented on #2590
Ran into this issue recently. When importing a module, none of the imported commands are given the DefaultCommandPrefix that is set within the module manifest (as mentioned above)

[2017-01-24 10:11] goyalmohit commented on #2929
Documentation stands updated. So closing this bug now.

[2017-01-24 10:11] #2929 closed

[2017-01-24 15:52] ivanakcheurov opened #3039 "Two double-quotes in inline expressions"
Steps to reproduce
------------------
`"Fancy string - $('Hor"ray'.Replace('"', '""'))"`

Expected behavior
-----------------
Output: `Hor""ray`

Actual behavior
---------------
Output: `Hor"ray`

Environment data
----------------

[code]

http://stackoverflow.com/questions/24242338/powershell-doubled-double-quotes-in-inline-expressions/24346886#24346886
`'""'` outputs `""` so I expect `"$('""')"`

[2017-01-24 19:21] joeyaiello commented on #3029
That fixed me too! Thanks, @treeder

[2017-01-24 19:21] #3029 closed

[2017-01-24 20:32] MysticRyuujin opened #3040 "System.Net.WebClient.Proxy.GetProxy fails after bad/relative URI"
Steps to reproduce
------------------
(new-object System.Net.WebClient).Proxy.GetProxy("http://www.msn.com").Host
(new-object System.Net.WebClient).Proxy.GetProxy("www.msn.com").Host
(new-object System.Net.WebClient).Proxy.GetProxy("http://www.msn.com").Host

Expected behavior
-----------------
1. Output of Proxy Server Hostname
2. Error: "This operation is not supported for a relative URI."
3. Ou

[2017-01-24 20:56] MysticRyuujin commented on #3040
I did a little more digging, this issue only happens when I am using a PAC file from an automatic configuration script. If I manually assign a proxy server, the command behaves as expected, but with an automatic configuration script being used it behaves as posted.

[2017-01-24 21:12] SteveL-MSFT opened #3041 "Invoke-RestMethod should support Link header based pagination"
https://tools.ietf.org/html/rfc5988#page-6 defines a standard for the Link header for navigation and standard Link Relation Types: first, last, next, prev for pagination purposes.  We should expose a parameter to automatically retrieve additional pages rather than having every script implement this logic

[2017-01-24 21:15] SteveL-MSFT opened #3042 "Invoke-WebRequest errors if Internet Explorer is not installed"
By default, Invoke-WebRequest relies on Internet Explorer components to parse the html (user retrieves it via the .parsedhtml property), however in Azure Functions and Containers, IE is not present so if -UseBasicParsing is not specified, you get an error saying that IE is not installed.

Expected behavior is for Invoke-WebRequest to default to -UseBasicParsing if IE is not present (perhaps output

[2017-01-24 21:48] lzybkr commented on #3039
I'm not sure this can be fixed, it would likely break existing scripts, especially because the workaround is to use more quotes.

My memory is a little fuzzy, but I believe I tried to fix this issue when rewriting the parser in V3. I don't recall specifics, but my original design was to tokenize the sub-expression during initial scanning of the string, and I think it would have naturally worked as

[2017-01-24 21:51] lzybkr commented on #3038
I believe this is by design - on Linux we default to using `Emacs` key bindings.

If I switch to `Windows` bindings, it works as expected:

[code]

[2017-01-24 22:15] SteveL-MSFT commented on #3040
Isn't this an issue with the WebClient class and not PowerShell?  Do you get expected behavior with just C#?

[2017-01-24 22:40] SteveL-MSFT commented on #3004
Good suggestion, however PowWa is outside the scope of PowerShell Core (not owned by this team).

[2017-01-25 00:04] SteveL-MSFT commented on #3011
@0byt3 I wasn't able to get your exact repro, but I did hit an issue trying to start powershell under the sshd account.  I made a change in my fork: https://github.com/stevel-msft/powershell, can you try building powershell from my fork and see if that resolves your issue?

[2017-01-25 06:08] olivier-spinelli opened #3044 "VSCode removes Explorer "Run wit PowerShell" menu entry."
Steps to reproduce
------------------
Open a .ps1 with VSCode after having installed PowerShell support.

Expected behavior
-----------------
In Explorer I still benefit of "Run wit PowerShell" in Explorer menu entry.

Actual behavior
---------------
Explorer's menu item is no more available.
Closing VSCode does not restore the expected behavior. Rebooting does.

Environment data
----------------

[2017-01-25 11:52] iSazonov commented on #3038
I can confirm that it works as expected with `Set-PSReadlineOption -EditMode Windows`.

[2017-01-25 14:39] MysticRyuujin commented on #3040
Here is why I think this is a PowerShell issue:

I'm using New-Object to instance a new System.Net.WebClient each time I run the command, the failure of the second command should have no impact on a New-Object

Second, the following code works:
$Source = @'
using System;
using System.Net;

public class ProxyTest
{
   public static void Main()
   {
      using (WebClient client = new WebClient())

[2017-01-25 16:11] iSazonov commented on #3040
It is seems the key here is `using (WebClient client = new WebClient())`

[2017-01-25 16:16] 0byt3 commented on #3011
Sorry, that didn't help me. I think I'll have to make a video to show how I come across the problem.  Since no one seems to be able to re-create it, yet I'm doing this with fresh installs of Ubuntu 16.04.1 and CentOS 7.

[2017-01-25 16:49] SteveL-MSFT commented on #3011
I think I have a closer repro as I can now start powershell with the sshd account, but the psmodulepath is not correct, so write-host isn't found.  I'll continue to work on this.

[2017-01-25 17:02] mirichmo opened #3045 "New-localuser cmdlet fails length check on Name parameter"
Update: This is a documentation bug. Example 3 is not correct and should be removed.

The cmdlet should accept longer names such as MSAs as specified in the [MSDN help](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.localaccounts/new-localuser).

[code]
Version:
[code]

TFS:10558531

[2017-01-25 17:15] iSazonov commented on #3045
@mirichmo Can you post the MSDN help link?

[2017-01-25 17:28] MysticRyuujin commented on #3040
@iSazonov forgive me if I don't fully understand, I'm certainly not an expert nor a professional programmer...

I don't understand why using what seems to me as a fully disposable command has any impact on additional usage of that command?

(New-Object System.Net.WebClient).Proxy.GetProxy()

I'm not storing it as a variable or making any calls back to it and each time it's run I'm specifically cre

[2017-01-25 17:34] mirichmo commented on #3045
Updated

[2017-01-25 17:41] iSazonov commented on #3045
The help say:

I believe that this happens from [here](https://msdn.microsoft.com/en-us/library/ms679635(v=vs.85).aspx)

[2017-01-25 17:51] iSazonov commented on #3040
I am not an expert too.
I only suggested an experiment with replacing `using (WebClient client = new WebClient())` in `WebClient client = new WebClient()`

[2017-01-25 17:56] MysticRyuujin commented on #3040
Works as expected

[code]
Also works as expected:
[code]

I think maybe that last one is a little more "what I think should be happening" based on my understanding of my use of New-Object

[2017-01-25 18:05] MysticRyuujin commented on #3040
Adding a Try {} Catch {} to the second command does not change the PowerShell behavior either, it still just prints "www.msn.com":
Try { (new-object System.Net.WebClient).Proxy.GetProxy("www.msn.com").Host } Catch {}

[2017-01-25 18:08] #3038 closed

[2017-01-25 19:32] BrucePay commented on #3031
$PSVersionTable is simply a hashtable so the order of the keys is not guaranteed. Changing the type of the object would be a breaking change. Since it's just a hashtable, it's displayed using the normal hashtable renderer. It might be reasonable to change the hashtable rendering so that the keys are sorted first though this would change the behavior for all hashtables. (Changing how an object is r

[2017-01-25 19:42] jeffbi commented on #3045
The page the original decision came from was [here](https://technet.microsoft.com/en-us/library/cc770642.aspx).

[2017-01-25 19:45] BrucePay commented on #3028
powershell.exe is a console application. The console window is automatically created by the OS when the process starts. The powershell.exe code that processes -WindowStyle Hidden is therefore executed after the console window is opened hence the flash. To fix this, we would need the equivalent of wscript i.e. a win32 host application instead of a console host application. 

[2017-01-25 20:45] joeyaiello opened #3046 "PowerShell 6.0 Plan"
This is a **preliminary**, **WIP** roadmap/plan for what we on the @PowerShell/powershell-committee believe needs to be in a PowerShell 6.0 release. We will be iterating on this *significantly* based on your feedback, as well as potentially shifting internal priorities. The goal is for all line items here to eventually be represented by issues attached to either the `6.0.0` or `6.0.0-beta` milesto

[2017-01-25 20:55] daviwil commented on #3044
Hi Oliver, this is likely an issue with VS Code itself, we don't do anything specific to change the Explorer context menu for .ps1 files.  I'd recommend filing this issue over on their GitHub repository:

https://github.com/Microsoft/vscode/issues

[2017-01-25 20:58] joeyaiello commented on #2654
Closing as a dupe

[2017-01-25 20:58] #2654 closed

[2017-01-25 21:01] olivier-spinelli commented on #3044
Thanks, I will investigate a bit more and report this.

[2017-01-25 21:01] #3044 closed

[2017-01-25 21:01] joeyaiello commented on #2608
@DarwinJS I think you're agreeing with @SteveL-MSFT and @mirichmo on this one: we should have a universal installer for each bitness (so two total).

[2017-01-25 21:08] DarwinJS commented on #2608
@joeyaiello I am actually pointing out that when the installation technology is MSI - you don't have any other choice than to do it per-bitness.

However, even if you did setup.exe, probably still best to have 2 because the only way to make one is to make the kicker 32-bit and Nano and many installations of Server Core won't have the 32-bit subsystem installed.

FYI - chocolatey handles the switch

[2017-01-25 21:45] lzybkr commented on #3031
If we don't want alphabetical, there are a couple of options:

* Use OrderedDictionary - maybe not a breaking change (unlikely breaking change?) because there is no C# api here -and reasonable because it still supports IDictionary
* Add to PSTypeNames to trigger a custom formatter

[2017-01-25 22:27] mirichmo commented on #3045
The original SAM API (pre-Win 7?) had that restriction, so it is documented in those locations, in net.exe, and lusrmgr.msc. However, I suspect that the new SAM API allows longer names (up to 255+?), so we may be able to relax the restriction or get rid of it.

[2017-01-25 22:34] joeyaiello opened #3048 "Smartcard support for Get-Credential and PSRP"
Originally filed at https://github.com/PowerShell/PowerShell-Docs/issues/990

Quote from @aarju:

[2017-01-25 23:34] vors opened #3049 "double quotes in string literal arguments get removed when calling native commands"
Steps to reproduce
------------------

On macOS run
[code]

Expected behavior
-----------------

Show notification, just like in bash

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-01-26 00:50] SteveL-MSFT commented on #1635
@PowerShell/powershell-committee reviewed this, we agree that $psversiontable should use Environment.OSVersion to populate the new OS property.  On the topic of $IsWindows/$IsLinux/$IsMac, we agree that the capability to check for the OS via a variable is needed, but should consider implemented in a different way (ie, a prefix to avoid collision or make them members of a feature check variable lik

[2017-01-26 01:36] labmanjoe opened #3052 "New-PSSession does not work with -ConnectionURI on 14.04/16.04"
After calling $UserCredential = Get-Credential

then doing

[code]

results in

[code]

not sure what the expected result is, but that's not it.

Version info:

[code]

Running strace on the binary, it appears to be a problem resolving the hostname.   Instead of doing a dns query for outlook.office365.com, it is doing a dns query for https:.default.domain.com (where default.domain.com is the domai

[2017-01-26 01:49] mirichmo commented on #3052
@paulcallen - Please comment on this issue with regard to #942. Is it a newly uncovered issue or a duplicate?

[2017-01-26 04:07] iSazonov commented on #3045
Seems the documentation is still not updated. I could find nothing about this change. Is there a public description?

[2017-01-26 13:11] Ciantic opened #3054 "Feature: powershell.exe mouse clickable file paths"
Suppose I have devised some magical command line, e.g.
gci -recurse *.php | select name, Directory, LastWriteTime | sort lastwritetime

And now I have list of files and paths in front of me, it would be useful to be able to click or ctrl+click on the powershell window to open the path in file explorer.

Open question is how it should behave if I ctrl click a file path (vs. directory path) should i

[2017-01-26 13:37] RamblingCookieMonster commented on #3008
@Jaykul - Yes, PoshRsJob works across platforms.  I don't think there are really any competitors, unless you're talking one-off commands for ad hoc parallelization (invoke-parallel, foreach-parallel, foreach -parallel, etc.) - Personally I think it would be a great fit : )

@dragonwolf83 - That's a bit of scope creep : )  Guessing there's an issue covering Workflows (which personally, are one of t

[2017-01-26 13:56] powercode commented on #3008
This may actually require some more thinking. Since it is involving running in other runspaces, we may want to use "using:$var" or using:function in some way to indicate what to import into the other runspaces.
There are also issues to solve regarding how to handle the output streams, and it may involve either choosing good progress reporting or fast initial processing.

My vote is clearly to get

[2017-01-26 15:12] Jaykul commented on #3046
This works already -- targeting .NET Standard 1.6.  The hard part is loading OS-specific assemblies -- do we need `/lib/{OS}/*.dll` automatic loading of `RequiredAssemblies`?

[2017-01-26 16:20] kittholland commented on #3008
+1 to powercode, I would like to echo that the ordering issues with returning different output streams (along with a few other issues it returns each channel serially, rather than interleaved in chronological order), as well as the lack of debugging makes it difficult to troubleshoot.

[2017-01-26 18:34] pcgeek86 opened #3055 "Certificate provider (PSDrive / PSProvider) on Mac OS X is missing"
Steps to reproduce
------------------

- Log into a Mac OS X Sierra system
- Install PowerShell Core 6.0.0 Alpha 14
- Run `Set-Location -Path cert:`

Expected behavior
-----------------

PowerShell changes context into `cert` PSDrive.

Actual behavior
---------------

PowerShell throws an exception.

[code]

The `Get-PSDrive` command verifies that the `cert` drive does not exist.

[code]

Environm

[2017-01-26 18:38] pcgeek86 commented on #3046
WinRM client with Kerberos and client certificate authentication, from Linux and Mac OS X is something I'd consider essential. We're looking for the ability to deploy remote PowerShell code to Windows systems from non-Windows systems, via Docker containers.

Would NTLM cover this scenario in a secure manner? I'm not clear on the pros / cons of NTLM vs. Kerberos, but either way, I think client cert

[2017-01-26 19:53] paulcallen commented on #3052
it was reported first as part of #942. There is an issue in powershell/psl-omi-provider#67 tracking progress.
Current status is that -ConfigurationName does the correct thing thing now, but the underlying stack does not like the redirects that this operation requires. I am currently working through that. Once that is complete we will be dropping new binaries to powershell to be included in the off

[2017-01-26 21:54] joeyaiello commented on #3046
@pcgeek86 @fabiendibot good to hear. I then pose the question: are you okay AD-joining your Linux (or Mac) boxes? Or do you expect to be manually handling the certs?

Better yet, what's the blocker for you using PSRP over SSH from Mac/Linux to Windows? Do you have some sort of cert solution that's simpler than public/private key pairs?

[2017-01-26 21:59] joeyaiello commented on #3054
I'm not *positive* on this,, but I believe this would require changes to the console host before PowerShell could do anything.

In fact, it looks like there's already a UserVoice suggestion for the Windows conhost: https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo/suggestions/6511299-make-links-clickable

Feel free to upvote that one!

[2017-01-26 22:22] dragonwolf83 commented on #3008
@RamblingCookieMonster I think the issue with Workflows is that it is not really PowerShell so it made it harder to use than it needed to be. The theory was good though to be able to code a complex workflow and still see it in a designer for those less code inclined.

I think best course of action is to get this natively like @powercode said. A native non-Workflow implementation of ForEach-Object

[2017-01-26 22:41] daviwil commented on #2697
Paul has submitted a PR for this: https://github.com/PowerShell/PowerShell/pull/3015

[2017-01-26 22:44] #1812 closed

[2017-01-26 23:05] jeffbi commented on #3045
I just stepped through the new-localuser cmdlet on my Windows 10 box with the name-length validation removed. The SAM API call fails with INVALID_USER on user names greater than 20 characters.

[2017-01-27 00:46] SteveL-MSFT commented on #3040
I'm not able to repro the original issue making it difficult to investigate further.  I created a simple pac file:

[code]

Chrome, Edge, and IE all observe the Internet Options settings when I set that pac as the auto configure file and behaves as I expect: failing on www.google.com, working for everything else.

When using the WebClient class, it doesn't appear to use my pac at all.

[2017-01-27 00:54] mirichmo commented on #3045
Confirmed. I looked through the SAM source code and double-checked account name validation. The limit is 20 characters for users and 256 for groups.

I am going to re-classify this as a documentation bug.

[2017-01-27 00:59] thezim commented on #3049
The following change does work.
[code]

Per the man page.

    -e statement
           Enter one line of a script.  If -e is given, osascript will not look for a filename in the argument list.
           Multiple -e options may be given to build up a multi-line script.  Because most scripts use characters that
           are special to many shell programs (for example, AppleScript uses single and

[2017-01-27 01:12] pcgeek86 commented on #3046
We've got a separate certificate publishing system in place already, so that's taken care of.

I'll have to see how PowerShell Remoting over SSH works before I can comment further on that scenario. As of this point, I'm not aware of any functional implementation of it. The solution would need to work on down-level Windows operating systems though.

[2017-01-27 01:16] vors commented on #3049
@thezim good to know, thank you!
I still think there is an issue, because it's super unintitive for me, why I need to escape these quotes, when the whole parameter is already wrapped in the single-quoted string.

Also it related to the pillar of "making PS more compatible with existing shells to allow more commands work thru copy-paste".

[2017-01-27 01:22] thezim commented on #3049
@vor I agree. I would prefer your example to work too.

[2017-01-27 04:03] iSazonov commented on #3008
+1 to powercode
Perhaps we should consider this issue more widely because any cmdlet with (for example) `-ComputerName` option is potentially a candidate for `-parallel`.

[2017-01-27 04:17] iSazonov commented on #3054
I would even say that it is not a powershell and conhost function, it is rather VT and operating system function similar to launch default applications in cmd.exe.

[2017-01-27 08:33] Lantizia opened #3056 "Repositories"
Not a bug...

Just a suggestion/feature request that this page...

https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md

Should probably also mention that official Microsoft repositories seem to exist for RHEL, SLES and Ubuntu over at packages.microsoft.com.

You can see them in use on this page...

https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools

[2017-01-27 11:05] Ciantic commented on #3054
I'm closing this since the uservoice voting addresses this already.

[2017-01-27 11:05] #3054 closed

[2017-01-27 14:29] cdhunt opened #3057 "Errors occurred while loading the format data file"
Steps to reproduce
------------------
Attempt to Import [PowerShellHumanizer](https://www.powershellgallery.com/packages/PowerShellHumanizer/3.1) module v3.1.

Expected behavior
-----------------
PowerShell loads the custom type data files.

Actual behavior
---------------
Errors about `CustomEntries` and `CustonItem` Xml nodes. An error about `resource FileSystemProviderStrings` missing from `Sys

[2017-01-27 15:09] lzybkr commented on #3054
Console applications like PowerShell can implement features like this (process mouse input) but very few do these days.

That said, this feature makes sense for conhost to support as that helps all console applications.

[2017-01-27 16:08] pcgeek86 opened #3058 "Add operating system name to Mac OS X package"
For PowerShell Core distribution packages, every other package has the operating system name in the file name, except for the Apple Mac OS X one, with a `.pkg` file extension.

I'd suggesting adding the operating system into the package's file name, to make it clear which OS it's intended for.

![screen shot 2017-01-27 at 9 06 35 am](https://cloud.githubusercontent.com/assets/466713/22377683/18b33

[2017-01-27 16:12] pcgeek86 commented on #3046
I'd also add some emphasis around building binary modules surrounding .NET Standard. I'm glad to see this was added in there. Perhaps we should add something around loading .NET assemblies into PowerShell, and calling into them? I know a lot has changed in .NET Core, with respect to AppDomains, reflection, and so on ... I think this area could use some attention.

[2017-01-27 16:24] whatevergeek commented on #3046
i agree to both @Jaykul  and @pcgeek86
a powershell gac or library folder sort of would be good...
this will help us manage assemblies that our corresponding modules are using/installing...
i think node/python also have this concept...

[2017-01-27 16:31] modulexcite opened #3059 "Importing locally developed module fails with Import-Module command"
I have a locally created module that's not published on the gallery but stored under `My Documents\WindowsPowerShell\Modules` folder. When I try to import it using `Import-Module -Name MyTestModule` in the profile script it reports the following error:

    + CategoryInfo          : NotSpecified: (:) [Import-Module], FileLoadException
    + FullyQualifiedErrorId : System.IO.FileLoadException,Micro

[2017-01-27 16:53] thezim commented on #3059
@modulexcite I recently had a similar [issue](https://github.com/thezim/posh-stig/issues/14) with a module of mine.  ```Test-ModuleManifest``` got me the right direction. My RootModule in my .psd1 was prefixed with ```.\```. Perhaps this may help.

[2017-01-27 17:30] modulexcite commented on #3059
@thezim that sure was the problem. Thanks a lot, can't believe I missed that.

[2017-01-27 17:58] Gemstar007 opened #3060 "When using Invoke-SqlCmd in a loop, print buffer doesn't get flushed before a Read-Host is executed"
Steps to reproduce
------------------
function Bug {
  while($true) {
    “Before Output”
    Invoke-SqlCmd -Query "SELECT TOP 10 *  FROM YourTable” -Server "YourServer" -Database "YourDB"    
    "After Output"
    Read-Host -Prompt “press a key…”
  }
}
Bug

Expected behavior
-----------------
“Before Output” -> SqlCmd results -> “After Output” -> “press a key…” ->(returned Read-Host value) -> LO

[2017-01-27 18:29] briantist opened #3061 "Set-StrictMode should detect use of automatic variables as parameters or the target of an assignment"
It's common for people to inadvertently to use an [automatic variable](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.core/about/about_automatic_variables) as a parameter name or a variable name, and then get confused when it doesn't contain the value they expect.

[This is just one example](http://stackoverflow.com/q/41899833/3905079) but it comes up fairly often,

[2017-01-27 19:07] iSazonov commented on #3060
Invoke-Sqlcmd cmdlet is not part of the Powershell Core.
Please report the issue on [UserVoice site](https://windowsserver.uservoice.com/forums/301869-powershell).

[2017-01-27 19:16] iSazonov commented on #3061
It is rather the PSScriptAnalizer area.

[2017-01-27 19:21] vors opened #3062 "mac build is red on master"
https://travis-ci.org/PowerShell/PowerShell/jobs/195949401

[code]

[2017-01-27 19:27] mwallner opened #3063 "psl-native-test fails [Manjaro Linux]"
git revision: d7cf81b64dc244ef4451c3be725205058c068a90
gist log: https://gist.github.com/mwallner/457bde412489830319be10212bfb91e7

Steps to reproduce
------------------
run ./src/libpsl-native/test/psl-native-test after building

Expected behavior
-----------------
all tests should pass

Actual behavior
---------------
'LocaleTest' fails - test-locale.cpp:20

Environment data
----------------
Lin

[2017-01-27 19:28] mwallner commented on #3063
Connected to https://github.com/PowerShell/PowerShell/blob/309bf603f9aff9009dce7e725d42b2d4f99f58c9/src/libpsl-native/test/test-locale.cpp#L16 ?

[2017-01-27 19:48] iSazonov commented on #3035
@letmaik
1. Please try `$Events[401] | Format-List * -Force`
2. The cmdlet use Windows standard API call to read events. So if it is not working then most likely this is a limitation of the API.

[2017-01-27 20:02] iSazonov commented on #3063
@ealexjordan Please comment the issue.

[2017-01-27 20:11] mwallner commented on #3063
1 out of 32 tests fail.

[code]

looking into the sourcecode: the tests expects the current locale to be UTF-8, nl_langinfo returns ANSI_X3.4-1968 .
Is the test-case valid to 'assume utf-8' ?

[2017-01-27 20:12] thezim commented on #3063
@mwallner I had a similar issue #2997. Perhaps your terminal application of choice has a similar setting.

[2017-01-27 20:15] mwallner commented on #3063
@thezim - that indeed looks like it's the very same thing.. still questioning the validity of this test case!
- closing this issue because of the duplicate.

[2017-01-27 20:15] #3063 closed

[2017-01-27 20:18] mwallner commented on #2997
this issue generally affects all terminals (#3063) that do not use utf-8 .. as @andschwa mentioned .NET core currently relies on UTF-8 I can't really complain that much .. still not a clean test ..

[2017-01-27 20:50] lzybkr commented on #3061
I would be open to discussing this as a breaking change - assuming we can get the data to justify that the impact is minimal.

[2017-01-27 20:54] briantist commented on #3061
@lzybkr how would this be a breaking change? An update to `Set-StrictMode` would likely just mean supporting the next version number. Right now only `1` and `2` are defined; in theory we'd set `6` (or whatever version of PowerShell it ends up being), or `3` if version is not supposed to correspond to PS version.

Or are you suggesting making this behavior default, without strict mode?

[2017-01-27 20:55] lzybkr commented on #3061
Right - parser error - not tied to `Set-StrictMode`.

[2017-01-27 21:16] briantist commented on #3061
@lzybkr ah ok got it.

It looks like at least some of them are already not writable. I tried to set `$Host` and it gave me this:

Presumably, variables that do change during the course of the script like `$Input` and `$args` can't be set that way unless the internal code handles undoing that or removing and recreating the variable?

And of course `$OFS` has to remain writable.

[2017-01-27 21:36] vors commented on #2997
I actually have problem earlier during the build on 10.12

[code]

[2017-01-27 21:40] mwallner commented on #2997
@vors what you are describing matches the issue text but is not related with the error @thezim is having (build failure vs test failure after successful build)

[2017-01-27 22:06] modulexcite commented on #3059
Unfortunately, I ran into another issue with this. I can now successfully import after the ISE startup but cannot dot source the module into my ISE profile as the gets stuck trying to process the module. I had to uninstall the WMF v5.1 to get it to work again. It seems like it doesn't like the module manifest for some reason even though the `Test-ModuleManifest` returns no errors.

[2017-01-27 23:27] MysticRyuujin commented on #3040
@SteveL-MSFT I recreated your issue, I think...I'm not sure how you configured your stuff but here's what I found:

#1. I altered your "url ==" to "host =="
`if ( host == "www.google.com" ) {`

#2. When I used a local file as in _file://c:\temp\test.pac_ both IE and WebClient ignored it. Apparently that's depreciated but Chrome still accepted it. I had to actually host it on an http:// site. Once

[2017-01-28 00:28] thezim commented on #3059
@modulexcite this repo is for PowerShell 6. Prior version should be raised with uservoice.

Your issue may have documented already.

https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/16501567-breaking-change-in-classes-behaviour-in-wmf-5-1

[2017-01-28 01:12] JKeithB opened #3068 "New-FileCatalog creates 0-byte .CAT file, breaks cmd replay"
Using -Whatif with new-filecatalog creates a 0-byte .CAT file.

_Expected Behavior_
Using -Whatif should have no impact on the system, so that removing -Whatif and replaying the command will succeed.

_Current Behavior_
Current behavior prevents replaying the command without -Whatif because the 0-byte .Cat file is present.
That file cannot be over-written without adding -Force, so replaying the co

[2017-01-28 01:55] thezim commented on #3049
Invoke-AppleScript would be a nice cmdlet for macOS. Following would lead me to believe is could be done.

http://jonathanpeppers.com/Blog/xamarin-ios-under-the-hood-calling-objective-c-from-csharp
https://docs.microsoft.com/en-us/dotnet/articles/standard/native-interop

[2017-01-28 02:00] thezim commented on #3049
@vors This works too.

[code]

[2017-01-28 02:11] mirichmo commented on #3062
I think that means that the OpenSLL binaries were not patched properly. Did the configuration recently change?

[2017-01-28 02:18] mirichmo commented on #3056
@raghushantha FYI

[2017-01-28 02:23] TravisEz13 opened #3069 "Change from #2958 cause test regressions (no output)"
Comments from #2958

  @iSazonov

[2017-01-28 02:23] mirichmo commented on #3055
The Cert provider has not been ported. That is why it is missing

[2017-01-28 02:30] lzybkr commented on #3049
Repro (using test code in our repo):
[code]

[2017-01-28 02:31] lzybkr commented on #3049
Note that the behavior is consistent with Windows, but maybe it shouldn't be.

[2017-01-28 07:02] vors commented on #2997
Fair point

[2017-01-28 07:05] vors opened #3070 "osx.10.12-x64 is not a supported RID for building powershell"
Steps to reproduce
------------------

On a clean macOS 10.12 installation do a build.

Expected behavior
-----------------

Build ok

Actual behavior
---------------

[code]

[2017-01-28 07:33] vors commented on #2997
There was same problem reported on gitter
https://gist.github.com/mwallner/457bde412489830319be10212bfb91e7#file-psl-native-test-log

Looks like an incorrect test for me.
The locale is a machine-wide setting that could be not UTF8.

[2017-01-28 12:11] letmaik commented on #3035
I had tried `-Force` but got the same results.
What underlying API is this using? Then I could check that.

[2017-01-28 17:18] vors commented on #3070
[RID docs](https://github.com/dotnet/docs/blob/master/docs/core/rid-catalog.md) for references

[2017-01-28 17:58] mwallner commented on #2997
@vors please remove macOS from the title (replace with Nix*-like OSes??) and add 'Linux' as label :-)

[2017-01-29 10:57] iSazonov commented on #3035
You can start with [Get-WinEvent](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Diagnostics/GetEventCommand.cs)
Target is WEVTAPI https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.CoreCLR.Eventing/DotNetCode/Eventing/UnsafeNativeMethods.cs#L542

[2017-01-29 18:02] iSazonov commented on #3046
**Yes**
https://www.microsoft.com/en-us/download/details.aspx?id=49981&e6b34bbe-475b-1abd-2c51-b5034bcdd6d2=True

•Windows 7 SP1 (x86 and x64)
•Windows 8 (x86 and x64)
•Windows 8.1 (x86 and x64)
•Windows 10
•Windows Server 2008 R2 SP1 (x64)
•Windows Server 2012 (x64)
•Windows Server 2012 R2 (x64)

[2017-01-29 20:09] AndrewSav commented on #1882
So this fix was reverted https://github.com/PowerShell/PowerShell/pull/2970
Should we re-open this issue?

[2017-01-30 10:36] iSazonov commented on #3068
@JKeithB Thanks for report the issue!
This cmdlet has turned on but not implemented support for `WhatIf`.

[2017-01-30 11:51] iSazonov commented on #2966
@adityapatwardhan @lzybkr
I see the opposite that PSReadline files get into the coverage stats though should be removed because PSReadline live in a separate repo and we haven't PSReadline's tests in Powershell repo.

[2017-01-30 12:11] iSazonov commented on #2966
@adityapatwardhan
Please see link https://coveralls.io/builds/9893487/source?filename=C%2Fprojects%2Fpowershell-f975h%2Fsrc%2FMicrosoft.PowerShell.Commands.Utility%2Fgen%2FSelectObjectStrings.cs
I got the error:

The file "C/projects/powershell-f975h/src/Microsoft.PowerShell.Commands.Utility/gen/SelectObjectStrings.cs" isn't available on github. Either it's been removed, or the repo root directory

[2017-01-30 16:16] 0byt3 commented on #3011
Thanks for all the help so far.

[2017-01-30 18:24] Gemstar007 commented on #3060
This was filed after speaking with folks from Powershell and from SQL.  SQL folks say this is an issue with the default powershell output, not their code.

[2017-01-30 18:44] iSazonov commented on #3060
The following code works as expected:
[code]
@Gemstar007 We need more details.

[2017-01-30 18:46] andschwa commented on #1882
@AndrewSav I brought the changes back in #2982; however, the work done so far enables the RPMs to be built, but does not make them part of the build process. I have #3026 open for updating the documentation and adding Fedora RPMs to the releases. I'll reopen this until the issue is completed.

[2017-01-30 18:48] andschwa commented on #2997
@vors if the locale is not UTF-8, we have no guarantees that CoreCLR will work correctly. Much code depends on being able to marshal UTF-8 `char*` strings to C# UTF-16 strings. Can we verify how CoreCLR handles the case where the locale is not UTF-8?

[2017-01-30 19:00] brycem opened #3075 "Windows release Dockerfiles contain Alpha 14 URLs - Should be updated for Alpha15"
Windows release Dockerfiles contain Alpha 14 URLs - Should be updated for Alpha15

Steps to reproduce
------------------

- https://github.com/PowerShell/PowerShell/releases - Alpha 15 is available now

- View https://github.com/PowerShell/PowerShell/blob/master/docker/release/nanoserver/Dockerfile

- And https://github.com/PowerShell/PowerShell/blob/master/docker/release/windowsservercore/Dockerf

[2017-01-30 19:03] brycem commented on #3075
Fixed in latest iteration of https://github.com/PowerShell/PowerShell/pull/3017

[2017-01-30 19:03] #3075 closed

[2017-01-30 22:41] letmaik commented on #3035
It seems that the [trace data helper APIs](https://msdn.microsoft.com/en-us/library/windows/desktop/ee441329(v=vs.85).aspx) can be used to decode the event data, according to the [About TraceLogging](https://msdn.microsoft.com/en-us/library/windows/desktop/dn904632(v=vs.85).aspx) page:

Do you think that this is in any way integrateable to Get-WinEvent with the current Win APIs used?

[2017-01-30 23:39] joeyaiello commented on #3056
Yeah, we're just still playing with it. @Lantizia keep your eyes peeled on [our blog](https://blogs.msdn.microsoft.com/powershell) for more details. We should be pushing a PR to install instructions around the same time.

[2017-01-30 23:50] joeyaiello commented on #3060
@Gemstar007 could you tell me with whom you spoke on the SQL team? I can follow up with them offline.

[2017-01-30 23:53] joeyaiello commented on #3057
@steve had me assign this a 6.0.0-beta milestone to make sure we haven't broken format.ps1xml in 6.0

[2017-01-30 23:57] SteveL-MSFT commented on #3060
TFS:10131325

[2017-01-31 00:01] joeyaiello commented on #3045
@mirichmo make sure to file doc bugs for already shipped code in [http://github.com/PowerShell/PowerShell-Docs](PowerShell-Docs). That way @jpjofre can track it easily

[2017-01-31 00:02] joeyaiello commented on #3045
This issue was moved to PowerShell/PowerShell-Docs#997

[2017-01-31 00:02] #3045 closed

[2017-01-31 05:51] iSazonov commented on #3035
My understanding is that current `Get-WinEvent` code stack based on ["static" property set](https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.CoreCLR.Eventing/DotNetCode/Eventing/Reader/NativeWrapper.cs#L829)
If we want to decode the self-described events and expose them, we will need to migrate to a dynamic property set. It looks like

[2017-01-31 15:39] Bill-Stewart commented on #2188
If we are talking about a location history (like command history, except locations only), then yes please.

[2017-01-31 18:32] narrieta opened #3077 "Create package for Windows Server 2012"
Currently 2012 is not in the list of supported platforms.

For context: we would like to use the package as part of the Azure DSC Extension.

[2017-01-31 22:30] itisbrendan commented on #2996
Hello, I'm seeing this error raised as well. Windows 10 Pro

PS C:\> [System.Environment]::OSVersion.Version

Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      14393  0

[2017-01-31 22:30] joeyaiello commented on #3077
Just to clarify, 2012 or 2012 R2? If the former, I don't see any reason why the Win7/2008R2 package shouldn't work. If the latter, we have the package.

[2017-01-31 23:36] SteveL-MSFT commented on #3077
Installed the Win7/WS2012R2 pkg on WS2012 and it worked after installing the [VC++ redistributable](https://download.microsoft.com/download/7/2/5/72572684-052f-4aa9-9170-9d40813a87be/vc_redist.x64.exe).  We should at least update the install instructions.

[2017-01-31 23:56] lzybkr commented on #2966
There are better tools to find unused strings.
PSReadline will naturally disappear when I finish integrating the work from this repo into it's own repo and produce a universal module that works with PowerShell Core and Windows PowerShell.

[2017-02-01 01:02] mirichmo commented on #3077
The real fix is #2608 - produce two packages:
1. universal Windows x64 MSI
2. universal Windows x86 MSI

We are close to getting it. We just need to rename the existing win 7 packages and stop building the other ones.

[2017-02-01 01:04] mirichmo commented on #3077
I'm closing this because it is a duplicate of #2608

[2017-02-01 01:04] #3077 closed

[2017-02-01 01:10] #3052 closed

[2017-02-01 01:38] adityapatwardhan opened #3079 "Get-Help -online is broken on Azure VMs"
Steps to reproduce
------------------
Get an Azure VM - Server 2016
[code]
Expected behavior
-----------------
Opens default browser with help content

Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2017-02-01 02:39] fmichaleczek commented on #3046
What's about the Class Features ?
Interface implementation is still missing.

This was the roadmap at the end of 2014 :
https://pbs.twimg.com/media/B7bGqQ8IIAEaORQ.png

PowerShell need to be SOLID with 6.0 (https://en.wikipedia.org/wiki/SOLID_(object-oriented_design) )

Language area needs more attention, particularly these issues :
https://github.com/PowerShell/PowerShell/issues/2223
https://gith

[2017-02-01 04:00] iSazonov commented on #2996
@itisbrendan Thanks for confirmation!

[2017-02-01 11:00] iSazonov commented on #3046
Perhaps it would be useful to draw up this roadmap by using the GitHub [Project(s)](https://github.com/PowerShell/PowerShell/projects).

[2017-02-01 11:44] g8tguy commented on #3046
Having interfaces would be cool!

[2017-02-01 12:34] happysysadm opened #3080 "Get-ComputerInfo returns empty values on Windows 10 for most of the properties. And it runs slower than on Windows 2016."
Steps to reproduce
------------------
get-computerinfo CsTotalPhysicalMemory

Expected behavior
-----------------
CsTotalPhysicalMemory      : 17179398144

Actual behavior
---------------
CsTotalPhysicalMemory      :

Environment data
----------------
Windows 10 (virtual or physical it is the same)

[2017-02-01 17:05] SteveL-MSFT commented on #3046
@iSazonov we considered using GitHub Projects, but decided (for now) it would be easier to track progress as checkboxes in an issue

At this time, our thinking is to invest in the developer experience (class improvements as well as things like bindings to other languages, authoring cmdlets in other languages, etc...) post 6.0 rather than continuing to add features into 6.0.

[2017-02-01 17:33] g8tguy commented on #3046
Well, right now the developer experience is not so good! ISE is a joke without ISESteroids, and VS CODE is buggy as hell. This is leaving us with PowerShell Studio as the only option, but intellisense there is close to none.
So, maybe the right thing to do would be to invest in developing a good IDE, with PS 5-6 features support.

[2017-02-01 17:36] SteveL-MSFT commented on #3046
@g8tguy our plan is to invest in VS Code specifically via [PowerShellEditorServices](https://github.com/PowerShell/PowerShellEditorServices) as it's open source and cross-platform.  If there are any specific issues or capabilities that prevent you from using VS Code, please open issues in that repo.

[2017-02-01 17:59] SteveL-MSFT commented on #3056
https://blogs.msdn.microsoft.com/powershell/2017/02/01/installing-latest-powershell-core-6-0-release-on-linux-just-got-easier/

[2017-02-01 17:59] #3056 closed

[2017-02-01 18:02] SteveL-MSFT commented on #3080
@happysysadm what OS version?  I just tried it on my Win10 machine and that property has a value

[code]

[2017-02-01 18:14] happysysadm commented on #3080
Steve,
here's my psversiontable:

Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion

[2017-02-01 18:17] daxian-dbw commented on #3079
**Important:** PR #3051 was merged as a temporary workaround to avoid the test failure. When fixing this issue, please make sure the changes in PR #3051 is reverted.

[2017-02-01 18:18] daviwil commented on #3046
@g8tguy if VS Code is "buggy as hell", file issues so I can fix them :)

https://github.com/PowerShell/vscode-powershell

[2017-02-01 18:53] g8tguy commented on #3046
The Last time I tried `VS Code`,  was like half a year ago.
And the `language server` was constantly crashing when you
open 5-10 tabs with custom `PS 5` classes and enums referencing one another, so `IntelliSense` stopped working, and the `IDE` was behaving kind of weird.  I wanted to port, `PowerShellEditorServices` To `IDEA`, but it seemed too much work for one person, so I stuck with `PS Studio

[2017-02-01 18:55] daviwil commented on #3046
@g8tguy yep, a lot has changed since then.  If you still run into issues developing scripts with classes I'd be happy to try and fix them.  Making Editor Services work in IDEA should certainly be achievable, if you ever try again I'd be happy to give you some pointers.

[2017-02-01 21:04] Francisco-Gamino commented on #2754
This issue has been fixed.

[2017-02-01 21:04] #2754 closed

[2017-02-01 21:04] Francisco-Gamino commented on #1778
Fixed.

[2017-02-01 21:04] #1778 closed

[2017-02-01 21:25] SteveL-MSFT commented on #3080
@happysysadm can you try this and tell me what you get?

[code]

[2017-02-01 21:30] JamesWTruher commented on #942
it would be great to get some definitive documentation on how to set this up. The new-pssession test currently causes PowerShell to exit. I know this works in CI, what can I do on my local system to get this working?

[2017-02-01 21:48] paulcallen commented on #942
We will be dropping new nuget packages to powershell in a week or two that will make the client more stable. It will also enable initial work for getting Linux/OSX powershell connection to exchange/office365. At the same time new documents for NTLM will be posted. You can look at the documents referred to by @yakman2020. If there is something specific we can certainly help you.

[2017-02-01 22:13] happysysadm commented on #3080
@SteveL-MSFT using gcim I get the correct value in bytes:

[code]

[2017-02-01 22:28] PaulHigin commented on #2828
Work on the ISE is on hold and instead effort is being put into VSCode.  The latest PowerShell plugin for VSCode now supports debugging script blocks.  So this issue can be closed.

[2017-02-01 22:28] #2828 closed

[2017-02-01 22:30] PaulHigin commented on #2826
Dongbo, I have assigned this to you since you have started work on this.

[2017-02-01 22:32] PaulHigin commented on #2824
This is part of work for issue #2827 that I am working on.  So I am closing this issue.

[2017-02-01 22:32] #2824 closed

[2017-02-01 22:34] SteveL-MSFT commented on #3080
@happysysadm Looking at the code, it appears that all get-computerinfo does is query WMI and for that property it simply gets it from win32_computersystem, so I'm not sure why at this time it would be empty for you.  Without a consistent repro, this will be hard to debug.

[2017-02-01 22:35] ElFerminador commented on #942
Excellent news about being able to access Office 365 from Mac OS! On another subject, how will updating PowerShell on the Mac work? I've recently switched from Windows, still a bit new to git. Thanks for any advice!

[2017-02-01 22:39] v-tbert opened #3081 "cmdlet example readme needs to be update to describe how to create a .net core cmdlet with Visual Studio"
The help at PowerShell/docs/cmdlet-example/README.md describes a command line process. That process does not appear to be reproducible through the Visual Studio UI. It would be helpful to include such guidance.

[2017-02-01 22:58] JamesWTruher commented on #942
I have a little more data to add - I have updated my base PowerShell to version .15 and I'm now not seeing the issue with that. However, I just ran it again as follows, with the following strangeness:
[code]
I don't know whether this helps you at all, but I thought I would let you know.

[2017-02-01 23:03] PaulHigin commented on #2321
This has been fixed as part of the work for issue #2827 for a Windows client.  When creating the ssh.exe process we can use the CREATE_NEW_PROCESS_GROUP process creation flag which prevents the console Ctrl+C signal from propagating to that process.  But there is no support for this in managed code used on Linux clients so it is not fixed there yet.

[2017-02-01 23:06] PaulHigin commented on #1735
This was fixed by Jason.

[2017-02-01 23:06] #1735 closed

[2017-02-01 23:10] JamesWTruher commented on #3069
I'll pull them, I was never happy about it in the first place

[2017-02-01 23:13] daxian-dbw commented on #3042
Is this bug specific to Windows PowerShell?

Currently in powershell core, we always use basic parsing because we haven't figure out a way to depend on mshtml.dll in CoreCLR. See the code [here](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebResponseObjectFactory.CoreClr.cs#L20). It would be great that we resolve

[2017-02-01 23:14] PaulHigin commented on #1416
This had already been merged during open sourcing work.

[2017-02-01 23:14] #1416 closed

[2017-02-01 23:18] paulcallen commented on #942
@JamesWTruher I just installed .15 on my Ubuntu 16.04 machine and things worked just fine. What platform are you on?

[2017-02-01 23:20] paulcallen commented on #942
@ElFerminador mac osx installation details are [here](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#macos-1011). I believe it deletes the old directory and installs a new one. That is what happens on Ubuntu 16.04 at least.

[2017-02-01 23:25] SteveL-MSFT commented on #3042
Based on the code, this appears to be a Windows PowerShell specific issue (as Azure Functions uses Windows PowerShell v4 today).  We won't be making this fix in Windows PowerShell v5, so resolving.

[2017-02-01 23:25] #3042 closed

[2017-02-02 00:38] jeffbi commented on #3080
This won't make it much easier to debug without a consistent repro, but we _might_ be able to reduce the number of empty items.

In the generic `CimHelper.GetFirst<T>` function, during the process of querying WMI and populating the properties of the object built up from the results, any exception thrown will cause the function to return a null value, resulting in all properties of the cmdlet's ret

[2017-02-02 00:39] lzybkr opened #3082 "Implement type alias support"
The parser has support for type aliases (like a type accelerator), but it's not fully implemented.

The following should work, but reports `Unable to find type [MyMap]`:

[code]

The following should also work, but reports `This syntax of the 'using' statement is not supported`:

[code]

[2017-02-02 01:52] #3070 closed

[2017-02-02 02:35] thezim commented on #3080
@SteveL-MSFT Issue is for PowerShell 5.1. Is this a valid bug for PowerShell 6?

[2017-02-02 03:34] iSazonov opened #3083 "Error with class parsing"
The code below is failed with PSReadLine loaded. Without PSReadLine the code is succeeed.
It is the parser issue not PSReadLine https://github.com/lzybkr/PSReadLine/issues/500#issuecomment-276768379

Steps to reproduce
------------------
Copy-Paste the code:

[code]

Expected behavior
-----------------
Pass parsing without errors.

Actual behavior
---------------

[code]

[2017-02-02 03:46] iSazonov commented on #3046
I can confirm - latest PS Code's versions is good! It happened in the last couple of months. Many thanks to PS Code developers!

[2017-02-02 04:53] chuanjiao10 commented on #3083
1 I think this method can be used when calling【[Void]q】. but Is this method legal in class define? 【[Void] q ()】

2 I have tested the above code and found no problems.powershell.exe  5.1.14393.693

3 So my point is, upgrade your win10 to REDSTONE, win10 10240 version has less than 5%, and has been forced to push upgrade.

[2017-02-02 04:57] rodmhgl commented on #3080
I'm seeing this behavior as well.

`PS C:\windows\system32> (Get-ComputerInfo).psobject.properties.value
14393.693.amd64fre.rs1_release.161220-1747
6.3
Enterprise
Client

Friday, January 6, 2017 5:55:36 PM
00329-00000-00003-AA690
Windows 10 Enterprise
Company
Compnay User
C:\windows
(UTC-06:00) Central Time (US & Canada)
\\SERVER
Mobile
Off

PS C:\windows\system32> $PSVersionTable

Name

[2017-02-02 06:32] iSazonov commented on #3080
It is working good on latest versions (for Powershell Core too)

[code]

[2017-02-02 06:40] happysysadm commented on #3080
@SteveL-MSFT and it's painfully slow, compared to win2016 which runs in < 3 seconds.

On windows 10 here's how long it takes:

[code]

[2017-02-02 11:45] powercode commented on #3080
@happysysadm Have you tried running Windows Performance Recorder to see what is taking so long?

[2017-02-02 12:41] g8tguy commented on #3082
Yep! I Noticed this bug a log ago. Also If you import assembly with `using assembly` it is inaccessible from  the `PowerShell` classes !
And `[Ordered]` to initialize an ordered hash table  doesn't work inside posh classes too!

[2017-02-02 13:11] OraDotNetDev commented on #2996
Same experience in Windows 7 Enterprise and exactly the same Error details as @ephos

    Major  Minor  Build  Revision
    -----  -----  -----  --------
    6      1      7601   65536

    PS C:\> $PSVersionTable

    Name                           Value
    ----                           -----
    PSVersion                      5.1.14409.1005
    PSEdition                      Desktop
    PSComp

[2017-02-02 15:25] dermeister0 opened #3084 "Compress-Archive creates zero files duplicating directories"
Wrong repository.

https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/27

[2017-02-02 15:49] #3084 closed

[2017-02-02 17:14] SteveL-MSFT commented on #3080
@jeffbi I like your suggestion on handling errors with more granularity.  we should also make use of verbose output to know which ones are failing.  can you take care of this?  thanks.

[2017-02-02 17:15] itpaul commented on #3046
How about support for long paths / file names? As .NET Core now supports them, I know there's been hope of this coming to PowerShell eventually - https://github.com/dotnet/corefx/issues/645.

[2017-02-02 17:18] SteveL-MSFT commented on #3046
@itpaul PowerShell Core already supports long paths by default :)

[2017-02-02 17:19] rodmhgl commented on #3080
@powercode - I have run Windows Performance Recorder and I have the analysis, but it turns out I have no idea what I'm looking at here.

[2017-02-02 17:20] itpaul commented on #3046
@SteveL-MSFT Sweet! Thanks for sharing. Any idea on when this could make it's way into non-Core PS?

[2017-02-02 17:28] SteveL-MSFT commented on #3046
@itpaul PowerShell v5.1 on Win10 already supports it, but not be default (since the OS doesn't support it by default, if Win10 ever changes that setting, it'll just work automagically).  You can enable it following this: https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/

[2017-02-02 17:31] SteveL-MSFT commented on #3080
@rodmhgl the cmdlet code mostly uses WMI to get the values which is very likely where the time is being spent.  Might be worth spending some time reviewing the cmdlet code to see if it's using WMI optimally (for example using `select prop1, prop2, prop3 from wmiclass` queries assuming the WMI Provider optimizes for this so it doesn't spend time populating the entire instance we end up throwing awa

[2017-02-02 17:32] itpaul commented on #3046
@SteveL-MSFT Fantastic! Thanks again for your help. I'll start looking into it. After your first reply I discovered that you can run PowerShell Core portably, which is also fantastic! It appears that I'll now be able to avoid digging into implementing Alpha FS into our environment now.

[2017-02-02 17:36] SteveL-MSFT commented on #3046
@itpaul one of the decisions we wanted to go with CoreCLR besides the cross platform support is that it inherently supports side-by-side, so you can "install" (which is really an xcopy) of PSCore6.0 and it'll run happily next to Windows PowerShell v5.x without impacting existing scripts/apps that depend on v5.x

[2017-02-02 17:43] itpaul commented on #3046
@SteveL-MSFT Pigs truly can fly in the Nadella Microsoft world. Christmas has definitely come early this year.

[2017-02-02 20:11] jeffbi commented on #3080
The cmdlet does not specify individual properties on the WMI queries. It gathers up everything it can, then checks if individual properties were given as cmdlet parameters.

The request for specifying properties as parameters came after the bulk of the code had already been written. At the time, the decision was made to keep the code intact and handle user-specified properties after gathering the

[2017-02-02 20:33] jeffbi commented on #3080
@SteveL-MSFT What is the preferred method for indicating failure when setting a property? WriteVerbose, WriteDebug, WriteWarning, other? And do you want to include the exception's message in the output?

[2017-02-02 20:55] thezim commented on #3080
@powercode Can you try this to to see if WMI itself is the bottle neck. Run this in a cmd.exe process.

[code]

[2017-02-02 20:56] SteveL-MSFT commented on #3080
@jeffbi I think WriteVerbose is fine to tell the user something wasn't collected, probably use WriteDebug for the exception message

[2017-02-02 21:01] SteveL-MSFT commented on #3028
Given there's no code change we can do in powershell.exe to address this, I've changed this issue to a feature request to have a wscript-like host to support this type of scenario

[2017-02-02 21:02] rodmhgl commented on #3080
@thezim - on my system that wmic command completes almost instantly. Get-ComputerInfo (with the blank results) is around 45 seconds.

[2017-02-02 21:16] g8tguy commented on #3028
http://www.f2ko.de/en/p2e.php
and `Power Shell Studio` has a custom host too

[2017-02-02 21:17] jeffbi commented on #3080
@SteveL-MSFT Telling the user something wasn't properly collected will really call out the fact that the cmdlet is collecting _everything_ even if only a particular property was requested. Do we want to do that?

Using more granular error handling is trivial. Writing a message is somewhat less so since CIMHelper is a static class with no access to the cmdlet object. I can change that of course, bu

[2017-02-02 21:21] SteveL-MSFT commented on #3080
@jeffbi If every property is a parameter, we should probably optimize it so we only collect information the user explicitly requests.  Let's start with just the granular error handling and treat the verbose/debug output as a separate issue.

[2017-02-02 22:26] JamesWTruher commented on #891
this bug was fixed in October by Charu (commit ee2feaa)

[2017-02-02 22:26] #891 closed

[2017-02-02 23:13] JamesWTruher commented on #707
to handle simple redirection, the following would be possible:
[code]
then the following works just fine (on linux)
[code]
having different settings on Linux and Windows would solve the problem, since most linux apps are just going to output ascii. I don't believe there's any hope for combinations of apps which emit unicode ascii when attempting to do redirection
  85 gc test

[2017-02-03 00:34] JamesWTruher opened #3087 "Releases should include the test logs for the release"
When we release a build, we should ensure that the test log for the release is part of the release. This will provide a quality measurement as part of the release. We should be doing a run of all our tests, not just CI tests.

[2017-02-03 01:40] brywang-msft commented on #2764
Adding another repro. Fairly sure this is a dotnet core issue, but it could be a dotnet core fix exposing an Add-Type issue? As above, we've found the issue doesn't repro in alpha11. I copied all the dotnet core DLLs from alpha11 into alpha15, and the issue doesn't repro. I don't know how type forwarding manifests in disassemblers, but ildasm, at least, shows `[System.Private.Uri]System.Uri` in Pr

[2017-02-03 03:38] iSazonov commented on #3080
If we plan to port this cmdlet then it makes sense to replace the WMI calls to a direct system/registry calls.

[2017-02-03 05:02] iSazonov commented on #3046
1. Seems we have issues with the conhost referred in some issues. This is not only a progress bar.
2. For progress bar performance #2822 is opened.
3. It would be good to have code analysis for performance (security, quality, formatting).
4. We could get a great feedback from Windows 10 Preview if integrated in this program. (In WSL too)
5. The plan does not mention WSL (Windows Subsystem for Linu

[2017-02-03 06:48] happysysadm commented on #3080
@thezim in my case wmic completes at the speed of light.

I agree with @jeffbi on the fact that there is no need to collect everything when one just asked for

`get-computerinfo CsTotalPhysicalMemory`

[2017-02-03 08:45] chuanjiao10 opened #3090 "when System.Timers.Timer work?"
Yes,i want use 【Register-ObjectEvent】+【Timer】.
【Register-ObjectEvent】work normal in linux,【Timer】work normal in windows,【Timer】do not work in linux.
Do I need to import a namespace? How?Or is this new feature supported in the future?
When will it work?

Steps to reproduce
------------------
$timerA = New-Object Timers.Timer

#return
#Cannot find type [Timers.Timer]: verify that the assembly contai

[2017-02-03 11:25] powercode commented on #3080
@happysysadm @rodmhgl If you can share the file, I can try to see if I can understand what is going on.

[2017-02-03 14:55] Jaykul opened #3091 "XPLAT: RequiredAssemblies must automatically consider lib\framework"
In order to support cross-platform modules, we need to support dependent assembly packages properly, the way that `dotnet build` does -- we need to be able to either:

1. make requiredAssemblies like package.json: a list of nuget packages you can load from the .nuget folder (the new compile-time GAC)
2. ship .nupkg files, and refer to the assemblies in requiredAssemblies
3. include the lib/ folder

[2017-02-03 17:27] #3062 closed

[2017-02-03 17:49] alx9r commented on #2578
Since upgrading to PSVersion 5.1.14409.1005 launching powershell.exe seems to launch almost immediately.  It looks promising that [the worst manifestations of this problem that I was seeing](https://github.com/PowerShell/PowerShell/issues/2578#issuecomment-267433848) are resolved.  Thanks to whomever made that happen.  👍

[2017-02-03 18:59] lzybkr commented on #3091
That sounds pretty complicated - why shouldn't a module author just target `netstandard1.3` and only depend on assemblies that also target an appropriate version of `netstandard`?

Take a look at how msbuild is thinking about this issue - it's really a similar thing: https://github.com/Microsoft/msbuild/issues/1542

I think we'll need to do the same for PowerShell - ship the facade assemblies alon

[2017-02-03 19:04] lzybkr commented on #3087
Do you mean a file in the packages people install? That feels somewhat wasteful of network and disk resources because the file would rarely be accessed.

I can see including a link in the release notes though - which we'd also use on our [release tab](https://github.com/PowerShell/PowerShell/releases).

[2017-02-03 19:23] johnmccrae opened #3092 "Set-PSRepository Fails with Error Gallery Not Available on OS X"
Steps to reproduce
------------------
Clean system
Load Alpha 15 on it.
Start Powershell
Set-PSRepository -Name PSGallery -InstallattionType Trusted

Expected behavior
-----------------
[completed]

Actual behavior
---------------

Get-PSGalleryApiAvailability : PowerShell Gallery is currently unavailable.  Please try again later.
At /usr/local/microsoft/powershell/6.0.0-alpha.15/Modules/PowerShel

[2017-02-03 20:08] DemiMarie commented on #3049
Why is it this way on Windows?  If I recall correctly, this behavior was a major annoyance.

[2017-02-03 21:16] bmanikm commented on #2610
Due to this issue, users are unable to install few modules, like [Team](https://www.powershellgallery.com/packages/Team/0.1.12), on Ubuntu OS.

[code]

[2017-02-03 22:56] vors opened #3093 "macOS packagin fails on CI"
For example https://travis-ci.org/PowerShell/PowerShell/jobs/198084941

[code]

[2017-02-03 23:27] vors opened #3094 "Find why "Write-Information outputs an information object" fails on macOS in CI"
In #3071 I disabled the test on OS X.
We should figure out why it fails.

[2017-02-04 01:54] Jaykul commented on #3091
First of all, .netstandard1.3? why 1.3? I thought we were on 1.6?

Now, I'm going to go ahead and (pretend to?) accept as a given that you can find some way of shipping all "the" facades into the old versions of PowerShell on all OSes (for no reason but forward compatibility?)...

#### That sounds like a great plan!

I actually thought the whole "facades" thing wasn't going to work until .netstand

[2017-02-04 02:11] #2731 closed

[2017-02-04 03:23] SteveL-MSFT commented on #2610
Submitted https://github.com/PowerShell/PowerShell/pull/3097 to fix this.  Note that the issue seems to really only be that test-modulemanifest didn't normalize paths correctly and had a hard coded '\' for directory separator so it wouldn't ever work on non-Windows.  You'll still get one error for PowerShellGet.psd1 on Linux because the RequiredModule version doesn't match what is on Linux.

[2017-02-04 05:47] vors opened #3098 "Test fails in nightly build (master, Linux)"
https://travis-ci.org/PowerShell/PowerShell/jobs/198247453

[code]

[2017-02-04 05:48] vors commented on #3098
Same on OSX build
https://travis-ci.org/PowerShell/PowerShell/jobs/198247454

[2017-02-04 06:05] vors commented on #3093
I'm trying to fix it in branch `test/osx-ci`.
I'm using branch in the repo, because it allows me to run packaging logic.

[2017-02-04 18:42] iSazonov opened #3099 "Set-Date don't work and admin-elevated test is silently skipped"
1. Currently `Set-Date` tests is silently skipped during elevated test phase in Start-PSPester because the tests use `Test-IsElevated` function instead of `RequireAdminOnWindows` tag.
2. Really if we manually run the test - one is failed:
[code]
The command is manually executed failed too (I tested on Windows 10 with PS Core beta 15):
[code]

- [ ] So in [Set-Date.Tests.ps1](https://github.com/Pow

[2017-02-04 18:45] vors commented on #3099
Good catch

[2017-02-04 21:11] vors commented on #3098
I investigated it a little and found a minimal repro

[code]

Or even simpler

[code]

The main problem is that it throws exception (probably in TypeResolver?) without executing the code.

[2017-02-05 04:25] rjmholt commented on #2127
I've experienced this a couple of times now -- my machine will build PowerShell, then a week later (it's a machine I don't use often) it will throw this error, and I have to go and repair/modify the Windows 10 SDK installation, possibly because updates have occurred.

[2017-02-05 07:32] ugreg opened #3100 "Request for profile.ps1 script to be a reqruiement in powershell setup for macOS"
Environment data
----------------
macOS Sierra
MacBook Pro (Retina, 15-inch, Mid 2014)
2.2 GHz Intel Core i7
16 GB 1600 MHz DDR3
Intel Iris Pro 1536 MB

I followed guidance from @SteveL-MSFT SteveL-MSFT commented on Oct 17, 2016 on this issue:
"Install-Module errors on install of Azure and AzureRM modules - MacOsX #1874"

Basically want to see if we can include the need for a profile.ps1 script in

[2017-02-05 10:44] happysysadm commented on #3080
@powercode can you please explain what file you are asking for?

[2017-02-05 17:10] andrewducker opened #3102 "Suggestion: Powershell should be able to Import-Module from an exe"
I have a bunch of EXEs written in C# which carry out useful utility functions.

I would love to make the functionality in them available to PowerShell.

Ideally PowerShell should be able to detect that the exe I'm about to run contains PowerShell commands and autofill my parameters (and accept objects from the response).  But failing that, having the ability to build a single artefact and have it

[2017-02-06 03:24] jombooth commented on #716
@pirate yes; the process launched by "background" will not have access to unexported variables or user-defined functions in fish. Same would apply to a PowerShell implementation that worked this way.

[code]

[2017-02-06 04:49] iSazonov commented on #3083
I found the root cause. Fix ready. @PowerShellTeam Please assign me.

[2017-02-06 10:07] iSazonov commented on #2290
Opened - Initial discussion about encoding cmdlets https://github.com/PowerShell/PowerShell-RFC/issues/67

[2017-02-06 10:28] powercode commented on #3080
@happysysadm I was thinking of the recording you made in Windows Performance Recorder.

[2017-02-06 20:08] happysysadm commented on #3080
@powercode that file is huge (more than a gig) and most of the events are for some reason empty. Nonetheless there are a bunch of event id 80 like the one below:

Apart from those, have you got something in particular I should look for? Looking for ideas...

[2017-02-06 20:13] rodmhgl commented on #3080
@happysysadm Eureka! Enabling WinRM (winrm quickconfig) fixed the issue for me. Get-ComputerInfo is now returning all properties and completing in 3.7s.

[2017-02-06 20:16] happysysadm commented on #3080
@rodmhgl oh c'mon I never though of this for a cmdlet like get-computerinfo that doesn't even support Remoting. I'll give it a try as well and keep posted.

[2017-02-06 20:18] happysysadm commented on #3080
@rodmhgl you were right. Just run enable-psremoting and get good values back from this cmdlet. Seems like a big bug though...

[2017-02-06 20:34] MaximoTrinidad commented on #3080
Just an FYI

Get-ComputerInfo apparently work on Windows 10 Insider Preview latest Build 15007.rs_prerelease.170107-1846

![getcompinfo_01_2017-02-06_15-31-22](https://cloud.githubusercontent.com/assets/19892435/22665131/9b263a9e-ec81-11e6-8984-fd4aab7ed322.jpg)
![getcompinfo_02_2017-02-06_15-31-22](https://cloud.githubusercontent.com/assets/19892435/22665137/a091ddd0-ec81-11e6-847a-3042f7c728fc.j

[2017-02-06 21:02] 1RedOne opened #3104 "The -WhatIf common param doesn't work with Remove-Item in WSMan"
### PowerShell Version

[code]

### OS Version

Windows 10.0.14986 with newest PowerShell

### Description

Assume someone wants to confirm what will happen when removing a WSman listener, as seen here.
[code]

PowerShell has taught us that -WhatIfs are free but a Remove can cost you, so we then try to confirm we've got the right listener selected.

Very strangely, we're prompted to see if we mean

[2017-02-06 21:54] Meir017 opened #3105 "autocomplete for tools"
I really like the ability to call any tool from powershell.

It would be nice to have autocomplete when using exe's whithin a powershell script

for example:

`
git clone https://github.com/PowerShell/PowerShell.git -branch master
`
it would be nice it after typeing `git clone https://github.com/PowerShell/PowerShell.git -` and `tab` it would complete to `branch` (or another option).

A possible i

[2017-02-06 21:54] jeffbi commented on #3080
Odd. On one of my boxes (Windows 10 Pro, 10.0.14393 PS version 5.1.14393.693) _all_ the CIM-based properties were empty until I ran `winrm quickconfig`, then _all_ of them worked.

On another box, same OS and PS versions, I get everything _except_ the Win32_ComputerSystem properties. Yet `Get-CimInstance Win32_ComputerSystem` works.

I'm investigating the differences between the two cmdlets

[2017-02-06 22:06] rkeithhill commented on #3105
See https://github.com/lzybkr/TabExpansionPlusPlus/.  And for Git specifically, checkout posh-git. It is in the PowerShell and at https://github.com/dahlbyk/posh-git.  Wait for 0.7.0 to release though.  Should be out by the end of the week.

[2017-02-06 22:25] Iristyle commented on #1616
It's unclear based on the commentary in https://github.com/dotnet/coreclr/issues/4651 whether or not https://github.com/dotnet/coreclr/pull/9269 was / will be successful in fixing this issue completely or not.

If you could follow up on this thread when a new build based on the https://github.com/dotnet/coreclr/pull/9269 merge has shipped, that would be great @vors

Thanks!

[2017-02-06 23:29] JohnLBevan opened #3106 "Suggestion :: Write-Verbose Behaviour when packaged in a module"
When Write-Verbose is included in a function or cmdlet in a module file, it doesn't behave in the same way as it would had that function been written in the main script file.  i.e.
[code]
Behaves differently to:
[code]
[code]
This seems counter intuitive, and overly complex to get write-verbose to function based on whether the script is being run with the verbose switch enabled.

---
**Suggested S

[2017-02-07 06:28] happysysadm commented on #3080
@MaximoTrinidad is winrm up and running on your win10 box?

[2017-02-07 08:18] 2xmax commented on #2245
looks like it was fixed by #2862

[2017-02-07 12:45] ChristophB125 commented on #3046
Great work! Are you planning to support Docker as well (we are planning to ship PowerShell Core modules)? Could you also upload the notes or recording of the 2nd RFC please as you did for the first one?

[2017-02-07 17:05] SteveL-MSFT commented on #3046
@HemantMahawar is the recording ready to be uploaded from the last Community Call?

[2017-02-07 17:11] SteveL-MSFT commented on #3080
The perf difference when WinRM is not configured for remoting is likely due to waiting multiple times for the http timeout.  This cmdlet should not require remoting as the calls are being made to the local machine.

[2017-02-07 17:21] rkeithhill commented on #3080
@rodmhgl  Same here on my Windows 10 Insider build 15025 - takes ~45 seconds to run this command.

[2017-02-07 17:40] SteveL-MSFT commented on #3080
@jeffbi found the issue, the cmdlet is passing `localhost` as the computername which (by design) goes through the winrm remoting stack.  The cmdlet should be passing `null` instead to indicate it is a local call.

[2017-02-07 18:29] MaximoTrinidad commented on #3080
@happysysadm, 
My winrm is running in my box and "get-computerinfo"  took 4 secs to execute.
![getcompinfo_03_2017-02-06_15-31-22](https://cloud.githubusercontent.com/assets/19892435/22705390/56c666e0-ed39-11e6-9773-5c777c961633.jpg)

[2017-02-07 19:01] joeyaiello commented on #2245
@2xmax: Thanks! Looks like the original issues were fixed already :)

[2017-02-07 19:01] #2245 closed

[2017-02-07 19:14] joeyaiello commented on #3046
@iSazonov: Could you link me to some of those conhost issues? The two I have above, #2138 and #1625 look like progress problems to me. (In my mind, even if they're caused by the underlying console hosts, we have so little control over the underlying hosts across platforms that progress functionality is what needs to be refactored or even limited). Also, added #2822. 👍

I agree with you on code ana

[2017-02-07 19:52] joeyaiello commented on #3046
Also, I got some bad news. It looks like checkboxes do NOT automatically get checked when issues get closed (at least not at the L3 level). I closed #2245 and it didn't get checked by itself (and that's one where the entire line is just the issue number....) 👎

[2017-02-07 19:54] SteveL-MSFT commented on #3046
@joeyaiello submit feature request to GitHub 😸

[2017-02-07 20:26] Meir017 commented on #3105
I didn't totally understand how this works but it seams to me like this is for more advanced scenarios where I would want to have autocomplete based on used parameters and more, instead of having the same completions  for the command no matter what.

The learning curve for a  wrapper for an exe is extremely low since the only thing needed is to go over the exe's available parameters.

[2017-02-07 20:34] charub opened #3108 "Add *-EnvironmentVariable cmdlets"
MSFT:10836263
Add following cmdlets :
1. Get-EnvironmentVariable
Syntax :
   Get-EnvironmentVariable [[-Name] <string[]>] [-ValueOnly] [-Scope {Process | Machine | User}]
   [<CommonParameters>]

2. Set-EnvironmentVariable
Syntax :
   Set-EnvironmentVariable [-Name] <string> [[-Value] <string>] [-Force] [-PassThru] [-Scope {Process |
   Machine | User}] [-WhatIf] [-Confirm]  [<CommonParameters>]

[2017-02-07 21:04] joeyaiello commented on #3108
This will almost certainly require an RFC [here](https://github.com/powershell/powershell-rfc), following up offline as well. :)

[2017-02-07 21:12] joeyaiello commented on #1616
@lzybkr @vors for my own knowledge, is a "contract assembly" the same as what @lzybkr has been referring to as a "facade assembly" (per #3095)?

[2017-02-07 21:17] joeyaiello commented on #3105
@Meir017 I think you're looking for TabExpansionPlusPlus here. I don't think it makes a lot of sense for PowerShell itself to go implementing all native EXE parameters: even we wanted to maintain a massive database of all native binary parameters (we don't), many are contextual anyway (the problem posh-git and TE++ work to solve).

That being said, I know I've briefly discussed with @lzybkr the po

[2017-02-07 22:26] pcgeek86 commented on #2123
Are there plans to implement Send-MailMessage? Maybe this should be broken out into separate issues for specific cmdlet implementations.

[2017-02-07 22:33] HemantMahawar commented on #3046
@ChristophB125 Recording of the 2nd community call is now available on [PowerShell & DSC Team Channel](https://youtu.be/j7g5UbVFYqQ) /cc: @SteveL-MSFT & @joeyaiello

[2017-02-07 22:54] SteveL-MSFT commented on #3011
I looked into this and the problem appears to be that the analysiscache tries to write to disk the cache which defaults to a folder under the user home directory.  Service accounts don't have a home directory and thus this disk activity fails and throws an exception and then everything else fails to work correctly as PowerShell at this point has no idea how to find commands/modules.  Currently, th

[2017-02-07 23:10] rkeithhill commented on #3011
Perhaps a workaround would be to not have PSReadline load if `-NonInterative` is specified.  In that case, someone could configure the service/daemon to run without PSReadline being loaded.  If there are other ways to prevent PSReadline from opening in this scenario, that'd be cool too.  :-)

[2017-02-07 23:15] SteveL-MSFT commented on #3011
Found a workaround.  We could either add a new switch or append to -NoProfile or -NonInteractive.  PowerShell does try to create a folder for the user modules if it doesn't find it as well as serializing the analysis cache to a file within the user's home directory.  Luckily, it also looks at some existing environmental variables we can use to redirect where it looks:

[code]

[2017-02-07 23:18] SteveL-MSFT commented on #3011
@0byt3 if you can confirm this works for you, I'll add it to the documentation

[2017-02-08 00:21] daviwil opened #3109 "Debugger.ProcessCommand always adds commands to history"
When running PSCommands which contain AddScript calls through Debugger.ProcessCommand, the scripts in those commands are always added to the user's command history.  Any host that relies on Get-History to retrieve the command history will end up with items which the user didn't personally execute in the debugger.  It'd be nice if there was a ProcessCommand overload (or some other way) to indicate

[2017-02-08 00:41] lzybkr commented on #3109
There is definitely a way - a host calls `prompt` but that never shows up in the history.

[2017-02-08 00:45] daviwil commented on #3109
I think this only happens when using `PSCommand.AddScript`.  I use `PSCommand.AddCommand` to invoke `prompt`, that hasn't shown up in the history.

[2017-02-08 01:54] lzybkr commented on #1616
A contract assembly is analogous to a header file in C++ - it defines the api implemented by the assembly, but it does not provide an implementation.

A facade assembly is a fake implementation that points to the real implementation.

For a concrete example, consider a commonly used type `System.String`:

When building against `netstandard1`, you will reference `System.Runtime.dll`. This is (or sh

[2017-02-08 05:11] SteveL-MSFT opened #3112 "Invoke-WebRequest and Invoke-RestMethod should honor HTTP_Proxy and HTTPS_proxy env vars"
The Unix way to specify proxy seems to be via HTTP_Proxy and HTTPS_Proxy env vars

[2017-02-08 09:23] iSazonov commented on #3046
@joeyaiello

Oh, it is hard to do but it seems I've gathered [main together](https://github.com/PowerShell/PowerShell/issues/2138#issuecomment-263790659) (I believe there are other useful comments that we have missed.)

I agree but there are still "compelling scenarios".
Microsoft announce WSL as "kill" [developer feature](https://blogs.windows.com/buildingapps/2016/07/22/fun-with-the-windows-subs

[2017-02-08 11:14] jonathanmedd commented on #2245
Excellent - thanks @2xmax ! We have been able to close one of our issues being able to support PowerShell Core thanks to your fix: https://github.com/jakkulabs/PowervRA/issues/97

[2017-02-08 13:21] happysysadm commented on #3080
Thanks @jeffbi for the quick fix.

[2017-02-08 14:10] TSlivede commented on #3049
Correct me if I'm wrong, but isn't this a duplicate of https://github.com/PowerShell/PowerShell/issues/1995 ?

@lzybkr I think it absolutely must be consistent with Windows, but double escaping should not be necessary on any platform.

[2017-02-08 14:57] thezim opened #3113 "Allow non standard HTTP verbs."
Web cmdlets do not allow non standard verbs. Any verb should be allowed.

[2017-02-08 15:22] KexyBiscuit opened #3114 "Does this project allow mirror?"
It's well known that Internet access in China is not as fast as the US. As a result, Linux community usually use local mirror for software repositories.

I'd like to know if it's allowed to mirror packages.microsoft.com, and how.

This is not a PowerShell specific issue, but I have no idea where it belongs to.

[2017-02-08 16:14] iSazonov commented on #3114
You can ask the local software repository maintainers to download [Powershell Core packages](https://github.com/PowerShell/PowerShell/#get-powershell) and share it local.

[2017-02-08 16:40] #3080 closed

[2017-02-08 16:57] mirichmo commented on #3102
An alternative approach would be to refactor your EXEs by moving the useful utility functions into a separate assembly. At that point you could package that assembly as a PowerShell module and compile your refactored EXEs against it.

[2017-02-08 17:45] Mwiedmeyerd commented on #3113
What is your reasoning, please?

Having non-standard verbs goes against the tenet of PowerShell discoberability

[2017-02-08 17:58] andrewducker commented on #3102
That would be possible.  But doesn't work with the traditional workflow of "All of the tools that the team use are sitting in a shared tools folder that's on the path" - at the moment all of the command line tools are individual exes, because that's how command line exes have tended to work.

I'm trying to work out how to migrate forward from that without breaking the existing workflow, and it's p

[2017-02-08 18:56] lzybkr commented on #3011
There are few things we do to avoid loading PSReadline if it doesn't make sense (like -NonInteractive), so maybe the is another scenario to handle.

There is also an environment variable to control the path to the analysis cache, I think `/dev/null` might even work to disable use of a cache.

[2017-02-08 19:33] thezim commented on #3113
@Mwiedmeyerd in my case WebDAV.

[2017-02-08 20:04] ChristophB125 commented on #3046
@joeyaiello Thank you for the answer. Yes, the PowerShell docker images is what I was looking for. This would be great because then PowerShell can get shipped as part of the deployment (we have the fear that our clients are anxious about Microsoft's IP being on their Linux machines therefore docker can help us hide that at least at install time). By the way,, 'we' is just loosely referring to the

[2017-02-08 20:11] ChristophB125 opened #3116 "SSH Remoting Documentation: Minor mistake in command"
Hi, I just wanted to point out a small mistake in a command in the [SSH remoting documentation](https://github.com/PowerShell/PowerShell/tree/master/demos/SSHRemoting) :
The command should be 'sudo service sshd restart' and not 'sudo service ssh restart'
It should be obvious by looking at the text above but it can be confusing if a command does not work out of the box.

[2017-02-08 20:59] lzybkr opened #3117 "Add support for templates when creating new modules"
dotnet cli has added support for templates to create new projects, see https://blogs.msdn.microsoft.com/dotnet/2017/02/07/announcing-net-core-tools-updates-in-vs-2017-rc/

There should be a template for creating PowerShell modules to help people get started.

[2017-02-08 21:02] MaximoTrinidad commented on #3116
Good catch! I got to verify my blog post too.
Thx!

[2017-02-08 21:03] lzybkr commented on #3046
@iSazonov - the WSL issue affecting you the most is probably https://github.com/dotnet/corefx/issues/12452 - so it doesn't require a fix in Windows - anyone could jump in to fix it (though it sounds like it might not be a simple fix or it'd be fixed already.)

[2017-02-08 21:04] lzybkr commented on #3046
And after reading an update to the issue, maybe a fix is coming from WSL.  We'll see.

[2017-02-08 21:26] rkeithhill commented on #3117
See https://github.com/PowerShell/Plaster/tree/master/src/Templates/NewPowerShellScriptModule

[2017-02-08 21:31] lzybkr commented on #3117
That's for a script module, right?  I'm suggesting we should plug into dotnet cli better for binary modules.

[2017-02-08 21:39] rkeithhill commented on #3117
Yup. Thanks for the clarification.

[2017-02-08 23:04] joeyaiello commented on #707
I think we probably need an RFC of some kind for this behavior that answer some of my open questions (although I think they're worth discussion today because the answer to a few of them may determine the level of abstraction at which that RFC should be written):

* Given the scarcity of BOM usage w/ UTF-8 text files on Linux, should we have different behavior for `*-Content` cmdlets?
* Related: ar

[2017-02-08 23:32] arebee opened #3118 "Feature Request: Create a preference variable to turn Off/On path normalization"
I want to tell PowerShell to leave my "/" path delims alone when I am on Windows and "\\" alone when I am on *nix. Perverse I know!

[2017-02-08 23:53] joeyaiello commented on #452
According to @jeffbi, this works fine now. He should be adding tests soon.

[2017-02-08 23:53] #452 closed

[2017-02-09 00:45] joeyaiello commented on #707
Other:
* `$OutputEncoding` is only used for pipes of native commands currently. It also requires that you do `$outputencoding = [System.Text.Encoding]::UTF8` in order to change it. That's not an awesome UX.
* On Windows, `Set-Content` uses ASCII by default, `Out-File` uses UTF-16 by default.

Open still:
* Do we use a cmdlet or a preference variable?

Closed on:
* Okay to have different default be

[2017-02-09 00:50] thezim commented on #3118
I had an similar issue today where I used ```Split-Path``` on a URL stem on Windows and it autocorrected the path delimiter. Would be nice if there was a switch for this particular cmdlet to ignore translation.

[code]

[2017-02-09 04:50] iSazonov commented on #3046
@lzybkr Thanks! Build 15025 still has the bug. Waiting next build.

[2017-02-09 14:15] cawoodm commented on #3112
The Windows way is to honour the system proxy in control panel -> internet options -> connections -> LAN settings.

[2017-02-09 15:10] iSazonov opened #3122 "Code Coverage Status Badge is cached"
Our main ReadMe.md contains Code Coverage Status. The badge looks wrongly due to caching (the badge display old information).

Fix from https://github.com/github/markup/issues/224

Or workaround from https://github.com/codecov/support/issues/218
[code]

[2017-02-09 17:35] #3093 closed

[2017-02-09 17:39] SteveL-MSFT commented on #3112
The Windows way should already been honored by .Net on Windows

[2017-02-09 20:07] joeyaiello commented on #3112
@SteveL-MSFT Shouldn't the *nix way be honored by .NET as well?

[2017-02-09 20:12] SteveL-MSFT commented on #3112
@joeyaiello yes, looks like CoreFx supports whatever libcurl supports (https://github.com/dotnet/corefx/issues/11757) so we may just need to also document this

[2017-02-09 20:35] cawoodm commented on #3112
Invoke-RestMethod was not using my system proxy today (PS5, Win7) I had to use the -Proxy parameter.

[2017-02-09 22:53] vors commented on #3098
I don't see it happens again, which is weird.

[2017-02-09 23:40] letmaik commented on #3035
Just wanted to say that I have been successfully using the [TraceEvent library](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.TraceEvent) within C# to read TraceLogging events.

[2017-02-10 00:34] letmaik commented on #3035
And here's a snippet using that within a powershell script:

[code]

This has full access to all data, very comprehensive in general with lots of helper functionality.

[2017-02-10 01:38] yuriw opened #3124 "Please fix this link"
Please fix this link
https://github.com/PowerShell/PowerShell/releases/download/v6.0.0-alpha.15/PowerShell_6.0.0-alpha.15-win10-x64.msi

[2017-02-10 04:30] iSazonov commented on #3035
I see the Microsoft TraceEvent Library is very popular - over 240000 downloads and actively developed.
It would be useful to integrate these capabilities in Powershell Core.
@powershell-committee @SteveL-MSFT Could you consider this?

[2017-02-10 06:40] chuanjiao10 opened #3126 "Invoke-RestMethod and Invoke-WebRequest Encoding bug2"
1 I have  already report this bug:
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13685217-invoke-restmethod-and-invoke-webrequest-encoding-b

2 I give "not all examples",so that the bug part repaired.(Utf8 web page incorrectly identified as iso8859-1.)

3 Now i added "gb2312 and all other page encodings are not correctly identified as iso8859-1".

Steps to reproduce
----

[2017-02-10 10:27] iSazonov commented on #3098
Get-Help test failed in "Describe" and before "It".
I guess it is line
[code]
But it is working well in WSL.
May the [System.Management.Automation.Platform] call cause the loading of some dll?

I unpack .deb package and see multiple files with links to Win32 Registry. Why? For remoting?

[2017-02-10 16:59] Francisco-Gamino opened #3127 "Copy-Item remotely (-tosession -fromsession) should support LiteralPath"
Steps to reproduce
------------------

Current parameter sets for Copy-Item:

Copy-Item [-Path] <string[]> [[-Destination] <string>] [-Container] [-Force] [-Filter <string>] [-Include <string[]>] [-Exclude <string[]>] [-Recurse] [-PassThru] [-Credential <pscredential>] [-WhatIf] [-Confirm] [-UseTransaction] [-FromSession <PSSession>] [-ToSession <PSSession>] [<CommonParameters>]

Copy-Item [[-Dest

[2017-02-10 17:02] JoesCrepes opened #3128 "Inaccurate results for Get-ACL due to lack of exception"
Steps to reproduce
------------------
Modify the ACL of a test object so that it contains two entries:
1. Allow full control to System
2. Deny full control to your user object
Then run:
Get-ACL -path "\\path\to\object"

Expected behavior
-----------------
I'd expect either the unauthorized access exception received in PS4.0 or a message stating that I don't have rights to read this object.

Actual

[2017-02-10 17:05] SteveL-MSFT commented on #3035
@iSazonov this seems like a great enhancement

[2017-02-10 17:14] Francisco-Gamino opened #3129 "-UseDefaultCredentials for the Web Cmdlets do not work when the cmdlet is executed inside a pssession"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
[code]
Actual behavior
---------------
[code]
Environment data
----------------

[code]

[2017-02-10 17:16] SteveL-MSFT commented on #3011
@lzybkr tried poiting XDG_CACHE_HOME to /dev/null and powershell starts, but nothing works as the type initializer for analysiscache throws an exception (probably when it tries to create the folder for the cache)

[2017-02-10 17:42] SteveL-MSFT commented on #3112
As far as I can tell, the web cmdlets never used the system proxy on Windows so having them suddenly start using the system proxy would be a breaking change.  Need someone to do a bit more research on this so we don't have a breaking change.

[2017-02-10 17:56] SteveL-MSFT commented on #2830
Consider exposing this as `set-psbreakpoint -breakonerror`

[2017-02-10 17:58] iSazonov commented on #3035
@SteveL-MSFT Can MSFT move the TraceEvent Library sources in the Powershell repo?

[2017-02-10 18:14] SteveL-MSFT commented on #3035
@iSazonov why do we need the sources?  shouldn't referencing it from nuget be sufficient?

[2017-02-10 18:17] cawoodm commented on #3112
If you have a system proxy (or, more likely a .pac) then all your internet traffic is going through those rules anyway. That is, according to the .pac, it will use a proxy or not as appropriate. To be clear: when I say PowerShell should respect the proxy I don't mean it should use a fixed proxy host, it should respect how the system is configured to use, or not, a proxy. Used properly, I can't see

[2017-02-10 18:18] rkeithhill commented on #2830
Seems like you could install an unhandled exception filter to catch the exception during the first pass - in which case, process state should still be known.  I particularly like this old Matt Pietrek article on the subject - https://www.microsoft.com/msj/0197/Exception/Exception.aspx

[2017-02-10 18:31] iSazonov commented on #3035
We would try to merge it with Get-WinEvent.

[2017-02-10 18:39] iSazonov commented on #3128
[File.GetAccessControl Method](https://msdn.microsoft.com/en-us/library/8e1fc3b8(v=vs.110).aspx) has UnauthorizedAccessException

We must understand why PS 5 changed the behavior because reverting it back is a breaking change.

[2017-02-10 18:49] MaximoTrinidad commented on #3035
Sorry to ask!

But, is this incident considered a PowerShell Core or Windows PowerShell issue?  I've notice a lot of Windows PowerShell issue been submitted under PowerShell Core.

So, how about providing a different tag(label) so it can be identified? Or, does it really matter?

I just want to be clear and help others on how-to submit the feedbacks.

Thanks,
:)

[2017-02-10 18:56] SteveL-MSFT commented on #3035
@MaximoTrinidad Get-WinEvent ships with PSCore for Windows.  We wouldn't take these changes for Windows PowerShell.

@iSazonov seems better to use it as a library

[2017-02-10 18:59] MaximoTrinidad commented on #3035
Thanks @SteveL-MSFT .. I appreciate your quick response.
:)

[2017-02-10 19:03] PaulHigin commented on #2830
@SteveL-MSFT  Agreed.
@rkeithhill It turns out we already have this in the expression IL for exception handling routing (try/catch, trap) and we can use this to hook into the debugger.  Still lots of details to work out but this looks very doable.

[2017-02-10 19:03] iSazonov commented on #3118
We should have both:
1. Global preference variable with default value a platform depended.
2. Switch `-Normalize` or parameter -Style [Windows | Unix]
What cmdlets  is affected by the issue?

[2017-02-10 19:03] PaulHigin commented on #2830
Thanks to @lzybkr  for pointing this out.

[2017-02-10 19:07] iSazonov commented on #3035
@SteveL-MSFT Have we examples of such integration in the Powershell repo?

[2017-02-10 19:16] SteveL-MSFT commented on #3035
@iSazonov we do it today with Newtonsoft.Json

[2017-02-10 21:58] BrucePay opened #3130 "Fix I/O redirection with jobs"
Steps to Reproduce
----------------------
Redirecting streams to a file should work. In particular, redirection of the output of a job should work. The following should redirect the job output into files:

    # start a job that produces output on the verbose and error streams
    start-job { write-verbose -verbose "VERBOSE" ; write-information -InformationAction continue INFO }
    # try to captu

[2017-02-11 00:30] SteveL-MSFT commented on #2227
@ScriptAutomate you should open that as a separate issue

@dave-tucker I invested this and it seems to be an issue with AppVeyor's REST API (or potentially libcurl).  In anycase, if you don't specify the Authorization header, it succeeds.  If you specify the Authorization header with curl, it similarly fails.  I created a PR to fix their sample https://github.com/appveyor/website/pull/255

[2017-02-11 01:34] SteveL-MSFT commented on #3129
@Francisco-Gamino isn't this a double hop issue?  if you use credssp to create the initial pssession, I expect this to work

[2017-02-11 01:37] SteveL-MSFT commented on #3113
Perhaps a new parameter set for `-custommethod`?

[2017-02-11 06:40] vors commented on #2193
Essentially, if we just remove one line

[code]

https://github.com/PowerShell/PowerShell/blob/aa764dd54edd5b214eb1fcb67aba5370014e7663/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreClr.cs#L350

we will get a pretty decent output.
For example:

[code]

[2017-02-11 06:41] vors commented on #2193
Btw, in the FullCLR version there is no call to it.

[2017-02-11 07:14] vors opened #3131 "Invoke-WebRequest / Invoke-RestMethod ContentType problem"
Steps to reproduce
------------------

Try to use dropbox API https://www.dropbox.com/developers/documentation/http/teams#team-get_info

**I'm passing explicit `-ContentType 'application/json'` and getting error `Bad HTTP "Content-Type" header: "application/x-www-form-urlencoded"`**

[code]

Expected behavior
-----------------

Success, like when I call

[code]

Actual behavior
---------------

Cu

[2017-02-11 08:33] vors commented on #3131
I read the code a little bit and it could be dotnet problem O_o
So, if endpoint require some payload, I can run `
Invoke-RestMethod -Uri https://api.dropboxapi.com/2/team/groups/list -ContentType 'application/json' -Headers @{"Authorization" = "Bearer $AUTH_TOKEN" } -Method POST -Verbose -Body (@{'limit' = 100} | ConvertTo-Json)
`
And I get a good response

But if it doesn't require, the `Content-

[2017-02-11 15:36] SteveL-MSFT commented on #2227
Looks like the problem is with libcurl which .Net Core depends on.  The Auth header is needed by AppVeyor and after auth, they redirect to the Azure Blob Storage which doesn't need it, but because it's there tries to validate and fails.  I'll follow-up with libcurl.

[2017-02-11 15:40] SteveL-MSFT commented on #3011
Been thinking about this and see no reason PowerShell can't just start if it can't create folders in the home directory.  I'll make a change.

[2017-02-11 18:28] thezim commented on #3118
@iSazonov ```-Style [Windows | Unix]``` make more sense from a discovery point of view. Also ```-Normalize``` could get confusing if you have preferenced something else already, better to avoid the ambiguity.

[2017-02-11 21:08] adityapatwardhan commented on #2562
@Francisco-Gamino I cannot seem to repro it. Can you still repro?

[code]

[2017-02-11 21:22] rkeithhill opened #3132 "Need better way to work with native exes that report progress on stderr"
Steps to reproduce
------------------
Today if you use an executable like git.exe (which uses stderr for progress not just errors), in the PowerShell console stderr appears like stdout (no ErrorRecords). In ISE, stderr is converted to ErrorRecords and displays in red.  RE git.exe using stderr to report progress see http://git.661346.n2.nabble.com/git-push-output-goes-into-stderr-td6758028.html

Th

[2017-02-11 22:41] joeyaiello commented on #3132
Oh, interesting. So like a PowerShell variable that lets you either redirect stderr into the PowerShell Error stream or not.

Something like `$PSRedirectErrors = $True` or the negative `$PSPassthruError = $True`?

[2017-02-11 22:48] lzybkr commented on #3132
Untested and needs verification - but I believe https://github.com/PowerShell/PowerShell/pull/2450 should address hosts like the ISE and remoting that do not handle stderr like the console host. Maybe @vors can chime in to confirm.

Of course, that means these changes need to be pulled back into Windows for the ISE to pick it up.

[2017-02-11 23:07] vors commented on #3132
Jason is correct.

[2017-02-11 23:28] vors commented on #3132
Duplicate of #1599

[2017-02-11 23:28] #3132 closed

[2017-02-12 01:14] TravisEz13 commented on #2042
I already fixed this here: https://github.com/PowerShell/PowerShell/blob/master/tools/appveyor.psm1#L243
https://github.com/PowerShell/PowerShell/commit/f8520e06b3ccc9e58f18a9645d992cf0685413c5

[2017-02-12 01:14] #2042 closed

[2017-02-12 07:52] probonopd commented on #2024
Ping

[2017-02-12 12:40] iSazonov commented on #3118
We should have switches (in different parameter sets):
-StyleWindows - default true on Windows
-StyleUnix - default on Linux and IOS.

And we should consider remoting and remote sessions  Windows -> Unix, Unix -> Windows. Is it possible and reasonable to make implicit conversions?

[2017-02-12 16:04] arebee commented on #3118
-PathDelimiter [Windows|Unix]

$PSPathDelimier = [Windows|Unix] defaults to platform.

This should be a cosmetic styling.

Sent from my Windows 10 phone

From: Ilya
Sent: Sunday, February 12, 2017 4:40
To: PowerShell/PowerShell
Cc: Richard Burte; Author
Subject: Re: [PowerShell/PowerShell] Feature Request: Create a preferencevariable to turn Off/On path normalization (#3118)

We should have switch

[2017-02-12 16:19] iSazonov commented on #3090
Timers.Timer is still not in CoreCLR.

[2017-02-12 16:27] iSazonov commented on #3046
@joeyaiello #2882 move to dotnet-resgen (support compile "file.En-Us.resx") and csproj.

[2017-02-12 17:25] iSazonov commented on #3035
@SteveL-MSFT Thanks! Good example!

I shortly have look at the TraceEvent Library.
We could not only expand Get-WinEvent to support this trace format.
Also it would be interesting to create trace events, to manipulate trace files...
On the other hand why we don't use low-level trace internally in Powershell Core?

[2017-02-12 21:11] ngetchell commented on #1654
This is holding me back from bringing my modules over to Linux. I'd like to be able to store Web API keys securely on all OSes, not just Windows.

[2017-02-12 22:18] AndrewSav opened #3135 "Support additional probing paths for assembly loading"
In dotnet core, your dependency dlls do not have to be in the same folder as long as they are installed with nuget at `additionalprobingpath`.

If you do `Add-Type` in powershell on linux and then try to use the dll, it will fail with a dependency missing if the dependency is not in the same folder.

Is there a way to let powershell know net core additionalprobingpath? How is this supposed to work

[2017-02-13 05:11] tylerl0706 opened #3136 "[Meta] Tag issues for new contributors to work on"
Meta issue here. Feel free to close.

I've noticed a lot of big projects that have a solid following tag certain issues with a tag such as "first-time contributors" or "good first bug".

The idea is that new people (like myself) who want to contribute but don't really know how or where to get started have a place to start.

It'd be really sweet if the Powershell repo had this!

[2017-02-13 11:28] cgranade opened #3137 "Integer arguments to methods interpreted as enumerations"
Steps to reproduce
------------------

Call a method which accepts an argument of either type ``int`` or an enumeration type, passing an integer literal for the argument. For example, in the call ``"a:b".Split(":", 2)`` below, the ``System.String.Split`` method is overloaded on the type of its second argument, which accepts either ``Int32`` or ``System.StringSplitOptions``.

Expected behavior
----

[2017-02-13 17:30] joeyaiello commented on #3046
@iSazonov: You're saying those are two separate items, right? The former is a requirement for localization (something we need to discuss with @PowerShell/powershell-committee, I'm not sure how we get that done today), and the latter is a requirement for moving to .NET Core 2.0 (a requirement for supporting .NET Standard 2.0).

[2017-02-13 17:40] SteveL-MSFT commented on #3046
@joeyaiello we have a custom solution for res-gen today, but we should move to the dotnet supported way.  csproj is moving to msbuild, although we've talked about it, I don't see an issue for it.

[2017-02-13 17:46] joeyaiello commented on #3136
While there's not a particular label "easy" issues, we use [`up-for-grabs`](https://github.com/PowerShell/PowerShell/issues?q=is%3Aopen+is%3Aissue+label%3AUp-for-Grabs) for the sorts of issues that anyone can feel free to pick up.

[2017-02-13 17:51] joeyaiello commented on #3135
Oh, interesting, so sort of x-copyable GAC...Didn't realize they had done that already.

If I were to guess, I'd bet that it's probably due to the fact that we currently host an app-local copy of CoreCLR ourselves as opposed to picking up the system-wide "shared framework". Eventually, I think we plan to move to using the system-wide copy, though I'm not sure what the `Add-Type` behavior should be

[2017-02-13 18:02] joeyaiello commented on #1654
This is something we'll only be able to enable with the .NET Standard 2.0 APIs that bring back SecureString:
* CoreFX Issue: dotnet/corefx#13062
* CoreFX 2.0 PR: dotnet/corefx#13362

[2017-02-13 18:08] joeyaiello commented on #3090
Agreeing with @iSazonov, I don't think we can do anything about this in PowerShell.

[2017-02-13 18:08] #3090 closed

[2017-02-13 18:23] SteveL-MSFT commented on #2227
It doesn't look like libcurl is going to change this behavior.  We can handle the 302 redirect in the cmdlets and remove the Auth header by default (make it consistent with Windows) and add a switch to include it on redirect if desired

[2017-02-13 18:32] iSazonov commented on #3046
@joeyaiello Steve said more clearly than I. We already have the issue for dotnet resgen and we should open a issue for csproj. And we should include the issues in the Plan under "dotnet 2.0"

[2017-02-13 20:15] SteveL-MSFT commented on #2193
Here's the experience I have coded up, feedback welcome:

[code]

[2017-02-13 21:52] joeyaiello opened #3140 "Move build to csproj/msbuild"
This more of a placeholder issue than anything right now. Today, the build uses `dotnet-cli` and the `project.json` schema for managing the build. In the future, [.NET Core is moving back to MSBuild](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/), which we'll need to use if we want to leverage .NET Standard 2.0 (which we want to do in the 6.0.0 timefra

[2017-02-13 21:54] joeyaiello commented on #3046
Added the csproj/MSBuild goodness, we still should talk about resgen and whether it's required for 6.0.

[2017-02-13 22:16] joeyaiello commented on #3113
Just to clarify, you're talking about the `-Method` parameter on `Invoke-WebRequest` and `Invoke-RestMethod`?

[code]

[2017-02-13 22:26] joeyaiello commented on #3124
In what document do you see that link? The correct link is https://github.com/PowerShell/PowerShell/releases/download/v6.0.0-alpha.15/PowerShell_6.0.0-alpha.15-win10-win2k16-x64.msi

[2017-02-13 22:28] NathansNexus commented on #3124
It's the main MSI link for Windows 10/Server 2k16 in the readme.

[2017-02-13 22:50] yuriw commented on #3124
Main page
https://github.com/PowerShell/PowerShell
=>
Windows 10 / Server 2016 (x64)
=> .msi URL

[2017-02-13 22:57] adityapatwardhan commented on #3122
The badge seems to showing the latest build. Are you seeing it otherwise?

[2017-02-13 22:58] Lee303 commented on #3113
I've just added a pull request for this. Would appreciate feedback as this is my first code pull for PS

[2017-02-13 23:10] NathansNexus commented on #3124
If you click the link it takes you to a 404, but if you right click Save link as, it works. I guess the issue should be closed, or links fixed to open directly to the .msi URL.

[2017-02-13 23:22] adityapatwardhan commented on #2562
The output is missing the type of the enum ```<MyEnum>```

[2017-02-14 00:10] #2912 closed

[2017-02-14 00:12] thezim commented on #3113
@joeyaiello Yes.

[2017-02-14 00:16] HemantMahawar commented on #1794
Might be related to #3011 that @SteveL-MSFT  is looking into.

[2017-02-14 00:21] daxian-dbw commented on #3098
Accessing any static properties of `Microsoft.Win32.Registry` will raise `PlatformNotSupportedException` exception. For script like `if ($false) { [Microsoft.Win32.Registry]::ClassesRoot }`, even though it won't be hit at run time, powershell needs to access the property via reflection at compilation time, and thus will trigger this exception. This means users cannot have the uses of this type in

[2017-02-14 00:37] HemantMahawar commented on #2116
@joeyaiello Add the results of your chroot scenario

[2017-02-14 00:45] #3083 closed

[2017-02-14 02:22] chancein007 commented on #2921
Is there any solution for it?

[2017-02-14 03:10] iSazonov commented on #3122
**Today** I see 33% and on the coveralls.io I see the same.
In recent days I have seen sometimes old up to 4-day badge.

[2017-02-14 03:22] iSazonov commented on #3098
Can we somehow log this exception and get a call stack?

[2017-02-14 09:07] stej opened #3143 "Copy-Item throws Cannot validate remote path"
Steps to reproduce
------------------
I created some new machines in Azure and enabled HTTPS remoting.

Then ran code like this:
[code]

Expected behavior
-----------------
1) Should be working. No idea why it makes some remote path validation.
2) the XmlDocument exception is quite confusing

Actual behavior
---------------
[code]

Environment data
----------------

**Local**
[code]

**Remote**
[c

[2017-02-14 13:22] mklement0 opened #3144 "ScriptBlock.GetNewClosure() unexpectedly tries to include unbound parameters that have validation attributes, causing errors"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Function call `foo` should succeed, and string `'OK'` should be output.

Actual behavior
---------------

The `.GetNewClosure()` call fails with the following error message:

That is, an attempt is made to include the _unbound_ `-bar` parameter value - the `$bar` variable - in the closure, which apparently then def

[2017-02-14 14:11] rainerklier commented on #2393
please also support opensuse tumbleweed.
there already is a dotnet core repository which features dotnet core 1.1.0:
http://download.opensuse.org/repositories/home:/linnaea/openSUSE_Factory

[2017-02-14 14:37] f0rt commented on #2607
I can confirm the issue. I have the following setup:
- Manifests with more than 1 dependencies
- Dependency level of 5+
- Dependencies in the full format like @{ ModuleName = ""; ModuleVersion = "" }

Note that if I leave only 1 dependency in the manifest files it works fine.

[2017-02-14 17:04] Francisco-Gamino commented on #1846
This issue has been fixed by #3086.

[2017-02-14 17:04] #1846 closed

[2017-02-14 17:05] Francisco-Gamino commented on #1731
This issue has been fixed by #3032.

[2017-02-14 17:05] #1731 closed

[2017-02-14 17:39] iSazonov commented on #3140
I see that .Net team is actively seeking the experience of such migration. Maybe they will be happy to provide direct assistance to us.
http://landinghub.visualstudio.com/migrate-dotnetcore

[2017-02-14 17:47] iSazonov commented on #3143
Thanks for reporting the issue!
Could you publish results of `error[0..1] | fl -force` ?

[2017-02-14 17:52] iSazonov opened #3145 "We need to verify approved aliases"
We need lists ( 1. for Windows and 2. for Unix) of approved aliases and tests to verify the approved aliases exist in powershell.
Right place for the tests is Microsoft.PowerShell.Utility\Default-Aliases.Tests.ps1

[2017-02-14 18:09] iSazonov opened #3146 "Get-ComputerInfo and OsLocalDateTime"
[code]

[2017-02-14 18:25] daxian-dbw opened #3147 "Need to fix UX of cmdlets related to remoting endpoint configuration on unix platforms"
Cmdlets related to remoting endpoint configuration, such as `New-PSSessionConfigurationFile`, are windows-only and not working on unix plats currently. But they are exposed on unix platforms.

If `New-PSSessionConfigurationFile` and other `PSSessionConfiguration` related cmdlets are not supposed to work on unix at all, we should not expose it on unix platforms.
If some of its features work on unix

[2017-02-14 18:27] iSazonov commented on #3122
Check from another computer - 46% vs 46%. No problem.

[2017-02-14 18:29] adityapatwardhan commented on #3122
@iSazonov  So are you OK closing the issue?

[2017-02-14 18:34] iSazonov commented on #3122
Yes. We can always come back if the problem appears.

[2017-02-14 18:41] daxian-dbw commented on #3147
The original discussion thread can be found at https://github.com/PowerShell/PowerShell/pull/3067#discussion_r101098733

[2017-02-14 19:04] daxian-dbw commented on #3098
Yes we can, by using `$Error`
[code]

[2017-02-14 19:29] lzybkr commented on #3140
The biggest issue is likely on our side - we depend on the `project.json` files to produce the list of assemblies that go into our type catalog for type resolution. We have a proposed temporary solution - to just check in the generated type catalog - but that's not a long term solution because it won't work when we update which assemblies we pull in.

We also need to merge https://github.com/Power

[2017-02-14 19:39] SteveL-MSFT commented on #2193
The content of the response is stuffed into the Message property of the ErrorDetail and the HTTP Status Code is in the front of the FullyQualifiedErrorId.  Response headers are thrown away (not sure if there's any useful case when you receive an error from the server).

[2017-02-14 21:10] jackfruh commented on #1874
note: On OSX 10.11.6, I'm getting:

[code]

This is with PS 6 alpha 15
Dot net 1.1 was installed from dotnet-dev-osx-x64.1.0.0-preview2-1-003177.pkg

[2017-02-14 21:49] andschwa opened #3148 "Update copyright notices"
The copyright notices are still `Copyright (C) 2016 Microsoft Corporation` when they should be `Copyright (C) 2017 Microsoft Corporation` or better `Copyright (C) <YYYY> Microsoft Corporation` where it's dynamically updated to the current year.

[2017-02-14 22:04] jeffbi commented on #3146
Odd, it works for me.
[code]

As for the test, there are a number of tests in which we cannot reasonably compare one result against another since the results are not fixed, such as `OsFreePhysicalMemory` and `OsLocalDateTime`. What we could do is test that they return non-null values of the appropriate type. All result properties are nullable types.

[2017-02-14 22:56] joeyaiello commented on #3140
@lzybkr can't we also solve the same problems that #3066 alleviates (namely, a dependency on Win10 SDK) by moving native binary compilation out of this repository? (i.e. since those aren't getting touched quite as much, build them in another repo and pull them in through a Nuget feed?)

[2017-02-14 23:19] lzybkr commented on #3140
#3066 saves effort in migrating by building less **and** having simpler build files (one target - `netstandard1.x` instead of two.)

Moving native binary compilation should also help (building less!), but it is slightly different.

[2017-02-15 04:10] vors commented on #2193
Not sure that's a good idea.

[2017-02-15 04:55] iSazonov commented on #3146
Do it makes sense to make a comparison with the current date?

[2017-02-15 05:14] iSazonov commented on #3098
@daxian-dbw Sorry for the inaccuracy, my question was - can we somehow do it in _CI_?

[2017-02-15 06:06] vors commented on #3098
Why in CI? I can repro it locally. Can you?

[2017-02-15 06:10] iSazonov commented on #3098
@vors The test "Describing Get-Help -Online opens the default web browser and " work well locally for me.
As I understand the problem occurs randomly in CI only.

[2017-02-15 06:27] vors commented on #3098
Yes, that's correct!

Nope, both me and Dongbo can repro it locally.
I'm using macOS.
It's interesting that it doesn't repro in WSL.

Another very interesting question is "why it sometimes succeed in CI?"

[2017-02-15 06:30] vors commented on #3098
Ah, ok the second mystery is not a mystery: it's a nightly build (that includes Feature) vs CI.
For example:

- CI build https://travis-ci.org/PowerShell/PowerShell/jobs/201617482
- subsequent nightly: https://travis-ci.org/PowerShell/PowerShell/builds/201743741

[2017-02-15 06:38] vors opened #3150 "Unix nightly badge is inaccurate"
Right now the nightly badge is inaccurate.
Last nightly run finished 3 hours ago and and it's red
https://travis-ci.org/PowerShell/PowerShell/jobs/201743742

The image is getting from here:
`[tv-nightly-image]: https://jimtru1979.blob.core.windows.net/badges/DailyBuildStatus.svg`

![image](https://cloud.githubusercontent.com/assets/816680/22963079/b341ec88-f305-11e6-9130-c5d2a0448fd0.png)

I'm not

[2017-02-15 07:52] sandersaares opened #3151 "Requesting Nano Server install instructions"
On the repo homepage, there are a set of MSI links but as far as I know, Nano Server does not support MSI.  Furthermore, the instructions page mentions "Full SKU" which gives me the impression it does not document installation on Nano Server.

Therefore, I request that instructions be added on how to install the latest version of PowerShell 6 onto Nano Server.

[2017-02-15 08:06] iSazonov commented on #3098
😕 I only tested on Windows and WSL.
It's not my train. See you later  :smiley:

[2017-02-15 08:53] jeffbi commented on #3146
The test could store the current time before and after executing `Get-ComputerInfo`, then check that the `OsLocalTime` value falls between those two times. The `OsLocalTime` value should be very close to the time the cmdlet was started because the `Win32_OperatingSystem` information is gathered first.

[2017-02-15 12:15] cgranade opened #3152 "CLIXML deserialization of native commands sensitive to whitespace"
Following the suggestion [made at #1999](https://github.com/PowerShell/PowerShell/issues/1999#issuecomment-263386482), I was attempting to write a native command that outputs serialized PowerShell data and ran across a difference between the how the Windows and Linux versions handle whitespace in the CLIXML payload.

Steps to reproduce
------------------

Create a file `foo.xml` with the following

[2017-02-15 14:43] stej commented on #3143
I tried that yesterday and I was able to copy some files into the session. However, today again.. errors with copying. So this are the errors:

[code]

When using the old `Resolve-Error` cmdlet:

[code]

[2017-02-15 15:26] iSazonov commented on #3143
Oh, sorry. It would be interesting to see a call stack:
$error[0..1].Exception | fl -Force

[2017-02-15 16:09] mklement0 opened #3153 "ConvertFrom-Json doesn't unwrap arrays on output, resulting in an extraneous wrapper JSON object with `Count` and `Value` properties on reconversion"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

I believe the root cause is that `ConvertFrom-Json` sends arrays _as a whole_ through the pipeline instead of unwrapping them.

Analysis, more examples, and workaround here: http://stackoverflow.com/a/38212718/45375

Environment data
----------------

[code]

[2017-02-15 16:46] mirichmo commented on #3151
The quick answer is to copy the win10 zip (PowerShell_6.0.0-alpha.15-win10-win2k16-x64.zip) to your Nano Server instance and unzip it.

I will update the install instructions with more detailed steps as well since Nano Server interaction is a little different from other SKUs.

[2017-02-15 16:55] mklement0 opened #3154 "-OutVariable doesn't unwrap single-object output and creates [System.Collections.ArrayList] values rather than [System.Object[]]"
<sup>Note: Also affects other common parameters: see #3773</sup>

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Type name `System.DateTime`

Actual behavior
---------------

Type name `System.Collections.ArrayList`

That is, the single-object output stored in the variable targeted with `-OutVariable` received an _array list_ rather than a scalar (the single-el

[2017-02-15 16:56] mirichmo commented on #3124
@daxian-dbw We should fix this when we roll the alpha.16 release

[2017-02-15 17:15] daxian-dbw commented on #3098
@vors It looks like we don't run this test in nightly test pass ☹️ Just search it in the log of a [successful nightly run](https://travis-ci.org/PowerShell/PowerShell/jobs/201617482), and cannot find it.

[2017-02-15 17:28] daxian-dbw commented on #3150
The test `Describing Get-Help -Online opens the default web browser and navigates to the cmdlet help content` is not running in nightly build, which fails in travis CI.

[2017-02-15 17:33] SteveL-MSFT commented on #2193
@vors, open to suggestions.  Could prefix with `HttpStatus`, but then it's more parsing for scripts that want the actual code

[2017-02-15 19:15] mirichmo commented on #2971
I'm closing this since I abandoned the merge since no change is required.

[2017-02-15 19:15] #2971 closed

[2017-02-15 19:15] jcoryatjr opened #3155 "Different Response objects from Invoke-RestMethod calls between 4.0 and 5.1"
Steps to reproduce
------------------
The Invoke-WebRequest is provided for contrast.
Build and submit request to Remedy 9.1 REST API using appropriate form
[code]

Expected behavior
-----------------
A valid http response from both calls that are similar except for the identity of the created request (below) as well as two different Remedy requests created vai the REST call.

Content           :

[2017-02-15 19:42] jcoryatjr commented on #3155
Upon further investigation, I have another host (2012 R2 Standard) with PS 5.1 which does not exhibit this issue.  My impression is that there is an underlying issue on the problem host that is causing this behavior.

[2017-02-15 19:42] #3155 closed

[2017-02-15 21:20] vors commented on #3150
@daxian-dbw nope. It does run. And it does fail.
This issue is about the badge only.
Travis CI doesn't have a way to run two different projects from the same repo.
Unlike in appveyor, where we just have two projects for CI and for nightly.
That's why we mix all builds at the same travis project.

My understanding is that Jim wrote automation to find last nightly build form the project and upload c

[2017-02-15 21:24] daxian-dbw commented on #3150
@vors you are right. I was confused about the Travis jobs.

[2017-02-15 22:26] mirichmo opened #3156 "Update releasing.md"
We (maintainers) need to update [releasing.md](https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md) to reflect the current state of the release process using our internal automation.

[2017-02-16 00:21] joeyaiello commented on #2193
@PowerShell/powershell-committee (subset of @HemantMahawar @lzybkr @khansen00 and myself) think that the most important piece is that you're able to get at the `Response` property of the exception as you can in FullCLR:

When running `Invoke-WebRequest http://httpstat.us/418`, the behavior currently differs between Core and Full:

FullCLR:
[code]

CoreCLR:
[code]

[2017-02-16 00:33] grayzu commented on #2978
Jonas,

The issue with the ESENT db not using circular logging has been resolved in WMF 5.1. This resolves, your issue, correct?

MarkG

[2017-02-16 00:35] HemantMahawar opened #3158 "Provide a way to distinguish between terminating error vs. non-terminating error"
Add more details later

Steps to reproduce
------------------

Expected behavior
-----------------

Actual behavior
---------------

Environment data
----------------

[code]

[2017-02-16 00:39] joeyaiello commented on #2860
@PowerShell/powershell-committee (subset of @HemantMahawar @lzybkr @khansen00 and myself) agree that the original issue (#2860) is by design. It is unreasonable for ConvertFrom-Json to emit anything but an error when receiving malformed input, and terminating errors are not respected by -ErrorAction. If a developer absolutely wants to make a conscious choice to ignore that terminating error, they

[2017-02-16 00:41] #3136 closed

[2017-02-16 00:42] joeyaiello commented on #2074
According to @lzybkr, `using assembly` is meant for this, but it has not been implemented for this use case yet.

[2017-02-16 00:44] #2843 closed

[2017-02-16 00:45] #3116 closed

[2017-02-16 00:48] KirkMunro commented on #3046
This might be more Hyper-V than PowerShell (or equal parts Hyper-V and PowerShell), but I thought I'd mention it to make sure: I think it's very important to have PowerShell Direct work for Linux VMs as well as Windows VMs.

[2017-02-16 01:12] vors opened #3159 "ConvertFrom-Json should have option to produce hashtables instead of objects"
Json is very convenient to glue tools together.
For example, both python and powershell have ability to serialize and de-serialize anything into json without a schema.
Unfortunately, after de-serialization from json in PowerShell, you get immutable objects.
If you just get mutable hashtables, life would be much better: i.e. you can create some object in python, toss it to powershell, enhance with

[2017-02-16 01:22] Jaykul commented on #3159
**In theory**, this makes a lot of sense to me.

Although honestly, my biggest problem with json and PowerShell is that it can't ever produce the same json it received, I'm pretty sure this would make that worse unless `ConvertTo-Json` is fixed first ;-)

[2017-02-16 02:46] vors commented on #3159
@Jaykul can you provide a specific example?

[2017-02-16 04:59] tibmeister commented on #3112
Ran into a similar issue and ended up defining $env:HTTP_PROXY and $env:HTTPS_PROXY with the URL of http://<username>:<password>@<proxy>:<port>.  This seems to be a quick workaround, at least on my CentOS test box.

[2017-02-16 05:43] tibmeister commented on #2463
As soon as the ARM support for dotnet core is out I plan on testing a compile of this and seeing if it will work outta the box or not...

[2017-02-16 12:37] stej commented on #3143
Content of `Resolve-Error` is this

[code]
so the Exception is in fact in my previous response.

[2017-02-16 12:40] ccm1st opened #3162 "Move-CSUser command works in winform application but not window service"
I am trying to write a window service where I can pass in the powershell script and it will execute script accordingly. The service works fine with most of of script, but when I try to run the following command, it will always failed with error indicating that it requires MSOIDCLIL.DLL.
Note, the command is used to move a lync user from on-prem to office 365.

`Move-CsUser -Identity username@conto

[2017-02-16 17:22] mklement0 opened #3163 "Unexpected behavior of array-valued calculated properties added to a custom object with Select-Object"
[Superseded by #5579]

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

_Update_: This symptom no longer happens in PowerShell _Core_ due to [this fix](https://github.com/PowerShell/PowerShell/pull/3231), but it can still be observed in _Windows PowerShell_; the symptom illustrates that the `Select-Object` way of creating

[2017-02-16 20:53] joeyaiello commented on #2463
This should "just work" for the .NET bits of PowerShell; the tricky part is getting the native PowerShell binaries to compile for arm32/arm64 out of GitHub.

[2017-02-16 21:25] joeyaiello commented on #3159
@vors: #2448 and #3153 are both examples.

Could you clarify your original point with an example, though? This seems to work fine to me:

[code]

[2017-02-16 21:37] joeyaiello commented on #3124
This has been fixed

[2017-02-16 21:37] #3124 closed

[2017-02-16 21:50] HemantMahawar commented on #2344
@nitinbps I believe this issue was resolved in DSC layer. Can you validate and close? /cc: @grayzu

[2017-02-16 21:51] joeyaiello commented on #2607
This breaks some production PowerShellGet module dependency traversal scenarios and is definitely needed for `6.0.0-beta` at the latest.

[2017-02-16 23:15] nitinbps commented on #2344
@HemantMahawar @grayzu  Yes, this issue is resolved in DSC layer. Closing the issue.

[2017-02-16 23:15] #2344 closed

[2017-02-17 03:57] tibmeister opened #3164 "Send-MailMessage Excluded from Non-Windows systems"
Not sure of the background on this one but if it's something that just needs re-written and tweaked for non-Win systems then I could probably take that on.  I can't even count the number of scripts I have that rely on this.

[2017-02-17 04:25] Jaykul opened #3165 "ErrorVariable gets duplicate errors for each nesting layer or CmdletBinding"
Steps to reproduce
------------------
[code]

Produces 1 error in `$E`

[code]

Produces 2 errors in `$E`

[code]

Produces 3 errors in `$E`

And so on.

In other words, although one layer has no effect, each Callstack between the `throw` and the `catch` or `trap` adds another (duplicate) entry in the `ErrorVariable`, and each CmdletBinding adds another. Note that it doesn't matter if the scriptbl

[2017-02-17 05:25] #3144 closed

[2017-02-17 06:59] joeyaiello commented on #3164
Looks like it [depends primarily on `System.Net.Mail`](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/Send-MailMessage.cs#L8).

Fortunately, it also [looks like we'll get some semblance of `Mail` with .NET Standard 2.0](https://github.com/dotnet/corefx/pull/12416)

[2017-02-17 12:48] maurice-daly opened #3166 "Get-ComputerInfo Typo - BiosSeralNumber"
Steps to reproduce
------------------
`Get-ComputerInfo | ft BiosSer*`

Expected behavior
-----------------
Returned heading should be BiosSerialNumber

Actual behavior
---------------
Returned is listed as BiosSeralNumber

Environment data
----------------

[code]
![biosserialnumber](https://cloud.githubusercontent.com/assets/25844716/23065811/56b0f034-f50f-11e6-828b-2de8c21494f4.jpg)