[2019-09-24 21:41] SteveL-MSFT opened #10617 "Consider replacing PSPath with resolved file system path to native commands"
# Summary of the new feature/enhancement

Since introducing the temp: drive, it would be nice to be able to use it with native commands.  If you do:

On Linux/macOS:

[code]

or on Windows:

[code]

Both of them don't know what temp: maps to as it's purely a powershell construct.  However, the native command processor could determine that the string is a valid PSPath mapped to FileSystemProvider a

[2019-09-24 21:44] HumanEquivalentUnit commented on #10613
This doesn't seem restricted to just `*?` characters, or to just one character, e.g.

    PS C:\> 'system.int32%fwefwef' -as [type]

    IsPublic IsSerial Name                                     BaseType
    -------- -------- ----                                     --------
    True     True     Int32                                    System.ValueType

Quick testing, I guess any symbol which st

[2019-09-24 21:47] crabtruckington opened #10618 "Microsoft.Management.Infrastructure.dll is delay-signed or test-signed"
I am trying to use the Microsoft.Management.Infrastructure.dll as a reference in a c# project. I have downloaded the package from nuget (https://www.nuget.org/packages/Microsoft.Management.Infrastructure/) which gives me version 1.0.0.0 . I have the reference included in the build as "Copy Local: True", and it is properly copied to my /bin/ directory.

Everything works in my development environmen

[2019-09-24 22:10] diddledan commented on #10360
The same behaviour occurs if you try to set the path as a PSDrive (in Powershell Core 6.2.3):

[code]

While it works as expected in Powershell as part of Windows Insider Preview build 18985.1:

[code]

[2019-09-24 22:31] mklement0 commented on #10613
Thanks, @HumanEquivalentUnit  - great sleuthing.

[2019-09-24 22:36] #10610 closed

[2019-09-24 22:51] #10609 closed

[2019-09-24 22:52] #10611 closed

[2019-09-25 00:00] #10589 closed

[2019-09-25 04:17] Stephanevg opened #10620 "Powershell 6.2.3 installation removes Path from $env:PsModulePath"
Hi guys,

I just installed powershell version 6.2.3 on my professional laptop, through a suggestion in vscode telling me that my powershell version was out of date. IT offered me to install, which I did.

Since then, I noticed none of my modules in ```C:\program files\Windowspowershell\modules\``` could be loaded anymore.

Having a closer look at my env path, this is what I see in vscode:

![image

[2019-09-25 05:46] chuanjiao10 opened #10621 "Feature:need support rhel8 and centos8"
# Feature:need support rhel8 and centos8

centos8 released,then i tested powershell on it.
Good news!
In my test ,powershell for rhel7/centos7 working normally on centos8.
So ,**to support centos8, we only need update "readme.md"** i think.

i only tested ga version of powershell,use that install code,
[code]
you can test again，and feedback

[2019-09-25 12:15] SeeminglyScience opened #10623 "Defining a type that contains a method with a parameter typed as itself throws when the method is an override candidate"
# Steps to reproduce

[code]

# Expected behavior

No exception, type is defined successfully.

# Actual behavior

[code]

# Environment data

[code]

This also occurs in Core 6.2.3 but does *not* occur in Windows PowerShell.

[2019-09-25 13:11] vexx32 commented on #10596
Someone in the PowerShell Discord brought up one potential issue with my above idea:
[code]

If implemented as separate operators... this could be a potential pitfall if it is not handled carefully by the parser. Ternary syntaxes should return `$null` in that kind of case (`$true ? $null : $value` will return `$null`) but if the operators are completely independent it's possible that `-else` could

[2019-09-25 14:14] iSazonov commented on #10623
It seems we already discussed an issue like this. PowerShell should compile a type before it can use it. So any recursion in type definition (direct or indirect) is impossible.

[2019-09-25 14:18] iSazonov commented on #10621
.Net Core 3.0 do still not support these versions https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0-supported-os.md
You could ask .Net Core team.

[2019-09-25 14:25] atrauzzi opened #10624 "Parity with bash tab completion for applications"
# Summary of the new feature/enhancement

When I'm using bash, if I type something like `make <tab>`, I get a full list of the available tasks.  This spans across the ecosystem where many applications can surface items for auto-completion outside of simply resolving files from `pwd`.

# Proposed technical implementation details (optional)

Really, just do what bash does when I press tab for applic

[2019-09-25 14:26] iSazonov commented on #10620
@Stephanevg Thanks for you report! You could download artifact from #10300 and try the build if it fix your issue.

[2019-09-25 14:29] iSazonov commented on #10618
@crabtruckington I am not sure that the repo is right place to report the issue. Also the API was deprecated and you should use alternatives.

@TravisEz13 Could you comment about signing MMI?

[2019-09-25 14:37] SeeminglyScience commented on #10623
@iSazonov It works when the method isn't an override candidate.  For example, the same snippet works if you change the method name `Equals` to `Equals2`:

[code]

Basically `DefineTypeHelper.MethodExistsOnBaseClassAndFinal` should return early if the parameter types contain the type currently being defined.

[2019-09-25 14:46] iSazonov commented on #10615
It will easy fix but we need a conclusion before.

What is a behavior of other tools in the case?

[2019-09-25 15:17] adamedx commented on #1759
Just adding to the chorus asking for a fix -- whatever the cause of the issue, the behavior makes no sense and hampers many scenarios. Please fix in PowerShell 6 and 7.

[2019-09-25 15:36] chuanjiao10 commented on #10621
I kicked  “the .net core 3.0” and "powershell core" ass and said "go go go hurry"

[2019-09-25 15:47] KirkMunro commented on #1759
The fix for this was added to PowerShell 7 preview 4. This issue can be closed.

[2019-09-25 15:49] adamedx commented on #1759
No 6 then? Whatever, I'll take it in 7 -- thanks!

[2019-09-25 15:51] KirkMunro commented on #4348
The fix for this was to allow `ActionPreference.Ignore` to be assigned to any action preference variable, which allows it to be used in functions as well. This fix was merged and included in PowerShell 7 preview 4. I believe this issue can be closed.

[2019-09-25 15:52] KirkMunro commented on #1759
Any changes to 6 at this point would only be made for security reasons.

[2019-09-25 15:54] vexx32 commented on #4348
/cc @iSazonov 🙂

[2019-09-25 16:34] tibmeister commented on #10370
I don't know if I would close this as resolved because the root issue is still not resolved, being that -Quiet still does absolutely nothing and I don't get a $True/$False return easily.  How about we fix this before closing it, or I don't know, re-introduce the original code from 2 years ago that already had this fixed without needing this stupid workaround.

[2019-09-25 17:04] vexx32 commented on #10370
You will in ps7. I have a PR that addresses this which I think is already merged, and there are further PRs in review that will further improve the output from Test-Connection.

[2019-09-25 18:03] jnevins-gcm commented on #10600
Anyone?

[2019-09-25 19:25] jboeshart opened #10625 "Get-Credential password confirmation"
# Summary of the new feature/enhancement

Passwords are hard. When we prompt for passwords, especially for complex passwords, it's important to ensure that we know what we are entering. When using `Get-Credential` interactively from the command line, you currently only get one opportunity to type in your password. It's easy to fat finger a complex password. If you fat finger a complex password, th

[2019-09-25 19:28] vexx32 commented on #10625
`-Confirm` would conflict with the common parameter used for ShouldProcess.

I'd suggest something like `-ConfirmPassword`

[2019-09-25 19:33] TravisEz13 commented on #10618
cc @adityapatwardhan about this issue

[2019-09-25 19:43] daxian-dbw commented on #4348
Fixed by #10317

[2019-09-25 19:43] #4348 closed

[2019-09-25 19:44] jboeshart commented on #10625
Good idea @vexx32, I updated the description to reflect that.

[2019-09-25 23:26] #9587 closed

[2019-09-26 00:39] MaynardMiner opened #10627 "linux GNU screen Clear-Host"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

I know that ``clear-host`` simply calls ``/usr/bin/clear``, but for some reason pwsh doesn't show command prompt after running ``clear`` while in ``screen``.

I haven't found a way to workaround as of yet, either.

[2019-09-26 00:53] MaynardMiner commented on #10627
[code]

Will clear the host properly. while in GNU ``screen``

[2019-09-26 04:43] chriskuech opened #10628 "ConvertFrom-Json and Test-Json accept non-compliant/non-standard JSON - no way to strictly validate JSON"
# Summary of the new feature/enhancement

There does not seem to be any way to validate whether a JSON string is valid, which makes it impossible to use PowerShell to validate JSON before passing it to another application.

For example, the following JSON is invalid due to the trailing comma, but `Test-Json` still returns `$true`.
[code]

I propose adding a `-Strict` parameter to `Test-Json` for t

[2019-09-26 04:52] iSazonov commented on #4348
@KirkMunro Thanks for fixing this!

[2019-09-26 06:41] iSazonov commented on #10600
@jnevins-gcm MSFT team is busy in the days so waiting...

[2019-09-26 07:00] branepar commented on #5434
What is status? Basic functionality which would be real useful to get as the default 3 minute default is quite long and dirty to use the asjob workaround

[2019-09-26 07:20] chuanjiao10 commented on #10089
en ,good idea.
'$^'    and         '$$'   ，i recommend it to you.
I hope it can partially solve your problem.

[2019-09-26 07:46] iSazonov commented on #10628
@chriskuech We is as simple as possible in Test-Json and delegate all to Json.NET. (NJsonSchema is used only if Schema parameter presents.) We call `JObject.Parse(Json)`. For your example it returns true. So it is Json.NET issue, we can do nothing in the PowerShell Core repo. You could open issue in Json.NET repository.

[2019-09-26 08:43] chuanjiao10 opened #10629 ""exit 123" can return to "father's father" script,is this by design?"
hi all：

https://github.com/PowerShell/PowerShell-RFC/blob/e622135ce5ced14517543739802a157eaa92aa40/1-Draft/RFCNNNN-RFC-Native-Command-Exit-Errors.md

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_keywords?view=powershell-6#exit

i have seen up url，can not find "exit 123" to father's father script should be.

i looking in powershell repo too,can

[2019-09-26 12:45] chuanjiao10 commented on #10410
same problem in pwsh 7.04
[code]

[2019-09-26 13:55] ffalor commented on #2996
I created a Puppet Task to remove the unresolvable sid issue I was having.

https://github.com/ffalor/ffalor-resolve_sid

Will be putting it on the forge in a little bit once I go through and make it a little cleaner. We had hundreds of servers failing in Puppet due to the SID issue, and I was able to fix them all in a few seconds with this task.

[2019-09-26 14:34] mklement0 commented on #10629
Unless you explicitly use `exit` in PowerShell (or call an external program), the - global - `$LASTEXITCODE` is not updated. (Using just `exit` rather than `exit <n>` sets the value to `0`).

Therefore, it is the most recent `exit`  statement or external-program call (whichever came last) that sets the `$LASTEXITCODE` value, in whatever scope they were executed, and that value remains in effect un

[2019-09-26 14:46] henrivdr commented on #7127
I have 2 PowerShell 5.1 windows open, one returns LinkType and Target and the other doesn't.  whoami /all returns the same result, so the Privileges are the same. Both windows are run as Admin.

[2019-09-26 14:48] henrivdr commented on #7127
`Get-ChildItem C:\Users\Default -Force -Attributes "Directory+ReparsePoint" -ErrorAction SilentlyContinue  | select FullName,LinkType,Target,Attributes`

[2019-09-26 15:16] mklement0 opened #10630 "Default Get-ChildItem / Get-Item output doesn't list the names of system-defined junctions on Windows"
Related:
*  #10633
* #7127

# Steps to reproduce

On Windows:

[code]

Note the use of `Out-String` so as to expect the _default output formatting_, which is where the problem lies; by contrast, accessing the `Name` property explicitly, with, say, `Format-List Name`, works fine.

# Expected behavior

The tests should pass.

# Actual behavior

The tests fail, because the `Name` column in the defaul

[2019-09-26 15:17] SeeminglyScience commented on #10625
How would it know how to verify the credential? I realize that the request is probably for Active Directory credentials but a credential object can be used for anything.

I think it would make more sense to break this functionality out into a specific command, something like `Test-ADCredential` or a completely separate `Get-ADCredential` that wraps `Get-Credential`.

[2019-09-26 15:17] mklement0 commented on #7127
@henrivdr:

It fails consistently for me in PowerShell Core 7.0.0-preview.4 / Windows PowerShell v5.1 and also in Windows PowerShell v5.1.18362.145 on Microsoft Windows 10 1903 (though note that this repo is not for Windows PowerShell).

If @PetSerAl's understanding is correct (which strikes me as likely), then even running as admin should _consistently_ fail.

However, your repro command made me

[2019-09-26 15:39] jboeshart commented on #10625
It's not a verification of the credential itself. It's a confirmation that the password you entered twice matches. This would be similar to many web site credential creation procedures that are commonly seen, as well as the `passwd` command on Linux.

[code]

[2019-09-26 15:40] henrivdr commented on #7127
@mklement0
Noted regarding this repo being for PS Core.

I agree with @PetSerAl, because this works in the window where Get-Chilitem by itself does not work: [http://chrisbensen.blogspot.com/2010/06/getfinalpathnamebyhandle.html](url)
So it must be the way the directory is (not) opened with
`CreateFile(...CREATION_DISPOSITION_OPEN_EXISTING, FILE_FLAG_BACKUP_SEMANTICS...)`

It sill does not make se

[2019-09-26 15:41] jboeshart commented on #10625
That said, I think having an easy way to validate an AD credential could be valuable as well @SeeminglyScience, but that's outside the scope of this particular enhancement request.

[2019-09-26 15:48] mklement0 commented on #7127
(The link in your comment has the correct URL, but clicking on it takes you elsewhere.)

Certainly sounds odd. If you have a reproducible case, please report it on UserVoice and/or here (as a new issue), as applicable.

[2019-09-26 15:52] chriskuech commented on #10628
That makes sense, but I think it also makes sense for the default behavior of PowerShell to have lenient JSON parsing.  Because the `-Strict` parameter provides additional validation, perhaps it makes more sense to do a regex matching.

[2019-09-26 16:41] henrivdr commented on #7127
Here's a proper link
https://stackoverflow.com/questions/16926127/powershell-to-resolve-junction-target-path/16926224#16926224

I am holding on to the window which works, while I implement the C# Add-Type workaround :-)

[2019-09-26 16:53] SeeminglyScience commented on #10625
Ahhh yes, I misunderstood 🙂  that makes much more sense 👍

[2019-09-26 17:00] iSazonov commented on #10625
Does anyone want to implement this? It looks like easy and very useful enhancement.

[2019-09-26 17:07] jboeshart commented on #10625
I wouldn't mind giving this a shot myself, but this would be my first contribution so I'd likely need some hand-holding. I'd guess that the logic would be implemented here:

https://github.com/PowerShell/PowerShell/blob/74517923cfa26244662ccbe995e7f88fe06c1f02/src/Microsoft.PowerShell.Security/security/CredentialCommands.cs#L93

Not entirely sure how to handle the UI elements, or adding a paramete

[2019-09-26 17:08] iSazonov commented on #10628
This is not a PowerShell feature to parse third-party languages. It can use features of .Net Core or another library like Json.NET. Moreover, JSON is too complicated for regex.

[2019-09-26 17:10] SteveL-MSFT opened #10631 "Enable tab completion for variables that are of enum type"
# Summary of the new feature/enhancement

When setting preference variables like `$ErrorActionPreference`, it would be great to help users discover allowed values by:

[code]

instead of trying to set it to something invalid and seeing the allowed values in the error message.

[2019-09-26 17:12] iSazonov commented on #10625
@jboeshart Parameters is defined above in the code with Parameter attribute.
Use debugger to get better understanding how the code works.

[2019-09-26 17:12] henrivdr commented on #7127
Solved!   I just had to Adjust the process Token Privilege to enable SeBackupPrivilege.
I had to do something similar for another project to take ownership of folders.

https://www.raydbg.com/2017/Token-Privileges-in-PowerShell/
and
https://www.codeproject.com/Articles/21202/Reparse-Points-in-Vista

[2019-09-26 17:18] jboeshart commented on #10625
Gotcha, let me hack away at it and see if I can get something workable here. Are contributors also responsible for creating/updating tests too? Just want to make sure I included everything that's necessary.

[2019-09-26 17:24] iSazonov commented on #10625
Search `public override PSCredential PromptForCredential` in
https://github.com/PowerShell/PowerShell/blob/1be3f4cc0e465ae11ad8e59e9060f5a59e4762eb/src/Microsoft.PowerShell.Security/security/CredentialCommands.cs

Yes, you should update tests in https://github.com/PowerShell/PowerShell/blob/acb52b3d9c92e347ea529242e8ab25a09ea31222/test/powershell/Modules/Microsoft.PowerShell.Security/GetCredential

[2019-09-26 17:28] iSazonov commented on #10625
Tests can be tricky. We use special test host (created in the test file with `$th = New-TestHost`). I guess you will have to update it too. See help module in test\tools\Modules\HelpersHostCS\

[2019-09-26 17:57] mklement0 commented on #10631
That would be an excellent improvement.

Ideally, this should also work  for flag (bit-field) enumerations, so that something like the following would work:

[code]

[2019-09-26 18:59] adityapatwardhan opened #10632 "Distribution Support Request - CentOS 8"
# Details of the Distribution

- Name of the Distribution: CentOS 8
- Version of the Distribution:
- [x] The version of the Distribution is supported for at least one year.
- [x] The version of the Distribution is not an [interim release](https://ubuntu.com/about/release-cycle) or equivalent.
- [x] The version of the Distribution is [supported by .NET Core](https://github.com/dotnet/core/blob/mast

[2019-09-26 19:00] adityapatwardhan commented on #10632
Closing the issue since .NET does not support RHEL 8 / CentOS 8 yet.

[2019-09-26 19:23] mklement0 opened #10633 "Default Get-Item output does not list name of symlinks if the path ends in a path separator ("/")"
Presumably closely related to #10630

# Steps to reproduce

On Linux (also verified on macOS; haven't tried on Windows)

[code]

Note the use of `Out-String` so as to expect the _default output formatting_, which is where the problem lies; by contrast, accessing the `Name` property explicitly, with, say, `Format-List Name`, works fine.

# Expected behavior

The tests should pass.

# Actual behavio

[2019-09-26 19:30] mklement0 commented on #10537
The behavior is certainly unexpected; there's no good reason for the current location to differ only because `-parallel` is added.

Technically, the behavior is consistent with `Start-ThreadJob` behavior (which uses `[environment]::CurrentDirectory]` as @iSazonov notes).

`Start-ThreadJob`, in turn, behaves differently from `Start-Job`, which defaults to `$HOME` (unlike postpositional `&`, which s

[2019-09-26 20:42] KalleOlaviNiemitalo commented on #10628
Ugh, nested arrays seem doable with [balancing group definitions](https://docs.microsoft.com/en-us/dotnet/standard/base-types/grouping-constructs-in-regular-expressions#balancing-group-definitions), but I can't see how to validate the closing braces of nested objects at the same time.

[2019-09-27 01:00] atruskie commented on #10089
@chuanjiao10: `$^` and `$$` can be useful but come nowhere near exposing enough useful information.

[code]

It misses the middle token altogether.

[2019-09-27 03:47] iSazonov commented on #10537
While working on # 10401, I was thinking over the idea that maybe we should initialize not to Directory.CurrentDirectory(), but to a value from the parent runspace (both provider and current location), but I came to the conclusion that users often don’t understand that many of pwd values ​​can exist (one per runspace) and as a result we will only complicate things and confuse users even more.

The

[2019-09-27 03:59] vors commented on #10537
This is pure ergonomics question. Sure when somebody uses runspaces and writes 3 non-obvious lines to create a new runspace and control a lot of things about how it's created, it's reasonable to expect to set the location explicitly. When you have a `%` loop and realize that it can speed up by parallelization, it would be nice to change as little as possible after adding `-Parallel`. I don't think

[2019-09-27 05:35] steinbachio commented on #2108
@cosminstirbu for me it was enough to install Microsoft.PowerShell.SDK (6.2.3)

[2019-09-27 05:42] chuanjiao10 commented on #10089
yes,
if no "|", $$ is last command.
2+3 ,$$ is 3
it is partially.

[2019-09-27 06:36] iSazonov commented on #3926
Now we don't use symlink for $PSHOME. Can we close the issue?
/cc @TravisEz13 @SteveL-MSFT

[2019-09-27 07:18] chuanjiao10 commented on #10629
@mklement0
Welcome feedback,These sentences are very vague.

The actual situation is:
1 "exit 123" can penetrate all script calls.     a.ps1--->b.ps1 --->c.ps1 ,exit 123 can back to a.ps1
2 pwsh -file The parent script .ps1 , "exit 123" in the parent script, can penetrate the process.
[code]
2 pwsh -file The parent script .ps1 , the parent script is called from the script, and the "exit 123" in th

[2019-09-27 08:30] cosminstirbu commented on #2108
Yeap, I confirm that installing Microsoft.PowerShell.SDK (6.2.3) did the trick.

[2019-09-27 11:57] SeeminglyScience commented on #10631
Should it be that or should it be:

If the former, would it complete to a string or to a static member expression?

Also would be fantastic if this worked on convert expressions (like in @mklement0's example)

[2019-09-27 12:27] mklement0 commented on #10631
Good question, @SeeminglyScience.

I'm thinking that even `$ErrorActionPreference = <tab>` (no opening quote) should complete to a _string_ (e.g, `$ErrorActionPreference = 'Stop'`), for two reasons:

* Using types and static properties is an advanced technique, and strings are more concise and provide better symmetry with use in _arguments_ (e.g., `-ErrorAction Stop`), where use of the static prop

[2019-09-27 12:30] janegilring opened #10637 "Get-WinEvent - Suggested enhancements"
# Steps to reproduce

[code]
# Expected behavior

A user friendly error message when running from a non-elevated session, stating that elevated permissions is needed.

I would suggest that the behavior of the default parameter set prompts for required parameters rather than returning cryptic error messages. For example, prompt for the -LogName parameter if no parameters is supplied.

# Actual beha

[2019-09-27 13:01] jazzdelightsme commented on #10601
This sounds to me like you installed pwsh as the root user (or maybe it's that the first you ran it, you ran it as root; I can't remember), and so the non-root user gets a very straightforward "access denied" (because the history file is owned by root; of course non-root won't have write access). I have a [setup script with this code](https://github.com/jazzdelightsme/nixSetup/blob/44242496b82b268

[2019-09-27 13:11] mklement0 commented on #10629
@chuanjiao10:

Re 1:
That is explained by my previous comment.

Re 2:

Indeed, only the script _directly_ passed to `-File` can set the process exit code for the CLI invocation, `exit` calls in nested script calls are ignored, as are the exit codes reported by external programs called by the script  - I've updated the previous comment to make that clear.

As for your point:

* In _CLI use_, `exit`

[2019-09-27 13:13] jazzdelightsme commented on #10360
Get-ChildItem does not work for me, on 7.0.0-preview.2 or 7.0.0-preview.3.

It *does* work for me on 6.2.1, however (and 5.1, as described by others).

IMO this is a painful regression because it prevents you from using pwsh with the fancy new WSL2 feature that everybody wants to try out. We should really get it fixed for PSv7.

It's very easy to set up a repro for this--if you search for WSL2, th

[2019-09-27 13:34] jazzdelightsme commented on #6906
See also #10601. I think this has to do with how permissions get set up on the .local/share/powershell directory. I have a [setup script with this code](https://github.com/jazzdelightsme/nixSetup/blob/44242496b82b2685fa8b92b48c2c896dcbbb932c/moreSetup.ps1#L52) for exactly this problem:

[code]

[2019-09-27 13:36] jazzdelightsme commented on #6906
See also #5239.

[2019-09-27 13:36] jazzdelightsme commented on #10601
See also https://github.com/PowerShell/PowerShell/issues/5239.

[2019-09-27 14:23] iSazonov commented on #6906
/cc @daxian-dbw

[2019-09-27 14:26] mklement0 commented on #10628
A `-Strict` mode sounds like a useful addition, to not just check for extraneous trailing commas, but also for the presence of `// ... ` comments, which are also accepted by default.

Trying to roll our own strict mode seems like the wrong way to go, though.

Unfortunately, the Json.Net author in the past has expressed no interest in (opt-in) strict parsing; see this closed issue: thttps://github.

[2019-09-27 14:39] KalleOlaviNiemitalo commented on #10628
Would the strict validator be required to reject:

- duplicate names in JSON objects, as in `{"a":1,"a":1}`? [RFC 8259 section 4](https://tools.ietf.org/html/rfc8259#section-4) says: "The names within an object SHOULD be unique."
- huge numbers that match the JSON syntax but are probably not supported by most implementations, such as `1E100000000`?

If it is not required to reject those things, th

[2019-09-27 14:48] iSazonov commented on #10628
.Net Core team actively works on new JSON API implementation to replace  Json.Net. All new features will be in .Net Core. Open feature request issues in CoreFX repo if you want more features - we will get them.

[2019-09-27 14:51] MaximoTrinidad commented on #5239
Keep in mind! This wasn't happening before with PS7 Preview.3 and only happens in latest Windows 10 Insider Edition Build in WSL. Then, doing a 'clear' command will get rid of the message.

Windows 10 RTM Build 1903 with WSL and PS 7 Preview.4 are working Great!

[2019-09-27 14:52] iSazonov commented on #10360
/cc @SteveL-MSFT for information.

[2019-09-27 14:53] KalleOlaviNiemitalo commented on #10628
System.Text.Json currently seems focused on UTF-8 byte sequences. It seems a bit wasteful if TestJsonCommand has to convert `string Json` to UTF-8 and have System.Text.Json decode it back. OTOH, perhaps TestJsonCommand has enough overhead elsewhere to make that not matter.

[2019-09-27 15:01] iSazonov commented on #10628
@KalleOlaviNiemitalo It is a question for .Net Core team too.
(Although I don't see performance issues because this cmdlet is mainly used for checking configuration files and not for analyzing high-load Web server streams)

[2019-09-27 15:12] iSazonov commented on #10637
Really here is two issues.
- Get-WinEvent bad error message if not elevated.
- Get-WinEvent writes something to output even if error was (it is `Get-WinEvent : The data is invalid` case)

[2019-09-27 16:15] janegilring commented on #10637
Ok, should I edit this issue to only include the first, and create a separate issue for the latter?

[2019-09-27 18:55] iSazonov commented on #10637
@janegilring You could open new issue for your suggestion

[2019-09-27 19:16] iSazonov commented on #10637
I pulled #10639 to reword the first error message.

[2019-09-27 19:21] mklement0 opened #10640 "Support getting canonical filesystem paths with symlinks resolved, similar to the Linux realpath utility"
# Summary of the new feature/enhancement

Provide the ability to resolve a filesystem path to its canonical path, such as by adding a `-Canonical`  switch to the `Convert-Path` cmdlet.

In short: The idea is to allow you to answer the following question:

**Given a (possibly relative, possibly PS-drive-based) file or directory path, where does the referenced file truly live, with symlinks, if any,

[2019-09-27 20:12] iSazonov commented on #10637
Second message "The data is invalid" comes from underlying API. Perhaps we generate a huge query. I found that ReadEvent() returns the error if our query contains number of logs more then 256.
I think the design was ok for Windows XP with 3 logs, perhaps it worked on Windows 7 but it has already lost all meaning - now Windows 10 has over 400 logs and the query is no longer even executed.

I did no

[2019-09-27 20:47] mklement0 commented on #10537
@iSazonov: Let me add to @vors' comment:

Nor should they _have to_ understand, _unless it is inevitable_.

**The following user expectation is perfectible reasonable and should never be subverted unless absolutely necessary for technical reaons:**

**Code invoked by a caller (the current runspace) _on the same machine_ should see the same current location as the caller**, unless requested otherwi

[2019-09-27 20:57] KirkMunro commented on #10530
Anyone care to share thoughts on the intent of the current implementation of the debugger attributes, or thoughts about where I'm trying to take this?

There's a pretty cool opportunity here to make the debugging experience much, much better and much more focused for all users, without much effort on the part of scripters.

Also, a few more things I believe are incorrect and would like to change:

[2019-09-28 03:50] chuanjiao10 commented on #10629
I am afraid I can’t agree.
The voice from the Chinese forum: "exit 0 In every powershell script, this is a cancer of powershell. The default value of exit for other languages is 0, no need to do this"

[2019-09-28 06:04] mklement0 commented on #10629
Well, exit codes are _process_ exit codes, and when PowerShell scripts call each other, there are no processes that exit - it all happens _in-process_.

However, I agree that the current intra-PowerShell behavior with respect to `exit` is not really useful, and that it would be more useful to mimic the behavior that the top-level script passed to `-File` exhibits, which would mean:

Set `$LASTEXIT

[2019-09-28 07:36] iSazonov commented on #10530
@KirkMunro I like your ideas shared here, they are clear and clean.
I have one concern about "As a PowerShell tool author,". I don't like that as module author I _should_ think how another user want to debug _his_ code. I hope  PowerShell debugger could be more smart. (Ex.: VS Code ask me "Do you want jump in/debug the module too or ignore it?") I’m afraid that there will be modules that use these

[2019-09-28 09:52] sba923 opened #10642 "Compress-Archive creates archives some systems can't process (missing directory objects?)"
# Steps to reproduce

[code]

# Expected behavior

The resulting archive should have the following contents (as displayed by '7z.exe l')

[code]
(this is an archive created by 7-Zip, not by Windows Explorer)

# Actual behavior

The archive created by `Compress-Archive` has the following contents:

[code]
Note the 'blank' attributes, and the lack of a directory entry.

This causes such an archive t

[2019-09-28 10:18] kilasuit opened #10643 "Get-Command should return full cmdletbinding details"
PowerShell Functions and Cmdlets can be decorated with the `[CmdletBinding()]` attribute with additional properties being able to be defined including `SupportsShouldProcess`, `ConfirmImpact`, `DefaultParameterSetName`,`HelpURI`, `SupportsPaging`, `PositionalBinding`

Currently we do not output details on this other than it being True if set and we don't return it as false if it is not set and we

[2019-09-28 11:42] iSazonov commented on #10537
Last days I was somewhere deep in PowerShell code :-) so my comment was from that side.
If look from user side I full agree.

So we have two rules:
rule A - "new runspace inherits current provider and location".
rule B that "new runspace has FileSystem provider default and Directory.CurrentDirectory location".

I am sure that we should have single rule and it is rule A so as not to mislead users a

[2019-09-28 12:54] mklement0 commented on #10537
Thanks, @iSazonov - I'm definitely in favor of a fix as well.

I agree that fixing `Start-ThreadJob` is probably unproblematic, given that `Start-ThreadJob`'s behavior is virtually unpredictable from the user's perspective (it's whatever PowerShell's startup directory was - irrespective of a `-WorkingDirectory` argument - or whatever in-session code that changed the process-wide current directory

[2019-09-28 15:27] iSazonov commented on #10537
I suggest to consider Start-Job case as _bug_.
If my work folder is `c:\work` and I run a job which switched to $home that is `c:\users\isazonov` - the last place is the worst place where user would like to see a resulting file. We could guess that user would use relative path to Documents folder. But most likely when faced with this inconsistency, the user will use the _exact_ path to the working

[2019-09-28 16:05] iSazonov commented on #10640
@mklement0 Please look the old comment https://github.com/dotnet/coreclr/issues/2128#issuecomment-171879087 I think we need Core support. Currently Core team started .Net Core 5.0 design so it is good time to ask them for the feature.

[2019-09-28 16:18] iSazonov commented on #3381
@SteveL-MSFT @sdwheeler My understanding is that it is about CAB files. Should we move the issue to PowerShell-Docs repo?

[2019-09-28 16:54] iSazonov commented on #3578
Closed since there is no feedback in the last two years. We will reopen if there will be a real scenario.

[2019-09-28 16:54] #3578 closed

[2019-09-28 17:06] SteveL-MSFT commented on #3381
cc @adityapatwardhan

[2019-09-28 17:11] iSazonov commented on #3682
This is a nasty bug in parameter binding.

@SteveL-MSFT @daxian-dbw @mklement0  for information.

[2019-09-28 17:12] SteveL-MSFT commented on #10631
I think string is definitely more user friendly.

[2019-09-28 17:17] iSazonov commented on #4099
@SteveL-MSFT @sdwheeler Please move the issue to docs repo (you have rights for this operation).

[2019-09-28 17:18] #4291 closed

[2019-09-28 17:30] SteveL-MSFT commented on #3682
This isn't an issue in the parameter binder.  The default parameter set is for `-Maximum`, not `-InputObject`.  `InputObject` [has](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/GetRandomCommand.cs#L278) `[ValidateNotNullOrEmpty]` whereas `Maximum` does not.  This attribute also checks if the collection contains `$null` (or empty st

[2019-09-28 17:31] #3926 closed

[2019-09-28 17:32] iSazonov commented on #4347
@mklement0 I want close this issue. If you see something should be documented please open issue in Docs repo.

[2019-09-28 17:37] #4577 closed

[2019-09-28 17:38] #4525 closed

[2019-09-28 17:41] #4606 closed

[2019-09-28 17:45] #4608 closed

[2019-09-28 17:47] #4909 closed

[2019-09-28 17:58] iSazonov commented on #5191
Please move request to PowerShell-Docs repo.

[2019-09-28 17:58] #5191 closed

[2019-09-28 18:01] iSazonov commented on #5308
@PaulHigin Do we still need the issue opened?

[2019-09-28 18:04] iSazonov commented on #5334
Old issue without feedback.

[2019-09-28 18:04] #5334 closed

[2019-09-28 18:05] iSazonov commented on #5200
Old issue without discussion.

[2019-09-28 18:05] #5200 closed

[2019-09-28 18:08] iSazonov commented on #5377
Our test helper module HelpersHostCS  is example.

[2019-09-28 18:08] #5377 closed

[2019-09-28 18:35] #5598 closed

[2019-09-28 18:39] #5776 closed

[2019-09-28 18:44] #5948 closed

[2019-09-28 18:48] iSazonov commented on #6051
@SteveL-MSFT @TravisEz13 Do we still tracking anything or we can close the issue?

[2019-09-28 18:52] #6168 closed

[2019-09-28 18:57] #6436 closed

[2019-09-28 19:03] iSazonov commented on #6721
It is not clear what we are tracking here. Should we fix something or we can close the issue? /cc @joeyaiello

[2019-09-28 19:04] #6811 closed

[2019-09-28 19:06] #6857 closed

[2019-09-28 19:07] #6987 closed

[2019-09-28 19:11] mklement0 commented on #3682
@benny-gold: Your example is missing the `-InputObject` parameter for reproducing the symptom; as an aside: given that the list you're retrieving by definition has no line-internal spaces, the better command to use is `$domainlistMaster = -split (Invoke-RestMethod -useBasicParsing -uri $domainListSource)`, which bypasses the bug.

@SteveL-MSFT:

* Removing the `ValidateNotNullOrEmpty` strikes me a

[2019-09-28 19:14] #6997 closed

[2019-09-28 19:24] iSazonov commented on #7095
@SteveL-MSFT Can we close the issue?

[2019-09-28 19:29] iSazonov commented on #7243
/cc @daxian-dbw Maybe you could look the issue while working on PSReadline.

[2019-09-28 19:33] iSazonov commented on #7271
@SteveL-MSFT Is the request about "GA in Release Notes" addressed? Can we close the issue?

[2019-09-28 19:34] #7334 closed

[2019-09-28 19:37] #7331 closed

[2019-09-28 19:38] iSazonov commented on #7430
/cc @KirkMunro It seems you have an issue for this.

[2019-09-28 19:41] #7642 closed

[2019-09-28 19:43] #7720 closed

[2019-09-28 19:45] iSazonov commented on #7748
Can you test with latest 7.0 build?

[2019-09-28 20:09] KirkMunro commented on #7430
Thanks @iSazonov.

@rjmholt: See #10530 for my developing thoughts on JMC (just my code).

[2019-09-28 20:15] SteveL-MSFT commented on #7271
I believe this can be closed

[2019-09-28 20:15] #7271 closed

[2019-09-28 20:16] #7095 closed

[2019-09-28 20:17] SteveL-MSFT commented on #3682
I'm also thinking that removing `[ValidateNotNullOrEmpty]` is the right thing and shouldn't have any negative side effects.  I'll submit a PR.

[2019-09-28 20:20] KirkMunro commented on #10530
Thanks @iSazonov! Sometimes I wonder if anyone else even cares about the things I'm trying to fix. PowerShell has the potential to offer very efficient debugging, but it isn't there yet.

One of my goals with these changes is that the majority of the community shouldn't have to think much about them. Users publishing modules or scripts shouldn't need to apply these attributes in their functions or

[2019-09-28 20:46] azaaad32 opened #10645 "Support Question"
# Support Question

## Official support

[PowerShell Support Lifecycle](https://aka.ms/pslifecycle)

## Community Resources

[Slack][powershell-slack] and [Discord][powershell-discord] Community Chat - Interactive chat with other PowerShell enthusiasts. Both Slack and Discord are bridged via a bot and can seamlessly talk to each other.
[PowerShell.org Forum](https://powershell.org/forums/) - Searc

[2019-09-28 21:29] sdwheeler commented on #4099
I don't see any issue here. The docs exist.

[2019-09-28 21:29] #4099 closed

[2019-09-28 23:02] richardszalay commented on #4099
@SteveL-MSFT FWIW the docs were just a basic list when this issue was created. Even now, only the Set query above is actually included in those docs but I'll leave it to your team as to whether you think the Get behaviour is worth defining.

[2019-09-28 23:37] SteveL-MSFT commented on #10360
I'm trying to repro this.  Got WSL setup following the instructions by @jazzdelightsme, although the switches for wsl.exe have changed.  Installed Ubuntu.  `\\wsl$\ubuntu` doesn't work in WinPS 5.1.  Need a working example in WinPS 5.1 to debug why it's not working in PS7.

[2019-09-29 00:08] SteveL-MSFT commented on #4099
@richardszalay your feedback is appreciated, if you believe Get needs more content, please open a new issue in the PowerShellDocs repo

[2019-09-29 04:47] SteveL-MSFT commented on #10631
@mklement0 please open a new issue for flags

[2019-09-29 05:13] mklement0 opened #10647 "Enable tab completion for variables that are of a flag (bit-field) enum type"
# Summary of the new feature/enhancement

Per request from @SteveL-MSFT:

#10631 asks for tab completion for values assigned to variables whose type is a simple `System.Enum`-derived type.

This support should be extended to also work for flag (bit-field) enumerations, so that something like the following would work:

[code]

[2019-09-29 05:14] mklement0 commented on #10631
@SteveL-MSFT: Please see #10647

[2019-09-29 06:33] iSazonov commented on #10530
Nevermind. It is natural. Usually, users prefer a quick workaround to achieve _business_ goals instead of many months of discussion.
MSFT PowerShell team could ask partner teams, partner firms to participate in the repo, share their experience, thoughts and plans (as feature requests).
On the other hand, MSFT PowerShell team does not have enough resources to process all the PRs and, especially, th

[2019-09-29 06:49] iSazonov commented on #10360
I am very wonder why the format `\\wsl$\ubuntu` is used. It looks like \\servername\share but naming convention does not allow "$" in DNS names and allow in NetBIOS names. https://support.microsoft.com/en-gb/help/909264/naming-conventions-in-active-directory-for-computers-domains-sites-and
It seems NetBIOS deprecated. @SteveL-MSFT Can you ask WSL team about the strange name format?

[2019-09-29 07:03] iSazonov commented on #1998
It seems we hide/remove all that don't work on Unix-s. Can we close the issue?

[2019-09-29 07:08] iSazonov commented on #2110
RFC https://github.com/PowerShell/PowerShell-RFC/pull/208
Please discuss there.

[2019-09-29 07:08] #2110 closed

[2019-09-29 07:37] iSazonov commented on #2123
I updated current status in https://github.com/PowerShell/PowerShell/issues/2123#issuecomment-341996659
I believe we can close the issue.

[2019-09-29 07:37] #2123 closed

[2019-09-29 07:47] iSazonov commented on #2296
@SteveL-MSFT Please confirm that we can bring the cmdlet back as Windows-only. Or is current intention to use it by a compatibility tool?

[2019-09-29 08:45] iSazonov commented on #2349
@daxian-dbw @SteveL-MSFT Can we close the issue?

[2019-09-29 08:53] iSazonov commented on #2530
We could reduce size by .Net IL Lynker #5881 - now it is in .Net Core 3.0.

[2019-09-29 08:57] #7807 closed

[2019-09-29 09:41] sba923 commented on #10213
That could be a different issue, but sometimes (don't know exactly under what conditions) when my `profile.ps1` runs, and executes code such as

[code]

where `running_at_home` resolves to `s:\bin\home\running_at_home.ps1`

I get:

[code]

[2019-09-29 09:50] #8118 closed

[2019-09-29 09:52] #8147 closed

[2019-09-29 09:55] #8433 closed

[2019-09-29 09:55] #8208 closed

[2019-09-29 09:58] iSazonov commented on #8354
@rjmholt Perhaps it is interesting for you.

[2019-09-29 10:07] iSazonov commented on #8824
From https://github.com/dotnet/corefx/issues/28611 comments it is "by design".

[2019-09-29 10:07] #8824 closed

[2019-09-29 10:17] iSazonov commented on #8869
/cc @daxian-dbw @SteveL-MSFT If the problem is in .Net Core we need to get a fix before .Net Core 3.1 LTS.

@rkeithhill Could you please make the test with simple C# app which only output Console.ReadKey()?

[2019-09-29 10:21] #8885 closed

[2019-09-29 10:23] iSazonov commented on #8907
@sdwheeler Could you please comment the issue?

[2019-09-29 10:27] #8924 closed

[2019-09-29 10:30] iSazonov commented on #8921
Can we close the discussion?

[2019-09-29 10:32] iSazonov commented on #8930
@JamesWTruher @SteveL-MSFT Will MSFT team create new issue with roadmap for cross-platform code coverage?

[2019-09-29 10:36] iSazonov commented on #8931
It looks like second case uses another code path like find loaded command and stop. Perhaps we could fix this with -Force if this doesn't still work.

[2019-09-29 10:47] iSazonov commented on #8941
It's funny :-)

[2019-09-29 11:37] iSazonov commented on #9144
@SteveL-MSFT @adityapatwardhan We could fix this in the same way as #10417.

[2019-09-29 11:40] iSazonov commented on #9147
Since Windows moved to WSL-2 we could close the issue.

[2019-09-29 11:45] iSazonov commented on #9173
/cc @rjmholt @PaulHigin for information.

[2019-09-29 12:15] iSazonov commented on #9268
If anybody want a progress with the issue please open new issue in CoreFX repo - it is right place for the enhancement. Currently Core team started to plan .Net Core 5.0.

[2019-09-29 12:15] #9268 closed

[2019-09-29 12:32] iSazonov commented on #9284
We could look how Excel output multi line cells to csv.

[2019-09-29 12:33] iSazonov commented on #9272
Fir reference #9173

[2019-09-29 12:44] iSazonov commented on #9299
/cc @SteveL-MSFT Cosmetic regression. Can we add to current milestone?

[2019-09-29 13:08] iSazonov commented on #9321
In 7.0 Preview4 I see only two PDB files
![image](https://user-images.githubusercontent.com/22290914/65832941-2e606180-e2e4-11e9-8729-3ef841247d57.png)

[2019-09-29 13:10] #9326 closed

[2019-09-29 13:11] #9331 closed

[2019-09-29 13:13] #9340 closed

[2019-09-29 14:51] mklement0 commented on #5906
@skycommand:

Re contrasting `-ErrorAction SilentlyContinue` with `$ErrorActionPreference="SilentlyContinue"`:

That is a _fundamental_ (problematic) behavioral distinction in PowerShell:
`-ErrorAction` only acts on _non-terminating_ errors, whereas `$ErrorActionPreference= ...` acts on _all_ errors.

In the case at hand, `$ErrorActionPreference="SilentlyContinue"` therefore manages to suppress th

[2019-09-29 15:03] SteveL-MSFT commented on #9299
Delimiting lines here means adding extra whitespace?  The extra newlines were removed on purpose.

[2019-09-29 15:05] SteveL-MSFT commented on #9144
@iSazonov yeah, that might be ok

[2019-09-29 15:06] SteveL-MSFT commented on #8930
@JamesWTruher is actively working on cross-platform code coverage.  No ETA yet.

[2019-09-29 15:26] skycommand commented on #5906
@mklement0 I'm afraid you're trying to justify one inconsistent bad behavior with another inconsistent bad behavior. In my book, that's two bad behaviors. Aside from that, this cmdlet's behavior is so inconsistent and unpleasant (see the examples above) that anything you say in its defense only serves to hurt your own reputation.

[2019-09-29 15:47] chuanjiao10 commented on #10621
centos8  support  has  commit to .net core fx , see  https://github.com/dotnet/corefx/pull/41397
After 20 days complete?

[2019-09-29 16:16] #9482 closed

[2019-09-29 16:17] #9489 closed

[2019-09-29 16:35] #9550 closed

[2019-09-29 16:39] #9560 closed

[2019-09-29 16:43] rkeithhill commented on #9147
The version of Windows that supports WSL2 doesn't ship for at another 6 months.  And when it does ship it will still support both WSL1 and WSL2.

[2019-09-29 16:56] iSazonov commented on #9564
Is a conclusion "by design"?

[2019-09-29 17:02] iSazonov commented on #9599
@SteveL-MSFT I think we need a conclusion should we fix this before 7.0 release. (Avalonia!)

[2019-09-29 17:08] #9611 closed

[2019-09-29 17:18] #9699 closed

[2019-09-29 17:20] sdwheeler commented on #8907
@iSazonov The `Update-Help -Force` should work. If it doesn't then we need more troubleshooting to understand where it fails. I don't have a macOS environment to test.

[2019-09-29 17:23] #9773 closed

[2019-09-29 17:26] iSazonov commented on #9776
@bergmeister Can you confirm the issue?

[2019-09-29 17:29] #9783 closed

[2019-09-29 17:45] iSazonov commented on #9147
I guess that MSFT will have no investments to WSL1 and we should not expect corrections there.

[2019-09-29 17:53] iSazonov commented on #10621
@SteveL-MSFT Make sense to add to 7.0 milestone?

[2019-09-29 18:02] iSazonov commented on #9299
![image](https://user-images.githubusercontent.com/22290914/65837111-2b2d9b80-e30d-11e9-9bc1-af9605570285.png)

[2019-09-29 18:21] rkeithhill commented on #9299
Ah, if I just run gci on that dir I see proper space:

![image](https://user-images.githubusercontent.com/5177512/65837344-5a172380-e2b3-11e9-802a-57d032079ee1.png)

But running it through the `Format-Table -GroupBy` is resulting in the missing line.

[2019-09-29 18:28] iSazonov commented on #9949
It seems type inference area is endless. Can you point scenarios where the issue is important?

[2019-09-29 18:32] #9981 closed

[2019-09-29 21:06] mklement0 commented on #5906
@skycommand:

* Re contrasting `-ErrorAction SilentlyContinue` with `$ErrorActionPreference="SilentlyContinue"`:

I was pointing out that you were referring to  a _fundamental problem_ with PowerShell's error handling and that, as such, it is _incidental to the problem at hand_ - it applies whether or not use of a terminating error is justified.

(If you want to learn about all related warts, read

[2019-09-29 23:01] mcorning commented on #8921
Yes

Rwap

________________________________
From: Ilya <notifications@github.com>
Sent: Sunday, September 29, 2019 3:30:55 AM
To: PowerShell/PowerShell <PowerShell@noreply.github.com>
Cc: Michael Corning <mcorning@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/PowerShell] SSH in VS Code (#8921)

Can we close the discussion?

—
You are receiving this because you authored

[2019-09-30 00:00] #7520 closed

[2019-09-30 00:00] #6556 closed

[2019-09-30 00:00] #4457 closed

[2019-09-30 00:00] #4347 closed

[2019-09-30 00:00] #3906 closed

[2019-09-30 00:00] #3317 closed

[2019-09-30 03:11] #8921 closed

[2019-09-30 04:24] SteveL-MSFT commented on #9299
Ok, I agree that the two should match.  I'll look into this tomorrow.

[2019-09-30 05:22] skycommand commented on #5906
@mklement0 Really? That's what you wanted to say? Alright. I'm fine with that. I apologize for misunderstanding it. And as a gesture of goodwill, I strike my original reply.

But I emphasize that your original message did not sound like what you are writing now and still does not. You see, you took your time to write what I had already discovered on my own, and reported in a prior post. So, natura

[2019-09-30 05:55] glawrence commented on #8907
I have PowerShell 6.2.3 on macOS 10.14.6 and now `Update-Help -Force` runs and does not show any errors, however `Get-Help Get-ChildItem` displays the syntax fine but in "remarks" says:

`Get-Help cannot find the Help files for this cmdlet on this computer. It is displaying only partial help.`

[2019-09-30 07:00] #7430 closed

[2019-09-30 07:01] iSazonov commented on #10637
As for "prompt for the -LogName parameter if no parameters is supplied."

@janegilring  Design is to get snapshot of all events from all logs for a time lot to analyze them. You could open new issue to discuss the design but I do not see the point.

[2019-09-30 07:38] MicahZoltu commented on #10469
I opened an administrative PowerShell (legacy) window and ran `Add-AppxPackage -Path $PathToMsix`.  This resulted in a progress bar that filled up and no visible errors.  However, when I launch PowerShell (via start button and typing PowerShell) I still get the old version.

[2019-09-30 07:43] imba-tjd commented on #10469
@MicahZoltu it's `pwsh`

[2019-09-30 08:18] he852100 opened #10649 "Get-WinEvent is very very slow"
![Screenshot_20190930-155333~2](https://user-images.githubusercontent.com/26913892/65860937-e7cf3d80-e39d-11e9-8882-95417d44cb0f.png)
![Screenshot_20190930-155325~2](https://user-images.githubusercontent.com/26913892/65860938-e7cf3d80-e39d-11e9-98f1-d80ca737fc98.png)

[2019-09-30 11:21] iSazonov commented on #10649
@he852100 The cmdlet does not do any heavy work. It use Windows API. In your example you read _all_ events then send _all events_ to pipeline - it is slow. Use filter parameters to get only needed events.

[2019-09-30 11:25] #10645 closed

[2019-09-30 12:00] #9085 closed

[2019-09-30 12:00] #9083 closed

[2019-09-30 12:00] #9211 closed

[2019-09-30 12:00] #8201 closed

[2019-09-30 12:00] #8034 closed

[2019-09-30 12:14] #10649 closed

[2019-09-30 13:34] he852100 commented on #10649
Get-eventlog can't find it, I decided to open it.

https://stackoverflow.com/questions/16731635/why-is-get-winevent-slower-than-get-eventlog-when-getting-events-after-a-date

But when querying the Security event log, query time was ~30 times longer.

[2019-09-30 14:17] KirkMunro commented on #4347
Related to the PSMore/FormatPx discussion: https://github.com/PowerShell/PowerShell/issues/10463.

[2019-09-30 14:40] mklement0 opened #10650 "Working directly with certain .NET types, such as Newtonsoft.Json's, is broken: output formatting"
Note:

* I don't know whether / what other libraries are affected, or whether Newtonsoft.Json is an unusual one.

* The bug surfaces only if the input JSON text contains an _array_.

* The bug is a regression from Windows PowerShell, where it doesn't surface.

* The error is ultimately the same as in #10652: `Target type System.Collections.IEnumerator is not a value type or a non-abstract class. (

[2019-09-30 14:41] Ronkiro opened #10651 "Get-Job running when using DIR with '&'"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-09-30 14:51] vexx32 commented on #10651
`&` is the Background Job Operator in PowerShell, it uses `Start-ThreadJob` to kick off a background job in another runspace.

If you want to execute commands in sequence, you can end a statement with `;` to execute both:

[code]

[2019-09-30 14:55] mklement0 opened #10652 "Working directly with certain .NET types, such as Newtonsoft.Json's, is broken: implicit stringification"
Note:

* I don't know whether / what other libraries are affected, and whether Newtonsoft.Jsonis an unusual one.

* The bug also exists in Windows PowerShell.

* The error is ultimately the same as in #10650: `Target type System.Collections.IEnumerator is not a value type or a non-abstract class. (Parameter 'targetType')` - note how the type name is an _interface_, not a _class_.

The problem in a

[2019-09-30 15:49] alexandair commented on #10651
@vexx32
Background Job Operator & creates a background job, not a thread job.

[2019-09-30 16:05] am11 commented on #10402
Maybe if Expand-Archive support pipeline, we can get the desired result: "extract archive without first saving to filesystem". Inspired by Unix-y tools:

[code]

it would be great if we could do something like:

[code]

or better yet, streaming:

[code]

[2019-09-30 16:16] #10651 closed

[2019-09-30 16:17] Ronkiro commented on #10651
I see, thanks for the infos! I came from batch so didn't know that :D

[2019-09-30 16:23] vexx32 commented on #10651
@Ronkiro you might find [PSKoans](https://aka.ms/pskoans) a useful resource. 🙂

[2019-09-30 16:36] iSazonov commented on #10649
@he852100 Get-EventLog cmdlet was deprecated and it is not present in PowerShell Core so we can not make direct comparison. You could make this on latest Windows PowerShell 5.1. I run the test and get that Get-WinEvent cmdlet ~20x faster than Get-EventLog.

If you have real business scenario where performance of Get-WinEvent cmdlet is critical we could measure this particular scenario.

[2019-09-30 17:53] diddledan commented on #10360
I believe the `$` is specifically so that the name does _not_ conform to netbios conventions. The wsl filesystem handler is not SMB and so trying to look up the name via netbios will cause issues. The wsl filesystem is internally routed through a 9p server handled by the init processes.

[2019-09-30 19:14] mklement0 opened #10654 "More specific method (indexer) overloads are not considered during overload resolution if they're part of an explicit interface implementation"
If a given type implements the following method overloads:

* one with an `[object]`-typed parameter
* one with an `[int]`-typed parameter

the _more specifically typed_ `[int]` overload should take precedence over the `[object]`-typed one, if an `[int]` instance is passed on invocation, but that is not _guaranteed_ to be the case and currently depends on the _implementation details_ of the type a

[2019-09-30 19:35] mklement0 opened #10655 "Exceptions in indexers are always quietly ignored for IDictionary<T1,T2>"
**Update**: As [@SeeminglyScience's states below](https://github.com/PowerShell/PowerShell/issues/10655#issuecomment-537142043), ignoring of exceptions  seems to be limited to indexing with types that implement `IDictionary<T1, T2>`, in which potential exceptions are deliberately _avoided_ with `.TryGetValue()` calls.

An argument could be made that this behavior makes sense for the sake of symmet

[2019-09-30 19:41] vexx32 commented on #10655
@mklement0 similar is seen when accessing hashtable / dictionary keys with an invalid key.

Not sure that their behaviour is concretely defined with StrictMode enabled, but I would tend to think that StrictMode should surface that kind of exception as well for parity with how array indexes work. 👍

[2019-09-30 19:46] mklement0 commented on #10655
Thanks, @vexx32 - didn't know that about hashtables / dictionaries. Can you give a quick example?

[2019-09-30 20:07] vexx32 commented on #10655
[code]

The same is true without StrictMode enabled, of course.

[2019-09-30 20:47] mklement0 commented on #10655
@vexx32:

It's not technically the same, because `Hashtable` _itself_ quietly ignores non-existent keys - no exception happens (except if you pass `$null`).

By contrast, the (directly implemented) `JObject` indexer _does_ throw an exception, which you can see if you call it via `.Item()`:

[code]

[2019-09-30 20:57] henrivdr commented on #8051
I agree with @iSazonov on a seperate switch like -IncludeHardLinks or a generic -IncludeLinks since it also needs to adjust the Process Token Privilege on Windows to get the proper LinkType and Target info, per invocation. See #7127

[2019-09-30 21:10] kilasuit commented on #7050
I am going to attack this as part of hacktoberfest attempts

[2019-09-30 23:56] SteveL-MSFT commented on #8051
This is already fixed by #8789

[2019-09-30 23:56] #8051 closed

[2019-10-01 00:00] SteveL-MSFT commented on #10360
Still waiting on a repro where that path works.

[2019-10-01 00:00] #9282 closed

[2019-10-01 00:44] SteveL-MSFT commented on #10360
Looks like my version of Windows isn't new enough.  Upgrading to newer version.

[2019-10-01 02:28] KirkMunro opened #10656 "Allow `$null` on right-hand side of `-is` and `-isnot` operators."
# Summary of the new feature/enhancement

As a scripter,
I want to use `-is` and `-isnot` when comparing a value against `$null` instead of `-eq` and `-ne`
so that the comparison always works, even with collections or with types that overload the equality operator.

For reference: https://youtu.be/TJiLhRPgyq4?list=PLReL099Y5nRd04p81Q7p5TtyjCrj9tz1t&t=373

# Proposed technical implementation detail

[2019-10-01 03:12] msftrncs commented on #9564
while it is surprising, I do think it is by design.

[2019-10-01 03:50] iSazonov commented on #9564
Ok, until we get more UX negative feedback and I close with "By-Design" label.

[2019-10-01 03:50] #9564 closed

[2019-10-01 04:32] #3682 closed

[2019-10-01 07:42] Skybeat opened #10658 "wrong file Encoding"
# Steps to reproduce

- create text file in UTF-8
- run the follow command in powershell 5
    `Get-Content <path to UTF8 file> -Encoding UTF8 | Set-Content <path to new output file> -Encoding default`
- the output file will be encoded in ANSI (what is correct)

- run the follow command in powershell core (6.2.1)
    `Get-Content <path to UTF8 file> -Encoding UTF8 | Set-Content <path to new output

[2019-10-01 07:49] Skybeat commented on #10658
One more thing what shows that there is a issue:
If i run the command `[System.Text.Encoding]::Default.EncodingName` in PowerShell 5 it shows "Western Europen (Windows)" what is correct. If i run the same command in Powershell Core 6.2.1, the outcome is "Unicode (UTF-8)" what is totaly wrong.

[2019-10-01 09:38] alexandair commented on #10658
Default value for the `Encoding` parameter has been changed in PowerShell Core. Here is the excerpt from the Set-Content help doc:
[code]

[2019-10-01 09:59] alwaysharsha commented on #4707
We would love to see 32-bit Powershell for Debian Linux environment

[2019-10-01 12:57] jhoneill commented on #10658
Different versions of .NET have different default text encodings.  (That's not a PowerShell thing)
See https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.default?view=netframework-4.8
There's a big warning and then an explanation of how it is set on .NET frame work followed by this:
 _On .NET Core, the Default property always returns the UTF8Encoding._

This is in the `OutputEncoding

[2019-10-01 13:17] jhoneill opened #10660 "Bring back Out-Printer"
# Summary of the new feature/enhancement

'As a user I want to be able to send output of a command to a printer.'
For example `Get-Process | out-printer "OneNote"`
would save the current processes to a new page in OneNote
or `Get-Package | lp`
Would send a list packages to the default printer
# Proposed technical implementation details
Windows PowerShell has an `Out-Printer` command with an alias

[2019-10-01 13:32] SeeminglyScience commented on #9982
@daxian-dbw `PSGetEnumerableBinder` is another one.  Not a huge deal obviously, but it would be neat if we could customize/define enumeration via ETS.

[2019-10-01 13:41] TravisEz13 commented on #4707
We have a new process for on boarding new distributions.  https://github.com/PowerShell/PowerShell/issues/new?assignees=&labels=Distribution-Request&template=Distribution_Request.md&title=Distribution+Support+Request

The form should also have the processor architecture, but you can just put it as a comment until I can add that.

[2019-10-01 14:06] SeeminglyScience commented on #10654
I believe this is more of a general problem with method resolution.  The first matching overload seems to be the one picked, making the indexer explicit just changes the order in which the `Adapter` retrieves them (explicitly implemented methods need to be retrieved separately from the initial `Type.GetMethods` call).

Another example that isn't indexer related is `Marshal.SizeOf(Type)`.

[code]

[2019-10-01 14:07] army1349 commented on #7005
Well, in UNIX world you can always do `cp -R a/ z`.
Trailing slashes are important.

[2019-10-01 14:14] vexx32 commented on #10660
Hmm, looks like that's using System.Drawing. have you tested it on Unix? In my own experience, a vast majority of System.Drawing APIs are not functional on Unix OSes, frequently throwing exceptions.

[2019-10-01 14:58] lzybkr commented on #10654
@SeeminglyScience - I thought the problem with `Marshal.SizeOf` is the generic. I believe PowerShell is trying to invoke `Marshal.SizeOf<System.RuntimeType>([datetime])` and it shouldn't be trying that overload because `RuntimeType` is not a public type.

[2019-10-01 15:11] mklement0 commented on #10654
Thanks, @SeeminglyScience  and @lzybkr.

Does @SeeminglyScience's basic point still stand, however? I've updated the OP - please let me know if it now accurately describes the problem without incorrectly inferring causes.

[2019-10-01 15:11] SeeminglyScience commented on #10654
@lzybkr Yep that's my bad, since this works:

[code]

Even if it fell back to `TypeInfo` it would still act the same right?  What overload should win between a a single generic argument and an exact type match.  And can that even be safely changed? Probably off topic now though.

[2019-10-01 15:12] SeeminglyScience commented on #10654
They are similar problems, but I don't think they're strictly related like I initially thought.  Fixing one probably won't fix the other.

[2019-10-01 15:14] yobyot opened #10663 "Out-GridView on macOS makes it difficult to select objects for the pipeline via -PassThru"
Consider the following cmdlet entry:

`Get-AzSubscription | Where-Object -Property State -eq "Enabled" | Out-GridView -PassThru | Select-AzSubscription`

With `Out-GridView`, it's should very easy to graphically select which subscription object from the collection you wish to pass to `Select-AzSubscription`. The code works, but the UI needs to make it clear which row is selected.

For example, it'

[2019-10-01 15:15] mklement0 commented on #10654
Thanks, @SeeminglyScience; so is the cause of the problem described here the _explicit_ interface implementation (and the separate enumerations for such explicit interfaces), after all?

[2019-10-01 15:16] mklement0 commented on #10654
And do we have an issue for the related generics problem yet? If not, would you mind creating one, @SeeminglyScience?

[2019-10-01 15:26] SeeminglyScience opened #10664 "Calling Marshal.SizeOf(Type) resolves Marshal.SizeOf<T>(T) instead"
Semi-related discussion in #10654, /cc @mklement0  @lzybkr

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-10-01 15:30] mklement0 commented on #10664
To quote from @lzybkr's comment on the linked issue:

[2019-10-01 15:35] Skybeat commented on #10658
Thank you for the information!

So is there a way that i can change / overwrite the default encoding in powershel core, back to the "old" behavior we have had in PowerShell till 5.1?
If so, how can i do this in PowerShell Core?
I mean i like it mutch more the way that default means the system-wide settings and not fixed UTF8, especially if I specify a special parameter like -Encoding.
That make ab

[2019-10-01 15:36] SeeminglyScience commented on #10654
@mklement0 oh you know what, this really should have clicked for me immediately.  I added support for indexers that are explicitly implemented interface methods, that didn't work before #7633 (it says `ITuple` in the title, but ended up being a general fix).

Looking for explicit interface implementations is only done as a fall back because it's pretty expensive (you need iterate and reflect on al

[2019-10-01 15:39] vexx32 commented on #10658
You can set `$PSDefaultParameterValues['*:Encoding'] = 'ANSI'` or whatever value you happen to prefer. If you add that line to a `$profile` script, it will be effectively persistent. 🙂

[2019-10-01 15:44] mklement0 commented on #10655
Thanks, @SeeminglyScience - I've updated the OP with your example, because a generic dictionary is probably more common in PowerShell than `Newtonsoft.Json.Linq.JObject`; I've retained the latter as an example of where an indexer throws something _other_ than `OutOfRangeException` / `KeyNotFoundException`

[2019-10-01 15:44] jhoneill commented on #10660
@vexx32  I should have said this is only restoring functionality from Windows PowerShell to Windows.
This is fairly consistent, there is PrintManagement module which is Windows only.  On Windows PS V6 and V7 can manage  printers and print jobs but not submit a job to a printer.

On Linux one should be able to use | lp and use the built in command.

[2019-10-01 15:48] mklement0 commented on #10654
I was wondering about performance implications.

It's not clear to me from glancing at #7633: are you saying that it fixes this problem also, or that it doesn't, because if a matching direct-member indexer is present, the explicit interfaces aren't consulted?

[2019-10-01 16:02] SeeminglyScience commented on #10654
@mklement0 Yeah it doesn't fix *this* issue, but before if there was an object that *only* had an explicitly implemented indexer (like all `Tuple`'s), it just wouldn't find an indexer.  My PR made it so if it doesn't find any indexer, it then checks for explicitly implemented indexers.

Personally I think it's probably *fine* to always check so it can find the best "match", but part of me also thi

[2019-10-01 16:14] jhoneill commented on #10658
Sorry , what I said above about Output encoding is wrong. It is not used as the default value for encoding.  For more details on what it does see get-help about_preferenceVariables, and
`get-help out-file -Parameter encoding`  says the defaults are set in cmdlets and gives the right default information on different versions. @vexx32  suggests one good solution, if the encoding matters to a given s

[2019-10-01 16:15] SteveL-MSFT commented on #10547
This should be fixed in https://github.com/PowerShell/PowerShell-Docker/issues/272

[2019-10-01 16:15] #10547 closed

[2019-10-01 16:15] PaulHigin commented on #5308
@iSazonov  I feel this issue can be closed.

[2019-10-01 16:15] #5308 closed

[2019-10-01 16:25] SteveL-MSFT commented on #10530
@KirkMunro I appreciate you following the new proposed process by initiating discussion in an issue and driving towards consensus.  However, we need more varied feedback from the community.  I've tweeted this issue so hopefully that'll encourage more diverse discussion on agreement on the issue and then agreement on a proposed solution.  The PowerShell team is busy trying to complete commitments w

[2019-10-01 16:28] PaulHigin commented on #10537
Sorry for the late reply, I was out of town last week.  I agree that this is a bug and that foreach -parallel should preserve the current working directory, and be consistent with foreach as much as possible.  I am not as sure about threadjob since my goal there was to make it work like Start-Job.

[2019-10-01 16:28] SeeminglyScience commented on #10655
@mklement0 here's where it happens:

https://github.com/PowerShell/PowerShell/blob/d8eca6a729a94c626bc161f94c4e694451d7e4da/src/System.Management.Automation/engine/runtime/Binding/Binders.cs#L4485-L4495

I think it's pretty safe to say that it's by design. That expression generates code similar to:

[code]

[2019-10-01 17:00] iSazonov commented on #10537
@SteveL-MSFT It would good to get a conclusion for the issue before 7.0 GA. Maybe PowerShell committee do it?

[2019-10-01 17:00] mklement0 commented on #10655
Thanks, @SeeminglyScience, but that doesn't seem to be what's happening in practice:

[code]

[2019-10-01 17:08] mklement0 commented on #10537
@PaulHigin

Making `Start-ThreadJob` follow `Start-Job`'s example generally makes sense, but note that:

(a) it already behaves differently from `Start-Job`

(b) even if that were to be fixed, `Start-Job`'s behavior is unfortunate

(c) Ideally, we'd have a _consistent_ experience across _all_ job/thread-related features, meaning:

   * Start-Job
   * Start-ThreadJob
   * postpositional `&`  to sta

[2019-10-01 17:14] SteveL-MSFT commented on #10360
Ok, can repro this

[2019-10-01 17:23] mklement0 commented on #10654
Good stuff, @SeeminglyScience, thanks.

I do see the point re requiring an explicit action to call the explicitly implemented interface method in general, and in C# it makes perfect sense, given that a simple cast will do that.

Unfortunately, as you point out, we don't have that option in PowerShell  - and the workaround via reflection, as now shown in the OP, is quite cumbersome.

More generally

[2019-10-01 17:27] SeeminglyScience commented on #10655
Yeah `IDictionary<,>` follows a different pattern, it does `TryGetValue` instead:

https://github.com/PowerShell/PowerShell/blob/d8eca6a729a94c626bc161f94c4e694451d7e4da/src/System.Management.Automation/engine/runtime/Binding/Binders.cs#L4130-L4137

Apparently `JObject` is also `IDictionary<,>`.

[2019-10-01 17:31] SeeminglyScience commented on #10654
Yeah

Probably not

[2019-10-01 17:34] kilasuit opened #10667 "Cyclic rescursion with a Symbolic link in a PSModulePath will hang the creation of ModuleAnalysisCache & hang TabCompletion"
This issue was diagnosed in the PowerShell Slack off of the back of this message from @TheMusicMeister

![image](https://user-images.githubusercontent.com/6355225/65984917-ad869e80-e478-11e9-846b-e395d802bff2.png)

Whilst this issue was found on Windows in PowerShell v5.1.18362.145,  I've tested and confirmed this is still an issue in v5.1.18990.1, v6.2.3 & v7.0.0.preview.4 & we have managed to tr

[2019-10-01 17:57] iSazonov commented on #10660
Previously the cmdlet was rejected as not ported. It is common rule that cmdlets in the repo should be ported. It would be great if you could implement ported version of the cmdlet.

[2019-10-01 18:03] bergmeister commented on #10530
For me as a user the most annoying and confusing thing are the PSReadline breakpoints.
It would be nice to properly solve the underlying problem but if there is an easier/quicker way to prevent this from happening, then I'd prefer this over something that takes longer to be delivered and agreed upon.

[2019-10-01 18:04] mklement0 opened #10668 "Types that implement IDynamicMetaObjectProvider do not have the standard hidden PSObject members such as .psobject and .pstypenames (intrinsic members)"
Types that implement `IDynamicMetaObjectProvider` do not have the usual intrinsic members, such as the hidden `.psobject` and `pstypenames` properties, or the `.Count` and `.Length` properties, which one would expect to be present on _any_ object (other than `$null` in the case of the reflection properties).

@SeeminglyScience [points out](https://github.com/PowerShell/PowerShell/issues/10654) tha

[2019-10-01 18:06] lzybkr commented on #10654
@SeeminglyScience Regarding

[PSMethodInvocationConstraints](https://github.com/PowerShell/PowerShell/blob/bd6fdae73520931f0d27a29d6290e18761772141/src/System.Management.Automation/engine/MshMemberInfo.cs#L1902) is used for exactly this scenario - the cast is meaningless other than to guide overload resolution.

[2019-10-01 18:14] mklement0 commented on #10654
@lzybkr, does that mean that using a cast as follows, which currently doesn't work, _should_ work?

[code]

[2019-10-01 18:22] Jaykul commented on #10530
After carefully reading ... I have to say:

- I really want the debugger to stop breaking into prompts, readlines, and formatters.
- You clearly think about debugging way more than I do
  - I've never used these attributes on PowerShell code
  - I almost never use command breakpoints outside of demos, I guess because they so frequently result in detours.
- I agree with almost everything you've pro

[2019-10-01 18:26] SeeminglyScience commented on #10654
Yeah I thought that was used exclusively in PowerShell classes as an analog to C#'s `base.Method()` syntax.  Is it hooked up in other spots? Any time I've tried to do it it hasn't worked for me, but if it's supposed to work then I probably need to file some issues

[2019-10-01 19:05] jhoneill commented on #10660
@iSazonov  If by "ported" you mean "in C# not PS" the repo has both the original PS version, and the C# version which is currently on the PowerShell gallery.  It's probably a sign I should rearrange the repo :-)

[2019-10-01 19:14] Skybeat commented on #10658
Well, you are right that is a way but, now with this `-Encoding default` is all the time UTF8 and i have to explicit set the codepage, it goes from easy to complex. All scripts what comes from PowerShell 5 or below and worked very well, are now don't work as expected. It will coast a lot of time to find the issue  because of PowerShell core.  There is a nice sentence: Never change a simple running

[2019-10-01 19:18] KirkMunro commented on #10530
@bergmeister This is much bigger than just PSReadline. This problem has impacted every PowerShell tool that I know of. I don't know of a quicker fix, and the debugger attributes currently are not functioning the way they should, so correcting how those work is a good approach to this problem. Note, however, that the fixes proposed here should not take long to deliver -- I've been in that code quit

[2019-10-01 19:29] lzybkr commented on #10654
@SeeminglyScience - I believe the invocation constraints are wired through everywhere they need to be. See [here](https://github.com/PowerShell/PowerShell/blob/bd6fdae73520931f0d27a29d6290e18761772141/src/System.Management.Automation/engine/CoreAdapter.cs#L1224) where explicit method impls are explicitly tested.

[2019-10-01 19:44] Jaykul commented on #6418
Or in the 7.x timeframe.

[2019-10-01 19:49] Jaykul opened #10669 "PowerShell classes still can't create value types"
# Steps to reproduce

Try to implement any interfaces that is intended to be implemented in terms of yourself, E.g. IEquatable, IComparable:

[code]

# Expected behavior

[code]

# Actual behavior
A runtime compile error:
[code]

# Environment data

Any version of PowerShell since classes were introduced, up to and including 7 Pre 4

[2019-10-01 20:02] rjackowens opened #10670 "My bug report"
Attempting to expand a calculated property results in the property not being found.
# Steps to reproduce
[code]
# Expected behavior
[code]
# Actual behavior
[code]
# Environment data

[code]

[2019-10-01 20:17] mklement0 commented on #10654
Using the cast approach actually _does_ work with the repro code in the OP, so again there must be something special about the Json.NET types involved:

[code]

I don't know if it's relevant, but using the name-based indexer, which works in principle, breaks the `Should` call, with an error that I've also seen in #10650 and #10652, `Target type System.Collections.IEnumerator is not a value type or

[2019-10-01 20:38] mike632t opened #10671 "Only partial help available on Linux"
After updating help only partial help is available - although no errors are shown during the update process (running these commands as root or with '-Scope CurrentUser' seems to make no difference).

    PS /home/user> $PSVersionTable

    Name                           Value
    ----                           -----
    PSVersion                      6.2.2
    PSEdition                      Core

[2019-10-01 20:42] mklement0 commented on #10670
The property specified for `-ExpandProperty` must exist on the _input_ object - you cannot define a new calculated property and expand it _in the same call_.

You can pipe to _another_ `Select-Object` call in which you can perform the expansion (or, if you ultimately don't need the `Name` property, just use `ForEach-Object` call in which you return the KB value).

P.S.: Please also give your issue

[2019-10-01 20:48] mklement0 commented on #10669
It's obviously not the same, but just to mention an interim workaround: use `[object]` instead of your own type.

[2019-10-01 20:51] mklement0 commented on #10663
`Out-GridView` is not part of this repo; it looks like you're using the https://github.com/PowerShell/GraphicalTools implementation, so I suggest reporting the issue there.

[2019-10-01 20:55] PaulHigin commented on #10537
I have submitted a PR for the fix for ForEach-Object -Parallel (#10672 ).

[2019-10-01 20:55] #10537 closed

[2019-10-01 20:55] yobyot commented on #10663
@mklement0  Thanks for the pointer to the correct repo. I've re-posted the issue there.

[2019-10-01 20:55] #10663 closed

[2019-10-01 21:20] rjackowens commented on #10670
This is very helpful. Thank you

[2019-10-01 21:20] #10670 closed

[2019-10-01 21:20] mklement0 opened #10673 "Make the current location for script blocks executing in background/thread jobs default to the caller's in all scenarios"
Update: This proposal [has been approved](https://github.com/PowerShell/PowerShell/issues/10673#issuecomment-540229636) - the remaining work is summarized in [this comment](https://github.com/PowerShell/PowerShell/issues/10673#issuecomment-540349744).

---

Ideally, we'd have a _consistent_ experience across _all_ background-/thread-job related features, meaning that all of the following should ex

[2019-10-01 21:21] mklement0 commented on #10537
Thanks, @PaulHigin - I've created #10673 to address the larger issue.

[2019-10-01 21:33] mklement0 commented on #8393
A warning would certainly be an improvement, but amen to @CollinChaffin's comment.

I have since discovered that the proposed automatic distinction between `[pscustomobject]`-only object graphs (nested DTOs, no depth restriction) and other types (depth restriction to prevent "runaway" serialization) is exactly _what PowerShell already does behind the scenes for remoting/background-job related CLIX

[2019-10-01 21:38] SteveL-MSFT opened #10675 "Resolve file paths before passing to native commands"
# Summary of the new feature/enhancement

On Windows, the `~` is only understood by PowerShell.  So if you try: `notepad ~\foo.txt`, it complains it can't find the file path.  On Windows and non-Windows PSDrives have no meaning outside of PowerShell, so you can't do something like `pico temp:/temp.txt` with expectation that you're creating a file in the temp drive.

# Proposed technical implementa

[2019-10-01 21:48] jhoneill commented on #10658
@Skybeat  We may have been talking at cross-purposes.

@SteveL-MSFT  this might not be answered after all.

In Windows PowerShell the helps says
" _Unicode is the default.
   Default uses the encoding of the system's current ANSI code page_."

The current source has an  `ArgumentToEncodingTransformationAttribute ` class which  transforms "Default" "Utf8" and "Utf8NoBom" to the same thing.

So the

[2019-10-01 23:07] rjmholt opened #10676 "$MyInvocation.InvocationName unhelpful with & invocation"
Motivated by https://github.com/mikebattista/PowerShell-WSL-Interop/issues/17.

[code]

Most of these are very unhelpful.

In the cases where `&` is used, having the actual token representing the command invoked would be much more useful.

In the case where an expression is used, it would be very useful to know what that expression's value has been evaluated to.

It would also be nice in the case

[2019-10-01 23:33] SeeminglyScience commented on #10530
Thank you @KirkMunro for bringing all this up.  It's something that has bothered me tremendously for a long time.  I've mostly skimmed the original so far, I'll do a more in-depth read tomorrow but I wanted to mention one thing that caught my eye:

By default, PowerShell would be configured to only debug user code ("Just My Code"), but an option would have to be provided to allow users to debug no

[2019-10-02 01:29] SteveL-MSFT commented on #10658
cc @JamesWTruher your thoughts on this?  Calling `Default` to mean Windows PowerShell would solve the compatibility concern, but the default is UTF8NoBOM so that would introduce confusion.

[2019-10-02 01:38] SteveL-MSFT opened #10677 "Tab complete on a command with dash suggests a function that has a dash in the name"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

Regression from WinPS5.1.  Repros in 6.2 and 7 Preview4.

[2019-10-02 01:50] kilasuit commented on #10677
This doens't repro on my 5;1.18990.1 win ten box

[2019-10-02 02:46] KirkMunro commented on #10530
I have a few thoughts related to this @seeminglyscience:

1. What is deemed non-user code by default would be very conservative. Things you install. That's pretty much it.
1. If a user sets a line breakpoint (which are by far the most commonly used breakpoints) in non-user code, that would be detectable in PowerShell itself, so there shouldn't be any surprises there with the proper handling, regar

[2019-10-02 02:58] iSazonov commented on #10660
I mean that the cmdlet should work on all supported OSes. See #10340.

[2019-10-02 03:29] SteveL-MSFT commented on #10677
@kilasuit correct, this is a regression from WinPS5.1 meaning it worked there and now it doesn't

[2019-10-02 03:54] iSazonov commented on #10673
/cc @SteveL-MSFT Need PowerShell Committee conclusion.

[2019-10-02 04:12] CarlGustavAlbertDwarfsteinYung commented on #2896
This issue is present in ps7 but not the ps bundled with windows.

[2019-10-02 04:21] mklement0 opened #10679 "The current UI culture isn't respected - messages continue to be displayed in English"
# Steps to reproduce

* Run on Windows.
* Make sure that `Deutsch (Deutschland)` (German (Germany) is installed as a Windows UI (display) language via the Windows 10 Settings application.

[code]

# Expected behavior

The test should succeed.

# Actual behavior

The test fails:

[code]

That is, the error message was still emitted in English.

This is a regression of sorts from Windows PowerShell,

[2019-10-02 07:03] Garfius commented on #7477
How?¿

Thanks.

[2019-10-02 07:24] iSazonov commented on #10679
I am not sure that localized help was published. Debug shows internall exception and fallback to en-US.

[2019-10-02 07:28] iSazonov commented on #10676
Maybe related #10477

[2019-10-02 07:31] DrDinosaur commented on #7477
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/events/how-to-subscribe-to-and-unsubscribe-from-events

[2019-10-02 07:45] iSazonov commented on #10669
/cc @SeeminglyScience for reference #10623

[2019-10-02 10:05] jhoneill commented on #10660
@iSazonov  Yes. Completely agree, cmdlets should work on all supported OSes, but this a _should_, not a _must_.  We already have a Printer Management module which manages printer drivers, settings, queues and jobs (and it might make sense to out Out-Printer to this module). But this module only understands Windows print-devices, print-queues and print-jobs; Unix-based OSes have their own command l

[2019-10-02 10:15] Garfius commented on #7477
No way?, only error output events are fired.

Already tried:
`
            s_ps.Streams.Verbose.DataAdding += delegate (object sender, DataAddingEventArgs e) {
                var records = (PSDataCollection<VerboseRecord>)sender;
                Debug.WriteLine("Progress verbose contains {0} records", records.Count);
            };

            s_ps.Streams.Progress.DataAdding += delegate (object

[2019-10-02 11:08] iSazonov commented on #10018
@sdwheeler  Can we close the issue?

[2019-10-02 11:09] #10070 closed

[2019-10-02 11:11] iSazonov commented on #10035
@daxian-dbw @SteveL-MSFT Coul you move the issue to PSReadline repo?

[2019-10-02 11:19] iSazonov commented on #10078
If Office is installed from msi - the Microsoft Window trusted installer subsystem is tracking all files.
If Office is installed by ClickToRun from Cloud - I don't know how the ClickToRun works, it seems it is not public and not documented.
In any case the question is not related to PowerShell.

[2019-10-02 11:19] #10078 closed

[2019-10-02 11:42] iSazonov commented on #10079
See https://blogs.msdn.microsoft.com/wmi/2009/07/22/new-default-ports-for-ws-management-and-powershell-remoting/

[2019-10-02 11:42] #10079 closed

[2019-10-02 11:46] iSazonov commented on #10092
The same on Windows:
[code]

[2019-10-02 11:59] SeeminglyScience commented on #10669
Yeah this does repro without the specifics of #10623 (e.g. without the making the engine check overloads)

[code]

Presumably because it's attempting type resolution without taking the current type definition into account.

Also about valuetypes (assuming the title wasn't a mistake) #10231 is also relevant.

[2019-10-02 12:00] iSazonov commented on #10116
@mklement0 Have you already an issue for this?

[2019-10-02 12:06] iSazonov commented on #10178
@tlsalex Do you want to add more info?

[2019-10-02 12:15] SeeminglyScience commented on #10654
@lzybkr oh neat! Now that I think about it, I've probably only tried that on non-`IDispatch` COM objects. Learn something new every day 🙂 Thanks!

[2019-10-02 12:19] iSazonov commented on #10181
I think it should be a bug because script behavior varies between platforms.
`Clear` command issues escapes and PowerShell intercepts this. Perhaps we could re-send by raw interface API.

/cc @mklement0

[2019-10-02 12:25] iSazonov commented on #10660
@mklement0 Can you advice how better resolve this? Can we use the same way as you suggest for clipboard and call a native command (lp?) on Linux? MocOS(lp?)?

[2019-10-02 12:36] SeeminglyScience commented on #10676
If there are changes being made to that property, there's another piece of functionality that should be kept in mind:

[code]

[2019-10-02 12:41] #10362 closed

[2019-10-02 12:41] #10184 closed

[2019-10-02 12:46] #10201 closed

[2019-10-02 12:49] iSazonov commented on #10237
@KirkMunro It seems it is unbelievable that we will change these aliases. Can we close the issue?

[2019-10-02 12:57] mklement0 commented on #10181
I agree, @iSazonov.

@HumanEquivalentUnit: True, but since PowerShell, unlike Bash, is able to distinguish between to-terminal output and success-stream output, the fix is to write directly to the terminal:

`${function:Clear-Host}` prints the function definition, and on Unix-like platforms you get:

[code]

The above writes implicitly to the success output stream, so wrapping it in `[Console]::Wr

[2019-10-02 13:06] iSazonov commented on #10236
@KirkMunro Maybe you ready split the meta issue to small issues for fixing (like add prefix in WarningRecord .ToString)?

[2019-10-02 13:37] iSazonov commented on #10181
@mklement0 Many thanks! I pulled PR with your suggestion.

[2019-10-02 13:39] iSazonov commented on #10254
/cc @KirkMunro for information.

[2019-10-02 13:42] iSazonov commented on #10277
/cc @SteveL-MSFT Should it be fixed in Docker repo?

[2019-10-02 13:47] #10313 closed

[2019-10-02 13:52] KirkMunro commented on #10237
@iSazonov I want us to at least consider adding `ia` as an alias for `InformationAction`. For that reason, please leave this open a bit longer. I monitor issues I log regularly, so will ensure this doesn't just stay open forever.

[2019-10-02 13:53] iSazonov commented on #10374
It is question for a forum.
[See (Russian only)](https://isazonov.wordpress.com/2013/01/27/%d0%ba%d1%82%d0%be-%d0%b8-%d0%be%d1%82%d0%ba%d1%83%d0%b4%d0%b0-%d0%bf%d0%be%d0%b4%d0%ba%d0%bb%d1%8e%d1%87%d0%b0%d0%bb%d1%81%d1%8f-%d0%bf%d0%be-rdp/) how looks XML request.

[2019-10-02 13:53] #10374 closed

[2019-10-02 13:54] #10378 closed

[2019-10-02 14:01] iSazonov commented on #10400
/cc @daxian-dbw For information.

[2019-10-02 14:04] iSazonov commented on #10406
@hpaul-osi Can you confirm the issue with latest 7.0 build?

[2019-10-02 14:07] iSazonov commented on #10410
@mklement0 I wonder is it argument parse issue?

[2019-10-02 14:09] vexx32 commented on #10400
I think the latest preview is using the most recent PSReadLine release by default? @MovGP0 @uldisv can you check on the latest v7 preview?

[2019-10-02 14:11] mklement0 commented on #10181
Thanks for the quick turnaround, @iSazonov.

Taking a step back: By _unconditionally_ delegating to `/usr/bin/clear` on Unix-like platforms, we've actually already made `Clear-Host` _terminal_-specific, which means that it may malfunction / not do anything meaningful in other types of hosts.

To quote @BrucePay from one of the linked issues, at https://github.com/PowerShell/PowerShell/pull/8603#di

[2019-10-02 14:11] iSazonov commented on #10237
@KirkMunro I suggest reword the issue as "proposal" (or open new issue) - in the case I hope we will get a progress faster. (I don't see reasons why we can not add the new aliases)

[2019-10-02 14:11] essentialexch commented on #10669
This works. But shouldn't. And just like @mklement0 wrote, it's not the same as what you want, but a workaround. (I got seriously distracted going down the rabbit hole that is stuff not implemented by classes.)

[code]

[2019-10-02 14:18] iSazonov commented on #10181
@mklement0 I see we have some issues with Clear-Host. but I still don't have the ability to test on Unix-s and can not grab this. (Although we could do `RawUI.Clear()` step by step).

[2019-10-02 14:25] mklement0 commented on #10679
The test actually tests error messages, not help content.

I naively assumed that since localized DLLs are present in `$PSHOME` (although on Unix platforms there are only 2) that at least startup messages, error messages, ... would already be localized.

Is this being tracked somewhere? Is there a roadmap?

[2019-10-02 14:40] vexx32 commented on #10679
/cc @SteveL-MSFT? 🙂

[2019-10-02 15:00] mklement0 commented on #10679
:) Thanks, @iSazonov  - I'm closing this.

[2019-10-02 15:00] #10679 closed

[2019-10-02 15:03] mklement0 commented on #666
Copying over a simple Pester test for localized error messages from the now closed duplicate #10679:

[code]

[2019-10-02 15:10] mklement0 opened #10682 ""Rouge" filenames that contain a backslash break automatic globbing for native commands on macOS and Linux"
Note: This case is covered by catch-all issue #9244

The presence of a filename containing a `\` that matches a wildcard pattern causes native globbing to fail quietly (and pass the pattern through  as-is, as if nothing matched).

Note that `\` is a legal filename character on Unix-like platforms.

# Steps to reproduce

On **macOS** and **Linux**:

[code]

# Expected behavior

The test should pass

[2019-10-02 15:12] #10018 closed

[2019-10-02 15:28] mklement0 commented on #10675
Resolving PSDrive-based paths to native filesystem paths on all platforms sounds like a nice enhancement.

Yes, on Unix quoting is already being used to distinguish between a (potential) filesystem path to be `~`-resolved _and globbed_ (unquoted) and a literal argument (quoted), a nod to POSIX-like shells.

However, the automatic globbing is probably not a good idea on Windows, where it is up to t

[2019-10-02 15:37] mklement0 commented on #5167
This can probably be closed now:

Using single- or double-quoting now suppresses globbing - https://github.com/PowerShell/PowerShell/pull/5188 was merged a long time ago.

[2019-10-02 15:42] SteveL-MSFT commented on #10570
I don't believe this requires @PowerShell/powershell-committee review.  If sysinternals streams.exe supports it meaning NTFS supports it, then there's no reason not to have PowerShell support it.  However, it wouldn't be a priority as this is the first time this has come up and it's not clear to me what use case would add an alternate stream to a folder.

[2019-10-02 15:47] mklement0 commented on #10654
Thanks, @SeeminglyScience; please confirm my current understanding:

* If an overload match is found as a direct member, explicit interface implementations aren't consulted for more specific matches - this is by design, not least because changing this would be a performance concern.

* The solution is to explicitly cast to the interface in order to reliably target the overload of interest.

* The

[2019-10-02 15:58] mklement0 opened #10683 "Native globbing: Automatic globbing for native commands doesn't work with backtick-escaped spaces"
See also (the inverse problem): https://github.com/PowerShell/PowerShell/issues/18038

When calling external programs (native programs) on Unix-like platforms, wildcard patterns that you want automatic globbing applied to (as in Bash, for instance) must be _unquoted_, i.e. they must neither be enclosed in single quotes nor in double quotes.

Therefore, if you want globbing to be applied to a wildc

[2019-10-02 16:12] SeeminglyScience commented on #10654
Just to be clear, I did purposefully add the check for explicit implementations only as a fallback, but truthfully I wasn't considering the scenario of calculating the best overload to use.  It was more of a "if we already found one, we probably don't need to find more" type of thing.  Would it be a performance hit? Yeah for sure.  Would it be impactful? Ehhhh only benchmarks could tell.  The bind

[2019-10-02 16:20] mklement0 opened #10684 "Calling the CLI from the outside with an empty command string (-c '') crashes PowerShell"
From _within_ PowerShell, running `pwsh -c ''` (`pwsh -Command ''`) provides a helpful error message (followed by the CLI syntax):

[code]

By contrast, when `pwsh` is called _from the outside_, it _crashes_.

# Steps to reproduce

Run from either `cmd.exe` or  `bash`:

[code]

# Expected behavior

The following should print to stderr and a nonzero exit code should be reported, analogous to what h

[2019-10-02 16:21] mklement0 commented on #10410
@iSazonov:

This is not a PowerShell problem.

The issue is that POSIX-like shells _also_ expand `$`-prefixed tokens inside `"..."`, so a shell such as `bash` expands `$pid` _before_ PowerShell sees it; since `$pid` is (typically) not defined (as an aside: the equivalent would be `$$`), it expands to the empty string, so the literal command string that PowerShell sees is the _empty string_ with ar

[2019-10-02 16:24] pacificpleb opened #10685 "Feature Request - Support AsJob switch in both parameter sets"
# Summary of the new feature/enhancement

Currently you cannot do the following due to the cmdlets parameter sets:
restart-computer -ComputerName Server.contoso.com -wait -for PowerShell -Force -AsJob

BUT you can wrap it in a start-job scriptblock and it works as expected:
start-job -scriptblock { restart-computer -ComputerName satisbrt001 -wait -for PowerShell -Force }

[2019-10-02 16:43] SteveL-MSFT commented on #5167
@rkeithhill let me know if #5188 doesn't resolve your issue

[2019-10-02 16:43] #5167 closed

[2019-10-02 17:07] KirkMunro commented on #10254
Thanks @iSazonov. I saw this when it was logged, and took a quick look then. It isn't apparent to me when this stopped working or what change broke it. Also, since Windows PowerShell is not open source, I unfortunately can't go read the old code and build/step through it to see how it used to work. I would like to see this fixed though, so may cycle back to it later if I have time to do so.

[2019-10-02 17:50] mklement0 commented on #10655
Thanks, @SeeminglyScience.

An argument could be made that this behavior makes sense for the sake of symmetry with PowerShell's regular, non-generic (ordered) hashtables, which themselves ignore non-existent keys.

It does amount to PowerShell modifying the behavior of .NET types in a non-obvious manner, however - so I've created https://github.com/MicrosoftDocs/PowerShell-Docs/issues/4868

That s

[2019-10-02 17:50] #10655 closed

[2019-10-02 18:17] rkeithhill commented on #5167
It does and that is what I've been using for a while now on Linux.

[2019-10-02 19:11] #9299 closed

[2019-10-02 19:19] mklement0 commented on #10685
Note that you can now simply append `&` to any command / pipeline in order to run it as a job - it is like an implicit `Start-Job` call, and as such it doesn't rely on individual commands' `-AsJob` parameters.

[code]

[2019-10-02 19:24] discombobulater commented on #10685
Which version does this apply to?  On v5.1 this does not work, gives error
"the ampersand character is not allowed" even running as admin.

On Wed, Oct 2, 2019 at 12:20 PM Michael Klement <notifications@github.com>
wrote:

[2019-10-02 19:33] mklement0 commented on #10685
@discombobulater: Yes, it's a PowerShell _Core_-only feature (which is what this repo is about; note that _Windows PowerShell_ will see no new features).

[2019-10-02 20:08] Art52123103 opened #10686 "Test"
# Windows PowerShell

For Windows PowerShell 5.1 issues, suggestions, or feature requests please use the following link instead:
Windows PowerShell [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

This repository is **ONLY** for PowerShell Core 6 issues.

[2019-10-02 20:21] mklement0 commented on #8589
Is this specifically related to using a key file?

If I use "loopback" remoting on Ubuntu 18.04 with PowerShell Core 7.0.0-preview.4 without a key file I do not see the problem:

[code]

[2019-10-02 20:34] mklement0 opened #10687 "Invoke-Command -SSHConnection breaks if the HostName string is [psobject]-wrapped"
The root cause is that a string returned from a cmdlet call or external program has an invisible extra `[psobject]` wrapper, and the `Invoke-Command` cmdlet fails to take that possibility into account.

In short: The command below breaks, because `(hostname)` has such an invisible wrapper, as evidenced by `(hostname)  -is [psobject]` being `$true`.

This is yet another manifestation of our old fri

[2019-10-02 20:52] mklement0 opened #10688 "Casting to an interface for indexer overload resolution is broken with Json.NET types"
Follow-up from #10654.

The problem is presumably related to the fact that the `Newtonsoft.Json.Linq.JObject` Json.NET type implements `IDynamicMetaDataProvider`, in which case PowerShell delegates binding to the target object.

It is unclear if the problem is specific to Json.NET and perhaps to be fixed there or whether it affects other libraries too.

The following issues are likely related:

*

[2019-10-02 21:21] mklement0 commented on #10654
Understood re design intent and thanks for clarifying, @SeeminglyScience.

Now that I understand the issue better and now that I know that casting to an interface _generally_ works, I'm not personally interested in pursuing this aspect further.

Instead I've created a docs issue at https://github.com/MicrosoftDocs/PowerShell-Docs/issues/4871

I've opened a new issue focused on fixing the broken in

[2019-10-02 21:21] #10654 closed

[2019-10-02 21:23] SteveL-MSFT commented on #10627
Can you try with PS7 Preview.4?  This doesn't repro for me on Ubuntu.

[2019-10-02 22:05] mklement0 commented on #10686
@Art52123103, please remove your test issue or edit it to report an actual problem.

[2019-10-02 23:50] MaynardMiner commented on #10627
Yes, as soon as I finish my current project, I'll update, and notate results.

[2019-10-03 00:00] #4707 closed

[2019-10-03 00:27] apjanke commented on #4214
Can we get an official ruling on the pronunciation of `pwsh`? The [PNG spec](https://www.w3.org/TR/2003/REC-PNG-20031110/) includes a pronunciation in its Section 1. May as well provide one for PowerShell; don't want another SCSI "scuzzy"/"sexy" situation.

Looks like "poosh" to me.

[2019-10-03 00:35] SteveL-MSFT commented on #4214
@apjanke the generally accepted pronunciation of `pwsh` is `posh`

[2019-10-03 00:39] n3rdopolis commented on #10570
Whoo! Now for the record, I'm not looking to add them myself to folders, I don't see the use case for adding ADS streams to folders as well, but the script I made is for retrieving how large sub folders are. And I want to be able to count that, in case it actually happens...

[2019-10-03 00:41] apjanke commented on #4214
Works for me. Thanks for the official confirmation!

[2019-10-03 01:44] mklement0 commented on #4214
As for alternative pronunciations:<sup>[1]</sup>

* [_Pish Posh!_](https://en.wiktionary.org/wiki/pish_posh)

* [_Poppyposh!_](https://www.merriam-webster.com/dictionary/poppycock)

* _The Shell Formerly Known as PowerShell_ (_TSFKAP_ in [Georgian](https://en.wikipedia.org/wiki/Georgian_language))

* _The Shell That Dare Not Speak Its Name (Because the Name of Its Executable is Unpronounceable)_ (

[2019-10-03 01:45] onovotny opened #10690 "Updating PowerShell on NuGet"
PowerShell Core is on NuGet, packaged as a global tool. The current published version there is 6.2.2. Can 6.2.3 be pushed there, along with the PowerShell 7 previews?

Thanks

[2019-10-03 01:45] JoseRa-KnowIT commented on #10462
I very much like this proposal, even me as a windows guy I tend to use the native `ls` command on wsl or linux, because GCI well... the point was already said, so I can´t even imagine the feeling of a purist brave-heart linux guy trying to give a chance to pwsh.

But I think as @TobiasPSP wisely exposed, all commands should be standard and consistent on every platform, so there must be a kind of i

[2019-10-03 01:51] msoliver opened #10691 "How to automate either PowerShell or PowerShell Core for same machine"
# Support Question

With the release of PowerShell Core, how can an application choose which version of Powershell (Powershell 5.x or PowerShell Core) is being called when it using hosting automation library (system.management.automation)? Something about the runspace that should be created? or maybe the connection info?

## Official support

[PowerShell Support Lifecycle](https://aka.ms/pslifecyc

[2019-10-03 02:14] vexx32 commented on #10691
From what I know (others can correct me if I'm wrong), but if you're hosting PowerShell, I believe you'll be using whatever version matches the version of your NuGet package that you're pulling the libraries in with.

The PowerShellStandard.Library reference package, on the other hand, currently only works with 5.1 iirc.

[2019-10-03 02:28] SeeminglyScience commented on #10691
If you're hosting PowerShell, it's based on whatever runtime you compile for (sort of).  If you're targeting `netcoreapp`, then you need to reference the PowerShell Core SDK.  If you're compiling for `net4xx` then you need to reference either `PowerShellStandard.Library` (if they've fixed the hosting scenario) or the older reference library package that properly redirects to the GAC assembly.

Bas

[2019-10-03 02:33] vexx32 commented on #10690
/cc @SteveL-MSFT @adityapatwardhan

Do we need to add additional CI build triggers to publish onto NuGet as a global tool when we do a new stable and/or preview release?

[2019-10-03 02:35] KevinMarquette commented on #10637
I ran `Get-WinEvent` with no parameters and got 1665 errors saying the data is invalid.

[2019-10-03 03:31] iSazonov commented on #10410
@mklement0 Thanks! I tried this from PowerShell session and was wonder that it worked. :-)

[2019-10-03 03:31] #10410 closed

[2019-10-03 03:39] iSazonov commented on #10684
We send null to MatchSwitch()
https://github.com/PowerShell/PowerShell/blob/77ddec161417f98f8f2e57e9e9ef57d00cdc4c98/src/Microsoft.PowerShell.ConsoleHost/host/msh/CommandLineParameterParser.cs#L523-L541

We need to issue common user-friendly message.

[2019-10-03 03:51] #10181 closed

[2019-10-03 04:04] jboeshart commented on #10625
Ok, I've logged #10692 with my updates to make this work. Need to work on tests, but I wanted to get some feedback on the changes that I've made.

I'd also like some clarity on if the code to compare the secure strings is acceptable. This is a bit sensitive, since you can't directly compare secure strings. The code is based on guidance from the following links. I think this is probably ok, since w

[2019-10-03 04:07] mklement0 commented on #10691
Cross-posting from an answer to [your question on Stack Overflow](https://stackoverflow.com/q/58211358/45375):

---

Here's an overview of the **PowerShell SDK-related NuGet packages**:<sup>Adapted from [here](https://github.com/PowerShell/PowerShell/issues/8625#issuecomment-456515037).</sup>

* [`Microsoft.PowerShell.5.ReferenceAssemblies`](https://www.nuget.org/packages/Microsoft.PowerShell.5.Re

[2019-10-03 04:32] iSazonov commented on #10637
@KevinMarquette See #10648

[2019-10-03 05:03] iSazonov commented on #10254
Did it work in 6.0 GA?

[2019-10-03 06:20] uldisv commented on #10400
Works fine on Powershell 7.0 preview v.4 on Windows 10 x64.
Perfect - thank you.

[2019-10-03 06:32] iSazonov commented on #10400
@uldisv Please share PSReadline version. (Get-Module show this)

[2019-10-03 06:59] uldisv commented on #10400
ModuleType Version    PreRelease Name
---------- -------    ---------- ----
Script     2.0.0      beta5      PSReadLine

[2019-10-03 07:18] #10400 closed

[2019-10-03 07:19] #10686 closed

[2019-10-03 07:26] MovGP0 commented on #10400
Can confirm that it works in PowerShell 7.0.0-preview.4

[2019-10-03 08:24] chuanjiao10 commented on #10684
@iSazonov  I submitted the issue first, reported detailed system information, but was closed as Duplicate.

After submitting the issue, it was used as an engine bug. This is not fair to me.

I don't know what the hidden rules are for you. Below, please start your sophistry.

[2019-10-03 09:00] chuanjiao10 commented on #10016
@SteveL-MSFT  I recommend marking it as 【won't fix】, and close this issue . The reason is: this problem has been fixed by win termal.

1 pwsh on linux does not have this problem.
2 powershell 6 and 6 on win has this problem, but there is no such problem in win termal. Powershell5.1 vs powershell 6.2.3
Test screenshot:

![image](https://user-images.githubusercontent.com/8968667/66113155-d20c8300-e5

[2019-10-03 09:04] iSazonov commented on #10687
We have `LanguagePrimitives.TryConvertTo`. Question is should we accept only PSObject with base string type or we need to try convert any PSObject to string?

[2019-10-03 09:14] iSazonov commented on #10684
@chuanjiao10 I think it is one issue.

[2019-10-03 11:15] msoliver commented on #10691
Okay thanks - but one last question - what about the scenario in which my app is creating a remote runspace on another server? If that server has both variants of PowerShell - which one will execute?

[2019-10-03 12:00] #9837 closed

[2019-10-03 12:28] mklement0 commented on #10684
@chuanjiao10:

Your original issue had a misconception about how POSIX-like shells such as Bash evaluate `pwsh -c "$pid"`.

https://github.com/PowerShell/PowerShell/issues/10410#issuecomment-537570864 explains the problem and detail and shows solutions.

In short: When you call from Bash, `pwsh -c "$pid"`  is effectively the same as `pwsh -c ""`, because _Bash_ expands `$pid` and - given that the

[2019-10-03 12:38] mklement0 commented on #10687
@iSazonov:

The current code accepts string only, and I think that's reasonable.

I don't think that users will gain anything if we support other types here - at least I don't see what other types might be useful in this scenario.

If we stick with the current approach, I recommend implementing amending the existing error message to say something like "element is null, empty, _or of the wrong type

[2019-10-03 12:50] SeeminglyScience commented on #10687
I think it should follow the same path that a normal parameter binding would, so `LanguagePrimitives.ConvertTo` makes the most sense imo (probably don't need `TryConvertTo`, everything can be converted to a string in some way).

[2019-10-03 13:42] mklement0 commented on #10687
That makes sense, @SeeminglyScience - I expect the only real problem for end users to be the scenario detailed in this report.

However, the point about amending the error message still applies, because there's also `GetSSHConnectionIntParameter` for `int` values - where it's definitely possible to pass the wrong type.

Speaking of: The latter currently accepts an `int` value _only_; passing a ` l

[2019-10-03 14:00] #10291 closed

[2019-10-03 14:09] iSazonov commented on #10687
@SeeminglyScience Can you grab this? I already have over 15 opened PRs but I'd prefer to get the null reference exception fixed before GA.

[2019-10-03 14:41] #7127 closed

[2019-10-03 14:44] Skybeat commented on #10658
That is what i mean.
for now scripts till Powershell 5.1 will not work as expected in PowerShell 6/7 (i have this issue by my own with currently 6 scripts).
I change like this with "-Encoding default" will make all older scripts from Powershell 5.1 and older incompatible.

[2019-10-03 14:52] vexx32 commented on #10658
I doubt telling people that the "default" setting for -Encoding (which isn't the _real_ default value for those cmdlets, which would still be `UTF8NoBom`) is WinPS's default is a good idea.

Folks can just specify their encodings. This is a major version bump. Expecting folks to review and update their scripts before upgrading really ought to be a _given_, especially the ease of which you could do

[2019-10-03 15:04] mponton commented on #3651
@daxian-dbw This just saved my butt. Long story short, I'm dealing with PoSh classes and "need" to use UniversalDashboard.io to create a REST API. One of the class instances is a shared logger instance (NLog wrapper with specific methods). I could not get this to work in a 2nd runspace until I read this issue and tried to make the instance an unbound class instance. Man, the time I have spent debu

[2019-10-03 15:13] atanasa commented on #9840
This is not a question but a report of an issue. The issue has not been solved, please reopen the issue.

[2019-10-03 15:24] Skybeat commented on #10658
On one hand your are true when you say the user have to check his scripts before. On the other handy, make a move from WinPS to PS Core as simple as posible and get more acceptance and enjoyment from the end users. It is not always good to reinvent the wheel! It has been so over 3 Powershell versions that will frustrate end users when everything is re-invented and will not promote the acceptance t

[2019-10-03 15:28] iSazonov commented on #9840
Can you repo with latest 7.0 build?

[2019-10-03 15:32] vexx32 commented on #10658
I appreciate the desire for convenience, but this is not a matter of reinventing the wheel, but aligning PowerShell to established standards in the majority of operational infrastructure, especially in (ever more common) environments where Unix operating systems run the server infrastructure. UTF8 without BOM is largely the standard encoding for text files at present.

[2019-10-03 15:45] SeeminglyScience commented on #10687
@iSazonov Yeah I can grab it

[2019-10-03 16:33] SteveL-MSFT opened #10694 "Support type constraints on variable for tab completion"
# Summary of the new feature/enhancement

In PR https://github.com/PowerShell/PowerShell/pull/10646, @rjmholt brings up a [good point](https://github.com/PowerShell/PowerShell/pull/10646#discussion_r330809022) that to further improve the user experience, tab completion should respect constraints on allowed values to the variable.

# Proposed technical implementation details (optional)

@rjmholt's

[2019-10-03 16:44] #10694 closed

[2019-10-03 16:55] Skybeat commented on #10658
So that means that Powershell, what comes from Windows platformes, must now go "standarts" from Unix world?!?! Why don't we say the Windows / Microsoft way is a standart and Unix is out of standart?!?!

Don't get me wrong but i can't see any reason of the Encoding change. I can see only a lot of problems / issues for the end users special those who have been running scripts for years without any p

[2019-10-03 17:09] mklement0 commented on #10691
@msoliver: I'll respond on StackOverflow.

[2019-10-03 17:28] lzybkr commented on #3316
Just yesterday I came up with a [proof of concept](https://gist.github.com/lzybkr/80c66be2bd866a2e7387b83045e0ab81) by abusing the CommandNotFoundHandler.

[2019-10-03 17:30] iSazonov commented on #4671
I'd deprecate UseNewEnvironment (make alias?) and introduce ClearEnvironment
I like new Environment parameter but can we explicitly say that we _add/change_ variable? Maybe `-SetEnvironmentVariable`?

[2019-10-03 17:57] TravisEz13 commented on #10695
This is not using a powerShell docker image, so this is a PowerShell question.

[2019-10-03 18:01] vexx32 commented on #10658
See [here](https://stackoverflow.com/questions/2223882/whats-the-difference-between-utf-8-and-utf-8-without-bom) for lengthy discussions on various reasonings for or against BOM. The general consensus is that it's not worth adding the BOM to UTF8 files.

At the end of the day, we're here now. And while I appreciate it might be an inconvenience to you to have to update your scripts, I don't think o

[2019-10-03 18:16] mklement0 commented on #3316
@johnjelinek: Adding an `-Environment` parameter to `Start-Process` is a _proposal_ at this point.

@FranklinYu:

Even though `Start-Process` too should support passing arbitrary environment variables, as proposed in #4761, it is not a substitute for @lzybkr's proposal:

Aside from being more verbose, `Start-Process`-launched processes aren't connected to PowerShell's output streams, even when you

[2019-10-03 18:28] jhoneill commented on #10658
@vexx32

Joel, you're right. "Default" was a bad choice of name in Windows PowerShell. It doesn't come up with the argument completer, it's not listed in the help.  So people are no longer told about "Default" And if people want the default Ansi code page they can put `1252` or `$ExecutionContext.Host.CurrentCulture.TextInfo.ANSICodePage`

**But** there is undocumented support for "default", which

[2019-10-03 18:36] vexx32 commented on #10658
My personal opinion is (if anything) we should delete the `Default` entry and just document in the parameter help which of the standard options corresponds to the default value in pwsh, perhaps adding a note that it differs from Windows PowerShell.

That way we have a more clear and obvious sign to users coming from Windows PowerShell that this has changed, and we don't have inexplicable failures

[2019-10-03 18:43] vexx32 commented on #3316
Hmm. That would be nice, but I feel like the syntax is a bit obtuse. Maybe something like this?
[code]
That would allow use of multiline syntax quite naturally for less lengthy lines and better readability:

[code]
It also has a direct tie-in to the existing `&` operator for a bit better indication of what's actually happening.

[2019-10-03 19:04] #6768 closed

[2019-10-03 19:12] lzybkr commented on #3316
The hashtable syntax isn't horrible - that's what I ended up with [here](https://gist.github.com/lzybkr/fa46d9d50b801ae9cb66ad2bb65f0ef6) - invoked like:

[code]

[2019-10-03 19:21] jhoneill commented on #10658
I think deleting it is the second best choice. The ideal would be to keep it working but print a warning that it is deprecated, and delete it from a later version.

[2019-10-03 19:24] SteveL-MSFT commented on #10658
@PowerShell/powershell-committee to discuss removing `Default`.

[2019-10-03 19:38] SteveL-MSFT commented on #3316
Would it make sense to simply add a `-Environment @{}` parameter to `Invoke-Command`?

[2019-10-03 19:43] vexx32 commented on #3316
Adding `-Environment` to both Start-Process and Invoke-Command are both good options, I think. 🙂

[2019-10-03 19:58] TravisEz13 commented on #10632
Verified with DotNet that CentOs 8 will be supported.

[2019-10-03 20:12] SteveL-MSFT commented on #6768
@vexx32 I just tried your PR and it improves it quite a bit, but I noticed that in Windows PowerShell, it emits PingReply individually to the pipeline so you get something that looks like:

[code]

However, with your change, all the ping replies are members of a single object:

[code]

Are we not able to get back the Windows PowerShell behavior?

[2019-10-03 20:22] vexx32 commented on #6768
@SteveL-MSFT That object output has not changed from the initial implementation in PS Core; the success output has always had the single object. 🙂

As mentioned in the closing comments of the PR, that is only a partway implementation of the RFC to help simplify reviews. I will be submitting a follow-up shortly. Just have to rebase that branch to remove the now-duplicate commits and submit the rest

[2019-10-03 20:26] SteveL-MSFT commented on #2896
@CarlGustavAlbertDwarfsteinYung WinPS uses a different HTTP client from .NET Framework that could be argued is doing the insecure thing.  .NET Core has a new HTTP client that rejects this and we'd have to code around that.

[2019-10-03 20:44] SteveL-MSFT commented on #10035
This is dupe of https://github.com/PowerShell/PSReadLine/issues/964 so no need to transfer

[2019-10-03 20:44] #10035 closed

[2019-10-03 20:45] CarlGustavAlbertDwarfsteinYung commented on #2896
@SteveL-MSFT  Hi thank you for your reply. As far as i can undestand from what I read the issue is that PS expects a standardized HTTP implementation but in reality there is no standard. This is why Firefox recommends doing 302 only when method changes ie GET to POST or vice versa but not in all other redirect cases. Seems like PS gives a 302 Found for every redirect. The standard added 303 and 30

[2019-10-03 20:46] SteveL-MSFT commented on #10621
Looks like .NET Core team hasn't completed the work to support these distros, they just added the RID.  Given that 3.0 shipped, it's not clear to me yet whether they plan to support them for 3.1 or for .NET 5.  Until it's officially supported, I don't know if it'll make it for PS7.

[2019-10-03 20:47] SteveL-MSFT commented on #9147
Regardless, this appears to be an external issue we can't fix in PowerShell.

[2019-10-03 20:47] #9147 closed

[2019-10-03 20:49] SteveL-MSFT commented on #8869
This seems most likely an issue in .NET Core.  Agree with @iSazonov that a simple C# console app to repro would be ideal.

[2019-10-03 20:53] Skybeat commented on #10658
Why you want discuss a remove? A remove will also break all WinPS scripts.
Why don't go back do the behavior of WinPS because you have allready a value UTF8 for param -Encoding?

Can you please tell me the reason what makes iit so hard for you to let the old behavior from WinPS , in PS Core, as it is in WinPS?
Why is there a strong attempt to change or delete the value "default", which has existed

[2019-10-03 21:02] jhoneill commented on #10658
The alternative to delete is to make that line in  EncodingUtils.cs

` { Default, System.Text.Encoding.GetEncoding(Host.CurrentCulture.TextInfo.ANSICodePage) }, `

This, delete and "no change" are the options the committee should discuss :-)  The choice between breaking change and non-breaking change are as simple as 3 options for one line.

[2019-10-03 21:03] SteveL-MSFT commented on #10690
Looks like this was missed as a (currently) manual step in our release pipeline.  @adityapatwardhan will update it.

[2019-10-03 21:06] AndrewSav commented on #8869
I'm slightly preplexed by these comments. This is an issue that is stabely reproducible in powershell and it does not seem to be reporoducible in a C# console app. Also it does not seem that there is any evidence is given that it is not a Powershell issue.

Could guys please clarify your line of thinking?

[2019-10-03 21:20] SteveL-MSFT commented on #8869
@AndrewSav when PSReadLine is not involved as shown in @rkeithhill's example, pwsh has a simple [ReadLine](https://github.com/PowerShell/PowerShell/blob/bd6fdae73520931f0d27a29d6290e18761772141/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHostUserInterface.cs#L1886) that doesn't do any translation of keys.  It is whatever the .NET API returns.

[2019-10-03 21:24] SteveL-MSFT commented on #10658
@Skybeat the @PowerShell/powershell-committee has already discussed and approved the [RFC on default encoding](https://github.com/PowerShell/PowerShell-RFC/blob/35e0d7cf29a55980a428fd3b115d43b29638faf4/5-Final/RFC0020-DefaultFileEncoding.md).  Looking at it again, it appears we did not implement `$PSDefaultEncoding` where there is a `WindowsLegacy` value that would resolve your issue, but only if

[2019-10-03 21:39] adityapatwardhan commented on #10690
@onovotny thanks for reporting this. `6.2.3` was just released. It should be available shortly. Currently, there are no plans to publish global tool for 7 preview builds.

[2019-10-03 21:39] #10690 closed

[2019-10-03 21:41] onovotny commented on #10690
Thanks. Will the final non-preview build of 7 be published as a tool? (it's a super convenient mechanism that doesn't require admin rights).

[2019-10-03 21:42] adityapatwardhan commented on #10690
Yes, when the final build of PowerShell 7 is released, it will be released as a global tool.

[2019-10-03 21:46] Skybeat commented on #10658
@SteveL-MSFT
thank you for your answer.
Now after you remove the value `default,` will you also document (an example) how user can get back there funktionality as it was in WinPS?
For the parameter -Encoding, there is no value like `OSdefault` (like default was in WinPS).
Can you may also discuss with the comittee, to implement a value like `OSdefault` with the value of default OS encoding ?
What

[2019-10-03 21:58] SteveL-MSFT commented on #10658
I understand this is a pain point, the @PowerShell/powershell-committee will consider different options.  Removing `Default` is just one option.

[2019-10-03 23:00] AndrewSav commented on #8869
@SteveL-MSFT thank you for this. Will I be too far off if I conjecture, that these services (Home, End, Ctr+Arrow ) are not provided by [ReadLine](https://docs.microsoft.com/en-us/dotnet/api/system.console.readline?view=netcore-3.0) itself, but by something else, for example on windows by console host?

[2019-10-04 00:00] #10194 closed

[2019-10-04 00:18] #10562 closed

[2019-10-04 00:37] #9144 closed

[2019-10-04 01:29] AndrewSav commented on #8869
I tested the issue with pwsh 6.2.3 on Windows and Ubuntu Linux 18.04. I also tested it with a simple ReadLine console program. Here are the results.

**pwsh 6.2.3**

|                | Home/End      | Ctrl-Arrows    |
| -------------- | ------------- | ------------- |
| Windows 10     | Works         | Works         |
| Ssh            | Does not work | Does not work |
| gnome-terminal | Works

[2019-10-04 04:25] iSazonov commented on #8869
PowerShell uses ReadConsole P/Invoke on Windows that is power method.
On Unix it emulates a line editor.
Possible fix for local host could be in https://github.com/PowerShell/PowerShell/blob/70a74fbfc891b3b9e8657d314860622cc97b20b8/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHostUserInterface.cs#L1517

Perhaps @PaulHigin  could add more about ssh scenario.

[2019-10-04 06:33] iSazonov commented on #3316
I suggest to discuss the parameters in #4671.

[2019-10-04 08:07] gvcgael opened #10699 "pwsh on debian buster - buffers problem in shell mode"
# Steps to reproduce

Run `pwsh` on Debian Buster (Debian 10) and starts to type commands.

# Expected behavior

pwsh is usable, user can type commands and read outputs.

# Actual behavior

There seems to be a problem with the buffers. Typing commands and running them does not work after the first one. Like if the buffers get unsynchronized with the inputs/outputs of the terminal.

# Environment d

[2019-10-04 11:09] atanasa commented on #9840
It still reproduces with preview 4:
[code]

[2019-10-04 12:04] Art52123103 opened #10700 "My bug report"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-10-04 14:11] #10700 closed

[2019-10-04 17:13] iSazonov commented on #10699
@gvcgael Can you remove PSReadline module ( Remove-Module PSReadline ) and test again?

[2019-10-04 17:49] mertcelen commented on #10194
I want to reopen and discuss this issue. I can understand that ntlm has it's own mechanism to encrypt data but I seriously can't accept the fact that it wouldn't work with SSL. We can use ntlm with ssl in many other libraries, how Microsoft expect us to use powershell inside of linux by simply ignoring the very basic level of security.

[2019-10-04 18:07] iSazonov commented on #10194
@PaulHigin Make sense to continue tracking the issue? Is it real to implement the enhancement?

[2019-10-04 18:23] darthwalsh commented on #9981
@iSazonov is the issue fixed? A few months ago the Windows PowerShell was still having issues, and I don't see any fixes linked.

[2019-10-04 18:39] iSazonov commented on #9981
@darthwalsh It is not a problem with Update-Help code. It is a content issue. You can ask in PowerShell-Doc repo when it will be available.

[2019-10-04 19:59] PaulHigin commented on #10194
NTLM is not fully supported for remoting connections using WinRM/OMI.  AFAIK there are no plans to provide more support for NTLM and instead remoting over SSH is encouraged.

[2019-10-04 20:03] mklement0 commented on #7005
That's a good point, @army1349:

`cp -R a/ b` indeed consistently copies the _contents_ of directory `a` to directory `b`, whether or not `b` previously existed.

Unfortunately, it is too late to introduce this distinction to PowerShell.

[2019-10-04 20:30] SteveL-MSFT commented on #4671
On GitHub, there's a [small amount of usage of -UseNewEnvironment](https://github.com/search?l=PowerShell&q=-usenewenvironment&type=Code).  I believe the intent of this switch is you would start a process from PowerShell as though you just started a new PowerShell process (not from the current PowerShell process).  We just have to evaluate if we would break any existing usage (seems unlikely).

As

[2019-10-04 20:36] mklement0 commented on #7005
@army1349:

Unfortunately, it's too late to introduce such semantics to PowerShell, because it would be a breaking change.

Aside from that:

While `cp -R a/ b` indeed consistently copies the _contents_ of directory `a` to directory `b`, whether or not `b` previously existed:

* it is only _BSD_ `cp` (as also used on macOS) that behaves this way, not the (more common, on all Linux platforms) GNU `

[2019-10-04 20:52] mklement0 commented on #4671
Agreed re intent, @SteveL-MSFT, so if we wanted to fix this feature (and also make it work on Unix), we could cache a copy of the environment-variable block on PowerShell startup (before reading profiles), and use that.

@iSazonov: I agree that `-SetEnvironmentVariable` is more descriptive, but it's a bit unwieldy. I think with proper documentation `-Environment` will do, as Steve says.

`-ClearEn

[2019-10-04 20:56] webczat commented on #10194
note remoting over winrm is far better if you connect linux powershell to windows. no one would probably do remoting over ssh on a windows server.

[2019-10-04 21:10] mklement0 commented on #3316
_Also_ making `Invoke-Command` support `-Environment @{}`, alongside `Start-Process`, as proposed in #4671, sounds like a good idea.

However, at least to me, this proposal is about a syntax that is:

* (a) low on ceremony (terse)

* (b) doesn't require a cmdlet call, i.e. is a _language feature_

`Invoke-Command @{ ... } { ... }` fits neither bill.

@vexx32's proposal definitely meets (b); with r

[2019-10-04 22:56] TravisEz13 opened #10705 "Get-Help -Online goes to PowerShell 5 version of help"
# Steps to reproduce

[code]

# Expected behavior

Should open the help for the current version of PowerShell

# Actual behavior

Opens:  https://docs.microsoft.com/en-us/powershell/module/Microsoft.PowerShell.Core/Get-Command?view=powershell-5.0

# Environment data

[code]

[2019-10-04 23:52] #3647 closed

[2019-10-05 00:00] #10691 closed

[2019-10-05 02:33] mklement0 opened #10707 "Get-Content -ReadCount 0 does not respect -TotalCount"
`Get-Content -ReadCount 0` is a convenient way to request that all lines be read _at once, into an array_ and to have that array be output _as a single_ object to the success stream.
If the intent is to read all lines into memory anyway, this can greatly speed up the command.

`-TotalCount <n>` allows you to limit the overall number of lines to be read from the file to a given number.

It's reason

[2019-10-05 02:40] mklement0 opened #10708 "Invoke-Command -Hostname / -SSHConnection should accept the script block as the (first) positional argument"
When using WinRM-based remoting, the `-ScriptBlock` argument can be passed _positionally_; e.g.:

[code]

Currently, this doesn't work for the equivalent SSH-based remoting commands:

# Steps to reproduce

This assumes that the local machine is set up for SSH-based remoting.

[code]

# Expected behavior

Both tests should pass.

# Actual behavior

Both tests fail as follows:

[code]

That is, posi

[2019-10-05 03:11] mbrousseaufx opened #10709 "New-Object "A" is not equivalent to [A]::new()"
# Steps to reproduce
1. Create a ps1 file
[code]
2. In a new pwsh console, execute the file
[code]

3. In a new pwsh console, execute with a dot source the exact same file
[code]

# Expected behavior
We should have access dynamically to classes defined outside a module even if the class is defined in the scope of the current file
New-Object "A" should be equivalent to [A]::new()

# Actual behavior

[2019-10-05 04:06] mertcelen commented on #10194
@PaulHigin thanks for response. I do want to use ssh over winrm but as stated above, how can we use something on productions while it's barely supported. Afaik, there's still no official support for older server version support for ssh

[2019-10-05 04:32] ralic opened #10711 "Unable to use copy/paste in WSL bash."
I am currently using Windows version 1903.
After installing the Windows PowerShell v6+, the new PowerShell console window does not support Control-V paste after entering WSL(Linux Subsystem) bash.
The original PowerShell console does support bash and hotkey copy/paste.

# Steps to reproduce

1. Installed Powershell using following command
[code]
2. Type bash to enter Ubuntu in windows.
3. Try to *

[2019-10-05 04:52] SteveL-MSFT commented on #3316
The obscure syntax creates a discovery problem.  Interactive, you can use a more terse syntax:

[code]

[2019-10-05 11:09] felixfbecker opened #10712 "Measure-Object should support TimeSpan"
# Summary of the new feature/enhancement

TimeSpans have all arithmetical operators defined on them (addition, subtraction, division, multiplication). However, `Measure-Object` only works on numbers. If you pipe a `TimeSpan` to it, it will error with

[code]

It would be very useful if `Measure-Object` could work on `TimeSpan` objects too. Example use case: Measure the time spent in meetings today

[2019-10-05 15:22] vexx32 opened #10713 "WSL Ubuntu 18.04 powershell-preview package not registering pwsh on PATH"
# Steps to reproduce

Following the instructions from here: https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-6#ubuntu-1804

If you install `powershell` and attempt to execute `pwsh` immediately after, the appplication works flawlessly.

If you install `powershell-preview` in the _exact same way_, the installation completes.. and then

[2019-10-05 16:17] iSazonov commented on #10194
@mertcelen  MSFT stated in docs https://docs.microsoft.com/en-us/powershell/scripting/learn/remoting/ssh-remoting-in-powershell-core?view=powershell-6

MSFT team still hasn't shared publicly their specific plans. I guess because it is security sensitive area and huge work.
You could look #8233 for better understanding the problem. As result you will say that it is not PowerShell but _external_ iss

[2019-10-05 16:33] mertcelen commented on #10194
I see, thanks for explanation. Since I find someone experienced to talk with, what would you recommend to use it in production servers while keeping it secure. Ssh is superior and secure way to communicate but it's not quite there at windows servers, winrm over ntlm is I guess ok, but it has lack of security (as in bruteforce attacks).

[2019-10-05 16:48] RichardSiddaway commented on #10194
@webczat one scenario where remoting over SSH is very viable is where you're accessing non-domain machines, Setting up and using SSH may be easier than using certificate based remoting

[2019-10-05 17:44] Caraket opened #10714 "Feature Request"
# Summary of the new feature/enhancement

# Proposed technical implementation details (optional)

[2019-10-05 17:48] iSazonov commented on #4671
I think really we need three operation:
1. ClearEnvironment [optional hash with new variables to set]
2. RemoveEnvironment <mandatory string array with names to remove>
3. SetEnvironment <mandatory hash with variables to add/update to current environment>

UseNewEnvironment we could deprecate and hide.

[2019-10-05 18:13] iSazonov commented on #10194
@mertcelen If we are talking about business, today I would not force and use what works well.
As for ntlm (NTLM2 only!) you must use complex passwords and strongly protect management by firewall.

[2019-10-05 18:37] mklement0 commented on #4671
I don't think there is a need for this complexity:

Re 1 and 2:

You rarely want to start with _no environment variables at all_ - you'll wipe out vital _OS_-defined variables too (which is the current problem on Unix-like platforms).

It is far more common to _build on_ an existing environment,  either:

* the current one

* "pristine" one, without any in-session changes, but with the usual OS-de

[2019-10-05 21:49] kborowinski opened #10716 "ConciseView for $ErrorView does not work in StrictMode"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-10-05 23:19] KirkMunro opened #10717 "The ternary operator should support inline comments but not blank lines"
# Steps to reproduce

[code]

# Expected behavior

A parser error should be raised. Comments should be supported, but there is no need to allow blank lines in ternary. That just opens the door for sloppy code.

# Actual behavior

[code]

# Environment data

[code]

[2019-10-06 02:33] mgeorgebrown89 opened #10718 "Feature Request: IgnoreNullProperties switch on ConvertTo-Json"
# Summary of the new feature/enhancement

Many REST API that consume JSON don't except null values, and sometimes when dealing with PowerShell objects this is easier said than done, especially if you're using pre-build .NET stuff. It would be nice if there was a switch parameter on the cmdlet to ignore properties with null values in the JSON string output.

# Proposed technical implementation deta

[2019-10-06 04:28] Twilightlee opened #10719 "Every interactive action, console window will change window size then restore."
**### And render text twice with different font.**

Windows PowerShell Core v6.2.2.0 running under windows 10 64bit

I set console window font to **Consolas 18**

When I type **help** in powershell console window, it's show text like snapshot below:

![p1](https://user-images.githubusercontent.com/8230703/66264224-ef766280-e833-11e9-94bc-6728c60e3199.png)

Then  I pressed **Ctrl-C** , it's show te

[2019-10-06 05:48] akamch commented on #10713
Try running  `pwsh-preview`, this allows PowerShell 6 and 7 preview to be installed side by side. This is something that could be documented more prominently, right now `pwsh-preview` is mentioned only in [Installation via Snap](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-7#installation-via-snap) section.

[2019-10-06 09:26] vexx32 commented on #10713
That was it! Thanks! 😊

[2019-10-06 09:26] #10713 closed

[2019-10-06 13:58] thorian93 commented on #10060
Any update on this?
Kind of waiting for it.

[2019-10-06 14:02] 1RedOne commented on #2282
The tldr is that windows certificate services served a role in authenticating the connection when a cert expired but a new one was valid for the devices involved.

Powershell should still be updated to udoate the cert thumbprint used, if it hasn't already been done. This would be a change for pwsh 6 though

[2019-10-06 17:55] rkeithhill commented on #10717
But PowerShell is a "whitespace insignificant" language (unlike Python), well, except for newlines.  Someone could do the following too and like you, I would not recommend that folks use this style:
[code]
But I would not go so far as to want to change the language's whitespace handling.  This is why we have style guidelines and tools like PSScriptAnalyzer to help folks enforce their chosen style.

[2019-10-06 19:26] vexx32 commented on #10717
I think @KirkMunro is coming from the perspective of:

1. This is an operator
2. All existing operators do not permit entire blank lines between their output (try `5 + <enter><enter>`; a parsing exception is raised)
3. Therefore, this operator should behave the same way existing operators do.

That said, if this operator _did_ allow comment-only lines in the midst of the arguments, it would also b

[2019-10-06 19:49] rkeithhill commented on #10717
??
![image](https://user-images.githubusercontent.com/5177512/66274845-c956bf80-e83f-11e9-95b7-05ce3e6ddc18.png)

Or put this in a ps1 file and run it:
[code]
Runs just fine.

[2019-10-06 19:56] vexx32 commented on #10717
_Very_ interesting.

What are you running on in terms of PSReadline version, PS version, and OS?

W10, PSReadLine 2.0.0-beta5, and pwsh7-preview4 that doesn't work in VS Code or the Windows Terminal.... very odd. Though I do see it work from a file and from the default PowerShell terminal.

OK, gonna chalk that up to a PSReadline bug. Objection withdrawn!

[2019-10-06 20:15] rkeithhill commented on #10717
Well ... this is a trick/workaround that I discovered a while back.  Start your command with `@'` then edit the following lines as desired. Before executing, get rid of the `@'` e.g.:
When you start the multiline command:
[code]
Then right before executing:
[code]

[2019-10-06 20:19] vexx32 commented on #10717
Interesting. Filed issue on PSRL to see if we can get to the bottom of it one way or another: https://github.com/PowerShell/PSReadLine/issues/1088

Thanks for the workaround!

[2019-10-06 23:02] Jaykul commented on #3091
So is this being addressed in 7, or are we just going to keep ignoring the problem?

[2019-10-06 23:05] vexx32 commented on #3091
🙏 I know it's not an easy problem, but it would make working with xplat native APIs _significantly_ easier if we can get this resolved. GraphicalTools has probably run into this problem at least a handful of times, I'd wager, and the workarounds aren't particularly pretty.

[2019-10-06 23:18] rjmholt opened #10722 "Add a .NET API to add native completers"
# Summary of the new feature/enhancement

Currently there are ways to register a scriptblock as a completer with `Register-ArgumentCompleter`, and on cmdlets it's possible to use the `[ArgumentCompleter()]` attribute to specify an `IArgumentCompleter` for a parameter. But there's no way to specify a completer for an ordinary command that I know of that doesn't involve executing a scriptblock.

By

[2019-10-06 23:23] KirkMunro commented on #10717
@rkeithhill: By inline comments, I meant regular comments like you showed in your example. I expect those to work when I wrap commands or statements.

For the blank lines though, just because existing keywords and operators allow blank lines (which IMHO they shoud never have in the first place) doesn't mean (to me at least) that new syntax should continue to persist such things when they serve no

[2019-10-07 04:46] vexx32 commented on #10714
Closing this for now as you've not provided any details of what your request is. Please feel free to update the issue description and request this be reopened if you have a request to make. 😊

[2019-10-07 04:46] #10714 closed

[2019-10-07 05:34] simlei opened #10723 "Control+PageUp is not send correctly to the underlying shell/application"
While tryijng out how good the VIM experience would be with PS Core, I stumbled upon a crucial key binding (Ctrl+PageUp for switching between tabs) that didnt work.

# Steps to reproduce

[code]

# Expected behavior
The Control+PageUp should be sent to the terminal in a way any X-Term recognizes it. Especially VIM bindings should work with it.

[code]

# Actual behavior

Result of the previous wal

[2019-10-07 05:35] iSazonov commented on #4671
Historically environment variables is manipulated by one "Set" operation, even in C# API https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentvariable?view=netframework-4.8#System_Environment_SetEnvironmentVariable_System_String_System_String_
But a question is can we get PowerShell magic benefits having explicit operations like *-Variables?
[code]
Earlier we actively discu

[2019-10-07 10:06] iSazonov commented on #10718
It would be as simple as:
[code]

[2019-10-07 10:52] iSazonov commented on #10712
Possible ways:
1. Implement specific code path for TimeSpan. But there would be other types with full arithmetic operations which we would want support. Also it duplicates code.
2. Use `dynamic` type. This can noticeably slow down the code.
3. Use Expression.Lambda. It seems not so easy to implement.

[2019-10-07 10:58] iSazonov commented on #10711
/cc @SteveL-MSFT @daxian-dbw for information. Maybe PSReadline issue.

[2019-10-07 11:08] iSazonov commented on #10709
@rjmholt Does this duplicate anything in #6652?

[2019-10-07 11:17] mbrousseaufx commented on #10709
I don't see my specific case in #6652, but I think it can be added to his list

[2019-10-07 11:43] iSazonov commented on #10707
Does `-TotalCount 3 -ReadCount 2` work well?

[2019-10-07 11:48] iSazonov commented on #10709
I can not find but we discussed such scenario. Perhaps it is not reffenced in #6652

[2019-10-07 11:50] iSazonov commented on #10683
Is there a workaround?

[2019-10-07 11:55] iSazonov commented on #10682
Which version?

Does it work on Linux?

[2019-10-07 13:06] SeeminglyScience commented on #10722
I'd love to see more ways of extending completion!  One of the biggest things that's always stopped me from working on anything to extend general completion is that it's all or nothing.  If you override `TabExpansion2`, then anyone else trying to do the same will completely override you.  I'd love to see something like an interface that can be registered in the engine to incrementally augment comp

[2019-10-07 13:15] mklement0 commented on #10707
Good question - yes, it does; I've added that fact to the OP.

[2019-10-07 13:25] mklement0 commented on #10683
@iSazonov: Not in terms of native globbing, as far as I can tell, but you can do the following:

[code]

[2019-10-07 13:42] mklement0 commented on #10682
The version is stated in the OP, and I originally thought it affects macOS only - but (a) that isn't true and (b) the problem is much more specific - please see the updated title and OP.

[2019-10-07 13:51] mklement0 commented on #10682
Never mind: I just realized that all backslash-escaped woes are covered in #9244, though I'll add a note there about this specific scenario.

[2019-10-07 13:51] #10682 closed

[2019-10-07 14:49] gvcgael commented on #10699
Ok, it seems that the problems comes from my setup.

I connect from Git bash via SSH to my Debian buster VM. In this case, I get these buffers problem.

Using directly the console, powershell behaviour is ok.

Any idea what could be the cause ?

[2019-10-07 17:05] iSazonov commented on #10699
I guess the scenario was never tested.
At first we should check that C# API works right in the scenario. You could create simple C# application and check that Console.ReadKey() and Readline() methods work well.

[2019-10-07 17:07] iSazonov commented on #10707
In the case we have a bug. Simple for hacktoberfest.

[2019-10-07 17:09] iSazonov commented on #10683
It seems a dup #10675.

[2019-10-07 17:37] TravisEz13 commented on #10060
@thorian93 status is above.  Only thing left is updating the documentation.

[2019-10-07 18:45] mklement0 commented on #10683
It's not a duplicate, because the linked issue relates to resolving PS-drive-based paths to native paths, which (would also apply to Windows), whereas this issue is related to the (Unix-only) native-globbing feature.

[2019-10-07 19:06] #9807 closed

[2019-10-07 19:15] mklement0 commented on #4671
The `*-Variable` cmdlets are narrowly focused on _shell_ variables (PowerShell's own, in-session only variables).

However, extending the `Environment` PS provider to also support managing _persisted_ environment variables, at least on Windows, makes perfect sense to me, and it is what I've proposed [here](https://github.com/PowerShell/PowerShell-RFC/pull/92#issuecomment-429464051).

I don't see a

[2019-10-07 23:57] KirkMunro opened #10726 "Make Select-String more intelligent for non-primitive types"
# Summary of the new feature/enhancement

As a user,
I want to be able to easily use `Select-String` to find string data in formatted output,
so that I can find and process data in PowerShell more quickly.

By default, when you pass non-string data into the `Select-String` cmdlet, it will find matches based on the object's `ToString()` method results. This is great when the `ToString` output actua

[2019-10-08 04:16] jiasli opened #10729 "With variable assignment, PowerShell can’t reset color when colored message appears in stderr"
# Steps to reproduce

Write a Python script color.py using [colorama](https://github.com/tartley/colorama):

[code]
Run in VS Code PowerShell terminal (this also happens with PowerShell's default terminal):
[code]

# Expected behavior

Color is reset correctly.

# Actual behavior

Without variable assignment, it works as expected. But with `$a=`, PowerShell can’t reset its color and the color is s

[2019-10-08 05:14] iSazonov commented on #10683
Really the resolving is executed by the same LocalGlobbig code. So technically it is one issue.

[2019-10-08 05:27] iSazonov commented on #4671
Interesting, has Windows or Unix an API to directly implement the scenario? (I mean this is too unbelievable scenario)

[2019-10-08 05:47] thorian93 commented on #10060
@TravisEz13 Thanks for the quick answer! So if I use this repo (https://packages.microsoft.com/config/rhel/7/prod.repo), following the official docs for Fedora (https://docs.microsoft.com/en-gb/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-6#fedora) it should work already?
And if not that would be a separate issue to troubleshoot and not a general OS support topi

[2019-10-08 06:58] iSazonov commented on #10726
From examples above it is not clear that is desired output. Can we get it with a workaround like Out-String or anything like?

[2019-10-08 12:54] mklement0 commented on #10683
I see: it happens to be technically related rather than a duplicate.

[2019-10-08 13:17] mklement0 commented on #4671
Windows has `Start-Process -UseNewEnvironment` :) - though it is partially broken, as I've pointed out. However, I've always understood the _intent_ of that feature to be what I've proposed.

Unix has the `env` utility with the `-i` option (ignore the inherited environment, and only define the variables passed as the other arguments);

On closer examination, however, this appears to be more like a

[2019-10-08 13:20] SeeminglyScience commented on #10712
That might not be that bad actually.  Most of the logic for that is already in [Where-Object](https://github.com/PowerShell/PowerShell/blob/c08c7e4714e6822029f8741c3121bb9e1c4fd2b3/src/System.Management.Automation/engine/InternalCommands.cs#L1963-L1967). All that should be needed to do is replace the expression type parameter with a hard coded `ExpressionType.Add` value and use that delegate when

[2019-10-08 13:54] mklement0 commented on #10726
I both love the idea and agree that it should have been the default behavior.

@iSazonov, I think of it as the equivalent of piping to `Out-String -Stream` first, and then performing the usual line-by-line search.

In fact, in my profile I have the following _simple_ function:

[code]

Example use, in a directory that has files / directories that are symlinks, such as `/` on macOS:

[code]

That i

[2019-10-08 13:58] nkhine commented on #5274
I also have this error:

[code]

any news on this?

[2019-10-08 14:03] gvcgael commented on #10699
Ok, it seems that I was wrong. It comes from the fact that I run git bash on Visual Studio Code.

Outside of studio code, it behaves properly. So it seems to come from the terminal integrated in VSC.

[2019-10-08 14:06] vexx32 commented on #10726
I wonder if we could do a simple check... Something like:
[code]
That way we only have the object being resolved this way if there are no other conversion paths available.

[2019-10-08 14:14] mklement0 commented on #10726
To get straight to bike-shedding regarding what to name the new switch:

We already have switches that modify _output_ behavior with prefix `As`, such as `-AsHashtable` and `-AsString` for `Group-Object`.

As for _input_ treatment, the only instance I could find that _somewhat_ fits is `Copy-Item`'s `-FromSession`

`From` as the prefix strikes me as reusable, so  perhaps `-FromDisplay` [representa

[2019-10-08 14:15] mklement0 commented on #10726
@vexx32: That test isn't sufficient, I'm afraid, because there are cases with different `.ToString()` behavior that is still distinct from PowerShell's output formatting; e.g., on _Windows_:

[code]

[2019-10-08 14:26] iSazonov commented on #10699
@TylerLeonhardt In which repository should we track this?

[2019-10-08 14:48] KirkMunro commented on #10726
Maybe. That might just be another source for confusion though since the way an object renders as string is 100% dependent on how the author decided to implement it, and there's really no model for consistency there.

I'd just like to see it work this way by default. `Select-String` is often associated with `grep`, but users of `grep` expect to select information that they would see in a console if

[2019-10-08 15:12] mklement0 commented on #4671
@iSazonov: Well, I think it radically clears the environment, though I believe that to be _accidental_ behavior (the current attempts to read persisted env.-var definitions are quiet no-ops on Unix-like platforms, as explained [above](https://github.com/PowerShell/PowerShell/issues/4671#issuecomment-429376491)). similar to `env -i`.

However, there's more going on, because `env -i bash --norc` res

[2019-10-08 15:16] vexx32 commented on #10726
That's a good point... Yeah, I can't really see any reason I'd pipe complex objects into `Select-String` without `Out-String` at present. 🤔

[2019-10-08 15:23] doctordns opened #10730 "Resolve-Error -Last 2 => says the error is in Resolve-AZerror"
If you run the new Resolve-Error, and erroneously use "-Last 2", you get an error which incorrectly identifies the cmdlet as Resolve-AZError

# Steps to reproduce

1. Download Daily build 7.0.0-daily.20191008
2, Type The following

[code]
I would have expected to see the cmdlet with the error to be identified as Resolve-Error..

# Actual behavior

[code]

# Environment data

[code]

[2019-10-08 15:33] doctordns opened #10731 "First Time Resolve-Error is used in a session, it displays HistoryID as -1"
If you enter a new PowerShell Session (Using lastest daily build), create an error, then use Resolve-Error, Resolve-Error incorrectly shows historyid as -1

# Steps to reproduce

[code]

# Expected behavior

I would have epected the HistoryID shown to be valid, not -1.`

# Actual behavior

[code]

# Environment data

[code]

[2019-10-08 15:35] SeeminglyScience opened #10732 "$PSCmdlet.WriteObject unwraps PSObjects when called from PowerShell"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

# Notes

Because the argument for `WriteObject` is typed as `object` instead of `psobject`, the binder unwraps the string.  This is typically by design, but may not be desirable in this instance.

As a workaround, you can replace `$PSCmdlet.WriteObject($a, $false)` with `,$a`.

[2019-10-08 15:51] alexandair commented on #10730
Az.Accounts module has the Resolve-AzError cmdlet and **its alias Resolve-Error**.

[2019-10-08 15:52] johnwc opened #10733 "WriteError overwrites InvocationInfo"
We have custom cmdlets that call other cmdlets and scripts. Sometimes these other cmdlets return errors in the Error stream(`PowerShell.Streams.Error`). Since the `PowerShell` class does not write the errors to the host/console, we write the ErrorRecords located in the stream out to WriteError. When doing so, the console shows our cmdlet name as the source instead of the original that is already i

[2019-10-08 15:55] TylerLeonhardt commented on #10699
@gvcgael are you using the "PowerShell Integrated Console" that is exposed via the PowerShell extension for VSCode?

Or are you using VSCode's integrated terminal which is just running pwsh/powershell?

You can tell by looking at the little drop down at the top right of the terminal pane.

[2019-10-08 16:05] #10731 closed

[2019-10-08 16:19] SteveL-MSFT commented on #10730
Unfortunately, the Az module has `Resolve-Error` alias.  Maybe that is a good reason to avoid `Resolve-ErrorRecord`, however, we did take `rve` alias :)   cc @theJasonHelmick

[2019-10-08 16:19] #10730 closed

[2019-10-08 16:23] doctordns commented on #10730
So my bad!

But I do prefer the name is Format-ErrorRecord

[2019-10-08 16:56] SteveL-MSFT commented on #2296
Let me look into this a bit

[2019-10-08 17:24] SteveL-MSFT commented on #2296
The reason it was missing previously is that it relied on the old WMI .NET APIs which didn't exist in .NET Core 2.x.  However, they are back so we can re-enable this cmdlet with some small changes.  Working on a PR.

[2019-10-08 17:39] TravisEz13 commented on #10060
I updated the docs yesterday.  There were no changes to the docs, we **have** tested this.

[2019-10-08 17:40] TravisEz13 commented on #10060
https://github.com/MicrosoftDocs/PowerShell-Docs/pull/4903

[2019-10-08 17:40] #10060 closed

[2019-10-08 17:41] TravisEz13 commented on #10255
Docs were updated here:
https://github.com/MicrosoftDocs/PowerShell-Docs/pull/4903

[2019-10-08 17:41] #10255 closed

[2019-10-08 17:42] TravisEz13 commented on #10059
https://github.com/MicrosoftDocs/PowerShell-Docs/pull/4903

[2019-10-08 17:42] #10059 closed

[2019-10-08 18:32] Kriegel opened #10735 "Add an overload to System.Management.Automation.Cmdlet.WriteError that accepts an System.Exception"
During the runtime of a advanced Function the function developer may use .NET classes which produce .NET exceptions.

To rethrow an Exception in an advanced Function we can use Write-Error, Throw or $PSCmdlet.WriteError().

To set the advanced Function as origin of the Error AND to make the .NET Exception an ErrorRecord Object $PSCmdlet.WriteError() is the best candidate.

currently the user has t

[2019-10-08 18:40] vexx32 commented on #10735
As far as I know, the only time you'll get a raw exception is if there's a _parse_ error in the PowerShell script itself; i.e., PowerShell's own language parser throws the exception. In _most_ cases this won't surface, but if it does I believe ParseExceptions have an `ErrorRecord` property that you can make use of for a bit of an easier time with this kind of case. 🙂

Do you know of any reproducib

[2019-10-08 19:04] SteveL-MSFT commented on #2296
So I got it working on my Win10 machine, however it doesn't return anything.  This cmdlet basically wraps the WMI query: select * from Win32_QuickFixEngineering, which also doesn't return anything on my Win10 machine when used directly outside of PowerShell.

[2019-10-08 19:14] tnieto88 commented on #2296
@SteveL-MSFT  that's strange, I can run a `Get-CimInstance` and get values returned on my Win10 machine on PS 6.2.2 and 7-preview4.

[code]

[2019-10-08 19:29] vexx32 commented on #2296
@tnieto88 the key part is:

In other words, somehow this WMI/CIM class only exists inside PowerShell. `wmic` also can't find it either.

That's a first for me, @SteveL-MSFT, has this sort of thing been done before? 😕

[2019-10-08 19:32] tnieto88 commented on #2296
@vexx32 would it be possible to rewrite it to be a cdxml instead of a binary cmdlet?

[2019-10-08 19:39] Kriegel opened #10737 "Add Userdriven Event Logging capability to PowerShell"
PowerShell has the Verbose, Warning, Error, Information and Debug Streams.

This Streams are only available for Logging puposes over redirection (see: [about_redirection](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_redirection?view=powershell-6)).

We can merge the streams into the success stream and distinguish between the origin streams by the data ty

[2019-10-08 19:49] SteveL-MSFT commented on #2296
@tnieto88 let me create a Win10 VM that isn't domain joined in case something is happening there to try it.  I don't think it makes sense to rewrite it.  The code is pretty simple, just need a system that has instances of that class to test against.

[2019-10-08 19:50] RichardSiddaway commented on #2296
But the class is included in the standard WMI class documentation - https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering

I've got a script from the Windows 2000 Scripting Guide that uses Win32_QickFixengineering class via VBScript so it should be accessible outside of PowerShell

In theory it would be possible to produce a CDXML wrapper for the class. I can experi

[2019-10-08 19:53] SteveL-MSFT commented on #2296
It's certainly possible to wrap it in CDXML.  Feel free to experiment!

[2019-10-08 20:02] Kriegel commented on #10735
Currently i have no Example. I will dig into.

If you execute the following Example you will see that the InvocationInfo is not set to the advanced function. The properties "MyCommand" and "InvocationName" of the InvocationInfo are Empty !

To set the InvocationInfo to $PSCmdlet.MyInvocation is one part of me suggestion.

[code]

[2019-10-08 20:09] SteveL-MSFT commented on #2296
On my Win7 VM, the cmdlet works, so I'll add some conditional tests if Win32_QFE returns any instances then submit a PR.

[2019-10-08 20:16] vexx32 commented on #10735
I was actually under the impression that was already done, interesting. In most cases I've seen, I'm pretty sure the InvocationInfo / MyCommand information is set when you call `$PSCmdlet.WriteError()`
😕

[2019-10-08 20:25] SteveL-MSFT commented on #2296
To be clear, this is only re-enabling the cmdlet on Windows.

[2019-10-08 20:30] Kriegel commented on #10735
There is a very lenghtly article in [PowerShell Magazin to create Cusom ErrorRecords](https://www.powershellmagazine.com/2011/09/14/custom-errors/)
I think PowerShell schould do the heavy lifting for the user.

this will fail:
[code]
even in this blog post the User must create an custom ErrorRecord before using the ThrowTerminatingError() Method ;-)
[https://vexx32.github.io/2019/01/31/PowerShell-

[2019-10-08 20:34] mklement0 opened #10739 "Write-Error should use positional binding to -ErrorRecord and -Exception"
When using the parameter sets selected by `-ErrorRecord` / `-Exception` of `Write-Error`, it makes sense to bind (the first) _positional_ argument of types (derived from) `System.Management.Automation.ErrorRecord` / `System.Exception` to those parameters.

Currently, that doesn't happen, because these parameters lack the `Position=0` attribute field in their `Parameter attributes.

The result is t

[2019-10-08 20:37] vexx32 commented on #10739
Does this interfere at all with binding `Write-Error "message"` positionally? I don't think it should, just want to confirm 🙂

[2019-10-08 20:48] mklement0 commented on #10739
Good question, @vexx32  - yes, that still works; I've added tests to the OP to confirm that.

[2019-10-08 21:13] johnwc commented on #10733
@vexx32 Your statement contradicts itself, as I stated the source of the error is not my cmdlet. The source of the error, is already applied in the ErrorRecord.

@SteveL-MSFT this is not resolved. The current method does not allow for a cmdlet to show the error's real source.

[2019-10-08 21:14] #10716 closed

[2019-10-08 21:22] vexx32 commented on #10739
Excellent! This seems like a minor enhancement-type change. Marking it for Hacktoberfest. 😁

[2019-10-08 21:54] johnwc commented on #10733
Also to note. If a ps1 script calls a cmdlet, and the cmdlet errors, then the error writen to the console is sourced as the cmdlet, not the ps1 script or function.

[2019-10-08 22:18] vexx32 commented on #10733
Correct; usually because the script does not itself call `$PSCmdlet.WriteError()`.

My understanding is: `$PSCmdlet.WriteError()` **deliberately** overwrites `InvocationInfo` so as to allow script cmdlets to more closely mimic compiled cmdlets written in C# or another .NET language. It is generally undesirable from a module author's perspective to issue to an end-user an error that exposes interna

[2019-10-08 22:52] #10360 closed

[2019-10-08 23:07] daxian-dbw commented on #10711
After `bash` starts up, you are in `bash` and `pwsh` won't handle your key input anymore. The hotkey not working means bash don't support them.

[2019-10-08 23:59] daxian-dbw commented on #7243
@he852100 We need the repro steps and the environment data for the reported issue. I cannot reproduce this with `pwsh` 7.0.0-preview.4

![edit](https://user-images.githubusercontent.com/127450/66441683-cbaa4c80-e9ec-11e9-899e-7ad347c6eef7.gif)

For the environment data, run the following script and copy/paste the output here.
[code]

[2019-10-09 00:15] johnwc commented on #10733
Correct, a script or a function would call Write-Error. Which is the equivalent to a cmdlet's WriteError().

You are missing what I am getting at, we are not calling some internal cmdlet that is throwing an error that a end-user can't understand. We are calling a AWS PowerShell cmdlet that is throwing a error, the invocationinfo for the error is correctly pointing at the real source of the error w

[2019-10-09 01:42] vexx32 commented on #10733
"script cmdlet" is a name used by some folks in the community for a function that has the `[CmdletBinding()]` attribute applied, as that changes how it behaves significantly, even down to the level of how PowerShell's internals handle the code.

I'm pretty sure I understand what you're saying. What I'm saying is that in most cases, module authors do not want the end user being handed an error obje

[2019-10-09 01:55] lpraz commented on #10718
I've been taking a look at this, and it doesn't seem like setting the NullValueHandling alone catches all nulls. For example, the following:
[code]
serializes to:
[code]

I'm not sure if there's a bug in what I've written so far, or if LanguagePrimitives.IsNullLike should be involved somehow? Is there some other way of checking for $null (and others) that should be used by cmdlets?

[2019-10-09 02:29] SteveL-MSFT opened #10741 "Feature: Register-OutputParser"
# Summary of the new feature/enhancement

The concept is the ability to register a scriptblock for a specific native command to allow the scriptblock to parse the output and return objects.  A format.ps1xml would be optionally registered as a parameter to get nice formatting.

The assumption is that in most cases, if the parser is registered then the default is to use it so that objects are return

[2019-10-09 03:02] johnwc commented on #10733
Yes, you are very much missing it. You're confusing internal exceptions with valid PS ErrorRecords… I'm not talking about showing exceptions thrown in code... I'm referring to showing PS errors from other cmdlets/functions that surfaced up to the cmdlet. Those are **NOT** to be hidden, if they were then they would be hidden when they surfaced from within a PS1 function. Those are also not to be hi

[2019-10-09 03:38] vexx32 commented on #10733
Nope, I got it. I just have a different opinion on what's important for the end user to see. Most end users of a module don't really care if there's a command three levels deep in a script module that caused an error.

Unless it's an error in the module's own code (which, to be sure, can and does happen), most of those errors will be caused by the user's own input. To that end, the fact that the a

[2019-10-09 04:02] johnwc commented on #10733
You just gave the exact reason why this is a bug... "most of those errors will be caused by the user's own input." If the user does not know what caused the error or what command caused it, then they will not have any idea of where to begin to look at what to fix with THIER input. They will never be able to figure out your step 3 if they don't get to see the actual cmdlet's name that created the E

[2019-10-09 04:20] SteveL-MSFT commented on #10617
Oops, dupe of myself https://github.com/PowerShell/PowerShell/issues/10675

[2019-10-09 04:20] #10617 closed

[2019-10-09 04:26] SteveL-MSFT commented on #1995
Another example where args aren't being parsed correctly:

[code]

In this case, az gets `myargs` and `b` is attempted to be executed as a new command.

Workaround is: az --% "myargs&b"

[2019-10-09 04:45] iSazonov commented on #4671
This code is This code is somewhat confusing (in CoreFX too) 😕

This works in WSL (may be useful for tests):
[code]

[2019-10-09 05:44] iSazonov commented on #4671
We need to take in account #6489 Again slow down :-(
If we look Process.ProcessStartInfo.Environment - it force us to copy Dictionary and it again slow down.

This is not so important to start a process but it can be sensitive for startup scenario.

[2019-10-09 06:46] iSazonov commented on #10741
I prefer an approach like PSMore using wrappers based on classes that is more flexible, extendable and faster. Also this allow us to have universal code without many hooks/workarounds for
for every special case. With the approach we could cover most of scenarios like:
- encoding for input and output
- completors for parameters and arguments
- output formatting
- ...

[code]

In the case, we'd need

[2019-10-09 07:19] #7243 closed

[2019-10-09 07:34] iSazonov commented on #7243
@he852100 Could you please add a comment why the issue closed? Fixed in 7.0.0-preview.4? Fixed in latest PSReadline?

[2019-10-09 07:36] mklement0 commented on #4671
As for the test command: You're missing `-c`, and it's better to also suppress loading of `.bashrc` with  `--norc`; `set` shows you a _mix_ of shell-only and environment variables, so it's better to use `export`; thus:

[code]

If you're experimenting with passing _multiple_ commands to `-c`, remember the `Start-Process` bug with respect to spaces (#5576), so embedded quoting is needed:

[code]

[2019-10-09 07:48] mklement0 commented on #4671
Also, I don't think we need to worry about #6489 for simply making a copy of the startup environment.

As for the dictionary: are you referring to `[environment]::GetEnvironmentVariables()`? `[System.Diagnostics.Process]::GetCurrentProcess().StartInfo` is `$null` in a PowerShell session.

What `[environment]::GetEnvironmentVariables()` returns already _is_ a copy of the environment, returned as a

[2019-10-09 09:47] iSazonov commented on #4671
Perhaps we can catch a problem if original set contains duplicate variables: we have to set them one-by-one and last will win. Although we use P/Invoke on Windows and this could allow to get around this.

It is not property in Process object. So we can use only [environment]::GetEnvironmentVariables().

It does not work for me on WSL. Folow works:
`Start-Process  -UseNewEnvironment  -ArgumentList

[2019-10-09 10:12] iSazonov commented on #10722
I hope we combine this in one engine with #10741.

[2019-10-09 10:18] iSazonov commented on #10723
I think it is the same https://github.com/PowerShell/PowerShell/issues/10711#issuecomment-539741099

[2019-10-09 10:26] marcinsmialek opened #10742 "Some of the accented AltGr characters don't work - Polish (Programmers) keyboard layout"
# Steps to reproduce

- Set keyboard to Polish (Programmers)
- Launch PowerShell (6.2.3 or 5.1) as stand-alone, or in Windows Terminal
- Type:
[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]
My main machine runs Windows 1909 (with Windows Terminal 0.5.2762.0), but I also tested it on Windows 1903, with both PowerShell 5.1, and Core 6.2.3. The results were

[2019-10-09 10:42] vexx32 commented on #10733
Then let's work with specifics. I'm not trying to muddy the waters, you appear to be misunderstanding what I mean. Not every ErrorRecord will necessarily be created for the purpose of the user being shown it directly, though that is a common reason to create one.

Can you give **specific examples** of what you mean so as to clarify the issue?

[2019-10-09 12:47] gvcgael commented on #10699
Hello,

I'm using VSCode Git bash integrated terminal, from which I connect to the VM where I run pwsh.

[2019-10-09 12:55] SeeminglyScience commented on #10735
@Kriegel in that example, what would the error ID, category and target object be?

[2019-10-09 13:17] mklement0 commented on #4671
Yes, `printenv` is also preinstalled on macOS (it isn't a POSIX-mandated utility, however), so this should work; I'm baffled that `export` wouldn't work, though, given that it is a Bash _builtin_ (an internal command).

[2019-10-09 13:25] SeeminglyScience commented on #10741
How would this affect a tool already using one of these applications directly? I know you mentioned a way to selectively disable that, but if it's not opt-in that could be problematic.

Can you speak a little about the advantages this has over defining a function of the same name?

[2019-10-09 13:45] mkht opened #10743 "PowerShell recreates the inaccessible folder immediately after removed it"
After running Get-ChildItem with Select-Object on a folder, I noticed that deleting that folder would recreate the inaccessible folder.

# Steps to reproduce
This is a sample script to reproduce the issue.
[code]

# Expected behavior
The folder `C:\j\k` is removed. and PS throws `ItemNotFoundException`

# Actual behavior
The PS throws `UnauthorizedAccessException`.
And The folder `C:\j\k` is remai

[2019-10-09 13:59] mklement0 commented on #4671
I just discovered the `cmd.exe`-internal `start` command's `/I` switch, which was presumably the model for PowerShell's `-UseNewEnvironment` switch (in intent, not in effect, due to the flawed current implementation); from `start /?` (lightly edited):

                to the cmd.exe and not the current environment.

[2019-10-09 14:01] SQLvariant opened #10744 "Feature Request: In the installer, tell me which app is hosting PowerShell process which is open"
When installing PowerShell Core on Windows, there is a screen that stops you if it detects pwsh running.  The problem is that it doesn't tell you which app/program is hosting that pwsh process.  It could be the new Windows Terminal, VS Code, Azure Data Studio, heck even SQL Server / SQL Agent could have kicked off a pwsh process.  Please give me more info about what I need to close.

[2019-10-09 14:14] Kriegel commented on #10735
@ SeeminglyScience

You can answer your question by yourself, If you run the following Code you will see what is inside
[code]

$PSCmdlet.WriteError() should have overloads to fill out even this Properties.
Like i said a very similar Interface like the Write-Error Cmdlet archived with overloads.

Fully overloads in pseudo-code may look like so:
[code]

Ideally the User can even control which Invoc

[2019-10-09 14:17] tnieto88 commented on #10739
I'll work on this one.

[2019-10-09 14:20] iSazonov commented on #4671
@mklement0 Thanks! I pulled PR - please review.

[2019-10-09 14:23] iSazonov commented on #10741
@SeeminglyScience See #7857 for history and motivations.

[2019-10-09 14:31] SeeminglyScience commented on #10735
Yeah I know, the point I was trying (poorly) to make was that those details are lost (or rather replaced with meaningless defaults).  If such an overload was added, it could lead to a significant amount of first time binary module writers skipping all of those details completely.

In general my opinion is that if you want to emit a "proper" error (one that reflects the users context) then those de

[2019-10-09 14:36] SeeminglyScience commented on #10741
@iSazonov isn't that mostly formatting?  Maybe I'm reading the OP wrong but I took it to mean that the executable would *output* objects *instead* of text.  In other words `(kubectl).GetType()` wouldn't be `string` anymore.

[2019-10-09 14:49] johnwc commented on #10733
I already gave two examples. I'll give another for your pleasure.

We have a cmdlet that is used for removing a azure VM. This cmdlet calls a few az cmdlets to clean up all of the VMs resources; the vm itself, the os disk and any data disks, the NICs, the availability set if it's the only VM attached it to, etc... During this process the user may not have RBAC access to delete one of those resourc

[2019-10-09 14:51] simlei commented on #10723
@iSazonov  I don't think so; I think, this issue here is about exotic characters sent to the shell that are not what applications running there know/expect.

[2019-10-09 15:03] iSazonov commented on #10741
@SeeminglyScience PSMore is about formatting. We can generalize the approach. In the case script hooks for formatting or completors will be a special case of a more general approach.

[2019-10-09 15:05] iSazonov commented on #10723
/cc @daxian-dbw

[2019-10-09 15:26] KirkMunro commented on #10726
Note to self: when implementing this, consider #8963 (i.e. What happens if you're selecting text that is formatted and possibly colored/highlighted already -- will the highlighting still work properly and provide a good experience for users)?

[2019-10-09 15:35] SeeminglyScience commented on #10741
@iSazonov right but this issue doesn't seem related to formatting or completers.  It reads to me like it's talking about the literal output of a command, with an optional way of providing a format definition for that output.

[2019-10-09 15:46] iSazonov commented on #10741
@SeeminglyScience Idea is to have one typed wrapper, for output parsing scenario too.

[2019-10-09 15:46] simlei commented on #10723
@kilasuit definitely not. Readline has nothing to do with it. In my example, I had VIM running which processes stdin (and does not recognize C-PageUp correctly), readline would not see it.

It may well be that VIM is at fault and just does not "speak" powershell special characters. That is, does not know how powershell escape characters look like for every modifier. Looking more into it, running i

[2019-10-09 15:46] vexx32 commented on #10733
My apologies; I should have been more clear.

Can you give a minimal example written in PowerShell or C# code that illustrates the problem you're seeing and your proposed solution (example of function(s) structure, which function is surfacing the error record, which is actually calling `WriteError()`, and what your expected outcome is)?

I'm fairly sure I understand what you're talking about, but

[2019-10-09 16:01] SeeminglyScience commented on #10741
I understand why it's valuable to have objects instead of text, but if I'm explicitly calling something like this:

[code]

I shouldn't all of a sudden start getting objects. That already has to be pretty explicit to safe guard against functions/aliases.

More than that though, I'm asking what advantage the proposed feature has over this:

[code]

Yeah it's a bit more wordy, but not by much.  It a

[2019-10-09 17:00] Kriegel commented on #10735
@SeeminglyScience  Whats driving me since PS 2.0 is Logging.

From a Logging perspective we only need a message.  (lol)

Ok... + Timestamp and Source (like script name) perhaps + severity (which here can be Error or Critical for fatal errors or Warning for non terminating Errors).

Which Propertie Data an ErrorRecord consumer needs can vary much ...
A developer may need the inner exception (which

[2019-10-09 18:08] iSazonov commented on #10741
The idea is to have an universal engine. No full design exists. For the example it could be as simple as `<ping wrapper>.Pipeline.Output.DisableParsing()`, and we could do the same on the fly too in pipeline like PSMore demo for formatting.

[2019-10-09 18:09] johnwc commented on #10733
You will have to give me some time to put together a sample project.

[2019-10-09 18:24] mcdonamw commented on #7130
It's near the end of 2019.   I just had to perform the same steps above on my 1903 build.  Is this ever going to make its way into the base Windows/Powershell image or are users supposed to run this -prerelease fix?

[2019-10-09 18:35] eugenesmlv commented on #10707
I would like to work on it.

[2019-10-09 18:40] SeeminglyScience commented on #10741
Well it'd be more like:

[code]

That's assuming that `try`/`finally` becomes reliable at some point.  I know that was just an example, maybe if it's scope based then it may not be *as* big of a problem

Either way though, that's still more that needs to be done on top of an already pretty explicit process.  Any script that tries to parse the output of an executable would break on machines with on

[2019-10-09 19:17] Jaykul opened #10747 "REGRESSION: Remove-Item Junction no longer works"
When creating junction points and removing them, Remove-Item in PowerShell 7 does not work, and produces an incomprehensible error:

![image](https://user-images.githubusercontent.com/192942/66512538-2bfdc480-eaa7-11e9-8ea5-d699b3fb7228.png)

See Also: [Regression: Get-ChildItem modes are wrong with junctions](https://github.com/PowerShell/PowerShell/issues/10748) #10748
See Also: [Fix Remove-Item

[2019-10-09 19:28] vexx32 commented on #10707
Have at it! 😄

[2019-10-09 19:38] Jaykul opened #10748 "Regression: Inconsistent Modes for Junctions"
When looking at a junction, or at items in a junction, the mode is expected to be the same as the original item, but with a `l` appended.

Instead, we're getting `l` in the spot where `d` should be, and thus can't tell the difference between folders and files in a junction.

See Also [REGRESSION: Remove-Item Junction no longer works](https://github.com/PowerShell/PowerShell/issues/10747) #10747
Se

[2019-10-09 20:10] mklement0 commented on #10735
I think we need to sort out the various issues here:

* To my knowledge, `$_` in `catch` block is _always_ a `System.Management.Automation.ErrorRecord` instance.
   * That is what you, @vexx32, mostly stated. I don't think parse errors come into play here, because any code that can't be parsed doesn't get to even _execute_, and code that traps a parse error from the outside again sees a `System.Ma

[2019-10-09 20:13] vexx32 commented on #10726
Seems kind of wordy... hmm. What do you think of something like `-FromFormat`?

[2019-10-09 20:45] ChrisLGardner commented on #5963
Sounds like an interesting challenge so I'll give it a shot

[2019-10-09 20:58] KirkMunro opened #10750 "Allow custom type names (e.g. `[PSTypeName('Custom.Type.Name')]`) to be used on the right-hand side of the `-is` and `-isnot` operators"
# Summary of the new feature/enhancement

As a PowerShell scripter who uses named custom types often
I want to be able to use the `-is` and `-isnot` operators to determine if something is of a custom type
so that I can always check for types the same way in PowerShell.

# Proposed technical implementation details (optional)

The issue here is simple: if you create a custom, named type, and you wan

[2019-10-09 20:58] KirkMunro commented on #10750
Related: https://github.com/pester/Pester/issues/1315.

[2019-10-09 21:00] #10711 closed

[2019-10-09 21:22] vexx32 commented on #10750
Hmm. Honestly, I think we should be able to just do this with `-is 'Dr.Seuss'`; complicating the parsing by introducing the attribute doesn't feel like something we should need to do?

That would mean Pester may need to adjust how it does `-BeOfType` to accommodate it in the same way, but I don't think we should have an overly complex syntax for it either way.

[2019-10-09 21:37] daxian-dbw commented on #10742
@marcinsmialek Some issues related to dead keys in keyboard layouts were fixed in the 2.0.0-beta5 version of PSReadLine. Please upgrade from the PowerShellGallery and try it out.

[2019-10-09 21:43] Adrianx100 opened #10753 "!!! READ TEMPLATE COMPLETELY FIRST!!!"
# Security Issue

Excerpt from [Issue Management - Security Vulnerabilities](https://github.com/PowerShell/PowerShell/blob/master/.github/SECURITY.md)

it **must** be reported to [secure@microsoft.com](https://technet.microsoft.com/security/ff852094.aspx)
to allow for [Coordinated Vulnerability Disclosure](https://technet.microsoft.com/security/dn467923).
**Only** file an issue, if secure@microsof

[2019-10-09 21:43] Adrianx100 opened #10754 "issue"
# Windows PowerShell

For Windows PowerShell 5.1 issues, suggestions, or feature requests please use the following link instead:
Windows PowerShell [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

This repository is **ONLY** for PowerShell Core 6 issues.

[2019-10-09 21:46] RedactedProfile opened #10755 "Feature Request: Tabbed Interface"
# Summary of the new feature/enhancement

Simply, a Tabbed interface for multiple powershell sessions, instead of separate floating windows.

Additionally, I'd like to be able to use a keyboard shortcut like `Ctrl+T` to initiate and focus on a new PowerShell instance.

Linux Terminals, Mac Terminals, and for Windows we have CMD wrappers like Cmder, Terminator for Windows, and even IntelliJ's conso

[2019-10-09 21:52] rkeithhill commented on #10755
This functionality is being implemented in the [Windows Terminal project](https://github.com/microsoft/terminal):

![image](https://user-images.githubusercontent.com/5177512/66523224-9a915100-eaac-11e9-9606-c6dcbc73e921.png)

It even supports horizontal/vertical split panes.

[2019-10-09 21:54] RedactedProfile commented on #10755
Thank you @rkeithhill ! I was unaware of this project :)

[2019-10-09 21:55] TravisEz13 commented on #10753
No detail were added to the issue.

[2019-10-09 21:55] #10753 closed

[2019-10-09 22:08] BrucePay commented on #10741
We looked at this way back in V1 as it seemed very important at the time. (There was even some prototyping and, I think, a patent). The problem is that the output of native commands varies wildly based on the parameters used as well as the immediate environment. This makes it extremely difficult to write a general purpose text-to-object converter. Even a purpose-built converter is very hard (IIRC

[2019-10-09 22:20] SteveL-MSFT commented on #10673
@PowerShell/powershell-committee discussed this, we agree that each of these should standardize on using the current working directory as the working directory.  `Start-Job` is already inconsistent with itself in that Linux/macOS starts in user's home directory, but on Windows it starts in user's Documents folder.  We agree to accept a breaking change to always start in the filesystem current work

[2019-10-09 22:28] marcinsmialek commented on #10742
Thank you.
Upgrading PSReadLine from bundled 2.0.0-beta3 to 2.0.0-beta5 on PowerShell Core, and installing it on PowerShell Desktop fixed the issues.

[2019-10-09 22:42] SteveL-MSFT commented on #10658
@PowerShell/powershell-committee discussed this.  Despite the pain of `Default` having different meanings on Windows PowerShell and PowerShell Core, we made a deliberate decision to enable cross platform support of PowerShell Core for the broader community.  At this point, no further changes are planned to be made.

[2019-10-09 23:11] #10742 closed

[2019-10-09 23:47] #10658 closed

[2019-10-09 23:56] daxian-dbw commented on #9599
Talked to @joeyaiello about this the other day. When `-ReferencedAssemblies` is specified, we currently only automatically include two ref assemblies in addition to what the user specifies, see the code at https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/AddType.cs#L703. I don't remember why we didn't include everything just like when

[2019-10-09 23:59] #10755 closed

[2019-10-10 00:01] #10754 closed

[2019-10-10 00:04] daxian-dbw commented on #10243
This was fixed by https://github.com/PowerShell/PSReadLine/pull/984

[2019-10-10 00:04] #10243 closed

[2019-10-10 00:05] KirkMunro commented on #10237
It turns out that there is an alias conflict, which is why a different alias was chosen.

[2019-10-10 00:05] #10237 closed

[2019-10-10 01:01] KirkMunro opened #10757 "System.IO.Path.GetDirectoryName does not throw in PowerShell when passed in null"
# Steps to reproduce

In PowerShell 5.1, the following logic produces an error. In PowerShell 6+, it does not.

[code]

Is this a bug in PowerShell, or .NET?

# Expected behavior

An exception should be thrown.

# Actual behavior

No exception is thrown.

# Environment data

[code]

[2019-10-10 03:39] iSazonov commented on #7130
@mcdonamw In the days MSFT team hard works on PSReadline (see PSReadline repo). I hope we get new release soon with high quality. Please feedback in PSReadline repo if you see any issues.

[2019-10-10 03:49] SteveL-MSFT commented on #7130
We have ported targeted fixes in PSRL to Windows PowerShell.  Plan is to check in PSRL 2.0.0 final to Windows PowerShell but we're only at beta5 right now.

[2019-10-10 03:58] SteveL-MSFT commented on #10741
This is why the command line args are passed to the parser so it can determine if it can handle that specific type of output.

@SeeminglyScience a function wrapper means if different people want to support parsing different output of the same native command, they'd have to incorporate it into that function.  The idea here is if someone just wanted to get objects from `kubectl cluster-info dump` an

[2019-10-10 04:22] iSazonov commented on #10673
@mklement0 Please update the issue description with current status - what is left to fix after last commits?

[2019-10-10 04:27] iSazonov commented on #10237
Reference to PowerShell Committee conclution https://github.com/PowerShell/PowerShell/pull/10703#issuecomment-540231767

[2019-10-10 04:29] SteveL-MSFT commented on #10673
@iSazonov the background operator `&` already uses current working directory, [foreach-object -parallel](https://github.com/PowerShell/PowerShell/pull/10672) was fixed recently, start-threadjob has https://github.com/PaulHigin/PSThreadJob/issues/46 opened and @PaulHigin can make that fix and we can include that version in PS7.  I believe just `Start-Job` needs a fix.

[2019-10-10 04:36] iSazonov commented on #10673
@SteveL-MSFT Yes. The issue has PowerShell Committee conclusion and I'd want to see all (problems and solutions) in the OP for clear history because it is a breaking change.

[2019-10-10 05:00] iSazonov commented on #9599
It was at moving to .Net Core 2.0 time and I guess an intention was to avoid type conflicts.

Even if we add everything from /ref folder, I guess everything from dotnet standard will not be there.

[2019-10-10 08:47] Tandolf opened #10758 "Running pwsh on macOS Catalina 10.15 terminal results in black screen"
# Steps to reproduce

macbook pro with macOS Catalina 10.15
open the terminal, install brew and then install powershell using `brew cask install powershell`

# Expected behavior

When running `pwsh` after finished installation you sheould be greated with some text and be in an interactive shell.

# Actual behavior

command is run and the cursor jumps to the next row. And it is all black, no output

[2019-10-10 09:34] leoniDEV opened #10759 "Get-ChildItem doesn't output correctly when used with Invoke-Command"
Using `Invoke-Command` to get the folder list from a remote computer an empty table is displayed, this seems a problem with the formatting of the output.

# Steps to reproduce

[code]

# Expected behavior
Get the list of folders
![Annotazione 2019-10-10 112845](https://user-images.githubusercontent.com/11667486/66556848-3aa0b600-eb51-11e9-8d6c-40c4ce52155b.png)

# Actual behavior
![Annotazione 201

[2019-10-10 11:46] Skybeat commented on #10658
@SteveL-MSFT
That means / you will say that "to enable PowerShell Core for the broader community" means you have to change the value "default" in the parameter "_Encoding" because to enable PS Core for a broader Community?!
Please read your own sentence again, that makes zero sence! Since WinPS there was a value "UTF8" for param "-Encoding" so it makes zero sence to change it with Core so that val

[2019-10-10 13:31] mklement0 commented on #10673
I've updated the OP with a note at the top that points to the approval comment and to Steve's follow-up comment summarizing the remaining work needed.

[2019-10-10 13:37] mklement0 commented on #10726
My original thought was that _display_ was a less formal term to guide those potentially not even aware of PowerShell's output formatting system.

However, _format_ to refer to the formatting system is technically more accurate, so I like the idea, and it would also give us as nicely alliterative alias name, `-ff`.

I'm still tempted to be a little more wordy - `-FromFormattedOutput` - and then re

[2019-10-10 14:06] mklement0 commented on #10757
The framework behavior must have changed: .NET Framework throws an error with `''` (which is what the PowerShell argument is converted to - unless you use `[NullString]::Value`) - whereas CoreFX now treats the empty string the same as `null` (don't know if that was an intentional change or not).

[code]

[2019-10-10 14:09] Kriegel commented on #10735
see also #3190 Implement New-ErrorRecord Cmdlet

[2019-10-10 14:16] KirkMunro commented on #10726
I think the value proposition here is clear, and I like the ideas around the parameter name (thanks for participating in that discussion @vexx32 and @mklement0!), so I'll probably move forward with `-FromFormattedOutput` for now in a PR and then change it later if the PowerShell Committee has something else they would prefer.

[2019-10-10 14:32] mklement0 commented on #10735
Sorry, I had missed part of this discussion before I posted my previous comment.

Note that advanced functions shouldn't really have to call `$PSCmdlet.WriteError()` directly - the only good reason to do that it currently is to work around the `Write-Error` bug where `$?` isn't set to `$false` in the caller's context - see #3629

That leaves us with `Write-Error`, which already _does_ permit const

[2019-10-10 14:40] Skybeat commented on #10658
It's a shame the issue has just been closed and the bug just stays in PS Core.
I will explain the link to this issue and show the users (especially those who use Powershzell for many years in Windows) how important Microsoft's own product is now to their own operating system. Microsoft already counts alleged standards of Linux / Unix more than an existing and functinating standart functionality in

[2019-10-10 14:42] iSazonov opened #10760 "Long error message in ConciseView"
Come from #10746

![image](https://user-images.githubusercontent.com/22290914/66540526-936a5180-eb45-11e9-9a24-f71ccd3df68b.png)

Make sense to print error message on new line?
[code]

Screenshot after I decrease windows width
![image](https://user-images.githubusercontent.com/22290914/66540683-1ee3e280-eb46-11e9-8d6e-ae25bb47bf45.png)

[2019-10-10 15:56] KirkMunro commented on #10757
Thanks for confirming. I've logged the issue in the .NET Core repository, since it seems to be either a documentation problem (docs need to be updated to reflect change) or a regression.

[2019-10-10 15:56] #10757 closed

[2019-10-10 16:19] mziyabo opened #10761 "Feature Request: Notification on $PSVersionTable that PowerShell is current/behind and what the latest version is"
# Summary of the new feature/enhancement

When running $PSVersionTable it would be a good headsup to the user to know if there is a newer version available or if they are current without them leaving the terminal to check online.

Benefit is just to keep a user in the shell as opposed to having to start browsing particularly on a GUI-less *Nix/Server Core environment.

[2019-10-10 16:22] mklement0 commented on #10757
Thanks, @KirkMunro. I see that you've created https://github.com/dotnet/core/issues/3592, but it probably belongs in the CoreFx repo, specifically: https://github.com/dotnet/corefx

[2019-10-10 16:45] KirkMunro commented on #10757
Thanks @mklement0 I just dug into that repo and found out that the changes are intentional, but the docs haven't been updated to reflect those changes yet (still open issue for that). Nothing more to do here.

[2019-10-10 16:51] SteveL-MSFT commented on #10729
@jiasli it seems that the behavior is consistent between PowerShell and cmd and that python is setting the console foregroundcolor.  In which case, it seems that the shell should not simply set it back.

[code]

When redirecting either in PowerShell or cmd, the foreground color (as well as the background color) is changed to black.  A user using a native command that changes the console colors sho

[2019-10-10 16:55] mklement0 commented on #10761
Interesting idea - I see that you're already aware of the related proposal in #9141.

One challenge with respect to `$PSVersionTable` is that you don't want to incur the cost of an online lookup every time, particularly when you're using `$PSVersionTable` in scripts, so this information should probably be in a lazily evaluated property.

[2019-10-10 17:13] mklement0 opened #10762 "Select-Object default output formatting is situationally broken"
The test command below _should_ yield:

[code]

but currently yields:

[code]

The problem may be specific to `[string]` input (a rare scenario) - not sure what the underlying pattern is.

# Steps to reproduce

[code]

# Expected behavior

The test should pass.

# Actual behavior

The test fails.

[code]

# Environment data

[code]

[2019-10-10 17:43] daxian-dbw commented on #10658
@Skybeat You can use ANSI encoding by specifying `-Encoding oem`. It uses [`GetOEMCP`](https://docs.microsoft.com/en-us/windows/win32/api/winnls/nf-winnls-getoemcp) to get the current OEM code page identifier for the OS on windows platform.

[2019-10-10 18:27] chriskuech commented on #9089
Writing code with `$PSScriptRoot` is a best practice to avoid opaque dependencies on shell location.  However, this makes testing snippets very frustrating, as they must be rewritten.  This feature would be immensely valuable on a daily basis.

[2019-10-10 18:29] #10708 closed

[2019-10-10 18:32] iSazonov commented on #10761
Current design is that new version is checked only if session is interactive and the check is delayed up to 3 seconds. With the design we can not use the code in `$PSVersionTable`.

I think a right way is new cmdlet or function (wrapper for Find-Package?).

[2019-10-10 18:33] chriskuech opened #10763 "Feature Request: alias `which` => `Get-Command`"
# Summary of the new feature/enhancement

PowerShell provides a variety of POSIX command aliases mapped to cmdlets.  Ex: `ls` is a POSIX command, but in PowerShell it is an alias of `Get-ChildItem`.  I propose adding another alias to this set of POSIX aliases, mapping `which` to `Get-Command`.  Both POSIX `which` and PowerShell `Get-Command` serve the same purpose to users.

If this feature reques

[2019-10-10 18:36] tnieto88 commented on #10763
If they were to add the alias, it would only be on Windows since it would mask the binary on non-Windows.

[2019-10-10 18:36] daxian-dbw commented on #9599
dotnet standard stuff will be available as long as `netstandard.dll` is referenced. So maybe just add `netstandard.dll` to `InitAutoIncludedRefAssemblies` ... not sure if that's sufficient.

[2019-10-10 18:47] chriskuech commented on #10763
You are very correct and I was not aware.  Is there a document on how aliases are chosen?  Comparing aliases on Windows vs WSL, I'm not seeing a pattern.

In this vein, another alias I would like is `touch` => `New-Item`

[2019-10-10 19:01] iSazonov commented on #9599
Best practice for me  today is to create a temporary project, compile and then move  code and references to Add-Type.

Maybe we could benefit from csproj files?

[2019-10-10 19:02] vexx32 commented on #10763
Basically any alias that might conflict with a common or default Linux command will be disabled on Linux. They initially had many aliases that masked the native linux commands, but Linux users didn't like it,wand so they were removed.

[2019-10-10 19:13] SteveL-MSFT commented on #10763
@vexx32 is correct.  Originally Windows PowerShell had many aliases that were common Linux commands to make it easier for Linux users to use Windows PowerShell.  However, this created a problem once we made PowerShell Core cross platform.  The common alias to use on Windows and non-Windows is `gcm` which is the alias for `Get-Command`.  With this, you don't need to use `which` or `where` (dependin

[2019-10-10 19:13] #10763 closed

[2019-10-10 19:32] SteveL-MSFT commented on #10762
This is a regression from WinPS5.1

[2019-10-10 19:51] iSazonov commented on #10762
[code]

[2019-10-10 19:55] iSazonov commented on #10759
I guess we get _deserialized_ objects.

[2019-10-10 19:56] SteveL-MSFT commented on #10760
It may be worth considering also truncating lines longer than console width (adding ellipsis to indicate truncation) so that the relevant section is in the middle