[2018-07-12 07:53] iSazonov commented on #2867
@MSAdministrator `Up-for-Grabs` delegate this to community :-). Feel free to write RFC to start the dev process.

[2018-07-12 08:28] powercode opened #7278 "Feature: Add Select-Object -SkipIndex parameter"
We already have an `-Index` parameter that select the specific indices we provide.
This would be the opposite, allowing us to specify the indices we want to exclude from the output.

[code]

A real world example:

Disk Usage (du.exe) outputs a weird line "Processing..." in the middle of the output when asking for CSV output AND the output is redirected.
[code]

This makes conversion from csv an ex

[2018-07-12 08:36] markekraus commented on #7274
@deivisvieira Can you provide a public URI that can repro this issue as well as the parameters you are passing to invoke-restmethod?

[2018-07-12 09:16] markekraus commented on #7274
I am not able to reproduce in 6.1.0-preview.3 nor in 6.0.2 on Ubuntu 16.0.4 WSL with the following:

[code]

We will require more details on how to reproduce the issue.

[2018-07-12 09:39] alastairs commented on #7264
I've collected even more detailed logs from a run of `Install-Module` on my machine, in a `sudo` session. Here's the output, starting from the last line of [the Verbose log](https://github.com/PowerShell/PowerShell/issues/7264#issuecomment-404165340) output.

[code]

[2018-07-12 11:02] iSazonov commented on #7252
Please see docs https://github.com/PowerShell/PowerShell-Docs/blob/36ca87e8a98d61c87cee10ccce73ed71ec1c43ff/reference/docs-conceptual/core-powershell/SSH-Remoting-in-PowerShell-Core.md

[2018-07-12 11:08] iSazonov commented on #7271
We have links on main page https://github.com/PowerShell/PowerShell#get-powershell

[2018-07-12 12:04] Jawz84 commented on #1982
What about changing the `CommandNotFoundException` to this:
[code]

[2018-07-12 12:06] iSazonov commented on #7278
Before `ConvertFrom-Csv ` I usually use `Select-String` or `Select-Object -Skip`.

[2018-07-12 12:33] markekraus commented on #7278
I run into this scenario quite a bit myself where a known index is worthless/unwanted. I think it is natural to have `-SkipIndex` if there is an `-Index`

[2018-07-12 14:04] MaximoTrinidad commented on #7271
@iSazonov

I see now. Of course... "Stable" = "GA".  Understood!

:)

[2018-07-12 14:09] SeeminglyScience opened #7279 "Including modified PowerShell source files in another project"
I'm looking to include a few classes from this repo (mainly around AST type inference) in a project.  The files have been modified, mostly to replace internal API calls.

Should I include the copyright headers on the modified files?  Or would a third party notices file be sufficient?

[2018-07-12 14:15] MaximoTrinidad commented on #7271
@iSazonov

Forgot to mention, my main point is more about the "Release Notes" not mention when the product release reached GA status.  I think it would be a "nice" to include in the notes.

:)

[2018-07-12 14:34] iSazonov commented on #7271
I believe this could be added in release check list.

[2018-07-12 14:48] BrucePay commented on #7247
@powercode are you seeing this in a child scope? Or is it happening in the global scope?

[2018-07-12 14:51] MaximoTrinidad commented on #7271
@iSazonov,

That would be Great!!
:)

[2018-07-12 15:04] deivisvieira commented on #7274
@markekraus thanks for your response. I tried using the godaddy home to test but couldn't reproduce the issue. Once I find a public URL that throws this error I will post here.

[2018-07-12 15:15] mklement0 commented on #7247
Perhaps @powercode's symptoms are different, but here's a simple demonstration of the problem I was talking about (as of v6.1.0-preview.3 - ditto on v6.0.2 - as far as I know, this is a longstanding problem):

[code]

[2018-07-12 16:18] mattpodwysocki commented on #7264
@alastairs can confirm as well with not only Ubuntu, but Debian and OpenSUSE as well.

[code]

Installing any module fails to properly install:
[code]

[2018-07-12 16:34] MaximoTrinidad commented on #7264
Awesome!  Nice to see someone reproduce the issue.
I don't know why I can't.

The only thing I'm suspecting is the use of the '-Score CurrentUser' as it may of more use in Windows.
Can some please share the exact one-liner to install it?

:)

[2018-07-12 17:12] BrucePay commented on #7268
Right - that's because it's using the process working directory, which, as I said, is not the PowerShell instance current working directory. If you use `Get-Location` (or the `$PWD` variable) instead of `[environment]::CurrentDirectory` to get the working directory location it should work properly.

[2018-07-12 17:24] MaximoTrinidad commented on #7264
There's always the possibility that something did happened to the PowerShell Core installation.
I have unregister/register back to PSGallery repository and got different failure messages.  But, I was able to recover and install any module.

Here's my installation Verbose:
[code]
Have this ever work before Preview.3?
Have you tried to reinstall PowerShell Core?

It has to be something with the inst

[2018-07-12 18:36] PaulHigin commented on #6207
My apologies.  I was testing the old build without my fix and this is why I didn't see any environment variables.  When I test a build with my fix I do now see the environment variables in the ssh process, including SSH_AUTH_SOCK.  Next I'll see if I can get ssh-agent working.

[2018-07-12 19:04] deivisvieira commented on #7274
Apparently our public SSL certificate was incorrectly being used on our internal API also. Removing that invalid certificate resolved the issue.
@markekraus thanks for the time and response anyways, appreciate it.

[2018-07-12 19:04] #7274 closed

[2018-07-12 19:20] SteveL-MSFT commented on #3771
@yairyog we should only close this issue after it's part of PSCore6

[2018-07-12 19:37] AmandaCameron commented on #6207
Okay, I just re-ran the powershell daily download just now, and when
testing I wasn't asked for my password when sshing into something, so I
expect that I juts managed to get an older nightly when I installed it
earlier? Appologies for the false alarm on it being broken still. :\

On Thu, Jul 12, 2018 at 2:37 PM Paul Higinbotham <notifications@github.com>
wrote:

[2018-07-12 20:49] markekraus commented on #7112
Hmm.. I bet the issue in #6199 is related too then. The sampled JSON there was creating a large number of properties on a large number of PSObjects and then the same JSON was converted with NewtonSoft, the performance improvement was significant in terms of both memory usage and execution time.

[2018-07-12 20:50] wuy3 commented on #4669
Eagerly awaiting release of this Nuget package as well. We are working with projects targeted to .NET Standard 2.0 and want to use powershell invokes in C# (using System.Management.Automation)

[2018-07-12 21:01] CatGirlsAreLife commented on #7268
Thanks, also the Join-Path solution worked flawlessly.

[2018-07-12 21:02] #7268 closed

[2018-07-12 21:46] bondarenkod opened #7282 "ArchiveResources file not found on mac-os for Archive module."
Steps to reproduce
------------------
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------
in 2.1: the next error message
[screenshot](https://bdfss.blob.core.windows.net/shots/2018-07-13_00-16-52-10c79ac9-aeac-4b0f-b414-ab0db442a6c8.png)
[code]
in 2.2: the next error message
[screenshot](https://bdfss.blob.core.windows.net/shots/2018-07-13_00-26-32-de5d024e-1fc6-4d

[2018-07-12 22:10] #5752 closed

[2018-07-12 22:47] mklement0 commented on #7275
@thezim: Looks like a duplicate of #7074, correct?

[2018-07-12 22:52] mklement0 commented on #7265
@eosfor: Perhaps #7071 is a duplicate?

[2018-07-12 23:01] mklement0 commented on #7259
Related: #6724

[2018-07-12 23:51] #6207 closed

[2018-07-13 03:54] mattpodwysocki commented on #7264
@MaximoTrinidad Here is the table:

[code]

[2018-07-13 05:15] iSazonov commented on #7112
"per session" - this should not affect because we see the slowdown inside the session each time an object is created.

[2018-07-13 06:46] iSazonov commented on #7279
/cc @SteveL-MSFT

[2018-07-13 07:18] powercode commented on #7247
@BrucePay When I filed the bug, I was under the impression that it was in the global scope, but when I try to repro it, I'm no longer able to. Confused...

[2018-07-13 07:29] iSazonov commented on #7282
@bondarenkod Microsoft.PowerShell.Archive is not in the repo. Please move the issue in https://github.com/PowerShell/Microsoft.PowerShell.Archive

[2018-07-13 07:35] powercode commented on #7112
@iSazonov It is about them having a more expensive algorithm now. Not just different per session.

However, it seems like we have an opportunity for optimization. As it looks now, we recalulate the hash code for the every property name for every line in the csv. If we were smarter about how we created custom objects (some sort of prototype object maybe) a lot of the work could be amortized.

I'm t

[2018-07-13 08:04] bondarenkod commented on #7282
@iSazonov done

[2018-07-13 08:04] #7282 closed

[2018-07-13 08:33] iSazonov commented on #7112
@powercode I tried cloning PSObject but don't get benefits. I believe we need more generic improvements. Also not only Import-Csv is slow - ConvertTo-Csv and web cmdlets too #6199.

[2018-07-13 09:09] eosfor commented on #7265
yes, looks like this, thanks @mklement0. However, as i said in the post, option with providing [type] to the completer attribute works fine, perhaps because it is "local" to the function or something, i don't know. @iSazonov, you are in +2hrs from me ;), so we can talk and i can show you this live, if you want.

[2018-07-13 10:34] thezim commented on #7275
@mklement0 Yes. I’ll close this one.

[2018-07-13 10:34] #7275 closed

[2018-07-13 11:00] eosfor commented on #7265
@iSazonov i wish i could, not sure even where to start. Give me some guidance and i'll try )

[2018-07-13 11:33] eosfor commented on #7265
@iSazonov @BrucePay wow, i never thought i could ask this question!

[2018-07-13 13:36] jebalert opened #7285 "Import-Module AzureRM.Profile.Netcore fails"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-07-13 15:00] iSazonov commented on #7285
@jebalert Please move the issue to https://github.com/Azure/azure-powershell

[2018-07-13 15:38] MaximoTrinidad commented on #7285
@jebalert

Please post the link to the Azure post here so we can proceed helping.  Also, follow the instructions for posting the information.

Thanks

[2018-07-13 16:01] powercode commented on #7112
@iSazonov We would need new API:s

[2018-07-13 16:05] fulghum commented on #6475
@adityapatwardhan – any update on when Microsoft.PowerShell.SDK will be available for us to consume from NuGet.org?

[2018-07-13 16:54] alastairs commented on #7264
@MaximoTrinidad It is the same for me (unsurprising, in retrospect, as the package is resolved and downloaded fine):

[code]

This worked for me fine on PowerShell Core 6.0 on WSL with Ubuntu 16.04.

[2018-07-13 17:35] MaximoTrinidad commented on #7264
@alastairs

Hum!!  Have you tried to cleanup prior PowerShell Core version folders?
Like, cleanup any residual for previous version and I do a clean installation of Preview.3.

Something is conflicting with the module(s).

:)

[2018-07-13 18:17] alastairs commented on #7264
@maximotrinidad this was a clean install of PS Core 6.1.0 preview 3 on a clean install of Ubuntu 18.04 😀

[2018-07-13 19:19] mklement0 opened #7286 "Defining a custom enum with a negative value bypasses validation on cast / assignment"
PowerShell generally validates numeric assignment values / cast operands to custom `enum` types.

If the number is not part of the `enum`, an error is reported.

However, an `enum` that comprises a _negative_ value seemingly no longer performs this validation.

(Note that in C#, by contrast, validation is by design _never_ performed.)

Steps to reproduce
------------------

[code]

Expected behavi

[2018-07-13 19:30] mklement0 opened #7287 "Custom-class and enum type literals are not recognized by tab completion"
<sup>Note: Updated based on feedback from @daxian-dbw below.</sup>

**Any custom `class` and `enum` instances added to a session are currently not recognized by tab completion**, whereas analogous definitions created via `Add-Type` based on strings containing C# source code are:

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

`[fru<tab-keypress>` should complet

[2018-07-13 20:20] daxian-dbw commented on #7287
Not just enum, powershell class, in general, doesn't have tab completion support when it comes to type reference such as `[Fru<tab>`.

[2018-07-13 20:38] SteveL-MSFT commented on #7279
@SeeminglyScience let me get back to you on this

[2018-07-13 20:40] mateusrodrigues commented on #7207
So, these are the latest updates:

These have been resolved. It was a problem in CoreFX's FileSystem native implementation that was failing in a certain function and the mount points were not being returned. PR has been submitted and merged into master.

I'm still investigating what the cause of this is. @iSazonov the variable change you suggested didn't work. I'm trying to find out how PS interac

[2018-07-13 20:42] mklement0 commented on #7287
Thanks, @daxian-dbw - should I make this issue about all custom classes then, or is this already being tracked elsewhere?

[2018-07-13 23:02] MaximoTrinidad commented on #7264
No words!!  I got it working although I figured out something slightly different:
http://www.maxtblog.com/2018/06/installing-powershell-core-6-preview-3-in-ubuntu-18-04/

Not sure if it helps!

![ubu1804installmod_2018-07-13_18-52-52](https://user-images.githubusercontent.com/19892435/42717374-73c75ed6-86ce-11e8-9bda-a3832cf8191f.jpg)

[2018-07-13 23:53] daxian-dbw commented on #7287
@mklement0 Please make this issue about all custom powershell classes. I don't know of an existing issue.

[2018-07-14 01:49] mklement0 commented on #7287
@daxian-dbw: Sounds good - I've update the initial post.

[2018-07-14 04:17] tibmeister commented on #3239
So the argument of less experienced coders wouldn't be able to easily use a null-coalescing or ternary code statement I think is a little short-sighted.  There's no requirement to use these "advanced" features and if a programmer can't read the code because they lack the experience, then personally that's my cue that I need to learn something new really quick.
When I first saw a ternary in C# I wa

[2018-07-14 04:43] SteveL-MSFT commented on #7207
@mateusrodrigues regarding the console echo problem is PSReadLine being used?  if so, try removing it to isolate the problem

[2018-07-14 08:31] iRon7 opened #7290 "ConvertTo-Xml doesn't limit the depth for (recursive) HashTables (Crash)"
Steps to reproduce
------------------
Insert the following commands

[code]
Expected behavior
-----------------
I would expect an XML string with the output limited to the default depth of **3**:

[code]

Actual behavior
---------------
Instead, it first shows:

And a few seconds later the whole shell is terminated.

- Note: the same issue appears when the depth is explicitly given (e.g. `-Depth 3

[2018-07-14 09:05] iRon7 commented on #7290
I wonder whether I should split this issue in:

1. `ConvertTo-Xml` *cmdlet*: doesn't limit the depth for (recursive) HashTables
2. PowerShell Process terminates when the stream is too long

[2018-07-14 21:30] mklement0 commented on #4112
Since it may not be obvious, let me point out that the problem only surfaces if you use the `NestedModules` entry to reference the `*.psm1` file.

In the given scenario it would be more typical to use  the `RootModule` entry, however, in which case everything works as expected.

[2018-07-15 01:48] mateusrodrigues commented on #7207
@SteveL-MSFT No, PSReadLine isn't being used.

[2018-07-15 01:57] MSAdministrator commented on #2867
Submitted RFC for `ConvertFrom-Html` here: https://github.com/PowerShell/PowerShell-RFC/pull/137

[2018-07-15 01:58] MSAdministrator commented on #3267
Submitted RFC for the creation of `ConvertFrom-Html` here: https://github.com/PowerShell/PowerShell-RFC/pull/137

[2018-07-15 09:51] chuanjiao10 opened #7291 "PWSH goto foreground incorrectly when start-process none Args"
Steps to reproduce
------------------

[code]

return normal
------------------
[code]

Expected behavior
-----------------
want retun same
[code]
[code]

Actual behavior
---------------
PWSH goto foreground,and return 12;17R

Environment data
----------------

centos 7.5

Name                           Value
----                           -----
PSVersion                      6.1.0-preview.3
PSEdi

[2018-07-15 15:04] mklement0 commented on #7291
The behavior you're describing comes from the known limitations of `Start-Process` on Unix-like platforms:

On Unix-like platforms, the invocation of _interactive_ programs (such as `pwsh-preview` without arguments) with `Start-Process` is not supported, because they invariably run  _in the same terminal window_ (`-NoNewWindow` is implied) and then compete with the original session for keyboard in

[2018-07-15 15:29] mklement0 commented on #4521
I've created a doc issue: https://github.com/PowerShell/PowerShell-Docs/issues/2690

[2018-07-15 15:30] mklement0 commented on #7291
That said, the behavior should be _documented_, so I've created a doc issue: https://github.com/PowerShell/PowerShell-Docs/issues/2690

[2018-07-15 16:58] iSazonov commented on #7207
Do you test .Net console methods? Do they work ok on FreeBSD?

[2018-07-15 17:06] chuanjiao10 commented on #7291
thanks for the reply。
Start-process should not produce interactive programs. I mean, it should not occupy the Linux terminal.
can we replace
```-ArgumentList null or ''```   to ```-ArgumentList  -command  ""```
when  run pwsh in start-process ?

[2018-07-15 17:09] mklement0 commented on #3425
Great idea, @JohnLBevan.

I suggest also supporting [`Comparison<T>` delegates](https://docs.microsoft.com/en-us/dotnet/api/system.comparison-1)  as the `SortOrderComparer` value (polymorphically), so you can pass script blocks directly (e.g., `{ param([string]$x, [string]$y) <# return -1, 0, or 1 #> }` and perhaps shortening `SortOrderComparer` to `Comparer`.

With a `Comparer` key present, `Expr

[2018-07-15 17:14] chuanjiao10 commented on #7291
this is small Enhancement issue，The purpose is to prevent errors.

[2018-07-15 18:39] SteveL-MSFT commented on #6878
I believe this is fixed with latest corefx.  Reply if not and we can reopen.

[2018-07-15 18:39] #6878 closed

[2018-07-15 18:39] mklement0 commented on #7291
Unfortunately, there is generally no way to tell whether a program has interactive elements or not.

Yes, we know in the case of `pwsh` and `pwsh-preview` (without arguments or with `'-NoExit'`) and perhaps other shells such as `bash`, `ksh`, ..., but I don't think that warrants special-casing - but perhaps others feel differently.

That would be an effective no-op (wouldn't do anything): it launc

[2018-07-15 19:16] mklement0 commented on #5503
Good analysis, @nightroman - I took the liberty of creating a docs issue (that links) here: https://github.com/PowerShell/PowerShell-Docs/issues/2691, as it is safe to assume that the global-by-default behavior won't change and that it is therefore the docs that should be corrected.

Aside from fixing the docs, the implications for the code base are:

* Since `-Global` serves no useful purpose, as

[2018-07-15 19:26] somewhatlogical opened #7292 "Task Scheduler CIM Issues"
I am unsure if this is a bug in task scheduler and how it registers itself with CIM, or if there's something on the PS end.  This effects at least 5 and core (guessing like everything though).  These and others basically result in the inability to use the built-in PS5 task scheduler Cmdlets to add triggers for these types that aren't handled on the Cmdlet (ie:  by manually creating CimClass for th

[2018-07-15 19:47] mklement0 commented on #4616
@lzybkr:

(A `[string]` parameter with default value `[NullString]::Value` turning to `''`)

@PetSerAl thinks this behavior is related to the optimization bug reported in #4312.

And the workaround proposed there indeed fixes the problem:

[code]

Thus, unless there are considerations I'm missing, fixing #4312 would allow _defaulting to_ `$null`.

It wouldn't help with _passing / relaying_ `$null`

[2018-07-16 02:40] mvadu opened #7293 "Supporting RFC 7617 in Invoke-WebRequest - UTF-8 in Basic Authentication and Non ASCII passwords"
RFC 7617 asks the client to send the Basic Authentication header `Authorization` to be encoded in `UTF-8`. Currently `Invoke-WebRequest` when invoked with a `-Credential` parameter with a non-ascii password, basic authentication fails as it does not pass the password in UTF-8.

Example, I setup Influxdb with a non-ascii password

[code]

I passed these as `-credential $(New-Object System.Managemen

[2018-07-16 05:25] mklement0 opened #7294 "Classes: an uninitialized [string] property defaults to $null rather than the empty string"
This is an inconsistency discovered by @alx9r:

If you define a class property of type `[string]` without assigning an initial value, its value is unexpectedly `$null`, even though in all other contexts PowerShell defaults `[string]` values to `''` (the empty string) and even converts explicitly assigned `$null` to `''`.

Steps to reproduce
------------------

[code]

Expected behavior
-----------

[2018-07-16 11:05] markekraus commented on #7293
@mvadu

Please provide the full `Imvoke-WebRequest` command you are issuing.

If you are just using `Invoke-WebRequest -Uri $Uri -Credential $Credential`, Then you will need to open an issue in CoreFX as PowerShell only passes the provided credentials to [`HttpClientHelper.Credential`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.credentials?view=netcore-2.1). That

[2018-07-16 14:18] clayms opened #7295 "Cannot run Python Interpreter remotely with PSSession"
Running the Python Interpreter on a particular Windows machine locally and remotely using ssh works great. However, Windows does not have a Linux screen equivalent, so I want to switch to using PSSession to remote into this Windows machine so I can start jobs, then disconnect and reconnect later to get the results.

The problem is when I successfully connect via PSSession and can run many powershe

[2018-07-16 14:22] clayms commented on #7295
Looks like the answer *was* No.
https://stackoverflow.com/a/21466434/5060792

Is it still?

[2018-07-16 14:33] iSazonov commented on #7290
@iRon7 Thanks for your report!

[2018-07-16 14:46] PleaseStopAsking commented on #5970
Any update on this issue?

[2018-07-16 15:47] PaulHigin commented on #6207
No problem.  It looks like you did the same thing I did and tested on an older build.  Glad to know it is working.

[2018-07-16 16:17] MaximoTrinidad commented on #7295
OK!!  This is what I've done.

No! You can't open Python on a Enter-PSSession.

But, you can execute Python with the code:
[code]
![pscorelinuxpython_01_2018-07-16_12-15-51](https://user-images.githubusercontent.com/19892435/42770063-108b4c12-88f2-11e8-81b0-a790bfbfbc9b.jpg)

[2018-07-16 17:16] mattpodwysocki commented on #7264
@MaximoTrinidad it works fine on macOS and a full blown Pop_OS! VM I have running where PS installs fine and the modules do as well. WSL seems to be the issue here.

[2018-07-16 18:05] rjmholt opened #7296 "Import-Module works on System32 psm1/dll modules without -SkipEditionCheck"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

### Notes

* Directly importing a psm1 (or other non-psd1 module) from the System32 module path should only work with `-SkipEditionCheck`
* However, since they are nested modules, importing must succeed if they are imported

[2018-07-16 18:45] #7156 closed

[2018-07-16 19:05] rjmholt opened #7297 "Intended behaviour for Get-Module -ListAvailable -All is not clear, especially for edition-incompatible modules"
Currently `Get-Module -ListAvailable -All` has a set of hard-to-describe behaviours that don't seem to align well with each other. An example is the following directory structure:

[code]

Observe the following outputs:

[code]

[code]

[code]

[code]

Summary:
* `Get-Module -ListAvailable -All` on relative path ending with slash: file not found error
* `Get-Module -ListAvailable -All` on relative

[2018-07-16 19:15] SteveL-MSFT commented on #7119
I talked to @TravisEz13 and he's not aware of any reason the `v` is necessary.  I'll update the PR to standardize on no `v`.

[2018-07-16 19:19] kilasuit commented on #7264
@alastairs this really needs to be raised in the PowerShellGet Repo as this isn't a PowerShell Issue as such but an issue with that module - https://github.com/PowerShell/PowerShellGet

[2018-07-16 19:21] MaximoTrinidad commented on #6475
Yeah! I can't seems to be able to download Preview.3 using any of the command lines provided.
Only the Ga 6.0.2 can be downloaded.

:(

[2018-07-16 19:35] WurstCommander commented on #4207
Same here, it's not just the immediate press of backspace or if I reached the end of the line. Powershell random beeps after I typed some commands, it's very annoying. On my desktop PC, everything is fine, my Lenovo Laptop is having this problem.

[2018-07-16 21:09] mklement0 commented on #2233
(Stumbling across this again may moons later, I realize I should have listened to @vors' cautionary tale about mistakenly answering a question one _thought_ was being asked: my previous comment related to yet a different use of `return`, namely for _exit codes_ in functions in POSIX-like shells.)

Let me try to summarize the debate:

* We've established that `return` in PowerShell script blocks /

[2018-07-16 21:16] Mattacks commented on #2083
What's the resolution for when I need to reference a newer version of NewtonSoft than that which ships with PowerShell core 6? (See @astral-keks comment)

[2018-07-16 22:03] rjmholt opened #7298 "Get-Module -ListAvailable hides edition-incompatible modules but lists otherwise incompatible modules"
`Get-Module -ListAvailable` will list modules with badly formatted manifests or that have unmet requirements, but will not list modules that have incompatible PSEditions (as per the RFC).

`Get-Module -ListAvailable` should be consistent about whether modules that can be loaded in a current session can be listed.

[code]

[2018-07-16 23:58] #6992 closed

[2018-07-17 00:04] daxian-dbw commented on #7296
The related discussion from #7183 : https://github.com/PowerShell/PowerShell/pull/7183#discussion_r202487888

[2018-07-17 00:07] daxian-dbw commented on #7298
The related discussion from #7183 : https://github.com/PowerShell/PowerShell/pull/7183#discussion_r201528579

[2018-07-17 00:58] SteveL-MSFT commented on #2233
@mklement0 I believe you've succinctly summarized the original question and provided the existing PowerShell-way of solving those problems.  It doesn't appear that any code work needs to happen here.

[2018-07-17 00:58] #2233 closed

[2018-07-17 01:31] mateusrodrigues commented on #7207
@iSazonov Yes, `Read`, `ReadLine`, `ReadKey` ... all work fine on FreeBSD.

[2018-07-17 02:35] #7119 closed

[2018-07-17 03:39] #6991 closed

[2018-07-17 03:40] #6990 closed

[2018-07-17 03:41] mattpwhite commented on #7294
Is this unexpected?  I know that I would personally be very surprised to find string members initialized to empty strings.  I would expect class members to have default values as they do in other .NET languages.  Coercing null to empty string is already a confusing foot gun in other contexts, I wouldn’t want to see it extended to classes.

[2018-07-17 03:59] iSazonov commented on #7207
Looks like problem with cursor possition evaluating or setting - I see +1 on every next step.

[2018-07-17 04:04] mklement0 commented on #7294
@mattpwhite:

The primary purpose of this issue is to show the _lack of consistency_.

I suggested resolving the inconsistency toward PowerShell-like behavior, because, as demonstrated, in the majority of cases you already _do_ get the surprising behavior in the context of custom classes - in line with non-class PowerShell behavior:

  * assigning `$null` to a `[string]`-typed property or variable

[2018-07-17 04:05] iSazonov commented on #5970
@PleaseStopAsking Please test with latest PowerShell Core version (Preview3 or better night build)

[2018-07-17 04:50] iSazonov commented on #2083
@Mattacks I guess you could use `application.config` to map a dll to new version.

Currently we always use latest version of packages in preview and release PowerShell Core versions.

[2018-07-17 08:14] Mattacks commented on #2083
@iSazonov What do you mean by 'application.config'?
Notwithstanding the fact that developers such as ourselves require a specific version because of dependencies we are bringing in, what would be the process if a different version of NewtonSoft would be needed for, e.g., security bug-fix reasons?

[2018-07-17 08:52] iSazonov commented on #2083
We update continuously packages to get latest security fixes.

Redirecting assemblies https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions.

[2018-07-17 09:18] Mattacks commented on #2083
Wow, you did mean that feature from the .Net ark! I'll look into it, but that can only be a short term hack, can't it - you can't propose it as a long term solution.

We ship our product to customers. They might stick with a version of powershell installed on their kit for years. They have historically. That's different from upgrading our modules.

I think you have a significant issue here. We nee

[2018-07-17 12:39] mvadu commented on #7293
@markekraus  I am on latest insider version of Windows, but apparently still not on PS v6.

[code]

[2018-07-17 13:10] markekraus commented on #7293
@mvadu You will need to open a [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell) issue for Windows PowerShell. This GitHub rep is only for PowerShell Core 6+ issues. As we currently have RFC-7617 support beginning with PowerShell 6.0.0, I would suggest using PowerShell 6.0.0 or newer for your code that required RFC-7617 support. You can run PowerShell Core side-by-side with

[2018-07-17 13:10] #7293 closed

[2018-07-17 13:43] iSazonov commented on #2083
You could consider using LoadContext to resolve version conflicts https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md

[2018-07-17 14:04] alastairs commented on #7264
This issue was moved to PowerShell/PowerShellGet#302

[2018-07-17 14:04] #7264 closed

[2018-07-17 19:43] dantraMSFT commented on #5562
@Ricordel This is like https://github.com/Microsoft/omi/issues/502.  The fix is being validated.

[2018-07-17 21:44] tylerl0706 opened #7301 "The latest daily throws `Cannot create boxed ByRef-like values` when accessing `$OutputEncoding`"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

Latest Daily
[code]

[2018-07-17 22:05] bergmeister commented on #7301
This also happens on Windows and it seems the error formatting is slightly off as well:
[code]

[2018-07-17 22:10] DarwinJS opened #7302 "Amazon Linux 2 Preconfigured With .NET Core and PowerShell Core"
![image](https://user-images.githubusercontent.com/11597190/42848202-9458ef36-89ec-11e8-80c8-85cf61c823a4.png)

/cc @joeyaiello @SteveL-MSFT

[2018-07-17 22:41] daxian-dbw opened #7303 "PowerShell Core release for v6.1.0-preview.4"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.1.0-preview.4` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM pa

[2018-07-17 22:42] daxian-dbw opened #7304 "PowerShell Core servicing release for v6.0.3"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.0.3` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM package.

[2018-07-18 01:30] louistio opened #7307 "ConvertFrom-Json does not convert Newtonsoft.Json specific metadata properties in root object"
Steps to reproduce
------------------

[code]
1. Add `$id` and `$type` properties to a json object
2. Pipe object to `ConvertFrom-Json` Cmdlet
3. Notice that `$id` and `$type` properties are missing from resulting `PSCustomObject`

Expected behavior
-----------------
`ConvertFrom-Json` does not ignore properties when deserializing into generic `PSCustomObject`, regardless of their name.
[code]

Ac

[2018-07-18 02:22] markekraus commented on #7307
I can repro this. It also repros with `-AsHashtable` and it does not repro on nested objects, only root.

[code]

result:

[code]

[2018-07-18 04:11] iSazonov commented on #7303
I wonder why we stopped creating milestones https://github.com/PowerShell/PowerShell/milestones -  I believe creating milestones and assigning issues to it help community members to plan their process.

[2018-07-18 13:51] mklement0 opened #7309 "Format-Table -AutoSize considers headers even with -HideTableHeaders"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

That is, even though the headers are hidden, they still factored into determining the column width.

Environment data
----------------

[code]

[2018-07-18 14:31] PleaseStopAsking commented on #5970
@iSazonov Checking with Preview3, the same error is getting thrown on any DSC configuration file.

<img width="400" alt="screen shot 2018-07-18 at 10 28 28 am" src="https://user-images.githubusercontent.com/35308946/42888052-605e1b5a-8a75-11e8-9d2b-2a9a8e09d6b2.png">

The entire error message is...

``
System.DllNotFoundException: Unable to load shared library 'libmi.so' or one of its dependencies

[2018-07-18 19:19] anmenaga opened #7310 "Update package name "ubuntu 17.10" -> "ubuntu 18.04""
Ubuntu 17.10 reached End of Life.
The supported upgrade path from Ubuntu 17.10 is via Ubuntu 18.04 LTS.

Currently package file name is "powershell-preview_6.1.0~preview.4-1.ubuntu.17.10_amd64.deb".

[2018-07-18 19:55] MaximoTrinidad commented on #7162
This has been an issue for some time now.
It only works for Windows PowerShell!
:(

[2018-07-18 20:10] TravisEz13 commented on #7310
I think we already added 18.04.  We should add 18.10

[2018-07-18 21:29] TravisEz13 commented on #7303
We will try to do this in the future.

[2018-07-18 21:29] TravisEz13 commented on #7303
OS                           Total Pass Fail Pending Skipped
--                           ----- ---- ---- ------- -------
CentOS Linux 7 (Core)         8435 6703    3     338    1391
Debian GNU/Linux buster/sid   8521 6781    7     340    1393
Debian GNU/Linux 9 (stretch)  8435 6702    2     340    1391
openSUSE Leap 42.3            8435 6704    3     337    1391
Red Hat Enterprise Linux      8435

[2018-07-18 23:57] rjmholt commented on #4797
@Scholars-Mate, @vors do you remember how you created that flame graph? It would be really nice to reproduce that for other performance issues!

[2018-07-19 01:18] vors commented on #4797
I think we followed this article http://blogs.microsoft.co.il/sasha/2017/02/27/profiling-a-net-core-application-on-linux/
There was not much customization, just make sure to run a debug build with symbols, so the names are populated.

[2018-07-19 01:33] rjmholt commented on #4797
Oh awesome! Thanks @vors!

[2018-07-19 03:11] iSazonov commented on #5970
/cc @TravisEz13 Could you please look the DSC issue?

[2018-07-19 10:48] flxflx commented on #6435
I am getting the same error for the following line of code when I am on WSL or connected remotely to a Linux box over ssh.

`$nodes | foreach-object { start-job -ScriptBlock $function:createRemoteNode -ArgumentList ($_, ($nodeId++) + $constArgs)} | receive-job -Wait -AutoRemoveJob`

[2018-07-19 10:50] agonzalezm commented on #1876
any update on this? can you create a powershell with target rhel-x64 that supports running on centos 6?

https://github.com/dotnet/cli/issues/9375#issuecomment-393843956

[2018-07-19 11:18] iSazonov commented on #7112
@vancem Please look the PerfView traces (for Core and Windows)
https://ufile.io/s3t7v

You can use follow PowerShell scripts to record new traces

[code]

[2018-07-19 13:37] xied75 commented on #2896
@fcabralpacheco The code snippet looks great but it doesn't seem to work in Windows Nano Container.

[2018-07-19 17:17] rkeithhill opened #7312 "Interactive login using `npm login` fails"
Steps to reproduce
------------------
Install Node latest (10)

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

In Windows PowerShell this works but not without some issues:
[code]
Environment data
----------------

[code]

[2018-07-19 17:48] TravisEz13 commented on #5970
I've repro'd the issue on
[code]

[2018-07-19 17:49] TravisEz13 commented on #5970
and on
[code]

[2018-07-19 17:50] TravisEz13 commented on #5970
Although the error is slightly different in preview
[code]

[2018-07-19 17:52] TravisEz13 commented on #5970
first of all, it's trying to open a Linux library on mac, this won't work `Unable to load shared library 'libmi.so' or one of its dependencies. In order to help diagnose loading problems, consider setting the DYLD_PRINT_LIBRARIES environment variable: dlopen(liblibmi.so, 1): image not found`

[2018-07-19 17:57] TravisEz13 commented on #5970
I think this error is here:  https://github.com/PowerShell/MMI/blob/b35df8fcf766127221aaa02c474540aa95249722/src/Microsoft.Management.Infrastructure/Native/MI_PlatformSpecific.cs#L41

[2018-07-19 18:30] kvprasoon opened #7314 "Invoke-WebRequest fails to establish connection"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Below output is of 6.1.0-Preview.2

![image](https://user-images.githubusercontent.com/12897753/42962631-af80eef2-8baf-11e8-8960-9bc556839dbd.png)

Actual behavior
---------------

![image](https://user-images.githubusercontent.com/12897753/42962665-bf415c6e-8baf-11e8-89b9-c9550e359541.png)

Environment data
-------

[2018-07-19 20:31] PleaseStopAsking commented on #5970
@TravisEz13 what does the Resolution-External label signify?

[2018-07-19 20:40] TravisEz13 commented on #5970
@dantraMSFT   I think this should be moved to MMI.  Do you agree?

[2018-07-19 20:44] Lukortech commented on #2863
I am, too, expiriencing the problem.
WIN10, VS Code/ newest.
Can't install anything with NPM
`npm : The term 'npm' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.
At line:1 char:1
+ npm install
+ ~~~
    + CategoryInfo          : ObjectNotFound: (npm:Stri

[2018-07-19 20:52] TravisEz13 commented on #5970
I verified with @dantraMSFT

[2018-07-19 20:55] TravisEz13 commented on #5970
I filed an issue with the MMI project and I'll close this issue as external.

[2018-07-19 20:55] #5970 closed

[2018-07-19 21:52] MaximoTrinidad commented on #2863
First of all guys!!  Remember this is not a Window PowerShell forum section.  This is only for PowerShell Core issues.

If you got issues with NPM please go to their respective forums for support.

Thanks!

[2018-07-19 22:37] BellaLi commented on #7276
I found the root cause.

ConnectionUri, used UriBuilder to build the query parameters. It turns out to be sth like:
HTTPS://outlook.office365.com:443/PowerShell-LiveId?BasicAuthToOAuthConversion=true&email=blabla@microsoft.com;PSVersion=6.1.0

The URI format, works fine on Windows because '&' will be automatically replaced by "&amp;".
However, on Linux, it won't. As '&' has special meaning in xml,

[2018-07-19 23:07] TravisEz13 opened #7315 "Discussion: Microsoft Security Advisory CVE-2018-8356: .NET Framework Security Feature Bypass Vulnerability"
# Microsoft Security Advisory CVE-2018-8356: .NET Framework Security Feature Bypass Vulnerability

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the open source versions of PowerShell Core.
This advisory also provides guidance on what developers can do to update their scripts and module correctly.

Microsoft is aware of a securi

[2018-07-19 23:30] dantraMSFT commented on #7276
@BellaLi I've created issue https://github.com/Microsoft/omi/issues/550 in the Microsoft/OMI which is where this logic resides.

[2018-07-19 23:30] #7276 closed

[2018-07-20 00:22] adityapatwardhan opened #7317 "PowerShell remoting is broken on Win-Arm32 on Preview.4 release"
Steps to reproduce
------------------

Install Preview.4 package on raspberry-pi on Windows IOT.
Try remoting from remote machine.

Expected behavior
-----------------

Can remotely connect.

Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2018-07-20 02:28] PeterWhittaker opened #7319 ". (source dot operator) breaks UNIX and Linux semantics, expected behaviour"
Steps to reproduce
------------------

[code]
*A new window opens and Hello is displayed therein.*
[code]

*NOTE: Under Windows, without an extension, a GUI window is raised asking what app should be used to open "./afile"*

Expected behavior
-----------------

[code]

In UNIX and Linux shells, the extension is irrelevant: All of
 - ". afile",
 - ". ./afile",
 - ". afile.ps1", and
 - ". ./afile.ps

[2018-07-20 04:43] iSazonov commented on #7314
@kvprasoon I can not repo with latest builds.

[2018-07-20 04:47] iSazonov commented on #7298
/cc @mklement0 What do you think?

[2018-07-20 04:51] iSazonov commented on #7319
@mklement0 Could you please comment?

[2018-07-20 05:05] iSazonov commented on #7112
I forgot to say that my traces is based on PowerShell Core 6.0 Preview3 with .Net Core 2.1.301.

[2018-07-20 05:09] kvprasoon commented on #7314
@iSazonov Repro for me in another Server with Preview 4

![image](https://user-images.githubusercontent.com/12897753/42984222-1fcd18e4-8c09-11e8-81a2-bb3ec7617594.png)

[2018-07-20 09:31] nightroman opened #7320 "Where are released v6.1.0-preview.3 and v6.1.0-preview.4?"
Is it just me or released v6.1.0-preview.3 and v6.1.0-preview.4 disappeared from the Releases page?

[2018-07-20 09:53] sethvs commented on #5503
@nightroman @mklement0
I can't repro the condition, when you use -Scope Local from the script.
What I see, is that when you use `Import-Module` cmdlet from script or scriptblock, it always imports into the **global** scope.

**TheModule.psm1**
[code]
[code]
[code]
[code]

The same is for script files:
**import_default.ps1**
[code]

**import_global.ps1**
[code]

**import_local.ps1**
[code]

[code]

[2018-07-20 10:36] kilasuit commented on #7320
not just you @nightroman - I was also looking for these this morning

[2018-07-20 10:37] kilasuit commented on #7320
though they may still be in flight as per #7303 & #7304

[2018-07-20 10:39] nightroman commented on #7320
I downloaded v6.1.0-preview.4 a few hours ago.
v6.1.0-preview.3 was available for a long time.
Then both disappeared.

[2018-07-20 10:54] markekraus commented on #7320
I'm going to speculate that 6.1.0-preview.3 was pulled due to PowerShell/Announcements#6. I have no clue on the 6.0.3 and 6.1.0-preview releases. I can only speculate that those releases were not yet fully ready.

[2018-07-20 11:32] krushmike commented on #7320
Seems MS is all jumbled right now with this.  The security announcement indicates all releases prior to 6.0.3, however 6.0.3 is missing entirely, from both the download link I was using yesterday to the release page.  Hopefully they get this ironed out soon.

[2018-07-20 12:54] krushmike commented on #7320
Perhaps they could at least update https://raw.githubusercontent.com/PowerShell/PowerShell/master/tools/metadata.json to 6.0.2 until 6.0.3 is ready?  This is breaking install scripts.  Guess this is a chicken and egg situation.

[2018-07-20 16:45] MaximoTrinidad commented on #7320
Well,  yesterday I installed it and it did show both releases: GA 6.0.3 and Preview.4
Ha! That's a bubu!

![nomorepscore_2018-07-20_12-43-31](https://user-images.githubusercontent.com/19892435/43014582-a6c693d2-8c1a-11e8-845f-0cbf313d87c3.jpg)

[2018-07-20 17:38] TravisEz13 commented on #7320
There was a signing issue.  We are revising the release draft and will republish it soon.  Sorry, we were not aware that they disappeared while we are revising the drafts

[2018-07-20 17:43] daxian-dbw commented on #7320
The `preview.3` release was accidentally removed during yesterday's publishing process. It's now republished. We apologize for all the inconveniences.

[2018-07-20 17:44] TravisEz13 commented on #7320
We have republished the edited drafts.  preview.3 was changed to a pre-release.  The MSI's on 6.0.3 and 6.1.0-preview.4 were replaced with the signed versions with notes about both hashes.

[2018-07-20 17:44] #7320 closed

[2018-07-20 17:48] mklement0 commented on #5503
@sethvs: Thanks for digging deeper:

**Re script behavior:**

You must distinguish between _a module's visibility to `Get-Module`_ and the _availability (importing) of its exported members_.

A `-Scope Local`-imported module in a child scope still shows up in an ancestral scope's `Get-Module` output, but its exported members aren't _callable_ there, because they weren't _imported_.

While it may s

[2018-07-20 17:52] daxian-dbw commented on #7304
Release test results:
[code]
Failures in CentOS/RedHat are known issues with ssl/tls

[2018-07-20 17:53] #7074 closed

[2018-07-20 18:23] sundarchi1 commented on #5919
Surprised to see this still unfixed in preview4 released today.
pwsh.exe still does not work in Task Scheduler without full path!
Note: I installed with "Add PowerShell to Path Environment Variable" checked, but it doesn't look like that actually did anything.

Please reopen.

[2018-07-20 18:47] SteveL-MSFT commented on #5226
This should be fixed as we now install to `$env:ProgramFiles\PowerShell\6` and `$env:ProgramFiles\PowerShell\6-preview`

[2018-07-20 18:47] #5226 closed

[2018-07-20 19:18] TravisEz13 commented on #5919
@sundarchi1 Did you follow the instructions here:  https://github.com/PowerShell/PowerShell/issues/5919#issuecomment-373817293

[2018-07-20 20:04] #6877 closed

[2018-07-20 20:07] SteveL-MSFT commented on #5842
@adityapatwardhan I believe you indicated with the Preview.4 release that ARM64 remoting worked?

[2018-07-20 20:26] mikemaccana opened #7323 "Request: call it `posh` rather than `pwsh`"
Heya!

Powershell 6 is `pwsh`. But folks in the Powershell community have called it `posh` for more than a decade now. It would be cool for the command to do the same.

<img src="https://media.giphy.com/media/OFcP2ojNIAkec/giphy.gif"/>

[2018-07-20 21:05] adityapatwardhan commented on #5842
Loopback remoting was fixed in Preview.3. Seeing issues in Preview.4.

[2018-07-20 21:14] kvprasoon commented on #7323
@mikemaccana  What do you mean by CALL here ? are you referring to the executable name(pwsh.exe) ?

[2018-07-20 21:29] adityapatwardhan opened #7324 "powershell.exe started from pwsh.exe give preference to pwsh modules and fails module version compatiblity check"
Windows PowerShell started from a pwsh.exe from preview.4 gives preference to pwsh module path.
As an effect, module load fails with `Modules_InsufficientPowerShellVersion,Microsoft.PowerShell.Commands.ImportModuleCommand`

Steps to reproduce
------------------

[code]

**Workaround**
After starting Windows PowerShell adjust the PSModulePath

[code]

cc @rjmholt

Expected behavior
----------------

[2018-07-20 21:43] st0le opened #7325 "Change in Profile Behaviour in preview4?"
Steps to reproduce
------------------
Here's my _Microsoft.PowerShell_profile.ps1_
[code]

Expected behavior
-----------------
On starting a new console, the Starting directory changes to User Desktop directory.

Actual behavior
---------------

On preview 3 and before, this was working as intended. The initial directory was the desktop.
I can confirm the desk function is being called with a debug

[2018-07-20 21:49] rockerinthelocker opened #7326 "PowerShell v6.1.0-preview.4: Non-GAC DLLs Not Found"
This bug is still not resolved (see #7076 for further details).

[code]

The code above works as expected with all PowerShell versions but 6.1.0-preview.3 and 6.1.0-preview.4. The last two preview versions throw

[code]

Without support for non-GAC assemblies, PowerShell Core is pretty much useless.

[2018-07-20 21:50] rockerinthelocker commented on #7076
See #7326 for update. Closing this now @iSazonov @daxian-dbw .

[2018-07-20 21:50] #7076 closed

[2018-07-20 22:02] rjmholt opened #7327 "System32 module path is added repeatedly in subprocesses"
Steps to reproduce
------------------

[code]

Expected behavior
------------------

System32 module paths don't build up.

Actual behavior
---------------

System32 module paths keep getting tacked onto the end of the the PSModulePath.

Pros:
  * You always know how many PowerShells deep you are

Cons:
  * This is broken

Environment data
----------------

[code]

[2018-07-20 22:02] rjmholt commented on #7327
Related to #7324

[2018-07-20 22:06] rjmholt commented on #7324
To document some offline discussions further:

This is a consequence of adding the Windows PowerShell System32 module directory to the pwsh module path:

* Start WindowsPowerShell
* It sees the System32 module path already on the PSModulePath
* The System32 module path is not prepended (even secretly) to the Windows PowerShell PSModulePath
* Modules attempt to be (auto)loaded from (e.g.) Microsoft

[2018-07-20 22:10] rjmholt commented on #7324
Worth noting that (2) would also solve #7327.

Also, any solution to this would need to work with any flags `powershell.exe` might be started with, like `-noprofile`

[2018-07-20 22:12] daxian-dbw commented on #7326
@rockerinthelocker Can you please provide a simpler repro? That would be very helpful. Or, please add instructions about how to set up to reproduce with the `MaxMind` assemblies.

[2018-07-20 23:24] kvprasoon commented on #7323
There are reasons why we didn't(were not able to) use `posh`. [see](https://github.com/PowerShell/PowerShell/issues/4214 ) this .

[2018-07-21 00:52] #7303 closed

[2018-07-21 00:52] #7304 closed

[2018-07-21 05:52] st0le commented on #7325
Never mind. Apparently the Shortcut now has a "-WorkingDirectory ~".

[2018-07-21 05:52] #7325 closed

[2018-07-21 10:56] mi-hol commented on #6267
@iSazonov is this list of issues not actually the Backlog?

[2018-07-21 14:42] michal5520pl opened #7330 "Request for PowerShell for ARM64 Ubuntu"
Hi
Is there any possibility for creating PowerShell for Ubuntu ARM64 and ARM32?
Thanks,
Michał.

[2018-07-21 14:53] SteveL-MSFT commented on #5503
@BrucePay can you confirm @mklement0's explanation matches design intent?

[2018-07-21 14:56] SteveL-MSFT commented on #7302
@DarwinJS that's really cool!

[2018-07-21 14:56] #7302 closed

[2018-07-21 15:36] SteveL-MSFT commented on #7323
@mikemaccana within the Community, people call it `posh` and as far as I'm concerned `pwsh` is pronounced `posh`.  However, as @kvprasoon pointed out, we've been through this discussion and we couldn't use `posh` literally as it's an existing shell

[2018-07-21 15:36] #7323 closed

[2018-07-21 15:44] SteveL-MSFT commented on #7330
@michal5520pl I believe the Raspbian ARM32 build should just work on Ubuntu ARM32 (barring a known crashing issue due to dotnetcore...) as Raspbian is an Ubuntu derivative.  We can enable the current build script to support Linux ARM64 so that builds can be produced.

[2018-07-21 16:39] somewhatlogical opened #7331 "Task Scheduler DLL First-Call on Method issue"
I was working on a wrapper for dahall/TaskScheduler since I couldn't find any non-COM working solution for managing scheduled tasks (#7292), and came up with some interesting behavior when going through PS Core against a .NET Standard DLL.  Basically, on the first method call to file checks when using the task scheduler COM returns for some reason with an error:

 Note I have not checked this usin

[2018-07-21 21:02] thezim opened #7332 "ConvertTo-Html -As List appends colon to property name"
When using `ConvertTo-Html -As List` colon is appended to the property name. While this inline with `Format-List` there should be some way of either to not append anything or allow a custom string.

My first thought is to add a switch to ignore appending the colon entirely. This keeps it non breaking and pretty simple but seems like a fix for a singular case.

Second idea is to have the delimiter

[2018-07-21 23:56] SteveL-MSFT commented on #7332
It might make sense to introduce a `-HtmlOption` parameter that accepts a `HtmlOption` object where we can add more customization without new parameters (particularly with lesser used customizations) which would still allow for providing custom script blocks.

[2018-07-22 00:08] SteveL-MSFT commented on #6267
I'd like to get rid of the `6.0.0-NiceToHave` milestone as it's no longer relevant.  Going forward, rather than putting a bunch of issues in 6.x only to move them to 6.x+1, all non-critical issues that we believe should be addressed will be in the `Future` milestone.  There is no guarantee *when* an issue will be fixed, but the more up votes the higher the priority (depending on risk of changes, e

[2018-07-22 00:08] #6267 closed

[2018-07-22 00:10] SteveL-MSFT commented on #3841
Documented https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-windows?view=powershell-6#prerequisites

[2018-07-22 00:10] #3841 closed

[2018-07-22 00:11] SteveL-MSFT commented on #3554
No longer seeing this issue

[2018-07-22 00:11] #3554 closed

[2018-07-22 00:14] SteveL-MSFT commented on #3369
@daxian-dbw added a bunch of tests, consider this resolved.

[2018-07-22 00:14] #3369 closed

[2018-07-22 00:16] SteveL-MSFT commented on #2997
Haven't seen an issue with this anymore

[2018-07-22 00:16] #2997 closed

[2018-07-22 00:29] SteveL-MSFT commented on #2894
With the change to have stable versions install to `6` folder and preview versions in `6-preview`, this should no longer be an issue.  If there's concern about PSGet metadata being left over from an uninstall, I suggest opening an issue in https://github.com/powershell/powershellget

[2018-07-22 00:29] #2894 closed

[2018-07-22 00:32] SteveL-MSFT commented on #2616
Still repros in 6.1.  cc @sdwheeler

[2018-07-22 00:34] SteveL-MSFT commented on #2566
`Documentation Needed` label was added

[2018-07-22 00:34] #2566 closed

[2018-07-22 00:38] SteveL-MSFT commented on #2395
This cmdlet isn't supported on PSCore6

[2018-07-22 00:38] #2395 closed

[2018-07-22 00:39] SteveL-MSFT commented on #2120
@joeyaiello is this still an issue?

[2018-07-22 00:40] #2091 closed

[2018-07-22 00:51] SteveL-MSFT commented on #1280
No longer an issue.  What exists will exist forever at this point for these automatic variables.

[2018-07-22 00:51] #1280 closed

[2018-07-22 00:52] SteveL-MSFT commented on #841
We can reopen this if there is customer feedback

[2018-07-22 00:52] #841 closed

[2018-07-22 06:45] iSazonov commented on #6267
I believe if you reviewed an issue it is better assign it to a milestone in any case to indicate that you already reviewed. For "no milestone" it can be `No milestone`, `Undetermine` or `No plans`.

[2018-07-22 06:57] iSazonov commented on #7326
I can load an assembly from local folder without problem. I guess the issue is only with MaxMind assemblies.

[2018-07-22 09:03] lwsrbrts commented on #5919
Not sure if the same fix for 6.1.0 p4 was applied to 6.0.3 but right after installation of 6.0.3 and before a reboot, the scheduled task didn't run. A reboot later and it worked as expected.

The system path was updated by the installer (leaving behind the previous entry referring to 6.0.2 however). I imagine that with 6.1 this will no longer be a problem if the installs all go in the same place?

[2018-07-22 09:21] danielman111 opened #7333 "Automation via .NET Core"
Hi All. I am using .NET Core to write some automation with powershell,
I installed the following nugets:

[code]

and is using the following code:

[code]

Getting the following Error

[code]

Any Ideas how to fix the problem, so it will recognize it?

[2018-07-22 15:15] SteveL-MSFT commented on #6267
@iSazonov that is a fair point.  cc @joeyaiello

[2018-07-22 15:44] mi-hol commented on #4605
@SteveL-MSFT any news on this?

[2018-07-22 17:32] rockerinthelocker commented on #7326
@daxian-dbw @adityapatwardhan @iSazonov
The setup is quite simple and takes just a couple of minutes.

1) Open a command prompt, create folder C:\GeoIP, and cd to it.

2) Install the MaxMind GeoIP2 package (available at https://www.nuget.org/packages/MaxMind.GeoIP2/) via nuget.exe (https://www.nuget.org/downloads) like so:

[code]

3) For testing purposes, the .NET flavor (net45, netstandard 2.0,

[2018-07-22 17:46] mklement0 commented on #7319
@PeterWhittaker:

I don't think you should expect the behavior you're describing, and I don't see the actual behavior you're describing on macOS, at least not on PowerShell Core v6.1.0-preview.3 (see what you get with my code at the bottom).

As for your expectations:

`. ./afile` would only _execute_ something if there's either an extension-less _but executable_ `aFile` in the current dir, or a (

[2018-07-22 19:05] SteveL-MSFT commented on #4605
Was hoping to have an Alpine release along with Preview.4.  Next week we'll be working on producing a docker image release.

[2018-07-22 19:06] mklement0 commented on #7333
Are you running this on a Unix-like platform? The CIM cmdlets only work on Windows, with [no plans to implement them on other platforms](https://github.com/PowerShell/PowerShell/issues/6248#issuecomment-382679853).

[2018-07-22 19:11] SteveGilham opened #7334 "System.Management.Automation assembly version is not stable but should be"
This assembly provides the primary API for customization via compiled cmdlets; in the original Windows PowerShell, this was acknowledged by keeping the assembly version at 1.0.0.0 through several releases (adhering to the Open/Closed principle), so that cmdlets written to that API could continue to be used without being bound to that version.

I discovered this by having recently upgraded from 6.0

[2018-07-22 22:11] PeterWhittaker commented on #7319
Please reread the original report: The file was created WITHOUT an extension and PWSH opened a new window instead of running it in the exiting window. When mv was to add the extension, PWSH behaved as expected, running the file within the current window.

Under both Windows and UNIX, without an extension, PWSH does not know what to do with the file. While this may be expected behaviour under Windo

[2018-07-22 22:22] thomas-illiet opened #7335 "Add Virtualenv support"
Hi All.

I use Jenkins to build / test my Powershell modules, I would like to create virtual environments to separate dependencies from my projects ( Like Python Virtualenv )

Actualy i create a litle module for this : https://www.powershellgallery.com/packages/Virtualenv/

could we have an integration of this feature in powershell ?

[2018-07-22 22:35] PeterWhittaker commented on #7319
I'll have to wait for PWSH to be updated or install the preview, then: Under my version (documented above), I see very odd behaviour indeed: Create an ordinary file called "fred" with content "Hello", then dot source it as described below:

[code]

Now open a shell in the same folder, add echo to the beginning of the file, as in

[code]

and repeat all four tests, and do four more: without the lea

[2018-07-22 22:36] mklement0 commented on #7298
I'm late to this and may not have the full picture, but just in the abstract it sounds like it's worth either reporting a non-terminating error or at least a warning for every malformed module,  given that it's fair to assume that locations in `$env:PSModulePath` should contain nothing _but_ (well-formed) modules.

Quietly including malformed modules in the `-ListAvailable` results seems unhelpful

[2018-07-22 23:42] mklement0 commented on #7319
As stated, given that the file neither has extension `.ps1` nor is marked as executable, it is treated as a _document_, as if you had run `Invoke-Item ./fred` or, using the native `open` macOS utility, `open ./fred`.

What that does specifically depends on what default programs you've set up; on my machine, for instance, it opens the file in Visual Studio Code.
It's unclear what you mean by "opens

[2018-07-23 00:08] PeterWhittaker commented on #7319
Great explanation, thanks. Makes the overall design approach clear.

Re the separate issue: Since you have the preview, can you try the "fail quietly" case and let me now the outcome? If it is "fail quietly", I'll open an issue; if it is otherwise, I'll either get the preview or wait for the general update, then open the issue: I'm not sure it is worth opening an issue for something fixed in the p

[2018-07-23 02:11] mklement0 opened #7336 "Invoking an executable plain-text file that lacks a shebang line fails quietly on macOS"
On Unix-like platforms, plain-text files that are marked as executable require a shebang line (`#!...`) for meaningful interpretation; in the absence of a (valid) shebang line, it is unclear what interpreter to pass the file to.

On _macOS_ (but not on Linux) PowerShell currently _fails quietly_ when attempting to invoke an executable plain-text without (valid) shebang line, _presumably_ because t

[2018-07-23 02:13] mklement0 commented on #7319
@PeterWhittaker: Glad to hear it was helpful.

Yes, the quiet-failure issue exists even in the latest preview release (PowerShell Core v6.1.0-preview.3), but I've actually just created an issue for it myself: #7336

Note that while there is no _error message_, it is possible to detect the failure by querying `$LASTEXITCODE` (which is `8` in this case).

[2018-07-23 04:34] iSazonov commented on #7326
I can repo. I got the error after `[MaxMind.GeoIP2.DatabaseReader]::new` (without parameter and brackets):
[code]

[2018-07-23 04:55] iSazonov commented on #7298
I believe we should have the same behavior for _all_ paths and indicate that module (manifest) is broken. We could do this in  `PSEdition` field. I think it looks better in interactive sessions. In scripts we can filter output if we need.

[2018-07-23 05:05] iSazonov commented on #7336
@PaulHigin Maybe it will be interesting to you.

[2018-07-23 05:06] iSazonov commented on #7336
Seems it will be a breaking change if we add a terminating error.

[2018-07-23 05:32] iSazonov commented on #7334
@adityapatwardhan @daxian-dbw What is recommended practice? Compile a  custom module against SMA _>=6.0.*_ / `>=6.*`?

[2018-07-23 05:43] iSazonov commented on #7335
@thomas-illiet Could you please add more information/scenarios? Can this help to isolate different version dll-s like Newton.Json used in PowerShell engine and in custom modules?

/cc @SteveL-MSFT @daxian-dbw

[2018-07-23 05:52] iSazonov commented on #7331
What assembly you mean?

[2018-07-23 07:38] sethvs commented on #5503
**about script behavior.**
Interesting finding.
What is `Import-Module` cmdlet is doing: is **importing** some module and **exporting** it's content (functions, aliases, etc.) into the scope.

Concerning calling `Import-Module -Scope Local` from inside the script, is imports a module into **global** scope, and it's content - in the **script** scope. It seems more like a bug, then the lack of docum

[2018-07-23 07:53] danielman111 commented on #7333
Running on Windows Server

[2018-07-23 09:47] kilasuit commented on #2708
@SteveL-MSFT - Are there any plans for this package to become owned by the PowerShell Team and therefore have it managed and released to chocolatey just like the other package managers for linux systems.

If not currently then in my opinion it should be transferred to be be owned by your release process for consistency

[2018-07-23 11:23] mklement0 commented on #7333
Untested, but I suspect you need this nuget package (namespace `Microsoft.Management.Infrastructure`):

https://www.nuget.org/packages?q=Microsoft.Management.Infrastructure

[2018-07-23 11:43] mklement0 commented on #7333
One last (wild) guess, then I'll leave it to someone more knowledgeable to to help you (I've personally never gone beyond making the [sample application](https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell/sample-dotnet2.0-powershell-crossplatform) work.)

Perhaps `$env:PSModulePath` is populated in a way that auto-loading of the `CimCmdlets` module doesn't work?

(Downloadin

[2018-07-23 11:55] mklement0 commented on #7298
@iSazonov: Just to clarify: You're suggesting not to report an error / warning, but instead to populate the `PSEdition` property of malformed modules with a pseudo value that indicates the malformation?

[2018-07-23 11:55] thomas-illiet commented on #7335
Hello @iSazonov :)

## Scenarios

For example I have a lot of scripts with the same module with breaking changes. I do not want to specify the version of the module in the script.

Another example, in Visual Studio the libraries are not installed in the system because it is in the project (
 it seems to me )

## Folder structure diagram
 - Project01
    |  - Venv
    |     - Pester
    |         -

[2018-07-23 13:23] mklement0 opened #7337 "Get-Module accepts nonsensical combinations of ModuleVersion and MaximumVersion entries for -FullyQualifiedName"
Steps to reproduce
------------------

Request a minimum version of 1.6.0 and - nonsensically - a maximum version of 1.5.0:

[code]

Expected behavior
-----------------

I think a statement-terminating error indicating that `MaximumVersion`  must be greater or equal to `ModuleVersion` (which uses _minimum_ logic) would be more helpful than the current behavior.

If feasible, this validation should

[2018-07-23 13:47] pra6hu commented on #5296
Is there any update on this?

[2018-07-23 14:38] mklement0 commented on #5503
@sethvs

I would phrase that differently:

* `Import-Module` is _loading_ a module (on demand),
* and then _importing_ the module's _exported members_ (there's never any exporting _to_ - its always an act of _importing_ on the part of the code that wants to use module's exported members)

It is only the _importing_ that can be scoped, and arguably that is all that matters.

Note that the current d

[2018-07-23 14:39] sdwheeler commented on #2616
@SteveL-MSFT Adding the view to the query string will not fix the problem. The problem is that the FWLINK is wrong. There needs to be a new FWLINK created for v6. There may already be one, in which case, we just need to update the header in the markdown file with the proper FWLINK.

[2018-07-23 14:56] sethvs commented on #5503
@mklement0
It's not just awkward - it is inconsistent when some part of the functionality takes place in the global scope, and some - in local.

I'm OK with different defaults, when using cmdlet from script or scriptblock  and from inside the module - *Global* and *Local*, respectively.
But when you use `Import-Module -Scope Local` it should not mean `please load the module globally, and import it

[2018-07-23 16:02] rkeithhill opened #7338 "Showing markdown with new commands is harder than it should be"
When I first tried to use the new markdown commands to show a markdown file, it seemed obvious to me that I'd just run:

[code]
but that doesn't work.  You have to execute this instead:
[code]

It seems to me that `Show-Markdown` should have a Path parameter set so that you can simply specify the path to a markdown file to be shown.

Environment data
----------------

[code]

[2018-07-23 17:11] jherby2k opened #7339 "Microsoft.PowerShell.SDK version 6.1.0-preview.4 fails at InitialSessionState.CreateDefault()"
I'm unable to use preview.4 of the SDK with my test project. preview.3 worked fine. The test project targets .net core 2.1.

Steps to reproduce
------------------

1.  Clone https://github.com/jherby2k/AudioWorks.git.
1. Run the tests in the AudioWorks.Commands.Tests project. All should pass.
1. Change the project to reference Microsoft.PowerShell.SDK version 6.1.0-preview.4 (from preview.3)
1. Ru

[2018-07-23 17:31] PaulHigin commented on #5296
Sorry, I lost track of this issue.  PowerShell remoting authentication and endpoint session creation is performed at the WinRM layer.  I spoke internally with the WinRM folks and they are aware of the issue.  I have also created an internal bug report for them.

@Earl-S I am closing this issue since it outside PowerShell.  But I suggest you also create a UserVoice (https://windowsserver.uservoice.

[2018-07-23 17:31] #5296 closed

[2018-07-23 17:41] karezza opened #7340 "PowerShellGet & Artifactory NuGet Repository"
When publishing to an Artifactory NuGet Repository the message appears, "Client did not publish a checksum value."  Three checksums are expected:  SHA-256, SHA-1, MD5.  SHA-256 is received successfully.  How can "Publish-Module" be encouraged to provide all three checksums?

[2018-07-23 18:05] rockerinthelocker commented on #7326
@iSazonov , Thanks for taking the time and providing further details!

@daxian-dbw , It seems you're right and it's a .NET Core 2.1 issue.

@coolcsh  , Looks like something related to loading non-GAC DLLs is broken in .NET Core 2.1. Maybe you can get someone looking into this? Thank you!

[2018-07-23 18:30] PeterWhittaker commented on #7319
@mklement0 : #7336 is an excellent bug report, far better than I could have written at this stage.

Re this report, it seems to me it can be closed as in effect "working by design", but I'd appreciate guidance on how to proceed and remain "on side" for this repo: Should I close, and with what labels/status, should someone close, etc. Thanks!

[2018-07-23 18:33] mklement0 commented on #7319
Thanks, @PeterWhittaker.

@iSazonov has already added the label `Resolution-Answered`, so I think all that's left to do is for you to close the issue.

[2018-07-23 18:35] PeterWhittaker commented on #7319
Perfect, done!

[2018-07-23 18:35] #7319 closed

[2018-07-23 19:02] mklement0 commented on #5503
@sethvs:

You're right: it's an inconsistency if you expect `Get-Module` to list _imported_ modules (by default) - and that's certainly what its help topic claims.

Currently, it is reporting _loaded_ modules whose exports may or may not be available in the _current_ scope.

To be clear: what I'm suggesting is that this is more likely a `Get-Module` issue, not an `Import-Module` issue.

In a way i

[2018-07-23 19:08] TravisEz13 commented on #5919
@sundarchi1  The previews don't add themselves to the path by design.  Only Stable builds do, we are considering adding `pwsh-preview` to the path as we did on Linux and Mac.

[2018-07-23 19:10] SteveL-MSFT commented on #2616
@sdwheeler can you create the fwlink and I'll update it in the code?

[2018-07-23 19:14] sdwheeler commented on #2616
@SteveL-MSFT  I have never done it. These FWLINKs should be owned by the dev team. @adityapatwardhan may know how to do it. We should inventory all of the FWLINKs and validate that the accuracy across all of the cmdlets/versions.

[2018-07-23 19:16] SteveL-MSFT commented on #2708
@kilasuit there was some discussion about PowerShell Gallery team standing up their own instance of a Chocolatey repo so that we can support it with official releases.  cc @edyoung who would own this.

[2018-07-23 19:17] SteveL-MSFT commented on #3989
@louistio given the optimizations in JIT in .NET Core 2.1, this no longer seems relevant.  Thanks for bringing this up!

[2018-07-23 19:17] #3989 closed

[2018-07-23 19:59] sundarchi1 commented on #5919
@TravisEz13 Oh ok, so this should be fully resolved in 6.1 final.. will retest when that comes out.
Any hint when the final release comes out?

[2018-07-23 20:31] Stlouistechy opened #7342 "Enter-PSSession fails from Docker image"
Steps to reproduce
------------------
From a RHEL server running docker, pull down latest release by running:
docker run -it microsoft/powershell
From PS command prompt, connect to a Windows 2012 R2 server by running:
PS /> $creds = Get-Credential
PS /> Enter-PSSession -ComputerName {Win2012-R2 Hostname} -Authentication Basic -Credential $creds

Expected behavior
-----------------

PS connects to

[2018-07-23 20:50] MaximoTrinidad commented on #7342
@Stlouistechy

Question: Did you setup Winrm linux on RHEL Docker?

I know it's kind-of hard to setup but it's possible.  The best and fast route it to setup ssh on the Windows Server.  Docker IT/PowerShell image will not have the Winrm configured.

:)

[2018-07-23 21:08] bergmeister commented on #5919
In the last community call, it was said that August will be the target for the final release.

[2018-07-23 21:09] BrucePay commented on #5503
Technically, there are two things that you need to keep in mind when trying to figure out modules: scope and session state. By default, modules are loaded into the top-level of the current **_session state_** not the current _scope_. If you are in the global scope (i.e. not in a module) then they get loaded into the global session state and any exports are placed into the global tables. If you loa

[2018-07-23 21:18] Stlouistechy commented on #7342
@MaximoTrinidad

Thanks Maximo. I just tested this on my Container by installing pywinrm (pip install pywinrm) and running the steps again. Unfortunately no luck, I receive the same error.

[2018-07-23 21:46] bradwilson opened #7343 "Add a platform agnostic way to detect when running elevated"
When writing a PowerShell script, it would be nice to know if you're running in an elevated context (UAC in Windows, as root on *nix). You can do platform-specific things today, but it should be easily available without regard to platform.

[2018-07-23 21:50] SteveL-MSFT commented on #7343
CoreFx has an open issue to add API support: https://github.com/dotnet/corefx/issues/27304

Depending on how that goes (whether it's Unix specific, for example), perhaps we should consider a `$IsAdmin` automatic variable.

[2018-07-23 22:00] SteveL-MSFT commented on #2616
Thanks, I'll follow-up offline.

[2018-07-24 00:15] mklement0 commented on #5503
Thanks, @BrucePay - good to learn about session states.

However, given that _session state_ is not a well-known concept (and given that the only session-related conceptual topics, `about_PSSession` and`about_PSSession_Details` are of little help and focus on sessions in the context of _remoting_; as an aside: they deserve a fundamental overhaul), I fear that:

will not be helpful to the average u

[2018-07-24 03:46] iSazonov commented on #7298
Yes, in interactive session it looks better.

[2018-07-24 04:57] SteveL-MSFT commented on #7298
If the module manifest is invalid, we shouldn't default to `Desktop`.  `Desktop` is only if `CompatiblePSEditions` contains `Desktop` or if `CompatiblePSEditions` doesn't exist at all (older module manifests pre-dating PS5).  I think it would be fine to have `???` as the `PSEdition` value when an invalid module manifest is encountered.

[2018-07-24 05:04] SteveL-MSFT commented on #5919
@sundarchi1 https://github.com/PowerShell/PowerShell/pull/7345 should address your issue

[2018-07-24 05:05] SteveL-MSFT commented on #7339
cc @adityapatwardhan

[2018-07-24 05:10] cohato commented on #7243
I can see same problem in Windows10 Redstone5 Insider Preview Build17713(JA-JP),
Powershell version v10.0.17713.1000.

This problem does not occur in the Powershell_ISE(v10.0.17713.1000)

![powershell](https://user-images.githubusercontent.com/41607026/43118020-c973c98a-8f4a-11e8-9078-3e0fa8297d5b.jpg)

[2018-07-24 05:56] #5667 closed

[2018-07-24 07:14] sethvs commented on #5503
Thanks for explanation, @BrucePay. Suspected something like this after looking through the code.

[2018-07-24 11:38] meekaah commented on #6561
any news? this is completely blocking us 👎 i still havent found a workaround
we're running windows server 2008 r2

[2018-07-24 11:49] gradinkov commented on #6561
The fact that after almost 4 months this issue is still open indeed is puzzling. Win7 is officially supported, yet, PowerShell Core is completely broken on it. That means around HALF of your userbase. I'd recommend to either declare Win7 unsupported or fix this critical blocker.

But I can't just say to my users that "yeah, your OS is theoretically supported, except in practice it won't work". I c

[2018-07-24 11:58] powercode opened #7348 "Make pdbs available for released builds"
A lot of tooling (performance/debugging) are helped by debug symbols.

Can we publish these, preferably on the microsoft public symbol server, or, worst case as a downloadable symbol package?

[2018-07-24 12:20] SeeminglyScience commented on #7338
In the same vein I would expect the following to work

[code]

When instead this is required

[code]

[2018-07-24 12:35] iSazonov commented on #6561
Looking https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-createjobobjecta
I guess we could directly reference Kernel32.dll

[2018-07-24 16:35] rjmholt commented on #2505
@aaroncalderon I agree with your preference here. The problem is that the other behaviour is the current one (and has been deemed to be by design). So a recursive reload on `-Force` would be a breaking change. It can be changed, but needs to go through the [PowerShell RFC process](https://github.com/powershell/powershell-rfc) to do so.

[2018-07-24 16:41] BradBarnich commented on #7324
I hit this too. Was using pwsh as my main shell on windows, but some of our build scripts are hardcoded to powershell.

With preview 4, they fail with messages like:
`Get-Date : The 'Get-Date' command was found in the module 'Microsoft.PowerShell.Utility', but the module could not be loaded. For more information, run 'Import-Module Microsoft.PowerShell.Utility'.`

[2018-07-24 16:44] BradBarnich commented on #7324
Another scenario, running VS code from pwsh ,`code .`, then opening the integrated terminal. Same issue

[2018-07-24 17:08] SteveL-MSFT commented on #7348
For GA builds, we should see about minimally providing a downloadable symbol package (needed for non-Windows anyways) and also see about publishing to Msft symsrv.

[2018-07-24 17:44] adityapatwardhan commented on #7339
@jherby2k I believe this is on Windows? Which Windows version is it?

[2018-07-24 18:52] mklement0 commented on #5503
Re the `Get-Module` / `-Scope Local` discrepancy (`Get-Module` potentially seeing a module even if it wasn't imported into the current scope):

In short: Unlike what I thought earlier, the help topics do _not_ support the expectation that `Get-Module` see only modules imported into the _current scope_, so a small amendment to the existing `Get-Module` help topic is probably sufficient (see below).

[2018-07-24 19:42] mklement0 opened #7349 "Calling Remove-Module from an Import-Module -Scope local scope doesn't remove imports from ancestral scopes"
[Obsoleted by #9582.]

Based on the discussion in https://github.com/PowerShell/PowerShell/issues/5503, the assumption is that `Remove-Module` operates at the _session-state_ level, which implies that calling it from any scope should unload the module _and remove its imports_ from _all_ scopes in the session.

However, it seems that if a module is imported both in a given scope and then also _loca

[2018-07-24 19:42] oising commented on #7338
Agreed. I think this is not intuitive and is probably a leaky abstraction. The fact that markdown ascii/utf8 gets converted to ecma48 / vt100 control sequences seems like a detail nobody should know nor care about.

[2018-07-24 19:45] mklement0 commented on #5503
As for what appears to be an actual _bug_ with `-Scope Local` that I've alluded to earlier: see #7349

[2018-07-24 20:46] MaximoTrinidad commented on #7342
@Stlouistechy

OpenSSH can be install in Windows so you can use SSH protocol for remoting.

By the way, the AD Module will be available (if is not already) for PSCore. Then again, all components to support AD Authentication need to be in place on the Linux system. I know the way to install these components does varies on different Linux distributions.

:)

[2018-07-24 23:32] TheIncorrigible1 commented on #3240
I think syntactic sugar is something powershell could use that other languages enjoy.  +1 on the proposal.

[2018-07-24 23:47] TheIncorrigible1 commented on #3239
@lzybkr I have yet to see anyone actually adopt `$PSItem`.  I work on a decently large team of people who write scripts and they still all use `$_` even as less-experienced PowerShell users.

[2018-07-25 00:31] joeyaiello opened #7352 "Improve error message when autoloaded module fails the PSCompatibleEditions check"
Module auto-loading knows about the existence of incompatible commands, even when `Get-Command` does not, so when you try to execute a command in an Edition-incompatible module (without loading it first), it will complain about being unable to load the module.

Also note that `Get-Command Add-WindowsCapability` returns nothing here.

We may also want to extend `Get-Command` to support `-SkipEditio

[2018-07-25 00:49] Hrxn opened #7353 "PowerShell v6.1.0-preview.4: Broken output for Get-ChildItem"
Steps to reproduce
------------------
Simply run `ls -Force` in your usual _Home_-directory (i.e. `C:\Users\Hrxn`, for example)...
[code]

Expected behavior
-----------------
Output (snipped)
[code]

Actual behavior
---------------
Output (snipped)
[code]

As you can probably see, the output is somewhat garbled.
The Mode/Attributes for some files are missing, when it should be `-a-hs-`. Seems like

[2018-07-25 01:37] SteveL-MSFT commented on #7352
So this is just an error message change, right?  Is this part really necessary?

[2018-07-25 01:58] chuanjiao10 commented on #7342
hi Stlouistechy:
 docker run -it microsoft / powershell ,then you get a **linux powershell**.
the only way is **OVER SSHD** from a **docker linux powershell** to windows,This is the by design.
so this issue is a  question

[2018-07-25 02:34] SteveL-MSFT commented on #7353
I can repro this.  Something to do with the Windows NT* files.

[2018-07-25 02:37] mklement0 commented on #7298
@SteveL-MSFT: Agreed on not defaulting to `Desktop`.

As for what to do instead: the question comes down to how we defined an _available_ module:

* (a) Anything that happens to be present in a dir. listed in `$env:PSModulePath`, whether it is a well-formed module or not.

* (b) Something that's present in in a dir. listed in `$env:PSModulePath` that is also a well-formed module (though it may not

[2018-07-25 03:30] iSazonov commented on #7298
@mklement0
1. Displaying the table is corrupted by error messages
2. We must be consistent - if we display incompatible modules, then we must show the broken modules. If we want get only "core" compatible modules we need a filer like `-ListAvailable Core` (this can be default). I think it is better UX.

[2018-07-25 03:56] #7307 closed

[2018-07-25 04:07] mklement0 commented on #7298
@iSazonov

An error is never pretty, but its job is to indicate an exceptional condition that needs attention.

A malformed (broken) module is not an _incompatible_ module. You cannot meaningfully classify a malformed module beyond its "brokenness" - that is why it should be treated as an exception.

[2018-07-25 04:15] rjmholt commented on #7298
I think one point worth mentioning is that for a module with an invalid manifest (e.g. malformed manifest, wrong PowerShell version, missing required module, etc.), you get the following behaviours:

- `Get-Module -ListAvailable`: Module appears -- a "fake" PSModuleInfo is generated
- `Import-Module`: An error is thrown (I think terminating, but not certain)

Whereas, for a module with the wrong e

[2018-07-25 04:56] mklement0 commented on #7298
@rjmholt: Not knowing the internals and possibly missing part of the picture, here's what makes sense to me:

* `Get-Module -ListAvailable` ... list all (well-formed) _edition-compatible_ modules.

* `Get-Module -ListAvailable -SkipEditionCheck` ... list _all_ (well-formed) available modules, including edition-incompatible ones.

Irrespective of the specific parameters, any malformed module should

[2018-07-25 08:01] RichardSiddaway commented on #3239
I regularly use $psitem

Over a number of years of judging Scripting Games $psitem was used a lot in the answers

[2018-07-25 12:56] liger1978 commented on #2511
Still getting this on CentOS 7 when using` Invoke-RestMethod -Certificate $cert...`

Error:
[code]

[2018-07-25 13:41] LawrenceHwang opened #7358 "PowerShell Core is denied permission to SshdBroker service state"
Noticed following permission denied errors on PowerShell Core `6.0.2` and `6.1.0-preview.4` even when running in **Administrative session** of PowerShell Core.

Client OS is Windows 10 1083 (Build 17134.167)

Thank you.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-07-25 15:37] MaximoTrinidad commented on #7358
@LawrenceHwang,

Just an FYI

In newer edition of Windows 10 (ie. 17713), the SshBroker Service is no longer used.

Windows 10 OpenSsh client is enabled by default.  But the OpenSsh Server will need to be installed in order to allow other system to remotely connect to Windows.

![openssh_01_2018-07-25_11-35-29](https://user-images.githubusercontent.com/19892435/43211203-fcf49b5e-8ffe-11e8-8f3f-dbe

[2018-07-25 16:01] mklement0 commented on #3239
@RichardSiddaway: If we look on Stack Overflow at PowerShell-tagged questions _asked since 2014_, we get (as of this writing):
* ca. 106,000 [posts tagged `powershell`](https://stackoverflow.com/search?q=%5Bpowershell%5D+created%3A2014..2018) (this includes answers too; if you limit the query to questions, you get about 46,000)
* of these, 71 [contain the word `PSItem`](https://stackoverflow.com/s

[2018-07-25 16:56] #7150 closed

[2018-07-25 17:04] #3771 closed

[2018-07-25 17:04] #5562 closed

[2018-07-25 17:09] joeyaiello commented on #7352
I just copied the error message from `Import-Module`.

Seems like it makes sense to have consistency between `Get-Command` and `Get-Module`, though, and autoloading seems like it should dovetail with `Get-Command`.

[2018-07-25 17:10] Zsoldier opened #7359 "Powershell installation via package manager method results in 'preview' version regardless of option chosen."
Tested on both CENTOS 7 and Ubuntu 16.04
Adding repo as instructed in both systems.
Running install w/ option of "powershell" or "powershell-preview" results in an installation of the current powershell "preview" version.

"Powershell" option never targets current stable release version.

Workaround is to simply download pkg or directly reference git uri to appropriate pkg.

[2018-07-25 19:14] gscscnd commented on #7257
Well, this is the relevant error message:

From https://github.com/dotnet/source-build/issues/285#issuecomment-399949984:

Thanks, @omajid!

[2018-07-25 19:14] #7257 closed

[2018-07-25 20:42] jazzdelightsme opened #7361 "A module that tries to force-import itself causes module context to come completely unglued"
Steps to reproduce
------------------
A bit of explanation before the repro script, which is hard to understand at a glance:

My original scenario is that I have a module. Actually, I may have more than one version of it. So two copies of the same module (same name, same guid, different version number). In addition to checking available versions of the module, the module may have been changed sinc

[2018-07-25 21:06] khansen00 commented on #6475
Appreciate you're working on it and apparently there were unexpected complications.
Do we have some estimate? It is preventing us from shipping now, so it would be great to have some good idea of when it will be available.

[2018-07-25 21:09] adityapatwardhan commented on #6475
Thank you for your patience. An estimate for packages to be release on Nuget will be end of next week.

[2018-07-25 21:35] dantraMSFT opened #7362 "WSManReceiveDataResult.UnMarshal comments are incorrect - it expects binary not text data"
The comments for this method indicate only Text data is supported on the wire but, in actuality, binary data is required.

The associated code and the Dbg.Assert bear this out.

See the related bug in PSRP which hit the Dbg.Assert: https://github.com/PowerShell/psl-omi-provider/issues/121

[2018-07-25 21:46] daxian-dbw opened #7363 "'ConvertFrom-Markdown' should take positional argument and 'Show-Markdown' should have consistent default as 'ConvertFrom-Markdown'"
1. `ConvertFrom-Markdown e:\powershell\readme.md` throws error: `A positional parameter cannot be found that accepts argument 'E:\PowerShell\README.md'`. I think it should work.

2. `ConvertFrom-Markdown -Path E:\PowerShell\README.md | Show-Markdown` fails with this error: `Show-Markdown : The property VT100EncodedString of the given object is null or empty.` So, `ConvertFrom-Markdown` by default

[2018-07-25 22:29] daxian-dbw commented on #7324
@rjmholt I'm afraid adding the `System32` module path to the end of `env:PSModulePath` is not the root cause. If your run `import-module Microsoft.PowerShell.Management`, you will see the following error:

[code]

The error indicate that the modules are failing because we changed `PowerShellVersion="3.0"` to `PowerShellVersion="6.1"`. I guess we need to change it back for all PSCore built-in modul

[2018-07-25 22:32] SteveL-MSFT commented on #7298
@PowerShell/powershell-committee reviewed this.

  - If `CompatiblePSEditions` is readable, but empty, it should default to `Desktop` explicitly.
  - If it can't read the module manifest, then that value should be an empty string and not `Desktop`.

In the case a malformed module manifest is found, a non-terminating error should be returned.

[2018-07-25 23:37] #7362 closed

[2018-07-26 00:59] LawrenceHwang commented on #7358
Thank you @MaximoTrinidad for sharing the info. Is the `SshdBroker` removed in the newer build or installed just not used? Sorry I don't have an environment setup with newer build yet.

[2018-07-26 01:56] #7340 closed

[2018-07-26 01:59] SteveL-MSFT commented on #1265
@louistio Thanks for the investigation details!

In the your first issue, even if an exact match is found, I would expect it to cycle through other possible matches.  For the second, it should also all possible matches including common parameters.

[2018-07-26 02:29] jazzdelightsme opened #7367 "Import-Module -Force wipes out nested module"
Steps to reproduce
------------------
I have two modules, MainMod and HelperMod. HelperMod is a general utility library, and is a NestedModule of MainMod, which MainMod uses internally, but MainMod does not export HelperMod's functions.

Because HelperMod is a general utility library, there may be other things that use it. The user may even have it loaded at the global scope.

If I have HelperMod

[2018-07-26 02:37] jazzdelightsme commented on #7367
I also had a repro of a similar problem where the function from the HelperMod still seems to exist (`gcm` finds it), but it seemed to have lost its definition. I wasn't able to get a simplified repro of that, but in retrospect, I think it was related to the fact that I had some other module in my module path that also used HelperMod, and it /did/ export HelperMod's functions, but when pwsh tried t

[2018-07-26 03:57] iSazonov commented on #7324
I wonder why do we even look for standart/core modules by `env:PSModulePath`? If we hard-code the path to <pwsh.exe dir>\Modules internally and remove it from  `env:PSModulePath`  the problem will go away.

[2018-07-26 04:15] tibmeister commented on #3239
mklement0, you have a very awesome example and I think demonstrates the point clearly, thank you.

[2018-07-26 04:47] SteveL-MSFT commented on #7336
In the case of PowerShell, if the command is not a script nor a cmdlet, it runs it as a `NativeCommand`.  This means it attempts to start a new process with that name ( 't' in the local directory in the sample above ).  Create process on "./t" fails since it's not a binary executable.

Looking at the bash source, they have a helper to look into executables to determine if it's likely a script or a

[2018-07-26 04:49] SteveL-MSFT commented on #7324
@iSazonov I think you should put that feedback in https://github.com/PowerShell/PowerShell-RFC/pull/133

[2018-07-26 04:50] iSazonov commented on #7112
@vancem Have you any news?

[2018-07-26 04:52] SteveL-MSFT commented on #7298
@mklement0 I think when I typed up the summary we were still in discussion between showing PSEdition as empty (and some other indicator it is invalid) or producing a non-terminating error.  We ended up with agreeing that a non-terminating error makes the most sense (with expectation that we improve the visual of non-terminating errors which is already another issue).

So to summarize, @PowerShell/

[2018-07-26 05:06] chuanjiao10 opened #7368 "HELP! help docker module"
https://github.com/Microsoft/Docker-PowerShell/

Docker module is very good module for management container and image.

now project is readonly,we can not download & installed  from https://ci.appveyor.com/nuget/docker-powershell-dev

I expect PowerShell Gallery to include this module.

Request powershell-team rescue docker module

===================================
0.1.0.111 is latest version.
t

[2018-07-26 05:15] iSazonov commented on #7324
@SteveL-MSFT Will do.
Here my comment is for #7365

[2018-07-26 06:42] powercode commented on #7112
Faster hash may help some, but the real perf boost is to enable a scenario where we know up front that we will create a lot of pscustomobjects with the same layout and create the metadata objects up front. Then we should be able to amortize the work of creating the properties. @lzybkr, didn't you have some ideas around this?

[2018-07-26 07:17] yairyog commented on #3771
I understand this is now on master- is 6.1.0 previews made from master?

[2018-07-26 09:36] codeHorse87 opened #7369 "PackageProvider system not in sync between Windows PS and PS Core"
Steps to reproduce
------------------

[code]
I'd expect both PS implementations using the same Package Management as being implemented in .NET, including access to the same PackageSource's or PackageProvider's. Which means in a powershell script I have to determine in the script of it's going to be executed in PS Core or the Windows PS.
Having the OS abstraction with PS Core having the abstractio

[2018-07-26 09:47] iSazonov commented on #3771
@yairyog The fix is not in Preview4. You can get it with night builds.

[2018-07-26 09:52] iSazonov commented on #7112
Of cause we can make some improvements in this code but main question remains open - why this code works fine on .Net Framework and is so bad on .Net Core?

[2018-07-26 10:54] iSazonov commented on #7359
Seems this will not work until 6.1 release.
/cc @TravisEz13

[2018-07-26 11:03] iSazonov commented on #7369
PowerShell Core seems to be at the beginning of the road.

[2018-07-26 12:13] Zsoldier commented on #7359
Good to know.  Thanks.

[2018-07-26 12:55] sethvs opened #7371 "Change the order that -Full and -Functionality parameters of the Get-Help cmdlet show up when using Tab completion."
Since the **-Full** parameter of the `Get-Help` cmdlet (and `help` function) is used much more frequently than the **-Functionality** parameter it would be useful to change the order they show up when using Tab completion.

Also, alpabetically, **Full** goes earlier than **Functionality**.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior

[2018-07-26 15:31] liger1978 opened #7372 "Update $env:PSModulePath to include an OS package manager PowerShell module location"
Here is `$env:PSModulePath` on CentOS:

[code]

It would be nice if  `/usr/share/powershell/Modules` could be added to this list of directories on *nix systems so that modules can be installed using the OS package manager (e.g. rpm, deb, etc). Typically it is not good practice for these package managers to write to `/usr/local`.

[2018-07-26 15:45] SteveL-MSFT commented on #7368
@chuanjiao10 per that repo, the module is deprecated.  PowerShell Team is already involved in too many projects so I don't think we can pick up another one.  It would be great if the community can take ownership of that module.

[2018-07-26 17:08] #7353 closed

[2018-07-26 17:10] #7324 closed

[2018-07-26 17:26] Stlouistechy commented on #7342
@chuanjiao10 Thanks. Is there a timeline when PSSession and ActiveDirectory modules may be available to PSCore on Linux?

[2018-07-26 17:53] mklement0 opened #7373 "Extend Get-Member to show optional method parameters as such"
It would be handy if `Get-Member` could show the _optional_ parameters of a class' method as such (for types that define method signatures with optional parameters rather than with distinct method overloads).

Currently, optional parameters are shown just like mandatory ones, making it non-obvious that they needn't be specified.

[code]

Current behavior
------------------

[code]

Desired behavio

[2018-07-26 18:20] mklement0 commented on #7336
Yes, that's the behavior I suggest we _avoid_, because in the absence of a shebang line it is a tenuous assumption for a shell to make that it must be written in its _own_ language - to me, it's not a reasonable default behavior (and it sounds like we agree on that).

However, what _is_  shell's job - any shell's - is to report an error in the event of _fundamental inability to invoke an external

[2018-07-26 19:04] SteveL-MSFT commented on #7326
@rockerinthelocker can you open an issue in the coreclr repo?  Will get more immediate attention I think.

[2018-07-26 20:17] daxian-dbw commented on #7334
@SteveGilham I tried to repro the issue but couldn't. Can you please provide repro steps for the reported issue?

In my attempt, I built a simple assembly targeting the `System.Management.Automation 6.0.2` Nuget package:

#### templib.csproj

[code]

#### Class1.cs

[code]

#### build `templib.dll`
[code]

As shown in `ILDasm`, the generated `templib.dll` references `System.Management.Automation 6

[2018-07-26 20:21] mark-inderhees opened #7374 "Ubuntu - Cannot launch VS code from powershell core"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
VS code starts

Actual behavior
---------------
VS code does not start

Environment data
----------------

[code]

More info
----------------

I can launch VS code from bash, but not from powershell. When trying to start from powershell, no error is shown, it just returns to the prompt. Bash gives the same experience

[2018-07-26 21:01] mklement0 commented on #7371
_Consistently_  tab-completing parameter names _alphabetically sorted_ makes sense.

By contrast, I don't think that fixing it on a _per-cmdlet basis_ based on (perceived) frequency of use is the right solution.

I suggest creating a new issue and PR for sorted completions.

[2018-07-26 22:03] mklement0 opened #7375 "Keyboard interface of some external terminal-based programs is broken on Unix-like platforms"
Note: At this point I know of only one utility, `n`, the Node.js version manager, but I suspect other utilities are affected too.

Presumably, the issue is related to programs using the "alternate screen" technique (as used by the `screen` utility and the `tput smcup` and `tput rmcup` commands)  described in [this SO post](https://stackoverflow.com/q/11023929/45375).

Steps to reproduce (macOS or

[2018-07-26 22:19] vancem commented on #7112
I agree that while there are a bunch of interesting performance questions here, by for the most interesting is why running the same powershell benchmarks on .NET Core runs slower than .NET Desktop.

Thank you @iSazonov  for providing the traces.   Sorry it took so long for met to really take a look.  I have been multiplexing investigations.

First just to understand the data you put on https://ufi

[2018-07-26 22:22] vancem commented on #7112
Actually I see that download instructions for Powershell Core.  I will give those a whirl.

[2018-07-26 22:32] mklement0 commented on #7371
@sethvs:

I appreciate your willingness to not only report problems but also _fix_ them, but, before submitting a PR, I suggest waiting for feedback so that a consensus can be reached as to _if and how_ the problem needs solving.

You'll save yourself and others potentially unnecessary effort.

[2018-07-26 23:30] hach-que opened #7376 "Default working directory for PowerShell should be the user's directory"
Steps to reproduce
------------------

Open PowerShell using the Start Menu link on Windows.

Expected behavior
-----------------

The default prompt should be located at `$env:USERPROFILE` or `$env:USERPROFILE\Documents` on Windows.

Actual behavior
---------------

The default prompt opens at `C:\Program Files\PowerShell\6.0.2`.

Environment data
----------------

[code]

Why this should be chan

[2018-07-27 00:09] rkeithhill commented on #7376
This is a dupe of #5705 which has been fixed in `6.1-preview4`.

[2018-07-27 00:16] SteveL-MSFT commented on #7376
PSCore6.1 is nearing GA so it doesn't make sense to spend the effort to backport the fix to 6.0.x

[2018-07-27 00:16] #7376 closed

[2018-07-27 00:18] SteveL-MSFT commented on #7371
I agree with @mklement0 that we should fix this at the tabexpansion level so that it's consistent in all cases rather than a specific cmdlet.  From a predictability standpoint, it makes sense to have it alphabetical.  However, it may also make sense to have it based on "most used" (more work would be needed to make this happen).  Of course, one solution to that is to make it configurable...

[2018-07-27 00:36] SteveL-MSFT commented on #7112
@vancem Thanks for your detailed analysis.  The PSCore6 from our [releases](https://github.com/PowerShell/PowerShell/releases/tag/v6.1.0-preview.4) page is both crossgen'd and built as Release

[2018-07-27 01:34] hach-que commented on #7376
Thanks! Looking forward to 6.1 :)

[2018-07-27 01:36] alx9r opened #7377 "Runspace.Open() sometimes completes without the specified ImportPSModules becoming available"
Usually when a module is specified using `InitialSessionState.ImportPSModule()` and `Runspace.Open()` is invoked that module is imported into the runspace.  It is then output when `Get-Module` is invoked in the runspace.  Sometimes, however, the specified module is not imported (or at least is not available using `Get-Module`) despite that `Runspace.Open()` succeeded.

There seems to be variation

[2018-07-27 01:43] #7245 closed

[2018-07-27 02:03] alx9r commented on #7377
Here is a related repro where the `PowerShellGet` module is specified to multiple runspaces that are opened concurrenly.  `PowerShellGet` becomes available in some of the runspaces but not others.

Steps to reproduce
------------------

[code]

Expected Behavior
--------------

[code]

Actual Behavior
-------------

[code]

[2018-07-27 03:45] iSazonov commented on #7324
Fix in #7365 is temporary and it will be replaced later.

[2018-07-27 03:52] chenyj796 opened #7378 "pwsh launch very slowly in win7"
Steps to reproduce
------------------
When I launch the pwsh 6.0.3 in windows 7 x64, it spends almost 25 seconds to show prompt, and the autocomplete of $psversi.. spends about 10 seconds.

The default powershell works fine.

The computer I used has no internet network access.

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------

[2018-07-27 04:01] iSazonov commented on #7371
1. `-<Tab>` - I'd expect "first most commonly used" order
2. `-F<Tab>`  - I'd expect alphabetical order

[2018-07-27 04:21] chuanjiao10 commented on #7342
Now you can.

the only way is OVER SSHD from a docker linux powershell to windows.

[2018-07-27 04:31] chuanjiao10 commented on #7368
Why is it abandoned?
Is there a similar module replacement in the powershell gallery?
The module is deprecated. It’s sad ...  ...

[2018-07-27 04:59] iSazonov commented on #7112
No, traces I pushed on the share is not crossgen-ed. Sorry that I did not mention this. Really I tried locally Preview3 version and did not find a difference in behavior (of cause crossgen-ed binaries is more fast).

[2018-07-27 06:05] iSazonov commented on #7378
are the second and subsequent starts also slow?

[2018-07-27 07:24] sethvs commented on #7371
@mklement0 I'm very glad that *you* appreciate my effort, but I prefer arranging my time myself. Thank you.

[2018-07-27 09:32] chuanjiao10 commented on #7378
Isolated, unreproducible issues.
Maybe the disk has bad blocks?
It is recommended to install .net framework 4.72

[2018-07-27 10:10] mklement0 commented on #7371
@sethvs:

My advice was well-meaning and - hopefully - sensible.

If you disagree, I'm happy to debate the _content_ of the latter claim with you.

Otherwise, please stop posting passive-aggressive responses.

[2018-07-27 10:59] sethvs commented on #7371
@mklement0
Thank you for the advice. If I ever need another one, I will definitely ask.
I suggest concentrating on the issue topic if you don't mind.
Thank you again.

[2018-07-27 12:50] Browntulips commented on #4023
someone please help.
i installed Powershell Azure and tried to import the module. Here's the error message i got:

PS C:\Windows\system32> Import-Module Azure
Import-Module : The specified module 'Azure' was not loaded because no valid module file was found in
any module directory.
At line:1 char:1
+ Import-Module Azure
+ ~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (Azur

[2018-07-27 13:58] mklement0 opened #7381 "Get-Help -Full / -Parameter does not display parameter aliases"
<sup>[Originally reported in the docs repo](https://github.com/PowerShell/PowerShell-Docs/issues/1638), but since it affects the `Get-Help` cmdlet, I'm reposting it here.  It seemed that the problem was fixed at some point, but it is back as of PowerShell Core 6.1.0-preview.4</sup>

Currently, the only way to discover parameter aliases is via the _online_ help topics; e.g., the [`Get-ChildItem`'s

[2018-07-27 14:05] mklement0 commented on #7371
I assume we're talking about a _user-specific_ learning feature / MRU feature (as a generic feature, users may disagree on what parameters are the most important ones, and it hurts predictability).

If we're going for this, my vote is for a separate, parallel invocation mechanism, as @rkeithhill proposes.

However, it sounds like a nontrivial effort and I see its value as limited in a sysadmin wor

[2018-07-27 14:34] mmcelreath opened #7382 "Cannot paste complete password when creating a new credential"
When running Get-Credential, if I try to paste my password when prompted for a password, it only takes the first character or so then exits the command. The rest of the password is then pasted to the console.

Steps to reproduce
------------------

PS C:\> "TestPassword123" | clip.exe
PS C:\> $cred = Get-Credential

PowerShell credential request
Enter your credentials.
User: Test
Password for user

[2018-07-27 14:47] alexandair commented on #4023
On PowerShell Core, you need to install AzureRM.Netcore. Try:
`Install-Module AzureRM.Netcore -Score CurrentUser`

[2018-07-27 14:51] sethvs opened #7383 "Wrong parameter name in the Get-Variable cmdlet error message."
When using `Get-Variable` (or `Get-Alias`) cmdlet with the **-Scope** parameter with wrong value, the error message refers to **scopeID** parameter.
Even though it is the real parameter of the `GetScopeByID` and  `GetScopeByID` internal methods, the error message returns to the user, who used the **-Scope** parameter.

So it would be nice, if the error messages refer to the **-Scope** parameter.

[2018-07-27 15:10] faraazahmad commented on #3212
I would like to take this up

[2018-07-27 15:20] mmcelreath commented on #7382
I'm also seeing this in the stable version as well.

[2018-07-27 15:48] chuanjiao10 opened #7385 "wrong：The latest stable version of powershell is 6.1.preview.2, not 6.03"
For historical reasons, the package name wrong in ms repo.
This is still the case until now.

#7359 can not Clearly explain the reason, It is recommended to keep this issue , close #7359.

ubuntu has same problem.

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
How to fix:

in
https://packages.microsoft.com/rhel/7/prod/

A person with permission changes the packa

[2018-07-27 16:06] chuanjiao10 commented on #7375
Someone taught me a trick, do you see it useful?

[code]

[2018-07-27 16:11] mklement0 commented on #7375
@chuanjiao10: It's a useful technique in general, but how does it help here?

[2018-07-27 16:14] SteveL-MSFT commented on #7385
We introduced the `stable` and `preview` channels in the middle of 6.1.  I don't think we'll go back and fix the existing releases particularly since we expect to have our next stable release (6.1 GA) by end of August.

[2018-07-27 16:19] SteveL-MSFT commented on #7368
@chuanjiao10 according to the README.md it seems that at the time it was not used enough to justify the engineering cost.  Perhaps as we continue to grow PSCore6 usage that project can be picked up again.

[2018-07-27 16:35] faraazahmad commented on #2692
I would like to work on this

[2018-07-27 16:35] faraazahmad commented on #4235
I would like to work on this

[2018-07-27 16:42] mklement0 opened #7387 "Extend Get-Command to support a -Resolve switch for resolving to an alias' underlying command or an executable symlink's true filesystem location"
<sup>Updated to extend the resolution functionality to executable symlinks.</sup>

It would be convenient  to allow passing `-Resolve`  to `Get-Command` so as to immediately display information about the command underlying an alias, if applicable.

In other words: given an alias name, `-Resolve` would act like `(Get-Command someAlias).ResolvedCommand`.

This is more useful than the default behavio

[2018-07-27 17:02] chuanjiao10 commented on #7385
I understand.
So, in powershell powerbi borard, 6.03 will be a rarely used version.

[2018-07-27 17:02] #7385 closed

[2018-07-27 17:13] mklement0 opened #7388 "Unix utilities expect $env:PWD to reflect the current directory, as per POSIX"
[POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap08.html#tag_08_03) mandates the presence of an _environment_ variable named `PWD` that should "represent an absolute pathname of the current working directory."

That is, POSIX-like shells keep the value of this env. variable in sync with their working dir. so that (non-shell) processes created from the shell can rely on it re

[2018-07-27 17:57] thewinner666 opened #7389 "PowerShell working on libcurl4?"
Ok, I am just going to ask this question. Are you going to make Powershell to work on libcurl4 because most programs that I have rely on this library and if I try to install libcurl3 it will not just remove libcurl4, but all programs that need it to run properly.

[2018-07-27 19:39] rjmholt commented on #7298
@SteveL-MSFT (& @PowerShell/powershell-committee), does `module manifest is invalid` **include** or **exclude** modules that rejected because of an incompatible PSEdition? (I assume exclude, but code-wise, the edition check is one of the validity checks and will require special handling)

[2018-07-27 20:20] True-Demon commented on #3285
I realize this issue has long since been closed, but for those of us who want a realistic solution, I have implemented some rather simple boilerplate code for it.

[code]
Or if you want a more concise method or would rather simply cast them into a new variable to use independent of $PSBoundParameters...

`$PSAllParameters = $MyInvocation.MyCommand.Parameters`
In both cases, you can use these for s

[2018-07-27 20:33] mklement0 opened #7391 "Inspecting parameters via a CmdletInfo instance obtained via an AliasInfo's ResolvedCommand property is missing dynamic parameters"
Steps to reproduce
------------------

Run from a filesystem location.

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

That is, no `Directory` parameter was present in the output from `(Get-Command gci).ResolvedCommand`, even though by itself it appears to produce the same output as `Get-Command Get-ChildItem`

Environment data
----------------

[code

[2018-07-27 21:00] SteveL-MSFT commented on #7298
@rjmholt `invalid` means the module manifest is not well-formed.  In the case where the module manifest is well-formed and `CompatiblePSEditions` indicates it is not compatible, that is still a valid module manifest and should follow existing behavior which is it doesn't show up (if under system32 path) without `-SkipEditionCheck`, otherwise, it should show as `Desktop` if explicitly stated or `De

[2018-07-27 21:17] mklement0 commented on #3285
As for your workarounds:

The first one is great, but I don't think the second one will work, though, because `$MyInvocation.MyCommand.Parameters` contains only metadata, not values, from what I can tell.

[2018-07-27 22:38] Jaykul commented on #3285
@mklement0 That's why he calls get-variable 😉

Here's mine, which I mentioned earlier. It's basically the same thing, except that it merges with PSBoundParameters (and is in function form, so you can dot-source it, and includes tests to make _sure_ you dot-sourced it)

https://gist.github.com/Jaykul/c623c45d32329cadac9e7622937e1b76

[2018-07-27 22:59] thezim commented on #7389
PowerShell Core no longer has a dependency on libcurl #6964

[2018-07-27 23:43] thezim commented on #7388
Is there a goal to make PowerShell POSIX compliant?

[2018-07-27 23:54] TravisEz13 commented on #7359
@Zsoldier we could delete the preview packages that were published as `powershell` but at this point, I think it is better for us to just wait until 6.1 is released and that will fix it.  cc/ @SteveL-MSFT  @daxian-dbw

[2018-07-28 01:06] BrucePay commented on #7391
Dynamic parameters are dynamic i.e. based on some condition. This condition typically takes the form of an argument to the cmdlet which is why `Get-Command` has a `-ArgumentList` parameter. In the case of `Get-ChildItem` that argument is a path. So if you do
[code]
you will get the expected output.

[2018-07-28 01:45] mklement0 commented on #7388
@thezim:

It's not about POSIX compliance per se - it's just that POSIX-decreed functionality is,  by and large, the  common denominator across macOS and Linux - see https://github.com/PowerShell/PowerShell/issues/6518#issuecomment-376914142

If PowerShell wants to be a good cross-platform citizen and aspires to be the "universal shell" (which I hope it does), it must not contravene fundamental ex

[2018-07-28 01:49] markekraus commented on #7314
@kvprasoon are you sure it's not a connectivity issue between your servers and github?

if you enable TLS 1.2 and run the same commands on 5.1, do you get the same result?

[2018-07-28 01:56] mklement0 commented on #3285
@Jaykul:

Yes, in the first snippet, which indeed works (as stated - though I'd use `$null -ne $value` rather than just `$value` as a slightly more robust conditional to infer the presence of a value from; it too modifies `$PSBoundParameters` directly).

However, my comment was about the second snippet, which I interpret to make the claim that `$MyInvocation.MyCommand.Parameters` would essentially

[2018-07-28 02:21] mklement0 commented on #7391
@BrucePay:

Yes, but it's my understanding that in the _absence_ of `-ArgumentList` it is the _provider underlying what happens to the be the current location_ whose dynamic parameters are returned.

That is the reason the steps to reproduce state, "Run from a filesystem location."

Thus, when invoked from a_filesystem location_ (a current location that is provided by the `FileSystem` provider), t

[2018-07-28 03:46] StingyJack opened #7394 "Is there a way to recover a command that was typed, but you accidentally hit the ESC key?"
I'm sure everyone has mistakenly hit the escape key after typing in almost all of a command at least once. Is there any way to get that partially typed command back (without re-typing ofc)?

[2018-07-28 07:20] faraazahmad commented on #4235
What should the `ErrorCategory` be?

[2018-07-28 07:48] faraazahmad commented on #4235
@mklement0 @SteveL-MSFT  What should the `ErrorCategory` be?

[2018-07-28 10:02] liszca opened #7395 "Zoom In and Out not possible"
Hi,
working on Hi resolution displays can be quiet painful without being able to zoom in.

Doing so with CTRL + Mousewheel and CTRL + "+"/ "-" should be possible.

Greetings
filip

[2018-07-28 16:20] adityapatwardhan commented on #6561
I found a workaround for the issue.

The issue is with `-Wait`. You can use `-PassThru` and wait for the process completion. Something like this:

[code]

The function `Wait-UntilTrue` is defined here:
https://github.com/PowerShell/PowerShell/blob/master/test/tools/Modules/HelpersCommon/HelpersCommon.psm1#L3

[2018-07-28 16:55] rkeithhill commented on #7395
PowerShell is not responsible for console functionality.  You need to submit that issue to the console repo - https://github.com/microsoft/console

[2018-07-29 00:03] True-Demon commented on #3285
You're right, I made the mistake of assuming before I posted that. I've omitted that since it doesn't apply in order to prevent leading others astray.

[2018-07-29 02:59] mklement0 commented on #4235
@faraazahmad:

Thanks for your willingness to take this on.

I'm not the best person to ask, but looking at the enumeration values at https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.errorcategory?view=powershellsdk-1.1.0, perhaps `ResourceUnavailable`?

[2018-07-29 03:38] chuanjiao10 commented on #7368
Well, the problem with chicken and eggs. There are fewer users, so close. Closed, so there are fewer users.

There is no choice to enter the powershell gallery, the first step of this project is wrong.

Continue to fix the bug and introduce the usage of this module on the "Script Guy" blog. Maybe we can open the situation.

Have a look, anyone. The project needs to be rescued!

[2018-07-29 06:35] kvprasoon commented on #7314
@markekraus - I'm sure its not a connectivity issue. It works till 6.1.0-preview 2.
Once I upgrade to preview 3/4 from 2, I get this error.

**NOTE: TLS1.2 by is enabled**

[2018-07-29 06:39] kvprasoon commented on #7387
Great idea !!!

[2018-07-29 07:19] kvprasoon commented on #7394
Yes, you will have to do some magic using `PSReadLine`.
Cc: @lzybkr

[2018-07-29 07:36] chuanjiao10 commented on #7378
after install .net framework 4.72,try this script:
https://github.com/BornToBeRoot/PowerShell/blob/master/Scripts/OptimizePowerShellStartup.ps1

[2018-07-29 08:01] DHowett commented on #7372
This may be the maintainer's responsibility. They know better than PowerShell where the distribution-managed modules will be installed.

Where they can configure that depends on the user's login manager; systemd-logind supports drop-in files in `/etc/environment.d`, which a powershell package could place per-distribution and standard _login_ (from shadow) may get env vars from `/etc/environment` (

[2018-07-29 09:03] SteveGilham commented on #7334
Sorry for the delay.  I have some good news and some not so good news from this particular corner of DLL Hell --

First, the good news : I've not been able to repro the original issue after a number of upgrade/reinstall cycles and a few reboots for other reasons -- it may have been something banal like needing a reboot at the time because of other changes built up on the machine (physical, rather

[2018-07-29 12:21] markekraus commented on #7314
Right, but does it work in 5.1 still after the upgrade (enabling TLS 1.2 before trying)? Since you can run 5.1 and 6.1.0 side-by-die, I'm trying to establish where the fault is. So I'm asking you to test it in 5.1 on the same machine where it is failing with 6.1.0. Can you confirm, please?

I ask because I am unable to reproduce this anywhere. Since the underlying .NET Calls also fail, I suspect t

[2018-07-29 15:11] kvprasoon commented on #7314
I think its because of proxy, even with 5.1 i'm facing issues. I have tested the same in another Win 10 and works fine.
Thanks @markekraus .

[2018-07-29 15:11] #7314 closed

[2018-07-29 16:38] TrueWill opened #7400 "Quoted command-line argument with space treats trailing backslash as escaping quote"
Related to https://github.com/PowerShell/PowerShell/issues/1995

Steps to reproduce
------------------
**foo.c:**
[code]

Compiled with Microsoft C/C++ compiler v19.14.26433 for x86 to foo.exe

`./foo "C:\Program Files\"`

Expected behavior
-----------------
Output:
`C:\Program Files`

Actual behavior
---------------
Output:
`C:\Program Files"`

Environment data
----------------
[code]

[2018-07-29 19:32] Jaykul commented on #7259
If it were up to me, @jakerobinson, you'd get a warning during install for each dependency you didn't already have installed.

It could **also** support finding them as files in the same folder as the one you're installing, in which case it would be as user friendly as if you'd configured the folder as a repository.

[2018-07-29 20:07] LawrenceHwang commented on #7358
Thank you @MaximoTrinidad 👍

Given the case is specific and likely only have limited number of users impacted. I suggest closing this issue. The information you shared is sufficient for future PowerShell users run into this case.

I also used `Remove-Service` cmdlet in PowerShell Core 6 to remove the `SshdBroker` service, which also removed the error when running `Get-Service` in PowerSell Core 6.

[2018-07-29 20:07] #7358 closed

[2018-07-29 21:33] liger1978 commented on #7372
OK, well can this be add to the RHEL/CentOS RPMs that are distributed by Microsoft then?

[2018-07-30 04:53] iSazonov commented on #7389
I confirm - no dependency on libcurl.

[2018-07-30 04:53] #7389 closed

[2018-07-30 05:01] iSazonov commented on #7388
I believe it will be easy-to-fix and good enhancement.

[2018-07-30 05:13] iSazonov commented on #7387
I think it could be `-ResolveAlias`.

[2018-07-30 05:35] chenyj796 commented on #7378
@chuanjiao10, I installed the .net framework 4.72 and run the OptimizePowerShellStartup.ps1, but it still slowly.

I tried more computers, unfortunately all of them have same issue.

The computers I used are Virtural Machine hosted in VMware/Huawei cloud.

[2018-07-30 05:57] jazzdelightsme opened #7402 "Start-Job is now 6-10x slower, and does not preserve $env:PSModulePath"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
I should be able to kick off ten jobs in just a few seconds (maybe 2 or 3). When the results of the job come in, I should see `Custom PSModulePath`. This is the behavior in 5.1.

Actual behavior
---------------
It takes between 12 and 20 seconds. That's longer than a second per job! (and I'm not waiting for the job

[2018-07-30 06:45] iSazonov commented on #7378
PowerShell Core is based on .Net Core not .Net Framework.

[2018-07-30 07:16] chuanjiao10 commented on #7378
en, I know .
That I want him to use ngen.exe in the .Net Framework to optimize .Net Core library.
This feature can be used before installing .Net Framework?

[2018-07-30 07:22] chuanjiao10 commented on #7378
As far as I know, Huawei Cloud uses openstack, maybe this is a bug? Manually install a win7, then install powershell to experiment.

[2018-07-30 09:34] iSazonov commented on #6978
@TravisEz13 has already updated packaging.psm1 in #7272.

[2018-07-30 11:08] mklement0 commented on #7387
@iSazonov:

I was thinking `-Resolve` for consistency with other cmdlets (currently only `Join-Path` and `Split-Path`), but I guess we can do both - make one an alias of the other.

(Even though dynamic syntax would allow using `-Resolve` in lieu of `-ResolveAlias` anyway, it's better to "make it official".)

[2018-07-30 13:33] iSazonov commented on #7387
I suggest `-ResovleAlias` because it is self-documented and it is not clear that `-Resolve` should resolve - full module name, full source path and so on.

[2018-07-30 13:46] mklement0 commented on #7402
The performance is concerning, but note that the overriding of `$env:PSModulePath` is a more fundamental issue not specific to jobs - see #6850

[2018-07-30 13:58] StingyJack commented on #7394
@kvprasoon - I'm sorry but I do not know magic, or what I would do with PSReadline. Can you explain what your general idea for this would be?

[2018-07-30 14:02] mklement0 commented on #7387
@iSazonov:

Maybe we can turn that into a virtue, given that there's at least one other way to resolve a command name:

For external programs that happen to be _symlinks_, make `-Resolve` show the _ultimate target file path_ (at least currently, such a feature is of much more interest on Unix-like platforms); e.g.:

[code]

On a side note, complementing `-Resolve` with something like `-Follow` or

[2018-07-30 16:15] mklement0 commented on #7387
@iSazonov : Too late - I've fallen in love with the idea 😜.

I can tell you that inspecting the true filesystem locations of symlinked executables is something I deal with frequently (on Unix-like platforms).

`Format-List` would only help if you crammed more information into the one and only output object currently emitted, which strikes me as a bad idea.
This issue is about resolving to the comm

[2018-07-30 17:29] bergmeister opened #7408 "Separate out Parser as independent nupkg"
Problem statement:
- I would like to use a self-contained version of the Parser in an application that uses the full .Net Framework (4.7.2), however, due to the `System.Management.Automation` NuGet package being compiled and published against `netcoreapp2.1`, I cannot use it in full .Net, even when trying to use it in a .Net Standard project and publishing a self-contained version of it. I would l

[2018-07-30 19:39] powercode opened #7409 "Improve performance of Group-Object"
As of pwsh 6.1, preview-4, we have quadratic performance when the number of unique values -> n.

By gathering the input first, sorting it, and then only each new value to the last group, we can come much closer to `n * log(n)` instead of `n * n`.

I have a prototype with the following perf measurements:

Count| Unique| OldImpl | newImpl | Speedup | Command
------| ---------|--------- | ----------|

[2018-07-30 20:26] SteveL-MSFT commented on #7408
The use case is valid, but currently it's probably not trivial to get SMA.dll and dependent assemblies to build targeting .Net Std 2.0.  We should eventually see what that would take and add that as a supported runtime in the SMA nupkg.  For now, unless you want to complete this work and submit as a PR, it would be easier to multi-target net472 and netcoreapp21 (assuming you want it to work in PSC

[2018-07-30 20:53] anmenaga commented on #7402
I can Not repro the Perf problem.
In my case time to start jobs in PSCore is in-line with `PS Desktop / 5.1` on the same machine.
[code]

@jazzdelightsme Your PSVersionTable looks like a manual PS build. Can you please try this repro on [official packages](https://github.com/PowerShell/PowerShell/releases) on your hardware?

[2018-07-30 22:26] MaximoTrinidad commented on #7402
In my system both in Windows and Core took 1 sec to execute the script.

![pscorejob_2018-07-30_18-24-20](https://user-images.githubusercontent.com/19892435/43427032-e47eb7dc-9425-11e8-9fb4-fdf39a8d4254.jpg)

Total milliseconds there are small difference:
Windows: 1011.9632 vs Core: 1837.473

But, you're correct about the PSModulePath as it didn't took the new value in PSCore.  But, I won't ever m

[2018-07-30 22:53] SteveL-MSFT commented on #7359
Yes, we are in a transition state unfortunately.  With 6.1 release next month, I think this will be cleaned up.

[2018-07-30 23:01] SteveL-MSFT commented on #4235
@faraazahmad consider it yours!  Thanks!

[2018-07-30 23:02] powercode commented on #7409
Changed the sorting to a stable sort.
Now it is only the order of the `GroupInfo`s that are changed, but not the objects in `GroupInfo.Group`.

[2018-07-30 23:03] mmcelreath commented on #7382
I tried searching for it but wasn't able to find one. Do you have the issue #?

[2018-07-31 00:47] TravisEz13 commented on #7359
Closing this issue as I think this has been answered and the fix has already been made.  We are just waiting for the 6.1 release to happen.

[2018-07-31 00:47] #7359 closed

[2018-07-31 01:24] alexandair opened #7412 "Should we remove the -pssnapin parameter for #requires statement?"
As custom snap-ins are not supported in PowerShell Core, is there still a need for #requires -snapin?

[2018-07-31 03:11] mklement0 commented on #6724
@iSazonov:

`Install-Module` is used for _PowerShell modules_ from the PowerShell Gallery, whereas NuGet packages are _.NET packages_ from the [NuGet Gallery](https://www.nuget.org/).

While PSGallery modules can be installed with `Install-Package` too, because the `*-Package` cmdlets are an _abstraction_ over all galleries / package sources, the inverse is not true: NuGet packages cannot be insta

[2018-07-31 03:33] iSazonov commented on #7382
I can not find too.

[2018-07-31 03:50] #7383 closed

[2018-07-31 04:34] mklement0 commented on #6724
@iSazonov:

While #7259 has the same goal in the abstract - making use of NuGet package easier - it is a _competing_ proposal in terms of implementation.

* #7259 suggests the use of `Import-Module` to load NuGet package.

* This issue suggest use of `Add-Type` _only_.

I don't think it's appropriate to integrate the functionality into `Import-Module`, because NuGet packages are _.NET assemblies_,

[2018-07-31 06:13] #7371 closed

[2018-07-31 06:38] iSazonov commented on #6724
.NET assemblies can contain cmdlets. We use this in our [tests](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Modules/Microsoft.PowerShell.Utility/Add-Type.Tests.ps1#L77-L78).

[2018-07-31 10:54] iSazonov commented on #7408
`System.Reflection.Emit` and `System.IO.Enumeration` will in .Net Standard 2.1
https://github.com/dotnet/standard/tree/master/docs/planning/netstandard-vnext#major-features

We could wait .Net Standard 2.1 - with it the solution will be easier.

[2018-07-31 11:34] kumarharsh commented on #1953
I'm running ConEMU on a Windows 10 Pro 1803, and the latest pwsh binary takes around 82.4MB per instance, whereas the default Windows Powershell (5.1.17134.165) takes only 42.3MB. Cmd takes a paltry 1.5MB.

[2018-07-31 13:27] powercode commented on #7112
I did a bit of hacking...

With the following:

- using the overload `Add(PSMember, bool prevalidated)` for all objects except the first when adding the noteproperties.
- with a new constructor to PSObject that preallocates the _instanceMembers collection with an initial capacity
- Replace a Linq.Any() with a List.Count > 0

I was able to improve the performance of import-csv by a factor of 10x.
A

[2018-07-31 14:55] mklement0 commented on #6724
@iSazonov:

Yes, all compiled cmdlets come as part of assemblies, but they're typically packaged as part of a PS module.
However, good point about the need to use `Import-Module` on an assembly containing a cmdlet that isn't packaged as part of a module in order to import such cmdlets; I assume you meant:

[code]

But it sounds like we're in agreement then, correct?:

No changes to `Import-Module`

[2018-07-31 18:35] Jaykul opened #7415 "Missing members on XML elements"
Given XML, such as:

[code]
If we use Get-Member on an XML Element:

[code]

We are missing _all_ of the basic XML properties such as `InnerText` and even when using `Get-Member -Force` they are only shown as hidden `get_*` and `set_*` _methods_ rather than as properties!

These properties are crucial to doing serious Xml work, and only the properties are being hidden. That is, `ChildNodes` and `F

[2018-07-31 19:08] mklement0 commented on #7336
@SteveL-MSFT:

Thanks for digging deeper - I've created https://github.com/dotnet/corefx/issues/31519 in the CoreFX repo.

I guess we can label this issue `Resolution-External`.

[2018-07-31 19:13] robderickson commented on #7415
I was personally struggling with getting text within an XML element node, and did not realize the `InnerText` property was available to me until Joel pointed it out.

[2018-07-31 19:42] mklement0 opened #7416 "Potential improvements to parameter-name tab completions"
Follow-up from #7371.

<sup>Substantially revised after initially suggesting (just) alphabetical ordering.</sup>

Currently, the order in which the prefix of a parameter name tab-completes if there are multiple matches is seemingly based on the order in which the parameters are declared in the source code (called _declaration order_ below).

The question is whether alternative ordering makes sense

[2018-07-31 19:45] mklement0 commented on #7371
@SteveL-MSFT:

As you suggested, I've created a new issue: #7416

However, it only covers _alphabetical_ sorting (though it links back here for the alternative proposals).

If you, @rkeithhill, or @iSazonov feel strongly enough about alternative completion orders, I encourage you to create another issue.

[2018-07-31 19:50] faraazahmad commented on #4235
So my code now outputs this:
[code]
Is this all right?

[2018-07-31 19:52] BrucePay commented on #7402
The PSModulePath behaviour is currently by design. I have an RFC for how we might change it. [Version Specific $ENV:PSModulePath Variables](https://github.com/PowerShell/PowerShell-RFC/pull/133)

[2018-07-31 19:59] mklement0 commented on #7336
Thanks for adding the label, @SteveL-MSFT, but shouldn't the issue then remain _open_ until the external resolution comes?

[2018-07-31 20:15] robderickson commented on #7415
Should the properties also be available if you go one node deeper?

[code]
I don't see them there, but I can get values with `$xml.person.name.InnerText`

[2018-07-31 20:42] SteveL-MSFT commented on #7336
Changed the labels, we can leave this open for now.

[2018-07-31 21:20] FriedrichWeinmann opened #7417 "Clixml Serialization Inconsistencies"
Hi guys, got something weird going on here ...
I'm currently playing with serialization of objects and there's something ... odd happening here with noteproperties on collections and wondered whether somebody knew what hit me and how to work around it.

Setting up the collection:

[code]

A simple array of three characters, then add some arbitrary property _to the collection_ .
Now, if I export it

[2018-07-31 21:28] mklement0 commented on #7400
The issue you mention as related, #1995, is the catch-all issue for all problems relating to quoting of arguments for external programs.

The problem you describe here was previously reported in #4358, which was then closed and folded into #1995 via comment https://github.com/PowerShell/PowerShell/issues/1995#issuecomment-330675421

[2018-07-31 21:38] bergmeister commented on #7408
I tried compiling against net461 today, some code inside `#if !CORECLR` seems to not work any more due missing implementations, one of them being Snapins, so I just commented some of that code out for a proof of concept (the work is [here](https://github.com/bergmeister/PowerShell/commit/4ec12c11e5c955d55cf35a653383acde83d0a60d)).
After a while I am left with only 1 compilation error, which is due

[2018-07-31 21:50] mklement0 commented on #7400
I've just noticed that this bug is actually now fixed in PowerShell _Core_, on all platforms, as of at least PowerShell Core 6.1.0-preview.4, so I suggest closing this issue for that reason alone.

(However, other related problems mentioned in #1995 persist.)

Bugs that affect Windows PowerShell _only_ should be reported at [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell),

[2018-07-31 22:05] bergmeister commented on #7412
I just noticed today that although there is still some `#if !CORECLR` code there, the implementation of `PSSnapin` is completely missing. In general I would favour leaving things there for a backport to full .Net but since Snapins are not supported any more (which is good), I would be OK with removing all code related to Snapins.

[2018-07-31 22:30] SteveL-MSFT commented on #7408
The `PowerShellAssemblyLoadContext` code was originally wrapped by `#if CORECLR` pragmas as it wasn't needed by .NET Framework.

[2018-08-01 00:35] powercode opened #7420 "Improve performance of LanguagePrimitives.TryConvertTo"
`LanguagePrimitives.TryConvertTo`  is implemented by wrapping `LanguagePrimitives.ConvertTo` in exception handling, and return false if it failed.

This can be improved upon by using the `ConversionData` return from `FigureConversion` by checking if the `Rank` is `ConversionRank.None` before we try to call the conversion.

By doing an early exit, return we avoid the exceptions that are always thro

[2018-08-01 01:01] TravisEz13 opened #7421 "Windows PowerShell Event Provider GUID still in use in Obsolete Code"
The Windows PowerShell guid is used for tracing here:
https://github.com/PowerShell/PowerShell/blob/c1c5344a8897262433141ecbc13bb06ac2c4bbef/src/System.Management.Automation/utils/tracing/TracingGen.cs#L38

It should use the PowerShell Guid from here:
https://github.com/PowerShell/PowerShell/blob/740d059d517c61f019429fcc11cff18d55ffdf36/src/PowerShell.Core.Instrumentation/PowerShell.Core.Instrumen

[2018-08-01 01:03] TravisEz13 commented on #7421
Actually, I think this is WorkFlow code and can be removed.

[2018-08-01 01:51] Jaykul commented on #7363
yeah, the architecture of these commands is wrong.

I would expect that if I say to convert markdown `-AsVT100EncodedString` that I should get *just* the vt encoded string out. I should not need Show-Markdown at that point.  Alternatively, Show-Markdown shouldn't need ConvertFrom-Markdown, and ConvertFrom-Markdown doesn't need that other output.

I still want the HTML option for ConvertFrom-Markdo

[2018-08-01 01:53] Jaykul commented on #7338
Agreed: if `ConvertFrom` has a -AsAnsiEncodedString then we should not need `Show`

[2018-08-01 02:05] Jaykul opened #7422 "Show-Markdown display bugs"
1. A headline with a link shows the Type Name of the link, instead of the text
2. Lists of links are not shown as lists, but instead as a paragraph.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

1. The headline should be "Arizona UserGroup" and should use the background color from the headline, and the foreground color from the link.
2. The list should be a l

[2018-08-01 02:52] Jaykul opened #7423 "Markdown commands should be distributed via the gallery"
First of all, users of PowerShell 5 (and 3 and 4) need markdown commands too. Additionally, this steps on **multiple** third party modules that already exist and *are* backward compatible.

Finally, I'm really not sure why we need commands for markdown in PowerShell anyway.

I mean, I get that you want to use markdown stuff for help, but **obviously** you're not expecting people to get help by doi

[2018-08-01 03:07] iSazonov commented on #7416
From @rkeithhill https://github.com/PowerShell/PowerShell/issues/7371#issuecomment-408274921

[2018-08-01 03:08] iSazonov commented on #7416
From @iSazonov https://github.com/PowerShell/PowerShell/issues/7371#issuecomment-408304828

[2018-08-01 03:12] iSazonov commented on #7416
We could split cmdlet parameters and common parameters. A cmdlet can has many parameters and we could show only the cmdlet parameters by Tab and common parameters only by Ctrl/Alt-Tab.

[2018-08-01 03:49] SteveL-MSFT commented on #7423
[MarkdownEx](https://www.powershellgallery.com/packages/MarkdownEx/0.0.6) was a project created just 9 hours ago and published today so we couldn't have known about it.

I don't believe these cmdlets preclude use of other third party Markdown cmdlets.

The [Markdown Rendering RFC](https://github.com/PowerShell/PowerShell-RFC/blob/b276b9a6f29f52b52209feccb4e4b108779ad690/3-Experimental/RFC0025-Nati

[2018-08-01 03:53] SteveL-MSFT commented on #7338
`Show-Markdown` also supports HTML rendered markdown

[2018-08-01 05:32] mklement0 opened #7424 "`using module` statement with a relative path not treated as relative to the location of the enclosing script when forward slashes are used"
_Update_: @PetSerAl  has determined that **the problem only surfaces with `/` as the path separator**, not `\`.

Needless to say, `/` should be supported, because it is the native paths separator on Unix-like platforms and since it must be used for filesystem paths that work across all platforms.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual be

[2018-08-01 06:36] PetSerAl commented on #7424
`using module ./t.psm1;` -> `using module .\t.psm1;`

It seems PowerShell dislikes `/`.

[2018-08-01 07:58] iSazonov commented on #7408
I believe that the main direction of development is migration from .Net Framework to .Net Core. So I would not invest in compatibility with .Net Framework. Seem some of .Net Standard 2.0 is already lacking in .Net Framework. With .Net Standard 2.1, the outbreak will increase.
I expect that PowerShell Core will be consistent (compiled) with .Net Standard Future in a few years and again the outbreak

[2018-08-01 10:29] San7hos commented on #5579
This is also observable in PS 5.1

[code]
[code]

[2018-08-01 12:16] 0xfeeddeadbeef commented on #7417
One important difference between the two: when invoking `Export-Clixml` cmdlet, `InputObject` argument ends up implicitly cast to `PSObject` type; and in case of `Serialize` method call, it remains as an `Object[]` array.

[2018-08-01 12:58] SeeminglyScience commented on #7417
Looks like method resolution is unwrapping the `PSObject` because the parameter type is `object`.  Here is proof/a workaround.

[code]

[2018-08-01 13:00] mklement0 commented on #5579
@San7hos: That's actually a slightly different problem that _only_ affects Windows PowerShell at this point: the problem is caused by an ETS `.Count` property attached to `[System.Array]` - see [this SO answer](https://stackoverflow.com/a/38212718/45375) for details.

In your example, the nested array does _not_ have a `[psobject]` wrapper - `$x[1] -is [psobject]` yields `$False` - but it still tr

[2018-08-01 13:00] danielman111 opened #7425 "Enter-PSSession Centos To Windows Fails"
Using PowerShell version 6.0.2 on Centos 7, trying to get Session to Windows 2012 Server.
Doing the following:

[code]

Getting the Following Error:

[code]

Should get session to the Windows Machine.

Any ideas what I need to do?

[2018-08-01 13:40] jherby2k commented on #7339
Probably best to unpublish it until at least MarkdownRender is available, no?

[2018-08-01 14:00] jazzdelightsme commented on #7402
Thanks @BrucePay. I've been wondering how people are handling the schism between the v5 module path and v6. What I did to try to make my life simpler was to use `mklink` to create directory junctions between the `WindowsPowerShell` and `PowerShell` directories (in the user docs and program files dirs) so I can have all my modules in both places. I am not using pwsh a ton yet, so I'm not sure how b

[2018-08-01 16:15] adrienst opened #7426 "Where and forEach method missing in Get-member"
I am not sure if it's a bug.

Steps to reproduce
------------------

$Array = 1,2,3,4,5
Get-member -inputobject $Array

Expected behavior
-----------------
I expected the Where and the ForEach method would show in a Get-member

Actual behavior
---------------

Where and ForEach method don't show in a Get-member

Environment data
----------------

PSVersion                      6.1.0-preview.4
PSEd

[2018-08-01 16:33] lzybkr commented on #7416
I think the declared order is usually most useful and expected, Declared order works well in practice because the most frequently used options tend to get declared first.

[Here](https://www.reddit.com/r/PowerShell/comments/932rpu/change_order_of_autocomplete_paramteter/) is an example of someone apparently unhappy with the alphabetic ordering in PowerGUI.

[2018-08-01 16:36] liszca opened #7427 "start-process not passing arguments"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-01 16:46] Gristrosia opened #7428 "Disable-NetAdapterBinding -Name "MyAdapter" -AllBindings -IncludeHidden disables bindings that cannot be disabled with -DisplayName or -ComponentID"
Hi,

The help text for the command -AllBindings in the help page of "Disable-NetAdapterBinding" specify that "Some protocols and filters may be mandatory and therefore cannot be disabled"; however when used the command disables all the protocols, even those that cannot be disabled with -ComponentID  like  ms_netbt, ms_pppoe, ms_rdma_ndk, ms_pppoe, or when using -DisplayName. I assume these protoco

[2018-08-01 17:07] adityapatwardhan commented on #7339
@jherby2k Thank you for reporting this issue. We will be fixing and re-publishing the SDK soon.

[2018-08-01 17:20] sdwheeler commented on #4783
This issue is fixed by https://github.com/PowerShell/PowerShell-Docs/pull/2757

[2018-08-01 17:20] #4783 closed

[2018-08-01 17:33] Jaykul commented on #7423
I would not be very concerned about stepping on other commands -- **if** these commands were available on the gallery for older versions (like PowerShell 6)

[2018-08-01 17:53] jimmy58663 commented on #4670
Hello, I came across this working on grabbing a credential from a smart card and it doesn't look like it has been completely fixed yet. Below is the code that I am using to accomplish grabbing any certificate that is on a smart card and creating a PSCredential object out of it. If you have any questions about it let me know.

    Function Get-SmartCardCred{
    <#
    .SYNOPSIS
    Get certificate

[2018-08-01 18:42] mklement0 commented on #7416
I realize I was exclusively focused on the scenario where the user has already typed a _name prefix_, such as `-fo`.

Without that, i.e. for the `-<tab>` scenario, parameter declaration order does make a great deal of sense, if the function/cmdlet is well thought-out; e.g.:

[code]

That is, you rely on the parameters to be offered in descending order of importance, without having to think about t

[2018-08-01 18:51] PetSerAl commented on #7427
`Expand-Archive` is not executable program.

[2018-08-01 18:55] PetSerAl commented on #7409
How does it handles?

[code]

[2018-08-01 19:45] powercode commented on #7409
@petserai, I like how you think! I just made a special case when the types differ, and fall back to the slower algorithm.

[2018-08-01 19:57] liszca commented on #7427
more hints please, isn't it a commandlet?

[2018-08-01 20:08] PetSerAl commented on #7427
Yes, `Expand-Archive` is cmdlet but `Start-Process` is not capable of starting cmdlets. You need to start PowerShell to use PowerShell cmdlets.

[code]

[2018-08-01 21:31] Chirishman opened #7429 "Select Storage Commands Don't Work in WinPE"
Bug Age: [5 Years](https://social.technet.microsoft.com/Forums/exchange/en-US/3a0e7e9c-f1ea-4324-8a17-f4c447efcbb0/some-storage-cmdlets-do-not-work-under-winpe?forum=winserverpowershell)

Steps to reproduce
------------------

[Follow this](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/winpe-adding-powershell-support-to-windows-pe)

Attempt to use:
[code]

Expected behavior

[2018-08-01 21:43] rjmholt opened #7430 "Enable whitelisting for debugging"
From https://github.com/PowerShell/PowerShellEditorServices/issues/618.

There is an ask for a "just my code" functionality in the PowerShell debugger, so that debugging a script inside a Pester test, you don't have to step through, say, It.ps1 or Should.ps1.

Does anything like this exist in PowerShell currently?

[2018-08-01 22:12] SteveL-MSFT commented on #7409
@PowerShell/powershell-committee reviewed this.  Although users should not rely on the order, they could be broken by this if they wanted the first group.  We agreed that this change should be taken and the impact of someone dependent on previous behavior is low.

[2018-08-01 22:52] daxian-dbw opened #7432 "Event logging fails on macOS 10.13"
Travis CI update macOS to `10.13.3` from `10.12.6` and the logging tests for macOS started to fail after that.
Here are a few failed builds:
https://travis-ci.org/PowerShell/PowerShell/jobs/410647719#L4675
https://travis-ci.org/PowerShell/PowerShell/jobs/410584884#L5560
https://travis-ci.org/PowerShell/PowerShell/jobs/410959434#L5523

The logging tests for macOS is marked as `pending` for now by P

[2018-08-01 23:16] adityapatwardhan commented on #7339
@jherby2k new packages published. Can you give them a try?

[2018-08-02 01:06] powercode commented on #7409
![image](https://user-images.githubusercontent.com/3505151/43556575-bebb7dbe-9600-11e8-8957-7459ce679280.png)

Performance graph - before is the seven column to the left, showing the quadratic nature of the number ov groups.

The others are from this PR.

[2018-08-02 03:08] iSazonov commented on #7416
@mklement0 I did not know this term ("declared order") - this is what I had in mind.

[2018-08-02 03:50] iSazonov commented on #7408
@bergmeister MSFT announced .Net Core 3.0 Preview will be released later _this_ year. Seems .Net Standard too. I do believe that it is more profitable for you to start working in this direction now.

[2018-08-02 04:26] mklement0 commented on #7416
Thanks for clarifying, @iSazonov. I simply adopted @lzybkr's terminology, which I took to mean: declared order = declaration order = the order in which the parameters are declared in the function's/cmdlet's source code.

[2018-08-02 04:42] kvprasoon commented on #7427
@liszca  You can execute `Get-Help Start-Process -Examples` or `Get-Help Start-Process -Online` check for the examples.

[2018-08-02 04:48] kvprasoon commented on #7425
@danielman111 PowerShell remoting from Linux to Windows currently works only using `ssh` . See **Remoting over WSMan** section [here](https://github.com/PowerShell/PowerShell/projects) and see examples [here](https://docs.microsoft.com/en-us/powershell/module/Microsoft.PowerShell.Core/Invoke-Command?view=powershell-6#examples).

[2018-08-02 05:28] SteveL-MSFT commented on #7427
@liszca, as @PetSerAl explained, cmdlets are not processes you start with `Start-Process`.  If your intent is to run a cmdlet elevated, you can use the example he provided to start a new powershell (or pwsh) elevated and have that run your command line.

What you really want, however, is https://github.com/PowerShell/PowerShell/issues/3232

[2018-08-02 05:28] #7427 closed

[2018-08-02 07:53] liszca commented on #7427
In my opinion there is something substantial wrong with the powershell if cmdlets are not processes, that should be changed, or at least tell me why this design dissension.

[2018-08-02 08:25] PetSerAl commented on #7427
@liszca Can you propose multi-process design, which allows passing live object around?

[2018-08-02 08:53] danielman111 commented on #7425
So the official answer is that PowerShell Core cant use Enter-PSSession to gain session from Linux to Windows?

[2018-08-02 09:04] danielman111 commented on #7425
In the Link kvprasoon added, under **Remoting over WSMan**, it says the following:

So if I understand it correctly, It should be able me to use **Enter-PSSession** command in order to gain access remotely from Linux to Windows.
What am I missing?

[2018-08-02 11:44] MaximoTrinidad commented on #7425
@danielman111

As it was mention before, Openssh need to be setup on the Windows Server.  To setup WSMan in Linux, although possible, it's harder compare to just install and configure Openssh in Windows.

In the above comments, is missing the information to setup WSMan for PowerShell in Linux.
I found the following article that may bring some light to your dilema: https://4sysops.com/archives/powe

[2018-08-02 16:41] jherby2k commented on #7339
Thanks. Working for me!

[2018-08-02 16:49] sdwheeler commented on #6971
Docs fixed in PR https://github.com/PowerShell/PowerShell-Docs/pull/2759

[2018-08-02 16:49] #6971 closed

[2018-08-02 16:50] chriskuech opened #7436 "Add `.jsonc` support to `ConvertFrom-Json`"
"JSON with Comments" with the `jsonc` file extension is a natively supported file format in VS Code.  JSONC adds JS-style comments to JSON files.  `ConvertFrom-Json` currently does not support parsing JSONC strings.  JSONC support could be added through either a `-Comments` switch or by default.

### Background
Azure Resource Manager PowerShell and Azure Resource Manager templates are a critical c

[2018-08-02 17:17] SteveL-MSFT commented on #4669
@adityapatwardhan with recent Preview.4 re-publish this should be fixed?

[2018-08-02 17:34] #7339 closed

[2018-08-02 17:56] SteveL-MSFT commented on #7428
This is not a module owned by PowerShell Team.  You should go here and submit Feedback: https://docs.microsoft.com/en-us/powershell/module/netadapter/disable-netadapterbinding?view=win10-ps

[2018-08-02 17:56] #7428 closed

[2018-08-02 18:51] #7253 closed

[2018-08-02 21:12] oising commented on #7338
Some more comments from a blogger here about the quirks and annoyances: https://ephos.github.io/posts/2018-8-1-PowerShell-Markdown

[2018-08-02 22:49] #7338 closed

[2018-08-03 04:18] #7420 closed

[2018-08-03 06:24] iSazonov commented on #7436
/cc @markekraus

[2018-08-03 07:29] powercode commented on #7409
@dfinke  Of course, `Export-Excel` was used to generate the graphs! Kudos!

[2018-08-03 08:15] meekaah commented on #6561
Wait-UntilTrue : The term 'Wait-UntilTrue' is not recognized as the name of a cmdlet, function, script file, or... :( how are you using it? are you adding something else?

[2018-08-03 09:48] mikemaccana opened #7440 "Add a ConvertTo-Markdown"
Feature request:

Add a `ConvertTo-Markdown` - some common use cases:

 - Outputting objects into Markdown tables for documentation
 - Viewing HTML in the terminal with `Show-Markdown`

This would be a nice complement to https://github.com/PowerShell/PowerShell/pull/6926

[2018-08-03 12:15] mikemaccana opened #7441 "The Powershell 6.1 preview 4 icon varies from Windows icon guidelines"
The powershell 6 preview 4 icon is very, er, edgy:

![image](https://user-images.githubusercontent.com/172594/43642270-74327cae-9716-11e8-96e1-1609d7c511bc.png)

More to the point, it's not [Windows icon guidelines](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/app-assets)

 - it's got a lot of detail - Windows icons are generally a few basic shapes
 - not all t

[2018-08-03 12:46] markekraus commented on #7436
@chriskuech Can you provide some example JSON, example PowerShell code, what you expect, and what you currently see?

NewtonSoft supports working with JSON comments but has 2 modes: ignore and load. Though, with how the cmdlets currently operate, it may not be possible to make use of that.

[2018-08-03 12:47] thezim commented on #7441
It is hair of the avatar. You can see better [here](https://github.com/PowerShell/PowerShell/blob/master/assets/macDialog.png). Choosing an icon is always [difficult](https://code.visualstudio.com/blogs/2017/10/24/theicon).

[2018-08-03 13:01] mikemaccana commented on #7441
Thanks @thzom. I know the mascot, and even still I wasn't sure what I'm looking at. The detail looks even harder to distinguish in application windows:

![image](https://user-images.githubusercontent.com/172594/43644111-786679b0-9725-11e8-8fbf-677cc9cbda87.png)

VScode eventually settled on a really lovely icon. It could be worth asking @chrisdias to make something beautiful for Powershell!

[2018-08-03 13:35] chriskuech commented on #7436
### Working base case
[code]

### Single-line comment

[code]
[code]

### Multi-line comment
[code]
[code]

### Expectation
Comments are ignored and only the value is returned
[code]

[2018-08-03 15:07] ankurvi opened #7442 "Getting exception while Get-LocalGroupMember -Name "Group Name""
Steps to reproduce
------------------

Execute following command on PowerShell command line or through PowerShell script
Get-LocalGroupMember -Name "\<Group Name\>"

There should be one invalid user in the group. I am able to add that user using
Add-LocalGroupMember -Group "\<Group Name\>" -Member "\<SID\>"

But not able to get it thorugh Get-LocalGroupMember

Expected behavior
-----------------

[2018-08-03 16:20] DHowett opened #7443 "There is a "host" command that is not actually a command, alias or function"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

(or any of the others: alias, function, command, cmdlet)

Environment data
----------------

[code]

[2018-08-03 16:29] alexandair commented on #7443
When you run just `host`, Get- is added behind the scenes, and you get output of the `Get-Host`.
That applies to all other nouns for `Get-*` cmdlets. Except for "process".

[2018-08-03 17:25] oising commented on #7084
@BrucePay it's a little bit more insidious than that: ToString() returns whatever was passed to the FileInfo ctor; sometimes a name, sometimes a full path.

[2018-08-03 17:43] adityapatwardhan commented on #6561
@meekaah The function is defined the link I posted above.

https://github.com/PowerShell/PowerShell/blob/master/test/tools/Modules/HelpersCommon/HelpersCommon.psm1#L3-L24

[2018-08-03 17:50] #7443 closed

[2018-08-03 18:03] nutix56 opened #7445 "We need an operator '..' to access the members of childitems"
#example 1
$ps = Get-Process
#We can use a new operator like '..' to access the members of childitems
#It makes the calling clearer
$ps..Name

#example 2
$hash = @{
    first = @{
        name = 'one'
        value = 1
    }
    second = 'two'
    'first name' = 'Jobs'
}
#The member prompt would be clearer
$hash..first

[2018-08-03 18:22] #7327 closed

[2018-08-03 19:01] mklement0 commented on #7445
If I understand you correctly, you want a dedicated operator named `..`  that makes member enumeration explicit and thereby avoids the ambiguity with the current `.`-based member enumeration, where a property of a given name at the collection level takes precedence over element-level properties (such as `.Length` in your first example).

I don't quite understand how your 2nd example fits into this

[2018-08-03 19:28] RichardSiddaway commented on #7445
How does Powershell differentiate  .. when used as the range operator from .. when used to access the members of a collection.

not arguing against the need to access the collection member's properties just don't understand how the two uses of the same operator symbol will work

[2018-08-03 19:29] mklement0 commented on #7426
These methods are PSv4+ and it took a while to even get them _documented_ - now they are, as part of [`Get-Help about_Arrays`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_arrays)

Similarly, the implicit `.Count` and `.Length` properties are mentioned there.

What these have in common is that they're _part of the plumbing_, if you will: PowerShell makes

[2018-08-03 20:01] mklement0 commented on #7445
@RichardSiddaway:

I was focusing on making the case for such an operator in the abstract, but you're right, the syntactic form needs careful consideration too.

`..` is problematic for its potential to be confused with the range operator alone.

Groovy uses `*.`, for instance, and at first blush that may work, given that we don't allow unquoted property names to start with digits (unless it's an

[2018-08-04 01:42] adityapatwardhan commented on #6475
Quick update. We are testing the packages and would be publishing them to NuGet.org in a few days.

[2018-08-04 01:54] normj commented on #6475
Awesome!

[2018-08-04 05:45] SteveL-MSFT commented on #7416
The drop down list is something I'd like to see.  I'd think the presentation would be in PSReadLine.  Extensibility of parameter ordering should be added to https://github.com/PowerShell/PowerShell-RFC/pull/123

[2018-08-04 06:05] SteveL-MSFT commented on #7441
This PR https://github.com/PowerShell/PowerShell/pull/7086 was provided to help disambiguate between stable and preview releases of PSCore6 as they co-exist side-by-side and many of our contributors have both pinned to the taskbar (including myself).

If anyone has contributions to alternate icons, please propose something and we can discuss.

[2018-08-04 07:39] axbender commented on #5981
It still exists in PowerShell 6.1 Preview 4...

[2018-08-04 13:01] Dargmuesli commented on #6015
The roadmap says

It's now August... when can we expect the release of PSCore 6.1?

[2018-08-04 14:30] nutix56 commented on #7445
Sorry, my english is poor!
Yes, that's what i mean, thanks @mklement0
About the confusing you mentioned, the range operator operates on two variables or literal value, like:
[code]
or
[code]
or
[code]
and their mixed mode combination.

But when we use the new operator as i said, it's like:
[code]
the second operand is a member name, it's not a variable which must starts with '$'.
Even in the follo

[2018-08-04 15:28] thezim opened #7447 "Preview version of macOS launcher application should use the preview icon."
The launcher should support using the preview icon to match changes made in PR #7086.

[2018-08-04 20:11] TravisEz13 commented on #7432
I've debugged and there is a code path loading the configuration before the `-settingfile` parameter has been parsed in `Release` configuration but not others.  Here is the call stack
![image](https://user-images.githubusercontent.com/10873629/43680104-cb4f40ea-97e7-11e8-9481-b842bd86ac44.png)

[2018-08-05 05:01] MSAdministrator opened #7450 "PowerShell Core: Unable to return custom pstypename added to object"
Steps to reproduce
------------------
I am seeing an issue with setting a custom Type on a `PSCustomObject`.  To reproduce, I have a function that takes input and returns a custom object
[code]

Expected behavior
-----------------
The expected behavior is that when an object has a custom type set, it should retain this custom type when returned from a function in PowerShell core.
[code]

Actual be

[2018-08-05 09:11] iSazonov commented on #6015
@Dargmuesli We expect RC in days.

[2018-08-05 09:48] Dargmuesli commented on #6015
@iSazonov nice, what's your estimation of the final (non-RC) release date?

[2018-08-05 11:38] mi-hol opened #7451 "install-module fails silently on WindowsSubsystemLinux (WSL) - Ubuntu 18.04"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-05 12:00] mi-hol commented on #7451
using verbose mode it shows:
 InstallPackageLocal' - name='ImportExcel', version='5.1.1',**destination='/tmp/147239779'**
[code]

[2018-08-05 12:05] mi-hol commented on #7451
it does NOT seem to be caused by the issue described in #7258

[2018-08-05 13:12] iSazonov commented on #7442
Dup #7105 and #2996

[2018-08-05 13:29] iSazonov commented on #7450
What about
[code]

[2018-08-05 13:35] iSazonov commented on #7451
@dfinke Could you please comment the issue?

[2018-08-05 13:36] iSazonov commented on #7440
/cc @adityapatwardhan

[2018-08-05 15:31] bergmeister commented on #3680
@daxian-dbw From your comment, it seems that the `cmdlets-over-objects.xsd` file would still work for full .Net, is that correct? Due to the file not being present in the GitHub repo, I would need to conditionally exclude this code not only for coreclr but also additionaly for fullclr now as I plan to open a PR for #7408 soon

[2018-08-05 16:33] bergmeister commented on #4357
Note: The `CustomPSSnapin` class is not even available therefore `CustomPSSnapIns` is not possible for FullCLR with the open source code given by this repo. I do not think this is an issue therefore the better solution could  be to completely remove PSSnapin related code.

[2018-08-05 17:27] markekraus commented on #7450
This actually has nothing to do with functions. It appears that you cannot add custom types to strings. In your example code, you are essentially assigning a custom type name to the `$SomeString` string.

You can repro this problem more succinctly with:

[code]

You can see that the `'Example.Custom.Type'` PSTypeName is not added to the TypeNames collection. I get the same result in 5.1 as  do in

[2018-08-05 18:00] #7447 closed

[2018-08-05 18:30] DonPwrShellHunt opened #7452 "Snap and MSIX install of pwsh on Ubuntu does not support Update-Help"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-05 19:05] dragonwolf83 commented on #7450
The code is not producing a `PSCustomObject`. You are setting an array and then overwriting it with a string, so the type is `String`. Using `Write-Output` or `return` does not change or set the type to be a `PSCustomObject`.

You either need to use `New-Object` and `Add-Member` or more simply
[code]

You can also simplify it down even further by setting `PSTypeName` with the object and let it out

[2018-08-05 19:58] markekraus commented on #7450
@dragonwolf83 You can manipulate TypeNames on just about any object type, not just `PSCustomObject`s. However, it appears that Strings are an exception to the rule.

Tak Int for example:

[code]

Result

[code]

But String does not:

[code]

Result:

[code]

[2018-08-05 20:27] mklement0 commented on #7416
Thanks, @SteveL-MSFT.

Sorry for my piecemeal insights - I should have put more thought into this up front.

It's actually easy to get that already, via the aforementioned `MenuComplete` PSReadLine function (which should have tipped me off that such a UI is indeed possible...):

[code]

With that in place, when you press <kbd>Tab</kbd>:

* unambiguous prefixes expand instantly, as they do by defau

[2018-08-05 20:27] #7416 closed

[2018-08-05 20:36] vors opened #7453 "NullReferenceException in ConvertFrom-Markdown -AsVT100EncodedString with empty alt text"
Steps to reproduce
------------------

[code]

This is a valid markdown (well any text is valid markdown really, but this one as well)
[code]

It produces the following:
![](https://raw.github.com/junegunn/i/master/fzf.gif)

Expected behavior
-----------------

No error

Actual behavior
---------------

[code]

Stack Trace:

[code]

Environment data
----------------

[code]

[2018-08-05 20:45] vors opened #7454 "Show-Markdown unusable on a dark terminal theme"
Steps to reproduce
------------------

I'm using a dark background on a terminal on mac. This is pretty common setup as far as I know.
Here is how `Show-Markdown` output looks.

![markdown-powershell](https://user-images.githubusercontent.com/816680/43689895-bb3ff5ea-98b5-11e8-862e-d235333b618a.gif)

Expected behavior
-----------------

All text should be readable.

Actual behavior
---------------

[2018-08-05 20:53] dragonwolf83 commented on #7450
Interesting... That is good to know. I only added a comment because @MSAdministrator refers to setting a PSTypeName on a  `PSCustomObject` and I didn't see it get set anywhere.

If Strings are expected to allow a custom PSTypeName, then I think a new issue needs to be created or this issue and description updated to ask for it.

[2018-08-06 00:09] thezim opened #7455 "Create automated way to create macOS icon."
Currently the macOS icon is create manually. This should be scripted out and use the SVG icon files.

[2018-08-06 03:09] iSazonov opened #7457 "Cleanup args clone"
We should review and cleanup cloning `args` in https://github.com/TravisEz13/PowerShell/blob/92a8b9bfcf8bcf07de873f8a8759c86f239ce9a6/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHost.cs#L153

[2018-08-06 04:54] iSazonov commented on #7416
Comments was moved to the RFC

[2018-08-06 05:14] FriedrichWeinmann commented on #7417
@SeeminglyScience thank you for that explanation and sample, makes sense and works perfectly! 👍

[2018-08-06 05:14] #7417 closed

[2018-08-06 06:13] iSazonov commented on #7453
/cc @adityapatwardhan

[2018-08-06 06:15] iSazonov commented on #7454
What do you suggest? Change default theme on Mac?

[2018-08-06 06:17] iSazonov commented on #7452
/cc @TravisEz13 Could you please comment the Issue?

[2018-08-06 08:31] weloytty opened #7458 "$PROFILE on a shared folder gives security warning if remote system has periods in the name"
Tested on 6.1.0-preview.4 6.1rc,  6.1 release, and 6.2-preview.1

Steps to reproduce
------------------
1) Have your IT department force sticking your profile on a shared drive.
2) Ensure your executionpolicy is Unrestricted
2) Start pwsh

Expected behavior
-----------------

My profile loads, as it does with 6.0.3

Actual behavior
---------------

[code]

If I say [R]un Once, my profile will load

[2018-08-06 13:42] vitek-karas commented on #7326
To make this work simply change the `[System.Reflection.Assembly]::LoadFile` to `[System.Reflection.Assembly]::LoadFrom`. With that your repro works on the 6.1.0-preview.4.

The reason this fails with `LoadFile` is that `LoadFile` loads the specified assembly into its own `AssemblyLoadContext` (ALC) and thus the 3 files are loaded into different ALCs and don't "see each other". Unlike on desktop,

[2018-08-06 14:08] jkotas commented on #7326
`LoadFile` on desktop does not look "next-to" for dependencies either. The behavior of LoadFile is the same between desktop and .NET Core in this regard.

[2018-08-06 14:11] HumanEquivalentUnit commented on #6745
Roman Kuzmin has been collecting such a gallery for a while, here: https://github.com/nightroman/PowerShellTraps

[2018-08-06 14:42] MSAdministrator commented on #7450
I will go ahead and close this issue out and create a separate issue for being able to set a custom type on a `system.string`.  Thanks all for the clarification!

[2018-08-06 14:42] #7450 closed

[2018-08-06 14:49] MSAdministrator opened #7459 "Unable to set custom type on system.string objects"
Steps to reproduce
------------------
It seems that you cannot set a TypeName on `Strings` in PowerShell Core 5.1 or 6+.

[code]

Expected behavior
-----------------
A `System.String` TypeName can be set.
[code]

Actual behavior
---------------
A `System.String` TypeName cannot be set.
[code]

Environment data
----------------

[code]

[2018-08-06 17:44] daxian-dbw commented on #7326
@vitek-karas and @jkotas, thank you for the clarification, it's very helpful!

[2018-08-06 18:19] daxian-dbw commented on #3680
@bergmeister Yes, as far as I understand, the file `cmdlets-over-objects.xsd` should work for full .NET.

[2018-08-06 18:20] rjmholt commented on #7352
I'm trying to reproduce this, but haven't been able to yet. @joeyaiello, try nuking the module analysis cache (`rm $env:AppData\..\Local\Microsoft\PowerShell\ModuleAnalysisCache` should do it) and see if this happens again.

[2018-08-06 18:55] rjmholt commented on #7374
Hi @mark-inderhees, what Ubuntu version are you on? I'm currently using PowerShell 6.1.0-preview.4 on Ubuntu 18.04 and `code` seems to work -- which suggests that this bug might be fixed in the preview release. Do you want to install the preview and try that? (Should be available with `sudo apt install powershell-preview` if you have the repositories installed)

[2018-08-06 19:02] dantraMSFT opened #7460 "Move CommandLineParameterParser.EarlyParse to UnmanagedPSEntry.Start to ensure early settingsfile parsing"
Currently, there are a number of workarounds in the code base to handle the fact that logging needs to occur before the -SettingFile argument is parsed.

See:
* https://github.com/PowerShell/PowerShell/issues/6085 - Logging is initialized before the configuration file is processed
* https://github.com/PowerShell/PowerShell/pull/7449 - Make sure that -SettingFile arg is parsed before we load the se

[2018-08-06 19:06] JBBranch opened #7461 "s"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-06 19:24] dantraMSFT opened #7462 "Update macOS logging tests to use wait logic instead of Start-Sleep"
The macOS logging tests launch a PowerShell instance and examine the logs after the launched process exits.  There is a possible race condition between the process exiting and the logging is captured that cause the tests to fail.

A Start-Sleep workaround has been added but more reliable wait logic should be considered in either the tests or in PSSysLog.psm1.

The tests in question include:

'Veri

[2018-08-06 19:36] mklement0 commented on #6745
Thanks, @HumanEquivalentUnit - that looks like a great collection.

Along with the issues collected in this thread, it could form the basis for a gallery that is part of the _official_ documentation, witch each entry augmented with, as appropriate:

* a design rationale that explains why the behavior, though perhaps surprising, is justified after all (a properly framed explanation may make the ele

[2018-08-06 19:50] vors commented on #7454
There are many themes, unfortunately theme only provides the normal text and selected text color, nothing else that could be used.

![image](https://user-images.githubusercontent.com/816680/43737743-2e52bdee-9977-11e8-8861-bbf00938b001.png)

[2018-08-06 19:54] adityapatwardhan commented on #7454
@vors

The code block not showing on macOS was fixed in https://github.com/PowerShell/PowerShell/pull/7329
Can you give it a try on master?

[2018-08-06 20:21] SteveL-MSFT opened #7464 "Import-Module foo.psm1 should still process foo.psd1 if exists"
Was talking to @jpsnover about this.  It seems that if the module manifest exists, we should process that even if the user explicitly imported only the psm1.  The problem is that depending on what the user imports, the result may not be what the module author intended.  Unless the module author has matching FunctionsToExport in psd1 and Export-ModuleMember in psm1, the resulting exported members m

[2018-08-06 22:08] TravisEz13 commented on #7452
@adityapatwardhan I thought we changed the default target to be the user?

[2018-08-06 22:09] TravisEz13 commented on #7452
I verified `update-help -Scope CurrentUser` fails as well with the same error

[2018-08-06 23:27] rjmholt commented on #7348
I've been looking into this and there are a couple of things:
- Because we crossgen PowerShell, PDBs would only be available on Windows with a normal release (see https://github.com/dotnet/coreclr/pull/4572 and https://github.com/dotnet/coreclr/issues/3131)
- We're currently not generating those PDBs and aren't quite set up to publish them. So it would take a little bit of work to do that.
- Eithe

[2018-08-07 00:12] markekraus commented on #7459
ref: #7450

[2018-08-07 03:01] markekraus commented on #7461
No content. Closing

[2018-08-07 03:01] #7461 closed

[2018-08-07 03:37] iSazonov commented on #7112
I believe we should continue this research. We still did not find all the root causes of why Windows PowerShell has better performance.

[2018-08-07 04:55] iSazonov opened #7469 "Remove NormalizeFilePath() method from CommandLineParameterParser.cs"
We could remove NormalizeFilePath() method from CommandLineParameterParser.cs and exclude extra `try-catch`
to address comment https://github.com/PowerShell/PowerShell/pull/7449/files/777f5eb1e2ee65201356a2f499586dc7c6039422#r207770391

https://source.dot.net/#System.IO.FileSystem/System/IO/File.cs,119
We could simplify the TryParseSettingFileHelper() method - remove try-catch there (line 429), mo

[2018-08-07 05:06] iSazonov commented on #7348
@rjmholt If customers use PowerShell Core SDK they can analize _their_ applications and they need to see PowerShell Core symbols too.

[2018-08-07 06:13] msftrncs commented on #7445
The first issue example 1, work-around is '$files | select-object Length', didn't realize listing all the file lengths was so difficult.  This seems peculiar, since in a hash table, the keys overload the base properties, but here a property is getting hidden by a base PowerShell property.  The work around for that being to use the method call `'get_[propertyname]()`

The second example I don't thi

[2018-08-07 06:26] bergmeister commented on #7408
I have a working prototype in my branch [here](https://github.com/bergmeister/PowerShell/tree/SMAOnFullDotnet) that needed special treatment only in a few places and some WIndows PowerShell Code to be brought back. As an alternative, one could've also just removed some `#if !CORECLR` sections that required those treatments, some of them like PSSnapins would even make sense to be completely removed

[2018-08-07 12:41] SeeminglyScience opened #7470 "Custom argument completers do not obey pipeline stop requests"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The custom argument completer exits immediately after pressing `ctrl + c`.

Actual behavior
---------------

`ctrl + c` has no effect and input is blocked until `Start-Sleep` finishes.

Environment data
----------------

[code]

Also reproduces on Windows PowerShell 5.1 and PowerShell Core 6.0.3.

[2018-08-07 14:12] SeeminglyScience opened #7471 "Array literal assignments should support Deconstruct"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

`Tuple.Item1` is assigned to `$item1` and `Tuple.Item2` is assigned to `$item2`

Actual behavior
---------------

`$tuple` is assigned to `$item1`

Environment data
----------------

[code]

While `Tuple` types aren't used frequently in PowerShell there are a few other default types that have `Deconstruct` methods

[2018-08-07 14:12] BrucePay commented on #7459
This appears to be a duplicate of the bug @markekraus  mentioned.

[2018-08-07 14:20] BrucePay commented on #7471
For tuples, i definitely agree. (In fact I think we should have more support for tuples (i.e. being able to cast an array to a tuple) being able to "index" on a tuple so $mytuple[0] is equivalent to $mytuble.Item2, etc.).

[2018-08-07 14:37] adityapatwardhan opened #7473 "Add verification for all PowerShell assemblies are signed in the official build"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-07 16:04] MaxBurgert opened #7474 "Setting Security Protocol to ssl3 is not supported"
When trying to run [chocolatey](https://github.com/chocolatey/choco) with PSVersion 6.0.3 setting the security protocol to ssl3 raises the mentioned error [here](https://github.com/chocolatey/choco/blob/master/src/chocolatey.resources/helpers/functions/Get-ChocolateyWebFile.ps1#L312).

In addition there seems to be no explicit information about the deprecation of ssl3 in PowerShell 6.

Steps to re

[2018-08-07 17:04] bergmeister commented on #7473
@adityapatwardhan A while ago I wrote a `Pester` test for a similar scenario to check that all DLLs are signed:
[code]

[2018-08-07 17:05] daxian-dbw commented on #3680
I think there is no problem to add the file to GitHub, but @SteveL-MSFT can you please confirm.
@anmenaga Can you please look into this when you have some time? Thanks!

[2018-08-07 17:06] j3vans commented on #4669
Can we assume this won't be supported this year? [Is this ](https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell)currently the only supported way to host powershell core?

[2018-08-07 17:08] bergmeister commented on #7464
Sometimes I import the psm1 by design as a convenience to test the functions that are not 'public' (i.e. exported), should therefore be an option for still being able to do that?

[2018-08-07 17:11] bergmeister commented on #3680
Ok, thanks. It seems we have to discuss #7408 in more detail. When I did the proof of concept of compiling SMA for full .Net, I made the assumption that I should not define the `CORECLR` constant for this compilation configuration. Maybe this was a mistake, which would mean that this file would then not be needed.

[2018-08-07 17:18] rjmholt commented on #7348
The SDK PDBs may be a different ask, since the SDK is built differently. I'm following up with @adityapatwardhan.

[2018-08-07 17:32] aresowj commented on #3028
Seems like the `-WindowStyle Hidden` has to be the first parameter of your command line.

[2018-08-07 18:16] MaximoTrinidad commented on #3028
So, we are starting to support Windows PowerShell now??

Just a friendly reminder,  if this is a PowerShell Core issue? Please provide the PowerShell Core version as is required when submitting an issues.

Otherwise, Windows PowerShell need to go thru UserVoice at: https://windowsserver.uservoice.com/forums/301869-powershell

For more information see: https://github.com/PowerShell/PowerShell#windo

[2018-08-07 19:51] rjmholt commented on #7348
Just found a relevant comment in the source (and documenting it here):
https://github.com/PowerShell/PowerShell/blob/f858e6d2073c71a85e1a5e830c39a589bf88f3ad/build.psm1#L2246-L2252

[2018-08-07 20:37] SteveL-MSFT commented on #7408
@bergmeister I don't think we want to bring FullCLR code back into the code base as it makes changes complicated and we don't validate the FullCLR code.  It would be better if you need this to fork the project and maintain what you need until netstandard2.1 is available and (ideally) resolves the need to multi-target

[2018-08-07 20:45] jkotas commented on #7326
The assembly you are trying to run is not compatible with .NET Core.

This type does not exist in .NET Core today. It is tracked by https://github.com/dotnet/corefx/issues/29546

[2018-08-07 20:51] bergmeister commented on #7408
@SteveL-MSFT  OK, I will then not bring FullCLR code back and I am OK with this decision as I can understand the reasoning. But are you also saying that
a) Code that was written for the CORECLR would actually work with the fullclr that `net472` uses under the hood? My initial thoughts were that some of the code is coreclr specific.
b) That a PR that multitargets `netcoreapp2.1` and `net472` would

[2018-08-07 21:38] #7089 closed

[2018-08-07 22:06] alx9r commented on #3008
I've been experimenting with parallelizing powershell unit tests with some success.  That use case is mostly CPU-bound and involves large numbers of invocations and importing large script modules.  From what I can tell there are a number of non-trivial challenges to overcome to make `Invoke-Parallel` or parallel `ForEach-Object` intuitive, robust, and performant for general use.

Below is a summar

[2018-08-07 22:15] SteveL-MSFT opened #7476 "Not able to interrupt a long file copy"
Looking in the FileSystemProvider code, we only handle StopProcessing between files (like a recursive copy), but it's a single .Net api call to copy the file so the code currently doesn't allow breaking during a file copy.  If copying large files, this can be annoying as the only option is to kill powershell.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[cod

[2018-08-07 22:21] alx9r opened #7477 "Is there a way to capture interleaved output and PSDataStreams from a PowerShell instance?"
The output and PSDataStreams are available individually from a PowerShell instance.  These individual streams, however, do not seem to contain enough information to determine order of an item in one stream compared with an item in another stream.

Steps to reproduce
------------------

[code]

Behavior I'm looking for
-----------------

[code]

Actual behavior
---------------

[code]

Environment

[2018-08-07 22:31] SteveL-MSFT commented on #7408
Until we have `netstandard2.1` I can't say what work is needed to make it work under `net472`.  There is another effort to refactor SMA.dll making it smaller for hosting PowerShell.  This may be what you actually need although my initial thinking was for .NET Core, but perhaps we should consider .NET Framework as well (cc @BrucePay).

In general, we've been trying to clean up the `#if CORECLR` or

[2018-08-07 22:34] SteveL-MSFT commented on #7348
Given the work needed and limited value due to current constraints, I'm moving this to `future`.

[2018-08-07 22:47] rjmholt commented on #7348
Just to document what I've discovered so far:

- `crossgen.exe` needs to be run twice:
    + once to generate the NGEN binaries
    + once *on the NGEN binaries* to generate the PDB files
- To do this, it should be a simple matter of uncommenting the comment I linked above and wrapping it with `if ($Environment.IsWindows) { }`.
- However, I'm currently hitting an issue where `crossgen.exe` doesn't

[2018-08-07 22:47] alx9r commented on #3018
This also affects `PowerShell.Invoke()`:

[code]

outputs

[code]

There is no mention of `f` or lines 2 or 3.

[2018-08-07 22:54] mark-inderhees commented on #7374
I'm on Ubuntu 18.04.1 LTS. I just tried pwsh-preview and that has the same problem.

[code]
The above both result in nothing happening. I validated launching from bash still works. I also just happened to clean isntall this version of ubuntu, so it was not something specific to my OS setup.

[2018-08-07 23:03] mklement0 commented on #3028
@aresowj: While the placement of arguments does matter when calling PowerShell's _CLI_ (given that anything following `-Command` is interpreted as part of the command to execute), (a) the OP's attempt already places it before `-Command` and (b) that doesn't prevent the flashing, for the reasons explained in [@BrucePay's earlier comment](https://github.com/PowerShell/PowerShell/issues/3028#issuecom

[2018-08-07 23:15] rjmholt commented on #7374
Hmmmm, that's annoying. I'm running two different machines with Ubuntu 18.04.1 LTS and can't reproduce this issue on either.

A few possibilities to check:
- VSCode isn't being opened *behind* the terminal (sounds silly, but [it's been an issue before](https://github.com/PowerShell/vscode-powershell/issues/410#issuecomment-397531817))
- VSCode isn't somehow aliased or anything (unlikely but easy t

[2018-08-07 23:16] alx9r commented on #3018
It looks like the inner `.ScriptStackTrace` is indeed available in `.Exception.InnerException.ErrorRecord`:

[code]

outputs

[code]

After looking at `.Exception` and `.Exception.InnerException` which are exceptions corresponding to the .Net `.Invoke()` call and scriptblock, respectively, I'm pretty sure that this behavior is how it should be.

I suppose such nested `.ScriptStackTrace`s could be

[2018-08-07 23:16] #3018 closed

[2018-08-07 23:49] TheIncorrigible1 commented on #5572
@adityapatwardhan Has this been addressed?  Still experiencing this on 6.0.3.

[2018-08-07 23:52] adityapatwardhan commented on #5572
@TheIncorrigible1 We had a regression on v6.0.3. We are soon releasing a new package with fixes.

In the meantime, can you try v6.0.2?

[2018-08-08 01:40] adityapatwardhan opened #7478 "Make sure osx.10.12 runtime is used in official builds"
Docker based build has to make sure that we pass `10.12` runtime for osx.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-08 01:43] adityapatwardhan opened #7479 "PowerShell Core servicing release for v6.0.4"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [X] Create a private branch named `release-v6.0.4` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM package.

[2018-08-08 03:42] iSazonov commented on #7348
I wonder how PerfView get crossgened PDBs on the fly.

[2018-08-08 04:50] iSazonov commented on #3008
@alx9r  Many thanks for the excellent work!

Currently we have experimental feature support implemented by @daxian-dbw. You could implement `Invoke-Parallel` as an experimental feature. This will simplify for all PowerShell fans the research on the problems that you listed.

[2018-08-08 05:03] iSazonov commented on #7474
SSL 3.0 was deprecated
https://blogs.technet.microsoft.com/askpfeplat/2018/02/12/retire-those-old-legacy-protocols/
https://tools.ietf.org/html/rfc7568
https://docs.microsoft.com/en-us/security-updates/securityadvisories/2015/3009008

[2018-08-08 05:10] iSazonov commented on #7464
@bergmeister You can still copy the module and remove psd1 file for your test.

[2018-08-08 05:14] iSazonov commented on #7477
Seems we discussed this before /cc @mklement0

[2018-08-08 05:17] iSazonov commented on #7458
@weloytty Have you tried using a signed file?

[2018-08-08 06:24] rockerinthelocker commented on #7326
@jkotas, Glad you figured that LoadFile no longer works with PowerShell v6.1.0-preview.3+.

[2018-08-08 06:34] ahmedjavid opened #7480 "Select-String check pattern not work correct in this case (.,$,^)"
Actual behavior

PS C:\> "Powershell" | Select-String -Pattern "."
Powershell
PS C:\> "Powershell" | Select-String -Pattern "$"
Powershell
PS C:\> "Powershell" | Select-String -Pattern "^"
Powershell

[2018-08-08 06:56] DHowett commented on #7459
At the bottom of that bug is a comment from @MSAdministrator wherein they say they’ll file a separate bug for strings not being able to hold custom type names. _This_ appears to be that issue.

[2018-08-08 07:12] weloytty commented on #7458
No, because it's my profile and I mess with it a lot.  (I have run Unblock-File $PROFILE though, since that's what the error message tells me to do, and I get the same behavior once I have done that)

I also end up with my modules folder on a UNC share too, and I get the same behavior.  I could move my profile to $profile.AllUsersCurrentHost, but I'd prefer to keep the 6.0.3 behavior.

[2018-08-08 07:28] powercode commented on #3008
I think we should start with looking at what features Runspaces would need to make this possible to implement.
Maybe a Snapshot and ResetToSnapshot and CloneSnapshot.

An implementation would then start by making a snapshot of the current Runspace, CloneSnapshot for each processor, and reset for each new input.

Still many hard questions left...

[2018-08-08 08:29] jkotas commented on #7326
@rockerinthelocker This assembly could have never worked well on .NET Core properly. It is referencing types that never existed in .NET Core.

[2018-08-08 08:49] powercode commented on #7348
@rjmholt My use case is to be able to ask users to capture traces with WPR/XPerf and be able to analyze the captured traces.

I have no problem doing profiling on my one box with my own build, but there are many scenarios where that isn't practical.

[2018-08-08 08:53] powercode commented on #7112
When I looked at the traces, the hash code calculation showed up over and over again, when comparing 5.1 to 6.0. So that at least one of the root causes. PowerShell is a very heavy user of GetHashCode.

[2018-08-08 09:11] powercode opened #7481 "Perf: Add PSObjectBuilder"
As a part of some perf work I've been doing lately, I looked at the creations of PSObjects.

The creation of them could be significantly faster if we can provide a context for the creation. The code as it exists is very defensive, doing work multiple times that in many cases is only needed once etc.

I propose we add two new types, `ref struct PSObjectBuilder`, and `class PSObjectBuilderUnsafe`.

[2018-08-08 12:02] MaxBurgert commented on #7474
Thank you. I've opened an [PR](https://github.com/chocolatey/choco/pull/1624) that will resolve this issue.

[2018-08-08 12:46] markekraus commented on #7459
@BrucePay This is the bug report. I was only referencing another issue where this was discussed for context. @MSAdministrator had originally filed an issue on something else for which this issued ended up being the root cause.

Would you be so kind as to answer if String PSObjects should allow for custom type names?

[2018-08-08 14:01] kilasuit commented on #7464
I'm not sure on the perceived benefit of this. In most cases modules should be in one of the PSModulePaths and therefore Import-Module by Name will import based on PSD1 by default if it's there and if not PSM1. T

This is expected and designed behaviour, behaviour that as teachers of how to properly use PowerShell we should be pushing people to use the language in the right way in the mass majorit

[2018-08-08 14:05] powercode commented on #7278
Is this something for the committee to review?

[2018-08-08 15:36] thezim commented on #7471
Would love to be able to do stuff like this.

[code]
instead of this
[code]

[2018-08-08 15:42] thezim commented on #7480
This is by design. Those are all valid regular expressions that match.

-Pattern

Specifies the text to find. Type a string or regular expression. If you type a string, use the SimpleMatch parameter.

You can try them out [here ](https://regex101.com/) too.

[2018-08-08 15:51] MaximoTrinidad commented on #3028
Thanks @mklement0!
:)

[2018-08-08 16:16] powercode commented on #7480
[code]

[2018-08-08 16:32] SteveL-MSFT commented on #3680
There should be no issue adding that file as long as the appropriate copyright/license header is there.

[2018-08-08 18:04] rockerinthelocker commented on #7326
@jkotas , Not sure what assembly you're referring to, but the MaxMind GeoIP assemblies work just fine with PowerShell v6.1.0-preview.2 and previous PowerShell Core versions. Apparently, some breaking change was made in PowerShell v6.1.0-preview.3 or .NET Core 2.1; and it would be great if you guys figure out so existing PowerShell scripts continue to work as expected before PowerShell Core 6.1 get

[2018-08-08 18:38] jkotas commented on #7326
@rockerinthelocker I have tried the steps in https://github.com/PowerShell/PowerShell/issues/7326#issuecomment-406883555 to reproduce this. It works fine for me (w/ LoadFile replace with LoadFrom):

![image](https://user-images.githubusercontent.com/6668460/43857116-3e547d34-9aff-11e8-8931-94447df24d43.png)

[2018-08-08 18:57] mark-inderhees commented on #7374
Looks like code is crashing. Is this a code problem or a pwsh environment issue?
[code]

[2018-08-08 19:05] chuanjiao10 commented on #7443
Wow, solved my doubts for many years!
In addition to your answer, where is this description?

[2018-08-08 19:27] rjmholt commented on #7374
Here's the fix commit: https://github.com/Microsoft/vscode/commit/9d75305b7f721ec22eb186dc1041477c79c8eece

[2018-08-08 19:31] rjmholt commented on #7374
@mark-inderhees Try `mkdir -p /run/user/1000/snap.powershell-preview/` as a workaround. Otherwise, this shouldn't be an issue for a [non-snap PowerShell installation](https://github.com/PowerShell/PowerShell#get-powershell).

I think fixing this should be as simple ensuring a directory exists in the Snap file?

[2018-08-08 19:36] chuanjiao10 commented on #7479
hi ,Please https://packages.microsoft.com administrators pay attention to packagename .  see: #7385

[2018-08-08 20:07] mi-hol opened #7484 "save-module from 6.1.preview4 broken on Linux"
1.  fails to save module (even as root)
2. Misleading "Warning" message 'install by adding "-Scope CurrentUser" to your command' is displayed that is not a vakid parameter !
3. Misleading "Warning" message 'Windows PowerShell session with elevated rights (Run as Administrator)" that refers to Windows only solution !

Steps to reproduce
------------------

[code]

Expected behavior
----------------

[2018-08-08 21:03] mark-inderhees commented on #7374
That did the trick, vs code starts now that I have:

`mkdir -p /run/user/1000/snap.powershell-preview/`

How can this be fixed automatically for other snap users?

[2018-08-08 21:47] rjmholt commented on #7374
I'll port this over to the PowerShell snap repo. Looks like it should be just a matter of a line that ensures that dir is created in the snap setup.

[2018-08-09 00:03] #7480 closed

[2018-08-09 01:00] BrucePay commented on #7445
@mklement0 This is an aside, but WRT to assigning to a property on each member of a collection, you can do it with .foreach() as follows:
[code]
Now regarding what operator we might use (since '..' is definitly out for the reasons stated) Groovy uses '*' for spreading === "splatting") whereas PowerShell uses '@'.  Consequently the corresponding operator in PowerShell would be "@."as in:
[code]
Now

[2018-08-09 01:14] jasonshave commented on #4114
is there a workaround at the moment?

[2018-08-09 03:03] tthoma24 commented on #5274
Please vote on this issue: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33502754-linux-compatibility-for-azuread-powershell-module

[2018-08-09 03:19] devblackops opened #7486 "Remove unnecessary verbose message from ConvertTo-Json"
In #6392 this line below was added to the `ConvertTo-Json` cmdlet.

`WriteVerbose(StringUtil.Format(UtilityCommonStrings.ConvertToJsonProcessValueVerboseMessae, t.Name, depth));`

This produces unnecessarily verbose output when converting complex objects to json.

In my opinion, this verbosity doesn't add any value and clutters up script output.

[code]

I propose either removing this entry entire

[2018-08-09 03:25] #7474 closed

[2018-08-09 03:28] iSazonov commented on #7458
@weloytty Could you please compare the scenario with Windows PowerShell?

[2018-08-09 03:31] iSazonov commented on #7464
We could turn on this only in strict mode.

[2018-08-09 03:34] iSazonov commented on #7471
@thezim Your sample already works. (on Windows with -split "\\"
)

[2018-08-09 04:31] rockerinthelocker commented on #7326
@jkotas , Thank you for taking the time! It's indeed strange, because the above throws here (see https://github.com/dotnet/coreclr/issue_comments#issuecomment-411633010). Thank you!

[2018-08-09 04:40] iSazonov commented on #7112
We could implement fast GetHashCode for some (what?) internal classes.

[2018-08-09 05:33] yangl900 commented on #5924
+1 We see the same issue.

[2018-08-09 05:47] chuanjiao10 commented on #7445
Which of the other computer languages, has  similar syntax?
Perl has a confusing grammar and is rated as the most annoying language by everyone, and cannot be reversed in a short time.
If you hate a computer language, give it a messy grammar. This language will gradually be abandoned by everyone.

[2018-08-09 09:00] weloytty commented on #7458
Windows powershell behaves the same way that pwsh 6.0.3 does, it loads my profile with no warnings

[2018-08-09 09:14] iSazonov commented on #7458
@SteveL-MSFT Could you please comment the use case? I'd expect that we could trust signed scripts at least.

[2018-08-09 09:19] iSazonov commented on #7451
@alx9r Do you mean such behavior in #7377 ?