[2018-11-13 14:57] KirkMunro commented on #7269
Maybe. Need to think about profiles (all users profiles are user code, but they're just individual files). Given how people can put files anywhere though, and organize their system however they like, I think it would be better if products/apps could register a path for what is considered "**not** my code" instead. Maybe something like `$env:PSModulePath`, so users could also mark specific paths as

[2018-11-13 16:15] mklement0 commented on #8235
@rjmholt: +1 on the parse-time error.

Allowing members of different types to have the same name is asking for trouble with no obvious benefit (and wer're not breaking anything, given that the method cannot be called).

Note that C# does allow names that differ in _casing_, which we should disallow as well, given PowerShell's case-insensitive nature.

[2018-11-13 16:24] mklement0 opened #8250 "New-PSDrive -Persist should report a platform-not-supported error (System.PlatformNotSupportedException) on Unix-like platforms"
Using `New-PSDrive -Persist`, i.e. creating a persistent drive mapping at the OS level, is only supported on Windows.

While trying to use it on Unix-like platforms does report an error, the error message is confusing (see below).

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The error message should indicate that the host platform is not supported, along the

[2018-11-13 16:25] mklement0 commented on #8242
@MaximoTrinidad: You've hit an unrelated problem, namely that `-Persist` is fundamentally unsupported on Unix-like platforms, which the error message does not indicate - see #8250

I've also updated the initial post to make that clearer.

[2018-11-13 18:03] TravisEz13 opened #8251 "Discussion: Microsoft Security Advisory CVE-2018-8256: Microsoft PowerShell Remote Code Execution Vulnerability"
# Microsoft Security Advisory CVE-2018-8256: Microsoft PowerShell Remote Code Execution Vulnerability

## Executive Summary

A remote code execution vulnerability exists when PowerShell improperly handles specially crafted files. An attacker who successfully exploited this vulnerability could execute malicious code on a vulnerable system.

To exploit the vulnerability, an attacker must send a spec

[2018-11-13 18:13] TravisEz13 opened #8254 "Discussion: Microsoft Security Advisory CVE-2018-8415: Microsoft PowerShell Tampering Vulnerability"
# Microsoft Security Advisory CVE-2018-8415: Microsoft PowerShell Tampering Vulnerability

## Executive Summary

A tampering vulnerability exists in PowerShell that could allow an attacker to execute unlogged code.

To exploit this vulnerability, an attacker would need to log on to the affected system and run a specially crafted application.

The security update addresses the vulnerability by corr

[2018-11-13 18:35] KirkMunro opened #8256 "Inheritable ScriptBlock attributes"
There are a number of attributes that can be used in ScriptBlocks that I believe should be inherited by any ScriptBlocks whose definitions are nested within the same scope. For example, `DebuggerHidden`, `DebuggerStepThrough`, `DebuggerNonUserCode`, and `Experimental`. Each of these flags currently only applies to the ScriptBlock in which they are defined, which means you must manually apply those

[2018-11-13 18:44] #7981 closed

[2018-11-13 18:57] SteveL-MSFT commented on #8242
Since `-Persist` as it's designed today is really `net use /persistent:yes` so only works with UNC paths, it seems ok to just trim the trailing slash

[2018-11-13 19:08] #8172 closed

[2018-11-13 19:51] lcizzle opened #8258 "6.1.1 Side by Side Install, x68 Unhandled Exceptions"
I have installed 6.1.1 x64 and x86 msi on a fresh install of Windows 10 1803. The installation process was ok, no errors. I opened the x64 version and ran Get-PackageProvider, returned expected results. Opened the x86 version and ran Get-PackageProvider and received an unhandled exception.

Get-PackageProvider : Unhandled Exception - Message:'The type initializer for 'Microsoft.PackageManagement.I

[2018-11-13 20:13] MaximoTrinidad commented on #8236
@SteveL-MSFT

Unfortunately, I can't install .NET Core 2.1 in my WSL-Ubuntu 18.04:
[code]
I was able to installed it on my Ubuntu Server 18.04 but not in WSL-Ubuntu.
https://github.com/dotnet/core-setup/issues/4724

So, it may be something going on with WSL but I don't know how to proceed on this one.
:(

![wsl_ubuntu1804_netcore_issue_2018-11-13_14-40-15](https://user-images.githubusercontent.com

[2018-11-13 20:16] MaximoTrinidad commented on #8242
Thanks @SteveL-MSFT  and @mklement0!
:)

[2018-11-13 22:31] mklement0 commented on #7082
Thanks for the handy function, @rjmholt (also interesting to see the use of reflection to call the non-public methods - I hope we won't need that in the long run).

It seems that in Windows PowerShell only the method that returns the `CurrentUser` scope exists, so I've amended your function to add fallback values for Windows PowerShell.
(I've also changed the name to `Get-StandardModulePath`, shor

[2018-11-13 22:56] #8204 closed

[2018-11-13 23:44] adityapatwardhan opened #8260 "Release process for 6.2.0-preview.2"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.2.0-preview.2` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM pa

[2018-11-13 23:52] rjmholt opened #8261 "ModuleSpecification/FullyQualifiedName usage does not handle paths well"
Opened out of https://github.com/PowerShell/PowerShell/pull/8218.

We do very little santisation/normalisation on paths passed in as module names in `ModuleSpecification` types to various cmdlets.

Not many users rely directly on this functionality, but things like `RequiredModules` in module manifests do.

We currently don't have any layering or type API (that I know of) to reflect that a path pa

[2018-11-13 23:54] i255d opened #8404 "Following the directions for Installation Archive Bindings for Linux, I got error when trying to run pwsh."
I get this error:
Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.

I had to run this to fix:
sudo mv /opt/microsoft/powershell/6.1.0/pwsh.runtimeconfig.json /opt/microsoft/powershell/6.1.0/pwsh.runtimeconfig.json.old
sudo sh -c 'echo "{ \"runtimeOptions\": { \"configProper

[2018-11-13 23:59] rjmholt commented on #5900
@rkeithhill Is this still happening? I wonder if @daxian-dbw might have already fixed it in work he did earlier in the year

[2018-11-14 00:26] rjmholt opened #8262 "Get-Module [-ListAvailable] -FullyQualifiedName with path ignores other constraints"
From https://github.com/PowerShell/PowerShell/pull/8218.

`Get-Module` using a path in a fully qualified name will skip other constraints in the fully qualified name and be too permissive.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

All tests pass

Actual behavior
---------------

Tests with additional version checks in fully qualified names have their chec

[2018-11-14 00:35] rjmholt commented on #7082
@mklement0 Yeah I opened this issue because I think those methods (or something like them) should really be a public API, since they are a contract with PSGet

[2018-11-14 02:30] bstrautin commented on #8107
I implemented this feature as a proof-of-concept for myself a few months ago, but haven't polished it or added tests. (Happy to contribute the changes, but they're definitely not PR-ready.)

Observations:

* The most straightforward way to implement this request is to modify VerifyHashTable in MshParameter.cs, which affects Select-Object, Format-Table, Format-List, Format-Custom, Form. ("Yes" to @

[2018-11-14 02:41] mklement0 commented on #7082
Ah, of course, @rjmholt; so another thank you for opening this issue.

[2018-11-14 03:37] mklement0 opened #8263 "COM RCWs are seemingly never garbage-collected, causing COM components to linger"
The CLR provides RCWs (runtime-callable wrappers) around instances of COM components to provide managed code a seamless experience of accessing COM objects as if they were managed ones.

When these RCWs get garbage-collected, the underlying COM object is eventually released as well.

This works as expected in C# code, but PowerShell variables seemingly never release these RCWs, as demonstrated bel

[2018-11-14 05:12] iSazonov commented on #8107
@lzybkr @BrucePay Could you please look the Issue? Have you thoughts what is a best design and how we can better implement this?

[2018-11-14 09:47] #7335 closed

[2018-11-14 13:17] erwinwolff opened #8264 "Powershell 6 stops executing when internal normal executable finishes"
Steps to reproduce
------------------

It happens with this C# code using automation.

[code]

within the build.ps1 script this command is executed:

`nuget update -self`

There are no errors when executed in an actual command console. However, when the C# automation is used the output is limited to:

[code]
And then the execution of build.ps1 is over.

Expected behavior
-----------------

The pow

[2018-11-14 13:35] iSazonov commented on #8264
Does the script work as expected if you run nuget without parameter "self"?

[2018-11-14 13:44] erwinwolff commented on #8264
Within the regular command console: yes
Within the Powershell Automation context: no

[2018-11-14 15:14] iSazonov commented on #8264
Could you share more information (sample script and C# code) in gist?

[2018-11-14 15:14] erwinwolff commented on #8264
sure

[2018-11-14 15:49] slessard opened #8268 "Incorrect help for Get-Content's -Encoding parameter"
Get-Help for the Get-Content commandlet erroneously reports that one of the valid values for the -Encoding parameter is "byte" but if you try to use byte you get an exception stating `Cannot bind parameter 'Encoding'. Cannot convert the "byte" value of type "System.String" to type "System.Text.Encoding".`

Steps to reproduce
------------------

[code]
the output includes:

[code]
then execute the

[2018-11-14 16:11] LazerFX commented on #7759
As a note for anyone accessing this in the future, you can run the following command and get access to the cmdlets (After installing the module):

[code]

The reason for the pipe into `Out-Null` is because (as noted above) there are more than 4000 exports.  This allowed me to access `Get-IAMAccessKey` from within the core environment.

Hope this helps anyone Googling this in the future!

[2018-11-14 16:53] TheIncorrigible1 commented on #8268
I think this is a carry-over from Windows PowerShell's documentation where `Byte` is a valid argument, but it looks like in PowerShell Core, it expects an Encoding *object* instead.

[2018-11-14 17:04] mklement0 commented on #8268
@slessard: On a general note, please report problems with the documentation at https://github.com/PowerShell/PowerShell-Docs/issues.

`-Encoding Byte` was replaced with switch `-AsByteStream`, given that raw bytes aren't really an encoding  (see #7986).

The online documentation already reflects this change - https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/get-co

[2018-11-14 17:08] #8268 closed

[2018-11-14 17:17] slessard commented on #8268
I just updated help and still get the incorrect documentation as stated in my bug report

[2018-11-14 17:30] mklement0 commented on #8268
@slessard: Can you try again with `sudo`?

[code]

According to the docs, `Update-Help` must be run with admin privileges, which is what I've done to get the updated content.

However, if that was the problem, I would have expected you to see an error.

[2018-11-14 17:39] MaximoTrinidad commented on #8268
Just an FYI

Try to upgrade to PowerShell Core 6.1.1 and/or 6.2.0-preview.1
This issue no longer exist!

![pscore_encoding_01_2018-11-14_12-36-23](https://user-images.githubusercontent.com/19892435/48501039-34536e00-e80a-11e8-9c9b-821cf5964ab9.jpg)

[2018-11-14 17:47] slessard commented on #8268
Nope. Didn't change anything.

[2018-11-14 17:49] MaximoTrinidad commented on #8268
Just an FYI

Try to upgrade to PowerShell Core 6.1.1 and/or 6.2.0-preview.1

I did a before/after "Update-Help", and the help documentation shows updated on both the latest version and preview.

A heads up... The "Unknown" need to be cleanup!

![pscore_encoding_01_2018-11-14_12-36-23](https://user-images.githubusercontent.com/19892435/48501688-c1e38d80-e80b-11e8-94d0-fecd253ba466.jpg)

[2018-11-14 17:54] MaximoTrinidad commented on #8268
By the way!!

No need to do sudo as that was one of the latest improvement on version 6.1.1 and preview.  Maybe include "-force" parameter as I've been doing it as a habit.

Latest GA is 6.1.1.

I just tested in Ubuntu 18.04 doing the Get-Help and it did change the help documentation.

:)

[2018-11-14 17:55] slessard commented on #8268
HomeBrew says there's nothing newer than what I have installed (but that's a different issue.) I'll believe you that the help content is updated in 6.1.1

![image](https://user-images.githubusercontent.com/580119/48502000-8d240600-e80c-11e8-8c67-08c03837ae80.png)

[2018-11-14 17:57] slessard commented on #8268
`-force` FTW!

Thanks Maximo!

[2018-11-14 17:57] MaximoTrinidad commented on #8268
Home Brew updates always happens later.  You'll need to upgrade manually to get 6.1.1.
:)

[2018-11-14 17:59] MaximoTrinidad commented on #8268
Woohoo!!  @slessard you got it!
:)

[2018-11-14 18:00] SteveL-MSFT commented on #8268
Brew casks updates are handled by the community so there is a small lag.

[2018-11-14 18:35] TravisEz13 commented on #7985
Fixed in #8252

[2018-11-14 18:35] #7985 closed

[2018-11-14 19:26] mklement0 opened #8269 "Update-Help -Scope AllUsers should check for administrative privileges up front and provide a meaningful error message"
`Update-Help -Scope AllUsers` requires running with administrative privileges.

Currently, the command doesn't fail until _after_ content has been downloaded.

Instead, an _up-front_ check should be performed, with an error message clearly stating that elevation / running with `sudo` is required.

As an aside: The error message you currently get _at the end_ only contains the reason for the proble

[2018-11-14 19:30] rjmholt commented on #8204
@bergmeister Happy to help -- I broke it, so I'm glad I was able to fix it. Thanks for letting me know it's working

[2018-11-14 19:40] rjmholt commented on #8262
/cc @daxian-dbw

[2018-11-14 19:40] rjmholt commented on #8261
/cc @daxian-dbw

[2018-11-14 19:47] mklement0 opened #8270 "Suggestion: Add a chunking (partitioning, batching) mechanism to Select-Object, analogous to Get-Content -ReadCount"
`Get-Content -ReadCount` allows you to "chunk" the input lines into sub-arrays with a fixed size; e.g.:

[code]

That is, the 5 lines were sent as three 2-element arrays through the pipeline (the last array has only 1 element, but is still an array).

It would be handy to have the same ability more generally in `Select-Object`, for chunking (partitioning) arbitrary input collections:

[code]

Poss

[2018-11-14 21:23] Meir017 opened #8272 "[feature] support for invoking a variable function using arguments (the powershell way)"
right now it's possible to declare a variable as a function and invoke it but it's not very clean:
[code]
based on https://stackoverflow.com/questions/24798389/can-i-assign-a-function-to-a-variable

the way I expected it to work is the same way functions work:
[code]

[2018-11-14 21:37] vexx32 commented on #8272
Hmm. No, this wouldn't be possible. A variable and a command name are fundamentally different. The variable you have contains a script block, not a function.

If you call `$myFunction.GetType()` you will get `ScriptBlock` back. If you go ahead and create a true function with this script block you will be able to invoke it as a function:

[code]

Functions are _not_ synonymous with script blocks in

[2018-11-14 21:51] Meir017 commented on #8272
I'm was thinking of creating a swagger-client provider that will return an object an then I would be able to invoke function on it and have autocomplete on the arguments

[2018-11-14 21:52] vexx32 commented on #8272
As I've mentioned, you can take a small extra step to create a true function, which will then properly complete arguments. I do agree that the present methods of invoking from a variable are a little lacking in ability to pass arguments easily, though.

[2018-11-14 21:56] Meir017 commented on #8272
can you provide a small sample of that?
assuming I don't know the name of the method in advance and the name of the arguments (generate them based on the input)

[2018-11-14 22:05] vexx32 commented on #8272
Depends precisely how you receive the input, but if you're getting it from outside PowerShell I'd expect it to probably come as a string, so...

[code]

[2018-11-14 22:08] Meir017 commented on #8272
I figure something like this could work
[code]

[2018-11-14 22:12] vexx32 commented on #8272
Yes, it would... But once again, be wary of running code that comes from elsewhere. If there's any other way to do whatever your ultimate goal is, I would take the other option.

[2018-11-14 22:18] #8272 closed

[2018-11-14 22:53] JamesWTruher opened #8274 "6.2.0-preview.2 for debian 9 is missing symbolic links to libcrypto.so and libssl.so"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-11-14 23:01] PaulHigin opened #8275 "Update releaseTools.psm1 to prevent 'Dependabot' name from appearing in change log"
Change logs generated by releaseTools.psm1 include author name in change list, but for bot generated items we want to suppress the bot name.

[2018-11-14 23:03] TaquiM opened #8276 "Get-ADGroupMember fails to fetch the Group Members on Windows 1809 build"
PS C:\WINDOWS> get-module
DEBUG:    1+  >>>> get-module

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   1.0.0.0    ActiveDirectory                     {Add-ADCentralAccessPolicyMember, Add-ADComputerServiceAccount, Add-ADDomainControllerPasswordReplicationPolicy, Add-ADFineGrainedPassw

[2018-11-15 04:16] zwcloud commented on #1543
Any update on this? @SteveL-MSFT

[2018-11-15 05:05] kvprasoon commented on #8276
@TaquiM Please use the issue template and fill the necessary details .

[2018-11-15 09:48] #6190 closed

[2018-11-15 09:51] iSazonov commented on #8274
Related #7598

[2018-11-15 09:58] iSazonov commented on #8276
@TaquiM Please move the Issue to https://github.com/PowerShell/PowerShellModuleCoverage

[2018-11-15 09:58] #8276 closed

[2018-11-15 11:05] iSazonov commented on #8269
Currently we have internally `IsElevated()`which do the check only on Windows.
Perhaps we could add geteuid() in psl-native https://stackoverflow.com/questions/4159910/check-if-user-is-root-in-c

[2018-11-15 11:52] erwinwolff commented on #8264
After some more researched it turned out NuGet wasn't the cause of the problems. It was a Write-Host debug message that wasn't appended to the PSObject output collection. Strangely, the output of "echo" is, but the output of "Write-Host" isn't.

What brings me to the next point: why is the output of Write-Host not added to the PSObject collection? It would have saved me time debugging.

[2018-11-15 12:08] iSazonov commented on #4357
@SteveL-MSFT Could you please update a status of the Issue? Seems most was fixed and now it is not clear that we can fix yet.

[2018-11-15 12:40] erwinwolff commented on #8264
No it doesn't

![2018_11_15_13_38_59_consoleapp3_debugging_microsoft_visual_studio](https://user-images.githubusercontent.com/602021/48553506-0cccd600-e8dc-11e8-9c15-5b0b2d72a2de.png)

[2018-11-15 12:50] vexx32 commented on #8264
Write-Host doesn't write to output

[2018-11-15 13:05] erwinwolff commented on #8264
Isn't it odd that a function called "Write-Host" doesn't write to the output?

[2018-11-15 13:09] iSazonov commented on #8264
PowerShell cam works without console. In the case Write-Host output is not silently ignored - it writes to Informational stream.  https://blogs.technet.microsoft.com/heyscriptingguy/2014/03/30/understanding-streams-redirection-and-write-host-in-powershell/

[2018-11-15 13:18] vexx32 commented on #8264
Odd? Not really. If you want to write to output, there's the `Write-Output` function. `Write-Host` is designed to write to the _interactive_ console display without placing objects in the standard output stream, as there are many cases users want informational displays without having to later filter them out of their output collections. 😄

[2018-11-15 13:42] lukexjeremy commented on #8250
I'd like to do this for a first contribution.

My initial thought is that I'd expect `-Persist` to work on Nano Server and IoT Core. Therefore, throwing on `Persist && !Platform.IsWindows` would be the right condition. I'll try to verify that, just in case `Platform.IsWindowsDesktop` is actually the better choice.

`NewPSDriveCommand.ProcessRecord` throws if `Persist` is used with a provider other

[2018-11-15 14:13] Justiii3 commented on #7984
Hello,
I might have found a simple workaround that I've tested and it works.

Basically instead of asking the don net application to call the remoting script via .AddScript method you ask the dot net app to call a local powershell process that executes the remoting script. The script file should be somewhere on the server you're executing the application from. To show this as a code I'm using the

[2018-11-15 14:25] najeebanwer opened #8278 "PowerShell 6.1.1 - Context Menu "Open Here" gives error when path is root of drive"
Steps to reproduce
------------------
Use "Open Here" context menu at root folder of drive, e.g. C:\

Expected behavior
-----------------
No error message.

Actual behavior
---------------
Shows the following error, although the correct folder is open in PowerShell:

Environment data
----------------

[code]
Name                           Value
----                           -----
PSVersion

[2018-11-15 14:39] RDStewart commented on #8126
Documenting my workaround for anyone else who stumbles on the reported issue. This works consistently for me:

Get-Date -Date (Get-Date).ToUniversalTime() -Format R

It still seems odd that Get-Date by itself emits the current time in every context I have tried _except_ when using "-Format R". I think the RFC1123 formatter should print the correct time zone abbreviation for what it believes it is

[2018-11-15 14:49] MaximoTrinidad commented on #8278
Can you please be clearer on the "Steps to reproduce"?  How do you get to the "Open Here"?
I got Windows 10 Insider version 18282 and I don't see a "Open Here.." in File Explorer script property.

But, of course I may be missing an Option to be set, and the information you provide can help understand how to get to the issue.

Greatly Appreciated!

[2018-11-15 15:02] najeebanwer commented on #8278
@MaximoTrinidad,
The "Open here" context menu is one of the options during PowerShell installation.

![image](https://user-images.githubusercontent.com/34123660/48561088-d92a8580-e8b4-11e8-9ec5-6b1a7c362a09.png)

[2018-11-15 15:09] najeebanwer commented on #8278
Closed issue by mistake...

[2018-11-15 15:30] MaximoTrinidad commented on #8278
@najeebanwer

Yeap! There's an issue when select "Open Here.."  from the c:\ Windows root.  It's happening in both PSCore 6.1.1 and Preview 6.2.0-preview.1.

![pscore_openhere_issues_01_2018-11-15_10-25-07](https://user-images.githubusercontent.com/19892435/48563025-6f64a880-e8c1-11e8-9377-0a530de6e650.jpg)

[2018-11-15 18:34] #8274 closed

[2018-11-15 19:04] mklement0 opened #8280 "Hashtable key lookups are unexpectedly culture-sensitive, don't recognize in-session culture changes"
<sup>Related: #6989, #8129, #3831</sup>

Note:
* This issue probably has little real-world impact, and probably comes down to just _documenting_ the current behavior, but before I create a docs issue, I'd like to understand the backstory.

Thanks to sleuthing by @PetSerAl, two aspects of hashtable behavior came to light:

* Key lookups are culture-_sensitive_, i.e., use the _current_ culture, as o

[2018-11-15 19:08] DHowett-MSFT commented on #8269
This is definitely a problem that's worth fixing, but I **don't** believe the correct solution is to "check who's calling". There is a number of valid scenarios that would allow a mere mortal, uid > 0, to `Update-Help -Scope AllUsers`:

- The user is in a group (say `powershell-admins`) that is allowed write access to the powershell directory
- The user has been granted explicit write access to th

[2018-11-15 19:13] mklement0 commented on #8269
Good point, @DHowett-MSFT, though the error message if write access is denied should still contain the please-run-as-admin recommendation.

[2018-11-15 19:15] rjmholt commented on #8280
This is related to https://github.com/PowerShell/PowerShell/issues/7761.

I think there is desire for culture invariant or even just ordinal case-insensitive comparison, but it needs to not break cultures like tr-TR.

Another discussion thread: https://github.com/dotnet/roslyn/issues/29938.

[2018-11-15 19:56] mklement0 commented on #8280
Thanks, @rjmholt - interesting stuff.

The larger question here is why hashtables were chosen to exhibit _any_ culture-sensitivity, given that in many contexts it is the invariant culture that is applied (I've tried to provide an overview in [this SO answer](https://stackoverflow.com/a/37603732/45375)).

Note that `-eq` already "breaks" tr-TR (as shown above), and always has, due to its culture-in

[2018-11-15 20:15] KirkMunro opened #8281 "Automatically resolve types in S.M.A, S.M.A.Language, and S.M.A.Runspaces namespaces when short names are used"
Pulled out of the discussion in PR #8205:

What if PowerShell automatically worked as if you had invoked the equivalent of the snippet below at the top of every script/script module?

[code]

I think that, plus type acceleration for aliases/shorthand type names and outliers that are in namespaces from which you only care about a few types, would make working with the .NET side of PowerShell much e

[2018-11-15 20:50] #5110 closed

[2018-11-15 21:18] vexx32 commented on #7557
@SteveL-MSFT @mklement0 @iSazonov

I have attempted to summarize the main discussion points from #7993 as best I can to assist with committee review of the primary sticking points on that PR. 😄

[2018-11-15 22:02] beruic opened #8282 "Missing changelog for version 6.1.1"
I got an update yesterday, updating Powershell to version 6.1.1, but cannot findthe changes in the changelog.

I am on Ubuntu 18.04, and I have installed/get updates from the repository at https://packages.microsoft.com/ubuntu/18.04/prod.

[2018-11-15 22:29] SteveL-MSFT commented on #8282
The change is here: https://github.com/PowerShell/PowerShell/releases/tag/v6.1.1

[2018-11-15 23:15] TravisEz13 commented on #8282
I created a PR to merge the changelogs into master to make them easier to find:
https://github.com/PowerShell/PowerShell/pull/8283

[2018-11-15 23:17] #8282 closed

[2018-11-15 23:53] najeebanwer commented on #8278
Maybe backslash in a quoted string should be treated as a literal and not an escape character?

[2018-11-16 00:03] vexx32 commented on #8278
This isn't fundamentally something PowerShell has control over, though; it's an issue with the command call itself being parsed in Windows and how it's being handed to PowerShell, it would seem?

[2018-11-16 00:31] SteveL-MSFT commented on #8278
@vexx32 is correct, by the time .Net gets the arg, it's `c:"`.  We don't get the raw input as it's been unescaped by Win32 apis.  All potential solutions I can think of are hacky, so maybe just special case this where `<driveletter>:"` is received, transform to `<driveletter>:\`

[2018-11-16 01:06] SteveL-MSFT commented on #8278
Alternative proposal, we add a new parameter that handles this case since `"c:\program files\"` would similarly fail because according to [Microsoft cpp command line parsing](https://docs.microsoft.com/en-us/cpp/cpp/parsing-cpp-command-line-arguments?view=vs-2017) a backslash preceding a double quote is a double quote otherwise it's literal.  So we can have something like: `-TrailingQuoteAsBackSla

[2018-11-16 01:55] rkeithhill commented on #7269
I'd rather not have to know where Pester / PSSA is installed.  I mighth have installed it or maybe I'm using the versions installed under the install folder for the PowerShell extension for VSCode.  Also, the PowerShell extension for VSCode could register the workspaceFolder(s) paths and for "most" people that would be a sensible default.

BTW we do this already to some extent in the extension's d

[2018-11-16 03:47] endowdly commented on #8106
So I've been working on the Validator Attribute. It seems to work okay in testing so far, but I haven't had a lot of time with it. I really like this as a solution as it *adds* functionality to PowerShell that users can apply to their scripts. Are you building a cmdlet and want a `-Scope` parameter, where validation is kind of important? This can definitely help with that. Just throw a `[ValidateS

[2018-11-16 03:53] iSazonov commented on #8106
To get a progress we should get PowerShell Committee approvement for new public API - `ValidateScope` vs `CompleterScope`.

/cc @SteveL-MSFT

[2018-11-16 03:57] iSazonov commented on #1806
I'd can investigate this but currently we have over 45 open PRs - slow reviews from MSFT team slow down community works 😕

[2018-11-16 04:02] iSazonov commented on #8269
As system administrator I can disable access specially for admins and allow for regular users 😄

I suggest "Please make sure that you have a write access to the path: ..."

[2018-11-16 04:05] rjmholt commented on #1806
No no, it's just a daydream for now. Tooling would benefit, but we should focus on what's being worked on currently for now.

[2018-11-16 04:07] rjmholt commented on #1806
The slow reviews are a consequence of driving other work at the moment -- hopefully it will pay dividends so that we can spend more time working on PowerShell itself.

[2018-11-16 04:14] vexx32 opened #8288 "[Feature] - Add ValidateTypeAttribute"
Currently there are several core cmdlets and no shortage of custom commands in public usage which declare parameters of type `[object]` (or `[psobject]`) and then after parameter binding decide whether or not input is usable, with varying success (as is practically always the case where multiple custom implementations may be present).

We are able to specify, currently, only a single possible para

[2018-11-16 04:20] mklement0 commented on #8269
@iSazonov: That will be less helpful in the _typical_ scenario, where the answer is: run as admin. We can combine the two, however: "please run as administrator or ensure that you have write access to /path/to/..."

[2018-11-16 05:31] iSazonov commented on #8180
@mklement0 Could you please look the issue? How we could enhance parameter sets to expose more comparison types and perhaps cultures?
-Cuture en-US
-Comparison [Ordinal | OrdinalIgnoreCase | CurrentCulture | CurrentCultureIgnoreCase | __SimpleCaseFolding__ ]

[2018-11-16 05:49] iSazonov commented on #8288
Look interesting but we need discuss samples where it would be useful. Specially a bind error is terminating but current behavior can be to write non-terminating error.

[2018-11-16 06:11] romero126 commented on #8106
So I have been learning lot about Scopes and here is a bit of clarification.

Scope Levels Limits
Currently the available scope levels numbers 0-2147483647
If the scope is a number above where global exists it will kick back an error which is why scoping seems to be such a confusing beast.

That being said. As far as a Validator is concerned I am not really certain why we would need a validator fo

[2018-11-16 07:37] GoelJatin commented on #3708
Any update on when can we have support for PSRemoting from Linux to Windows?

[2018-11-16 08:16] deadlydog commented on #7654
Hey @powercode I do use VS Code for my PowerShell development. How can I go about launching a new process each time I debug? Is it modifying some setting or json file somewhere? Thanks.

[2018-11-16 08:40] najeebanwer opened #8289 "PowerShell-6.2.0-preview.2-win-x64 error on startup (also occurs on upgrade to preview.3)"
Steps to reproduce
------------------
pwsh-preview

Expected behavior
-----------------
Launch PowerShell-6.2.0-preview.2

Actual behavior
---------------
Gives the following error:

Environment data
----------------

[code]
N/A

[2018-11-16 08:46] bergmeister commented on #8288
I like the idea. It would be nice if the attribute could also do type inference, i.e. being able to specify a type (either interface or implementation) and if the type is implementing that interface or deriving from that implementation then it accepts it as well.

[2018-11-16 09:00] kborowinski commented on #8289
**Workaround:**
Run the installer again and use repair function. It will fix the problem.

[2018-11-16 09:08] najeebanwer opened #8290 "PowerShell-6.2.0-preview.2-win-x64 creates duplicate "Open here" context menu item (also preview.3)"
Steps to reproduce
------------------
Install PowerShell-6.2.0-preview.2-win-x64.msi and select the installation option for "Open here" context menu item in Windows Explorer.

Expected behavior
-----------------
If the "Open here" context menu item option is selected during installation it should add a single item for "Open here" and a single item for "Open here as Administrator" to the "PowerShel

[2018-11-16 09:29] najeebanwer commented on #8289
@kborowinski:
Yes, that works. Thanks.
However, it should work after the initial installation and not require a repair.

[2018-11-16 09:40] najeebanwer commented on #8290
Another problem, the "Open here as Administrator" menu item does not appear to show startup text for PowerShell or show the text "Administrator:" in the Window title.

![image](https://user-images.githubusercontent.com/34123660/48613293-f14fe280-e950-11e8-8e95-e61e6657a55a.png)

[2018-11-16 10:06] vexx32 commented on #7654
No need to manually reload the workspace. Simply shut down the integrated terminal completely (with the trash bin icon to remove the terminal session) and then let the PS extension restart it.

[2018-11-16 10:31] RichardSiddaway opened #8292 "PowerShell v6.2 preview 2 won't start on Windows 10"
Downloaded and installed v6.2 preview 2 using the msi. It installed over preview 1 as expected.  PwerShell v6.1.1 is also installed.  No apparent errors during installation.

Attempting to start V6.2 preview 2 there is a flash of the console opening and then closing immediately.

Attempting to start from the command line - Windows PowerShell and CMD the following error is displayed:

[code]
Window

[2018-11-16 11:33] edisona commented on #8292
I have the same issue with Powershell Core 6.2.0-preview.2 with same Windows version as above. Running the installer again and using "repair" seems to fix the problem.

[2018-11-16 11:46] MaximoTrinidad commented on #8292
I got to the habit of always to uninstall the preview version.
But, the Issue is valid only if you install the preview over an existing version.

If you first uninstall the preview and then install the latest version, there is no problem starting pwsh-preview.exe.

This is a bug!

[2018-11-16 12:00] IISResetMe commented on #2223
Here we go: https://github.com/IISResetMe/PowerShell/commit/156e010413cbae1c7f5d5aa36e5a8d7116544eed

Parser rules for interface members are still slightly buggy (`;` not recognized as statement terminator atm), but it at least produces correct interface types as can bee seen below 😄

![image](https://user-images.githubusercontent.com/7413755/48620140-4adefe00-e99f-11e8-8988-2b6133bc650c.png)

Syn

[2018-11-16 12:18] RichardSiddaway commented on #8292
Its a bug as further checking shows the dll is in the zip and the msi.  As to uninstall previous version first - the whole point is to make that unnecessary. With PowerShell core versions been released on a relatively frequent basis the install should be a simple process otherwise people won't bother

[2018-11-16 12:39] george-chakhidze commented on #8263
I canʼt reproduce this using Windows PowerShell `5.1.17763.134`  (Windows `10.0.17763.134`).

[2018-11-16 13:04] DarwinJS opened #8293 "System.Private.ServiceModel.dll"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-11-16 13:05] #8293 closed

[2018-11-16 13:06] DarwinJS commented on #8292
Duplicate of: https://github.com/PowerShell/PowerShell/issues/8289

[2018-11-16 13:07] DarwinJS commented on #8289
I am having the same problem after an upgrade using the chocolatey package I created for preview.  I will avoid updating the chocolatey.org repo until this is fixed so that I don't get lotsa complaints ;)

[2018-11-16 13:31] zebulonsmith opened #8296 "aka.ms link to MSI download links"
It would be great if there was an aka.ms shortcut for the current version of each of the MSI installers published.

That would make it much easier to deploy PS Core with tools like SCCM. A simple install script could be used to download the MSI and then run the installation with the advantage that you'd always be installing the current version.

[2018-11-16 16:33] deadlydog commented on #7654
Oh, I guess that's not toooooo bad @vexx32. I was hoping for a way to have pressing F5 do that automagically. There's probably is a way to do it; I'll just need to look into overriding keybindings and running custom scripts in VS Code. Thanks for the stopgap solution for now though.

Side note: I wish GitHub had a way of having these "side" conversations easily without needing to pollute the main

[2018-11-16 17:07] vexx32 commented on #7654
Yeah, there's a config setting to always run in a new session in the POwerShell extension settings I think.

[2018-11-16 17:46] SeeminglyScience commented on #8281
There are definitely some name conflicts, one I've ran into similar issues with the `System.Reflection` namespace in particular (e.g. `MethodAttributes` exists in both `System.Reflection` and `SMAL`)

As long as an explicit `using namespace` takes priority I don't think that would be too big of an issue though.

[2018-11-16 18:09] bergmeister commented on #8289
This seems to be an upgrade problem only (I could reproduce when upgrading from `6.2-preview1` to `6.2-preview1`). Uninstalling and reinstalling is fine and fixes it

[2018-11-16 18:10] Agazoth commented on #8289
I had the same issue upgrading.

[2018-11-16 18:14] romero126 commented on #8288
There are several instances I can think of where PowerShell users would find this useful. As well as a tool for internal development.

This would be great passing a [PSObject] to a specific overload in C# a great toolkit for future work in module builders.

[ValidateType([int], [int32], [string], [float])]
PSObject foo;

where you could take
var x = foo.BaseObject;
calloverload(x);

This would be

[2018-11-16 18:16] bergmeister commented on #8290
I have seen this happening before with a previous preview of `6.1` that did not correctly clean up on uninstall. This issue is not specific to `6.2-preview2` as this did not happen for me when I upgraded from `6.2-preview1` to `6.2-preview2`. You can manually remove the old left over registry keys in
- `HKEY_CLASSES_ROOT\Directory\ContextMenus\`
- `HKEY_CLASSES_ROOT\Directory\Background\shell\`
-

[2018-11-16 18:21] vexx32 commented on #8288
I don't think this will allow us to bypass compile-time constraints in that way; as I understand it, method overloads are determined at *compile* time, so it won't be possible to dynamically select which overload you're using... however, it might pave the way for a generic set of overloads to be created for a purpose like this. I'm not clear how this would function, in all honesty, I'm hazy about

[2018-11-16 18:34] iSazonov commented on #8288
By the way, we already have attributes to describe the source and return types. Although they are not used.

[2018-11-16 20:41] KirkMunro commented on #8281
Copying over what @SteveL-MSFT said in the PR where this issue came from:

[2018-11-16 21:04] endowdly commented on #8106
@romero126

The numbered scopes isn't an issue for tab completion, and there is no easy way to determine _which_ of the number is a valid scope. I mean there is, if you did through the call stack, but that just seems like a folly. So the tab completion comes down to **4** real choices, and as I mention above, Jason Shirk's [TabExpansionPlusPlus](https://github.com/lzybkr/TabExpansionPlusPlus) modu

[2018-11-16 22:17] bergmeister commented on #8278
Just as a remark, this scenario actually used to work in the original implementation that I did where I was using `pwsh.exe -NoExit -Command Set-Location -LiteralPath '%V'`, I changed this later in PR [6660](https://github.com/PowerShell/PowerShell/pull/6660/files) to use the `-WorkingDirectory` parameter as the initial implementation could not deal with single quotes

[2018-11-16 23:14] deadlydog commented on #7654
Yup, you're right @vexx32 . I found the `File` ->`Preferences` -> `Settings` -> `PowerShell > Debugging: Create Temporary Integrated Console` setting that's off by default. Just what I was looking for 👍

![image](https://user-images.githubusercontent.com/1187140/48651892-85a65d80-e9c2-11e8-95bb-d5c0bb729eac.png)

Some users may not like having this on all the time, as it automatically wipes the co

[2018-11-16 23:31] najeebanwer commented on #8290
The problem with the duplicate entry is at `HKEY_CLASSES_ROOT\Directory\ContextMenus\`. The "openpwsh" key is redundant.

![image](https://user-images.githubusercontent.com/34123660/48652468-475e6d80-e9c5-11e8-86e6-5146d0ed5fee.png)

[2018-11-16 23:47] najeebanwer commented on #8290
The issue with the "Open here as Administrator" menu item is that it adds the following to the `HKEY_CLASSES_ROOT\Directory\ContextMenus\PowerShell6-previewx64\shell\runas\command` registry entry:
`-Command "$host.UI.RawUI.WindowTitle = 'PowerShell 6-preview (x64)'`
I think this is meant to make the window title look nicer, but it actually has less utility than the default window title because a)

[2018-11-17 00:31] dbaileyut opened #8298 "PowerShell Core on Windows doesn't honor IE Zones"
This is somewhat related to Issue #7458 but my issue is not specific to my profile. We host a number of shared scripts on a trusted file share and with Windows PowerShell, those scripts can run unsigned while the Execution Policy is RemoteSigned because they are considered "local intranet".

# Steps to reproduce
1. Add file:// FQDN URL for an SMB file server to the Local intranet zone in the Inter

[2018-11-17 00:31] dbaileyut commented on #8298
![image](https://user-images.githubusercontent.com/7095040/48653870-dc656480-e9cd-11e8-9a6d-6c781e33802f.png)

[2018-11-17 00:39] msftrncs opened #8299 "executing CMD with carrots (^) in argument"
# Steps to reproduce

[code]

# Expected behavior

VS Code opens with file `%testing^carrots.txt`

# Actual behavior

VS Code opens with `%testing^^carrots.txt`

# Environment data

[code]
I thought maybe this was just a 'core' thing but it happens on Windows PowerShell 5.1 too.

Why is there some form of an escaping operation occurring that is causing the `^` to be doubled?  If I don't double the

[2018-11-17 01:39] SteveL-MSFT commented on #8299
This appears to be a cmd.exe thing and not related to PowerShell.  The equivalent in cmd.exe without additional quote escaping (not under `pwsh`):

[code]

Both produce the same results you see.  Interestingly, `^^^` and `^^^^` also don't work.  Couldn't find a combination that actually produced a resulting single carat with cmd.exe.

[2018-11-17 01:43] vexx32 commented on #8299
Does `\^` work to produce a single caret?

[2018-11-17 04:12] chuanjiao10 opened #8301 "Find a way to let ps core join rhel 8!"
Recently, the rhel8 beta version was released. Integrated with .net core 2.1
  • dotnet-2.1.403-4.el8.x86_64.rpm
  • dotnet-host-2.1.5-4.el8.x86_64.rpm
  • dotnet-runtime-2.1-2.1.5-4.el8.x86_64.rpm
  • dotnet-sdk-2.1-2.1.403-4.el8.x86_64.rpm
  • dotnet-sdk-2.1.4xx-2.1.403-4.el8.x86_64.rpm

See pkg list:
Https://distrowatch.com/table.php?distribution=redhat&pkglist=true&version=rhel-8.0-beta#pkglis

[2018-11-17 05:49] vors commented on #2223
We are doing it already

https://github.com/PowerShell/PowerShell/blob/dedddb6b59b8b01fadb4312bbddc7992a6cbbe0a/src/System.Management.Automation/engine/parser/PSType.cs#L605

[2018-11-17 06:41] SteveL-MSFT commented on #8299
@vexx32 nope, that produces a folder called "%%testing" and a file in that folder "carrots.txt" since it's treated as a directory separator.

[2018-11-17 07:36] msftrncs commented on #8299
Okay, lots of trying things, and I finally found that CALL in the CMD script is what causes the `^` to be doubled, but its something in VS Code or Node that strips one of the `%` off, because CALL doesn't do that.  I determined this by switching out the CMD file for a simple ECHO script to echo the results, and then I changed the command I was using in PowerShell to CALL:

[code]
So not a PowerShe

[2018-11-17 07:36] #8299 closed

[2018-11-17 08:09] megamorf commented on #7452
Any updates on this?

[2018-11-17 09:18] IISResetMe commented on #2223
@vors I see, must be something else that trips up then, will keep digging

![image](https://user-images.githubusercontent.com/7413755/48659475-0fe9d280-ea52-11e8-842a-a9d5b539addc.png)

[2018-11-17 10:00] iSazonov commented on #8298
I think it is dup #7458

[2018-11-17 12:42] MaximoTrinidad commented on #7452
@TravisEz13 & @megamorf

Hum! I've been using just:
[code]
Without the "-Scope CurrentUser" parameter and is working fine on non-admin session.
Maybe the "-Scope" is not a mandatory parameter.

:)

[2018-11-17 12:44] DarwinJS commented on #8290
If component codes are being managed properly, then this should not happen.

In general, if an MSI "inplace upgrade over" a previous MSI product does unexpected things that are resolved by uninstall / clean new install - it is because MSI Component GUIDs are not being properly managed **across package releases**.  Basically, they aren't being kept the same across packages as per MSI rules.  The MS

[2018-11-17 12:51] MaximoTrinidad commented on #7452
BTW

You can't even use "sudo" to execute "Update-Help".
This is a bug!

:)

[2018-11-17 15:53] IISResetMe opened #8302 "Generated get/set methods incorrectly marked non-virtual"
While testing an experimental feature to [add support for interface declarations](https://github.com/PowerShell/PowerShell/issues/2223#issuecomment-439602845), I found that types generated using the `class` keyword can't correctly override get/set methods associated with properties.

# Steps to reproduce

[code]

# Expected behavior

New type `[TestClass]` implementing `[TypeTest.Interface]` shoul

[2018-11-17 16:29] yevster opened #8304 "Exception when tab completion overruns buffer"
# Steps to reproduce
1. On Windows, create a new ShortCut to PowerShell Core. Set the buffer height to 15:
![image](https://user-images.githubusercontent.com/7320197/48663152-d1581600-ea59-11e8-824b-87e7e5b55971.png)

2. Open the shortcut and paste the following:
[code]

3. Type in: `Get-GitHubRepository -` and after the dash, press TAB. If nothing happens, press it again.

# Expected behavior
The

[2018-11-17 16:38] rayterrill commented on #6083
Is this still not available in PS Core? I see the GA of the Windows Compatibility Module, but wondering if this is available straight up in PS Core yet. Also, is there a place where we can check compatibility of modules with PS Core? I see lots MS blog posts touting compatibility numbers, but no links to something that shows what’s been converted, when, and what remains.

[2018-11-17 16:49] jdogg89 commented on #6083
I was trying to run the ps core docker image based on Ubuntu to run this in kubernetes. It was impossible to import the AD modules and make what I wanted to work so I just shelfed my work on this... Maybe you can import the AD module now...

[2018-11-17 18:20] bergmeister commented on #8290
I tested the upgrade scenarios [here](https://github.com/PowerShell/PowerShell/pull/7932#issuecomment-426814433) using locally built installer versions and think:
The nature of previews is that they might be a bit 'dirty' at times. As far as I see an old preview of 6.1 is causing that, therefore this should not bother us too much. However, when it comes to RTM releases, Microsoft must go through s

[2018-11-17 18:31] bergmeister commented on #7408
@SteveL-MSFT Details about `netstandard2.1` were recently announced [here](https://blogs.msdn.microsoft.com/dotnet/2018/11/05/announcing-net-standard-2-1/) and the gist is that only .Net Core 3.0 will implement it but not the current 2.1 and 2.2 versions and neither will the full .Net Framework (even 4.8 was ruled out).
Since the current state of SMA is far away from being able to work using `nets

[2018-11-17 19:59] KirkMunro commented on #8288
I worry this may promote bad design.

For commands that are out there that take an object or a `PSObject`, should those parameters be that generic?

In core PowerShell commands, many of those should be generic because they work against objects. A few other ones (e.g. `Get-Acl` and `Set-Acl` from WindowsPowerShell) accept a `PSObject` and then have some other criteria that they require (in the case

[2018-11-17 20:02] Vittel commented on #3028
I have created a small tool passing the call to any console tool you want to start windowless through to the original file:

https://github.com/Vittel/RunHiddenConsole

After compiling just rename the executable to "&lt;targetExecutableName&gt;w.exe" (append a "w"), and put it next to the original executable.
You can then call e.G. powershellw.exe or pwshw.exe with the usual parameters and it won'

[2018-11-17 20:06] SteveL-MSFT commented on #6083
@rayterrill if you want to use the AD Module from Linux, you can install SSH on Windows, then establish the PSSession, and use Import-PSSession to have proxy cmdlets you run locally on your Linux machine.  With PSCore6.1 as the SSH endpoint (rather than Windows PowerShell).

@joeyaiello perhaps you can author a blog post on the specific modules that work on what build of Windows

[2018-11-17 20:08] vexx32 commented on #8288
Look at something like `Select-Object`'s `-Property` parameter:

[code]
Note the ambiguous nature of the parameter type, there is a brief mention that you can use property names, which to those of us already knowing how it works, we know that's a string, and then a mention of the hashtable syntax that can be used.

The parameters here are, as far as I know, evaluated at runtime to validate them. W

[2018-11-17 20:08] SteveL-MSFT commented on #7408
@bergmeister unless there are other use cases to multi-target, it seems that separating the parser as it's own nupkg may be a better long term solution

[2018-11-17 20:14] SteveL-MSFT commented on #8304
@yevster not able to repro this.  First, can you try with 6.2-preview.2 to see if it repros?  Second, how long is your prompt as that may be a factor.  Finally, does it repro if you remove PSReadLine (remove-module psreadline)?

[2018-11-17 20:45] ibex-are-goats commented on #3028
Compile a release and I will try it sometime! Really great work Vittel :) 👍 💯

[2018-11-17 20:50] yevster commented on #8304
Hi, @SteveL-MSFT,

Yes, it's reproducible with 6.2-preview.2. The prompt is long, e.g. `PS C:\Users\yebronsh\Desktop\PowerShell-6.2.0-preview.2-win-x64>`. Expanding the window horizontally or vertically increases the buffer and eliminates the exception. If you can't reproduce it, try shrinking the buffer even further in shortcut settings.

`Remove-Module` does eliminate the exception, but it also

[2018-11-17 20:50] yevster commented on #8304
Incidentally, is PSReadLine source on GitHub? I couldn't find it here.

[2018-11-17 21:33] Vittel commented on #3028
good idea. did so.

[2018-11-17 23:51] C-Duv commented on #3028
For that specific PowerShell issue (occurred on my scheduled tasks) I had ended up using https://github.com/stbrenner/SilentCMD (also C#), I'll give RunHiddenConsole a try...

[2018-11-18 00:04] mklement0 commented on #3581
What said `InvokeScript` overload doesn't cover is the ability to **relay the current pipeline input object via automatic variable `$_`**, which is what's needed to be on par with how cmdlets such as `Where-Object` and `ForEach-Object` invoke script-block arguments.

@PetSerAl came up with a robust workaround, but it's cumbersome and far from obvious: it uses an aux. `ForEach-Object` call to invok

[2018-11-18 01:33] SteveL-MSFT commented on #8304
@yevster since it appears to be due to PSReadLine, can you see if there is an existing issue here https://github.com/lzybkr/PSReadLine/issues otherwise open a new issue?  Thanks!

[2018-11-18 01:33] #8304 closed

[2018-11-18 02:49] rayterrill commented on #6083
@SteveL-MSFT I'll look into. We're currently doing something similar - WinRM'ing into a Windows machine with PSCore6.1 as the SSH endpoint, then running powershell 'WHATEVER WE WANT TO RUN' in the context of that PSCore6.1/SSH session so it runs under full .NET powershell vs PSCore. Kludgy, but it works currently.

Would love a blog post from @joeyaiello or anyone else on the specific modules that

[2018-11-18 03:23] msftrncs commented on #8299
@SteveL-MSFT, one thing I have noticed, is that PowerShell will wrap the argument to CMD.EXE (I suppose to all executables) with additional quotes if there are any spaces in the argument, even if that argument is already fully quoted.  As long as one knows this is happening, it simply means the arguments to CMD.EXE never need to be separately quoted (though obviously the compound arguments still n

[2018-11-18 08:36] lukexjeremy commented on #8202
The [comment from Jon Hanna](https://weblog.west-wind.com/posts/2010/Feb/18/NET-WebRequestPreAuthenticate-not-quite-what-it-sounds-like#cmt_709615) on Rick Strahl's article raises a good point too. Waiting for a 401 is the best default. That 401 could offer digest auth, but you've lost that security gain if you've already sent basic credentials.

Perhaps sending the basic credentials upfront could

[2018-11-18 12:09] iSazonov commented on #7408
I discover that the parser intersect with HelpSystem. We need to investigate how split them in better way. Can we get `ExecutionContext` (there `HelpSystem` is initialized) in the parser (ast)?

[2018-11-18 12:41] iSazonov commented on #3028
@Vittel Thank you for the project! You need to pay attention to input/output/error redirection and perhaps argument escaping.

If we will make new pwshw project we should think about defaults: perhaps `-Noprofile` should be.

[2018-11-18 17:55] rkeithhill opened #8306 "Getting error dialog - new guard page for this stack could not be created"
# Steps to reproduce

I upgraded to PowerShell Core 6.1.1 yesterday and had it running with VSCode 1.29.1. This is running on Windows 10 insiders build 18282.

# Expected behavior
PowerShell Core does not crash

# Actual behavior

Crashed with:
![image](https://user-images.githubusercontent.com/5177512/48676170-18a8da00-eb20-11e8-84c2-a298ecc3d027.png)

# Environment data

[code]

[2018-11-18 19:32] SteveL-MSFT commented on #3028
Simply changing `OutputType` to `WinExe` isn't sufficient as netcoreapp2x doesn't support this currently.  Per https://github.com/dotnet/core-setup/issues/196#issuecomment-394786860 looks like we need to wait for netcoreapp30.

[2018-11-18 21:39] mklement0 opened #8308 "ConvertTo-Xml fails with nested custom objects: omits closing </Objects> tag"
See repro below.

As an aside (that will probably become a docs issue): What is the purpose of `ConvertTo-Xml`? The docs suggest that it is the in-memory counterpart to `Export-Clixml`, however:
* It produces _different_ XML representations,
* which, if saved to a file, cannot be re-imported with `Import-Clixml`

# Steps to reproduce

[code]

# Expected behavior

Should output an `[xml]` instance

[2018-11-18 22:55] SteveL-MSFT commented on #8308
Fails with Windows PowerShell 5.1 so not a regression.  Seems specific to nested `[PSCustomObject]`.  Other cases work

[code]

[2018-11-18 22:57] SteveL-MSFT commented on #8299
@msftrncs you can always use `--%` to pass the rest of the cmdline as-is to the native command:

[code]

[2018-11-18 23:03] SteveL-MSFT commented on #7408
@bergmeister for sure separating out the parser is a non-trivial task.  Targeting `net472` is problematic as we've be removing `#if !CORECLR` to have a cleaner code base targeting .NET Core and started using new types that aren't available in .NET Framework.

[2018-11-18 23:03] mklement0 commented on #8308
Thanks, @SteveL-MSFT. Generally, I only include a Windows PowerShell version in the _Environment data_ section if it _isn't_ a regression (and, conversely, point out if it is). Can you briefly explain the purpose of `ConvertTo-Xml` with respect to my comments at the top, so I can open docs issues, if/as needed?

[2018-11-18 23:06] SteveL-MSFT commented on #8289
Will investigate next week

[2018-11-18 23:53] SteveL-MSFT commented on #8308
@mklement0 I don't know the history of it, but I can make an educated guess.  `ConvertTo-Xml` uses a simplified format that makes it easier to use with other systems that accept XML although it's probably still a bit more abstract than a simple property bag format...  `Export-CliXml` is the same serialization format PowerShell uses for remoting so it's more complete to enable deserialization.  Ide

[2018-11-19 01:48] victorsj1 opened #8309 "no real scenarios in the examples given for copy-item"
disregard. I don't see an immediate way to delete this so I'll just say disregard it.

[2018-11-19 02:05] KirkMunro commented on #8288
Thanks, that's a great example, just what I was looking for, and I get what you're after now.

Food for thought: I think this feature would be better implemented using an "Allow" attribute instead of a "Validate" attribute. e.g. Instead of `[ValidateType([string], [hashtable])]`, I think it would be more self documenting if the syntax was written like this: `[AllowType([string],[hashtable])]`, and

[2018-11-19 02:12] vexx32 commented on #8288
`Allow` attributes are not restrictive but permissive, so I don't think it's semantically appropriate to break that convention, given part of this suggestion is to help with validating the input types and remove the need to do so at runtime.

[2018-11-19 02:19] #8309 closed

[2018-11-19 03:56] iSazonov commented on #3028
| Parameter | Status
| - | -
| -File |
| -Command |
| -ConfigurationName |
| -EncodedCommand |
| -ExecutionPolicy |
| -InputFormat |
| -Interactive | Remove
| -NoExit | Remove
| -NoLogo | Remove
| -NonInteractive | By default
| -NoProfile | By default
| -OutputFormat | Remove
| -Version | Remove
| -WindowStyle | ?
| -WorkingDirectory |

If pwshw.exe is for no-console scenario what exe will be for

[2018-11-19 04:01] iSazonov commented on #3028
For reference. From https://github.com/dotnet/core-setup/pull/3888:

but I don't found docs how to rename.

[2018-11-19 04:48] iSazonov commented on #7408
Over time, the gap between net standard and .net framework will only increase (last annouce is that .net framework will do not support netstatndard 2.1 but PowerShell Core could seems be compiled against one.). I think it will force PSAnalyzer to change its archetecture.

[2018-11-19 04:50] mklement0 commented on #8211
@SteveL-MSFT: Please see the updated initial post: `Remove-Item -Recurse` is not only unexpectedly asynchronous overall (which is what I originally reported), _it fails intermittently_, due to inherent flawed design.

[2018-11-19 08:17] LaurentDardenne commented on #8182
A case generates an error :
[code]
In view of the original construction, the error message does not correspond to the situation encountered.

[2018-11-19 12:01] #8264 closed

[2018-11-19 13:55] mklement0 commented on #3028
Thanks for the helpful parameters table, @iSazonov.

I think `-NonInteractive` and`-WindowStyle` can be removed too, as they only have meaning in the context of a _console_ window - which the GUI-subsystem executable by definition won't have.

[2018-11-19 14:04] mklement0 commented on #3028
`pwshw.exe` can do double duty:

* For automation (run hidden from a scheduled task, for instance)
* For launching GUI-user-interaction-only scripts without an unwanted console window (e.g., scripts that create WinForms UIs).

[2018-11-19 14:37] iSazonov commented on #3028
Should we keep `-WindowStyle` for them?

And what about GUI console?

[2018-11-19 14:40] cResults opened #8310 "Split-Path : A parameter cannot be found that matches parameter name 'LeafBase'"
we have a Azure DevOps build task that has a task with the following code:
[code]

While this code path doesn't get executed very often, it is my understanding that it previously worked.

Here is the error that we are now getting

[code]

[this docs.microsoft.com post suggests that this code should work](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/split-path?

[2018-11-19 15:54] mklement0 commented on #8310
Are you running _Windows PowerShell_? It is only PowerShell _Core_ that supports this parameter, as evidence by its absence form the [WinPS v5.1 version of the docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/split-path?view=powershell-5.1)

You can work around the problem as follows:

[code]

[2018-11-19 15:57] mklement0 commented on #8308
Thanks, @SteveL-MSFT.

So I can suggest improvements to the docs: can you give examples of such other systems?
Are there common real-world scenarios?

[2018-11-19 15:58] cResults commented on #8310
It is running in Azure DevOps environment. so what ever version of PowerShell that it uses.  I had just found the GetFileNameWithoutExtension workaround and it is working.  Thank you.

[2018-11-19 15:58] #8310 closed

[2018-11-19 16:10] mklement0 opened #8311 "Allow ConvertTo-Xml to emit CLIXML (the same XML format as Export-Clixml)"
# Summary of the new feature/enhancement

Follow-up from https://github.com/PowerShell/PowerShell/issues/8308#issuecomment-439737699, quoting @SteveL-MSFT:

Note that the documentation is lacking, as of this writing, as it mistakenly suggests that `ConvertTo-Xml` is the in-memory equivalent of `Export-CliXml` - see https://github.com/PowerShell/PowerShell-Docs/issues/3310

_Update_: Adding dedicat

[2018-11-19 16:12] mklement0 commented on #8308
I've created a docs issue at https://github.com/PowerShell/PowerShell-Docs/issues/3310.

[2018-11-19 16:19] sietede opened #8312 "Missing image"
In the section Multiple Parameter Sets in https://docs.microsoft.com/en-us/powershell/developer/cmdlet/cmdlet-parameter-sets , it says: "In the following illustration, the left column shows..."; however, there is no illustration on the page.

[2018-11-19 16:42] sdwheeler commented on #8308
@mklement0 @SteveL-MSFT this does seem specific to pscustomobject. The following works:

[code]

[2018-11-19 16:51] mklement0 commented on #8308
@sdwheeler: Yes, but do note that casting to `[psobject]` is a virtual no-op, because only the `[pscustombject]` cast provides the custom-object construction syntactic sugar:

[code]

As an aside: I say _virtual_ no-op, because you do get an extra `[psobject]` wrapper, though that is _mostly_ invisible - [except when it isn't](https://github.com/PowerShell/PowerShell/issues/5579).

In other words:

[2018-11-19 17:02] mklement0 opened #8313 "Start-Process doesn't permit passing NUL or /dev/null to *both* -RedirectToStandardOut and -RedirectToStandardError and should also support $null"
Sometimes you want to simply _suppress_ stdout _and_ stderr output from a process launched with `Start-Process`.

However:

* `-RedirectStandardOut /dev/null -RedirectStandardError /dev/null` (Unix) and `-RedirectStandardOut NUL -RedirectStandardError NUL` do _not_ work, due to a naïve check for whether the output filenames are the same (see below).

* `-RedirectStandardOut $null -RedirectStandard

[2018-11-19 17:05] mklement0 commented on #8312
Thanks, but please note that documentation issues should be reported at https://github.com/PowerShell/PowerShell-Docs/issues.

Perhaps someone will be able to move this issue there.

[2018-11-19 17:08] mklement0 commented on #3028
I don't think that's useful, because there's no telling in advance at what point and through what mechanism a GUI window - if any - will be created, and the code that creates it would have to query PowerShell for its startup parameters somehow in order to respect the value.

What do you mean by _GUI console_?

[2018-11-19 17:29] lzybkr commented on #7408
@bergmeister - I wouldn't move all files - e.g. compiler.cs isn't useful outside of the engine.

[2018-11-19 17:46] tdaniely opened #8314 "Support using sockaddr_un scheme with Invoke-RestMethod."
# Summary of the new feature/enhancement

Support using "sockaddr_un" (AF_UNIX sockets) with Invoke-RestMethod.

# Proposed technical implementation details

Example usage:
`Invoke-RestMethod sockaddr_un://var/run/docker.sock/containers/json

As far as I understand the socket layer should behave the same so no big changes in the code, except adding the scheme and address family option. I don't thi

[2018-11-19 18:17] SteveL-MSFT commented on #8314
If CoreFx supports this, we can support it.  Until then, I don't think it makes sense to specialize it into the cmdlet.

[2018-11-19 18:20] SteveL-MSFT commented on #3028
@iSazonov `pwshw` by definition won't have an interactive console.  `-WindowStyle` is specifically for the console window.  Scripts that leverage WinForms/WPF is independent of the pwshw host.

[2018-11-19 19:08] TravisEz13 commented on #7452
Here is the stack trace:
[code]

The problem is `SetDisablePromptToUpdateHelp` it always writes to the systemwide setting which are read-only in snap.

[2018-11-19 19:12] #8278 closed

[2018-11-19 19:31] dbaileyut commented on #7458
My duplicate #8298 may shed additional light on the expected behavior with RemoteSigned and "trusted" file shares when coming from Windows PowerShell.

[2018-11-19 19:48] tdaniely commented on #8314
Actually I'm not sure if the dotnet people will go for this. The protocol is still HTTP. That the transport is different doesn't really matter.

With curl you do it like this:
`curl -XGET --unix-socket /var/run/docker.sock http://localhost/containers/json`

So maybe the answer isn't core support. Probably warrants some design discussion.

[2018-11-19 19:49] weloytty commented on #7458
My temporary workaround is:  make the AD people issue me a code signing cert.

[2018-11-19 20:50] SteveL-MSFT commented on #7458
@dbaileyut your findings may help find root cause.  There was an older [commit](https://github.com/PowerShell/PowerShell/commit/3349f84ed0c75f37c013d8683d5bdb5a47887db5) to determine the security zone on Core and if the UNC share has a dot in the name (like `\\foo.bar.com\share` or `\\1.2.3.4\share`) then it is treated as internet, otherwise intranet.  If intranet, the file is treated as local.  I

[2018-11-19 20:55] sba923 opened #8315 "Some bits in the file attributes are masked out"
Files in the OneDrive sync folder with the "Files on Demand" feature make use of a number of specific attribute bits, such as:

0x00000200 | SparseFile
0x00000400 | ReparsePoint
0x00001000 | Offline
0x00080000 | Pinned
0x00100000 | Unpinned

(non-exhaustive list)

In PowerShell 6.1, some of the bits are masked out, so code that runs in Windows PowerShell 5.1 will not run correctly under PowerShell

[2018-11-19 21:14] dbaileyut commented on #7458
I can confirm the UNC path without dots works as expected for me under 6.1.1.
Mapping a traditional drive letter via Explorer/ "net use" appears to be another workaround (but not creating a PSDrive using a path with dots).

My case would be one where resolving the computer name to see if it's in the same subnet would fail (unless signed, of course).

[2018-11-20 01:34] SteveL-MSFT commented on #7458
Unless someone knows of a reliable way to determine of a remote system is on the intranet, I think we may have to resolve this as a doc issue.

[2018-11-20 01:41] dbaileyut commented on #7458
@SteveL-MSFT - this may be a separate issue but  with [commit](https://github.com/PowerShell/PowerShell/commit/3349f84ed0c75f37c013d8683d5bdb5a47887db5) you referenced, is there a security risk to trusting "Zone.Identifier" being less than Internet/"3" (i.e. more trusted)?

In 6.1.1, I was able to write a Zone.Identifier of "1" in a stream on my test script as non-administrator and execute it the

[2018-11-20 01:58] dbaileyut commented on #7458
Seems like the algorithm should be reversed:

1. The file path will be used to determine the initial SecurityZone
2. If the alternate data stream "Zone.Identifier" is in the valid format and greater than the zone determined by the path, use SecurityZone from Zone.Identifier data stream.

That way, the alternate data stream can't be used to make the script more trusted, only less.

[2018-11-20 03:04] rjmholt commented on #7408
If we went down the path of putting the parser into its own project, I think it would be important to work out what the conceptual cohesion of that project would be.

I imagine that project's conceptual purpose would be to ingest PowerShell script input and output a PowerShell AST, which is then input to the engine. But that's just my quick imagining. @lzybkr, @BrucePay and @daxian-dbw might have

[2018-11-20 03:06] iSazonov commented on #3028
Thanks! Table above was updated.

[2018-11-20 05:07] SteveL-MSFT commented on #7458
cc @PaulHigin @TravisEz13 to review security implications

[2018-11-20 16:21] dbaileyut commented on #7458
The best I can imagine is resolving the name and comparing to the [RFC 1918 subnets](https://tools.ietf.org/html/rfc1918) and considering all of them intranet but that's probably too broad.

[2018-11-20 17:05] jazzdelightsme commented on #7744
The strategy used by [DbgShell](https://github.com/Microsoft/DbgShell)'s custom, VT100 color-aware formatting engine (which predates conhost support) is to simply preserve all escape sequences when truncating ([code here](https://github.com/Microsoft/DbgShell/blob/52f5edda36b435f4f18703b9b2ae816fb47dc901/DbgProvider/internal/CaStringUtil.cs#L267)).

[2018-11-20 17:19] jazzdelightsme commented on #7767
I made the same comment on #7744, but: [DbgShell](https://github.com/Microsoft/DbgShell)'s approach is not to try to reset/undo escape sequences; rather just leave them all in. In other words, when truncating, it only truncates *content*, but preserves all escape sequences (code [here](https://github.com/Microsoft/DbgShell/blob/52f5edda36b435f4f18703b9b2ae816fb47dc901/DbgProvider/internal/CaString

[2018-11-20 17:49] SteveL-MSFT commented on #4357
@iSazonov I made an attempt to see what in the check list is already fixed and what isn't.  The problem is that the hyperlinks go to older commits and don't reflect current state.  Might be easier to write a script to scan the code and generate a new checklist but we won't know what has been fixed, just what needs to be fixed.

[2018-11-20 18:23] daxian-dbw opened #8322 "Make PowerShell SDK NuGet packages ship IL assemblies"
### Problem

The current PowerShell SDK NuGet packages have crossgen'ed assemblies in them, which are huge in size compared to the IL version of those assemblies, e.g. `System.Management.Automation.dll` from the NuGet package is 19.4mb while the IL version of it is 6.6mb. This causes a size bloat to applications that host PowerShell runtime.

### Suggestion

Instead of ship with crossgen'ed assemb

[2018-11-20 20:20] drocs opened #8323 "Utils.DefaultPowerShellAppBase gives the wrong directory for $PSHOME when downloading nuget package"
This makes the ModuleIntrinsics.GetModulePath function call add the directory c:\users\<username>\.nuget\packages\system.management.automation\6.1.1\runtimes\win-x64\lib\netstandard2.0\Modules to the PSModulePath environment variable, rather than the expected C:\Windows\System32\WindowsPowerShell\v1.0\Modules directory.

[2018-11-20 20:37] SteveL-MSFT opened #8325 "In PSConfiguration.cs, WriteValueToFile() should check if value has changed before writing"
# Summary of the new feature/enhancement

Currently, the [WriteValueToFile()](https://github.com/PowerShell/PowerShell/blob/75ba74cce6164d46bb85f561b4d657a56f1431f2/src/System.Management.Automation/engine/PSConfiguration.cs#L491) method always writes to the config file even if the value didn't change.  We could add logic to check if the value has changed before writing to the file.

[2018-11-20 21:05] BrucePay commented on #8315
It appears to be a .NET limitation. Calling the API directly returns the same result as PowerShell.
[code]

[2018-11-20 22:53] SteveL-MSFT commented on #8322
Can't we just ship the IL assemblies under the `any` runtime id?

[2018-11-20 23:02] SteveL-MSFT commented on #3708
@GoelJatin if you mean over WSMan, there is limited support today (Basic auth over HTTPS).  What we really need is to move away from the current native library to a new managed library https://github.com/PowerShell/PowerShell/issues/8233

[2018-11-20 23:02] stamminator opened #8327 ""Run as Administrator" crashes"
# Steps to reproduce

Launch PowerShell Core as administrator

# Expected behavior

PS Core launches with admin permissions

# Actual behavior

Console window briefly opens, but before PS Core initializes, the window crashes. The following two Windows error logs correspond to the crash:

[code]

[code]

# Environment data

[code]

[2018-11-21 04:03] GoelJatin commented on #3708
@SteveL-MSFT , I'm using the WinRM service (PSRemoting) for remote management.

I'm using the **Invoke-Command** cmdlet with ComputerName and Credential.

Any update related to that, as currently this is a bottleneck for me to proceed further with few of my projects.

I understand SSH is being brought to Windows 10, but my project is designed to run on all versions of Windows, and PowerShell is th

[2018-11-21 05:00] iSazonov commented on #4357
I caught the same and thought that you have an idea  - good point about script. We could review "file by file".

[2018-11-21 05:08] #5717 closed

[2018-11-21 05:08] #8076 closed

[2018-11-21 05:46] SteveL-MSFT commented on #7744
The simple solution would be to strip all VT100 escape codes with a regex before calculating string lengths.  However, it won't work right when a cell spans multiple rows, but we can defer that as an edge case.

[2018-11-21 06:29] SteveL-MSFT commented on #4357
[code]

src/Microsoft.PowerShell.Commands.Diagnostics/CoreCLR/Stubs.cs
src/Microsoft.PowerShell.Commands.Diagnostics/CommonUtils.cs
src/Microsoft.PowerShell.Commands.Diagnostics/ExportCounterCommand.cs
src/Microsoft.PowerShell.Commands.Diagnostics/GetCounterCommand.cs
src/Microsoft.PowerShell.Commands.Diagnostics/ImportCounterCommand.cs
src/Microsoft.PowerShell.Commands.Diagnostics/NewWinEventComm

[2018-11-21 06:31] SteveL-MSFT commented on #4357
One thing we should be careful of is not straight removing the FullClr code, but seeing if the Windows PowerShell code now works because of updates to .NET Core.

[2018-11-21 07:35] iSazonov commented on #8322
It would be separate nuget package.

[2018-11-21 08:04] sba923 commented on #8315
Done, it's at [https://github.com/dotnet/corefx/issues/33644](url)

[2018-11-21 14:38] iSazonov commented on #1979
I think we can close the issue. All works is done. The remaining modules will still be in this repository as discussed.
/cc @SteveL-MSFT

[2018-11-21 15:30] #1979 closed

[2018-11-21 15:35] SteveL-MSFT commented on #8211
@mklement0 I appreciate the research into this, but I don't see a solution here if the native APIs have this behavior.  We can't make the cmdlet synchronous as the delete may never complete if something has an open handle to it and the cmdlet will be deadlocked.

[2018-11-21 16:54] vexx32 commented on #8211
Is it possible to handle the case where deletion of a directory fails due to remaining file(s) and have it retry any failing directory deletions after all file deletions have been processed? If that still fails, it can emit a much more friendly and useful error message "cannot delete folders x, y, and z because files A and B could not be removed" or some such.

[2018-11-21 18:29] SteveL-MSFT commented on #8211
@vexx32 that's a good suggestion since the user explicitly indicated their intent

[2018-11-21 21:53] Christophoclese opened #8330 "Invoke-RestMethod / Invoke-WebRequest do not honor installed CA certificates on Ubuntu 16.04 with Linux Subsystem"
It does not appear that the PowerShell Core on Ubuntu 16.04, installed on the Linux Subsystem for Windows 10, honors installed CA certificates.

# Steps to reproduce
Attempt to connect to internal resource, fails due to invalid certificate chain/validation:
[code]

Make same call with the Ubuntu subsystem's `curl` utility, successfully connects using the subsystem's CA certificates:
[code]

# Expe

[2018-11-21 22:56] nuttingd commented on #2996
I was able to work around the PowerShell bug issue by fixing the root of the problem. I found that this error was raised because I had a few corrupt/unknown users in the Group I was querying. I deleted the old entries in the Local Users and Groups (lusrmgr.msc) and the command completed with success.

![image](https://user-images.githubusercontent.com/1181562/48872300-62eabf00-ed9d-11e8-9c73-41df2

[2018-11-22 00:41] IISResetMe commented on #6652
@rjmholt I believe https://github.com/PowerShell/PowerShell/issues/8302 (classes don't produce valid interface property methods) should be filed under "Other bugs"

[2018-11-22 02:11] rjmholt commented on #6652
@IISResetMe currently classes don't allow overrides. Wouldn't the `virtual` addition be part of the interface inheritance?

[2018-11-22 10:33] iSazonov commented on #8330
@Christophoclese Thanks for your report!
PowerShell Core uses .Net Core HttpClient. I think the issue should be moved to CoreFX repository.

[2018-11-22 12:10] IISResetMe commented on #6652
@rjmholt well, we already mark all generated methods `virtual`, allowing class definitions to inherit existing interfaces:

[code]

but since we never mark the underlying get/set methods of properties virtual (looks like an oversight), you can't actually implement an interface with a property:

[code]

[2018-11-23 11:06] B-Art commented on #5749
I would suggest a function which converts all none-string values to string values before piping it to convertto-json.
You can put a select statement in between for your final json output.

[2018-11-23 23:01] jazzdelightsme commented on #7744
It depends what you are doing. If you are going to leave escape sequences out of the content when displaying it as well, that's fine. But if you want to leave escape sequences in, *and* you want to truncate, it won't work.

Suppose you have a string with Length 31, and you strip escape sequences, and now its Length is 25. You need to fit it into a cell that is 20 chars wide... where do you cut the

[2018-11-24 02:46] mklement0 commented on #4028
For a workaround, see https://github.com/lzybkr/PSReadLine/issues/280#issuecomment-441338880.

[2018-11-24 20:14] IISResetMe commented on #8235
@mklement0 @rjmholt looks like this is fairly straightforward to catch at parse-time: https://github.com/IISResetMe/PowerShell/commit/bfd4be766246bdf33a0ffbb027ba66723fe06b49

![image](https://user-images.githubusercontent.com/7413755/48972584-cbe86600-f02d-11e8-8f73-3aa61ee45f93.png)

[2018-11-24 23:16] SteveL-MSFT commented on #8298
Yes, this is a dupe.

[2018-11-24 23:16] #8298 closed

[2018-11-24 23:17] #6989 closed

[2018-11-24 23:20] #5198 closed

[2018-11-25 21:11] mklement0 commented on #7744
I do like the idea of leaving the escape sequences while being _content_-length-aware, @jazzdelightsme, because it gives us the best of both worlds:

* proper truncation based on the count of *visible* characters
* without sacrificing the intended visual effect of the escape codes, such as rendering colors, or even hyperlinks, as in this case.

The caveats are:

* There are many more types of esca

[2018-11-25 22:41] mklement0 commented on #8211
Thanks, @AikenBM: I think your workarounds _decrease_ the likelihood of running into timing issues, by putting more time between deletion of a file and its container, but they may still arise.

Thanks, @vexx32: Retrying would be an improvement, but is still not guaranteed to work in all cases.
The linked video contains a robust solution that doesn't require retrying, summarized in this image:

![i

[2018-11-26 01:19] BrucePay commented on #8270
What scenario did you have in mind for this? The one that has been discussed in the past (#7565) involved parallel computations. However, in that scenario, performance is a concern and I'm not sure a solution based  on `Select-Object` is ideal.

[2018-11-26 01:35] BrucePay commented on #8281
We had planned, at one point, to have an aliasing mechanism as part of the `using` statement:
[code]
so you could create you're own type aliases. In fact it's partially implemented (see parser.cs:4681).

[2018-11-26 04:34] rkeithhill commented on #3647
It sure would be nice if some form of simplified error output makes it into 6.2.  :-)

[2018-11-26 04:56] iSazonov commented on #4357
@SteveL-MSFT Seems we can close the Issue: all `#if FullCLR` code was removed (I found FullCLR only in comments) and we have #4357 to track updates of .NET Core.

[2018-11-26 04:59] iSazonov commented on #3565
I created 3 PRs to address `#if CORECLR`.
There are still 75 places left but they are too complicated for me. Leave them to MSFT team.

/cc @SteveL-MSFT

[2018-11-26 07:49] iSazonov commented on #8233
In which repository should this be done?
We need at least a test environment.

[2018-11-26 11:09] AylanBoscarino opened #8336 "[ISE] booth PHP and Node.js's interactive shells dont work"
# Steps to reproduce

[code]

[code]

# Expected behavior

The interactive shell to be available to insert commands of the respective language.

# Actual behavior

when executing node's it stops right there and you need to stop the operation, on  php -a it just shows the message "Interactive shell" and nothing happens

# Environment data

Using Windows 10 x64, tried booth running as administrator

[2018-11-26 11:51] BrainCrumbz commented on #5214
Should this be closed by now?

[2018-11-26 12:00] StefanTitze opened #8338 "Problems with uppercase cyrillic letters."
I am not able to enter most of the cyrillic letters in uppercase into the console window. All Lowercase letters are working:

Serbian:

ЉЊЕРЗУИОППЂ
AДГЈКЛЋЖ
ЅЏБНМ

Russian:

ЙУКЕНГЗ
ЫВАПРОЛДЖЭ
МИЬБЮ

This problem does not occur with the PowerShell 5.1 console window.

Regards

Stefan Titze

-----
Windows 10 x64 1803 17134.407
PowerShell 6.1.1

[2018-11-26 12:55] iSazonov commented on #8338
Can you check after unload PSReadline?

[2018-11-26 15:09] StefanTitze commented on #8338
The problem is solved when I’m unloading PSReadline.

[cid:baramundi_logo_7d238272-c360-403f-a4b5-16fee20dd77a.png]<http://www.baramundi.de/>

Stefan Titze
Scrum Master

Fon: +49 821 5 67 08 - 575
Fax: +49 821 5 67 08 - 19
E-Mail: stefan.titze@baramundi.de<mailto:stefan.titze@baramundi.de>

baramundi software AG
Beim Glaspalast 1
86153 Augsburg
www.baramundi.de<http://www.baramundi.de>

Besuchen S

[2018-11-26 15:18] KirkMunro commented on #8281
@SteveL-MSFT  and @BrucePay, what are your thoughts on this approach, which would make the need for type accelerators and aliases much less important when it comes to PowerShell itself, without sacrificing runtime performance:

Within the PowerShell parser, automatically recognize:

|This type|as this type|
|--|--|
|`[S.M.A.whatever]`|`[System.Management.Automation.whatever]`|
|`[S.M.A.L.whatever]

[2018-11-26 15:34] vexx32 commented on #8281
I think aliasing these namespaces in this particular manner is... not particularly effective, and probably would tend to make scripts less clear in reading, at least to folks unaware of this sort of shortcut.

Considering we already have some shortcuts where we can, for example, often omit the `System` prefix for many namespaces (if not all?) in some cases that I see here and there, why not simple

[2018-11-26 15:43] KirkMunro commented on #8281
In a new about_types help file, which really should be written anyway to explain everything that is already there (e.g. being able to omit the `System` prefix, how the `using` statement works with types, etc.), plus this as well.

[2018-11-26 16:32] drocs commented on #8323
Affects multiple powershell commands.  (Get-PackageProvider)

[2018-11-26 17:22] SteveL-MSFT commented on #8281
Accidentally marked for review, but I don't think this is ready for review yet and needs more feedback to converge on a proposal.

It would be interesting to do a search to see how big a problem this actually is.  Are people using `using namespace s.m.a` often?  Are they using the fully qualified type names often?  I realize there's a set of individuals using the SMA types regularly, but it's not

[2018-11-26 17:23] SteveL-MSFT commented on #8233
@iSazonov I created https://github.com/PowerShell/WSMan-Client-Library if you want to experiment.  cc @PaulHigin

[2018-11-26 17:37] SteveL-MSFT commented on #3647
@rkeithhill I agree, but would need some proposals that we can discuss.  I played with @mklement0's prototype and made some changes to leverage VT100 escape sequences: https://gist.github.com/SteveL-MSFT/edf969ee676206a47d520a9032dcf6e3

[2018-11-26 18:12] PaulHigin commented on #8233
If we want to create a new managed version of WSMan client, then I feel we should start with an RFC.

[2018-11-26 18:14] iSazonov commented on #8233
... and continue with tests :-)

Seems it will be large and complex RFC.

[2018-11-26 18:37] vexx32 commented on #8105
Interesting point, @BrucePay, about the `.Count` property. Hashtables have a similar problem, where if you define a `Keys` or `Count` or similar _key_ in a hashtable, the properties of the container become inaccessible.

I think that if we introduce a new operator to access the content specifically, hashtables should be reworked as well to avoid the frankly irritating workarounds (e.g., code like

[2018-11-26 18:55] BrucePay commented on #3831
`$PSCulture` and `$PSUICulture` are implemented as specific subclasses of  `PSVariable` . For example `$PSCulture` is defined in CultureVariable.cs and looks like:
[code]

As you can see, it's not a cached value and should reflect the current culture.

[2018-11-26 19:15] anmenaga commented on #8338
I can repro on `PSVersion = 6.1.1`.
Some uppercase letters not working when entered using `Shift` key;
Everything seems to work with `Caps Lock` turned on.

[2018-11-26 19:16] mklement0 commented on #8270
Partitioning for the sake of _performance improvements_ via parallel processing of the partitions is definitely one important use of partitioning, but in this case I was thinking of partitioning for _business-logic_ reasons, such as, say, partitioning an array of players into teams of fixed sizes.

Here's are related (non-performance-related) SO questions:
* https://stackoverflow.com/q/53297509
*

[2018-11-26 20:04] mklement0 commented on #5749
@B-Art:

This issue is about _ignoring_ values that can't be converted to JSON.

By contrast, you're looking to for an opt-in method for _including_ such values by converting dictionary keys to strings, so I suggest you create a _new_ issue with your proposal.

As an aside, re your example: It isn't the `select` call that makes the command succeed, it is using `.GetEnumerator()`, because the latte

[2018-11-26 20:48] lzybkr commented on #8338
Closing as this was reported [here](https://github.com/lzybkr/PSReadLine/issues/798).

[2018-11-26 20:48] #8338 closed

[2018-11-26 21:00] lzybkr commented on #8256
I'm not sure the engine should automatically add attributes, at least not in a way that is visible via `ScriptBlock.Attributes`.

How does C# work, e.g. with local functions?

I realize I've broken this ideal already with format script blocks, but I didn't see a better option. Maybe I should have just marked those script blocks as "format" script blocks and the debugger would also skip those.

For

[2018-11-26 21:27] sdwheeler opened #8339 "PSDiagnostics does not properly export all cmdlets in PSv6"
# Steps to reproduce

[code]

# Expected behavior

The module should export all cmdlets that are compatible with the version of the OS that is running.

# Actual behavior

The module does not export the cmdlets that require `logman.exe`.

[PSDiagnostics.psm1](https://github.com/PowerShell/PowerShell/blob/master/src/Modules/Windows/PSDiagnostics/PSDiagnostics.psm1) contains the following code:

[co

[2018-11-26 22:04] mklement0 commented on #7197
Just realized that this is a duplicate of the much older #2993.

@iSazonov, can you please marks this as a duplicate?

[2018-11-26 22:04] #7197 closed

[2018-11-26 22:08] TravisEz13 commented on #7458
I agree with the change suggested here, https://github.com/PowerShell/PowerShell/issues/7458#issuecomment-440108767, with a caveat.  I believe this more closely matches the Windows PowerShell and IE behavior.

The Execution Policy feature **helps** prevent **users** (as opposed to automation) from executing untrusted code, but it uses imperfect means.

1. Dots in the name or the lack there of is n

[2018-11-26 22:33] BrucePay commented on #8105
@vexx32 I didn't understand your last question. Did you mean the array indexing syntax `$foo[13]` ?

[2018-11-26 22:37] BrucePay commented on #3831
I suspect there's a bug where the special binding for `$PSCulture` is being replaced by a regular `PSVariable`. I'm still investigating to what's going on.

[2018-11-26 23:38] #5990 closed

[2018-11-26 23:42] Jaykul commented on #7445
Maybe it should just be `$Collection%Property`

[2018-11-26 23:44] TravisEz13 commented on #8330
Please include the version of PowerShell Core that you used to repro the problem?  There were significant changes between `6.0` and `6.1`

[2018-11-26 23:45] TravisEz13 commented on #8330
But, @iSazonov 	 is probably correct.

[2018-11-26 23:49] TravisEz13 commented on #8323
cc @adityapatwardhan 	@rjmholt

[2018-11-27 00:05] Jaykul commented on #8105
@BrucePay I can see your point about hiding the member, the problem is that it's actually really hard to figure out where the thing came from. It's an **ugly** surprise.

An explicit unrolling operator would be a workaround, but it has the same problem as .foreach: it's not discoverable at all -- and I have no way of knowing that I need it!

When I type:  `$doc` I see a "root" property, so I type

[2018-11-27 01:32] rjmholt commented on #8323
@drocs Can you please share the following details:
- The version of PowerShell you are using (i.e. `$PSVersionTable`).
- A reproduction of the problem you are seeing.
- What your expected vs actual behaviours are.

`$PSHome` [is defined as](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_profiles?view=powershell-6) the location of the `System.Management.Aut

[2018-11-27 01:47] DHowett-MSFT commented on #8336
The ISE cannot host console applications, as it is not a Console. I believe it is also deprecated and will not be part of PowerShell Core.

[2018-11-27 01:48] SteveL-MSFT commented on #8323
In the hosted PowerShell case, it seems that the app should own dependency management and set the PSModulePath as the app could have undesired results if we have the same ones as with the PSCore6 package.

[2018-11-27 02:09] rkeithhill commented on #8336
PowerShelll ISE is not part of PowerShell Core as ISE relies upon WPF that is not cross-platform.  Issues for ISE should be filed on UserVoice - https://windowsserver.uservoice.com/forums/301869-powershell?category_id=148050

[2018-11-27 02:47] mklement0 commented on #7445
`%` is worth considering, @Jaykul, for symmetry with the `%` alias.

However:

* Just `%` could break existing code:

[code]

* `.%` may be confusing, due to reversing the logic: conceptually, you enumerate first (`%`), and then you member-access (`.`)

Therefore, it is the form `%.` that is a potential alternative to `@.`

[2018-11-27 03:46] iSazonov commented on #7197
@mklement0 I think we would get more progress if we added Pester test prototypes to issue text description :-)

[2018-11-27 03:49] mklement0 commented on #7197
Thanks for labeling, @iSazonov, but I don't understand your comment.

[2018-11-27 04:33] iSazonov commented on #8281
The original request is for script/module.
I don't see a big problem to add the "using namespace" by necessity - this is rare operation.
So Steve raised the right question - how often is it needed?
On the other hand we could consider interactive session too: long names can be annoying.

[2018-11-27 04:44] iSazonov commented on #7197
Sorry. We need tests before merge a PR. The Pester tests is exact contracts. If we create the tests in an issue discussion time we will speed up the fix creation. If there is an approved contract, even a novice developer can prepare fix.

[2018-11-27 04:53] iSazonov commented on #7458
I wonder how we could port this?

[2018-11-27 07:13] damianog commented on #8289
Same issue to me from 6.2-preview1 to 6.2-preview2 msi installation

[2018-11-27 07:47] abhi18av opened #8342 "Error while using "ctrl-l""
Hi Powershell team,

I recently updated my `powershell` on mac to `v6.1.x` and I've started to come across the following error on pressing `ctrl-l`.

[code]

Here's my `$PSVersionTable` output

[code]

[2018-11-27 08:44] dilijev commented on #8122
You can see how, having missed that discussion and the note in that release, and already knowing the name of the package, and how to install packages on Linux, that I would completely miss both of those places. I think visibility on this can be added in places where it would be obvious for the people who think they know what they are doing, or at least the README?

[2018-11-27 10:38] iSazonov commented on #8233
How this correlate with https://www.dmtf.org/standards/ws-man ?

[2018-11-27 11:18] IISResetMe commented on #8235
@mklement0 moving the mutual check back to `TypeDefiner` (`DefineProperty()` and `DefineMethod()` respectively) makes it way faster and avoids attempts at generating invalid/unusable types should someone pass in an AST generated by a different parser (or by hand)

https://github.com/IISResetMe/PowerShell/commit/5404f94f74af52afbf9630dbfb4a3132ff59c610#diff-640a7359770582f83b945ef2a276d2de

[2018-11-27 12:30] lukexjeremy commented on #8202
Has this been addressed recently?

Just tried `Invoke-WebRequest -Uri google.com -AllowUnencryptedAuthentication -Authentication Basic -Credential (Get-Credential)` and Wireshark displayed the following in the first packet sent.

![image](https://user-images.githubusercontent.com/36614708/49081914-ffc4c500-f293-11e8-88a0-ea32a8ea04f5.png)

I followed this through in a debugger as well and it appea

[2018-11-27 12:37] SeeminglyScience commented on #8281
The more I think about this, it's really not a big deal to throw `using namespace` at the top of a file.  The only reason not to do so would be for supporting older versions of PowerShell, which this won't help with anyway.

Yeah, a better way to set using statements interactively would be nice.  You *can* do it currently but tab completion doesn't check the `TypeResolutionState`, so it's generall

[2018-11-27 14:30] drocs commented on #8323
@rjmholt
Powershell Version: 6.1.1 (downloaded from nuget)
PSModulePath (partial, the rest of the path looks the same as I get from powershell)  : c:\users\<username>\.nuget\packages\system.management.automation\6.1.1\runtimes\win-x64\lib\netstandard2.0\Modules
I have uploaded the sample project (slightly modified) to highlight the issue.  https://github.com/drocs/PowershellIssue
Note that line 27

[2018-11-27 14:33] kvprasoon commented on #8342
As mentioned, please report it in [PSReadLine](https://github.com/lzybkr/PSReadLine/issues/new) repo.

[2018-11-27 15:25] sslyle opened #8343 "-tail only line based?!?"
Why is -tail only line based?
What if I want the last 100 characters from a 2G file that isn't line delimited?  As is that case with, say json, xml, & other data files?
Also know that in this case -Tail hangs forever if the file is not line delimited.

Honestly!  Sometimes I truly wonder if Microsoft even wants people to use there software.

[2018-11-27 15:59] kvprasoon commented on #8343
Its designed to tail lines, From the docs

For json, we have `ConvertTo-Json` and for XML we have `Select-Xml` or you can read and cast to `[xml]`

[2018-11-27 16:31] sslyle commented on #8343
Can you provide an example?
Last 30 characters from a 2 gig file that is one long string, no carrage
returns or linefeeds

On Tue, Nov 27, 2018, 11:01 PRASOON KARUNAN V <notifications@github.com
wrote:

[2018-11-27 16:49] mklement0 commented on #8343
You can combine `-Tail` with `-AsByteStream`, in which case you get a stream of the requested number  of bytes as `[byte]` instances (which become an `[object[]]` array of `[byte]` instances when captured in a variable).

Note, however, that that is not the same as simply passing the raw bytes through.
PowerShell doesn't support outputting raw binary data via the pipeline - see #1908

[2018-11-27 17:19] sslyle commented on #8343
You understand people want easy right? Easy is easier for you to provode
and support than accurate is.

There is no reason Get-Content can have a -l N option to importantly show
just the last N characters.  Well. No reason except flawed design choices

On Tue, Nov 27, 2018, 11:50 Michael Klement <notifications@github.com wrote:

[2018-11-27 18:41] SteveL-MSFT commented on #1905
Now that PSCore6 is published as a snap and Ubuntu 18.10 install includes option to install snaps as part of install (and PSCore6 does show up there), I consider this closed.

[2018-11-27 18:41] #1905 closed

[2018-11-27 18:46] rjmholt commented on #8323
So given the fact that hosted scenarios are eventually going to be packaged up and redistributed, there's no way for us to know where the SMA dll lies in relation to the core modules. So that you can have a more modular application, the modules aren't bundled as part of the the nuget package. Modules are up to you to bundle and configure.

So in this case it's up to you to set the module path to p

[2018-11-27 18:52] TravisEz13 commented on #7458
I'm not sure what you mean by port.  The code just needs to be updated here: https://github.com/PowerShell/PowerShell/blob/b0daa1e724cbba5e00f118001f1105bb44d91952/src/System.Management.Automation/utils/ClrFacade.cs#L181-L220

[2018-11-27 19:08] drocs commented on #8323
That seems like a fragile solution.  Shouldn't the Utils class figure this out a better way than typeof(PSObject).Assembly.Location? These locations are set in both the registry and the machine environment variable when the package is installed.  This would seem to be less fragile to get the location from one of those locations rather than trying to set it to the install directory of ps.exe.

[2018-11-27 19:19] rjmholt commented on #8323
There's no registry in Linux or macOS -- powershell.config.json was designed to be a less fragile, cross-platform way to designate what were previously registry-bound PowerShell settings.

Which environment variable do you mean here? `$env:PSModulePath` is heavily manipulated by PowerShell and should only be depended on by child processes of PowerShell, rather than as a way to set the module path

[2018-11-27 19:33] drocs commented on #8323
According to a quick internet search, information typically kept in the Windows registry should be kept in the /etc or /var directories in Linux.

[2018-11-27 19:36] rjmholt commented on #8323
The point is that an application hosting PowerShell might not have the same preconceptions about the module path, so we don't promise to know anything about that. If we did, we would break other hosting scenarios.

Have you tried calling this method:
https://github.com/PowerShell/PowerShell/blob/9510fe56f52a2b55835aaa671d0de1c4c6c46ebc/src/System.Management.Automation/engine/Modules/ModuleIntrinsi

[2018-11-27 19:57] drocs commented on #8323
That method is internal.  I believe it is called by the GetModulePath function.  This variable is set from https://github.com/PowerShell/PowerShell/blob/9510fe56f52a2b55835aaa671d0de1c4c6c46ebc/src/System.Management.Automation/engine/Utils.cs DefaultPowerShellAppBase (line 224) which calls GetApplicationBase, which as I stated earlier is typeof(PSObject).Assembly.Location.  Unfortunately this loca

[2018-11-27 20:07] mklement0 commented on #8343
@sslyle:

You could channel all the extra energy you're expending on insults and antagonizing into writing up a proper feature request.

<sup>Disclaimer: I'm just a fellow PowerShell user. The opinion expressed is solely my own.</sup>

[2018-11-27 20:20] rjmholt commented on #8323
I've looked into your particular problem now. I think the actual problem at play is that `Get-IISSite` hasn't been ported to be compatible with PowerShell Core -- we're still working with the team to get it working with .NET Core.

I was thinking about the problem where the Windows module path doesn't seem to work with an embedded app and just decided to try it out. Here's `Program.cs`:

[code]

R

[2018-11-27 20:30] rjmholt commented on #8323
Just discussed the PowerShellGet problem a bit more with @SteveL-MSFT. Essentially any hosted application will have to manage its own module environment. `Install-Module` will be useless since it's coupled to the concept of the normal PowerShell installation, but `Save-Module` would be essential.

Currently, we don't bundle PowerShellGet as part of PowerShell in the SDK at all, and PowerShellGet i

[2018-11-27 20:32] drocs commented on #8323
Yes, I realized that about the IISModules.  The more concerning problem is the Module path.  If you debug ModuleIntrinsics.GetModulePath and set a breakpoint on line 229 of the Utils.cs class, that is where the real problem is.  It assumes that the SMA dll is located in the same directory as the Modules directory.  This isn’t a correct assumption given that the library can be downloaded from nuget

[2018-11-27 20:41] rjmholt opened #8345 "pwsh.AddCommand("Invoke-WindowsCmdlet").Invoke() doesn't work even when incompatible module is imported with -SkipEditionCheck"
# Steps to reproduce

Here's a small project that demonstrates this behaviour in Windows:
[code]

# Expected behavior

Prints
[code]

# Actual behavior

No output.

Compare this with the `AddScript` version:
[code]

# Environment data

[code]

[code]

[2018-11-27 20:42] SteveL-MSFT commented on #8233
@iSazonov PSRP over WSMan relies on the [PowerShell Remoting Protocol](https://msdn.microsoft.com/en-us/library/dd357801.aspx?f=255&MSPPError=-2147217396) which is built on top of WS-Man (or SSH now in PSCore6) which is the same as the one you linked to.  WS-Man is a SOAP based protocol that goes over HTTP(S).

[2018-11-27 20:43] rjmholt commented on #8345
Initially discovered while investigating https://github.com/PowerShell/PowerShell/issues/8323.

[2018-11-27 20:56] drocs commented on #8323
BTW:  Line 957-987 of ModuleIntrinsics.cs make the problem even more nefarious:  The comments and code associated all assume the path returned by Utils.DefaultPowerShellAppBase will be similar to syswow64 or system32, and assume that the location of the SMA dll is where the Powershell Modules have been installed.  No consideration for the nuget package installer is taken into account.

From: Rober

[2018-11-27 21:41] TiloGit commented on #8202
Hi, don't have PS 6 around, so can't test with "-AllowUnencryptedAuthentication -Authentication Basic"

[2018-11-27 22:30] drocs commented on #8323
This is the result of the function call ModuleIntrinsics.GetModulePath(null, null, null); :
C:\Users\drocs\Documents\PowerShell\Modules;C:\Program Files\PowerShell\Modules;c:\users\drocs\.nuget\packages\system.management.automation\6.1.1\runtimes\win-x64\lib\netstandard2.0\Modules

Notice the last path is incorrect.

[2018-11-27 22:33] rjmholt commented on #8323
@drocs It's not that the assumption is that the Modules directory is in `$PSHome`, that's the contract -- it's by design. If you want to use modules in your hosted scenario, you need to do one of:

- Put them in a folder called `Modules` in the `$PSHome` directory and ship it with the application.
- Use a `powershell.config.json` to set the PSModulePath to point to the desired location before star

[2018-11-27 22:41] drocs commented on #8323
This severely limits the usefulness of the Powershell SDK.  Basically what you are saying is that I cannot run any scripts that I've build using the Windows Powershell ISE.

[2018-11-27 22:50] TiloGit commented on #8202
tested on PS 611 and seems fine with new options:  "-AllowUnencryptedAuthentication -Authentication Basic"
PS C:\tools> $PSVersionTable

[2018-11-27 23:12] BrucePay commented on #8270
@mklement0 Thanks!

[2018-11-28 01:50] lzybkr commented on #8342
Closing as a duplicate of https://github.com/lzybkr/PSReadLine/issues/654.

[2018-11-28 01:50] #8342 closed

[2018-11-28 01:52] abhi18av commented on #8342
I understand and thanks for the quick response.

On Wed, 28 Nov 2018, 07:21 Jason Shirk <notifications@github.com wrote:

[2018-11-28 01:56] lzybkr commented on #8281
Pro tip - any `using namespace` statements in your profile work at the interactive prompt, at least until you interactively enter a using statement, at which point that using statement(s) will override what was previously specified (via your profile or interactively).

In other words, `using namespace` is sort of sticky in global scope.

[2018-11-28 04:08] iSazonov commented on #7458
@TravisEz13 The code doesn't currently work on Unix. Is it important to have it working on Unix too?

[2018-11-28 09:48] HumanEquivalentUnit opened #8347 "Get-Content ignores the -Encoding parameter sometimes"
Convert a plain English string to UTF16 ("Unicode") 2-bytes-per-character and convert it back through UTF8, and it ends up double the length, with spaces between every character. It's a wrong decoding, but that is something you can do.

Do the same conversion path using `Set-Content -Encoding Unicode` and then `Get-Content -Encoding UTF8` , and I'd expect the exact same outcome. Instead, it decode

[2018-11-28 13:05] SeeminglyScience commented on #8281
@lzybkr Yeah that works, though it still completes the full type name.  Going back and deleting the namespace after it completes isn't really worth it imo.

A while ago I threw together a [really hacky TabExpansion2](https://gist.github.com/SeeminglyScience/363c48468dff9167d9be184a2622f6c8) that looks at the  current `TypeResolutionState`. It works alright, but definitely needs to be disabled when

[2018-11-28 13:13] markekraus commented on #8202
@lukexjeremy provided the answer. We added explicit authentication in v 6.0.0. Closing issue.

[2018-11-28 13:13] #8202 closed

[2018-11-28 13:32] sslyle commented on #8343
I can write code.  Write my own command/script to do this.  In fact that is
what I restored to.
The point is PowerShell is a technology.
The point of technology is it is supposed to make our lives easier.

On Wed, Nov 28, 2018 at 3:26 AM HumanEquivalentUnit <
notifications@github.com> wrote:

--

"In preparing for battle I have always found that plans are useless, but
planning is indispensable."
-

[2018-11-28 13:39] vexx32 commented on #8343
Fantastic. As has been mentioned, this is not a simple solution due to file encoding potentially making it tricky to determine what "X characters from the end" actually _is_.

I'm sure you or someone else could probably implement this as a feature if its behaviour could be concretely defined. 🙂

Without a concrete definition of exactly what you're after, we'll just be talking in circles and not re

[2018-11-28 13:47] sslyle commented on #8343
Are you saying a '-L <N-bytes>' option (since '-Last' is already taken)
added to Get-Content that is also incorporated into the current ' -Encoded'
option is just too difficult?
I'm confused.
...
But doesn't matter.
Good luck and keep doing the things you do well.
Delete the original post.
Ban my account.

On Wed, Nov 28, 2018, 08:40 vexx32 <notifications@github.com wrote:

[2018-11-28 13:57] vexx32 commented on #8343
Nope. I said your request needed to be clarified. As Steve mentioned, please see the Code of Conduct he linked; if you want us to assist, we need to be clear on what you're actually asking for.

PowerShell's style is typically verbose and I would imagine a more sensible parameter name would likely be `-TailBytes` or some such. `-Last` is not _taken_ on `Get-Content` but implies probably too simila

[2018-11-28 14:13] sslyle commented on #8343
But -Tail ONLY works with files that have <cr>/<lf>
As I've already said

On Wed, Nov 28, 2018, 08:57 vexx32 <notifications@github.com wrote:

[2018-11-28 14:14] sslyle commented on #8343
.

[2018-11-28 14:14] #8343 closed

[2018-11-28 15:48] iSazonov commented on #8233
So we should port [this client](https://github.com/PowerShell/psl-omi-provider/blob/master/src/Client.c) and get direct dependency on native OMI library?

[2018-11-28 16:59] BladeFireLight opened #8349 "New-FileCatalog -CatalogVersion 2.0 creates a 1.0 cat file"
# Steps to reproduce

[code]
open c:\test.cat in file explorer look at general tab

# Expected behavior

[code]
open c:\test.cat in file explorer and it shows v2 with a stronger algorithm

# Actual behavior

[code]
open c:\test.cat in file explorer and it shows v1 with a sha1 algorithm

# Environment data

[code]

[2018-11-28 17:06] BladeFireLight commented on #8349
i'm not expert but it would seem this code does not do what it says and may be the root cause.
[code]

[2018-11-28 18:01] SteveL-MSFT commented on #8233
@iSazonov the goal here is to remove dependency on OMI library altogether and just have C# code

[2018-11-28 18:36] SteveL-MSFT commented on #7458
@iSazonov the concept doesn't exist on Unix, so it only needs to work on Windows

[2018-11-28 20:35] f0nt4 opened #8351 "DSC - Automatic conflict remediation for partial configurations"
The LCM is already able to detect conflicts, with a fairly small change you could make it automatically resolve it.  In my opinion we should be able to set a priority of each partial configuration in the meta config of the LCM.
With a priority set and when a conflict is detected, the LCM could look at the priority and choose a winner and therefor automatically solve the conflict.

You could than c

[2018-11-28 21:05] Arnavion commented on #6184
This is done now.

[2018-11-28 21:05] #6184 closed

[2018-11-28 21:25] FranklinYu opened #8352 "Start process with environment"
# Summary of the new feature/enhancement

As a user I want to `Start-Process` with new environment variables.

# Proposed technical implementation details

Currently we do

[code]

But this is cumbersome. It would be great if we can specify some environment as argument to `Start-Process`, like

[code]

This feature request is related to #4671. See also [this question on Stack Overflow](https://sta

[2018-11-28 23:09] jonstelly opened #8354 "chsh to pwsh for root on ubuntu 18.04.1 results in "Key in dictionary: 'SHELL'" error for all commands"
I wanted to set my default shell for users and root to pwsh.  This may just be a rookie ubuntu mistake, is there a different way I should be changing the shell?  I imagine there's some reasonable argument about not changing the shell for root, but I'm more comfortable in powershell than bash so I figured I'd try.

# Steps to reproduce

1. Install Ubuntu Server 18.04.1 (in a hyper-v VM for me, but

[2018-11-28 23:52] SteveL-MSFT commented on #7557
@PowerShell/powershell-committee reviewed this, regarding the underscore, we do not accept adding that as it can cause issues with existing usage as @lzybkr pointed out.  Also, we do not want auto coercion from long to bigint as not only is this a breaking change, but may cause surprising effects to users.

[2018-11-29 10:00] iSazonov commented on #8351
@TravisEz13 Should the Issue be moved to DSC repo?

[2018-11-29 10:07] iSazonov commented on #8352
@FranklinYu Thanks for your contribution!

It is dup #3316. Feel free to discuss there.

[2018-11-29 10:07] #8352 closed

[2018-11-29 10:39] iSazonov commented on #8349
I checked we call native API with right value.

@SteveL-MSFT Can you ping anybody who know the API?

[2018-11-29 10:41] iSazonov commented on #8347
/cc @JamesWTruher Could you please look the Issue?

[2018-11-29 10:43] iSazonov commented on #8336
@AylanBoscarino Please move the issue to UserVoice.

[2018-11-29 10:48] iSazonov commented on #8354
@mklement0 Could you please share your experience about login shell?

[2018-11-29 11:00] iSazonov commented on #8339
@PaulHigin @SteveL-MSFT Can you confirm the suggested solution?

[2018-11-29 12:06] qt3m45su0najc7 opened #8358 "import-csv, with delimiters that are not visible like tab"
Provide an best practice example of how to specify the delimiter when it is a non-visible character, like the tab character.

[2018-11-29 13:21] vexx32 commented on #8358
Probably best if something like this is explicitly mentioned in the CSV cmdlet documentation, aye, but it's similar to any escape sequence in PS:

[code]

[2018-11-29 14:02] #8250 closed

[2018-11-29 14:33] aixiaozi commented on #4952
@SteveL-MSFT @dantraMSFT , for the issue: Unable copy big file from Windows to Linux

`SSH` remote did resolve this problem. But if customer still need `OMI`+`PSR`  to do this for compatibility reason, how can we resolve it? Any suggestion or tips will be greatly appreciated!

[2018-11-29 14:53] FranklinYu commented on #3316
It's easier to implement this as an argument to `Start-Process` like

[code]

The source code is in

https://github.com/PowerShell/PowerShell/blob/0cc1f06be4c2f5f46852fec65549eb9260555298/src/Microsoft.PowerShell.Commands.Management/commands/management/Process.cs#L1574-L1579

[2018-11-29 15:15] iSazonov commented on #8233
I see OMI project is actively updated. Shouldn't this issue be addressed there? I mean OMI client library ported at first in OMI project? What is a reasonable compromise?

[2018-11-29 15:33] BrucePay commented on #8358
@vexx32 Yes - that sounds right. @qt3m45su0najc7 Can you open a bug in the docs repo saying that the CSV cmdlet documentation should mention and reference the escape character documentation? Thanks.

(Note: you could also do it with something like `([char] 0xA)` but that's a bit more complex.)

[2018-11-29 15:54] vexx32 commented on #8358
🤔 Is it a) possible and/or b) worth it... to add some static members to `[char]` for these sorts of purposes?

``` `t ``` is fine for those of us who know what it means, but it'll have anyone unfamiliar hunting for documentation, and I'm not even sure where to point people on that one.

`[char]::Tab` or `[char]::LineFeed` would be nice to have!

(Yes, we have `[Environment]::NewLine` but that's a

[2018-11-29 16:38] qt3m45su0najc7 commented on #8358
Thank you all for responding.  Just a footnote,.  I mentioned tab char, but tab may be part of the the input that you want.  Consider other nonprintables, like null (hex 000) or bell (hex 007).
http://www.asciitable.com/

[2018-11-29 16:57] PaulHigin commented on #8233
PowerShell remoting uses OMI only as a bridge for non-Windows platforms.  Its support of WinRM client is incomplete and problematic.  My goal is to completely remove OMI as a dependency.  I agree with @SteveL-MSFT that the best way to do this is to investigate implementing WinRM client in cross-platform managed code, resulting in an RFC that outlines the work required.

[2018-11-29 17:04] vexx32 commented on #8358
as mentioned, you could use `([char] 0x0)` or `([char 0x7)` for instances like that to specify the delimiter.

I've yet to see someone using null-delimited CSV files though! 😄

[2018-11-29 17:13] mklement0 commented on #1759
Yes, it would be nice to get that fixed soon.

In the meantime, here is a **workaround**:

Place the following statement at the start [of the `process` block] of your advanced function:

[code]

This **takes advantage of _another_ bug, #3483**:
If you create a preference variable in a non-global scope, it isn't type-constrained, so the local `$ErrorActionPreference` instance truly contains the _st

[2018-11-29 17:16] qt3m45su0najc7 opened #8359 "slimmer output for start-transcript"
I'd like to see two options for start-transcript to reduce clutter and improve readability

-noheadermast (reduces or eliminates the first 15 or so lines that always appear)
-setprompt (to replace the default prompt that is captured) because you may not want to see
\\server\directory\directory\directory\datetime long format here >

[2018-11-29 17:35] iSazonov commented on #8233
It seems I started to understand :-)

1. We really will not have a conflict with the OMI project?
2. Having two client (Windows (WMF) and the new one on Unix) is seems a problem too. CoreFX reimplemented HttpClient to exclude curl and get the _same behavior_ on all platforms.
I assume that we are doomed to the same thing - to have single managed WinRM client library for all platforms including Win

[2018-11-29 20:12] jwikman commented on #3143
I just stumbled upon this error myself.
I narrowed it down to that I get a casting error if I have a variable called $result in the remote session that I'm trying to copy from.

This piece of code was run in the remote session before I called copy-item
[code]
If I rename the variable to anything else, it works.

[2018-11-29 21:20] SteveL-MSFT commented on #8233
@iSazonov I've had discussions with the OMI team internally and there is no conflict or overlap.  We should use the same client code for both Windows and non-Windows although that would not happen initially as some capabilities we get from WinRM are not a priority for non-Windows.

[2018-11-29 21:35] Omio commented on #7983
Maybe have Write-Progress become a sub-task of the host task performing an operation, and have Write-Progress use local-scope variables from the host task to output window-only messages, that don't output to event logging, bar for the standard messages that the host task would output (if any)?

[2018-11-29 23:07] artem-nefedov opened #8360 "Can't access elements of hash table created by ConvertFrom-Json -AsHashtable by key"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]
# Additional info
Same actions work if hash table is created via `$var = @{ 'name1' = 'val1'; 'name2' = 'val2' }` syntax. Both are `System.Collections.Hashtable`, which is why I don't understand the difference in behavior.

[2018-11-29 23:30] hubuk opened #8361 "Fire ArgumentCompleter for existing script files in case of no completion result found."
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-11-29 23:30] hubuk commented on #8361
PR pending

[2018-11-30 00:01] TravisEz13 commented on #8351
LCM is Windows PowerShell and should be filed per the issue template guidelines for Windows PowerShell.

[2018-11-30 00:02] BrucePay commented on #8360
@artem-nefedov I suspect that this is another case where the object is actually wrapped in a `PSObject` . `PSObject` is transparent at the PowerShell layer but the C# layer needs to check to see if the object is a `PSObject` and if so, get the base object before proceeding. I fixed a similar bug in `Group-Object` a while back

[2018-11-30 01:42] daxian-dbw opened #8364 "Replace the CRC32 hash function with the simple has function existing in `CompiledScriptBlockData`"
This is a follow-up work item for the PR #8341.
As discussed in https://github.com/PowerShell/PowerShell/pull/8341#discussion_r236796643, we agree to replace the CRC32 hash function, which is used for generating the module analysis cache file name, with this [simple hash function](https://github.com/PowerShell/PowerShell/blob/b0daa1e724cbba5e00f118001f1105bb44d91952/src/System.Management.Automatio

[2018-11-30 01:47] daxian-dbw commented on #8364
@iSazonov and I discussed how to organize the cmdlets in `Utility.psm1` in https://github.com/PowerShell/PowerShell/pull/8341#discussion_r237602128.
Maybe I can re-organize the cmdlets in that file along with this fix.

[2018-11-30 01:53] daxian-dbw opened #8365 "Revisit the algorithm used in 'ConvertFrom-SddlString'"
The function `ConvertFrom-SddlString` was converted to C# in PR #8341 to improve the startup speed.
The C# code is just a translation of what the script was doing, but there are concerns about the fundamental algorithm used in the original script function (see https://github.com/PowerShell/PowerShell/pull/8341#discussion_r236654820). We need to revisit this cmdlet to make sure it does the right th

[2018-11-30 02:02] SteveL-MSFT commented on #8339
What @sdwheeler says is correct, we should update the logic to detect if running on Nano/IoT otherwise if full Windows, logman.exe is available and we should make those cmdlets available.

[2018-11-30 02:28] SteveL-MSFT opened #8367 "Add tests for PSDiagnostics cmdlets"
Currently there are no tests for the PSDiagnostics cmdlets

[2018-11-30 02:42] SteveL-MSFT commented on #8349
Just tried this.  Even though when you specify `2.0` (or even just `2`), it is a version 2 catalog.  When you open the .cat file, it does show `Version=1` but that's `PublicVersion` which is always 1.  It also shows the algorithm as SHA-1, but if you inspect the individual file hashes, it shows ash SHA-256.  I see the same behavior with makecat.exe.  One small improvement we can make is a validate

[2018-11-30 02:56] #8349 closed

[2018-11-30 03:14] Jaykul commented on #7445
Although that is also technically valid (although it's  a **useless** syntax): `$ten = 10; $ten%.5`

[2018-11-30 03:49] #8242 closed

[2018-11-30 03:52] iSazonov commented on #8364
If MSFT team agree with this formatting we could open separate issue for Up-for-Grabs.

[2018-11-30 04:18] iSazonov commented on #8351
@f0nt4 Please move the issue to UserVoice.

[2018-11-30 04:18] #8351 closed

[2018-11-30 05:00] mklement0 commented on #8354
@iSazonov:  I'm afraid I have no explanation for these symptoms.

As an aside, @jonstelly: If you run your interactive `sudo` shell with `sudo -s` rather than `sudo -i`, your own shell is used, not the `root` user's - that way, you needn't change the `root` user's default shell.

[2018-11-30 06:40] dobsa commented on #2289
Guys, you must be joking. Without showing the stdout and stderr while measuring, this command is largely useless. For a moment I rejoiced I finally found a way to measure a command execution time native to Windows, only t find that I cannot use it. I need to see the output of a command. I can hardly think of use cases where I would want to suppress  stdout and stderr. This is just madness. Please,

[2018-11-30 06:44] iSazonov commented on #8233
@SteveL-MSFT Could you please update the issue description and title that we want to implement WinRM client on managed code?

Is there someones (firms) to whom this may be useful and who could be contribute/test? You could blog post to announce the new project.

Also I hope your team prepares the RFC (I have no idea who else could do it.)
Currently, I can only review a code in the repo and maybe r

[2018-11-30 07:34] iSazonov commented on #8364
From @SteveL-MSFT

Also we could consider `System.HashCode` - I do not know how fast it is.

[2018-11-30 07:42] iSazonov commented on #8361
I see the behavior was changed since 6.2 version. Do you know where it was changed (PR/commit)?

[2018-11-30 10:34] artem-nefedov commented on #8360
@SteveL-MSFT I completely missed that point. You are right.
I'm closing this.

[2018-11-30 10:34] #8360 closed

[2018-11-30 11:48] #8302 closed

[2018-11-30 14:38] Christophoclese commented on #8330
[code]

[2018-11-30 14:47] #7122 closed

[2018-11-30 15:10] iSazonov commented on #8330
@Christophoclese Version 6.1 doesn't use curl. You could make a test with PowerShell Core 6.0 and get confirmation that it works.

@markekraus Could you please look the issue and confirm that it is CoreFX issue?

[2018-11-30 16:18] The-New-Guy commented on #7784
I can confirm that I also see this issue on all my systems as well as my colleagues systems. I'm as so eager to stop using Windows PowerShell and just use PowerShell but one of my most commonly used commands when troubleshooting users accounts is to run `Get-AdUser -Properties *` on their username. Simply way too many AD properties to manually list them all so I have to revert to WindowsPowerShell

[2018-11-30 17:04] Christophoclese commented on #8330
Results with PowerShell 6.0.5 -- still does not work, but with a much more ambiguous error message:

[code]

[2018-11-30 17:04] KaylorDave opened #8373 "Android build"
Quite simply, I would love to see a build of PowerShell for Android.

A clear and concise description of what the problem is that the new feature would solve.
Try formulating it in user story style (if applicable):
As a user of PowerShell, I would like to be able to run it directly from my Android devices without having to use an external service such as Azure Cloud Shell. This would allow me to m

[2018-11-30 17:05] KaylorDave commented on #8373
To add- I believe this fits into the model of 'manage anything, from anywhere' for PowerShell.

[2018-11-30 17:22] KirkMunro commented on #5148
Hey @RickFlist, just FYI, my PR that fixes this behavior was just merged, so in an upcoming release -Debug will simply enable debug message output without any of the prompting that was there before.

[2018-11-30 17:52] RichardSiddaway commented on #7784
My testing shows that its the ProtectedfromAccidentalDeletion property that may be at the root of the problem.  I can retrieve any property but that one and any combination of properties that doesn't contain it.

ProtectedfromAccidentalDeletion isn't actually an AD property - its an ACL that denies the Delete permission to everyone

[2018-11-30 18:00] SteveL-MSFT commented on #8233
@iSazonov I think this specific item is pretty specialized and complicated so unlikely for someone in the community to be able to contribute.  Since we have the new repo for this work, I'm going to close this item.  It's not blocking at this time, but will become blocking in the future if more customers want to use PSRP over WSMan from non-Windows.

[2018-11-30 18:00] #8233 closed

[2018-11-30 19:47] iSazonov commented on #8233
Today I researched this a bit and came to the conclusion that it could be useful for other projects on managed code. There is nothing on GitHub like WSMan on C#. I hope the project will not be frozen for a long time. Ping me when it will start.

[2018-11-30 21:20] TravisEz13 commented on #8330
Is this a certificate you added or built into `ca-certificates`?  Would it be possible to give an actual domain we can verify against.  There is a [variable](https://github.com/PowerShell/PowerShell-Docker/blob/7dd20469ed66305428fbb8af90032376e9a5a90e/release/community-stable/kali-rolling/docker/Dockerfile#L82) in DotNet 2.1 (which we use in PowerShell Core 6.1) to force it to use `libcurl`.

[2018-11-30 22:10] hubuk commented on #8361
Found it! It seems like another problem which would be hidden by my PR.
I had `foo.ps1` file created in my PowerShell git repository in pwsh.exe output folder.
Somehow completion `foo.ps1 -Pa<Tab>` is failing to use registered completer when `foo.ps1` file is located in the same directory as pwsh.exe.

I will spend some time to investigate if I can find the root cause of this problem easily.
At th

[2018-11-30 22:39] SteveL-MSFT commented on #8233
@iSazonov to set expectation, I don't expect to start on this until at least April 2019

[2018-11-30 22:53] #8336 closed

[2018-12-01 00:42] SteveL-MSFT commented on #4952
@aixiaozi the problem is that WSMan support on non-Windows hasn't been reliable.  Plan is to move away from OMI client and invest in new PSRP/WSMan client library but that is a big work item and won't happen any time soon.  You can also use tools like `smbclient` on Linux to copy file to a SMB share on Windows.

[2018-12-01 09:46] abhi18av commented on #8227
@kvprasoon , thanks for the revert.

I tried using that but doesn't seem to work.

Here's how I set the environment variable

[code]

[2018-12-01 10:09] abhi18av commented on #8227
This suggestion here, resolved my issue 👍

https://github.com/lukesampson/pshazz/issues/73

[2018-12-01 10:39] lukexjeremy commented on #8359
So I notice PowerShell transcripts also include a footer, e.g.

[code]

It would be odd to completely exclude the header and leave the footer in.

Headers and footers are useful to delimit multiple sessions in a single transcript.

Perhaps a `-MinimalTranscriptHeader` option, producing the following would be suitable.

[code]

[2018-12-01 13:55] mklement0 commented on #8211
I've implemented the above algorithm in a custom PowerShell function named `Remove-FileSystemItem` in [this SO answer](https://stackoverflow.com/a/53561052/45375), and it passes the two tests above.

It uses .NET methods for better performance, but still won't be a speed demon, but it could be considered a proof of concept for a proper cmdlet solution.

On Unix, where the timing problem doesn't ex

[2018-12-01 22:44] dgc commented on #7855
If this proposal or some variant of it were to go ahead then I would suggest this as a general pattern:

 `[-OutputMode {Raw | RawLines | ...}]`

It would make it clear at a glance to the casual user that there are options to affect the output of the cmdlet and that there is a choice between a set of distinct modes.

If I came across a future `Get-Content` cmdlet that had `-Bare` or `-RawLines` in

[2018-12-01 23:07] mklement0 commented on #7855
@dgc:

While `-Raw` and `-Bare` could be separate switches with distinct meanings, they'd be mutually exclusive.

Note that there's no need to distinguish between `Raw` and `RawLines`, because the aspect of _partitioning the output_ has nothing to do with the semantics of the `-Bare` switch proposed here (_undecorated/non-wrapped objects)_ - and is worth keeping separate.

The partitioning aspect,

[2018-12-02 00:05] GH-Rake opened #8378 "Compress-Archive doesn't archive hidden files"
I think it should archive hidden files.  Or at least the docs should tell you it skips hidden files.  -Force doesn't help.  More info at my SO question https://stackoverflow.com/questions/53551418/how-to-zip-archive-hidden-files-using-compress-archive

# Steps to reproduce
Use Compress-Archive on a folder with hidden files

# Expected behavior
Hidden files get placed in the archive

# Actual behav

[2018-12-02 08:14] Indhukrishna opened #8379 "Installation fails on Ubuntu 16.04 and Ubuntu 18.04"
Followed the installation instructions for manual installation from here - https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?view=powershell-6#ubuntu-1804

[code]

Even though installation fails, PowerShell Core is installed on the machine. This behavior repros on both Ubuntu 16.04 and ubuntu 18.04

[2018-12-02 18:24] jagdishrajan opened #8380 "Simple keyboard editing commands don't work in in PowerShell Integrated Console"
# Steps to reproduce & Expected behavior

In the command line Ctrl+Left Arrow should jump a word to the left.  Ctrl+Shift+Left Arrow should select the word to the left.  None of this seems to work.

[code]

# Environment data

PSVersion                      5.1.17134.407
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.

[2018-12-02 18:40] iRon7 opened #8381 "`ConvertTo-Json`: terminate cut off branches with a ellipsis string rather than a full (.Net) type name"
This enhancement request is related to:
[Make ConvertTo-Json detect circular references](https://github.com/PowerShell/PowerShell/issues/6638)
[In ConvertTo-Json the max allowed depth is 100. However, we should add code to dynamically check if we are running out of stack, and serialize objects with bigger depths](
https://github.com/PowerShell/PowerShell/issues/3181)

Apparently almost every progr

[2018-12-02 18:41] GH-Rake commented on #8378
Power Shell Version:
GA I assume - using the version built into my Windows install
Major = 5, Minor = 1, Build 17763, Revision 134
Windows 10 1809 build 17763.134

[2018-12-02 22:41] MaximoTrinidad commented on #8378
@GH-Rake

So that you know..  there's no more development done for Windows PowerShell. This Github repository is only for the next generation of PowerShell, which is PowerShell Core.

And, you are Welcome to contribute to PowerShell Core in improving performance, identifying new features, and even fixing documentation.

So, we encourage you to try PowerShell Core in any of it's available version:

[2018-12-03 04:30] iSazonov commented on #8380
@jagdishrajan Thanks for your report!

The repo is for PowerShell Core version. For Windows PowerShell please report to UserVoice site.

I can not reproduce the issue PowerShell Core and Windows PowerShell so please share more information about your environment.

[2018-12-03 04:37] iSazonov commented on #8381
Related https://github.com/PowerShell/PowerShell/pull/8199
/cc @louistio

[2018-12-03 04:38] iSazonov commented on #8381
Formally it is a breaking change and should be approved by PowerShell Committee. /cc @SteveL-MSFT

[2018-12-03 04:44] louistio commented on #8381
My understanding is that this change wouldn't really fix the root problem with `ConvertTo-Json` (the fact that default `Depth` is `2`). However, it may help a user understanding what's happening? Not even sure, I have no strong opinion about this. @markekraus might?

[2018-12-03 04:57] vexx32 commented on #8380
By `Ingegrated Console` do you mean the VS Code integrated console? That is an entirely separate project, maintained in the **vscode-powershell** repo. The limitations of the integrated console there are well-known, and are well on the way to being rectified. I believe prototype versions of the extension are available from the repo and/or their AppVeyor build artifacts which _do_ include PSReadLin

[2018-12-03 12:12] GSPP commented on #8211
The documentation states that the directory is deleted when the last handle is closed. It does *not* state that deletion is asynchronous.

Why would that matter? My theory is that the failures demonstrated by this script are because other programs such as indexing programs very briefly access the file system items in question. This can then indeed delay the deletion until *their* handle is closed.

[2018-12-03 12:33] mklement0 commented on #8211
@GPP:

Only getting deleted when the last handle is closed _is_ being asynchronous, even if that _word_ is being used in the docs.

What matters is: by the time the call returns, you cannot know whether deletion has completed yet or not. I call that asynchronous. What would you call it?
Irrespective of what we call it: it's a problem.

Probably, yes.

The first sentence shows that you _have_ seen

[2018-12-03 14:15] GSPP commented on #8211
If there are no other handles to that file (e.g. from other programs) then the deletion will be completed at the time the call completes. It's entirely deterministic. At least I see no evidence to the contrary. I am not trying to twist words here.

But I now understand that you are interested in the behavior if other programs interfere. It seems we agree that if the program controls all access the

[2018-12-03 15:34] mklement0 commented on #8211
Let's talk a little more about terminology here, because a shared understanding always helps further discussion:

* The file removal APIs are _always_ _deterministic_: that is, if the function call succeeds, the file _will_ be deleted - you just don't know _when_, and for that reason they deserve to be called _asynchronous_.

Glad to hear it. Note that this unfortunate behavior is the _typical_ sc

[2018-12-03 18:20] ronbok commented on #6676
Test-ModuleManifest PowerShell Core 6.1.0 fails on macOS, but succeeds on Windows PowerShell 5.1.  Same issue as above, but worse since the build agents for Azure DevOps throw this error and kill the build.

[2018-12-03 18:46] jagdishrajan commented on #8380
Sorry, I should have created this in vscode-powershell repo.  Closing this issue as it does not pertain to PowerShell console v6.

[2018-12-03 18:46] #8380 closed

[2018-12-03 19:49] mklement0 commented on #6818
@daxian-dbw, @larssb: Re improving the error message: please see #6683

[2018-12-03 20:11] swasheck commented on #6000
https://github.com/PowerShell/PowerShell/issues/6000#issuecomment-374634305
this worked but downloaded a bunch of other things that i just honestly don't need. not only that, but i still can't even USE the module. using linked comment, i'm able to at least download it. following the NuGet instructions (https://www.nuget.org/packages/Microsoft.SqlServer.SqlManagementObjects/140.17283.0) leaves me w

[2018-12-03 20:31] TravisEz13 commented on #6530
Perhaps `ca-certificates` should be added to our package, but it's not a direct dependency.  The other two packages are required for setup of the package and therefore there is no use adding them to the package.

[2018-12-03 20:38] TravisEz13 opened #8387 "Consider adding `ca-certificates` or equivalent to the Linux packages."
Consider adding `ca-certificates` or equivalent to the Linux packages.

See https://github.com/PowerShell/PowerShell/issues/6530#issuecomment-443859226

[2018-12-03 21:31] jzabroski commented on #6818
@mklement0 Thank you. I humbly suggest I owe you a beer, for simply doing your job correctly.

[2018-12-03 21:41] arahja commented on #6000
Since you said that you have installed SQL Server Tools, I would run `Get-Module -ListAvailable` and see if you have the "SqlServer" module installed. I'm not sure what you are attempting to accomplish by loading the assemblies over the module. For most tasks the "SqlServer" module should have the cmdlets you need.

[2018-12-03 21:52] jzabroski commented on #6683
@Persistent13
Just to repeat what I said in #6818 :

This block of code in the PowerShell engine needs to be removed or refactored before you can 100% eliminate any bugs in Test-ModuleManifest.

https://github.com/PowerShell/PowerShell/blob/79f21b41de0de9b2f68a19ba1fdef0b98f3fb1cb/src/System.Management.Automation/engine/Modules/ModuleCmdletBase.cs#L345-L352

The problem is that, at least 3 years a

[2018-12-03 22:00] swasheck commented on #6000
@arahja I'm attempting to use the SqlManagementObjects ... specifically the Microsoft.SqlServer.XE.Core.dll ... via powershell.

[2018-12-03 22:57] mklement0 opened #8388 "Test-ModuleManifest erroneously requires a script-module RootModule entry to be specified with filename extension"
This is a regression from Windows PowerShell.

In PS Core, a `*.psm1` file referenced in a module manifest's `RootModule` entry must be specified _with the filename extension_ in order for `Test-ModuleManifest` to consider the manifest valid.

This is at odds with:

* current Windows PowerShell behavior

* and, more importantly, the fact that this is not an actual requirement for being able to _im

[2018-12-03 22:59] mklement0 commented on #6676
Yes, I now see not just a change, but a problem in PS Core, though I don't think it's platform-specific - see #8388

`Test-ModuleManifest` seems to have other problems that are tracked in #6818, but I don't think they're platform-specific either.

If you do think you've found a macOS-specific problem, please open a new issue with a reproducible case.

[2018-12-03 23:31] mklement0 opened #8389 "New-ModuleManifest accepts invalid entry values / Update-ModuleManifest complains when adding an invalid entry value, yet still updates the manifest."
_Update_:

This issue was originally about `Update-ModuleManifest`, which is maintained in the PowerShellGet repository. However, `Update-ModuleManifest` calls this repository's `New-ModuleManifest` cmdlet, which itself exhibits problematic behavior:

[code]
---

This is a regression from Windows PowerShell.

I've only tried with one entry, `RootModule`, where the bug only surfaces if the input ma

[2018-12-03 23:45] ronbok commented on #6676
Well after following the workarounds above, I seem to have it working now and the build agent is complaining anymore.

I agree that adding the .psm1 file extension is a regression from PowerShell 5.0/.1, but doesn't mean its wrong.  I see the Az replacements for AzureRm doing this too.

The main thing that resolved this was creating a folder with the root module name and dumping the .psd1 and .psm

[2018-12-04 04:07] mklement0 opened #8391 "Test-ModuleManifest should check the manifest / root-module file base name for naming consistency with the enclosing directory"
For a module to be picked up merely by the name of its containing _directory_, its manifest must have the same name as that directory; e.g., a module directory `foo` must contain a manifest named `foo.psd1`.

Auto-loading and discovery of not-yet-loaded modules relies on this convention.

There are two pitfalls, both of which `Test-ModuleManifest` should detect, but currently doesn't:

* (a) Your

[2018-12-04 04:09] mklement0 commented on #6676
It is wrong in that it is an _inconsistency_, given that omitting the extension works just fine when _importing_ the module, so the validation is unnecessarily strict.

You could argue that the extension should be _required_ to avoid ambiguity, but changing that for `Import-Module` too would be a breaking change.

You could then argue that it's fine to only make the _validation_ stricter while lea

[2018-12-04 05:15] mklement0 commented on #8381
@louistio: Indeed it wouldn't fix the default `-Depth` problem, but the proposal makes sense independently of that.

Yes, it would provider a clearer (though not unambiguous) visual signal that something was truncated.

[2018-12-04 05:57] Shekan opened #8392 ""about_Logical_Operators" page on docs.Microsoft.com looks broken"
When visiting [https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_logical_operators?view=powershell-6](url),  the "Long Description" section looks as though something went wrong in the formatting of the text, specifically the text immediately following:

I'm currently using Google Chrome Version 70.0.3538.110 on Windows 10.

[2018-12-04 06:07] mklement0 opened #8393 "Consider removing the default -Depth value from ConvertTo-Json"
### Summary of the proposal:

* Remove the default value for `-Depth`
   * The hard-coded internal limit of `100`, which when exceeded, reports an error, is sufficient to prevent "runaway" JSON strings stemming from object trees with cyclic dependencies.
  * Typical input objects will then be fully serialized by default, which is typically the intent.

* Use `-Depth` _solely_ at the user's discret

[2018-12-04 06:09] mklement0 commented on #8381
As for the `-Depth 2` problem in `Convert*To*-Json`: please see #8393

[2018-12-04 07:52] Indhukrishna commented on #8379
@SteveL-MSFT This was using an Amazon Linux EC2 VM. Please let me know if you need more information,

[2018-12-04 07:56] Indhukrishna commented on #8379
@datenteiler Running sudo apt -f install doesn't fix it.   It uninstalls the package.
Output of sudo apt -f install

[code]

[2018-12-04 13:03] vexx32 commented on #8392
Oof, yeah, that doesn't look pretty! You might want to put this into the [PowerShell-Docs](https://github.com/PowerShell/PowerShell-Docs) repository, though, as the documentation is maintained separately to the primary PowerShell project here! 😄

[2018-12-04 13:49] FrankSFLYS opened #8395 "Reading environment variables with %JAVA_HOME%"
# Support Question
While I was configuring JAVA path. When I use ``%JAVA_HOME%\bin`` in ``Path`` variable, ``java --version`` only works in cmd (both with common user and admin), but reported ``Can't load java.dll`` in Powershell (both with common user or admin)(the same after rebooting). However, when I use ``C:\Program Files\Java\jdk11.0.1\bin`` instead, everything works normally. Can somebody t

[2018-12-04 14:07] kilasuit commented on #6818
@jzabroski - I may be wrong here but I don't think `The ONLY way to clear your AnalysisCache is to restart PowerShell.exe ` is correct

`Get-Module -Refresh` should force a module cache update within the same session as per the parameter help included which has been around since v3

[2018-12-04 14:19] mklement0 commented on #6818
@kilasuit, that's good to know, but I think the bigger question here is why caching is in the picture at all; from what I can tell, it shouldn't be, given that you're statically analyzing files, file content, and their relationships, none of which relates to the runtime state.

[2018-12-04 14:48] TheIncorrigible1 commented on #8395
Do you have `JAVA_HOME` defined in your machine environment variables?

[2018-12-04 15:06] ChrisMagnuson commented on #2137
I have needed to use `[ref]` when working with a few different soap based web services via `New-WebServiceProxy` that required `[ref]` variables for things like error strings.

The functions would error without being called with a `[ref]` variable passed in for that parameter making `[ref]` required as far as I could figure out to use the web service.

[2018-12-04 15:41] FranklinYu commented on #5564
Some one should point me to this issue! 😄

Related Stack Overflow question: https://stackoverflow.com/questions/47533798/how-to-show-tls-handshake-information-and-connect-request-in-invoke-webrequest

I did some research on this repository; I found

https://github.com/PowerShell/PowerShell/blob/13cf8af66734b4119643748f36ed92260ceae7da/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebC

[2018-12-04 16:06] jzabroski commented on #6818
@kilasuit I did not know about that.  The idea of "module cache" is not documented _anywhere_.  Plus, to "refresh" 123 modules, it takes 4 seconds on my [middle-of-the-line workstation specs](https://www.userbenchmark.com/UserRun/12649055).

This is some really dumb, obscure, annoying crap.  I literally abandoned all PowerShell development because of this issue.  I was kind enough to put together

[2018-12-04 16:13] jzabroski commented on #6818
@kilasuit I found [About Windows PowerShell 5.1](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_windows_powershell_5.1?view=powershell-5.1#module-analysis-cache), which explains that the cache is not thread-safe (emphasis mine):

This is completely ridiculous if true. Even more so the use of the word "typically".

[2018-12-04 17:13] iSazonov commented on #8393
/cc @markekraus

[2018-12-04 18:02] jzabroski commented on #6818
@mklement0  It appears @kilasuit  has indirectly led to an interesting workaround you might want to try.

In your PowerShell Profile, you might be able to **disable the cache** (rather than ever clearing it) by doing:
[code]

I can't say for sure this will work, though, as the code I highlighted above in ModuleCmdletBase.cs is clearly incorrect (and the comments above the code don't actually match

[2018-12-04 18:13] alexandair commented on #6818
'nul'? Maybe $null?

[2018-12-04 18:31] jzabroski commented on #6818
@alexandair Read the official documentation I linked to, it says to pass 'nul' (weird, i know).

That said, I still had my PowerShell session open, so I have added this additional command sequence to prove that neither way works:

[code]

[2018-12-04 21:08] alexandair commented on #6818
@jzabroski
From the doc: "To disable the file cache, set this value to an **invalid** location, for example: `$env:PSModuleAnalysisCachePath = 'nul'`"

It can be even `'foo'`. It doesn't even matter as long as it's not a valid path.

[2018-12-04 21:18] jzabroski commented on #6818
@alexandair OK, it still doesn't work as described.   Setting the file cache to an invalid location does not completely disable the cache.  It is probably because the cache file is written to on a background thread, and the packing of the cache data structure into a blob of bytes occurs *AFTER* the fact, so disabling the _file cache_ does not disable the _cache_.  Just guessing.  Either way, the c

[2018-12-04 21:54] SteveL-MSFT commented on #8393
@iRon7 I don't know the history of `-Depth 2`, but I also suspect it has to do with recursion where .NET objects reference other instances.  The obvious case as you noted is with services which have `DependentServices` and `ServicesDependedOn` creating circular references.  A `-RecurringDepth` parameter seems like a reasonable solution along with a warning if the depth gets hit.  New parameters ar

[2018-12-04 23:02] mklement0 commented on #8393
@iRon7:

I see the problem with the depth of `100`, but my guess is that it's fine to lower this to a more reasonable number that covers the majority of use cases while preventing infinite recursion.
(Again, only people with excessively deep trees who _rely on default truncation at depth 2_ would be affected, which doesn't strike me as likely.)

As for circular references and the default value pre

[2018-12-04 23:08] SteveL-MSFT opened #8397 "Decouple dependency on Microsoft.Management.Infrastructure"
Microsoft.Management.Infrastructure.dll and namespace is for the WMIv2 capabilities which include the CIM cmdlets, DSC dependency, as well as integration with the engine to handle CIM types as first class citizens.

MMI.dll is not Open Source (and no plans to be OSS).  We should see about breaking this dependency so that MMI is a separate module.  This will likely be a big breaking change for anyo

[2018-12-05 01:01] Persistent13 commented on #6683
@jzabroski That's for bringing that to may attention! I'll see what I can do about it.

[2018-12-05 02:09] SteveL-MSFT commented on #8379
@Indhukrishna best I can find, only Amazon Linux 2 supports .NET Core and PSCore6 (https://aws.amazon.com/about-aws/whats-new/2018/03/announcing--net-core-ami-for-amazon-ec2/).  I don't know the differences between Amazon Linux and Amazon Linux 2.

[2018-12-05 02:10] SteveL-MSFT commented on #8325
This was addressed in #8318 agreeing to check before calling `WriteValueToFile()`

[2018-12-05 02:10] #8325 closed

[2018-12-05 02:14] SteveL-MSFT commented on #8393
@mklement0 assuming your assertion on use case is correct, it would be possible to treat PSCustomObject and HashTables differently from other .NET types, but then we have asymmetric behavior and could be confusing to some users.

It would be great if someone could script out some tests to see if other types besides Service has circular references.  If that is the case, it may make more sense to sp

[2018-12-05 02:18] SteveL-MSFT commented on #8315
Reopening as it appears the Windows APIs want this to be an application decision

[2018-12-05 03:12] #8339 closed

[2018-12-05 03:35] iSazonov commented on #8120
I opened new [issue](https://github.com/dotnet/corefxlab/issues/2610) in CoreFXlab repo to start a work to add the enhancement in .Net Core.
The main problem now is code performance. A large cache is now used in my alfa code and it is fast. The proposed version with a 3-level cache (size in 10x times less) is too slow (2-3 times). Any help is appreciated how make the code compact and fastest (comp

[2018-12-05 04:00] mklement0 commented on #6683
@Persistent13: Please also note the updates to my initial post, which now indicate dependencies on other issues.

[2018-12-05 04:43] MaximoTrinidad commented on #6000
@swasheck,

Just an FYI

Microsoft.SqlServer.SqlManagementObjects is not a module, is a package.  If you're looking to use the PowerShell Module for SQL Server, you do the "Install-Module -name SqlServer".  The latest version has the Invoke-SqlCmd working again.

You can download the latest preview also by typing:
[code]
And, this module is already converted to use .NET Core.  So, you can installe

[2018-12-05 04:58] iSazonov opened #8400 "Binary tests need improvement"
We need:
- [x] - (PR #8465) Fix style issues in xUnit tests
- [ ] - Add new xUnit tests to cover public APIs to increase reliability of hosting applications
- [ ] - Add benchmark tests to cover public APIs
- [ ] - [Run xUnit test parallel on MacOs (VSTS)](https://github.com/PowerShell/PowerShell/blob/a9f106da58b251a5fe92b31903ce74528c3099a2/build.psm1#L1429)
- [ ] - Use method like WaitFile() in [

[2018-12-05 06:34] FrankSFLYS commented on #8395
Yes.
[code]
But it was weird that after I used ``C:\Program Files\Java\jdk11.0.1\bin`` for environment variable, it ran successfully. And still worked after I changed back to ``%JAVA_HOME%\bin``
I'm confused if it was Java's problem...

[2018-12-05 10:44] Genbox opened #8401 "Get-AuthenticodeSignature returns the wrong signer certificate"
# Steps to reproduce

[code]

# Expected behavior

Should return 458D803A5CF470DD3F01A475214938D97A5051E8 as evident by running sigcheck. This can also be verified by right-clicking the c:\Windows\System32\ApplyTrustOffline.exe, select 'Properties' and check the "Digital Signatures" tab.

[code]
Note the first certificate in the chain has the thumbprint 458D803A5CF470DD3F01A475214938D97A5051E8.

#

[2018-12-05 12:00] RichardSiddaway commented on #8397
Will the module still be delivered as part of the install on Windows. If so then I don't see a problem as the functionality is still available and usable. if the module has to be downloaded and installed separately then that will cause problems.

CIM is incredibly useful on Windows, in practice it doesn't exist on other platforms, so anything that made it harder to use would have a big impact on W

[2018-12-05 16:51] KirkMunro commented on #6652
Forgive some ignorance on my part, but looking at the number of issues and the complications that exist in classes in PowerShell today, I can't help but feel this is a design problem rather than a collection of issues/bugs to be addressed.

Wouldn't it make more sense and be much easier if:

* PowerShell had a new module type specifically for class definitions, called something like class module t

[2018-12-05 18:42] KirkMunro commented on #6652
On second thought, I'd prefer not having to deal with `Export-ModuleMember` or `ClassesToExport` at all, having psx1 files be a PowerShell-ish equivalent of a type library, with types automatically exported just as they are with dlls (ideally with something resembling public/private to control visibility).

[2018-12-05 18:54] Jaykul commented on #4112
Only classes in the **RootModule** are _supposed_ to be available.
This is NOT a bug. This is a design choice, or a duplicate of #2964

[2018-12-05 18:56] lzybkr commented on #6652
My random thoughts:

* Not adding `ClassesToExport` was intentional, and type are public to help make the interactive experience good.
* I'm skeptical that auto-loading types is a good idea, at least as a default.
* Defining cmdlets via classes is useful and doesn't require a new module type.
* Not being able to define functions seems a bit harsh, but I like the intention. In a new module type we

[2018-12-05 18:58] CtrlShiftEscape commented on #7950
I can't execute it, can anyone help?
`$ ls -l pwsh
-rwxrwxrwx    1 u0_a67   u0_a67       77172 Nov 14 05:08 pwsh
$ readelf -h ./pwsh
ELF Header:
  Magic:   7f 45 4c 46 01 01 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF32
  Data:                              2's complement, little endian
  Version:                           1 (current)
  OS/ABI:

[2018-12-05 19:13] Jaykul commented on #6652
Yeah, _clearly_ it would be a great thing if Importing a module automatically included Cmdlet-derived classes as commands.

But that circles around to `Import-Module` _and also_ `using module`  -- needing to explicitly `using` a module, even though I've already explicitly imported (or `Nested` or `Required`) it is one of the biggest pain point with classes for users.

@lzybkr I don't quite underst

[2018-12-05 20:16] SteveL-MSFT commented on #4046
cc @nitinbps

[2018-12-05 20:44] SteveL-MSFT commented on #8315
We probably need to call: https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/ntifs/nf-ntifs-rtlsetprocessplaceholdercompatibilitymode

[2018-12-05 23:22] SteveL-MSFT commented on #1543
@PowerShell/powershell-committee reviewed this, when using `start-process -nonewwindow pwsh`, it should behave the same as just typing `pwsh`.  This should just be a bug.

[2018-12-05 23:34] SteveL-MSFT commented on #7710
@PowerShell/powershell-committee reviewed this.  This is a breaking change where it used to fail and now works.  We agree that the desired behavior is acceptable.  However, this is likely a complex change that need to also work with recently introduced suffixes like `l` for LONG.

[2018-12-05 23:42] SteveL-MSFT commented on #8106
@PowerShell/powershell-committee reviewed this and see no reason not to support tab completion for scopes

[2018-12-05 23:55] SteveL-MSFT commented on #8381
@PowerShell/powershell-committee reviewed this and it appears that the typename is the result of ToString() not being implemented so the type name is returned.  Also, one can override ToString() to serialize to something more useful whereas producing "..." would limit this.

[2018-12-06 00:00] SteveL-MSFT commented on #7441
@PowerShell/powershell-committee appreciates the input, however, branding and trade dress is currently owned by the PowerShell team.  There will be opportunities in the future where we may look for community input in these areas, however, at this time we are not looking to update our icons.

[2018-12-06 00:00] #7441 closed

[2018-12-06 00:02] #5870 closed

[2018-12-06 00:52] lzybkr commented on #6652
Uh, I wasn't suggesting "outputting them" either - you define a class in a psm1, it's exported. All classes are exported, simple as that.

I was never a fan of the `*ToExport` properties in the manifest, it feels like it violates the [DRY principle](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself). As an optimization, it seems fine, but I'd rather it be a build artifact.

And classes are mod

[2018-12-06 01:04] vexx32 commented on #7710
Would simply passing the string to one of the parser or tokenizer functions be an appropriate way to determine if it's a parseable number and the resultant type?

Side note: `L` is an old suffix, but there are several newer ones that do indeed need to be considered also :wink:

[2018-12-06 02:01] daxian-dbw commented on #8364
There is a problem with the [simple function](https://github.com/PowerShell/PowerShell/blob/50890b5ae7387a61f9a9c3fdfe3644997f5819c5/src/System.Management.Automation/engine/runtime/CompiledScriptBlock.cs#L1859-L1882) pointed by @lzybkr. The current `ToLower` operation is fine for the malicious code scan purpose since we are dealing with a set of English strings. But here, we need to work with diff

[2018-12-06 02:06] daxian-dbw commented on #8364
I'm not into this idea. We would still need to keep the `.psd1` file there to make it remain a module, as that's the only file left for those built-in modules. Then we need to keep them in sync with any changes.

[2018-12-06 02:10] mklement0 commented on #8381
@markekraus, I think the recommendation is _not to make any changes_, based on the rationale that `.ToString()` representation _may_ be meaningful.

That said, for _programmatic_ processing, `.ToString()` output should never be relied upon.

Therefore, it comes down to:

* If I _am_ interested in the objects at a given level, I need to adjust `-Depth` accordingly, as only that gives me _parseable_

[2018-12-06 02:17] mklement0 commented on #1543
@SteveL-MSFT, can you please clarify?

Given that `Start-Process` is _asynchronous_ by default, why should `Start-Process -NoNewWindow pwsh` (_asynchronous_ -> battle for keyboard) behave the same as just `pwsh` (_synchronous_ -> OK, child shell)?

Are you saying that exceptions should be built into `Start-Process`?

[2018-12-06 02:30] mklement0 commented on #8393
@SteveL-MSFT:

As for what use cases are typical:

My observations are based on what I came across on Stack Overflow and what makes sense to me, but you could use your Twitter clout to solicit feedback from a wider audience.

On a similar note, @iRon7: If you support this proposal at least in essence, please update your SO self-answer to point to my answer, which promotes this proposal. With the c

[2018-12-06 02:36] SteveL-MSFT commented on #1543
@mklement0 great question.  `start-process -nonewwindow foo` is effectively synchronous as I don't believe there is a single use case where the intent is to have a process started async that fights for the console.  So the specific behavior is only if `-NoNewWindow` is used to behave as though you executed `foo` without using `start-process`.

[2018-12-06 02:38] SteveL-MSFT commented on #8381
Sorry if not clear, but the recommendation as @mklement0 stated is to not make any change.

[2018-12-06 02:42] mklement0 commented on #1543
@SteveL-MSFT:

`start-process -nonewwindow foo` can be useful as a lightweight _asynchronous_ way to call _launch-and-forget-it_ processes that are known (designed to) _neither solicit stdin input nor to produce terminal output_.

Of course, on Unix you can just omit `-NoNewWindow` in that case, given that it's not supported and that running in the same terminal is the invariable default.

[2018-12-06 03:01] mklement0 commented on #8393
As for treating `[hashtable]` and `[pscustomobject]` instances differently:

Yes, that could be confusing, so we should avoid it. That said, if too much legacy code turns out to rely on the implicit `-Depth 2` truncation, it may be an option, though.

Given that it generally makes no sense to blindly use `ConvertTo-Json` with arbitrary .NET types, I wouldn't be too concerned about that - except wi

[2018-12-06 03:42] vexx32 commented on #1543
I think it would make sense to have `-NoNewWindow` be a separate parameter set to `-Wait`. In every case I've seen for `-NoNewWindow` it doesn't make any sense, as you say, to have it async, so it should just behave as `-NoNewWindow -Wait` does currently without the extra parameter, and have `-Wait` simply be an option when you're _not_ using `-NoNewWindow`. 😄

[2018-12-06 03:56] Jaykul commented on #5870
@SteveL-MSFT I assume this is being closed for inaction / failure to create a follow-up RFC?

[2018-12-06 04:04] mklement0 commented on #1543
There is _no_ reason to involve `Start-Process` at all if you want to run a _console/terminal-based_ application _synchronously_: not only is _direct_ invocation simpler, only the latter guarantees that the invoked program's output streams are connected to PowerShell's.

`Start-Process` is asynchronous by default; that's what the standard verb in its name implies, and I don't think there should be

[2018-12-06 04:29] iSazonov commented on #8364
I'm amized why there can be no other characters?

Instead of `char.ToLower` or `char.ToLowerInvariant` we could consider simple case folding: it is intended for comparisons and [it is faster](https://github.com/PowerShell/PowerShell/issues/8120#issuecomment-434988673).

[2018-12-06 04:49] #8381 closed

[2018-12-06 07:17] iSazonov commented on #5870
I wonder too.

[2018-12-06 12:03] agowa338 commented on #3232
@SteveL-MSFT It conceptional it is not that complex. Please tell me what you think.

We simply need a combination of the sudo, su and login binaries, to handle all cases.

It needs to do:
* Create a unix socket for callbacks and only allow the destination user access to it.
* Validate that the caller is allowed sudo access (I think one can simply copy the source code of [su](https://github.com/sha

[2018-12-06 12:03] PeterResele commented on #5634
I just ran into the same problem:
- looked at Homebrew, saw the warnings, aborted installation. It felt unsafe and when I discovered this thread I felt confirmed about it. (I've never used a "package manager" and I'm not going to start now to go back into the past - I like real installer packages or, even better, the App Store.)

For me as a user, MSFT should be big enough to deliver this in the M

[2018-12-06 16:37] majkinetor commented on #3232
Using pipes could make this work on Windows too in a manner that is less surprising and more convenient - I hate that I get another shell with all "sudo" scripts + UAC clicking but with pipes like this it could be done within the same shell just like on linux by communicating over pipe with another interpreter already running as admin and maybe implementing some real sudo stuff (prompt timeout for

[2018-12-06 21:16] E3V3A opened #8409 "Console does not print Unicode correctly"
I'm trying to print some Unicode characters on the (Admin) Powershell Console.
However, for the characters I am trying to print, the unicode doesn't seem to exist for default fonts available on the PS console.

I am using:  The next-to-latest Poweshell Core 6.1.1.

[code]
But look like this:
![image](https://user-images.githubusercontent.com/194392/49611724-5324ca80-f99a-11e8-86a8-9255a0f0ab2b.png

[2018-12-06 22:06] adityapatwardhan opened #8410 "Release process for 6.2.0-preview.3"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.2.0-preview.3` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM pa

[2018-12-06 22:24] kai-h commented on #5634
Try the following to use the MacPorts OpenSSL Libraries for PowerShell
Install MacPorts
In Terminal, type:
[code]
Personally, I'm OK with a command-line tool like PowerShell not coming pre-packaged with all it's dependancies as then the PowerShell maintainers also need to keep on top of keeping the 3rd party libraries up-to-date as well.

What I want is for PowerShell to use the system-installed O

[2018-12-06 22:26] E3V3A opened #8413 "New console fonts not showing up after registry addition"
I've just added the following fonts according to (parhaps outdated) instruction, using the registry like this:

[code]
I then:
1.Restarted Windows Explorer.
2. Restarted Powershell Console

However, they don't show up in the console options.
Has this been disabled?

Using:
[code]

[2018-12-06 23:20] prashanthyv opened #8414 "Cannot create ECC Keys via Powershell via Azure Key Vault"
# Steps to reproduce

[code]

# Expected behavior
I would like to create a ECC Key via Powershell

[code]

# Actual behavior

[code]

# Environment data

[code]

[2018-12-06 23:51] mklement0 commented on #8409
This is not under PowerShell's control: you need to pick a font for the console window that can render these characters; the preinstalled TrueType fonts don't all support _all_ Unicode characters.

One that would work in your case is `NSimSun`.

Additionally:

* If you want Python to be able to use VT (Virtual Terminal) escape sequences, you must turn support for it on via the registry; do it glob

[2018-12-07 00:32] mklement0 commented on #8413
I don't think what fonts show up in the properties dialog of console windows is under PowerShell's control.

https://www.mydigitallife.net/how-to-enable-more-fonts-for-windows-command-prompt/ mentions that a _reboot_ is required, but I don't know if that alone will solve the problem.

You can ask the [Windows Console team](https://github.com/Microsoft/console) or perhaps on http://superuser.com

[2018-12-07 00:42] TravisEz13 commented on #5634
Also, this dependency from microsoft/omi.  I filed an issue here: https://github.com/Microsoft/omi/issues/596
We don't want to fork from their codebase at least for now.  So the issue needs to be fixed there first.

[2018-12-07 00:55] SteveL-MSFT opened #8416 "Have ability to start pwsh without user module path for automation"
# Summary of the new feature/enhancement

In a discussion with @LeeHolmes, he brought up a scenario where to ensure consistency in automation, he doesn't want the user psmodulepath to take precedence over the system psmodulepath.  This is because a user module could override existing cmdlets that would be run from IT policy under the user context.

# Proposed technical implementation details (opti

[2018-12-07 04:41] mklement0 opened #8419 "Native error codes are masked in PowerShell pipelines on Unix-like platforms"
On Unix-like platforms, with `SIGPIPE` signals being ignored, as in Ruby, writing to a broken pipe (a pipe whose reader process has since terminated) returns standard error code `EPIPE`.

However, it seems that in PowerShell - unlike in POSIX-like shells such as `bash` - the error code is not relayed to the writing process.

# Steps to reproduce

Write 100,000 lines via Ruby, but cause the pipe to

[2018-12-07 04:54] mklement0 opened #8420 "PowerShell commands run to completion even with a broken pipe to an external (native) program"
Note: The issue isn't specific to Unix, as originally stated - see #15329

`... | Select-Object -First 1` stops the upstream command after receiving the 1st input object, but the same is not true when the sink is an _external program_:

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

That is, `Write-Output` unexpectedly ran to completion, even though `head` ex

[2018-12-07 05:10] mklement0 opened #8421 "Unix signal SIGPIPE is unexpectedly turned off (ignored) for child processes"
Standard Unix signal `SIGPIPE` is sent to processes that attempt to write to a _broken pipe_, i.e., to a pipe whose _reading_ process has terminated.

This is not necessarily an error condition, as standard utilities such as `head` simply exit once they've  received enough input, which causes the upstream command to eventually receive `SIGPIPE` on attempting to write to a pipe that no one's readin

[2018-12-07 15:52] kilasuit commented on #6818
this is something that has been in since at **least** v3 and is the basis behind being able to do `Module Auto Loading` and is why `$PSModuleAutoLoadingPreference` came in v3 - which is not set to any value by default but IIRC takes `Off` as a value when you set it

In versions prior to v3 you needed to explicitly load modules into the session to be able to even begin to discover them, whereas v3+

[2018-12-07 16:20] ChrisLGardner commented on #6818
So the original issue is that the error reports from `Test-ModuleManifest` aren't very useful, so can we look at improving those?

The talk about the module cache should probably belong in it's own issue.

[2018-12-07 17:00] markekraus commented on #8393
I have long suspected the default Depth was too low. That was until I experimented with setting the Depth to 100 in `$PSDefaultParameterValues`. The result was a marked increase in execution times for bunch of automation I was responsible for. In some cases, the scripts would execute indefinitely. Large numbers of deep and wide (and sometimes infinitely deep) objects can account for that.  Changin

[2018-12-07 17:53] SteveL-MSFT commented on #8289
Preview.3 is coming out next week, so will wait to see if this repros.

[2018-12-07 18:30] PascalVerbruggen opened #8423 "PSCredential versus UPN"
Why can't you use a UPN for the Credential parameter of Start-Job?

PSVersion                      5.1.17134.407
Windows 10 1803

[2018-12-07 19:50] mklement0 commented on #7332
Good points, @thezim, but can you please correct `semicolon` -> `colon` both in the title and the body in order to make this issue more discoverable?

[2018-12-07 22:10] E3V3A commented on #8413
Yep, seem that none of those fonts conform to those (old) rules.

The only one I could get to install was `DejaVu Sans Mono` after having compiled it myself with FontForge.

[2018-12-07 22:15] E3V3A commented on #8409
BTW. What does this mean??

• The font must be FF_MODERN for TrueType fonts.
• The font must be OEM_CHARSET for non TrueType font.

[2018-12-07 22:40] mklement0 commented on #8409
Still, it is a feature of the Windows Console (`conhost.exe`), not any given shell's, so please discuss the issue with the [Windows Console team](https://github.com/Microsoft/console).

I don't know `ConoutMode`, so I can't speak to why it doesn't see the VT sequences as enabled, but de facto they do work once the registry is patched; e.g.,
`python -c 'print (\"\x1b[32mword\x1b[m up\")'` prints `w

[2018-12-07 23:04] SteveL-MSFT commented on #8397
@RichardSiddaway I think this would be solved by https://github.com/PowerShell/PowerShell/issues/5681

[2018-12-08 01:01] Jaykul commented on #8409
FF_MODERN is a property of the font family, which describes the "look" of the font in general terms. It means the font has a non-variable stroke width. Most (but not all) fixed-width fonts are also modern.  [see docs](https://msdn.microsoft.com/en-us/library/cc250389.aspx)

You _can_ set your console font to *any* font (including non-fixed width fonts) _via the API_. I don't recommend using non-fi

[2018-12-08 01:43] E3V3A commented on #8409
Yeah, I have spent half the day finding out what is going on. The problem I have, is really only for printing a few glyphs. So my choice of glyph above, is outside the [IBM 437 OEM_CHARSET](https://en.wikipedia.org/wiki/Code_page_437), so if I had used another box from that page, it would have worked with any console font. However, one always wonder why not more glyphs...

The thing that is still

[2018-12-08 01:50] E3V3A commented on #8409
https://github.com/rprichard/winpty/blob/master/misc/font-notes.txt

[2018-12-08 01:52] mklement0 commented on #8409
Thanks, @Jaykul - great info.

Good point, but in terms of the _scripts_ (writing systems, alpabets) `Lucida Console` supports, it's the same as what `Consolas` supports, according to https://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows: Latin, Greek, Cyrillic

And in terms of what fonts are _available_, that's definitely not PowerShell's responsibility.

[2018-12-08 01:55] #8409 closed

[2018-12-08 05:47] mklement0 opened #8428 "Format-Table with centered calculated property misaligns the column label"
This is a regression from Windows PowerShell.

# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

Note how the column header (`one`) is misaligned.

# Environment data

[code]

[2018-12-08 06:12] mklement0 opened #8429 "Consider locking in key aliases for calculated properties"
# Summary of the new feature/enhancement

PowerShell's elastic syntax (matching by unambiguous name prefix) is great for interactive use, but should be avoided in scripting.

Calculated properties currently employ elastic syntax:
Specifying a calculated property with single-letter key names - e.g., `@{ n='prop'; e = { $_.val + 1 } }` - is convenient, but lacks longterm stability, because `n` and `

[2018-12-08 07:45] KevinMarquette commented on #8420
In this case, `Select-Object` manipulating the pipeline to make this happen. I'm not sure if an external program would be able to do the same. In the current implementation it looks like it would be up to the external program to handle this.

[src/Microsoft.PowerShell.Commands.Utility/commands/utility/select-object.cs#L692](https://github.com/PowerShell/PowerShell/blob/a1299cd6d4e649b5e42edbbdc23a

[2018-12-08 10:19] doctordns commented on #8429
I am not sure the phrase 'empty elastic syntax' is helpful. Not sure what elastic syntax means. How about the document gets to the meat: "You can use PowerShell hash tables to create calculated properties for a range of cmdlets (including Select-Object, Format-Table, and Format-LIst).  For calculated properties, the hash table can only have two keys: Name and  Expression. Both key names can be abb

[2018-12-08 13:10] #8413 closed

[2018-12-08 13:13] iSazonov commented on #8414
@prashanthyv Could you add more information? Seems you question is for Azure team and out of the repo.

[2018-12-08 13:20] iSazonov commented on #8423
@PascalVerbruggen  The repo for PowerShell Core only. Please update your request for PowerShell Core latest version and repo steps.

[2018-12-08 13:29] iSazonov commented on #8420
I am not sure that the external command terminates after reading first item. I guess it collects all input. Can we use our TestExe for check?

[2018-12-08 13:34] mklement0 commented on #8429
@doctordns: I wasn't suggesting using that term (see info below); if we did, it would need its own conceptual topic too (which is worth considering, separately).

I like what you wrote, but - aside from also needing to describe the key sets for the other cmdlets that support calculated properties - I would add advice to only use the _full_ key names in _scripts_.

The need for this advice will go

[2018-12-08 13:35] iSazonov commented on #8428
/cc @SteveL-MSFT In our discussion about escapes I just meant that we will fix such problems endlessly.

[2018-12-08 13:39] doctordns commented on #8429
O agree with that point! But I'd word it along the lines: Using Full key names in scripts is recommended. Leaving that recommendation unstated for command line purposes. I teach PowerShell and the alias key names, on first sight, is quite confusing.

[2018-12-08 13:43] iSazonov commented on #8429
@mklement0 Are you ready to push a PR? Then we could ask PowerShell Committee.

[2018-12-08 13:47] mklement0 commented on #8420
@iSazonov: `head` is designed to exit once it has received enough input; doing so leaves the pipe broken, and when the process on the writing end tries to write to the pipe the next time, it normally receives a `SIGPIPE` _signal_, or, if `SIGPIPE` is unexpectedly ignored (see #8421 ), the system call returns error _code_ `EPIPE`.

@KevinMarquette: Yes, as you say,`Select-Object` uses internal clas

[2018-12-08 14:00] iSazonov commented on #8420
Thanks @mklement0 - I don't read #8421 before commented here.

For reference https://github.com/PowerShell/PowerShell/pull/2450

[2018-12-08 14:03] iSazonov commented on #8419
For reference https://github.com/PowerShell/PowerShell/pull/2450

[2018-12-08 14:04] iSazonov commented on #8419
Seems the issue could be fixed with #8420.

[2018-12-08 14:13] mklement0 commented on #8429
@doctordns: Sounds good to me, but why don't you repost your suggested wording over at https://github.com/PowerShell/PowerShell-Docs/issues/3383?

As an aside: Simpler syntax for calculated properties is being proposed -  see #8107

[2018-12-08 14:13] mklement0 commented on #8429
@iSazonov: I'll give it a shot, thanks.

[2018-12-08 14:54] potatoqualitee commented on #2334
Is this only going to be fixed in PS6?

![image](https://user-images.githubusercontent.com/8278033/49687291-33f47d00-fb01-11e8-9117-22afb893dbee.png)

![image](https://user-images.githubusercontent.com/8278033/49687316-86359e00-fb01-11e8-8d86-933e06bd9d00.png)

Is there anything we can do locally to fix it? Perhaps some override?

[2018-12-08 16:00] potatoqualitee commented on #2334
omg uh, i have no idea how i unassigned anyone 😐 sorry @chunqingchen !

[2018-12-08 17:46] iSazonov commented on #5681
Related RFC https://github.com/PowerShell/PowerShell-RFC/pull/153

[2018-12-08 17:49] iSazonov commented on #8397
What time is it planned?
Is the breaking change approved by PowerShell Core Committee?

[2018-12-08 18:04] RichardSiddaway commented on #8397
I'm still extremely apprehensive about how this will be received. If the #5681  approach is adopted  it should have a LOT of advance publicity to explain what's happening.  This needs to be explained to the PowerShell community in great detail and early enough that people know and expect the changes. If this is just sprung on the community PowerShell will take a huge credibility hit

[2018-12-08 18:15] iSazonov commented on #8397
Previously we discussed removing dependency on OMI native client library #8233. Seems MSFT team want to remove all dependencies on native libraries. This intention looks too laborious and perhaps too early.
First, removing dependency on OMI native client library was postponed. Second, we can't get rid of Microsoft.PowerShell.Native until CoreFX team does native marshaling for Unix-s. Finally, gett

[2018-12-08 19:13] Genbox commented on #8401
@TravisEz13 Sigcheck and Windows properties verify the signature using a catalog as well. It seems that calling WTGetSignatureInfo (used in Powershell - undocumented) instead of CryptCATAdminAcquireContext2 (used everywhere else and documented) produces different results.

This can potentially lead to a security vulnerability when Powershell is used to verify files. Is this really intended behavio

[2018-12-08 21:04] Jaykul commented on #8409
Yeah, they technically support the same scripts, but ... in every subrange, Consolas has more characters than Lucida. In each supported subrange, Consolas has more than double the character glyphs 😉 ...
![image](https://user-images.githubusercontent.com/192942/49690610-d6146500-fb01-11e8-9496-cb33061b9437.png)
![image](https://user-images.githubusercontent.com/192942/49690595-8b92e880-fb01-11e8-8a

[2018-12-08 21:10] mklement0 commented on #8429
@iSazonov: Please see #8430, and note the open questions there.

[2018-12-08 21:35] mklement0 commented on #8409
Interesting, @Jaykul - I had no idea.

So, is it worth opening an issue to have the installer configure Consolas as the default font, assuming it is a true superset of the Lucida Console font?

[2018-12-08 23:32] potatoqualitee commented on #2334
I saw it was fixed in 6, just hoping it could mayyyybe get fixed in the version that most of our people use 🤞

[2018-12-08 23:52] vexx32 commented on #2334
From what I've been told there's going to be basically no more fixes backported to PS5.1, I'm afraid.

Your best bet is to submit a request on the uservoice site for Windows PowerShell, but from what I've heard there are no guarantees anything more will be done with Windows PowerShell. 🙁

[2018-12-09 06:50] sba923 commented on #8315
After all, this wasn't too hard ;-)

[code]

Here's the output:

[code]

[2018-12-09 12:04] vexx32 commented on #8315
Would this fall under things that would need to have some of the code put in https://github.com/PowerShell/PowerShell-Native perhaps?

[2018-12-09 17:05] E3V3A commented on #8409
@Jaykul
Any ideas how to make a merged font like the one you linked?
Both the Unifont and DejaVu it's based on are a bit dated. I'd like to provide a new release.

[2018-12-09 18:56] vexx32 opened #8432 "Get-Item fails to retrieve scoped items in Scoped PSDrives (Alias/Function/Variable)"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

The final `Get-Item` call in both cases returns _nothing_. No error, no output. But _all_ Get-Content calls successfully find the targeted item. As @mklement0 notes, this affects the Alias provider as well as Function and Variable providers.

# Environment data

[code]

[2018-12-09 21:00] IISResetMe commented on #8308
Looks like the serializer erroneously decreases the serialization `depth` when writing PSObject properties:
https://github.com/PowerShell/PowerShell/blob/5d03e1653a7d518715fa3f00587cad6b5c78cc89/src/Microsoft.PowerShell.Commands.Utility/commands/utility/CustomSerialization.cs#L735

This results in nested properties whenever there's more than one.

Removing `--depth;` seems to solve the problem com

[2018-12-09 21:09] E3V3A commented on #8409
Apparently there is something called a [fontlink](https://shajisoft.com/shajisoft_wp/fontlink-for-cjk-on-english-windows-10/) in the registry, that can be used to link different fonts together. So if I understood it correcly, you can use this, to give a certain font, a type of *search path* to look at other fonts if one is not available... Has anyone tried this?

[2018-12-09 23:24] dfinke opened #8433 "Question - Register-ArgumentComplete"
This can be installed from `Install-Module PSPulumi`.

Two questions, the module doesn't auto load. I'm not sure what I need to make that happen,

I can `ctrl+space` and autocomplete all of these `pulumi stack ls --all`

I want to be able to `ctrl+space` and get the `--json` to complete `pulumi stack ls --all --json`

Here is the section for the tree.
https://github.com/dfinke/PSPulumi/blob/master

[2018-12-10 00:32] lzybkr commented on #8433
I don't think auto-loading can be triggered from argument completion - at least in any reasonable sort of way.

I'm not sure where the problem lies or how to change your completer, but I'll point out for anyone wanting to take a look, you'll need to install [TabExpansionPlusPlus](https://github.com/lzybkr/TabExpansionPlusPlus/) before investigating because the sample code use `New-CommandTree` fro

[2018-12-10 02:21] terrabitz opened #8435 "Proposal: Resolve-Path with -Relative parameter should allow the use of a reference path"
# Summary of the new feature/enhancement

As a PowerShell developer, I want to be able to obtain the path of an item relative to a path that is not my current directory so that I can avoid changing my current location context for a relative directory lookup.

# Proposed technical implementation details

Assuming I have a directory like this:

[code]

Currently, if I want to do a resolve a path rel

[2018-12-10 03:35] mklement0 commented on #8393
Yeah, looking at some of the code here on GitHub seems to confirm the unfortunate reality of lazy `ConvertTo-Json` use being not uncommon.

In light of this, @SteveL-MSFT's suggestion is well worth considering; to flesh it out some more:

* If an input object is a _deliberately constructed DTO (property bag)_, do _not_ apply the default depth (let the internal max. depth prevent infinite recursion

[2018-12-10 03:45] mklement0 commented on #8432
Nice find; also affects the `Alias` provider, which has scoped definitions too.

Note that namespace variable notation isn't affected, as it is the equivalent of the `Get-Content` calls; e.g., `${function:global:prompt}` works fine.

[2018-12-10 03:57] vexx32 commented on #8432
Indeed, namespace variable notation is what I was toying with when I stumbled across this weird inconsistency!

[2018-12-10 05:01] tlsalex opened #8436 "how to show localport and processname from Get-NetTCPConnection at the same time"
As mentioned in title:
how to show localport and processname from Get-NetTCPConnection at the same time

![localport_and_process](https://user-images.githubusercontent.com/36788337/49711681-c325a000-fc7b-11e8-8a91-6f421c0b04ef.png)

[2018-12-10 05:38] vexx32 commented on #8436
This takes an extra step. The output from `Get-NetTcpConnection` _does_ have an `OwningProcess` property, but it only lists the ID. You need to calculate the ProcessName via Get-Process using Select-Object.

[code]

[2018-12-10 10:46] MathiasMagnus commented on #7542
@DarwinJS `Stop/Restart-Computer` +1. A `Start-Computer` would be nice too exposing WakeOnLAN.

This is my wish-list of enhancing the UX primarily on Linux:

- `Expand/Compress-Archive` to handle [more formats](https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/22), especially those native to Linux derivates.
- `Expand-Archive` performance leaves [a lot to be desired](https://github

[2018-12-10 13:04] markekraus commented on #8393
@mklement0 How would you handle mixed scenarios? For example, depth 1-5 is occupied by property bags, 6 has a .NET Type but 8-11 are property bags again (possible due to ETS)?

[2018-12-10 16:41] IISResetMe commented on #7542
While I appreciate the shout out, I'm inclined to suggest we implement a simple RFC5424-compliant top-down parser rather than building on top of regex for this purpose.

I'd be more than happy to work on a prototype for this

[2018-12-10 17:08] DarwinJS opened #8437 "installpsh-debian.sh should support LinuxMint"
# Summary of the new feature/enhancement

LinuxMint is the most Windows 10 like distro.
I have hacked this script to get it to seem like Debian - but it identifies as linuxmint 19 - which does not map to a proper /etc/apt/sources.list.d/microsoft.list.

# Proposed technical implementation details (optional)

I am willing to do this work, but need someone to help validate whether this is a simple m

[2018-12-10 19:00] SteveL-MSFT commented on #8308
@IISResetMe perhaps you could submit a PR with tests :)

[2018-12-10 19:03] SteveL-MSFT commented on #8315
@vexx32 `PowerShell-Native` is for specific native code such as integrating with WinRM and some native Unix APIs.  (Over time, `PowerShell-Native` should get smaller and smaller if we can just use .NET Core)

This code should be in this repo.

[2018-12-10 22:23] DarwinJS commented on #8437
Ok I faked it out to ubuntu 18.4 which linux mint is based on and everything works fine - including VSCode.

Unless someone objects I can just cause this remapping to happen in case statements.

Any objections?

[2018-12-11 02:04] DarwinJS commented on #8289
It is sort of reproing - though I am going over 6.2 preview 3 and it is a different error:
![image](https://user-images.githubusercontent.com/11597190/49773439-1c62f300-fcbf-11e8-98d6-6ae327f9dcbb.png)

[2018-12-11 02:14] MaximoTrinidad commented on #8289
Can someone post which build of Windows 10 got the PowerShell Core error??

:)

[2018-12-11 02:20] DarwinJS commented on #8289
10.0.17134

[2018-12-11 02:34] mklement0 commented on #8393
@markekraus:

Given that lazy to-JSON conversion isn't uncommon, that's not really an option, if you want to avoid "marked increase in execution times", as you've stated.
Attempting a lukewarm compromise along the lines of increasing the default depth to say, `4`, is not worth the effort, in my estimation: it can substantially increase the runtime/memory requirements of lazy conversions while stil

[2018-12-11 02:46] markekraus commented on #8393
"Why is my object cut off? this tree of the object goes 20 deep, but this tree stops at 5"

[2018-12-11 02:55] mklement0 commented on #8393
@markekraus:

Fundamentally: The basic DTO/non-DTO dichotomy needs to be well-documented, then there's no mystery.

As for your specific example: If you _know_ that your object tree is 20 levels deep, the implication is that you've constructed a _DTO_, and no truncation will occur.

By contrast, if you lazily pass arbitrary types to `ConvertTo-Json` without worrying about (potentially infinite) se

[2018-12-11 04:43] Jaykul commented on #2381
UPDATE: As of Windows 10 build 18298, when you open the properties page of any Console window, you’ll notice [an additional “Terminal” tab](https://blogs.msdn.microsoft.com/commandline/2018/12/10/new-experimental-console-features/) -- which among other things, allows one to set the _default_ ForegroundColor and BackgroundColor to RGB values which are _separate_ from the 16 color "ConsoleColor" pal

[2018-12-11 04:58] brunobml commented on #6647
I have tried many times establishing a new session from linux RHEL7 to windows server 2016.
Always get the same error.
I also tried , athentication Kerberos, Basic, Negotiable, etc....

Enter-PSSession : MI_RESULT_ACCESS_DENIED
At line:1 char:1
+ Enter-PSSession -ComputerName WSRVPRD001 -Credential (Get-Credential) ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ Categ

[2018-12-11 05:28] jcotton42 opened #8441 "Make PowerShell Core availabe as a .NET global tool"
PowerShell Core should be available as a global tool so installing PowerShell for use in a build environment would be as simple as `dotnet tool install pwsh`

The [6.1 release notes](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-core-61?view=powershell-6#net-core-21) say this is "coming soon" but it's been 3 months and as far as I can tell there is still

[2018-12-11 05:43] msftrncs opened #8442 "PowerShell Preview fails to open after install"
Immediately after installation (upgrade from previous 6.2 preview) 6.2.0 preview 3 will not run, the console window just quickly flashes and disappears, or sometimes its so fast nothing appears at all, but I can see the focus move away and then back.

Windows 10 1809 (Insiders)

PowerShell 6.1.1 still works.

I don't see any log files to report.

I have not yet tried removing and reinstalling.

[2018-12-11 06:43] najeebanwer commented on #8278
On PowerShell-6.2.0-preview.3-win-x64, this works partially.
The "Open here as Administrator" context menu item has the "-RemoveWorkingDirectoryTrailingCharacter" argument and that works.
The "Open here" context menu item does not have this argument. Or maybe it was in the duplicate "Open here" item in the Registry that I deleted?

[2018-12-11 06:49] kborowinski commented on #8442
It's the same issue as with PowerShell 6.2.0 preview 2 (#8289). Run the installer again and use repair function. It will fix the problem.

[2018-12-11 09:50] totkeks commented on #8069
I agree with the OP on this issue. I recently upgraded my Win10 and now I got those files in Onedrive/Documents as well. While I like the idea of sharing my default profiles and possibly scripts across PCs using OneDrive, this should be done using the proper Windows folders, namely AppData Local/Roaming, because this is the convention on Windows and it works well. Also better than dotfiles and dot

[2018-12-11 10:37] dilshaat opened #8443 "No built-in editor when remoting"
I constantly use `Enter-PSSession` Cmdlet to log into our remote servers and I need to edit many property files. Since this is remote session, `notepad.exe` does not work and this creates difficulties for me now. Having many years of experience with Bash where VIM is always available, this feature is urgently needed, not only for me, also for many sys admins as well. Is there any project on this g

[2018-12-11 12:46] bergmeister commented on #8289
I can confirm this happens not only when upgrading `6.2-preview1` to `6.2-preview3` but also `6.2-preview2` to `6.2-preview3`

[2018-12-11 13:05] markekraus commented on #8393
@mklement0 I'm referring to a mix of the the two which is common.  top level has a property bag but down one branch there is a .NET type with a depth of its own and in that depth there may be another property bag, but another branch may be property bags all the way down. This is asymmetrical and silent. the user will be very confused no matter how much documentation you write.

Again, I think the

[2018-12-11 13:17] DarwinJS commented on #8289
In my case it happened when upgrading `6.2-preview2` **that had been upgraded** from `6.2-preview1`.  I would have to test a `6.2-preview1` to `6.2-preview3` upgrade to know if that path also generates an error.

[2018-12-11 14:00] RobR14 commented on #3879
I'm a little late to the party looking at the date (I came past this thread while looking for something else), but thought I might throw this in for the benefit of those on future expeditions...

My suggestion would be to look past the more terse lingual subtext (C#-like constructs) and use the pipeline in a more "intent-wise fashion" = i.e. "script-like"; I have found personally that while PS is

[2018-12-11 14:19] alexandair commented on #8443
You can use Visual Studio Code with PowerShell extension. Open an interactive session with Enter-PSSession and then run `psedit <path_to_a_file_you_want_to_edit>`.

[2018-12-11 15:54] bigboy-pdb-spam opened #8445 "PowerShell Drops Headerless Columns"
# Documentation Issue

The [PowerShell documentation for `ConvertFrom-Csv`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/convertfrom-csv?view=powershell-6) for the optional parameter `-Header` states:

"_If you enter fewer column headers than there are columns, the remaining columns will have no headers_"

Since the `ConvertFrom-Csv` function appears to convert c

[2018-12-11 15:56] mklement0 commented on #8393
The behavior with such mixed objects is explained with this simple rule:

* if a property is a DTO, serialize without restriction (except the overall max. depth)
* if it's not, serialize _that object_ with depth 1 (irrespective of whether DTOs happen to be among the properties).

This is reasonable, because you generally can't assume that arbitrary non-DTOs convert meaningfully to JSON. Thus, for

[2018-12-11 15:59] qt3m45su0najc7 opened #8446 "set-location should support '.lnk' filetypes"
Link shortcuts to folders are not currently supported by set-location.  The enhancement request is to support these file types for get-location, set-location, and querying the lnk file for what it references.

[2018-12-11 16:02] bigboy-pdb-spam commented on #8445
Sorry, I meant to open this as a documentation problem. I don't know what I need to do to convert this to a documentation problem (or if I have permission to do so or if it can be done)

[2018-12-11 16:08] vexx32 commented on #8445
Documentation issues should generally be in the https://github.com/PowerShell/PowerShell-Docs repo. 😄

[2018-12-11 16:09] MaximoTrinidad commented on #8289
@DarwinJS

I have confirmed upgrading from Preview.1 to Preview.3, installation complete without any failures but still PowerShell Core won't start.

:)

[2018-12-11 16:12] MaximoTrinidad commented on #8289
@DarwinJS

Ah! Just another FYI

Instead of uninstall, you click repair, and the will fix the issue too.

:)

[2018-12-11 16:13] raymondandreassen commented on #2996
Confirming nuttingd discoveries. Tested on 7 serveres, version 2012, 2012R2 and 2016.
Good job!

[2018-12-11 16:19] bigboy-pdb-spam opened #8447 "ImportFrom-Csv Does Not Ignore Extra Headers"
# Documentation Issue

The [PowerShell documentation for `ConvertFrom-Csv`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/convertfrom-csv?view=powershell-6) for the optional parameter `-Header` states:

"_If you enter more headers than there are columns, the extra headers are ignored_"

However, since empty fields are injected into the rows, the headers are not ig

[2018-12-11 16:21] vexx32 commented on #8393
Yes, it does. It informs the user that there is a problem, and how to correct it, and the cause of the problem.

Attempting to futz it and make it _half_ work is bound to be ridiculous.

If we were to recommend a _thorough_ solution to a problem like this, I would imagine the code would probably end up needing to do something like this:

1. Iterate through properties, looking for simple value type