[2016-11-17 01:03] tmat commented on #1616
See https://github.com/dotnet/corefx/issues/5540 for the CoreFX issue.

[2016-11-17 01:27] powercode commented on #2567
@lzybkr https://github.com/powercode/PowerShell/commits/typeinference-visitor
Is this roughly what you had in mind?

[2016-11-17 02:45] lzybkr commented on #2567
I only took a very quick look, but it's definitely the direction I had in mind.

[2016-11-17 03:28] iSazonov commented on #2648
@SteveL-MSFT Thanks! It's very useful.

[2016-11-17 03:29] jonathannarzo opened #2706 "New-Object : Unable to load DLL 'api-ms-win-core-com-l1-1-0.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
New-Object : Unable to load DLL 'api-ms-win-core-com-l1-1-0.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
**Ubuntu 14.04**
**Sample code:**
[code]

[2016-11-17 04:17] DarwinJS opened #2707 "Need Additional Launch condition in Windows 10 / Server 2016 MSI Package"
The Windows **8** MSI has a proper launch condition in it to block installs on anything older than Windows 8.

It appears that same launch condition was copied to the Windows 10 package.

This means that nothing is blocking the Windows 10 package from installing on Windows 8.x.

I suggest leaving *ADDING* a new launch condition after the "less than Windows 8" one that blocks for installing on Wind

[2016-11-17 06:09] mirichmo commented on #2664
@jianyunt Is this issue resolved? if so, please close it, mark it fixed, and place it in the alpha.12 milestone. If you don't have permissions for that, let me know.

[2016-11-17 06:58] TSEO1 commented on #2571
Hello, brycem.
I think than enviroment variable "**Include**" not set.

To build project you can try:

1) Add path to "**cl.exe**" to enviroment variable "**path**".
May use "**.ps1**" script like this:

[code]

2) Go to the root folder with your **.cpp** files
3) Create the "**.bat**" file like this:
[code]
4) Run "**.bat**" file

[2016-11-17 07:57] #2706 closed

[2016-11-17 09:52] iSazonov commented on #1761
Are there other examples of this?
For the sake of one utility no patch is needed.

[2016-11-17 13:10] DarwinJS opened #2708 "Chocolate Package Now Available"
A Chocolatey package is now available for installing PowerShell Core on WIndows 8 and 10.

To request improvements to the package, please file an issue here (please mention the package name as the repo covers multiple packages): https://github.com/DarwinJS/ChocoPackages/issues

Some notable considerations:
- chocolatey does not run on Nano - so the package has not been setup to handle it.
- the pa

[2016-11-17 18:17] mirichmo commented on #2707
We are evaluating moving to two windows installers, one for x86 and one for x64 per #2608. In that scenario, the launch condition must be inclusive of all supported OS versions (Win 7+).

[2016-11-17 18:24] jianyunt commented on #2664
@mirichmo yes, checked-in. Can you place it to alpha12 milestone. After that i can close it.

[2016-11-17 18:53] mirichmo commented on #2664
I'm closing it since I am already modifying it.

[2016-11-17 18:53] #2664 closed

[2016-11-17 19:20] #2587 closed

[2016-11-17 20:47] JamesWTruher commented on #2677
PSMODULEPATH is case sensitive on non-Windows systems. Could you set `$env:PSMODULEPATH` (cased as provided) to your desired path and try again?

[2016-11-17 21:35] vors opened #2712 "Make Start-PSPackage friendlier for frequent releases"
- [x] Add check that submodules are present
- [x] Add `Start-PSPackage -ReleaseName -CommitId`
- [ ] Make `$PSVersionTable` semantic friendly and replace `powershell.version` file by code generation

[2016-11-17 22:09] DarwinJS commented on #2608
Actually, due to the way the "64-bit enabled" "switch" works in MSI you *must* have two installers to support both bitnesses.  At least that's what it says in this book: https://smile.amazon.com/Deploying-Supporting-Applications-64-bit-Windows-ebook/dp/B0098P9Z22/  ;)

However, like a setup.exe wrapped around a 32-bit and 64-bit MSI, the chocolatey package will be able to sort out bitness specific

[2016-11-17 22:15] vors commented on #1616
Some things we discussed with @tmat for future context.

1. It's a bad idea to mix **contract** assemblies and **implementation** assemblies in the reference assmemblies. It will confuse Roslyn and things will break.
2. In the PowerShell package, we don't ship any **contract** assemblies. We can consider doing it just for `Add-Type` but it's definitely will complicate our build process.
3. The ide

[2016-11-17 23:33] powercode opened #2714 "Powershell.sln does not build in Visual Studio"
Steps to reproduce
------------------
Open PowerShell.sln in visual studio 2015
Build Solution

Expected behavior
-----------------
Project builds and enables F5 debugging, at least for FullClr

Actual behavior
---------------
Lots of reference errors

Environment data
----------------

[code]

[2016-11-17 23:41] joeyaiello opened #2715 "Format-* incorrectly formats warning objects"
Filed on UserVoice by @DerpMcDerp: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/17144996-format-incorrectly-format-warning-objects

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------
[code]

Environment data
----------------
This occurs on the latest Windows PowerShell 5.1 and the lastest PowerShell

[2016-11-18 00:29] #2480 closed

[2016-11-18 00:50] thezim commented on #2700
If the file exist Get-Item will work.

(Get-File c:\temp\foo.txt).Extension -> .txt
(Get-File c:\temp\foo.txt).Name -> foo.txt
(Get-File c:\temp\foo.txt).BaseName -> foo

[2016-11-18 02:25] lzybkr commented on #2714
Duplicate of #1895.

[2016-11-18 02:25] #2714 closed

[2016-11-18 05:31] iSazonov commented on #2700
How it will work for other providers?

[2016-11-18 06:54] iSazonov opened #2716 "Many definitions of cmdlets use 'string' instead Verbs<> class strings"
Would we have to fix it?

Full list attached. [cmdletverbs.txt](https://github.com/PowerShell/PowerShell/files/599195/cmdletverbs.txt)

Samples:

Now | Must Be
-|-
`[Cmdlet("Export", "Counter",`  |  `[Cmdlet(VerbsData.Export, "Counter",`
`[Cmdlet("Invoke", "Item",`       | `[Cmdlet(VerbsLifecycle.Invoke, "Item",`

[2016-11-18 07:45] fatso83 commented on #2677
@JamesWTruher, that was it!
[code]

I did get the casing from official microsoft articles so it's too bad that those paths differ in casing, but glad to see that it works now! Thanks!

[2016-11-18 07:45] #2677 closed

[2016-11-18 08:16] HemantMahawar commented on #2650
This issue was moved to OneGet/oneget#244

[2016-11-18 08:16] #2650 closed

[2016-11-18 08:27] WernerMairl opened #2717 "Unexpected behavior (usability) in Register-PSRepository"
Hi
Working with Register-PSRepository i have found some behavior that was really unexpected.
Probably we are not talking about bugs but about usability....

1. Repository uniqueness
All the functions around PSRepository (Get, Register, Unregister) are using the Name Property/Argument to identify a Repo.

Seeing this API-Surface i'm assuming that the property Name is the one that implements the "un

[2016-11-18 08:31] HemantMahawar commented on #2717
This issue was moved to PowerShell/PowerShellGet#61

[2016-11-18 08:31] #2717 closed

[2016-11-18 11:56] wilsonmar commented on #2116
I am getting the same error on v6.0.0-alpha.12. Can't run
Set-ExecutionPolicy Restricted

But if you want a work-around, this works for me:
$NOW = Get-Date -Format "yyyy-MM-ddTHH:mmzzz"
echo $NOW

[2016-11-18 13:24] jpsnover commented on #2700
Split-Path doesn't require the object to exist.
(Get-Item c:\temp\foo.txt).Name does

[2016-11-18 15:43] iSazonov opened #2718 "Rewrite Microsoft.PowerShell.Utility.psm1 on C#"
Would we rewrite the cmdlets on C# from the module [Microsoft.PowerShell.Utility.psm1](https://github.com/PowerShell/PowerShell/blob/master/src/Modules/Shared/Microsoft.PowerShell.Utility/Microsoft.PowerShell.Utility.psm1) ?

- [x] Get-FileHash #2731
- [x] New-TemporaryFile #2732
- [x] New-Guid #2733
- [x] Format-Hex #2730
- [x] Import-PowerShellDataFile #2734
- [x] ConvertFrom-SddlString #3212

[2016-11-18 16:34] powercode opened #2719 "Add ErrorMessage parameter to ValidatePatternAttribute"
The errors provided when a parameter validates a [ValidatePattern("somehorribleregex")] is hard to interpret for the user.

It would be useful to be able to provide a human readable error message when the validation fails. Regexs are powerful, but not readable.

Any yes, even if localization may be an issue, it is still better than the regex. :)
[code]

[2016-11-18 17:33] rkeithhill commented on #2718
I would like to rewrite Format-Hex as a C# cmdlet.  I have written this cmdlet in C# for PSCX. I would also like to add support for `-Count` and `-Offset` parameters as well.  That said, I've really got to get Plaster 1.0 out the door first.  :-)

[2016-11-18 18:57] iSazonov commented on #2718
@rkeithhill Thanks! If PG approve this issue we open on a issue for every cmdlet and you can grab the cmdlet. :-) and discuss the new parameters.

I remember what @lzybkr  said about `Get-Uptime` that C# is better  because Powershell start will be faster.

[2016-11-18 22:00] #2543 closed

[2016-11-18 22:19] lzybkr commented on #2716
This is a reasonable change to make, but it's definitely not necessary. I would expect the resulting binary to be exactly the same, so the only benefit is to make browsing for references easier.

[2016-11-18 22:32] lzybkr commented on #2698
Much of what's needed to implement this feature is already implemented in the compiler to support the trap statement.

The generated code for a script turns into a big switch statement so we can jump to a specific statement after processing a trap.

I believe the debugger can simply compute which statement a particular line corresponds to, and set a field in the function context, then this functio

[2016-11-18 22:33] powercode commented on #2700
@powershell/powershell I can take a stab at it.

[2016-11-18 22:36] lzybkr commented on #2718
I approve.

[2016-11-18 22:36] powercode commented on #2700
All providers that can produce a child can also give us base and extension, so that shouldn't be a problem.
[code]

[2016-11-18 22:38] vors commented on #1574
Tab-completion case fixed in #2549
I'm going to close the issue, because although there could be other places, they need to be considered one by one: some of them should propagate the error as is.

[2016-11-18 22:38] #1574 closed

[2016-11-18 22:38] lzybkr commented on #2699
I believe we need new syntax to support this feature. I suggest `using strict` or something like that, but perhaps we need an RFC.

[2016-11-18 22:45] vors commented on #1616
Blocked on https://github.com/dotnet/corefx/issues/5540

[2016-11-18 22:47] vors commented on #2069
Same on Windows.
It may be a problem with Roslyn or CoreFX.

[2016-11-18 23:16] DerpMcDerp commented on #2715
To be honest, I don't understand why PowerShell formats [WarningRecord] objects as "WARNINGS: " when passed in the regular output stream in the first place because it leads to confusion thinking they're passed in the warning stream.

[2016-11-18 23:31] jianyunt opened #2720 "tests are supposed to be running under ..\publish folder"
[Appveyor test runs](https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.12-1420) on Windows has PShome path is pointing to
C:\projects\powershell\src\powershell-win-core\bin\Release\netcoreapp1.0\win81-x64\publish

However on [Travis CI test runs](https://travis-ci.org/PowerShell/PowerShell/jobs/177141026),  the PSHome path is pointing to the root folder.
/home/travis/build/Po

[2016-11-19 00:15] lzybkr opened #2722 "Get-Process $pid should suggest using -Id $pid"
The default parameter set for `Get-Process` accepts `-Name` by position.

Maybe it's just me, but I forget this all the time, and expect `Get-Process 1234` to work.

I think we can make it work in a reasonable way too. If Name is a positive integer and we do not find a process by that name, search again assuming it was a ProcessId.

Edit: instead of making this work (which might not be a good idea

[2016-11-19 00:35] #2598 closed

[2016-11-19 01:38] SteveL-MSFT commented on #2670
This probably should be a RFC

[2016-11-19 01:45] #2720 closed

[2016-11-19 02:44] powercode opened #2729 "Toolbox for scripters for common patterns"
I would like to see classes shipping with PowerShell geared towards scripters implementing advanced functions.

With common patterns I mean path processing, with or w/o globbing,  Include/Exclude filtering,
Progress management (percent complete/seconds remaining), creation of error records etc.

All these things that we write over and over again.

[2016-11-19 05:42] rkeithhill commented on #2729
You're right - it's a lot of boiler plate crap that is a PITA to have to write.  I've added snippets for some of this (primarily path processing) to the PowerShell extension for VSCode.  It seems like path processing is so common that there would be a specific `PathParameterAttribute` that would move all the grungy boiler plate code into PowerShell and provide your script's [string] or [string[]]

[2016-11-19 08:56] xoofx commented on #929
I would also prefer to keep aliases compatible across OS whenever they are valid on these platforms and use an escape character (like `^ls`) to get an implicit access to native commands, as suggested by @joeyaiello
I'm not familiar with the whole PowersShell philosophy, but what could be wrong with such an approach?

[2016-11-19 09:53] iSazonov commented on #2716
That's exactly why I want to clean it.
If PG approve, I'll do it.

[2016-11-19 09:58] iSazonov opened #2730 "Rewrite Format-Hex on C#"
As approved in #2718 `Format-Hex` should be rewritten on C#.

[2016-11-19 10:01] iSazonov commented on #2730
/cc @rkeithhill

[2016-11-19 10:07] iSazonov opened #2731 "Rewrite Get-FileHash on C#"
As approved in #2718  Get-FileHash should be rewritten on C#.

[2016-11-19 10:08] iSazonov opened #2732 "Rewrite New-TemporaryFile on C#"
As approved in #2718 New-TemporaryFile should be rewritten on C#.

[2016-11-19 10:09] iSazonov opened #2733 "Rewrite New-Guid on C#"
As approved in #2718  New-Guid  should be rewritten on C#.

[2016-11-19 10:11] iSazonov opened #2734 "Rewrite Import-PowerShellDataFile on C#"
As approved in #2718  Import-PowerShellDataFile should be rewritten on C#.

[2016-11-19 15:05] iSazonov commented on #2722
It's unbelievable but user can actually catching process with **name** `1234` and actually get a process with **Pid** `1234`. It's bad.

[2016-11-19 17:28] lzybkr commented on #2722
Right, if finding the process by name fails, only then look by id. Is that not safe and reasonable?

[2016-11-19 18:37] CheshireCat44 commented on #2463
Given the number of people coming to Linux via the Raspberry pi, this looks like a win-win for the Pi and for Powershell.

[2016-11-19 19:29] powercode commented on #2722
I think he means that there is a risk that I have been really clever and created
1234.exe.

It is not running, but when I do
[code]
I kill MySuperimportantProcess.exe, with pid 1234.

[2016-11-19 19:32] powercode commented on #2722
Maybe there should be a defaulted parameterset NameOrID with this behavior, so that you can specify -Name or -ID and _only_ get by name or by id.

[2016-11-19 20:09] nadiasvertex opened #2735 "powershell won't compile on ubuntu 16.10"
Steps to reproduce
------------------

1. Setup a fresh repo according to the instructions.
2. Install all dependencies according to instructions.
3. Build according to instructions

Expected behavior
-----------------

PowerShell binary exists.

Actual behavior
---------------

christopher@starburst:~/projects/power-shell/src/powershell-unix⟫ dotnet build --configuration Linux
Project Microsoft.P

[2016-11-20 00:27] rkeithhill commented on #2722
That won't help if the arg is specified by position but at least it A) gives a way to specify that you really want to match *just* by name and B) gives a more correct name for the parameter.

Conceivably this could be a breaking change if a script does not use the `-Name` parameter and there just happens to be a process with a name that corresponds to a PID you want Stop (or otherwise interrogate)

[2016-11-20 01:06] rkeithhill commented on #2731
BTW, any chance we could add a Get-Hash command as well that would operate on strings instead of files?  This comes in handy.  See the PSCX impl for[ Get-Hash ](https://github.com/Pscx/Pscx/blob/master/Src/Pscx/Commands/IO/GetHashCommand.cs)as an example.  Of course, if I were writing this command from scratch today, I would default to SHA256 instead of MD5.  :-)

[2016-11-20 01:51] rkeithhill commented on #2199
But didn't this sort of thing get us into trouble with curl/wget?  Wouldn't this further trick folks into thinking that by executing `rm -rf` they're using a *nix utility instead of PowerShell's `Remove-Item`?  And when I'm on Linux, `ls` and `rm` better be invoking the native Linux utilities.

So this seems to apply only to Linux folks moving over to Windows.  For that scenario, it seems better t

[2016-11-20 01:55] be5invis commented on #2199
@rkeithhill We can write a different `rm`, a different function that is parameter-compatible WITH Linux `rm`.

[2016-11-20 02:07] rkeithhill commented on #2199
I'm fine with that as long as it's in an optional module.  As a 11+ year user of PowerShell, my muscle memory doesn't include `rm -f`, `rm -rf` or `ls -al`, etc.  :-)

[2016-11-20 04:29] Daniel15 opened #2736 "Use prettier formatting for ConvertTo-Json"
The output from `ConvertTo-Json` is pretty ugly at the moment:
[code]
Results in:
[code]

The formatting is all over the place. On the other hand, pretty much every other JSON library will produce something like this:
[code]

The standard JSON.NET pretty printing (`Newtonsoft.Json.Formatting.Indented`) may be useful, as it formats the JSON "correctly".

This is my current workaround to properly fo

[2016-11-20 05:26] SteveL-MSFT commented on #2735
did you use start-psbootstrap and try start-psbuild?

[2016-11-20 05:37] SteveL-MSFT commented on #2722
The risk is similar to the discussion the committee had with (RFC0011)[https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0011-Dot-Referencing-With-Static-Integers.md] where files named as integers can produce unexpected results.  Perhaps a safe middle ground might be to just tell the user that a process with name 1234 wasn't found and that they should try `get-process -pid 1234`

[2016-11-20 05:57] Daniel15 commented on #2736
The standard JSON.NET pretty printing (`Newtonsoft.Json.Formatting.Indented`) may be useful.

[2016-11-20 06:32] Daniel15 commented on #2564
I just tested that - Yes, it still repros :( I guess the package is built for Debian 8 and can't handle the newer libraries that come with Debian Testing (Stretch).

[2016-11-20 07:15] randomvariable commented on #2684
Repinned in #2737 to the .NET 1.1 release.

[2016-11-20 07:17] vors commented on #2521
That was fixed by replacing `xargs` by powershell foreach.

[2016-11-20 07:17] #2521 closed

[2016-11-20 07:19] vors commented on #2334
@Fitzroy87 the issue is still open, which mean that it's still present in the `master` branch.

[2016-11-20 08:04] vors commented on #1979
PSGet and OneGet are separated in #2711

[2016-11-20 11:26] nadiasvertex commented on #2735
No, I followed the manual build instructions because there is no PowerShell
binary for 16.10.

On Sun, Nov 20, 2016, 12:26 AM Steve Lee <notifications@github.com> wrote:

[2016-11-20 13:27] iSazonov commented on #2722
Based on the above. This is absolutely unacceptable in the script.
And looks very tasty for user input but really requires of informing the user.
I think it makes no sense to do this for a _single_ cmdlet. Let's try to generalize the situation. This is an area of parameter binding. We now offer an alternative parameters before the input of a value, and here we need to offer alternatives after the

[2016-11-20 13:48] iSazonov commented on #2731
I agree but
Is this a breaking change or not?

[2016-11-20 15:35] stephlocke opened #2740 "Microsoft.PowerShell.Archive Cmdlets should work on typical linux compression formats"
PowerShell 5 now supports native (de)compression of zip files. It would be great if this could be extended to include:
- .tar
- .gz
- .lzma / .7z
- .bz2

Ideally, this would function recursively so formats like .tar.gz get decompressed or created.

This would make PowerShell better at handling archives from multiple systems.

[2016-11-20 15:43] ctrlbold commented on #2740
+1

[2016-11-20 19:18] vors opened #2741 "Package build fails on macOS in fpm"
From https://travis-ci.org/PowerShell/PowerShell/jobs/177477612
[code]

I could not repro it locally on mac.

[2016-11-20 20:09] powercode commented on #2567
I have pushed a version where I have maintained logical functionality, i.e. no functional changes.

Do you want that as a separate PR, or should I merge the work to use variable values into this?

[2016-11-20 20:33] vors commented on #2740
Great suggestion!
Per #1979 we are working on consuming the Archive module from it's own repo https://github.com/PowerShell/Microsoft.PowerShell.Archive

Can you, please, open an issue there?

[2016-11-20 20:44] Daniel15 opened #2742 "Passing "-ExecutionPolicy Bypass" throws "Aborted""
I;m trying to update the [Jenkins PowerShell plugin](https://wiki.jenkins-ci.org/display/JENKINS/PowerShell+Plugin) to handle Linux as well as Windows. At the moment, it passes `-ExecutionPolicy Bypass` as a command line parameter. While testing, I noticed that this causes PowerShell 6.0 on Linux to throw an "Aborted" error and exit with error code 134:

[code]

I know that script signing currentl

[2016-11-20 20:53] vors commented on #2740
Opened #2743 to decouple it

[2016-11-20 21:39] rkeithhill commented on #2731
`Get-Hash` doesn't exist right now so no worries about a breaking change.  And the default Algorithm for `Get-FileHash` is SHA256.  My only point is that it would be nice to have a cmdlet that hashes strings instead of files.

It is a drag that if you want to hash a string, you have to write it to a file.  OK that is not entirely true, you *can* hash a string directly but not many folks will figur

[2016-11-20 23:04] randomvariable opened #2745 "NativeCommandProcessor not TTY compatible"
NativeCommandProcessor no longer presents a TTY device to native commands, at least on .NET Core 1.1.

This prevents the use of repls, screen and tmux on UNIX based systems.

The problem appears to have been introduced in https://github.com/PowerShell/PowerShell/commit/b93042670f15aeb1b473ab420f4421ddc3be5b78

Steps to reproduce
------------------
1. On Linux, run `Start-DevPowerShell`
1. Execute

[2016-11-21 03:18] iSazonov commented on #2731
@rkeithhill Great idea!
So maybe make new `Get-Hash` cmdlet with support file and string sources and make `Get-FileHash` as wrapper for it?

[2016-11-21 04:09] iSazonov commented on #2199
Up to now I see beginners in Powershell and never heard from them that they find it difficult to understand Powershell. Powershell is great because it has clear idea and it's strange to refuse this and turn it into a half-baked bash. We all once migrated from VBS and no one simulates the VBS in Powershell.

[2016-11-21 04:43] iSazonov commented on #2670
Are you talking about the run-time or compile-time?

[2016-11-21 04:56] lzybkr commented on #2670
Runtime.

[2016-11-21 05:32] iSazonov commented on #2670
@lzybkr  Thanks!
Means these new experimental features should conflict with existing ones. Expose breaking changes?  It seems it is somewhere near `Set-StrictMode`.

[2016-11-21 05:58] iSazonov commented on #2219
@vors  This is interesting. Could you clarify: this requires not only changes in the parser?

[2016-11-21 06:38] vors commented on #2219
It will be at least these places:
- Parser
- ASTs
- PSType.cs

[2016-11-21 06:51] iSazonov commented on #2219
@vors Thanks! I went thinking :-)

[2016-11-21 07:26] powercode commented on #2734
@powershell\powershell grabbing

[2016-11-21 07:43] iSazonov commented on #2733
Now it's just a wrapper for `[system.guid]::NewGuid`.
It would be good to add new parameters:
`-Empty` to get `[system.guid]::Empty`
`-Guid` as [string] (with `ValueFromPipeline`)
`-NewGuid` as default

[2016-11-21 08:38] iSazonov opened #2746 "Commit "Merge remote-tracking branch 'upstream\master'""
Today after sync with Powershell/master I get local a commit  285f2bfbe216ee6ada27fbd161fe40fe26ab4f91 Merge remote-tracking branch 'upstream\master'
Is it ok? The name is strange and no link to PR.

![commit](https://cloud.githubusercontent.com/assets/22290914/20475847/3fc66b28-afe7-11e6-9eb5-fc5776a0e61f.png)

[2016-11-21 08:55] KirkMunro commented on #2199
@HemantMahawar To be clear, which part of this did the @PowerShell/powershell-committee agree is useful?

[2016-11-21 10:34] stephlocke commented on #2740
Thx @vors!

[2016-11-21 10:34] #2740 closed

[2016-11-21 16:36] SteveL-MSFT commented on #2199
@KirkMunro the committee agreed that user defined parameter aliases would be useful for interactive use (aliases should never be used in scripts and we should have a corresponding rule for this) where `rm` is aliased to `remote-item` and `-rf` is aliased to `-recurse -force`.  seemsl like this should be a RFC to get more feedback.

[2016-11-21 17:23] powercode commented on #2596
@powershell/powershell starting to work on this.

[2016-11-21 17:27] joeyaiello commented on #2746
Looks just like @steve forgot to rebase instead of merge :)

Unless a smarter git-wiz than me sees something wrong here, this should be okay to close.

[2016-11-21 17:28] joeyaiello commented on #2718
@iSazonov I hope you don't mind I updated your comment with the issue numbers for each so they get auto-checked as those get closed :)

[2016-11-21 17:42] joeyaiello opened #2747 "Improve error message for Get-Service with an invalid ComputerName"
Filed on UserVoice: http://windowsserver.uservoice.com/forums/301869/suggestions/17193962

The error message for `Get-Service` returns a `NoServiceFoundForGivenName` exception even when the problem is an invalid `-ComputerName`, potentially misleading the user.

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------
[code]

Environ

[2016-11-21 17:53] powercode commented on #2578
From my point of view, this is done. Are there any remaining issues?

[2016-11-21 17:54] SteveL-MSFT commented on #2578
@powercode once the PR is merged, this issue should be closed

[2016-11-21 17:58] powercode commented on #2505
@daxian-dbw Found anything?

[2016-11-21 18:04] SteveL-MSFT commented on #2747
We should probably keep -computername for compat reasons, but maybe consider making it use PSRP under the covers

[2016-11-21 18:11] vors opened #2748 "Flaky hang on Travis during class tests run"
I have seen this situation at least 4 times recently

![image](https://cloud.githubusercontent.com/assets/816680/20494642/b8b218a8-afd2-11e6-8e6c-176213db8733.png)

The worst part that it's not consistent and happens sporadically with about 20% chance.
It affects CI and master branch builds.

The particular tests is different, but it's always during class language tests.

[2016-11-21 18:11] daxian-dbw commented on #2745
This is a bug in redirection calculation, at [redirectInput = this.Command.MyInvocation.PipelinePosition > 0;](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/NativeCommandProcessor.cs#L1189). `PipelinePosition` starts with 1 index not 0 index. I will submit a PR soon.

[2016-11-21 18:48] joeyaiello commented on #2747
@SteveL-MSFT maybe, but I think that's a much larger discussion (and body of work) than the issue here.

[2016-11-21 18:49] SteveL-MSFT commented on #2746
Uh, my bad.

[2016-11-21 18:49] #2746 closed

[2016-11-21 18:50] joeyaiello commented on #2736
@SteveL-MSFT @HemantMahawar are you guys okay adding `6.0.0` milestone to this one?

[2016-11-21 19:08] powercode commented on #2733
Starting work.
@powershell/powershell assignment?

[2016-11-21 19:14] rkeithhill opened #2751 "Is it worth writing up an RFC on adding new escape characters?"
Given the inherent breaking changes between Windows PowerShell 5.x and PowerShell Core, especially when running on Linux and macOS, can we consider adding a few new escape characters?

With the addition of ANSI esc sequences to the Windows console host, and existence of the same on terminals in Linux and macOS,  I would like to have the following esc chars added:
[code]
OK, so that last one is a s

[2016-11-21 19:32] lzybkr commented on #2722
This dovetails nicely into the parameter alias discussion in #2199.

If a user can extend the parameter metadata for other commands, they can add aliases or even an `ArgumentTransformationAttribute`, which would solve this problem nicely without explicitly opting into the potentially destructive and possibly surprising behavior that I'd like.

[2016-11-21 19:33] lzybkr commented on #2716
I implicitly approved it when I said it's a reasonable change to make.

[2016-11-21 19:41] rkeithhill commented on #2722
Regardless of the outcome here, I'd love to see more PowerShell cmdlets do this:

I like it when I get that sort of helpful message on Ubuntu e.g. when I run a command that isn't available, Ubuntu tells how to install that command with `apt-get`.

[2016-11-21 19:44] lzybkr commented on #2751
I suppose it might break some script obfuscation techniques:

[code]

But it does seem like a valuable addition.  We don't need the RFC just yet, but I tagged this for committee review.

[2016-11-21 19:53] SteveL-MSFT commented on #2736
@joeyaiello considering we're targeting cloud/REST scenarios, it makes sense

[2016-11-21 20:29] daxian-dbw commented on #2505
@powercode Sorry that I was distracted by other things and didn't get back to this issue. I will post my update by end of this week.

[2016-11-21 21:07] joeyaiello commented on #2751
I'm also okay with ``` `e``` and ``` `u``` without much discussion. Not sure about ``` `_```, but we'll discuss it in our next committee meeting.

[2016-11-21 21:25] lzybkr commented on #2733
I disagree about adding `-Empty` and `-Guid`.  Neither seem to fit with the `New` verb, and converting a string to a `Guid` happens where necessary automatically, at least I think it does.

[2016-11-21 21:26] rkeithhill commented on #2751
Me neither.  Just throwing it out because I do think line continuation in PowerShell is one of its weaker areas.  At one time, I was suggesting just using `_` until I realized that duh, `_` is a valid function name. :-)

[2016-11-21 21:40] powercode commented on #2733
I agree about -Guid. As Guids are values without identity, you create then with new-guid. Why not provide a way to create the sentinel guid?

[2016-11-21 22:05] lzybkr commented on #2578
We're just waiting on final sign-off from @LeeHolmes.

[2016-11-21 22:27] powercode commented on #2722
How about something like this?

[code]

[2016-11-21 22:34] powercode commented on #2751
Maybe the line continuation problem is worthy of an issue of it's own?

[2016-11-21 22:40] powercode commented on #2578
How long does it take for a fix like this to reach a FullClr release?

I have a startup time of PowerShell that often exceeds half a minute, since our IT department added ExecutionPolicy ByPass in a GPO.

[code]
It really is painful!

[2016-11-21 22:43] latkin opened #2754 "InFile parameter of Invoke-WebRequest doesn't work"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Windows Powershell works as expected - POSTs the data in the file:
[code]

Actual behavior
---------------

On both Windows and OSX, Powershell Core encounters `ObjectDisposedException` processing the file.

Windows:
[code]

OSX
[code]
Environment data
----------------

[code]

[2016-11-21 23:27] Francisco-Gamino commented on #951
This issue has been fixed.

[2016-11-21 23:27] #951 closed

[2016-11-21 23:28] Francisco-Gamino commented on #951
This issue has been fixed.

[2016-11-21 23:28] SteveL-MSFT commented on #2578
@powercode the change to replace the WMI query was accepted into servicing already so that should be available in Dec (I believe early flights can get it in Nov as preview).  The caching code you provided is not planned to be taken back for PS5.

[2016-11-21 23:43] powercode commented on #2578
Well, at least there will be an improvement!

[2016-11-21 23:45] SteveL-MSFT commented on #2466
This should be fixed by https://github.com/PowerShell/PowerShell/pull/2538

[2016-11-21 23:58] SteveL-MSFT opened #2756 "Unhandled Exception running tests under opencover"
Steps to reproduce
------------------
[code]

Might be related to https://github.com/PowerShell/PowerShell/pull/2640

Expected behavior
-----------------
Successfully complete execution of tests

Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2016-11-22 00:02] #2745 closed

[2016-11-22 04:31] iSazonov commented on #2733
Some applications use GUID as a unique identifier. In this case, the identifier is a string. So really, we can get a stream of strings (ex. from logs), that we want to convert to `[guid]`. And yes this is more for `ConvertTo-Guid` but I looked through `New-*` cmdlets and many of them do a similar operation (string -> object). Most likely the new `ConvertTo-Guid` cmdlet is redundant and perhaps it

[2016-11-22 05:07] iSazonov commented on #2718
auto-checked? Good! :-)

[2016-11-22 05:19] chuanjiao10 commented on #2751
This is the python2 misconception: in the same script into a variety of coding, it is easy to garbled.

BOM header + unicode,BOM header + utf8,is good enough

[2016-11-22 05:25] iSazonov commented on #2722
Looks good, if it only is in interactive mode but not in script.

[2016-11-22 07:25] lw-schick opened #2761 "Get-Service cmdlets needs a Credential parameter"
Copied from https://connect.microsoft.com/PowerShell/feedback/details/567007/get-service-cmdlets-needs-a-credential-parameter

I really would like to have this feature!

[2016-11-22 17:27] powercode opened #2763 "Extend System.Diagnostics.Process with a ParentProcess property"
It is unreasonably obscure to get the parent of a process via PowerShell today.
`Get-Command -Noun Process` will not give you anything, and you have to know that
there is a  `ParentProcessId` on `Get-CimInstance win32_process`. Even when you know that, you have to understand recycling of process ids and that you have to check the start time of the processes to actually know if it is your parent.

[2016-11-22 17:55] SteveL-MSFT commented on #2761
Rather than add more remoting parameters, maybe this is the issue where we discuss having cmdlets that support -computername use PSRP instead of .net remoting.  Alternatively, perhaps we should deprecate -computername and recommend use of invoke-command instead of having partial remoting support in some cmdlets and not others.

[2016-11-22 20:00] daxian-dbw opened #2764 "Add-Type failed to create a type that implements IWebProxy"
This is a regression introduced by .NET Core 1.1 preview release libraries. It also happens on `alpha.12` release.

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Succeeds

Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2016-11-22 20:44] KirkMunro commented on #2722
This reminds me of Get-Service.  Get-Service has -Name and -DisplayName in different parameter sets, yet you can use either when you use the -Name field.

e.g.
[code]

I agree with @lzybkr's original issue, and wish Get-Process worked this way as well because it would be very convienient; however, in this case I would be satisfied with a shorthand alternative made capable via parameter alias modif

[2016-11-22 21:17] powercode commented on #2763
I can't find what `src\System.Management.Automation\engine\Types_Ps1Xml.generated.cs ` is generated from.
Any hints?

[2016-11-22 21:17] powercode commented on #2763
Or was it generated once upon a time, but isn't any longer?

[2016-11-22 21:57] daxian-dbw commented on #2764
@bmanikm and I talked about why we didn't catch it earlier, and we find
1. PowerShellGet tests in PowerShellGet repo are not running on the latest powershell core release -- it's still running on `alpha.11` in PowerShellGet repo.
2. This issue affects scenarios related to proxy, and only throws exception when explicitly importing PowerShellGet -- when it's loaded by auto-loading, the exception get

[2016-11-22 22:31] powercode commented on #2763
Initial (working on WinFull) at https://github.com/powercode/PowerShell/tree/process-parentpid

What's the deal here regarding platform differences?
I'm not really well versed enough to say how to implement this on Linux/maxos.
Pointers?

[2016-11-22 23:58] rkeithhill commented on #1995
This issue just came up for us today when someone tried the following command in PowerShell and was dissing PowerShell when it didn't work but CMD did:
[code]
From PSCX echoargs, wmic.exe sees this:

[code]

So what API does CMD.exe use to invoke the process / form the command line?

[2016-11-23 00:02] MaximoTrinidad commented on #2654
Date: 11/22/2016 - 06:55am
Latest build = v6.0.0-alpha.13
OS = Ubuntu 16.04.1

Running any command running the progress-bar it will clutter the screen without clearing.

Image showing I ran two oneliners:
Get-Help About* | Select Name
and
Update-Help -Force

The screen didn't cleared leaving previous progress-bar info.

![alph13_progbarissue](https://cloud.githubusercontent.com/assets/19892435/205

[2016-11-23 00:04] be5invis commented on #1995
@rkeithhill `CreateProcessW`. direct call. really.

[2016-11-23 01:40] daxian-dbw commented on #2748
I saw this too in a recent PR.

[2016-11-23 07:11] be5invis opened #2768 "Make `ls`, `cp`, `rm`, `mv` parameter-to-parameter compatible to Unix, but typed"
Make them a separate function (maybe `UnixCompat-ls`, etc) takes UNIX parameters and returns a PS-flavor result. It can support PS parameters either, if possible.
This will be a final solution for PowerShell/PowerShell-RFC#16.

[2016-11-23 07:15] be5invis commented on #2768
#1999 may be an alternative way

[2016-11-23 08:08] oliswiss opened #2769 "Import-DSCResource selects "Never run" for class based resources signed by unkown publishers"
If the Execution Policy is set to AllSigned and you try to import a class based resource signed by an unkown publisher, Import-DSCResource will opt to "Never run" software from this publisher.
Since the default option for the authenticode prompt is "Do not run", this behaviour is unexpected.

"Never run" causes problems in that it will import the certificate in question in to the Disallowed store

[2016-11-23 12:48] iSazonov commented on #2219
@PowerShellTeam Please assign me.

[2016-11-23 14:53] eamodio opened #2770 "Custom prompt with newline on macOS gets corrupted on entry"
Steps to reproduce
------------------

1. Have a custom prompt with a new line:
[code]
1. All looks fine, but as soon as you start to type, the `>` will start being replaced by the line above (assuming you typed q):
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

macOS Sierra `10.12.1 (16B2555)`

[code]

[2016-11-23 17:19] #2716 closed

[2016-11-23 17:29] sl-fedegiust opened #2772 "Enter-PSSession gives error after credentials"
Hi guys,

I just downloaded your OS X version of powershell.

I tried to enter a PSRemote session on both a computer on my LAN and a remote computer and the same thing happened. It connects and asks for the password, after I press enter I get an error.

This is the command I've tried

``Enter-PSSession -ComputerName COMPUTER -Credential USER``

This is the crash report
[code]

[2016-11-23 18:43] Jaykul commented on #2581
How about just a `-NoOverwrite` to not overwrite target files, period?

[2016-11-23 19:29] 0byt3 opened #2774 "Unable to use Invoke-WebRequest or Invoke-RestMethod on a service with a self-signed cert"
I can't find a way in PowerShell Core to ignore certificate errors when using Invoke-WebRequest or Invoke-RestMethod.
I can only find a way to do it on PowerShell 3-5 .

Here is a link to the same reported issue:
https://github.com/PowerShell/PowerShell/issues/1945

However, despite it being closed there is no fix/workaround. User ffeldhaus says something about a new variable $SkipCertificateCheck

[2016-11-23 19:37] rkeithhill commented on #2581
I think `-NoClobber` would be more idiomatic.

[2016-11-23 19:43] rkeithhill commented on #2774
Try alpha.13 that was released yesterday.  These two cmdlets now have a `-SkipCertificateCheck` switch parameter.

[2016-11-23 20:06] daxian-dbw opened #2775 "Need to update `tools/download.sh` after the PowerShellGet is unblocked in alpha.14 release"
https://github.com/PowerShell/PowerShell/blob/master/tools/download.sh was not updated in alpha.12 release. We cannot update it now to alpha.13 because the Add-Type issue (#2764) is causing problem to PowerShellGet, and PowerShellGet repo is depending on this script to setup Travis test environment. So we need to update this file with alpha.14 after the issue is resolved in alpha.14 release.

[2016-11-23 20:22] 0byt3 commented on #2774
Fantastic.

Thanks.

[2016-11-23 20:22] #2774 closed

[2016-11-23 23:28] mirichmo opened #2777 "Get-CimInstance fails on Win7-x86 when run on Win 7"
This issue only appears when the Win7-x86 version of PowerShell Core is run on Windows 7. Windows 8 and later properly handle the situation. The problem is that the OS is not properly identifying the API set that contains GetCurrentThread(). Microsoft.Management.Infrastructure.Native.dll lists `api-ms-win-core-processthreads-l1-1-2.dll` as a dependency and this is properly resolved in most version

[2016-11-24 01:54] vors opened #2779 "PS class cannot have two methods on the same line"
Steps to reproduce
------------------

[code]

Motivation:

It's allowed to have properties on the same line:

[code]

Expected behavior
-----------------

No error

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2016-11-24 02:28] lzybkr commented on #2779
Just like C#, a semi-colon is not needed, so the error (which could be better) is expected.

[2016-11-24 02:31] vors commented on #2779
Oh indeed.

I'm constantly having troubles with this.
It feels very natural to put `;` between things, when you are trying to write one-liner.

Could we support this syntax?

[2016-11-24 03:23] lzybkr commented on #2779
I don't think it's worth it - you'd need to represent that empty statement somehow in the AST which I think is not worth it.

[2016-11-24 04:29] #2779 closed

[2016-11-24 04:44] rkeithhill commented on #2730
Where should this cmdlet go? I was thinking it would go in `PowerShell\src\Microsoft.PowerShell.Commands.Utility\commands\utility\FormatAndOutput\format-hex\format-hex.cs`?  Is that the right place?

[2016-11-24 06:13] iSazonov commented on #2730
Yes. Looks good.

[2016-11-24 06:35] iSazonov commented on #2763
Any hints?

The file's history say that you can modify it.

[2016-11-24 07:54] iSazonov commented on #2763
I'm not really well versed enough to say how to implement this on Linux/maxos.
 Pointers?

Start from [libpsl-native getcurrentprocessorid](https://github.com/PowerShell/PowerShell/blob/8e3861a64bfc5a64bbd84c9a7d351381b658ec6b/src/libpsl-native/src/getcurrentprocessorid.cpp)

I think you can easy add and use [getppid](https://linux.die.net/man/2/getpid)

[2016-11-24 10:14] m8ram opened #2780 "single quote in here-string causes TerminatorExpectedAtEndOfString in V5.0"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
A string containing a single-quote, a double quote and another single quote should be printed to stdout.
According to Powershell "[about quoting rules](https://technet.microsoft.com/en-us/library/hh847740.aspx)":
A here-string is a single-quoted or double-quoted string in which quotation marks are interpreted literal

[2016-11-24 13:54] idleberg opened #2781 "Add -NoWrap flag"
By default, all output produced by PowerShell is wrapped at 80 characters.  Would it be possible to add a flag that disables this behaviour? There are cases when this makes parsing the output by third-party software much easier.

[2016-11-24 14:13] MarvTheRobot opened #2783 "Suggestion: Export-PowerShellDataFile CmdLet"
While working with DSC, I use PSD1 files quite a lot; the main use, at present, is

- Have a 'RoleInformation.psd1' that details information about a type of server/node. This file is the same irrespective of enviroment (Dev, Test, Staging, Live, etc)
- Have a 'NodeData.psd1' that contains a list of servers, collected from the environment listing their name, cert thumbprint and cert path (as each h

[2016-11-24 14:30] iSazonov commented on #2780
I don't see TerminatorExpectedAtEndOfString in latest builds of Windows and Powershell 6 but the problem persists as incomplete input.

[2016-11-24 14:38] iSazonov commented on #2781
Could you clarify your question? Samples?

Powershell auto detect a console width. So you need configure a console.
Also you can do `Out-File -Width`

[2016-11-24 14:55] idleberg commented on #2781
Consider this simple example:

[code]

Since there is no `HKLM:\` on Linux or macOS, PowerShell will report an error like this the following

[code]

I don't want to wrap/unwrap the output generated by my scripts, but the default PowerShell output, such as error messages.

I'm using iTerm2 with `bash` as my main shell. `bash` respects my window-width for its line-breaks, it's only `powershell` tha

[2016-11-24 16:16] idleberg commented on #2781
I think we can close this issue. It turned out that `bash` works fine and `fish` didn't.

[2016-11-24 16:32] idleberg commented on #2781
I did some more testing at home. Everything works fine in `bash`. I forgot to restart iTerm2, so in my previous post, I was still running `fish` as my shell. In another, previously unmentioned case, I was spawning `powershell` in Node, where it also wrapped at 80 characters. By default, the Node console wraps at 80 characters, so this kinda makes sense. However, when spawning other executables, th

[2016-11-24 17:48] kim0 opened #2784 "Cannot Import-Module AzureRM on PowerShell Core"
Steps to reproduce
------------------
* Install powershell on macOS, then `install-module azurerm`
* Attempt to `import-module azurrm.Dns` or any other module

Expected behavior
-----------------
* Module is successfully imported

Actual behavior
---------------
* Exception as below
[code]

Environment data
----------------

[code]

[2016-11-24 17:52] KirkMunro commented on #2722
Just to add to this, where this particular issue drives me the most is that Stop-Process uses a default parameter set that requires Id rather than name.  I *always* try something like this first:

[code]

Then I _sigh_, then I re-run the command, explicitly using the -Name parameter.

I would much prefer if this set of commands simply had a consistent rule among them that made ad-hoc use more pala

[2016-11-25 03:38] iSazonov commented on #2781
@idleberg Thanks for tests!
I believe that you should close this issue and open a new one if you think that Powershell is not working as it should. Please only specify the exact Powershell version, your system's name and version, environment (shell and so on), and your test actions. The more precisely you describe the situation, the easier it will be to implement the fix.

[2016-11-25 07:04] #2781 closed

[2016-11-25 08:52] dragonwolf83 commented on #2199
Limiting to interactive scenarios would be most important for this to work. I'm not a Bash user. If I inherit a script that someone wrote with Linux aliases, it would make it much harder to understand the script.

PowerShell needs to maintain consistency with scripts across platforms in order to make it easier for scripters to maintain in the long-term.

[2016-11-25 11:48] PetSerAl commented on #2780
@iSazonov Try it like that:
[code]
so it do not expect addition input.

[2016-11-25 12:49] iSazonov commented on #2780
@PetSerAl Thanks! You are right.

From[ about quoting rules](https://technet.microsoft.com/en-us/library/hh847740.aspx?f=255&MSPPError=-2147217396):

    In the here-string, all quotation marks are interpreted literally.
    For example:

Really a incomplete input is here.

In fact, this is a bug.

[2016-11-25 23:29] StefanScherer commented on #2571
@brycem Thank you for your Dockerfile to install the Windows 10 SDK. I just solved building a [NanoServerApiScan Docker image](https://github.com/StefanScherer/dockerfiles-windows/tree/master/nanoserverapiscan) with it.

[2016-11-25 23:48] powercode commented on #2219
Are we sure this is the syntax we want?
How does it interact with existing syntax?
What about the following:
[code]

There's been a lot of work done i C# to handle a lot of these cases, and I think it is worth to take some time to think through what we want to achieve here. And I think there is a lot to learn from other languages here.

Let us list and discuss the scenarios before jumping to imple

[2016-11-26 00:55] clintharrison opened #2785 "Stop-Job on PSEventJob for System.Timers.Timer Elapsed occasionally waits forever"
Steps to reproduce
------------------
Run the following snippet:
[code]

Expected behavior
-----------------
Both timers should stop and input should return to PowerShell as normal, outputting:
[code]

Actual behavior
---------------
The PowerShell process hangs (usually, but not always) while stopping timerA, and the process must be killed.
[code]

Environment data
----------------
[code]

Unfort

[2016-11-26 10:22] iSazonov commented on #2219
@powercode I am full agree.
Now I am preparing the **base** for these enhancements. I am on parser step and completed a parser for `get/set {...}` (Parser error recovery takes a long time).
I can inform you that the original code already does implicit get/set and backing field, and attribute processing.
Now I plan to do as soon as possible a PR with the parser and get feedback. Then do next step a

[2016-11-26 21:20] Liturgist commented on #1809
Same result using v6.0.0.0-alpha.13 on Ubuntu 16.04.

[2016-11-26 21:24] kittholland commented on #1755
Bug is due to empty name for json dictionary entry:

Example from the project.lock.json:

  "projectFileDependencyGroups": {
    "": [
      "System.Management.Automation >= 6.0.0-*"
    ],

thrown from line 4474 in MshMemberInfo.cs

                    if (String.IsNullOrEmpty(name))
                    {
                        throw PSTraceSource.NewArgumentException("name");

[2016-11-27 06:57] daxian-dbw commented on #2505
@powercode There are 2 problems in the module loading:

1. `Import-Module modrepo -Force` doesn't reload the nested module of `modrepo` (`Sub.psm1` in this case) when `modrepo` was already loaded. So when running `Import-Module modrepo -Force` would reuse the same `Sub` module loaded previous, even though that module file had been changed.
2. The module analysis result is stored in a [cache](https

[2016-11-27 16:13] jgraafstra commented on #2650
I added comments into the OneGet bug that was filed   -this issue appears to be resolved with version 6.0.13 of Powershell

[2016-11-27 17:24] lucdekens opened #2790 "[String] Split method overloaddefinitions order causes error"
The Split method shows OverloadDefinitions in this order
OverloadDefinitions

string[] Split(char separator)
string[] Split(char separator, System.StringSplitOptions options)
string[] Split(char separator, int count, System.StringSplitOptions options)
string[] Split(Params char[] separator)
string[] Split(char[] separator, int count)
string[] Split(char[] separator, System.StringSplitOptions optio

[2016-11-27 23:55] alx9r commented on #2505
Thank you for sharing your analysis @daxian-dbw.  I've been trying to understand this behavior myself, and your last post helps.

Can you confirm that the correct behavior for `Import-Module -Force` is to reload the module and its nested modules *regardless* of whether any module file has changed?  This wasn't clear from your last post.  Modules can keep all manner of internal state.  Intuitively

[2016-11-27 23:57] astla42 commented on #2770
I'm having a similar issue, with a custom prompt() function and Write-Output $outputStr -NoNewLine.

## Expected Behavior
`(0) /Users/aaron # <insert command here>`

## Actual Behavior
`PS>               <insert command here>`

## Steps to reproduce
Powershell profile with this prompt:

    function prompt() {
        $outputStr = '('
        $outputStr += $(Get-History).Count
        $outputStr +

[2016-11-28 00:10] rkeithhill commented on #2770
@astla42 I think you have an error in your prompt function  Write-Output does not take a -NoNewline parameter.  You probably meant to use Write-Host.  However, you can simplify your prompt to:
[code]
Folks use Write-Host to get colored text in their prompt e.g.:
[code]

[2016-11-28 00:27] astla42 commented on #2770
Yep, seems like I was doing that part wrong. The NoNewLine was leftover from other testing with my profile on Windows, which has more detail (such as connected vCenters, from PowerCLI) and colors for more readability. I was also testing between write-host and write-output, which is where that came from.

[2016-11-28 07:33] iSazonov commented on #2505
It would be good to have two possibilities:
1. Reload only changed module(s) and submodules based on `LastWriteTime`
2. Force reload module(s) and submodules regardless of the `LastWriteTime`

[2016-11-28 14:01] erwinwildenburg commented on #1794
The same happens when running from .NET Core on Windows.

[2016-11-28 16:27] kittholland opened #2791 "Enable Catch by FullyQualifiedErrorID"
The FullyQualifiedErrorID as described in https://msdn.microsoft.com/en-us/library/ms714465(v=vs.85).aspx is used: "for scripts that handle specific error conditions with specific error handlers."

Currently this can be accomplished with conditional logic such as a Switch ($PSItem.FullyQualifiedErrorID) inside a general Catch block, but it would be nice if the FullyQualifiedErrorID were treated as

[2016-11-28 16:29] alx9r commented on #2505
@iSazonov

Can you share an example use case this behavior would be useful for?

[2016-11-28 16:43] rkeithhill commented on #2791
Perhaps this is an area where PowerShell could borrow from C# and have exception handling filters e.g.
[code]
Although that is starting to feel a bit advanced for a shell scripting language.  :-)

[2016-11-28 16:49] JohnLudlow opened #2792 "DSC Push mode: DSC does not wait for reboots to complete in all cases"
Steps to reproduce
------------------
1. Prepare two machines (not domain joined) with supported versions of Windows and PowerShell 5.1
   * One will be the 'DC' machine. the other will be the domain client
   * Configure the LCMs like so:

[code]
2. Define a configuration which
   * uses xADDomain to configure a domain on the 'DC'
   * uses DependsOn/WaitForAll or xWaitForDomain to wait for the p

[2016-11-28 17:03] pcgeek86 opened #2793 "Add Windows container image for PowerShell Core"
On the Docker Hub, there are automated builds for Linux container images, however there's no container image to run PowerShell Core on the Windows platform. We should provide a new container image tag for `microsoft/powershell:nano`, or similar.

![image](https://cloud.githubusercontent.com/assets/466713/20677890/eadc47ac-b551-11e6-84b3-d2d9f29b2711.png)

Cheers,
**Trevor Sullivan**
Docker Captain

[2016-11-28 17:04] JohnLudlow commented on #2792
BTW, if any more information is required, please just ask

Thanks!

[2016-11-28 17:18] kittholland commented on #2791
to me, a possible simple syntax would be:

catch 'NoServiceFoundForGivenName,Microsoft.PowerShell.Commands.GetServiceCommand'
{ }

[2016-11-28 17:19] mirichmo commented on #2772
@paulcallen Can you please take a look?

[2016-11-28 17:34] vors commented on #2520
Since we are currently consuming nuget package with psm1 file and owning it, I think it would be better to leave it open until it's fixed.

[2016-11-28 17:39] vors opened #2794 "We don't upload all PR artifacts in AppVeyor CI"
Steps to reproduce
------------------

Take any PR build, i.e.
https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.12-1515

Expected behavior
-----------------

We build all artifacts

Actual behavior
---------------

We fail to build them and don't fail the build
![image](https://cloud.githubusercontent.com/assets/816680/20679110/6396e728-b54e-11e6-8c02-9be3d0596382.png)

[2016-11-28 17:53] SteveL-MSFT commented on #1755
@kittholland thanks for looking into this, best as I can tell per http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf, an empty string as the name is allowed and works in javascript.  I guess the next step is to determine if the issue is in newtonsoft json parser.

[2016-11-28 17:54] kittholland commented on #1755
From what I could see in the debugger, newtonsoft was OK with it, but converting the Jobject into a PSObject failed because the name was empty.

[2016-11-28 18:01] SteveL-MSFT commented on #1755
Ok, that makes sense (on why it failed).  A HashTable will accept an empty string key, so it seems we should have PSObject support it as well.  @kittholland are you going to work on a fix?

[2016-11-28 18:04] kittholland commented on #1755
I have not looked deeply into what would be required, but I can give it a try.

[2016-11-28 18:48] lzybkr commented on #2791
I like this idea and the proposed syntax.

Some thoughts/questions:

* Multiple strings should be allowed, like `catch "aaa","bbb"`
* Should we support wildcards, e.g. `catch "*GetServiceCommand"`

[2016-11-28 19:06] lzybkr commented on #2790
We will likely have to call this by design.

It looks like .Net added some overloads to `String.Split` - I've listed the interesting ones here:

[code]

The second one is new. PowerShell ranks conversions of each argument to try and disambiguate which overload you really meant.

Because PowerShell tries extra hard to convert anything to anything, we needed a way to disambiguate overloads in a reas

[2016-11-28 19:31] daxian-dbw commented on #2505
@alx9r Thanks for the thorough pester tests!

I believe `Import-Module -Force Foo` should works the same as `Remove-Module Foo -Force; Import-Module Foo`, and that means it should remove the `Foo` module and its nested modules, and then import it again.

I played with your pester tests and found that the root module with a class definition does get reloaded with `Import-Module -Force`, however, th

[2016-11-28 20:26] lucdekens commented on #2790
Thanks Jason, I can live with that explanation, sounds indeed "by design".
And besides casting, to force the intended overload, I can't think of a good solution either.

But it can cause some not-so-obvious errors.

The Crontab demo module (line 38 in Crontab.psm1) suffers from such an error for example.
At least the Crontab demo would need to be corrected.

[2016-11-28 20:35] oising commented on #1999
I'm not sure if it's generally known (probably not) but native commands can already emit typed object(s) consumable by PowerShell in the line-oriented textual CliXml format, but it requires that the first line to be the magic string `#< CLIXML` -- there's a space between the `<` and `CLIXML`.

[2016-11-28 20:39] lzybkr commented on #2790
Fortunately the `-split` operator avoids the need for a cast.

Thanks for reporting the error in crontab - here is the fix: https://github.com/PowerShell/PowerShell/pull/2796

[2016-11-28 20:39] #2790 closed

[2016-11-28 20:57] SteveL-MSFT commented on #2793
I thought https://github.com/PowerShell/PowerShell/pull/2495 addressed this?  @brycem

[2016-11-28 21:42] andschwa commented on #2735
@nadiasvertex did you follow [these instructions](https://github.com/PowerShell/PowerShell/blob/master/docs/building/internals.md#type-catalog)?

[2016-11-28 23:01] alx9r commented on #2505
@daxian-dbw

You're welcome. :)

That sounds like good behavior to me.

Interesting.  I've [expanded the test matrix to cover the different reloading methods](https://gist.github.com/alx9r/7d3c220163bf55daca6fcc544c07ee27).  `Import-Module -Force` definitely behaves different from `Remove-Module -Force; Import-Module`.

That explains a good chunk of the problems I've seen related to module reloadi

[2016-11-28 23:19] lzybkr commented on #2770
@eamodio - this looks like https://github.com/lzybkr/PSReadLine/issues/468
If you're using `Write-Host`, I'll just close this as a duplicate.

[2016-11-29 00:58] jpsnover opened #2798 "Set-Strictmode should not complain about COUNT & LENGTH properties on elements"
One of the big problems we have had in the language has been not knowing whether the following expression was going to return a single element or an array:

$x = gps $name

We fixed this longstanding problem by masking over the issue allowing elements to be treated as arrays.  e.g.

(gps -id 0).count
(gps -id 0).length

When you enable strictmode - it complains about these and it shouldn't.
I'm ab

[2016-11-29 01:03] JamesWTruher opened #2799 "*-Item should handle files with wildcard characters"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
this test should pass (and it does on Windows)

Actual behavior
---------------
Rename-Item can't seem to find the file
[code]

Environment data
----------------

[code]
[code]

[2016-11-29 02:09] paulcallen commented on #2772
Client side PSRP remoting is coming really soon, but we have not shipped a version of powershell with official remoting enabled on OSX or Linux yet.

[2016-11-29 04:40] iSazonov commented on #2505
Above I meant that perhaps we need some optimization of module reload that can be significantly for _large_ modules. For example, to reload only those modules or/and submodules that actually changed. This can significantly reduce the time needed to reload.
Maybe @daxian-dbw comment this.

[2016-11-29 07:01] daxian-dbw opened #2800 "Updating progress pane using timer causes race condition that would randomly crash powershell"
With PR #2640, a timer is used to trigger updating progress pane every 100 ms to improve progress record rendering performance (commit: https://github.com/PowerShell/PowerShell/commit/760a9c2997148f32a0b763165a32647abe49b985). Before the change, `_progPane.Show` and `_pendingProgress.Update` used to be called on the same thread, and now they will be called on different threads. This causes race co

[2016-11-29 07:44] iSazonov commented on #2800
@daxian-dbw  Is the #2771 addressed this?

[2016-11-29 07:53] fcharlie opened #2801 "Invoke-WebRequest throw TypeInitializationException On Linux"
Steps to reproduce
------------------
Open powershell on linux terminal， run：
[code]

Expected behavior
-----------------
Invoke-WebRequest should success.

Actual behavior
---------------
![2016-11-29 15-57-34](https://cloud.githubusercontent.com/assets/6904176/20701182/9192cf30-b64c-11e6-84e4-69536933c43e.png)

Environment data
----------------

[code]

[2016-11-29 08:11] iSazonov commented on #2800
Strange... I specially made restart the timer after completing `_progPane.Show` to exclude collisions.

[2016-11-29 16:21] lzybkr commented on #2800
Does https://github.com/PowerShell/PowerShell/pull/2771 fix this?

[2016-11-29 16:37] lzybkr opened #2802 "Native command pipeline test is not reliable"
This test is failing in some but not all nightly test runs in appveyor:

[code]

Here are two such examples:
https://ci.appveyor.com/project/PowerShell/powershell-f975h/build/6.0.0-alpha.13-88
https://ci.appveyor.com/project/PowerShell/powershell-f975h/build/6.0.0-alpha.13-94

[2016-11-29 17:33] daxian-dbw commented on #2800
Ah, I didn't know we already had an issue for this: #2756.
However, `_topLevelNodes` is not the only type member that is shared between the main pipeline thread and `_progPane.Show` running on the timer thread, `_rawui` and `_progressRegion` are another 2 examples. I think we need to analyze all those members in case any of them have similar race conditions.

[2016-11-29 18:06] #2770 closed

[2016-11-29 18:38] eamodio commented on #2770
@lzybkr Sorry but I forgot I had avoided Write-Host and just have the following:
[code]

[2016-11-29 19:34] vors opened #2803 "Misleading error message when piping native command to throwing powershell"
Steps to reproduce
------------------

[code]

`git` can be replaced to any native executable with non-empty standart output.

Expected behavior
-----------------

Error with `FullyQualifiedErrorId : 1`, just like in `throw 1` case.

Actual behavior
---------------

Error with `FullyQualifiedErrorId : NativeCommandFailed`

[code]

Environment data
----------------

[code]

[code]

**Note**: it rep

[2016-11-29 19:50] badgh opened #2804 "Powershell hangs for a while on close (when X button pressed)"
Steps to reproduce
------------------
Launch Powershell, then close with standard X button

Expected behavior
-----------------
Quick exit

Actual behavior
---------------
Powershell hangs for at least 5 sec before exit (It should be noted that when I type "exit" in PS console itself, it exits instantly, which is what I want)

Environment data
----------------
[code]

I tried ngen script from here

[2016-11-29 20:21] joeyaiello commented on #2735
Let's make sure that @nadiasvertex was able to fix their problem before we close the issue as he's unable to reopen the issue or comment after it's closed.

[2016-11-29 20:27] vors commented on #2735
You need to do [these two](https://github.com/PowerShell/PowerShell/blob/master/docs/building/internals.md#preliminary-steps) steps, as @andschwa mentioned. They corresponds to `resgen` and `typegen`.
We should add a link in the manual build steps, if we don't have it.

[2016-11-29 20:56] andschwa commented on #2735
We [have a link](https://github.com/PowerShell/PowerShell/blob/master/docs/building/linux.md#build-manually):

the [ResGen](internals.md#resgen) and [type catalog generation](internals.md#type-catalog),
documented in [internals of build process](internals.md#preliminary-steps).

[2016-11-29 21:14] daxian-dbw commented on #2505
@iSazonov I prefer to keep the logic simple so that it's easy to reason and maintain. Here are my arguments:

1. There are other cases where we want to reload a module even if the module file is not changed since the last loading, for example, `Import-Module -Force -ArgumentList` uses different arguments which might affect the module behavior.
2. IMHO, the performance of `Import-Module -Force` is

[2016-11-29 21:50] lzybkr commented on #2505
The right way to think about performance here is - make `Import-Module` fast, then `Import-Module -Force` will be fast too.

[2016-11-30 00:08] Francisco-Gamino opened #2807 "Temporarily skipping Update-Help and Save-Help tests in CI builds since the fwlinks for powershell modules are pointing to the wrong location."
Will keep this issue open to track the task of reverting skipping the tests, once the URIs are fixed.

Steps to reproduce
------------------
Update-Help -Module microsoft.powershell.core

Expected behavior
-----------------
The help content for microsoft.powershell.core is updated

Actual behavior
---------------
Update-Help : Failed to update Help for the module(s) 'Microsoft.PowerShell.Core' wit

[2016-11-30 00:11] daxian-dbw commented on #2138
It turns out the timer fix causes some potential race conditions (see the issue #2800 and discussions in PR #2771). So the timer change was reverted with PR #2806 for now, and we need to different approach to address this problem.

It would be very helpful if someone can run a profiler on `Invoke-WebRequest` to get more accurate data for analysis.

[2016-11-30 00:25] SteveL-MSFT commented on #2804
@badgh I'm not able to repro this on my Win10 machine.  I start powershell, then click 'x' to close and it exits immediately.  Does this repro with cmd on your machine?

[2016-11-30 00:27] SteveL-MSFT commented on #2792
CC @grayzu @nanalakshmanan

[2016-11-30 01:02] pcgeek86 opened #2809 "Get-Help throws exception in Linux Docker container (Alpha 13)"
Steps to reproduce
------------------

1. On an Ubuntu Linux 16.04 Xenial Xerus system, install Docker Engine.
2. Start a new PowerShell Alpha 13 container `docker run --rm -it microsoft/powershell:latest`.
2. Run `help get-command`.

Expected behavior
-----------------

`Get-Help` should display help.

Actual behavior
---------------

`Get-Help` throws an exception.

[code]

Environment data
----

[2016-11-30 02:00] ljt91 commented on #2784
@kim0 - Check this out https://blogs.technet.microsoft.com/jessicadeen/azure/getting-started-with-powershell-core-and-azurerm-modules-on-ubuntu-and-os-x/

Looks like there's only a few of the modules are currently supported on macOS.

AzureRM.NetCore.Preview
AzureRM.Profile.NetCore.Preview
AzureRM.Resources.NetCore.Preview

[2016-11-30 05:14] iSazonov commented on #2505
@daxian-dbw @lzybkr Thanks for comments! "make  Import-Module  fast" is great. My concern about the performance of a module reload comes from the fact that some modules are heavy enough and if the custom module depends on such module, the user may be dissatisfied with the fact that reload of his little module leads to the heavy module is reloaded too. But I agree that  is more of a developer scena

[2016-11-30 05:21] iSazonov commented on #2138
@daxian-dbw
 Maybe:
1.The timer set up a new  _progPaneUpdateFlag
2. HandleIncomingProgressRecord  check ``_progPaneUpdateFlag then call _progPane.Show(_pendingProgress) and reset the _progPaneUpdateFlag`

It seems that we can simply control the time delta in  HandleIncomingProgressRecord  , but my earlier tests showed that is significantly slower.

[2016-11-30 05:22] iSazonov commented on #2138
From @daxian-dbw

 Let's move this discussion to the issue, so more people can jump in 😄

[2016-11-30 05:37] rkeithhill opened #2810 "Get-Help Needs a -Module parameter to list all the help topics for the specified module"
The primary way I discover what commands a module provides is to run `gcm -m pester`.  I really want a way to find all the help topics available for a module.  Command help isn't so hard to find but the about topics a module exposes are harder to discover.  Plus there is a nice symmetry and transfer of learning if I could execute `man -m pester`.

BTW you can use the -Name parameter but it doesn't

[2016-11-30 06:00] iSazonov commented on #2138
@daxian-dbw

The `hung` problem was not full resolved by my PR too because `Write-Progress is not called very frequently` . The PR solved only a performance problem. I planned to solve this problem in a subsequent PR.

Actually there are three problems in one place, which might require different solutions:
1. Call `HandleIncomingProgressRecord` too often. There is no need to update the pane struct

[2016-11-30 06:02] sandersaares commented on #621
I ran into this issue today, being unable to remove a symlink on Windows Server 2016. Here is a stepby-step PowerShell session repro case that hopefully illustrates the issue:

[code]

[2016-11-30 09:55] iSazonov commented on #2810
Do you want to get something like `gcm -m pester | get-help` ?

[2016-11-30 10:04] iSazonov commented on #2804
May the cause due to third-party module?

[2016-11-30 10:08] iSazonov commented on #2803
The same on
[code]

[2016-11-30 11:02] ilgrank opened #2812 "Invoke-WebRequest hangs in some cases, unless -UseBasicParsing is used"
**Invoke-WebRequest hangs, 100% of the times, when processing webpages containing specific elements.**

Several bug reports on this same topic have been opened on Microsoft Connect in 2014 and 2015 and Microsoft UserVoice later on, but since they have been filed on different platforms and with different topics, Microsoft failed to notice they were all referring to the same issue, so I am consolida

[2016-11-30 13:44] mak42 commented on #2804
Same Problem here after installing Windows 10 Anniversary Update, if I close powershell via exit command it quits instant. No third-party modules installed. Cmd does not have this problem, only powershell.

[2016-11-30 14:14] badgh commented on #2804
I agree with @mak42, the issue began after install of Windows 10 Anniversary Update, no third-party installed (it began exactly when I made clean install and further anniversary update of the system), cmd has no similar problem.

I tried to google this problem. In fact, the issue very much resembles https://github.com/lzybkr/PSReadLine/issues/17, and they suggest install ConsoleZ, I do not want in

[2016-11-30 15:00] mak42 commented on #2804
I also experience some weird artifacts if I use auto-complete tab. Apparently it disappears to fast to make a screenshot and if I record a video this artifacts aren't visible.

[2016-11-30 16:25] MaximoTrinidad commented on #2812
This incident needs to be submitted to the Windows UserVoice as this is for PowerShell Open Source.

But interesting enough, in PowerShell v6.0.0-alpha.13, in the (Invoke-WebRequest -Uri $URL) the property ".parsedhtml" doesn't exist.

OS = Windows 10 Insider Preview 14971
PS C:\Program Files\PowerShell\6.0.0.13> $PSVersionTable

Name                           Value
----

[2016-11-30 16:55] SteveL-MSFT commented on #2804
@badgh agree that this is unacceptable, we'll need to investigate

[2016-11-30 17:10] ilgrank commented on #2812
Thanks for the quick reply
I had hope that what MS POSH could not do, PSOS could have accomplished :)
Alas, Microsoft does not listen very actively to bug reports :(

[2016-11-30 17:17] mak42 commented on #2804
If we can support you in any way, please let us know.

[2016-11-30 17:25] iSazonov commented on #2804
Please make simple test: remove PSReadline and check whether the problem persists.

[2016-11-30 18:19] mak42 commented on #2804
I did remove the PSReadline Folder in Program Files restarted Power Shell, apparently that didn't seem to help.

[2016-11-30 18:27] MaximoTrinidad commented on #2812
Hey @ilgrank , I understand.  The good thing about this is the contribution you provide. There are lots of MVP's looking at this all the time and we can (sort of) redirect the effort to where is needed.  You did Great in providing references to UserVoice posts.

Don't give us on us!  We'll do whatever we can to continue helping in improving PowerShell.
:)
Maximo Trinidad

[2016-11-30 18:29] iSazonov commented on #2804
Let's check that the module isn't loaded. You can check loaded modules by means of `Get-Module` and unload the module by `Remove-Module PSReadline`.

[2016-11-30 18:45] ilgrank commented on #2812
Thanks @MaximoTrinidad , I really appreciate the effor of all the people here 👍
and of course I hope, as you say, that this will gather the interest of enough people for Microsoft to notice.
I also cross-referenced this issue on Uservoice, so that either side will know :)

[2016-11-30 18:46] MaximoTrinidad commented on #2812
Greatly Appreciated!
Max

[2016-11-30 18:47] rkeithhill commented on #2810
No, not really.  `about_*` may be listed directly in ModuleInfo but the information can be found easily enough:
[code]

[2016-11-30 18:54] lzybkr commented on #2804
lzybkr/PSReadline#17 was fixed a long time ago, so unless you're somehow using a really old version of PSReadline, I would assume something else is going on.

If you can repro in a debugger, maybe you can capture a stack trace for us - just break into the debugger before the process dies, hopefully we can get a useful stack from that.

Alternatively, maybe we can figure out what's going on with an

[2016-11-30 19:31] pmaillot commented on #2804
I have the same issue; Exit with typing an "exit" command quits immediately while exit with clicking on the "X" sign at top right of the Powershell window takes about 5 to 10 seconds, with a message saying (not responding) in the window banner; No suspicious event reported in the event logs. I have no idea where this comes from, but it did start (several months ago) after installing one of WIndows

[2016-11-30 20:11] lzybkr commented on #2804
Like @SteveL-MSFT - I can't reproduce this issue.  With three people reporting they can repro, hopefully someone can do some investigation to give us a clue what could be happening.

It would be helpful to know If you can repro with Win+R then `powershell -noprofile -command "sleep 300"`, then click on the X.  If that repros, I think we can eliminate the any modules (including PSReadline, which wo

[2016-11-30 20:29] lzybkr opened #2813 "Import-Module tab completion not working when inside $env:PSModulePath"
_From @Aculeo on November 30, 2016 12:44_

When trying to import a module tab completion isn't working if my current working directory happens to be the same as the module path defined in `$env:PSModulePath`. When I hit tab twice I can see that all modules are listed twice.

**PowerShell Version:**
[code]
PSReadLine is version 1.2.

_Copied from original issue: lzybkr/PSReadLine#477_

[2016-11-30 20:53] pmaillot commented on #2804
Just tried the command your proposed. Same behavior, using “x” the powershell windows takes 5 to 10 seconds to quit.

-Patrick

From: Jason Shirk [mailto:notifications@github.com]
Sent: Wednesday, November 30, 2016 9:12 PM
To: PowerShell/PowerShell
Cc: Patrick-Gilles Maillot; Comment
Subject: Re: [PowerShell/PowerShell] Powershell hangs for a while on close (when X button pressed) (#2804)

Like @S

[2016-11-30 20:57] SteveL-MSFT commented on #2804
@pmaillot this doesn't repro with a cmd window, correct?

[2016-11-30 21:02] #2800 closed

[2016-11-30 21:03] pmaillot commented on #2804
I confirm this does not happen using a cmd window.

-Patrick

From: Steve Lee [mailto:notifications@github.com]
Sent: Wednesday, November 30, 2016 9:57 PM
To: PowerShell/PowerShell
Cc: Patrick-Gilles Maillot; Mention
Subject: Re: [PowerShell/PowerShell] Powershell hangs for a while on close (when X button pressed) (#2804)

@pmaillot <https://github.com/pmaillot>  this doesn't repro with a cmd wind

[2016-11-30 21:57] khansen00 opened #2815 ".msi uninstall leaves an empty version folder and start menu entry (for alpha.10)"
Steps to reproduce
------------------
uninstall a alpha.10 release

Expected behavior
-----------------
expected path is completely removed

Actual behavior
---------------
empty folder remains

Environment data
----------------

[code]

[2016-11-30 22:02] khansen00 opened #2816 ".msi alpha.13 does not provide a start menu access point"
Steps to reproduce
------------------
install alpha.13 using .msi - when already have alpha.10 on the box.

Expected behavior
-----------------
a start menu icon for alpha.13

Actual behavior
---------------
no start menu option

Environment data
----------------

[code]

[2016-11-30 22:57] lzybkr commented on #2816
I see an item:

![image](https://cloud.githubusercontent.com/assets/2148248/20774889/4594ab82-b70d-11e6-8f2c-a46cf04628c8.png)

[2016-11-30 23:05] brycem commented on #2793
Correct - We have Dockerfiles to install the current Powershell release here:  https://github.com/PowerShell/PowerShell/tree/master/docker/release.  No nightly\daily build support yet.

[2016-11-30 23:37] SteveL-MSFT commented on #2793
@brycem are you working on getting nightly/daily build support?

[2016-11-30 23:42] brycem commented on #2793
Before I I left on vacation, @raghushantha and I were blocked on a Win10Sdk bug.  Looks like they may have a private fix to take a look at.  Have you done this already Raghu?

[2016-12-01 00:16] SteveL-MSFT commented on #621
@PowerShell/powershell-committee thanks @sandersaares for the repro, we need @joeyaiello to see if this repros on Core and if so, we should fix this

[2016-12-01 00:24] SteveL-MSFT commented on #2751
@PowerShell/powershell-committee reviewed this and would be fine support `e and `u without the need for a RFC.  The risk as a breaking change is minimal and the value is apparent.  For line continuation, we suggest opening a separate issue to discuss that.

[2016-12-01 00:50] MaximoTrinidad opened #2818 "PowerShell not able to run a script file from bash prompt"
Steps to reproduce
------------------
I created a script file test.ps1 with just 'dir' in it.

See attached image for result.

Expected behavior
-----------------
List the directory list

Actual behavior
---------------
Either "Aborted (core dumped)" or "test.ps1 not recognized"

Environment data
----------------
OS = Ubuntu 16.04.1 LTS

[code]
![powershellbashscripterr](https://cloud.githubuserco

[2016-12-01 00:59] MaximoTrinidad commented on #2816
I'm confuse! Which OS is this? A server or client? I'm on Windows 10 Insider Preview 14971.

Do you mean right-click on PowerShell_6.0.0.13 and "pin to start"? I can find it and do a "Pin to Start".
:)

![p6start_2016-11-30_19-54-29](https://cloud.githubusercontent.com/assets/19892435/20777778/4597fec0-b737-11e6-9a3e-085fa31b6dce.png)

[2016-12-01 00:59] rkeithhill opened #2819 "Is it worth adding an additional line continuation mechanism?"
Line continuation in PowerShell suffers from at least two problems:

1. The backtick char is hard to see in PowerShell script:
[code]
Escaping a char like `_` makes the line continuation more obvious:
[code]
2. The current line continuation mechanism is an escape of a newline (invisible) character.   As a result, line continuation is broken if the user has any sort of whitespace (space or tabs) af

[2016-12-01 02:39] MaximoTrinidad commented on #2819
Why?  I like the used of the backtick. I've been doing this for a long time and I like it. So, why change something that works?
:)

[2016-12-01 03:10] kilasuit commented on #2347
This seems to have been resolved in 6.0.0.13 with the binaries for PackageManagement being located correctly in `C:\Program Files\PowerShell\6.0.0.13\Modules\PackageManagement\1.1.1.0\coreclr`

[2016-12-01 03:25] rkeithhill commented on #2819
If you read the proposal all the way through, it mentions that this would **not** change the existing mechanism.  You can't because that would break too many scripts.

This issue is meant to discuss if it is worth adding another mechanism for line continuation.  I know, right?  Having more than **one** way to do something in PowerShell is SHOCKING I tell you.  Completely unheard of.   ;-)

[2016-12-01 03:31] kilasuit commented on #2350
This seems to still affect the modules below that are built along with PowerShell from what I can tell in the 6.0.0.13 release

CimCmdlets
Microsoft.PowerShell.Archive
Microsoft.PowerShell.Diagnostics
Microsoft.PowerShell.Host
Microsoft.PowerShell.LocalAccounts
Microsoft.PowerShell.Management
Microsoft.PowerShell.Security
Microsoft.PowerShell.Utility
Microsoft.WSMan.Management
Pester
PSDesiredStat

[2016-12-01 05:07] iSazonov commented on #2815
Could you test with the latest version 13?

[2016-12-01 05:20] iSazonov commented on #2804
All good on Windows 10 5.1.14971.1000

[code]

[code]

[2016-12-01 05:41] KirkMunro commented on #2819
How about adding `...` as an optional continuation token? 🤔

Sure, there could be a function with that name, but it would kinda make sense...
(pun intended)

[2016-12-01 05:42] KevinMarquette commented on #2819
The general best practice is to not use the backtick for line continuation. Some times you can just restructure your command like this:

    Get-Module pester |
        Foreach-Object { Get-ChildItem $_.ModuleBase -recurse about_*.txt} |
        Foreach-Object {$_.BaseName -replace '\.help',''} |
        Select-Object -Unique |
        Sort-Object

This is also where Here-Strings and Splatting com

[2016-12-01 05:47] rkeithhill commented on #2819
@KevinMarquette Keep in mind that neither breaking on | or using splatting is an option when invoking a native executable with a lot of lengthy parameters.

[2016-12-01 05:51] KevinMarquette commented on #2819
There are options for that too.

    $MSIArguments = @(
        "/i"
        ('"{0}"' -f $file.fullname)
        "/qn"
        "/norestart"
        "/L*v"
        $logFile
    )
    Start-Process "msiexec.exe" -ArgumentList $MSIArguments

[2016-12-01 05:53] KevinMarquette commented on #2819
I should clarify that I am not opposed to having a much better way to express line continuation.

[2016-12-01 06:44] stej commented on #2819
I personally don't feel it's necessary to add a new language construct. Instead of that first what came on my mind was better text editors support.

A lot of tokens is highlighted in editors, so why not backtick (with Cyan, Salmon, or any other nice color)? And the rest of the line behind the backtick might be in other color with meaning "warning, this might be wrong".

[2016-12-01 08:56] jianglibo opened #2821 "Why these two lines code results different?"
Steps to reproduce
------------------
[code]
Expected behavior
-----------------
The second line should be 1 too.

Actual behavior
---------------
The Second line results in 0

Environment data
----------------
Name                           Value
----                           -----
_                              /usr/bin/powershell
HISTCONTROL                    ignoredups
HISTSIZE

[2016-12-01 14:08] djgrijalva commented on #2819
Backticks are the devil. We all have widescreen monitors nowadays and know how to use the horizontal scroll bar :). Joking aside, I have found long running lines could be broken into separate lines entirely and often run faster since they are avoiding the pipeline. Multiple pipes just equal slow and lazy IMO.

[2016-12-01 15:51] rkeithhill commented on #2819
@stej there is help for this in Visual Studio Code.  I put this setting in my user settings file:
[code]
And PSScriptAnalyzer has a rule `PSMisleadingBacktick` that will catch these.  But not everyone uses VSCode or PSScriptAnalyzer.

[2016-12-01 17:02] MaximoTrinidad commented on #2819
Nice one @rkeithhill!

I'm using VS Code for lightweight coding and I like it.  Thanks for sharing the "files.trimTrailingWhitespace": true setting.

:)

[2016-12-01 17:14] Jaykul commented on #2819
You most certainly *can* splat to native commands.
The catch is that native _switch_ commands don't accept "true" values ;-)

E.g.
[code]

Could just as easily be:
[code]

I don't like line continuation characters. I wish we didn't have the one we have (Yay C# -- Boo VB).

One problem with line continuation characters is that the only reason for them to exist is to enable people to stay within som

[2016-12-01 19:05] DWSR commented on #2819
The reason that I like staying within some "arbitrary line width" is because a lot of devs run portrait monitors. Having a 100 or 120 character limit means that my code fits in the width of the window.

I would love to have a switch for a line terminator as opposed to implementing yet another continuation character.

[2016-12-01 19:07] LarryWeiss commented on #2819
Is there any language that has the concept of "line continuation" that has done it in a way that is better?

PowerShell's "line continuation" at first implied to me that the line was simply spliced together with the next one (as if the line ending was ignored).  But that's not turned out to be the way it works.  Try
'Power`
Shell'

[2016-12-01 19:20] JamesWTruher commented on #2819
It's pretty hard to create a good shell that doesn't have some way to split command lines because they can get pretty long. I chose backtick because it was _similar_ to `\` (and I couldn't choose `\` for obvious reasons). Comparing PS to C# is a bit disingenuous they target different usage patterns - C# has a single statement end operator - requiring `;` at the end of every command would be a pret

[2016-12-01 19:48] rkeithhill commented on #2819
@LarryWeiss

On the visibility front yes.  Bash and Python use `\` for line continuation.  But neither tolerates whitespace after `\`.  VB, which uses `_`, does tolerate whitespace after `_`.

[2016-12-01 20:12] JamesWTruher commented on #2819
some of those characters still have trouble in a windows environment where you're executing a command. `_` is an allowed character for a filename - would I need to escape `_` in this context?
`get-content _`

[2016-12-01 20:16] rkeithhill commented on #2819
Agreed. That's where an escaped character would be better.

[2016-12-01 20:57] artisticcheese commented on #621
Happening on Win10 annivesary with Powershell 5.1 trying to remove folder left by docker installation

PS C:\Users\admin> Remove-Item C:\ProgramData\docker\ -Force -Recurse
Remove-Item : There is a mismatch between the tag specified in the request and the tag present in the reparse point
At line:1 char:1
+ Remove-Item C:\ProgramData\docker\ -Force -Recurse
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-12-01 21:12] SteveL-MSFT commented on #2807
@Francisco-Gamino URLs are supposed to be fixed in the back-end now

[2016-12-01 21:12] vors commented on #2764
As a workaround, we can try to leverage PS classes, instead of `Add-Type`

[2016-12-01 22:48] SteveL-MSFT commented on #1103
I completely understand that the extension is not how Linux works, but wouldn't this encourage non-cross platform PS Scripts?

[2016-12-01 22:51] PaulHigin opened #2824 "Remove "Invoke-Command -cn" disconnect session on debugger stop behavior"
In PowerShell V4 we added this behavior so that the disconnected session could be reconnected using Enter-PSSession which then allows debugging the remote session interactively.

The problem with this is that it interrupts the Invoke-Command execution causing it to return immediately and before the invoked scriptblock is completed running.

However, this is no longer needed in V5 because there are

[2016-12-01 23:13] PaulHigin opened #2826 "Input variable tracking and validation"
There are a number of potential script vulnerabilities associated with unvalidated input variables such as code injection.

One way to mitigate this is for PowerShell to do input variable tracking.  Any function or script input variable is considered "tainted" or "untrustworthy" if it has not been validated.  Validation can occur with an input parameter validation attribute or via custom code that

[2016-12-01 23:24] PaulHigin opened #2827 "Update PowerShell Console and ISE to allow debug step into Invoke-Command remote"
Currently you cannot step into an "Invoke-Command -cn <computer>" statement inside a PowerShell script.  It would be great if this worked.  Remote debugging is available so it would involve setting up the Invoke-Command remote runspace to run in debug step mode, and then wiring the runspace into the console or ISE debugger events.

Also it would be good to have the console or ISE automatically dro

[2016-12-01 23:27] PaulHigin opened #2828 "Update PowerShell ISE to better handle debugging script blocks"
The ISE is designed for editing, running, debugging script files.  But many scripts run as script blocks that have no script source files.  In this case the ISE provides a poor command line debugger compared to the PowerShell console.

1.  The ISE command line debugging should be as good as PowerShell console.
2.  The ISE could create temporary files for running script blocks so that they could be

[2016-12-01 23:34] PaulHigin opened #2829 "Update ISE to include windows for local variables and callstack during debugging"
The ISE would be a much better debugging environment if it provided Variable and Callstack windows.  It would also be good to have a separate Output window for capturing output.  Currently everything is routed to the ISE console window and the information gets confused in the different spews.

[2016-12-01 23:34] nadiasvertex commented on #2735
Those instructions don't seem to work:

[code]

[2016-12-01 23:39] PaulHigin opened #2830 "Add a script debugger "break on error""
It would be good to have the ability to drop into the script debugger on error.  This is relatively easy for non-terminating errors since the PowerShell engine continues to run and so the debugger runs.  But exceptions are trickier since the process state is unknown.  For exceptions thrown by PowerShell (ErrorAction: "Stop") we could stop in the debugger before throwing the exception.  It might be

[2016-12-01 23:41] nadiasvertex commented on #2735
I would also like to note that it would be really, really easy for you to take that list of scattered commands and put it in the "else" section of build.sh. It's sort of incomprehensible that it wasn't done.

I will also grant that a more careful reading of the instructions might have led me to understand that I need to perform several different commands. However, it would have been very clear if

[2016-12-01 23:41] PaulHigin opened #2831 "Add a "runspace dump" on terminating error debug option"
This would be similar to a process dump but instead would dump the script runspace, including loaded modules, variables, functions, stack that existed before the terminating error.

[2016-12-01 23:41] vors commented on #2735
@nadiasvertex yes, unfortunately, you need to add runtime `ubuntu.16.10-x64` to few `project.json` files to onboard a new platform. That's how `dotnet` cli works.

Namely:

1. https://github.com/PowerShell/PowerShell/blob/master/src/TypeCatalogGen/project.json
2. https://github.com/PowerShell/PowerShell/blob/master/src/TypeCatalogParser/project.json
3. https://github.com/PowerShell/PowerShell/blob

[2016-12-01 23:43] vors commented on #2735
Please help us improve the documentation, we welcome contributions! :)

[2016-12-01 23:45] rkeithhill commented on #2830
I'd love to wire such a feature up to Visual Studio Code's exception breakpoints.

[2016-12-02 00:07] nadiasvertex commented on #2735
I adjusted he project.json files as described. I have a new error:

[code]

[2016-12-02 00:12] vors commented on #2735
Re-run 'dotnet restore'

[2016-12-02 00:17] nadiasvertex commented on #2735
No change.

[2016-12-02 00:53] SteveL-MSFT commented on #2829
@PaulHigin probably better to open this issue here https://github.com/PowerShell/PowerShellEditorServices/issues

[2016-12-02 01:26] andschwa commented on #2735
Did you git clean and re run the type catalog parser? Adding the framework necessarily downloaded new libraries with potentially different types, as the packages for .NET are not guaranteed to be compatible among different runtimes.

[2016-12-02 03:40] lzybkr commented on #2821
You can debug this yourself to understand what is happening if you remove the `.Count` and instead look at the actual objects you are counting.

For this line:
[code]
You count the number of roles that match your filter because you enumerate the roles before your filter.

For this line:
[code]
You count the number of boxes that match your filter because you filter on the boxes.

[2016-12-02 04:08] n3rdopolis commented on #2818
Try
[code]

[2016-12-02 04:21] MaximoTrinidad commented on #2818
Thanks @n3rdopolis,

I did try that one. But, you got me closer.

I realized I didn't try:
powershell -c ./test.ps1
or
powershell ./test.ps1

They both work.  The issue started when I was looking at the powershell -help which doesn't show an example to run a script file. This example need to be added to the help.

![powershellbashscript](https://cloud.githubusercontent.com/assets/19892435/20822891

[2016-12-02 04:51] RamblingCookieMonster commented on #1103
I don't think that's necessarily a bad thing - sure, functions and modules should make considerations for cross platform compatibility, but some of these, and some scripts that leverage them, will inherently target specific platforms.

IMHO, you might find the folks writing PowerShell scripts on *nix, or at least a decent proportion of them, recognize the importance of cross-platform support, wher

[2016-12-02 05:52] iSazonov commented on #2733
@PowerShellTeam Please close the Issue.

[2016-12-02 06:18] jianglibo commented on #2821
Yes, what you said was definitely right. What I thought wrong is prejudging the pipe result to be a collection.
Follow your way, I got the output.
[code]
psobject has no Count property, so it just return null.
I should rather use TrueFalse detection instead of count.

[2016-12-02 09:23] badgh commented on #2804
Is there a way to totally reinstall powershell (clean and then install this new version 5.1.14971.1000)?

[2016-12-02 10:51] mak42 commented on #2804
I'll tried upgrading to a different windows build but apparently that didn't work still shows "Build 14393.rs1_release_inmarket.161102-0100". Also I tried using PS Version 6 Alpha with no success. I think I will do a full reinstall of windows cause it's the only machine where I have this problem, maybe that will help.

[2016-12-02 14:19] powercode commented on #2831
Where should it go?

[2016-12-02 15:10] #2733 closed

[2016-12-02 15:13] #2821 closed

[2016-12-02 17:39] SteveL-MSFT commented on #1103
@RamblingCookieMonster I'm personally where you landed on this which is to lower the barrier to entry on Linux to get adoption and where cross platform is needed, scriptanalyzer can help with that and those users will learn very quickly it won't work on Windows.

[2016-12-02 17:59] DarqueWarrior opened #2834 "Allow both the mandatory attribute to be set along with a default value and only force input if the default value is $null"
When defining a function, I would like to use an environment variable as the default value. If the environment variable exists and has a value that value will be used. For example,

function Get-Info ([Alias("name")] [Parameter(Mandatory=$true, ValueFromPipelineByPropertyName=$true)] [string] $projectName = **$env:Project_Name**)
{
}

Instead of having to passing in the Project Name for each call

[2016-12-02 18:23] joeyaiello commented on #621
@sandersaares thanks for the more simple repro! I can confirm that this does happen, but the hunch from @palladia that the children actually get deleted is incorrect.

So to clarify, even after specifying `-Force`, only the symbolic link is deleted and not the contents of the folder to which the link points.

The behavior that definitely needs to be fixed here is giving the confirmation prompt abo

[2016-12-02 19:14] lzybkr commented on #2834
We definitely wouldn't accept your proposed syntax, but to keep this discussion in line with what you want, it might look something more like:

[code]

Or maybe

[code]

In my opinion, this idea is too much of a special case and would unnecessarily complicate the already overly complicated parameter binder.

[2016-12-02 19:37] iSazonov opened #2836 "Travis log is full"
Last time this error occurs during Travis CI tests:
[code]
Many records in the log is present:
[code]

The proposal is to remove unnecessary progress bar by adding `$progressPreference = 'silentlyContinue' ` in Help tests.

/cc @vors @lzybkr

[2016-12-02 19:47] nadiasvertex commented on #2735
I checked the repo out from scratch and ran the commands as specified. I'm not clear at what point I should run dotnet restore again.

[2016-12-02 20:04] SteveL-MSFT commented on #2735
I'm going to try this out and will report back

[2016-12-02 21:36] mms- commented on #2463
I want this.

[2016-12-02 21:37] daxian-dbw commented on #2505
This is an update to my [post](https://github.com/PowerShell/PowerShell/issues/2505#issuecomment-263369811) about class definition reloading with module reloading.

The root cause is that powershell doesn't correctly refresh the `SessionState` associated with the class definition when a module gets reloaded. So the PS class is still referencing to the `SessionState` from the old module instance, a

[2016-12-02 21:56] daxian-dbw commented on #2836
@Francisco-Gamino, could you please update the Updateable help tests to not write progress bar? Thanks!

[2016-12-02 23:43] #2459 closed

[2016-12-03 02:21] ezlee opened #2839 "powershell abort error on centos7"
I installed powershell on centos7, but when I tried to run "Invoke-Command" either for localhost or remote computer, got the following error messges:
Does anyone know what's happening?
thanks a lot!

PS /home/vagrant> Invoke-Command -ComputerName localhost -ScriptBlock { ifconfig } -credential vagrant

Windows PowerShell credential request
Enter your credentials.
Password for user vagrant: *******

[2016-12-03 02:25] #2839 closed

[2016-12-03 02:25] ezlee commented on #2839
Remoting Support

Client-side remoting from Linux/macOS is not supported with the initial package. The work is being done in the psl-omi-provider repo.

[2016-12-03 03:27] vors commented on #2836
Reducing amount of output from particular test would not solve the root of the problem.
Should we just employee @JamesWTruher #2795 to all builds?

[2016-12-03 05:12] iSazonov commented on #2836
@vors There are two problems (really bugs). 1. The progress bar is not removed and remains trash. Seems #2795 is not addressed the trash. 2. Now progress bar still has performance problem. So it's better to disable the progress bar. It might even be a globally at Pester.

[2016-12-03 05:27] vors commented on #2836
Should we just completely disable progress reporting on unix, until it can be acceptable represented visually?

[2016-12-03 06:22] vors commented on #2764
Here is what I found, when decompiled the assembly generated by `Add-Type` vs `dotnet cli`.

GetProxy() dotnet (good)
------------------

[code]

GetProxy() Add-Type (bad)
---------------------------

[code]

--------------------------------------------------------------

The only difference is that `System.Uri` lives in `System.Private.Uri` assembly (implementation assembly) and not in the refere

[2016-12-03 07:22] vors commented on #2764
I verified that it's a **dotnet core** (not corefx) regression: if I copy-replace `System.Private.CoreLib.dll` in alpha.11 to the newer version, I get exactly the same errors.

[2016-12-03 07:44] iSazonov commented on #2836
I think it will be OK in `Build.psm1` as _default_ parameter (`-Quite` ?) for CI tests. For "visually" we always can set `-Quite:$false`.

[2016-12-03 08:38] DarqueWarrior commented on #2834
Environment variables are not the only use case for Mandatory + Default values. See original post on
[UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/17235506-allow-environment-variable-as-default-value-for-fu)

[2016-12-03 12:24] cblomart opened #2840 "MsOnline & Powershell Core"
Is there any way to connect to Office  365 via msolservice (connect-msolservice)?

[2016-12-03 17:16] n3rdopolis commented on #2818
'-c' is short for '-Command'

[2016-12-03 22:48] richardszalay commented on #1909
Any updates on this? I've seen `.NetCore` module suffix from the Azure and AWS teams. Google Cloud doesn't publish to the PS Gallery so they simply provide a separate download.

I'd be happy if that were the guidance, but I'd also be happy with any official guidance.

(as a reminder, this is the scenario where I'd like to retain compatibility with PowerShell 3 while also supporting PsCore)

[2016-12-03 23:03] vors commented on #2764
I just tried it on the latest build from master and it's gone. O_o

[code]

[2016-12-03 23:10] vors commented on #2764
UPD: the error happens only on `publish` builds, that's what tricked me into believe that the problem is gone.

[2016-12-03 23:23] vors commented on #2764
I was trying to repro the problem outside the PowerShell context, but I could not. :(

Maybe somebody else may be able to do it.

project.json
------------
[code]

Program.cs
-----------
[code]

[2016-12-04 01:16] MaximoTrinidad commented on #2818
Yes! I knew that.  But then again, that sample should be included in the "powershell -help" for beginners.
Just a suggestion.

:)

[2016-12-04 01:28] vors commented on #2818
`-Command` can do the job, but there is a whole different dedicated flag `-File` for that.
It will work without the `./` for the relative path.

[code]

[2016-12-04 01:29] vors commented on #2818
On Unix, you can see all the flag with `man powershell`.

[2016-12-04 01:38] MaximoTrinidad commented on #2818
Thanks! I got to use the Linux way.  I'm trying to get use to it.
:)

[2016-12-04 05:29] richardszalay commented on #1909
... or is this one of those things that will be a non-issue with netcore 2.0?

[2016-12-04 15:19] spaghettidba commented on #2819
FWIW, a number of international keyboards don't even have the backtick key. In the Italian keyboard it's ALT+TN96 or nothing. FWIW again, many laptops don't have TN at all, so there is NO way to type a backtick

[2016-12-04 18:22] briandrennan commented on #2791
My personal sentiment is that multiple strings should be allowed, and the input type should probably be `System.String[]`. Wildcards would also provide a very nice shortcut syntax, per the example you put for `catch "*GetServiceCommand"`.

[2016-12-05 07:42] sandersaares commented on #621
Note that my example also gave the same error message as @artisticcheese got, after adding the -Force parameter.

And to be clear, the symlink was never actually deleted by Remove-Item. I have to drop down to `cmd /c rmdir /s /q c:\foo` to actually delete it.

[2016-12-05 16:27] rkeithhill commented on #2829
PSES is UI agnostic.  It is meant to be used as a "backend" service for various editors (eventually).  Unfortunately, I think the only place for ISE feedback ATM is UserVoice.  https://windowsserver.uservoice.com/forums/301869-powershell/category/148050-ise-and-tooling

[2016-12-05 17:09] SteveL-MSFT commented on #2829
At this point, there are no plans to add features to ISE (ISE can't be Open Source nor cross platform).  Our strategy is to improve Editor Services and integration (primarily VSCode at the moment) to address experience gaps.

[2016-12-05 17:39] PaulHigin commented on #2829
Ok.  I'll close this issue for ISE.

[2016-12-05 17:39] #2829 closed

[2016-12-05 17:40] lzybkr commented on #2834
I see - you're asking for a change to when we evaluate default arguments in the parameter binder so that defaults get used before prompting for mandatory parameters.

This might be tricky to get right. Some questions that come to mind:
* If a parameter is mandatory in one parameter set but not another, what should happen?
* If the parameter has a validation attribute
  * Should validation be perfo

[2016-12-05 18:14] #2652 closed

[2016-12-05 18:44] iSazonov commented on #2791
` catch "aaa","bbb" ` say nothing about `FullyQualifiedErrorID` 😕 Why not filter by any other properties of exception? Like @rkeithhill 's idea:
`try {} catch filter() do {} `

[2016-12-05 18:51] joeyaiello commented on #2840
Office 365 cmdlets don't yet support .NET/PowerShell Core. I recommend you submit a suggestion to the Office 365 Admin UserVoice: https://office365.uservoice.com/forums/273493-office-365-admin

Thanks!

[2016-12-05 18:51] #2840 closed

[2016-12-05 18:53] joeyaiello commented on #2697
Also need to eventually support this even if `-AsJob` is specified.

[2016-12-05 18:56] daxian-dbw opened #2841 "PowerShell class defined in 'New-Module -ScriptBlock' doesn't work as expected"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Return 'abc'

Actual behavior
---------------
Return nothing

**PSv5.1**
[code]

**PSv6.0.0-alpha.13**
[code]

[2016-12-05 19:48] lzybkr commented on #2791
Things may have changed, but LINQ expression trees did not support `filter` when I last looked. They have support in the api, but no code generation support, I believe due to issues in the JIT.

That doesn't mean we couldn't implement exception filtering anyway, but it might not work like it does in C# (e.g., unwinding behavior might differ).

I think using an exception filter will be less obvious

[2016-12-05 20:20] MaximoTrinidad opened #2843 "PowerShell Update-Help won't clear screen when returning to cursor."
Steps to reproduce
------------------'
In Linux Ubuntu or Windows Bash, execute cmdlet:
Update-Help -force

Expected behavior
-----------------
To clear the screen of messages when it completes updating help.

Actual behavior
---------------
In Linux, it doesn't cleared the messages when returning back to the cursor.

By the way, in Windows works OK.

Environment data
----------------
OS: Ubuntu 1

[2016-12-05 20:24] MaximoTrinidad commented on #1809
And, it won't clear the search messages from the screen neither when returning to cursor.
Both Ubuntu 16.04.1 and Windows 10 Bash.

![gethelp_01_2016-12-05_15-09-10](https://cloud.githubusercontent.com/assets/19892435/20901067/d2e0b4be-bafe-11e6-9ac8-101aa30d0339.png)

[2016-12-06 02:42] joeyaiello opened #2845 "Leverage new API for creating symlink without administrator privileges on Windows"
Just saw this get posted today: https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/

We should opt-in to this API so that we're uniform across all platforms in allowing non-admins to create links.

Steps to reproduce
------------------
Try to create a symlink as a non-admin. You'll get a permission denied.

Expected behavior
-----------------
(as non-admin)
[code]

Actual behavi

[2016-12-06 03:19] MaximoTrinidad opened #2846 "PowerShell v6.0.0_Alpha.13 ignoring the "#requires -version" statement"
Steps to reproduce
------------------
Create a script file and include the " #requires -version 5" line before the code.
Open PowerShell v6.0.0_Alpha-13
run .scriptfile.ps1

Expected behavior
-----------------
Script file will error-out with the message:
"... cannot be run because it contained a "#requires" statement for Windows PowerShell 5.0..."

Actual behavior
---------------
It continues to e

[2016-12-06 12:16] iSazonov commented on #2791
Another option. The `catch` expects types and we cannot break it. Therefore we need a prefix to say that  next is not a type, but something else. It was also good for UX to use a tab completion.

[code]

[2016-12-06 14:52] iSazonov commented on #2845
Will the API be ported on Windows 7/8?

[2016-12-06 15:07] iSazonov commented on #2843
It's still the same problem with progress bar #1625 #2654

[2016-12-06 18:12] iSazonov commented on #2819
What about `##` ?

[2016-12-06 18:47] HemantMahawar commented on #2347
@kilasuit Thanks for the confirmation.

[2016-12-06 18:47] #2347 closed

[2016-12-06 19:30] arebee opened #2847 "Invoke-WebRequest ignoring Out-Null and noisy during when used as value in variable assignment"
## Expected Behavior ##
Calling `Invoke-RebRequest` while piping output to Out-Null or assigning to a variable should show no extra characters or activity on the terminal.

## Actual Behavior ##

Calling `Invoke-WebRequest -Uri "http://example.com" | Out-Null"` will show some Invoke-WebRequest status of the response stream.

e.g.
[code]

Note that the 5th line appears.

It also reproduces with
[co

[2016-12-06 20:03] powercode commented on #2729
Wow, this issue really attracted a lot of attention :)

Is it better to open multiple issues with more specific suggestions?

[2016-12-06 21:49] lzybkr commented on #2729
Yeah, I'd say more specific issues would help drive something forwards.

[2016-12-06 21:55] powercode commented on #2729
What would be a good namespace for such tools?
SMA.Util?
SMA.Common?
SMA.SDK?

[2016-12-06 21:57] powercode commented on #621
or ```[IO.Directory]::Delete('c:\foo')```
But it is a lot of typing ...

[2016-12-06 22:11] paulcallen commented on #942
latest update: A change was checked in today that will enable powershell remoting from osx/Linux to windows and it should get into the next release of powershell unless something bad happens between now and then.
Things to note:
- basic auth is recommended for now
- because basic auth is recommended you will need a local windows machine account and use that. That account will need to be an admin.

[2016-12-06 22:59] SteveL-MSFT commented on #2847
I believe that is the progress bar and the progress bar is not clearing due to https://github.com/PowerShell/PowerShell/issues/1625

Try
[code]

and you shouldn't see that output at all.

[2016-12-06 23:39] powercode commented on #2763
getppid is just the parent of the current process.
I think I have to read /proc/pid/stat to get the ppid of a specific pid.

[2016-12-06 23:48] daxian-dbw commented on #2764
An update from @bmanikm: there were 2 `Add-Type` uses in `PowerShellGet` previously. Now he merged those 2 into one C# code snippet and use only one `Add-Type`, and `Add-Type` started to work even though the same `InternalWebProxy` implementation is used. So `PowerShellGet` is unblocked for now (at least for alpha.14 release), but this bug still stands.

@bmanikm, please add more details if I miss

[2016-12-07 00:00] jterry75 opened #2849 "ValidateRange should not allow iteration over invalid range values"
Steps to reproduce
------------------
In any module that uses an Enum value to be passed. For example: -Type { Start, Stop, Pause} if you use the ValidateRange(Start, Stop) attribute tab completion will still cycle through -Type Pause too even though executing this would fail. It would be really cool if the tab completion didnt iterate over invalid ranges.

Expected behavior
-----------------
Tab

[2016-12-07 00:22] #2732 closed

[2016-12-07 08:56] ericgol commented on #2526
See https://blogs.technet.microsoft.com/jessicadeen/azure/getting-started-with-powershell-core-and-azurerm-modules-on-ubuntu-and-os-x/ also.

[2016-12-07 14:44] kilasuit commented on #2846
#Requires -version has always meant that this is the minimum required version of powershell to run - so this is working as I would expect in powershell v6.0.0.13 & 5.1

However I'm confused as the behavior in the Windows PowerShell window in your screenshot goes against this completely although I can't replicate the behaviour and by the looks of it I'm on the same Windows 10 build 14971

[2016-12-07 14:54] iSazonov commented on #2763
Yes, read /proc right direction.

[2016-12-07 15:12] powercode commented on #2763
I'm getting a test error when Import/Export-CliXml with process after adding the Parent property to Process.
Is there any way to opt out a property from clixml serialization?

[2016-12-07 15:17] iSazonov opened #2851 "VSCode corrupts 'registered sign' character"
The Issue was opened in VSCode repo Microsoft/vscode#15303 and closed with resolution:

Ex. [CoreAdapter.cs](https://github.com/PowerShell/PowerShell/blob/e568fda5c3dfd85ea18c0406217533849bb6e966/src/System.Management.Automation/engine/CoreAdapter.cs#L3124)

[Microsoft.PowerShell.Utility.psd1](https://github.com/PowerShell/PowerShell/blob/master/src/Modules/Windows-Full/Microsoft.PowerShell.Utilit

[2016-12-07 15:46] MaximoTrinidad commented on #2846
My only purpose was to demonstrate a "possible" way to validate is the PowerShell script can run in PowerShell Open Source.  Now that we'll be creating "cross-platform" scripts, there must be a way to Windows PowerShell scripts in a PowerShell Open Source environment.

In the above image, in PowerShell v6.0.0.0-Alpha_13, I'm trying to execute an SMO Script that can only run in Windows PowerShell v

[2016-12-07 17:50] vors commented on #929
Actually, one more point for using a single-character escaping: bash already does it. https://twitter.com/climagic/status/806536501232340992

`\ls` ignores all aliases.

[2016-12-07 18:43] iSazonov commented on #2846
I think that PS 6.0 will only be released when it is fully compatible with previous versions. Now it is only `alfa`

[2016-12-07 19:32] iSazonov commented on #2851
Related #722 #1559

[2016-12-07 19:48] iSazonov commented on #2290
For compatibility we need to use the ported [file utility](http://gnuwin32.sourceforge.net/packages/file.htm). Can we rewrite it on C# and include in the repo as cmdlet?

[2016-12-07 20:20] Francisco-Gamino commented on #2465
This issue has been fixed.

[2016-12-07 20:20] #2465 closed

[2016-12-07 20:22] Francisco-Gamino commented on #1731
@joeyaiello: I am assigning this to you as a reminder to add default.txt to the Microsoft.PowerShell.Core help content cab and zip packages.

[2016-12-07 20:24] lzybkr commented on #2851
Hopefully fixing these issues will avoid other random tools from corrupting our files - I know of at least one other tool that has caused problems.

[2016-12-07 20:37] iSazonov commented on #2851
Is it permissible to convert all files to UTF8 w/o BOM? Or is there another solution?

[2016-12-07 21:01] lzybkr commented on #2763
I don't know why the tests are failing in CI. I tried your changes it it works for me locally.

You can try debugging in CI. On AppVeyor, you can follow these instructions:

https://www.appveyor.com/docs/how-to/rdp-to-build-worker/

[2016-12-07 21:12] lzybkr commented on #2851
Convert to ASCII in some cases - e.g. use "\unnnn" instead of Unicode.

Windows tools necessarily assume UTF8, they use heuristics that are unnecessary if there is a BOM. As much as I don't like the BOM, I don't see a strong argument for doing a wholesale conversion of every file in the repo.

[2016-12-07 21:19] PaulHigin commented on #2824
Removing self assignment since I am not currently working on this.

[2016-12-07 21:20] PaulHigin commented on #2453
Removing self assignment since I am not currently working on this.

[2016-12-07 21:21] PaulHigin commented on #2359
This issue has been fixed.

[2016-12-07 21:21] #2359 closed

[2016-12-07 21:23] PaulHigin commented on #2432
This issue has been fixed.

[2016-12-07 21:23] #2432 closed

[2016-12-07 21:24] PaulHigin commented on #2323
Un-assigning since I am not currently working on this.

[2016-12-07 21:27] joeyaiello commented on #2810
I was just actually *just* thinking about this other day, and I think it would be really useful.

That being said, I think we should respect ModuleInfo and not try and do any crazy heuristics like you've proposed. So really, I think this parameter should be just shorthand on `Get-Module pester | Get-Help`, which currently returns the following:

[code]

[2016-12-07 21:27] SteveL-MSFT opened #2852 "SSH remoting is measureably slower than WSMan remoting"
Expected SSH to be on par or faster than WSMan as we no longer have to deal with SOAP/XML encoding

[code]

[code]

cc @PaulHigin

[2016-12-07 22:20] rkeithhill commented on #2810
Then is there a way we can get `Get-Module pester | Get-Help` to return the other HelpFile (`about_*) topics?  It is a real shame not to make those other Pester help files more discoverable.

[2016-12-07 23:19] #2635 closed

[2016-12-07 23:30] #1710 closed

[2016-12-07 23:48] PaulHigin opened #2856 "Get-ChildItem on Linux terminates abruptly when accessing directory fails with access denied or file not found"
[code]

Result:
------
Enumeration of paths and files terminates on access denied error

Expected
------
Get-ChildItem should skip inaccessible paths (with error) and continue enumerating files and paths that are accessible.

[2016-12-08 00:07] #2582 closed

[2016-12-08 00:17] MaximoTrinidad commented on #2856
Question: Which version of OS(Ubuntu/RedHat,Fedora...), and version PowerShell?
Ubuntu 16.04.1 on PowerShell v6.0.0.0-Alpha-13 works fine.
![ubuntudirfine](https://cloud.githubusercontent.com/assets/19892435/20992361/b35e5718-bcb1-11e6-81ac-c49158077a06.png)

[2016-12-08 00:54] SteveL-MSFT commented on #2735
Looks like @nadiasvertex submitted PR to address this https://github.com/PowerShell/PowerShell/pull/2832

[2016-12-08 00:54] #2553 closed

[2016-12-08 00:54] #2548 closed

[2016-12-08 00:54] #2427 closed

[2016-12-08 00:55] #2076 closed

[2016-12-08 00:55] #2049 closed

[2016-12-08 00:57] #2341 closed

[2016-12-08 00:57] #2577 closed

[2016-12-08 00:57] #2552 closed

[2016-12-08 00:57] #2551 closed

[2016-12-08 00:58] #2524 closed

[2016-12-08 00:59] #2384 closed

[2016-12-08 00:59] #2383 closed

[2016-12-08 01:00] #2282 closed

[2016-12-08 01:00] #2142 closed

[2016-12-08 01:00] #2054 closed

[2016-12-08 01:01] #2656 closed

[2016-12-08 01:02] #2466 closed

[2016-12-08 01:02] #2129 closed

[2016-12-08 01:06] SteveL-MSFT commented on #2812
This doesn't repro with PSCore as CoreCLR has a different web client class that doesn't exhibit the same behavior.

[2016-12-08 01:10] SteveL-MSFT commented on #2846
As noted, `#requires -version` means minimal version, not exact version.

PSCore 6.0 engine is expected to be compatible, however, the error in the repro above is due to differences between FullCLR and CoreCLR.  At this point, PowerShell Core 6.0 is only planned to support CoreCLR which is our cross platform story.  .Net Standard 2.0 in the future should remove some of these compatibility issues b

[2016-12-08 02:33] MaximoTrinidad commented on #2846
@iSazonov , I know is Alpha but, as of now, we can see that even the Alpha version has differences between the OS's.  I don't see PowerShell 6.0 been compatible with previous (Windows) version moving forward cross-platform. A lot would need to change on Windows side and too much has been invested.
But, that's my thought!

[2016-12-08 03:50] iSazonov commented on #2846
@MaximoTrinidad  Feel free to report all incompatibilities you found. It will be a great contribution.

[2016-12-08 03:54] MaximoTrinidad commented on #2846
Sounds good! I will work on it and colllect what I find.

Thanks,
Maximo

[2016-12-08 04:01] kilasuit commented on #2846
To try and clear this up

Firstly PSv6 doesn't "ignore" the requires statement at all due to the fact that it's not specifying that it will only run in the version specified but all versions beyond that one. So any and all scripts that have #Requires -version will work in versions of PowerShell beyond the version specified - therefore PowerShell v6.0.0.13 does respect this when you specify `#Requi

[2016-12-08 04:21] kilasuit commented on #2524
I can confirm that if you run Update-Help now on Server 2016 it will install all the about_* topics as expected.

[2016-12-08 05:06] iSazonov commented on #2851
@lzybkr Clear. Thanks!

[2016-12-08 05:15] iSazonov commented on #2810
List all help files in module manifest.

[2016-12-08 06:05] rkeithhill commented on #2810
In which field?  I'm looking at a PSD1 I just created with New-ModuleManifest.  There is no obvious field for help files.

[2016-12-08 10:20] DarqueWarrior commented on #2834
If the parameter validation does not happen today I would not expect this to behave any different.  My natural instinct was to set the default value to a env var and it simply did not work.

I expected this to work similar to the Docker cli.  If you set the Docker Host as in Env Var you don't have to pass it to each and every command because it will read the Env Var instead.  I was looking for a s

[2016-12-08 12:32] iSazonov commented on #2810
@rkeithhill Sorry I put it vaguely. I had in mind that we need a _new field_ in psd1 file where we can specify all help files of module. If this information will be cached in ModuleInfo Get-Help will work fast.

[2016-12-08 12:52] iSazonov commented on #2834
$PSDefaultParameterValues work as expected:

[code]

[2016-12-08 16:40] kilasuit commented on #2810
I would be more inclined to push people to actually make use of the File list field in the manifest than to add another field to the manifest and risk any further version specific breaking changes (like CompatiblePSEditions)

Once the file list in the manifest has all the files listed within there then I don't think that it would then be much additional logic within Get-Help to equate for either a

[2016-12-08 17:13] kodarn opened #2859 "Invoke-WebRequest"
Steps to reproduce
------------------
OperatingSystem: MacOSX 10.12.1
1. Start PowerShell in a terminal window
2. Type: Invoke-WebRequest -Uri "https://go.microsoft.com/fwlink/?LinkID=817244"

Expected behavior
-----------------
The file being downloaded

Actual behavior
---------------
[code]
Environment data
----------------

OperatingSystem: MacOSX 10.12.1
[code]

[2016-12-08 17:17] joeyaiello commented on #2290
Posted by @sdwheeler in our Community Call, this is a version from Lee: http://poshcode.org/2153

[2016-12-08 17:22] SteveL-MSFT commented on #2290
@PowerShell/powershell-committee discussed this and recommendation is to have a cmdlet that supports this capability instead of adding to FileInfo.  Usage will be more common now that we are cross platform and should be part of the Utility module.  Get-FileEncoding and Convert-FileEncoding makes sense from a discovery standpoint.  Seems we can just review the parameters at PR time rather than requ

[2016-12-08 17:30] SteveL-MSFT commented on #1103
@PowerShell/powershell-committee discussed this.  There may be impact to get-command as now it would have to read the shebang to determine if it's a PowerShell script so we can run it within current runspace.  It may be worth experimenting to compare perf impact.

We should fix the hang so that scripts without extensions works as "executables" (new instance of powershell will execute it) as long a

[2016-12-08 17:34] SteveL-MSFT commented on #621
@PowerShell/powershell-committee agrees that -force and message only relevant to removing the folder should not be there for removing a folder symlink as it should be the same as removing a file

[2016-12-08 17:37] alastairs opened #2860 "ConvertFrom-Json does not respect -ErrorAction"
Steps to reproduce
------------------
Run the following expressions:

[code]

Expected behavior
-----------------
Both expressions write no error to the console, and return either `$null` or the empty string.

Actual behavior
---------------
The expressions write an error to the console and throw the following exception:

[code]

Environment data
----------------

[code]

[2016-12-08 17:37] alastairs commented on #2860
If this is not the appropriate place to report bugs against v5.x, please let me know where I can.

[2016-12-08 17:48] joeyaiello commented on #1755
We should also handle the `Invoke-WebRequest`/`Invoke-RestMethod` scenario where you're able to post a null JSON key as a string or as an object.

[2016-12-08 18:28] iSazonov commented on #2290
@joeyaiello If we do a different algorithm then `file`, it may be misleading Unix users.

@SteveL-MSFT Could you please clarify about the possibility of porting of `file` utility?

[2016-12-08 18:29] #2672 closed

[2016-12-08 18:46] iSazonov commented on #2860
@alastairs Could you please test this with recent Powershell 6 build?

[2016-12-08 18:46] zjalexander commented on #2028
this should be fixed on Windows now

[2016-12-08 19:15] HipCzeck opened #2861 "Deserialized Ordered Dictionary via Import-Clixml is not numerically indexable."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]
Deserialized object does not have the full implementation of the original OrderedDictionary object.

Environment data
----------------

[code]

[2016-12-08 19:34] kilasuit commented on #2028
@zjalexander - I can confirm that this is resolved from tests that I've done on a few new builds yesterday including Server 2016

[2016-12-08 20:32] SteveL-MSFT commented on #2290
@iSazonov porting file as a cmdlet makes sense (assuming appropriate licensing).  alternatively since I see the `file` is ported to Windows already, perhaps it's not worth the effort to port file to c# and instead just wrap it in a cmdlet?

[2016-12-08 21:03] alastairs commented on #2860
@iSazonov The behaviour is the same with 6.0.0-alpha13

[code]

[2016-12-08 21:05] Liturgist commented on #2028
Will this fix be in alpha.14?

[2016-12-08 21:17] zjalexander commented on #2028
@Liturgist it should be live right now - the underlying issue was with the help content, and totally independent of the PowerShell code. I just haven't gotten around to confirming it on PS Core yet :)

[2016-12-08 21:32] alastairs commented on #2860
Some further information in case it's useful: my `$ErrorActionPreference` variable is set to `"Stop"`.

[2016-12-08 21:38] Liturgist commented on #2577
I would very much appreciate some reference to documentation specifying what is and is not PowerShell Core. Ok, a what is list is a must, but a what is not list would be helpful.

Should I just take the output of `Get-Command` and `Get-Help *` as the definition of PowerShell Core?

[2016-12-08 23:31] lzybkr commented on #2290
Our conclusion on this issue was specifically about wanting better support for encodings, nothing more.

I think we also questioned the value in porting `file` to PowerShell because extensions are the primary way of understanding file types on Windows.

[2016-12-08 23:50] ElFerminador commented on #2163
+1. Very interested in this, since I'm switching to Mac and would need something like this for remoting into Office 365.

[2016-12-09 00:42] lzybkr commented on #2722
I'm convinced that the default behavior should not be changed, but I'm leaving this open until we have a better error message than `Cannot find a process with the name "1234"`.

[2016-12-09 00:47] rkeithhill commented on #2722
Agreed. At the very least, the error message could say `Cannont find a process with the name "1234".  If 1234 is a process Id, use Get-Process -Id 1234.`  Of course, you would only use **that** error message with the Name parameter value is all digits.

[2016-12-09 00:47] lzybkr commented on #2722
Note that #2199 might as well be the issue to cover customizing parameter metadata.

[2016-12-09 00:49] SteveL-MSFT commented on #2577
@Liturgist for now, those commands will tell you what is shipped with PowerShell Core, but there are other modules that work on Windows PowerShell and PowerShell Core that aren't part of PowerShell itself.  The VpnClient module above is part of Windows, but not part of Windows PowerShell (for example, it's not shipped as part of Windows Management Framework).

[2016-12-09 02:48] ravishankar opened #2863 "npm having issues on powershell"
Tried all the available tricks like updating npm/nodejs version & other patches suggested on stackoverflow
Steps to reproduce
------------------
1. On windows 10, install nodejs LTS version
2. in powershell try "npm-v" or any npm install

Expected behavior
-----------------
Should allow to use npm

Actual behavior
---------------
Getting below error

**C:\Users\Ravishankar> npm -v
C:\Program : The

[2016-12-09 04:18] SteveL-MSFT commented on #2859
Looks like dupe of https://github.com/PowerShell/PowerShell/issues/2801

[2016-12-09 06:04] DarqueWarrior commented on #2834
The only difference in my use case was the setting of $PSDefaultParameterValues was in a different function than where it was used. Second I use add not = so I did not overwrite existing entries. I had a convenience function that added entries to $PSDefaultParameterValues but when I then called a function the values were not in $PSDefaultParameterValue. It was as if they were only scoped and exist

[2016-12-09 07:50] ilgrank commented on #2812
Hi @SteveL-MSFT : As @MaximoTrinidad  suggested some day ago, it seems that PSCore is lacking (among other things) the .AllElements and .ParsedHtml properties.
One of the greatest (IMHO of course) features of (MS) Invoke-WebRequest is the ability to parse web pages in order to return addressable object.
It is a very useful feature, and it is a shame PSCore is missing it :(

[2016-12-09 10:43] powercode opened #2864 "Add conversion from PSMethodInfo to delegate/Func<>"
As a step on the way to realize #2226, I think we should start with adding a conversion from PSMethodInfo to System.Func.

Today, we have to do something like this:
[code]

I would like to express that as:
[code]

What is the right place to do this?

[2016-12-09 12:45] sandersaares opened #2865 "New-Item -ItemType SymbolicLink cannot understand directory path ending with slash on Linux"
Steps to reproduce
------------------

`New-Item -ItemType SymbolicLink -Path /foo/ -Value /bar/`

Expected behavior
-----------------

Symbolic link is created from `/foo/` to `/bar/`.

Actual behavior
---------------

`New-Item : No such file or directory`

Removing the slash at the end of the Path argument makes the call behave as expected. This is counterintuitive, as a slash at the end of a p

[2016-12-09 15:18] gabriel-samfira commented on #942
This is amazing. Just tested it. Works like a charm with basic auth. Any chance we can get x509 authentication as well? :D

[2016-12-09 16:32] SteveL-MSFT commented on #2812
@ilgrank please open a separate issue for .allelements and .parsedhtml properties

[2016-12-09 16:47] SteveL-MSFT commented on #2863
Not repro'ing for me:
[code]

[2016-12-09 17:50] #2277 closed

[2016-12-09 17:59] PatrickFB opened #2866 "New-FileCatalog ignores -WhatIf"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------
[code]

You can see the file has been created.
The Hash is also being calculated too.

[code]

Environment data
----------------

[code]

[2016-12-09 18:09] iSazonov commented on #2290
@SteveL-MSFT We cannot expect that there is the `file` utility on each Unix system especially on OsX.

Today I am more deeply researched how `file` utility works. Encoding detection is very simple (yes, file type detection is overkill for us) and can be easily ported to C#. Thus we can easily achieve compliance with the de facto Unix standard. The bad news is that the code is very old and should b

[2016-12-09 18:31] iSazonov commented on #2866
@PatrickFB Could you make the test with the latest build Powershell 6.0?

[2016-12-09 18:32] lzybkr commented on #2864
Yeah, that seems right to me.

I'd start [here](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/LanguagePrimitives.cs#L4590), if you need more pointers after that, just ask.

[2016-12-09 18:34] iSazonov commented on #2861
@HipCzeck Could you make the test with the latest build Powershell 6.0?

[2016-12-09 18:56] mirichmo commented on #2863
No repro for me either. I tried with Windows PowerShell and Alpha.13. Same result:
[code]

[2016-12-09 19:10] powercode commented on #2864
@PowerShellTeam Please assign to me

[2016-12-09 19:31] ilgrank opened #2867 "Invoke-Webrequest is missing some properties, like .ParsedHtml and .AllElements"
Hello Everyone
PsCore 6.x's Invoke-Webrequest is missing on the most 'loved' Ps 'classic' features, ie the ability to parse web pages and turn them into explorable objects.

Steps to reproduce
------------------
$test=invoke-webrequest -url http://www.github.com

Expected behavior
-----------------
$test.ParsedHtml
$test.AllElements
(amont others) are missing:

Microsoft Powershell :
![psclassic](

[2016-12-09 19:33] ilgrank commented on #2812
Thanks @SteveL-MSFT
I opened a new issue here: [](https://github.com/PowerShell/PowerShell/issues/2867)

[2016-12-09 19:33] #2812 closed

[2016-12-09 20:37] #2293 closed

[2016-12-09 20:47] HipCzeck commented on #2861
I've tested in the latest nightly build 6.0.0.13 alpha.

The output is the same in the actual behaviour section above, and the Environment Data section has been updated to indicate version used.

[2016-12-09 22:09] andschwa commented on #2475
Just wanted to follow up with you @michaelsaul, I think that would be a great idea, or at the very least include a sample in the documentation. A pull request would be most welcome!

[2016-12-09 22:33] kittholland commented on #2866
I was able to reproduce based on his steps.

[code]

[code]

[2016-12-09 23:15] thezim commented on #2290
@SteveL-MSFT for me I was just looking for detection of encodings that existing cmdlets currently accept such as Out-File. No code page usage. I do see the value in a full set of encoding cmdlets though.

[2016-12-09 23:29] charub commented on #2115
Need [System.Enironment]::OSVersion for this change. As of now, this fails with the following error on Ubuntu.
![image](https://cloud.githubusercontent.com/assets/18017330/21068077/46b315bc-be24-11e6-8537-c2cba36f2027.png)

[2016-12-10 00:40] SteveL-MSFT commented on #2863
Need better repro steps to be able to investigate this

[2016-12-10 11:34] powercode commented on #2864
@lzybkr I have the conversion working, but I guess I have to hook it in somehow when making the calls.

Can you give me another pointer?

[code]
[code]

[2016-12-10 13:17] powercode commented on #2864
I end up with the following expressions
[code]
What should I try to achieve instead of
```.Dynamic GetMember Twice(.Constant<System.Type>(N))),``` ?

[2016-12-10 13:36] powercode commented on #2864
Just to be clear:
[code]

[2016-12-10 15:49] iSazonov commented on #2864
It is a parameter binding. Try debug [here](https://github.com/PowerShell/PowerShell/blob/8abb6c3a94d304af0dd7611c865b1b2ec6460113/src/System.Management.Automation/engine/CoreAdapter.cs#L1419). If I found the right place, then most likely the cause of the problem in wrong ConversionRank.

[2016-12-10 16:12] iSazonov commented on #2861
@HipCzeck Thanks for the issue report!
Feel free to use Powershell 6 everyday, make suggestions and report new issues.

[2016-12-10 18:00] lzybkr commented on #2864
I see - [type inference](https://github.com/PowerShell/PowerShell/blob/8abb6c3a94d304af0dd7611c865b1b2ec6460113/src/System.Management.Automation/engine/CoreAdapter.cs#L5015) might failing.

[2016-12-10 20:35] powercode commented on #2864
Yes it is. Unifying of parameters. Thx.

[2016-12-10 23:56] ravishankar commented on #2863
@SteveL-MSFT : apologize for  incomplete steps, Updated steps in original issue

 I have updated my ComSpec environment variable from "C:\Windows\System32\cmd.exe"  to "C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe"

however with "cmd" as a default terminal, It works without any issues.

[2016-12-11 00:13] thezim commented on #2595
@iSazonov is there an RFC for a time span in general? I only know of date time ones. Is the standard 1:12:23:56.5550000?

[2016-12-11 04:06] iSazonov commented on #2595
No. It is from the same [datetime RFCs](https://en.wikipedia.org/wiki/ISO_8601).

[2016-12-11 07:31] kvprasoon commented on #2747
This could completely break the logic of a script in case of error handling

[2016-12-11 14:41] iSazonov commented on #2747
Yes,it can. But on the other hand, adding the new exception we improve the error handling.

[2016-12-12 06:21] kvprasoon commented on #2747
@iSazonov  An example use case is - If there is something to do based on the exception returned , end user/script will be misguided and won't be able to do what it is intended to do.

[2016-12-12 06:46] iSazonov commented on #2747
I searched `SomeOtherExceptionForComputerNameNotFound` and `SomeOtherExceptionForComputerNameNotFound,Microsoft.PowerShell.Commands.GetService` on GitHub found nothing. Google return 69 (!) results.
Therefore we could assume that this _breaking_ change is not disruptive.
New major version allows breaking changes and any script should be tested with the new version, especially if we migrate from Fu

[2016-12-12 10:36] hp-powershell opened #2869 "get-help not displaying for Aliases, Parameter Set Value and dynamic attributes of Parameters"
Steps to reproduce
------------------
This issue is regarding powershell help issue for external providers i mean MAML xml file.
1) Create a help for a exported function Test-Cmd in the PowerShell module file M1.
2) Test-Cmd function takes 3 parameters as arguments and below is the signature of it,
    Test-Cmd
    (
    [int]a1,
    [alias("A2")]
    [string]a2,
    ValidateSet("set1","set2")]

[2016-12-12 11:36] sandersaares opened #2870 "Download.sh for alpha 13 references alpha 11"
The file at `https://github.com/PowerShell/PowerShell/blob/v6.0.0-alpha.13/tools/download.sh` actually references the string `v6.0.0-alpha.11` in the code. This feels like an error - should it not say 13?

[2016-12-12 12:01] sandersaares opened #2871 "Windows 10 builtin SSH, arrows keys do not work in PowerShell in Azure Ubuntu Server 16.04"
Steps to reproduce
------------------

1. Deploy Ubuntu Server 16.04 on Azure (the default image in Marketplace).
1. On a Windows 10 machine, Install Linux Subsystem for Windows.
1. Open *Bash on Ubuntu on Windows*.
1. SSH into the Azure server from Windows.
1. Enter some arbitrary commands and press arrow keys. Observe that arrow keys behave as expected.
1. Install PowerShell according to https:/

[2016-12-12 12:20] iSazonov commented on #2869
@hp-powershell Could you please test this with latest builds (PS 5.1 and 6.0)?
And it would be great if you attached the test files.

[2016-12-12 12:43] iSazonov commented on #2871
Duplicate #1586

[2016-12-12 14:16] edgarsj commented on #2163
+1

[2016-12-12 14:40] sandersaares opened #2872 "Add newline customization parameter to Set-Content"
While I see that PowerShell respects platform line endings quite well, it is sometimes necessary to generate files for one OS when operating on another OS. As far as I can tell, Set-Content always uses the platform line endings. Therefore, at the moment, newline characters have to be manually post-processed when this is done.

Having a `-NewlineString` or equivalent parameter on Set-Content would

[2016-12-12 15:52] powercode opened #2873 "Misbehaving Executables and Console Mode"
On newer versions of Windows with support for ANSI colors in the console, some badly behaving executables changes the Console mode. An example is ```$env:USERPROFILE\AppData\Local\GitHub\PortableGit_d7eff...\usr\bin\perl.exe``` that is installed by GitHub Desktop.

Before executing the command (perl.exe), ConsoleMode is 7 (```ENABLE_PROCESSED_OUTPUT|ENABLE_WRAP_AT_EOL_OUTPUT|ENABLE_VIRTUAL_TERMINA

[2016-12-12 16:56] SteveL-MSFT commented on #2863
I don't think it's recommended to change `%comspec%` to point to PowerShell.exe as existing apps will break if they use something like:

[code]

From what I read, latest flight of Win10 has made powershell the default, but `%comspec%` still points to cmd.exe for compatibility reasons.

[2016-12-12 17:34] iSazonov commented on #2872
👍 Looks good!
👎 Powershell i/o is based on CoreCLR where `Environment.Newline` is platform _**readonly**_ property. I believe that if we want it, then we need to make a feature request in .Net Core to manage i/o more flexibility that is very desirable for multi platform support.
👍 Now Powershell already handle `NoNewline`. So we can easy enhance this to handle `newline`
For `Add-Content` and `Set-

[2016-12-12 17:54] iSazonov commented on #2873
I vote to fix this (after native command execution).

[2016-12-12 18:42] lzybkr commented on #2873
Dupe of #1177.

[2016-12-12 18:42] #2873 closed

[2016-12-12 19:02] Vivek2015 commented on #2747
You can handle the error like below, you can customize the same according to you needs
`
try
{
  Get-Service wuauserv -ComputerName MadeUpComputerName -ErrorAction Stop
}

catch [Microsoft.PowerShell.Commands.ServiceCommandException]
{
  # get error record
  [Management.Automation.ErrorRecord]$e = $_

  # retrieve information about runtime error
  $info = [PSCustomObject]@{
    Exception = $e.Exce

[2016-12-12 19:10] kittholland commented on #2872
Would it make sense or be possible to support a variable we could define as our line ending kind of how $OFS works?

[2016-12-12 19:24] iSazonov commented on #2872
+1 Good point!

[2016-12-12 20:58] wpostma opened #2875 "PowerShell should contain Export-PowershellDatafile cmdlet that safely and correctly persists property bags"
As a developer working on tooling, I find the ability to READ PSD1 files via `Import-PowershellDataFile` cmdlet incredibly handy. Importing a powershell data file (.psd1) is nice because the format is quite user-friendly and readable format.    It's just not easily writeable.   Which seems a big oversight.  I have learned that the most common term for the things you would write is a "property bag"

[2016-12-12 21:01] wpostma commented on #2875
Existing functionality is that you can load XML into Powershell variables, and save back to XML with `export-clixml` but it seems that PSD1 format would be more native, and more readable than doing this with XML.

[2016-12-12 21:32] wpostma commented on #2875
Also found that some people have implemented this themselves. The fact that this should be built in, and that the sample implementation below only barely works, is a good argument for building this INTO powershell.

`Export-PSData` sample works with some trivial @{ "a"="b"} cases, but not with others.
https://www.gitlab.com/warren.postma/hai/snippets/33366

[2016-12-12 21:42] rkeithhill commented on #2872
$EOL??

[2016-12-13 03:56] iSazonov commented on #2872
I think a full name will be more user friendly.
$EndOfLine
$FileOutputNewLine
???

[2016-12-13 04:16] rkeithhill commented on #2872
@iSazonov kind of like the user friendly `$OFS` (output field separator)?  ;-)

[2016-12-13 05:07] iSazonov commented on #2872
I would like to have this name was closer to the cmdlets on which it has effect `$FIleContentNewLine`

[2016-12-13 08:40] hansze commented on #2463
would be great to have by time dotnet core for debian ARM is available. Seems to be planned for Q1 2017

[2016-12-13 09:01] powercode opened #2876 "Enable native interop with static extern class methods"
It would be really neat if we could to native interop with classes.

[code]

How much work would it be to get this working?

[2016-12-13 16:25] PaulHigin opened #2877 "Fix group policy cache"
The internal Group Policy cache does not use a unique key and ends up returning MachinePolicy ExecutionPolicy for a UserPolicy query.

Update the cache code to use a fully unique key.

Investigate using a Tuple instead of concatenated string for the cache key to improve performance.

Steps to reproduce
------------------
Set Group Policy UserPolicy, ExecutionPolicy to RemoteSigned
Start new PowerS

[2016-12-13 17:38] lzybkr commented on #2876
Maybe not a lot of work, but it is a common enough ask that we should do it.

There is one important language design choice to make, how to declare a struct. Pinvoke would be much less useful without structs.

A struct is probably not generally useful in PowerShell, we box way too often, so I was thinking of using an attribute like ExplicitLayout to imply struct instead of adding a keyword.

[2016-12-13 20:37] DarqueWarrior commented on #2834
For example the code below does not appear to work as expected.  Once Set-Project is called I would expect $PSDefaultParametersValues to have a new entry.  But if I output $PSDefaultParameterValues it appears empty.  But if I call Set-Project again I get an error that the key already exist. It only appears to exist in that function and not globally.

[code]

PS > Set-Project -project 'MyProject'
P

[2016-12-13 20:51] DarqueWarrior commented on #2834
I was able to get the code to work but setting $Global:PSDefaultParameterValues instead.

[2016-12-14 02:02] zjalexander opened #2878 "Need documentation for SDK: building cmdlets"
Need API/SDK documentation for building cmdlets against PS6 in .NET Standard 2.0

[2016-12-14 02:03] zjalexander opened #2879 "Need documentation for SDK: Hosting PS runspace"
Need API/SDK documentation for hosting PowerShell runspaces in another application.

[2016-12-14 02:04] zjalexander opened #2880 "Need documentation for SDK: System.Management.Automation"
Need to generate API/SDK documentation for System.Management.Automation, potentially with DocFX.

[2016-12-14 03:59] iSazonov commented on #2834
Yes, you need use `scope`.

[2016-12-14 13:25] DarwinJS opened #2881 "MSI Package Uninstall Does not Cleanup Some Things Due to Non-Compliance with MSI Best Practices and Conventions"
One or more of the below may be due to the WIX framework not following MSI best practices and conventions - I'm not sure.

**The MSI package uninstall does not clean up the start menu folder and shortcut that were created.**
(e.g. "C:\ProgramData\Microsoft\Windows\Start Menu\Programs\PowerShell_6.0.0.13\PowerShell_6.0.0.13.lnk")

This may be because the package breaks an MSI validation rule (ICE67

[2016-12-14 13:48] iSazonov opened #2882 "Dotnet-resgen now support <lang>"
Based on dotnet/cli#819 we could make improvements here with strongly-typed auto-generated C# bindings for resources.

@andschwa @vors  If the community can help with this, could you publish a road map?

Related #745 #746

[2016-12-14 14:00] DarwinJS opened #2883 "Please compile PowerShell icon into powershell.exe for Windows binary"
This is likely related to #2881 - perhaps the reason that it was necessary to create a separate component for the icon?

Would be nice to have it compiled right in so that normal windows icon behaviors are observed (shortcut creation, visual identification in file system, etc).

[2016-12-14 14:47] iSazonov commented on #2804
May be install new Windows 10 Preview build.

[2016-12-14 14:58] iSazonov commented on #2883
It seems this is still not supported dotnet/cli#3267

[2016-12-14 16:18] dijitali opened #2884 "PowerShell Jobs hang when using PSDrives with credentials"
When running a PowerShell Job which creates a PSDrive to a remote server using credentials, the job can "hang" in the `Running` state even when all actions have been completed.  This is apparently caused by the way the PSCredential object is passed to the job, as illustrated in the script example below.

If the PSCredential object is created within the job, it will hang.  However, if the PSCredent

[2016-12-14 20:40] wpostma opened #2885 "Unix style which command should be built in as an alias."
My most frequent annoyance on Powershell is typing in a Unix command that everybody knows and unlike ls, or echo or cd, it doesn't just work.  The one I find myself missing most often is `which`, which I define on my own system as:

[code]

That makes me happy on my computer and sad on everyone else's computer where I can't just go install my powershell profile, so I have to go copy and paste that

[2016-12-14 21:29] joeyaiello commented on #1635
Yeah, I used to agree with @oising's opinion here that we shouldn't expose this because it encourages people to "do the wrong thing" when checking for certain kinds of compat at runtime.

Until I saw the kind of lengths people will go to in order to check for these sorts of things anyway. They'll do it one way or another, and at least this way it's easier to understand when and why people are chec

[2016-12-14 22:07] joeyaiello commented on #2885
I totally understand the appeal (and I'm currently copying that into my own personal profile). Unfortunately, this is dangerous for reasons outlined in #1901 and #929. tl;dr: *especially* in non-Windows scenarios, shells shouldn't plaster over native binaries on the box because users expect the binaries that they're used to (e.g. `ls -la` or `rm -rf` should just work on Linux boxes).

In this part

[2016-12-15 00:25] JamesWTruher opened #2887 "Tests should be marked and reported as skipped if not applicable to the platform"
We would really like to have our tests be reported as skipped if they are not applicable to a given platform.

Code which looks like this:
[code]
this means that these tests will only be reported on when run on a windows system. We won't be able to compare test counts across systems.

Steps to reproduce
------------------
inspect `test/powershell/Modules\Microsoft.PowerShell.Security\FileCatalog.T

[2016-12-15 01:07] SteveL-MSFT commented on #2887
Desire is to have the same number of tests run on any platform (although skipped tests are expected to be different) as this makes it easy to see that all tests were run.  We should fix this sooner so other people don't copy this as an acceptable pattern.

[2016-12-15 02:48] chunqingchen opened #2888 "PowerShell transcripts should include the configuration name in the transcript header"
Steps to reproduce
------------------
New-PSSessionConfigurationFile -Path .\myJeaConfig.pssc -TranscriptDirectory 'C:\temp\transcripts' -SessionType RestrictedRemoteServer
Register-PSSessionConfiguration -Name JEA -Path .\myJeaconfig.pssc
Enter-PSSession -ComputerName Localhost -ConfigurationName JEA
###
exit

Expected behavior
-----------------
PowerShell transcripts currently do not log the con

[2016-12-15 03:45] #2888 closed

[2016-12-15 10:55] powercode commented on #2505
@alx9r

When the loading times are that bad, it may be caused by your organization having ExecutionPolicy set by a group policy, triggering a very unfortunate code path in PowerShell.

I personally have a scheduled task to remove the group policy key just to get PowerShell usable. I had load times of 30+ seconds just loading my profile.

This is what I run (vbscript to not get a window popping up

[2016-12-15 15:51] iSazonov commented on #2887
[code]
Found 35 files. Really need fix much less. I could do this.

And related question about [skipping test guidance](https://github.com/PowerShell/PowerShell/blob/master/docs/testing-guidelines/WritingPesterTests.md#skipping-tests-in-bulk): why do we use `global` scope to restore defaults? `$global:PSDefaultParameterValues = $originalDefaultParameterValues`
[Some tests](https://github.com/Power

[2016-12-15 16:09] RamblingCookieMonster opened #2891 "Consider including PR# for each change in CHANGELOG.md"
Hi all!

Linking a particular bullet back to the context - a pull request, issue, etc. - could be quite valuable.  It might take a bit more effort, but you might consider including this information.

For example, check the [kubernetes changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#other-notable-changes-2) - this makes it easy for me to go right to discussion / impleme

[2016-12-15 17:00] iSazonov commented on #2887
I scanned the file list. Really need fix 9:
[code]

[2016-12-15 17:07] PaulHigin commented on #1746
This was fixed as part of PSRP over SSH changes.

[2016-12-15 17:07] #1746 closed

[2016-12-15 17:17] iSazonov commented on #2887
Do we need to fix this?
powershell\Modules\Microsoft.PowerShell.Utility\Implicit.Remoting.Tests.ps1:39:            return

[2016-12-15 18:07] lzybkr commented on #2891
I imagine we'll do that more when we get closer to a supported release.

[2016-12-15 19:39] wpostma commented on #2885
Ah.  Yes, I can see the need to not hide "which" if it's already in the path.  For such a purpose, I think then a new Powershell syntax needs to be defined that allows for polyfills (that is, do not replace which if it's in the path).

Current Powershell semantics make it impossible for me to write this:

[code]

[2016-12-15 19:41] #2871 closed

[2016-12-15 19:43] lzybkr commented on #2882
Most of our resources have been localized by the Windows localization team, so I don't think it makes much sense to ask for community help until we figure out the best way to pull in those translations.

[2016-12-15 20:22] alx9r commented on #2578
@powercode Thank you very much for bringing this to my attention.

@SteveL-MSFT Can you tell me how I can tell whether this change has been applied to a computer?

`ccmexec.exe` (the System Center Configuration Manager client) currently suffers terribly from the slow loading of PowerShell.exe.  `ccmexec.exe` can use powershell scripts as detection methods for Applications.  `ccmexec.exe` launches

[2016-12-15 20:52] #2775 closed

[2016-12-15 23:41] SteveL-MSFT commented on #2578
@alx9r I believe it's rolled into the patch Tuesday this month, so if you get the latest updates, I believe you should have it (powershell.exe will have a more recent date).

[2016-12-16 00:14] JamesWTruher commented on #2887
The reason I chose the global scope was to be _sure_ that it got reset it back to it's original state. Pester creates quite a number of scopes, and I wanted to be sure that I reset the value as high in the scope chain as I could.

WRT: Implicit.Remoting.Tests.ps1 - this looks fine, the tests should report regardless of platform. the return after setting $skiptest is proper as the BeforeAll shouldn

[2016-12-16 01:05] MaximoTrinidad opened #2894 "PowerShell installation new version not removing previous existing product folders"
Steps to reproduce
------------------
Install powershell latest version "powershell_6.0.0-alpha.14-1ubuntu1.16.04.1_amd64.deb"

Expected behavior
-----------------
To complete installation without any errors.

Actual behavior
---------------
Errors are showing that can't delete folder because they are not empty.

dpkg: warning: unable to delete old directory '/opt/microsoft/powershell/6.0.0-alpha.

[2016-12-16 02:03] RamblingCookieMonster commented on #2891
Even if you don't do it consistently, I suppose it might be handy for big-ish things, despite the early state of things.  For example, was curious about PSRP in the recent release, had to dig through a few issues before finding #942, which had exactly what I was looking for via @paulcallen

Personally I would love to see each bullet linked to a PR or group of PRs, and each PR would always link to

[2016-12-16 03:58] DerpMcDerp commented on #2885
The "see" command is more feature rich (and shorter to type too):

http://poshcode.org/5164

[2016-12-16 05:01] #2667 closed

[2016-12-16 05:19] nmbradford opened #2895 "invoke-webrequest and invoke-restmethod -headers parameter is more restrictive on PowerShell Core than on PowerShell Native"
Im working with an API that seems to not comply with the accepted standard for if-match header (value string must be enclosed in quotes), although this is apparently quite common and is accommodated in native PowerShell iwr/irm.  PowerShell core behaves differently and rejects the header when building the request.  Modifying the API (commercial product) to comply is not an option unfortunately.

S

[2016-12-16 06:28] aburlak opened #2896 "Invoke-WebRequest / Invoke-RestMethod fails to follow HTTP redirects from HTTPS"
Steps to reproduce
------------------
1. Install Windows Server Nano (10.0.14393)
2. Connect to the server using PS Remoting, then use PowerShell Core (the built-in version) to download a file, e.g. try to download .NET Core 1.1 ZIP package:

Invoke-Webrequest -Uri 'https://go.microsoft.com/fwlink/?LinkID=835028' -OutFile C:\netcore11.zip -MaximumRedirection 10

Expected behavior
-----------------

[2016-12-16 07:04] chuanjiao10 commented on #2194
Version v6.0.0-alpha.14 based on .Net core 1.1 , i retested this issue,problem is still.

[2016-12-16 07:16] vors commented on #2882
@lzybkr I don't see how that's related. The `<lang>` in the title refers to C# language, not the localizations.

@iSazonov yes, it would be awesome to remove our own res-gen. Theoretically it should be a drop-in replacement. We are currently pinning version of dotnet, so I think it make sense to combine this effort with switch to csproj.

[2016-12-16 11:47] aburlak commented on #2896
After some debugging, it looks like the root cause is that .NET Core's HttpClientHandler silently refuses to follow HTTPS-to-HTTP redirects.

However, there should be some way to at least look at the underlying response headers - currently, only a generic string description of the error is provided in the caught Exception (in desktop PowerShell - it is possible to retrieve the headers).

[2016-12-16 12:06] wpostma commented on #2885
How is that command different than the built in `Get-Command` that my which function example has? I didn't see how it's called see from that code either?

[2016-12-16 15:13] iSazonov commented on #2194
May be better open issue in CoreFX?

[2016-12-16 16:26] anthonykirby commented on #1882
Another Fedora (24) user here:  Following the above suggestions, I felt uncomfortable about using  old versions of openssl!  I found that Mageia Cauldron packages a more recent libssl.so.1.0.0  (1.0.2j at time of writing), and using this satisfied my conflicting "get it working" and "be safe" requirement.

So I'd suggest taking whatever lib64openssl1.0.0-xxxxxxx.mga6.x86_64.rpm is provided in http

[2016-12-16 16:30] wolske commented on #2163
Maybe a brief explanation of what PSRP is, for those who don't follow why "there is no solution" and "this is not supported" yet...

PowerShell for OSX/Linux needs a communication mechanism to reach remote nodes. PowerShell for Windows uses WinRM, and this is what will be listening on your servers. PowerShell for OSX/Linux only ships with support for SSH at this time, but the PSRP implementation @

[2016-12-16 16:30] iSazonov commented on #2887
@JamesWTruher Thanks for clarification!

It seems Pester's scopes are bit tricky. However, wouldn't it be more correct to restore the value in the same scope where the change was made?

[2016-12-17 00:13] DerpMcDerp commented on #2885
There is an alias up top:

[code]

1. `see` unrolls aliases automatically and tells you the name of the cmdlets and dlls they're in, e.g.

[code]

2. `see` can tell you if the function is in a module, e.g.

[code]

[2016-12-17 19:49] jpsnover opened #2898 "Start-DscConfiguration -Verbose should emit the name of the file it is processing"

[2016-12-17 20:03] JefferMC commented on #2463
This would be great.  I have some PowerShell scripts on a Windows box (that collect data from a network Gateway that doesn't have SNMP). I'd rather just copy over to my Pi than re-write in bash/perl or something else.

[2016-12-17 20:13] nadiasvertex commented on #2735
@SteveL-MSFT I did submit a PR. However, I am still having issues:

[code]

[2016-12-18 10:44] nightroman opened #2899 "Get-Help does not resolve aliases to scripts if they are not in the path"
The original bug is filed [here](https://github.com/nightroman/Invoke-Build/issues/41), PowerShell v5.1
I can reproduce it with the latest *powershell-6.0.0-alpha.14-win7-x86*.

Here is the description of the issue and steps to reproduce.

Create a directory *C:\TEMP\HelpAlias* (we assume it is not in the path yet).

Create a script *Test-Me.ps1* in it:

[code]

Open a PowerShell console and invok

[2016-12-18 11:04] rcw5 opened #2900 "Invoke-item fails when a space in the path"
I am running PowerShell on my Mac - there is an issue not fixed in 6.0.0 alpha 14 where invoke-item fails when there is a space in the path. It appears to treat the space as a separator as it attempts to open two paths instead of one.

Steps to reproduce
------------------
Create a file, /tmp/My Folder/test.txt

`mkdir '/tmp/My Folder'`
`"Hello" | Out-File '/tmp/My Folder/test.txt' -Force`

cd to

[2016-12-18 16:49] alx9r opened #2901 "Is there a publicly accessible way to determine which fixes have been included in production WMF/PowerShell?"
My work is very much benefiting from Microsoft's responsiveness to PowerShell issues that this repository seems to have brought.  Thank you very much for that.

There are a few [painful](https://github.com/PowerShell/PowerShell/issues/2578) [bugs](https://github.com/PowerShell/PowerShell/issues/2505) that are dear to me that seem to be fixed (or are on their way) in the 6.0-alpha releases.  It see

[2016-12-18 17:20] alx9r opened #2902 "Get-DscResource cannot find type [DSCResourceInfo]"
Steps to reproduce
------------------

1. Launch `powershell_6.0.0.14.exe` that was installed by [PowerShell_6.0.0.14-alpha.14-win81-x64.msi](https://github.com/PowerShell/PowerShell/releases/download/v6.0.0-alpha.14/PowerShell_6.0.0.14-alpha.14-win81-x64.msi).
2. Invoke `Get-DscResource File`

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
-

[2016-12-18 20:13] be5invis opened #2903 "Make PowerShell Really Monadic (in Category Theory)"
With an analogue between PS concepts and the category theory:

- Cmdlets ←→ Kleisli Category
- Streams ←→ Monadic types
- `|` ←→ Kleisli Composition (`>=>`)
- `cat` ←→ `return`

Could we extend PS’s type system to support other monad types? For example, list comprehension.

[2016-12-19 00:21] ArieHein commented on #2903
Something you can not achieve via Add-Type ?

[2016-12-19 04:14] n3rdopolis opened #2904 "Powershell is not year 10000 compliant"
Steps to reproduce
------------------
Try to get to  01/01/10000 from by adding one day to the last day of the year 9999
[code]

Expected behavior
-----------------
[code]
Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2016-12-19 10:15] powercode opened #2905 "Enable coloring of Select-String output"
@lzybkr bkr added a [gist](https://gist.github.com/lzybkr/dcb973dccd54900b67783c48083c28f7) adding coloring formatdata for MatchInfo.

I played a bit with it and added coloring of [regex groups](https://gist.github.com/powercode/4833804efd23045387bd5d5249d76f7b) and after having used it for a few months, I have to say that it is very useful. Instead of a wall of text, it is really easy to distingu

[2016-12-19 14:24] dijitali commented on #2904
I presume this is just a result of it being a regular .NET `DateTime` object which has a maximum year of 9999.  From [DateTime Structure](https://msdn.microsoft.com/en-us/library/system.datetime(v=vs.110).aspx#Anchor_7):

[2016-12-19 15:10] ArieHein commented on #2904
in what scenario would you use PowerShell to make calculations that are beyond 9999 ?
I'm an optimistic person, but I'm sure by that time, if we haven't destroyed ourselves back to the ashes, PowerShell would be the least of our world troubles :)

[2016-12-19 16:42] iSazonov commented on #2905
Looks superb!
We must help our eyes.
It would be nice to paint all output.
Maybe make the individual format color views for other types?

[2016-12-19 16:46] iSazonov commented on #2904
It's The End Of The World :-)

[2016-12-19 16:55] u-s opened #2906 "Set s_amsiInitFailed to true to avoid AMSI content scan"
Attacker may bypass AMSI by adding "[Ref].Assembly.GetType('System.Management.Automation.AmsiUtils').GetField('s_amsiInitFailed','NonPublic,Static').SetValue($null,$true)" to script.

This attack was described in this article: http://www.labofapenetrationtester.com/2016/09/amsi.html

[2016-12-19 16:56] rkeithhill commented on #2904
... as we know it, and I feel fine.  Sorry, big R.E.M. fan.

[2016-12-19 17:00] SteveL-MSFT commented on #2901
@alx9r I understand your frustration.  The situation is that although PowerShell is OSS, Windows certainly is not.  Windows servicing (which is what I was referring to) is a long process because app-compat is a top priority for Windows so each servicing fix goes through rigorous validation across all of Windows (which is a pretty big organization and product).  At this time, the expectation is tha

[2016-12-19 17:01] SteveL-MSFT commented on #2906
CC @LeeHolmes

[2016-12-19 17:02] SteveL-MSFT commented on #2904
If this needs to be addressed, issue should be opened against CoreCLR

[2016-12-19 17:59] SteveL-MSFT commented on #2735
@nadiasvertex I replied in the PR

[2016-12-19 19:29] Jaykul opened #2907 "Format-Wide shouldn't consider DefaultScalarTypes"
Format-Wide should work with scalar types -- it needs to *not* apply the special formatting that the other commands do to scalar types.  It should be possible to pipe strings or numbers and get the same results and piping objects with a DefaultPropertyName that results in a string or integer property.

I think the right thing would be for Format-Wide to just not check for scalar values at all.

Fo

[2016-12-19 19:29] Jaykul commented on #2907
Note: we have the same problem with integers, but I haven't been able to pull the same trick with the DefaultScalarTypes:

[code]

[2016-12-19 19:58] alx9r commented on #2901
@SteveL-MSFT Thank you for the clear statement.  Understanding what to expect helps a great deal to make good decisions at my end.

#2505 affects the development pace of PowerShell modules.  It looks like #2505 is improved (at least partly) in 6.0-alpha.14, but that release is affected by #2902 which seems to preclude its use for the development of DSC resources.  I'm hoping for a release where DS

[2016-12-19 21:25] SteveL-MSFT commented on #2902
CC @Indhukrishna can you have someone investigate this?

[2016-12-20 12:07] yanxyz opened #2909 "The output of help command is one letter per line"
Run help command:

[code]

![20161220_194627](https://cloud.githubusercontent.com/assets/737120/21349818/f9360bb8-c6ee-11e6-9f2c-25c58b863e9b.png)

The one on the right is the latest PowerShell:

[code]

The one on the left is system embeded PowerShell:

[code]

My OS is Windows 10 x64 Chinese language.

The `Get-Help`  cmdlet has no problem.

[2016-12-20 17:29] SteveL-MSFT commented on #2903
@be5invis if you're serious, I would suggest writing a RFC.

[2016-12-20 17:51] badgh commented on #2804
I totally reinstalled Windows, now it's ok for me. But I suppose the problem is maybe due to some Antivirus activity burden. For example, I installed and uninstalled AVG Free Antivirus, and noted that it causes some delay to Powershell closing (although not as bad as it was initially when I asked the question).

[2016-12-20 18:16] SteveL-MSFT commented on #2804
@badgh good to hear, I'll resolve this as external for now unless we have something we can investigate.  thanks.

[2016-12-20 18:23] pmaillot commented on #2804
Nice catch!

Reading your post and not changing anything to my PC configuration,

I disabled AVG:

Exit from powershell (using the x button) is instantaneous.

Re-enabling all but the “Computer Protection” (the leftmost option of AVG GUI window)

Exit from powershell (using the x button) is instantaneous.

Re-enabling the “Computer Protection” (the leftmost option of AVG GUI window)

Exit from pow

[2016-12-20 18:31] badgh commented on #2804
@pmaillot you are welcome! For me it was specifically "AVG protection" (or something called like that), which I uninstalled from Control Panel (while keeping AVG itself), and the problem disappeared, although I'm not sure cause details may vary on each Windows and AVG install...

[2016-12-20 18:35] pmaillot commented on #2804
Issue reported onto the AVG support forum.

-Patrick

From: Patrick-Gilles Maillot [mailto:patrick.maillot@gmail.com]
Sent: Tuesday, December 20, 2016 7:24 PM
To: 'PowerShell/PowerShell'; 'PowerShell/PowerShell'
Cc: 'Mention'
Subject: RE: [PowerShell/PowerShell] Powershell hangs for a while on close (when X button pressed) (#2804)

Nice catch!

Reading your post and not changing anything to my PC

[2016-12-20 21:41] SteveL-MSFT opened #2910 "Get-Process should display PM and WS in MB instead of KB"
Steps to reproduce
------------------
[code]
On Servers, processes are more likely to take up multiple megs so displaying K is less useful

Expected behavior
-----------------
PM(M), WS(M)

Actual behavior
---------------
PM(K), WS(K)

Environment data
----------------

[code]

TFS:9750040

[2016-12-20 23:42] randomvariable commented on #2909
Just looking at #2809. Is this because on Windows, the help file gets piped into more, and this doesn't support unicode properly, and is it an issue for the command prompt team?

[2016-12-21 00:08] randomvariable commented on #2513
This no longer crashes, as least in Alpha 14

Instead, we get `MI_RESULT_ACCESS_DENIED`, which is possibly [obscure but correct](https://msdn.microsoft.com/en-us/library/hh437490(v=vs.85).aspx) given the lack of WinRM.

[code]

[2016-12-21 07:31] AndrewGaspar opened #2912 "Native ArgumentCompleter not invoked for inputs that begin with hyphen (-)"
Description
-------------

Because of this issue, it's not possible to provide completion for native command parameters.

Inputs that repro the issue for command 'foo' (i.e. do not invoke completion):
1. foo -\<tab\>
2. foo -a\<tab\>
3. foo --\<tab\>

Inputs that do not repro the issue:
1. foo --a\<tab\>
2. foo ---\<tab\>

The issue repros with and without PSReadLine.

Steps to reproduce
---------

[2016-12-21 09:47] tonzagub commented on #929
I've been reading this thread in depth, and the following things are immediately apparent: that the aliases already exist in the Windows version of PowerShell, provide a behaviour that supports the design intent of PowerShell (ie., the passing of objects through the pipeline initiated by using cmdlets), and offer popular shortcuts to command names that appear on other systems or in Windows itself.

[2016-12-21 09:50] tonzagub commented on #929
I don't understand my browser sometimes… I thought I wrote:

"Invoke-Command -Native [-FilePath] <String> [[-ArgumentList] <String[]>] …"

which'd make more sense!

[2016-12-21 09:51] tonzagub commented on #929
Grrr… still stumped!

`Invoke-Command -Native [-FilePath] <String> [[-ArgumentList] <String[]>] …`

Maybe one day, I'll get it right.

[2016-12-21 11:42] yanxyz opened #2915 "New-Item -ItemType SymbolicLink folder cannot be opened"
Use the lastest PowerShell to create a symbolic link folder:

[code]

The big problem is that the symbolic link  `d` created above can't be opened. When using the system default PowerShell（PowerShell 5.1, My OS is Windows 10 x64） to create a symbolic link folder, it works well.  Another question, now use the lastest PowerShell to remove the symbolic link that is created by the system default Power

[2016-12-21 17:17] pcgeek86 opened #2917 "PowerShell module fails to install: "version of the module being installed is not catalog signed""
Steps to reproduce
------------------

1. Create a vanilla Windows Server 2016 Data Center virtual machine
2. Login to the instance using RDP or PowerShell Remoting over WinRM
3. Open PowerShell Console Host or Integrated Scripting Editor (ISE)
4. Call `Install-Module -Name AWSPowerShell -Scope CurrentUser -Force`

Expected behavior
-----------------

When installing a PowerShell module, using the

[2016-12-21 17:59] lzybkr commented on #2912
Odd - this works with [TabExpansionPlusPlus](https://github.com/lzybkr/TabExpansionPlusPlus) which defines roughly the same command and in theory works in a similar way, but it doesn't work with the built-in cmdlet.

[2016-12-21 23:33] #2295 closed

[2016-12-21 23:49] agonzalezm commented on #2613
any update on this? can anyone provide a package that i could try to run on mono and find issues/leaks?

[2016-12-21 23:56] lzybkr commented on #2613
I'm not aware of anyone working on this, and the issue is `Up-for-Grabs`, so if you want to see it happen, maybe you can contribute.

I will say that at some point in the next month or two, I think we'll be moving from `project.json` build files to msbuild now that `dotnet` supports it, so it might be better to wait for that work to finish before starting on mono support.

[2016-12-22 00:14] lzybkr commented on #2905
Most won't notice, but there is a small issue that we should consider in the formatting engine before using color in any default formatting.

If you change your foreground/background colors, the "reset color" ANSI escape sequence (CSI 0 m) doesn't work as expected.  For example, I have the following in my profile (using my unpublished module [ConsoleUtilities](https://github.com/lzybkr/ConsoleUtil

[2016-12-22 05:37] kvprasoon commented on #2747
@Vivek2015  Problem here is not how to handle error , but giving right exception.

[2016-12-22 13:19] powercode commented on #2905
And how should we think about the new console with full RGB support?
Seems wrong to limit ourselves to the small set of named console colors.

[2016-12-22 14:23] J0F3 opened #2921 "DSC Pull Server clients can not send status reports"
Steps to reproduce
------------------
Setup DSC Pull Server as described on TechNet at https://msdn.microsoft.com/en-us/powershell/dsc/pullserver and register some clients with a registration key and configuration name to the DSC Pull Server. (LCM configured for ConfigurationRepositoryWeb and ReportServerWeb)

Expected behavior
-----------------
DSC clients can send successfully status reports to

[2016-12-22 15:14] LethiferousMoose opened #2922 "XmlDocument missing Load(string) method"
Steps to reproduce
------------------
On PowerShell 5.0 I was able to access the XmlDocument.Load(string) method. I downloaded the latest PowerShell version off GitHub and that method overload now appears to be missing. This method is still listed on MSDN (https://msdn.microsoft.com/en-us/library/875kz807(v=vs.110).aspx) so it does not appear to have been deprecated.

5.0:
OverloadDefinitions
----

[2016-12-22 15:36] pcgeek86 opened #2923 "Add -Path alias to -FilePath parameter for Out-File command"
The `Out-File` command has a mandatory `-FilePath` parameter. The name of the `-FilePath` parameter is a bit redundant, given that the command's noun is `File`. I'd recommend adding a parameter alias `-Path` to the `-FilePath` parameter, to remove the requirement to have this redundancy.

Cheers,
**Trevor Sullivan**
Docker Captain
Microsoft MVP: Cloud & Data Center Management
https://trevorsulliva

[2016-12-22 15:38] mak42 commented on #2804
Can confirm, I added powershell.exe to AVG Exceptions now the problem is gone. Thanks for the Tip 👍

[2016-12-22 16:48] vors commented on #2922
It's dotnet core, not PowerShell issue.
Dotnet core 1.0 and 1.1 (currently used by PS) have a lot of missed APIs.
They are [bringing missing APIs back in 1.2](https://github.com/dotnet/corefx/issues/5925#issuecomment-261730549).
Once they release it, we will switch to the new version and such APIs should be back.

[2016-12-22 16:48] #2922 closed

[2016-12-22 16:51] faheel commented on #2910
I'm working on this issue currently.
I've found the code that needs to be fixed ([link to code section](https://github.com/PowerShell/PowerShell/blob/ae7b857c235203d1fd3708fe05c076e5a376859a/src/System.Management.Automation/commands/utility/FormatAndOutput/common/DefaultFormatters/DotNetTypes_format_ps1xml.cs#L534-L552)):
[code]
The way it looks to me, I would need to change `NPM(K)` to `NPM(M)` i

[2016-12-22 16:54] LethiferousMoose commented on #2922
Thanks for the response. That's what I wanted to know.

[2016-12-22 17:46] jpsnover opened #2924 "Save-Script will not overwrite a file even if -FORCE is used (it should)"
JPS> Save-Script trace-Variable -verbose -Path t.ps1 -Force
VERBOSE: Using the provider 'PowerShellGet' for searching packages.
VERBOSE: The -Repository parameter was not specified.  PowerShellGet will use all of the registered repositories.
VERBOSE: Getting the provider object for the PackageManagement Provider 'NuGet'.
VERBOSE: The specified Location is 'https://www.powershellgallery.com/api/v2/

[2016-12-22 17:50] jpsnover commented on #2924
Pilot error.
-Path takes a dir not a file

[2016-12-22 17:50] #2924 closed

[2016-12-22 19:06] omidkrad opened #2925 "Suggestion: Shortcut for piping to commands with no pipeline input"
When working with non-powershell commands, or cmdlets that don't have a pipeline input, I wish I could save a few keystrokes piping to them.

For example:

[code]

Could have a shortcut syntax like below (saves more than 10 keystrokes, including holding shift key):

[code]

I actually have a [Pipe-Command](https://github.com/omidkrad/DevShell/blob/master/scripts/Pipe-Command.ps1) for that which I

[2016-12-22 19:25] NearTox opened #2926 "Powershell not parse mixed single and double quotes [found via: -command Set-Location]"
Steps to reproduce
------------------
1. execute:
[code]

Expected behavior
-----------------
open powershell in "X:\I'll do" location

Actual behavior
---------------
powershell return:

The string is missing the terminator: '.
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : TerminatorExpectedAtEndOfString

Environment data
-----

[2016-12-22 22:45] lzybkr commented on #2905
Discussion about color support is in https://github.com/PowerShell/PowerShell/issues/2381

[2016-12-22 22:54] bmanikm commented on #2917
@pcgeek86 This was a known issue and got resolved with the latest Cumulative Update. Please try again after installing the latest Cumulative Update.

[2016-12-22 22:55] lzybkr commented on #2910
Consider yourself assigned.
You can always submit a PR without being assigned
We can't assign in the GitHub UI without making someone a collaborator (a GitHub restriction), but we need to see some history as a contributor before making that person a collaborator.

[2016-12-23 16:22] pcgeek86 commented on #2917
@bmanikm Thanks, let me take a look to see if there's a Cumulative Update available for this instance.

[2016-12-23 16:36] #2917 closed

[2016-12-23 17:34] #2780 closed

[2016-12-24 06:24] DerpMcDerp commented on #2751
I'm against the `` `u<hex>+`` without an end of hex sequence delimiter syntax because programming languages like that prone to mistakes when the escape code is followed by text that just happens to be a hex character. My preferred solution is something that resembles Perl's bracketed hex escapes like:

https://connect.microsoft.com/PowerShell/feedback/details/969678/add-character-literals-and-supp

[2016-12-24 07:32] rkeithhill commented on #2751
The way C# solves this, and what I was planning to implement, is that the token will always require four hex digits e.g.:
[code]
So in PowerShell that would be:
[code]
No worse (and yeah, no better) than C# in that regard.

RE UnicodeCodePoint, isn't that a bit of a corner case - using characters above BMP?  Not being sarcastic.  Just never run into a need for a Unicode surrogate pair in .NET or W

[2016-12-24 22:21] DerpMcDerp commented on #2751
"foo$([Char]::ConvertFromUtf32(0x1F01C))bar" doesn't work in places where constant strings are required

[2016-12-24 23:29] rkeithhill commented on #2751
Well, we could use `` `U<hex>{6}`` for this (or `` `U<hex>{8}`` just to be consistent with C#/C++).

[2016-12-24 23:45] DerpMcDerp commented on #2751
If the syntax is going to be `` `u`` Can you consider adding the `` `{(<hex>+<space>?)*}`` form also to support Perl style hex escapes:

``"`{61 62 63}"`` == "abc"

Since escapes often come in batches and it's annoying/cluttered to use `` `u0061`u0062`u0063 ``

It would be acceptable for me if the ranges outside the BMP could only be done inside the braced form so only the `` `u<hex>{4} `` and ``

[2016-12-25 17:28] vmkdaily commented on #2511
Hi all,
Patiently waiting for this to get fixed.  I'm hoping to run Powershell and PowerCLI on CentOS (without downloading bits from Japan).  Thanks for your support!

[2016-12-26 04:26] vors commented on #2818
Seems like the question is answered.

[2016-12-26 04:26] #2818 closed

[2016-12-26 04:30] vors commented on #2715
Same is true for VERBOSE

[code]

[2016-12-26 08:52] chuanjiao10 opened #2928 "can not use "~" with mkdir"
can not use "~" with mkdir

1 In powershell, the following functions are normal: (command with "~")
test-path ~/xxx
cd ~/xxx

2 i foud powershell's mkdir is linked to /usr/bin/mkdir:
mkdir --help     #    return gnu

3 can use 【mkdir ~/xxx】in bash,but can't use that command in powershell,i think it is a bug.

Steps to reproduce
------------------
mkdir ~/xxx

Expected behavior
-----------------
su

[2016-12-26 10:26] chuanjiao10 commented on #2926
i think it's not a bug.

$a = "A:\pscode\temp184\aaa'b"
cd -LiteralPath $a
cd ..
pwd
$b = "aaa'b"
cd -LiteralPath $b
pwd

get-command -ParameterName LiteralPath

Merry Christmas to every American,happy new year to you.

[2016-12-26 11:09] goyalmohit opened #2929 "Start-PSBuild fails with Could not find Visual Studio vcvarsall.bat at ."
Please pardon if this is not the right way to build or file a bug.

I'm trying to build PowerShell core on windows 2012 R2 machine. When I'm running command Start-PSBuild after importing module build.psm1, it fails with error:

PS C:\Program Files (x86)\jenkins\workspace\powershellcore> Start-PSBuild
Join-Path : Cannot bind argument to parameter 'Path' because it is an empty string.
At C:\Program

[2016-12-26 13:51] jianglibo opened #2930 "Will invoking of external bash command throw exception?"
The lines bellow should catch an exception?
I had wrote Powershell for months, It's not Powershell way.

[code]

Even invoke code like this, it won't throw an exception. Does Powershell handle Java thread special?
[code]

[2016-12-26 22:41] NearTox commented on #2926
i think that the problem is from System.Management.Automation
a tokenizer problem (i'm not a C# programer, sorry if fail)
![powershell bug 2](https://cloud.githubusercontent.com/assets/3236398/21487110/49c297c6-cb87-11e6-948c-a1fe0a25eba3.PNG)

And Merry Christmas and new year.

[2016-12-26 23:37] lzybkr commented on #2926
This is not a PowerShell bug - the command line you've passed will not contain the double quotes.

[code]

Notice that `arg 3` is a single argument (because you used quotes), but the actual argument does not contain the quotes.

This is how argument parsing works.

PowerShell tries to be help and concatenates all of the argument after `-Command`, but in cases like this, it can be a bit confusing b

[2016-12-26 23:37] #2926 closed

[2016-12-26 23:42] NearTox commented on #2926
thanks @lzybkr

[2016-12-27 01:19] dgancho commented on #2921
Having exactly same issue on Windows 10 DSC nodes. Server 2012 R2 nodes send reports to Web Pull Server successfully.

Node (WIndows 10):
[code]

Web Pull Server (Server 2012 R2):
[code]

web.config:
[code]

Errors on Pull Server:
[code]

Errors on Nodes (Windows 10):
[code]

[2016-12-27 08:59] goyalmohit commented on #2929
This is PowerShell code throwing error inside Start-PSBuild function:

$vcVarsPath = (Get-Item(Join-Path -Path "$env:VS140COMNTOOLS" -ChildPath '../../vc')).FullName
        if ((Test-Path -Path $vcVarsPath\vcvarsall.bat) -eq $false) {
            throw "Could not find Visual Studio vcvarsall.bat at $vcVarsPath. Please ensure the optional feature 'Common Tools for Visual C++' is installed."

[2016-12-27 09:19] goyalmohit opened #2932 "Start-PSBuild failing on windows with The content at 'https://www.myget.org/F/dotnet-core/api/v3/index.json' is not a valid JSON object"
I'm trying to build on a windows server 2012 R2. Start-PSbuild keeps failing on it with below error:

PS C:\Program Files (x86)\jenkins\workspace\powershellcore> Start-PSBuild
VERBOSE: Using configuration 'Debug'
VERBOSE: Top project directory is C:\Program Files (x86)\jenkins\workspace\powershellcore\src\powershell-win-core
VERBOSE: Using framework 'netcoreapp1.1'
VERBOSE: Using runtime 'win81-x6

[2016-12-27 09:23] goyalmohit commented on #2932
Below is the data for this request:

StatusCode        : 200
StatusDescription : OK
Content           : <!doctype html>
                    <html lang="en">
                    <head>
                        <meta charset="utf-8" />
                        <title>Sign in to MyGet - MyGet - Hosting your NuGet, Npm, Bower and Vsix packages</title>
                        <meta name="viewport" conte.

[2016-12-27 17:55] dougransom opened #2933 "Install Fails on Ubuntu 16.10"
I do realize the .deb is for 16.04.1 but I thought someone might want to know.

Steps to reproduce
------------------
ransom@claw:~/Downloads$ sudo dpkg -i powershell_6.0.0-alpha.14-1ubuntu1.16.04.1_amd64.deb
Selecting previously unselected package powershell.
(Reading database ... 221717 files and directories currently installed.)
Preparing to unpack powershell_6.0.0-alpha.14-1ubuntu1.16.04.1_amd

[2016-12-27 18:16] dougransom commented on #2463
i would be interested in powershell on raspberry pi.

[2016-12-27 18:26] rickwebiii opened #2934 "Different directory structures when using Copy-Item when destination does or does not exist."
Suppose I have the following directories in the current working path:
src\foo\bar

and the dest directory does not exist.

Running "Copy-Item -Recurse src dest" yields dest\foo\bar

However, if dest does exist then I get dest\**src**\foo\bar

I at least expect to get the same behavior regardless of whether dest already exists or not.

Environment data
----------------
[code]

[2016-12-27 18:54] vors commented on #2933
Duplicate of #2735

[2016-12-27 18:54] #2933 closed

[2016-12-27 23:46] kodarn commented on #2859
Tested this in v6.0.0-alpha.14, and no exception is thrown 👍

Question: Is there any way of knowing the redirected filename? That is, when browsing to "https://go.microsoft.com/fwlink/?LinkID=817244" we now get the file content, but have no idea what the proper filename is. I guess its stated in the http redirect headers somewhere? Should Invoke-WebRequest cmdlet handle this, or is there another w

[2016-12-28 00:56] tahir-hassan opened #2935 "OutputType attribute doesn't work with String type + other problems discovered"
This is an issue with the "intellisense" for the `[OutputType]` attribute, when the output type is `String`.  No intellisense is given for the `String` type, So I cannot find the `Substring` method etc.  This only affects the `String` type.

A PowerShell MVP, BartekB, also reproduced this issue: http://stackoverflow.com/a/41351336/288393

Steps to reproduce
------------------

* Install PowerShell

[2016-12-28 04:00] iSazonov commented on #2935
Perhaps related #2567

[2016-12-28 04:23] TravisEz13 opened #2936 "No way to disambiguate a method call with an out parameter when similar overloads exist"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
I should be able to call the method.  When I use a concrete object when ref is not required, the call works.

Actual behavior
---------------

Method calls fail with the following output

Environment data
----------------

[code]

[2016-12-28 06:42] goyalmohit commented on #2932
This seems to be working this morning. Not sure what's changed.

[2016-12-28 07:17] minoseah629 opened #2937 "mac $env:path is empty in powershell"
Steps to reproduce
------------------
1. open terminal
2. input "powershell" in terminal
3. input "$env:path"
4. exited powershell
5. input echo $PATH

Expected behavior
-----------------
The behavior I expected to see was a string of environmental folders.

From echo $path
/Library/Frameworks/Python.framework/Versions/2.7/bin:/Library/Frameworks/Python.framework/Versions/3.5/bin:/Library/Applicat

[2016-12-28 08:52] #2932 closed

[2016-12-28 23:35] dvillega commented on #942
This makes me so happy. Thank you so much.
![will-smith-1live-applaus-26uf6o80xhd6MKGIw](https://media0.giphy.com/media/26uf6o80xhd6MKGIw/giphy.gif)

[2016-12-28 23:51] ElFerminador commented on #942
Thank you all VERY MUCH for all the effort you're putting into this!! I've recently switched to Mac OS, but I'd really like to retain the ability to remote PowerShell into my Windows servers and also some stuff in the cloud (Office 365, Azure).

I don't code well enough to be much help, but I speak five languages. Let me know if you need any translation done for German, French, Italian, Spanish (o

[2016-12-29 05:21] minoseah629 commented on #2937
I just tried using $env:PATH and that provided the correct result.

I do not think the case should matter in this situation considering that other scripts will potentially use $env:path

[2016-12-29 12:03] iSazonov opened #2939 "Parser: Multiple methods, one line"
While working on #2219 , I am blocked by the [wrong test
](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Language/Classes/Scripting.Classes.BasicParsing.Tests.ps1#L69)

Steps to reproduce
------------------
[code]
Expected behavior
-----------------
Parser throw on the second test.
_I believe that the definitions of methods must be separated by a delimiter ( ';' or new line)

[2016-12-29 16:44] vors commented on #2937
On Mac and Linux env variables are case-sensetive.
PowerShell should not try to wrap them in case-insensitive manner for the same reasons it should not try to wrap the filesystem.

[2016-12-29 16:44] #2937 closed

[2016-12-29 18:45] lzybkr commented on #2939
Duplicate, see https://github.com/PowerShell/PowerShell/issues/2779

[2016-12-29 18:45] #2939 closed

[2016-12-29 18:49] #2910 closed

[2016-12-30 09:17] yanxyz opened #2941 "Encoding problems"
Under the latest Powershell, when running a script encoded in different encodings,

test1:

[code]

It seams like that the script file is decoded in Latin1。

test2:

[code]

test3:

[code]

PowerShell included in Windows(my OS is Win10 x64 ) works well besides the test2 which outputs "hello 浣犲ソ".

Now try to write a file by Out-File

test4:

[code]

 `-Encoding default` means system encoding which

[2016-12-30 20:14] PatrickLang commented on #2667
@SteveL-MSFT is there any way to get this fixed in Nano Server?

[2016-12-30 20:31] pcgeek86 opened #2942 "Invoke-WebRequest: Vague error thrown, resulting from TLS issue"
Steps to reproduce
------------------

1. Run `Invoke-WebRequest -Uri https://internalwebsite.local` (actual URL hidden for security)

Expected behavior
-----------------

Web request succeeds, similar to how the web browser (eg. Google Chrome, Firefox, Safari) successfully opens the secured page.

Actual behavior
---------------

An exception is thrown:

[code]

When I dig into the exception, I f

[2016-12-30 20:36] pcgeek86 opened #2943 "Add debugging information to determine if running in container"
Something that might be useful for people using software containers, such as Docker / OCI or rkt, would be to include some debugging information to `$PSVersionTable`, to determine whether or not the PowerShell instance is running inside a software container. This may aid in debugging by providing additional, contextual information about the PowerShell process.

Cheers,
**Trevor Sullivan**
Docker C

[2016-12-31 00:56] rkeithhill commented on #2942
At the very least it would be nice if the error message surfaced the inner exception info.

[2016-12-31 07:45] vors opened #2944 "Unix version doesn't handle fast key-presses"
Steps to reproduce
------------------

Set the delay of the keypress to the minimum.
Hold a key, i.e. `1`
Hold a left arrow

Expected behavior
-----------------

[code]

Actual behavior
---------------
Glitches, glitches, glitches

- new lines
- random escape codes
- when pressed left arrow, the full line turns into escape codes

![image](https://cloud.githubusercontent.com/assets/816680/21576568/

[2017-01-02 00:08] tahir-hassan commented on #2935
Hi, not related to #2567.

This problem only affects the `string` type.  I imagine because `string` is `IEnumerable<char>` and `$_` is being treated as a `char` instead of a `string`

[2017-01-02 01:14] tahir-hassan commented on #2935
I've did some interesting investigations on this. I added an `IString` interface which is the same as `String` class:

[code]

Then I changed the `Send-Greeting` function above to reference `IString`:
[code]

Then, lo and behold, the following behavior worked:

[code]

However, then I tried to define another test function `Get-FirstChar` which accepts pipeline input:

Function Get-FirstChar
{

[2017-01-02 15:56] iSazonov commented on #2944
@vors  Can you check whether the problem if you run Powershell under `screen` utility? It seems this utility makes things better.

[2017-01-03 03:36] PSGvili opened #2947 "Remove-CimInstance wont work with Win32_PrinterDriver that the Driver MajorVersion is 4"
Steps to reproduce
------------------
install printer driver that his MajorVersion is 4
for example Samsung M332x 382x 402x Series Class Driver
run remove-CimInstance -Query "Select * from win32_printerdriver where name LIKE 'Samsung M332x 382x 402x Series Class Driver%'"

Expected behavior
-----------------
The selected printer driver need to be remove(deleted) from the installed printer drivers

[2017-01-03 15:30] pcgeek86 opened #2948 "Mac OS X :: iTerm 2 :: Go forward / back a word"
How would one configure iTerm2 in order to go forward / back a word in PowerShell Core? Right now, if I try to use `ALT + B` and `ALT + F` keyboard shortcuts, the result is simply that a `b` or `f` character is printed. I even tried manually adding keyboard mappings to the PowerShell iTerm2 profile, but this didn't seem to have any effect positive or negative.

Both Bash and ZSH use the `ALT + B`

[2017-01-03 18:35] mirichmo commented on #2929
Start-PSBootStrap will not install Visual Studio for you. Additionally, you need to install the "Common Tools for Visual C++" component as described in the error message. Once both are installed, I would expect the build process to work as expected for you. We provide links [here](https://github.com/PowerShell/PowerShell/blob/master/docs/building/windows-core.md#visual-studio).

[2017-01-03 23:14] #2527 closed

[2017-01-03 23:15] dougransom commented on #2735
From the looks of things this isn't fixed yet?  I am hoping try to PowerShell on Ubuntu 16.10.

[2017-01-04 13:35] jawn opened #2949 "Docker page contains broken links to documentation"
Steps to reproduce
------------------
Go to https://hub.docker.com/r/microsoft/powershell/
Click one of the links to documentation, eg 'getting started' or 'Instructions'

Expected behavior
-----------------
Navigates to corresponding documentation page.

Actual behavior
---------------
404 error message

Eg https://hub.docker.com/r/microsoft/powershell/docs/learning-powershell/

[2017-01-04 15:39] DarwinJS opened #2950 "Support PowerShell Policies on Non-Windows Editions - especially Global Transcription Policies"
The Transcription policies are not only useful for audit, but also for debugging PowerShell code that is run in complex call stacks (like we experience in automation tool stacks).

Transcription policies affect powershell engine execution in contexts where the powershell developer does not have the ability to specify command line parameters - so it seems these should be stored as settings.

The tr

[2017-01-04 16:23] goyalmohit commented on #2929
Yes, it works after installing component as mentioned. The bug is raised for either updating build instructions or covering this using bootstrap script as per existing instructions.

[2017-01-04 18:00] vors commented on #2949
The links are relative for github.
Docker exports only README.md

We can replace all relative links by absolute links in README.md
This came up second time already, probably worth to replace them.

[2017-01-04 18:01] vors commented on #2735
@douglaswth there is no package for ubuntu 16.10 yet, but you should be able to build from source with `./build.sh` script.

[2017-01-04 18:02] vors commented on #2735
Fixed in #2832

[2017-01-04 18:02] #2735 closed

[2017-01-04 18:09] #2887 closed

[2017-01-04 18:31] lzybkr commented on #2949
Would an update to README.md automatically update hub.docker.com?

I see I can manually edit the "Full Description" manually in hub.docker.com, so I doubt they are connected, more likely somebody just pasted the contents.

[2017-01-04 19:06] ChrisMagnuson commented on #1654
Fyi, 16.04.1 with PowerShell v6 alpha 14 still has this same issue

[2017-01-04 19:31] bcdady opened #2951 "Update-ModuleManifest should process regardless of current host"
Steps to reproduce
------------------
From a PowerShell Console, Invoke Update-ModuleManifest cmdlet, specifying a `-Path` to a .psd1 manifest which includes `PowerShellHostName = 'Windows PowerShell ISE Host'`.

Specific example (this module is available from [PowerShellGallery](http://www.powershellgallery.com/packages/ISESteroids/):
```Update-ModuleManifest -Path $(Get-Module -ListAvailable -Na

[2017-01-04 20:23] lzybkr commented on #2951
`Update-ModuleManifest` is in PowerShellGet - open an issue [here](https://github.com/powershell/PowerShellGet/issues).

[2017-01-04 20:23] #2951 closed

[2017-01-05 01:12] fmichaleczek commented on #2950
it is time for /etc/powershell/transcript.conf (or a Unix registry ^^)