[2018-08-09 09:41] iSazonov commented on #7481
@powercode Feel free to push the PR - it is easiest way to discuss new ideas and code. Many thanks for your investigations!

Currently I don't understand where we could use `PSObjectBuilder` - do we currently create PSObject objects for internal use only in the engine?
Also why do we need new struct and class - can we implement new constructors for PSObject ? or you say about "PSObject fabric"?

[2018-08-09 09:54] iSazonov commented on #4357
It is not difficult until the code is used in serialization.

[2018-08-09 11:49] kilasuit commented on #7451
this is a duplicate of #7264

[2018-08-09 13:31] KiruthikaSubramaniam commented on #6846
Please comment the solution for the above issue

[2018-08-09 13:31] kvprasoon commented on #7458
@iSazonov and @weloytty  I think this behavior is correct as the script is still residing in a remote location. Execution policy is always for a script which is available locally(no matter from where it is developed). Correct me if I'm wrong.

[2018-08-09 14:22] alx9r commented on #7451
@iSazonov I don't know if #7377 is related.  That is a rather different repro.  What is similar is that both involve a call that should import a module but silently fails:  `Runspace.Open()` in #7377 and `Import-Module` here.

[2018-08-09 14:32] alx9r commented on #7477
@BrucePay That seems pretty good for my purposes.  Can I rely on the `.DataAdded` event handlers to be called in the order that matches the output from the scriptblock?

[2018-08-09 14:44] alx9r commented on #3008
@iSazonov

Do you mean that @daxian-dbw has already implemented something like this?  If so, could you point me to that work?

I'm now sure how applicable the code I have for parallelizing unit testing is to the implementation of something general-purpose like `Invoke-Parallel` or parallel `ForEach-Object`.  I'll take another look with that in mind though.

[2018-08-09 14:49] alx9r commented on #3008
@powercode I think you're right.  Let me think about the specifics of this for a bit -- I think I have enough notes from my experiments to come up with a minimal set of improvements that would support concurrency well.

[2018-08-09 15:02] alx9r commented on #7464
@stevel-msft Could you elaborate on this?  It's not obvious to me why such behavior is desirable.

[2018-08-09 15:02] mklement0 commented on #7445
Thanks, @BrucePay.

Good point about `@.` being more appropriate.

Thanks for the reminder about `.ForEach()` also being able to _set_ properties.

Though `.ForEach()` therefore technically gives us everything we'd need the new operator for, I still the latter is a useful addition (and it doesn't sound like you disagree, I'm just spelling it out), because:

* with `.ForEach()` you need to _quote_

[2018-08-09 15:14] iSazonov commented on #3008
@alx9r #7242 and https://github.com/PowerShell/PowerShell-RFC/blob/master/4-Experimental-Accepted/RFC0029-Support-Experimental-Features.md

[2018-08-09 16:19] Jaykul commented on #4235
HANG ON ... This is a **breaking** change to the function!!!

Does `-ErrorAction SilentlyContinue` work, or are you now forcing everyone to wrap this in a try/catch block?

[2018-08-09 16:23] SteveL-MSFT commented on #6846
The fix has already been released for some time now.  Solution is to update Win10.

[2018-08-09 16:27] SteveL-MSFT commented on #7464
If the module manifest exists, it should be the "source of truth" for the module.  Intent by the author (for end users) is to import the module manifest which defines not only what functions/cmdlets/aliases/etc.. get exported, but also the formatting and types files to use.  Importing the .psm1 directly won't give same experience (unless explicitly coded to do) and could give different behavior as

[2018-08-09 16:32] SteveL-MSFT commented on #7458
The default ExecutionPolicy is `RemoteSigned` and a network share is `Remote` so this behavior is `by-design`.  Other than signing the script, the other solution is to change your execution policy.

[2018-08-09 16:39] weloytty commented on #7458
@SteveL-MSFT  It's by design even if my executionpolicy is Unrestricted?

`
PS C:\Users\Loyttyw> get-executionpolicy
Unrestricted
PS C:\Users\Loyttyw> .$PROFILE

Security warning
Run only scripts that you trust. While scripts from the internet can be useful, this script can potentially harm your
computer. If you trust this script, use the Unblock-File cmdlet to allow the script to run without this

[2018-08-09 16:39] SteveL-MSFT commented on #7112
I would rather push for corefx to have an opt-out option for randomized GetHashCode() (and use it in specific cases where it's not a security concern) rather than doing our own implementation if this is the perf blocker.

[2018-08-09 16:57] mi-hol commented on #7451
Based on comment https://github.com/PowerShell/PowerShell/issues/7264#issuecomment-405320294 the commononality is WSL and I had another other issue with nuget (from mono installation) on WSL before

[2018-08-09 17:05] mi-hol commented on #7451
From my limited understanding the destination directory is set incorrectly
'InstallPackageLocal' - name='ImportExcel', version='5.1.1',destination='/tmp/147239779'

[2018-08-09 17:06] Retia-Adolf opened #7488 "Import-Module : Could not load file or assembly 'System.Windows.Forms, Version=2.0.0.0, ...'"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]
[code]
[code]

[2018-08-09 17:09] SteveL-MSFT commented on #7458
Your profile script is both unblocked and executionpolicy is unrestricted?  Can you try `bypass` execution policy?

[2018-08-09 17:35] lzybkr commented on #7112
It's worth checking if we're computing the hash code too often. Can the algorithm be improved?

[2018-08-09 18:33] weloytty commented on #7458
Correct, I have run unblock-file $PROFILE and execution policy is unrestricted.
-ExecutionPolicy Bypass worked as expected (no prompt when running profile).

I've attached a transcript of what happens, starting from cmd
[7548.txt](https://github.com/PowerShell/PowerShell/files/2275485/7548.txt)

[2018-08-09 18:57] mi-hol commented on #7451
Could my issue be caused by missing or empty $PSModulePath?
http://wahlnetwork.com/2015/08/10/psmodulepath/ describes this issue very detailed

[2018-08-09 18:59] #7278 closed

[2018-08-09 19:11] #7409 closed

[2018-08-09 19:17] msftrncs commented on #5983
I see this issue happen on PS 6.0.3 on both Ubuntu 18.04 and on Windows 10.   Also, Windows PowerShell 5.1 has the same issue.  I will also note it does not happen to BASH, BASH behaves really well when its window is resized, both vertically and horizontally.  PS, not so much.  Its worse (more noticed) in VS Code integrated console, as its more likely to have the window resized throughout a develo

[2018-08-09 19:28] mi-hol commented on #5699
A really dangerous bug open for an eternity :(
Is it so hard to fix?
Would a headline like 'PowerShell killed all my data' be good marketing?

[2018-08-09 19:41] mi-hol commented on #7451
PS /home/mihol> [Environment]::GetEnvironmentVariable('PSModulePath','User').split(":")
You cannot call a method on a null-valued expression.
At line:1 char:1
+ [Environment]::GetEnvironmentVariable('PSModulePath','User').split(": ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : InvalidOperation: (:) [], RuntimeException
+ FullyQualifiedErrorId

[2018-08-09 20:40] dragonwolf83 commented on #7481
Add-Member performance would be good to test as well.

[2018-08-09 20:52] rjmholt commented on #3791
I'll take on the warnings in Import-Module.Tests.ps1

[2018-08-09 21:00] rockerinthelocker commented on #7326
@jkotas , Back to the topic. All PowerShell versions, except 6.1.0 previews 3 and 4, have no issues with LoadFile. PowerShell 6.1.0 preview 3 and 4 (targeting .NET Core 2.1 instead of .NET 2.0), however, ignore the path specified and just search for the assemblies in the GAC.

[2018-08-09 21:25] jkotas commented on #7326
Not what I see. I have tried steps from https://github.com/PowerShell/PowerShell/issues/7326#issuecomment-406883555 on PowerShell-6.0.3-win-x64 .  It is the stable version from https://github.com/PowerShell/PowerShell#get-powershell . It fails the same way as PowerShell 6.1.0 preview 4.

![image](https://user-images.githubusercontent.com/6668460/43926737-1d8d4978-9be0-11e8-9649-4339f538afa8.png)

[2018-08-09 23:39] msftrncs opened #7492 "get-childitem with -recurse and -file won't recurse on wildcard match"
Steps to reproduce
------------------
Have a folder that has another folder, and that folder having a file.
\foo
\foo\bar
\foo\bar\foo bar.txt

Try to use the following to find the TXT file.
[code]

Expected behavior
-----------------
an object returned that contains foo bar.txt

This is expected because -file should only restrict the output, not the input

Actual behavior
---------------
no objec

[2018-08-09 23:57] dantraMSFT commented on #7432
Fixed by https://github.com/PowerShell/PowerShell/pull/7449

[2018-08-09 23:57] #7432 closed

[2018-08-10 00:14] msftrncs commented on #7492
I ran in to this, because I was trying to get a listing of all files without an extension:
`dir *. -file`
doesn't work.  CMD 'dir /a-d *.' recognizes this as get only files without extensions.  However I did catch it find a file '.sou', or other files and folders that start with a '.' and don't have any additional '.'s.
`dir -file -filter *.`
does work as did this:
`dir .\* -file -exclude *.*`
if

[2018-08-10 03:32] rockerinthelocker commented on #7326
@jkotas , Maybe that version includes the bug as well. Anyway, this thread is about PowerShell 6.1.0.

[2018-08-10 04:00] iSazonov commented on #7464
Another thought is to import always by name but allow psm1 only with "-Force".

[2018-08-10 04:02] iSazonov commented on #7451
@mi-hol  Try ` [Environment]::GetEnvironmentVariable('PSModulePath','User') -split ":"`

[2018-08-10 04:03] jkotas commented on #7326
The exception is expected. LoadFile is working as speced and documented. It worked this way for last 15+ years since .NET Framework 1.0. There is no bug as far as .NET Core runtime is concerned.

If it somehow worked differently for you in a particular version of powershell, please point us to the exact version and repro steps. We will be happy to take a look.

[2018-08-10 04:07] iSazonov commented on #7112
@lzybkr  Tracking issue https://github.com/dotnet/corefx/issues/30994 . There seems to be no chance of doing Marvin algorithm faster.

[2018-08-10 04:14] iSazonov commented on #7112
@SteveL-MSFT I guess that having an opt-out option for randomized GetHashCode() is a problem - CoreFX do de-virtualization optimization for default GetHashCode() so without the optimization other GetHashCode() can be slower then de-virtualized Marvin.

[2018-08-10 04:34] #4235 closed

[2018-08-10 10:32] powercode commented on #7112
@lzybkr There are for sure things we do that could be improved, but I agree with @SteveL-MSFT  that at the end of the day, there still be quite a lot of calls to GetHashCode. So having a way to opt out seems like a good path.

In my view, one does not exclude the other.

[2018-08-10 10:46] powercode commented on #7481
There is one use case where it might make sense, and that is the `-NotePropertyMembers @{...}`.

That could potentially be made faster.

[2018-08-10 13:37] iSazonov commented on #7481
With latest build I see that Import-Csv allocates many PSNoteProperty objects then they cloned [here](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/MshMemberInfo.cs#L4623) - looks wasteful. I don't know why the cloning is needed for. If we can not exclude this in general we could easily exclude this for PSNoteProperty by enhancing `Add()` method like

[2018-08-10 13:41] powercode commented on #7481
That is one of the issues that is addressed by PSObjectBuilder.

They think they are defensive copies, made as we cannot know who else has references to that property. One of the benefits of PSObjectBuilder is that it can guarantee that none of the properties has been seen by anyone else, and hence skip the expensive copies.

[2018-08-10 13:45] iSazonov commented on #7481
@powercode Thanks! I did not see your PR #7481 (Great!) - now I can review your ideas!

[2018-08-10 15:10] benaadams commented on #7112
Already exists

For `HashTable` your can pass a `IEqualityComparer` to the constructor. Better would to be to use the strongly typed  `HashSet<string>` and pass `IEqualityComparer<string>` to its constructor; which [implements a non-randomized HashCode](https://github.com/dotnet/coreclr/blob/30359cda224ee5d1f041921b420c3c9349793989/src/System.Private.CoreLib/shared/System/String.Comparison.cs#L756

[2018-08-10 15:15] kilasuit commented on #2708
@SteveL-MSFT - why can't this be posted to the community Chocolatey repo? I think all that would need to happen is that @DarwinJS would need to transfer/add the PowerShell team as a Publisher which would then allow this to be owned & maintained by the PSTeam

[2018-08-10 15:53] ChrisMagnuson commented on #6889
@BrucePay I have taken what you have said to heart and been writing code since you posted this in the style you proposed as I figured doing it this way would help me better explain the difficulties with this pattern.

Some observations:

1. `$PSBoundParameters.Remove("propertytoremove")` returns `True` or `False` depending on whether the property was present so in practice you always have to remem

[2018-08-10 15:56] chuanjiao10 commented on #7479
1 Congratulations, you deleted the package prew.2     ，i tested，it work fine.
2 However, due to historical reasons, it cannot be used from prew.2
Yum install -y powershell, or yum update -y powershell upgrade. Because prew.2 is newer than the 6.04 version.
3 need yum remove -y powershell ; yum install -y powershell . Can it be added to the document（ release note ）?
4 If not included in the documen

[2018-08-10 15:57] chuanjiao10 commented on #7479
ubuntu has same problem.

[2018-08-10 16:00] jazzdelightsme opened #7494 "Pick up latest PSThreadJob"
There have been some recent changes to PSThreadJob, and it would be great to have a new package of that, and to pick it up in PS.

Thanks!

[2018-08-10 16:31] bstrautin commented on #6702
Apparently at least one person has a real-world use for this: [Reddit thread](https://www.reddit.com/r/PowerShell/comments/9610yo/capture_verbose_output_of_copyitem/)

[2018-08-10 16:50] mi-hol commented on #7451
a blank line gets displayed
[code]

[2018-08-10 16:58] mi-hol commented on #7451
meaning on WSL only the 'process' environment is set, 'user' and 'machine' environment are null

[2018-08-10 17:04] powercode commented on #7471
It would be neat to have language syntax for tuples.

[2018-08-10 17:13] #7486 closed

[2018-08-10 17:29] rkeithhill commented on #7451
I'm seeing a similar issue on 18.04 running on WSL.  In my case, I'm installing an internal module from our Artifactory instance.  The install-module command appears to work but it doesn't place the module in the expected location - `/home/hillr/.local/share/powershell/Modules/`.  If I run install with -verbose is see this as the last bit of output:
[code]
When I dir that /tmp dir, it doesn't exis

[2018-08-10 17:53] iSazonov commented on #7451
/cc @SteveL-MSFT Seems the issue can be important and should be fixed before next release.

[2018-08-10 17:56] rkeithhill commented on #7451
FYI here's the verbose output of my failed install-module (-scope currentuser):
[code]

[2018-08-10 18:50] rjmholt opened #7495 "Test-ModuleManifest checks if a required module is installed but doesn't check version"
`Test-ModuleManifest` [will fail if a RequiredModule is not installed on the current machine](https://stackoverflow.com/questions/46216038/how-do-i-define-requiredmodules-in-a-powershell-module-manifest-psd1).

I went and looked at the source out of curiosity, and although we do check, we ignore the other constraints on the module:
https://github.com/PowerShell/PowerShell/blob/1243891ea8c04609ce21

[2018-08-10 21:42] rjmholt opened #7496 "Import-Module on path ignores version constraints"
Steps to reproduce
------------------

**Note**: The repro uses a relative path, but an absolute path works too; just insert `$PWD` instead of the `.` below.

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

## More information

**EDIT**: Just realised this is for re-imports only (which is good!)

The important

[2018-08-10 22:05] SteveL-MSFT commented on #7451
If `Install-Module` is failing (such that Get-Module -ListAvailable doesn't show it), then this issue should be tracked i the PowerShellGet repo.  Looking at the verbose output, it seems that it's a issue with `Install-Module` unless I'm mistaken.

[2018-08-11 00:43] dragonwolf83 commented on #6889
You can pretty much do everything in your `PSBoundParametersObject` example if you use `.GetEnumerator()`. The code is just as simple as yours:

[code]

[2018-08-11 02:54] mklement0 opened #7498 "Get-Module with a non-wildcard module name that doesn't match a loaded / available module quietly returns nothing"
Follow-up from #7434 and related to #7521.

Note that this is a longstanding, albeit undocumented, behavior, and changing it now may break existing scripts, so there are two possible resolutions:

* Conclude that changing this would break too many scripts and therefore make do with  _documenting_ the surprising / inconsistent behavior.

* Conclude that this is a [Bucket 3 change](https://github.co

[2018-08-11 04:37] florecitaaa33 opened #7500 "Windows 8.1"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-11 12:08] powercode opened #7501 "Get-ChildItem 3x: Replace NoteProperties on FileSystem- and RegistryProvider by class backed CodeProperties."
When using `Get-ChildItem`,  the ProviderBase adds these note properties:

[code]

This is quite expensive, both in terms of memory and execution time.

By replacing the noteproperties with a classes that lazily can compute most of the values, we can save both storage and time.

Timing:

Command                                        | 6.1-preview | After change | Speedup
-------------------------

[2018-08-11 17:00] chuanjiao10 commented on #7451
1 has nothing to do with WSL. Mi-hol Please do not submit an issue here, you should go to the ImportExcel author.

2 ImportExcel authors do not seem to want to support powershell core.
Mi-hol contacted the author but did not get a response.
See: https://github.com/dfinke/ImportExcel/issues/150

3 In Windows, it is not necessary to use WSL + powershell core + ImportExcel.

[2018-08-11 17:16] chuanjiao10 commented on #7425
1 install basic authentication as well as for NTLM-based authentication from  Linux ,then use Enter-PSSession over win-rm  to windows.
ntlm Depend on krb5.

2 install sshd on windows,then use Enter-PSSession over ssh to windows.

[2018-08-11 21:26] benaadams commented on #7112
Sorry I completely forgot what `Hashtable` did 😄

Its strongly typed equivalent is `Dictionary<TKey, TValue>`

[2018-08-11 23:07] tlindsay42 commented on #5202
Just ran into this one too and was able to duplicate in v6.0.2 and v6.1.0-preview.4.

# Additional Context

* I am **only** able to duplicate this issue if multiple ParameterSets are utilized from the pipeline input object set.
* I am **not** able to duplicate this issue when the same ParameterSet is utilized for all pipeline input objects.
* I can duplicate this issue with pipeline input defined

[2018-08-12 00:10] aresowj commented on #3028
Sorry guys, mistook the two Powershells and thanks for your clarification. :)

[2018-08-12 11:39] mi-hol commented on #4669
is this issue related to the [PowerShell Standard Library: Build single module that works across Windows PowerShell and PowerShell Core](https://blogs.msdn.microsoft.com/powershell/2018/08/06/powershell-standard-library-build-single-module-that-works-across-windows-powershell-and-powershell-core/) announcement ?

[2018-08-12 14:31] santoshghimire commented on #3771
@iSazonov How can I get this fix with night builds ? Can you point me in the right direction?

[2018-08-12 21:38] vexx32 opened #7506 "Permit specifying parameter names for constructors / .NET methods"
Although we have several ways to create cleaner PS code when creating objects, there still isn't support for actually specifying constructor parameter names, or any .NET methods' parameter names. Hashtable object construction only works if the object has an empty *public* constructor as well as public settable properties for the properties you want to set.

So, we still can't do this:

[code]

Sur

[2018-08-12 22:02] markekraus commented on #7506
This is a good candidate for inclusion with changes to classes mentioned in #6418

[2018-08-12 22:09] Jaykul commented on #7501
The classes in question (e.g. [system.io.fileinfo](https://msdn.microsoft.com/en-us/library/system.io.fileinfo(v=vs.110).aspx)) are sealed, meaning you can't just inherit from them... so what did you test?

Hypothetically you could add properties in the TypeData as CodeProperty (resulting in a lazy load, but still C# evaluation) instead of adding them as pre-calculated NoteProperty ... but really,

[2018-08-13 01:54] alx9r opened #7507 "Reporting progress on more than 9 activities results in inscrutable progress bars"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

I expected the progress bars to behave nicely like this, except showing 10 activities:

![repro-8-activities](https://user-images.githubusercontent.com/11237922/44009428-a8fe1424-9e60-11e8-85ca-2d3d2da5e86a.gif)

This is a capture of  `$numProgressBars=8`.

Actual behavior
---------------

Instead, the progress bar

[2018-08-13 03:06] os-ly opened #7508 "upgrade to RS5 17723->open file explorer->click on "file" which is on the upper left to select "open Windows powershell" and press "Tab" button->the powershell window can extend-retract by itself F/R:100%"
Steps to repro:
-1.install Mach RS4 1.4.0.7;
 2.upgrade to 17723.1000 by image file;
 3.open file explorer;
 4.click on the file which is on the upper left to run powershell;
 5.press "Tab"or "enter"  button.

Expected results: the powershell window side is displayed normally

Actual results: the powershell window side can extend-retract by itself

Repro rate: 5 out of 5 times
[code]

[2018-08-13 03:13] iSazonov commented on #3771
@santoshghimire You can find its on main README page https://github.com/PowerShell/PowerShell#build-status-of-nightly-builds

[2018-08-13 04:28] vexx32 opened #7510 "Parser incorrectly parses large integer values as double, losing precision"
Although there *is* a case for bigint parsing in the tokenizer.cs file, it is almost never used, even when it would arguably be preferable to the loss of precision that using double for large integers creates.

Parsing a large integer as a double is pretty hard to fail at, since the double parser will simply treat it as an exponential number. This may be fine for some data entry, but in most cases

[2018-08-13 05:30] nikita-golovin commented on #6703
The version installed via HomeBrew is still 6.0.2. While expected version is 6.0.4!

[2018-08-13 07:08] MatXron opened #7511 "No colors in powershell-6.0.4 on Fedora 28 - just black/white"
Steps to reproduce
------------------
* Download and install latest Fedora 28 with KDE:
https://spins.fedoraproject.org/kde/download/index.html
(you can run it in VM)
* Update it
* Add MS repo or just download RPM and install powershell-6.0.4-1.rhel.7.x86_64
`sudo dnf install powershell.rpm`
* Run the `pwsh` and run command
`Write-Host test -ForegroundColor Red`
* or you can try
`Write-Verbose tes

[2018-08-13 09:03] MathiasMagnus opened #7512 "Installing modules does not work on Ubuntu"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Get the module installed.

Actual behavior
---------------

### Native Ubuntu Server 18.04 PS 6.1.0-preview4
[code]

### WSL Ubuntu 18.04 PS 6.1.0-preview4

Nothing is installed. Things get downloaded, but none of the folders in Env:/PSModulePath contain the uncompressed module files.

Environment data
------------

[2018-08-13 09:34] ghost opened #7513 "Start-Transcript dose not handle -PATH parameter correctly"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-13 09:34] ChrisMagnuson commented on #6889
@dragonwolf83 I am having trouble getting an example working the way your describing things should:

[code]
It doesn't appear that splatting a `System.Object[]` of `System.Collections.Generic.KeyValuePair``2[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral,
PublicKeyToken=7cec85d7bea7798e],[System.Object, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral,
PublicKeyTo

[2018-08-13 11:36] powercode commented on #7501
@Jaykul I was more thinking about the use case when you instantiate the FileInfo by newing it up. Then it will not have the backing property object, and these CodeProperties will still be there, but empty.

That is a change from before, when these properties was not there at all, since they are added per instance by the provider.

[2018-08-13 12:14] iSazonov commented on #7496
Absolute or relative path?

[2018-08-13 12:25] iSazonov commented on #7512
Dup #7451

[2018-08-13 12:28] iSazonov commented on #7511
What terminal do you use?

[2018-08-13 12:40] iSazonov commented on #7510
Why not `int64`? We convert `long` in `int64`.

[2018-08-13 12:48] iSazonov commented on #7506
I think we should get an approvement from PowerShell Committee before start implementing the enhancement.

[2018-08-13 12:53] vexx32 commented on #7510
`long` *is* `int64` but that also doesn't go nearly as high as `bigint` does.

Well it does automatically use `int64` up to `Int64.MaxValue` (9223372036854775807) after which.. let's see... seems to convert to `Decimal`. OK... After that max value (79228162514264337593543950335) it automatically goes to `double` which is an *instant* precision loss.

If it instead tries to convert to `[bigint]` be

[2018-08-13 13:09] iSazonov commented on #7506
I'm afraid that there may be a lot of changes in the binder to take into account named parameters.

[2018-08-13 13:17] vexx32 commented on #7506
*shrugs*

Just because it is difficult is no reason to avoid doing it. I barely even know the codebase, but I'm sure I could figure it out with a bit of help. The linked sections are a solid start, and I can work from there.

If anyone is already familiar with some of the code areas, I'm sure it could get done much quicker and cleaner than a first attempt from me, but there's little to really stop

[2018-08-13 13:25] iSazonov commented on #7508
@os-ly Thanks for your report!

Windows PowerShell is not in the repo. Please report with Windows 10 Preview tools or on [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell).

[2018-08-13 13:25] vexx32 commented on #7506
Believe me, I've been looking at the code trying to figure out a good way to do it. 😄

I haven't got there myself yet, but I'm certain it's doable without breaking much. Just gotta figure out how. 😁

[2018-08-13 13:28] iSazonov commented on #7501
Should we ask PowerShell Committee? /cc @SteveL-MSFT @daxian-dbw

[2018-08-13 13:39] rudolfvesely commented on #7511
This is a configuration issue - not bug.

You can fix it by changing environment variable TERM from __xterm-256color__ to __xterm__

A few options how to do it:
* change environment in KDE Konsole (assuming you use default terminal emulator)
* start PowerShell by: `TERM=xterm pwsh`
* add `$TERM = 'xterm'` to your PowerShell profile
* edit your `~/.bashrc` and add `alias pwsh="TERM='xterm' pwsh"`

[2018-08-13 13:54] iSazonov commented on #7510
What about decimal?
[code]

[2018-08-13 14:07] vexx32 commented on #7510
As you demonstrate, decimal also has a maxvalue. As I mentioned.

In terms of actually doing calculations, other types are likely preferable, as doubles (for example) are much better to work with for complex mathematical operations. That's fair enough, but if you go to the effort to actually input a ginormous integer in console or script (i.e., where the tokenizer is looking) you probably want tha

[2018-08-13 15:11] dragonwolf83 commented on #6889
Your right, it is including the key with the value as the value. In theory, the `ToDictionary` LINQ Extension Method should convert it back to a workable state but don't know if that is working yet in 6.0+.

Maybe Splatting just needs to be updated to handle passing the `KeyValuePair` type directly and handle that weirdness for us.

[2018-08-13 16:43] AikenBM opened #7514 "[Feature Request] New-Object accept types in addition to TypeName"
Is there a reason that `New-Object` couldn't accept an actual data type instead of requiring a string representation of the data type?  Currently, when you instance an object with `New-Object`, you need to specify the type of the object with a string representation of the object.

    $Uri = New-Object -TypeName 'System.Uri' -ArgumentList 'http://www.example.com/'

This works perfectly well, but s

[2018-08-13 17:00] ChrisMagnuson commented on #6889
@dragonwolf83 Just for information's sake, the above test was with PowerShell version 6.1.0-preview.2.

I think your intuition about how this should work not aligning with how it actually works is further evidence that this does not align with the principle of least astonishment and that things would be better/less surprising if we had an object to work with and could splat objects instead of deal

[2018-08-13 17:30] daxian-dbw commented on #7514
Why not use the `::new` syntax to create a new object? It's faster than `new-object` and does utilize the type directly. For example:
[code]

[2018-08-13 17:42] adityapatwardhan commented on #7363
Issues mentioned here were fixed by PRs #7329 and #7354

[2018-08-13 17:42] #7363 closed

[2018-08-13 17:57] Jaykul commented on #4669
@mi-hol no. Building modules and _hosting_ PowerShell are two different problems.

[2018-08-13 18:00] vexx32 commented on #7514
Yeah, it's honestly just easier to call the constructor directly. I agree `New-Object` should be able to work like this anyway, but the constructor being both easier and faster make this mostly a non-issue for me.

[2018-08-13 18:03] vexx32 commented on #7471
The title is misleading as this already works with arrays:
`$one, $two = 1,2` works as expected.

It doesn't work with tuplen, though, and I agree that should be rectified.

[2018-08-13 19:05] dantraMSFT commented on #3771
@santoshghimire if you want to install the daily build, you can also use https://github.com/PowerShell/PowerShell/blob/master/tools/install-powershell.ps1.

.\install-powershell.ps1 -daily -destination ...

[2018-08-13 20:29] BrucePay commented on #7514
@AikenBM  Be aware that you aren't actually passing a type literal when you do  `New-Object [some.type]`, you're passing in the _string_ `"[some-type]"`. This is because arguments are parsed in _argument_ mode where '[' is simply treated as being part of a string. If you wrap the type in parens, forcing _expression_ mode parsing as in
[code]
then you get what you expect. There have been requests i

[2018-08-13 20:44] BrucePay commented on #7510
Hi @vexx32  As a systems management and automation language, what use cases to do you see for supporting `BigInteger` in PowerShell? Since doing so would increase the complexity of numeric processing and almost certainly have a performance cost, what benefits would accrue to offset these costs? For example, what new scenarios would be enabled? Thanks!

[2018-08-13 20:59] BrucePay commented on #7498
As a matter of _convention_, we usually generate an error for a non-wildcard query e.g. `get-item nosuchitem` returns a error, but `get-module nosuchmodule` quietly returns nothing.

[2018-08-13 21:04] vexx32 commented on #7510
You can automate counting grains of sand?

Server stacks?

Hard drives?

Accurately!

In all seriousness, I just think that if the user goes to the effort of actually inputting a huge integer there's not much reason for the parser to assume that only significant digits are needed. If you type out a 50-digit integer, you *damn well want* that 50-digit integer!

As long as the overall mathematical o

[2018-08-13 21:42] thezim commented on #7514
I typically do this and get completion at the prompt and in VSCode. ISE if I recall too. Am I missing something here?

[code]

[2018-08-13 22:15] rjmholt commented on #7496
@iSazonov Turns out it's both, but this only occurs after the module has already been imported beforehand.

I've updated the issue.

[2018-08-13 23:57] jongross4 commented on #6562
I would like to echo the concerns above.  The current list of encodings is too limiting.  I am dealing with text encoded SHIFT_JIS (cp932) on OEM-US (cp437) and need to get the text to Unicode.  Currently working around it with a Get-EncodedContent function that takes all of the named Encodings as a result of [system.text.encoding]::GetEncodings() and then using [system.io.file]::ReadAllLines($Pat

[2018-08-13 23:59] SeeminglyScience commented on #7471
@vexx32 Sorry for the confusion in terminology, when I refer to an array literal assignment I mean an `AssignmentStatementAst` where the left hand side is an `ArrayLiteralAst`.

[2018-08-14 00:04] SteveL-MSFT commented on #4669
This is still being worked on.  I'd hesitate to provide any ETA that we may end up missing.

[2018-08-14 00:08] SteveL-MSFT commented on #7458
@weloytty thanks for the details, I'll see if I can repro this locally.  I would suggest removing the network paths in your transcript to something generic like `\\server\share` as to not make internal information public

[2018-08-14 01:31] #7477 closed

[2018-08-14 03:09] vors commented on #3039
Not sure it's the exact same issue, but this works in bash on macos

[code]
[code]

And doesn't work in in powershell
[code]

[2018-08-14 05:37] iSazonov commented on #7496
@rjmholt Could you update the Issue header too?

[2018-08-14 06:00] iSazonov commented on #7471
Please update the issue header.

[2018-08-14 06:34] iSazonov commented on #7510
I also think that this is superfluous. Decimal type is big enough to cover all existing needs.

I think we have enough information for PowerShell Committee conslusion.

/cc @SteveL-MSFT

[2018-08-14 06:54] santoshghimire commented on #3771
@iSazonov @dantraMSFT thanks !!
I installed the daily build using **install-powershell.ps1** script and I now have _PowerShell 6.1.0-preview.10729_ version which I see was last updated 12 days ago. So, this version include this fix? How can I be sure?

[2018-08-14 07:53] iSazonov commented on #3771
@santoshghimire Try it out :-) You should get psrp-1.4.5.

[2018-08-14 09:10] nikita-golovin commented on #6703
Seem to be fixed now (6.0.4 version was added 14 hours ago) in Homebrew repo

[2018-08-14 12:17] MaximoTrinidad commented on #6703
It's confirmed!

Executing the line below will install PScore 6.0.4 GA version now:
[code]
![macos_pwshga_2018-08-14_8-17-09](https://user-images.githubusercontent.com/19892435/44091153-86c9005e-9f9a-11e8-9803-4fdb3ff6c4ad.jpg)

[2018-08-14 12:27] MaximoTrinidad opened #7520 "MacOS Homebrew can't find powershell-preview package"
No able to install the PowerShell-Preview package in MacOS using HomeBrew

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
To be able to install the latest version of the preview.
[code]

Actual behavior
---------------
HomeBrew error.
[code]

Environment data
----------------
MacOS version:
[code]

[code]
![macos_pwshpreview _err_ga_2018-08-14_8-17-09](https://u

[2018-08-14 12:30] MaximoTrinidad commented on #7520
Forgot to mention.  I'm following the instructions found in MS Docs: https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-macos?view=powershell-6

:)

[2018-08-14 13:40] tmknight commented on #7479
Will there be a build for Ubuntu 18.04?  17.04 went EOL Jan 2018.

[2018-08-14 14:00] vexx32 commented on #7471
An extension method? Hmm. Well, as long as it's being called from the core parsing logic side of things that should be OK since you're still in a C# realm.

Extension methods aren't available from PS itself at present, but this should still work, I think

[2018-08-14 14:41] vexx32 commented on #7514
Perhaps it's worth simply modifying `New-Object`'s code specifically to account for possible start and end brackets and act accordingly?

[2018-08-14 14:47] vexx32 commented on #6722
Being strict is fine, but if we have to start being incredibly picky about the order of definition it would quickly become nothing more than a nuisance. So... yes go for it.

[2018-08-14 15:20] mklement0 opened #7521 "Get-TypeData with a non-wildcard type name that matches no loaded type data quietly returns nothing"
Follow-up from #7434 and related to #7498.

Note that this is a longstanding, albeit undocumented, behavior, and changing it now may break existing scripts, so there are two possible resolutions:

* Conclude that changing this would break too many scripts and therefore make do with  _documenting_ the surprising / inconsistent behavior.

* Conclude that this is a [Bucket 3 change](https://github.co

[2018-08-14 16:44] adityapatwardhan commented on #7479
@tmknight Ubuntu 18.04 is supported on PowerShell Core version 6.1.*.

[2018-08-14 16:44] #7479 closed

[2018-08-14 16:46] adityapatwardhan commented on #6485
This has been fixed for latest releases. Closing this. Please re-open if any issues are seen.

[2018-08-14 16:46] #6485 closed

[2018-08-14 16:47] adityapatwardhan commented on #6285
@bmanikm
PackageManagement NuGet should be available on NuGet.org to add this dependency.

[2018-08-14 16:50] adityapatwardhan commented on #4669
`Microsoft.PowerShell.SDK` and related packages were release for version 6.0.4 today morning on [nuget.org](https://www.nuget.org/packages/Microsoft.PowerShell.SDK)

Please give them a try and let me know if you see any issues.

[2018-08-14 16:52] adityapatwardhan commented on #7317
This has been fixed in release for 6.0.4 and will be fixed in the next 6.1.x release.

[2018-08-14 16:56] adityapatwardhan commented on #6475
@normj @khansen00 @MaximoTrinidad @kentcb @Mattacks @jherby2k

`Microsoft.PowerShell.SDK` and related packages were released on [NuGet.org](https://www.nuget.org/packages/Microsoft.PowerShell.SDK) today morning for PowerShell Core version 6.0.4.

Please give them a try and re-open the issue if you see any problems.

[2018-08-14 16:56] #6475 closed

[2018-08-14 16:59] adityapatwardhan commented on #4669
@ImageQC Can you give a try for release on nuget.org for version 6.0.4. Thanks for your patience.

[2018-08-14 17:15] #7236 closed

[2018-08-14 17:17] rjmholt commented on #7496
Which part is the issue header? I updated the repro before -- I think all parts of the issue are correct now

[2018-08-14 17:58] alx9r opened #7524 "Features to improve performance of concurrent Runspaces"
This arose from [#3008(comment)](https://github.com/PowerShell/PowerShell/issues/3008#issuecomment-411313301) where the slow performance of opening numerous runspaces that import modules was noted as a barrier to a generally-performant implementation of `Invoke-Parallel` and parallel `ForEach-Object`.  From what I can tell, this slow performance is a barrier to generally-performant PowerShell ever

[2018-08-14 17:59] alx9r commented on #3008
@powercode I have created #7524 to discuss the runspace features to support performant concurrency.

[2018-08-14 19:08] felixfbecker opened #7526 "Allow .ps1xml files in XML 1.1"
To enable colored output in output formats, I can write a Format.ps1xml file that uses ANSI color codes like so:

[code]

Note the `&#27;[33m`, which is `ESC[33m`, which is the ANSI code for yellow, and `$([char]0x001b)[0m`, which is `ESC[0m`, which is the ANSI reset code.
Together, this will color the whole line yellow:

<img width="452" alt="image" src="https://user-images.githubusercontent.com/

[2018-08-14 20:41] AikenBM commented on #7514
@daxian-dbw Because [it's apparently community best practice](https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/master/Best-Practices/Building-Reusable-Tools.md#pure-01-use-native-powershell-where-possible).

Also, `::new()` is about as well-documented as `@().ForEach()` and `@().Where()` are.  If we're going to rely on it as the primary method of instancing objects, it ought to be much

[2018-08-14 21:13] TravisEz13 opened #7528 "Several tests in the Test-Connection don't work when running in a container (and therefore VSTS)"
https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Modules/Microsoft.PowerShell.Management/Test-Connection.Tests.ps1

Also, there are several tests with verifications disable on non-windows platforms due to dotnet issues

[2018-08-14 21:15] TravisEz13 opened #7529 "Tests for `Set-Date` fail in VSTS Linux with `Operation not permitted`"
https://github.com/PowerShell/PowerShell/blob/ba175b50479a72621c86e889af39e127d4533975/test/powershell/Modules/Microsoft.PowerShell.Utility/Set-Date.Tests.ps1

We should considering mocking or adding a test hook

[2018-08-14 21:30] alx9r opened #7530 "Is there an alternative to PowerShell.AddScript() that preserves file position information?"
The parameter to `.AddScript()` is a string, not a scriptblock, so any file position information that might have been present in the `ScriptBlock` object never makes it into that method.  Is there some other way to get a `PowerShell` object to invoke a `ScriptBlock` without losing file position information?

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

[2018-08-14 21:39] felixfbecker commented on #2875
I would like to release my PowerShell modules with https://github.com/semantic-release/semantic-release, but it seems it's impossible because there is no way to dynamically update the `Version` and `ReleaseNotes` fields in the module manifest without this.

[2018-08-14 23:51] lzybkr commented on #7530
How about:

[code]

Your stack will be 1 deeper than you want, but that should be easy to clean up.

If you don't want to use `Invoke-Command`, you could use `AddScript('. $args[0]')`

[2018-08-15 01:28] BrucePay commented on #7524
For some history on why things are the way they are:

While we were implementing workflows in version 3, we spent a lot of time looking into runspace creation performance. Unfortunately, after a lot of work runspace creation was still too slow for our purposes. (Remember - every command in a workflow runs in a separate runspace).  A big part of what makes it slow is processing initial session stat

[2018-08-15 02:05] os-ly commented on #7508
we repro it also on Uservoice, pls check and respond, thanks

[2018-08-15 02:05] os-ly commented on #7508
related link on uservoice: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/35104927-powershell-gui-interface-extension-unnormally-issu

[2018-08-15 04:31] iSazonov commented on #7471
We have an issue about extension methods.

[2018-08-15 05:34] iSazonov commented on #7508
@os-ly Thanks for your report!

[2018-08-15 05:34] #7508 closed

[2018-08-15 15:35] SteveL-MSFT commented on #4669
This should be resolved, please comment on this issue if it's not addressed or open new specific issues for new problems.

[2018-08-15 15:35] #4669 closed

[2018-08-15 15:53] PaulHigin commented on #7494
Done.

[2018-08-15 15:53] #7494 closed

[2018-08-15 17:17] jherby2k opened #7532 "Special folders and $env differ on Linux"
Steps to reproduce
------------------
On Windows:
$env:LocalAppData returns C:\users\<username>\appdata\local
$([System.Environment]::GetFolderPath(28)) returns C:\users\<username>\appdata\local

On Linux:
$env:LocalAppData returns nothing
$([System.Environment]::GetFolderPath(28)) returns /home/<username>/.local/share/

Expected behavior
-----------------

PowerShell's $env should return the same

[2018-08-15 18:58] anderssonjohan commented on #2896
I stumbled across this issue when I discovered my script using System.Net.WebClient worked on pwsh but not on Windows. On Windows, or in Windows Powershell, you'll get a 401 Unauthorized because WebClient follows redirects without adding Authorization headers. But this was not the case with pwsh 6.0.0. It did not fail at all.

To fix the issue, I switched to Invoke-RestMethod:

[code]

Now the scr

[2018-08-15 19:56] daxian-dbw opened #7534 "Invoke method via .NET Adapter fails when ignoring argument for an optional parameter of value type"
Invoke method via .NET Adapter fails when ignoring argument for an optional parameter of value type

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Success just like running `$z.GetName("Hello")`:

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-15 22:33] joeyaiello commented on #7510
@PowerShell/powershell-committee reviewed this. We can revisit this when we see a strong customer case, but right now we think that the change would require some guidance from a performance expert on the team, and we don't think that's worth anyone's time right now.

Leaving open if people want to stash more discussion or use cases, but we don't plan on revisiting it soon.

[2018-08-15 22:45] SteveL-MSFT commented on #7506
@PowerShell/powershell-committee reviewed this.  Agree that since the parameter binder already has this capability, it makes sense to generalize it as PowerShell users typically are comfortable with hashtables.  Committee approves of this proposal.

[2018-08-15 23:41] markekraus commented on #2896
@anderssonjohan that appears to be a different issue. The issue here is when an HTTPS site redirects to an HTTP site, regardless of the presence or lack of auth headers. Would you be so kind as to open a new issue for that, please?

[2018-08-16 03:58] HumanEquivalentUnit opened #7537 "Get-Content is slow on large text files. Could it have a parameter to speed it up by not adding NoteProperties?"
Using Get-Content to read an [example 170,000 line wordlist text file](https://github.com/dolph/dictionary/raw/master/enable1.txt).

[code]

The reason for the slow version is explained [here, apparently by Bruce Payette in 2006](https://www.vistax64.com/threads/much-faster-than-get-content-why.23052/):

returned from the pipe, it adds a bunch of extra information to that object
in the form of Not

[2018-08-16 04:05] jcotton42 commented on #7537
I'm willing to take this if the PS team OKs it, although I'm unsure what to name the parameter.

[2018-08-16 04:07] charlieschmidt commented on #7537
its like -Raw, so maybe -RawLines or something?

[2018-08-16 04:15] jcotton42 commented on #7537
I have decided to go ahead and work on this issue. @powershell/powershell can I get an assignment?

[2018-08-16 08:07] BrucePay commented on #7537
I've marked it as an enhancement and up-for-grabs. You should just be able to assign it to yourself. We added `-Raw` a long while back to address the perf issue but it doesn't really do the right thing. Naming the new parameter `-RawLines` sounds ok but maybe a `-ReadMode` parameter that took `lines`, `text`, `rawlines`, `rawtext` etc. might be more flexible.

[2018-08-16 08:37] espenrl opened #7539 "Microsoft.PowerShell.Standard.Module.Template - add launchSettings.json / debug profiles"
In .NET automation libraries I find these profiles convenient for debugging. Maybe others might find them useful.

Only works for Visual Studio though. A drawback is hard coded paths to PowerShell Core executables.

[code]

[2018-08-16 10:11] anderssonjohan commented on #2896
@markekraus Thanks! Sure, I'll do that. It seemed related to me and I didn't want to add duplicate issues.

[2018-08-16 10:32] iSazonov commented on #7532
Such env variables is absent on Unix. Although for more predictable behavior of scripts between platforms  we could implement the default values.

[2018-08-16 12:09] jherby2k commented on #7532
I definitely get that “special folders” and “environment variables” are slightly different concepts, but I think it might make sense to set some variables within PowerShell that don’t otherwise exist in the environment, for cross-platform compatibility. In my case this was a failing build script on Linux that required the workaround.

[2018-08-16 12:29] iSazonov commented on #6374
It was fixed in #7449

[2018-08-16 12:29] #6374 closed

[2018-08-16 12:33] iSazonov commented on #3628
It was fixed with implementing RFC0020 in #5080

[2018-08-16 12:33] #3628 closed

[2018-08-16 12:34] anderssonjohan opened #7540 "Invoke-RestMethod inconsistent behavior of redirects"
Steps to reproduce
------------------

Test using public service MockBin.

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

This is based on my findings noted here: https://github.com/PowerShell/PowerShell/issues/2896#issuecomment-413299919
However, when I try to get a reproducible error using public HTTP servi

[2018-08-16 12:34] iSazonov commented on #2851
All cs files was cleaned up.

[2018-08-16 12:34] #2851 closed

[2018-08-16 12:37] #5441 closed

[2018-08-16 12:45] iSazonov commented on #7540
/cc @markekraus Could you please comment?

[2018-08-16 12:56] AikenBM commented on #7514
Alright, so after correcting my system, I do get code completion with `New-Object`.  I am not sure what was not working before, but it does explain a number of other quirks I've noticed for awhile.

I do think the suggestion that @vexx32 put forth makes sense, as it's really not clear why these should work:

    New-Object ([System.URI]) -Argument http://example.com
    New-Object System.URI -Argu

[2018-08-16 13:05] markekraus commented on #7540
@anderssonjohan Can you get a repro for the auth issue you previously discussed?

The change in behavior here between 5.1 and 6+ is intentional. Saying you wish to redirect 0 times and being redirected is an error condition. This issue as stated here is a duplicate of #4534.

[2018-08-16 13:52] powercode commented on #7537
#7481 Will make this a bit better - haven't tried it yet to see how much, and it will always be slower that just creating the strings.

[2018-08-16 15:16] vexx32 commented on #5643
At the very least I think the pipeline should by default emit an ArrayList or List<object> rather than wasting time converting to object[].

[2018-08-16 16:16] SteveL-MSFT commented on #5643
Since we now support Experimental Feature flags, someone could do this work without breaking existing users and we can discuss when/if it goes from Experimental to a stable feature.

[2018-08-16 16:57] SteveL-MSFT opened #7541 "Cmdlets over cron and task scheduler"
This came out of today's Community Call.  Summary of the discussion is that:

  - cron and task scheduler are fundamentally different in syntax and semantics that an abstraction would be highly complex and probably still incomplete
  - makes more sense to focus on the top scenarios and build a new set of cmdlets to enable scheduling cross-platform

So this issue is to brainstorm on requirements an

[2018-08-16 17:00] DarwinJS commented on #7541
One possible guiding principle is that since cron is likely a subset of schedule tasks, that we start with full cron - but remove any agreed esoterics.

[2018-08-16 17:09] SteveL-MSFT opened #7542 "Discussion: What base cmdlets are expected/needed for OS mgmt?"
This came from today's Community Call.  Discussion is what cross platform cmdlets do admins need to perform basic mgmt?
  - A meta-module published to PSGallery that contains all the individual modules that implement these cmdlets
  - Plugin model to allow community to provide support for different distros and their idiosyncrocies
  - Some examples as potential candidates: task scheduling, ACL con

[2018-08-16 17:10] jcotton42 commented on #7537
@BrucePay maybe I'm just being daft but I don't see a way to assign this to myself

[2018-08-16 17:21] DarwinJS opened #7543 "Trusted Repository URL Traversal for Dependency Resolution"
At least one scenario for this is building a customizations only package that resides in a corporate private respository, but wants to pull the package that installs the software on either [a] a public repo (danger acknowledged), [b] a in-house cached feed of a public repository or [c] another internal repo URL.

In this scenario multiple profiles of settings for the same app would be separate pac

[2018-08-16 17:35] Jaykul commented on #7537
See #7501

[2018-08-16 17:35] jcotton42 commented on #7537
Someone just brought PR #7502 to my attention, would that make solving this issue unnecessary? It seems to solve the same issue of Get-Content being slow, but in a more elegant manner.

[2018-08-16 18:18] #7510 closed

[2018-08-16 18:20] SteveL-MSFT commented on #7541
@DarwinJS it would be great if we had some specific examples of some of the capabilities required from existing use of cron and existing use of task scheduler

[2018-08-16 18:37] nightroman commented on #5699
@SteveL-MSFT This new feature in v3 was breaking for v2 scripts, too. And lots of people were surprised right from the beginning. Unfortunately the history on Connect (mentioned above issue) was erased.

[2018-08-16 18:47] Jaykul commented on #7498
@BrucePay It doesn't seem to me that this has to do with wildcards, but simple the possibility of multiple outputs

[2018-08-16 18:54] normj commented on #6475
Great news, thanks for getting this out.

[2018-08-16 19:04] mklement0 commented on #7532
@jherby2k: I think a better solution to this problem is to provide a special namespace via a new provider that mirrors `[Environment]::GetFolderPath()` (you don't want to create Windows-only _environment variables_ on Unix); using your example:

[code]

would become:

[code]

See #6966 for details.

[2018-08-16 19:34] DarwinJS commented on #2708
@kilasuit  - this package is in the community chocolatey repo.  Community OSS packaging works just like other OSS - if a community member can shoulder the load, then they generally do.

[2018-08-16 20:00] SteveL-MSFT commented on #7498
In the Get-Module case, using `-Name` is really a filter and not literal since you can get multiple versions of the same module.  So in that case, it should act the same as a wildcard.

[2018-08-16 20:49] maddieclayton opened #7545 "-Repository parameter should have tab completion"
The -Repository parameter in Install-Module (and other cmdlets) should have tab completion over the known repositories.  This should be easy because you can easily get repository names by running Get-PSRepository.

[2018-08-16 20:56] vexx32 commented on #7545
Just needs a `Register-ArgumentCompleter` somewhere, at the very low-effort end of things.

[2018-08-16 21:08] SteveL-MSFT commented on #7545
Please open this issue in https://github.com/powershell/powershellget

[2018-08-16 21:08] #7545 closed

[2018-08-16 21:11] SteveL-MSFT commented on #7539
Please open this issue here https://github.com/powershell/powershellstandard

[2018-08-16 21:11] #7539 closed

[2018-08-16 21:35] SteveL-MSFT commented on #7537
Only individuals marked as `Collaborators` show up in the `Assignees` list.  @jcotton42 I'll assign this to myself to avoid someone else duplicating the work.  You can assume this is assigned to you.

The WIP PR is still under review as it is a breaking change.  However, although that change will improve things if accepted, it may still make sense to add a parameter to `Get-Content`

[2018-08-16 21:53] thezim commented on #7541
On macOS will use `launchd` or `cron`. The later has been deprecated since 10.11 if recall. It is still there but in a disabled state and no files exist for it by default.

[2018-08-16 23:07] rjmholt commented on #7374
@mark-inderhees This has just been fixed in the PowerShell snap, so should work when the next snap is released.

[2018-08-16 23:07] #7374 closed

[2018-08-16 23:24] adityapatwardhan opened #7548 "PowerShell core release process for v6.1.0-rc.1"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a private branch named `release-v6.1.0-rc.1` in VSTS repository.
   All release related changes should happen in this branch.
- [x] Run tests on all supported Linux distros and publish results
- [x] Prepare packages
   - [x]  Build release packages
   - [x]  Sign the MSI packages and RPM package

[2018-08-16 23:43] HumanEquivalentUnit commented on #7537
Ohhh I didn't imagine it had already been acted on. That's partly what I meant about "*ideally I would want a parameter name to communicate "this is faster" to people who see it*". I've used `-Raw` in other circumstances, not noticed it was faster, and not twigged it was related to this.

[2018-08-17 00:37] BrucePay opened #7551 "The Windows Compatibility module needs a way to determine when the shell's location has changed"
The Windows Compatibility module needs to be able to maintain correspondence between the current working directory in the host session and the current working directory in the compatibility session. Each time the host session directory changes the compatability session needs to the notified of the change. To that end I'm adding a new event `LocationChangedAction` that will get fired when the host

[2018-08-17 01:05] TravisEz13 opened #7553 "Fix `Access-denied test for Get-Item C:\windows\appcompat\Programs\Install -ErrorAction Stop` test in VSTS"
Fix `Access-denied test for Get-Item C:\windows\appcompat\Programs\Install -ErrorAction Stop` test in VSTS

I tried several other paths and could not get access denied

[2018-08-17 01:06] TravisEz13 commented on #7553
test/powershell/Modules/Microsoft.PowerShell.Management/FileSystem.Tests.ps1

line 253 when this was file

[2018-08-17 01:08] TravisEz13 opened #7554 "fix `Should give .sys file if the fullpath is specified with hidden and force parameter` in VSTS"
fix `Should give .sys file if the fullpath is specified with hidden and force parameter` in VSTS

the page file does not exist on the system drive

https://github.com/PowerShell/PowerShell/pull/7536/files#diff-21791ab5c432a45ecdb2f68e053984f4

[2018-08-17 01:09] TravisEz13 opened #7555 "fix test-connection tests for VSTS - windows"
fix test-connection tests for VSTS - windows

Tests would hang or fail to resolve host

https://github.com/PowerShell/PowerShell/pull/7536/files#diff-1b66f3000d6abfaf92a82ae021ef8372

[2018-08-17 01:11] TravisEz13 opened #7556 "Investigate why `Test-FileCatalog should pass when catalog is in the same folder as files being tested` passes in other CI system and fails in VSTS"
Investigate why `Test-FileCatalog should pass when catalog is in the same folder as files being tested` passes in other CI system and fails in VSTS

https://github.com/PowerShell/PowerShell/pull/7536/files#diff-213bb805a27c1e70b89fc95d3b5870ae

[2018-08-17 01:13] vexx32 opened #7557 "Allow binary numbers, byte literals, and BigInteger?"
I will attempt to summarise here the primary points of discussion that have ensued in #7993 as it has spiraled into many threads, and I suspect a bullet-point summary of questions to be answered will be significantly easier on the committee.

## Regarding Binary & Hex Parsing

As part of the refactor & introduction of binary parsing, methodology of hex parsing has also been altered a bit. Parsing

[2018-08-17 01:40] jcotton42 commented on #7537
@SteveL-MSFT ok soudns good. Given that it looks like that PR will affect mine I will wait until it's merged.

[2018-08-17 01:51] mklement0 commented on #7498
@Jakul: The output behavior is incidental. What matters is whether the `-Name` argument is designed to uniquely identify an existing entity using a literal (non-wildcard) name.

As such, @SteveL-MSFT, you're right that the case of `Get-Module` is _ambiguous_:

* (a) On the one hand, you could argue that its `-Name` argument  identifies _multiple entities_, if you conceive of the _versions_ of a gi

[2018-08-17 03:36] iSazonov commented on #7532
The new namespace does not provide backward compatibility.

[2018-08-17 03:39] rjmholt commented on #7557
+1 on:
- `b` suffix is for bytes
- `0b` prefix is for binary

My only problem is that the most convenient way to specify a byte will be in hex, and `0xffb` can't specify a byte because its a valid ordinary hex literal.

It might not be possible to accomplish nicely, but my ideal would be able to specify a byte literal with hex.

[2018-08-17 03:46] mklement0 commented on #7532
@iSazonov:

True, but I doubt that any existing scripts that were written for just Windows would magically just work if only those environment variables were present on Unix.

If there's really a need for backward compatibility, the [WindowsCompatibility module](https://www.powershellgallery.com/packages/WindowsCompatibility) is probably the right place for such shims.

[2018-08-17 03:50] iSazonov commented on #7532
@mklement0 So shouldn't the new namespace address the issue too?

[2018-08-17 03:52] iSazonov commented on #7532
Also how WindowsCompatibility module can help run windows script on Unix?

[2018-08-17 04:03] vexx32 commented on #7557
We could adopt the `uy` suffix like F# for bytes, in that case?

[2018-08-17 04:18] iSazonov commented on #7557
Could we use 'ub' for bytes.

[2018-08-17 04:25] vexx32 commented on #7557
we could use anything we want, in fact. Just gotta code for it in the tokenizer... and I've had *plenty* of experience doing that recently :)

[2018-08-17 04:36] mklement0 commented on #7532
Re module: my bad, I guess I engaged in wishful thinking regarding the purpose of that module - it only facilitates integrating with Windows PowerShell.

However, the point is that I don't think that functionality that projects a Windows world view onto Unix is a sensible cross-platform strategy - such functionality should be _opt-in_, if needed at all.

Address what issue?

[2018-08-17 04:39] jcotton42 commented on #7557
@iSazonov every language I've run across uses an `0b` prefix for binary numbers. Plus using a prefix to change the base is consistent with `0x` for hex.

[2018-08-17 04:57] iSazonov commented on #7532
I meant the Issue we are discussing here - windows script is not work on Unix due to the lack of environment variables. I believe we could emulate the environment variables internally.

[2018-08-17 05:11] mklement0 commented on #7532
That's precisely what I suggest we avoid (to put it bluntly: hacks that pretend that Unix is Windows).

CoreFx already provides platform _platforms abstractions_ with its `[Environment]::GetFolderPath()` method; the right thing to do is to surface its functionality in a PowerShell-idiomatic way - which is the proposed `$sf:` namespace.

What conflicts?

[2018-08-17 05:31] iSazonov commented on #7532
On Unix special folders is mapped here
https://github.com/dotnet/corefx/blob/b384b309061c050a31dcf2b8f377f5da244fcf7b/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L139
 - it can be unexpected behavior for PowerShell scripts. We need review the mapping.

[2018-08-17 05:56] powercode opened #7558 "Improve error message when trying to convert from obj to older version of obj class."
When reloading a module with classes, and the current session has data created by the older version of the module, we get error messages like

[code]

Sample code:
[code]

I suggest that we add a check if the names of the classes are the same, when generating the error message, and in that case add some explanation why it is happening.

[2018-08-17 06:17] potatoqualitee commented on #7558
Lost 3 hours of my life to this issue this morning. Thank you Steffan for the insight!

[2018-08-17 08:29] powercode commented on #5699
Is there some way to have new behavior behind a flag/version? So we somehow could opt in to fixed, otherwise breaking changes?

A bit like what @daxian-dbw did with experimental feature, but for production? Or does it become a maintenance hell?

[2018-08-17 08:41] mikemaccana commented on #7441
Even at large sizes, and having seen the powershell woman avatar (which TBH I'm not a fan of - it's a bit edgy and doesn't really go with Powershell's clean vibe) during the install, it's not clear it's her face and hair in the icon

![image](https://user-images.githubusercontent.com/172594/44256637-ad3e2c00-a201-11e8-990c-6328b0e79321.png)

[2018-08-17 08:48] mikemaccana commented on #7441
Thanks @SteveL-MSFT. vscode uses blue for stable, green for development builds, so why not:

![ps_black_64](https://user-images.githubusercontent.com/172594/44256962-8c2a0b00-a202-11e8-9873-b3e8fd60d301.png)

[2018-08-17 11:10] DarwinJS commented on #7541
@SteveL-MSFT - here are some examples of how I do use scheduling.  I can't say that they are the uber example - but they are ones that would benefit from CMDLet parity.

Also the main focus in the below is a) server b) automation - as such it exhibits using the scheduler for things like "getting into SYSTEM account context (windows)" and "scheduling something for shutdown or startup" and "scheduli

[2018-08-17 11:14] vexx32 opened #7559 "Add Subset Operator ($Array -IsSubset $Array)"
At the moment, PowerShell doesn't really have any reliable and syntactically tidy methods of comparing two arrays.

There is probably a lot more that could be done in this area, but one possible addition is a subset operator. We can -contains and -in, but they only work for arrays being compared against singletons; what we need is a `-subset` operator or similar.

Is `-Intersects` an appropriate v

[2018-08-17 11:33] DarwinJS opened #7560 "Missing CMDLets That Should Be Multiplatform And on the Most Minimally Installable PSH 6 Installation"
Thinking of stuff that is obviously missing from Linux, but also stuff that should be in Windows or needs serious fixing.

This is cmdlets you would want around for barebones bootstrap automation of Windows or Linux.

- Stop-Computer, Restart-Computer (missing on Linux)
- Scheduler / Cron (Missing on Linux, WAAAY TOOO COMPLEX on Windows)
- Path Management soapbox: *) It's 2018, *) PATH variables a

[2018-08-17 12:15] vexx32 commented on #7557
If we take the F# route they also have `y` for `sbyte` which... I don't really know how *useful* it is, but it's a possibility.

[2018-08-17 12:17] mklement0 commented on #7532
I've tried to summarize the cross-platform behavior here: https://github.com/PowerShell/PowerShell/issues/6966#issuecomment-393882898

And there is indeed a conflict between `$HOME` and `[Environment]::GetFolderPath('MyDocuments')`:

* you get `$HOME` _itself_ on Unix
* you get `$HOME\Documents` on Windows

[2018-08-17 13:27] jherby2k commented on #7532
Just because [Environment]::GetFolderPath is clunky and requires looking up the enum, as a user i'd prefer something like Get-SpecialFolder with auto completion.

[2018-08-17 13:31] iSazonov commented on #7557
We usually consider C# syntax first. In C# 7 we get '0b' for binary literals but there is still not exist a suffix for byte. I think we should try to find a discussion in .Net repos about the suffix - I guess they already have it. If the discussion is still not finished we have to postpone the decision on the suffix to keep a consistency with C# in future.
For binary we could support a format
`var

[2018-08-17 13:34] iSazonov commented on #7532
@jherby2k Please look #6966 - perhaps there is a proposed solution (Get-Location).

[2018-08-17 13:55] vexx32 commented on #7557
The link to Roslyn here seems to be defunct as they shifted to Github, but nonetheless the quote seems to indicate:

https://stackoverflow.com/questions/5378036/literal-suffix-for-byte-in-net

They went for zero ambiguity and decided `sb` for signed and `ub` for unsigned (since .NET bytes are default unsigned, but everything else is usually signed as standard).

[2018-08-17 14:28] iSazonov commented on #7557
I think it is here https://github.com/dotnet/csharplang/issues/1058

[2018-08-17 14:31] mklement0 commented on #7532
Great summary, thanks, @iSazonov.

Yes, `[Environment]::GetFolderPath()` is clunky and there's no tab completion.

 #6966 evolved over time: it started out with suggesting a `-SpecialFolder` parameter for `Get-Location` / `Set-Location`, but it now _only_ proposes the `sf:` drive (provider), which automatically gives us the `$sf:` namespace, analogous to the `Env:` drive / `$env:` pair.

The advan

[2018-08-17 14:38] vexx32 commented on #7557
For me, the suffix `b` in general might be a bit lacklustre for `byte` simply because to a new user it could easily be read as `bit`, or `binary` instead and be confused. At least with `y` if they don't know they're probably more likely to actually look it up rather than guessing and being burned by it.

But I guess if we want to stick with parity we might want to stick with the most likely candid

[2018-08-17 14:44] vexx32 commented on #4316
I like this quite a bit. Compare-Object has long been... lacklustre... in implementation. I would personally also prefer if rather than `==`, `<=`, and `=>` symbols for the grouping (or indeed even for the current behaviour) the labels were changed to match the actual parameters the objects are passed to (i.e., `ReferenceSet`, `DifferenceSet`, and `Both`)

Currently the default display is actually

[2018-08-17 14:52] SteveL-MSFT commented on #7532
The discrepancy of `MyDocuments` returning `$HOME` on Unix rather than `$HOME\Documents` seems like a bug in corefx.

It seems like a `SF:` drive is a good solution to this.

[2018-08-17 15:13] mklement0 commented on #4316
Good point re default output format, @vexx32. Can I suggest you create a new issue to propose the grouped output?

As for the `.SideIndicator` property values: I fear that ship has sailed, as the value of that property is used programmatically. (We could transform the values just _for display_, but the resulting discrepancy between what is displayed and what you need to use programmatically may be

[2018-08-17 15:16] vexx32 commented on #4316
Oh, I get that, but it's not clear *at a glance* which side is actually which; you have to examine your objects' input data and see which is `<=` and which is `=>`

I'll type up an issue on it. Whether or not it's actually used (which, frankly, I *very rarely see* because of its obscure and unclear implementation) it needs to change.

[2018-08-17 15:29] vexx32 opened #7561 "Improve Compare-Object's default display format"
Compare-Object's output is insanely obscure. The *very visually similar* nature of `<=`, `==`, and `=>` make it both difficult to determine which is meant to be which (it's *always* hard to remember off-hand which "side" is `-ReferenceObject` and which is `-DifferenceObject`.

See below for a more illustrative example -- which still isn't *perfect*, but it's a step in the right direction. Arguably

[2018-08-17 15:56] SteveL-MSFT commented on #7441
@mikemaccana You'll need to get more community support to enact a change of the icon

[2018-08-17 16:04] SteveL-MSFT commented on #5699
@powercode We could certainly put this behind an experimental feature flag (which is opt-in by definition and thus less people will use it).  We currently don't have a good solution as to when something goes from experimental to stable in the case where it's a breaking change.  I'm concerned that having something that is breaking that is opt-in will fragment the community.

For the argument that v

[2018-08-17 16:13] SteveL-MSFT commented on #7498
It bothers me that `FullyQualifiedModuleName` can be a filter, but it is what it is and we may just have to live with those inconsistencies for backwards compatibility sake.  I think the best we can do is ensure that new cmdlets follow the intended guidelines to have consistency as well as promote more `Test-` cmdlets removing the need for `Get-` to be multi-purpose.

[2018-08-17 16:15] SteveL-MSFT opened #7562 "There should be more `Test-Command` and `Test-Module` cmdlets"
Specifically, `Test-Command` and `Test-Module` is used heavily in our tests and build module which currently rely on `Get-Command -ErrorAction SIlentlyContinue` which can mask other issues other than testing if a command exists.

- [ ] - Test-Culture (approved in #7702)

[2018-08-17 16:16] SteveL-MSFT commented on #7498
Created https://github.com/PowerShell/PowerShell/issues/7562 for Test-Module

[2018-08-17 16:17] SteveL-MSFT commented on #7560
@DarwinJS I had created https://github.com/PowerShell/PowerShell/issues/7542 for this discussion

[2018-08-17 16:23] RavenSwords opened #7563 "Missing cmdlets in SQLServer Module."
Sorry if this has been asked before etc....

There seems to be a number of missing cmdlets from the SQLServer module when I import it into a 6.04 session vs  5.

For instance, Restore-SQLDatabase is missing, but Backup-SQLDatabase is present and works...

The list of missing cmdlets as far as I can tell is:

Add-RoleMember
Add-SqlAzureAuthenticationContext
Add-SqlFirewallRule
Backup-ASDatabase
Com

[2018-08-17 16:37] MaximoTrinidad commented on #7563
Just an FYI

This is only for PowerShell Core issues (not Windows PowerShell) and not non-Core Modules.

The SQLServer module issues need to be reports thru email on PowerShell Gallery directly to the module owner: https://www.powershellgallery.com/packages/SqlServer/21.0.17279

Just use the Contact Owner link and send the email.

Yes! The Restore-Backup has been missing for some time.  In this ca

[2018-08-17 16:49] DarwinJS commented on #7542
Thinking of stuff that is obviously missing from Linux, but also stuff that should be in Windows or needs serious fixing.

This is cmdlets you would want around for barebones bootstrap automation of Windows or Linux.

- Stop-Computer, Restart-Computer (missing on Linux)
- Scheduler / Cron (Missing on Linux, WAAAY TOOO COMPLEX on Windows)
- Path Management soapbox: *) It's 2018, *) PATH variables a

[2018-08-17 16:49] #7560 closed

[2018-08-17 16:56] SeeminglyScience commented on #7521
I really like the idea of the change, but I believe it will break *a lot* of existing scripts.  Take this function for example.

[code]

This is something I do pretty frequently.  Use a command like `Get-Module` while doing some validation and then continue on with the rest of the command.  Now since the error `Get-Module` would throw is non terminating, alone it doesn't really affect anything.  B

[2018-08-17 16:58] iSazonov commented on #7557
I commented in csharplang repo.

[2018-08-17 16:58] RavenSwords commented on #7563
Yes, thank you!

[2018-08-17 17:02] swngdnz commented on #7498
This is not a Bucket 3 Change. At best, it's a Bucket 2 Change (for those who want the change); and from my perspective would require a "Breaking of Contract". This behavior of Get-Module was used and documented by The Scripting Guys at least as far back as 2010 (https://blogs.technet.microsoft.com/heyscriptingguy/2010/07/11/hey-scripting-guy-weekend-scripter-checking-for-module-dependencies-in-wi

[2018-08-17 17:10] iSazonov commented on #7561
Seems we can remove header "InputObject SideIndicator" but add a good header comment that we show in the group. After that we can remove SideIndicator column at all.

[2018-08-17 17:34] rjmholt commented on #7557
Also want to note that underscore syntax you used there @iSazonov. I was thinking about the same thing the other night. I think it would be worth implementing underscore ignoring in numeric literals too (separate issue I know, but thought I'd raise it here first in case other people think it's stupid). It looks like C# 7, Java 7 and OCaml have this already, and it would certainly make sense alongs

[2018-08-17 17:35] rjmholt commented on #7557
Yeah I think that:
- `0b` is a pretty standard and unambiguous syntax for a binary literal
- `ub` and `sb` are the best proposals so far for byte literal suffixes
- There's actually a pretty good use case for all of these for network scripting amongst other things

[2018-08-17 17:58] mi-hol commented on #6426
@axelheer did the release of new SDK version change anything?
https://github.com/PowerShell/PowerShell/issues/6475

[2018-08-17 19:10] vexx32 commented on #7557
I am completely in support of these ideas. Supporting the underscore syntax is a but weird for regular numbers, but I think implementing it at the general level is more sensible than trying to special case it for binary or hex, even if the use might be specifically handy there.

I think I can figure out the majority of these changes. Hex is already a supported way to go, so it'd basically be addin

[2018-08-17 19:36] mklement0 commented on #7532
Glad to hear it, @SteveL-MSFT.

The `MyDocuments` behavior is unfortunate, but I wouldn't call it a bug. Presumably, the decision was based on the fact that Unix-like platforms, unlike Windows, have no restriction on placing files and folders _directly_ in the user's home folder.
However, in the age of macOS and friendly Linux distros such as Ubuntu, which come with predefined folders similar to W

[2018-08-17 19:49] thezim commented on #7561
I avoid `Compare-Object` at the console because of this and welcome a change, however this would breaking change for all of usages in my scripts.

[2018-08-17 19:53] vexx32 commented on #7561
I would much prefer a cmdlet that has a better feature set over not having to rewrite a few scripts. :)

Any other cmdlet, sure, we should worry about that. But imo, this one is so thoroughly not useful at the moment.

[2018-08-17 20:49] MaximoTrinidad commented on #6426
Hi there!

You may want to try either the latest 6.0.4 GA  and/or Preview-4.

Both work as expected!

:)

![gasqldata_2018-08-17_16-46-36](https://user-images.githubusercontent.com/19892435/44288188-6f5ef900-a23d-11e8-955a-5f75a8d31824.jpg)

![presqldata_2018-08-17_16-46-36](https://user-images.githubusercontent.com/19892435/44288201-771e9d80-a23d-11e8-8c37-0992bbd1ae23.jpg)

[2018-08-17 21:12] TimCurwick commented on #7498
This proposal is just wrong. I put up with this bad behavior where it already exists for backwards compatibility, but spreading it across the ecosystem in the name of consistency is not appropriate.
Finding nothing when there is nothing to find is not an error. It is the correct answer. It is the correct result.

[2018-08-17 22:31] thezim commented on #7561
It is very useful to me and I'm sure to many others in its current state, it just has awkward console output as we all agree. Throw in collections of objects and you really will start to see it usefulness. At first I hated it too, and then realize the utility of it. At the console level I do avoid it but I shines at the script level which is where most of my enterpise PowerShell work is, hundreds

[2018-08-17 23:32] rkeithhill commented on #7498
Not that I'm necessarily arguing in favor of this breaking change but if I'm trying to **get** a file and that file doesn't exist, I **expect** a non-terminating error - particularly in the interactive console:

[code]

There is a lot of shell history that says this should be an error e.g.:

[code]
and
[code]
I "get" that `dir/list` could be considered a bit different than `get`, but `get` is what

[2018-08-17 23:38] swngdnz commented on #7498
As far as I know, to the best of my knowledge, we are no longer discussing the general case, but instead the specific case about "Get-Module".

[2018-08-17 23:39] rkeithhill commented on #7498
The same thing applies to `Get-Process` - try `Get-Process svchost` on Windows (`Get-Process init` on Linux) and you'll see.  Yet `Get-Process xyzzy` reports a non-terminating error.  Sigh...

The equivalent (sort of) on Linux also errors:
[code]
Of course, Linux doesn't spew a sea of red text either.

[2018-08-18 01:14] BrucePay commented on #7559
@vexx32 You might want to adjust the title - to me, 'subset' means 'subset of the members of the collection' which is expressed in PowerShell as `$myarray[$start..$end]`.   I would also suggest against using`Intersect` ([System.Linq.Enumerable.Intersect](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.intersect?redirectedfrom=MSDN&view=netframework-4.7.2#System_Linq_Enumerable_I

[2018-08-18 03:36] Jaykul commented on #7498
## This command is literally the tip of the iceberg. It's the **_ultimate test case._**

If we decided to change this -- _there are no more limits to what can be changed_. `Get-Module` is one of the most common commands ... and as far as most users are concerned, the current behavior _is correct_, if only because it is how it has always behaved.

The **REALITY** is that `Get-Module Foo` **is** how

[2018-08-18 03:41] vexx32 commented on #7559
You misunderstand, I think. I don't need an $array -isexactly $otherarray. It'd be interesting to have, perhaps, but that might be about it.

I'm looking for:
[code]

[2018-08-18 03:47] dragonwolf83 commented on #7542
`Set-ItemPermissions` and make it part of the PowerShell Providers and have FileSystem and Registry Providers implement that cmdlet. ACLs tend to be hierarchal so it seems like a natural fit. Since they don't exist now, you could make them cross-platform without stepping on existing Windows only cmdlets.

[2018-08-18 03:56] dragonwolf83 commented on #7521
In the community call, it was mentioned that there really should be `Test-Module` function to do it. The problem is the breaking change.

I think we should take a step back from these types of changes and focus on a deprecation process to manage breaking changes. Upgrading versions should require minimal changes to existing code to make it easy to update to incremental releases and have warnings a

[2018-08-18 04:08] dragonwolf83 commented on #7532
If not all special folders are available cross-platform, the `SF:` drive could make it easier to separate them from OS specific folders by using a subdirectory. For example, `SF:\Win\WindowsOnlyFolder`. This makes it clear that the folder won't exist on Linux or macOS

[2018-08-18 04:30] dragonwolf83 commented on #7561
I use `Compare-Object` extensively and is much better with `-PassThru` since that returns the original object referenced in the `SideIndicator`.

For this change, `SideIndicator` could be removed from the DefaultPropertySet so it still exists but not displayed. The new property could then be the `[enum]` with the desired values. That should prevent breaking scripts and make it easier for people to

[2018-08-18 04:55] dragonwolf83 commented on #4316
I don't think ` -Group` parameter should be used. That starts overloading parameters when the original intent is to pipe to a standard set of cmdlets to do that, like `Group-Object`. It is not any more complex to use and keeps the cmdlet code clean.

[code]

Back to using Sets, it would be nicer to have one parameter, like `-UsingSet`, with the option of `Union`, `Intersect`, `Except` instead of s

[2018-08-18 10:27] DarwinJS commented on #7542
@dragonwolf83 - More than what CMDLets are called I was trying to get around multiplaform implementations that try to take in the entirety of a functionality on all platforms.

Doing that would seem to create a lot of discussion around principles and would result in very ugly CMDLets that are an aggregate of all the requirements of all platforms.

I'm saying that we should apply paretos law - that

[2018-08-18 11:06] dragonwolf83 commented on #7542
I agree. I was in no way calling for all Linux and Windows functionality to be handled in one cmdlet nor should it always match the platform idioms. We want abstractions that makes sense for the top use cases.

For example, do you really need to know `chmod` and how it works or do you just need to know that you can get and set `read`, `read/write`, `modify`, and `deny` permissions. I think adding

[2018-08-18 11:25] DarwinJS commented on #7542
Ah - so I understand - you are musing whether a core CMDLet should also use "provider" to abstract commonality between elements of the system when a concept (like permissions) applies to more than one area.

Interestingly Linux left almost everything as files in the first place - most especially configuration stores.

More abstract providers (AD, SCCM, IIS) would generally seem to be the realm of

[2018-08-18 13:42] bgshacklett commented on #3240
I use a similar pattern:
[code]

[2018-08-18 15:04] mazzy-ax opened #7565 "Add a feature that splits an array into arrays each not exceeding the given size."
Please, add a feature that splits an array into arrays each not exceeding the given size.

Analogs:
http://kotlinlang.org/api/latest/jvm/stdlib/kotlin.collections/chunked.html
http://php.net/manual/en/function.array-chunk.php
https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.array_split.html#numpy.array_split

[2018-08-18 18:56] BrucePay commented on #7565
Oddly enough, I've been implementing just such a thing related to Task-based programming in PowerShell (see #6716):
[code]
This method creates `ArraySegment[object]` instances for each partition rather than actually building new arrays thus avoiding a lot of copying.

Note that there are two ways to do partitioning:

1. Number of items in a partition
2. Total number of partitions.

Total number of

[2018-08-18 19:15] BrucePay opened #7566 "You should be able to set the type conversion attribute on a variable with New-Variable"
See this  [question on StackOverflow](https://stackoverflow.com/questions/51905423/how-to-explicitly-declare-type-of-a-variable-when-creating-that-variable-with-ne).

In the PowerShell language, you can create a type-constrained variable by doing:
[code]
however there is also a `New-Variable` cmdlet that lets you create variables. For some things, this cmdlet is a superset of what's provided in th

[2018-08-18 19:44] mazzy-ax commented on #7565
@BrucePay, yes, it's my scenario. And parallel processing too :)

is it implemented in Powershell or LINQ?

is it PLINQ?

if it is a LINQ/PLINQ then what about a [Restricted and Constained langage](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_modes)?
I would like to have this basic feature in these modes too.

[2018-08-19 01:27] BrucePay commented on #7565
@mazzy-ax It's a PowerShell "extension method" (i.e. built-in and implemented in C#) that uses PLINQ for its implementation. Note however, that once you have `Task` support, it can also be implemented as a script method:
[code]
`foreachparallel` wouldn't be available in Restricted language but it might be there in Constrained language as long as we can ensure there are no security holes (e.g. lang

[2018-08-19 01:28] vexx32 commented on #7557
@rjmholt I gave implementing underscore syntax a brief attempt because I'm already digging around the tokenizer like crazy anyway, and uh... it's *literally* just 4 lines of code to add that part in:

![image](https://user-images.githubusercontent.com/32407840/44304574-a57ba600-a32d-11e8-9132-dca3f6c816cc.png)

Binary and octal will be more (need dedicated helper functions to scan those digit type

[2018-08-19 01:40] BrucePay commented on #3240
@kfsone There is a small error in your example `$a=(if ($b -ne $null) { $b } else { $c })`. It should be `$a=$(if ($b -ne $null) { $b } else { $c })` however the only version of PowerShell where `$( )` was required was version 1. From v2 on, you can simply do:
[code]

[2018-08-19 02:44] vexx32 commented on #3240
As with the prior examples, that syntax only works if StrictMode is not being used. With StrictMode enabled, I believe PS also rejects attempts to access undefined variables.

[2018-08-19 04:33] raysn0w commented on #7266
I have the same issue, did you find any workaround?

[2018-08-19 04:50] vinodc opened #7567 "New-PSSession does not connect to a redirected URI when larger token-based authorization headers are provided"
Steps to reproduce
------------------

The ConnectionURI passed to New-PSSession sometimes redirects to another URI. This was handled in for Linux in https://github.com/PowerShell/psl-omi-provider/issues/72. However, this does not seem to work when a token is used instead.

[code]

In this case, the redirect would have been to `https://nam04b.ps.compliance.protection.outlook.com/PowerShell-LiveId?

[2018-08-19 05:00] mmoehring commented on #7266
No, @raysn0w. In my use case it were just a few mail boxes so I called ``Get-MailboxRegionalConfiguration`` on them one by one, which is of course not a solution when you have many mailboxes. I am a powershelll beginner myself but I would try something like  a foreach loop over the output of ``Get-Mailbox`` when you have many mailboxes.

[2018-08-19 05:08] raysn0w commented on #7266
@mmoehring, Bummer.  I have over 2,000 users in my org and I was trying to automate a report of users with OOO enabled.

[2018-08-19 05:15] BrucePay commented on #7559
Raw LINQ will look like
[code]
with a predicate, it would look like
[code]
or maybe
[code]
if we finally get around to implementing $1, $2, $3, ... for positional arguments :-)

[2018-08-19 09:07] chuanjiao10 commented on #6562
#6581 is good idea .I hope it can be realized soon.
The above code can only replace get-content and cannot replace other commands, such as select-string -encoding

[2018-08-19 13:20] domsheldon1 opened #7568 "Logon script PS"
Hello,
Below is my logon script on PS command.

The code works very well.

But! All users have shared folders at Windows logon (with rights and no access rights).

How can I view only users' shared folders with access to the directory.

I am sorry for my bad english.

$ndriveobj = New-Object -Com wscript.network
$ndriveobj.RemoveNetworkDrive("G:", $true, $true)
$ndriveobj.MapNetworkDrive("G:", "\\

[2018-08-19 16:06] MaximoTrinidad commented on #7568
First, as required when submitting issues for PowerShell Core, you need to provide the $PSVersion for either  GA or Preview in order to make sure it can be address properly.

As in mention in the PowerShell Core landing page under section "Windows PowerShell vs PowerShell Core" https://github.com/PowerShell/PowerShell#windows-powershell-vs-powershell-core.   If this is a Windows PowerShell issue,

[2018-08-19 16:12] MaximoTrinidad commented on #7266
If I'm not mistaken, this issue still floating around for some time. I think this module hasn't been converted to .NET Core yet.

And I'm sure is on there list to do.

So, for now you can only run it in Windows PowerShell only.
:)

[2018-08-19 17:13] mklement0 commented on #7559
Thanks for the LINQ examples, @BrucePay.

We've talked about method vs. query LINQ syntax [before](https://github.com/PowerShell/PowerShell/issues/2226#issuecomment-385399325).

Despite the proliferation, I'd love to see _all_ the  [LINQ set operations](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/set-operations) - `Distinct`, `Except`, `InterSect`, `Union` - as _

[2018-08-19 17:15] BrucePay commented on #7557
I think `0b1101001` is the right way to go for binary literals. Literals in general use prefix notation. My initial reaction to 'y' for byte was ?? but it's grown on me (and fsharp uses it.) We've talked about allowing `_` in numeric literals before and decided against it due to concerns with how it would fit into the ecosystem. Values move between strings and numbers in a lot of places in PowerSh

[2018-08-19 17:27] vexx32 commented on #7557
I don't think there's any particular reason to be overly restrictive about the syntax. Currently with hex notation in my test implementation, it *does* require that you start a hex sequence with `0x<digit>` before using an underscore (so `0x_1` isn't valid but `0x10___01` is fine), but changing that would not be insanely difficult.

I can certainly see reasons to avoid implementing it in standard

[2018-08-19 17:33] mklement0 commented on #7559
@vexx32:

The problem with the 2nd RHS operand is that it's potentially ambiguous:

[code]

How do you determine whether the last script block passed is part of the array or whether it is the 2nd operand,  the equality-comparer?

To avoid ambiguity you'd have to _nest_ the RHS array (1st operand), which is awkward.

[code]

[2018-08-19 18:43] msftrncs opened #7569 "path completion of unc paths with spaces fails to quote resulting path"
Steps to reproduce
------------------

Start a path to a command, in this case,

`cd \\svr\`

Press CTRL-SPACE (<-EDITED) to bring up completion suggestions, which list all the shares on '\\\svr\\'.

Select a share that contains a space (notice the highlight fails to clear off entries as you move through the list).

Expected behavior
-----------------

quotes (') should be added around the UNC pat

[2018-08-19 19:30] domsheldon1 commented on #7568
Thank you for your interest. I am in "Windows PowerShell"

[2018-08-19 20:51] potatoqualitee commented on #7498
Please, no.

[2018-08-19 21:34] mklement0 commented on #7559
@vexx32:

Yes, calling _methods_ can be tricky business, given that you're entering a world that wasn't designed with PowerShell in mind. Generally, PowerShell is helpful in anticipating what your intent is when you call methods, but there are definite pitfalls, some of them unavoidable, because they are outside of PowerShell's control, as [this striking example](https://github.com/PowerShell/Powe

[2018-08-19 21:42] FriedrichWeinmann commented on #7498
I've got to chime in on the _DON'T DO THIS!_ faction.

I see no problem being solved by this change. I see lots of problems being created.
Do I like being clean and consistent? Yes, totally! I'm a German neat-freak: My indentation being wrong will cause me discomfort until I fix it.
But there has to be a reasonable balance between benefit and cost, and this is way off.

Benefit:
 - More neatness

[2018-08-19 21:58] vexx32 commented on #7559
I don't think there's a really good way to do this without altering the default array syntax, honestly, or creating a distinct difference between method parameter delimiters and array item delimiters, e.g.,

[code]
(That would also be terrible because pipeline, but I'm not sure there're *any* good candidates for such a thing.)

[2018-08-20 03:33] iSazonov commented on #4316
How many set operations exist out of the propose so that we want `-SetOperation`?

[2018-08-20 03:34] Jaykul opened #7570 "BUG: Out-String doesn't handle VT escape sequences"
Since PowerShell now has support for ignoring VT escape sequences (such as those for setting colors) to be ignored while calculating the widths of columns, this works (needs PowerShell 6 for `e):

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
[code]
![image](https://user-images.githubusercontent.com/192942/44319099-cc0e0f80-a407-11e8-92e4-02dac76fafab.png)

Actu

[2018-08-20 03:40] iSazonov commented on #7532
@dragonwolf83 Seem your suggestion make sense only if we have _conflicts_ between of platforms.

[2018-08-20 03:58] iSazonov commented on #7561
Expected behavior
-----------------

[code]

[2018-08-20 10:28] iSazonov commented on #7569
@msftrncs Could you please test with latest build (6.0.4)? Is the problem without Readlime module?

[2018-08-20 10:33] #7568 closed

[2018-08-20 10:47] iSazonov commented on #7567
@vinodc Could you please test on Windows system?

[2018-08-20 10:48] #7563 closed

[2018-08-20 11:27] KevinMarquette commented on #7568
@domsheldon1 It looks like you have a question about how to perform a certain task in PowerShell. I recommend you post your question in a PowerShell support forum like [TechNet](https://social.technet.microsoft.com/Forums/en-US/home?forum=winserverpowershell), [PowerShell.org](https://powershell.org/forums/), or [/r/PowerShell](https://www.reddit.com/r/PowerShell/)

[2018-08-20 11:27] #7425 closed

[2018-08-20 11:35] danielman111 opened #7571 "New-PSSession Fails Ubuntu to Windows using .NET Core Packages"
I am trying to invoke a command using a Session created from Ubuntu to Windows
I am using Ubuntu 16.04, I wrote a project using .NET Core, and installed the following nuget packages:

[code]

Using the following code:

[code]

I get this error:

`Exception :The method or operation is not implemented. The method or operation is not implemented. at System.Management.Automation.Runspaces.PipelineBase

[2018-08-20 11:55] SeeminglyScience commented on #7566
I've ran into this in the past and would love to see this added!  Please consider allowing this to be done via the `psvariable` API as well, possibly with a new constructor overload like:

[code]

[2018-08-20 12:09] powercode opened #7572 "Crash in Microsoft.PowerShell.TaskbarJumpList.CreateElevatedEntry(System.String)"
I have an intermittent crash in
[code]

on process startup.
[code]

With symbols available, it had been a lot easier to provide better debug info.

[code]

----------------

[code]
~~OS                             Microsoft Windows 10.0.17134~~
[code]

@bergmeister Is this something you recognize?

[2018-08-20 12:10] powercode commented on #7572
`ExecutionEngineException` usually mean that we have messed up unmanaged memory somehow.

[2018-08-20 12:12] johlju commented on #7436
This would be a great addition to an already well used cmdlet, able to import a .jsonc file and convert it to an object as usually.

[code]

To use `ConvertFrom-Json` now, it first needs to loaded and then be stripped from comments.

[2018-08-20 12:27] powercode commented on #7572
In TaskbarJumpList.cs

![image](https://user-images.githubusercontent.com/3505151/44340408-0e296680-a485-11e8-87fa-485a555b3131.png)

[2018-08-20 12:28] bergmeister commented on #7572
@powercode Yes, but I have never seen a problem despite using/testing it on multiple OSs, which version of Windows are you using exactly? This code creates the Jumplist entry in the taskbar and was added in PR #6985 by converting unmanaged C++ code from the  unmanaged Windows PowerShell ConsoleHost to partially managed C# code in the managed PowerShell Core ConsoleHoist
Can you retry to build and

[2018-08-20 12:28] bergmeister commented on #7572
@powercode Sorry, I saw your screenshot only now

[2018-08-20 12:51] markekraus commented on #7436
One argument against supporting JSON comments is that they are not RFC defined. That makes it difficult to write code that supports something that is not well defined. The general guidance is to not use comments in JSON that are not valid JSON. Instead, adding a metadata object or a `"_comment" property is recommended.

If we did support this, we would not be able to include it in the default oper

[2018-08-20 12:52] powercode commented on #7572
@bergmeister After some investigations, it seems I actually only have machines with 1709 that manifest the problem. I updated the version info in the original description.

[2018-08-20 13:16] iSazonov commented on #7436
Maybe delegate this to Newton.Json? Seem the library is a standard by default.

[2018-08-20 13:18] alexandair opened #7573 "Why do we have *-ExecutionPolicy cmdlets on Linux?"
Why do we have Get-ExecutionPolicy and Set-Executionpolicy on Linux when running Set-ExecutionPolicy returns:

[code]

Environment data
----------------

[code]

[2018-08-20 13:31] iSazonov commented on #644
Rick-roll works on PowerShell Core 6.0.4 with minor (non-terminating) error at start (on $runspace.ApartmentState = "MTA" - no such property).

[2018-08-20 13:31] johlju commented on #7436
@markekraus I would say make the use of comments opt-in. Default is today, it will fail parsing the file. If using `-AllowComments` then it can parse the file (using non-RFC backed way). It would simplify when it is RFC backed. Then the `-AllowComments` would be obsolete, and the default is to be able to parse both.

I suggest we do nothing with comments, the comments are comments for the jsonc fi

[2018-08-20 13:35] iSazonov commented on #733
@daxian-dbw Could you please add comment why we can not remove the type catalog and close the issue?

[2018-08-20 13:36] powercode commented on #7572
Don't we have to call CoInitialize on the task thread?

[2018-08-20 13:44] alexandair opened #7574 "Linux commands echo and printf should not output the trailing newline when we run them in PowerShell"
When we run `echo -n` and `printf` in bash shell, they don't output the trailing newline and piping the output to `base64` gives the encoded string for the actual input string "foo" without including the trailing newline. If we do the same in PowerShell shell, the trailing newline is part of the output and we get a different encoded string.

Steps to reproduce
------------------

[code]

[code]

E

[2018-08-20 13:49] powercode commented on #7572
I cannot reproduce the problem when I run without the Task, and neither with a debug build.

[2018-08-20 13:54] powercode commented on #7572
In ComInterfaces.cs, we have
[code]
but
[code]

So we pass the Unicode struct to the ansi function.

[2018-08-20 13:55] powercode commented on #7572
And we never set the size of the cb member of `StartUpInfo`. I had expected that to be set before the call to `GetStartUpInfo`, that I would have expected to have a `ref`, not `out` parameter.

[2018-08-20 14:04] powercode commented on #7572
Could lead to strange marshalling behavior for our strings.

[2018-08-20 14:11] bergmeister commented on #7572
@powercode Does it repro when you compile using `-Configuration Release` and/or `-CrossGen`? The COM code that you referenced is from the WindowsCompatibiltyPack. We could check what the code in the WPF workspace looks like by decompiling it, maybe we can improve it. We could also look for the documentation of the Windows API in question to figure out an improved COM interface

[2018-08-20 14:57] SteveL-MSFT commented on #7572
@powercode the discrepancy between `GetStartupInfo` calling the Ansi version of the API and the `StartUpInfo` struct being Unicode seems suspect and wrong.  By chance are you using a language on your machine other than English?

[2018-08-20 15:08] SteveL-MSFT commented on #7498
Seems like there's some confusion about what the @PowerShell/powershell-committee actually concluded.  To summarize:
  - the intent is for a literal to return a non-terminating error, but wildcards/filtering to return nothing
  - we do not plan to accept changes to existing behavior to make them consistent, but any new cmdlets should adhere to this
  - even without changing the existing cmdlets, w

[2018-08-20 16:01] msftrncs commented on #7569
I tested with the Windows edition of 6.0.4 this morning, still the same result.  Are you referring to having made any updates to PSReadLine module?  No, I have no additions to PowerShell installed, nor upgraded the PSReadLine module.

[2018-08-20 16:05] chuanjiao10 commented on #7574
Powershell and bash are not 100% compatible with external commands.

To be 100% compatible, use the following command:

Q: How do I embed a shell command in a .ps1 script?
answer:
[code]

or
[code]

[2018-08-20 16:13] rjmholt commented on #7557
One thing about `NumberGroupSeparator` is that in the English locales it's going to be `,`, which won't work in actual PowerShell literals.

If we want to reuse `NumberGroupSeparator` for number literal parsing, we may run into locale issues, and it may be more trouble that it's worth.

[2018-08-20 16:27] powercode commented on #7572
It not my machine - I see it out in the wild. Have to check tomorrow if it was a Swedish locale, but I don't think it was.

[2018-08-20 16:28] powercode commented on #7572
I suggest using IntPtr instead of the strings. We don't need them anyway.

[2018-08-20 17:36] dantraMSFT opened #7576 "Test-Connect/Ping Tests forcing IPv4 is unreliable - assumes GetHostEntry address list is in a specific order"
The two tests that verify Test-Connection with IPv4 implicit/explicit options assume that GetHostEntry() returns the AddressList with the IPv4 address as the first entry.

I'm seeing, on Ubuntu 18.04, that the order is reversed, the IPv6 address is reported first.

The test should be updated by searching the IPHostEntry.AddressList for the entry with  AddressFamily -eq InterNetwork.

The failure a

[2018-08-20 18:16] TimCurwick commented on #7498
Steve,

1. Are you confirming that Get-Module will not be changed?
2. I strongly disagree with the conclusions of the committee. The behavior (for example) of `Get-Module -Name $ModuleName` should not change based which characters are present in the value of $ModuleName. And the appropriate behavior in the case of a null result is to return a null result.
3. While there may be exceptions, this is

[2018-08-20 18:27] nightroman commented on #5699
Not at all, of course. I mentioned the history just as the precedent of making breaking changes for the greater good. Justifications should be different, something like "potentially dangerous feature", "violation of the least surprise principle", etc.

[2018-08-20 18:33] RamblingCookieMonster commented on #7498
For what it's worth, here's an expectation that I would imagine more than myself subscribe to:

* Error doing a thing?  Error.
* Success doing a thing,  no data found?  No data returned.

`Get-ADUser` follows the other pattern, erroring out when AD is successfully queried, albeit with no results.  It's not pleasant coding around this

I'm not quite as savvy a developer, maybe this is a pattern fou

[2018-08-20 18:37] RamblingCookieMonster commented on #7498
Oh, and on `-ErrorAction SilentlyContinue` - imho that is never a valid workaround to this.  This ignores any actual errors doing a thing.  Someone might handle a `data not found` scenario differently than a `error querying data source` scenario...

[2018-08-20 18:57] ThreeFive-O commented on #4043
I would like to try this one.

Most information is gathered from PR #4044, which was closed due to non-addressed comments.

The easiest way to implement the option to make `-Subject` always mandatory, unless the user explicitly states to send the mail without a subject is to use `ParameterSetName` as stated by @dantraMSFT.

Though I would like to go with the `-Force` switch, due to consistency wit

[2018-08-20 19:06] joeyaiello commented on #7498
I can only fully speak for myself, but AFAIK, no one on the @PowerShell/powershell-committee was ever proposing that we change `Get-Module`. We were just using it as a foil to `Get-FormatData`/`Get-TestData` to create a more thougtful rationale around the issue of returning (or not returning) a non-terminating error in the `Get-SpecificThing foo` case.

So yes, to be very explicit: I am not in fav

[2018-08-20 19:12] joeyaiello commented on #4043
Sounds good to me. I like solution 2 👍

[2018-08-20 20:23] SteveL-MSFT commented on #4043
@ThreeFive-O thanks for taking this up!  The one concern I have is that the proposal forces `-Force` to always apply to no-subject.  Perhaps it would be better to have a `-NoSubject` switch thereby having a specific parameter set for that scenario.

[2018-08-20 20:23] dantraMSFT commented on #4043
Personally, I think we're overloading -Force here.  Consider potential help text

'-Force: sends the mail message without a subject'.

I personally favor your other suggestion, -NoSubject.

'-NoSubject: sends the mail message without a subject.'

I favor -NoSubject and an associated parameter set.

Changing the parameter order for the new parameter set should be fine since it requires an opt-in an

[2018-08-20 20:28] SteveL-MSFT commented on #5699
@nightroman Agree 100%.  v3 was before my time on this team, so I don't know the history of it whether the break was intentional or a mistake (feels like the latter).

[2018-08-20 20:54] lzybkr commented on #7557
When considering being more permissive, do keep in mind that tokens that today are number like, but not exactly - might be a valid command name. Consider the following (all valid today):

[code]

Note that command name could be an external command, it doesn't need to be PowerShell.

It's certainly possible there aren't any real commands this proposal will affect, but it's worth calling out as the

[2018-08-20 21:45] JustinGrote opened #7577 "Write-Host 150ms+ delay after first command when executed from profile"
Write-Host has a 150ms delay (~50ms on Linux) when called from a profile, but it doesn't if called directly. I thought maybe this would be due to CPU startup time but it's not, it's consistent every time, rarely wavers.

This is important because custom prompts and whatnot use write-host, and so a delay for no reason makes powershell feel more "sluggish" on startup.

Steps to reproduce
-----------

[2018-08-20 22:39] msftrncs commented on #7569
including a screenshot

![image](https://user-images.githubusercontent.com/26179051/44370454-edbad580-a49f-11e8-83d1-e6db4cd6bdf8.png)

[2018-08-20 23:36] vexx32 commented on #7557
Sure, you can have an external command or a function that looks like a number and might be read as a number. Those are pretty few and far between, though; it generally doesn't lend itself to being memorable or useful, though.

Granted, being *too* permissive with underscores could end up being undesirable (not to mention lead to code obfuscation techniques utilising them as well), but if we wanted

[2018-08-20 23:42] SteveL-MSFT opened #7578 "Add `-IgnoreCase` switch to Get-Item and Get-ChildItem"
Linux is inherently case-sensitive while Windows and macOS are case-preserving.  To make it easier to work with Linux, consider adding `-IgnoreCase` switch to `Get-Item` and `Get-ChildItem`.  Of course, we would need to pass this to Providers so they work correctly (Environment Variables, for example, are also case-sensitive on Linux).

[2018-08-21 01:34] alx9r commented on #7524
Thank you very much for the background @BrucePay, that has really helped to set my expectations to be consistent with how PowerShell is implemented.

This sounds really ideal.  Now that I have looked for this caching, I can indeed see the speedup from caching for single-threaded import.  For example,

[code]

outputs

[code]

This seems consistent with the caching story you described in your last

[2018-08-21 02:10] alx9r commented on #7530
Thanks @lzybkr.  I think that will get me there.  For posterity, here's what it seems to take to accomplish all of the following:

* invoke a scriptblock in another runspace
* pass positional arguments
* pass input
* pass named arguments
* preserve scriptblock position info on error

[code]

That outputs

[code]

[2018-08-21 02:12] loongdefect opened #7579 "How to remove PSComputerName when using ConvertTo-Json on Powershell Workflow"
Hi all,
I using ConvertTo-Json to convert array hashtable to json.
I run on Powershell workflow, Json auto have property PSComputerName as bellow:

`Name Value`
`------------------------`
`id        12345656723`
`rand    xxxxxxxxxxx`

`Name Value`
`------------------------`
`id        1234565672356`
`rand    vvvvvvvvvvvvvv`

`$array | ConvertTo-Json`
`[`
`{`
`"id": "12345656723",`
`"rand": "xxxxxx

[2018-08-21 02:42] markekraus commented on #7579
I'm sure there is a better way, but here is a simple way:

[code]
example:

[code]

Though, it should be pointed out that Workflows are not supported in PowerShell Core. This repo is for PowerShell Core.

[2018-08-21 03:36] loongdefect commented on #7579
Hi @markekraus
I using Azure Automation and my runbook type is powershell workflow.
code bellow:
[code]
result:
[code]

[2018-08-21 03:41] chriskuech commented on #7436
For the use case I mentioned, using metadata objects and `"_comment"` properties would not suffice, as it would break conformity with the external schema.

[2018-08-21 03:53] markekraus commented on #7579
@loongdefect ConvertTo-Json is localexecution only. So try this:

[code]

[2018-08-21 04:05] TheIncorrigible1 commented on #3240
@bgshacklett Don't you mean `$word=($null,'two')['three' -ne $null]`?

[2018-08-21 04:15] mklement0 commented on #7532
It's definitely worth tagging the individual entries of the `sf:` drive with what platforms they're defined on (where they have nonempty paths as their values).

To that end, I suggest attaching a `.SupportedOS` property to each item, which could be an `[enum]` type as follows:

[code]

Not sure if that makes for the most convenient way to query the information. however.

[2018-08-21 06:25] powercode commented on #7572
@bergmeister Yes, I reprod on crossgen:ed. Could not repro on debug. Maybe the marshaller works different in debug?
@SteveL-MSFT We could you IntPtr for the strings. That would make the struct blittable, with a much simpler marshaller. And we don't use them anyway.

[2018-08-21 07:04] powercode commented on #7572
I haven't been able to reproduce the crash with the marshalling changes in #7580.

[2018-08-21 07:43] loongdefect commented on #7579
Hi @markekraus
Your example run ok. But i have code as bellow.

[code]
Result:
[code]

[2018-08-21 07:46] loongdefect commented on #7579
Hi @markekraus ,
Example is perfect.
Thank for support.

[2018-08-21 07:46] #7579 closed

[2018-08-21 11:36] copdips opened #7581 "Python REPL over winrm"
Hello,

Python is more and more used by windows admins, is it possible to support Python REPL over winrm session ?
Thx.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-21 11:46] bgshacklett commented on #3240
@TheIncorrigible1  No, if you copy and paste what I added above, you should see that the value of `$word` is set to "two". There's more detail in this Stack Overflow answer where I first saw the pattern:
https://stackoverflow.com/a/17647824/180813

[2018-08-21 12:44] markekraus commented on #7436
@chriskuech I understand. I'm just pointing out that JSONC is not an RFC backed spec and as such the general guidance is to either not use it or to add JSON compliant comments and metadata where possible. And I'm only establishing that as a reason why it should not be included in the default behavior of the cmdlet.

[2018-08-21 13:14] iSazonov commented on #7557
Sometimes PowerShell is too flexible. I believe we should avoid numeric like command names. Of cause we can have `123` executable - in the case best practice should be to use `&` or `Invoke-Command`.
It is clear that the enhancement is a breaking change ([Unlikely Grey Area](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md#bucket-3-unlikely-grey-are

[2018-08-21 13:17] vexx32 commented on #7557
I'm in agreeance there. Numeric executables can be invoked with `&` or just from the directory with `.\123.exe` sort of idea.

Sure, it might break something, but (in my humble opinion) if you are using something named that nondescriptively... you probably have bigger fish to fry. 😄

[2018-08-21 14:02] MaximoTrinidad commented on #7581
Not only over winrm but also ssh.

As of now, you can't directly execute python (not even VIM) remotely.  This maybe **By-Design**!

![sshpython_03_2018-08-21_9-26-59](https://user-images.githubusercontent.com/19892435/44405581-9b24fc00-a527-11e8-8d3b-714645978afb.jpg)

Now, what it can be done from PowerShell remotely, you can execute and collect/save the results from Python with PowerShell.  The

[2018-08-21 14:47] copdips commented on #7581
@MaximoTrinidad

Thx for your reply, but Python repl works well over ssh, that's why I asked for Powershell winrm.
Currently, when I need to do some Python tests on a windows server, I must connect to RDP.

[2018-08-21 15:07] MaximoTrinidad opened #7583 "Preview.4 - During ssh session Linux-to-Windows Clear-Host not clearing screen"
Steps to reproduce
------------------
1. Connect ssh from Linux to Windows.
2. Run code to populate the screen.
3. Then, use Clear-Host.

The screen content stays the cursor return to the top.

Expected behavior
-----------------
To clear the screen when returning to the top screen.

[code]

Actual behavior
---------------
Executing the Clear-Host cmdlet, doesn't clear the screen. it give the mess

[2018-08-21 15:09] MaximoTrinidad commented on #7583
Hum! I think there's a workaround manually executing a command to manually fix this issue.

I thought it was already handle by the PSSession. :)

[2018-08-21 15:28] MaximoTrinidad opened #7584 "Preview.4 - During ssh session Linux-to-Linux Clear-Host not clearing screen"
Steps to reproduce
------------------

After working on the console, just execute Clear-Host.
[code]

Expected behavior
-----------------
Clear the screen and return to the top.
[code]

Actual behavior
---------------
The cursor stays at the current location. It doesn't clear the screen.
[code]
FYI...  Also, happens in CentOS 7.

Environment data
----------------
This happens in both CentOS, Linux

[2018-08-21 15:33] MaximoTrinidad commented on #7581
@copdips

Oh Yes!! I was trying to state the with PowerShell Core ssh is not when using the *-PSSession cmdlets.  I know with ssh works as expected.

[code]
:)

[2018-08-21 15:44] copdips commented on #7581
cool :)

[2018-08-21 16:31] thezim commented on #7583
Does Clear-Host rely on the console API directly? If so those API calls don't work on remote sessions if I recall.

[2018-08-21 16:33] ThreeFive-O commented on #4043
Two more questions:

1. Strange case: Using the switch `-NoSubject` would exclude `-Subject` from this parameter set. What if someone uses a pipeline or splatting where both parameters `-NoSubject` and `-Subject` are passed through? This would result in an error, since `-Subject` is not available. My other suggestion with the `-Force` parameter would have allowed still to include `-Subject`, but t

[2018-08-21 16:45] gellertb97 opened #7585 "(PSCore, Linux) Split method does not work with multiple delimiters"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

Comments
--------------
[code]

[2018-08-21 17:05] MaximoTrinidad commented on #7585
Not sure what's the issue here... I'm using WSL Linux Ubuntu, and in PowerShell Core.

Are you trying to use the split method with two characters: "." and "/"? The following line work as expected.
[code]
![wsl_split_01_2018-08-21_12-56-11](https://user-images.githubusercontent.com/19892435/44417195-e00a5c00-a542-11e8-8e61-dce80046939c.jpg)

[2018-08-21 17:14] lzybkr commented on #7557
In generated code, all bets are off, one might use seemingly random names to avoid potential conflicts.

Minimizing potential breakage is not difficult, so I see no reason to be overly permissive.

[2018-08-21 17:19] gellertb97 commented on #7585
Hi Max,
I'm trying to use multiple delimiters, as described in online resources. $a.Split('./')

Tested and working in Windows PowerShell 5.1.
(I'm not in close proximity of a personal windows machine at the moment, will try to get you a screenshot...)

[2018-08-21 17:28] MaximoTrinidad commented on #7585
Good Catch!!
Ah! You didn't mention it work in Windows PowerShell.  It's a bug!
:)

Either methods works in Windows PowerShell.
I'm sure it will be fix!

[2018-08-21 17:34] RichardSiddaway commented on #7585
Is this what you want
PS>  $a = "192.168.2.1/25"
PS>  $a.split([char]".",[char]"/")
192
168
2
1
25

Tested and Works with v5.1, v6.0.4 and v6.1.0-preview4

[2018-08-21 18:14] ssstonebraker commented on #6173
Installing PowerShell v6.0.4 on OSX 10.13.3 fixed the problem for me.

Install Link:
https://github.com/PowerShell/PowerShell/releases/download/v6.0.4/powershell-6.0.4-osx.10.12-x64.pkg

[2018-08-21 18:14] ssstonebraker commented on #5130
Installing PowerShell v6.0.4 on OSX 10.13.3 fixed the problem for me.

Install Link:
https://github.com/PowerShell/PowerShell/releases/download/v6.0.4/powershell-6.0.4-osx.10.12-x64.pkg

[2018-08-21 18:15] gellertb97 commented on #7585
Either works... But yes, using more than one delimirer in a Split command, e.g. Split('/ :;$.,') works for me in Windows PowerShell

[2018-08-21 18:39] dantraMSFT opened #7587 "SSH Remoting API Tests/SSHConnectionInfo Class Tests Tests marked with -Skip failing on CentOS 7"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
All tests pass

Actual behavior
---------------
The test 'SSHConnectionInfo should throw file not found exception for invalid key file path'
fails due to $skipTest being evaluated to an object[] array instead of a boolean.

The following line in the Context BeforeAll is setting $skipTest to an Object[].
[code]

It s

[2018-08-21 19:20] TravisEz13 opened #7589 "Some codepaths in PSSysLog.psm1 don't return the entire log"
https://github.com/PowerShell/PowerShell/pull/7586/files/5dc1e99f5deaf7a96f3cc7b586ebbd0847b04cbb#diff-577075ee8ff8aef572089b8912670b93R813

Because the content is being filtered based on having the header, message continuation lines are removed and later the `builder` cannot build the messages

[2018-08-21 19:26] ssstonebraker commented on #3771
Installing PowerShell v6.0.4 on OSX 10.13.3 fixed the problem for me.

Install Link:
https://github.com/PowerShell/PowerShell/releases/download/v6.0.4/powershell-6.0.4-osx.10.12-x64.pkg

[2018-08-21 19:27] ssstonebraker commented on #5561
Installing PowerShell v6.0.4 on OSX 10.13.3 fixed the problem for me.

Install Link:
https://github.com/PowerShell/PowerShell/releases/download/v6.0.4/powershell-6.0.4-osx.10.12-x64.pkg

[2018-08-21 19:27] ssstonebraker commented on #4592
Installing PowerShell v6.0.4 on OSX 10.13.3 fixed the problem for me.

Install Link:
https://github.com/PowerShell/PowerShell/releases/download/v6.0.4/powershell-6.0.4-osx.10.12-x64.pkg

[2018-08-21 19:55] dantraMSFT opened #7590 "Test-Connection.Tests.ps1 - Ping Fake host fails due to different InnerException.ErrorCode on Centos7"
On non-Windows, 'Ping Fake host' expects an error code of 6 in the error.Exception.InnerException.ErrorCode.  On CentOS, the ErrorCode is 11 (Resource temporarily unavailable).

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
All Tests pass.

Actual behavior
---------------
The InnerException reports ErrorCode 11 when 6 was expected.

[code]

[2018-08-21 20:11] mklement0 commented on #7585
It is not a bug, but an unfortunate - and unavoidable - consequence of a new method overload that is `[string]`-typed having been introduced in .NET _Core_.

This issue is therefore a duplicate of #3809; specifically:

* https://github.com/PowerShell/PowerShell/issues/3809#issuecomment-302594098 explains the details (note that the `options` argument of  the overload in question, [`public string[]

[2018-08-21 20:15] kfsone commented on #3240
While perlesque hack-arounds appeal to the 20-year ago me that wrote a shebang that registered and/or queried a RIPE-DB user or organization record, what I'm hoping for from powershell is something that encourages my colleagues to use the language rather than instill fear in them.

My litmus test is this: Would I want to read this via my tablet at 3am New Years morning while hung over with or ceo

[2018-08-21 20:26] joeyaiello commented on #7352
I get the second of my two "Expected Behavior" now, likely had to do with the command cache and my prior usage of `Add-WindowsPSModulePath`.

That being said, error message 1 under my Expected Behavior is still a way better error. We talked about this offline, I understand why #7366 wasn't the right fix (changed an error in more cases), but ultimately there may be a good reason to keep cache of in

[2018-08-21 20:27] vexx32 commented on #3240
Yup. There are some neat tricks possible in PS that are great in a pinch or if you need a one-time shorthand.

For maintainable code, ideally we should have explicit null-coalescing operators like C#. The main trouble there for me is -- what do we use for those? `?` is already aliased to `Where-Object` (much as I'd love for that to be erased, it's in *very* common use).

[2018-08-21 20:37] rjmholt commented on #7352
Yeah I agree that we should use a more specific error message for diagnosability -- all abstractions are leaky, so we should be ready to expose some internals when something goes wrong

[2018-08-21 21:13] dantraMSFT opened #7591 "Send-MailMessage incorrectly handling ValueFromPipelineByPropertyName parameters"
The current implementation is processing parameters in BeginProcessing. While this works for parameters that are explicitly passed to the cmdlet, it fails for parameters that are populated form properties of the pipeline object because parameters are not set until the pipeline object is sent to ProcessRecord.

The logic for parameters bound from the pipleline needs to be moved to ProcessRecord.

S

[2018-08-21 21:26] mklement0 commented on #3240
@vexx32:

At least _syntactically_ `??` should be fine, because we're talking about _expression_ mode, whereas `?`, as a command [alias], is only recognized in _argument_ mode.
Not sure if reuse of the symbol causes confusion, but it wouldn't be the first time that a symbol does double duty in different contexts.

Surprisingly, using `?.` and `?[]` for null-soaking would technically be a breaking

[2018-08-21 21:30] dantraMSFT opened #7592 "Send-MailMessage.Tests.ps1 - failure in 'Can send mail message from user to self using pipeline '"
NOTE: See also https://github.com/PowerShell/PowerShell/issues/7591

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
The tests pass.

Actual behavior
---------------
The tests fails with  the error 'A null key is not allowed in a hash literal'

The cause of the failure is the SmtpServer part of the hash table that is piped to Send-MailMessage. Note the '$' before

[2018-08-21 21:35] vexx32 commented on #3240
I can't say I've *ever* seen anyone use ? in a variable name... Nor would I, because chances are it would be misread. But yeah, hopefully that should be perfectly useable.

[2018-08-21 21:40] alx9r opened #7593 "Variable defined in InitialSessionState is not available in scriptblock originating from another runspace"
This came up when experimenting with @lzybkr's workaround for #7530.  In short, I'm using the ScriptBlock (not just its string representation) from one runspace in another so that file position information is correctly reported when an error is encountered.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environm

[2018-08-21 22:15] alx9r commented on #7530
@lzybkr I'm seeing crashes and "InvalidOperationException: Stack Empty" using this technique combined with concurrent calls to `.BeginInvoke()`.

## Repro

[code]

## Expected

[code]

## Actual

This is the most verbose output I have witnessed.  The run completed in a "PowerShell Core 6 has stopped working" message box.

[code]

[2018-08-21 22:28] lzybkr commented on #7530
That looks like a potentially serious bug, maybe open a new issue?

This looks like the stack to save and restore variables like `$_` when dot sourcing.  If the stack was empty, then the wrong stack may have been used, probably from another runspace.

[2018-08-21 22:42] Bhaal22 commented on #5572
I just tested with 6.0.4 look to be fixed indeed.

[2018-08-22 00:28] lzybkr commented on #7593
@BrucePay - that's mostly right, but scriptblocks created via `[ScriptBlock]::Create` are not bound to a runspace until they are first invoked.

[2018-08-22 00:42] daxian-dbw opened #7596 "When calling method, we should be theoretically able to pass an argument to a ByRef-like parameter via implicit casting"
The implicit cast to/from a ByRef-like type, such as `Span` or `ReadOnlySpan` doesn't help regular conversion operations in PowerShell because the target ByRef-like type cannot be boxed.

But when calling methods via Expression with jitting, `Expression.Convert` can be used to implicit cast an argument to the `Span` types before passing to the call and no boxing is involved (see an example below).

[2018-08-22 01:00] dantraMSFT opened #7598 "New-PSSession on Linux to office365.com fails on Debian 9 due to missing symlinks for libssl and libcrypto"
Client PSRP for Linux fails on a clean Debian 9 install of PowerShell due to the inability of libmi to resolve libssl and libcrypto.  While this worked as-is on Debian 8, Debian 9 fails unless symlinks for these two libraries are created in the $PSHOME directory.

To work around the problem, create the following symlinks in the PSHOME directory. Verify the version of ssl and crypto that are instal

[2018-08-22 01:05] dantraMSFT commented on #7548
Created issue for PSRP remoting on Debian 9: https://github.com/PowerShell/PowerShell/issues/7598

[2018-08-22 01:59] MaximoTrinidad commented on #7585
Thanks @mklement0!

[2018-08-22 03:31] iSazonov commented on #5561
@kai-h Can you confirm?

[2018-08-22 04:05] iSazonov commented on #4043
@ThreeFive-O Please open new issue in PowerShell-Docs repo https://github.com/PowerShell/PowerShell-Docs

[2018-08-22 04:08] iSazonov commented on #7569
@msftrncs Please unload PSReadline module and test.

[2018-08-22 04:13] iSazonov commented on #4592
@JMOSSAU  @kai-h Can you confirm?

[2018-08-22 05:07] jazzdelightsme opened #7600 "Parameter binding stops when a transformation attribute throws a ArgumentTransformationMetadataException"
`ArgumentTransformationMetadataException` is supposed to represent a recoverable error, but PS does not recover.

You can use an [`ArgumentTransformationAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.argumenttransformationattribute?view=powershellsdk-1.1.0) to help massage an object into the type expected for a particular command parameter. If the transformati

[2018-08-22 05:47] kai-h commented on #4592
@iSazonov - Yes, 6.0.4 seems to work correctly.
[code]

[2018-08-22 05:51] kai-h commented on #4592
Oh, and I should include the contents of the office365.ps1 script I'm running:
[code]

[2018-08-22 05:55] #4592 closed

[2018-08-22 06:28] iSazonov commented on #7590
@dantraMSFT The API have unpredictable behavior on Unixes. I opened a issue https://github.com/dotnet/corefx/issues/28934 without progress.

[2018-08-22 06:38] iSazonov commented on #7585
Leave a comment

[2018-08-22 06:38] #7585 closed

[2018-08-22 06:49] iSazonov commented on #7583
I think it is dup #7584 .

[2018-08-22 06:55] iSazonov commented on #7574
In PowerShell "echo" is an alias for "Write-Output". We have request to implement `-Nonewline` switch.

[2018-08-22 07:00] iSazonov commented on #7573
I belive https://github.com/PowerShell/PowerShell/issues/1998 will address the Issue.

[2018-08-22 07:04] iSazonov commented on #7571
@danielman111  Please test with latest PowerShell Core version Preview4.

[2018-08-22 07:42] iSazonov commented on #7600
@jazzdelightsme Look `ArgumentToEncodingTransformationAttribute` implementation in the repo.
https://github.com/PowerShell/PowerShell/blob/c1c5344a8897262433141ecbc13bb06ac2c4bbef/src/System.Management.Automation/utils/EncodingUtils.cs#L90

[2018-08-22 09:40] kai-h commented on #4592
Will whatever works for remote sessions to Office 365 in 6.0.4 be brought forward into 6.1?

[2018-08-22 10:38] gellertb97 commented on #7585
Thanks everyone!

[2018-08-22 10:43] dhjensen commented on #6527
It's the same issue with -FromSession
using wildcard(*) give the exception with that as well.

[2018-08-22 11:31] bgshacklett commented on #3240
I suspect it's a bit late to bring this up, but Bash has handled this (and some other cases) with its Parameter Substitution features: https://www.tldp.org/LDP/abs/html/parameter-substitution.html.

While it can be a bear to learn due to the sheer number of things that can be done with it, it's incredibly powerful. I understand that it would not be possible to use this exact notation due to the wa

[2018-08-22 11:41] alexandair commented on #7573
@iSazonov
Sure, that will address it.
The only problem is that that issue is 2 years old (posted 3 days after PowerShell Core was announced) and nothing happened. 2 years.

[2018-08-22 11:45] alexandair commented on #7574
This issue is all about  external Linux commands. In repro steps, I remove echo alias, and later use echo Linux command. The problem also applies to printf command.

[2018-08-22 12:40] iSazonov commented on #4592
Yes, you can test with latest nightly builds.

[2018-08-22 12:49] iSazonov commented on #7573
Because we hope to port all cmdlets :-) You can vote in  #1998.

[2018-08-22 13:03] SeeminglyScience commented on #7530
@alx9r Might be due to PowerShell attempting to send the scriptblock back to it's origin runspace.  Try `AddArgument($scriptBlock.Ast.GetScriptBlock())`

[2018-08-22 13:25] iSazonov commented on #1249
@daxian-dbw Seem we can close the Issue.

[2018-08-22 13:25] bergmeister opened #7603 "Import-CSV has very high filesize-to-memory consumption ratio of around 50"
Steps to reproduce
------------------
Importing a 150 MB CSV file with 50k rows, 700 columns and 5 +/- 3 characters per entry results in a memory consumption of 7GB of the PowerShell process. This is a ratio of around 50 when compared to the file size. I have seen this ratio also with a similar file of smaller size (1.5MB) and therefore think this is a more generic issue not specific to the CSV fi

[2018-08-22 13:36] iSazonov commented on #1484
For what they were created? If this is useful, then we should resume this project. RFC?

/cc @daxian-dbw @SteveL-MSFT

[2018-08-22 13:38] iSazonov commented on #1522
I can not repo in PowerShell Core 6.1 Preview4 and Windows PowerShell 5.1.

/cc @SteveL-MSFT

[2018-08-22 13:41] iSazonov commented on #1614
Now we have `Test-Json -Schema` and can resolve the issue.

[2018-08-22 13:44] RichardSiddaway commented on #1484
The cmdlets are for exporting/importing CIM instances as binary encoded data. I've not seen them used much but would be nice to have for consistency.

[2018-08-22 14:08] iSazonov commented on #1484
As I understood from MSFT comments the project was stopped. But what was an idea? Perhaps it is actual and we could implement this in more generic way.

[2018-08-22 14:12] RichardSiddaway commented on #1484
They are currently available in Windows PowerShell 5.1

[2018-08-22 15:19] MaximoTrinidad commented on #7583
Hi @iSazonov

Windows not equal Linux.   Different behavior!

In Linux it doesn't clear the screen nor return to the top of the screen.
In Windows, it doesn't clear the screen but the cursor goes to the top of the screen.

:)

[2018-08-22 15:34] JustinGrote commented on #7577
@izybkr Interesting PR, thanks I'll see if I can use that to dial it in a bit.

I didn't try a PS5.0 so I can't comment on how "fast" it is relative to the other tests, I only did PS Core and PS 5.1

[2018-08-22 16:03] jazzdelightsme commented on #7600
Sorry @iSazonov , I don't understand the relevance of that transformer. Yes, it also demonstrates the first workaround demonstrated by the repro script (`UseWorkaround_FailGracefully`).

Even if we decide that all the code works exactly as desired, then this is a doc bug, because you can't tell from reading the docs that it's how you should fail (docs incorrectly instruct you to throw an ATME if t

[2018-08-22 16:35] luizgn opened #7604 "Remove-Module PSReadLine makes input very slow on Linux"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

After that, immediately see typed characters without colors, character positioning and other control characters.

Actual behavior
---------------

On CentOS, after that, each typed character takes about one second to be showed.

On Ubuntu, after that, each typed character takes about one second to be showed and con

[2018-08-22 16:44] PoshKazun opened #7605 "Process crash with StackOverflowException after call ToString() from a custom class"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-22 17:14] fdge commented on #6561
This error is slowing me down from moving From PowerShell to Core
This error happens on Server 2008 R2 but not on Windows 10 1709

[2018-08-22 17:30] MaximoTrinidad opened #7606 "Preview.4 - Remove-Module PSReadLine stops Tab Completion in non-Windows systems"
Removing PSReadLine doesn't impact the Tab-Completion in both Windows PowerShell and PowerShell Core.

But tab-completion stops working in non-Windows Systems!

Steps to reproduce
------------------
Remove the PSReadLine module and use the change directory command tab to complete folder name

[code]

Expected behavior
-----------------
To auto-complete the line.
[code]

Actual behavior
-----------

[2018-08-22 17:44] lzybkr commented on #7530
@SeeminglyScience - `$scriptBlock.Clone()` should work as well and should be faster - it would avoid recompiling the script block.

Also - if that workaround works, I still think this issue should not be ignored - if my assumption is correct, it might also manifest silently and do something unexpected.

[2018-08-22 17:44] msftrncs commented on #7569
After much work, I finally got the latest beta of PSReadLine (2.0.0 beta 2 release) to import in to PowerShell Core, and the issue remains with the non-quoting of paths that require quoting, but the highlight no longer sticks to every entry touched.

PowerShell Core specific items like paths, could use to be mentioned in the PSReadLine readme.

[2018-08-22 18:56] TravisEz13 opened #7607 "update build scripts to publish wixpdb files"

[2018-08-22 19:54] mi-hol commented on #2356
@hsaito with several new version of PSGet published since the bug was reported I wonder if it still exists.
Would you mind to test and comment on https://github.com/PowerShell/PowerShellGet/issues/20 ?

[2018-08-22 20:03] anmenaga commented on #7605
This also repro'es on PS Core 6.1.0-rc.1
`   ExceptionCode: c00000fd (Stack overflow)`

Stack:
[code]

[2018-08-22 20:04] sundarchi1 commented on #5919
I have found success with the RC1 release.😃 Thanks to everyone involved.
pwsh-preview works in Task Scheduler, and I assume pwsh will work the same upon final release.
Note to anyone reading this later, rebooting after installing PowerShell is important, otherwise you will get 0x80070002 in Task Scheduler.

[2018-08-22 20:27] PetSerAl opened #7611 "pwsh.exe set console icon from first pwsh.exe it finds, but not from its own executable."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Proper icon to be used.

Actual behavior
---------------

![image](https://user-images.githubusercontent.com/17184058/44488887-96b12e00-a662-11e8-8479-f80362652e06.png)

Environment data
----------------

[code]

[2018-08-22 20:39] PetSerAl opened #7612 "Module autoloading does not invoke correct command on first use"
Steps to reproduce
------------------

Having module with following definition:
[code]

Invoke following in PowerShell prompt:
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-22 20:56] SeeminglyScience commented on #7530
@lzybkr It's internal unfortunately :/

[2018-08-22 21:02] PetSerAl commented on #7605
Your `ToString` call itself recursively, `StackOverflowException` is expected behavior there.
Note that this `"$this.foo"` mean string version of `$this` plus `.foo` literal string. It is not property access.

[2018-08-22 21:19] lzybkr commented on #7530
I don't see any immediate downsides to making it public.

Maybe try calling it via reflection in some experiments where you were using `$scriptBlock.Ast.GetScriptBlock()` to see if there are any problems or if I'm mistaken about the performance impact.

[2018-08-22 22:02] edyoung commented on #7578
What about Remove-Item, Get-Content, and other base cmdlets which take paths as input?

[2018-08-22 22:07] it-praktyk opened #7613 "The link to download PSCore v6.1.0-rc.1 for Red Hat family included in the README.md is broken"
The [README.md](https://github.com/PowerShell/PowerShell/blob/master/README.md) at the line 86 contains

[code]

That link is incorrect - it returns the 404 page.

The link to download the rpm file at [the release page](https://github.com/PowerShell/PowerShell/releases/tag/v6.1.0-rc.1) is working and is

[code]

The issue is the dot/dash before the `rc` name part.

[2018-08-22 22:43] adityapatwardhan commented on #7317
This have been fixed in 6.1.0-rc.1

[2018-08-22 22:43] #7317 closed

[2018-08-22 22:47] adityapatwardhan commented on #6220
Fixed in #7525

[2018-08-22 22:47] #6220 closed

[2018-08-22 23:35] adityapatwardhan commented on #7548
Release completed.

[2018-08-22 23:35] #7548 closed

[2018-08-23 00:06] thezim commented on #7606
Repros on macOS as well on rc1.

[code]

[2018-08-23 00:15] lzybkr commented on #7606
This is by design and related to how the system level command line editing is implemented.

On Windows systems, there is a (mostly simple) hook to provide a callback when hitting <kbd>Tab</kbd> and PowerShell used that hook from the very beginning.

On non-Windows systems, there is no such hook. If you want custom behavior when typing any key like <kbd>Tab</kbd>, you must fully implement command l

[2018-08-23 01:47] magicedy opened #7614 "Get-ScheduledJob dost not work"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-23 04:06] Dejulia489 commented on #2875
@felixfbecker you can use Update-ModuleManifest

[2018-08-23 05:07] iSazonov commented on #7569
I can repo with and w/o PSReadline for _share names_ (not for folder names in shares).

[2018-08-23 05:47] iSazonov commented on #7600
@jazzdelightsme Thanks for clarify. I think the code works as expected and it is doc issue - we should add that we should throw `ArgumentTransformationMetadataException` with inner `PSInvalidCastException` exception. (Sample code in `ArgumentTypeConverterAttribute`). Please open new issue in PowerShell-Docs repo if you agree.

[2018-08-23 06:44] bergmeister commented on #7603
@thezim I do not see this as a duplicate because the behaviour in Windows PowerShell was the same.

[2018-08-23 07:33] mi-hol opened #7616 "Update to community dashboard to show 6.1 development cycle?"
I like the dashboard https://github.com/PowerShell/PowerShell#community-dashboard
but several pages seem to require an update, as data refreshes stoppend some time back.
Specifically page 5 should show stats from 6.1 development cycle.

[2018-08-23 08:00] iSazonov commented on #7616
/cc @SteveL-MSFT

[2018-08-23 08:37] danielman111 commented on #7571
Eventually I used the following code to run my set of commands:

[code]
Where the cmd param is concatenation of all my commands with ; separator.

For windows to windows remoting, the filename should be:
`FileName = @"C:\Program Files\PowerShell\6.0.4\pwsh.exe",`

[2018-08-23 08:37] #7571 closed

[2018-08-23 08:39] danielman111 opened #7617 "Remote Execution of Powershell Command with PowerShell-Core Version"
I am trying to execute Powershell command remotely, my problem is that the Powershell is used is version 4.0, and I want to execute my command remotely using Powershell Core 6.0.4.

I tried to use this command on the remote host

`Set-PSSessionConfiguration -name microsoft.powershell -psversion 6.0 -FORCE`

And getting this error:

[code]

I got version 6.0.4 installed on my remote machine.

I kno

[2018-08-23 09:03] milindsaraswala commented on #2183
I am late to the party but I found the article which make your mac terminal window same like windows PowerShell. By Setting Profile. Please follow this below article
https://info.sapien.com/index.php/quickguides/setting-up-powershell-on-your-mac

[2018-08-23 09:03] milindsaraswala commented on #1036
I am late to the party but I found the article which make your mac terminal window same like windows PowerShell. By Setting Profile. Please follow this below article
https://info.sapien.com/index.php/quickguides/setting-up-powershell-on-your-mac

[2018-08-23 09:12] FreZZZeR-I opened #7618 "Wrong encode in Invoke-RestMethod -Body (problem with cyrilic symbols)"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

http request json
[code]

Actual behavior
---------------

http request json
[code]

Environment data
----------------
Name                           Value
----                           -----
PSVersion                      6.1.0-rc.1
PSEdition                      Core
GitCommitId                    6.1.0-rc.1
OS

[2018-08-23 09:44] iSazonov commented on #7618
@markekraus Could you please comment?

[2018-08-23 09:48] iSazonov commented on #7614
@magicedy  Thanks for your report! Please move the Issue in https://github.com/PowerShell/PowerShellModuleCoverage rrepo.

[2018-08-23 09:59] magicedy commented on #7614
This issue was moved to PowerShell/PowerShellModuleCoverage#3

[2018-08-23 09:59] #7614 closed

[2018-08-23 10:03] iSazonov commented on #7613
@it-praktyk Thanks for your report! All links on deb and rpm is broken.

[2018-08-23 10:18] iSazonov commented on #7612
Looks like "By-Design" - we search in a cache before start autoloading.

[2018-08-23 10:31] vexx32 commented on #7617
Don't think you can do this directly, because the cmdlet originates from version 4.

It might be as simple as just calling `pwsh` to open PS core directly before you do anything else in the remote session

[2018-08-23 10:31] PetSerAl commented on #7612
@iSazonov Not sure how this is related to cache. As far as I understand command lookup algorithm looks like following:
[code]
So, due to recursive call to `LookForCommand("Get-" + name)` it happens that ` AutoloadCommand("Get-" + name)` is called before `AutoloadCommand(name)` which cause the issue.

[2018-08-23 10:35] iSazonov commented on #7603
@bergmeister Could you please test with latest build or RC1? We already added two performance fixes. I guess you will be pleasantly surprised.

[2018-08-23 10:42] iSazonov commented on #7571
The path is changed in 6.1.0.

[2018-08-23 10:46] iSazonov commented on #7612
I meant the same. I think it is an edge case and we can consider this as "By-Design".

[2018-08-23 10:48] iSazonov commented on #7604
What terminal do you use?

[2018-08-23 11:11] bergmeister commented on #7603
@iSazonov I tried with the latest daily build and using the RC1 today and there was no noticeable difference.

[2018-08-23 11:54] iSazonov commented on #7603
@bergmeister Thanks!

Please add results of the comparision in the PR description: memory and speed.

[2018-08-23 12:41] luizgn commented on #7604
I log on Linux using Putty and executed pwsh, so, $env:TERM is 'xterm'.

I just tried to use 'dumb' and also tried remove $env:TERM because I noticed this variable is not set on Windows but behavior was the same.

[2018-08-23 13:13] MaximoTrinidad commented on #7604
@iSazonov,

I use their standard terminal.  This is not using ssh remoting!
:)

[2018-08-23 13:13] markekraus commented on #7618
I can repro this with using `$uri = 'https://httpbin.org/put'`

I will have to look for other open issues on this later, but I believe this is a duplicate.

The underlying cause is dotnet/corefx#16290 . We rely on `MediaTypeHeaderValue` to determine what charset encoding to use but `MediaTypeHeaderValue` dose snot properly parse charset from a supplied content type. The solution, if `MediaTypeHead

[2018-08-23 13:16] MaximoTrinidad commented on #7606
I understand!

Thanks,
:)

[2018-08-23 13:43] felixfbecker opened #7620 "Cannot redirect streams to anything else than output stream 1"
Steps to reproduce
------------------

When running PowerShell, I sometimes need to redirect all "log" streams (including the information stream) to STDERR. For this, I am trying to redirect the information stream 6 to the warning stream 3:
[code]
I also tried redirecting all streams:
[code]
And redirecting to the error stream:
[code]
[code]

Expected behavior
-----------------

This should redire

[2018-08-23 14:13] #7606 closed

[2018-08-23 15:17] PetSerAl commented on #7620
Linked documentation only show three forms of redirection operator: `n>`, `n>>` and `n>&1`. There are no documented operators `n>&2` or `n>&3`.

[2018-08-23 15:25] felixfbecker commented on #7620
That's true, but it's not very obvious, especially when the same operator in bash works for stderr too (`>&2`). The error messages are also confusing.

In Linux programs, often STDERR is used as the logging stream, especially if STDOUT is speaking an RPC protocol, e.g. needs to be valid JSON. PowerShell currently can't really be used for this because any information or warning logs will gets sent

[2018-08-23 15:44] FreZZZeR-I commented on #7618
Example from product environment, used ZabbixAPI

Login Request
[code]
http request json
[code]
Answer
[code]
Search item request
[code]
http request json
[code]
Answer
[code]

[2018-08-23 15:45] B-Art opened #7621 "-replace does something .replace() will not"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-23 15:48] BrucePay commented on #7620
@felixfbecker Something to keep in mind: in traditional text-based shells, the various output streams are just undifferentiated text so it doesn't matter what goes where.. In PowerShell, the streams are strongly typed. The error stream only contains ErrorRecords, the VerboseStream only contains VerboseRecords, etc. The only polymorphic stream is the output stream so it's the only one where merge s

[2018-08-23 15:56] PetSerAl commented on #7621
`-replace` do regular expression replacement by default.

[2018-08-23 15:56] BrucePay commented on #7621
@B-Art `[string].Replace()` just does simple string replacement. The `-replace` operator uses regular expressions like `[regex]::replace()`.

[2018-08-23 16:06] BrucePay commented on #7593
@lzybkr Right but then you lose all of the source context which was the whole point of the exercise. Now If we made the overload of `[scriptblock]::Create()` that takes an AST public, then everything should work.

[2018-08-23 16:29] lzybkr commented on #7593
The binding to the runspace happens [here](https://github.com/PowerShell/PowerShell/blob/d6817a42e4b75c915d9ccc3772172a4a63395d1a/src/System.Management.Automation/engine/runtime/Operations/MiscOps.cs#L1254) - and you can see it is not part of `ScriptBlock.Create`, though that line could maybe be moved into `ScriptBlock.Create`.

[2018-08-23 17:36] chuanjiao10 commented on #7621
It's by design . beginner Question .
This is where the powershell is fascinating.
If you want to support the regularity，use  -replace
If you not like regularity,use  .replace().
Don't forget to close the issue.

[2018-08-23 17:47] vexx32 commented on #7621
If any more clarity is required...

* `.Replace()` is a string method build into the `[string]` data type by the .NET designers.
* `-replace` is a string operator implemented by the PowerShell team utilising the `[RegEx]::Replace()` .NET method behind the scenes in order to give additional, easy to access functionality to PowerShell itself.

[2018-08-23 17:49] chuanjiao10 commented on #7616
The same dashboard problem.
1 Is it possible to count linux data by release version instead of by kernel?
2 Can the powershell version data follow the "version percentage" instead of the column chart.

[2018-08-23 18:07] chuanjiao10 commented on #7581
Iet **the python standard library** in the form of a **powershell third-party module**. I think it is better.
[code]

[2018-08-23 18:17] chuanjiao10 commented on #7617
Why do you care about 4.0 6.0?
You only need to know the difference between the specific commands, you need to write your own script to test this difference.

[2018-08-23 18:56] jckenny commented on #7492
I think this is a related issue. The -File and -Exclude parameters don't work when used together.

Count of files without any exclusions
`PS C:\Program Files\PowerShell\6.0.4> (Get-ChildItem).count`
`389`

Count of files when excluding pwsh.exe
`PS C:\Program Files\PowerShell\6.0.4> (Get-ChildItem -Exclude pwsh.exe).count`
`388`

Count of files when excluding pwsh.exe and only listing files
`PS C:

[2018-08-23 19:52] yurko7 opened #7622 "Impossible to call overrided `protected internal` method of base class."
Steps to reproduce
------------------
Derive from a class with virtual `protected internal` method. For example, `System.Diagnostics.Tracing.EventListener`, `System.Net.Http.DelegatingHandler`.
Override that method.
Call that method of base class.
[code]

Expected behavior
-----------------
Method of base class should be called.

Actual behavior
---------------
Overridden implementation called rec

[2018-08-23 20:10] deathly809 opened #7623 "Invoke-Command with ErrorAction SilentlyContinue still throws Exception"
When running a script using Invoke-Command I call a program which prints to the error stream.  I have piped the error stream to the stdout and then Out-Null for the command I call and also set the ErrorAction to SilentlyContinue for Invoke-Command.  The exception is still propagated.

Steps to reproduce
------------------

Using the following files,

[error.ps1.txt](https://github.com/PowerShell/P

[2018-08-23 21:13] MaximoTrinidad commented on #7623
First, you need to try it on PowerShell Core, as this is only for PowerShell Core issues.  So, for Windows PowerShell issues, use Uservoice at: https://windowsserver.uservoice.com/forums/301869-powershell

Overall, this type of exception can only be handle using the try/catch.

In order to reproduce in PowerShell Core, we need better steps. We don't know what commands are executing in "Cradle.ps1"

[2018-08-23 21:42] deathly809 commented on #7623
You cannot tell what is in a text file?  I am very confused.  Have you tried notepad?

To help I have opened the files in notepad and copied the text files here.

[code]

[code]

Just in case you are confused you will need to copy AND paste these into the following files and please read the first line of the code as those correspond to the files that you need to copy and paste into,

[code]

then

[2018-08-23 21:46] BrucePay commented on #7623
Here's a reduced version of the code with just the relevant bits.
[code]
This will indeed generate a error despite setting `-ErrorAction` on `Invoke-Command`. This is because `$ErrorActionPreference` is set to `Stop`. The preference variable is the ambient setting for all commands vs. the `-ErrorAction` parameter that controls the behaviour for a specific command. This means that when cmd.exe is e

[2018-08-23 21:49] MaximoTrinidad commented on #7623
Ah! Apologoies @deathly809 !!

I didn't notice you included other files.  Hehe!!

Thanks BruceP for assisting!!

[2018-08-23 21:57] copdips commented on #7581
@chuanjiao10

`import-module python.re`, are you sure this works ?
Or this is what you expect in the future powershell release ?

[2018-08-23 22:00] copdips commented on #7581
Could anyone tells us why it doesn't work at least ?

[2018-08-23 22:04] #7613 closed

[2018-08-23 22:08] deathly809 commented on #7623
Hmmm, I will override the setting and see what happens.  Hopefully that fixes it.  Thanks!

[2018-08-23 22:10] #7587 closed

[2018-08-23 23:20] alx9r opened #7626 "Concurrently invoking a ScriptBlock in two runspaces causes InvalidOperationException and pwsh.exe termination"
This came up during #7593 and #7530.  I _think_ the circumstances where this can occur is wherever all of the following happen:

1. A scriptblock from one runspace is passed into another instance of the PowerShell class.
2. The two PowerShell instances are invoked concurrently.
3. Each PowerShell instance invokes the scriptblock.

I'm not sure exactly what should happen when invoking a scriptblock

[2018-08-24 00:09] alx9r commented on #7530
Thanks for the help @lzybkr and @SeeminglyScience.

It seems like the peformance of .Clone() and .Ast.GetScriptBlock() are similar:

[code]

One typical result of this run on my computer is:

[code]

[2018-08-24 00:27] alx9r commented on #7530
FWIW I have settled (for now) on the following for creating scriptblock clone from C#:

[code]

[2018-08-24 02:07] MaximoTrinidad commented on #7581
For now, forget about python.re module.  The main issue in question is about Python REPL in PS Remoting.  I think it should work in both ssh and winrm.

I would recommend, to pursue python.re, someone should open a separate issue.
:)

[2018-08-24 05:59] iSazonov commented on #7603
@bergmeister I tried with a randomly generated file (600 columns, 50000 lines and 10 MB size) and can not confirm - RC1 works very good (process size is 40 MB at start then reduced to 22 MB in TaskManager).

[2018-08-24 06:05] iSazonov commented on #7112
Current status.

1. We added some optimizations to reduce allocations and increase performance. (Thanks @powercode!)
2. I see @benaadams start work on 3 optimizations in CoreCLR. Thanks!

3. We get new Issue #7603 about memory garbage (without confirmation). The same we see in current issue too - PowerShell Core doesn't free memory so fast as Windows PowerShell.
I found related Issue https://githu

[2018-08-24 06:46] chuanjiao10 commented on #7581
Forget repl. The main problem with python is that it does not support the command line. Remote command line is not supported. It is difficult to transform the structure.

Powershell is born with a command line, which is a remote command line.

Compiling and creating the python standard library source code into a powershell module is the best way. Maybe you don't need to compile the source code, yo

[2018-08-24 06:51] iSazonov commented on #7604
@luizgn Do you connect to Linux from Windows?

Please test with resently published 6.1.0 RC1 version.

[2018-08-24 07:19] zizifn opened #7627 "Enhance "Invoke-RestMethod" -v(verbose) equivalent to curl -v"
Linux curl -v will have information like:
`
 * Rebuilt URL to: www.google.com/
*   Trying 1*.2**.3**.4**(IP)...
* Connected to ProxyHostName (ProxyHostIP) port ****(#0)
`

This is every help when i debug issue under PROXY environment.

If there possible we can get this kind of function into "Invoke-RestMethod" and "invoke-webrequest". Thx.

[2018-08-24 07:43] iSazonov commented on #7622
/cc @rjmholt maybe add to #6652?

[2018-08-24 08:44] bergmeister commented on #7603
@iSazonov How did you run it? If I run it using `Import-Csv $file | Out-Null` there is hardly any memory usage but if I assign it to a variable using `$csv = Import-Csv $file` I get the big memory allocation that I can only get rid of at the end by calling `[System.GC]::Collect()`

[2018-08-24 09:06] iSazonov commented on #7603
Test script
[code]

Your issue is not directly related with Import-Csv. Seems we have extra allocations in "=" operator.

[2018-08-24 10:30] alexandair opened #7629 "Get-Command doesn't fail when you specify a nonexistent parameter"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-24 10:41] cr-bglover commented on #5970
@TravisEz13, do you have a ref for the issue you filed? Still affecting MacOS

[2018-08-24 12:36] jherby2k commented on #7532
Isn’t it just as easy to see which ones are empty? If you need to know how they’re going to resolve on a platform other than the one you’re currently on, I think just referring to documentation would suffice.

[2018-08-24 13:52] luizgn commented on #7604
@iSazonov, yes, I'm connecting to Linux from Windows 10 using [Putty ](https://www.putty.org/) ssh client. 6.1.0 RC1 has same behavior.

Now, I tested using Enter-PSSession with 6.1.0 RC1 and OpenSSH_for_Windows_7.7p1 ssh client and it crashed:

[code]

Than, I tested using ssh client (OpenSSH_for_Windows_7.7p1) from powershell 6.1.0 RC1 console and it has same behavior also (psuser uses /bin/pwsh

[2018-08-24 14:38] 45413 commented on #3663
The other way to work around this is to rely on the `#Requires` in the psm1 argument instead of RequiredModules in the psd1.

[code]

While this does break the auto install of RequiredModules during the Install-Module it does solve the Test-ModuleManifest issue and causes psake to function as expected during build.

[2018-08-24 14:50] chuanjiao10 commented on #7581
@copdips ：
If you like the number of game frames is too low,
Will you modify the game, or the game engine, or directX, or opengl? Or graphics card driver?

If python's http performance is poor, would you modify tcp to adapt to python?

Python is an application. You should modify python to adapt to powershell and bash, not vice versa.

If the powershell console is modified for python,
So should it

[2018-08-24 16:13] rjmholt commented on #7622
@yurko7 By "overridden implementation called recursively", I'm guessing you get a `StackOverflowException`? Can you please paste into the issue description the exact output when the method is called?

[2018-08-24 17:41] lzybkr commented on #7629
This is an unfortunate side effect of how `ValueFromRemainingArguments` works, related issue: #4624

`Get-Command` uses the parameter `-ArgumentList` as a way of finding the dynamic parameters for a command, e.g.:

[code]

[2018-08-24 18:38] yurko7 commented on #7622
@rjmholt

Depends on implementation of overridden method. On unconditional call of base method, sure, we'll get a `StackOverflowException`.
Updated the issue description with exact output.

[2018-08-24 18:40] rjmholt commented on #7622
Yes, I would imagine it depends on the particular method. I just meant for the example class you specify in the issue.

[2018-08-24 18:47] MaximoTrinidad commented on #7604
I don't think the issue is with remoting.  It seems this is at the Linux main console terminal.

Also, I had a different issue when removing PSReadline impacting tab-completion which ended up to be **By-Design**.

In other words, in Linux or MacOS, we shouldn't remove the PSReadLine module. There's a chance it will impact the performance of PowerShell Core.

:(

[2018-08-24 19:49] BrucePay commented on #7626
This is essentially the problem described in #4003. The current expected behavior is for an affinitized scriptblock to be executed in the runspace where it was created. This can only happen if the runspace is otherwise idle so the invocation is posted as an event to be invoked when the runspace becomes available. That said, it's no longer clear that this is the desired behavior. Some history: PSOb

[2018-08-24 20:43] lzybkr commented on #7604
PSReadLine is not used for prompts, e.g. `$host.UI.ReadLine()` or `[Console]::ReadLine()`, so it's worth understanding if that's also slow.

As an aside, `$host.UI.ReadLine()` should probably use PSReadLine, but disable colors and history.

[2018-08-24 22:11] PaulHigin commented on #7604
I agree that this is not about PowerShell SSH based remoting.  This seems to only repro when SSH remoting from Windows to Linux, so we should make the Win32-OpenSSH team aware.  I have not been able to repro this but I am currently using an older version of Windows OpenSSH.

@manojampalam Could this be something related to Win32-OpenSSH?

[2018-08-24 23:12] ExE-Boss commented on #5870
Well, the `curl` and `wget` aliases have been permanently removed in PR #5268 and [Windows 10 now ships with `curl.exe`](https://blogs.technet.microsoft.com/virtualization/2017/12/19/tar-and-curl-come-to-windows/). ✌️🏻😄✌️🏻

[2018-08-24 23:56] luizgn commented on #7604
@MaximoTrinidad could you provide more detail about your environment? All my tries caused a high latency on text input.

And, for me, it doesn't happen with Win32-OpenSSH only, it also happens with putty.

[2018-08-25 03:33] mklement0 commented on #7532
@jherby2k: While we could get away with just _documenting_ the platform-specific behavior, my vote is for continuing PowerShell's rich tradition of _programmatic_ discovery, i.e., reflection.

Therefore, running `Get-ChildItem sf:` could yield something like the following on macOS:

[code]

---

In fact, the above was obtained with the following code, based on the findings in https://github.com/Po

[2018-08-25 03:43] ThreeFive-O commented on #3164
@joeyaiello I think this issue can be closed as the Send-MailMessage cmdlet was ported in PR #3869

[2018-08-25 03:59] KevinMarquette commented on #3663
One last approach worth mentioning is that you can temporarily change the `$ENV:PSModulePath` to a folder where you download your required modules. I have used this to work around the import issue.

[2018-08-25 08:57] cr-bglover commented on #5970
Thanks!

Sent from my iPhone

--
The above terms reflect a potential business arrangement, are provided
solely as a basis for further discussion, and are not intended to be and do
not constitute a legally binding obligation. No legally binding obligations 
will be created, implied, or inferred until an agreement in final form is
executed in writing by all parties involved.

This email may be
confi

[2018-08-25 12:19] SeeminglyScience opened #7632 "Enable index operations for ITuple implementations"
From the discussion in #7471, the following should work

[code]

[2018-08-25 18:24] mklement0 opened #7634 "Terminal: [console]::InputEncoding and [console]::OutputEncoding are set to the wrong UTF-8 encoding (*with* BOM)"
Note: As of v6.1.0-rc.1, the console on _Windows_ is fundamentally not configured to use UTF-8 yet - see #7233

While `[console]::InputEncoding` and `[console]::OutputEncoding` on macOS and Linux _are_ set to UTF-8, the specific encoding variant used is the one _with a BOM_, which is the wrong one (though I'm unclear on what the practical implications are, given that _streams_, not _files_ are typ

[2018-08-25 18:44] mklement0 commented on #5994
**Indeed, we need a replacement for `more.com`.**

Note that "Unicode" in Windows speak often refers to UTF-16LE specifically, not to Unicode encodings in general.

UTF-8 is Core's default, though not yet fully implemented in the console / terminal - see #7233 and #7634

And with UTF-8 also assigned to `[console]::InputEncoding` (not just ` [console]::OutputEncoding` and `$OutputEncoding`), as wil

[2018-08-25 19:09] PetSerAl commented on #7634
Well it is not PowerShell issue, but .NET one.

[2018-08-25 19:14] mklement0 commented on #7634
I haven't looked into it, @PetSerAl - do you know where these encodings are assigned?

[2018-08-25 19:30] PetSerAl commented on #7634
@mklement0 I will reference Windows implementation. I am not sure if it behave the same on Linux or MacOS since it use platform dependent function on Windows.
[Here](https://referencesource.microsoft.com/#mscorlib/system/console.cs,608) it calls native `GetConsoleOutputCP`. For UTF-8 it would return 65001. There are not way to distinguish BOM/BOM-less flavor of UTF-8. Underlying console simply doe

[2018-08-25 19:39] ExE-Boss commented on #5994
@rkeithhill The issue is that `less` is GPL licensed, whereas `ssh` and `tar` are BSD licensed and `curl` is [MIT/X-derivate licensed](https://curl.haxx.se/docs/copyright.html).

[2018-08-25 19:46] PetSerAl commented on #7634
Though, at quick glance on .NET Core implementation, it looks like it supposed to return BOM-less UTF-8 in this case, so maybe I was wrong and it have some PowerShell related issue.

[2018-08-25 20:16] rkeithhill commented on #5994
OK, well then perhaps an overhaul of `more.com` or more likely, a new pager for Windows.  Probably would be better to have more typical Windows key bindings anyway, like `Ctrl+f` for find, etc.

[2018-08-25 21:00] ThreeFive-O commented on #2646
To summarize the issue:
The cmdlet was used in a wrong way where the Boolean switch `-BodyAsHtml` was used in a similar fashion like `-Body`.
Since the switch `-BodyAsHtml` takes no input object, the positional parameters kicks in. As all other parameters are named, the first positional parameter will be `-To`.
Hence the provided sample call
[code]
could be written as
[code]

Input 'Blablabla' can

[2018-08-25 22:48] mklement0 commented on #7532
As a stopgap, I've published advanced function `Get-SpecialFolder` in [this Gist](https://gist.github.com/mklement0/c0a5d8a0aa44369689800c57e2b747c2), which

* by default only lists those folders that are defined for the OS at hand
* supports tab-completion of the special folder names

Here's the concise form of the CLI help (`Get-SpecialFolder -?`):

[code]

[2018-08-25 22:51] mklement0 commented on #7634
Thanks, @PetSerAl. Indeed, given that `[Text.Encoding]::Default.GetPreamble().Count` is `0` - i.e., the _BOM-less_ UTF-8 variant, it would stand to reason that the console use the same encoding.

[2018-08-26 00:53] vors commented on #644
Doesn't work on mac :(

For rick-roll I see no image (and background changes to white)
For the burning console, there is unimplemented API

[code]

[2018-08-26 19:50] #7301 closed

[2018-08-26 20:04] #7623 closed

[2018-08-26 20:54] nickolay commented on #2578
I came across this issue while troubleshooting slow script execution (`powershell -NoProfile -ExecutionPolicy Bypass -file path\to\script.ps1`) in PowerShell (5.1.17134.165). I narrowed it down to `Get-ExecutionPolicy` being slow (~5 sec); and it got resolved by restarting the computer.

Judging from the commit here it seems that if one has the GPO setting for ExecutionPolicy (i.e. `Get-ExecutionP

[2018-08-26 22:48] jdogg89 commented on #6083
@SteveL-MSFT has there been any headway on this in the last month? When I try to import the active directory module I have no luck, just errors

[2018-08-27 04:36] msftrncs opened #7635 "stop parsing symbol: double-quotes parse first, before variable substitution"
Steps to reproduce
------------------
I am describing a wild use case here, but noticed this while reading about_Parsing doc, referring to the stop-parsing symbol.  The doc states that %% environment variable substitution occurs as well, as well as supports the pipe character to end the command.  I quickly determine that double quotes are also included in the parsing past the stop-parsing symbol.

[2018-08-27 04:44] manojampalam commented on #7604
Unable to comprehend this thread in one pass through :(. If you feel there is an issue with Win32-OpenSSH, please open an issue here - https://github.com/PowerShell/Win32-OpenSSH/issues

[2018-08-27 04:49] msftrncs commented on #7635
Now, this said, I can understand why what I expect is not what I get, but that doesn't help me not expect it.

When I first read about the stop-parsing symbol, I had the understanding that no more parsing occurred past it, and that is how VS Code's PowerShell syntax scoping treats it, but now I know that is not the case, and I actually think the --% symbol is worse at providing the solution than t

[2018-08-27 05:38] iSazonov commented on #7634
It is here
https://github.com/dotnet/corefx/blob/e1a33f4a1cc582f42bd5ae0f887bf1aa9878d493/src/System.Console/src/System/ConsolePal.Unix.cs#L612
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/System/Text/EncodingHelper.Unix.cs#L34

So on Unixes CoreFX looks in env variables "LC_ALL", "LC_MESSAGES", "LANG".
If the vars is absent the default is Utf8 with

[2018-08-27 05:38] rjmholt commented on #7635
Looks like this is the behaviour in Windows PowerShell too.

Compare the following:
[code]

And
[code]

If you enter this interactively with PSReadLine enabled you can see that the insertion of a quote before the pipe causes the `Write-Output` to not register as a command name, so I'm guessing this is a bug where the tokeniser is still looking for a closing quote rather than being in "stop-parsing

[2018-08-27 06:58] #7453 closed

[2018-08-27 10:06] george-chakhidze commented on #7605
Letʼs clarify for those who end up here from Google search results and are new to PowerShell:

Correct `ToString()` with property access would be:

[code]

Also, expected behavior when `$foo -eq $null` is not "Should be thrown an exception..." — PowerShell outputs `$null` as empty string (By design).

[2018-08-27 11:11] iSazonov commented on #7112
In 6.1.0 RC1 trace I see that we do many allocations in System.Management.Automation.ReservedNameMembers.
![generatepstypenames](https://user-images.githubusercontent.com/22290914/44656702-6b736980-a9e9-11e8-942b-4129b923031d.png)
GeneratePSTypeNames(System.Object)

Most in MemberMatch..ctor(). I have no idea if we can improve this, but it's surprising that we create links to standard methods dyna

[2018-08-27 12:56] iSazonov commented on #1806
@bergmeister Perhaps it can be intereting for you.

[2018-08-27 13:04] iSazonov commented on #1807
Should we move the issue in PowerShell-Docs repo? /cc @SteveL-MSFT

[2018-08-27 13:55] iSazonov commented on #1872
/cc Seem we can close the old issue.

[2018-08-27 14:09] iSazonov commented on #1876
.Net Core added support CentOs 6 (to address feedbacks) with many limitations as non-portable (!)solution. I'm afraid that even if we do this
https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md
we will get unpredictable limitations in functionality. Also it is necessary to remember that SSH remoting should work, but most likely it will not.
I think we

[2018-08-27 14:14] vexx32 commented on #5421
https://stackoverflow.com/questions/10262231/obtaining-exitcode-using-start-process-and-waitforexit-instead-of-wait

Dug this up... Seems as though it's not so much waiting for it to end as it is *explicitly querying for the process handle* while it's still running is what allows the exit code to be captured.

Ideally, `Start-Process` could internally query the process handle from the object befor

[2018-08-27 14:26] iSazonov commented on #1976
@TravisEz13  Should we close the issue?

[2018-08-27 14:36] iSazonov commented on #2015
Perhaps it should be PSReadline feature.

[2018-08-27 14:48] iSazonov commented on #2145
I think we should close this and continue in #3855

/cc @SteveL-MSFT @mklement0

[2018-08-27 15:18] MaximoTrinidad commented on #7604
@luizgn,

Please clarify if this issues is due to using PSRemoting or just SSH. The issue is not clear.  Also, provide the exact steps to reproduce as the steps provided are not sufficient.

What happen before removing PSReadLine?

:)

[2018-08-27 16:09] strawgate opened #7637 "Missing v6.1.0-rc.1 Docker Images"
Steps to reproduce
------------------

Navigate to: https://hub.docker.com/r/microsoft/powershell/tags/

Expected behavior
-----------------

See tags for "6.1.0-rc.1-centos-7

Actual behavior
---------------

No 6.1.0-rc.1 tags for any OS

[2018-08-27 17:07] TravisEz13 commented on #1976
@SRGOM  @KexyBiscuit  the snap package is based on Ubuntu 16.04 (or 18.04 in the future.)  For non-LTS versions, this and the tar.gz is the only package we plan to supply.  For the latest stable release see https://snapcraft.io/powershell or for the latest preview release see https://snapcraft.io/powershell-preview

[2018-08-27 17:17] rathirad opened #7638 "The VSTS Deploy task Azure PowerShell and Build task - PowerShell are not able to handle secret variables and Azure key vault variables correctly while writing their values to console using write-host. This is causing the values of secret variables to the exposed in log files."
1. Issue:
The VSTS Deploy task Azure PowerShell and Build task - PowerShell are not able to handle secret variables and Azure key vault variables correctly while writing their values to console  using write-host. This is causing the values of secret variables to the exposed in log files.

2. Steps to reproduce
------------------
a. Sample script:
=======
param(
[Parameter(Mandatory=$true)]
[string

[2018-08-27 17:43] adityapatwardhan commented on #7637
@strawgate The images are hosted on mcr.microsoft.com. The README on dockerhub explains the `latest`, `preview` and stable releases. [README](https://hub.docker.com/r/microsoft/powershell/)

The way to pull the rc.1 version for centos-7 will be
[code]

/cc @TravisEz13

[2018-08-27 17:43] #7637 closed

[2018-08-27 17:45] iSazonov commented on #7638
@rathirad Please add version information $PSVersionTable.

[2018-08-27 17:56] mi-hol opened #7639 "response to prompts needs to be in UPPER case on Ubuntu 18.04"
## Expected Behavior
response to prompts can be any case because PowerShell is case-insensitive by design.
## Current Behavior
Only on Ubuntu 18.04 prompts (i.e. for install-module) are required to be in UpperCase.
Verification details provided by @edyoung are on https://github.com/PowerShell/PowerShellGet/issues/314

## Possible Solution
Allow lower case response

## Steps to Reproduce (for bugs)

[2018-08-27 18:02] kvprasoon opened #7640 "Get-HotFix doesn't take ComputerName via Pipeline"
Even though this cmdlet is not available in corecli now, observed a problem in it, `-ComputerName` parameter accepts value from pipeline by property name as per the definition, but there is no `ProcessRecord()` method, iterating through collection is handled via a `foreach` statement in `BeginProcessing()` method.

![image](https://user-images.githubusercontent.com/12897753/44676609-7235c700-aa51-

[2018-08-27 20:17] mklement0 commented on #5421
Great find, @vexx32 - that sounds like a great workaround.

A little more background info to flesh out your statement from a [linked answer](https://stackoverflow.com/a/23797762/45375)

For some reason, the code that performs that check not only looks at the HasExited property but also [verifies that the process handle is present in the process object and throws an exception if it is not](https://

[2018-08-27 20:28] lzybkr commented on #2015
This definitely wouldn't be a `PSReadLine` specific feature, but `PSReadLine` could participate. I'm imagining PowerShell would give each module an opportunity to persist some state which then gets restored on restart.

[Yori](https://github.com/malxau/yori) is an example of a shell that implements application restart, see [restart.c](https://github.com/malxau/yori/blob/c64034de5517d37df4682b3ba02

[2018-08-27 20:28] powercode commented on #7112
@iSazonov I'd say that there is something strange with your profiling session. You have a call to `MemberMatch.ctor`, but that is never invoked. I tried changing the definition to a static class, and it still compiled fine.

There doesn't seem to be a path from GeneratePSTypeNames to PSNoteProperty.Copy either, so I'm not sure how much I would trust that data.

When debugging, it is the same old `

[2018-08-27 21:34] powercode commented on #7112
@iSazonov, you must be running something else than me. Can you share your command?

[2018-08-27 21:41] #7572 closed

[2018-08-27 21:49] MaximoTrinidad commented on #7640
This is not a valid PowerShell Core cmdlet.  Please must file the Windows PowerShell issue in Uservoice at:
https://windowsserver.uservoice.com/forums/301869-powershell

:)

[2018-08-27 22:53] alexandair opened #7642 "[6.1.0-rc.1] pwsh-preview -? on Linux outputs parameters not valid for Linux"
`ExecutionPolicy` and `ConfigurationName` parameters are not valid on Linux.

[code]

[2018-08-27 23:29] alexandair opened #7643 "[6.1.0-rc.1] What does PSEdition in the output of Get-Module actually mean?"
I'm confused with the `PSEdition` column that we get in the output of the `Get-Module` cmdlet.
This is the output in the Cloud Shell, on a Linux box.
What does it mean that some modules have "Desk" and others "Core"?

[code]

[2018-08-28 02:21] Qjames opened #7644 "Sometimes the thread was getting stuck for EndInvoke"
Recently, I'm using runspacepool to do some work. But I met a problem that sometimes the runspace doesn't get invoked. But if I Ctrl+C to end the main process, the script in block will be invoked to execute. Can someone help me on this, why it get stucked sometimes? I'm running in windows server 2012. The foreach loop will be loop 68 times. My code is like below:

[code]

$PSVersionTable
Name

[2018-08-28 03:03] #4181 closed

[2018-08-28 03:09] rjmholt commented on #7643
Hi @alexandair, the `PSEdition` field declares what "Editions" of PowerShell a module is compatible with.

Since PowerShell 5.1, a module can declare what PowerShell editions it's compatible with, with those editions currently being "PowerShell Core" and "Windows PowerShell" -- basically this is a CoreCLR vs FullCLR differentiation. You can read more about that here: https://docs.microsoft.com/en-

[2018-08-28 03:09] #7643 closed

[2018-08-28 03:12] iSazonov commented on #2015
My comment was about "Might be as simple as capturing the buffer and sticking it back in without reloading any assemblies or state."
Save/restore state for AD or Azure module I believe is very problematic. In particular, we can save/restore a credentials to Windows but not yet on Unix-es.

[2018-08-28 03:42] iSazonov commented on #7112
@powercode I am using the test published above for Import-Csv (columns = 700, rows = 5000 - I start the test and stop trace recording after some seconds). PowerShell Core 6.1.0 RC1 with crossgen.exe coped into pshome directory.
Screenshort above is GC Heap Alloc Ignore Free.
Traces https://files.fm/u/b2pysja2
Perhaps I do something wrong :-(

[2018-08-28 04:01] rathirad commented on #7638
@iSazonov  - The $PSVersionTable.PSVersion  is 5.1.14393.2312

I have setup the build and release task setup at https://rathirad.visualstudio.com/HelloWorldPowershell/
Please let me know if you would like to have a look.

[2018-08-28 04:02] iSazonov commented on #7557
I believe your question is for PowerShell Committee too.
I think we should keep the same logic:
- if we have suffix then convert to the explicit type
- otherwise convert to type with minimal size. Although Powershell works by default with int, this default conversion can also be to int.

[2018-08-28 04:04] iSazonov commented on #7638
@rathirad The repo is only for PowerShell Core. Can you repo with latest builds of PowerShell Core?

I think it is better to move the issue to UserVoice.

[2018-08-28 04:18] lzybkr commented on #2015
I don't think many modules would opt-in, but I'm not a fan of pretending to restore minimal state in PSReadLine, I'd much rather it be a core PowerShell feature that PSReadLine extends.

And folks would definitely want expect some state restored, like environment variables, and global variables (probably with serialization, so they won't be live objects on restore, but might still be useful.)

[2018-08-28 04:30] iSazonov commented on #2015
Eh, I would be happy if AD module could restore the previous state, but I believe that most AD cmdlets/scripts will not work with objects restored using serialization. It seems the command history and the trace log are the best that we can get here.
Also as user I'd expect that PowerShell save/restore state for _all_ loaded in current session modules.

[2018-08-28 04:36] iSazonov commented on #7639
Can you repo on standalone Ubuntu 18.04?

[2018-08-28 04:38] iSazonov commented on #7644
@Qjames Do you use Windows PowerShell? Can you repo on latest build of PowerShell Core?

[2018-08-28 04:45] Qjames commented on #7644
@iSazonov Yes, I'm using Windows PS, and can be reproduced on both winserver 2012 and winserver 2016.

[2018-08-28 04:47] iSazonov commented on #7644
@Qjames The repo is only for PowerShell Core. Please move the Issue to UserVoice.

[2018-08-28 04:49] Qjames commented on #7644
@iSazonov do you mean close the issue and open in where?
Thanks.

[2018-08-28 04:49] iSazonov commented on #7640
@SteveL-MSFT Have we plans to port Get-HotFix cmdlet or enable it for Windows only?

[2018-08-28 04:52] iSazonov commented on #7644
Yes.

[2018-08-28 05:08] #7644 closed

[2018-08-28 05:38] lzybkr commented on #2015
And there lies the dilemma - if you restore some state but not what the user expects, are you providing value? Is it all or nothing, or is some in between valuable?

If restoring some but not all state is reasonable, then I'd start with what I suggested instead of just the screen and the maybe the current command line.

[2018-08-28 07:51] JokiesD opened #7645 "Winrm install .net 4.7.2 developer pack crash in windows server 2012 r2"
Steps to reproduce
------------------
![image](https://user-images.githubusercontent.com/42765350/44707946-7658f780-aad8-11e8-8563-3e777d937740.png)
Remote this dev pack return crash
https://www.microsoft.com/net/download/thank-you/net472-developer-pack
[code]
OS Version:Windows 2012 r2 datacenter
![image](https://user-images.githubusercontent.com/42765350/44708591-1f542200-aada-11e8-943e-353202f4

[2018-08-28 07:52] couragecc commented on #4952
Hi All,

Is this problem solved? I have the same problem:-(

[2018-08-28 08:36] alexandair commented on #7643
@rjmholt
Thank you for your detailed answer.
Here are a couple of things that I think are not right with how PSEdition property is used:

- If PSEdition property is not relevant on Linux, it shouldn't be exposed on Linux
- "Desk" value should be "Desktop"
- If the module is supported in both-Windows PowerShell and PowerShell Core-I would expect value to be "Desk, Core" (for example, AzurePSDrive i

[2018-08-28 08:50] rjmholt commented on #7643
On the second point, `Desk` is used rather than `Desktop` because the format column it needs to fit in is 9 characters wide. `Core,Desk` is 9 characters.

[2018-08-28 08:57] rjmholt commented on #7643
On point three, the current decision is to represent what is actually given in the module manifest rather than how PowerShell interprets it. We decided that `Get-Module` should be representing the manifest as faithfully as possible; rather than PowerShell trying to do magic and creating problems, the module owners just need to mark edition compatibility. `AzurePSDrive` [does not have a `Compatible

[2018-08-28 08:59] rjmholt commented on #7643
Modules are marked as Desktop-compatible-only by default because prior to PowerShell Core there was no marking. So we are forced to interpret no marking as "legacy", i.e. Desktop-compatible-only.

[2018-08-28 09:08] rjmholt commented on #7643
There are two things that you've raised that probably need refining as the edition-compatibility concept matures:
- Should `Get-Module` et al. give an unaltered representation of the module manifest, or show how PowerShell interprets it given the path the module is on and how it was loaded? The problem is that it's possible to force loading an incompatible module as if it's compatible, but then sh

[2018-08-28 11:47] SeeminglyScience commented on #7279
@SteveL-MSFT Any updates on this? I know it's not a quick question to answer, just making sure it doesn't fall through the cracks.

[2018-08-28 12:19] powercode opened #7647 "DateTime formatted differently in expanded strings than -f operator and default ToString"
For some reason, the formatting of date string uses a different culture in expanded strings.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-28 12:39] rathirad commented on #7638
@iSazonov -  Please note this is not a new feature request. Please advice as to why this bug need to be added to user voice.  If the special character cannot be handle currently, can you provide the list of special characters which we can use in PowerShell task in VSTS.

[2018-08-28 13:12] luizgn commented on #7604
Hi, I tested using ssh, putty and PSRemoting. Issues happens in all, so, I'm sure it is not a Win32-OpenSSH issue.

[2018-08-28 13:27] iSazonov commented on #7647
My understanding is that we want always to be culture-independent which improves the portability of scripts. Only I'm not sure that this is true for double quote strings.
Also it will be a breaking change.

Internally I think it is:
[code]

[2018-08-28 13:29] iSazonov commented on #7645
@JokiesD Thank you for the report!

The repo is only for PowerShell Core. Please move the issue to [UserVoice site](https://windowsserver.uservoice.com/forums/301869-powershell).

[2018-08-28 13:32] iSazonov commented on #7605
Feel free to reopen the issue if the answer is incomplete.

[2018-08-28 13:32] #7605 closed

[2018-08-28 13:32] #7395 closed

[2018-08-28 13:33] powercode commented on #7647
[code]

[2018-08-28 13:41] iSazonov commented on #4497
@DarwinJS What is a status of the Issue? Can we close it? We removed all external modules from PowerShell Core distributive.

[2018-08-28 13:44] iSazonov commented on #5696
@dantraMSFT Should we create a soft link on right libcrypto version in installer?

[2018-08-28 13:47] #7044 closed

[2018-08-28 13:49] iSazonov commented on #7054
The fix is in 6.1.0 RC1.

[2018-08-28 13:49] #7054 closed

[2018-08-28 13:50] #7068 closed

[2018-08-28 13:51] #7062 closed

[2018-08-28 13:52] #7488 closed

[2018-08-28 13:52] #7511 closed

[2018-08-28 13:53] #7573 closed

[2018-08-28 13:53] #7621 closed

[2018-08-28 13:54] #7629 closed

[2018-08-28 13:57] #7084 closed

[2018-08-28 14:30] dantraMSFT commented on #4952
@couragecc would you mind trying this out with the latest [RC Candidate](https://github.com/PowerShell/PowerShell/releases/tag/v6.1.0-rc.1) or the [6.04 release](https://github.com/PowerShell/PowerShell/releases/tag/v6.0.4)

Thanks.

[2018-08-28 14:32] dantraMSFT commented on #6173
@filiphhh Are you still hitting this problem with the 6.0.4 release?

[2018-08-28 15:59] iSazonov commented on #7573
@alexandair The problem is not rejected - it is tracked in #1998. The solution is already known too. The only thing left to do is implement it.

[2018-08-28 16:20] alexandair commented on #7573
Let me put it differently.

I don't really care if this issue is open or closed. But, I care that we have something  exposed in Linux that is just not valid in the currently available versions, both stable and preview.
If it's not relevant it **should be removed**.
When the time and resources allow, it can be implemented. Having an issue posted more than two years ago to track it doesn't improve t

[2018-08-28 16:33] mklement0 commented on #7634
Thanks for digging deeper, @iSazonov.

In the absence of said environment variables, the behavior is correct, but it is broken if these environment variables are present and specify UTF-8 - and these environment variables are virtually never absent, because they are part of the current locale (culture) setting, and these days they indeed typically specify UTF-8.

I've filed a CoreFx bug - see http

[2018-08-28 16:43] mklement0 commented on #7233
Thanks for the sleuthing, @iSazonov.

Yes, I think the fix is also appropriate for Windows 7:

While you're more likely to run into problems with standard console programs there that can even _break_ with UTF-8 input, I think it's more important for PowerShell Core to exhibit consistent encoding behavior and to support modern, cross-platform utilities that natively speak UTF-8 by default.

[2018-08-28 17:17] jazzdelightsme opened #7648 "Tab completion under /mnt/c stymied by hiberfil.sys"
Steps to reproduce
------------------
Running Ubuntu 16.04.4 LTS (via WSL):

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-08-28 18:01] BrucePay opened #7649 "Interfaces should be included in TypeNames for PSObjects"
Way back at the beginning of time, we (the PowerShell team)  decided not to include interfaces in the list of types reported in `TypeNames` for a `PSObject`. I don't remember why we did this and can think of no good reason not to include them now. There are significant benefits if we do include them as end-users will then be able to write Type/Format extensions against interfaces e.g. write a `Scr

[2018-08-28 18:03] #5517 closed

[2018-08-28 18:13] BrucePay opened #7651 "The code that creates delegates for scriptblocks can't handle certain return types."
In `ScriptBlock.InvokeAsDelegateHelper()` we pass the result of the execution through `GetRawResult()` which results in a scalar value if the return pipe contains one object. The type conversion on the return value can't deal with the scalar in some case resulting in a run time error. Making this work is important for methods like `[Linq.Enumerable]::SelectMany()` which takes a delegate `[System.F

[2018-08-28 18:15] BrucePay commented on #7640
I could actually see us trying to produce a cross-platform version of this cmdlet.

[2018-08-28 18:44] joeyaiello commented on #7639
Throwing it in 6.1.0, we should at least triage it and validate on non-WSL before we ship GA

[2018-08-28 18:56] BrucePay commented on #7635
If you look in [tokenizer.cs:2017](https://github.com/PowerShell/PowerShell/blob/358e8abefef5973b7e1f9608a38240846f620a59/src/System.Management.Automation/engine/parser/tokenizer.cs#L2017) you will see that '"' is processed explicitly to allow '|' and '&&' to be included in the args to `cmd.exe`.  So there is still some level of processing going on after `--%`. This is easy enough (but breaking)

[2018-08-28 18:58] BrucePay commented on #7635
I've marked it as Issue-Discussion. Technically it's working as by design. Whether we want to keep that design is an open question. Perhaps this is a candidate for an `Experimental` flag.

[2018-08-28 19:10] BrucePay commented on #7634
@mklement0 So this should be resolved as external correct?

[2018-08-28 19:54] TravisEz13 commented on #7637
@strawgate  I can delete the older tags from before we made the switch to `mcr.microsoft.com` (MCR) if that would make this clearer, but that would break anyone that hasn't updated.  I've been told that the Docker that MCR will eventually update either the tags page or the readme with a full list of tags available on MCR.

[2018-08-28 20:07] vancem commented on #7112
If you have symbols to system.management.Automation, setting up you symbol path (File -> Set Symbol Path) and source path (File -> Set Source Path), and then you can right click on a node name and select Goto Source, and PerfView will take you to the line (attributed with metric).    This allows you to see exactly what line is involved.

Note that inlining can often make it hard to follow  because

[2018-08-28 20:15] TravisEz13 opened #7652 "Review change per PR comment post merge"
See comment https://github.com/PowerShell/PowerShell/pull/7104#pullrequestreview-149959259

[2018-08-28 21:05] mklement0 commented on #7634
@BrucePay: Yes, indeed, thanks - should've made that clearer.

[2018-08-28 21:13] mklement0 commented on #7233
@iSazonov: Forgot to clarify: It is only the right fix for _Windows_ - on Unix-like platforms the CoreFx default should be used, as discussed in #7634 (even though there's CoreFx fix pending).

[2018-08-28 21:32] strawgate commented on #7637
I had not realized that the repository had changed to mcr.microsoft.com -- maybe adding something to the page indicating that it has changed would be useful.

It would seem as though anyone using microsoft/powershell:latest will apparently be pinned to 6.0.4 forever?

[2018-08-28 23:38] dantraMSFT commented on #3329
Additional followup:

I'm finding on CentOS 7.5, I need to install the following to enable NTLM:

epel-release
krb5-workstation
gssntlmssp (requires epel-release to be installed beforehand)

Note that NTLM_USER_FILE is not needed nor is krb5-devel.

[2018-08-28 23:54] deadlydog opened #7654 ""Using module" statement does not reload module after changes are made"
Problem Description
------------------
If you are using the `using module` statement, it will load the module without any issues. However, if you make a change to the module and run the `using module` statement again without restarting your PowerShell session, it will not load the new modified module into memory, and instead will continue to use the old existing module that was loaded. This makes

[2018-08-28 23:55] MaximoTrinidad commented on #7604
OK! So, this issue is really while doing remoting and not at each individual OS consoles.

Let me check it out now that I understand the environment and condition.

:)

[2018-08-29 00:03] mklement0 commented on #7233
@iSazonov: Forgot to clarify: It is only the right fix for _Windows_ - on Unix-like platforms the CoreFx default should be used, as discussed in #7634.

[2018-08-29 00:36] MaximoTrinidad commented on #7654
Please remember, this Github repository is only for PowerShell Core and not Windows PowerShell.  If you have a Window PowerShell, submit the issue at the Uservoice forum: https://windowsserver.uservoice.com/forums/301869-powershell

As stated in the PowerShell Core landing page in the section "Windows PowerShell vs PowerShell Core": https://github.com/PowerShell/PowerShell#windows-powershell-vs-po

[2018-08-29 01:18] deadlydog commented on #7654
Thanks @MaximoTrinidad I didn't realize that this repo was only for PowerShell Core. I've submitted [this issue in the Windows PowerShell UserVoice here](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/35237182--using-module-statement-does-not-reload-module-af).

I was able to reproduce the problem on PowerShell Core as well. Here's the version info for PowerShell Core:
[c

[2018-08-29 01:45] MaximoTrinidad commented on #7654
@deadlydog,

By the way!! Cool finding.

Yes!! I can reproduce the issue on PowerShell Core version 6.1.0-rc1.

[code]

[2018-08-29 02:50] couragecc commented on #4952
Here is current powershell version on my environment.

Ubuntu:
PS /opt/tivoli/tsm/client/ba/bin> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      6.1.0-preview.2
PSEdition                      Core
GitCommitId                    v6.1.0-preview.2
OS                             Linux 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18

[2018-08-29 03:02] couragecc commented on #4952
I try installing the latest version powershell core 6.04 on Ubuntu as your suggestion, but still get the same problem on Windows remote powershell.
PS C:\Users\Administrator.ICEBERG> $o = New-PSSessionOption -SkipCACheck -SkipRevocationCheck -SkipCNCheck
PS C:\Users\Administrator.ICEBERG> $session = New-PSSession  -ComputerName "192.168.137.89" -Credential $cred -Authentication basic  -SessionOpti

[2018-08-29 04:14] BrucePay commented on #7654
Since this is a dev-mode problem, I would suggest having a dev-mode flag for PowerShell such that modules are always reloaded when referenced. The problem with `-force` on `using` is that it's fragile. Miss one location and you can't figure out what's going on. Running in this mode is likely to be slow (or slower) but reloading is guaranteed. (Note: this is the solution that the DSC team settled o

[2018-08-29 05:09] iSazonov commented on #7573
@alexandair We all completely agree with this. Please move your comment in #1998 to increase a priority the issue.
Also you can discuss the Issue on next monthly community call. Over the past year, we have done a lot of code and docs cleanups. The discussion can help us to prioritize further work.