[2017-10-13 02:57] SteveL-MSFT opened #5104 "Investigate why InitialSessionState.CreateDefault2() is slower than CreateDefault()"
CreateDefault2() should only be loading the Core cmdlets module while CreateDefault() loads more, yet CreateDefault2() is 3-8 times slower.

[code]

[2017-10-13 03:14] DarwinJS commented on #3512
This manual step is not very workable.  I spent several hours trying to work around it.  Could it be avoided by having a separate package for Open SUSE?

Is the manual step required for every update as well?

I was able to work around it by downloading the RPM and then using rpm -ivh <package> --nodeps.

But is looks like a possible side effect of that is that NONE of the dependencies are installe

[2017-10-13 03:44] mklement0 commented on #3931
@rkeithhill:

I don't think there is such an option - arguments are strictly space-separated in the Unix world, and there is no concept of an array-valued argument in the shell.

You could use a `ValueFromRemainingArguments` parameter in your PowerShell scripts, but that limits you to 1 wildcard expression and notably precludes use of the parameter name in the invocation.

[2017-10-13 04:18] PetSerAl commented on #5093
As far as I understand, problem is because PowerShell can not convert string `$param` (and it is just string yet, since command only parsed, but not executed) to `CustomParameter`.
IMHO PowerShell should provide ability for cmdlets to distinguish the case when dynamic parameters extracted for intellisense only, and not all parameters have their read value.

[2017-10-13 04:28] iSazonov commented on #3684
@mklement0 Could you please open new Issue for ` -NoLast*`?

[2017-10-13 04:34] AntonPlotnikov commented on #5092
I think that it is not so complex. Just add selection of digest function (SHA-1, SHA-256, SHA-384, SHA-512 or SHA-3). All other CMS operations won't be changed

[2017-10-13 04:41] daxian-dbw commented on #3348
@PetSerAl Thanks for the analysis!
`ArgumentTypeConverterAttribute` uses `InvariantCulture` when calling [`LanguagePrimitives.ConvertTo`](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/ArgumentTypeConverterAttribute.cs#L142), while `ParameterBinderBase.CoerceTypeAsNeeded` uses `CurrentCulture` when calling [`LanguagePrimitives.ConvertTo`](https://githu

[2017-10-13 04:51] PetSerAl commented on #3348
@daxian-dbw

Should it be other way around? Since PowerShell explicit cast use `InvariantCulture`:
[code]
I would expect that implicit cast to parameter type should also use `InvariantCulture`.

[2017-10-13 04:59] PetSerAl commented on #5093
@xenalite You can use following code for test, but test in console, since it use `Console.WriteLine` for debug output:
[code]

[2017-10-13 05:21] iSazonov commented on #3994
What is right fix? Removing the public method should be approved by @powershell-committee.

[2017-10-13 05:26] daxian-dbw commented on #3348
@PetSerAl That's a good point. I will change `ParameterBinderBase.CoerceTypeAsNeeded` to use `InvariantCulture`.

[2017-10-13 05:43] iSazonov commented on #3348
It seems strange that PowerShell ignores Culture.

[2017-10-13 06:09] daxian-dbw commented on #3348
@iSazonov I guess it's for the scripts to be more portable. I added the breaking change label.

[2017-10-13 06:21] iSazonov commented on #3348
I think it is not documented. We need good description for this "portability" with InvariantCulture in argument convertion and parameter binding. Otherwise we'll have a big misunderstanding and many negative feedbacks.
Also we need @powershell-committee approvement for a breaking change.
Both my comment is for your PR.

[2017-10-13 07:05] #4980 closed

[2017-10-13 08:15] dennismi commented on #2934
I can confirm this. It is really annoying. And if you need to add more items to the destination, the copy item throws an error, unless you force it.

[2017-10-13 08:28] iSazonov commented on #5104
Formally 'CreateDefault2' is faster 'CreateDefault':
[code]

[2017-10-13 11:25] dee-see commented on #3994
I don't know how the committee works, but I can start by fixing the `Clone` method and then the committee can see if we remove it?

[2017-10-13 11:37] markekraus commented on #3129
@Francisco-Gamino I believe @SteveL-MSFT  is right and what you are experiencing is the double-hop issue. I'm going to close this issue but if you can provide a repro for this that demonstrates it is not related to double-hop we can re-open.

[2017-10-13 11:37] #3129 closed

[2017-10-13 11:46] markekraus commented on #3126
@chuanjiao10 It looks liek this is being worked on under #3267 I'm going to close this issue. If I'm mistaken and this is somehow separate, we can re-open.

[2017-10-13 11:46] #3126 closed

[2017-10-13 13:14] mklement0 opened #5107 "The -NoNewLine switch parameter of Out-File and Out-String should not strip embedded newlines from formatter-generated output"
<sup>Follow-up to #3684.</sup>

With _multiple_ input objects, the `-NoNewline` switch causes said cmdlets not to place a newline after each (output representation of) the input object - in other words: the input objects' (representations) are _directly concatenated_.

While the usefulness of this behavior is debatable, it should work consistently with respect to how newlines _embedded_ in input o

[2017-10-13 13:15] mklement0 opened #5108 "Add a -NoLastNewline switch parameter to Write-Host, Set-Content, Add-Content, Out-File, Out-String"
<sup>Follow-up to #3684.</sup>

With _multiple_ input objects, the `-NoNewline` switch causes said cmdlets to not only omit a _trailing_ (last) newline, but also not to place newlines _between_ the (output representations of) the input objects on output.

However, perhaps more typically, you want to only suppress a _trailing_ newline, so it would be handy to have a `-NoLastNewline` parameter (mutu

[2017-10-13 13:17] mklement0 commented on #3684
@iSazonov: Please see #5108 and #5107.

[2017-10-13 13:34] raghav710 commented on #3684
@SteveL-MSFT I'd be happy to :) I should first create an issue and then work on it right?

[2017-10-13 14:00] iSazonov commented on #5107
I assume that the original idea was to output the original formatted objects without modification and without a new line between its. The thought was probably about simple strings, not composite objects.
[code]

[2017-10-13 15:11] jherby2k commented on #4894
By a bug on your end, do you mean that this can be fixed in PowerShellStandard.Library and/or PowerShell Core 6 before RTM?

I'm wondering if i'll be able to ship my cmdlet library on Windows with .NET 4.7.1 and have it work with PowerShell 5.1, or if i'm going to need to ship .NET Core and PowerShell 6 with it as well. I was under the impression this would be more seamless...

[2017-10-13 15:29] probonopd commented on #5053
Just to verify the hypothesis, can someone who has this issue please run, inside PowerShell:

[code]

Can you confirm?

[2017-10-13 15:30] lzybkr commented on #5104
Just creating an `InitialSessionState` is not interesting.

Opening a runspace that uses it is more interesting, bug I get ambiguous results, possibly other factors like garbage collection interfere with definitive results.

But running a command in that runspace - that's a typical scenario, and in theory, in that scenario, `CreateDefault2` should do less work, so it should be measurably slower.

[2017-10-13 15:52] rkeithhill commented on #3931
So Bash users need to know to quote wildcard arguments.  Guess that's just the way it'll have to be.

Well that appears to be a new bug.  Has that been filed yet?  So how do I direct my script users to pass array args to my PowerShell script from Bash? Sigh...

[2017-10-13 16:08] markekraus commented on #5053
@probonopd unset doesn't seem to work,  (` The term 'unset' is not recognized as the name of a cmdlet`...) but using

[code]

successfully removes `LD_LIBRARY_PATH`. However, it has no effect on the commands. ☹️

[2017-10-13 16:44] probonopd commented on #5053
That is strage... are the commands still trying to load libraries from within the AppImage? (Why?)

[2017-10-13 16:56] markekraus commented on #5053
Hmm I take that back (helps if I run all the commands from the repro). After removing `LD_LIBRARY_PATH`, the native binaries (`curl` and `nslookup`) work, but `Invoke-WebRequest`, `Invoke-RestMethod` , and `System.Net.Http.HttpClient` all still fail. That's odd because `HttpClient` is basically a wrapper for `libcurl `.

[2017-10-13 17:27] probonopd commented on #5053
So PowerShell loads additional libraries with something loke `dlopen()` when certain commands are invoked? Do we know which ones, and when?

[2017-10-13 17:43] markekraus commented on #5053
Well, CoreFX does. `Invoke-WebRequest` is a wrapper for CoreFX's `System.Net.Http.HttpClient`. The PowerShell commandlets are not directly calling libcurl, but the underlying CoreFX is.

This is what the stack looks like when calling `Invoke-WebRequest http://httpbin.org/get/` inside the AppImage

[code]

[2017-10-13 17:58] pldmgg commented on #5053
I just found something interesting (result is the same running the AppImage with or without sudo):

    PS /home/pdadmin/Downloads> nslookup google.com
    /usr/bin/nslookup: /tmp/.mount_qo4lVC/usr/lib/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /usr/lib/x86_64-linux-gnu/libicui18n.so.57)
    /usr/bin/nslookup: /tmp/.mount_qo4lVC/usr/lib/libstdc++.so.6: version `CXXABI_1.3.8' not

[2017-10-13 18:06] #5090 closed

[2017-10-13 18:25] SteveL-MSFT commented on #3684
@raghav710 for the doc update, you don't need to create an issue, you can just submit PR to https://github.com/PowerShell/PowerShell-Docs/blob/staging/reference/6/Microsoft.PowerShell.Utility/Out-String.md

[2017-10-13 18:26] probonopd commented on #5053
Not familiar with the inner workings of PowerShell, but could it be that invoking `sudo nslookup google.com` from within NS runs `nslookup` without the environment variables that were exported by the script in the AppImage that launches PowerShell?

[2017-10-13 18:27] SteveL-MSFT commented on #3994
@dee-see fixing Clone() doesn't require committee approval.  Removing Clone() would, but as @iSazonov pointed out, it appears to be in use so we should fix it rather than remove

[2017-10-13 18:31] markekraus commented on #5053
@probonopd That's exactly why sudo works. `sudo strace -v nslookup google.com` is lacking `LD_LIBRARY_PATH` environment variabe, but `strace -v nslookup google.com`  it is present.

[2017-10-13 18:35] probonopd commented on #5053
Is there a way to launch PowerShell with a script that runs initially after PowerScript being launched? And is there a way in PowerShell to unset an environment variable for everything that gets launched from within PowerShell?

If not, then we need to do either of the solutions from https://github.com/PowerShell/PowerShell/issues/5053#issuecomment-335271038 but I currently don't have the time to

[2017-10-13 18:41] SteveL-MSFT opened #5110 "port Get-PSHostProcessInfo and Enter-PSHostProcess cmdlets to non-Windows"
These cmdlets currently depend on named pipes on Windows.  We need to support these on non-Windows.

[2017-10-13 18:51] markekraus commented on #5053
@probonopd There are 2 seperate problems here.

1. The `LD_LIBRARY_PATH` causing native binaries to use the AppImage `libstdc++.so.`.
2. Even with `LD_LIBRARY_PATH` out of the picture, `Invoke-WebRequest` and `Invoke-RestMethod` are still unable to resolve hostnames.

I'm guessing 1 is somewhat easy to deal with by having AppImage not set ``LD_LIBRARY_PATH` or remove ``LD_LIBRARY_PATH`. I have no

[2017-10-13 18:54] #5027 closed

[2017-10-13 19:07] rkeithhill commented on #4894
Good news.  I just tried this experiment on the Windows 10 FCU 16299.15 build which I think has 4.7.1 on it.  The Release reg val is 461308 which is higher than the one for 4.7.  Anyway, the above scenario works without having to run `Add-Type -Path <path>\netstandard.dll`.

I'll be submitting a PR tonight for a doc page on a command-line version of creating a simple, portable binary module.  Of c

[2017-10-13 19:09] pldmgg commented on #5053
Cool, I'm with you guys now on the LD_LIBRARY_PATH issue:

PS /home/pdadmin/Downloads> $env:LD_LIBRARY_PATH = $null
    PS /home/pdadmin/Downloads> nslookup google.com
    Server:         192.168.2.18
    Address:        192.168.2.18#53

    Non-authoritative answer:
    Name:   google.com
    Address: 172.217.8.14

So, the environment variable is being set by /tmp/.mount_qo4lVC/AppRun -

    #!/b

[2017-10-13 19:17] markekraus commented on #5053
@pldmgg it's not so much `libstdc++.so.6` as it is the included `libstdc++.so.6`'s dependency on `CXXABI_1.3.8` which is not included in the AppImage. The missing lib is what causes the native binaries to fail.

Completely different issue with `irm` and `iwr`.

[2017-10-13 19:29] regs01 opened #5111 "Keep PowerShell settings (theme, colors, fonts, sizes etc) on Windows upgrade"
With every Windows update all PS settings gets reset to blue background, little font and window. Can those settings be preserved?

[2017-10-13 19:42] pldmgg commented on #5053
@markekraus Roger that on the `CXXABI_1.3.8` not being in the AppImage...So I guess the natural question does anything inherently PowerShell-related need that environment variable? Is it just there to attempt to replicate how the user has things set in bash? If the latter, maybe we should just have the AppRun bash script pull in environment variables from the user's bash environment

For `irm` and

[2017-10-13 19:42] markekraus opened #5112 "Web Cmdlets should warn when legacy -Credential is sent over unencrypted connections"
# Problem

In #5052 we are introducing the new `-Authentication` parameter which include a terminating error when any scheme other than `https://` is provided in the URI. The legacy `-Credential` usage currently does not offer any warnings or errors when the secrets are sent over an unencrypted connection.

This issue is to track and discuss which method to go with.

# Possible Solutions

## Add a

[2017-10-13 20:04] markekraus commented on #5111
You could add code to your `$profile` to set most of these:

[code]

[2017-10-13 20:13] SteveL-MSFT commented on #5111
For Windows PowerShell, those settings aren't set to be preserved and no plans to change.  For PSCore6, I would expect the shortcut settings to be preserved since it's not part of Windows.  As @markekraus provided, a better option might be to set it in your profile.  Something I've seen people do is have a line in their profile which actually points to a profile stored in the cloud (OneDrive, Azur

[2017-10-13 20:13] #5111 closed

[2017-10-13 20:21] markekraus commented on #5053
@pldmgg heh.. it's hard to say.. an astonishing amount of tests already fail in the AppImage., but I'm guessing `Start-PSPester` was never really designed to work with it. But, you could run the tests, record the pass/fail/skip/pending numbers, close out and reopen appiage, remove the env var and then run the tests again and see if they improve or get worse.

yea... pretty much. that and the libcu

[2017-10-13 20:24] dragonwolf83 commented on #5112
The wording of `-AllowUnencryptedAuthentication` doesn't make sense for Warning. By issuing a warning, you are by default allowing unencrypted. I propose an `-IgnoreUnencryptedWarning` should be used if Warning is chosen. The Error proposal should continue with `-AllowUnencryptedAuthentication`.

[2017-10-13 20:29] markekraus commented on #5112
`-AllowUnencryptedAuthentication` is not the warning. That is the parameter switch.

And, I disagree with `-IgnoreUnencryptedWarning`. `-AllowUnencryptedAuthentication` will already be present and there is no need to add a second parameter to do the same thing. There were already many discussions and back and forth on `-AllowUnencryptedAuthentication` and I think that debate does not need to be re

[2017-10-13 20:51] dragonwolf83 commented on #5112
`-AllowUnencryptedAuthentication` is a parameter switch to do what exactly? I thought it was a new parameter that was pulled out from previous PR specifically for this discussion of whether a Warning or Error should happen if no parameter is specified.

What I'm suggesting is that for Warning Proposal, it is very confusing and doesn't make any sense. If I run `Invoke-WebRequest -Credential` and it

[2017-10-13 21:13] daxian-dbw commented on #3512
Starting from the next release, we will publish `.tar.gz` packages for Linux/macOS, so the installation on OpenSUSE can be done using that tarball package. Here is an example of doing it: https://github.com/PowerShell/PowerShell/blob/master/docker/release/opensuse42.2/Dockerfile

You can play with it using the tarball package I uploaded at https://github.com/daxian-dbw/PowerShell/releases/download

[2017-10-13 21:15] rkeithhill commented on #4809
FYI, I'm going to create a PR probably later tonight that does a similar walk-through using the dotnet CLI from the WSL console.   The doc is done except that I was waiting on a determination of whether or not .NET 4.7.1 fixes the issue with loading a .NET Standard 2.0 based binary module into Windows PowerShell.  AFAICT it does!!  Just tried it this morning on Windows 10 FCU (16299.15) which seem

[2017-10-13 21:15] markekraus commented on #5112
And what I'm saying is there is no point in having yet another parameter that does the same thing. If `-AllowUnencryptedAuthentication` didn't already exist, then yea, maybe something else. But there is no point in 2 doing the same thing. seeing both `-IgnoreUnencryptedWarning` and `-AllowUnencryptedAuthentication` would be awkward.

The warning would be temporary. The end game is removing the leg

[2017-10-13 21:20] markekraus commented on #5112
The new `-Authentication` parameter options give a terminating error for non-https and can only by suppressed with `-AllowUnencryptedAuthentication`.

[2017-10-13 21:26] DarwinJS commented on #3512
@daxian-dbw - Ok I will adapt these lines in the open suse installer: https://github.com/PowerShell/PowerShell/blob/master/tools/installpsh-suse.sh#L142-L158

Is Suse the only one affected by the inability to use a package manager to create a fully automated install?

[2017-10-13 21:33] markekraus commented on #5053
@pldmgg I don't see any difference in test results without the environment variable set so it's possible removing it will have no affect on PowerShell.

[2017-10-13 21:34] daxian-dbw commented on #3512
As far as I know, the Amazon Linux is also affected. You can find the updated dockerfile for Amazon Linux here: https://github.com/PowerShell/PowerShell/blob/master/docker/community/amazonlinux/Dockerfile

It's moved to the community folder as the Amazon Linux image is not officially supported.

[2017-10-13 21:37] dragonwolf83 commented on #5112
I think you are separating out logic that shouldn't be separated. `-Credential` and `-Authentication` behavior should match when sent over unencrypted. I think that is where my confusion is coming in. Having one error by default and the other give a warning would be inconsistent. So either both error, both warn, or both ask confirmation. Maybe that is what your 3rd proposal about `-Credential` is

[2017-10-13 22:03] markekraus commented on #5112
That's to avoid a breaking change now. Ultimately, there will be a breaking change. But, we can go this route with a warning temporarily an avoid breaking it until we have to.

That's exactly it. Basically, `-Credential` has 2 uses now. The legacy use where it is just `-Credential` and the new use where it is `-Authentication Basic -Credential`. The legacy use only sends the `Authorization` header

[2017-10-13 22:17] dee-see commented on #3994
Ok will do

Le 13 oct. 2017 14:28, "Steve Lee" <notifications@github.com> a écrit :

[2017-10-13 22:19] mklement0 commented on #5107
@iSazonov:

The output of `Get-Date` is not a simple string, it's a formatter-generated multi-line string that happens to have only _one_ data line, surrounded by empty lines.
Have only one data line is rare, however - most formatted output has multiple non-empty lines that make no sense when run together.

Note that the only reason to use `Out-String` /  `Out-File` at all is the express desire to

[2017-10-13 22:30] mklement0 commented on #3931
@rkeithhill:

I agree that passing arrays from the outside would be nice, but has that really ever worked?

I discovered the issue a while ago and assumed it was a by-design limitation of the CLI's argument parsing, similar to how all arguments are interpreted as literal strings.

[2017-10-13 23:10] rkeithhill commented on #3931
Well, it is something that `PowerShell` users are used to e.g.:
[code]

The question is what do Bash users expect?  Presumably us PowerShell users will be using PowerShell.  However, we will tell our Bash buddies how to run our PowerShell scripts and we're going to have to know that the array literal syntax were used to in PowerShell isn't going to work in Bash.

[2017-10-14 01:10] daxian-dbw commented on #4359
Close via #4360

[2017-10-14 01:10] #4359 closed

[2017-10-14 01:16] daxian-dbw commented on #3318
Related to #5027.
We won't officially support Amazon Linux as it's not officially supported by .NET Core. But we will publish `tar.gz` packages for Linux/macOS starting from the next release (beta.9) that you can deploy on Amazon Linux. We updated the dockerfile for Amazon Linux and moved it to the community folder at [here](https://github.com/PowerShell/PowerShell/blob/master/docker/community/ama

[2017-10-14 01:18] daxian-dbw commented on #5023
A related issue: #5023

[2017-10-14 01:31] rkeithhill commented on #4894
@terrajobst re:

Do you have a link to a resource that describes this process in depth?

[2017-10-14 03:52] SteveL-MSFT commented on #4172
I see the code in `Out-File` which computes the console width, but I'm not able to repro this.  In fact, the `-width` parameter doesn't even get honored.

[code]

Not even able to repro with Windows PS 5.1

[2017-10-14 05:29] latkin opened #5115 "StackOverflowException when running large function on Mac"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Function returns a string

[code]

Actual behavior
---------------
On Windows (both Windows PowerShell and PowerShell Core), it works fine.

On Mac, PowerShell process crashes with stack overflow
[code]

I understand this function is extremely large, but it would be nice to know
  - Is there a simple way to refacto

[2017-10-14 05:49] SteveL-MSFT commented on #5115
Doesn't repro on Ubuntu

[2017-10-14 05:58] SteveL-MSFT commented on #2190
We need to relnote that on Unix systems, you have to `sudo powershell` to run `Update-Help`

[2017-10-14 06:26] SteveL-MSFT commented on #5115
Here's a workaround as the depth of `ifelse` is too many:

[code]

Run as:

[code]

[2017-10-14 06:27] SteveL-MSFT commented on #5115
I would suggest opening an issue at https://github.com/dotnet/coreclr/issues

[2017-10-14 06:27] #5115 closed

[2017-10-14 06:36] rkeithhill commented on #4894
OK, got the PR submitted for creating a simple, portable binary module using the dotnet CLI - #5117

[2017-10-14 14:09] mklement0 commented on #3931
They expect to pass a list (array) - whose semantics are known to the target utility only - as either a single whitespace-less argument - e.g., to pass column names `pid` and `comm` to utility `ps` via its `-o` option:
`ps -o pid,comm`
or as a quoted argument, if the value contains whitespace or other shell metacharacters - e.g.,
 `ps -o 'pid, comm'`

To Bash it is just a single argument in either

[2017-10-14 15:07] fullenw1 opened #5119 "Feature request: cmdlet to manage Local Policies"
Currently we have to tinker with Secedit or by chance some settings can be managed with registry entries.
A cmdlet like Set-ADDefaultDomainPasswordPolicy but for local policies would be very handy, especially when we have to configure a bunch of standalone servers.

[2017-10-14 15:56] iSazonov commented on #4172
@SteveL-MSFT I believe Out-File don't send simple objects to formatting system before output. If you replace string variable in your test with a hash or array you'll get repo.

[2017-10-14 16:07] SteveL-MSFT commented on #4172
@iSazonov but the original repro was a native command outputting to stdout

[2017-10-14 16:19] raghav710 commented on #4126
@iSazonov is this already being implemented or can I give it a try?

[2017-10-14 16:20] iSazonov commented on #5107
If it make no sense nobody use it :-) As for me the Issue looks like a side affectt hat no one can see because it doesn't use.

[2017-10-14 16:38] iSazonov commented on #4172
I wonder. Maybe Out-File detect a file provider in input strings?

[2017-10-14 16:42] iSazonov commented on #4126
@raghav710 Feel free to grab!

[2017-10-14 17:51] SteveL-MSFT commented on #4172
I tried using the native `echo` on Linux as well as `testexe -echoargs` to get long output, but nothing gets truncated.

Objects being truncated during formatting is currently expected (although I'm open to consider changing it...) and `-width` does work in that case.

[2017-10-14 17:52] kittholland commented on #1755
One other issue related to this is Invoke-Restmethod will silently fail and return null for valid json that is not PSCustomObject compatible.

This can be caused by NULL keys or case sensitive keys.

[2017-10-14 17:58] SteveL-MSFT commented on #4172
Downloaded rclone and was able to repro it

[2017-10-14 18:11] SteveL-MSFT commented on #4172
The easy fix is to not truncate in all cases.  I'm not convinced that having the text log have the same width as the console used during runtime is useful.  The console I'm using to generate the log is probably not the same console I used to read the log.

[2017-10-14 18:24] markekraus commented on #4172
would that also apply to collections of complex objects with lengthy string members? If so, how would that work or look like? I know I'm in the minority opinion on the usefulness of the console width in `Out-File`, but I think completely removing truncating may have some undesirable side effects too.

[2017-10-14 18:32] SteveL-MSFT commented on #4172
@markekraus I would prefer to add a `-TruncateToConsoleWidth` type switch if needed, but I don't think even that is needed.  For objects with lengthy string members that's only a problem if you view the log in the console, in that case, I'd rather have a switch to `Get-Content` to truncate.

[2017-10-14 18:37] SteveL-MSFT commented on #1755
@kittholland are you still working on this or should I take it?

[2017-10-14 18:59] markekraus commented on #4172
@SteveL-MSFT I'm just curious what this would look like?

[code]

Currently that is a truncated single column, which i agree isn't great. But, how would not truncating this work? Would it be coerced to a list? What id the user wants to retain columns? if so based on what logic? or would it be in un-truncated columns? and if so, how would column width work? would it really need to calculate the max

[2017-10-14 19:25] kittholland commented on #1755
@SteveL-MSFT I think I'm out of my depth on a solution for this. Thanks to whoever takes it from here.

[2017-10-14 19:28] CarltonSemple opened #5120 "Feature Request: Cross session command history"
Apparently there are community-provided solutions for this, but it would be nice to have a built-in solution for saving command history across sessions, similar to Bash.

@jpsnover https://twitter.com/jsnover/status/919145208255799296

[2017-10-14 20:01] iSazonov commented on #4172
So it is dup 3813 and 1491.
Please see @lzybkr comments in https://github.com/PowerShell/PowerShell/pull/4006 about a fix direction.

[2017-10-14 21:40] markekraus commented on #2112
OK, I have been mentally planning this one for the past month and I finally have working code

https://github.com/PowerShell/PowerShell/compare/master...markekraus:MultiPartSimplification

I'm looking for feedback from anyone in this thread.

I added 2 paramters `-AsMultipart` and `-MultipartFileFieldName`. When submitting a file via multipart a fieldname is required. The logic has been reworked t

[2017-10-14 22:15] rkeithhill commented on #4894
FYI, this scenario appears to work in my limited testing.  Plus that is one of the issues 4.7.1 was designed to rectify.

[2017-10-14 22:22] SteveL-MSFT commented on #2112
Should we adopt a similar syntax to curl?

[code]

[2017-10-14 22:39] PetSerAl opened #5122 "Write-Output -NoEnumerate wrap singular items into PSObject[]"
As far as I understand, issue caused by #2038.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-14 23:34] markekraus commented on #2112
@SteveL-MSFT I thought about that, but I have run into APIs that are picky about the Content-Type used for the file uploads, particularly those that are expecting images. I guess in those cases use could still create their own `MultipartFormDataContent` and supply it to `-Body`. Then there is the question of how to escape `@` in something like this `irm -Form @{TwitterUsername="@markekraus"}`.  an

[2017-10-15 00:03] SteveL-MSFT commented on #2112
@markekraus I think we should optimize for general usage (80/20 rule).  I like using `@` as it's familiar to curl users and examples, but I'm slightly concerned about setting a precedent within PowerShell.  I think escaping `@` would just follow normal PowerShell rules: ``irm -form @{twitterusername="`@steve_msft"}``

[2017-10-15 00:21] markekraus commented on #2112
Wouldn't that just arrive at the cmdlets as `@steve_msft` and then the cmdlet would try to process the `steve_msft` file? `@` has always been problematic in strings because it such a commonly used internet character. It was always painful in curl if you needed an `@` prepended string. In any case, there would need to be string parsing of some kind added.

I too worry about that precedent.

For gen

[2017-10-15 01:03] SteveL-MSFT commented on #1491
Dupe of https://github.com/PowerShell/PowerShell/issues/3813

I know this is older, but that one has more info.

[2017-10-15 01:03] #1491 closed

[2017-10-15 01:03] SteveL-MSFT commented on #4172
Resolving as dupe of https://github.com/PowerShell/PowerShell/issues/3813, let's carry on with that one.

[2017-10-15 02:59] SteveL-MSFT commented on #2112
@markekraus you're right, the cmdlet wouldn't know the difference.  If most usage is for upload, then I would be fine with what you're proposing except that `-method POST` should be implied.

[2017-10-15 04:53] Jaykul commented on #2112
I don't think you're going to get a ton of complaints about how you do it, as long as you don't break existing scenarios. People can put up with a little awkwardness, as long as it's documented with examples, and it works.

Having said that, I was going to say that since PowerShell is OO, it seems to me that we don't need special markers to tell filenames from strings, because we have objects -- i

[2017-10-15 07:17] mariuspana commented on #4592
Hi, same issue on a macOS 10.13 with fresh install.  Is [openwsman](https://openwsman.github.io) a supported transport?

[2017-10-15 07:37] iSazonov commented on #2112
We would add an accelerator [File]

[2017-10-15 07:51] raghav710 commented on #3684
@mklement0 @SteveL-MSFT @iSazonov I've added the docs and raised a PR [here](https://github.com/PowerShell/PowerShell-Docs/pull/1764). Please let me know if I need to add more clarity anywhere

[2017-10-15 09:55] markekraus commented on #2112
@SteveL-MSFT I agree on the Implicit POST. I don't think `multipart/form-data` is ever used with any other verb and if it is. It could be Implicit based on `-AsMutlipart`.

@Jaykul That thought occurred to me after I signed off for the night. I'm OK with that. The other thing I thought of is that Having `-Form` in addition to `-InFile` and `-Body` might be a bit confusing, but, there really is no

[2017-10-15 14:12] IISResetMe commented on #4287
WorkingDirectory is a property specific to a *process* - and the fact that `Start-Job` spins up an out-of-process runspace seems to me an implementation detail, not something you would necessarily want to bring up to the level of abstraction that a `Job` provides.

Seems like the kind of thing you would want to include in the initialization script, so I'd recommend just fixing #4530 so you can do:

[2017-10-15 14:36] mklement0 commented on #4287
I consider `-InitializationScript {Set-Location $using:PWD}` awkward too.

Having a `-WorkingDirectory` is a matter of _convenience_ first and foremost, and it also provides symmetry with `Start-Process`.

You're running a script block / script _somewhere_, and it's helpful to have a simple way to control that somewhere.

This is especially true with the current behavior, where you - invisibly - r

[2017-10-15 15:18] markekraus commented on #5122
I'm not really sure if that change was by design or a bug. I would seem intuitive to me that `-NoE

[2017-10-15 15:28] markekraus commented on #5112
Digging into this a bit, removing the legacy usage isn't as simple and I thought. HttpClient apparently does some magic authentication for Basic, NTLM, and Digest using these credentials and it handles some automated detection and resolution, something I'd rather not bring into the web cmdlets. Might be able to get as way with a `-Authentication BuiltIn` or something like that.

[2017-10-15 16:51] mklement0 commented on #5107
(Incidentally, I had the actual vs. expected behavior accidentally swapped in the original post - fixed.)

I agree that this very little utility in `-NoNewline` for both `Out-File` and `Out-String`:

As stated, `Out-*` is only needed if you _do_ want the formatter involved, and that's precisely the behavior that is useless with `-NoNewline`.

In hindsight, it makes me wonder whether there was ever

[2017-10-15 16:51] #5107 closed

[2017-10-15 17:01] mklement0 commented on #5107
(Incidentally, I had the actual vs. expected behavior accidentally swapped in the original post - fixed.)

[2017-10-15 19:10] daxian-dbw opened #5128 "Some tests are culture-sensitive and should be updated to not depend on current culture"
Some tests are culture-sensitive and hence will fail when the current culture is changed. You can get a list of culture-sensitive tests from the following failed CI test runs:

AppVeypor: https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.8-6020
Travis CI: https://travis-ci.org/PowerShell/PowerShell/jobs/287410680

The current culture was set to 'ru-RU' in those two CI test run

[2017-10-15 21:03] daxian-dbw commented on #4924
I think this issue has been resolved by #4957

[2017-10-15 21:03] #4924 closed

[2017-10-16 08:54] andrew951 opened #5130 "Cannot Connect to Office 365 with Powershell from non-Windows"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-16 09:15] andrew951 commented on #5130
I tested on both Ubuntu and Mac OS X. This stopped working after Beta 6 was released. It is working in Beta 5.

[2017-10-16 09:24] markekraus opened #5131 "-NoTypeInformation should be default on Export-Csv"
In most situations, the default behavior of `Export-Csv` is undesirable. Its usage as an object Import and Export is limited to begin with. What it is more commonly used for (in my experience, anyway) is to produce CSV files either to be  parsed by other automated processes outside the PowerShell ecosystem or to be used in Excel as human parsable reports. The initial line with the type information

[2017-10-16 10:38] iSazonov commented on #5131
Do anybody use the type information?

[2017-10-16 10:50] ww40 commented on #5131
I can't say I've had a use for the type information in my outputs when I use `Export-Csv`

[2017-10-16 11:17] markekraus commented on #5131
@iSazonov I have only ever used it for academic purposes, just to see what it does. It doesn't even re-serialize objects upon import, even simple objects like a hashtable.

Maybe it's useful to know what the object was before it was exported? But I've never personally seen it used in that manner. Usually when a user wants to export and import objects and attempt to preserve type data they will use

[2017-10-16 11:54] Jawz84 commented on #5131
Agree fully with @markekraus here. Having -NoTypeinformation as default would be a good breaking change. ++ For -WithTypeInformation

[2017-10-16 12:05] iSazonov commented on #5131
I believe the design was with PSObject type in mind to export/import. For other types it seems there's no point in doing that.

[2017-10-16 12:13] markekraus commented on #5131
@iSazonov maybe, but it doesn't even preserve custom PSTypeNames:

[code]

[code]

It already pulls in as a PSCustomObject:

[code]

[code]

so I'm still left wondering what the use-case is.

[2017-10-16 12:20] iSazonov commented on #5131
@markekraus By the way, it might make sense to fix.

[2017-10-16 12:23] markekraus commented on #5131
@iSazonov Fix in which way?

[2017-10-16 12:33] iSazonov commented on #5131
To recover correct object types in your type.

[2017-10-16 12:38] markekraus commented on #5131
@iSazonov agreed, it might be worth making that breaking change in addition to switching the default behavior.

[2017-10-16 12:48] iSazonov commented on #5131
I think it's an independent case.

[2017-10-16 12:55] markekraus commented on #5131
@iSazonov agreed. I meant that it should be tracked as a separate issue but was worth also doing, IMO.

[2017-10-16 13:02] iSazonov commented on #4765
@SteveL-MSFT We need re-approve by PowerShell-Committee.

[2017-10-16 14:03] MaximoTrinidad commented on #5130
@andrew951,

FYI - Variable error $cred <> $credential.

Works in Ubuntu for me.

[code]

[2017-10-16 14:33] artvandelay440 commented on #5131
Agreed. If wanted, I'd suggest a -IncludeTypeInformation switch.

[2017-10-16 14:36] andrew951 commented on #5130
@MaximoTrinidad my apologies. That was a typo. Issue still persists though. Your pwd is showing a C drive though?

[2017-10-16 15:18] markekraus commented on #5131
@artvandelay440 agreed. That is a better switch name and matches other switch parameters.

[2017-10-16 15:23] Jawz84 commented on #5131
@artvandelay440 I think that is a better switch name. Good suggestion.

[2017-10-16 17:06] #1696 closed

[2017-10-16 17:51] megamorf commented on #5131
+1

It's always been annoyance. Whenever you wanted to post-process a csv Export and forgot to disable the type information you were forced to export it again or manually edit the file, urgh.

[2017-10-16 18:00] annamdove commented on #5131
Definitely needs to be removed as the default behavior. I know to add -NoTypeInformation, and it is frustrating every time I forget.

[2017-10-16 18:06] AmDove commented on #5130
How about using the proxy method?
`-ConnectionURI `https://outlook.office365.com/powershell-liveid/?proxymethod=rps`

[2017-10-16 18:06] SteveL-MSFT commented on #1755
Forgot about the discussion in https://github.com/PowerShell/PowerShell/pull/2820.  Introducing a json specific type isn't happening in 6.0.0 timeframe.

[2017-10-16 18:11] andrew951 commented on #5130
@AmDove
[code]
Tested on a fresh install of Ubuntu 16.04.3 LTS

[2017-10-16 18:34] AmazingWizard commented on #5131
This trips me up all the time. I would like to put my hat in the ring for `-notypeinformation` being default

[2017-10-16 18:48] MaximoTrinidad commented on #5130
@andrew951,

My Bad!!  I've been working in multiple environments. You 're right!
Ubuntu 16.04.3 fail!

Apologies!

[2017-10-16 18:50] TravisEz13 commented on #5074
I think one package is okay.  We can see what feedback we get and see if we need to seperate them.

[2017-10-16 19:59] markekraus opened #5134 "Import-Csv Should apply PSTypeNames uppon import when Type Information is present in the CSV"
The seemingly only useful way to use the Type Information currently added by default during `Export-Csv` would be to reapply the PSTypeNames to the PSCustomObjects. Currently, These Type names are currently prepended with `CSV:`. This means that exporting a simple PSObject to CSV and then re-importing would require 2 format definitions or add/set the PSTypeNames for the imported objects.

Steps to

[2017-10-16 19:59] markekraus commented on #5131
@iSazonov #5134 for the import and PSTypeName issue

[2017-10-16 20:10] murrahjm commented on #5131
I am 100% behind this change. Simpler is better.

[2017-10-16 20:15] smooochy commented on #5131
+1

Maybe just extend the functionality of -Verbose to include the type information instead of adding a separate -IncludeTypeInformation switch? Just a thought.

[2017-10-16 20:19] TravisEz13 commented on #5103
Marked as high priority, this probably should be fixed for the release.

[2017-10-16 20:29] markekraus commented on #5131
@smooochy `-Verbose` is usually intended for verbose console output. I think using it to add the type information to the output file would be a bit anti-pattern.

[2017-10-16 21:09] Alcon835 commented on #5131
+1

[2017-10-16 21:37] daxian-dbw opened #5135 "Remove 'oldPowershellExeName' from 'RemoveSxSPsHomeModulePath' before RC/GA"
Since we rename `powershell` to `pwsh`, the variables `oldPowershellExeName` and the use of it should be removed from [`RemoveSxSPsHomeModulePath`](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Modules/ModuleIntrinsics.cs#L768) before RC/GA.

It's kept for now because for now people will try opening `pwsh` from existing powershell core.

[2017-10-16 21:39] 91jme commented on #5131
+1

This extra information shouldn't be part of the default output. Agreed on adding switch to include it if needed.

[2017-10-16 22:00] markekraus commented on #5131
I have some demo code available if anyone wants to see the changes:

https://github.com/PowerShell/PowerShell/compare/master...markekraus:ExportCsvNoTypeInformation

Note: this also affects `ConvertTo-Csv` but I can't see the original default behavior being any more useful in that command either. If it is, it can easily be adjusted.

[2017-10-16 22:28] rkeithhill commented on #2112
`System.IO.FileSystemInfo` is the common base class for both `DirectoryInfo` and `FileInfo`.   If this feature only handles a single file then `FileInfo` would make more sense.

[2017-10-16 22:32] markekraus commented on #2112
I had this thought this morning, what about also supporting streams? Stream support isn't widely used in PowerShell, but, I think it's been a missed opportunity. In PHP streams were very common for generating things on the fly like images (granted I haven't touched PHP in a really long time).

[2017-10-16 23:10] anthonypants opened #5136 "Get-Help -Online redirects to 404 page"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

A browser opens, at the page `https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/providers/filesystem-provider/get-childitem-for-filesystem?view=powershell-5.1`

Actual behavior
---------------

A browser opens, at the page `http://technet.microsoft.com/library/hh847897(v=wps.630).aspx`, w

[2017-10-17 00:57] SteveL-MSFT commented on #4765
@iSazonov I don't think the small change in behavior necessitates a committee review as the main aspect that committee approved is having a breaking change.  I think the code review feedback is sufficient on the changed design as long as it's documented appropriately.

[2017-10-17 00:59] SteveL-MSFT commented on #2112
@markekraus I think streams would be additive and could be done separately from this one?

[2017-10-17 01:05] jongross4 commented on #5131
+1

Suggest adding the includetypeinfo switch.  Ignore existing notypeinfo switches.

[2017-10-17 02:59] thannett commented on #5131
I'd love to see this changed.  Is there any use case for having the type information?  I've never used it personally.

[2017-10-17 03:25] iSazonov commented on #5131
Wow, 137 votes - Flash mob?
/cc @SteveL-MSFT

[2017-10-17 03:48] fbaptista commented on #4592
Just started a new Nano Server instance in AWS and this seems to be the only way to access the server... any suggestion on how to achieve it from MacOS?

thanks!

[2017-10-17 03:59] iSazonov commented on #4592
Please see remoting docs
https://github.com/PowerShell/psl-omi-provider (no MacOS)
https://github.com/PowerShell/PowerShell/blob/master/demos/SSHRemoting/README.md

[2017-10-17 04:06] iSazonov commented on #2112
New Issues to discuss [file]/[directory] and streams we need.

[2017-10-17 04:22] thannett commented on #5131
@iSazonov This got posted to /r/Powershell.  So yeah, kindof a flash mob :)

[2017-10-17 04:26] fbaptista commented on #4592
That means that the Nano server needs to be running the ssh server, and that is not enabled by default:
http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/connecting_to_windows_instance.html#connecting-nano

[2017-10-17 05:29] iSazonov commented on #5131
Interesting, can we add a label to automatic post to Reddit for chosen discussions?

[2017-10-17 05:31] #4350 closed

[2017-10-17 05:31] #4987 closed

[2017-10-17 05:43] thannett commented on #5131
Great idea.  You've got a very passionate community in Reddit.  It would be great to have the open source movement of Powershell extend to a larger community.

[2017-10-17 06:51] evilmaverick commented on #5131
+1
If you needed to know, you would know how to add the additional flag for type info.

[2017-10-17 07:25] WithHolm commented on #5131
+1

[2017-10-17 08:29] Qowy commented on #3417
Is there a way to manually circumvent this for the moment. For example manually copying files to the publish directory or something similar?

[2017-10-17 08:41] markekraus commented on #5131
@iSazonov I could do that. ;) I think this one got traction because I advertised it on Reddit and twitter.. and.. because it is almost universally disliked feature of the language. I wanted to advertise it in the hopes that someone would provide feedback on how they actually use the default behavior.  So far, I guess no one does?

As for a label and auto-Reddit-Post, That would be something I coul

[2017-10-17 08:52] markekraus commented on #2112
For this specific implementation, it is actually simpler and trivial to add Stream support to `-Form`. We will already be doing type evaluation on the dictionary values and `StreamContent` takes a stream by default. It's actually more work, code-wise, to convert a supplied `FileInfo` to a stream and then to a `StreamContent` then it does to just wrap the supplied stream in a `StreamContent`. But i

[2017-10-17 09:44] markekraus opened #5139 "Export-Csv Test Improvements"
While looking at the current tests Export-Csv I found the following issues:

-----
https://github.com/PowerShell/PowerShell/blob/f604b0e3f063c7a89db025f11b320e5c9797c6e0/test/powershell/Modules/Microsoft.PowerShell.Utility/Export-Csv.Tests.ps1#L14
Should use `ShouldBeErrorId` and test for a proper FQEID

-----
https://github.com/PowerShell/PowerShell/blob/f604b0e3f063c7a89db025f11b320e5c9797c6e0/t

[2017-10-17 09:52] markekraus opened #5140 "Web Cmdlet Error Syntax Re-style"
Currently the errors in the Web Cmdlets are a bit tough to read. specifically the parameters are just unquoted strings. Theys hould be made more readable by using the format `'-Parameter'`.

[2017-10-17 11:25] GHRoss commented on #5131
In my early experiences with PowerShell, I didn't know about -NoTypeInformation.

I ended up including in my script something that would remove the first line of the exported CSV file to get rid of the type information!!

I could not agree with this more.

[2017-10-17 14:01] indented-automation commented on #2996
I've had a bit of a poke around and a chat and some help from faustonascimento on IRC. This code will reproduce the problem:
[code]
The problem appears to be caused by the null return from the MakeLocalPrincipalObject method:

https://github.com/PowerShell/PowerShell/blob/1462ac300bc5e4a20f0360b428de1cb1de4eaba4/src/Microsoft.PowerShell.LocalAccounts/LocalAccounts/Sam.cs#L2810

The null value is b

[2017-10-17 14:41] MathiasMagnus commented on #4346
I have a very similar experience.

I use Powershell

- On my Win10 box natively
- Inside WSL, still from the Windows console
- Through SSH on remote Ubuntu Server boxes
- SSH-ing to the same Ubuntu servers using [Token2Shell/MD](https://www.microsoft.com/en-us/store/p/token2shell-md/9nblggh2ncx9)

When using it on WSL and through SSH, it's terribly choppy. The cursor is visibly jumping back and fo

[2017-10-17 15:36] SteveL-MSFT commented on #4346
@MathiasMagnus try `remove-module psreadline` to see if that improves the experience from a performance perspective.  A new version of PSReadline is coming that should address some of this.

[2017-10-17 15:37] drewstinnett opened #5142 "Powershell Subsystem Fails when using a banner in OpenSSH"
Using a Banner option within sshd_config causes the connection to fail

[code]

If we comment out the Banner line, and restart sshd, client connections work just fine.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-17 15:39] SteveL-MSFT commented on #2112
If it's simpler to do it now, there's no reason to make it more complicated later.

[2017-10-17 19:01] 0xfeeddeadbeef opened #5146 "Enhancement: Ability to invoke generic methods with explicit type parameters when PowerShell cannot figure out <T> from the context"
Please provide ability to invoke generic methods with explicit type parameters.

Steps to demonstrate
------------------

[code]

or using a class:

[code]

(`Array.Empty` was chosen as a simplest possible example. In scripts Iʼd use `@()`)

Current behavior
---------------

[code]

Ruminations
---------------

I understand that itʼs not important to have full support of generics in a scripting la

[2017-10-17 19:48] TravisEz13 opened #5147 "Replace the use of the term `hang` in documentation"
Clarify meaning by REPLACING WITH "stop responding" or "not responding."
When used with technical audiences to describe an application, program, website or service that is not responding.

[2017-10-17 20:17] RickFlist opened #5148 "Write-Debug Prompts for Confirmation Stopping All Script Execution When Using -Debug For Some Reason"
Steps to reproduce
------------------
Save this to a file with a .ps1 extension and run it
[code]

Expected behavior
-----------------
The following message is emitted
[code]

Actual behavior
---------------
Prompted to continue for every Write-Debug statement. A for "Yes to All" does nothing
[code]

Environment data
----------------

[code]

[2017-10-17 20:58] jeffbi commented on #2996
I think in general this makes sense. The only other method that calls `MakeLocalPrincipalObject` checks for a null return from `LookupAccountInfo` and throws an exception.

I'm curious about why we would be getting an invalid SID in the first place. There are two overloads for the `GetGroupMembers` method---one takes a group name and the other takes a group SID. They do their queries for group mem

[2017-10-17 21:02] markekraus commented on #5148
I believe that is by deisgn. you can instead do the following:

[code]

And the debug messages will appear without stopping and prompting.

see [about_CommonParamters](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_commonparameters?view=powershell-5.1) and [about_preference_variables](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.

[2017-10-17 21:19] pldmgg commented on #3898
Just came across a decent use case for this...

Environment variables currently on take strings, so storing a complex object as an environment variable is not really possible. But if Export-Clixml could export a string to an environment variable, then we could relatively easily use Import-Clixml to re-hydrate the object.

[2017-10-17 21:30] markekraus commented on #5148
To distinguish it from `write-verbose`. If it acted exactly as `write-verbose` what purpose would it serve? Generally you wouldn't keep `write-debug` statements in code outside of development. You only put it in development to code so you can perform suspend.

[code]

when it prompts choose suspend then run `$a` and see that it is `5`. run `exit` and chose the option to continue. At the next promp

[2017-10-17 21:31] RickFlist commented on #5148
Oh also, can you define "By design"?  When I hear "by design" I think there is a specification somewhere that says "when you use -Debug we're going to inquire for every single message emission". Is that the case ? What is "By design"?

[2017-10-17 21:33] markekraus commented on #5148
@RickFlist I mean it is probably by design because it is officially documented behavior. That's usually a good indication of the design. If the behavior differed from the documented behavior, that would like not be by design or possible a documentation issue.

[2017-10-17 21:36] RickFlist commented on #5148
Oh. Yes, it's usually an excellent indicator. Whoops. :\

The reasoning is actually there as well, which is awesome.
"The Debug parameter overrides the value of the $DebugPreference variable for the current command, setting the value of $DebugPreference to Inquire. Because the default value of the $DebugPreference variable is SilentlyContinue, debugging messages are not displayed by default."

Any

[2017-10-17 21:38] RickFlist commented on #5148
And what about the fact that "A" for "Yes to All" doesn't actually work? e.g. if I have multiple write-debug statements and hit "A" for the first one, I am still prompted for the second one. By design or bug? If the latter I will submit a new bug.

[2017-10-17 21:43] markekraus commented on #5148
That's also `by design`. the "yes to all" works with this usage:

[code]

It's not for all calls to `Write-Debug`, just for all objects passed to the current call to `Write-Debug`.

[2017-10-17 21:47] RickFlist commented on #5148
I'll open up a couple User Voice request. Danke.

[2017-10-17 21:48] #5148 closed

[2017-10-17 22:53] markekraus commented on #3898
If this followed the convention of CSV, it would actually be better to have a `ConvertTo-Clixml` cmdlet as well as a `ConvertFrom-Clixml` One reason I could think of this as useful is to pass the persisting object to things other than files, such as network streams or as body data in HTTP without needing to write to a file first.

[2017-10-17 22:54] swinster commented on #2112
My tupenth, albeit your implementation talk is out of my knowledge base, when sending large file (think 1GB, indeed we regularly send 4GB files), some of my previous attempt to use PS have completely killed the sending system as the entire thing is read into memory. Streaming the file is the only sane way to do this (see previous comments). IMHO, without this ability, the whole feature falls flat.

[2017-10-17 23:08] markekraus commented on #2112
@swinster Both the current non-multipart `-InFile` and the multipart implementation (whichever one we end up going with) use a `StreamContent` object which stream the file to `HttpClient`. The web cmdlets themselves are not reading the entire file to memory, but that might be what the underlying CoreFX is doing. If you have confirmed this behavior persists in PowerShell core, can you open a new is

[2017-10-17 23:18] #4918 closed

[2017-10-18 00:25] #4214 closed

[2017-10-18 01:14] SZ-MSFT opened #5153 "PowerShell does not work with .NET Remoting Proxy Objects (MarshalByRefObject)"
.NET Remoting proxy objects do not work in PowerShell (version 5.1.15063.608).

The following C# code, where `APx500` is an API that uses .NET Remoting, and inherits from `MarshalByRefObject` works flawlessly:

[code]

The equivalent PowerShell call fails when we attempt to use objects from `ap` properties:

[code]

Instead of getting a proxy for `ISteppedFrequencySweepMeasurement`, the `$sweep` o

[2017-10-18 02:08] #4274 closed

[2017-10-18 02:30] SteveL-MSFT commented on #5153
This repo is only for PSCore6 issues.  However, I don't think this was ever supported.

[2017-10-18 02:30] #5153 closed

[2017-10-18 02:47] SZ-MSFT commented on #5153
Quick note for other people to hit this, you can work around the issue using late binding:
[code]

[2017-10-18 03:49] lenkite commented on #3241
Short circuit operators are such a **fundamental** part of the daily shell use at the command line  and it is a massive burden to work without them. And the `-and`/`-or` operators are _not_ a replacement since they simply output the boolean result of the operation making them useless for interactive use.

[2017-10-18 03:53] #3994 closed

[2017-10-18 03:56] SteveL-MSFT opened #5154 "Update-Format test causes PowerShellGet tests to fail"
The format ps1xml file is not valid and causing some internal state that causes PowerShellGet tests to fail as it can't find a cmdlet that should be available.  Needs to be investigated.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Tests to pass
[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-18 04:12] iSazonov commented on #2112
[Related acticle](http://www.tugberkugurlu.com/archive/efficiently-streaming-large-http-responses-with-httpclient)

[2017-10-18 05:25] SteveL-MSFT commented on #5147
From a [search](https://github.com/PowerShell/PowerShell/search?p=2&q=+hang+&type=&utf8=✓) I only see one occurrence in our changelog.  In the source code, it's only in comments.

I do see one case in [PowerShell-Docs](https://github.com/PowerShell/PowerShell-Docs/search?utf8=✓&q=hang&type=)

[2017-10-18 08:21] MathiasMagnus commented on #4346
@SteveL-MSFT I did as you suggested and it did help performance wise. With psreadline removed in WSL it worked like a charm. (Minus the fact that there was no tab completion, and generally nothing that psreadline does.) When I tried to do the same through SSH (again into WSL to avoid connection issues), powershell with psreadline is totally unusable.

[code]

After this, things get messed up in a

[2017-10-18 08:39] MathiasMagnus commented on #4346
@Steve-Lee Corrections: For future reference, Win32-OpenSSH v0.0.22 with PowerShell v6.0.0-beta.8 works with all features. AltGr+stuff, Ctrl+c, arrow buttons, and psreadline performs fast enough for practical use. (Cursor still visibly jumps around, but output is correct.)

When will the new psreadline hit? (Just to know when might the cursor hiccups be fixed.)

[2017-10-18 08:58] markekraus commented on #2112
@iSazonov That is on the receiving (server->client) side were I believe there is already an open issue about it. @swinster was saying a similar problem occurs on the sending (client->server) side. I believe we are already efficient on the sending side. I think that problem for sending did exist in earlier versions, but since Core change to the HttpClient, I don't think it is an issue anymore. I ha

[2017-10-18 10:31] DarwinJS opened #5155 "Systemwide Pointers To Active Version of PowerShell Core"
OpenSSH just got a new parameter for specifying the default shell - but it appears it must be full path specified: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

It is not clear whether it can receive an environment variable (but should be able to in my opinion).

This issue https://github.com/PowerShell/PowerShell/issues/1354 is asking for a pointer to the default powersh

[2017-10-18 14:17] indented-automation commented on #2996
I only see one overload for GetGroupMembers in the source code? There are two overloads for GetLocalGroupMembers, both call GetGroupMembers with a SID.

It seems the only way to recreate this is described in the first post. A machine must be added to the domain, a member added, then the machine removed from the domain. Using a local user is not sufficient to recreate the problem. I'm not at libert

[2017-10-18 14:57] leftler commented on #4996
As a work around when you import the module `AzureRM.Resources` it also loads Newtonsoft.Json.dll. So instead of using `$result.Outputs | ConvertTo-Json` you can do
[code]
And that will give you your expected output as a string.

[2017-10-18 16:22] pcgeek86 commented on #3898
Building on top of what @markekraus mentioned, another use case would be sending the CLIXML off to a message queue for processing by a different consumer application. I should not have to write the CLIXML to disk, and then read it again, to accomplish this.

[2017-10-18 16:26] #5081 closed

[2017-10-18 17:56] TravisEz13 commented on #5147
I don't think this is a high priority, but the tool says that we **should** fix it.  So, I filed an issue to track the resolution.

[2017-10-18 17:56] SteveL-MSFT commented on #5155
In beta.9, the msi installer will add $pshome to %PATH% so you should be able to just rely on `pwsh` to start PSCore6.  In the future, we have a different [tracking issue](https://github.com/PowerShell/PowerShell/issues/4836) to determine how to support enumerating and starting side-by-side versions of PSCore6.

[2017-10-18 18:32] oising commented on #3400
Ping pong poong.

I (and many others I'm sure) want it to build in VS 2017 so we can use ReSharper and other tools.

[2017-10-18 18:34] DarwinJS commented on #5155
Hmm - yeah I can't add the $pshome reference to the openssh key which claims it needs a full path.  The openssh installer also runs in Windows PowerShell by default - so also won't know what $pshome is.

This approach, nor the one in https://github.com/PowerShell/PowerShell/issues/4836, seems to allow an administrator to stipulate a system level version for compatibility - regardless of who might

[2017-10-18 18:36] BobbyCannon-Quantros commented on #3400
Plus + 1000 @oising!

[2017-10-18 18:58] markekraus commented on #5139
@marusyk I am assigning this issue to myself to prevent duplication of effort.

[2017-10-18 19:14] jandrusk commented on #4214
My vote is psh.exe.

[2017-10-18 19:20] vors commented on #3941
One more observation about this situation is that once one powershell process hangs on a `git` command, others will too with very high probability

[2017-10-18 19:22] #5074 closed

[2017-10-18 19:51] bergmeister commented on #4214
@jandrusk The [PR](https://github.com/PowerShell/PowerShell/pull/5101) already got merged yesterday, so it will be pwsh.exe. Jeffrey has already tweeted about this [here](https://twitter.com/jsnover/status/920728210857345024).

[2017-10-18 19:56] SteveL-MSFT commented on #2112
Removing `Review - Committee`, I don't think it necessary for committee to review this anymore.  The current proposal seems fine.

[2017-10-18 20:42] jeffbi commented on #2996
Oops. Sorry, you're right. I was looking at an experimental version I'd forgotten about.

After re-reading the original description and looking at things again, the whole thing makes more sense to me and I think your solution is the correct one. There would need to be an additional minor change elsewhere to get the SID to be displayed in the output in place of the name, and there would be no way (

[2017-10-18 20:44] markekraus commented on #2112
@SteveL-MSFT which proposal? `-Form` or reusing the existing parameters? Honestly, I was really digging `-Form`

[2017-10-18 20:55] SteveL-MSFT opened #5157 "Move to latest dotnetcore 2.0.x servicing build after beta.9"
We should move to latest validated dotnetcore 2.0.x servicing build to ensure nothing got broken

[2017-10-18 21:09] mepples21 commented on #5130
Same issue here on macOS High Sierra:
<img width="1398" alt="screenshot 2017-10-18 16 09 19" src="https://user-images.githubusercontent.com/19227815/31742869-ba5e74b6-b41e-11e7-8ca7-7797f264a6ca.png">

[2017-10-18 21:15] Marusyk commented on #5139
@markekraus But whu do you remove Hacktoberfest label?

[2017-10-18 21:16] SteveL-MSFT commented on #5130
This is an issue with the non-Windows WSMan client

[2017-10-18 21:20] markekraus commented on #5139
@Marusyk I removed it to prevent it from showing up for people looking for hacktoberfest issue to to work on. It wont go against your hacktoberfest counts. But I have added it back.

[2017-10-18 21:26] SteveL-MSFT commented on #2112
I thought this had landed on `-Form`?  (or perhaps that's just what I thought because I prefer it?)

[2017-10-18 21:38] markekraus commented on #2112
Ok. I was just making sure. I'm goo with `-Form` but since there were kind of multiple proprosals floating about since my code post I wanted to make sure we were all on the same page:

`-Form` will accept a dictionary where the keys will be the field names. String values will be processed as `StringContent`. `FileInfo` and `Stream` will be processed as `StreamContent`. Any other value type will be

[2017-10-18 23:27] PaulHigin opened #5158 "Add-Type ReadAllText perf improvement"
Add-Type uses File.ReadAllText() API in a loop for reading in multiple source files.  This can be non-performant for multiple reasons:
a. ReadAllText() uses a small buffer that increases IO calls.
b. It performs StringBuilder.ToString() internally which allocates a string that is not used, making possible LOH allocation and adding GC pressure.

Consider using a different pattern:
[code]

[2017-10-19 01:39] SteveL-MSFT commented on #3400
This isn't something we're prioritizing for 6.0.0, but we can add it to the 6.1.0 queue although that itself is growing quite large...

[2017-10-19 02:31] mklement0 commented on #4214
Long live the new PassWord  / Per-Week / PoliceWoman SHell!

[2017-10-19 02:35] alx9r commented on #4899
FWIW, I have implemented `ServerCertificateValidationCallback` calling into a user-supplied PowerShell scriptblock for [this other project](https://github.com/alx9r/BootstraPS).  There were a few things that weren't obvious at first that I had to overcome, so I will note them here in case it helps someone.

### Callback Thread, `Runspace`, and `PowerShell` Instance

`ServerCertificateValidationCal

[2017-10-19 02:44] jongross4 commented on #4214
My vote would have been to leave it alone.

[2017-10-19 03:01] alx9r opened #5159 "Support changing cipher suites offered by Invoke-WebRequest and Invoke-RestMethod"
`Invoke-WebRequest` and `Invoke-RestMethod` are rather permissive compared to web browsers with respect to how the SSL/TLS connection is established.  #4899 would provide support for user-defined certificate validation in `Invoke-WebRequest` and `Invoke-RestMethod`.  That is an improvement but only affects part of the permissiveness.  Another part is the cipher suites.

The cipher suites offered b

[2017-10-19 03:50] AbelHu opened #5160 "PowerShell: Copy/Paste reverses lines"
Steps to reproduce
------------------
Copy below lines from notepad
1234567
abcdefg
ABCDEFG
And paste to powershell

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-19 04:57] daxian-dbw commented on #3348
@PowerShell/powershell-committee has rejected the PR #5106. Quoted here:

I will close this issue as 'Won't Fix'.

[2017-10-19 04:57] #3348 closed

[2017-10-19 05:01] iSazonov commented on #3348
Does anyone know how many (module) breaking changes we've already made? It seems so much that talking about these changes is no longer relevant.
Also if we already is InvariantCulture for arguments and casting in scripts where is entry points where customers can catch problems?

[2017-10-19 05:27] SteveL-MSFT commented on #5131
@PowerShell/powershell-committee reviewed this and agree that the default behavior should be `-NoTypeInformation`.  However, we need to retain `-NoTypeInformation` to not break scripts already using it and document the change in behavior for scripts that haven't been using that switch.  We should also introduce a new switch to retain previous behavior.  `-IncludeTypeInformation` seems reasonable.

[2017-10-19 07:04] PetSerAl opened #5162 "Allow cmdlets to use InvariantCulture for parameter conversions"
Since #3348 would no be fixed. Can we have some attribute, which would allow cmdlet's developers to opt-in for `InvariantCulture` for parameter conversions for theirs cmdlets?

[2017-10-19 07:20] SaiKai commented on #5158
I will take a stab at this.

[2017-10-19 07:35] iSazonov commented on #5160
Have you any scripts and modules loaded?

[2017-10-19 07:55] iSazonov commented on #5158
I don't see using `StringBuilder` in CoreFX implementation https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/File.cs#L376

[2017-10-19 08:25] markekraus commented on #5159
This is a dupe of #2662

[2017-10-19 08:36] jonathanmedd commented on #4214
So how are we pronouncing pwsh?

p.w.s.h
p.wush
p.woosh
puh.wush

Hopefully something better than those

[2017-10-19 08:36] markekraus commented on #2112
@SteveL-MSFT You had reapplied the `Review - Committee` tag to this issue. Do you get a chance to discuss this one yesterday?

[2017-10-19 08:39] markekraus commented on #4214
@jonathanmedd I've been using `pwish` like `wish` with a `p`.

[2017-10-19 08:45] SBiliarski commented on #5130
Same here. Any workaround known?

![screenshot 2017-10-19 11 44 54](https://user-images.githubusercontent.com/32925821/31762138-f559b07c-b4c2-11e7-9282-a7e92e092c0f.png)

[2017-10-19 08:49] Tadas commented on #5160
Related https://github.com/Microsoft/vscode/issues/29805

[2017-10-19 08:50] chucklu opened #5163 "Set-Date did not work"
Steps to reproduce
------------------

[code]
I  find this command on [official document](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/set-date?view=powershell-6)

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

I also checked the issue list, and find another issue about [set-date te

[2017-10-19 09:29] iSazonov commented on #5158
[ReadAllLines](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/File.cs#L499) put string in `List` then we put in `StringBuilder` - I don't see benefits.
I found [tests](http://cc.davelozinski.com/c-sharp/fastest-way-to-read-text-files). ReadAllText looks best compared to ReadAllLines if we want to read the entire file in a single string.

[2017-10-19 09:33] iSazonov commented on #5160
@Tadas Thanks for clarify!
@AbelHu Thanks for your report! It is dup https://github.com/PowerShell/PowerShell/issues/3816

[2017-10-19 09:33] #5160 closed

[2017-10-19 09:45] markekraus commented on #5131
For those following the thread: PR #5164

[2017-10-19 10:02] markekraus commented on #4899
@alx9r Thanks! I will have to look at what you provided this weekend. Have you tested any of this with the `HttpClientHandler.ServerCertificateCustomValidationCallback`? It appears to be a slightly different beast in CoreFX than what was on the `ServicePointManager` in full CLR.

[2017-10-19 12:06] mklement0 commented on #4214
Given that _pwsh_ is a recursive acronym (similar to _GNU_) - Please, Why pwSH? - I suggest "pweesh", like a cute bunny with a lisp saying "please".

Kidding aside:

* While I personally think settling on `pwsh` was unfortunate, I assume that we'll get used to it soon and won't think about it again.

* As for pronunciation: I personally don't see the need for one, given that the full name is just

[2017-10-19 12:21] markekraus commented on #4214
`P-Dub Shell`?

`P Double U Shell` or `P Double U S H` is just painful to say. More syllables than `PowerShell` but you'd probably want to distinguish `PowerShell` from `pwsh`. Just as `bash` is distinguished from `Bourne-Again Shell`.

[2017-10-19 12:36] mklement0 commented on #4214
In terms of the official full names, [it's _PowerShell Core_ vs. _Windows PowerShell_](https://blogs.msdn.microsoft.com/powershell/2016/08/18/powershell-on-linux-and-open-source-2/) - _PowerShell_ by itself can refer to any edition.
If it's not clear from the context, adding the appropriate qualifier will disambiguate - and perhaps won't be needed all that often (e.g., in a pure Unix context).

Lo

[2017-10-19 12:44] markekraus commented on #4214
@mklement0 I'm talking about distinguishing `pwsh` the binary from `PowerShell` the language/shell. Not distinguishing different implementations/platforms of PowerShell.

[2017-10-19 12:44] SaschaNaz commented on #4214
push :smile:

[2017-10-19 12:50] jonathanmedd commented on #4214
So maybe:

`p shell` or `p w shell`

[2017-10-19 12:56] mklement0 commented on #4214
@markekraus:

Ah, I see, thanks for clarifying.

If you want to convey the _exact_ name of the binary, no pronunciation short of _spelling out_ the name will help you.

Thus, referring to the _PowerShell binary/executable_ should work for all those already in the know, and for others you'll have to spell it out anyway.

[2017-10-19 13:02] markekraus commented on #4214
We will have to agree to disagree on that one 😃.

[2017-10-19 13:16] mklement0 commented on #4214
I understand your _desire_ for that to work - as it does with "bash" and "posh", for instance - but as your own struggles above attest, it doesn't work with "pwsh" - which, it's fair to assume, we're stuck with now.

[2017-10-19 13:21] markekraus commented on #4214
well, not with that attitude it doesn't! 😉  I have been calling it `pwish` and probably will continue to do so. But I'm just creating a dialogue to see if other come up with something else. `push` is a good one considering the `w` pronunciation in some languages. `pwsh` not completely irredeemable, IMO. maybe everyone will settle on `p w s h`. but it's to early to say "we're done here" and conside

[2017-10-19 13:30] mklement0 commented on #4214
:)

You're right.

I guess I was focusing too much on the aspect of conveying the _exact spelling_ to someone not yet familiar with PowerShell rather than a short name established _by convention_ for those already in the know (who already know how to map that short name to `pwsh`).

[2017-10-19 14:31] JasonFossen opened #5165 "Please rename pwsh to PowerShell Core 1.0, not 6.0"
Please rename "PowerShell Core **6.0**" to "PowerShell Core **1.0**" to avoid confusion and disappointment.

Reasons:

The PowerShell Core 1.0 executable has been renamed to "pwsh."

Pwsh is very different and limited in comparison to Windows PowerShell on Windows.

Pwsh DSC is going to be very different than DSC on Windows PowerShell.

Pwsh really is a 1.0 product (i.e., new), it's not a 6.0 prod

[2017-10-19 15:19] 1RedOne commented on #4214
What about MSPosh.  Shorter than PowerShell.exe and follows standards, while also doubling as a fun name for '`[The PowerShell Hero'](http://download.microsoft.com/download/9/6/8/968D32C0-EBAC-472C-9CAB-7758366B3AA1/download_files/PowerShell.jpg)`?

[2017-10-19 15:20] thezim commented on #5165
Quoting @joeyaiello

https://blogs.msdn.microsoft.com/powershell/2017/07/14/powershell-6-0-roadmap-coreclr-backwards-compatibility-and-more/

Naming to `PowerShell Core 1.0` would be confusing in that respect.

Personally I think 6.0 is the better choice as it shows a linear progression of PowerShell regardless of the underlying framework.

[2017-10-19 15:21] markekraus commented on #4214
@1RedOne the PowerShell hero/avatar will always be PoSH-Chan in my ❤️

[2017-10-19 15:39] iSazonov commented on #4214
It seems PWSH team was rushing to change its name. :-)

[2017-10-19 16:15] raghav710 commented on #4126
@iSazonov could you help me get started? I was searching the GetChildrenCommand.cs and FileSystemProvider.cs but couldnt find the exact location to make the changes. Thanks!

[2017-10-19 16:55] DarwinJS opened #5166 "Please Start Versioning PowerShell.exe (So The latest version can be found by Get-Command)"
Can't do the following from openssh installer to find the latest powershell core.

get-command "c:\program files\PowerShell\*\PowerShell.exe"

So the weird thing is to do the same thing for *any other default shell candidate* from third parties - this would likely work - to, for instance, find the latest bash.exe

I can do a work around by using the versioned folder for now - but that only handles

[2017-10-19 17:02] rkeithhill opened #5167 "Need mechanism to disable globbing"
Globbing support on Linux has caused us to have to revert to using bash scripts because we can't pass parameters that contain `*` through to the executable.  In this case, we are trying to invoke a C++ pkg manager called conan.  It would be nice to have an option like `set -o noglob` in bash to disable globbing.

Steps to reproduce
------------------
Try to execute conan (or echoargs) with:

[code

[2017-10-19 17:05] JasonFossen commented on #5165
Hi @thezim:

Good point about Nano, thank you.

Note that PowerShell is not a part of the Nano base container image anymore, and Nano installations as a percentage of Server installations is extremely small, and as a percentage of total machines with PowerShell installed, it is a tiny, tiny fraction of that. Besides, the future of PowerShell on Nano is pwsh, assuimg DevOps-style developers need Po

[2017-10-19 17:38] lzybkr commented on #5131
`-NoTypeInformation:$false` should probably be equivalent to `-IncludeTypeInformation`.

And maybe the we don't need the new option, a confusing double negative is hardly obvious, but if nobody uses it, then is adding a new option helping anyone?

[2017-10-19 17:41] rkeithhill opened #5168 "Need ability to make a PowerShell Core script "automatically" run under PowerShell Core on Windows"
If my script `requires` PowerShell Core to run, then on Windows there is no good way to invoke a .ps1 file (say from cmd.exe or Win+r) and have Windows pick the correct version of PowerShell (PS Core or Win PS).  So yeah, this scenario requires that folks configure the `Open` verb to execute the PS1 file extension.  And there can only be one exe for "Open": either powershell.exe or pwsh.exe.

Anot

[2017-10-19 17:46] rkeithhill opened #5169 "Help topic shows Unicode BOM on Linux"
I seeing the Unicode BOM displayed on Linux when viewing the `about_Requires` help topic.

Steps to reproduce
------------------
Doing this from WSL console with PS Core beta.8 installed
[code]

Expected behavior
-----------------
There is no Unicode BOM displayed.

Actual behavior
---------------
![image](https://user-images.githubusercontent.com/5177512/31785647-18980854-b4c3-11e7-8472-7b2dd35eb

[2017-10-19 17:50] rkeithhill commented on #5169
Perhaps this should go in the PowerShellDocs repo.  OTOH, can't the Get-Help command suppress the display of the BOM?

[2017-10-19 17:57] iSazonov commented on #5131
We could make an enhance to restore native type.

[2017-10-19 18:01] JamesWTruher opened #5170 "a warning should be presented if -AsByteStream and -Encoding are used together"
With https://github.com/PowerShell/PowerShell/pull/5080 it is possible to use both `-AsByteStream` and `-Encoding` together. Under these circumstances, `-Encoding` is superfluous as the stream of bytes should represent the bytes in the file (which are not affected by encoding).

[2017-10-19 18:03] iSazonov commented on #4126
@raghav710 I'd start with https://github.com/Windos/PowerShell/blob/a464c578a2d96da7e23df7597670fe8780c89c84/src/System.Management.Automation/engine/SessionStateContainer.cs

[2017-10-19 18:03] rkeithhill commented on #702
The problem now is that you've trained Windows PowerShell users to use `man` for viewing help. When they get to PS Core on Linux, they'll run into this:
[code]
:-(

[2017-10-19 18:05] markekraus commented on #5131
@lzybkr see #5134  may not be used now... but.. it could be improved so that it would be useful for light weight PSCustomObject Import/Export serialization.

[2017-10-19 18:24] iSazonov commented on #5166
It seems dup #4836 - we can discuss there.

[2017-10-19 18:31] doesitscript opened #5171 "NPM'ish package.json for 'Polynumerous' Deployment Types"
I'm providing a bit of background to better express a possible need... Self-maintainability is complex, often difficult to explain, and requires knowledge of scattered community projects.  Currently PSdepends addresses some of the need to handle some project requirements, however I think what is happening is that we are missing a standard of build a project from source project, gather requirements

[2017-10-19 18:44] iSazonov commented on #5165
With upgrade from 5.1 to 6.0 customers expect _enhancements_ in the language. In fact, we've lost a lot of functionality on the contrary. We're just misleading people.
Of course, the internal version must be 6. But the product we'd better rename. I would even remove the version number from the product name to show people that this is the first milestone - PowerShell Core Threshold.

[2017-10-19 18:47] mkellerman commented on #4214
I vote for pscmd.exe

when typing cmd in windows, it should actually come up! and it's actually replacing the cmd...

if this is a question of muscle memory, let's fix that problem..

if it's just for fun to find it a cool new name, then it should be pscore.exe, since that's what it is.

just my 2 cents.

[2017-10-19 18:56] dragonwolf83 commented on #5165
PowerShell Core is not really a smaller subset of Windows PowerShell. The built-in cmdlets, language, and public APIs have not been simplified or fundamentally changed in a way that reduces functionality. In fact, many cmdlets like `Invoke-WebRequest` and `Invoke-RestMethod` are getting awesome enhancements in 6.0.

Are there breaking changes? Yes.
Are there breaking changes to some public APIs or

[2017-10-19 19:22] michaeltlombardi commented on #5171
Strongly suggest that, instead of rebuilding from scratch, we consider adopting/boosting [PSDepend](https://github.com/RamblingCookieMonster/PSDepend) and @RamblingCookieMonster's work on it.

If there's something missing from the implementation of managing dependencies in PowerShell there, suggest we improve on it.

[2017-10-19 19:23] michaeltlombardi commented on #5171
On a related note, there's been talk in the community of packaging up tasks and shipping those around, and that functionality maybe finding a home in Psake. I think @gaelcolas may have done some work in this area and others (@cdhunt, @devblackops?) are maintaining tasks for their orgs in similar fashion?

[2017-10-19 19:28] markekraus commented on #5165
I think a major version is fine. php4 to php5 had some of the same concerns regarding gains and losses and certainly things written for 5 didn't always run on 4 and vice versa. But it was still PHP. It, too, went through a massive underlying engine change. Not to compare PHP to my beloved PowerShell, but it is a language peer of sorts.

Outside the built-in modules is where the greatest difference

[2017-10-19 21:22] SteveL-MSFT commented on #5169
This should probably be a bug in the PlatyPS repo so that the generated help files should not have a BOM.  It's possible to modify `Get-Help` to suppress showing the BOM, that that's a patch over the root problem.

[2017-10-19 21:44] #1621 closed

[2017-10-19 22:49] markekraus opened #5175 "Parameters Should Support Mutual Exclusion Natively"
# Problem

Parameter sets are great for grouping parameters into sets that work together. This can, to some degree, also be used to make parameters exclusive. The problem arises when you have mutually exclusive parameters that need to exist in all parameter sets. The current implementation would require creating additional parameter sets to accommodate the actual parameter sets and the mutually ex

[2017-10-19 22:58] DarwinJS commented on #5166
It is not really a duplicate - getting a version number to compile into the PE header should be a couple compiler settings.  Additionally, you could have an exe emit it's version without coding the PE header.

Both ways should be probably enabled, but importantly, the PE header can be examined without running the EXE.

[2017-10-19 23:47] SteveL-MSFT opened #5176 "Formatting of objects breaks long lines by inserting linebreaks or truncating"
The formatter makes calcuations based on the current window width and lines longer than the width gets a linebreak inserted or truncated (depending on formatter).  This causes two problems:

1. modern terminals (including Win10 console) that support dynamic resizing, when you resize, the line stays broken when the line wrapping should be handled by the terminal
2. when output to file, it retains t

[2017-10-19 23:49] SteveL-MSFT commented on #5175
@markekraus you should take a look at an old draft of an RFC as a proposal to solve this https://github.com/PowerShell/PowerShell-RFC/blob/master/X-Withdrawn/RFC0001-Mutual-Exclusion-Parameters-and-Properties.md

[2017-10-19 23:57] dantraMSFT commented on #1189
@mirichmo I don't think it's viable to change the provider guid every minor and/or major release.  Monitoring teams will be reluctant to have to keep rev'ing.
As far as PSEvents generation; we did this DSC; I'll dig out the necessary build pieces.

[2017-10-20 00:21] markekraus commented on #5175
@SteveL-MSFT Interesting. When I was thinking about this my first thought was to add an attribute like what is in that RFC but I immediately realized that it makes things more painful. That's when I thought to add the parameter attribute property.

Would a solution to this need to work for both classes and parameters? I'm not sure doing something like that is really the correct approach for class

[2017-10-20 00:26] daxian-dbw commented on #3348
@iSazonov One example I got from the committee is the C# modules running on, for example, Japanese machines. After this change, it may happen that some cmdlets are broken with the same input argument because the conversion has changed.
But I do agree with you that this inconsistency is unpleasant 🤕

[2017-10-20 00:35] RamblingCookieMonster commented on #5171
Focusing just on the dependency management, a few thoughts:

- IMHO this should not be part of PowerShell; even if the PowerShell team took this on, IMHO **it should be a separate project, ideally a PowerShell module**
- IMHO it should **allow multiple and extensible dependency types** - given that PowerShell is often used as a glue language, supporting dependencies for the different systems and l

[2017-10-20 01:05] alx9r commented on #4899
@markekraus I did do a bit of testing of `HttpClientHandler.ServerCertificateCustomValidationCallback` using one of the v6.0.0-beta.8.  I didn't notice any obvious differences in behavior.

I haven't worked with `ServicePointManager` so I can't really speak to that.  The work I talked about in my last post is all with [full 4.7 `WebRequestHandler.ServerCertificateValidationCallback`](https://docs.

[2017-10-20 01:28] alx9r commented on #5159
@markekraus This doesn't seem like a duplicate of #2662 to me.  #2662 seems to be about restricting SSL/TLS _protocols_ and _protocol versions_.  This issue is about restricting the _cipher suites_ offered during SSL/TLS negotiation.  These are two different, but related aspects.  ([This page](https://msdn.microsoft.com/en-us/library/mt813794(v=vs.85).aspx) shows, for example, the cipher suites th

[2017-10-20 01:55] SteveL-MSFT commented on #5175
I don't think your specific proposal came up when we original thought about this.  I think the big challenge was having something that was easy to author and also easy to read (once authored) particularly when cmdlets get extended and more parameters get added (like what you experienced with the web cmdlets).

[2017-10-20 02:20] doesitscript commented on #5171
One really good thing about PSDepend is its extensibility.  Agreed with the building of a separate module, even PSDeploy or its design concepts could be used within that module to handle staging files in correct locations for further work, e.g. tags could be used tie into the task concept.

Going into the linux world and with docker coming down the pipeline, we need to be able to juggle more skill

[2017-10-20 02:53] mklement0 opened #5177 "Get-ChildItem -File and -Directory should be mutually exclusive"
A minor problem, and perhaps rare in practice.

`Get-ChildItem`'s `-File` and `-Directory` switches limit the output to files only / directories only, respectively.

Therefore, it is pointless to allow _both_ of them to be specified, given that no filesystem item can be both a file and a directory, and the output will always be nothing (null collection).

Steps to reproduce
------------------

[co

[2017-10-20 03:30] SteveL-MSFT commented on #5166
#4836 is different.  I think I can take care of this one and the icon one at the same time.

[2017-10-20 03:30] DaleMitchell commented on #2463
Unfortunately I do not have access to an Ubuntu machine to compile the binaries for Raspbian. Is someone kind enough to upload them here?

[2017-10-20 03:32] SteveL-MSFT commented on #5168
I think the simplest solution here might be to introduce .ps2 which would only be associated to pwsh.exe although it can still run .ps1 if explicitly passed.

[2017-10-20 03:34] SteveL-MSFT commented on #5167
`--%` should work on a per command basis today, right?  This is for a session based preference?

[2017-10-20 03:42] iSazonov commented on #5175
I thought about this too. It is not difficult to implement mutual exclusion parameters on top level but not for subparameters - definitions with attributers becomes a mystery.
In fact, we must define a graph. We can do it in a variety of ways, (even with Json and Yaml).

[2017-10-20 04:25] rkeithhill commented on #5167
Indeed that does work - per command.  That's a workaround for now.

[2017-10-20 04:43] DdWr commented on #5177
I can work on this one.

[2017-10-20 04:44] DdWr commented on #5087
@SteveL-MSFT I'm assuming this is still in the review queue? :)

[2017-10-20 04:58] SteveL-MSFT commented on #5087
Yes, we had too many to review at the last meeting and didn't get to this.

[2017-10-20 05:05] SteveL-MSFT commented on #5177
@DdWr consider it yours!  I'm only able to assign to collaborators, so don't worry about that, but I'll remove the `Up-for-Grabs` label.  Thanks!

[2017-10-20 05:10] andrew951 commented on #5130
@SBiliarski if it's urgent, you can install PS Version 6 beta 6. It is working in that.

[2017-10-20 06:02] iSazonov commented on #5165
I work in enterprise and last year from time to time I tried to use PowerShell Core for everyday routine tasks. I can definitely say it doesn't work. After forcing to Utf8, I won't even be able to work properly in the interactive session.

I see how much progress has been made over the past year and proud of my bit contributions, but for us it's still a toy - nobody's going to let us use even Core

[2017-10-20 06:52] iSazonov commented on #3348
I have another example - EMS (Microsoft Exchange server Management Shell).
If you is not on English culture session It's always a huge mystery for you to make a search request! The situation is even worse if you try to make such a request dynamically in a script. In essence, you cannot create a script that you can trust. :disappointed:

[2017-10-20 07:18] iSazonov commented on #4809
Can we close the Issue?

[2017-10-20 07:19] iSazonov commented on #4894
Can we close the Issue?

[2017-10-20 07:20] powercode commented on #3400
I just noticed that if I add a property
[code]
then visual studio understands the project formats.

Sorry that I haven't been pushing this. So silly, I make it work locally, but never get around to pushing it.

[2017-10-20 07:30] iSazonov commented on #3400
@powercode If you haven't free time - put a link on the file so everybody can grab, test and push PR.

[2017-10-20 07:37] iSazonov commented on #5146
At first glance, this is not feasible because the main asset of PowerShell is to hide complex details - Powershell automatically calls the correct methods.

As for implementation it seems is a lot of work but not so difficult.

[2017-10-20 08:03] powercode commented on #3400
That seems to be needed in the csproj files. Seems like a bug in visual studio, since the property is there, but via an import.
Adding the strange no-op property seems to work around it, but maybe we should push for a fix in VS too.

I also ran into build issues from the command line where the latest VS version comes with tool version 2.0.2, and we require 2.0.0. Maybe we should be a bit more rela

[2017-10-20 08:17] iSazonov commented on #3400
Perhaps #5118 can help with version checks.

[2017-10-20 08:39] markekraus commented on #5159
Ah ok.

The problem being, this is currently not possible in CoreFX and from the threads you linked it's not even on the roadmap (yet), its all theoretical at this point, yes? We can't add the feature in PowerShell core until it is available in CoreFX and it's not clear that it will be available or not.

I agree this would be a nice to have feature but it can't be implemented at this time. If it w

[2017-10-20 09:43] markekraus commented on #5168
@SteveL-MSFT if we took a page from the PHP handbook, `.ps6` is a good idea.

If we took a page from the Python Handbook, we wouldn't do anything at all with file extensions. New extensions become messy and make for transitions between versions supporting multiple versions painful. I realize it would be coercive in the "you must use `.ps6` for core" sense, but as people begin to adopt it you start

[2017-10-20 09:49] 0xfeeddeadbeef commented on #5146
@iSazonov Problem is that PowerShell **can not** automatically call correct methods when there is no way to deduce generic type parameter automatically (as seen in "Steps to demonstrate"). It must be specified explicitly. This is true for other CLR languages too.
We are forced to dig through all the complex details using reflection (see list of workarounds).

[2017-10-20 10:01] markekraus commented on #5175
@SteveL-MSFT Any thoughts on the readability and ease of coding for what I proposed?

@iSazonov Can you expand on that? I'm not sure I understand.

Could you psuedo code an example of what that would look like?

[2017-10-20 10:16] markekraus commented on #2463
@DaleMitchell You could always use Hyper-v on Windows 10 or any of the free VM tools for previous windows versions, download an Ubuntu ISO, and compiled the binaries in the VM.

[2017-10-20 12:18] iSazonov commented on #5146
I mean that the implementation of the general case is likely to be redundant. On the other hand, if there are specific popular scenarios, maybe we could implement them natively in PowerShell.
We also have to take into account that PowerShell performs many implicit type conversions - we may encounter insurmountable hurdles.

[2017-10-20 12:27] thezim commented on #5177
@mklement0 should `-File -Directory` in conjunction actually return everything and not be exclusive? Should it be an `or` and not an `and`.

[2017-10-20 12:32] iSazonov commented on #5175
[code]
Note the `Param221`.

[2017-10-20 13:40] mklement0 commented on #5177
@thezim:

It's debatable; here are the reasons I went with the AND interpretation, which led me to request that the switches be _mutually exclusive_:

* Specifying _neither_ switch gives you _both_ files and directories _by default_; i.e, the default is _everything_, and adding _either_ `-File` or `-Directory` _takes things away_, so that using both `-File` and `-Directory` would take _everything_

[2017-10-20 13:52] markekraus commented on #5177
hmmm. `and`/`or` logic would be nice you are wrapping this and asking if files and folders should be included. being able to pass the bools directly to it like so `-Directory:$IncludeDirectories -File:$IncludeFiles`. With `xor` logic you would have to do something like `if(:$IncludeDirectories){$params.add('Directory', $true)}`.

Also, while I haven't looked at the cmdlet or provider, implementing

[2017-10-20 14:57] michaeltlombardi commented on #5171
CC @Jaykul for his polynumerous opinions. ;)

[2017-10-20 14:58] michaeltlombardi commented on #5171
I'd, personally, rather see work on a major revision of PSDepend than a separate project. There's stuff to refactor and improve (isn't there always?), but the DSL has come along nicely and it's got community backing and recognition.

[2017-10-20 16:09] daxian-dbw commented on #3348
Interesting, I presume the `EMS` example is where the current `CurrentCulture conversion` behavior causes a usability issue, right? So in this case, it's preferable to have `InvariantCulture conversion` so that things can work on non-english culture environment?

[2017-10-20 16:13] alx9r commented on #5159
Got it.  Thanks @markekraus.

[2017-10-20 16:31] lzybkr commented on #5158
if `ReadAllText` is inefficient, we should be fixing that, not working around it.

The use case here though is a little different, we're reading multiple files into a single buffer.

With some unsafe code, one could preallocate a `char[]` buffer big enough to hold all of the files, then use `StreamReader.Read(char[] buffer, int index, int count)` - this would minimize the number of large allocatio

[2017-10-20 16:45] dantraMSFT opened #5179 "Refactor JsonConfigFileAccessor class to remove redundant path building logic."
Every property accessor in this class has duplicate code to calculate the fully qualified path to one of the two PowerShellProperties.json files.  This logic should be moved to the constructor and exposed via internal or private accessors.

Environment data
----------------
PSVersion                      6.0.0-beta.8
PSEdition                      Core
GitCommitId                    v6.0.0-beta.8-

[2017-10-20 16:50] SteveL-MSFT commented on #5177
Thinking about this, I can see how `-File` and `-DIrectory` could be interpreted as OR or AND.  I don't have a strong opinion either way on this one.  However, if we change it so that the flag means "Include" (aka OR) where we now return everything compared to now where we return nothing (aka AND), that could break someone who was constructing the args programmatically.

Personally, I think this i

[2017-10-20 16:59] dantraMSFT opened #5180 "PowerShell logging is tightly coupled to ETW and should be refactored."
The current logging implementation in powershell is tightly coupled to ETW requiring callers to have direct and unnecessary knowledge of each ETW event, including meta data such as task, opcode, and channel,
Ideally, this interface should be generalized to a simple 'log id' and parameters as well as a general purpose log message api and completely hide the ETW details.

NOTE: For ETW, the addition

[2017-10-20 17:18] lzybkr commented on #5146
This is totally a reasonable thing to add, and a perfect example of why I'm excited PowerShell is open source.

People do want this feature, but as you point out, it's not critical for a shell. With limited bandwidth, this feature was never quite important enough for a small team to implement, but that's not an issue anymore - there are plenty of motivated and capable people who might add this fea

[2017-10-20 17:29] daxian-dbw opened #5181 "The help content for "Get-Help powershell.exe" needs to be updated to reflect the new name 'pwsh'"
Running `get-help pwsh.exe` fails now, while running `get-help powershell.exe` prints the old help content for powershell.exe.

Two things need to be done to update the help content:
1. The local help content we pull in during build needs to be updated. We pull in using the nuget package `powershellhelpfiles`, and the help content are packed in that nuget package.
2. The online help content needs

[2017-10-20 17:56] HumanEquivalentUnit commented on #5177
Both of your claims don't seem correct

This outputs a FileInfo object, so the -Directory switch is not limiting the output to only directories:

        Get-ChildItem -Directory D:\Testfolder\testfile.txt

This outputs a FileInfo object, so the output when specifying both switches is not always nothing:

    Get-ChildItem -File -Directory D:\Testfolder\testfile.txt

[2017-10-20 18:08] lzybkr commented on #3348
Proxies certainly make this issue more complicated - something may work when calling the cmdlet, but a proxy is introduced (e.g. for RBAC) and now it doesn't.

[2017-10-20 18:14] HumanEquivalentUnit commented on #4214
`pwsh`, the wwrld's fwremwst Wbject-Wriented shell. I'm lwwking fwrward tw new cmdlets continuing this pattern:

    Get-Cwntent servers.txt | FwrEach-Wbject {
        Invwke-Cwmmand -CwmputerName $_ -Scriptblwck { .. }
    }

;)

--

Ref pronunciation, what about "*powsh*" said like "pouch" or "couch" with a soft "s". (Think Sean Connery impressionists saying 'pouch').

[2017-10-20 18:24] SteveL-MSFT commented on #5177
@HumanEquivalentUnit I think you hit upon another edge case.  Since you provided a file to `-Path`, it can't find any directories.  Perhaps technically, it should have returned an error that it can't get child items of a file regardless if `-Directory` or `-File` was provided.

[2017-10-20 19:00] SteveL-MSFT commented on #5168
@markekraus yes, .ps6 would be better if we decide to go that route, but we've been avoiding introducing a new extension for the reasons you mention.  The main problem I can see is that even if we add support for `#requires -v 6.1.0` which automatically tries to find 6.1.0 and execute it, it means we also need to update Windows PowerShell with that logic which means only Win10/Server2016 would get

[2017-10-20 19:02] SteveL-MSFT commented on #4894
I think we can close this and any new issues should be new issues.

[2017-10-20 19:02] #4894 closed

[2017-10-20 19:02] #4809 closed

[2017-10-20 19:09] DaleMitchell commented on #4214
[code]
I'm guessing this error message is related to this issue. How do I fix this?

[2017-10-20 19:11] DaleMitchell commented on #4214
As far as the actual name issue goes, I vote for pwsh, since Bash is the Bourne Again SHell.

[2017-10-20 19:17] wolfbyte commented on #5131
I think this is a great idea. I'm constantly having to add the -NoTypeInformation switch every time I use Export-CSV

[2017-10-20 19:27] wolfbyte commented on #4214
I vote for PWSH. And I'd pronounce it as push.
I've seen lots in the community using posh though, so that would be my second choice, though I think MS may be trying to get away from calling it posh.

[2017-10-20 19:40] SteveL-MSFT commented on #5175
@markekraus it seems it would be just as complicated with existing parameter sets once you get to several [ParameterMutexName] attributes.

Personally, when you start having a large number of attributes that scroll off the screen, it makes it hard to mentally map all the sets and exclusions.  So I think I prefer something at the [CmdletBinding] level to declare the exclusions and maybe that new th

[2017-10-20 20:32] dlwyatt commented on #5146
I'll take a look when I have some time.  It'll certainly be easier than writing PSGenericMethods was, since I can just use the type conversion / binding code / overload identification that's already there instead of having to reinvent it.

[2017-10-20 20:33] PaulHigin commented on #5142
PowerShell currently uses stderror messages to determine if ssh client fails during remoting initial connection, such as an authorization failure or some configuration caused failure, and then reports the failure message to the user.  But this is turning out to be unreliable since ssh passes warnings and (now) banner text stderror too.

The banner text comes through stderror and PowerShell cannot

[2017-10-20 20:45] PaulHigin commented on #5158
This was reported internally based on ETW perf traces showing a lot of LOH allocations from Add-Type/ReadAllText.  But I think you are right, calling Add-Type so often is unexpected and sounds like a possible design/implementation error.

[2017-10-20 20:51] bitcrazed commented on #3611
@SteveL-MSFT A thought on this: As you know, in FCU, we updated the default console palette to provide better contrast on modern displays. PLUS, we shipped a new tool to allow users to load color "schemes" if they prefer (esp. useful to those who're color-blind/sensitive).

If PowerShell was to fix its palette use to use color[0] as background, etc. rather than color[5], it'd be able to enjoy the

[2017-10-20 21:10] markekraus commented on #5175
It's almost like the entire parameter system would need to be redone or at least a new one added in parallel with the existing one.  Part of the problem is that the existing system is too cumbersome. but completely breaking it seems almost a like non-starter. hmmm

[2017-10-20 22:25] rkeithhill commented on #5168
Perhaps the install of PowerShell Core on a Windows machine could introduce a "version selector" shim (powershell.com??) kind of like VS has when you open a SLN file (and you have multiple versions of VS that could load the SLN).  I don't anticipate this being interactive choice.  It would merely fire up Windows PowerShell unless the script required PowerShell Core - then it would fire up PowerShe

[2017-10-20 22:39] dlwyatt commented on #5146
@lzybkr , how would you feel about this syntax for the method reference option:

[code]

This makes it easier to see what's happening at parse-time.  If we modify MemberExpressionAst instead (allowing for `$op = "Hello".SomeGenericMethod[someType]`), it's tricker to distinguish between a property followed by an array index versus a method with a generic type.  By looking for `[type](args)`, it's n

[2017-10-20 22:42] Jaykul opened #5184 "Start-Process should support redirecting to variable names or stream objects"
Because there are many executables (mostly of linux origin) which use stderr to write *status* messages (in addition to errors), and rely purely on exit code to indicate whether there actually is an error or not ....

As a Power<i>Shell</i> scripter, I need to be able to run an executable and **both** stream the output for sake of status updates _and_ capture the (stderr) output so I can report on

[2017-10-20 22:43] Jaykul opened #5185 "Start-Process should support timeout"
[System.Diagnostics.Process] has a .WaitForExit which has a timeout value.

Start-Process should have a parameter where we can pass that instead of needing to -Passthru and capture the process object...

[2017-10-20 23:01] stlth commented on #4214
I vote for **`pwr`**!

[2017-10-20 23:14] lzybkr commented on #5146
Because a pipeline isn't allowed as the index expression, I don't think there is any ambiguity - one token of look ahead is sufficient - if could be a type argument list, it is, otherwise it must be an expression.

If a pipeline was allowed, a bare word is ambiguous - is it a type or an command invocation.

Note that one token look ahead doesn't mean there is only one token to look for, there is a

[2017-10-20 23:28] dlwyatt commented on #5146
Hmm... playing devil's advocate for a second, do we want to support variables in the type expression?

[code]

If so, then this could be ambiguous:

[code]

[2017-10-20 23:37] SteveL-MSFT commented on #4214
@DaleMitchell how did you get that error?  If you built it yourself, did you reload build.psm1?

[2017-10-20 23:41] SteveL-MSFT commented on #3611
@bitcrazed Changing Windows PowerShell to use color[0] is a non-starter for various reasons.  For PowerShell Core 6, we're using color[0] as background color.

[2017-10-21 00:09] lzybkr commented on #5146
That seemed useful in V2, but it's been that long since I've seriously considered it.

And honestly, if we wanted to support that, I'd look for a different syntax for explicit type parameters.

[2017-10-21 00:19] dlwyatt commented on #5146
ok, cool.  I'll be on a plane for 4-5 hours tomorrow morning; if I'm not feeling too groggy (waking up at 4am, bleh), I'll plug away at it a bit.

[2017-10-21 00:20] charlieschmidt commented on #3898
Progress on this: https://github.com/charlieschmidt/PowerShell/commit/8f79094dff0959850c1dd58fe5d9c518b581dca5
I'll get the tests & docs added this weekend and do a proper PR

[2017-10-21 00:20] SaschaNaz commented on #4214
https://github.com/dahlbyk/posh-git for example.

[2017-10-21 00:22] SteveL-MSFT commented on #4214
`pwsh` is pronounced `posh`.  @SaschaNaz POSH already exists as a shell unfortunately

[2017-10-21 00:27] lzybkr commented on #4214
Did I miss a @PowerShell/powershell-committee vote on how it's pronounced? :)

I thought maybe we could pronounce it `Microsoft Next Generation Command Line Interface Shell Experience 2017`, or maybe just, you know, `powershell`.

[2017-10-21 00:29] mkellerman commented on #4214
Won’t use it until Microsoft Next Generation Command Line Interface Shell Experience 2017 Service Pack 2 is released...

[2017-10-21 00:31] SaschaNaz commented on #4214
Yeah, it will be VERY confusing when a user wants posh, tries `sudo apt install posh` and then gets a completely different shell.

[2017-10-21 00:37] SteveL-MSFT commented on #5184
Personally, I think we should not enhance `start-process` and instead provide ways to solve interacting with processes natively.  It seems that if we make the Variable: provider work like a file, this should solve some of your problems?

[code]

`Tee-Object` doesn't work with redirection, so need to think how to redirect while still outputting...

We should also allow redirecting one stream to ano

[2017-10-21 00:38] SaschaNaz commented on #4214
BTW, *poh-sh* or *pah-sh*? Most certainly the latter?

[2017-10-21 00:38] SteveL-MSFT commented on #4214
The package name is still powershell, no change there:

[code]

[2017-10-21 00:42] lzybkr opened #5187 "Passing a ScriptBlock (in syntax only) to native commands produces surprising results"
Steps to reproduce
------------------
Run a command like

[code]

PowerShell has long assumed that an argument that looks like a `ScriptBlock` is always a script block - regardless of what command is being called. If the command is native, a very different command line is passed.

This doesn't make sense for most native commands. Long ago there was a vision that there might be many native commands

[2017-10-21 00:47] SteveL-MSFT commented on #5187
So the expected behavior is that if the command is native, braces are literal always?  What about parenthesis?

[2017-10-21 01:28] lzybkr commented on #5187
I'm suggesting syntax doesn't matter - if the **value** is a `ScriptBlock`, pass the literal text unless calling `powershell.exe` or `pwsh.exe`, then use `-encodedCommand`.

We could attempt to be smart too - only pass the literal if the `ScriptBlock` has no whitespace, or I suppose escaped whitespace

[2017-10-21 08:55] it-praktyk commented on #4268
I've observed the same issue what you can easily reproduce.

Please clone the Pester branch [Dev4-1_PSCore_compatibility](https://github.com/pester/Pester/tree/Dev4-1_PSCore_compatibility), check out to the commit [89344732785b862c4c0fcc72050290df6fce9e5f](https://github.com/pester/Pester/tree/89344732785b862c4c0fcc72050290df6fce9e5f) and run tests from the file [Functions/Assertions/Be.Tests.ps1]

[2017-10-21 09:41] #5131 closed

[2017-10-21 10:33] iSazonov commented on #5158
I'm surprised too that we compile a string instead of files. We could use `CompileAssemblyFromFile`

[2017-10-21 15:02] lzybkr commented on #5158
Good suggestion - it might not have been an option with CodeDom, but now that we're using Roslyn, there obviously should be better options.

[2017-10-21 15:10] lzybkr commented on #5168
I think you're asking for shebang support.

The extension can't be the answer - new releases will always introduce features, but worse, the version of PowerShell is just one of the variables that impact whether a script will work or not.

[2017-10-21 17:10] thezim opened #5191 "Recommended terminal settings."
For Unix operating systems what are the recommended terminal settings? Is this documented anywhere outside of repo issues?

[2017-10-21 17:41] thezim opened #5192 "Bash aliases do not work in PowerShell."
Steps to reproduce
------------------

[code]
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-21 17:48] markekraus commented on #5192
Likewise PowerShell aliases don't work in bash:

[code]

I would not expect bash aliases to work in PowerShell and I would not expect PowerShell aliases to work in bash. Aliases are a convenience for the shell you are working in.

Take this example going from bash to sh without any powershell involvement:

[code]

[2017-10-21 17:50] markekraus commented on #5192
Bash aliases also don't work going from bash to bash:

[code]

[2017-10-21 19:50] iSazonov commented on #5175
We could borrow method overloads idea from C#. In this case, we only need to find the appropriate entry point into the cmdlet from several.

[2017-10-21 19:58] markekraus commented on #5175
@iSazonov I'm not sure how you apply the same logic to exclusive parameters of the same type with different names. I have hard time visualizing this as being less work for the user. You'd need to basically define each unique binding signature. If you have 3 parameter sets and 3 exclusive sets, that 9 unique signatures to define. But maybe I don't have a good idea of what you are proposing. What is

[2017-10-21 20:50] thezim commented on #5192
Perfect sense and I agree even as I wrote the issue that they are their own shells.

While never passed they do work when they are in the `.bash_profile` which is the case for most Linux admins I know. By far 'll' (ls -la) is the most common. I just worry about the user experience once an admin drops to PowerShell.

[2017-10-21 20:52] iSazonov commented on #5166
The issue for Windows only. If we'll think about portability it is better to be based on SMA.dll to get a version by Get-Command.

[2017-10-21 21:01] lzybkr commented on #5175
Parameter sets already are the equivalent of C# overloads.

Some random thoughts:
* A fully general solution might not be necessary or easy to express
* A reasonable goal is to express the most common cases

A not fully formed idea - instead of specifying mutually exclusive parameter, how about expressing compatible parameter sets?

[code]

So this says:
* A is compatible with C and D
* B is also

[2017-10-21 21:08] rkeithhill commented on #5168
Agreed.

Hmm, most of our shebang'd scripts at the moment run on Windows PowerShell just fine.  And it is convenient that I don't have to tell my team they all have to install PowerShell Core on Windows.

At some point though, we are going to want to use features only available in PS Core.  It seems like `#requires` is the appropriate way to declare that dependency. Although I'd prefer a new `-Edi

[2017-10-21 21:17] #4172 closed

[2017-10-21 21:21] markekraus commented on #5192
Which is also true of PowerShell aliases in your `$profile` when you launch PowerShell

I think it's important to remember that PowerShell isn't something you use *under* bash, but something you use *in place of* bash. PowerShell is a shell just like bash and tsc. tsc doesn't use bash aliases, and bash doesn't use tsc aliases so there shouldn't be any expectation for PowerShell to use bash or tsc

[2017-10-21 21:21] SteveL-MSFT commented on #5166
@DarwinJS what @iSazonov has found is that SMA.dll has file version information already with PSCore6 even on non-Windows.  Since that is a core dll that will always be there with PowerShell, you can rely on it.

[2017-10-21 21:30] lzybkr commented on #5168
`#requires` tells you when you're doing it wrong with an error.

Shebang runs the right version of PowerShell for you implicitly (assuming you specified the right path of course.)

I'm not saying we can get shebang into Windows, but I still think it's what you're looking for.

[2017-10-21 21:40] markekraus commented on #5175
@lzybkr I'm trying to wrap my brain around how to use that in the instance where you have, say, 2 governing parameter sets, but then you have 2 sets of mutex parameters

There is set A and set B. Set A includes normal parameters A1 and A2. Set B includes normal parameters B1 and B2. There is a C and D which are mutex but belong to both A and B sets. There is also E and F which are mutex and can be

[2017-10-21 21:42] stuajnht commented on #5185
Hi,

I'm happy to have a look at this issue if no-one else has been assigned to it, and it is something that is wanted.

If so, I have a few questions:
- Having a look through the codebase, I believe the file [`Process.cs`](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Management/commands/management/Process.cs#L2016) is where this should be implemented
- [`

[2017-10-21 21:44] markekraus commented on #5175
If only this were possible:

[code]

[2017-10-21 21:58] markekraus commented on #5168
hm maybe shbang doesn't need to be windows. If you could mix `#!` and `#requires`

assuming shbang support was added in core,

[code]

if you tried to launch that in 5.1 it would die rightfully so. If you launch it in core it would run fine

[code]

if launched in core, core could launch powershell.exe. if launched in powershell.exe it would just ignore the comment.

Then the user just places .ps1

[2017-10-21 22:14] rkeithhill opened #5194 "Building PowerShell Core on WSL generates error"
FWIW I do seem to get a valid pwsh built and I can run it.  So that is good.

Steps to reproduce
------------------
1. Make sure you're running WSL Xenial 16.04.
2. Install PowerShell Core for Ubuntu 16.04 in WSL
3. Start PowerShell Core in WSL
4. Cd to your Windows clone dir e.g. `cd /mnt/c/GitHub/PowerShell`
5. ipmo ./build.psm1
6. Start-PSBootstrap
7. Start-PSBuild

BTW this is a darn convenien

[2017-10-21 22:22] DarwinJS commented on #5166
I appreciate the tip.  It would be great if it could be right in the EXEs like you all did with openssh.

For instance, I was working on the ability for the openssh package to probe for which exe to use for the DefaultShell.  By the time I got it done, I realized I would need to make sure they can only choose an EXE and should not be allowed to have any wildcards in the file name so that they are

[2017-10-21 22:57] #5192 closed

[2017-10-21 22:59] SteveL-MSFT commented on #5166
@DarwinJS I have a PR opened for pwsh.exe on Windows, @iSazonov's comment is that checking the version of pwsh.exe only works on Windows while checking version of SMA.dll works on all platforms.

[2017-10-21 23:22] devblackops commented on #5171
Going back to shared tasks via psake, there were discussions at last year's PowerShell Summit about the desire for psake to support shared task modules (apart from how you can just bundle up your task code in module functions and have thin psake tasks call them). As far as I know, there has been no movement on that.

[2017-10-21 23:33] DarwinJS commented on #5166
@SteveL-MSFT - thanks for clarifying!  I was thinking it was being offered as a permanent alternative.

[2017-10-21 23:48] SteveL-MSFT opened #5196 "If a filename contains a backslash, the default format for file/folders incorrectly renders it as a folder"
If you have multiple files in the folder, it makes the listing hard to read as it's grouped by the fake folder.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-22 00:16] SteveL-MSFT commented on #5175
@markekraus that's what I was moving towards as it's much easier to read and modify although it means introducing a new syntax.

[2017-10-22 00:27] markekraus commented on #5175
@SteveL-MSFT I really like the idea. It separates parameter binding definition from parameter definition and it works like a nice in-code self-documentation. But, yea, a new syntax and a new parser. I have no clue where to even begin implementing that or how to make it coalesce with the existing `[Parameter()]` attribute.  I'm assuming it would be tricky and/or complex to implement

[2017-10-22 00:45] briantist commented on #3061
@mklement0 I haven't followed this in a while, but as I think about it more I do actually think that `$_` should remain writable.

One reason for this is that it's common to modify the object in `$_`, using `Add-Member` for instance. Because the object is probably a reference, it could be that this would still work, if the only thing being prevented is overwriting the variable itself (with a value

[2017-10-22 01:18] charlieschmidt commented on #4065
@paalbra are you able to reproduce this on a verison of powershell-core?  That line is correct - if the file exists, and the user hasn't said -Append (after some other conditions) - then delete the file before starting any of the real logic.   That wipes it out as expected.

And fwiw, works for me on:

[code]

[2017-10-22 02:31] mklement0 commented on #3061
@briantist: You should read the thread at #3695 - it's been decided to leave `$_` writable, mostly so as not to break existing code.

That said, the solution to passing a collection to `ForEach-Object` as-is is to use `-InputObject` rather than the pipeline:

[code]

[2017-10-22 06:10] SteveL-MSFT commented on #4065
With beta.8, following the repro steps, it does delete the file if `-Append` is not used, as expected.  However, the transcript file does exist including a bunch of header information as well as the `stop-transcript` command.

[2017-10-22 06:17] SteveL-MSFT commented on #5185
@stuajnht Great!  Consider it yours!  I think following the conventions of `Wait-Process` makes sense.  I'll remove the `Up-for-Grabs` so someone else doesn't duplicate your work.  Thanks!

[2017-10-22 17:28] iSazonov commented on #5175
I think we've already caught the main idea - to separate parameter definitions from parameter set definitions.
As I said above we can consider Json, Yaml, BNF dialect or C# patterns for new parameter set syntax.

_I believe we should sample all these options._

For C# like pattern:
[code]
As you can see, the definition will be long. Its advantage is that it is a full general solution, easy to comp

[2017-10-22 17:33] iSazonov commented on #5166
I found SMA.dll idea in VS Code repo - they use that to enumerate PowerShells on all platforms.

[2017-10-22 17:37] vors opened #5198 "Unexpected MissingEndParenthesisInMethodCall"
Method call parsing fails when it should not

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

parses fine

Actual behavior
---------------

parsing error

Environment data
----------------

[code]

[2017-10-22 18:11] paalbra commented on #4065
@SteveL-MSFT I just ran through the repro steps and the issue is still present in beta.8 (with some changes).

Did you follow my steps all the way? What account did you use? The account I'm referring to as "myuser" should be an unprivileged account. The account doing the file access setup should be privileged (e.g. an administrator).

@charlieschmidt You should not be able to do that. I believe yo

[2017-10-22 18:15] markekraus commented on #5175
@iSazonov From your syntax I have no clue what is a mandatory vs optional parameter. I also don't quite understand what the `=0` and `=1` etc mean. Is that position?

My biggest dislike of that is that it requires a ton of definitions. I'm just thinking of the 3 pages worth of definitions that would be needed to implement that on the web cmdlets. It also makes he really hard to track where you are

[2017-10-22 18:36] markekraus commented on #5175
@iSazonov what would a JSON solution look like?

Maybe this?
[code]

[2017-10-22 18:47] iSazonov commented on #5175
@markekraus It is full C# pattern. Optional parameters has explicit defaults.

Yes. Currently we can be short because we can skip silently many combinations. The side effect - the user is completely unclear what is acceptable until it examines the cmdlet description and tests all functionals.
Can we be short with new proposed syntax? (This is true for any _new_ syntax!). Yes. We can only specify w

[2017-10-22 18:53] mklement0 commented on #4214
A quick (opinionated) state-of-the-debate post:

* As for the _file name of the binary_: the decision has been made and publicized: `pwsh` it is.

* As for _pronunciation_:

  * There is none that can convey the exact spelling of the binary to the _uninitiated_ - no choice but to spell it out.

   * To the _initiated_, "PowerShell" is arguably all that's needed, as it will usually be clear from th

[2017-10-22 18:53] markekraus commented on #5175
Yaml example.

[code]

[2017-10-22 18:55] iSazonov commented on #5198
`$response.Send($service | ConvertTo-Json)` failed too.
Do we really support a pipe as method parameter?

[2017-10-22 18:57] markekraus commented on #5175
Forgive me... I have no clue what that is (reminder that I'm now only 8 months into C# 😉 ).

Sure they can. Just try using your syntax for the web cmdlets.. You will likely have well over 100 definitions. You are definitely going to miss one. I have a pretty deep understanding of these cmdlets and I'm not confident I wouldn't miss one.

[2017-10-22 18:59] rkeithhill commented on #4214
Back in the old days when we used MKS Toolkit for cross-platform script support, we used `ksh.exe` but we always called it `KornShell`.  So even though the binary is `pwsh`, I will call it PowerShell.

I think this whole "how do you pronounce the binary name" issue could have been avoided if the binary name had been `pwrsh` but that ship has sailed.

[2017-10-22 19:00] rkeithhill commented on #5198
Shouldn't that be `$response.Send(($service | ConverTo-Json))`?

[2017-10-22 19:01] iSazonov commented on #5175
This problem exists for any new syntax. Any optimization found for one will apply to the other. :-)

[2017-10-22 19:04] markekraus commented on #4214
Back in the "old days" (does 15 years ago count?) my team called the binary "kish", and "KornShell" was for general discussion of the shell.

Example:

"Type ooser bin kish then hit enter. Now you are in the KornShell"

[2017-10-22 19:07] markekraus commented on #5175
@iSazonov It doesn't have to. The JSON and YAML options pull of that level of complexity with way less code.

[2017-10-22 19:16] rkeithhill commented on #4214
It's somewhat relative to the person I guess.  My experience w/KornShell started 24 years ago.  15 years ago my daughter was a toddler and that doesn't seem that long ago.  Yikes - time flies.

Can't say I've ever heard it pronounced that way.  :-)

[2017-10-22 19:30] markekraus commented on #4214
Yea. outside of that team it has always been "ksh" or "KornShell". But that's kind of the point: discussing how people will pronounce the letters "pwsh" (absent "PowerShell") and seeing if there is any consensus. It's not a completely serious discussion and nothing is ever going to be an official pronunciation since its an unpronounceable word (no disrespect intended to team-`push`). but it has me

[2017-10-22 19:57] joeyaiello commented on #5087
Originally, I saw this as a good "step 1" to "the grand refactor" we've been talking about to optimize for non-interactive scenarios, but if `-NonInteractive` already does that, I don't see a need for an additional switch. `Remove-Module PSReadline` in your profile seems like a good enough solution there, though it'd be easier to assess if we had perf stats on loading PSReadline.

[2017-10-22 20:21] bergmeister opened #5199 "ConvertFrom-Json silently throws away duplicated keys with identical casing"
If the JSON contains duplicate keys with the same casing, then  only the last key is used and the others are silently thrown away. The code in `JsonObject.cs` [here](https://github.com/PowerShell/PowerShell/blob/50f6667bdb0739a315f13b3dd013dc0fb96103cb/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/JsonObject.cs#L103) actually caters for this case and would throw an error but

[2017-10-22 20:21] SteveL-MSFT commented on #4214
Before working at Microsoft, I was a Unix person and has always called ksh Korn Shell and csh C Shell.  I don't recall anyone back in those days trying to pronounce them as words :P

[2017-10-22 20:23] rkeithhill commented on #4374
We could really use this.  Been hitting issues trying to get PSReadLine to compile on Linux as a netstandard2.0 library.  It doesn't work against PS.L v3 because the module uses debugger properties that were added after v3.  Also been trying to get PSES to compile as netstandard2.0 on Linux and I run into a missing property (SupportsVirtualTerminal) on the PSHostUserInterface interface.

BTW shoul

[2017-10-22 20:26] SteveL-MSFT commented on #5087
@joeyaiello `-NonInteractive` doesn't solve the case where you want interactive, but not PSReadline.  `Remove-Module PSReadline` is not a good solution as I believe generally people want PSReadline (since the built-in readline now is by-design very primitive), but there are some cases where things don't work well with PSReadline enabled (ssh, ShellInABox, etc...).

For me, it seems the simplest th

[2017-10-23 03:20] iSazonov commented on #5087
So we speak about interactive session I'd prefer Remove-Module in profile or an option in config file.
If anybody don't want at all it is possible to uninstall the module.

[2017-10-23 03:33] iSazonov commented on #5199
It is really bug - Json don't allow duplicate keys with the same case.

[2017-10-23 04:03] dlwyatt commented on #5146
I might be biting off more than I can chew on this one.  I've tweaked the parser and AST to support the syntax, but I'm having trouble wrapping my head around the compiler and binders to see where to make use of the new information from the AST.  Will sleep on it.

[2017-10-23 05:30] lzybkr commented on #5198
Method arguments must be expressions, they can't be a pipeline.

If a pipeline were allowed, there would be some ugly ambiguities to resolve, e.g.

[code]

Does this pass `Get-Thing 1` and `2` to `Method` (2 arguments) or the result of `Get-Thing 1,2` (one argument).

[2017-10-23 05:49] jamesbannan opened #5200 "Escape character does not pass through double quotes"
I am trying to pass a query string through to the Azure CLI from within a PowerShell session. I have a working query for Azure CLI which has been tested against bash:

[code]
This returns the correct query string which is:
[code]
The double quotes around "image-offer" are needed for the query to work properly. This behaviour is not the same when the query is run in PowerShell (replacing the '\' es

[2017-10-23 05:55] iSazonov commented on #5198
Can we write more clear error message in the case?

[2017-10-23 06:13] vors commented on #3666
Hit it again today, because of https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/11
The above issue makes the `\` very common char in the unzipped names on macOS.

I think both escaping and literal path are not good solutions, because they break all the normal ways that we work with files in powershell

[code]

Like, that stuff should just work, no matter what.
As one mitigation fo

[2017-10-23 06:15] vors commented on #3666
Also literal path doesn't work

[code]

But I would argue that it's not the right way to fix it.
We can error out if the command is ambiguous, but when it's not we should just silently execute that.

[2017-10-23 06:45] vors commented on #5198
Ah I see.
I think it's worth to go an extra mile to write a special case error message as @iSazonov suggested.

[2017-10-23 11:49] markekraus opened #5201 "AppVeyor build fails due to addition of .NET Core 2.0.2 to build image"
AppVeyor updated the Visual Studio 2017 image to include the 2.0.2 SDK on 2017-10-22
https://www.appveyor.com/updates/

This results in the build failing with the following:

[code]

example build fail: https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.8-6270

[2017-10-23 11:49] markekraus commented on #5201
cc/ @TravisEz13

[2017-10-23 12:20] iSazonov commented on #5201
Interenting, the image contains 2.0.0 too? #5118 can help.

[2017-10-23 12:24] markekraus commented on #5201
I think it's because we are doing a `-ne` check on the version of `dotnet`:

https://github.com/PowerShell/PowerShell/blob/5b2bbcbf89251734e8557a55c5df40bfb1cba979/build.psm1#L414

[2017-10-23 12:25] markekraus commented on #5201
we would probably need to fix that and merge #5118

[2017-10-23 13:42] iSazonov commented on #3834
You should ask CoreFX team to support MacOs 10.11.

[2017-10-23 14:11] iSazonov commented on #3834
PowerShell Core is based on .Net Core 2.0.
.Net Core 2.0 support MacOs 10.12+ https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md

[2017-10-23 15:26] alx9r opened #5202 "$PSBoundParameters contains vestigial arguments from prior records"
This behavior exists since at least version 4, but I have diagnosed this as the cause of countless unexpected failures so I'm proposing that it be addressed somehow.

`$PSBoundParameters` seems to be customarily used to pass parameters from one function to another function whose interface is substantially similar.  The problem is that `$PSBoundParameters` seems to retain the _last_ value bound to

[2017-10-23 15:47] Jaykul commented on #5200
The problem is that you're calling a native cli app ... and PowerShell does stuff, but then the cli does more stuff. Did you try putting the `\` in too?

[code]

Otherwise, you need to either use the `--%` to tell PowerShell to stop processing your stuff
Or use start-process so you can quote the whole block of parameters at once

[2017-10-23 16:35] #3081 closed

[2017-10-23 17:21] JamesWTruher opened #5204 "We should provide a way to set the encoding to the way it was in PowerShell 5.1"
The original encoding spec included a way to set the encoding back to the original, un-consistent which was removed. This should be implemented in a future release

[2017-10-23 18:21] tylerl0706 opened #5205 "PowerShell hangs when exiting having used a PowerShell runspace pool/runspace"
PowerShell Core hangs when exiting and using a PowerShell runspace pool. On Windows PowerShell it exits successfully.

Steps to reproduce
------------------
here's the gist for my code: https://gist.github.com/tylerl0706/2d87a13c6147278bb4e8565585aa9722

Steps:
[code]

Expected behavior
-----------------
PowerShell successfully exists

Actual behavior
---------------
PowerShell hangs and doesn't g

[2017-10-23 18:22] #5015 closed

[2017-10-23 18:22] tylerl0706 commented on #5205
@vors and I were both able to repro this locally.

[2017-10-23 18:29] markekraus commented on #5201
It looks like #5118 was sufficient enough to fix the problem:

https://ci.appveyor.com/project/PowerShell/powershell/build/1.0.6275

[2017-10-23 18:29] #5201 closed

[2017-10-23 18:33] lzybkr commented on #5175
I'm really liking the "PowerShell figures it out from your syntax" approach - and my primary reasoning - it should be an inverse function - meaning we might have a verbose way to specify the same with attributes, but nobody would use that going forward.

[2017-10-24 00:54] #2095 closed

[2017-10-24 04:38] daxian-dbw opened #5207 "The icon of powershell AppImage is not set properly"
After installing the AppImage (run it and click OK when prompting for desktop integration), the icon shown up in GNOME search is not the PowerShell icon, but like this:
![image](https://user-images.githubusercontent.com/127450/31925010-7110c6e0-b83a-11e7-9f08-658f47c67322.png)

[2017-10-24 06:46] Tadas commented on #5104
What seems to be happening is that during Invoke() `Microsoft.PowerShell.Utility\Write-Output` (aka. `echo`) triggers `CommandDiscovery.TryModuleAutoDiscovery`. While CreateDefault() returns with that module already loaded.

I've tried to explicitly import "C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules\Microsoft.PowerShell.Utility\Microsoft.PowerShell.Utility.psd1" before Write-Output but it

[2017-10-24 10:31] SteveL-MSFT commented on #4917
Official word from legal is to use `(c)`

[2017-10-24 12:04] atanasa commented on #4899
Just to let you know, the callback currently (as of .Net Core 2.0) does not work on all platforms (e.g. OSX). The two modes that you are referring to (default validation and skip validation) are the only consistent modes currently supported by .Net Core. There is hope for this to get fixed with the next version of .Net Core.
I am trying to get this documented: https://github.com/dotnet/corefx/issu

[2017-10-24 12:18] markekraus commented on #4899
@atanasa Yup, I'm aware. Though in some instances it seems to work and in others it doesn't. It was passing our macOS tests for awhile and then stopped. I finally got a loaner mac to troubleshoot, but I just haven't had time (real job getting in the way ☹️ ). We have a similar issues with `-Certificate` and certificate based authentication with the web cmdlets.

[2017-10-24 12:24] joandrsn commented on #2747
This issue should probably be closed since issue #5090 which has been addressed in pull-request #5094

[2017-10-24 12:36] iSazonov commented on #5175
Original C# overloads look cumbersome.
[code]
After we remove types it looks simpler.:
[code]

For example above signatures will be ('+' - optional parameter):
[code]
For Add-Member cmdlet ($PassThru we can exclude at all):
[code]

[2017-10-24 13:10] iSazonov commented on #2747
We removed `ComputerName` parameter at all in #5094

[2017-10-24 13:10] #2747 closed

[2017-10-24 14:33] dlwyatt commented on #5146
@lzybkr

Can I pick your brain a bit about this one?  Updating the parser was fairly straightforward, and when I look at the Adapter / DotNetAdapter / PSMethod classes, it's very similar to what I wrote in PSGenericMethods (easy to add some new overloads that accept a list of generic type arguments).

Between those, however, I'm getting lost in the Binders / DLR expression tree stuff, trying to fi

[2017-10-24 14:33] powercode commented on #5184
@SteveL-MSFT   For long running commands, this would make it look like powershell has hung.

I think we need a layered approach where the lowest level converts output and errors to a tagged union of `output * string` and `error * string`. On top of that it is quite easy to layer redirection to different streams, or to capture in variables.

It also opens a path to handling more complex commands wh

[2017-10-24 14:43] powercode commented on #5184
[code]

Something similar would make it easy to use from the PowerShell side.

[2017-10-24 15:05] samirageb commented on #3834
I came to the same conclusion as @iSazonov and upgraded to Sierra, installed .NET Core 2.0, then PoSH and everything works fine.

[2017-10-24 16:38] #5008 closed

[2017-10-24 16:39] daxian-dbw opened #5211 "powershell 6.0.0-beta.9 release"
From:  https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md

- [x] Create a branch named `release` in `PowerShell/PowerShell` repository.
   All release related changes should happen in this branch.
- [x] Run tests on Centos 7 and publish results
- [x] Run tests on Debian 8 and publish results
- [x] Prepare packages
   - [x]  [Build release packages](#building-package

[2017-10-24 16:49] lzybkr commented on #5146
Look at `PSMethodInvocationConstraints` - I think that's the right place - just be sure to update the hashing so you don't reuse the same binder in different dynamic sites.

And FYI - I'll be slow to respond over the next week.

[2017-10-24 17:01] markekraus commented on #5175
To add to the problems... currently ValueFromPipeline, ValueFromPipelineByPropertyName, DontShow, etc can be configured per parameter set how do we jive that with any of the new syntax proposals? more sigils? do we not?

[2017-10-24 17:49] iSazonov commented on #5175
For general solution we should allow set attributer in parametersets. This allows us to use the exact type to InputObject.

[2017-10-24 19:57] mebersol opened #5214 "Stop-Service xxx fails with "Cannot open xxx service on computer '.'.""
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-24 23:30] dantraMSFT opened #5219 "PrioritySendDataCollection.Clear() can throw a null reference exception"
If the system is not configured correctly for SSL, enter-pssession fails. However, the error that is reported is a NullReferenceException at PrioritySendDataCollection.Clear() due to missing null check. The result is a misleading error that results in investigating the wrong issue.
This was seen on Debian 9 which did not have openssl 1.0.0.

Steps to reproduce
------------------
Create an instance

[2017-10-24 23:53] JamesWTruher opened #5220 "Invoke-Item.Tests.ps1 should handle finding multiple ping executables"
On openSUSE the following test failed for Beta.9.
[code]
The test should handle finding multiple copies of ping

[2017-10-25 00:58] #3217 closed

[2017-10-25 01:02] SteveL-MSFT commented on #5187
Isn't this a dupe of https://github.com/PowerShell/PowerShell/issues/1761?

[2017-10-25 03:27] SteveL-MSFT commented on #5199
As best as I can tell JSON doesn't require member names to be unique, only [recommended](https://tools.ietf.org/html/rfc7159#section-4).

[2017-10-25 06:33] SteveL-MSFT commented on #5205
I think I have a simpler repro without using httplistener

[code]

[2017-10-25 06:40] iSazonov commented on #5199
:-) I believe implementations "MUST" follow "SHOULD recommendations".

In any case I think `JsonConvert.DeserializeObject` works incorrectly.

[2017-10-25 06:48] twitchax opened #5224 "Newtonsoft.Json version (10.0.1) that ships with PowerShell 6.0 Beta 8 has Concurrent Collections deserialization bug."
Update to Newtonsoft.Json >= 10.0.3 will fix this issue.  Unfortunately, even if a `PSCmdlet` references the newer version, the version of Newtonsoft.Json that ships with PowerShell 6.0 is loaded instead of the version referenced by the `PSCmdlet` library because PowerShell 6.0 owns the AppDomain and configuration.

See Azure/azure-powershell#4488 where this issue has been shown to affect Azure Po

[2017-10-25 06:54] twitchax commented on #5224
Note: it appears as though this change has been made in the repo.  Feel free to close when Beta 9 ships.

[2017-10-25 07:06] bergmeister commented on #5199
I found the first 2 answers [here](https://stackoverflow.com/questions/21832701/does-json-syntax-allow-duplicate-keys-in-an-object) interesting and their statement is basically that although it is valid JSON from a puristic point of view, JSON parsing libraries have and can choose different behaviours without conflicting with the standard. Normally one should trust the foundation, which is `Newton

[2017-10-25 07:07] dustinmoris opened #5225 "Powershell not found"
The latest Powershell build doesn't seem to be able to execute a Powershell script any longer.

I have two identical builds where one has successfully finished with an older version of Powershell (`6.0.0-beta.8-1.ubuntu.14.04`) and the other fails with the latest version (`6.0.0-beta.9-1.ubuntu.14.04`):

[Successful build](https://travis-ci.org/dustinmoris/Giraffe/jobs/292284619)
[Failed build](ht

[2017-10-25 07:34] iSazonov commented on #5199
If the standard say "SHOULD" it allows for a _reasonable_ deviation from the standard. This means that the API must have the option to turn on or off duplicate keys.

[2017-10-25 08:09] MattTunny commented on #3607
yeah this would be awesome to have, ended up using https://github.com/awslabs/aws-cfn-template-flip to convert

[2017-10-25 08:20] SteveL-MSFT commented on #5225
I believe the problem is that we're in the middle of the beta.9 release with some packages published (which renamed the exe to pwsh), but the full release isn't done yet.  This should be resolved by tomorrow once the beta.9 release is complete.

[2017-10-25 08:47] joeyaiello opened #5226 "Directory for $PSHome when updating on Windows with MSI"
On Windows, when we do an update install with an MSI, the directory of `$PSHome` gets changed to reflect the version number. For example, `C:\Program Files\PowerShell\6.0.0-beta.8` gets changed to `C:\Program Files\PowerShell\6.0.0-beta.9`.

Unfortunately, this breaks any user-created shortcuts that are hard-coded to the exact path of PowerShell. Similarly, apps like VS Code get hardcoded to that

[2017-10-25 09:00] markekraus commented on #5226
I have managed versions and SxS with other languages ins linux by having a symlinks. Something like `/path/to/project.latest` which is a symlink to `/path/to/project.1.0.2.3/` when a new version is added, the symlink just gets updated to the new path. Perhaps something similar could be done with junctions?

`C:\Program Files\PowerShell\Latest` -> `C:\Program Files\PowerShell\6.0.0-beta.9`

[2017-10-25 09:11] JohnLBevan opened #5227 "Splatting a property"
**Summary**

It would be helpful if we could splat using the property of a variable (i.e. where that property is itself a hashtable) to a command.

**Code Example:**

    function Test-Demo {
        [CmdletBinding()]
        Param (
            [Parameter()]
            [string]$One
            ,
            [Parameter()]
            [string]$Two
        )
        "1 = $One"
        "2 = $Two"

[2017-10-25 09:30] SteveL-MSFT commented on #5224
Confirmed that building master you get 10.0.3

[2017-10-25 09:30] #5224 closed

[2017-10-25 10:08] iSazonov commented on #3607
@MattTunny Welcome to contribute! :-)

[2017-10-25 11:02] #2579 closed

[2017-10-25 12:52] psteniusubi commented on #4814
A workaround for anyone who runs into this issue:

If you want to use Add-Type to compile more than a single .cs file, then move your "using" directives inside "namespace" declarations:

[code]

[2017-10-25 12:56] affieuk opened #5228 "New-Item ignore's Path param if Name param is specified"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-25 12:58] marciohacosta commented on #5211
Calling powershell from CLI on Ubuntu 16.04 is resulting in "command not found" after upgrading to beta.9.
Trying installing or upgrading again is resulting in "powershell is already the newest version (6.0.0-beta.9-1.ubuntu.16.04)".

[2017-10-25 13:11] affieuk commented on #5228
This also occurs in a mounted a vhdx.
[code]

[2017-10-25 13:12] iSazonov commented on #5228
@affieuk Thanks for your report!

I can confirm that new directory is created in _current folder_ not in `Path`.

[2017-10-25 14:08] sowderca commented on #5211
@marciohacosta, it appears that the command to call is now pwsh.

[2017-10-25 14:09] rolltide78 commented on #5130
Same for me on high Sierra. What about a basic remoting session to a Windows server from macos? Is that possible?

[2017-10-25 14:23] marciohacosta commented on #5211
@sowderca, indeed! Thanks!

[2017-10-25 16:19] #3961 closed

[2017-10-25 16:48] TravisEz13 opened #5231 "publish a new libpsl"
Publish a new libpsl nuget for the following changes:
https://github.com/PowerShell/PowerShell/pull/5149
https://github.com/PowerShell/PowerShell/pull/5089
https://github.com/PowerShell/PowerShell/pull/4933

[2017-10-25 17:36] Jaykul opened #5232 "Major module loading problems in beta 9"
If I modify the PSModulePath, it causes errors on practically every module load.

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Silent success

Actual behavior
---------------

No matter what module you load, you get an error message. For instance:

[code]

Note: the module _**is** loaded_, but the error message indicates that it was not. This applies to modules

[2017-10-25 17:59] Jaykul opened #5233 "Major Module Loading Problems in beta 9 (part deux)"
Import-Module is importing multiple versions of modules.

NOTE: I first noticed this because I have installed the *pre-release* version of PSReadline, and upon running `pwsh -noprofile` I found that I had **both** 1.2 and 2.0 versions of PSReadline pre-imported.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
1. There should be no errors
2. I should have **one**

[2017-10-25 18:00] bergmeister commented on #5199
According to the author of `Newtonsoft.Json` [here](https://github.com/JamesNK/Newtonsoft.Json/issues/931#issuecomment-224104005) it does not seem to be possible, therefore a different library might be need to be used unfortunately.

[2017-10-25 18:03] christophwille opened #5234 "Binary Module on Mac Problem"
I followed this document https://github.com/PowerShell/PowerShell/blob/master/docs/cmdlet-example/command-line-simple-example.md to build https://github.com/christophwille/ilspy-pscore/tree/master/src

The module works with 5.1 and 6.0b8 on Windows FCU (a dev box with .NET Core SDK installed). When built on Mac, it errors out https://github.com/christophwille/ilspy-pscore/issues/1
[code]
Those lin

[2017-10-25 18:16] Jaykul commented on #5234
That netstandard.dll problem is a problem for anything using full .net prior to the new 4.7.1 which just shipped in the Windows 10 October 2017 update (aka "Fall Creators Update").

That is, if you're using Mono (or .Net Framework prior to 4.7.1) it's not fully .Net Standard 2 compliant, and you're going to have to ship that assembly.

[2017-10-25 18:23] christophwille commented on #5234
Where does Mono come in with PS Core?

[2017-10-25 18:54] rkeithhill commented on #5234
I don't think PS Core uses Mono.  I suspect it is one of the assemblies in your module.  Looks like [Mono 5.2.0](http://www.mono-project.com/docs/about-mono/releases/5.2.0/) is starting to support netstandard2.0.  Not sure how good that support is atm.

[2017-10-25 18:59] christophwille commented on #5234
Can we agree that Mono is not in the picture?

How would I be able to debug this problem where zilch information is given? Is there something in PSCore to get eg binding logs or something else? Aside: tested with Beta 9, same behavior.

[2017-10-25 19:11] TravisEz13 opened #5235 "Sign individual windows binaries"
Update the release builds to sign individual binaries.

## This would change the process to something like this:
- [x]  1. Build the binaries, extract the equivalent of the binaries without publish
    - [x]  i. A zip package similar to our current symbols package but that includes the cross-gen files.
- [x] 2. Unpack the package and Sign the binaries
- [x] 3. create a new container, and put the s

[2017-10-25 19:13] PaulHigin commented on #5205
This is hanging on the PipelineThread._workItemReady event wait.  On exit this event should get set and release the thread wait via the finalizer:
https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/hostifaces/LocalPipeline.cs#L1340

But it looks like the finalizer is not being called.
@daxian-dbw  This appears to be a bug in the .Net Core CLR since it work

[2017-10-25 19:44] christophwille commented on #5234
I am pleasantly surprised that the VSMac debugger can attach to pwsh and debug my binary module. I will report back, but it seems the assemblies themselves are loaded properly.

[2017-10-25 19:49] halr9000 commented on #4214
Could someone concisely explain why a breaking change like this was made? I'm out of the loop (clearly!), and was chatting with @powerschill, and we are just somewhat surprised, given that symlinks are a thing.

Did my refresher reading on the contributing process just now. I thought this would require an RFC at first, but I can see how this may not apply. Next, I'm looking at the policy on breaki

[2017-10-25 20:00] mmattes commented on #5211
Just realized this aswell, but now Visual Studio Code is also not able to start a powershell terminal in it. As it probably expects the command to be `powershell` and not `pwsh`. For anyone who needs a temporary fix the following helped for me:

[code]

[2017-10-25 20:03] mmattes commented on #5225
[See for a temporary fix by creating a link](https://github.com/PowerShell/PowerShell/issues/5211#issuecomment-339453008)

[2017-10-25 20:22] christophwille commented on #5234
Turns out that an actual exception happens in ProcessRecord. However, it is ToString()-d in a way that nothing is shown, even now that I wrapped it with WriteError (had to resort to also writing verbose output). So it is actually a problem on my end but exception output from PS didn't help pointing to the right place at all.

[2017-10-25 20:22] #5234 closed

[2017-10-25 20:29] rkeithhill commented on #5211
Or you can add this to your VSCode user settings on Linux:
[code]

[2017-10-25 20:49] HumanEquivalentUnit opened #5237 "Request / Discussion: Select-Object with one property causes many problems for beginners and has few legitimate use cases for anyone. Can that experience be improved for beginners?"
I see novices posting variations of this over and over on the internet:

And they're too novice to understand the object pipeline well and know what it means to have an object with one property. They want the name, that looks like the way to do it, it looks like it works, but it doesn't actually do what they want.

There's lots of people tripping over this basically-useless edge-case, over and ove

[2017-10-25 21:20] SteveL-MSFT commented on #5233
I just tried this in Windows PowerShell 5.1 and it still loads the latest version even if an older version is loaded.

[code]

[2017-10-25 21:32] SteveL-MSFT commented on #5232
With some code refactoring to support case-insensitive module loading on non-Windows, the loop looking for the module wasn't breaking after it found the module so even though it loaded the module, it thinks it wasn't found so it reports an error.

[2017-10-25 22:20] SteveL-MSFT commented on #4214
@halr9000 https://github.com/PowerShell/PowerShell/issues/4214#issuecomment-335989245

[2017-10-25 22:23] dsolodow opened #5239 "PSCore beta 9 - access denied to PSReadLine ConsoleHost_history.txt on WSL"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------
[code]
It looks like the issue is that /home/username/.local/share/powershell is owned by root:root with perms 766

[2017-10-25 22:24] dsolodow commented on #5239
![image](https://user-images.githubusercontent.com/7574074/32026295-cd4db33c-b9b1-11e7-9c38-5f851a073182.png)

[2017-10-25 22:45] SteveL-MSFT commented on #5239
This isn’t reproing for me on Ubuntu16.04 and beta.9

[2017-10-25 22:57] dsolodow commented on #5239
Hmm. Using WSL as well? Shouldn't matter if it's an upgrade from beta8 but
that's what I did.

Sent from mobile

On Oct 25, 2017 6:46 PM, "Steve Lee" <notifications@github.com> wrote:

[2017-10-25 23:03] jamesbannan commented on #5200
Hi @Jaykul - thanks for the update. I didn't try using the ```\``` escape character but I will give it another go. As a workaround I changed the tag name format from ```image-offer``` to ```imageOffer``` - but I will go back and try your suggestions.

[2017-10-25 23:09] Jaykul commented on #5233
@SteveL-MSFT is right, loading the latest version is not a change. The problem therefore, is just:

1. I'm getting an error with every import (#5232)
2. You're importing both PSReadLine versions

[2017-10-25 23:20] NeuralGlue commented on #5130
@andrew951 are you sure the session invocation worked for you in PS 6.0.0-beta.6? It's not working for me on OS X 10.12.6 (Sierra)

[code]

[code]

If you had it working in 6.0b6, does it still work for you?

I installed via:
`brew cask install https://github.com/caskroom/homebrew-cask/raw/ffaaa7b10a8f1f89ff13b4a0f9d2bad23ae62d7a/Casks/powershell.rb`

[2017-10-25 23:28] #5233 closed

[2017-10-25 23:36] daxian-dbw opened #5240 "'Copy-Item -Recursive <source folder> <target folder>' doesn't copy symlink as 'cp -r' does on Linux"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

`Copy-Item -Recursive` should copy the symbolic link to `/tmp/dest`, just like `cp -r`

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-26 00:43] dsolodow commented on #5239
More info:
Looks like ~/.local/share/powershell is created the first time a user launches pwsh
If the first time you run it you do it via sudo, when the folder is created it's owned by root

So if I run
[code]
The folder is the created with the right ownership and permissions.

[2017-10-26 00:56] rkeithhill commented on #5239
Tricksy.  I wonder if the pkg install could populate that folder with an empty PSReadline history file?

[2017-10-26 01:13] dsolodow commented on #5239
You'd also want to make sure the folder tree (especially the Modules and Scripts) directories are created as well or PackageManagement/PowerShellGet will also have issues.

I think though the root issue is that running pwsh with sudo doesn't change $env:HOME; it should be the home directory for $env:USER

[2017-10-26 02:24] lzybkr commented on #5187
Not really a dupe.

[2017-10-26 02:32] SteveL-MSFT commented on #5239
@dsolodow if I do the same with `sudo bash`, then `printenv HOME` shows my current user home folder (not root).  It seems you must use `sudo -i bash` for HOME to change to root.

[2017-10-26 03:08] iSazonov commented on #3623
Leave a comment

[2017-10-26 03:08] #3623 closed

[2017-10-26 03:40] SteveL-MSFT commented on #5239
Given that we have the same behavior as bash, I don't think we should make any change here.

[2017-10-26 04:32] IISResetMe commented on #5227
Sounds like we need to revive https://github.com/PowerShell/PowerShell-RFC/issues/6 - the RFC draft suggests generalized expression splatting, with syntax like:

[code]

[2017-10-26 04:56] #5139 closed

[2017-10-26 05:18] daxian-dbw commented on #5225
@dustinmoris The PowerShell Core executable was renamed to be `pwsh` starting from beta.9 release, and that's why the Travis CI failed with the new package. Please see the issue #4214 for the discussion details.

[2017-10-26 05:19] #5211 closed

[2017-10-26 05:47] SteveL-MSFT commented on #5225
This should be working now since we've completed the beta.9 release

[2017-10-26 05:47] #5225 closed

[2017-10-26 06:12] ThangarasuS opened #5241 "why pwsh"
Hello Team,

why was the standard powershell command was changed pwsh?  I think it would be better if its still remains powershell to launch the shell, so that there wont be any confusion.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-10-26 06:23] RudolfHenning commented on #4214
my 2c. This is a major breaking change. Too many existing batch files in exiting production scenarios already uses powershell.exe to initiate PowerShell scripts. I'm not against providing an additional short command to launch the same executable but removing 'powershell' will cause major havoc. Please provide a way to use both (alias or whatever)

[2017-10-26 06:36] iSazonov commented on #5241
Please read the discussion https://github.com/PowerShell/PowerShell/issues/4214

[2017-10-26 06:36] #5241 closed

[2017-10-26 07:00] iSazonov commented on #5237
I wonder why a beginner don't read a cmdlet description and examples.

[2017-10-26 07:05] iSazonov commented on #5227
@JohnLBevan Can we close the Issue looking https://github.com/PowerShell/PowerShell-RFC/issues/6 ?

[2017-10-26 08:45] JohnLBevan commented on #5227
@iSazonov ; yes, happy for this to be closed given it's already covered there.  Thank-you.

[2017-10-26 08:45] #5227 closed

[2017-10-26 09:01] markekraus commented on #5237
I think changing `select-object` would just move the problem you are trying to address to another cmdlet. The reason why this trips novices up is that the language is object-centric. At some point a novice is going to need to learn that. They just happen to experience it with `select-object` first because i is a common cmdletd.

It's not, really. You may have an object where only one of the proper

[2017-10-26 09:16] markekraus commented on #4214
@RudolfHenning Unlike previous versions of Windows PowerShell, PowerShell Core will operate side-by-side with other version of itself and older versions of Windows PowerShell. There needs to be a way to call both Windows PowerShell and PowerShell core from the command line and from batch scripts without having to call the full path of the intended EXE or without risking the path order resulting in

[2017-10-26 09:49] nightroman opened #5242 "Invoke-RestMethod started to fail in v6-beta.9 on a Windows 7 machine"
- This issue happens on a Windows 7 machine. All works fine on Windows 8.1 and 10.
- This issue is new in v6-beta.9. All was fine in previous betas and is fine in v5.

**Problem case:**

[code]

**Expected result:**

The command returns the requested data.

**Actual result:**

The command fails:

[code]

Some info about the inner exception:

[code]

**Environment:**

[code]

[2017-10-26 09:54] markekraus commented on #5242
It looks like this is related to the change in #4937

[2017-10-26 10:22] windischb commented on #3417
So for now, it's not possible to host Powershell in a Process on Linux?
Or is there a workaround?
Copy files manually, install other packages before, or something?

[2017-10-26 10:33] RudolfHenning commented on #4214
Thanks for the explanation.
Since I'm using both Windows and some Linux OS'es the compatibility of my scripts is a concern at times - yes I know the PowerShell libraries on Linux are strictly still Beta. I've invested quite some time and effort in creating scripts for my Linux machines.
Anyway, keep on doing the good work!

[2017-10-26 10:56] thezim commented on #5242
Note that most web server can and should limit length of individual headers lengths it accepts, I’ve had to do this to adhere to best practices and organizational security requirements on my servers. Usually the request is returned as a 400 series http status code. This might be the case in this instance. For Windows 7 it might be crossing that threshold. If that is the case then the workaround wo

[2017-10-26 11:04] markekraus commented on #5242
@thezim this is occurring during the generation of the user-agent header before it is even sent to the remote server. This is related to a change where we made the user agent platform aware instead of always reporting `Win NT`. The underlying .NET would complain on a non-compliant User-Agent (at least for the default generated User-Agent).

[2017-10-26 11:25] SteveL-MSFT commented on #5130
I don't think any changes have occurred in the wsman client layer so I'd be surprised if it worked for beta.6

[2017-10-26 11:27] SteveL-MSFT commented on #5199
Is there a known use case that depends on duplicate keys?  Otherwise, based on the standard's recommendation, I don't think we must support it and warning the user is sufficient.

[2017-10-26 13:15] iSazonov commented on #3417
@Qowy @windischb Sorry, it seems all experts is busy.

@adityapatwardhan Could you help please? Is there a workaround?

[2017-10-26 13:21] iSazonov commented on #5199
Neton.Json is very popular library - if they don't fix (won't fix) we can ignore this in code and only add notes in docs.

[2017-10-26 14:11] hihayak opened #5244 "Memory leak in Import-PSSession and Remove-Module"
Steps to reproduce
------------------
1. Copy the following PowerShell and edit "My Password" and "My O365 Account" to your own ones.

[code]

Expected behavior
-----------------
Memory usage doesn't increase up to infinity.

Actual behavior
---------------
Memory usage keeps increasing.

Environment data
----------------

[code]

[2017-10-26 15:49] andrew951 commented on #5130
@NeuralGlue @SteveL-MSFT It works in beta.5. Starting with Beta.6, it has stopped working.

[2017-10-26 15:55] RichardSiddaway commented on #5237
I can think of a number of reasons for selecting a single property that are extremely valid and don't see any reason to change the current behaviour of select-object

[2017-10-26 17:05] nanalakshmanan opened #5245 "Add "Describe" as an approved Verb"
Describe is currently not an approved verb. However it is widely used in the AWS CLI. The way the AWS PowerShell modules get around this is by changing the noun to include a list.

Here is an example of the AWS CLI and PowerShell equivalent for describe

[code]

[code]

Here is an example for AWS CLI and PowerShell example for the Get API

[code]

[code]
Essentially, you do a describe by doing a G

[2017-10-26 17:57] nightroman commented on #5245
Why not `Show-X` instead of `Get-XList`?

[2017-10-26 18:03] HumanEquivalentUnit commented on #5237
@RichardSiddaway I cite [your own blog post](https://richardspowershellblog.wordpress.com/2015/12/23/objects-properties-and-values/) where you say "*One thing that seems to keep causing confusion is using Select-Object to pick off one or more properties from a set of objects*", and you blog that it "keeps" causing confusion *9 years* after you started blogging about PowerShell.

You don't see any

[2017-10-26 18:09] markekraus commented on #5245
`Describe` to me is an active verb, not a passive one when I see the word I think if will be defining or scaffolding something.

To me, `describe-automation-executions` and `get-automation-execution` should both be `Get-SSMAutomationExecution` where the default of `Get-SSMAutomationExecution` would return all and `Get-SSMAutomationExecution -ExecutionId $value` or something would return the specif

[2017-10-26 18:10] RichardSiddaway commented on #5237
It's not a problem that technology can fix. Its an education problem. I've seen many people jump into using PowerShell, and other technologies, and make assumptions about how they work or just don't bother to discover how they work. This is where many of the problem you cite come from.

Changing the behaviour of select-object in the way you advocate isn't going to solve those problems as you'll ju

[2017-10-26 18:23] iSazonov commented on #5237
Is our docs well or we need add anything in the cmdlet help to address the Issue?

[2017-10-26 18:26] markekraus commented on #5237
@iSazonov The docs could be improved with an example to calls out the common gotcha.

[2017-10-26 18:28] lzybkr commented on #5237
I can see adding a rule to ScriptAnalyzer, but I'm not sure the behavior should be changed.

I will say most places I see this pattern, it is not necessary.

Consistency is important here. For example, if the properties are dynamically selected, selecting one or more properties shouldn't cause weird problems downstream.

[2017-10-26 18:45] dantraMSFT opened #5246 "PowerShell Beta 9 causes a regression in the PSRP omi provider due to the name change to pswh."
startCoreCLR in coreclrutil.cpp (https://github.com/PowerShell/psl-omi-provider/blob/master/src/coreclrutil.cpp#L191) finds powershell's coreclr binary using the powershell binary. The change in name to pwsh breaks this logic.

$PSVersionTable
Name                           Value
----                           -----
PSVersion                      6.0.0-beta.9
PSEdition                      Core
Gi

[2017-10-26 19:00] HumanEquivalentUnit commented on #5237
@markekraus "where do you see that?" - imagine you want to write lines of text to a plain text file, and the accepted way was to use `Export-Csv` but tag on the parameter `-ExpandProperty` to tell it not to write a CSV. Is that something you'd expect to be within `Export-Csv`'s remit? Would you be looking there for that feature, or think that was an odd place to put it? With that comparison, would

[2017-10-26 19:14] HumanEquivalentUnit commented on #5237
I'll note that the question was really "Can that experience be improved for beginners?" instead of just "change select-object yes/no". The consideration of dynamic (wildcard) property selection is another convincing dealbreaker against that.

@lzy "I will say most places I see this pattern, it is not necessary." - most places you see ExpandProperty is not necessary, or most places you see selectin

[2017-10-26 19:26] rkeithhill commented on #5226
Furthermore, any shortcuts that get created by pinning the PowerShell launched from the installer, will have the "Start in" directory set the install location rather than `%USERPROFILE%`.  So when I start these shortcuts they start up in the install dir rather than my home dir.  This might be as simple as making the installer "Launch PowerShell" command set the working directory to the current use

[2017-10-26 19:29] markekraus commented on #5237
Forced education camps, maybe? /s

I mean.. this is more about a fundamental difference between PowerShell and other languages and just about every novice (even those experienced in other languages, maybe even especially so) is going to run into this. It's like `return` and "leaky" functions. These are core paradigm differences about the language that can only be learned about either by actually s

[2017-10-26 19:31] rkeithhill opened #5247 "Slow tab-completion of parameter arguments on initial start after install"
Steps to reproduce
------------------
Install beta.9 on a machine and execute:

[code]

Expected behavior
-----------------
Tab completes to `CurrentUser` in less than a second.

Actual behavior
---------------
Took ~7 seconds on my machine.

Environment data
----------------
Windows 10 FCU

[code]

[2017-10-26 19:39] doxxx commented on #4214
TeamCity's Powershell runner assumes that the executable is called `powershell`. Since there is no Powershell 5 on Linux to cause compatibility problems, the Linux package should have continued to create the `powershell` symlink. This was unnecessary breakage.

[2017-10-26 20:31] lzybkr commented on #5237
@HumanEquivalentUnit - most uses of `Select-Object` actually - with or without `-ExpandProperty`, with one or more property names. But my experience could be highly skewed, so fee free to ignore if you think I'm way off. ;)

[2017-10-26 20:40] #2247 closed

[2017-10-26 21:09] ljckennedy commented on #2511
Just installed the latest as reference here:
https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#centos-7

and hit this issue passing a client cert:
Invoke-webrequest -Method $method -Uri $protocol$server$resource -Header $header  -certificate $certs -UseBasicParsing -Verbose

Is this a different issue?

[2017-10-26 21:12] #4917 closed

[2017-10-26 21:14] #5057 closed

[2017-10-26 21:16] #5232 closed

[2017-10-26 21:54] dsolodow commented on #5239
I forgot that sudo & bash work that way; it wouldn't make sense to alter the behavior.
However, I think there should be something to prevent the original issue; maybe it would be better to add some logic to the "if directory doesn't exist, create directory" so that it is instead "if directory doesn't exist and not launched via sudo, create directory"

[2017-10-26 22:08] FireInWinter commented on #5245
@nanalakshmanan I believe that Get is the correct verb mapping from AWS describe.  Adding describe to PowerShell just because AWS uses it, isn't the best reason for adding a new approved verb.  It doesn't really define something new that isn't already included in what Get does.

I've worked a LOT with AWS and find the mapping works fairly well.  Some of their design choices don't yet match with Po

[2017-10-26 22:37] SteveL-MSFT commented on #5239
I think there’s merit to consider whether to create the folder if USER and HOME don’t match as it will likely result in a permission issue

[2017-10-26 23:11] rolltide78 commented on #5130
So is everyone just recommending to dowbgrade from 6?

[2017-10-26 23:22] NeuralGlue commented on #5130
@andrew951 @rolltide78 I just tried downgrading to beta.5 then beta.4 on OS X 10.12.6 (Sierra). Neither version was able to connect though the error message was different: ERROR_WSMAN_INVALID_SELECTORS

Of course it's possible that my setup is idiosyncratic or that there is something in my Exchange Online account that is preventing me from connecting. I'll spin up a Windows machine soon and connec

[2017-10-26 23:24] markekraus commented on #2511
@ljckennedy it is the same issue. cert configurations of CentOS and macOS use something other than libcurl-ssl and as a result the underlying CoreFX cannot perform certificate based authentication.

[2017-10-26 23:44] dantraMSFT opened #5250 "Consider creating a string hash method that produces a repeatable hash code."
The issue was encountered during implementation of syslog logging.  The output from String.GetHashCode() can vary for a given string when the process or underlying Core CLR version changes. While it's valid for usage in hash tables, it is not intended to be persisted or comparable across processes.

The solution would be to provide a GetHashCode method on a utility class, such as StringUtil that p

[2017-10-26 23:53] ljckennedy commented on #2511
Ok.  I assumed marked as 'Closed' meant it was fixed.

[2017-10-27 01:00] SteveL-MSFT commented on #5130
@dantraMSFT is working on a new drop of the Unix WSMan PSRP client so we should validate this scenario works

[2017-10-27 02:05] ishanjain28 opened #5251 "Ctrl + L(Clearscreen shortcut) doesn't works correctly."
Steps to reproduce
------------------
1. Open Poweshell.
2. Type `ping 8.8.8.8`, This is kind of necessary to show my problem. Any command that prints >1 line of output'll do just fine.
3. Now, Type "some text, Doesn't matters what it is". So, Now your shell will look something like this.

    `powershell C:> some text, Doesn't matters what it is`
4. Now press `Ctrl+L`(On Windows).

Expected behav

[2017-10-27 02:38] SteveL-MSFT commented on #5251
What version of PowerShell are you using and what version of PSReadline?  This doesn't repro for me

[2017-10-27 02:55] SteveL-MSFT commented on #5244
@PaulHigin has confirmed there's a memory leak

[2017-10-27 03:53] iSazonov commented on #5237
:-) Looking on StackOverflow has ~400 comments "I didn't knew about ExpandProperty" I think we must install PowerShell in "Beginner Mode" with only available Get-Help cmdlet and unlock rest cmdlets only after the beginner pass an exam for 1000 points.

[2017-10-27 04:26] LethiferousMoose commented on #3006
Any updates on this? I just came across this issue this week on version 5.1. I cannot use comment based help with dynamic parameters, because the comment based help ends up removing the help message for dynamic parameters.

[2017-10-27 04:44] TravisEz13 commented on #2463
for compiling, I often just use docker, but it takes getting used to.

[2017-10-27 04:52] #2883 closed

[2017-10-27 04:52] #5034 closed

[2017-10-27 04:52] #5166 closed

[2017-10-27 05:19] MaximoTrinidad opened #5253 "Beta.9 - Cmdlet Enter-PSsession -ssh stop working between OS's (Linux/Windows)"
This was working in version Beta.8.  Enter-Pssession cmdlet not connection to other system after upgrading/installing Beta.9 using openssh.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------
To connect without any issues.

[code]

Actual behavior
---------------
Error message:
[code]

Environment data
----------------
Windows 10 Insider Build 16299
Windows: openssh

[2017-10-27 05:22] sandersaares commented on #4214
What the, did I arrive in April? Are we going to remove vowels from PowerShell commandlets next? This must be a joke.

[2017-10-27 06:17] iSazonov commented on #5250
[Previous discussion](https://github.com/PowerShell/PowerShell/pull/5144#discussion_r146748753)

I don't understand the _purpose_ for which we're writing this hash in log. Can anybody clarify?

If we were to use Git SHA hash, we would copy it to Git and find the exact commit and version tag, or we would find the same of even Google with this hash. Also we always write GitCommitId in log at startup

[2017-10-27 06:21] nightroman commented on #5245
In reality, `Show` is used almost as authors want and find it suitable. I never saw it paired with `Hide` yet, too.

[2017-10-27 07:16] SteveL-MSFT commented on #2463
We're planning on moving to a preview of dotnetcore 2.0.x servicing release after which we should be able to start producing Pi packages

[2017-10-27 07:19] iSazonov commented on #5253
@PaulHigin Could you please comment the Issue?

[2017-10-27 08:01] SteveL-MSFT commented on #5250
I believe the original issue is that PSCore6 side-by-side with another PSCore6.x version, there needs to be a way to filter out traces for a particular version of PSCore6 as all the traces go to the same log.  I think for this scenario, using `$psversiontable.gitcommitid` is probably fine.  Most users are using the official builds and that value is pretty short.  Developers running custom builds c

[2017-10-27 08:11] MaximoTrinidad commented on #5253
Ha!!  Lucky me.  I'm at the PowerShell Conference Asia and @joeyaiello is here.

He pointed me in the right direction. There's a bug that PowerShell name still been used as the subsystem name in the OpenSSH file sshd_config.

I thought the subsystem has been already renamed to use "pwsh".  I had to change back to be "powershell"

[code]
This need to be corrected.

Thanks @joeyaiello

[2017-10-27 08:16] WernerMairl commented on #4214
older scripts (docker, windows whereever) using "powershell -command xxxx" not working anymore with the new beta-9 release....

waiting for the shitstorm

[2017-10-27 08:17] ElectronicaXAB3 opened #5254 "Dependencies instalation error"
Platform
------------------

Windows 7 x86 (no SP)

Steps to reproduce
------------------

powershell (PowerShell-6.0.0-beta.9-win-x86.msi) doesn't allow installation without "Universal C Runtime", but "Universal C Runtime" says "The update is not applicable to your computer". I tried "Windows6.1-KB3118401-x86.msu" from the zip file. "Windows Management Framework" outputs the same error. What am I

[2017-10-27 08:26] sandersaares commented on #5225
I confirm that I can reproduce the issue - using the "powershell" command does not work, which broke quite a lot of our automation.

[2017-10-27 08:29] SteveL-MSFT commented on #5225
@sandersaares just to be clear, this issue is specifically about a race condition with our Travis-CI script and publishing of beta.9.  Dependency on `powershell` exe name should be discussed under https://github.com/PowerShell/PowerShell/issues/4214 although I would suggest creating a symlink to `pwsh` if you have tooling that expects `powershell`

[2017-10-27 08:47] markekraus commented on #5237
@iSazonov Like a tutorial level in games.

Though, on a more serious note... Maybe if `pwsh` had a `-Tutorial` switch with a guided REPL that would maybe help.

[2017-10-27 09:00] iSazonov commented on #5250
13 vs 57 chars. Having 57 chars in development builds looks overkill.

As @daxian-dbw  had mentioned we can easily get Git SHA in the same way we're getting GitCommitId from SMA.dll attribute and use 7-14 first chars from the hash.

[2017-10-27 09:02] iSazonov commented on #5237
`powershell /?` already show `PowerShell Online Help https://aka.ms/pscore6-docs`.

[2017-10-27 09:10] SteveL-MSFT commented on #5254
Universal C Runtime requires SP1 on Win7 (it's noted in the Readme within the zip)

[2017-10-27 09:10] #5254 closed

[2017-10-27 09:12] SteveL-MSFT commented on #5250
Probability says first 7 chars is probably ok, but it's not guaranteed.

[2017-10-27 09:14] markekraus commented on #4214
I'm trying to understand the outrage and failing.

People are complaining that the new name is breaking things, but, PowerShell Core is still in beta. IMO, if someone is using a beta tech in production code they are inviting disaster (I'm using polite language here). The nature of alpha and beta releases is that of being filled with breaking changes. There is no illusion that this is not beta. bet

[2017-10-27 09:25] markekraus commented on #5237
@iSazonov Yup. but there is a massive difference between static documentation and an interactive tutorial. There was something similar with learnpython.com and I cen't remember the name but there was one you could run right from the command line. This is more "food for thought" than a serious suggestion.

[2017-10-27 09:37] iSazonov commented on #5237
I think you should open new Issue for the good suggestion.

[2017-10-27 09:47] sandersaares commented on #4214
One part of cross-platform portability is that the same commands should work on both platforms if they do the same thing. Before this change, I could run `powershell` no matter what OS I was using and get the right thing. Now I can no longer do that.

Making software that is easy to use means caring properly for a million little things. Using strange and unintuitive names works counter to that.

[2017-10-27 10:08] markekraus commented on #4214
Not accurate. You could run `powershell` on windows and get Windows PowerShell then run `powersehll` on linux and get PowerShell Core. Now you can run `pwsh` on windows or linux and get PowerShell Core. So NOW we are in the state you desire. where as before we were in an inconsistent state.

well its clear it's not universally liked, but... what alternative do you suggest? I see everyone griping a

[2017-10-27 11:23] WernerMairl commented on #4214
@markekraus

- we know that is is a beta - breaking changes are ok!
- i'm a big fan of making better PS on *nix because it helps me to transfer my (PS) knowledge from Windows to *nix

My feedback was about usability and the concern of a shitstorm that enforces some re-names again and endless discussions.

Separating Windows and Core is really a BETTER reason for the rename then "Create a shorter n

[2017-10-27 12:06] markekraus commented on #4214
@WernerMairl There is an open discussion about using 1.0 instead of 6.0.0 #5165. Please go to that thread and read and comment.

Also, since you have been using it and have run into things you think need polishing, please check open issues to see if they address what you have run into. If there is an open issue, vote on it or comment  and if not please open a new issue so they can be fixed. Severa

[2017-10-27 12:17] sandersaares commented on #4214
I understand what you mean but I counter that this is not what I want. There is a hidden assumption implicit in my statement: I expect PowerShell and PowerShell Core to be completely equivalent as long as I use common features. So far, this has gone without issues in all my use cases.

[2017-10-27 12:20] markekraus commented on #5242
The change in #4937 is using `System.Runtime.InteropServices.RuntimeInformation.OSDescription` which on Windows 7 produces something like `Microsoft Windows 6.1.7601 S` and on Windows 10 `Microsoft Windows 10.0.15063`. The offending code is here:

https://github.com/PowerShell/PowerShell/blob/4df703616ae7f3fe2e11484702dbc84b89c21a52/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmd

[2017-10-27 12:38] markekraus commented on #4214
@sandersaares  I believe your experience to be one of luck. It certainly doesn't match my experience. Also, I believe that assumption to be dangerous. This is a major version with a ton of documented breaking changes with a completely different underlying platform. This wont be like previous major versions of PowerShell with near 100% backwards compatibility.

[2017-10-27 12:54] WernerMairl commented on #5165
i'm working on Linux with PS Core over the last months....
I can only consider to try it (Ubuntu Desktop+ VSCode + Debugging)!

It does not feel like 6.0! It is more like 1.0!
I know that more projects (VSCode, Powershell Plugin, Powershell Editor Services) are involved here but for the end user only the full stack (Runtime, Editor and Debugger) counts...
but i'm happy if we are able to push the q

[2017-10-27 13:41] SteveL-MSFT commented on #4214
I see some people still making the false assumption that the changing of the executable name was primarily to save on typing.  I can see how people may have gotten this impression since this original issue that was used for the PR started with a title asking for a shorter name.

I agree that we can improve our communication as we shouldn't expect everyone to read all the comments that the Committe

[2017-10-27 15:04] jmlane commented on #4040
I think having verbose output for both the `Invoke-Command` cmdlet and the command itself is sane default behaviour. If someone wants verbosity only from `Invoke-Command` itself and not the command, they can set `$VerbosePreference` or pass the `-Verbose:$false` switch to the commands explicitly in the command scope or by using a similar workaround [explained above](https://github.com/PowerShell/P

[2017-10-27 15:16] dragonwolf83 commented on #4214
@SteveL-MSFT a blog post on the name change would be good. It could cover the main driver for why the name change with a clear example of the problem on Windows. It would also be good to cover why posh and psh didn't make the cut as well.

[2017-10-27 15:34] dddugan opened #5257 "Link header pagination only parsing first rel"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Invoke-RestMethod should follow the next rel link and return additional results.
Invoke-WebRequest RelationLink dictionary should contain both "self" and "next".

Actual behavior
---------------

Only the first value from $webreq.Headers.Link is parsed into RelationLink.

Environment data
----------------

[code]

[2017-10-27 16:01] afkinsey commented on #4214
Maybe set up "powershell" as an alias for pwsh during unpacking+install. This just broke a build I was working on for a couple of days until I tracked down this issue.

[2017-10-27 16:28] dddugan commented on #5257
May be due to WebRequestPSCmdlet.CoreClr.cs ParseLinkHeader function using .FirstOrDefault() in the foreach? Also appears that IWR Headers.Link is a comma-separated string on Windows PowerShell, but an array of strings on PowerShell Core.

[2017-10-27 16:32] HumanEquivalentUnit commented on #5237
Just about everyone, huh? Can some insightful enough change make it a ramp to run up, instead of a wall to run into?

Have you heard the meme that "Vi/Vim is impossible for novices to quit" ? Did that go away because `vimtutor` exists? Not to say documentation and tutors are a bad idea, but what is it that's leading people to think that the text or number they see, is exactly what they have, or to

[2017-10-27 17:37] dantraMSFT commented on #5250
I'm closing this issue. The use case no long longer exists in syslog.

[2017-10-27 17:37] #5250 closed

[2017-10-27 18:28] RichardSiddaway commented on #5237
At what point do you propose we stop trying to make things as simple as possible for new users. Any technology has a learning curve. This is one step on the PowerShell learning curve

[2017-10-27 18:45] markekraus commented on #5237
@HumanEquivalentUnit I will reiterate: if you make this easier on `Select-Object` you will just be passing the buck on to another cmdlet. This isn't about `Select-Object` but about a fundamental paradigm of PowerShell that needs to be learned one way or another. `Select-Object` is just the first place many users encounter the need to learn this paradigm. This is something that should be addressed

[2017-10-27 19:23] jgreat commented on #5225
Please update the .deb package to include a link from /opt/microsoft/powershell/6.0.0-beta.9/pwsh to /usr/bin/powershell.   This is breaking VS Code and compatibility between Linux and Windows scripting.

[2017-10-27 20:56] HumanEquivalentUnit commented on #5237
@markekraus I agree it's a fundamental paradigm change, I disagree about the passing-the-buck or the panic of losing the core of the language. The point is not to hide the paradigm in select-object and pretend it doesn't exist, pushing the discovery elsewhere, so that people ignore it for longer and run into the exact same problem somewhere else. The point of any change would be to reveal the para

[2017-10-27 21:01] anmenaga opened #5260 ".NET Core tools version check in build.psm1 blocks the build"
Condition in build.psm1 seems to be looking for exact match with "2.0.0", while the tools are of "2.0.2". This blocks the build.

[code]
Expected behavior:
---------------
Build succeeds.

Actual behavior
---------------
Build stops at warning:

![versions](https://user-images.githubusercontent.com/11860095/32125069-1b1bee6c-bb1f-11e7-813e-953a89f0702e.png)

Steps to reproduce
------------------

[2017-10-27 21:01] Michal-Ziemba opened #5261 "Can't Uninstall/Remove AzureRM module from PowerShell on Mac OS"
Steps to reproduce
------------------
First I run the command:
[code]
not being aware that I won't be able to use it on my Mac OS Sierr 10.12.6.
When I found issue [#4090](https://github.com/PowerShell/PowerShell/issues/4090) I have run the command:
[code]
After that, I still couldn't run
[code]
because still got an error:
`Login-AzureRmAccount : The 'Login-AzureRmAccount' command was found in the

[2017-10-27 21:06] rkeithhill commented on #5260
Do you have a `global.json` file in the root of the repo?  It's contents should specify that PowerShell currently uses the 2.0.0 version of the SDK.  The gist is that the presence of this file should cause `dotnet --version` to return `2.0.0` **if** that command is run within the repo dir structure.  From that code snippet, I can't tell which dir the command is run from.  I suspect the dir isn't b

[2017-10-27 21:21] anmenaga commented on #5260
[code]

[2017-10-27 21:22] rkeithhill commented on #5237
I wonder if would be useful to have a mechanism that displays tips for interactive users kind of like PSSA supplies tips for scripters.  Well, except that interactive use analysis would be forgiving of using aliases and other wrist-saving techniques.

Perhaps this is something that could be prototyped as a PSReadline function and bound to a keyboard shortcut.  Press <kbd>Ctrl+i</kbd> to invoke a f

[2017-10-27 21:27] lzybkr commented on #5237
Interactive suggestions are easy to extend in the console host - start [here](https://github.com/PowerShell/PowerShell/blob/14af3e12972873676f76b2a456a86c1bf33749b9/src/System.Management.Automation/engine/hostifaces/HostUtilities.cs#L335)

[2017-10-27 21:32] markekraus commented on #5237
@HumanEquivalentUnit

And you and I are not disagreeing there. But the question is how? Because, changing `select-object` is pretty much a waste of effort, because (as I am repeating myself) it will just move the problem elsewhere not address the root cause. But you mocked our attempts at an interactive solution. So, what is your solution, if any, when a change to `select-object` is off the table?

[2017-10-27 21:44] rkeithhill commented on #5260
Hmm, that is not what I see but I have both 2.0.0 and 2.0.2 installed.  Which versions do you have in your `C:\Program Files\dotnet\sdk` folder?

[2017-10-27 21:46] anmenaga commented on #5260
[code]

[2017-10-27 21:48] rkeithhill commented on #5260
Anything in the `C:\Users\anmenaga\AppData\Local\Microsoft\dotnet\sdk` folder?

[2017-10-27 21:51] anmenaga commented on #5260
[code]

[2017-10-27 22:05] rkeithhill commented on #5260
Hmm, I wonder why `dotnet` is not seeing the sdk under you app data dir.  As an experiment, would you be willing to install the .NET SDK from [here](https://www.microsoft.com/net/download/core), restart PowerShell and then re-run `dotnet --version` from the PowerShell repo folder.  Does that still report 2.0.2?

[2017-10-27 22:13] adityapatwardhan opened #5262 "Remove the workaround to enable macOS launcher"
The change was reverted to unblock PRs being blocked in packaging.

https://github.com/PowerShell/PowerShell/pull/5259

Further investigation should be done to re-enable macOS launcher.

[2017-10-27 23:32] SteveL-MSFT commented on #4214
@markekraus has a nice blog post that captures the what and whys:

https://get-powershellblog.blogspot.sg/2017/10/why-pwsh-was-chosen-for-powershell-core.html

[2017-10-27 23:38] bergmeister commented on #5253
@MaximoTrinidad I already updated the documentation in this commit [here](https://github.com/PowerShell/PowerShell/commit/715fe94c37fd258a4026f0b7a1448720e2e0c55d) but I think that leaving the subsystem name as it is is ok.

[2017-10-28 01:21] SteveL-MSFT commented on #5261
@Michal-Ziemba can you open this issue here?  https://github.com/powershell/powershellget/issues

[2017-10-28 01:21] #5261 closed

[2017-10-28 01:24] SteveL-MSFT commented on #5257
@dddugan can you post the the header section of the RawContent property of the result using Invoke-WebRequest?  Feel free to scrub the data, but I'd like to see the format of the returned headers specifically the Link header.

[2017-10-28 03:31] dddugan commented on #5257
There seem to be multiple headers for the multiple values.
[code]

[2017-10-28 06:09] SteveL-MSFT commented on #5257
My reading of the [RFC](https://tools.ietf.org/html/rfc2616#section-4.2) particularly:

[code]

Is that multiple headers with the same name MUST be comma separated.  So having two Link: headers that aren't a comma separated list seems to not be conforming.

[2017-10-28 08:43] IISResetMe commented on #5260
Can't we optimize the version check in `build.psm1` to do ordinal version comparison after validating the major version of the dotnet CLI?

PowerShell seems to compile just fine with version `2.0.2`

[2017-10-28 13:05] sergey-s-betke opened #5264 "powershell: not found - after installing"
After installation powershell (6.0.0-beta.9-1.ubuntu.14.04) I have error when launch powershell from command line:
- https://travis-ci.org/Metrolog/marks/builds/294103395
- https://circleci.com/gh/Metrolog/marks/71

Why powershell not found after installation?

[2017-10-28 13:11] ishanjain28 commented on #5251
I updated Windows 10 on my laptop from 1503 to 1703 and it seems to work fine now. Powershell Version is 5.1.1 and I couldn't find a way to get the version of PSReadline. I'll close this issue for now and reopen if this happens again.

[2017-10-28 13:12] #5251 closed

[2017-10-28 13:16] ishanjain28 commented on #5251
This was a Windows Powershell related bug so I should have read the Readme correctly and raise this issue on UserVoice. Apologies for wasting time.

[2017-10-28 13:56] markekraus commented on #5264
@sergey-s-betke  please see the release notes https://github.com/PowerShell/PowerShell/releases/tag/v6.0.0-beta.9

[2017-10-28 13:57] #5264 closed

[2017-10-28 14:22] markekraus commented on #5257
@SteveL-MSFT that RFC is so poorly worded, What it means is that the following two must be equvilent:

[code]

[code]

That means that you cannot do
[code]

instead, ` Value1, Value2` becomes `Value1`. This allows for multiple headers to support commas as a character where as a single header, commas are always a value separator with no escape character.

In Full CLR they mash these all together fo

[2017-10-28 16:12] bergmeister commented on #4214
Today I saw the first usage of `pwsh` on SO [here](https://stackoverflow.com/questions/46982628/how-do-i-download-and-install-nuget-packages-with-packagemanagement-module) although I doubt that the person knows about this thread...

[2017-10-28 18:34] rkeithhill commented on #5260
There's definitely an argument to be made to simply let global.json inform of `dotnet` of the desired version of the SDK and let `dotnet` determine compatibility.

That said, it seems like there is a bug in `dotnet` because on my system with both 2.0.0 and 2.0.2, `dotnet --version` reports `2.0.0` in the PowerShell repo.  Not sure why the OP isn't seeing the same thing given they also have both th

[2017-10-28 20:02] it-praktyk commented on #4268
Today I've tested it on macOS and PowerShell Core v.6.0.0-beta.9  again. The issue still exists.

[2017-10-28 21:20] sergey-s-betke commented on #5264
Thank You, @markekraus! It is worked!

[2017-10-28 21:32] it-praktyk commented on #4268
Under the bug reproducing please use exact the code state - the link provided above. Later I've added a condition to don't run the failing test under macOS.

[2017-10-29 04:05] dddugan commented on #5257
Thanks, friends! Appreciate the quick response. Looking forward to testing the fix.

[2017-10-29 07:30] iSazonov commented on #5260
We decided to use a fixed version after a number of compatibility problems.
We now expect 2.0.3 version with important patches.

[2017-10-29 07:39] iSazonov commented on #5260
Maybe related https://github.com/dotnet/cli/issues/6836

[2017-10-29 09:34] LaurentDardenne opened #5269 "Strange behavior with Get-ChildItem"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
The following calls must return existing files or directories :
[code]

Actual behavior
---------------
When the 'root' of the search ('C:\Temp\TestPS') is empty, the search do not return all entries :

Environment data
----------------

[code]
Same problem with For Windows PowerShell v 5.1.14409.1012 :
[code]

[2017-10-29 09:38] markekraus commented on #5257
@dddugan If you want to validate it now you can build from the MultipleRelLinkFix brand on my repo: https://github.com/markekraus/PowerShell/tree/MultipleRelLinkFix

On windows you can use the MSI or zip  produced by AppVeyor  https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.9-6425/artifacts

[2017-10-29 13:27] mklement0 opened #5271 "Member enumeration works with setter methods, but not with property assignments"
You can use member enumeration to _get_ property values from all members of a collection, but you cannot currently _set_ them (to a given, single value).
By contrast, you _can_ use a _setter method_ to do so.

[code]

Given that using the setter method works, I suggest also allowing the property-assignment form.
(Note that `NoteProperty` members, such as found on `[pscustomobject]` instances, do n

[2017-10-29 15:16] mklement0 commented on #4345
I like the flexibility of `-Breakpoints` (though it should probably be singular (`-Breakpoint`)), but I'd love to also see a `-WaitDebugger` switch that simplifies the following common use case:

* Launch the job.
* Have it wait for a debugger to attach right away, before doing any work.

In other words: it would be like an implicit `Wait-Debugger` call as the 1st line of the background script.

[2017-10-29 15:32] markekraus commented on #5271
I hope this is `by design`. I don't want to  imagine the horrors that await us all should this work: `$users.DisplayName = 'John Doe'`. To me, *get*ing the properties as a collection isn't harmful (well to anything other than performance maybe), *set*ing them is destructive.  I'd want the language to make sure I really meant coercing the properties of all members of a collection instead of  intend

[2017-10-29 15:57] mklement0 commented on #5271
@markekraus:

One [hu]man's horror is another's convenience.

I get that this can be tricky, but note that you can already be destructive in this manner with _methods_, and there is a distinct lack of symmetry in only allowing the _get_ operation (which also carries the ambiguity of whether collection-level vs. member-level access was intended).

If the consensus turns out to be that it shouldn't

[2017-10-29 16:26] markekraus commented on #5271
@mklement0 there is a huge difference between doing this with a method and doing it with a property. using a set accesor's direct method (which is usually hidden and not obvious) implies explicit intent. Assignment to a property of a collection is ambiguous just as get operations on the property of a collection are ambiguous. The former is destructive, the later is (usually) not. I would rather no