[2017-03-16 14:43] iSazonov commented on #3238
We already actively use the pattern. So I start PR #3342 for auto-loading our test modules. This will allow us to remove the explicit loading of test modules from files and avoid their double edit.

[2017-03-16 15:41] elpj opened #3344 "Runspace pools are they sharing states or objects between processes ?"
Hi, I have a simple application written in c# for .NET Framewrok 4.6  that hosts a RunspacePool that is initialized with maximum runspaces to 5 and minimum to 2.  Everything works fine, commands get executed at decent speed. However, when I start 20 instances of that application on the same machine, it gets very slow for even only one application ( one runspacepool)  to run commands.

When I start

[2017-03-16 16:03] systemmetaphor commented on #3338
I think I have a similar issue.

I use Install-Module to deploy xWebAdministration and after successfull installation I am able to generate the configuration mof file but when I try to apply the configuration LCM returns an error indicating the module does not exist. All happens in the same machine.

This is with powershell 5.0.10586.117

[2017-03-16 16:38] joeyaiello opened #3345 "Scrub for 'Windows PowerShell' in strings"
There are still some error messages and warnings being emitted by PowerShell Core that refer to "Windows PowerShell". We should scrub through [all strings in the repository](https://github.com/PowerShell/PowerShell/search?utf8=%E2%9C%93&q=%22windows+powershell%22) and change these to "PowerShell" where applicable (i.e. for everything that isn't FullCLR-specific).

[2017-03-16 16:38] SteveL-MSFT commented on #3337
@PowerShell/powershell-committee it appears that powershell host is doing the right thing outputting an error message of something it can't support in `-noninteractive` mode along with the cmdlet trying to make the ShouldProcess call.  In this case, we should have a PSScriptAnalyzer rule to catch cmdlets that make explicit prompts without supporting `-force` and `-confirm`

[2017-03-16 16:46] daxian-dbw commented on #3311
@erwinwildenburg @Diastro this happens because you were using the API `SetPowerShellAssemblyLoadContext` in your code, which is not correct. When building your application with .NET CLI, you need to use `InitializeAndCallEntryMethod` to bootstrap your application.

Due to the lack of necessary APIs to manipulate assemblies in .NET Core, powershell needs to control assembly loading via our customiz

[2017-03-16 16:58] daxian-dbw commented on #3311
I will update our documentation to have a topic about hosting powershell core. It's an important scenario that we shouldn't have overlooked.

[2017-03-16 17:20] lzybkr commented on #3344
The only shared state is a file based cache of the commands exported by modules - it is not specific to any host or runspace pools, so your host should benefit from this cache.

I suggest you use [perfview](https://github.com/Microsoft/perfview) or [Windows Performance Toolkit](https://msdn.microsoft.com/en-us/windows/hardware/commercialize/test/wpt/index) to analyze the performance and compare wh

[2017-03-16 17:29] HemantMahawar opened #3346 "Add DevOps relevant verbs to approved verb list"
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/12303924-add-a-compile-verb

NEW Verbs:
- Build

[2017-03-16 17:35] joeyaiello commented on #3346
I think we also talked about `Deploy`, right?

[2017-03-16 17:39] SteveL-MSFT commented on #2942
Currently, by default it IS a terminating error:

[code]

I don't think we should give a warning if `-SkipCertificateCheck` is used since it was explicitly specified:

[code]

[2017-03-16 17:43] SteveL-MSFT commented on #3227
@iSazonov the @PowerShell/powershell-committee decision is to only address the scenario of using tab-complete to author a script (most likely profile script) that uses `$env:PSModulePath` and have that consistent across platforms.  The general problem is no different from calling `PowerShell` console host on Windows which won't work as the file system is generally case sensitive on Linux so it has

[2017-03-16 17:58] iSazonov commented on #2942
Clear. Closed.

[2017-03-16 18:45] SteveL-MSFT commented on #3153
Fixed in alpha.17

[2017-03-16 18:45] #3153 closed

[2017-03-16 18:50] TravisEz13 commented on #2393
@rainerklier we need dotnet coreCLR to support Tumbleweed first before we can build support.

[2017-03-16 18:55] #2631 closed

[2017-03-16 19:47] ChrisUbben opened #3347 "Add tests to catch any new HTTP links added to product code"
We should be using HTTPS for all links that are found in product code unless there is a specific reason to use HTTP.
There should be some automation at some point to detect new HTTP links added and verify if a suitable HTTPS counterpart can be used.

Comments from @TravisEz13 in PR #3331:
"We could add a meta test suite and use a regex to validate we use https: and not http:

DSC Resources have so

[2017-03-16 19:50] mklement0 commented on #3153
@SteveL-MSFT: The example in this bug report now works as intended in alpha.17, but ` ConvertFrom-Json` still unexpectedly sends an output array _as a whole_ through the pipeline:

[code]
Contrast this with a regular array:

[code]

[2017-03-16 19:57] SteveL-MSFT commented on #3153
@mklement0 can you open a new issue?  thanks!

[2017-03-16 20:04] PetSerAl commented on #3153
@mklement0
Should
[code]
return `[ 1 ]`?

[2017-03-16 20:06] vors commented on #2463
Dotnet core Raspberry Pi instructions https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2017-03-16 20:29] rainerklier commented on #2393
@TravisEz13: does the following repo supply this "dotnet coreCLR"?
http://download.opensuse.org/repositories/home:/cabelo/openSUSE_Tumbleweed

this is the repo from which i have dotnet core installed.

[2017-03-16 20:50] mklement0 commented on #3153
@PetSerAl: It's a fair point - if you unwrap the array, information is lost.

But that equally applies to:

    , 1 | ForEach-Object { $_ }

So it's weighing PowerShell's normal collection handling against preserving information about the input.

Perhaps if no one ever notices _in practice_ that the collection is passed _as a whole_ the alpha.17 behavior is fine.

Not sure what the right answer is

[2017-03-16 21:39] joeyaiello commented on #2393
@rainerklier I don't think that we can just pick up someone's own compiled version of CoreCLR (that looks like it's just owned by some guy named cabelo)

FYI, long-term, we will need to compile our .NET Core from source on distros where release, or we'll have to move to a shared framework model (where we don't redistribute .NET Core, but rather require it as a package installed to the machine).

[2017-03-16 21:39] #3337 closed

[2017-03-16 22:12] PetSerAl opened #3348 "PowerShell use different logic, when converting passed value to parameter type, for compiled and script cmdlets"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Same dates in both cases.

Actual behavior
---------------
Strings get parsed with different culture in mind.

Environment data
----------------
[code]

My thoughts about the problem
----------------
I think the problem happens due to PowerShell automatically adds `ArgumentTypeConverterAttribute` to typed parameters

[2017-03-16 22:13] Diastro commented on #3311
Thanks @daxian-dbw

[2017-03-16 22:13] #3311 closed

[2017-03-16 23:34] PaulHigin commented on #2321
setpgid() doesn't allow the process group id to be set if the process has already started executing code.  In addition there are restrictions to what process group id it can be set to (must be a process in the same session).  I didn't see anywhere where you can create a process with a *new* group process id so I am not sure if this is possible.  In any case I need to make a request to .Net to see

[2017-03-16 23:38] PaulHigin commented on #2473
I am not able to repro this.  I can do SSH remoting from Ubuntu machine to Windows machine by passing in the password.  There were some earlier bugs where this didn't work due to set up errors and the error message was not clear.  I believe these are fixed now and any error message coming from SSH client is returned.

[2017-03-16 23:38] #2473 closed

[2017-03-16 23:40] joeyaiello opened #3349 "CentOS/Red Hat (RHEL) 7.2/7.3 Support"
It looks like we've already published our CentOS packages (which hopefully shouldn't need to be different than RHEL packages) to our [RHEL 7](http://packages.microsoft.com/rhel/7/) and [RHEL 7.3](http://packages.microsoft.com/rhel/7.3/) repositories. Going forward, we should:

- [ ] Test these packages on RHEL 7.2 and 7.3 on same cadence to ensure that are working properly
- [ ] Remove "centos" fr

[2017-03-17 00:37] BrucePay opened #3350 "set-date | get-date fails on Windows even when elevated"
Piping `Get-Date` to `Set-Date` in an elevated shell on Windows should just work (in fact it's one of the tests). Instead, it fails with an error `set-date : The parameter is incorrect`

Steps to reproduce
------------------
running elevated, do
get-date | set-date

Expected behavior
-----------------
It succeeds

Actual behavior
---------------
[code]

Environment data
----------------

[code]

[2017-03-17 01:07] #2942 closed

[2017-03-17 03:28] mklement0 opened #3352 "Get-Alias doesn't find aliases defined in available but not currently loaded modules"
`Get-Command` finds commands whether or not their defining module is currently loaded. (It implicitly loads the defining module, assuming it is in one of the folders listed in `$env:PSMODULEPATH`).

`Get-Alias`, by contrast, only finds aliases defined by currently loaded modules, which is unexpected.

Note that _invoking_ an alias defined in a module in a standard location that isn't currently imp

[2017-03-17 03:52] iSazonov commented on #2321
@PaulHigin  Maybe comments from http://pubs.opengroup.org/onlinepubs/009695399/functions/setpgid.html  will bee useful.

[2017-03-17 04:02] iSazonov commented on #3227
If you generalize so much the problem then I agree to close the Issue.

[2017-03-17 06:08] jeffbi opened #3353 "Single Thread Apartment required for Enable-WSManCredSSP and Disable-WSManCredSSP"
When given `-Role Client`, these cmdlets attempt to make use of the `IGroupPolicyObject` COM interface. `IGroupPolicyObject` requires that it be called from a Single Thread Apartment. STA is not supported in CoreCLR, so these cmdlets will fail when using the Client role.

This is the underlying cause of issue #2599.

The core folk have an [existing issue](https://github.com/dotnet/corefx/issues/52

[2017-03-17 06:09] jeffbi commented on #2599
The underlying cause of this is the lack of support for STA in CoreCLR. See issue #3353.

[2017-03-17 07:57] MVKozlov opened #3354 "I/O Redirection to variables"
I/O Redirection to variables works differently in different (but similar) cases
sometimes it clone output to variable and console (current host)
call scheme: `$o = SomeCode *>&1`

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
[code]
Actual behavior
---------------

local redirection doesn't redirect error stream (but redirection to file works ok)
remote -  verbo

[2017-03-17 08:42] MathiasMagnus opened #3355 "Expand-Archive performance"
Expand-Archive performance is 6X away from 7zip. In it's current state I would say it barely passes automation perf level. In an interactive shell, one would rarely resort to it if there is an alternative that is 6X faster.

Steps to reproduce
------------------
Download some large archive ([qt-everywhere-opensource-src-5.9.0-alpha.zip](http://download.qt.io/development_releases/qt/5.9/5.9.0-alpha

[2017-03-17 11:02] systemmetaphor commented on #3338
Just for the reference I realized this is kind of by design because when the configuration is being applied it runs in system context and it can only see the $env::programfiles modules.

https://blogs.msdn.microsoft.com/powershell/2013/12/05/how-to-deploy-and-discover-windows-powershell-desired-state-configuration-resources/

Basically I need to deploy the modules to the correct path manually, mak

[2017-03-17 11:23] iSazonov commented on #3350
Duplicate #3099

[2017-03-17 12:02] iSazonov commented on #3354
@MVKozlov Thanks for your contribution!

Please use [Syntax highlighting](https://guides.github.com/features/mastering-markdown/) for code:
[code]
[code]

[2017-03-17 12:07] iSazonov commented on #3355
@MathiasMagnus Please open Issue in [Microsoft.PowerShell.Archive repo](https://github.com/PowerShell/Microsoft.PowerShell.Archive)

[2017-03-17 12:20] iSazonov commented on #3353
Related #2969

[2017-03-17 12:20] MathiasMagnus commented on #3355
Thanks. [Just did](https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/32).

[2017-03-17 13:09] iSazonov opened #3356 "Debugging and IntelliSense in VS Code don't work"
[x] - After update to "C# for Visual Studio Code 1.8.0" debugging don't work.

[ ] - IntelliSense don't work in VS Code after migrating to MSBuild (json -> csproj).

[2017-03-17 13:12] iSazonov commented on #477
Duplicate #3099

[2017-03-17 14:24] iSazonov commented on #3334
Closed. Diagnostics cmdlets don't use `LiteralPath`.

[2017-03-17 14:24] #3334 closed

[2017-03-17 16:27] #477 closed

[2017-03-17 16:30] SteveL-MSFT commented on #3356
Still working for me with C# plugin 1.8.0 and VSCode 1.10.2 on Ubuntu16.  You may need to follow-up with https://github.com/OmniSharp/omnisharp-vscode

[2017-03-17 16:30] #3355 closed

[2017-03-17 16:33] joeyaiello commented on #3338
@f0rt This looks like a problem with your `PSModulePath` rather than PowerShellGet.

The default state of `PSModulePath` is for the system variable to point to `%SystemRoot%\system32\WindowsPowerShell\v1.0\Modules\`, and the user variable should not exist. At runtime, we prepend `$env:PSModulePath` with `C:\Users<username>\Documents\WindowsPowerShell\Modules;C:\Program Files\WindowsPowerShell\Modu

[2017-03-17 16:33] dahlbyk commented on #707
Came here looking for issue related to this because `>` producing UTF-16 by default is maddening.

Please!

Less necessary if there's a preference, IMO, though I have never seen a developer respond positively to a file being encoded with UTF-16. If PowerShell 6+ can lead the charge on moving Windows toward UTF-8-without-BOM everywhere that would be amazing.

This seems to me to be the primary purp

[2017-03-17 18:32] ealexjordan commented on #3356
I've been seeing something similar to this as well: https://github.com/OmniSharp/omnisharp-vscode/issues/1272. I have much better luck launching PowerShell from code than attaching to a process, I can get it to work occasionally. Hopefully this is fixed soon with OmniSharp.

[2017-03-17 19:12] Francisco-Gamino opened #3358 "Format-Hex should support all primitive types (including enums) and arrays of these types - instead of this random assortment."
Steps to reproduce
------------------
Format-Hex should support all primitive types (including enums) and arrays of these types  - instead of this random assortment.

Take a look at the prototype https://gist.github.com/lzybkr/9940b63c8301c31316bdb3ec6305536f written by @lzybkr.

Expected behavior
-----------------

Actual behavior
---------------

Environment data
----------------

[code]

[2017-03-17 19:52] pcgeek86 commented on #3340
Good points, Jason.

- I am actually referring to either binary or script modules, with a manifest. Good catch though. I mentioned `FunctionsToExport`, because that's the one I most commonly use.
- Thanks for confirming my suspicion that a large module manifest is better than using wildcards.
- We are not interested in creating modules, of either script or binary type, without manifests, so this s

[2017-03-17 19:57] #3340 closed

[2017-03-17 20:06] mklement0 opened #3359 "Automatic $? variable (success indicator) is reset to $true when a command is enclosed in parentheses - make $? only reflect command status, not expression status"
Not sure if this behavior is by design; if so, it would help to understand the rationale.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-03-17 20:18] ferventcoder opened #3361 "Running Authenticode-signed script under AllSigned fails when script has `LF` line endings"
Related to #1195 / Found with https://github.com/chocolatey/choco/issues/1203

You are likely to see this more now that PowerShell is cross platform. We just had an issue filed about attempting to run scripts with execution policy "AllSigned". Upon researching this, we were able to determine that any scripts that were `UTF-8 / CRLF`, those would load just fine. However any scripts that were `UTF8

[2017-03-17 20:20] ferventcoder commented on #1195
@mirichmo just discovered what may be a known issue in PowerShell for checking the authenticode signature if the file has Unix line endings (`LF`) - https://github.com/PowerShell/PowerShell/issues/3361

[2017-03-17 20:27] pcgeek86 commented on #3356
I just attempted to reproduce on Mac OS X Sierra, with VSCode 1.10.2, and am unable to reproduce the reported behavior successfully.

Perhaps there's a cache folder somewhere that's affecting you? Can you use Sysinternals tools to see which file is being accessed?

Cheers,
Trevor Sullivan

[2017-03-17 20:28] pcgeek86 commented on #3359
I'm seeing the same behavior. I'm not sure what the rationale for this is though, or if it's a bug. It seems like this is a bug to me, but open to ideas.

[2017-03-17 20:30] ferventcoder commented on #3361
To be clear, this was all when running on Windows.

[2017-03-17 21:14] #2138 closed

[2017-03-17 21:39] SteveL-MSFT commented on #3350
Agree it's a dupe

[2017-03-17 21:39] #3350 closed

[2017-03-17 22:30] jeffbi commented on #3356
I'm seeing this on Windows in VS Code 1.10.2 with C# add-in 1.8.0.

I am able to start PowerShell by hand then attach, but I cannot start PS from VS Code.

[2017-03-17 22:43] SteveL-MSFT commented on #3356
CC @daviwil

[2017-03-18 00:03] ghost opened #3363 "Set-Content/Append-Content does not create intermediate subdirectories, despite the help text."
Steps to reproduce
------------------
_Suppose the D:\tmp\foobarbeen path does not exist, but D:\ does._

Add-Content 'Foobar' -Path D:\tmp\foobarbeen\f.txt

Expected behavior
-----------------
D:\tmp\foobarbeen is created and populated with Foobar.

Actual behavior
---------------

Add-Content : Could not find a part of the path 'D:\tmp\foobarbeen\f.txt'.
At line:1 char:1
+ Add-Content 'Foobar' -

[2017-03-18 00:11] SteveL-MSFT commented on #1567
I don't repro it either with alpha.17

[2017-03-18 00:11] #1567 closed

[2017-03-18 03:40] thezim commented on #3359
If I recall parentheses create a scope, if so this is by design.

[2017-03-18 04:52] SteveL-MSFT commented on #2968
We should get the Documents folder programmatically

[2017-03-18 09:31] iSazonov commented on #3359
`$?` tell us a status of _last_ command.
`$? is $true` tell us that "The last command was successful".
In your sample the command is Expression and the expression was executed successfully.

[2017-03-18 09:59] iSazonov commented on #2968
Step by step:
1. Run PowerShell.
2. $env:PSModulePath` - Document
3. Change `Document` location on `C:\temp`
4. $env:PSModulePath` - Document
5. Run **new** PowerShell - here $env:PSModulePath` already is with  `C:\temp`

It is expected behavior for environment variables.

[2017-03-18 10:10] iSazonov commented on #3356
I already thought that I only work on Windows 😄 @jeffbi ✌️

[2017-03-18 10:22] iSazonov commented on #2138
@SteveL-MSFT Can you confirm that now web cmdlets performance is better with progress bar?

[2017-03-18 11:03] iSazonov opened #3366 "Progress bar problems tracking Issue"
After performance improvements in PR #2822 we still have some problems (edited by @daxian-dbw):

1. Hung or Freeze of a progress pane. If `Write-Progress` or the corresponding API is not called very frequently, new progress record may not be rendered for a long time, which means the user won't see the new progress update during that time. This is because we now use a timer to indicate whether a ca

[2017-03-18 13:07] mklement0 commented on #3359
@iSazonov:

I see. So you're saying that `(...)` is an expression in its own right? If so, does it ever reflect `$False`? In other words: is its `$?` status useful in any way?

Why does the following, which also uses `()`, yield `$False`, preserving the status of the enclosed the command?

[code]

[2017-03-18 17:16] iSazonov commented on #3359
The first sample is "command in expresson" and your sample is "command is an expression"
[code]

[2017-03-18 17:31] iSazonov commented on #3361
@SteveL-MSFT @joeyaiello It seems we should definitely fix this in Beta.

[2017-03-18 17:37] iSazonov commented on #3363
`Set-Content` has the same behavior:
[code]

[2017-03-18 18:22] iSazonov commented on #3353
CoreFX issue https://github.com/dotnet/corefx/issues/522 milestone is 1.0.0-rtm so I set "Waiting - NetStandard20"

[2017-03-18 18:23] iSazonov commented on #2969
CoreFX issue https://github.com/dotnet/corefx/issues/522 milestone is 1.0.0-rtm so I set "Waiting - NetStandard20"

[2017-03-18 21:26] viorel-m-git commented on #3313
I'm not sure how this addresses my problem. I don't want to use signed. I don't need signed. I would gladly use unsigned all the way. Except, as you say, powershell does things under the covers, like converting to [int], whether I like it or not, and outside of my control.
When I say [uint32] $b = 0xffffffff it's pretty clear to me that I mean to use [uint32]. If I wanted signed I would have said

[2017-03-18 21:36] SteveL-MSFT commented on #2968
If the issue is that within the same powershell session the env var isn't being updated, then as @iSazonov noted, that is expected and `by design`

[2017-03-18 21:42] SteveL-MSFT commented on #2138
@iSazonov using same repro as above

With alpha.17:
[code]

with your fix:
[code]

Looks good!

[2017-03-19 06:11] iSazonov commented on #2138
Great! Many thanks to @daxian-dbw!

[2017-03-19 06:13] iSazonov commented on #3046
@joeyaiello #2138 fixed - I put a mark in Plan.

[2017-03-19 06:23] lzybkr commented on #3313
Many years ago, I worked on C++ compilers, and I always felt hexadecimal literals should never be signed, so I agree with you.

In C++, a hex literal can be either an `int` or `unsigned int` depending on the value. I was never a fan of that design, but implicit conversions and the `u` suffix make it mostly not a big deal.

PowerShell is missing the `u` suffix and we need to be more cautious with c

[2017-03-19 09:16] iSazonov opened #3367 "Progress Bar may consume unnecessary memory"
Recently cmdlets used WriteProgress() (ex., [web cmdlets](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/StreamHelper.cs#L283)) can potentially create hundreds of thousands of  ProgressRecord objects.
It looks like undue load on GC.

[2017-03-19 09:32] iSazonov commented on #3367
After Progress Bar performance improvements in #2822 many `ProgressRecord` objects are simply ignored. It would be great not to create a new object each time, and reuse one.
I suppose it can be done in `AddNode()` [here](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.ConsoleHost/host/msh/PendingProgress.cs#L292)

[2017-03-19 10:35] SRGOM commented on #1954
Just wanted to add here for Linux. I'm on Arch using the latest AppImage. On a 6/10
powerful computer, I'm getting the following

`powershell -c 'exit'  1.32s user 0.16s system 88% cpu 1.658 total`

[2017-03-19 13:03] VGib commented on #2668
Solved

[2017-03-19 13:03] #2668 closed

[2017-03-19 13:40] PetSerAl opened #3368 "$ForEach automatic variable does not work properly with value types enumerators"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Interacting with `$ForEach` automatic variable should affect `foreach` loop.

Actual behavior
---------------
When enumerator implemented as value type, it seems that PowerShell copy enumerator by value, when assigning it to `$ForEach` automatic variable, and that disjoin it from enumerator, which PowerShell using in

[2017-03-19 16:36] #1625 closed

[2017-03-19 16:39] SteveL-MSFT opened #3369 "clean-up existing tab completion tests, add more coverage"
Current tests are for specific bug fixes in `test/powershell/Host/TabCompletion/BugFix.Tests.ps1`

We should have proper `TabCompletion.Tests.ps1` that replaces this file with proper test titles.

[2017-03-19 17:02] iSazonov commented on #2668
@VGib Please add more comments about solution.

[2017-03-19 21:12] zii-dmg commented on #3023
Isn't solution is just one `if` check for windows version in [GetComputerInfoCommand.cs](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Management/commands/management/GetComputerInfoCommand.cs#L561)?

[2017-03-19 22:58] SteveL-MSFT commented on #3023
We should wrap the api calls so this fails silently.

[2017-03-20 00:28] schittli opened #3370 "Why should Sort be a reserved verb and invalid for modules / commands?"
Good evening

Is there any real good reason why the "Sort" verb is reserved for PowerShell itself?
(I think it proves it's necessity because PowerShell itself **needs** it, too.)

It's really common to offer special sort functions for custom objects with specific internal logic to order items.

(Please don't think about offering a different verb to sort custom things. It makes no sense to distingu

[2017-03-20 02:24] mklement0 opened #3371 "Trace-Command quietly ignores nonexistent trace sources"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

An error should occur, and the error message should indicate that no such trace source is defined.

Actual behavior
---------------

No error occurs and no trace output is produced (only the output from the command in the script block).

The lack of error message means that even simple misspellings of existing trac

[2017-03-20 02:56] jeffbi commented on #3023
Just as a point of interest, at the time this cmdlet was written the target OS was Win10.

Fortunately there aren't too many native API calls, so wrapping them shouldn't be too onerous.

@SteveL-MSFT  I can take this one if you like.

[2017-03-20 03:11] mklement0 opened #3372 "Trace-Command -PSHost -Name TypeConversion appears not to work"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Tracing output that shows how the RHS is coerced from a `[bool]` to an `[int]`

Actual behavior
---------------

No tracing output is generated at all.

In fact, even `-name *` produces none.

In PSv5.0, the command does produce tracing output, but that output appears to be generic and not related to the specific e

[2017-03-20 03:14] iSazonov commented on #3023
Perhaps it is time to start porting this cmdlet instead of doing partial fixes. It would be good to do it in Beta time.

[2017-03-20 03:52] iSazonov opened #3373 "Tab completion don't work for $error"
Steps to reproduce
------------------
[code]
Expected behavior
-----------------
Tab completion substitutes property names (CategoryInfo, Exception ...)

Actual behavior
---------------
Tab completion don't work.

Environment data
----------------

All (Windows and Windows Core) PowerShell versions.

[2017-03-20 04:07] iSazonov commented on #2653
Is the original Issue only on Unix? I cannot reproduce on Windows.

@SteveL-MSFT  If we want fix this in 6.0.0-beta1 we need more details about what @joeyaiello  said. Or will it be an internal solution?

[2017-03-20 04:27] mklement0 commented on #3359
@iSazonov  That's helpful, thanks.

The documentation talks about the "last _operation_", without defining what _operation_ means in this context.

In practice, as you've demonstrated, that means it's about the last _command_ OR _expression_.

By _command_ I mean specifically mean something parsed in _argument mode_ (a single function/cmdlet call/external utility call), as opposed to an _expressio

[2017-03-20 06:54] iSazonov commented on #3359
I believe "Last operation" is exclusively "Command". It is include "Command" in [pipeline](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/runtime/Operations/MiscOps.cs#L463). No Expression.
[code]
One exclusion is for [Condition](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/parser/Compiler.cs#L1965):

  /

[2017-03-20 07:28] iSazonov commented on #1930
@SteveL-MSFT It seems typo "case-sensitive on Linux and case-insensitive on Linux"

[2017-03-20 10:30] gonhidi commented on #2653
I have experienced this issue using v6.0.0-alpha.17, both on macOS 10.12.3 Sierra and on Ubuntu 16.04 LTS (using the AppImage): Get-Help about_* lists no topics but Get-Help about_Variables does return the appropriate help page.

[2017-03-20 13:04] powercode commented on #3368
Does the same thing happen in the with the `$switch` variable in the switch statement?

[2017-03-20 13:23] mklement0 commented on #3359
@iSazonov

I wish that were true; it was my initial expectation, reflected in the first post.

However, as you pointed out, if the entire "operation" is an _expression_ (unrelated to a conditional), `$?` reflects the _expression's_ success, not that of the embedded command:

`(Get-Item -EA SilentlyContinue NoSuchItem); $?` yields `True`, with the expression's success eclipsing `Get-Item`'s failure

[2017-03-20 15:40] nkolev92 commented on #3325
Any updates here?
ETA?

[2017-03-20 16:03] SteveL-MSFT commented on #2653
This doesn't repro on Win10, but does repro on Ubuntu16 with alpha.17 for me.

[2017-03-20 16:06] SteveL-MSFT commented on #3023
Making it cross-platform is a pretty big task and probably something we'd do for 6.1.0.  @jeffbi it should be pretty straightforward to wraps so they `silentlycontinue` for current release.

[2017-03-20 16:17] SteveL-MSFT commented on #3359
Seems like we may just need better documentation

[2017-03-20 16:21] iSazonov commented on #3359
@mklement0

No. You means my:

You should understand this as:

And yes, we need update docs.

[2017-03-20 16:39] daxian-dbw commented on #2138
@iSazonov thank you for pushing the fix through!
There are 3 minor remaining issues and they are tracked by #3366

[2017-03-20 17:19] SteveL-MSFT commented on #2856
No longer repro'ing for me on Ubuntu16 with alpha.17

[2017-03-20 17:22] SteveL-MSFT commented on #3198
Not getting the exception on alpha.17

[code]

We have a separate issue to actually use the .Net SecureString implementation: https://github.com/PowerShell/PowerShell/issues/3228

[2017-03-20 17:22] #3198 closed

[2017-03-20 17:36] SteveL-MSFT commented on #2597
Dupe of https://github.com/PowerShell/PowerShell/issues/1152

[2017-03-20 17:36] #2597 closed

[2017-03-20 17:49] mklement0 commented on #3359
@SteveL-MSFT, @iSazonov: I'm glad that **we agree that the docs need updating**.

For the sake of updating the docs, **let's see if we agree what the _current_ behavior is**:

Again, using the term "command" in this abstract way is inviting confusion, given the fundamental distinction between a command proper (something parsed in argument mode) and an expression (something parsed in expression mod

[2017-03-20 18:00] SteveL-MSFT commented on #3359
CC @BrucePay

[2017-03-20 18:07] iSazonov commented on #3359
@mklement0 Forget "expression". The key here is:

[2017-03-20 18:32] vors opened #3374 "Revisit macOS crypto patching logic and install instructions"
According to https://github.com/dotnet/corefx/pull/17011 dotnet core 2.0 doesn't have a dependency on openssl for macOS.
When we switch to 2.0, we should revisit
- [ ] crypto deps patching logic
- [ ] install instructions

[2017-03-20 18:39] VGib commented on #2668
I don't know. I tryed month after, I didn't have the error and I've compiled without a problem. I think the variable's problem may have been solved.
Do you want to  open it again?

[2017-03-20 18:59] mklement0 commented on #3359
@iSazonov:

If we leave the terminology discussion (see below) and to what extent the current docs reflect the intent of the by-design behavior aside, **I've tried to point out problematic aspects of the current behavior**, and I'd love to hear your thoughts on that:

* Aside from the terms that I used, is there something incorrect about how I've described the current behavior?

* Is it clear what

[2017-03-20 20:24] SteveL-MSFT commented on #3098
I haven't seen the `Get-Help -Online` tests failing recently, do we still need this issue open?  We had failures due to an issue with a remoting test, but that's not related to this topic.

[2017-03-20 20:41] vors commented on #3098
@SteveL-MSFT it's there, take a look at this yesterday build
https://travis-ci.org/PowerShell/PowerShell/jobs/212862882#L1395

It's pretty confusing to hunt down the nightly builds in all the builds, but you can filter by branch (master) and distinguish them by the much longer execution time. And red status :P.

[2017-03-20 20:49] daxian-dbw commented on #3098
@SteveL-MSFT @vors For Travis builds, you can search for `Executing travis.ps1 $isPR='False' $isFullBuild='True'` to tell if it's a nightly build. The combinations are:
`Executing travis.ps1 $isPR='True' $isFullBuild='False'`  -- PR build
`Executing travis.ps1 $isPR='False' $isFullBuild='False'` -- push build
`Executing travis.ps1 $isPR='False' $isFullBuild='True'`  -- nightly build

[2017-03-20 21:17] megamorf commented on #3370
I don't understand the issue - since sort is a valid verb it can be used in all noun combinations. Can you clarify what you actually want to achieve and what's blocking you?

[2017-03-20 23:08] lzybkr commented on #3368
`$switch` should have the same problem - they share the key part of the implementation [here](https://github.com/PowerShell/PowerShell/blob/30eb61e3b9b36130da051fb315201f208d9ee0a2/src/System.Management.Automation/engine/parser/Compiler.cs#L4107).

Mutable valuetypes are difficult to get right in PowerShell because everything tends to get boxed, and that is exactly what happens here. We can't know

[2017-03-20 23:13] joeyaiello commented on #2511
This is dependent on wcf, so it's not a beta1 blocker, but given the current milestone that it's assigned to over there, we're hoping it gets fixed in the beta1 milestone.

[2017-03-20 23:18] joeyaiello commented on #3248
@iSazonov do you know of an issue where .NET Core is tracking this problem? You're right, ideally the fix is made in .NET Core.

[2017-03-20 23:30] joeyaiello commented on #2649
I'm willing to bet that #2653 doesn't repro on Windows because it's finding Windows PowerShell help files.

[2017-03-20 23:42] joeyaiello commented on #1775
This may be related to #2865

[2017-03-20 23:53] joeyaiello commented on #707
We have an [RFC open for this work](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0020-DefaultFileEncoding.md) (please [add your comments in the issue dicussion](https://github.com/PowerShell/PowerShell-RFC/issues/71) @dahlbyk) but it will likely not land in beta1.

[2017-03-20 23:54] joeyaiello commented on #621
So in other words, we shouldn't require the use of `-Force` to remove a symlink, and we should not traverse the symlink at remove-time to delete the files that it targets. Treat the symlink itself as you would any other file.

[2017-03-21 00:32] gregg-miskelly commented on #3356
Work around: Add `.exe` to the end of `program` in .vscode/launch.json:

[code]

[2017-03-21 01:54] jeffbi commented on #3356
Outstanding. Worked for me. Thank you.

[2017-03-21 01:56] mklement0 commented on #3248
@joeyaiello:

* I don't think there is a fix to be made in .NET Core, or any variant of .NET, for that matter.

* **PowerShell, from v1 on, decided to do its own thing, _separate from the .NET framework_**, which at its core (no pun intended) was always UTF-8-without-BOM based - and .NET Core is no exception.

* Therefore, **aligning with PS with .NET's defaults - if chosen - must be a very delibe

[2017-03-21 02:08] billwolckenlmco opened #3378 "ConvertFrom-Json breaking change: automagically detects timestamps and deserializes to DateTime"
ConvertFrom-Json in prior releases of PowerShell left strings that looked like date/timestamps in JSON data alone and deserialized them as strings.  In v6.0.0-alpha.17 on Mac, they are being converted to DateTimes.  This a breaking change, and if it is an intended feature, it should be opt-in via a cmdlet parameter of ConvertFrom-Json.  (In my scenario, I do not want the automagic conversion, sinc

[2017-03-21 03:59] iSazonov commented on #2668
Thanks for clarify!
If the problem appears again feel free to re-open the Issue.

[2017-03-21 05:00] iSazonov commented on #3359
I believe you skip the trick: there are commands consisting of one expression:
- Get-Item NoSuchItem  - Command
- ( Get-Item NoSuchItem  ) - looks as Expression
- ( Get-Item NoSuchItem  ); - in this context it is Command
- if ( Get-Item NoSuchItem  ) {} - in this context it is Expression consisting of one Command

So your "current behavior" description should consider it to be extremely accurate.

[2017-03-21 05:22] iSazonov commented on #3248
@joeyaiello I have not found such Issue in CoreFX repo. We should create new. I prefer that it made the PowerShell team because it can cause a large discussion.

[2017-03-21 08:01] dmilov opened #3379 "Uninstall-Module: add ability to uninstall dependent modules"
The use-case is to upgrade multiple modules to their new version. When there is a module with number of dependent modules Install-Module allows installing all dependent modules at once. If I need to upgrade the modules to new version with no willing to have multiple versions of certain module I'd expect to be able to uninstall module with all dependent modules at ones using Uninstall-Module.

Here

[2017-03-21 08:26] schittli commented on #3370
No Sort is not a valid verb. If we use it in an own module and import it, we get:

I think there is no comprehensible reason to not allow Sort as an approved verb.
Kind regards, Thomas

[2017-03-21 09:35] iSazonov commented on #3379
We have related Issue #2505 "Reloading module does not reload submodules"
If we fix this we fix "upgrade multiple modules to their new version" too.

[2017-03-21 10:15] Alaknar commented on #3370
Two questions:

1) Why not use `Get-SortedIniContent` instead?
2) Why not use `Get-IniContent -sort` instead?

The reason, as I understand it, is that in order to sort something you use Sort-Object anyway (unless you guys so something completely different with your data).

Otherwise I don't see a particular reason against adding it.

[2017-03-21 10:42] schittli commented on #3370
Hi Alaknar

thanks a lot for your proposals :-)!,

Because we are working with the IniContent-Object, changes its content - and at some time we would like to sort it.

Therefore, I thought that … | Sort-IniContent would be more intuitive because it's similar to  … | Sort-Object.

Kind regards, Thomas

[2017-03-21 11:42] RichardSiddaway commented on #3370
I'm struggling to understand why

get-IniContent | sort-object

doesn't work for you

why do you need another sorting mechanism

[2017-03-21 11:44] mklement0 commented on #3359
@iSazonov:

Thanks for the link.

My final thought re terminology (and I'm happy to leave it at that) is that it's confusing to use the same name ("command") for both something specific ((a) above) and an abstraction from it that encompasses other specific things ((a) _and_ (b) above) - perhaps "statement" is the best abstract term, given that it's already being used in many conceptual topics.

To

[2017-03-21 12:01] schittli commented on #3370
The object in the Pipeline is a complex business object and we need a Sort-**Algorithm** to calculate it's right, "natural order".

Because PowerShell is used in more and more use cases (e.g. the SAP ERP uses PowerShell to access their data), I think it's the natural development to have more complex objects which needs their own Sort-… command.

Our PowerShell Module offers the business logic to t

[2017-03-21 12:03] iSazonov commented on #3359
PowerShell parser use "statement" 😄 (You can see this in PowerShell notation.)

[2017-03-21 14:55] powercode commented on #3368
@PetSerAl Nice catch by the way

[2017-03-21 14:58] pcgeek86 opened #3381 "Question: Digitally signing updatable help"
The ["step-by-step" documentation for updatable help](https://blogs.msdn.microsoft.com/powershell/2017/02/01/installing-latest-powershell-core-6-0-release-on-linux-just-got-easier/) indicates that it's a best practice to digitally sign your HelpInfo XML files. However, there aren't any specific directions, that I can find, that would indicate exactly how this is accomplished.

Are there any direct

[2017-03-21 15:59] lzybkr opened #3382 "Use -TestCases parameter in FormatHex.Tests.ps1"
The test FormatHex.Tests.ps1 has helper functions and use foreach where the `-TestsCases` parameter to `It` could be used.

Fixing this would make it a little easier to read the test and be more consistent with other tests.

[2017-03-21 16:03] rkeithhill opened #3383 "Format-Hex should have Count and Offset parameters"
Is there any chance we could add `Count` and `Offset` parameters? I could probably live without `Offset` but on the PSCX Format-Hex command, I use `-Count` almost all the time. That's because I use it to see if a text file has a BOM, in which case I only want to see the first 3 characters.

[2017-03-21 16:07] PetSerAl commented on #3368
@powercode It is not actually my catch. I see the [problem](https://windowsserver.uservoice.com/forums/301869/suggestions/11113494) some time ago. And as it not fixed yet and I do not find same issue here, I decide to repost it here.

[2017-03-21 16:13] lzybkr commented on #3370
As I recall, the thinking was that there is are a few universal cmdlets where the PowerShell cmdlet was the only one necessary - `Sort-Object`, `ForEach-Object`, and `Where-Object` - none of those verbs are approved elsewhere.

`Sort-Object` allows for some very complicated sorting via the `-Property` parameter, here is a contrived example that combines properties in a synthetic property for sorti

[2017-03-21 16:24] SteveL-MSFT opened #3384 "demo script for cloud management"
Need demo.ps1 script and corresponding markdown authored for beta1 scenarios

[2017-03-21 16:25] SteveL-MSFT opened #3385 "demo script for remoting scenarios"
Need demo.ps1 script and corresponding markdown authored for beta1 scenarios, both SSH and WSMan remoting

[2017-03-21 16:30] SteveL-MSFT commented on #2513
No longer repros

[2017-03-21 16:30] #2513 closed

[2017-03-21 16:48] lzybkr commented on #3307
@iSazonov - an alias parameter would only help when binding via the pipeline.
We could add an argument transformation attribute though - that would change behavior anywhere it wasn't used.  The transformation would do nothing for strings, use `FullName` for FileInfo or DirectoryInfo instances, and I guess use whatever conversion we do today for everything else, probably calling `LanguagePrimitives

[2017-03-21 17:01] daxian-dbw opened #3387 "Need to verify if "get-help -online" works fine on the Azure code coverage VM"
#3051 introduced the `if((-not ($skipTest)) -and $IsWindows)` block in `test/powershell/engine/Help/HelpSystem.OnlineHelp.Tests.ps1` because our default-browser-discovery code, which was used in `Get-Help -Online`, didn't work correctly on the Azure code-coverage VM.

After #3281, that code was replaced by calling into `ShellExecuteEx`. We need to verify if `Get-Help -Online` works fine now on the

[2017-03-21 17:02] daxian-dbw commented on #3079
#3051 introduced the `if((-not ($skipTest)) -and $IsWindows)` block in `test/powershell/engine/Help/HelpSystem.OnlineHelp.Tests.ps1` because our default-browser-discovery code, which was used in `Get-Help -Online`, didn't work correctly on the Azure code-coverage VM.

After #3281, that code was replaced by calling into `ShellExecuteEx`. We need to verify if `Get-Help -Online` works fine now on the

[2017-03-21 17:03] daxian-dbw commented on #3387
It turns out this is a duplicate of #3079

[2017-03-21 17:03] #3387 closed

[2017-03-21 17:23] vector-sec opened #3388 "Make isTranscribing internal bool accessible to the end user"
It would nice if https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHostTranscript.cs#L27 were visible to the end user such that you could determine by checking the value of isTranscribing to see if the powershell session you are currently in is being transcribed.

[2017-03-21 17:24] iSazonov commented on #3356
From https://github.com/OmniSharp/omnisharp-vscode/issues/1335

[2017-03-21 17:30] SteveL-MSFT commented on #3388
@vector-sec can you give a use case where you would use this information?

@LeeHolmes is there any concern about exposing the state of transcription?

[2017-03-21 17:46] PetSerAl commented on #3368
@lzybkr IMHO, boxing is not a problem, but part of solution. If you pass boxed instance around as object or as interface, then all references would point to the same boxed instance. The problem is that PowerShell try to preserve copy by value semantic for value types in some cases (for example, assigning value to variable), but does not provide any option to opt-out from this behavior.
[code]

[2017-03-21 17:46] schittli commented on #3370
Good evening

Thank you very much for all your support!, **but this is not a technical question.**

Of course, there are ways to solve the problem to sort complex business objects.
But in fact, this is the real problem / question:

1. PowerShell has the great verb-noun concept. We should not break it, because it allows us to use PowerShell in a very intuitive way.
2. I'm pretty sure it's a great c

[2017-03-21 18:08] iSazonov commented on #3370
We could try to save this cmdlet universal and add the ability to specify not only `Property` but also `Method/Class/Interface` for sorting.

[2017-03-21 18:13] SteveL-MSFT commented on #3098
https://github.com/PowerShell/PowerShell/pull/3377

[2017-03-21 18:13] #3098 closed

[2017-03-21 18:20] SteveL-MSFT commented on #3079
Just created a WS2016 VM in Azure and `get-help -Online gps` works as expected although you do get a bunch of warning dialog boxes due to `Internet Explorer Enhanced Security Configuration` (which is expected).  However, if we use Server Core VMs, then I expect there to be no web browser (or GUI) available, so it depends on the type of VM we use for our nightly runs.

Closing this issue as the ori

[2017-03-21 18:20] #3079 closed

[2017-03-21 18:21] #1345 closed

[2017-03-21 18:24] SteveL-MSFT commented on #3349
@joeyaiello currently, we name it `powershell-6.0.0_alpha.17-1.el7.centos.x86_64.rpm`, should we change it to `powershell-6.0.0_alpha.18-redhat.x86_64.rpm`?

[2017-03-21 18:25] vors commented on #3307
Yes, that's very reasonable

[2017-03-21 18:27] SteveL-MSFT commented on #3349
@joeyaiello also, RHEL appears to be paid only (presumably for support), not sure how we should test RHEL regularly

[2017-03-21 18:30] daxian-dbw commented on #3079
@SteveL-MSFT do you think the `if((-not ($skipTest)) -and $IsWindows)` block should be removed?

[2017-03-21 18:39] PetSerAl opened #3390 "`Out-Default -Transcript` does not properly revert `TranscribeOnly` state, which can suppress displaying any further success output on console"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
`Out-Default` should properly revert `TranscribeOnly` state, when it completes execution.

Actual behavior
---------------
Any further success output is not displayed on console.

Environment data
----------------
[code]

[2017-03-21 18:54] SteveL-MSFT commented on #3079
cc @JamesWTruher are we using Server Core for CC?

[2017-03-21 19:02] daxian-dbw commented on #3079
@SteveL-MSFT that makes sense.

[2017-03-21 19:37] lzybkr commented on #3368
If the value was boxed, we would unbox when calling a method. At runtime, we don't really pay attention to the fact that an object implements an interface, we just look for the appropriately named method in the class/struct, and correct code gen that way would require an unbox.

[2017-03-21 19:47] PetSerAl commented on #3368
@lzybkr I am confused now. How does enumerator advance then? I mean I call `$ForEach.MoveNext()` where `$ForEach` is boxed value type. Is it unbox `$ForEach` and call method on unboxed copy? But that should left `$ForEach` boxed copy unaffected.

[2017-03-21 19:56] lzybkr commented on #3368
I haven't looked closely to see exactly what's going on, but if we copied once to a strongly typed field/variable, but did not box, I think that would explain the behavior I see in the repro.

But I could easily be wrong here, my point was mostly to point out how boxing causes problems with mutable structs, it has been a problem in the past.

[2017-03-21 20:09] joeyaiello commented on #3349
@SteveL-MSFT no the recommendation here would be to remove the `centos`/`redhat` qualifier ([`el7` should already be sufficient here](https://unixy.net/secure/knowledgebase/104/What-does-el5-el6-and-el7-mean.html)).

Also, I did some more research and, while the source has to be available (it's GPL), Red Hat does some stuff with trademarks that prevent redistribution of RHEL binaries. However, the

[2017-03-21 20:38] joeyaiello commented on #3248
Wow, there's a lot there. Let me clarify a few things:

First, my ask to @iSazonov was purely around the codepage issue he referenced above. I admit I skimmed the problem a little too quickly and mistook `FileSystemCmdletProviderEncoding` for a CoreCLR type rather than for our type. I had assumed this was similar to #2009 where we were reading an inaccurate value given to us by CoreCLR. If "curren

[2017-03-21 21:29] TravisEz13 commented on #3295
per #2393 opensuse 13.2 is not supported

[2017-03-21 21:29] #3295 closed

[2017-03-22 01:45] TravisEz13 opened #3393 "A remoting timeout communicating with a job should cause the job to fail"
Steps to reproduce
------------------
1. **Cause the job to go into the WER debugger**
[code]
2. **Don't let the process out of the debugger (assume you aren't paying attention)**

If a Windows Error Reporting window (“powershell has stopped working”) shows, do not interact with the window. Wait for a couple of minutes, and check the state of the job through the variable $job.

Expected behavior
-

[2017-03-22 10:28] kim0 commented on #2784
Hi Folks, did anyone have a chance to improve this situation? I would really love to start playing with azurerm form PS on OSX .. Thanks!

[2017-03-22 18:22] joeyaiello commented on #2784
We're working with the Azure PowerShell team to work through this. I don't want to offer a timeline right now, but it's definitely a high priority for us.

[2017-03-22 19:35] vors commented on #3321
I'd treat is a high priority, because it makes impossible to have any pipeline with 2 or more native commands (when both have stdin redirected).

The simpler repro is `1 | grep 1 | grep 1`

[2017-03-22 19:36] PaulHigin commented on #3393
Once the target process crashes the job client probably doesn't get anymore information through the remoting system and the client side is eventually closed due to an inactivity timeout.  This should generate an error on the client side (session broken) that the job should report with a "Failed" status.

[2017-03-22 19:38] PaulHigin commented on #3130
Un-assigning since this is not beta1 work.

[2017-03-22 19:39] PaulHigin commented on #2852
Un-assigning since this is not beta1 work.

[2017-03-22 19:41] SteveL-MSFT commented on #3321
CC @joeyaiello

[2017-03-22 19:45] mklement0 commented on #2009
Just a heads-up that, at least as of this writing, while [dotnet-core#6006](https://github.com/dotnet/coreclr/pull/6006) does intend to bring `System.Environment`'s `OSVersion` back:

* its implementation is [not cross-platform yet](https://github.com/dotnet/coreclr/blob/cdff8b0babe5d82737058ccdae8b14d8ae90160d/src/mscorlib/src/System/Environment.cs#L398),

* and is furthermore currently based on

[2017-03-22 21:17] PaulHigin opened #3397 "Interactive remote session should support file transfer"
Currently you can copy files over a PowerShell remote session via Copy-Item -ToSession/-FromSession, where you run Copy-Item on the client machine with an existing session variable:
[code]
But it would be much nicer to be able to copy files from within an remote interactive session, similar to what you can do in Remote Desktop:
[code]
This would be a new feature and require an RFC to provide a det

[2017-03-22 21:28] mklement0 commented on #3248
@joeyaiello: Thanks for that detailed response.

The  **_Windows_ perspective**:

**I may have spoken too soon when I said that no .NET Core fix is needed, though PowerShell could do its own implementation, if needed**:

The current PS Core source code contains [this comment](https://github.com/PowerShell/PowerShell/blob/b4049879d432a4a8b9d40845ef634dc5f22aa44e/src/System.Management.Automation/uti

[2017-03-22 21:50] mklement0 commented on #3248
@joeyaiello: As for the side notes:

While the differing BOM behavior between `[System.Text.Encoding]::UTF8` and `[System.Text.UTF8Encoding]` is regrettable, **the true _default_ behavior has always been _BOM-less_ UTF-8.**

By true default behavior I mean what happens when you use `[System.IO.File]` methods _without specifying an encoding_:

* On _writing_, a BOM-less UTF-8 file is created.

* On

[2017-03-22 21:53] pcgeek86 opened #3399 "Duplicate help items in PowerShell -- how does one disambiguate?"
Steps to reproduce
------------------

Run `Get-Help -Name about_Should`.

Expected behavior
-----------------

The help for `about_Should` appears.

Actual behavior
---------------

Two help items are returned, but not the actual contents of the help documents.

Environment data
----------------

[code]

![screen shot 2017-03-22 at 2 46 52 pm](https://cloud.githubusercontent.com/assets/466713/242

[2017-03-22 22:33] PaulHigin commented on #2321
@iSazonov Thanks again.  It looks like you can specify a new process group id if done at the right time
"The setpgid() function shall either join an existing process group or create a **new** process group..."
I have created an  issue/request for dotNet Standard to add this (CREATE_NEW_PROCESS_GROUP) support.

[2017-03-23 00:31] daxian-dbw opened #3400 "Build powershell core in Visual Studio 2017"
With #3398, we are now building powershell core via MSBuild with our building script. However, it seems not working properly in Visual Studio 2017. We need to make it possible to build powershell in VS2017 as well.

[2017-03-23 00:34] daxian-dbw opened #3401 "Meta-package project "Microsoft.PowerShell.SDK" generates an empty assembly"
Due to .NET Core SDK issue [#1021](https://github.com/dotnet/sdk/issues/1021), our meta-package project `Microsoft.PowerShell.SDK` starts to generate an empty assembly during the build and that results in an empty assembly `Microsoft.PowerShell.SDK.dll` appear in `publish` folder and in `.deps.json` file. We cannot simply remove the assembly because it's now part of the TPA, and removing it will c

[2017-03-23 00:57] PetSerAl commented on #3399
Content actually returned, just not displayed. You can use this:
[code]
to display content.

[2017-03-23 04:10] iSazonov commented on #2321
@PaulHigin Please add link on the Issue for tracking.

[2017-03-23 04:47] mklement0 opened #3402 "Confusing `Get-Command -ArgumentList` behavior"
Not sure this is a bug, but the behavior is confusing.

Currently, the following two commands are equivalent:

[code]

[code]

Apparently, any remaining unbound parameters are collected in `-ArgumentList`, and parameter set `CmdletSet` is selected.
No error is reported and lengthy output is produced - albeit fewer items than without any parameters.

* This behavior makes it easy to miss mistyped p

[2017-03-23 09:25] iSazonov commented on #3248
I collected all links for more easy review.

#### File encoding ####
1. [`FileSystemCmdletProviderEncoding` _enum_](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/namespaces/FileSystemProvider.cs#L7329)
Used by FileSystemProviger cmdlets.
Contain special member `Byte` for BinaryStreams. It is processed by separated code, other members is converted to `System.

[2017-03-23 11:58] dayroncj commented on #2646
For future readers...

The error is because "-To" parameter cant be null or empty.  If the intend is to use "-Bcc" rather "-To", you can use a dummy email address like 'noreply@noreply.com' and set the "-Bcc" paramter with all the recipients.

For last, -BodyAsHtml is a boolean parameter thus no value is neccesary.

[2017-03-23 14:39] wisemoth opened #3403 "Build failure on Win7-x64 with build.psm1"
I've just cloned (and then submodule-initted because I forgot!) the repo into my win7-x64 machine.  Powershell is my shell. I imported `build.psm1` and then ran `start-psbootstrap` and `start-psbuild`.  The former succeeded, the latter failed.

My command history:

(note here I'm re-reunning `Start-PSBootstrap` to ensure it did in fact succeed (I ran it moments before but re-ran it because I'd see

[2017-03-23 15:07] iSazonov commented on #3403
@wisemoth Thanks for your report!
In the coming days we will migrate to MSBuild so build process will be changed. We will update the documentation. In addition, we need to fix a few related already registered Issues. After that you will be able to continue your work.

[2017-03-23 15:33] PaulHigin commented on #2321
Here is the link:  https://github.com/dotnet/corefx/issues/17412

[2017-03-23 17:24] bielawb commented on #3402
The purpose of ArgumentList is to pass positional arguments to a given command:
E.g. to see `-Concatenate` on `Set-Item` you would do this:
`Get-Command Set-Item -ArgumentList WSMan:\localhost\Client\TrustedHosts -Syntax`

Another example: to see all extra parameters for New-PSDrive in ActiveDirectory provider (PSProvider is a second positional parameter in this case) you would run:
`Get-Command -

[2017-03-23 17:36] SteveL-MSFT opened #3404 "`out-default -transcript` writes input twice to transcript"
Repro:

Not a regression, same issue with PSv5.1

[code]

Expected:
[code]

Actual:
[code]

[code]

[2017-03-23 18:01] SteveL-MSFT opened #3405 "Out-Default -Transcript within parenthesis emits input"
Repro:

[code]

Expected:

[code]

Actual:

[code]

[code]

[2017-03-23 18:17] daxian-dbw opened #3406 "Move the common properties to a shared .props file that can be imported by all .csproj files"
There are some common properties that appear in almost all `.csproj` files, for example, `AssemblyOriginatorKeyFile`, `DelaySign`, `SignAssembly` and some configuration related properties. They should be moved to a shared `.props` file and be included in other `.csproj` files.

[2017-03-23 18:18] mklement0 commented on #3402
@bielawb:

Thanks for that important clarification.

Generally, the term "arguments" in the help topics is _not_ limited to just _positional_ arguments; for instance, the description of `-ArgumentList` for [`Start-Process`](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.management/start-process) states (emphasis added):

I wonder what the reason for this restriction

[2017-03-23 18:25] mirichmo commented on #3403
@wisemoth We typically build it on Windows 10 or Server 2012r2 with the CMake generator is set to "'Visual Studio 14 2015 Win64" (or without the "Win64" for 32-bit builds).

I see a few options:
1. Upgrade your components to match our build requirements.
 * Install [VS 2015](https://www.visualstudio.com/en-us/productinfo/vs2015-sysrequirements-vs) on your Win 7 system. The community edition is fre

[2017-03-23 18:29] bielawb commented on #3402
Generally, I would argue that `-Arguments` that would take a hash table would be much cleaner:
[code]
I believe errors are only possible if a command that has dynamic parameters (true for Get-Item, false for Get-Date and your foo).

Easy to reproduce with updated foo (empty `DynamicParam` block)

[code]

I guess it's only validated when there is a good reason to "give it a try" - nothing changes i

[2017-03-23 18:46] mklement0 commented on #3402
Thanks again.

Great idea.

[2017-03-23 20:04] #3140 closed

[2017-03-23 20:38] zackschuster commented on #3345
If a file contains a reference to things like `<windows.h>`, `System.Windows.Forms` or .NET Framework 4.5, does that invalidate it for conversion? Going through the code, it seems like all instances of "Windows PowerShell" are either directly or indirectly connected to those resources, which makes me wary of submitting a PR with any conversions.

[2017-03-23 22:19] lzybkr commented on #2478
This is fixed by https://github.com/PowerShell/PowerShell/pull/2492

[2017-03-23 22:19] #2478 closed

[2017-03-23 22:23] mklement0 commented on #3248
@iSazonov: Great compilation of links, thanks.

Yes, `[cultureinfo]::CurrentCulture.TextInfo.ANSICodePage` and `[cultureinfo]::CurrentCulture.TextInfo.OEMCodePage` appear to be empty on all Unix platforms at the moment - though it appears the the groundwork has been laid in [LocaleDataUnix.cs](https://github.com/dotnet/coreclr/blob/a2c684d4094d00c715d67238cf4f4650248d4ded/src/mscorlib/src/System/G

[2017-03-23 23:16] SteveL-MSFT commented on #3345
@zackschuster That's a good point.  Currently, the Windows PowerShell (fullclr) code is intermixed with the PSCore code.  Let's defer this for now.

[2017-03-23 23:56] mnaiman commented on #3046
I think NTLM auth over SSH should be included in release same as for WinRM

[2017-03-24 03:35] iSazonov commented on #3046
@joeyaiello #3140 fixed - I put the mark in Plan.

[2017-03-24 06:59] iSazonov commented on #3248
There is a huge amount of software that only works with legacy code pages. Although the number has decreased since 2003 year.

[2017-03-24 13:32] powercode commented on #3400
Should we think about what is a Configuration and what is a Platform?

Linux is a config today, but it seems more reasonable to treat it as a platform.

I have a branch, https://github.com/powercode/PowerShell/tree/vs2017-build,  where I can build with vs2017, but it is untested on Linux/Mac and from the command line.

[2017-03-24 16:58] pcgeek86 opened #3412 "Register-PSRepository throws exception when run inside Windows Server container"
Steps to reproduce
------------------

1. Create a `Dockerfile` based on `microsoft/windowsservercore`
2. Run `Register-PSRepository` command inside `Dockerfile`

### build.cmd

[code]

### Dockerfile

[code]

Expected behavior
-----------------

Container builds successfully, without errors.

Actual behavior
---------------

Exception is thrown:

[code]

### redacted.ps1

[code]

Environment data

[2017-03-24 18:00] rtestardi opened #3413 "$myInvocation.OffSetInLine wrong?"
From: Richard Testardi
Sent: Thursday, March 23, 2017 11:17 AM
To: PowerShell Discussions
Subject: $myInvocation.OffSetInLine wrong?

Hi,

I found an old blog post from Jeffrey Snover which seems to not work anymore:

- https://blogs.msdn.microsoft.com/powershell/2007/05/31/getting-all-your-parameters/

In his post, $myInvocation.OffSetInLine is the string offset of the start of the parameters.

B

[2017-03-24 18:27] iSazonov commented on #3413
From [docs](https://msdn.microsoft.com/en-us/library/system.management.automation.invocationinfo.offsetinline(v=vs.85).aspx) OffsetInLine:

So it is "By design".

[2017-03-24 18:31] rtestardi commented on #3413
It's off by one for the command.

Did you see that?

From: Ilya [mailto:notifications@github.com]
Sent: Friday, March 24, 2017 12:28 PM
To: PowerShell/PowerShell <PowerShell@noreply.github.com>
Cc: Rich Testardi <rtestardi@live.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/PowerShell] $myInvocation.OffSetInLine wrong? (#3413)

From docs<https://msdn.microsoft.com/en-us/library/

[2017-03-24 18:32] daxian-dbw commented on #2826
The first part of the work has been checked in our internal source depot. It covers tracking values assigned to global/module scope variables.

[2017-03-24 18:33] daxian-dbw commented on #2826
Unsign myself for now as we are asked to focus on the `beta1` milestone issues.

[2017-03-24 18:34] daxian-dbw commented on #2530
Unsign myself for now as we are asked to focus on `beta1` issues.

[2017-03-24 18:37] daxian-dbw commented on #3150
I reopen this issue because our Travis CI full build passed last night but the badge shows `Failed`.

[2017-03-24 18:50] PaulHigin commented on #2321
Follow up:  I have created an API request to dotnet/corefx/issues to add support for process creation flags.  It is not clear if this proposal will be accepted or if the dotnet/corefx team will have resources to review/implement.  But there are other options.  One is to review the existing Linux process creation code and submit a pull request to support process creation flags.  The other is to use

[2017-03-24 18:54] iSazonov commented on #3413
Yes, I see.
I think the trick is that the documentation says "in characters" - so it is not C/C++ offset.
I agree that this is surprising.
I agree that we could recognize this as bug, but it will breaking change.

[2017-03-24 18:58] rtestardi commented on #3413
OK, so then (I would agree that) it should not change.

My fear was that it would get "fixed" at some random time and our scripts would break.

(I did manage to figure out a different way to do this, so as to not depend on that variable, I will admit.)

Thanks.

From: Ilya [mailto:notifications@github.com]
Sent: Friday, March 24, 2017 12:55 PM
To: PowerShell/PowerShell <PowerShell@noreply.github.c

[2017-03-24 19:00] rtestardi commented on #3413
Perhaps someone could just tweak the documentation?

From: Rich Testardi
Sent: Friday, March 24, 2017 12:59 PM
To: 'PowerShell/PowerShell' <reply@reply.github.com>; PowerShell/PowerShell <PowerShell@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [PowerShell/PowerShell] $myInvocation.OffSetInLine wrong? (#3413)

OK, so then (I would agree that) it should not change.

My fea

[2017-03-24 19:08] vors opened #3414 "Move-Item, Remove-Item don't work with paths containing \, [, ] on unix"
Steps to reproduce
------------------

On macOS or Linux `touch '1\2'`
Try `mv 1\2 2`, try `rm 1\2`

The real-world example of when you are getting `\` without knowing it is https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/11

The problem happens not only with `Compress-Archive`, but with other archive programs too. So macOS users need a way to bulk-rename files with `\` in the na

[2017-03-24 20:46] pauldambra opened #3415 "Equivalent of bash `set -e`"
I [asked this question on twitter](https://twitter.com/pauldambra/status/845274435707977728) and it was suggested I post here.

[Many](http://stackoverflow.com/a/13478622/222163) [people](https://github.com/azet/community_bash_style_guide#style-conventions) consider it good practice to start a bash script.

[code]

`set -e` tells the script to stop on first error
`set -u` tells the script to not a

[2017-03-24 20:49] kovalikp opened #3416 "Select-Object -ExpandProperty does not complete argument correctly"
`-ExpandProperty` argument completion of `Select-Object` does not behave the same way `-Property` parameter does. In first case it just retrieves whatever is on current path, in later it will properly offer properties of result from the pipe.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]
Actual behavior
---------------
[code]
Environment data
---------

[2017-03-24 21:06] lzybkr commented on #3414
Aren't `mv` and `rm` the Unix utilities? Assuming so, we shouldn't assume an argument that looks like a path is actually a Unix path.

[2017-03-24 21:15] daxian-dbw commented on #3414
Weird, I cannot reproduce this:
[code]
[code]
**Environment**
[code]

[2017-03-24 21:28] vors commented on #3414
Oh yeah, I mean our versions of rm and mv (aliases)

[2017-03-24 22:58] joeyaiello commented on #2321
Totally fair to move out to `beta2`, especially given that we'll be focusing especially on remoting scenarios for that release.

I'm going to work to engage with CoreFX with you, @PaulHigin. Let's chat offline.

[2017-03-24 22:59] daxian-dbw opened #3417 "Publish PowerShell NuGet packages for Linux/OSX platforms"
PowerShell Core builds separately for Windows and Unix, so the assemblies are different between Windows and Unix platforms. All PowerShell Core packages we published so far contain windows assemblies only.

The ideal solution is to have one package that contains assemblies for both Windows and Unix platforms. But `dotnet pack` doesn't seem to support this.

This is blocking hosting powershell in .

[2017-03-24 23:09] joeyaiello commented on #3046
@mnaiman I'm...actually not sure if that request makes sense from a crypto perspective. I challenge you to try what it is you're trying to do and report back if it doesn't work. We support password-auth for domain and non-domain accounts in SSH-based remoting (both with and without PSRP).  I'm not sure that it goes through any kind of NTLM layer (as I'm not sure SSH support NTLM), but I don't thin

[2017-03-24 23:25] SteveL-MSFT commented on #3046
@mnaiman @joeyaiello currently, we don't support SSO as SSH itself by default prefers keyboard-interactive auth which works just fine with NTLM and Kerberos against Win32-OpenSSH.  So this is different from WinRM remoting, but is consistent with SSH.

[2017-03-24 23:28] joeyaiello opened #3418 "Add `-NoProxy` parameter to Invoke-WebRequest"
This request [came in from UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/18689176-invoke-webrequest-should-support-noproxy-paramete), and I think it might make sense, but I'm also curious if there's a security implication here (i.e. if an admin sets a proxy globally, could a user override it with this parameter?)

Steps to reproduce
------------------
Set up a

[2017-03-24 23:29] joeyaiello commented on #3414
Update the title to reflect the issue more accurately.

[2017-03-24 23:46] daxian-dbw commented on #3400
The term "Platform" sounds like the right one to use, but it seems always indicating the CPU architecture based on my limited MSBuild experience, for example, `Any CPU`, `x64`, and `x86`.

And we have another problem -- with the current project files, `dotnet pack` will generate a NuGet package that only contains assemblies built for windows, which cannot be used reliably on Linux. I wonder if it'

[2017-03-24 23:46] ljgww opened #3419 "Get-Help (linux, ubuntu)"
Get-Help on Ubuntu 14.04
$ powershell --version
powershell v6.0.0-alpha.17

Steps to reproduce
------------------
PS /home/lj> Get-Help Find                                                          Searching Help for Find ...                                                     [oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo]

[2017-03-25 00:33] SteveL-MSFT commented on #3415
`$erroractionpreference = "stop"` is similar to `set -e`, except it only works against cmdlets and not native commands

[2017-03-25 00:36] SteveL-MSFT commented on #3412
@pcgeek86 you should open the issue at https://github.com/powershell/powershellget so it gets the right attention

[2017-03-25 00:53] #2291 closed

[2017-03-25 01:00] mirichmo commented on #3417
We need to publish the Windows version of the packages to NuGet as well.

Note: This issue seems very similar to #1152

[2017-03-25 01:33] SteveL-MSFT commented on #3419
I think this is a side effect of a broken progressbar (which was fixed https://github.com/PowerShell/PowerShell/pull/3362).  if you set `$progresspreference='silentlycontinue'` it renders correctly.

[2017-03-25 02:48] daxian-dbw commented on #2291
A documentation about hosting powershell core is added: https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell

@iztokp Unfortunately, as [discussed here](https://github.com/PowerShell/PowerShell/pull/3409#issuecomment-288934991), all powershell NuGet packages that have been published so far only contain powershell assemblies built specifically for Windows. We need to publish Nu

[2017-03-25 10:50] TheFlyingCorpse commented on #2393
Note: SLES 13.2 does not exist, openSuSE is not SLES. I would love to see packages for SLES though, in particular the 12.x series where 12.2 is the newest (late last year).

[2017-03-25 15:47] LaurentDardenne opened #3422 "Question: Where to find the schema file for ETS ?"
On this web [page](https://msdn.microsoft.com/en-us/library/ms714674(v=vs.85).aspx) (_Extended Type System (ETS)_) the quoted links are broken :

And this web [page](https://msdn.microsoft.com/en-us/library/dd878306(v=vs.85).aspx) is incomplete.

No details on the _IsHidden_ attribut  :
[code]
No example on :
[code]
Or about the specific name '_PropertySerializationSet_' into a propertySet :
[code

[2017-03-25 15:50] PetSerAl opened #3423 "PathIntrinsics.ParseParent throw AssertException in debug build when root is null"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Return `a`

Actual behavior
---------------
`AssertException`: ASSERT: Caller should validate root before calling this method

Environment data
----------------
[code]

Info
----------------
I see no place in call chain from [`ParseParent`](https://github.com/PowerShell/PowerShell/blob/master@%7B2017-03-25%7D/src/Sys

[2017-03-25 17:04] iSazonov commented on #3423
I cannot repo on Windows.

[2017-03-25 17:23] iSazonov commented on #3418
I believe there is not security implication here because any browser allow users to change Proxy settings.

We could use Uri = `Null` to disable proxy:
[code]

[2017-03-25 17:29] iSazonov commented on #3413
@SteveL-MSFT Maybe @powershell-committee makes a conclusion: should we fix this?

[2017-03-25 18:05] Schroedingers-Cat commented on #621
I'm running powershell 5.1 on Win10. The use of "Remove-Item" on a directory fails due to some subdirectories containing symlinks. Is there a way to delete the directory from powershell 5.1?

[2017-03-25 18:09] PetSerAl commented on #3423
Looks like this [commit](https://github.com/PowerShell/PowerShell/commit/54fa658e317244b04f87d1501c26b91a40b0b342) is the first where assertions are included in debug build and cause the issue.

[2017-03-25 18:24] iSazonov commented on #3423
Sorry, I tested in release.

[2017-03-25 18:27] Schroedingers-Cat commented on #621
I must be doing something wrong. Anyway, I found a way to get it done, at least.
From a powershell script, do
[code]
However, from a powershell terminal session, you have to:
[code]
You cannot use the latter in a powershell script and you cannot use the first on a powershell terminal session.

[2017-03-25 18:28] mklement0 opened #3424 "ConvertFrom-Json sends objects converted from a JSON array as an *array* through the pipeline."
Note: **Perhaps the behavior in question will rarely be noticed as problematic in the real world, so perhaps the only thing that's needed is adding a note to the _documentation_** - I'm unclear on whether this ultimately a non-issue.

alpha.17 fixed issue #3153 with respect to `ConvertTo-Json` no longer wrapping `ConvertFrom-Json`  array output in an extraneous object with `value` and `count` prop

[2017-03-25 18:30] iSazonov opened #3425 "Sort is incorrect for strings containing the '-' character"
From UserVoice https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/18580849-bug-sort-is-incorrect-for-strings-containing-the

Steps to reproduce
------------------
"somefile1","somefile2","s-abc","s-little","s-foo","s-poo","s-wtf" | sort

Expected behavior
-----------------
s-abc
s-foo
s-little
s-poo
s-wtf
somefile1
somefile2

Actual behavior
---------------
s-abc
s-foo
s-litt

[2017-03-25 18:32] iSazonov commented on #3425
It looks as .Net issue (tested on Windows PowerShell and PowerShell Core):
[code]

[2017-03-25 18:42] PetSerAl commented on #3425
Then it is Windows issue, because for displaying purposes Windows sort filenames in the same order.

[2017-03-25 18:48] iSazonov commented on #3354
@PaulHigin Could you clarify is the behavior by design or we should fix anything?

[2017-03-25 19:01] mnaiman commented on #3046
@joeyaiello @SteveL-MSFT SSH SSO provider is "gssapi-with-mic" (NTLM & Kerberos).

It allows single sign on on windows without typing password or saving private key somewhere.
Some part of gssapi is already here https://github.com/SimonWilkinson/gss-openssh/
Here implementation for client https://github.com/Lax/net-ssh-kerberos
Free/Commercial servers which supports gssapi PowershellServer & Bitwi

[2017-03-25 19:58] iSazonov commented on #3425
[code]

[2017-03-25 21:06] TravisEz13 commented on #2393
@TheFlyingCorpse Thanks for mentioning this.  If you would like SLES support, please file a new issue.  We will close this issue once the work for OpenSUSE is done.  I might even split out the work for openSUSE 42.2 as we are currently waiting on dot NET Core.  If you do file a new issue, please mention me.  Thanks

[2017-03-25 21:32] PetSerAl opened #3426 "Invocation operator should provide descriptive error message, when no command supplied"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Descriptive error message.

Actual behavior
---------------
Generic `IndexOutOfRangeException` thrown.

Environment data
----------------
[code]

Info
----------------
Invocation operators `&` and `.` allows first argument to be `PSModuleInfo` object. In that case them invoke following command in scope of that module

[2017-03-25 21:46] TheFlyingCorpse commented on #2641
Install libicu from regular Debian 8 (version 1.52 I think it was) and you can get it running under Kali 2016.2. libicu under kali is 1.57 which is not what its linked against. Alternatively, if you are brave, try to find a matching Ubuntu version and use its .deb file, I think its yakkety (16.10) comes with 1.57.

[2017-03-25 21:50] TheFlyingCorpse opened #3427 "Add support for SLES 12"
Please add support for SLES 12, the Microsoft friendly Linux distribution.

I have added a ticket with [dotnet-cli](https://github.com/dotnet/cli/issues/6152) to get support for SLES 12, this ticket is for PowerShell once that is underway.

/cc @TravisEz13

[2017-03-25 22:04] TravisEz13 commented on #3427
Thanks, @TheFlyingCorpse. Some people have suggested that the package for OpenSUSE 42.2 should work for SLES 12.  This solution is not quite the same thing as support, but I'll try to update this issue if we get unblocked on 42.2

[2017-03-26 12:35] antiufo opened #3428 ""Actual" current directory and PowerShell current directory mismatch when using .NET BCL methods"
When `cd` is used, the actual current directory of the process is not changed. This means that plain BCL methods still see the old current directory.

This creates an inconsistency with other ways of executing commands:
* PowerShell cmdlets: `$pwd` is honored
* External commands: `$pwd` is honored
* .NET methods: `$pwd` is _not_ honored

Steps to reproduce
------------------
[code]

Expected behav

[2017-03-26 12:46] PetSerAl commented on #3428
If I have process with multiple `Runspace`s and each one have different current location. Which one `$pwd` should be honored by .NET methods?

[2017-03-26 13:18] antiufo commented on #3428
Possible solutions I can think of:
* Leave the behavior as it is
* Take a process-wide lock when BCL methods are directly invoked (except for cmdlets), if multiple runspaces exist (I don't know to what extent it would impact the performance)
* Switch the current directory to a dummy, default directory whenever the number of runspaces > 1 (to make the mistake clear)
* Only honor the `$pwd` of the m

[2017-03-26 14:44] PetSerAl commented on #3428
@antiufo Process-wide lock will not going to work, unless everyone agreed to use it and performance implication are not very good. Also, not every process host PowerShell just for sake of hosting PowerShell. Process may have its own work to do and unlikely be happy if you just change its working directory to dummy one. And as `Runspace`s can come and gone at process wish, it may be hard to say whi

[2017-03-26 19:00] lzybkr commented on #3417
I think we want a single set of reference assemblies for portability. If we have platform specific APIs, then hopefully there is a way to refactor those into another assembly if need be.

[2017-03-26 23:11] mklement0 commented on #3248
@iSazonov: I hear you, but do users who rely on this kind of software need this legacy support in PowerShell _Core_? Aren't users who rely on legacy _Windows_ applications likely to stay in the realm of _Windows_ PowerShell?

I see the following **fundamental options** (from a purely _conceptual_ standpoint - ease of implementation is not being considered here).

I think it's **important to get cl

[2017-03-27 06:07] TravisEz13 opened #3429 "Setup and run Markdown validation tests in build.psm1 for dev machine"
Related to #3420
This has two tasks:
- [ ] Setup prerequisites for the markdown validation tests
- [ ] remove skip for non-CI machines if pre-requisites are not met.

[2017-03-27 07:50] powercode commented on #3400
Platform may be what we choose. LinuxX64 for example.
They are just monikers to give builders an easy way to set different settings based on Config and platform.
C++ has had Win32 and x64 while .NET has used AnyCPU, x86 and x64. But I think this traditionally has been Windows specific, so instead of saying Win-x86, they just went with the shorter alternative.
I haven't had much time to dig into th

[2017-03-27 10:15] iSazonov commented on #3400
I wonder how .Net Core resolve the same for itself packages? Can we use the same?

[2017-03-27 10:59] pauldambra commented on #3415
As someone fresh to Powershell that's a confusing distinction.

So would $erroractionpreference = "stop" work for my example above..?

i.e.

[code]

but

[code]

[2017-03-27 13:53] Flonk opened #3431 "Usual ScriptBlock scoping across module boundaries seems partially broken."
Steps to reproduce
------------------

- Create `module.psm1` with content

[code]

- Create `main.ps1` with content

[code]

- run `main.ps1`

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Additional Info
---------------

- If the function is defined in the same module as it is called, it works as expected.
- If `&$fn` is replaced with `&([ScriptBlock]::Cre

[2017-03-27 14:04] Flonk commented on #3431
To clarify, the same issue occurs when using modules defined via `New-Module`.

[code]

will not output anything.

[2017-03-27 15:55] mcwidg3t commented on #3418
In my testing, "-Proxy $null" does not work. The request still goes to the system proxy.

[2017-03-27 16:12] #3412 closed

[2017-03-27 16:44] iSazonov commented on #3418
It was my suggestion to implement.

[2017-03-27 17:09] SteveL-MSFT commented on #3415
`$erroractionpreference = "stop"` only works if `Write-Error` is called (such as an exception is raised).  It doesn't do any checks against $lastexitcode.  We can certainly look into adding another preference variable to throw an exception if $lastexitcode != 0.

[2017-03-27 17:14] PaulHigin commented on #3354
This is by design, but I am not sure what the reasoning was when the design decisions were made, and I agree it is confusing.

[2017-03-27 17:15] joeyaiello commented on #3002
As far as I understood from @JamesWTruher, the plan was always to be conservative with picking up new versions of Pester. Basically, that we shouldn't ship a new one unless we had a reason to pick up the new stuff.

It may very well be the case that we need to do that, but I'd like Jim to come in and make sure I've got the  history right first.

[2017-03-27 17:18] joeyaiello commented on #2969
@iSazonov So I'll be the first to admit that this thread is totally over my head, but `1.0.0-rtm` in the CoreFX repo implies that that work already shipped in .NET Core 1.0 RTM.

Is .NET Standard 2.0 still relevant here?

[2017-03-27 17:24] iSazonov commented on #3002
I agree that conservatism here is good. But two years is too much.

There is another problem. If Windows users can easily upgrade Pester and exploit new features, the Unix users cannot do this. This is really a problem for those who want to be fully ported.

[2017-03-27 17:56] iSazonov commented on #3354
@PaulHigin Thanks for comments!

@PowerShellTeam Can anyone make deeper explanations that we can document it or make improvements?

[2017-03-27 18:10] iSazonov commented on #2969
I can't still find full support STA in CoreFX 😕

[2017-03-27 18:25] SteveL-MSFT commented on #3314
@andschwa although the mixed casing are inconsistent with each other, they are consistent with the target platforms.  The Linux releases are consistent with Fedora guidelines (for example) which say that they SHOULD be lowercase, while AppImage appears to have adopted Pascal casing (along with Windows).  I'll add the `version` to the AppImage filename, but not make any changes to the casing.

[2017-03-27 18:38] daxian-dbw commented on #2969
The CoreFX issue was not addressed. It was closed as I quoted here:

[2017-03-27 20:04] glennsarti commented on #2742
Noted - Still an issue in v6.0.0-alpha.17

[2017-03-27 20:08] daxian-dbw commented on #3431
A script block is associated with the SessionState that it was created in, and when executing it will execute in that same SessionState, because the script block is very likely depending on the state (functions, variables and etc) of the SessionState it was created in.

In your example, `With-Foo` will run the module SessionState while `{write-host $foo}` is defined in a different SessionState, an

[2017-03-27 20:30] PaulHigin commented on #1734
This issue is addressed with PR #3434.

[2017-03-27 20:30] #1734 closed

[2017-03-27 20:31] TheFlyingCorpse commented on #3418
A downside of using `-Proxy $null` would be that it would override any DefaultWebProxy, every time, which means you would have had to specify the proxy on every request.

[2017-03-27 20:31] glennsarti commented on #1794
This is still an issue on 6.0.0-alpha17

[2017-03-27 20:35] glennsarti commented on #1794
Confirmed. Puppet is running the PowerShell script without the `HOME` env var (not sure why yet, will look into it)

[2017-03-27 20:43] glennsarti commented on #1794
Oh...The Exec type strips all user related environment variables prior to invocation i.e. `HOME`

[2017-03-27 20:56] glennsarti commented on #1794
This should've been resolved with https://github.com/PowerShell/PowerShell/commit/a2687bfb59eadd3cd46c697de54607a37e50f834

[2017-03-27 21:07] SteveL-MSFT commented on #1794
This is similar to that issue, but that change didn't fix this particular issue.  I can repro this easily by `unset HOME` and trying to start powershell.  I'll investigate this.

[2017-03-27 22:54] jeffbi commented on #2969
If it helps motivate them, without STA we cannot use IGroupPolicyObject (#3353)

[2017-03-27 23:23] joeyaiello commented on #3385
We need demos for:
- [ ] PSRP over SSH with the new parameter sets
- [ ] PSRP over WSMan from Linux w/ NTLM auth

[2017-03-27 23:29] #3314 closed

[2017-03-27 23:46] joeyaiello opened #3438 "Write RFC for SemanticVersion work"
@SteveL-MSFT, @HemantMahawar, and I agree that the semantic versioning work (#2983) will very likely not get done in `6.0.0-beta1`, but we should do our best to have an RFC out by `beta1` timeframe, so that we can have a strong implementation in `beta2`.

[2017-03-27 23:48] joeyaiello opened #3439 "Update known issues document"
Placeholder document for @HemantMahawar and I to do a sweep of `6.0.0-beta2` and `6.0.0` issues tagged `Issue-Enhancement` and `Issue-Bug` to update the [Known Issues doc](https://github.com/PowerShell/PowerShell/blob/master/docs/KNOWNISSUES.md) for `beta1`.

[2017-03-28 00:01] BrucePay commented on #3428
This behavior is by design and it's been this way since version 1.0. We considered options like those proposed above but none of them were viewed as satisfactory for various reasons. Acquiring a global lock, then setting the process pwd, then calling a method is a lot of overhead when the majority of .NET APIs don't depend on pwd. Doing this also greatly complicates a host application's (e.g. exch

[2017-03-28 01:11] daxian-dbw commented on #2969
@jeffbi Please leave a comment in the CoreFX issue. Maybe even reactivate the issue if you think it's a concrete scenario that should be supported in .NET Core.

[2017-03-28 01:27] #3058 closed

[2017-03-28 01:48] jeffbi commented on #2969
@daxian-dbw I have added a comment on the CoreFX issue, but I don't think I can reopen it.

[2017-03-28 05:49] iSazonov opened #3442 "Get path to a temporary directory"
Now, `New-TemporaryFile` cmdlet creates path to a temporary file. Sometimes we want to have path to a temporary directory.

Proposal is to add a `Directory` switch to get path to new temporary directory.

[2017-03-28 06:02] #3431 closed

[2017-03-28 06:08] MVKozlov commented on #3354
I understand that some design considerations have place and some streams must be on the screen but at least let it be captured just like informational stream

[2017-03-28 06:16] iSazonov commented on #3418
@TheFlyingCorpse We cannot change type (it is `Uri`) of the Proxy parameter.

[2017-03-28 06:41] iSazonov commented on #3248
@joeyaiello @SteveL-MSFT @mklement0 I opened issue-question in .Net Core repo and get great comments about defaults https://github.com/dotnet/standard/issues/260#issuecomment-289549508

[2017-03-28 09:37] wisemoth commented on #3442
I've also needed this.

I think the name would become (eg) `New-TemporaryItem`.  Or perhaps add a `-Temporary` switch to the existing `New-Item` and let the provider figure out what that means.

[2017-03-28 10:18] iSazonov commented on #3356
@jeffbi  After migration to MSBuild  the IntelliSense in VS Code stopped working because now there are no `json` files. Could you solve this?

[2017-03-28 14:35] iSazonov commented on #3400
@powercode Could you make PR with your vs2017 sln file?

[2017-03-28 15:59] PaulHigin commented on #3393
I found the place were the operation timeout error is being dropped by the job class during error handling.  It is a simple one-line fix and I'll create a PR for it.

[2017-03-28 16:19] SteveL-MSFT commented on #3438
@HemantMahawar can you author this?

[2017-03-28 16:33] PaulHigin commented on #3354
Take a look at InvokeCommandCommand.cs, WriteStreamObjectsFromCollection() method (https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/remoting/commands/InvokeCommandCommand.cs#L1842).  This shows how stream objects from the remoting layer are written.  Verbose, Warning, Progress, Debug, Host data streams are written through remote host method callbacks by

[2017-03-28 17:59] SteveL-MSFT commented on #3356
@iSazonov known limitation with .csproj and vscode https://github.com/OmniSharp/omnisharp-vscode/issues/1156

[2017-03-28 18:16] iSazonov commented on #3356
Yes, thanks! I download SLN file from @powercode - it is work well. But we need fix.

[2017-03-28 18:28] glennsarti commented on #1829
Confirmed still in an issue in PS 6.0.0-alpha17

[2017-03-28 18:29] glennsarti commented on #1829
https://github.com/dotnet/corefx/issues/12452 is still open

[2017-03-28 18:38] gregg-miskelly commented on #3356
I have posted a new release of the C# extension that includes the fix.

To try it -- use the use the [Installing Beta Releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) instructions to install [v1.9.0-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.9.0-beta2).

[2017-03-28 18:49] TheFlyingCorpse commented on #3418
I have a patch right around the corner that fixes this. It introduces a `-NoProxy` parameter.

[2017-03-28 20:00] Jaykul commented on #3091
@lzybkr We (third parties) *must* be able to produce modules like this one:

https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.LocalAccounts/LocalAccounts/PInvokeDllNames.cs

We either need a way to ship "Core" _and_ "Full" modules to the gallery (and automatically install the right one), or we need a solution for loading the right one from a module package containing b

[2017-03-28 20:13] #3367 closed

[2017-03-28 20:32] mklement0 commented on #3304
Because it took me a while to figure it out, I thought I'd share how to get the desired behavior with `-Include` / `-Exclude` (in the absence of `-Recurse`)  currently:

To get what you might _expect_ something like

[code]
to do, you must:

 * switch to `Get-Item` from `Get-ChildItem` - if you don't, any child _directories_ among the included items will output _their_ children, not the child dire

[2017-03-28 20:57] MSW345 opened #3448 "Cannot load PSReadline module. Console is running without PSReadline."
Steps to reproduce
------------------

Expected behavior
-----------------

Actual behavior
---------------

Environment data
----------------

[code]

[2017-03-28 21:11] SteveL-MSFT commented on #3448
@MSW345 need some repro steps please

[2017-03-28 21:18] SteveL-MSFT commented on #3091
@Jaykul Jason did some early work with portable modules successfully compiling PSReadline to be cross platform and supporting PSv3 https://github.com/PowerShell/PowerShell/pull/3095

[2017-03-28 22:00] Jaykul commented on #3091
Thanks @SteveL-MSFT, it's good to see that effort -- although somewhat discouraging.

More questions arise from that:

* Since that document is from 3 weeks ago, has any decision been reached about whose problem this is?
* I assume that even if the problem is passed to the PowerShellGallery team, the PowerShell core team still owns producing _new_ reference assemblies -- should I open a new issue

[2017-03-28 22:15] jeffbi commented on #3356
@iSazonov I'm not quite sure what you're asking me for. I can confirm that Intellisense in VS Code is no longer working.

[2017-03-28 22:35] #3399 closed

[2017-03-28 22:40] SteveL-MSFT commented on #3091
@Jaykul what may not be immediately obvious (and we covered this briefly on the last Community Call) is that we're working through pruning the set of api's we would publish as `PowerShell Standard 1.0` (name to be decided later) and this work isn't done yet (as part of the PR I ref'd above).

Expectation is that once this is complete, we'd have a new ref assembly you would use for cross platform (

[2017-03-28 23:13] thezim commented on #3418
@iSazonov if your workstation is under enterprise control typically you cannot change your proxy settings. Allowing so would subvert the security policy that is in place.

[2017-03-29 00:24] SteveL-MSFT commented on #3418
@thezim however, if they have access to powershell, they could circumvent it today calling the .Net APIs directly.

[2017-03-29 00:26] jeffbi commented on #3356
Well, it worked once. Now I'm unable to build in VS Code at all. I consistently get this:
[code]
I get this both with the current C# extension and with the beta @gregg-miskelly referred to.

I've tried several things including killing off and re-cloning all my local repositories, to no avail.

Building inside PowerShell with `Start-PSBuild` works fine.

I'm also able to build in VS Code in Linux,

[2017-03-29 00:56] gregg-miskelly commented on #3356
@jeffbi this doesn't have anything to do with VS Code or the C# extension. All VS Code does is kick off command line build script.

At any rate -- I could be wrong, but it sounds like you might have a post-preview-2 .NET CLI installed, and, at least when I briefly played with the PowerShell repo, it was still using project.json based projects. If so - those two things will not play well together.

[2017-03-29 01:00] SteveL-MSFT commented on #3356
@gregg-miskelly we've converted PowerShell repo to .csproj from project.json files.  I've also noticed that I can build from start-psbuild which calls dotnet directly while in vscode it errors out.  I would suggest uninstalling all dotnet and rerunning start-psbootstrap to get the appropriate version installed

[2017-03-29 01:32] thezim commented on #3418
@SteveL-MSFT if one has the means (.NET API) to enter your home would you leave the front door unlocked (-NoProxy) to make it easier?

[2017-03-29 01:36] SteveL-MSFT commented on #3418
Alternatively, if you want policy enforced, this should be done within corefx

[2017-03-29 03:17] iSazonov commented on #3418
On Windows we can block changing of proxy setting in IE by means of GPO but users is free to change the setting in any other third party agent (Firefox, Chrome, Opera, wget and so on).

[2017-03-29 04:09] iSazonov commented on #3369
I believe we should transform the file in _full completion test set_ - currently we don't cover the code by tests.

[2017-03-29 05:08] TheFlyingCorpse commented on #3418
Plus its possible to wipe it via reg.exe / regedit.
If you dont want your users to access the internet without proxy, you dont have 80 and 443 open to the internet from your relevant networks. Simple as that.

[2017-03-29 06:07] jeffbi commented on #3356
Got rid of dotnet and reran start-psbootstrap. All seems to be working now.

I'm using the 1.9.0-beta2 version of the C# extension, and debugging is working well also.

Thanks to both of you.

[2017-03-29 08:04] mcwidg3t commented on #3418
The System Proxy settings in an enterprise environment are a management convenience. It's not a security setting. Security is better handled by blocking 80 and 443 at the firewall.

[2017-03-29 11:52] schittli commented on #3304
Hi mklement0
thank you very much for sharing your work!

_**btw: It's the best 'chain of evidence'** (I don't find the right english term) **that the actual implementation is not what we should have.**_

kind regards, Thomas

[2017-03-29 13:13] nocentino opened #3450 "Files created by PowerShell have execute bit on owner set"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Create file based on umask for system

Actual behavior
---------------
File created by PowerShell cmdlets have execute bit set on file owner
[code]

Environment data
----------------
[code]

[code]

[2017-03-29 14:55] thezim commented on #3418
@iSazonov GPO's exist for third party browsers as well. In my enterprise FF is locked down too. Stack on host based security system managed at the enterprise level and changing settings becomes very difficult. No installing unauthorized applications, running registry editors, etc.

@TheFlyingCorpse registrys keys have ACLs on them to prevent this and is considered a best practice.

@mcwidg3t I agr

[2017-03-29 16:07] mcwidg3t commented on #3418
@thezim if you remove Powershell from the client desktop then you've removed a potential security hole, which also makes sense from a layered security approach. However, you also may be impacting productivity. It's a balancing act.

In this case, I think that any increased risk in having a -NoProxy parameter is minimal given there are more appropriate ways at handling the security. I think it's a

[2017-03-29 16:26] SteveL-MSFT commented on #3418
@thezim I think enterprises can still lock this down by having a proxy function in PowerShell that doesn't expose `-noproxy`

[2017-03-29 16:44] SteveL-MSFT commented on #3450
Dupe of https://github.com/PowerShell/PowerShell/issues/2481

[2017-03-29 17:36] #3416 closed

[2017-03-29 19:39] lzybkr opened #3452 "Need a way to detect output goes to a file instead of the console"
If a custom format wants to use ANSI escape sequences, it should be possible to skip the escape sequences when the target is a file instead of a tty.

For example, my [custom format for `MatchInfo`](https://gist.github.com/lzybkr/dcb973dccd54900b67783c48083c28f7) (the output of `Select-String`) uses ANSI escape sequences, but if I redirect output, e.g. `dir *.txt | Select-String foo > out.txt`, I

[2017-03-29 20:43] BrucePay commented on #3452
Do you really mean a file or just redirected (not a tty/console). IIRC, there is logic in the native command processor that computes whether the output is redirected or not.

[2017-03-29 20:44] mopadden commented on #3415
Would probably want to throw the exception only in a context where Powershell also sets $? to false as a result.
Throwing an exception in other situations where lastexitcode != 0 would not give a result equivalent to "set -e" in bash.

https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html

[2017-03-29 20:45] SteveL-MSFT commented on #3419
This was not fixed with #3362 and something specific to formatting.  Investigating.

[2017-03-29 21:01] lzybkr commented on #3452
I think it depends,

If `tmux` or `screen` is using redirection, then you'd still like your escape sequences.
But if I run `powershell -file script.ps1 > out.txt`, then that's also simple redirection where you don't want escape sequences.

The bottom line here is that PowerShell should make it easy (if it isn't already) to support these scenarios in custom formatting, or alternatively strip (some

[2017-03-29 21:07] mopadden commented on #3413
This is confusing! Shouldn't the offset for a command that starts at the beginning of the line be zero?

[2017-03-29 21:53] #3145 closed

[2017-03-29 23:15] joeyaiello commented on #3413
@PowerShell/powershell-committee discussed this and agreed on a few points:

* This has been broken since 3.0, and changing it could potentially break a lot of people. While starting the offset at 0 might make more intuitive sense for most developers, there's no PowerShell design principle that absolutely dictates that it needs to, and the relative risk of the breaking change (again) is too great

[2017-03-30 00:55] #3450 closed

[2017-03-30 00:56] adamdriscoll commented on #3383
I have a working prototype of this and will put in a PR for it but will do so during my PoshSummit session as this is one of my examples\demos for our lab. So please don't fix until then. ;)

![image](https://cloud.githubusercontent.com/assets/1256531/24482811/a73b44ae-14b9-11e7-86ea-3f1445467a44.png)

[2017-03-30 01:23] rtestardi commented on #3413
Thanks, all, it is nice to see this being taken care of and the committee process working well.

This would be great, if it is possible.

This is how I pass bound parameters from a local invocation to a remote invocation now, which seems quite a bit cleaner anyway:

        Invoke-Command -Session $s -ScriptBlock { & $using:PSCOMMANDPATH @using:psboundparameters }

Which I think was the goal of th

[2017-03-30 05:56] iSazonov opened #3455 "Duplicated test completion functions"
There is a module [CompletionTestSupport.psm1](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Language/CompletionTestSupport.psm1) that is not used.
The functions with same names are defined and used in the file [ExtensibleCompletion.Tests.ps1](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Language/Parser/ExtensibleCompletion.Tests.ps1)

@lzybkr Could y

[2017-03-30 07:39] AppChecker opened #3457 "Suspicious StringBuilder using"
Hi.
Please look this code fragment:
1) https://github.com/PowerShell/PowerShell/blob/4d0e21f6d2fa8280fb69e858b2f4b61bc52841f8/src/System.Management.Automation/engine/InitialSessionState.cs#L3940
[code]

StringBuilder constructor with a char argument constructs a string with no characters in it ( this argument  specified  initial capacity) .

You may see example - http://ideone.com/1pPHlZ
I hope th

[2017-03-30 09:25] iSazonov commented on #3457
@AppChecker Thanks for your report!

I cannot repo the bug:
[code]

[2017-03-30 09:31] iSazonov commented on #3457
@SteveL-MSFT The init post contains link on site (https: //cnpo.ru) with invalid certificate. Should we remove the link?

[2017-03-30 10:26] AppChecker commented on #3457
@iSazonov  Hi! Creating StringBuilder with char argument is work for powershell script, but not work for C#-code: http://ideone.com/1pPHlZ
P.S. I've updated link with valid certificate

[2017-03-30 12:42] mklement0 opened #3460 "Suggestion: Provide a type accelerator for [System.Management.Automation.SemanticVersion]"
Now that [semantic version numbers](http://semver.org/) (semver) are becoming ubiquitous, it would be nice to be able to do something like

[code]

instead of what you currently need to do:

[code]

[2017-03-30 15:32] daxian-dbw commented on #3150
Reopen this issue. The Travis badge seems still not fixed. Full build failed today while CI builds passed, however, our Travis badge shows CI failed and full build passed.
Here is the failed full build: https://travis-ci.org/PowerShell/PowerShell/jobs/216614572

[2017-03-30 15:33] daxian-dbw commented on #3150
And as @iSazonov pointed out, CodeCover badge is also cached.

[2017-03-30 16:19] SteveL-MSFT commented on #3150
According to the link Dongbo provided, this should have worked as we are setting `Cache-Control` header and `ETag` is there as well:

[code]

I'll follow-up with GitHub support

[2017-03-30 16:35] SteveL-MSFT commented on #3457
@AppChecker thanks for the bug report, I was able to repro:

[code]

[2017-03-30 17:33] iSazonov commented on #3457
@SteveL-MSFT Sorry, I lost my post about that  I was able to repro too and pushed fix.

[2017-03-30 17:52] lzybkr commented on #3383
OK - no longer up for grabs.

[2017-03-30 20:14] jeffbi commented on #621
@Schroedingers-Cat I've been trying this out on a Windows 10 box using PowerShell 5.1:
[code]
I'm seeing that the methods you mention work the same whether run from the PowerShell prompt or from a script.

I've been testing both, from the prompt and within script, using multiple link types within the sub-directory to be removed, and the only issue I've seen is when using the `[System.IO.Directory]

[2017-03-30 21:02] Schroedingers-Cat commented on #621
Just tested on a different machine and both methods work there.
Well, maybe something was wrong with the paths when I encountered the issue first.

Btw. when will we be able to use "Remove-Item" instead?

[2017-03-30 21:41] jeffbi commented on #621
@Schroedingers-Cat In general, `Remove-Item` is working in PowerShell 6. I was able to remove a sub-directory full of all kinds of link types with
[code]
What we're working on here is the correct use (or non-use) of -Force and -Recurse when removing a link directly.

[2017-03-30 21:55] joeyaiello commented on #3413
Blog post has been updated

[2017-03-30 21:55] #3413 closed

[2017-03-30 22:10] joeyaiello commented on #3418
First, this is implemented in #3447

This thread is all conjecture until someone investigates whether the proposed APIs we're using respect enterprise controls that limit proxy settings. From what I can see, we're basically just passing `false` to an instance of `HttpClientHandler.UseProxy`.

If `HttpClientHandler` doesn't respect enterprise controls, and you're not limiting PowerShell environment

[2017-03-30 22:19] joeyaiello commented on #2969
@jeffbi it's probably better to open a new issue, explain the scenario for our purposes, and then list references to this issue and the original closed issue. Sound okay?

[2017-03-30 23:06] JamesWTruher commented on #1819
my real concern about this would be other types which exist in PSCore that don't exist in full - are there more of these lurking about?

[2017-03-30 23:42] joeyaiello commented on #3248
First just want to say, thanks for the extended explanations, everyone. This has been thoroughly useful. And thanks, @iSazonov, for looping in the dotnet/standard folks.

Now, next steps:
* I want to tease the encoding issue into as many smaller chunks as possible. This thread was originally about the `OEM`/`Default` codepage issue. If we can fix that in Windows with a platform-specific guard toda

[2017-03-31 01:13] TravisEz13 opened #3463 "When running in a docker container PSReadline crashes"
Steps to reproduce
------------------

* Install docker
* Run the following in powershell (**note:** it might take me a day or two to get the docker image published, see #3462.)

[code]
* type a command

Expected behavior
-----------------
It should work without error

Actual behavior
---------------
[code]
Environment data
----------------

[code]

[2017-03-31 01:18] TravisEz13 opened #3464 "The windows installer should create a common path you can run the latest powershell from"
Steps to reproduce
------------------
Install multiple versions of powershell

Expected behavior
-----------------
The should be a common path where you can run the latest version of powershell.  Linux does this by creating a symbolic link.  We do it in the windows docker files by creating a symbolic link to the latest version.

Actual behavior
---------------
you have to figure out the latest ver

[2017-03-31 01:38] SteveL-MSFT commented on #3464
Currently on Windows, you have to do something like:

[code]

And if you have multiple versions installed (which is currently the default), you have to tab through the older ones first (if you didn't uninstall them).  Would prefer something like:

[code]

We can even save typing `l` for latest by having it `.latest` to ensure it's first.

Another pain point is that powershell.exe is third file to

[2017-03-31 01:38] SteveL-MSFT commented on #3464
CC @joeyaiello

[2017-03-31 02:40] TravisEz13 opened #3465 "Update docker files and replace `MAINTAINER` tag with `LABEL maintainer`"
There is additional issue, is what email should we use on this tag
This was brought up in #3462

[2017-03-31 02:52] karelz commented on #3353
@iSazonov what is exactly the expectation for .NET Standard 2.0? Are there any missing APIs? Or just missing capability of the runtime? -- in that case it would be more about .NET Core 2.0 than .NET Standard 2.0.
Either way, I am not sure if we can make that happen in .NET Core 2.0 timeframe -- let's have that discussion in the new CoreFX issue. Is it something blocking PowerShell Core release? Is

[2017-03-31 03:12] iSazonov commented on #3464
We need to take into account that initially PowerShell 6 Core will coexist with Windows PowerShell. There may be a conflict with paths (to modules including).

[2017-03-31 03:43] iSazonov commented on #3353
@karelz We have some Issues here about this (2 or even more).
 I believe @daxian-dbw can comment in depth. It seem @daxian-dbw already open such Issue in CoreFX repo.

[2017-03-31 03:57] iSazonov commented on #3418
Someday CoreFX integrates Authorization Manager 😄

[2017-03-31 04:50] ferventcoder commented on #3361
It gets better. :/

If the file is UTF8 with no BOM but contains a unicode character, it also fails.

[2017-03-31 05:23] ferventcoder opened #3466 "Running Authenticode-signed script is seen as changed when file is UTF8 (w/out BOM) and contains a unicode character"
Related to #1195 and #3361 / Found with https://github.com/chocolatey/choco/issues/1225.

Following up on [an issue](#3361) we had addressed locally, we found another possibly more serious issue. If you create a UTF8 (w/out BOM) file and sign it, all is well. When you add a unicode character, such as a `©`, then sign and run the file, it does not work. Remove the unicode character and it works aga

[2017-03-31 05:23] ferventcoder commented on #3361
Followed up with https://github.com/PowerShell/PowerShell/issues/3466

[2017-03-31 05:33] iSazonov commented on #3361
If #3466 overlaps the Issue please close the Issue.

[2017-03-31 05:59] #3428 closed

[2017-03-31 06:42] iSazonov commented on #1819
How can we catch it in our test?

[2017-03-31 07:57] mcwidg3t commented on #3418
Good news @joeyaiello. Looking forward to that being released.

[2017-03-31 15:38] skyguy94 opened #3468 "Configuring the WinRM client requires the WinRM server service."
The barrier to entry for configuring WinRM is very high for unfamiliar users and I don't think it needs to be that way. Its unclear to me why the WinRM service needs to be started on the client computer in order to configure client settings like trusted hosts. I'm convincing more of our developers to use pssessions/write remote scripts for managing remote instances instead of RDPing into them just

[2017-03-31 16:21] SteveL-MSFT commented on #3150
I contacted GitHub support and they said they `cleared the cache on our side so that badge shouldn't be cached anymore`.  I'm resolving this as closed unless someone sees it's still an issue.

[2017-03-31 16:21] #3150 closed

[2017-03-31 16:31] #3457 closed

[2017-03-31 16:50] daxian-dbw commented on #3353
I didn't open a new issue in CoreFx repo on this topic. Currently we call `ShellExecuteEx` directly in MTA thread, it would have problems for some shell extensions that require COM, but it's fine for common uses, such as opening file exploere or a file based on its extension.

However, this issue seems indicating that it's blocking our remoting scenario, @HemantMahawar and @joeyaiello, can you ple

[2017-03-31 17:28] iSazonov commented on #3248
I pushed PR with fix for Default/OEM.

[2017-03-31 17:29] SteveL-MSFT commented on #3468
WinRM configuration (including client) is actually a WSMan invocation to a configuration plugin, so it has to go through the WinRM service.  If you really want this addressed, you'll have to open an issue on [UserVoice](https://windowsserver.uservoice.com/forums/295047-general-feedback) as it's not something we can change in PowerShell.

Alternatively, my recommendation is to use PowerShell remoti

[2017-03-31 17:41] SteveL-MSFT commented on #1819
@iSazonov I don't think we can repro this on a single machine test, it needs to be across machines that have different representations of the same type.  @JamesWTruher is working on bring up cross platform and cross PS version tests, this should catch it there.

[2017-03-31 17:47] iSazonov commented on #1819
@SteveL-MSFT My question was in continuing @JamesWTruher question.

[2017-03-31 18:12] SteveL-MSFT commented on #3466
Seems like the validation incorrectly assumes UTF-8 no BOM as ASCII and fails when it encounters the Unicode character

[2017-03-31 18:14] SteveL-MSFT commented on #3465
`powershellteam@hotmail.com` is a valid email address, although I'm not sure if anyone really monitors it (I certainly don't).  Having an individual's email who isn't actively maintaining the image seems incorrect.

[2017-03-31 19:49] #3419 closed

[2017-03-31 20:46] vors commented on #670
Since we are removing fullclr build, this issue is not applicable anymore

[2017-03-31 20:46] #670 closed

[2017-03-31 22:23] BrucePay commented on #3424
An alternate illustration of this behavior is `'[ 1, 2 ]' | ConvertFrom-Json | foreach { $_.Count }` which returns the value 2 indicating that the array is passed as a single value as opposed to `'[ 1, 2 ]' | ConvertFrom-Json | write-output | foreach { $_.Count }` which will return 1,1.

[2017-03-31 22:30] mklement0 commented on #3424
Thanks, @BrucePay, but what I'm unclear on is: is this behavior - given that it deviates from usual collection-unwrapping behavior - problematic _in practice_?

[2017-03-31 22:55] TravisEz13 commented on #2793
Images are up:
![image](https://cloud.githubusercontent.com/assets/10873629/24572052/666f3080-162a-11e7-9c4b-ec998ec1a79a.png)

[2017-03-31 22:55] #2793 closed

[2017-03-31 23:16] JamesWTruher commented on #3349
Travis-CI doesn't support running build/test on CentOS directly. There are some forum threads on running tests on CentOS via docker, but that seems to be quite old (2015).

[2017-03-31 23:24] SteveL-MSFT commented on #3349
I suspect we'll need VMs for getting regular coverage of distros

[2017-03-31 23:47] JamesWTruher commented on #1819
it can be caught on *Windows* as follows:
from PSCore
     $psversiontable | export-clixml versiontable.clixml
from Full PowerShell
    import-clixml versiontable.clixml
-- error will happen --
the problem isn't the remote connection, but the serializer

[2017-03-31 23:49] TravisEz13 commented on #3329
We should do the work in #3349 first (support CentOS 7.3) before we try to fix specific issues on that distribution.

[2017-03-31 23:56] SteveL-MSFT commented on #1152
We should align this with the PowerShell Standard ref assembly work

[2017-04-01 00:58] mirichmo commented on #3464
#1192 is somewhat related where we played around with the idea of a common executable or script.

C:\program files\powershell\powershell.exe as a symbolic link to a version-specific instance of PowerShell Core would satisfy the requirement.

@iSazonov - We constructed the module paths so that the default paths do not overlap. Path resolution conflicts for executables are handled in a first-come-fi

[2017-04-01 02:16] TravisEz13 commented on #3464
In docker containers, we are using `C:\program files\powershell\latest` as symbolic link to the version we installed

[2017-04-01 04:17] ferventcoder commented on #3466
That's the conclusion I came to as well.

[2017-04-01 04:18] ferventcoder commented on #3466
Encoding is always so much fun...

[2017-04-01 07:52] iSazonov commented on #3464
I agree that it should be `symbolic link to folder`.

[2017-04-01 07:54] #3418 closed

[2017-04-01 09:51] crazywalterke opened #3472 "Invoke-Command doesn't always return result"
Steps to reproduce
------------------
New-Pssession -hostname linuxmachine -username user
new-pssession -hostname windowsmachine -username user
$sessions=get-pssession
invoke-command -session $sessions -scriptblock {
get-module -all
}

Expected behavior
-----------------
get list of all modules on both machines

Actual behavior
---------------
no return at all

Environment data
----------------
[w

[2017-04-01 11:02] iSazonov commented on #1819
@JamesWTruher Great!
It looks that we can make a test in the same way as for monitoring approved aliases:
for every build type (Win FullCRL, Win CoreCLR, Unix CoreCLR) create `approvedTypes-<Build>.clixml` with list of approved types and 1. trying import them in CI test time and 2. comparing with the current runtime generated (export-clixml) list.

[2017-04-01 12:53] stknohg opened #3473 "Document prerequisites for install on Windows 7"
Steps to reproduce
------------------
Install PowerShell 6.0(Alpha17) on Windows 7(not SP1) and start powershell.exe.

Expected behavior
-----------------
Powershell is started?

Actual behavior
---------------
Failed to start.

----
I failed to install PowerShell 6.0(Alpha17) on Windows 7(not SP1) and find 2 prerequisites.

## 1. SP1 and Visual C++ Redistributable for VS2015

PowerShell 6.0 on Wi

[2017-04-01 16:41] iSazonov commented on #3473
From https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet

@SteveL-MSFT Author ask to update docs. Maybe `Area-Documents` is more suitable?

[2017-04-01 17:32] mklement0 commented on #3248
@joeyaiello: Thanks, that indeed sounds reasonable (and I hope it's OK that, as an outsider, I'm being vocal here - I love PowerShell and I think getting the encoding right is crucial to PowerShell's cross-platform success).

[2017-04-02 00:17] kfiresmith commented on #3349
+1 for as much testing as possible on Centos 7 as we are a prod RHEL 7 shop that will probably end up using Powershell for AzureRM functions on RHEL.

[2017-04-02 00:28] PetSerAl commented on #3472
@crazywalterke `get-module -all` will return only already loaded modules (wild guess: you mix `-All` with `-ListAvailable`). You just create new PowerShell remote sessions (with default configuration, remote sessions do not load any PowerShell profile) and asking which modules already loaded in them. IMHO, empty result is vary reasonable expected response.

[2017-04-02 06:04] WojtekKozaczynski opened #3475 "Add [Port] parameter to New-PSSession"
This is a change request to add optional ```[-Port <int>]``` parameter to the following version of the New-PSSession commandlet

[code]

## Use Case
The use case is opening a remote session over SSH into a Widows 10 machine. The default SSH port is 22, but if the Developer Mode is enabled on the target machine that port is already assigned to “SSH Server Broker” and “SSH Server Proxy” services ins

[2017-04-02 07:35] crazywalterke commented on #3472
I suppose I made a mistake, but what is the diffrence then if I:

- invoke get-module -all to both sessions
- invoke get-module after (with the same sessions stil opened) enter-pssession and running get-module -all

[2017-04-02 09:06] PetSerAl commented on #3472
@crazywalterke Looks like `Enter-PSSession` run some commands in remote PowerShell session before enter into it. And that cause some module to be automatically loaded into remote session:
[code]

[2017-04-02 12:18] iSazonov commented on #3353
In General, Windows still widely uses the COM as well as Forms that require STA. If  .Net Core does not provide access to these subsystems, PowerShell will lose a lot of functionality. I would like to have Get-WmiObject.
I do not dare to open the CoreFX Issue because I do not know these APIs deeply.

[2017-04-02 12:57] alexandair commented on #3353
@iSazonov Why do you need Get-WmiObject? What about using Get-CimInstance instead?

[2017-04-02 13:46] iSazonov commented on #3353
@alexandair In this discussion, it is important that both cmdlets use COM.

[2017-04-03 16:15] skyguy94 commented on #3468
Thanks for the response. We're definately interested in OpenSSH on our boxes, but that'll take some time to get migrated over to. I'll open a uservoice issue and see what comes of that.

[2017-04-03 16:45] skyguy94 commented on #3468
https://windowsserver.uservoice.com/forums/295047-general-feedback/suggestions/18814972-configure-the-winrm-client-without-starting-the-wi

[2017-04-03 18:07] JamesWTruher opened #3476 "running new-pssession in a newly built PowerShell should not cause the shell to exit"
Steps to reproduce
------------------
clone
start-psbootstrap
start-psbuild
start-psester
*BOOM*

Expected behavior
-----------------
An error message or a new pssession

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-04-03 21:22] JamesWTruher commented on #3476
note that this is only on CentOS, Ubuntu does not have this issue

[2017-04-03 23:34] JamesWTruher commented on #3476
ok - it boils down to a couple of missing symlinks - somewhere we should be sure that we create the following links in the location where powershell is dropped
[code]
otherwise, anyone who is doing dev builds and running tests (or just creating a new pssession) will see the shell fall over.

[2017-04-04 07:21] stej opened #3480 "Deserialized.Microsoft.PowerShell.Commands.MatchInfo not formatted correctly"
Steps to reproduce
------------------
Connect to remote session.
Run e.g.
[code]
Compare to result from local run
[code]

Expected behavior
-----------------
`Deserialized.Microsoft.PowerShell.Commands.MatchInfo` should be formatted correctly.

Actual behavior
---------------
PowerShell runtime probably doesn't know how to format `Deserialized.Microsoft.PowerShell.Commands.MatchInfo` to the output

[2017-04-04 18:13] rwfleming opened #3482 "Error OSX Get-DSCResource"
Steps to reproduce
------------------
I receive the error below when running Get-DSCResource.

Run the command below
[code]

Expected behavior
-----------------
List of available DSC resources

Actual behavior
---------------
I receive the error below:

[code]

Environment data
----------------

[code]

[2017-04-04 22:31] mklement0 commented on #2145
@rkeithhill:

Good points, and great idea to carry the encoding info forward.

Note that `Set-Content` - despite what the help topic states - uses `Default` encoding by default, which is the active "ANSI" code page (a culture-specific, 8-bit  superset of ASCII, as implied by the legacy system locale).

[2017-04-04 22:49] mklement0 opened #3483 "Explicit creation of preference variables in descendant scopes should be appropriately type-constrained, as in the global scope / according to the definition of the preference variable"
Currently, preference variables, such as `$VerbosePreference`, are only predefined in the _global_ scope, where they are type-constrained, such as to `[System.Management.Automation.ActionPreference]`, which ensures that only valid values can be assigned to them.
Some preference variables, such as `$OFS`, aren't even predefined in the global scope, although their type (and default value) is known,

[2017-04-04 22:50] raghushantha commented on #2661
Fixed by #3435

[2017-04-04 22:50] #2661 closed

[2017-04-04 23:53] #2742 closed

[2017-04-05 00:04] glennsarti commented on #2742
@TravisEz13 Is this actually resolved?  I can still replicate the issue as per the repro case above easily in alpha-17

[2017-04-05 00:05] #3468 closed

[2017-04-05 00:08] mirichmo commented on #3473
Did you install the [Universal C Runtime](https://www.microsoft.com/en-us/download/details.aspx?id=50410)?

It ships downlevel to Win 7 and can be installed via Windows Update.

[2017-04-05 00:20] TravisEz13 commented on #2742
It's fixed in the code.  It should be available in alpha 18.  The release should be very soon.  But I'm also happy to build it for you if you tell me the package you are using.

[2017-04-05 00:21] glennsarti commented on #2742
No. That's fine.  Happy to wait for alpha-18.  Was just surprised to see the issue closed.

[2017-04-05 00:27] TravisEz13 commented on #2742
We build the ubuntu 14.04 package after it's merged to master it's available here:
https://s3.amazonaws.com/powershell-artifacts/PowerShell/PowerShell/2746/2746.1/powershell_6.0.0-alpha.17-71-g8de8b195-1ubuntu1.14.04.1_amd64.deb

You can find the URL at the bottom of the Travis-CI logs here:  https://s3.amazonaws.com/archive.travis-ci.org/jobs/218682617/log.txt

[2017-04-05 00:56] Daniel15 commented on #2742
Why is it on S3 rather than Azure? 😄

[2017-04-05 01:09] TravisEz13 commented on #2742
Travis-CI didn't support azure when we setup the system.

[2017-04-05 02:32] stknohg commented on #3473
@mirichmo No. I installed [Visual C++ Redistributable for Visual Studio 2015](https://www.microsoft.com/en-US/download/details.aspx?id=48145).
Which is appropriate?

[2017-04-05 06:19] Platzer opened #3486 "Special characters are not displayed correct in interactive console"
Steps to reproduce
------------------
Run `ping` on german windows 7 machine in powershell interactive console.

Expected behavior
-----------------
![grafik](https://cloud.githubusercontent.com/assets/3358663/24692178/fce471d2-19d7-11e7-8df2-685244fcd84d.png)
Run in VS Code with powershell in terminal.

Actual behavior
---------------
![grafik](https://cloud.githubusercontent.com/assets/3358663/2

[2017-04-05 07:56] iSazonov commented on #3486
@Platzer Thanks for your report!

Could you please test in PowerShell console running without VS Code? Also please test with latest release PowerShell Core 6 **alfa 17**.

[2017-04-05 08:56] stknohg commented on #3473
I installed the [Universal C Runtime](https://www.microsoft.com/en-us/download/details.aspx?id=50410), and got same result.
PowerShell 6.0 on Windows 7 requires
* SP1
* KB3118401 (Universal C Runtime)
* KB2533623

Of course, it is best to apply the latest patch with Windows update.

[2017-04-05 11:20] ZonderP commented on #3332
I can confirm this bug for the exactly same PS version.
Just came across that issue myself.

[2017-04-05 11:39] ZonderP commented on #3332
OK, same happens when remote machine runs with PS 5.1.:
PSVersion                      5.1.14393.953
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.953
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

[2017-04-05 12:19] ZonderP commented on #3332
And last but not least:
This bug seems to be fixed in PS 5.1, since when I did this from a machine with PS 5.1 installed versus a remote machine with PS 5.0 installed then it worked!

[2017-04-05 14:03] iSazonov opened #3488 "Need a full set of encoding tests"
Now we don't have a full set of encoding tests (only for [redirections](https://github.com/PowerShell/PowerShell/blob/master/test/powershell/Language/Parser/RedirectionOperator.Tests.ps1)). We need to create them during future [Encoding RFC](https://github.com/PowerShell/PowerShell-RFC/issues/71) implementation (?).

In #3467 (discussion Issue #3248) we fix Default/OEM encoding behavior PowerShell

[2017-04-05 14:17] mklement0 commented on #3488
@iSazonov:

The test snippet tests how _PowerShell itself_ reads source code that has no BOM, so can you please add that as a separate action item (check box) to the list of tests?
(Perhaps that behavior is implied by the other tests, but I think it should still be a separate one.)

(And, on a more quibbly note: Can you add the word "character" before "encoding" to the title, so that it's clear wh

[2017-04-05 14:36] iSazonov commented on #3488
We have never used "character" before so it can confuse us even more. (?)

[2017-04-05 14:39] wisemoth opened #3489 "Export-Clixml loses NoteProperties in nested hashtables"
Steps to reproduce
------------------
[code]
Now export at the top level hashtable:
[code]
And import back into a new object, which should be the same as `$d`
[code]
The top-level noteproperty survived the roundtrip; the noteproperty in the nested table did not:
[code]
Expected behavior
-----------------
It would be strange semantics for a NoteProperty to sometimes survive round-tripping.  I'm awa

[2017-04-05 14:42] mklement0 commented on #3488
@iSazonov:

Not that it will matter much in this instance, but just for the record and for future instances where the distinction may matter:

We are discussing [character encodings](https://en.wikipedia.org/wiki/Character_encoding) here.

[Encoding](https://en.wikipedia.org/wiki/Code) is a far more generic term, of which _character_ encoding is just one instance.

Given that the issues in this re

[2017-04-05 14:57] iSazonov commented on #3488
@mklement0 In the code we use "encoding". So let us defer the question to the discretion of the mantainers.

[2017-04-05 15:01] mklement0 commented on #3488
@iSazonov:

Sounds good.

It's perfectly understandable to shorten "character encoding" to "encoding" in a given, narrow context, where there's no risk of ambiguity.

My only point is that in a larger context the added specificity can be helpful - both for searching topics by keywords and for quick comprehension.

[2017-04-05 16:26] PetSerAl commented on #3489
`Export-Clixml` does not include extended properties, when object is not wrapped into `PSObject`.
[code]

[2017-04-05 16:28] joeyaiello commented on #3248
@iSazonov Sweet!

@mklement0 I don't consider you an outsider, you're here constructively voicing opinions. Keep it coming :+1:

And for what it's worth, I absolutely agree. We need to nail encodings.

[2017-04-05 17:19] #3390 closed

[2017-04-05 18:33] PaulHigin opened #3490 "Add suspicious obfuscated scripts to PowerShell automatic ScriptBlock logging"
PowerShell currently automatically logs ScriptBlocks that are suspicious.  @LeeHolmes has done statistical analysis on known obfuscated malicious scripts and has created an algorithm that does a good job detecting these.  We should incorporate this algorithm in PowerShell so that these suspicious ScriptBlocks are also automatically logged.

[2017-04-05 20:12] Lee303 commented on #3475
I'm just working on a PR for this, will add shortly

[2017-04-05 20:52] joeyaiello commented on #3482
This is a dupe of #2337.

[2017-04-05 20:52] #3482 closed

[2017-04-05 21:07] TravisEz13 opened #3491 "PSReadline should allow input when powershell is started with `start-process` with credentials"
## Steps to reproduce

- On Windows 10 1607 or 1703
- type the following command in Powershell, replace the `domain\username` with your information.

[code]
- type your password when prompted

## Expected behavior

It should open a PowerShell window that you can type in.

## Actual behavior

It opens a PowerShell window but you cannot type anything.

## WorkAround

[code]

I've tried several varia

[2017-04-06 03:07] iSazonov commented on #3248
#3467 merged and we would close the Issue or leave it open in waiting our Encoding RFC.

[2017-04-06 05:20] ssuhas76 opened #3493 "Powershell issue in VS 2015"
I am using VS 2015 and trying to install few packages via Nuget. I keep getting the below error.

Severity	Code	Description	Project	File	Line	Suppression State
Error		Failed to initialize the PowerShell host. If your PowerShell execution policy setting is set to AllSigned, open the Package Manager Console to initialize the host first.			0

It's not only coming up during package installation but i

[2017-04-06 12:54] remi13131 opened #3494 "No Cmdlets available for www-data user on Ubuntu"
I developped a script that runs fine for my unprivileged user.
Then I wanted to execute it from a PHP script, and I ran into the problem that no Cmdlets are available. Investigfating further, I found out that www-data user cannot run any Cmdlets. The Powershell itself can be loaded though.

Steps to reproduce
------------------
Install Powershell for Ubuntu on an Ubuntu machine that has a www-data

[2017-04-06 13:09] MaximoTrinidad commented on #3494
Hum!!  I used to get the PSRreadline error on the older PowerShell Alpha version.  Have you try up get PowerShell v6.0.0-alpha.17.

The newer version has lots of fixes.  I'm not getting the PSReadline error now.

Give it a try and post the results.

:)

[2017-04-06 13:24] MaximoTrinidad commented on #3493
Hi @ssuhas76,

Please provide some more information:
1. What's the OS?  What build?
2. Desktop or Server?
3. Which version of PowerShell? Use $PSVersionTable

By the way, this site handles only PowerShell v6.0.0-alpha.xx. And/or anything that's PowerShell Core module related.

For Windows PowerShell (Version: 3, 4, and 5.x) all other non-Core module related issues, you better use the following Use

[2017-04-06 14:11] remi13131 commented on #3494
@MaximoTrinidad Thanks for this ! I indeed upgraded to PowerShell v6.0.0-alpha.17 and this did the trick ! So problem solved.
Cheers

[2017-04-06 14:11] #3494 closed

[2017-04-06 14:16] MaximoTrinidad commented on #3494
That's Awesome!!  Glad to help!

[2017-04-06 14:32] ssuhas76 commented on #3493
@MaximoTrinidad . I managed to resolve the issue. There was a mismatch with x86 and 64 bit

[2017-04-06 14:32] #3493 closed

[2017-04-06 16:27] davidrea-MS opened #3496 "BadImageFormatException calling abstract method when cast to base type"
Steps to reproduce
------------------
```([System.Text.Encoding][System.Text.Encoding]::Unicode).GetMaxByteCount(1)```

Expected behavior
-----------------
The value ```4``` should be returned.

Actual behavior
---------------
[code]

Environment data
----------------

[code]

Other Information
---------------

This appears to occur whenever an overridden abstract method is called on an object cas

[2017-04-06 19:07] mklement0 commented on #3476
Also happens on macOS 10.12.4.

[2017-04-06 20:29] mklement0 commented on #2915
The problem still exists as of alpha17.

What appears to be happening is that in Core the link is mistakenly created as a _file_ symlink rather than a _directory_ symlink.

You can verify this with `cmd /c dir /al d`, which in PS Core yields something like (note the `<SYMLINK>`, which should be `<SYMLINKD>`):

[code]

whereas in Windows PS it correctly yields something like:

[code]

I agree that

[2017-04-06 20:54] joeyaiello commented on #3349
According to @JamesWTruher, we at least now have a release-time VM for testing CentOS 7.3 before we go out with a release.

[2017-04-06 21:01] mklement0 opened #3500 "New-Item -ItemType SymbolicLink should support creating symlinks with relative paths"
Being able to create symlinks using relative paths is an important feature that both the `ln` utility on Unix and cmd's built-in command `mklink` on Windows support.

Currently, PowerShell invariably resolves the specified path to an _absolute path_ when a symlink is created.
(#801 brought us the ability to create symlinks to non-existing targets,  but even they are invariably resolved to an absol

[2017-04-06 22:05] mklement0 commented on #2403
I don't think a change is warranted:

Remember that `Resolve-Path` :

* makes no promises of returning a _provider-native_ path  - that's what `Convert-Path` is for.

* returns `[System.Management.Automation.PathInfo]` instances that _also_ contain the provider-native path.

Thus, to get what you want - a provider-native absolute path _string_ - all you need to do is:

[code]

which is effectively

[2017-04-06 22:24] mklement0 opened #3501 "Resolve-Path -Relative mistakenly bases the relative path on the provider-native path"
Steps to reproduce (Unix)
------------------

[code]

Expected behavior
-----------------

[code]

To get from `u:/bin` to `u:/`, you need `..`

Actual behavior
---------------

[code]

This path is not relative to the current _PS_-drive-based location, `u:/bin`, it is relative to the underlying _provider-native_ location, `/usr/bin` (in a roundabout way).

Trying to use this relative path from th

[2017-04-07 01:31] jeffbi commented on #2915
Actually, the -Force issue is not related to this. I was just writing up my own version of this issue when I saw this conversation.

In Windows PS 5.1, `New-Item -ItemType SymbolicLink` would create a directory symbolic link (`<SYMLINKD>`) when the target was a directory, a file symbolic link (`<SYMLINK>`) when the target was a file, and throw an `ObjectNotFound` error if the target did not exist.

[2017-04-07 01:54] mklement0 commented on #2915
@jeffbi:

The `-Force` issue is entirely incidental to the issue at hand - it was an aside by @yanxyz  that perhaps should have been filed as a separate issue to begin with:  it relates to _removing_ a directory symlink, whereas the issue at hand is the inability to even _create_ such a symlink.  (And, as I said, if `-Force` will no longer be required to remove a directory symlink, no one will get

[2017-04-07 02:52] mklement0 opened #3502 "Resolve-Path -Relative: prevent meaningless cross-drive results, decide on and document exact semantics"
The `-Relative` parameter really only makes sense with path arguments based on the _same drive_.

Currently, it seems that the _current_ drive's location is used as the basis (which makes sense), with useless results being reported for target paths located on a different drive - with or without a provider prefix:

Steps to reproduce (Windows)
------------------

[code]

Expected behavior
---------

[2017-04-07 04:19] iSazonov commented on #3502
`Resolve-Path` can detect a privider for `C:\windows` so it should return expected result without an error.

[2017-04-07 04:24] iSazonov commented on #3501
The desired behavior reminds `change root`.

[2017-04-07 07:09] jeffbi commented on #2915
@mklement0 Apologies, I misread your comment.

As for creating a symlink on Windows, I think you really need to be able to specify _file_ or _directory_ whether the target item exists or not. Windows is perfectly happy to allow you to create both a _file_ and a _directory_ symlink to either a file, a directory, or a yet-to-be-created object.
[code]

[2017-04-07 09:08] iSazonov commented on #2915
@jeffbi Do you work on fix for the Issue?

[2017-04-07 10:59] GlennFaustino opened #3503 "Get-Help About_Automatic_Variables does not dislay the full help content"
Steps to reproduce
------------------
In PowerShell version 6.0.0-Alpha.17 typing "Get-Help About_Automatic_Variables" in the console does not display the full help content, I've tried other about_* topics but same issue.

Expected behavior
-----------------
Typing "Get-Help About_Automatic_Variables" must display the full help content.

Actual behavior
---------------
PS C:\Program Files\PowerShe

[2017-04-07 13:40] MaximoTrinidad opened #3505 "Download Error 404 - Windows 10 PowerShell.0.0-alpha18 MSI not found"
Steps to reproduce
------------------
Click on the Windows 10 PowerShell MSI link on the main GitHub PowerShell page

Expected behavior
-----------------
Download Windows 10 MSI

Actual behavior
---------------
MSI not found

Environment data
----------------

Windows 10 client

![downloaderr_2017-04-07_9-35-09](https://cloud.githubusercontent.com/assets/19892435/24802488/3755c6d2-1b76-11e7-8084-6

[2017-04-07 14:05] chuanjiao10 commented on #3505
try later,i can download it.
server in New York , Amazon, slow some time.

[2017-04-07 14:17] MaximoTrinidad opened #3506 "PowerShell.6.0.0-alpha18 - Update-Help cmdlet failes giving "Access Denied" error"
Steps to reproduce
------------------
update-help -force

Expected behavior
-----------------
No errors

Actual behavior
---------------
update-help : Failed to update Help for the module(s) 'Microsoft.PowerShell.Archive, Microsoft.PowerShell.Core,         Microsoft.PowerShell.Host, Microsoft.PowerShell.Management, Microsoft.PowerShell.Security,                              Microsoft.PowerShell.Ut

[2017-04-07 14:22] MaximoTrinidad commented on #3505
Hi @chuanjiao10,

Nope! No luck. I'm still getting the 404 link error.  Of course I'm able to go to the "release" page but anyone could have issues with the link.

:)

[2017-04-07 14:52] iSazonov commented on #3505
All other links also defaced.
But I can load from release page https://github.com/PowerShell/PowerShell/releases
I believe it is GitHub cache problem.

[2017-04-07 14:56] iSazonov commented on #3506
@MaximoTrinidad Can you run with elevated rights?

[2017-04-07 17:16] mopadden commented on #3415
Hi, i've done some work on this, can I ask for an assignment?

[2017-04-07 17:48] MaximoTrinidad commented on #3506
Hi @iSazonov ,

Let me try that!  OK..

It works!

sudo powershell
update-help -force

Thanks,
Max

[2017-04-07 17:52] jeffbi commented on #2915
@iSazonov Since it's getting in my way, I'm about to start.

[2017-04-07 18:54] wisemoth commented on #3489
Thanks @PetSerAl .

However I'm not sure this can be an intended: the `noteproperty` of the top-level hashtable is stored.  The `noteproperty` of the nested hashtable is not stored.  That doesn't seem right.  As a client I've just go two hashtables with noteproperties.  No casting to `[psobject]` for either; but the behavior is different.  The behavior is not described in the `-detail`ed help eith

[2017-04-07 19:38] PetSerAl commented on #3489
`InputObject` parameter of `Export-Clixml` cmdlet is types as `PSObject`:
[code]
So there is implicit cast for top level object to `PSObject`.

[2017-04-07 19:56] pcgeek86 commented on #2948
@daviwil @TravisEz13 any thoughts on this one? It would make editing command lines much easier. Am I just missing something simple?

[2017-04-07 19:59] pcgeek86 commented on #3232
This functionality would be useful to work around #3506.

[2017-04-07 19:59] TravisEz13 commented on #2948
adding @PowerShell/area-console

[2017-04-07 21:10] #3465 closed

[2017-04-08 00:11] #3506 closed

[2017-04-08 01:10] brycem commented on #2793
@TravisEz13, @raghushantha  - The Jenkins deployment would be an easy place to automate the build process for these images going forward:  https://azopenci.westcentralus.cloudapp.azure.com/

[2017-04-08 08:33] iSazonov commented on #3506
It would be good to make a more user-friendly message.

[2017-04-08 19:09] kae opened #3511 "Read-Host -AsSecureString failing on pasting value into it"
Get it on windows 10 with  `PowerShell-6.0.0-alpha.18-win10-win2016-x64` and version `5.1.15063.0` (coming with creators update)

Steps to reproduce
------------------
 1. Copy anything into clipboard
 2. execute command `read-host -AsSecureString`
 3. paste clipboard content into console (right mouse button click)

Expected behavior
-----------------
 There is a star in console for each pasted ch

[2017-04-08 19:20] TravisEz13 commented on #2793
@brycem The build is already automated.  Let's please discuss this offline.

[2017-04-08 20:30] DarwinJS opened #3512 "Is the suse release at going to be available at https://packages.microsoft.com/ ?"
I see suse linux in the releases.

Any chance on getting the instructions here: https://blogs.msdn.microsoft.com/powershell/2017/02/01/installing-latest-powershell-core-6-0-release-on-linux-just-got-easier/ merged into this repo and kept up to date?

Thanks!

[2017-04-08 22:47] PhilNewell opened #3513 "32bit Powershell from CMD window error"
When running the following form a cmd window in Powershell 4, I get no issues.
With Powershell 5.1 I have the following issue.
When launching powershell from a commandline I get the following error.
"C:\Windows\WinSxS\wow64_microsoft-windows-powershell-exe_31bf3856ad364e35_6.3.9600.17415_none_6475a3ed0a50d87b\powershell.exe"

Output is :
`
C:\Users\pnewell> -showinitialprompt : The term '-showinit

[2017-04-08 23:37] powercode commented on #3368
Something that came as a surprise to me it the difference in behavior between these two examples:
Should the parenthesis around the command have to be there?
Seems like a bug.
[code]

[2017-04-09 01:55] jpsnover opened #3514 "Get-Credential should pop a GUI on Windows if/when available"

[2017-04-09 02:09] jpsnover opened #3515 "FileVersion info is missing from System.Diagnostics.Process"
This has to do with the underlying .net implementation but we should get them to change it and track that here.

Expected behavior
-----------------
jps> gps power* |ft name,desc*,comp*
Name       Description        Company
----       -----------        -------
powershell dotnet             Microsoft Corporation
powershell Windows PowerShell Microsoft Corporation
powershell Windows PowerShell Micr

[2017-04-09 05:08] conke opened #3516 "PowerShell as default shell (login shell) does not work on ArchLinux"
Steps to reproduce
------------------
yaourt powershell
useradd -s /usr/bin/powershell -m tom
su - tom

Expected behavior
-----------------
can see the powershell prompt.

Actual behavior
---------------
got the following error message:
[code]

Environment data
----------------
[code]

[code]

[2017-04-09 07:31] iSazonov commented on #3035
@vancem Could you please comment the discussion and help enhance the PowerShell capabilities for working with trace events?

[2017-04-09 09:53] #3472 closed

[2017-04-09 16:41] lzybkr commented on #3513
You are launching the v4 version of powershell.exe - which you can sort of tell from the partial path `6.3.9600.17415`. I'm not sure why your system still has the old binary, but you shouldn't use it.

That parameter was an internal flag used in V3-V5 to accept input from the unmanaged code while the engine was still starting up, making PowerShell feel more responsive unless your profile defined a

[2017-04-09 16:52] PhilNewell commented on #3513
Yep, that solved my issue.  I cannot use %SystemRoot% in RDS, but substituting for the full path did work.  Thanks for the resolution.

[2017-04-09 23:21] DarwinJS opened #3519 "Publish Current Version Info Only in tools/currentversion.sh & tools/currentversion.ps1"
I am writing some scripts that need to pull the latest version of PowerShell (whether or not they are setup in a repo) - similar to tools/download.sh.

It would be great if you published something like tools/currentversion.sh (and currentversion.ps1) that contained:
release=v6.0.0-alpha.18
build=18

Then I could download and run that shell script in my code (at my own risk) and be able to pull the

[2017-04-10 03:17] lf- commented on #3476
Reproduced with AUR package `powershell`.

[2017-04-10 03:21] lf- commented on #3476
Attempted workaround here, still doesn't work properly on arch :cry:

[2017-04-10 03:44] lf- opened #3520 "Attempting to Enter-PSSession fails, because libpsrpclient isn't found"
First off, this was tested on Alpha 17 because Alpha 18 doesn't build on Arch Linux. It should still be there as the DllImport for libpsrpclient is still there in git master.

From what I understand, libpsrpclient was replaced by the psrp package, so a failure to find libpsrpclient is probably a bug.

Steps to reproduce
------------------
1. Create PSSession, my tests were done with -Authenticatio

[2017-04-10 03:48] iSazonov commented on #2968
@SteveL-MSFT Could we close the Issue?

[2017-04-10 04:52] iSazonov commented on #3519
Related Issues #1635 #1395
@DarwinJS Please clarify what do you use "current version" for? I believe that preferred way is always to test the availability of features.

[2017-04-10 05:02] iSazonov commented on #3520
@lf- Currently we migrated to MSBuild and replaced the libpsrpclient #3477 #3271

[2017-04-10 05:28] iSazonov commented on #3516
@conke Please look #3319

[2017-04-10 05:32] chantisnake commented on #2968
the original issue is not within the same powershell session, I don't really know that is fixed or not?

[2017-04-10 09:03] iSazonov commented on #3511
I can confirm that Issue is only on Windows 10 Creator with both Alfa.17 and Alfa.18.

[2017-04-10 10:56] DarwinJS commented on #3519
@iSazonov - it would allow me to build something similar to download.sh - which pulls the latest version of PowerShell for the target environment - but I would be in control of the details of what happens in the download.sh equivalent.

So within my script I would call something similar to this:
[code]
For languages other than bash, the file could be pulled and parsed as key value pairs.

[2017-04-10 12:28] iSazonov commented on #3519
Can you use [nuget](http://stackoverflow.com/questions/11867660/list-all-available-versions-of-a-specific-package-in-nuget-package-manager-conso)?

[2017-04-10 12:33] DarwinJS commented on #3519
@iSazonov - I wouldn't be interested in using nuget for linux.  As far as Windows, I am already the maintainer for the Chocolatey package for PowerShell core: https://chocolatey.org/packages/powershell-core

[2017-04-10 13:23] atanasa commented on #3091
@Jaykul are you referring to native assemblies as well?
@SteveL-MSFT How is defining a PS standard going to help? This would solve the problem for the reference to System.Management.Automation.dll but the references to the .net standard shims are still a problem.

[2017-04-10 15:55] SteveL-MSFT commented on #2968
@chantisnake after changing the location, if you start a new powershell.exe does it point to the correct location?

[2017-04-10 15:56] #1794 closed

[2017-04-10 16:18] vancem commented on #3035
You have a bunch of possible options here.   As @ISazonov indicates you can do a bunch more.   But frankly I think just getting Get-WinEvent to work well both (ideally for both files and 'real time' monitoring), would be a very reasonable design point (at least to start).    Ideally it could decode

1) TraceLogging style events.
2) EventSource events that happen to not use TraceLogging.

Both of t

[2017-04-10 17:20] lzybkr commented on #3091
@atanasa - you're right, as I mention in https://github.com/lzybkr/PowerShell/blob/34ed215a6671f5cc234f58cfed04504890f91159/docs/portable-modules/portable-modules.md (part of #3095) - there are 2 parts of the story - a baseline (standard) System.Management.Automation.dll (and probably a few other dlls) and the .net facade assemblies.

[2017-04-10 17:21] #3513 closed

[2017-04-10 17:35] latkin opened #3521 "Linux alpha.18 install script is deploying alpha.17"
https://raw.githubusercontent.com/PowerShell/PowerShell/v6.0.0-alpha.18/tools/download.sh

![image](https://cloud.githubusercontent.com/assets/5943573/24875142/f5aa2d96-1ddb-11e7-8cbd-3bbc700e4afd.png)

[2017-04-10 17:48] joeyaiello commented on #3519
I'm not sure that it makes sense to have yet another script to manually update every time we do a release.

`(Invoke-RestMethod https://api.github.com/repos/powershell/powershell/releases/latest).tag_name` should give you the latest version string today. If you need something else that's not provided there, I'd love to get some more info.

[2017-04-10 17:56] joeyaiello commented on #3511
@iSazonov: you're not seeing this on Anniversary Update or earlier? If so, my hunch is that something changed in `conhost` with Creators Update.

[2017-04-10 18:00] joeyaiello commented on #3476
@lf- is this the same as #3516 then?

[2017-04-10 18:06] DarwinJS commented on #3519
@joeyaiello - this script is to bootstrap PowerShell itself so I can't use invoke-restmethod - do you know a simple a bash equivalent using curl or wget?  I think wget may be more prevalent - I am having to install it on Ubuntu.

[2017-04-10 18:07] joeyaiello commented on #2915
Ugh, so we can either:

* add more enums to `-Type` (i.e. `DirectorySymbolicLink` and `FileSymbolicLink`), but that means we have to leave `SymbolicLink` and have it try to "do the right thing" (file link for files and non-existent targets, and directory link for directories)
* add a parameter like `-SymbolicLinkType`, but now you're stuck in the dynamic parameter catch-22

I understand why someon

[2017-04-10 18:27] iSazonov commented on #3511
In 10586 no problem.

[2017-04-10 18:40] latkin commented on #3521
Looks like doc/script updates for .18 were merged after the release was cut: https://github.com/PowerShell/PowerShell/compare/v6.0.0-alpha.18...master

[2017-04-10 18:47] jeffbi commented on #2915
@joeyaiello Honestly, I don't know why someone would want to create a file-type symbolic link to a directory. Windows allows the `mklink` command to do so---in fact it is the default behavior unless the `/D` option is explicitly given---so presumably someone thought at one time that it would be useful.

Unix doesn't have the notion of a separate directory-type symbolic link, so new enums for `Dire

[2017-04-10 20:34] jnury opened #3522 "Role Capability file (.psrc) won't be found in a versioned module sub-folder"
Steps to reproduce
------------------
Create a role capability file 'MyJEARole.psrc' in a folder 'RoleCapabilities' of a module.
Install the module in a version sub-folder inside your ModulePath i.e.: 'C:\Program Files\WindowsPowerShell\Modules\MyJEAModule\0.1.0'.
The full path of the psrc file will be 'C:\Program Files\WindowsPowerShell\Modules\MyJEAModule\0.1.0\RoleCapabilities\MyJEARole.psrc'.

[2017-04-10 22:44] probonopd opened #3525 "AppImage does not run on Windows"
Steps to reproduce
------------------

- Enable developer mode in Windows
- Install Windows Subsystem for Linux
- Install Xming (or another X Windows Server that runs on Windows) and launch it
- `export DISPLAY=:0`
- Download [PowerShell-6.0.0-alpha.18-x86_64.AppImage](https://github.com/PowerShell/PowerShell/releases/download/v6.0.0-alpha.18/PowerShell-6.0.0-alpha.18-x86_64.AppImage)
- `chmod a+x

[2017-04-10 23:17] TravisEz13 opened #3527 ""Validate that get-help <cmdletName> works" test requires sudo to run on linux"
Steps to reproduce
------------------
Start-PSPester -binDir /opt/microsoft/powershell/6.0.0-alpha.18

Expected behavior
-----------------
Tests should work

Actual behavior
---------------
Test at [HelpSystem.Tests.ps1#L76](https://github.com/PowerShell/PowerShell/blob/da2fd5c89fcbd9f8837988b4cc708b08b8211666/test/powershell/engine/Help/HelpSystem.Tests.ps1#L76)
fails with:
[code]
![image](https:

[2017-04-10 23:43] joeyaiello commented on #3519
`curl` will get you the JSON block just fine, but then you have to parse it. It's relatively painless if you've got Python, but if you're stuck with basic coreutils, check this out: http://stackoverflow.com/questions/1955505/parsing-json-with-unix-tools

[2017-04-10 23:43] joeyaiello commented on #3521
Hmm, I don't know how tricky it is fix the tag, paging @PowerShell/powershell-maintainers

[2017-04-10 23:46] joeyaiello commented on #2915
Well, it looks like your PR (#3509) is doing the right thing for now, If people desperately need directory symlinks to non-existent targets, we'll figure it out then.

[2017-04-10 23:48] chantisnake commented on #2968
I don't think it happens on 6.0.0.17.

[2017-04-10 23:49] latkin commented on #3521
Maybe best to just create a .19 tag/release and delete the .18 release

[2017-04-11 00:06] vors commented on #3521
This is expected, because we creating the tag, before building the packages.
See the [release instruction doc](https://github.com/PowerShell/PowerShell/blob/master/docs/maintainers/releasing.md#release-checklist).

We can try to revisit this process, but we usually want to make a tag and grab the build from CI, so we need working `download.sh` to get it out. That creates a chicken and egg problem

[2017-04-11 00:17] jeffbi commented on #2915
Sorry, I'm getting ahead of myself a bit. If you want to put this off until more discussion happens, I'm fine with that. I suggested the discussion, you'd think I'd be patient enough to let it happen.

In the Pester tests for #1930 (PR #3441), I'd rather not have to shell out the `mklink` and `ln` commands for testing with links, so I'll hold off on completing that PR until a decision is made on t

[2017-04-11 01:31] DarwinJS commented on #3519
Great link - I was able to craft a solution based on a pure curl + sed example!

[2017-04-11 03:50] iSazonov commented on #2915
@jeffbi I see that you have already done a full analysis 👍  and we can continue to work on your PR.
It would be great to do a "full specification" or "full description" of the behaivor and place it in description of the PR.
I also want to add that we would be good to do warnings in unusual cases (non-exist targets, file to directory links).

[2017-04-11 05:21] iSazonov commented on #3519
@DarwinJS It seems #3521 is related.

[2017-04-11 10:54] iSazonov commented on #3031
We already have a "breaking" change.
In Windows PowerShell the '$PSVersionTable' type is `System.Management.Automation.PSVersionHashTable`, in PowerShell Core is `Hashtable`.

[2017-04-11 12:27] atanasa commented on #3091
@lzybkr have you considered packing the shims in a set of modules in the Gallery maintained by Microsoft while portable modules specify the dependency in their manifest as a required module rather than custom tags? To me this looks like the classic problem of sharing a dynamic library and a good solution is a package manager. MSBuild does not have a package manager (yet) but PowerShell does.

[2017-04-11 12:58] ChrisMagnuson opened #3529 "Add Where-Object -Not support"
I often have the need to filter for objects that do not have a property specified or who have a falsey value for a property by doing something like the following:

[code]
[code]

If I am doing the opposite test I can avoid using a script block with Where-Object:

[code]

[code]

I would like to be able to also avoid using a script block when using -Not which would enable the following:
[code]

[2017-04-11 14:00] iSazonov commented on #3522
@jnury Thanks for you report!
Could you please tests this with latest PowerShell Core version?

[2017-04-11 15:07] NoNeedToYell opened #3531 "Get-Childitem Parameter -ExpiringInDays in Cert: PSDrive in Windows 7 and Powershell 5.0"
Steps to reproduce
------------------
Run Get-Childitem Cert:\LocalMachine\My -ExpiringInDays xx

Expected behavior
-----------------
Cmdlet should return certificates that expire in xx days or less. This works perfectly on Windows 10 with PS 5.1

Actual behavior
---------------
Errormessage: A Parameter cannot be found that matches parameter name 'ExpiringInDays'

Environment data
---------------

[2017-04-11 16:38] SteveL-MSFT commented on #1819
@mirichmo this is remoting only from Windows PowerShell to PSCore6?

[2017-04-11 18:05] lzybkr commented on #3521
I don't think it's expected - we're not pushing a tag until the release is ready to publish.

All of the changes are made in a branch, the build server builds the branch, we publish those binaries - no CI is needed.  @raghushantha can confirm.

[2017-04-11 18:19] lzybkr commented on #3091
Can our package manager express the dependency correctly? It's only a dependency with desktop CLR - you wouldn't want them installed on non-Windows machines or on Nano Server, and you can't have them loaded in Core PowerShell, they should only be loaded in Windows PowerShell.

[2017-04-11 18:24] dbussanich commented on #3263
$env:SystemRoot should be added to MacOS/Linux. Need some way to pragmatically determine the system root.

[2017-04-11 18:40] MaximoTrinidad opened #3532 "PowerShell 6 Alpha18 - Cursor jumping to next line screen issues in Windows 10 Bash."
Steps to reproduce
------------------
Open Windows 10 Bash then execute the following commands:
ps -e
dir
service --status-all
powershell
Scroll-up
Scroll-down
dir
**>screen jump
Type Service
**>screen jump while typing service

Expected behavior
-----------------
Typing command should not jump cursor to next line.

Actual behavior
---------------
While typing the jump cursor to next line. Also, s

[2017-04-11 18:53] joeyaiello commented on #3379
This issue was moved to PowerShell/PowerShellGet#114

[2017-04-11 18:53] #3379 closed

[2017-04-11 18:54] joeyaiello commented on #3379
FYI moved this to PowerShellGet as it'd have to implemented in that module rather than PowerShell itself.

[2017-04-11 20:09] jaredpar opened #3534 "Out-String concatenation behavior"
I'm trying to understand how `Out-String` chooses to combine the input strings.  In particular, how it chooses what separators to insert between the strings.  The [documentation](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.utility/out-string) only states the following:

This says nothing about inserting anything between the string objects being combined but in pr

[2017-04-11 20:14] jnury commented on #3522
@iSazonov Hello,
I was not able to test with the latest PowerShell Core version as the Register-PSSessionConfiguration function fails with: Register-PSSessionConfiguration : Operation is not valid due to the current state of the object.
I created the WinRM endpoint with Install-PowerShellRemoting.ps1 (as described here: https://github.com/PowerShell/PowerShell/blob/master/docs/installation/windows

[2017-04-11 20:35] TravisEz13 commented on #3521
@lzybkr Alpha.17 has the same issue.  We haven't updated the download script until the binaries have been published.  I talked to @daxian-dbw  during the release and pointed out this issue i.r.t. the docker files.  I think we should fix the process for the next release.   Once download.sh is changed, Linux won't build until we publish the next build.  We need to put some thought into how to make t

[2017-04-11 21:24] lzybkr commented on #3534
I believe it is a `Environment.Newline` based on this [code](https://github.com/PowerShell/PowerShell/blob/8d4db01a5d4b5dcd981ef216d3d7f24b484c7c60/src/Microsoft.PowerShell.Commands.Utility/commands/utility/FormatAndOutput/out-string/out-string.cs#L127) - assuming `StringBuilder.AppendLine` uses `Environment.Newline` on all targets.

As the documentation suggests - you can use the `-Stream` parame

[2017-04-11 21:39] joeyaiello commented on #3439
Heads up @HemantMahawar, I'm working on this one.

[2017-04-11 22:12] averyfreeman commented on #3419
I can confirm that setting $progresspreference='silentlycontinue' appears to fix this problem in Debian Stretch

[2017-04-11 22:14] SteveL-MSFT commented on #3512
@DarwinJS we merged a PR to update the instructions for registering the repository https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#ubuntu-1604 already.  Will look into suse support.

[2017-04-11 22:16] SteveL-MSFT commented on #3506
Fixing [this](https://github.com/PowerShell/PowerShell/issues/2190) should resolve the real issue

[2017-04-11 22:19] SteveL-MSFT commented on #3415
@mopadden consider it assigned, GitHub doesn't allow assigning to people without write access

[2017-04-11 22:20] SteveL-MSFT commented on #3415
Assigning to @daxian-dbw who's assigned to the PR so no one else duplicates this work

[2017-04-11 22:27] SteveL-MSFT commented on #3332
This doesn't repro with PSCore 6.0.  We're not planning on backporting the change to PSv5.

[2017-04-11 22:27] #3332 closed

[2017-04-11 22:28] SteveL-MSFT commented on #3475
Assigning to @mirichmo who's assigned to the PR so no one else duplicates this work.  Thanks @Lee303 !

[2017-04-11 22:55] jeffbi commented on #2915
@iSazonov I've updated the PR's description with additional details about how links are created.

As for warnings about "unusual cases", what's unusual to you and I may not be unusual for others. I can imagine scenarios for creating sym links to yet-be-created items. And keep in mind that file-type sym links to directories is the default behavior of `mklink` when not explicitly given the `/D` swit

[2017-04-11 22:57] SteveL-MSFT commented on #3532
Isn't this the same as https://github.com/PowerShell/PowerShell/issues/1829 which is due to https://github.com/dotnet/corefx/issues/12452?

[2017-04-11 23:00] SteveL-MSFT commented on #3522
CC @PowerShell/area-security

[2017-04-11 23:48] DarwinJS commented on #3519
Did a PR to make download.sh detect version rather than have hard codes: https://github.com/PowerShell/PowerShell/pull/3535

[2017-04-11 23:51] DarwinJS commented on #3512
I just did a PR to make download.sh autodetect the version.

What about also making download.sh automatically use repos for any variants that have repo support?

[2017-04-11 23:58] DarwinJS opened #3536 "Could you please keep the numeric-only version number unique => use 6.0.2-beta1 - NOT 6.0.0-beta1 ?"
The reason is that I would like to remove the alpha characters from the version so that this starts showing up on chocolatey public searches.  Nuget hides anything with alpha in the version number as being a pre-release.

So if you rev the second position every release will have a completely unique NUMERIC ONLY version number.

Would also just be nice in general to have the numeric-only version be

[2017-04-11 23:59] BrucePay commented on #3529
This is an issue with the Where-Object cmdlet not the language itself.

[2017-04-12 00:45] SteveL-MSFT commented on #3536
Until 6.0.0 final, the current releases are all pre-releases.  After 6.0.0, the plan is to use 6.1.0 as the version and 6.0.1 if we need to service 6.0.0.  For Beta1, it'll likely be 6.0.0-beta.1.

[2017-04-12 00:46] vors commented on #3536
We use [semver](https://github.com/PowerShell/PowerShell/blob/68bcd4b5284bb169c52a570afbfdd1bb70d0de10/docs/maintainers/releasing.md#preparing). That's how semver works. :)

[2017-04-12 01:28] DarwinJS commented on #3536
Yep - familiar with strict semver - thanks.

[2017-04-12 01:28] #3536 closed

[2017-04-12 01:37] jianyunt opened #3537 "Ctrl+C does not take effect while cd [tab]"
PowerShell Providers have a property, called `Stopping`, which is defined in line 1756 [CmdletProvider\ProviderBase.cs](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/namespaces/ProviderBase.cs#L1756).  This is useful for a user to hit Ctrl+C to stop the current operation.

The problem is for a case like `cd [tab]`,  Stopping does not gets set. Therefore Ctrl

[2017-04-12 03:31] iSazonov commented on #3529
@BrucePay Thanks! Clear.
 We have related Issue #2658 Do we want to really do this?

/cc @lzybkr

[2017-04-12 04:32] iSazonov commented on #2915
@jeffbi Thanks for clarify! I thought more about typos in the console when the user can quietly get a dead link 😕

[2017-04-12 07:37] Glober777 opened #3538 "New-CimSession from within a PSJob created by a scheduled task"
Hi!

I'm having a strange issue with one of my scripts, where the New-CimSession cmdlet throws out a strange error. Basically, the line that errors out looks as follows:
[code]
Here's the content of the generated Error Record:

[code]

Here's what's inside the Exception property of the abovementioned Error Record object:

[code]

There are no inner exceptions.

The error message seems to be mislea

[2017-04-12 09:18] chantisnake commented on #2968
no, no, no, I mean it still don't work in 6.0.0.17

[2017-04-12 11:25] rainerklier commented on #2393
thanks for supporting OpenSUSE 42.1, this package also works on openSUSE tumbleweed.

[2017-04-12 11:31] iSazonov commented on #2393
@rainerklier  We will be happy to receive issue reports (and suggestions) from you on this system.

[2017-04-12 12:50] chantisnake commented on #2968
Yes, my document location is set to `~/Onedrive/surface-documents` before I installed powershell 6.0.0.17.

I tried resetting the document location to default, and then do a `$env:PSModulePath` and then set it back to `~/Onedrive/surface-documents`. It still uses the default.

[2017-04-12 13:45] 0xfeeddeadbeef opened #3540 "Invalid INVALID_HANDLE_VALUE values"
`INVALID_HANDLE_VALUE` should be defined as `IntPtr(-1)` and not as `IntPtr.Zero`  (It is declared as `((HANDLE)-1)` in Windows SDK headers).

 - In [PlatformInvokes.cs](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/utils/PlatformInvokes.cs#L561) file, it is declared as `IntPtr.Zero`. This value is used in [SSHConnectionInfo.GetNamedPipeHandle(string pipeNam

[2017-04-12 14:06] iSazonov commented on #3540
/cc @PaulHigin Please comment about remoting.

[2017-04-12 14:24] MaximoTrinidad commented on #3538
@Glober777

Although this is not truly PowerShell (v6-Alpha) Open Source issue, I may suggest to also post this incident at Windows PowerShell UserVoice site at: https://windowsserver.uservoice.com/forums/301869-powershell/category/148044-powershell-engine

This way the Windows PowerShell team can assist in this issue.

Now, because this is part of the PowerShell Core modules, I'm sure they are go

[2017-04-12 15:10] iSazonov commented on #3538
@Glober777 Can you test in latest Windows 10 versions and maybe with latest PowerShell Core?

[2017-04-12 15:19] Glober777 commented on #3538
@MaximoTrinidad, thanks for the prompt reply. I've submitted the incident on UserVoice:
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/18917938-new-cimsession-from-within-a-psjob-created-by-a-sc

[2017-04-12 15:22] Glober777 commented on #3538
@iSazonov, I'll give it a try from a Windows Server 2016 box tomorrow and will tell whether it's going to be any different. I'm not 100% sure about trying through PowerShell Core, as some of the stuff that my script depends on may not be ready for that.

[2017-04-12 15:39] iSazonov commented on #1984
What is "CLRVersion'? In Windows PowerShel it is `[Environment]::Version`.  Today [it is hardcoded](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L360) "4.0.30319.42000"
I believe we should restore it for backward compatibility.
And the next question is whether we need something else useful here?
- NetCoreApp ?
- real CLR version? There is no native way to ge

[2017-04-12 15:49] MaximoTrinidad commented on #3538
Awesome @Glober777 and @iSazonov !  It will help for sure.
:)

[2017-04-12 15:55] SteveL-MSFT commented on #3538
This looks like an issue in the WMIv2 client layer and not in PowerShell itself.  I would suggest trying to pass an explicit credential to `new-cimsession` instead of using the current security context.

[2017-04-12 15:57] #3525 closed

[2017-04-12 16:08] PaulHigin commented on #3522
@jnury This is a common complaint and has been mitigated with PR #3067.  With recent builds (v6.0.0-alpha.17 and later) you can now specify a specific file path(s) for psrc files using the new "RoleCapabilityFiles" keyword in the associated pssc file.
For example:
[code]
This new keyword will also be in the next Windows built-in version of PowerShell but I am not sure when that release will be or

[2017-04-12 16:10] #3522 closed

[2017-04-12 16:28] SteveL-MSFT commented on #2968
I was able to repro this, I think I found the issue

[2017-04-12 16:28] PaulHigin commented on #3540
Yes, this definitely looks wrong to me.  We can remove the definition in Process.cs since it is not being used and fix it in PlatformInvokes.cs.  Please feel free to create a PR.

[2017-04-12 16:37] SteveL-MSFT commented on #2968
https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/CoreCLR/CorePsExtensions.cs#L1118 is hard coding `Documents` as the folder, probably because `Environment.GetFolderPath()` and `Enviroment.SpecialFolder enum` isn't available in the current version of coreclr we're building against.  Looks like these api's should be available in .Net Std 2.0.  Will revisit this o

[2017-04-12 16:57] raghushantha commented on #3521
@lzybkr Correct. The Release system does not use download.sh. It clones/builds based off the tag and packages the binaries.

[2017-04-12 17:28] zii-dmg opened #3541 "Get-ComputerInfo : Unable to find an entry point named 'GetCurrentThread'"
Steps to reproduce
------------------
[code]

Environment data
----------------
Windows 7 SP1 x64 Pro
PowerShell 6.0.0 alpha 18 from PowerShell-6.0.0-alpha.18-win7-win2008r2-x64.zip

[code]

[2017-04-12 17:32] zii-dmg commented on #3023
Alpha 18 no longer crash on `GetFirmwareType` in Windows 7, but other strange crash - #3541.

[2017-04-12 18:00] jeffbi commented on #3541
I don't think this is a `Get-ComputerInfo` issue _per se_. `Get-ComputerInfo` does not use `GetCurrentThread` or any of the threading functions.

The stack trace suggests that the issue is based in releasing a `SafeHandle`. `Get-ComputerInfo` doesn't (directly) use `SafeHandle`s either.

[2017-04-12 18:14] joeyaiello opened #3542 "Allow Enums to be Nullable"
Got this one [filed on UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/11454600-bug-nullable-enum-dsc-property-throws-system-n) and discussed it again at PS Summit NA 2017. It seems like a small thing, but it's blocking usage of class-based resources to the point that they have to install WMF 5 Production Preview on their build servers in order to compile their

[2017-04-12 18:24] joeyaiello commented on #3527
Probably blocked by #2190

[2017-04-12 18:58] #3023 closed

[2017-04-12 18:59] FawcettJohnW opened #3543 "running dpkg -i on Ubuntu 16.04 gives many leaked file descriptor errors"
Steps to reproduce
------------------
Install PowerShell on Ubundu 16.04 system
Download kernel package
Install kernel package with "dpkg -i <package>"

Expected behavior
-----------------
Package installs silently, as with bash

Actual behavior
---------------
Package appears to install correctly, but there are hundreds of errors like this on the screen:
        File descriptor 173 (/dev/zero) le

[2017-04-12 19:01] TravisEz13 commented on #3527
@joeyaiello Another solution would be to tag these test as requiring `sudo` until the issue is resolved.

[2017-04-12 19:01] SteveL-MSFT commented on #3543
@FawcettJohnW can you provide URL to kernel package you used?

[2017-04-12 19:03] TravisEz13 commented on #3512
@DarwinJS I suggested you change to use repo support before a read this.  Could you update your PR?
I'm working on getting an OpenSUSE 42.1 repo setup.

[2017-04-12 19:58] 0xfeeddeadbeef opened #3545 "Start-Process fails to launch new powershell.exe instance with -UseNewEnvironment switch"
Steps to reproduce
------------------
I dont know why would anyone do this, but here it goes: you cannot launch another `powershell.exe` using `Start-Process` cmdlet with `-UseNewEnvironment` switch.

Windows PowerShell:
[code]

PowerShell Core (Debug build):
[code]

Expected behavior
-----------------
A new instance of powershell.exe console should start.

Actual behavior
---------------
Windows

[2017-04-12 20:25] joeyaiello commented on #1395
@lzybkr do you happen to know which API we depended upon here? I want to validate if it's coming back with 2.0

[2017-04-12 20:45] lzybkr commented on #1395
Looks like it's `Environment.Version`: https://github.com/PowerShell/PowerShell/blob/f0c0176aa21647668e2bb3235e65dee002d52c62/src/System.Management.Automation/engine/PSVersionInfo.cs#L70

[2017-04-12 20:54] SteveL-MSFT commented on #1395
@joeyaiello @lzybkr following Andy's link above to corefx, it appears Environment.Version is [hardcoded](https://github.com/dotnet/corefx/commit/fe5f4fbebc9e85c8e512a273567719dca15ac764#diff-f22c2c21bb8e123660fb98b76393bbebR138) to 4.0.30319.42000 for compat reasons.  If the CLR version is useful (beyond this hardcoded string), it looks like we need to return the fileversion.

[2017-04-12 21:01] jnury commented on #3522
RoleCapabilityFiles will be fine. Thanks a lot !

[2017-04-12 21:25] CyTheGuy commented on #2784
I get this same issue with Import-Module AzureRM.Storage on his same versions.

[code]

[2017-04-12 21:56] PaulHigin opened #3546 "SSH remoting does not provide the entire SSH host key revocation error message"
Steps to reproduce
------------------
1. Set up PowerShell SSH remoting as both client and host on a Windows or Linux machine
2. Establish that remoting is working back to the same machine
     Enter-PSSession -hostname LocalComputerName -userName User
3. Delete and recreate the host keys
     On Windows go to where Win32-OpenSSH is installed and delete all "ssh_host_key*" files
     Then create n

[2017-04-12 22:01] masaeedu commented on #1877
@lzybkr Is there a workaround for this? Still seeing this in the latest container published on docker. I don't know if it's extra noticeable for me because my machine sucks, but it makes it very difficult to do any useful work.

[2017-04-12 22:03] masaeedu commented on #1877
Nvm, just found it. For posterity:

[code]

[2017-04-13 01:07] DarwinJS opened #3547 "New Bash Installer"
I was working on exactly this in my own repo and have a good chunk of the foundational work done and tested.  If I move that work here it would benefit from the integrated CI and test resources of this project as well as get broader testing, feedback and coding participation.

I have been playing with retrofitting the current "download.sh" with the automatic version detection code and was asked to

[2017-04-13 03:07] iSazonov commented on #1877
@masaeedu Thanks for your report! Please open Issue about the session crash.

[2017-04-13 03:12] masaeedu commented on #1877
@iSazonov Is this another PSReadline bug or should I open it for this repo?

[2017-04-13 03:57] iSazonov commented on #1877
@masaeedu If the crash happens without PSReadline the Issue is for this repo.

[2017-04-13 04:03] masaeedu commented on #1877
@iSazonov The crash happens specifically when you *remove* PSReadLine from a running session, and I suspect the issue is that PSReadLine takes over some hooks for navigating history that don't get reset to their original state when you unload the module. In other words PSReadLine probably isn't designed to be `Remove-Module`d, which is fine because removing it isn't a common use case.

You'd have

[2017-04-13 04:36] iSazonov commented on #3541
I never considered this cmdlet as a useful but it really useful! - it helped find already some bugs 😄

[2017-04-13 04:43] iSazonov commented on #3541
@mirichmo Could you please comment the Issue?

And why 'api-ms-win-core-processthreads-l1-1-2.dll'? I check "dumpbin.exe" /exports api-ms-win-core-processthreads-l1-1-0.dll - the `GetCurrentThread` is there.

Is the Issue in Area-Build?

[2017-04-13 04:58] iSazonov commented on #1877
@masaeedu I cannot repo this. So you can open Issue in this repo. Later we can move it in PSReadLine repo.

[2017-04-13 05:04] #3031 closed

[2017-04-13 05:42] jeffbi commented on #3541
@iSazonov Glad you like it :blush:

[2017-04-13 06:20] iSazonov commented on #2968
@SteveL-MSFT Yes, you are right.

[2017-04-13 06:35] LaurentDardenne opened #3548 "The display of formatEntryInfo property throw a PSArgumentException"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
Default output for the 'FormatEntryInfo' property

Actual behavior
---------------
$Ft.formatEntryInfo throw an exception :
[code]

Environment data
----------------

[code]

[2017-04-13 06:53] iSazonov commented on #3548
@LaurentDardenne Thanks for your report!

I can repo on Alfa.18

[2017-04-13 08:03] LaurentDardenne opened #3549 "Question: what is the default value of SerializationDepth ?"
In the [documentation](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.utility/update-typedata) of Update-TypeData we read this for the parameter _SerializationDepth_
[code]
But the default value is 'none' for Powershell  v6.0.0-alpha (v6.0.0-alpha.18):
[code]
And the default value is '1' for Powershell v5.1.14409.1005 :
[code]
With this code the default value is zer

[2017-04-13 08:32] iSazonov commented on #3549
I believe the default is 1
See [MshDefaultSerializationDepth](https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.Commands.Utility/commands/utility/CustomSerialization.cs#L73)

[2017-04-13 08:43] nehcsivart commented on #3511
It seems this is not a problem with pasting, but a problem with the speed at which characters are entered into the stream.
For example, if you run `Read-Host -AsSecureString`, and press "j" and "k" at the same time, the same problem happens.

[2017-04-13 09:50] iSazonov commented on #1984
@SteveL-MSFT It seems a question for @powershell-committee

[2017-04-13 09:52] LaurentDardenne commented on #3549
Thanks.

[PSSerializer.Serialize](https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/System.Management.Automation/engine/serialization.cs#L101) use 1 and [Update-TypeData](https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.Commands.Utility/commands/utility/Update-TypeData.cs#L234) use _int.MinValue

[2017-04-13 09:53] iSazonov commented on #3511
@lzybkr Could you please comment the Issue?

[2017-04-13 09:57] iSazonov commented on #3549
`int.MinValue` is not used as real value, only as "null".

I know nothing about your second question.

[2017-04-13 11:57] iSazonov commented on #3472
@SteveL-MSFT Please review milestone.

[2017-04-13 12:11] iSazonov commented on #3249
@SteveL-MSFT Please review milestone.
Should we open (re-open) tracking Issue for the performance considerations?

[2017-04-13 12:37] 0xfeeddeadbeef commented on #1543
@vors Expected behavior is not quite correct. According to `Get-Help Start-Process`:
[code]
it should start in the **current** console window.

However, UX being broken is still true, - it seems that both parent and child powershell.exe processes are competing for user input. This is my attempt to type `$PSVersionTable`:
[code]

[2017-04-13 12:48] yvan-sraka opened #3550 "Powershell on top of Windows Universal Platform?"
Hello,

I occasionally use the default Powershell terminal provided by Windows (which looks like a blue version of `CMD.exe`) and I still feel a bit frustrated, for example, compared to my use of Windows Powershell inside [Hyper Terminal](https://github.com/zeit/hyper), developed by [Zeit](https://zeit.co/), which is built on top of the [Electron](https://electron.atom.io/) framework, developed by

[2017-04-13 13:14] LaurentDardenne commented on #3549
Thanks.

Same remark about the **Export-Clixml** cmdlet, parameter _Depth_.
The default value is 'none' for Powershell v6.0.0-alpha (v6.0.0-alpha.18):
[code]
And the default value is '2' for Powershell v5.1.14409.1005 :
[code]
Is it a breaking change or a documentation error ?

[2017-04-13 16:30] SteveL-MSFT opened #3552 "`Get-Help !!` returns help for Get-FileHash"
Should investigate to understand why help resolved to `Get-FileHash` cmdlet as there may be a bigger issue.

TFS:11375235

Repro:

[code]

Expected:

Probably help not found

Actual:

[code]

[code]

[2017-04-13 16:38] daxian-dbw commented on #1654
`ConvertFrom-SecureString` and `ConvertTo-SecureString` depend on `System.Security.Cryptography.ProtectedData`, which is still not available in [`netstandard2.0`](https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_ref.md).

[2017-04-13 16:52] daxian-dbw commented on #1635
`System.Environment.OSVersion` is back in `netstandard2.0`, but it's not very useful on unix platform. For example, on `Ubuntu 16.04`:
[code]
`System.Runtime.InteropServices.RuntimeInformation.OSDescription` may be a potential substitution:
[code]

[2017-04-13 17:29] SteveL-MSFT commented on #1635
`OSDescription` looks like part of the output from `uname -a`.  Seems like the way to go.

[2017-04-13 17:39] Xeleema commented on #1945
This is needed for those wanting to use MSRC's "[SecurityUpdates](https://github.com/Microsoft/MSRC-Microsoft-Security-Updates-API)" Module through a Proxy.

[2017-04-13 17:43] SteveL-MSFT commented on #3549
@LaurentDardenne according to the [code](https://github.com/PowerShell/PowerShell/blob/02b5f357a20e6dee9f8e60e3adb9025be3c94490/src/Microsoft.PowerShell.Commands.Utility/commands/utility/XmlCommands.cs#L37), `Export-CliXml -Depth` default is 0 for PSCore v6.  I looked in the Windows PowerShell 5.1 code and it's also `-Depth 0` default.  Looks like a problem in the documentation.

[2017-04-13 17:50] SteveL-MSFT commented on #3550
`powershell.exe` is actually a pretty thin host.  Most of the work is actually done by `Microsoft.PowerShell.ConsoleHost`.  I believe VSCode is built on Electron/Atom and with [PSEditorServices](https://github.com/PowerShell/PowerShellEditorServices) you get an interactive PowerShell within VSCode today.

[2017-04-13 17:53] SteveL-MSFT commented on #3472
@iSazonov if the issue is closed, I haven't been removing/changing the milestone

[2017-04-13 17:57] SteveL-MSFT commented on #1984
Dupe of https://github.com/PowerShell/PowerShell/issues/1395

[2017-04-13 17:57] #1984 closed

[2017-04-13 18:54] bgelens opened #3553 "Enter-PSSession Windows -> Linux throws "Cannot find drive""
Steps to reproduce
------------------
Create new PSSession and enter or just run Enter-PSSession immediately.
Doesn't matter if transport is WSMAN or SSH.

Expected behavior
-----------------
Doesn't throw error and enters the session

Actual behavior
---------------
Does throw error and enters the session.
![2017-04-13_20-48-53](https://cloud.githubusercontent.com/assets/10071039/25019458/f4cd8ae

[2017-04-13 18:59] bgelens opened #3554 "Exit-PSSession results in terminating exception resulting in process crash"
Steps to reproduce
------------------
Create / Enter PSSession over SSH or WSMAN Windows -> Linux.
Exit-PSSession

Expected behavior
-----------------
No issue

Actual behavior
---------------
Throws error and crashes PowerShell
![2017-04-13_20-52-32](https://cloud.githubusercontent.com/assets/10071039/25019742/f949eace-208b-11e7-8b6e-861bf19c9d50.png)
![2017-04-13_20-56-25](https://cloud.githubus

[2017-04-13 19:20] lzybkr commented on #3511
I have reproduced the issue in Windows PowerShell and PowerShell Core on Creators Update, but have not investigated further.

I pinged the `conhost` folks and they are not aware of any issues like this. We'll open an issue with them and figure it out - it could still come back to PowerShell if our console api usage is somehow really wrong.

[2017-04-13 20:35] MaximoTrinidad opened #3555 "PowerShell Alpha18 - Linux "ll" alias to "ls -l" command is not recognized."
Steps to reproduce
------------------
##Executing command alias equivalent to "ls -l":
ll

Expected behavior
-----------------
##Display same results as executing command "ls -l":
ll

Actual behavior
---------------
ll
-> Error out
(see image in PowerShell)
![linus_ll_aliaserror](https://cloud.githubusercontent.com/assets/19892435/25023021/44171868-2066-11e7-9329-1d7b224e0569.png)
(see image Linux

[2017-04-13 20:46] SteveL-MSFT commented on #3555
`ll` is a Bash alias.  `alias` in Bash is a built in command so PowerShell has no awareness of it.  Perhaps this is something you could add to https://github.com/PowerShell/PowerShell-RFC/issues/68

[2017-04-13 20:48] SteveL-MSFT commented on #3550
cc @daviwil who might be able to provide some pointers to get started

[2017-04-13 21:51] #3354 closed

[2017-04-13 22:48] joeyaiello commented on #2860
Okay, now I actually don't know what's going on. It would appear that this is currently a *non*-terminating error:

[code]

If that's the case, then `-ErrorAction` *should* be respected, right?

[2017-04-13 23:22] dantraMSFT commented on #2860
Joey,
The proposed fix for this was not accepted and resolved as by-design.  Under the hood, Json.Net throws an ArgumentException for malformed json content.

[2017-04-13 23:29] alexandair opened #3557 "PowerShell Core in a NanoServer container hangs after running Get-ComputerInfo"
Steps to reproduce
------------------
Create a NanoServer container with PowerShell Core build alpha 18 using the image from microsoft/powershell. Run powershell.exe from "c:\Program Files\PowerShell\latest". Run Get-ComputerInfo.

Expected behavior
-----------------
Get-ComputerInfo command successfully runs and outputs data.

Actual behavior
---------------
Get-ComputerInfo command hangs after o

[2017-04-14 00:00] #3540 closed

[2017-04-14 00:11] chunqingchen commented on #1635
taking a look on this

[2017-04-14 01:35] #3319 closed

[2017-04-14 02:22] lzybkr commented on #3549
The default of 0 in the code is just a sentinel value to signal no `-Depth` parameter used, and instead use the real default, which I believe is 2.

[2017-04-14 04:01] hahndorf opened #3559 "Install-Script from PowerShellGet kills variables in Path variable."
Steps to reproduce
------------------

Run Install-script on Windows 10 to install a script from the PowerShell Gallery. On a fresh system the cmdlet will ask you to add to the path `PATH Environment Variable Change`, if you agree your path variable is screwed up.

Expected behavior
-----------------
Path environment variable should be:
 `%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wb

[2017-04-14 04:32] iSazonov commented on #1635
If the next what we want, then we could ask CoreFX team:
[code]

[code]

[2017-04-14 05:07] iSazonov commented on #3549
The [default](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/serialization.cs#L52) is 2.

[2017-04-14 05:14] iSazonov commented on #3559
@hahndorf Please move the Issue in PowerShellGet repo https://github.com/PowerShell/PowerShellGet

[2017-04-14 05:19] iSazonov commented on #1395
I believe too we should restore it for backward compatibility.

And the next question is whether we need something else useful here?
- NetCoreApp ? (Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.RuntimeFramework.Version)
- real CLR runtime version? There is no native way to get it https://github.com/dotnet/coreclr/issues/8815
[Comment](https://github.com/dotnet/cor

[2017-04-14 06:13] Hsn723 opened #3560 "Wrong cursor positioning and text rendering when typing in Japanese"
Steps to reproduce
------------------
Type `echo 日本語` in PS.

Expected behavior
-----------------
The text should appear exactly as typed and the cursor should be at the end of the input.

Actual behavior
---------------
Part of the input is clipped off (only the left half of 本 is showing) and the cursor rests in the clipped-off area instead of to the right of the last character (語).

Environment

[2017-04-14 06:46] LaurentDardenne commented on #3549
Thanks :-)

[2017-04-14 06:46] #3549 closed

[2017-04-14 06:53] hahndorf commented on #3559
Wrong repo, open issue in PowerShellGet repo and close it here.

[2017-04-14 06:53] #3559 closed

[2017-04-14 08:40] kellypleahy opened #3561 "Prompt runs twice on linux"
Steps to reproduce
------------------
1. create a custom prompt function in your profile.  A good choice is the one at the end of here:
https://msdn.microsoft.com/powershell/reference/5.1/Microsoft.PowerShell.Core/about/about_Prompts
2. run powershell
3. you should see the prompt get written twice on the command line.  This is problematic for prompts that do "interesting" things like those on posh

[2017-04-14 09:01] kellypleahy commented on #3561
This seems like it could be the problem ;)

https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.PSReadLine/ReadLine.cs#L562

[2017-04-14 09:28] iSazonov commented on #3559
For reference https://github.com/PowerShell/PowerShellGet/issues/116

[2017-04-14 11:55] Glober777 commented on #3538
@SteveL-MSFT, specifying credentials explicitly didn't help. It fails with the same misleading error message.

@iSazonov, running in on a Windows Server 2016 machine as a scheduled task worked like a charm (even without explicit creds). Here's the PS details from that machine:
[code]

Are there any other suggestions rather than moving the script over to 2016 server? :)

[2017-04-14 11:56] Glober777 commented on #3538
I could probably try upgrading WMF to 5.1 on that 2008R2 machine and see if that helps.

[2017-04-14 12:02] iSazonov commented on #3538
To make the update is good.

[2017-04-14 12:41] paul-bell opened #3563 "AppImage fails under Centos 6.8"
Hello,

I first tried the Centos 7 RPM but executing the resulting powershell binary complained about GLIBCXX versions. Everything I've read suggests that trying to maintain multiple versions of glibc is a bad idea.

So I then tried the Linux AppImage which claimed to be self-contained and independent of the Linux distribution. This failed because of a missing dependency, libfuse.so.2. So...I did

[2017-04-14 13:27] iSazonov commented on #3560
@NatsumiHoshino Thanks for your report!
Is the Issue only on 5.1.15063.138 or on previous versions too?

[2017-04-14 14:44] mgreenegit opened #3564 "PowerShellGet crashes in Bash on Ubuntu on Windows (alpha 18)"
Steps to reproduce
------------------
Open PowerShell Core as administrator on Windows 10 Creator Update
Install and open Bash on Ubuntu on Windows
Open PowerShell in Bash
Find-Module or Install-Module

Expected behavior
-----------------
Return search results from PSGallery or install named module

Actual behavior
---------------
[code]
Environment data
----------------

[code]

[2017-04-14 16:32] MaximoTrinidad commented on #3564
Confirmed!

Windows 10 Pro Build 16170.rs_prerelease.170331_1532

PowerShell Core in Windows - is fine!
![posh_win_2017-04-14_12-27-56](https://cloud.githubusercontent.com/assets/19892435/25049127/27e68806-210e-11e7-9fe8-4f0602519445.jpg)

PowerShell Core in "Bash On Ubuntu On Windows" - fails!
![posh_wsl_2017-04-14_12-27-56](https://cloud.githubusercontent.com/assets/19892435/25049154/4db200ba-21

[2017-04-14 17:00] joeyaiello commented on #3564
@SteveL-MSFT I'm also positive this is a WSL or CoreCLR issue

[2017-04-14 17:02] joeyaiello commented on #3560
Repros on alpha.18 w/ CentOS (and confirmed to not repo in the same terminal emulator w/ bash):

[code]

[2017-04-14 17:04] joeyaiello commented on #3563
Unfortunately, .NET Core does not support versions of CentOS before 7. Without support on their end, we also can't support anything prior to 7.

I'd look at or participate in this issue: dotnet/coreclr#6792

There's some people there discussing that you might just need a new version of glibc (which would align with the error you see here).

[2017-04-14 17:04] #3563 closed

[2017-04-14 17:09] joeyaiello commented on #1635
I think `OSVersion.Platform` and `OSVersion.Version` are both super useful as they don't require any string parsing to get at Windows v. non-Windows and the kernel version. Beyond that, I think we should expose `[System.Runtime.InteropServices.RuntimeInformation]::OSDescription` as our own `uname -a` string as well.

I know this might be ballooning `$PSVersionTable`, but it all feels like useful i

[2017-04-14 17:13] joeyaiello commented on #2860
Then I'm not understanding why it's not terminating the statement above....my understanding of PS errors (which may be busted, but please help me understand):

* terminating errors (usually surfaced from internal exceptions) should terminate the script block or statement. In this case, if the `ArgumentException` is terminating at the PS level, the `2+2` should then not be executed.
* Non-terminati

[2017-04-14 17:22] joeyaiello commented on #3527
Didn't realize we had a mechanism for that. I'm all for it. :)

[2017-04-14 17:43] dantraMSFT commented on #2860
This appears to be a side-effect of Cmdlet.ThrowTerminatingError; -ErrorAction is apparently ignored. It's not clear if it is intentional. I see the same behavior on Windows PowerShell.
Here's a couple of PS functions that illustrate the behavior difference:

function TerminatingError
{
    $exception = [System.ArgumentException]::new("argexception")
    $err = [System.Management.Automation.ErrorR

[2017-04-14 18:07] joeyaiello commented on #2860
Okay, now I *really* don't know what's going on. With your two functions, `TerminatingError;2+2` shows that it's *not* really terminating, but `ExceptionError;2+2` *is* terminating.

[2017-04-14 18:07] joeyaiello commented on #2860
Unless you have some more insight, @dantraMSFT, I'll probably open another issue and figure out what the *intended* behavior is supposed to be.

[2017-04-14 18:42] joeyaiello commented on #2403
@mklement0 yeah, I'm good with that. `Convert-Path` works just fine on all platforms.

[2017-04-14 18:42] #2403 closed

[2017-04-14 18:43] joeyaiello commented on #3248
Per the plan I posted above, let's close this particular as resolved, and drive the RFC to completion via the normal process. If other issues arise after that, we should open new issues.

[2017-04-14 18:43] #3248 closed

[2017-04-14 19:04] daxian-dbw opened #3565 "Review all if/def and Unix specific code after moving to .NET Core 2.0"
PowerShell Core is moving to .NET Core 2.0 with PR #3556. Once that PR is merged, we need to review all if/def and Unix specific code to:
- Clean up the code
- Make sure the code make sense and is not a temporary hack

#### An Example (Please remove when fixed)
`Platform.InternalGetFolderPath` in `src/System.Management.Automation/CoreCLR/CorePsPlatform.cs` has the following code:
[code]
It use `/b

[2017-04-14 19:50] iSazonov commented on #3565
@daxian-dbw If this does not require a lot of time please create a sln file - without it IntelliSense does not work in VS Code (after json files was removed) properly.

[2017-04-14 20:06] SteveL-MSFT commented on #2860
cc @BrucePay

Behavior with TerminatingError and Exception is inconsistent, not sure if intended.

[2017-04-14 20:19] SteveL-MSFT commented on #3564
@joeyaiello I briefly looked at this, looks like corefx is making a P/Invoke call to a native api to enumerate network interfaces.  Not sure if WSL is expected to have that file path above or not or if the native api is making incorrect assumptions about the OS.  Agree it's WSL or CoreFx issue.

[2017-04-14 20:21] daxian-dbw commented on #3565
@iSazonov IntelliSense doesn't work for you? It works for me in VS Code after moving to `.csproj` file. Just run `Start-PSBuild -publish`, then open the `.csproj` file in VS Code, and if you see a prompt on top of VS Code asking to restore, just click `Close`, and things like reference resolution and IntelliSense should just work.
I thought creating a `sln` file would be just as simple as opening

[2017-04-14 20:25] SteveL-MSFT commented on #3373
Workaround is:

[code]

Did some debugging, command completion finds another variable named `Error` in a lower scope which is empty so nothing to tab complete.  Still investigating.